@using Application.Queries;
@using MediatR
@using System.ComponentModel;
@using global::Core.Entities.Views;
@using global::Core.Entities;
@inject IMediator Mediator
@using DevExpress.Export
@using Application.Response;
@using global::Core.EntityModels
@page "/navMethodCode"
@inject IJSRuntime jsRuntime
@using global::Core.Repositories.Query;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject AC.SD.Core.Services.ToastService toastService

@inject NavigationManager NavigationManager


<div class="card" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <div class="row">
            <div class="">
                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Auto">
                    <Items>
                        <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" />
                        <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="EditEnabled" />
                        <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
                        <DxMenuItem Text="Ac Line" IconCssClass="fa fa-list" Click="@addLineItem" Enabled="EditEnabled" />
                        <DxMenuItem Text="Audit Log" IconCssClass="fa fa-info-circle" Click="@viewAuditLog" Enabled="@EditEnabled" />
                    </Items>
                </DxMenu>
            </div>
        </div>
    </div>
</div>

<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">

    <DxGrid @ref="Grid" FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            Data="_quotationHistoryItems"
            KeyFieldName="MethodCodeID"
            CustomizeElement="Grid_CustomizeElement"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            SelectionMode="GridSelectionMode.Single"
            ValidationEnabled="true"
            AutoExpandAllGroupRows="true"
            CssClass="ch-360 " style="height: calc(100vh - 220px);"
            FocusedRowEnabled="true"
            RowClick="OnRowClick"
            RowDoubleClick="OnRowDoubleClick"
            CustomizeEditModel="Grid_CustomizeEditModel"
            EditMode="GridEditMode.EditForm"
            EditModelSaving="@OnEditModelSaving"
            SelectedDataItemsChanged="@SelectedDataItemsChanged"
            VirtualScrollingEnabled="true"
            AllowSelectRowByClick="true">
        <Columns>
            <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
            <DxGridDataColumn FieldName="MethodName" Caption="Method Name" />
            <DxGridDataColumn FieldName="MethodDescription" Caption="Method Description" MinWidth="80" />

        </Columns>
        <EditFormTemplate Context="EditFormContext">
            @{
                var types = (NavMethodCodeModel)EditFormContext.EditModel;
            }
            <DxFormLayout CssClass="w-100">
                <DxFormLayoutItem Caption="Method Name" ColSpanMd="6">
                    <DxTextBox @bind-Text="@types.MethodName" ShowValidationIcon="true" />
                    <ValidationMessage For="@(() => types.MethodName)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Method Description" ColSpanMd="6">
                    <DxTextBox @bind-Text="@types.MethodDescription" ShowValidationIcon="true" />
                    <ValidationMessage For="@(() => types.MethodDescription)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Company" ColSpanMd="6">
                    <DxComboBox Data="@_plantItems"
                                NullText="Select Company..."
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="Description"
                                ValueFieldName="PlantID"
                                @bind-Value="@types.CompanyId">
                        <Columns>
                            <DxListEditorColumn FieldName="@nameof(ViewPlants.PlantCode)"
                                                Caption="Name"
                                                Width="180px" />
                            <DxListEditorColumn FieldName="@nameof(ViewPlants.Description)"
                                                Caption="Description" />
                            <DxListEditorColumn FieldName="@nameof(ViewPlants.NavCompanyName)"
                                                Caption="Nav Company" />
                        </Columns>
                    </DxComboBox>
                    <ValidationMessage For="@(() => types.CompanyId)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Category" ColSpanMd="6">
                    <DxComboBox Data="@_NAVINPCategorys"
                                NullText="Select Category..."
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="Description"
                                ValueFieldName="NAVINPCategoryID"
                                @bind-Value="@types.NavinpCategoryID">
                    </DxComboBox>
                    <ValidationMessage For="@(() => types.BatchSizeId)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Available Batch Size" ColSpanMd="6">
                    <DxTagBox Data="@_view_ApplicationMasterDetails"
                              NullText="Select Available Batch Size..."
                              SearchMode="ListSearchMode.AutoSearch"
                              SearchFilterCondition="ListSearchFilterCondition.Contains"
                              TextFieldName="Value"
                              ValueFieldName="ApplicationMasterDetailID"
                              @bind-Values="@types.BatchSizeIds">
                    </DxTagBox>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Default Batch Size" ColSpanMd="6">
                    <DxComboBox Data="@_view_ApplicationMasterDetails"
                                NullText="Select Default Batch Size..."
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="Value"
                                ValueFieldName="ApplicationMasterDetailID"
                                @bind-Value="@types.BatchSizeId">
                    </DxComboBox>
                    <ValidationMessage For="@(() => types.BatchSizeId)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Batch Size Unit" ColSpanMd="6">
                    <DxSpinEdit @bind-Value="@types.BatchSizeNo" ShowValidationIcon="true" />
                    <ValidationMessage For="@(() => types.BatchSizeNo)" />
                </DxFormLayoutItem>
            </DxFormLayout>
        </EditFormTemplate>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="MethodName" />
        </TotalSummary>
    </DxGrid>
</DxLoadingPanel>
<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="Delete"
         ShowCloseButton="true"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@LineItemPopUp"
         ShowFooter="false"
         HeaderText="Ac Line"
         CloseOnOutsideClick="false"
         ShowCloseButton="true"
         MinWidth="600" MinHeight="200" MaxWidth="1000px" MaxHeight="800">
    <BodyContentTemplate>
        @* <AcItemEntrysLineList aCEntryModelItem="@_selectedItems" RevokeBack="CloseAttachmentPopup"></AcItemEntrysLineList> *@
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => CloseAttachmentPopup())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@AuditLogPopUp"
         ShowFooter="false"
         HeaderText="Audit Log"
         CloseOnOutsideClick="false"
         ShowCloseButton="true"
         MinWidth="500" MinHeight="200" MaxWidth="1200px" MaxHeight="800">
    <BodyContentTemplate>
        <AC.SD.Core.Pages.AuditLogs.AuditLogList TableName="NavMethodCode" PrimaryKeyValue="_selectedItems?.MethodCodeID" DisplayColumns="CompanyId,MethodName,MethodDescription,NAVINPCategoryID,BatchSizeId,BatchSizeNo,AdhocMonthStandAlone,ProdFrequency,DistReplenishHs,DistAcmonth,AdhocReplenishHs,AdhocPlanQty" RevokeBack="CloseAuditLog"></AC.SD.Core.Pages.AuditLogs.AuditLogList>
    </BodyContentTemplate>

</DxPopup>
<DxPopup @bind-Visible="@AddpopupForm"
         ShowFooter="false"
         ShowCloseButton="true"
         HeaderText="Method Form"
         CloseOnOutsideClick="false"
         CloseOnEscape="false"
         Width="auto">
    <BodyContentTemplate>
        <NavMethodCodeForm _dynamicFormData="@_methodCodeFormData" RevokeBack="AddpopupFormClose"></NavMethodCodeForm>
    </BodyContentTemplate>
</DxPopup>
@code {
    bool AddpopupForm { get; set; } = false;
    bool AuditLogPopUp { get; set; } = false;
    bool LineItemPopUp { get; set; } = false;
    bool PanelVisible { get; set; } = false;
    bool PopupVisible { get; set; } = false;
    DxPopup? popup;
    private List<NavMethodCodeModel> _quotationHistoryItems;
    private NavMethodCodeModel _selectedItems;
    IGrid Grid { get; set; }
    string permission = "";
    bool EditEnabled { get; set; } = false;
    bool DeleteEnabled { get; set; } = false;
    bool AddPopup { get; set; } = false;
    public NavMethodCodeModel? _methodCodeFormData { get; set; }

    bool Blukdeletepopup { get; set; } = false; bool AttachmentEnabled { get; set; } = false;
    IReadOnlyList<object> SelectedDataItems { get; set; }
    private List<ViewPlants>? _plantItems; private List<CodeMaster> _stausItems; private List<View_ApplicationMasterDetail> _view_ApplicationMasterDetails;
    private List<NAVINPCategoryModel> _NAVINPCategorys;
    public ApplicationUser? applicationUser { get; private set; }
    protected override async Task OnInitializedAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _plantItems = await Mediator.Send(new GetAllPlantQuery());
        _stausItems = await Mediator.Send(new GetAllCodeMasterQuery("Status"));
        _view_ApplicationMasterDetails = await Mediator.Send(new GetAllApplicationMasterDetailQuery(175));
        _NAVINPCategorys = await Mediator.Send(new GetAllNAVINPCategory());
        if (_stausItems != null && _stausItems.Count() > 0)
        {
            List<int?> codeIds = new List<int?>() { 1, 2 };
            _stausItems = _stausItems.Where(w => codeIds.Contains(w.CodeId)).ToList();
        }
        await UpdateDataAsync();
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
            e.CssClass += "non-selectable-row";
        }
    }
    async Task UpdateDataAsync()
    {
        _quotationHistoryItems = await Mediator.Send(new GetAllNavMethodCodeQuery());
        PanelVisible = true;
        EditEnabled = false; DeleteEnabled = false; AttachmentEnabled = false;
        if (_quotationHistoryItems.Count > 0)
        {
            _selectedItems = _quotationHistoryItems.FirstOrDefault();
            // EditEnabled = true; DeleteEnabled = true;AttachmentEnabled=true;
            Grid.ClearSelection();
            PanelVisible = false;
        }
        PanelVisible = false;
        StateHasChanged();
    }

    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "MethodCodeID");
        _selectedItems = _quotationHistoryItems.FirstOrDefault(f => f.MethodCodeID == (long?)UniqueId);
        // EditEnabled = true; DeleteEnabled = true;AttachmentEnabled=true;
        StateHasChanged();
    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addEdit();
    }
    void addNew()
    {
        _methodCodeFormData = null;
        // Grid.StartEditNewRowAsync();
        AddpopupForm = true;
    }
    async Task Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        var navitems = (NavMethodCodeModel)e.EditModel;
        if (e.IsNew)
        {
            navitems.StatusCodeID = 1;
        }
        else
        {
            navitems.StatusCodeID = navitems.StatusCodeID > 0 ? navitems.StatusCodeID : 1;
        }
    }
    void addEdit()
    {
        if (SelectedDataItems != null)
        {
            if (SelectedDataItems.Count == 1)
            {
                foreach (object item in SelectedDataItems)
                {
                    if (item is NavMethodCodeModel dataselectItems)
                    {
                        _selectedItems = dataselectItems;
                        _methodCodeFormData = _selectedItems;
                        AddpopupForm = true;
                        // Grid.StartEditDataItemAsync(_selectedItems);
                    }
                }
            }
            else
            {
                _methodCodeFormData = _selectedItems;
                AddpopupForm = true;
                // Grid.StartEditDataItemAsync(_selectedItems);
            }
        }
    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    void AddpopupFormClose()
    {
        InvokeAsync(UpdateDataAsync);
        AddpopupForm = false;
        StateHasChanged();
    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDataItems = null;
        AddPopup = false;
    }
    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems; EditEnabled = false; DeleteEnabled = false; AttachmentEnabled = false;
        if (SelectedDataItems.Count > 0)
        {
            if (SelectedDataItems.Count > 1)
            {
                EditEnabled = false; DeleteEnabled = true; AttachmentEnabled = false;
            }
            else
            {
                EditEnabled = true; DeleteEnabled = true; AttachmentEnabled = true;
            }
        }
    }
    async Task bulkDelete()
    {
        try
        {
            if (SelectedDataItems != null)
            {
                foreach (object item in SelectedDataItems)
                {
                    if (item is NavMethodCodeModel datas)
                    {
                        var request = new DeleteNavMethodCode(datas);
                        await Mediator.Send(request);
                        Blukdeletepopup = false;
                        toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        await UpdateDataAsync();
                        Grid.SetFocusedRowIndex(0);
                    }
                }
            }
        }
        catch (Exception eq)
        {
            Blukdeletepopup = false;
            toastService.ShowToast("The Selected Record Do not deleted", AC.SD.Core.Services.ToastLevel.Error);
        }
    }
    async Task OnEditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editModel = (NavMethodCodeModel)e.EditModel;
        if (e.IsNew)
        {
            var createReq = new InsertOrUpdateNavMethodCode
                {
                    MethodCodeID = editModel.MethodCodeID,
                    MethodName = editModel.MethodName,
                    CompanyId = editModel.CompanyId,
                    MethodDescription = editModel.MethodDescription,
                    AddedByUserID = applicationUser?.UserID,
                    ModifiedByUserID = applicationUser?.UserID,
                    ModifiedDate = DateTime.Now,
                    StatusCodeID = editModel.StatusCodeID,
                    AddedDate = DateTime.Now,
                    NavinpCategoryID = editModel.NavinpCategoryID,
                    PlanningCategoryID = editModel.PlanningCategoryID,
                    ProdFrequency = editModel.ProdFrequency,
                    DistReplenishHs = editModel.DistReplenishHs,
                    DistAcmonth = editModel.DistAcmonth,
                    AdhocPlanQty = editModel.AdhocPlanQty,
                    AdhocReplenishHs = editModel.AdhocReplenishHs,
                    AdhocMonthStandAlone = editModel.AdhocMonthStandAlone,
                    BatchSizeId = editModel.BatchSizeId,
                    BatchSizeIds = editModel.BatchSizeIds,
                    BatchSizeNo = editModel.BatchSizeNo,
                };

            try
            {
                var result = await Mediator.Send(createReq);
                toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            }
            catch (Exception eq)
            {
                PopupVisible = true;

            }
            await UpdateDataAsync();


        }
        else
        {
            var UpdateReq = new InsertOrUpdateNavMethodCode
                {
                    MethodCodeID = editModel.MethodCodeID,
                    MethodName = editModel.MethodName,
                    CompanyId = editModel.CompanyId,
                    MethodDescription = editModel.MethodDescription,
                    AddedByUserID = editModel.AddedByUserID == null ? applicationUser?.UserID : editModel.AddedByUserID,
                    ModifiedByUserID = applicationUser?.UserID,
                    ModifiedDate = DateTime.Now,
                    StatusCodeID = editModel.StatusCodeID,
                    AddedDate = editModel.AddedDate == null ? DateTime.Now : editModel.AddedDate,
                    NavinpCategoryID = editModel.NavinpCategoryID,
                    ProdFrequency = editModel.ProdFrequency,
                    DistReplenishHs = editModel.DistReplenishHs,
                    DistAcmonth = editModel.DistAcmonth,
                    AdhocPlanQty = editModel.AdhocPlanQty,
                    AdhocReplenishHs = editModel.AdhocReplenishHs,
                    AdhocMonthStandAlone = editModel.AdhocMonthStandAlone,
                    BatchSizeId = editModel.BatchSizeId,
                    BatchSizeIds = editModel.BatchSizeIds,
                    BatchSizeNo = editModel.BatchSizeNo,
                };
            var ans = await Mediator.Send(UpdateReq);
            toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();

        }

    }
    void viewAuditLog()
    {
        AuditLogPopUp = true;
    }
    void CloseAuditLog()
    {
        AuditLogPopUp = false;
        StateHasChanged();
    }
    void CloseAttachmentPopup()
    {
        InvokeAsync(UpdateDataAsync);
        LineItemPopUp = false;
    }
    void addLineItem()
    {
        LineItemPopUp = true;
    }
}