@using Application.Queries;
@using MediatR
@using System.ComponentModel;
@using global::Core.Entities.Views;
@using global::Core.Entities;
@inject IMediator Mediator
@using DevExpress.Export
@using Application.Response;
@using global::Core.EntityModels
@inject IJSRuntime jsRuntime
@using global::Core.Repositories.Query;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject AC.SD.Core.Services.ToastService toastService

@inject NavigationManager NavigationManager


<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" Enabled="AddEnabled" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="EditEnabled" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
            </Items>
        </DxMenu>
    </div>
</div>
<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">

    <DxGrid @ref="Grid" FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            Data="_quotationHistoryItems"
            KeyFieldName="ProductionForecastID"
            CustomizeElement="Grid_CustomizeElement"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            SelectionMode="GridSelectionMode.Single"
            ValidationEnabled="true"
            AutoExpandAllGroupRows="true"
            CssClass="ch-360 " style="height: calc(100vh - 550px);"
            FocusedRowEnabled="true"
            RowClick="OnRowClick"
            RowDoubleClick="OnRowDoubleClick"
            CustomizeEditModel="Grid_CustomizeEditModel"
            EditMode="GridEditMode.EditForm"
            EditModelSaving="@OnEditModelSaving"
            SelectedDataItemsChanged="@SelectedDataItemsChanged"
            VirtualScrollingEnabled="true"
            AllowSelectRowByClick="true">
        <Columns>
            <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
            <DxGridDataColumn FieldName="ItemNo" Caption="Item No" />
            <DxGridDataColumn FieldName="Description1" Caption="Description" />
            <DxGridDataColumn FieldName="Description2" Caption="Description2" />
            <DxGridDataColumn FieldName="ProductionMonth" Caption="Production Month">
                <CellDisplayTemplate>
                    @{
                        var item = (ProductionForecastModel)context.DataItem;
                        var startDate = string.Empty;
                        if (item.ProductionMonth != DateTime.MinValue)
                        {
                            startDate = item.ProductionMonth?.ToString("MMM-yyyy");
                        }
                    }
                    @startDate
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="CompanyName" Caption="Company" />
            <DxGridDataColumn FieldName="BatchSize" Caption="Batch Size" />
            <DxGridDataColumn FieldName="PackQuantity" Caption="Pack Quantity" />

        </Columns>
        <EditFormTemplate Context="EditFormContext">
            @{
                var types = (ProductionForecastModel)EditFormContext.EditModel;
            }
            <DxFormLayout CssClass="w-100">
                <DxFormLayoutItem Caption="Item" ColSpanMd="6">
                    <DxComboBox Data="@_AllNavitems"
                                NullText="Select Item..."
                                ListRenderMode="ListRenderMode.Virtual"
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="Description"
                                ValueFieldName="ItemId"
                                EditFormat="{0}-{1}-{2}"
                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                ShowValidationIcon="true"
                                Value="@types.ItemId"
                                ValueExpression="@(() => types.ItemId )"
                                ValueChanged="@((long? navitems) => SelectedItemChanged(navitems,types))">
                        <Columns>
                            <DxListEditorColumn FieldName="@nameof(View_NavItems.No)"
                                                Caption="Item No"
                                                Width="90px" />
                            <DxListEditorColumn FieldName="@nameof(View_NavItems.Description)"
                                                Caption="Description"
                                                Width="130px">
                            </DxListEditorColumn>
                            <DxListEditorColumn FieldName="@nameof(View_NavItems.BaseUnitofMeasure)"
                                                Caption="Uom" Width="40px" />
                        </Columns>

                    </DxComboBox>
                    <ValidationMessage For="@(() => types.ItemId)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Description" ColSpanMd="6">
                    <DxTextBox @bind-Text="@types.Description1" ShowValidationIcon="true" Enabled="false" />
                    <ValidationMessage For="@(() => types.Description1)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Batch Size" ColSpanMd="6">
                    <DxTextBox @bind-Text="@types.BatchSize" ShowValidationIcon="true" />
                    <ValidationMessage For="@(() => types.BatchSize)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Pack Quantity" ColSpanMd="6">
                    <DxSpinEdit @bind-Value="@types.PackQuantity" Mask="###########" ShowValidationIcon="true" />
                    <ValidationMessage For="@(() => types.PackQuantity)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Production Month" ColSpanMd="6">
                    <DxDateEdit @bind-Date="@types.ProductionMonth"
                                PickerDisplayMode="DatePickerDisplayMode.ScrollPicker"
                                ScrollPickerFormat="MMM-yyyy"
                                DisplayFormat="MMM-yyyy"
                                ShowValidationIcon="true" />
                    <ValidationMessage For="@(() => types.ProductionMonth)" />
                </DxFormLayoutItem>
            </DxFormLayout>
        </EditFormTemplate>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="CompanyName" />
        </TotalSummary>
    </DxGrid>
</DxLoadingPanel>
<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="Delete"
         ShowCloseButton="true"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>
@code {
    private List<View_NavItems>? _AllNavitems;
    bool PanelVisible { get; set; } = true;
    bool PopupVisible { get; set; } = false;
    DxPopup? popup;
    private List<ProductionForecastModel> _quotationHistoryItems;
    private ProductionForecastModel? _selectedItems;
    [Parameter]
    public NavMethodCodeModel _selectedDataItems { get; set; }
    IGrid Grid { get; set; }
    string permission = "";
    bool EditEnabled { get; set; } = false; bool AddEnabled { get; set; } = false;
    bool DeleteEnabled { get; set; } = false;
    bool AddPopup { get; set; } = false;
    bool Blukdeletepopup { get; set; } = false;
    IReadOnlyList<object> SelectedDataItems { get; set; }
    public ApplicationUser? applicationUser { get; private set; }
    protected override async Task OnInitializedAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _AllNavitems = await Mediator.Send(new GetAllNavItemsQuery());
        await UpdateDataAsync();
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
            e.CssClass += "non-selectable-row";
        }
    }
    void SelectedItemChanged(long? navitemsId, ProductionForecastModel typess)
    {
        typess.ItemId = navitemsId;
        typess.Description1 = null;
        var navitems = _AllNavitems != null && navitemsId > 0 ? _AllNavitems.FirstOrDefault(f => f.ItemId == navitemsId) : null;
        if (navitems != null)
        {
            typess.Description1 = navitems.Description;
        }
    }
    async Task UpdateDataAsync()
    {
        _selectedItems = null; _quotationHistoryItems = new List<ProductionForecastModel>();
        EditEnabled = false; DeleteEnabled = false; AddEnabled = false;
        if (_selectedDataItems != null && _selectedDataItems.MethodCodeID > 0)
        {
            AddEnabled = true;
            _quotationHistoryItems = await Mediator.Send(new GetAllProductionForecastQuery(_selectedDataItems?.MethodCodeID));
            PanelVisible = true;

            if (_quotationHistoryItems.Count > 0)
            {
                _selectedItems = _quotationHistoryItems.FirstOrDefault();
                // EditEnabled = true; DeleteEnabled = true;AttachmentEnabled=true;
                Grid.ClearSelection();
                PanelVisible = false;
            }
        }
        PanelVisible = false;
        StateHasChanged();
    }

    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "ProductionForecastID");
        _selectedItems = _quotationHistoryItems.FirstOrDefault(f => f.ProductionForecastID == (long?)UniqueId);
        // EditEnabled = true; DeleteEnabled = true;AttachmentEnabled=true;
        StateHasChanged();
    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addEdit();
    }
    void addNew()
    {
        Grid.StartEditNewRowAsync();

    }
    async Task Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        var navitems = (ProductionForecastModel)e.EditModel;
        if (e.IsNew)
        {
            navitems.StatusCodeID = 1;
        }
        else
        {
            navitems.StatusCodeID = navitems.StatusCodeID > 0 ? navitems.StatusCodeID : 1;
        }
    }
    void addEdit()
    {
        if (SelectedDataItems != null)
        {
            if (SelectedDataItems.Count == 1)
            {
                foreach (object item in SelectedDataItems)
                {
                    if (item is ProductionForecastModel dataselectItems)
                    {
                        _selectedItems = dataselectItems;
                        Grid.StartEditDataItemAsync(_selectedItems);
                    }
                }
            }
            else
            {
                Grid.StartEditDataItemAsync(_selectedItems);
            }
        }
    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDataItems = null;
        AddPopup = false;
    }
    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems; EditEnabled = false; DeleteEnabled = false;
        if (SelectedDataItems.Count > 0)
        {
            if (SelectedDataItems.Count > 1)
            {
                EditEnabled = false; DeleteEnabled = true;
            }
            else
            {
                EditEnabled = true; DeleteEnabled = true;
            }
        }
    }
    async Task bulkDelete()
    {
        try
        {
            if (SelectedDataItems != null)
            {
                foreach (object item in SelectedDataItems)
                {
                    if (item is ProductionForecastModel datas)
                    {
                        var request = new DeleteProductionForecast(datas);
                        await Mediator.Send(request);
                        Blukdeletepopup = false;
                        toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        await UpdateDataAsync();
                        Grid.SetFocusedRowIndex(0);
                    }
                }
            }
        }
        catch (Exception eq)
        {
            Blukdeletepopup = false;
            toastService.ShowToast("The Selected Record Do not deleted", AC.SD.Core.Services.ToastLevel.Error);
        }
    }
    async Task OnEditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editModel = (ProductionForecastModel)e.EditModel;
        if (e.IsNew)
        {
            var createReq = new InsertOrUpdateProductionForecast
                {
                    MethodCodeID = _selectedDataItems.MethodCodeID,
                    ProductionForecastID = editModel.ProductionForecastID,
                    ItemId = editModel.ItemId,
                    AddedByUserID = editModel.AddedByUserID == null ? applicationUser?.UserID : editModel.AddedByUserID,
                    ModifiedByUserID = applicationUser?.UserID,
                    ModifiedDate = DateTime.Now,
                    StatusCodeID = editModel.StatusCodeID,
                    AddedDate = editModel.AddedDate == null ? DateTime.Now : editModel.AddedDate,
                    BatchSize = editModel.BatchSize,
                    PackQuantity = editModel.PackQuantity,
                    ProductionMonth = editModel.ProductionMonth,
                };

            try
            {
                var result = await Mediator.Send(createReq);
                toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            }
            catch (Exception eq)
            {
                PopupVisible = true;

            }
            await UpdateDataAsync();


        }
        else
        {
            var UpdateReq = new InsertOrUpdateProductionForecast
                {
                    MethodCodeID = _selectedDataItems.MethodCodeID,
                    ProductionForecastID = editModel.ProductionForecastID,
                    ItemId = editModel.ItemId,
                    AddedByUserID = editModel.AddedByUserID == null ? applicationUser?.UserID : editModel.AddedByUserID,
                    ModifiedByUserID = editModel.ModifiedByUserID == null ? applicationUser?.UserID : editModel.ModifiedByUserID,
                    ModifiedDate = DateTime.Now,
                    StatusCodeID = editModel.StatusCodeID,
                    AddedDate = DateTime.Now,
                    BatchSize = editModel.BatchSize,
                    PackQuantity = editModel.PackQuantity,
                    ProductionMonth = editModel.ProductionMonth,
                };
            var ans = await Mediator.Send(UpdateReq);
            toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();

        }

    }
}