@using System.Collections.Generic
@using DevExpress.Blazor
@layout MainLayout
@using Application.Queries;
@using Application.Response;
@using global::Core.Entities;
@using global::Core.Repositories.Query;
@using MediatR
@inject IMediator Mediator
@using AC.SD.Core.Configuration
@inject DemoConfiguration Configuration
@inject DemoThemeService Themes
@inject NavigationManager NavigationManager
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject IJSRuntime jsRuntime;
@inject AC.SD.Core.Services.ToastService toastService

<style scoped>
   /*  .dxbl-sc-table.dxbl-sc-vertical-view tr:first-of-type {
        display: none;
    } */
    .demo-resnavigator-sc-container
    {
        overflow:auto;
    }

    .other_tag .dxbl-treeview-item-content .dxbl-checkbox {
        display: none;
    }

    .user_tag .dxbl-treeview-item-content .dxbl-checkbox {
        display: none;
    }

    .highlight {
        background-color: yellow;
        font-weight: bold;
    }

</style>

<div class="row" style="margin-bottom: 10px; display:none;">
    <div class="col-md-6">
       
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <DxComboBox NullText="Select a UserTag..."
                            Data="@userTagList"
                            Value="@SelectedUserTag"
                            ValueChanged="@((string tag) => SelectedUserTagChanged(tag))"
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                            CssClass="cw-480"
                            InputId="cbUserTag" />
            </div>
            <div class="col-md-6">
                <DxComboBox NullText="Select an OtherTag..."
                            Data="@otherTagList"
                            Value="@SelectedOtherTag"
                            ValueChanged="@((string tag) => SelectedOtherTagChanged(tag))"
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                            CssClass="cw-480"
                            InputId="cbOtherTag" />
            </div>
        </div>
       
    </div>
</div>

@* <DxScheduler DataStorage="@DataStorage"
             AppointmentInserting="AppointmentInserting"
             AppointmentRemoving="@AppointmentRemoving"
             AppointmentUpdating="AppointmentUpdating">
    <DxSchedulerDayView ShowWorkTimeOnly="true" />
    <DxSchedulerWeekView ShowWorkTimeOnly="true" />
    <DxSchedulerMonthView />
</DxScheduler> *@ 
<div class="demo-resnavigator">
    <div class="demo-resnavigator-container card" style="height: calc(100vh - 230px); overflow:auto;">
        <div class="demo-resnavigator-title card-body" >
            <DxButton RenderStyle="ButtonRenderStyle.None" Click="@ToggleResourceNavigator" IconCssClass="demo-resnavigator-icon" title="Toggle the resource navigator" />
            @if(ResourceNavigatorExpanded) {
                <span style="">Filter</span>
                
            }
        </div>
        @if(ResourceNavigatorExpanded) {
            <div style="margin-left: 10px;    margin-right: 10px;">
                <DxTextBox @bind-Text="filterText" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Type to filter..." />
            </div>
            <div style="margin-left: 10px;    margin-right: 10px;">
                <DxCheckBox CheckType="CheckType.Switch"
                            LabelPosition="LabelPosition.Left"
                            Checked="@SilentMode"
                            CheckedChanged="@((bool t) => TimeCheckedChanged(t))"
                            Alignment="CheckBoxContentAlignment.SpaceBetween">
                    With Time
                </DxCheckBox>
            </div>
            <div class="demo-resnavigator-tree card-body">
                <DxTreeView AfterCollapse="@(e => UpdateExpandedState(e, false))" AfterExpand="@(e => UpdateExpandedState(e, true))">
                    <Nodes>
                        @foreach(Resource group in Groups) {
                            <DxTreeViewNode Text="@group.Name" Name="@group.Id.ToString()" Expanded="@IsExpanded(group)">
                                <Nodes>
                                    @foreach(Resource resource in GetResources(group)) {
                                        <DxTreeViewNode Text="@resource.Name">
                                            <Template>
                                                <div class="demo-resnavigator-item">
                                                    <DxCheckBox T="bool"
                                                                Checked="@IsVisible(resource)"
                                                                CheckedChanged="@(visible => UpdateVisibilty(resource, visible))">
                                                        @resource.Name
                                                    </DxCheckBox>
                                                </div>
                                            </Template>
                                        </DxTreeViewNode>
                                    }
                                </Nodes>
                            </DxTreeViewNode>
                        }
                    </Nodes>
                </DxTreeView>               

                <DxTreeView CheckMode="TreeViewCheckMode.Multiple"                           
                            AnimationType="LayoutAnimationType.Slide"
                            CssClass="h-300"
                            @ref="treeview">
                    <Nodes>
                        <DxTreeViewNode Text="User Tags" CssClass="user_tag" Name="User Tags" Expanded="false"> 
                            <Nodes>
                                @foreach (var userTag in userTagList.Where(tag => IsFiltered(tag)))
                                {
                            
                                    <DxTreeViewNode Text="@userTag">
                                        <Template>
                                            <div class="demo-resnavigator-item">
                                                <DxCheckBox T="bool"
                                                            Checked="@IsUserTagSelected(userTag)"
                                                            CheckedChanged="@(isChecked => OnUserTagCheckedChanged(userTag, isChecked))">                                                    
                                                    @((MarkupString)HighlightSearchText(userTag))
                                                </DxCheckBox>
                                            </div>
                                        </Template>
                                    </DxTreeViewNode>
                           
                                }
                            </Nodes>
                        </DxTreeViewNode>
                    </Nodes>
                </DxTreeView>
                <DxTreeView CheckMode="TreeViewCheckMode.Multiple"
                    AnimationType="LayoutAnimationType.Slide"
                    CssClass="h-300">
                    <Nodes>
                        @if (otherTagList != null)
                        {
                            <DxTreeViewNode Text="Other Tags" CssClass="other_tag" Name="Other Tags" Expanded="false"> 
                                <Nodes>
                                    @foreach (var otherTag in otherTagList.Where(tag => IsFiltered(tag)))
                                    {
                                        <DxTreeViewNode Text="@otherTag">
                                            <Template>
                                                <div class="demo-resnavigator-item">
                                                    <DxCheckBox T="bool"
                                                                Checked="@IsOtherTagSelected(otherTag)"
                                                                CheckedChanged="@(isChecked => OnOtherTagCheckedChanged(otherTag, isChecked))">
                                                        <span>@(HighlightSearchText(otherTag))</span>
                                                    </DxCheckBox>
                                                </div>
                                            </Template>
                                        </DxTreeViewNode>
                                    }
                                </Nodes>                                                               
                            </DxTreeViewNode>
                        }
                    </Nodes>
                </DxTreeView>

            </div>
        }
    </div>
    <div class="demo-resnavigator-sc-container">
        <DxScheduler DataStorage="@DataStorage"
                 VisibleResourcesDataSource="@VisibleResources"
                 GroupType="SchedulerGroupType.Resource"
                 ResourceNavigatorVisible="false"                 
                 ResourceColorInHeaderVisible = "true"                       
                 CssClass="demo-sc-docked demo-sc-size w-100"
                 AppointmentFormShowing="OnAppointmentFormShowing"
                 AllowEditAppointment="@AllowEditAppointment"
                 AppointmentInserting="AppointmentInserting"
                 AppointmentRemoving="AppointmentRemoving"
                 AppointmentUpdating="AppointmentUpdating">
        <Views>
            <DxSchedulerDayView>
                @* <HorizontalAppointmentTemplate>
                    @{
                        string backgroundCss = context.Resource == null ? "dx-purple-color" : context.Resource.BackgroundCssClass;
                    }
                    <div class="demo-sc-apt @(IsAccepted(context.Appointment) ? "demo-sc-accepted" : "")" style="width: 100%;">
                        <div class="card demo-apt-bg @backgroundCss" style="width: 100%;"></div>
                        <div class="card shadow-sm p-1 demo-sc-apt-content text-white" style="width:100%;">
                            @context.Appointment.Subject
                        </div>
                    </div>
                </HorizontalAppointmentTemplate> *@
                @* <VerticalAppointmentTemplate>
                    @{
                        string backgroundCss = context.Resource == null ? "dx-purple-color" : context.Resource.BackgroundCssClass;
                    }
                    <div class="shadow-sm demo-sc-apt @(IsAccepted(context.Appointment) ? "demo-sc-accepted"  : "")">
                        <div class="card demo-apt-bg @backgroundCss"></div>
                        <div class="card demo-sc-apt-content text-white">
                            <div class="card demo-sc-status-container">
                                <div class="card demo-apt-status @backgroundCss"></div>
                            </div>
                            <div class="demo-apt-subject">
                                @context.Appointment.Subject
                            </div>
                        </div>
                    </div>
                </VerticalAppointmentTemplate> *@
            
            </DxSchedulerDayView>
            <DxSchedulerWeekView />
            <DxSchedulerMonthView />
        </Views>
        <AppointmentTooltipHeaderTemplate>
            <div class="tooltip-text-header" style="width: 90% !important;">@context.Appointment.Subject</div>
           @*  @if (IsAccepted(context.Appointment))
            {
                <div style="margin-right: .3em;">(Accepted)</div>
            } *@

            @if (!IsAccepted(context.Appointment))
            {
                <DxSchedulerShowAppointmentCompactFormButton></DxSchedulerShowAppointmentCompactFormButton>
                <DxSchedulerDeleteAppointmentButton></DxSchedulerDeleteAppointmentButton>           
            }       
            <DxSchedulerCloseAppointmentButton></DxSchedulerCloseAppointmentButton>
        </AppointmentTooltipHeaderTemplate>
        <AppointmentTooltipTemplate>
            @{
                string resourceCssClass = context.Resource == null ? "dx-purple-color" : context.Resource.BackgroundCssClass;
                bool accepted = IsAccepted(context.Appointment);
                string buttonText = accepted ? "View Email" : "Tentative";
                string iconCssClass = accepted ? "dx-icon-accepted" : "dx-icon-tentative";
                string startDateTime = $"{context.Appointment.Start.ToString("ddd, MMM dd")}, {context.Appointment.Start.ToShortTimeString()} - {context.Appointment.End.ToShortTimeString()}";
                Guid sessionId = SessionId(context.Appointment);
                string statusType = StatusType(context.Appointment);

            }
            <div class="container">
                <div class="row mb-3">
                    <div class="col-auto ms-1">
                       @*  <div class="dxsc-label-item @resourceCssClass"></div> *@
                    </div>
                    <div class="col ps-0">
                        <span class="dxsc-subject" style="vertical-align: middle;">
                            @context.Appointment.Subject                     
                        </span>                  
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-auto ms-1">
                        <svg class="dx-icon-time dx-icon" role="img">
                            <use href="#dxsc-time-icon"></use>
                        </svg>
                    </div>
                    <div class="col ps-0"><span style="vertical-align: middle;">@startDateTime</span></div>
                </div>
                 @if (IsAccepted(context.Appointment))
                 {
                    <hr />
                    <div class="sc-tooltip-bottom-container">

                        @if(statusType == "EmailDueDate")
                        {
                            <DxButton @onclick="@(() => OnEmailDueClick(sessionId))" RenderStyleMode="ButtonRenderStyleMode.Text" RenderStyle="ButtonRenderStyle.Link"
                                      Text="View Email" IconCssClass="@iconCssClass">
                            </DxButton>
                        }
                        else if(statusType == "TodoDueDate")
                        {
                            <DxButton @onclick="@(() => OnTodoDueDateClick(sessionId))" RenderStyleMode="ButtonRenderStyleMode.Text" RenderStyle="ButtonRenderStyle.Link"
                                      Text="View Todo Email" IconCssClass="@iconCssClass">
                            </DxButton>
                        }
                    </div>
                 }
            </div>
        </AppointmentTooltipTemplate>
    </DxScheduler>
    </div>
</div>
@code {
    private string filterText { get; set; } = string.Empty;    
    bool SilentMode { get; set; } = false;
    DxTreeView treeview;
    private List<string> selectedUserTags = new List<string>();
    private List<string> selectedOtherTags = new List<string>();
    private List<string> userTagList = new List<string>();
    private List<string> otherTagList = new List<string>();
    private string SelectedUserTag { get; set; }
    private string SelectedOtherTag { get; set; }
    private List<Appointment>? _data { get; set; }
    private List<Appointment> _filteredData;

    IReadOnlyList<ITreeViewNodeInfo> checkedEmployees;
    void CheckingChanged(TreeViewCheckedChangedEventArgs e)
    {
        if (e.CheckedItems != null)
            checkedEmployees = e.CheckedItems;
    }
    async Task TimeCheckedChanged(bool value)
    {
        SilentMode = value;
        await TimeFilter(value);  
        // Enabled = !value;
    }
    async Task TimeFilter(bool status)
    {
        var  _data1 = await Mediator.Send(new GetAppointmentList(applicationUser.UserID));
        if (_data1 != null)
        {
            //  _filteredData = _data
            // .Where(appointment =>
            //     appointment.StatusType == "EmailDueDate" ||
            //     appointment.StatusType == "TodoDueDate")
            // .Select(appointment =>
            // {
            //     appointment.AllDay = !status;  // Set AllDay to 0
            //     return appointment;
            // }).ToList();

            _filteredData = _data1
           .Select(appointment =>
           {
               appointment.AllDay = !status;  // Set AllDay to 0
               return appointment;
           }).ToList();

            ApplyFilters();
            // DataStorage.AppointmentsSource = _data;
        }




        StateHasChanged();

    }

    bool AllowEditAppointment { get; set; } = true;
    public ApplicationUser? applicationUser { get; private set; }

    Dictionary<int, bool> ExpandedState = new Dictionary<int, bool>();
    bool IsVisible(Resource resource)
    {
        return VisibleResources.Contains(resource);
    }
    List<Resource> Groups = ResourceCollection.GetResourceGroups();
    List<Resource> VisibleResources = ResourceCollection.GetResources().Take(2).ToList();
    bool ResourceNavigatorExpanded { get; set; } = true;
    void ToggleResourceNavigator()
    {
        ResourceNavigatorExpanded = !ResourceNavigatorExpanded;
    }
    void UpdateExpandedState(TreeViewNodeEventArgs args, bool expanded)
    {
        int resourceId = int.Parse(args.NodeInfo.Name);
        ExpandedState[resourceId] = expanded;
    }  
    IEnumerable<Resource> GetResources(Resource group)
    {
        return ResourceCollection.GetResources()
            .Where(resource => resource.GroupId == group.Id);
    }
    bool IsExpanded(Resource resource) {
        return ExpandedState.ContainsKey(resource.Id) ? ExpandedState[resource.Id] : true;
    }
    void UpdateVisibilty(Resource resource, bool visible)
    {
        if (visible)
            VisibleResources.Add(resource);
        else
            VisibleResources.Remove(resource);
        VisibleResources = VisibleResources.OrderBy(p => p.Id).ToList();
    }





    DxSchedulerDataStorage DataStorage = new DxSchedulerDataStorage()
        {
            AppointmentMappings = new DxSchedulerAppointmentMappings()
            {
                Id = "ID",
                Type = "AppointmentType",
                Start = "StartDate",
                End = "EndDate",
                Subject = "Caption",
                AllDay = "AllDay",
                LabelId = "Label",
                StatusId = "Status",
                Location = "Location",
                Description = "Description",
                RecurrenceInfo = "Recurrence",
                ResourceId = "ResourceId",
                CustomFieldMappings = new List<DxSchedulerCustomFieldMapping> {
                new DxSchedulerCustomFieldMapping{ Name = "Accepted", Mapping = "Accepted" },
                new DxSchedulerCustomFieldMapping{ Name = "SessionId", Mapping = "SessionId" },
                new DxSchedulerCustomFieldMapping{ Name = "StatusType", Mapping = "StatusType" }
                }
            },
            ResourcesSource = ResourceCollection.GetResourcesForGrouping(),
            ResourceMappings = new DxSchedulerResourceMappings()
            {
                Id = "Id",
                Caption = "Name",
                BackgroundCssClass = "BackgroundCss",
                TextCssClass = "TextCss"
            }
        };

    bool IsAccepted(DxSchedulerAppointmentItem apt) => true == (bool?)apt.CustomFields["Accepted"];    
    Guid SessionId(DxSchedulerAppointmentItem apt) => (Guid)(apt.CustomFields["SessionId"] ?? Guid.Empty);
    string StatusType(DxSchedulerAppointmentItem apt) => (string)(apt.CustomFields["StatusType"] ?? string.Empty);

    void SwitchAccepted(SchedulerAppointmentTooltipInfo tooltipInfo, MouseEventArgs mouseArgs) => tooltipInfo.CustomFields["Accepted"] = !IsAccepted(tooltipInfo.Appointment);
    protected override async void OnInitialized()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        if(applicationUser != null)
        {
            _data = await Mediator.Send(new GetAppointmentList(applicationUser.UserID));
            _filteredData = _data.ToList();
            DataStorage.AppointmentsSource = _data.ToList();


            userTagList = _data
           .Where(a => !string.IsNullOrEmpty(a.UserTag))
           .Select(a => a.UserTag)
           .Distinct()
           .ToList();

            otherTagList = _data
                .Where(a => !string.IsNullOrEmpty(a.OtherTag))
                .Select(a => a.OtherTag)
                .Distinct()
                .ToList();            
        }     


        StateHasChanged();

    }
    private void SelectedUserTagChanged(string tag)
    {
        SelectedUserTag = tag;
        ApplyFilters();
    }

    private void SelectedOtherTagChanged(string tag)
    {
        SelectedOtherTag = tag;
        ApplyFilters();
    }
    private void ApplyFilters()
    {       
        if (_data == null) return;

        var filteredData = _filteredData
       .Where(a => (selectedUserTags.Count == 0 || selectedUserTags.Contains(a.UserTag)) &&
                   (selectedOtherTags.Count == 0 || selectedOtherTags.Contains(a.OtherTag)))
       .ToList();

        DataStorage.AppointmentsSource = filteredData;


        StateHasChanged();
    }
    private bool IsUserTagSelected(string tag)
    {
        return selectedUserTags.Contains(tag);
    }

    private bool IsOtherTagSelected(string tag)
    {
        return selectedOtherTags.Contains(tag);
    }


    private void OnUserTagCheckedChanged(string tag, bool isChecked)
    {
        if (isChecked)
        {
            if (!selectedUserTags.Contains(tag))
            {
                selectedUserTags.Add(tag);
            }
        }
        else
        {
            selectedUserTags.Remove(tag);
        }

        ApplyFilters();
    }

    private void OnOtherTagCheckedChanged(string tag, bool isChecked)
    {
        if (isChecked)
        {
            if (!selectedOtherTags.Contains(tag))
            {
                selectedOtherTags.Add(tag);
            }
        }
        else
        {
            selectedOtherTags.Remove(tag);
        }

        ApplyFilters();
    }



    void OnAppointmentFormShowing(SchedulerAppointmentFormEventArgs args)
    {
        if (args.FormType == SchedulerAppointmentFormType.CompactEditForm)
        {
            //args.Cancel = true;

            var resource = args.Appointment.ResourceId?.ToString();
            
            if (resource != "2")
            {
                args.Cancel = true;
            }
        }
    }

    async Task AppointmentInserting(SchedulerAppointmentOperationEventArgs e)
    {
        Appointment insertedItem = e.Appointment.SourceObject as Appointment;

        if (insertedItem != null)
        {
            var InsertReq = new AddAppointment
                {
                    AppointmentType = insertedItem.AppointmentType,
                    StartDate = insertedItem.StartDate,
                    EndDate = insertedItem.EndDate,
                    Caption = insertedItem.Caption,
                    Label = insertedItem.Label,
                    Status = insertedItem.Status,
                    AllDay = insertedItem.AllDay,
                    Location = insertedItem.Location,
                    Description = insertedItem.Description,
                    Recurrence = insertedItem.Recurrence,
                    AddedByUserID = applicationUser.UserID,
                    AddedDate = DateTime.Now
                };

            var ans = await Mediator.Send(InsertReq);
            toastService.ShowToast("Record Insert Successfully", AC.SD.Core.Services.ToastLevel.Success);
            //await UpdateDataAsync();
        }


    }
    async Task AppointmentUpdating(SchedulerAppointmentOperationEventArgs e)
    {       

        var appointment = e.Appointment.SourceObject as Appointment;

        if (appointment != null)
        {
            var statusType = appointment.StatusType;  
            if (statusType == "Appointment")
            {
                if (e.Appointment != null && e.Appointment.Id != null)
                {
                    var InsertReq = new EditAppointment
                        {
                            ID = (long)e.Appointment.Id,
                            StartDate = e.Appointment.Start,
                            EndDate = e.Appointment.End,
                            Caption = e.Appointment.Subject,
                            Label = (int)e.Appointment.LabelId,
                            Status = (int)e.Appointment.StatusId,
                            AllDay = e.Appointment.AllDay,
                            Location = e.Appointment.Location,
                            Description = e.Appointment.Description
                        };

                    var ans = await Mediator.Send(InsertReq);
                    toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
                }
            }
        }       
            //await UpdateDataAsync();
        
    }
    async Task AppointmentRemoving(SchedulerAppointmentOperationEventArgs e)
    {
        if (e.Appointment.Id != null)
        {
            var ans = await Mediator.Send(new DeleteAppointment((long)e.Appointment.Id));
            toastService.ShowToast("Record Deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
        }

    }
    void OnEmailDueClick(Guid sessionid)
    {       
        NavigationManager.NavigateTo($"ViewEmail/{sessionid}/Email");        
        StateHasChanged();
    }
    void OnTodoDueDateClick(Guid sessionid)
    {
        NavigationManager.NavigateTo($"ViewEmail/{sessionid}/Todo");        
        StateHasChanged();
    }
    private List<Resource> GetResourcesForGrouping()
    {        
        return new List<Resource>
        {
            new Resource { Id = 0, Name = "Appointments", BackgroundCss = "resource-bg-appointment", TextCss = "resource-text-appointment" },
            new Resource { Id = 1, Name = "Emails", BackgroundCss = "resource-bg-email", TextCss = "resource-text-email" },
            new Resource { Id = 2, Name = "Todos", BackgroundCss = "resource-bg-todo", TextCss = "resource-text-todo" }
        };
    }

    private bool IsFiltered(string tag)
    {
        return string.IsNullOrEmpty(filterText) || tag.Contains(filterText, StringComparison.OrdinalIgnoreCase);
    }
    
    private MarkupString HighlightSearchText(string text)
    {
        if (string.IsNullOrEmpty(filterText) || !text.Contains(filterText, StringComparison.OrdinalIgnoreCase))
        {
            return new MarkupString(text);
        }

        // Get the index of the search term in the text (case-insensitive)
        int index = text.IndexOf(filterText, StringComparison.OrdinalIgnoreCase);

        // If the search term is found, split the text into 3 parts: before, match, and after
        string beforeMatch = text.Substring(0, index);
        string match = text.Substring(index, filterText.Length);
        string afterMatch = text.Substring(index + filterText.Length);

        // Reconstruct the string with highlighting for the matched part
        string highlightedText = $"{beforeMatch}<span class='highlight'>{match}</span>{afterMatch}";

        // Return the result as HTML (MarkupString)
        return new MarkupString(highlightedText);
    }


}