@page "/OdataGridList"
 @using RestSharp;
 @using Newtonsoft.Json;
 @using Newtonsoft.Json.Linq;
 @using System.Dynamic;
<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">
    <div class="card" style="margin-bottom:10px;">
        <div class="card-body p-0" style="margin-left: 10px;margin-top: 10px;margin-bottom: 10px;">
            <div class="row">
                <div class="">
                    <DxPager PageCount="@PageCount"
                             ActivePageIndex="@ActivePageIndex" ActivePageIndexChanged="OnActivePageIndexChanged" NavigationMode="PagerNavigationMode.InputBox"
                             SizeMode="SizeMode.Medium">
                    </DxPager>
                </div>
            </div>
        </div>
    </div>

    <DxGrid Data="@DataSource" @ref="Grid"
            PageSize="@PageSize"
            ShowGroupPanel="true" ShowGroupedColumns="true"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            VirtualScrollingEnabled="true"
            ShowSearchBox="true"
            SearchText="@searchText"
            SearchTextChanged="OnSearchTextChanged"
            CustomizeSummaryDisplayText="Grid_CustomizeSummaryDisplayText"
            style="height: calc(100vh - 280px);"
            CssClass="w-100"
            TextWrapEnabled="false">
        <Columns>
            <DxGridDataColumn FieldName="dynamicFormDataId" Visible="false" />
            <DxGridDataColumn FieldName="profileNo" Caption="Profile No" />
            <DxGridDataColumn FieldName="name" Visible="false" />
            <DxGridDataColumn FieldName="10973_Attr$QC_Reference_No_-_PDJ" Caption="QC Reference No - PDJ" />
            <DxGridDataColumn FieldName="10972_Attr$FP_Batch_information" Caption="FP Batch information" />
            <DxGridDataColumn FieldName="11013_Attr$Machine" Caption="Machine" />

        </Columns>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="profileNo" />
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Custom" Name="Custom" FieldName="profileNo" />
        </TotalSummary>
    </DxGrid>
    <div class="card" style="margin-bottom:10px;">
        <div class="card-body p-0" style="margin-left: 10px;margin-top: 10px;margin-bottom: 10px;">
            <div class="row">
                <div class="">
                    <DxPager PageCount="@PageCount"
                             ActivePageIndex="@ActivePageIndex" ActivePageIndexChanged="OnActivePageIndexChanged" NavigationMode="PagerNavigationMode.InputBox"
                             SizeMode="SizeMode.Medium">
                    </DxPager>
                </div>
            </div>
        </div>
    </div>
</DxLoadingPanel>
@code {
    int PageCount { get; set; } = 0; int TotalRecords { get; set; } = 0;
    int ActivePageIndex { get; set; } = 0;
    public string? searchText { get; set; }
    IGrid? Grid { get; set; }
    bool PanelVisible { get; set; } = true;
    public int PageSize = 50;
    public List<dynamic> DataSource { get; set; } = new List<dynamic>();
    public string? Baseurl = "https://portal.sunwardpharma.com:8423/api/DynamicForm/GetDynamicFormDataListPaging?DynamicFormSessionId=d59cfc4b-8e20-4114-9d77-63f683b53056";
    public string? url = string.Empty;
    int PageNo { get; set; } = 1;
    protected override async Task OnInitializedAsync()
    {
        await GenerateList();
    }
    string GenerateUrl()
    {
        string urlString = Baseurl + "&&PageNo=" + PageNo + "&&PageSize=" + PageSize;
        return urlString;
    }
    void Grid_CustomizeSummaryDisplayText(GridCustomizeSummaryDisplayTextEventArgs e)
    {
        if (e.Item.Name == "Custom")
            e.DisplayText = string.Format("Total Records: {0}", TotalRecords);
    }
    async Task OnActivePageIndexChanged(int activePageIndex)
    {
        ActivePageIndex = activePageIndex;
        PageNo = ActivePageIndex + 1;
        await GenerateList();
    }
    async Task GenerateList()
    {
        PanelVisible = true;
        var DataSources = await restApi();
        if (DataSources.Count() > 0)
        {
            DataSource = DataSources;
            PanelVisible = false;
        }
        else
        {
            DataSource = new List<dynamic>();
            PanelVisible = false;
        }
    }
    async Task<List<dynamic>> restApi()
    {
        List<dynamic> DataSourceItem = new List<dynamic>();
        string? Url = GenerateUrl();
        var client = new RestClient(Url);
        var request = new RestRequest(Url, Method.Get);
        RestResponse response = await client.ExecuteAsync(request);
        var deserial = JsonConvert.DeserializeObject<dynamic>(response.Content);
        if (deserial.results.Count > 0)
        {
            var counts = deserial.results.Count;
            for (int i = 0; i < counts; i++)
            {
                if (i == 0)
                {
                    TotalRecords = (int)deserial.results[i].totalPage;
                    if (TotalRecords > 0)
                    {
                        PageCount = ((TotalRecords - 1) / PageSize) + 1;
                    }
                }
                if (deserial.results[i].objectDataItems != null)
                {
                    var result = deserial.results[i].objectDataItems;
                    DataSourceItem.Add(result);
                }
            }
        }
        return DataSourceItem;
    }
    void OnSearchTextChanged(string? newSearchText)
    {
        searchText = newSearchText;
    }
}