@using Application.Command.EmployeeEmailInfos;
@using Application.Commands;
@using Application.Queries;
@using MediatR
@using global::Core.Entities.Views;
@using global::Core.Entities;
@inject IMediator Mediator
@using DevExpress.Export
@using Application.Response;
@using global::Core.Repositories.Query;
@inject ILocalStorageService<ApplicationUser> _localStorageService
<div class="card w-100" style="margin-bottom:10px;margin-top:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNewEmailInfo" Enabled="@AddEnabledEmailInfo" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEditEmailInfo" Enabled="@EditEnabledEmailInfo" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDeleteEmilInfo" Enabled="@DeleteEnabledEmailInfo" />
                <DxMenuItem Text="Forward To" IconCssClass="fa fa-email" Click="@addForwardToEmilInfo" Enabled="@ForwardToEnabledEmailInfo" />
                <DxMenuItem Text="Authority" IconCssClass="fa fa-remove" Click="@addAuthorityEmilInfo" Enabled="@AuthorityEnabledEmailInfo" />
            </Items>
        </DxMenu>
    </div>
</div>
<DxGrid @ref="EmailGrid"
        Data="_EmployeeEmailInfoItems"
        KeyFieldName="EmployeeEmailInfoID"
        EditModelSaving="Grid_EditModelSavingEmailInfo"
        DataItemDeleting="Grid_DataItemDeletingEmailInfo"
        CustomizeEditModel="Grid_CustomizeEditModelEmailInfo"
        CustomizeElement="Grid_CustomizeElement"
        ShowSearchBox="true"
        PagerNavigationMode="PagerNavigationMode.InputBox"
        PageSizeSelectorVisible="true"
        PageSizeSelectorAllRowsItemVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20"
        SelectionMode="GridSelectionMode.Multiple"
        SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
        ValidationEnabled="true"
        AutoExpandAllGroupRows="true"
        FocusedRowEnabled="true"
        RowClick="OnRowEmailInfoClick"
        style="height: calc(100vh - 440px);"
        AllowSelectRowByClick="true"
        RowDoubleClick="OnRowDoubleClick"
        CssClass="ch-360">
    <Columns>
        <DxGridDataColumn FieldName="EmployeeEmailInfoID" MinWidth="80" Visible="false" />
        <DxGridDataColumn FieldName="EmailGuide" Caption="Email Guide" MinWidth="80" />
        <DxGridDataColumn FieldName="Subscription" Caption="Subscription" MinWidth="80" />
    </Columns>
    <EditFormTemplate Context="EditFormContext">
        @{
            var responseOtherData = (View_EmployeeEmailInfo)EditFormContext.EditModel;
        }
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="Email Guide" ColSpanMd="6">
                <DxComboBox Data="@_view_ApplicationMasterDetailsEmailGuide"
                            NullText="Select Duty TYpe..."
                            SearchMode="ListSearchMode.AutoSearch"
                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                            TextFieldName="Value"
                            ValueFieldName="ApplicationMasterDetailID"
                            @bind-Value="@responseOtherData.EmailGuideID" ShowValidationIcon="true" />
                <ValidationMessage For="@(() => responseOtherData.EmailGuideID)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Subscription" ColSpanMd="6">
                <DxComboBox Data="@_view_ApplicationMasterDetailsSubscription"
                            NullText="Select Duty TYpe..."
                            SearchMode="ListSearchMode.AutoSearch"
                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                            TextFieldName="Value"
                            ValueFieldName="ApplicationMasterDetailID"
                            @bind-Value="@responseOtherData.SubscriptionID" ShowValidationIcon="true" />
                <ValidationMessage For="@(() => responseOtherData.SubscriptionID)" />
            </DxFormLayoutItem>
        </DxFormLayout>
    </EditFormTemplate>
</DxGrid>
<DxPopup @bind-Visible="@PopupForwardToVisible"
         CloseOnOutsideClick="false"
         HeaderText="Forward To "
         ShowFooter="false">
    <BodyTemplate Context="PopupContext">

        <div class="card w-100" style="margin-bottom:10px;margin-top:10px;">
            <div class="card-body p-0">
                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Desktop">
                    <Items>
                        <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNewEmailForward" />
                        <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEditEmailForward" Enabled="@EditEnabledEmailForward" />
                        <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDeleteEmailForward" Enabled="@DeleteEnabledEmailForward" />
                    </Items>
                </DxMenu>
            </div>
        </div>
        <DxGrid @ref="GridEmail"
                Data="_employeeEmailInfoForwardItems"
                KeyFieldName="EmployeeEmailInfoForwardID"
                EditModelSaving="Grid_EditModelSavingEmail"
                DataItemDeleting="Grid_DataItemDeletingEmail"
                CustomizeEditModel="Grid_CustomizeEditModelEmail"
                ShowSearchBox="true"
                PagerNavigationMode="PagerNavigationMode.InputBox"
                PageSizeSelectorVisible="true"
                PageSizeSelectorAllRowsItemVisible="true"
                PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                PageSize="20"
                SelectionMode="GridSelectionMode.Multiple"
                SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
                ValidationEnabled="true"
                AutoExpandAllGroupRows="true"
                CustomizeElement="Grid_CustomizeElement"
                FocusedRowEnabled="true"
                RowClick="OnRowForwardClick"
                style="height: calc(50vh - 50px);padding:10px;"
                RowDoubleClick="OnRowEmailInfoDoubleClick"
                AllowSelectRowByClick="true"
                CssClass="ch-360">
            <Columns>
                <DxGridDataColumn FieldName="EmployeeEmailInfoForwardID" MinWidth="80" Visible="false" />
                <DxGridDataColumn FieldName="EmailAddress" Caption="Email Address" MinWidth="80" />
            </Columns>
            <EditFormTemplate Context="EditFormContext">
                @{
                    var employeeEmailInfoForwardData = (EmployeeEmailInfoForward)EditFormContext.EditModel;
                }
                <DxFormLayout CssClass="w-100">
                    <DxFormLayoutItem Caption="Email Address" ColSpanMd="12">
                        <DxTextBox @bind-Text="@employeeEmailInfoForwardData.EmailAddress" ShowValidationIcon="true" />
                        <ValidationMessage For="@(() => employeeEmailInfoForwardData.EmailAddress)" />
                    </DxFormLayoutItem>
                </DxFormLayout>
            </EditFormTemplate>
        </DxGrid>
    </BodyTemplate>
</DxPopup>


<DxPopup @bind-Visible="@PopupEmailInfoAuthorityVisible"
         CloseOnOutsideClick="false"
         HeaderText="Authority"
         ShowFooter="false">
    <BodyTemplate Context="PopupContext">
        <div class="card w-100" style="margin-bottom:10px;margin-top:10px;">
            <div class="card-body p-0">
                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Desktop">
                    <Items>
                        <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNewAuthority" />
                        <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEditAuthority" Enabled="@EditEnabledAuthority" />
                        <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDeleteAuthority" Enabled="@DeleteEnabledAuthority" />
                    </Items>
                </DxMenu>
            </div>
        </div>
        <DxGrid @ref="GridEmailAuth"
                Data="_employeeEmailInfoAuthorityItems"
                KeyFieldName="EmployeeEmailInfoAuthorityID"
                EditModelSaving="Grid_EditModelSavingEmailAuth"
                DataItemDeleting="Grid_DataItemDeletingEmailAuth"
                CustomizeEditModel="Grid_CustomizeEditModelEmailAuth"
                CustomizeElement="Grid_CustomizeElement"
                ShowSearchBox="true"
                PagerNavigationMode="PagerNavigationMode.InputBox"
                PageSizeSelectorVisible="true"
                PageSizeSelectorAllRowsItemVisible="true"
                PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                PageSize="20"
                SelectionMode="GridSelectionMode.Multiple"
                SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
                ValidationEnabled="true"
                AutoExpandAllGroupRows="true"
                CssClass="ch-360"
                style="height: calc(50vh - 50px);padding:10px;"
                FocusedRowEnabled="true"
                RowClick="OnRowAuthorityClick"
                RowDoubleClick="OnRowEmailInfoAuthorityDoubleClick"
                AllowSelectRowByClick="true">
            <Columns>
                <DxGridDataColumn FieldName="EmployeeEmailInfoAuthorityID" MinWidth="80" Visible="false" />
                <DxGridDataColumn FieldName="Name" MinWidth="80" />
                <DxGridDataColumn FieldName="Description" MinWidth="80" />
                <DxGridDataColumn FieldName="Purpose" MinWidth="80" />

            </Columns>
            <EditFormTemplate Context="EditFormContext">
                @{
                    var employeeEmailAuthData = (EmployeeEmailInfoAuthority)EditFormContext.EditModel;
                }
                <DxFormLayout CssClass="w-100">
                    <DxFormLayoutItem Caption="Name" ColSpanMd="12">
                        <DxMemo @bind-Text="@employeeEmailAuthData.Name" ShowValidationIcon="true" />
                        <ValidationMessage For="@(() => employeeEmailAuthData.Name)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Description" ColSpanMd="12">
                        <DxMemo @bind-Text="@employeeEmailAuthData.Description" ShowValidationIcon="true" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Purpose" ColSpanMd="12">
                        <DxMemo @bind-Text="@employeeEmailAuthData.Purpose" ShowValidationIcon="true" />
                    </DxFormLayoutItem>
                </DxFormLayout>
            </EditFormTemplate>
        </DxGrid>
    </BodyTemplate>
</DxPopup>
@code {
    [Parameter]
    public Guid? SessionIds { get; set; }
    private View_EmployeeEmailInfo _emailInfoItemsselectedItems;
    private EmployeeEmailInfoForward _employeeEmailInfoForwardselectedItems;
    private EmployeeEmailInfoAuthority _employeeEmailInfoAuthorityselectedItems;
    bool EditEnabledEmailInfo { get; set; } = false;
    bool DeleteEnabledEmailInfo { get; set; } = false;
    bool ForwardToEnabledEmailInfo { get; set; } = false;
    bool AuthorityEnabledEmailInfo { get; set; } = false;
    bool EditEnabledEmailForward { get; set; } = false;
    bool DeleteEnabledEmailForward { get; set; } = false;
    bool EditEnabledAuthority { get; set; } = false;
    bool DeleteEnabledAuthority { get; set; } = false;
    bool AddEnabledEmailInfo { get; set; } = false;
    [Parameter]
    public long? EmployeeIds { get; set; }
    private List<View_EmployeeEmailInfo> _EmployeeEmailInfoItems;
    private List<EmployeeEmailInfoForward> _employeeEmailInfoForwardItems;
    private List<EmployeeEmailInfoAuthority> _employeeEmailInfoAuthorityItems;
    bool PopupForwardToVisible { get; set; }
    bool PopupEmailInfoAuthorityVisible { get; set; }
    private List<View_ApplicationMasterDetail> _view_ApplicationMasterDetailsEmailGuide;
    private List<View_ApplicationMasterDetail> _view_ApplicationMasterDetailsSubscription;
    public ApplicationUser applicationUser { get; private set; }
    IGrid EmailGrid { get; set; }
    IGrid GridEmail { get; set; }
    IGrid GridEmailAuth { get; set; }
    long employeeEmailInfoID = 0;
    protected override async Task OnInitializedAsync()
    {
        if (EmployeeIds > 0)
        {
            AddEnabledEmailInfo = true;
            applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
            _view_ApplicationMasterDetailsEmailGuide = await Mediator.Send(new GetAllApplicationMasterDetailQuery(327));
            _view_ApplicationMasterDetailsSubscription = await Mediator.Send(new GetAllApplicationMasterDetailQuery(328));
            await UpdateDataAsyncEmailInfo();
        }
    }
    async Task UpdateDataAsyncEmailInfo()
    {
        _EmployeeEmailInfoItems = await Mediator.Send(new GetEmployeeEmailInfoQuery(EmployeeIds));
        if (_EmployeeEmailInfoItems.Count > 0)
        {
            _emailInfoItemsselectedItems = _EmployeeEmailInfoItems.FirstOrDefault();
            EditEnabledEmailInfo = true;
            DeleteEnabledEmailInfo = true;
            ForwardToEnabledEmailInfo = true;
            AuthorityEnabledEmailInfo = true;
            StateHasChanged();
        }
    }
    void OnRowEmailInfoClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "EmployeeEmailInfoID");
        _emailInfoItemsselectedItems = _EmployeeEmailInfoItems.FirstOrDefault(f => f.EmployeeEmailInfoID == (long?)UniqueId);

    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowEmailInfoClick(e);
        addEditEmailInfo();
    }
    void addNewEmailInfo()
    {
        EmailGrid.StartEditNewRowAsync();
    }
    void addEditEmailInfo()
    {
        EmailGrid.StartEditDataItemAsync(_emailInfoItemsselectedItems);
    }
    void addDeleteEmilInfo()
    {
        EmailGrid.ShowDataItemDeleteConfirmation(_emailInfoItemsselectedItems);
    }
    async Task addForwardToEmilInfo()
    {
        employeeEmailInfoID = _emailInfoItemsselectedItems.EmployeeEmailInfoID;
        PopupForwardToVisible = true;
        StateHasChanged();
        await UpdateDataEmailAsync();
    }
    async Task addAuthorityEmilInfo()
    {
        employeeEmailInfoID = _emailInfoItemsselectedItems.EmployeeEmailInfoID;
        PopupEmailInfoAuthorityVisible = true;
        StateHasChanged();
        await UpdateDataEmailAuthAsync();
    }
    void Grid_CustomizeEditModelEmailInfo(GridCustomizeEditModelEventArgs e)
    {
        if (EmployeeIds > 0)
        {
            var newplant = (View_EmployeeEmailInfo)e.EditModel;
            if (e.IsNew)
            {
                newplant.EmployeeID = EmployeeIds;
                newplant.EmailGuideID = null;
                newplant.SubscriptionID = null;

            }
            else
            {

            }
        }
    }
    async Task Grid_EditModelSavingEmailInfo(GridEditModelSavingEventArgs e)
    {
        var editablePlant = (View_EmployeeEmailInfo)e.EditModel;
        if (e.IsNew)
        {
            var request = new CreateEmployeeEmailInfoCommand
                {
                    EmployeeID = EmployeeIds,
                    SubscriptionID = editablePlant.SubscriptionID,
                    EmailGuideID = editablePlant.EmailGuideID,
                };
            await Mediator.Send(request);
            await UpdateDataAsyncEmailInfo();
        }
        else
        {
            await UpdatePlantAsyncEmailInfo(editablePlant);
        }

    }
    async Task Grid_DataItemDeletingEmailInfo(GridDataItemDeletingEventArgs e)
    {
        var editablePlant = (View_EmployeeEmailInfo)e.DataItem;
        var request = new DeleteEmployeeEmailInfoCommand(editablePlant.EmployeeEmailInfoID);
        await Mediator.Send(request);
        await UpdateDataAsyncEmailInfo();
        EmailGrid.SetFocusedRowIndex(0);
    }
    async Task UpdatePlantAsyncEmailInfo(View_EmployeeEmailInfo editablePlant)
    {
        var request = new EditEmployeeEmailInfoCommand
            {
                EmployeeEmailInfoID = editablePlant.EmployeeEmailInfoID,
                EmployeeID = EmployeeIds,
                SubscriptionID = editablePlant.SubscriptionID,
                EmailGuideID = editablePlant.EmailGuideID,
            };
        await Mediator.Send(request);
        await UpdateDataAsyncEmailInfo();
    }



    void OnRowForwardClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "EmployeeEmailInfoForwardID");
        _employeeEmailInfoForwardselectedItems = _employeeEmailInfoForwardItems.FirstOrDefault(f => f.EmployeeEmailInfoForwardID == (long?)UniqueId);
        EditEnabledEmailForward = true;
        DeleteEnabledEmailForward = true;
        StateHasChanged();

    }
    void OnRowEmailInfoDoubleClick(GridRowClickEventArgs e)
    {
        OnRowForwardClick(e);
        addEditEmailForward();
    }
    void addNewEmailForward()
    {
        GridEmail.StartEditNewRowAsync();

    }
    void addEditEmailForward()
    {
        GridEmail.StartEditDataItemAsync(_employeeEmailInfoForwardselectedItems);

    }
    void addDeleteEmailForward()
    {
        GridEmail.ShowDataItemDeleteConfirmation(_employeeEmailInfoForwardselectedItems);
    }
    async void OpenEmailPopUp(View_EmployeeEmailInfo Id)
    {
        employeeEmailInfoID = Id.EmployeeEmailInfoID;
        PopupForwardToVisible = true;
        StateHasChanged();
        await UpdateDataEmailAsync();
    }
    async Task UpdateDataEmailAsync()
    {
        _employeeEmailInfoForwardItems = await Mediator.Send(new GetEmployeeEmailInfoForwardQuery(employeeEmailInfoID));
        if (_employeeEmailInfoForwardItems.Count > 0)
        {
            _employeeEmailInfoForwardselectedItems = _employeeEmailInfoForwardItems.FirstOrDefault();
            EditEnabledEmailForward = true;
            DeleteEnabledEmailForward = true;
            StateHasChanged();
        }
    }
    void Grid_CustomizeEditModelEmail(GridCustomizeEditModelEventArgs e)
    {
        var newplant = (EmployeeEmailInfoForward)e.EditModel;
        if (e.IsNew)
        {
            newplant.EmployeeEmailInfoID = employeeEmailInfoID;
            newplant.EmailAddress = null;

        }
        else
        {

        }
    }
    async Task Grid_EditModelSavingEmail(GridEditModelSavingEventArgs e)
    {
        var editablePlant = (EmployeeEmailInfoForward)e.EditModel;
        if (e.IsNew)
        {
            var request = new CreateEmployeeEmailInfoForwardCommand
                {
                    EmployeeEmailInfoID = employeeEmailInfoID,
                    EmailAddress = editablePlant.EmailAddress,
                };
            await Mediator.Send(request);
            await UpdateDataEmailAsync();
        }
        else
        {
            await UpdatePlantAsyncEmail(editablePlant);
        }

    }
    async Task Grid_DataItemDeletingEmail(GridDataItemDeletingEventArgs e)
    {
        var editablePlant = (EmployeeEmailInfoForward)e.DataItem;
        var request = new DeleteEmployeeEmailInfoForwardCommand(editablePlant.EmployeeEmailInfoForwardID);
        await Mediator.Send(request);
        await UpdateDataEmailAsync();
        GridEmail.SetFocusedRowIndex(0);
    }
    async Task UpdatePlantAsyncEmail(EmployeeEmailInfoForward editablePlant)
    {
        var request = new EditEmployeeEmailInfoForwardCommand
            {
                EmployeeEmailInfoForwardID = editablePlant.EmployeeEmailInfoForwardID,
                EmployeeEmailInfoID = employeeEmailInfoID,
                EmailAddress = editablePlant.EmailAddress,
            };
        await Mediator.Send(request);
        await UpdateDataEmailAsync();
    }








    void OnRowAuthorityClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "EmployeeEmailInfoAuthorityID");
        _employeeEmailInfoAuthorityselectedItems = _employeeEmailInfoAuthorityItems.FirstOrDefault(f => f.EmployeeEmailInfoAuthorityID == (long?)UniqueId);

        StateHasChanged();

    }
    void OnRowEmailInfoAuthorityDoubleClick(GridRowClickEventArgs e)
    {
        OnRowAuthorityClick(e);
        addEditAuthority();
    }
    void addNewAuthority()
    {
        GridEmailAuth.StartEditNewRowAsync();

    }
    void addEditAuthority()
    {
        GridEmailAuth.StartEditDataItemAsync(_employeeEmailInfoAuthorityselectedItems);

    }
    void addDeleteAuthority()
    {
        GridEmailAuth.ShowDataItemDeleteConfirmation(_employeeEmailInfoAuthorityselectedItems);
    }
    async void OpenEmailAuthPopUp(View_EmployeeEmailInfo Id)
    {
        //await windowRef.ShowAtAsync(popupTarget);
        employeeEmailInfoID = Id.EmployeeEmailInfoID;
        PopupEmailInfoAuthorityVisible = true;
        StateHasChanged();
        await UpdateDataEmailAuthAsync();
    }
    async Task UpdateDataEmailAuthAsync()
    {
        _employeeEmailInfoAuthorityItems = await Mediator.Send(new GetEmployeeEmailInfoAuthorityQuery(employeeEmailInfoID));
        if (_employeeEmailInfoAuthorityItems.Count > 0)
        {

            _employeeEmailInfoAuthorityselectedItems = _employeeEmailInfoAuthorityItems.FirstOrDefault();
            EditEnabledAuthority = true;
            EditEnabledAuthority = true;
            StateHasChanged();
        }
    }
    void Grid_CustomizeEditModelEmailAuth(GridCustomizeEditModelEventArgs e)
    {
        var newplant = (EmployeeEmailInfoAuthority)e.EditModel;
        if (e.IsNew)
        {
            newplant.EmployeeEmailInfoID = employeeEmailInfoID;
            newplant.Name = "";
            newplant.Description = "";
            newplant.Purpose = "";
        }
        else
        {

        }
    }
    async Task Grid_EditModelSavingEmailAuth(GridEditModelSavingEventArgs e)
    {
        var editablePlant = (EmployeeEmailInfoAuthority)e.EditModel;
        if (e.IsNew)
        {
            var request = new CreateEmployeeEmailInfoAuthorityCommand
                {
                    EmployeeEmailInfoID = employeeEmailInfoID,
                    Name = editablePlant.Name,
                    Description = editablePlant.Description,
                    Purpose = editablePlant.Purpose,
                };
            await Mediator.Send(request);
            await UpdateDataEmailAuthAsync();
        }
        else
        {
            await UpdatePlantAsyncEmailAuth(editablePlant);
        }
    }
    async Task Grid_DataItemDeletingEmailAuth(GridDataItemDeletingEventArgs e)
    {
        var editablePlant = (EmployeeEmailInfoAuthority)e.DataItem;
        var request = new DeleteEmployeeEmailInfoAuthorityCommand(editablePlant.EmployeeEmailInfoAuthorityID);
        await Mediator.Send(request);
        await UpdateDataEmailAuthAsync();
        GridEmailAuth.SetFocusedRowIndex(0);
    }
    async Task UpdatePlantAsyncEmailAuth(EmployeeEmailInfoAuthority editablePlant)
    {
        var request = new EditEmployeeEmailInfoAuthorityCommand
            {
                EmployeeEmailInfoAuthorityID = editablePlant.EmployeeEmailInfoAuthorityID,
                EmployeeEmailInfoID = employeeEmailInfoID,
                Name = editablePlant.Name,
                Description = editablePlant.Description,
                Purpose = editablePlant.Purpose,
            };
        await Mediator.Send(request);
        await UpdateDataEmailAuthAsync();
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
        if (e.ElementType == GridElementType.HeaderCell)
        {
            e.Style = "background-color: rgba(0, 0, 0, 0.08)";
            e.CssClass = "header-bold";
        }
    }
}
