@using Application.Command.Employees;
@using Application.Commands;
@using Application.Queries;
@using MediatR
@using global::Core.Entities.Views;
@using global::Core.Entities;
@using global::Core.Repositories.Query;
@inject IMediator Mediator
@using DevExpress.Export
@using Application.Response;
@using System.ComponentModel.DataAnnotations;
@inject IJSRuntime JSRuntime;
@using System.Reflection;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject NavigationManager NavigationManager
@page "/Employees/EmployeeForm/{SessionIds:guid}"
@page "/Employees/EmployeeForm"
<div class="card" style="margin-bottom:10px; margin-left:-12px; margin-right:-12px;">
    <div class="card-body p-0">
        <div class="row">
            <div class="">
                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Desktop">
                    <Items>
                        <DxMenuItem Text="Back" IconCssClass="fa fa-reply" Click="@backUrl" />
                        <DxMenuItem Text="Reset" IconCssClass="fa fa-refresh" Click="@ResetForm" />
                    </Items>
                </DxMenu>
            </div>
            <div class="save_hover" style="float: left; margin-top: -41px; line-height: 38px; margin-left: 200px; z-index: 9999; width:100px;">
                <button type="submit" form="@MyID" disabled="@loading" class="btnSubmitForm" onclick="@onsubmitClick">
                    @if (loading)
                    {
                        <span class="spinner-border spinner-border-sm mr-1"></span>
                    }
                    <i class="fa fa-save"></i>
                    Save
                </button>
            </div>

        </div>
    </div>
</div>

@*<div class="card">
    <div class="card-header">*@
<DxFormLayout CssClass="w-100">
    <DxFormLayoutTabPages @bind-ActiveTabIndex="@ActiveTabIndex">
        <div>
            <DxFormLayoutTabPage Caption="Personal Information">
                <EditForm Model="@employee" id="@MyID" Context="EditFormContext" OnValidSubmit="@HandleValidSubmit">

                    <div style="height: calc(100vh - 285px);overflow: auto; border: 1px solid #d5d4d4; border-top: none;">
                        <DataAnnotationsValidator />
                        <DxFormLayoutGroup Caption="Personal Information" ColSpanMd="12">
                            <DxFormLayoutItem Caption="First Name" ColSpanMd="6">
                                <DxTextBox @bind-Text="@employee.FirstName" ShowValidationIcon="true" />
                                <ValidationMessage For="@(() => employee.FirstName)" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Last Name" ColSpanMd="6">
                                <DxTextBox @bind-Text="@employee.LastName" ShowValidationIcon="true" />
                                <ValidationMessage For="@(() => employee.LastName)" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Nick Name:" ColSpanMd="6">
                                <DxTextBox @bind-Text="@employee.NickName" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Gender" ColSpanMd="6">
                                <DxComboBox Data="@GenderList" @bind-Value="@employee.Gender" ShowValidationIcon="true" />
                                <ValidationMessage For="@(() => employee.Gender)" />
                            </DxFormLayoutItem>
                        </DxFormLayoutGroup>
                        <DxFormLayoutGroup Caption="Login Credentials" ColSpanMd="12">
                            <DxFormLayoutItem Caption="Login ID" ColSpanMd="4">
                                <DxTextBox @bind-Text="@employee.LoginID" ShowValidationIcon="true" autocomplete="none" />
                                <ValidationMessage For="@(() => employee.LoginID)" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Password" ColSpanMd="4">
                                <DxTextBox Password="true" @bind-Text="@employee.LoginPassword" ShowValidationIcon="true" autocomplete="none" />
                                <ValidationMessage For="@(() => employee.LoginPassword)" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="User Role" ColSpanMd="4">
                                <DxComboBox Data="@_roles"
                                            NullText="Select Role..."
                                            SearchMode="ListSearchMode.AutoSearch"
                                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                                            TextFieldName="RoleName"
                                            ValueFieldName="RoleID"
                                            @bind-Value="@employee.RoleID" ShowValidationIcon="true" />
                                <ValidationMessage For="@(() => employee.RoleID)" />
                            </DxFormLayoutItem>
                        </DxFormLayoutGroup>
                        <DxFormLayoutGroup Caption="Main Employment Information" ColSpanMd="12">
                            <DxFormLayoutItem Caption="Designation" ColSpanMd="6">
                                <DxComboBox Data="@_designationItems"
                                            NullText="Select Designation..."
                                            SearchMode="ListSearchMode.AutoSearch"
                                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                                            TextFieldName="Name"
                                            ValueFieldName="DesignationID"
                                            ShowValidationIcon="true"
                                            Value="@CurrentDesignation"
                                            ValueExpression="@(() => CurrentDesignation )"
                                            ValueChanged="@((ViewDesignation depSelect) => SelectedItemChanged(depSelect))" />
                                <DxSpinEdit @bind-Value="@employee.DesignationID" ShowValidationIcon="true" style="display:none;" />
                                <ValidationMessage For="@(() => employee.DesignationID)" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Department" ColSpanMd="6">
                                <DxComboBox Data="@_departmentItems"
                                            NullText="Select Department..."
                                            SearchMode="ListSearchMode.AutoSearch"
                                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                                            TextFieldName="DepartmentName"
                                            ValueFieldName="DepartmentId"
                                            @bind-Value="@employee.DepartmentID" ReadOnly="true" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Sub Section" ColSpanMd="6">
                                <DxComboBox Data="@_subSectionItems"
                                            NullText="Select SubSection..."
                                            SearchMode="ListSearchMode.AutoSearch"
                                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                                            TextFieldName="SubSectionName"
                                            ValueFieldName="SubSectionId"
                                            @bind-Value="@employee.SubSectionID" ReadOnly="true" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Company" ColSpanMd="6">
                                <DxComboBox Data="@_plantItems"
                                            NullText="Select Company..."
                                            SearchMode="ListSearchMode.AutoSearch"
                                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                                            TextFieldName="Description"
                                            ValueFieldName="PlantID"
                                            @bind-Value="@employee.PlantID" ReadOnly="true" />

                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Section" ColSpanMd="6">
                                <DxComboBox Data="@_sectionItems"
                                            NullText="Select Section..."
                                            SearchMode="ListSearchMode.AutoSearch"
                                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                                            TextFieldName="SectionName"
                                            ValueFieldName="SectionId"
                                            @bind-Value="@employee.SectionID" ReadOnly="true" />

                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Division" ColSpanMd="6">
                                <DxComboBox Data="@_divisionsItems"
                                            NullText="Select Division..."
                                            SearchMode="ListSearchMode.AutoSearch"
                                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                                            TextFieldName="Name"
                                            ValueFieldName="DivisionID"
                                            @bind-Value="@employee.DivisionID" ReadOnly="true" />

                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Level" ColSpanMd="6">
                                <DxComboBox Data="@_leveMasterItems"
                                            NullText="Select Level..."
                                            SearchMode="ListSearchMode.AutoSearch"
                                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                                            TextFieldName="Name"
                                            ValueFieldName="LevelID"
                                            @bind-Value="@employee.LevelID" ReadOnly="true" />

                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Employment Type" ColSpanMd="6">
                                <DxComboBox Data="@_employmentTypeItems"
                                            NullText="Select Employment Type..."
                                            SearchMode="ListSearchMode.AutoSearch"
                                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                                            TextFieldName="CodeValue"
                                            ValueFieldName="CodeId"
                                            ShowValidationIcon="true"
                                            @bind-Value="@employee.TypeOfEmployeement" />
                                <ValidationMessage For="@(() => employee.TypeOfEmployeement)" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Designation Head Count" ColSpanMd="6">
                                <DxComboBox Data="@_designationCountItems"
                                            NullText="Select Designation Count..."
                                            SearchMode="ListSearchMode.AutoSearch"
                                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                                            @bind-Value="@employee.HeadCount" />
                            </DxFormLayoutItem>


                            <DxFormLayoutItem Caption="Report To" ColSpanMd="6">
                                <DxTagBox NullText="Select Report To..."
                                          Data="@_employeeItems"
                                          ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                          ValueFieldName="UserID"
                                          TextFieldName="FirstName"
                                          SearchMode="ListSearchMode.AutoSearch"
                                          SearchFilterCondition="ListSearchFilterCondition.Contains"
                                          @bind-Values="@employee.ReportToIds"
                                          CssClass="cw-480" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="SageID" ColSpanMd="6">
                                <DxTextBox @bind-Text="@employee.SageID" ShowValidationIcon="true" />
                                <ValidationMessage For="@(() => employee.SageID)" />
                            </DxFormLayoutItem>
                        </DxFormLayoutGroup>
                        <DxFormLayoutGroup Caption="Employment Information" ColSpanMd="12">
                            <DxFormLayoutItem Caption="Main Employment Status" ColSpanMd="6">
                                <DxComboBox Data="@_view_mainEmployeeStatusItems"
                                            NullText="Select Status..."
                                            SearchMode="ListSearchMode.AutoSearch"
                                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                                            TextFieldName="Value"
                                            ValueFieldName="ApplicationMasterDetailID"
                                            @bind-Value="@employee.AcceptanceStatus" />
                                <ValidationMessage For="@(() => employee.AcceptanceStatus)" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Employment Date" ColSpanMd="6">
                                <DxDateEdit NullText="Select a Employment Date..." @bind-Date="@employee.ExpectedJoiningDate" CssClass="cw-320" />
                            </DxFormLayoutItem>
                        </DxFormLayoutGroup>
                        <DxFormLayoutGroup Caption="Communication Infromation" ColSpanMd="12">
                            <DxFormLayoutItem Caption="Language" ColSpanMd="4">
                                <DxComboBox Data="@_languageMasterItems"
                                            NullText="Select Language..."
                                            SearchMode="ListSearchMode.AutoSearch"
                                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                                            TextFieldName="Name"
                                            ValueFieldName="LanguageId"
                                            ShowValidationIcon="true"
                                            @bind-Value="@employee.LanguageID" />
                                <ValidationMessage For="@(() => employee.LanguageID)" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Extension" ColSpanMd="4">
                                <DxTextBox @bind-Text="@employee.Extension" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Speed Dial" ColSpanMd="4">
                                <DxTextBox @bind-Text="@employee.SpeedDial" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Email" ColSpanMd="4">
                                <DxTextBox @bind-Text="@employee.Email" ShowValidationIcon="true" />
                                <ValidationMessage For="@(() => employee.Email)" />
                            </DxFormLayoutItem>
                        </DxFormLayoutGroup>
                    </div>

                </EditForm>

            </DxFormLayoutTabPage>

            <DxFormLayoutTabPage Caption="Other Duty Information">
                <div style="padding: 10px;border: 1px solid #d5d4d4; border-top: none"><EmployeeOtherDutyInformations EmployeeIds="@EmployeeIds"></EmployeeOtherDutyInformations></div>
            </DxFormLayoutTabPage>
            <DxFormLayoutTabPage Caption="ICT">
                <div style="padding: 10px;border: 1px solid #d5d4d4; border-top: none">
                    <DxFormLayout CssClass="w-100" style="margin-top:10px;">
                        <DxFormLayoutTabPages @bind-ActiveTabIndex="@ActiveSubTabIndex">
                            <DxFormLayoutTabPage Caption="Email Information">
                                <div style="padding: 10px;border: 1px solid #d5d4d4; border-top: none"><EmailInfo EmployeeIds="@EmployeeIds"></EmailInfo></div>
                            </DxFormLayoutTabPage>
                            <DxFormLayoutTabPage Caption="Hardware Listing">
                                <div style="padding: 10px;border: 1px solid #d5d4d4; border-top: none"><EmployeeICTHardInformation EmployeeIds="@EmployeeIds"></EmployeeICTHardInformation></div>
                            </DxFormLayoutTabPage>
                            <DxFormLayoutTabPage Caption="Software Listing">
                                <div style="padding: 10px;border: 1px solid #d5d4d4; border-top: none"><EmployeeICTInformation EmployeeIds="@EmployeeIds"></EmployeeICTInformation></div>
                            </DxFormLayoutTabPage>
                        </DxFormLayoutTabPages>
                    </DxFormLayout>
                </div>
            </DxFormLayoutTabPage>
            <DxFormLayoutTabPage Caption="Upload">
                <div style="padding: 10px;border: 1px solid #d5d4d4; border-top: none;width:100%;height: calc(100vh - 285px);"><EmployeePhoto _employeeDatas="@_employeeData" _applicationUser="@applicationUser"></EmployeePhoto></div>
            </DxFormLayoutTabPage>
            <DxFormLayoutTabPage Caption="Signature">
                <div style="padding: 10px;border: 1px solid #d5d4d4; border-top: none;width:100%;height: calc(100vh - 285px);"></div>
            </DxFormLayoutTabPage>
        </div>
    </DxFormLayoutTabPages>
</DxFormLayout>
@*</div></div>*@
<DxPopup @bind-Visible="@MessageVisible"
         HeaderText="@MessageHeader"
         BodyText="@MessageBody" />


@code {
    ViewDesignation CurrentDesignation { get; set; }
    [Parameter]
    public Guid? SessionIds { get; set; }
    private bool loading;
    private string MyID = "myid";
    long? EmployeeIds { get; set; }
    bool EditEnabledTab { get; set; } = false;
    int ActiveTabIndex { get; set; } = 0;
    int ActiveSubTabIndex { get; set; } = 0;
    private List<LanguageMaster> _languageMasterItems;
    private List<CodeMaster> _employmentTypeItems;
    private List<ApplicationRole> _roles;
    private List<ViewPlants> _plantItems;
    private List<CodeMaster> _stausItems;
    private List<ViewDepartment> _departmentItems;
    private List<ViewDivision> _divisionsItems;
    private List<ViewDesignation> _designationItems;
    private List<ViewSection> _sectionItems;
    private List<ViewSubSection> _subSectionItems;
    private List<ViewLevel> _leveMasterItems;
    private List<ViewEmployee> _employeeItems;
    private List<View_ApplicationMasterDetail> _view_mainEmployeeStatusItems;
    EmployeeResponse employee = new EmployeeResponse();
    ViewEmployee _employeeData = new ViewEmployee();
    IGrid _otherInfoGrid { get; set; }
    List<string> GenderList = new List<string>() { "Male", "Female" };
    List<int> _designationCountItems = new List<int>();
    public ApplicationUser applicationUser { get; private set; }
    bool MessageVisible { get; set; }
    string MessageHeader = "";
    string MessageBody = "";

    protected override async Task OnInitializedAsync()
    {
        CurrentDesignation = null;
        _designationItems = await Mediator.Send(new GetAllDesignationQuery());
        _employeeData = new ViewEmployee();
        if (SessionIds != null)
        {
            _employeeData = await Mediator.Send(new GetAllEmployeeBySessionQuery(SessionIds));
            EmployeeIds = _employeeData.EmployeeID;
            EditEnabledTab = EmployeeIds > 0 ? true : false;
            await loadEmployeeData(_employeeData);

        }

        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _roles = await Mediator.Send(new GetAllRoleQuery());
        _departmentItems = await Mediator.Send(new GetAllDepartmentQuery());
        _plantItems = await Mediator.Send(new GetAllPlantQuery());
        _stausItems = await Mediator.Send(new GetAllCodeMasterQuery("Status"));
        _employmentTypeItems = await Mediator.Send(new GetAllCodeMasterQuery("EmployeementType"));
        _divisionsItems = await Mediator.Send(new GetAllDivisionQuery());
        _sectionItems = await Mediator.Send(new GetAllSectionQuery());
        _subSectionItems = await Mediator.Send(new GetAllSubSectionQuery());

        _leveMasterItems = await Mediator.Send(new GetAllLevelMasterQuery());
        _languageMasterItems = await Mediator.Send(new GetAllLanguageQuery());
        _view_mainEmployeeStatusItems = await Mediator.Send(new GetAllApplicationMasterDetailQuery(226));
        _employeeItems = await Mediator.Send(new GetAllEmployeeByStatusQuery());
        employee.ExpectedJoiningDate = DateTime.Now;
    }

    void backUrl()
    {
        NavigationManager.NavigateTo("Employees");
    }
    void ResetForm()
    {
        _employeeData = new ViewEmployee();
        employee = new EmployeeResponse();
        EmployeeIds = null;
        ActiveTabIndex = 0;
        ActiveSubTabIndex = 0;
        NavigationManager.NavigateTo("Employees/EmployeeForm");
    }

    async Task loadEmployeeData(ViewEmployee _employeeData)
    {

        var employeeReportToItems = await Mediator.Send(new GetEmployeeReportToQuery(_employeeData.EmployeeID));
        if (employeeReportToItems != null)
        {
            employee.ReportToIds = employeeReportToItems.Select(s => s.ReportToId).ToList();
        }
        CurrentDesignation = _designationItems != null && _employeeData.DesignationID > 0 ? _designationItems.FirstOrDefault(f => f.DesignationID == _employeeData.DesignationID):null;
        employee.EmployeeID = _employeeData.EmployeeID;
        employee.UserID = _employeeData.UserID;
        employee.FirstName = _employeeData.FirstName;
        employee.LastName = _employeeData.LastName;
        employee.NickName = _employeeData.NickName;
        employee.Gender = _employeeData.Gender;
        employee.LoginID = _employeeData.LoginID;
        employee.LoginPassword = _employeeData.LoginPassword;
        employee.RoleID = _employeeData.RoleID;
        employee.DepartmentID = _employeeData.DepartmentID;
        employee.PlantID = _employeeData.PlantID;
        employee.DivisionID = _employeeData.DivisionID;
        employee.LevelID = _employeeData.LevelID;
        employee.SectionID = _employeeData.SectionID;
        employee.SubSectionID = _employeeData.SubSectionID;
        employee.DesignationID = _employeeData.DesignationID;
        employee.HeadCount = _employeeData.HeadCount;
        employee.TypeOfEmployeement = _employeeData.TypeOfEmployeement;
        employee.SageID = _employeeData.SageID;
        employee.AcceptanceStatus = _employeeData.AcceptanceStatus;
        employee.ExpectedJoiningDate = _employeeData.ExpectedJoiningDate;
        employee.Email = _employeeData.Email;
        employee.Extension = _employeeData.Extension;
        employee.HeadCount = _employeeData.HeadCount;
        employee.LanguageID = _employeeData.LanguageID;
        employee.SpeedDial = _employeeData.SpeedDial;
    }
    void SelectedItemChanged(ViewDesignation viewDesignation)
    {
        CurrentDesignation = null;
        employee.DesignationID = null;
        if (viewDesignation != null)
        {
            CurrentDesignation = viewDesignation;
            employee.DesignationID = viewDesignation.DesignationID;
            employee.DepartmentID = viewDesignation.DepartmentID;
            employee.PlantID = viewDesignation.CompanyID;
            employee.DivisionID = viewDesignation.DivisionID;
            employee.LevelID = viewDesignation.LevelID;

            employee.SectionID = viewDesignation.SectionID;
            employee.SubSectionID = viewDesignation.SubSectionID;
            employee.DesignationID = viewDesignation.DesignationID;
            _designationCountItems = new List<int>();
            if (viewDesignation.HeadCount > 0)
            {
                for (int i = 1; i <= viewDesignation.HeadCount; i++)
                {
                    _designationCountItems.Add(i);
                }
            }
        }
    }
    void onsubmitClick()
    {
        ActiveTabIndex = 0;
        ActiveSubTabIndex = 0;
    }
    async Task HandleValidSubmit()
    {

        loading = true;
        var editableData = employee;
        if (editableData.EmployeeID > 0)
        {
            var request = new EditEmployeeCommand
                {
                    EmployeeID = editableData.EmployeeID,
                    UserID = editableData.UserID,
                    LoginID = editableData.LoginID,
                    FirstName = editableData.FirstName,
                    LastName = editableData.LastName,
                    NickName = editableData.NickName,
                    Gender = editableData.Gender,
                    LanguageID = editableData.LanguageID,
                    SpeedDial = editableData.SpeedDial,
                    ReportToIds = editableData.ReportToIds,
                    AddedByUserID = applicationUser.UserID,
                    ModifiedByUserID = applicationUser.UserID,
                    StatusCodeID = 1,
                    SageID = editableData.SageID,
                    DepartmentID = editableData.DepartmentID,
                    LoginPassword = editableData.LoginPassword,
                    RoleID = editableData.RoleID,
                    PlantID = editableData.PlantID,
                    DivisionID = editableData.DivisionID,
                    LevelID = editableData.LevelID,
                    SectionID = editableData.SectionID,
                    SubSectionID = editableData.SubSectionID,
                    DesignationID = editableData.DesignationID,
                    Email = editableData.Email,
                    ExpectedJoiningDate = editableData.ExpectedJoiningDate,
                    TypeOfEmployeement = editableData.TypeOfEmployeement,
                    AcceptanceStatus = editableData.AcceptanceStatus,
                    Extension = editableData.Extension,
                    HeadCount = editableData.HeadCount,


                };
            var response = await Mediator.Send(request);
            if (response.EmployeeID > 0)
            {
                onShowPopupMessage("Message", "Employee Updated Successfully");
                employee.EmployeeID = response.EmployeeID;
                employee.UserID = response.UserID;
                employee.SessionId = response.SessionId;
                EmployeeIds = response.EmployeeID;
                NavigationManager.NavigateTo("Employees/EmployeeForm/" + response.SessionId + "");
            }
            loading = false;
        }
        else
        {
            var request = new CreateEmployeeCommand
                {
                    LoginID = editableData.LoginID,
                    FirstName = editableData.FirstName,
                    LastName = editableData.LastName,
                    NickName = editableData.NickName,
                    Gender = editableData.Gender,
                    LanguageID = editableData.LanguageID,
                    SpeedDial = editableData.SpeedDial,
                    ReportToIds = editableData.ReportToIds,
                    AddedByUserID = applicationUser.UserID,
                    ModifiedByUserID = applicationUser.UserID,
                    StatusCodeID = 1,
                    SageID = editableData.SageID,
                    DepartmentID = editableData.DepartmentID,
                    LoginPassword = editableData.LoginPassword,
                    RoleID = editableData.RoleID,
                    PlantID = editableData.PlantID,
                    DivisionID = editableData.DivisionID,
                    LevelID = editableData.LevelID,
                    SectionID = editableData.SectionID,
                    SubSectionID = editableData.SubSectionID,
                    DesignationID = editableData.DesignationID,
                    Email = editableData.Email,
                    ExpectedJoiningDate = editableData.ExpectedJoiningDate,
                    TypeOfEmployeement = editableData.TypeOfEmployeement,
                    AcceptanceStatus = editableData.AcceptanceStatus,
                    Extension = editableData.Extension,
                    HeadCount = editableData.HeadCount,


                };
            var response = await Mediator.Send(request);
            if (response.EmployeeID > 0)
            {
                onShowPopupMessage("Message", "Employee Added Successfully");
                employee.EmployeeID = response.EmployeeID;
                employee.UserID = response.UserID;
                employee.SessionId = response.SessionId;
                EmployeeIds = response.EmployeeID;
                NavigationManager.NavigateTo("Employees/EmployeeForm/" + response.SessionId + "");
            }
            loading = false;
        }
    }
    private async void onShowPopupMessage(string headerText, string bodyText)
    {
        MessageVisible = true;
        MessageBody = bodyText;
        MessageHeader = headerText;
        StateHasChanged();
    }
    void HandleInvalidSubmit()
    {
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
        if (e.ElementType == GridElementType.HeaderCell)
        {
            e.Style = "background-color: rgba(0, 0, 0, 0.08)";
            e.CssClass = "header-bold";
        }
    }
}
