@using Application.Command.EmployeeEmailInfos;
@using Application.Command.EmployeeICTInformations;
@using Application.Commands;
@using Application.Queries;
@using MediatR
@using global::Core.Entities.Views;
@using global::Core.Entities;
@inject IMediator Mediator
@using DevExpress.Export
@using Application.Response;
@using global::Core.Repositories.Query;
@inject ILocalStorageService<ApplicationUser> _localStorageService

<div class="card w-100" style="margin-bottom:10px;margin-top:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNewIctInfo" Enabled="@AddEnabledIctInfo" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEditIctInfo" Enabled="@EditEnabledIctInfo" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDeleteIctInfo" Enabled="@DeleteEnabledIctInfo" />
            </Items>
        </DxMenu>
    </div>
</div>
<DxGrid @ref="IctInfoGrid"
        Data="_employeeICTInformationItems"
        KeyFieldName="EmployeeIctinformationId"
        EditModelSaving="Grid_EditModelSavingIctInfo"
        DataItemDeleting="Grid_DataItemDeletingIctInfo"
        CustomizeEditModel="Grid_CustomizeEditModelIctInfo"
        CustomizeElement="Grid_CustomizeElement"
        ShowSearchBox="true"
        PagerNavigationMode="PagerNavigationMode.InputBox"
        PageSizeSelectorVisible="true"
        PageSizeSelectorAllRowsItemVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20"
        SelectionMode="GridSelectionMode.Multiple"
        SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
        ValidationEnabled="true"
        AutoExpandAllGroupRows="true"
        CssClass="ch-360"
        style="height: calc(50vh - 50px);"
        FocusedRowEnabled="true"
        RowClick="OnRowIctInfoClick"
        AllowSelectRowByClick="true">
    <Columns>
        <DxGridDataColumn FieldName="EmployeeIctinformationId" MinWidth="80" Visible="false" />
        <DxGridDataColumn FieldName="SoftwareName" Caption="Software Name" MinWidth="80" />
        <DxGridDataColumn FieldName="LoginId" Caption="Login ID" MinWidth="80" />
        <DxGridDataColumn FieldName="RoleName" Caption="Role Name" MinWidth="80" />
        <DxGridDataColumn FieldName="StatusCode" Caption="Status Code" MinWidth="80" />
        @*<DxGridCommandColumn Width="150px">
        </DxGridCommandColumn>*@
    </Columns>
    <EditFormTemplate Context="EditFormContext">
        @{
            var ictInfoData = (View_EmployeeICTInformation)EditFormContext.EditModel;
        }
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="Software Name" ColSpanMd="6">
                <DxComboBox Data="@_view_ApplicationMasterDetailsSoftware"
                            NullText="Select Software..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="Value"
                            ValueFieldName="ApplicationMasterDetailID"
                            @bind-Value="@ictInfoData.SoftwareId" />
                <ValidationMessage For="@(() => ictInfoData.SoftwareId)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Login ID" ColSpanMd="6">
                <DxTextBox @bind-Text="@ictInfoData.LoginId" ShowValidationIcon="true" />
                <ValidationMessage For="@(() => ictInfoData.LoginId)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Password" ColSpanMd="6">
                <DxTextBox Password="true" @bind-Text="@ictInfoData.Password" ShowValidationIcon="true" />
                <ValidationMessage For="@(() => ictInfoData.Password)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="User Role" ColSpanMd="6">
                <DxComboBox Data="@_rolesItems"
                            NullText="Select Role..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="RoleName"
                            ValueFieldName="RoleID"
                            @bind-Value="@ictInfoData.RoleId" ShowValidationIcon="true" />
                <ValidationMessage For="@(() => ictInfoData.RoleId)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Status" ColSpanMd="6">
                <DxComboBox Data="@_stausItems"
                            NullText="Select Status..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="CodeValue"
                            ValueFieldName="CodeId"
                            @bind-Value="@ictInfoData.StatusCodeId"
                            ShowValidationIcon="true">
                </DxComboBox>
                <ValidationMessage For="@(() => ictInfoData.StatusCodeId)" />
            </DxFormLayoutItem>
        </DxFormLayout>
    </EditFormTemplate>
</DxGrid>
@code {
    [Parameter]
    public long? EmployeeIds { get; set; }
    private List<View_EmployeeICTInformation> _employeeICTInformationItems;
    private List<View_ApplicationMasterDetail> _view_ApplicationMasterDetailsSoftware;
    private List<ApplicationRole> _rolesItems;
    public ApplicationUser applicationUser { get; private set; }
    IGrid IctInfoGrid { get; set; }
    private List<CodeMaster> _stausItems;
    private View_EmployeeICTInformation _employeeICTInfoselectedItems;
    bool EditEnabledIctInfo { get; set; } = false;
    bool DeleteEnabledIctInfo { get; set; } = false; 
    bool AddEnabledIctInfo { get; set; } = false;
    protected override async Task OnInitializedAsync()
    {

        if (EmployeeIds > 0)
        {
            AddEnabledIctInfo = true;
            applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
            _employeeICTInformationItems = await Mediator.Send(new GetEmployeeICTInformationQuery(EmployeeIds));
            _view_ApplicationMasterDetailsSoftware = await Mediator.Send(new GetAllApplicationMasterDetailQuery(221));
            _rolesItems = await Mediator.Send(new GetAllRoleQuery());
            _stausItems = await Mediator.Send(new GetAllCodeMasterQuery("Status"));
        }
    }
    async Task UpdateDataAsyncIctInfo()
    {
        _employeeICTInformationItems = await Mediator.Send(new GetEmployeeICTInformationQuery(EmployeeIds));
    }
    void OnRowIctInfoClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "EmployeeIctinformationId");
        _employeeICTInfoselectedItems = _employeeICTInformationItems.FirstOrDefault(f => f.EmployeeIctinformationId == (long?)UniqueId);
        EditEnabledIctInfo = true;
        DeleteEnabledIctInfo = true;
        StateHasChanged();

    }
    void addNewIctInfo()
    {
        IctInfoGrid.StartEditNewRowAsync();
        EditEnabledIctInfo = false;
        DeleteEnabledIctInfo = false;
    }
    void addEditIctInfo()
    {
        IctInfoGrid.StartEditDataItemAsync(_employeeICTInfoselectedItems);
        EditEnabledIctInfo = false;
        DeleteEnabledIctInfo = false;
    }
    void addDeleteIctInfo()
    {
        IctInfoGrid.ShowDataItemDeleteConfirmation(_employeeICTInfoselectedItems);
        EditEnabledIctInfo = false;
        DeleteEnabledIctInfo = false;
    }
    void Grid_CustomizeEditModelIctInfo(GridCustomizeEditModelEventArgs e)
    {
        if (EmployeeIds > 0)
        {
            var newplant = (View_EmployeeICTInformation)e.EditModel;
            if (e.IsNew)
            {
                newplant.EmployeeId = EmployeeIds;
                newplant.SoftwareId = null;
                newplant.LoginId = "";
                newplant.Password = "";
            }
            else
            {

            }
        }
    }
    async Task Grid_EditModelSavingIctInfo(GridEditModelSavingEventArgs e)
    {
        var editablePlant = (View_EmployeeICTInformation)e.EditModel;
        if (e.IsNew)
        {
            var request = new CreateEmployeeICTInformationCommand
                {
                    EmployeeId = EmployeeIds,
                    SoftwareId = editablePlant.SoftwareId,
                    LoginId = editablePlant.LoginId,
                    Password = editablePlant.Password,
                    StatusCodeId = editablePlant.StatusCodeId,
                    AddedByUserId = applicationUser.UserID,
                    ModifiedByUserId = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    ModifiedDate = DateTime.Now,
                    RoleId = editablePlant.RoleId,
                };
            await Mediator.Send(request);
            await UpdateDataAsyncIctInfo();
        }
        else
        {
            await UpdatePlantAsyncIctInfo(editablePlant);
        }
    }
    async Task Grid_DataItemDeletingIctInfo(GridDataItemDeletingEventArgs e)
    {
        var editablePlant = (View_EmployeeICTInformation)e.DataItem;
        var request = new DeleteEmployeeICTInformationCommand(editablePlant.EmployeeIctinformationId);
        await Mediator.Send(request);
        await UpdateDataAsyncIctInfo();
    }
    async Task UpdatePlantAsyncIctInfo(View_EmployeeICTInformation editablePlant)
    {
        var request = new EditEmployeeICTInformationCommand
            {
                EmployeeIctinformationId = editablePlant.EmployeeIctinformationId,
                EmployeeId = EmployeeIds,
                SoftwareId = editablePlant.SoftwareId,
                LoginId = editablePlant.LoginId,
                Password = editablePlant.Password,
                StatusCodeId = editablePlant.StatusCodeId,
                AddedByUserId = editablePlant.AddedByUserId,
                ModifiedByUserId = applicationUser.UserID,
                AddedDate = editablePlant.AddedDate,
                ModifiedDate = DateTime.Now,
                RoleId = editablePlant.RoleId,
            };
        await Mediator.Send(request);
        await UpdateDataAsyncIctInfo();
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
        if (e.ElementType == GridElementType.HeaderCell)
        {
            e.Style = "background-color: rgba(0, 0, 0, 0.08)";
            e.CssClass = "header-bold";
        }
    }
}
