@using Application.Queries;
@using DevExtreme.AspNet.Data.ResponseModel;
@using DevExtreme.AspNet.Data;
@using Duende.IdentityServer.Models;
@using MediatR
@using System.Threading;
@using System.Text.Json;
@using global::Core.Entities.Views;
@using global::Core.Entities;
@using global::Core.Repositories.Query;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject IMediator Mediator
@using DevExpress.Export
@using Application.Response;
@using global::Core.EntityModels
@inject NavigationManager NavigationManager
@page "/Employees"
@inject IJSRuntime jsRuntime
@implements IAsyncDisposable


<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" Enabled="@AddEnabled" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportToExcel" Enabled="@ExportEnabled" />
                @*  <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />*@
               @*  <DxMenuItem Text="Audit Log" IconCssClass="fa fa-info-circle">
                    <Items>
                        <DxMenuItem Text="Current Records" IconCssClass="fa fa-info-circle" Click="@(() => viewAuditLog(false))" />
                        <DxMenuItem Text="Deleted Records" IconCssClass="fa fa-remove" Click="@(() => viewAuditLog(true))" />
                    </Items>
                </DxMenuItem> *@
            </Items>
        </DxMenu>
    </div>
</div>
@*@if (_employeeItems == null)
{
    <div class="spinner"></div>
}
else
{*@

<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">
    @* <div class="align-self-end pl-2 pb-2">
        <DxButton Text="Column Chooser"
                  RenderStyle="ButtonRenderStyle.Secondary"
                  IconCssClass="btn-column-chooser"
                  Click="ColumnChooserButton_Click" />
    </div>
   *@

    <DxGrid @ref="Grid" FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            Data="_employeeItems"
            KeyFieldName="EmployeeID"
            EditModelSaving="Grid_EditModelSaving"
            DataItemDeleting="Grid_DataItemDeleting"
            CustomizeElement="Grid_CustomizeElement"
            ShowSearchBox="true"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            VirtualScrollingEnabled="true"
            SelectionMode="GridSelectionMode.Multiple"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            AutoExpandAllGroupRows="true"
            CssClass="ch-360"
            style="height: calc(100vh - 200px);"
            FocusedRowEnabled="true"
            RowClick="OnRowClick"
            AllowSelectRowByClick="true"
            ShowGroupPanel="true" ShowGroupedColumns="true">

        <Columns>
            <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
            <DxGridDataColumn FieldName="EmployeeID" MinWidth="80" Visible="false" />
            <DxGridDataColumn FieldName="SageID" MinWidth="80" />
            <DxGridDataColumn FieldName="FirstName" MinWidth="80" />
            <DxGridDataColumn FieldName="LastName" MinWidth="80" />
            <DxGridDataColumn FieldName="NickName" MinWidth="80" />
            <DxGridDataColumn FieldName="DesignationName" MinWidth="80" />
            <DxGridDataColumn FieldName="Status" Caption="Status" MinWidth="80" />
            <DxGridDataColumn FieldName="ModifiedDate" Width="180">
                <CellDisplayTemplate>
                    @{
                        var item = (ViewEmployee)context.DataItem;
                    }
                    @Application.Common.Helper.Helper.FormatDateTime(item.ModifiedDate)
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="ModifiedByUser" Width="10%" />
            @* <DxGridCommandColumn Width="150px" NewButtonVisible="true" EditButtonVisible="false" DeleteButtonVisible="false">
            <HeaderTemplate>
                <DxButton Click="@NewEmployeeForm" RenderStyle="ButtonRenderStyle.Link" RenderStyleMode="ButtonRenderStyleMode.Contained"  Text="Add" />
            </HeaderTemplate>
            <CellDisplayTemplate>
                @{
                    
                    //<DxButton Click="() => Grid.ShowDataItemDeleteConfirmation(context.DataItem)"
                    //      Text="Delete" RenderStyle="ButtonRenderStyle.Link" RenderStyleMode="ButtonRenderStyleMode.Contained" />
                    <NavLink href="javascrtpit:void(0);" @onclick="@(() => EditEmployeeOnPage((ViewEmployee)context.DataItem))" RenderStyle="@ButtonRenderStyle.Secondary">Edit</NavLink>
                }
            </CellDisplayTemplate>
        </DxGridCommandColumn>*@

        </Columns>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="SageID" />
        </TotalSummary>
    </DxGrid>
</DxLoadingPanel>
<DxPopup @bind-Visible="@AuditLogPopUp"
         ShowFooter="false"
         HeaderText="Audit Log"
         CloseOnOutsideClick="false"
         ShowCloseButton="true"
         MinWidth="500" MinHeight="200" MaxWidth="1200px" MaxHeight="800">
    <BodyContentTemplate>
        <AC.SD.Core.Pages.Masters.HRMasterAuditTrailList AddTypeId="EmployeeId" IsAll="true" MasterType="ApplicationUser,ApplicationUserRole,Employee,EmployeeOtherDutyInformation,EmployeeEmailInfo,EmployeeICTInformation,EmployeeICTHardInformation" MasterId="_selectedItems?.EmployeeID" IsDeleted="@IsDeleted"></AC.SD.Core.Pages.Masters.HRMasterAuditTrailList>
    </BodyContentTemplate>

</DxPopup>
@code {
    public bool? IsDeleted { get; set; } = false;
    bool AuditLogPopUp { get; set; } = false;
    private List<ViewEmployee> _employeeItems;
    bool EditEnabled { get; set; } = false; bool AddEnabled { get; set; } = false;
    bool DeleteEnabled { get; set; } = false; bool ExportEnabled { get; set; } = false;
    private List<PortalMenuModel> portalMenuModels { get; set; }
    private ViewEmployee _selectedItems;
    IGrid Grid { get; set; }
    bool ExportSelectedRowsOnly { get; set; }
    bool PanelVisible { get; set; }
    public ApplicationUser applicationUser { get; private set; }
    protected override async Task OnInitializedAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        PanelVisible = true;
        if (applicationUser != null && applicationUser.UserID > 0)
        {
            portalMenuModels = await Mediator.Send(new GetAllApplicationPermissionAllQuery(applicationUser?.UserID));
        }
        _employeeItems = await Mediator.Send(new GetAllUserWithoutStatusQuery());
        PanelVisible = false;
        //   await jsRuntime.InvokeAsync<string>("hideLoading");
        if (_employeeItems.Count > 0)
        {

            _selectedItems = _employeeItems.FirstOrDefault();
            EditEnabled = true;
            DeleteEnabled = true;
           
        }
        AddEnabled = portalMenuModels.Any(f => f.PermissionID == 60048);
        EditEnabled = portalMenuModels.Any(f => f.PermissionID == 60049);
        DeleteEnabled = portalMenuModels.Any(f => f.PermissionID == 60050);
        ExportEnabled = portalMenuModels.Any(f => f.PermissionID == 60051);
        StateHasChanged();
    }
    private async Task LoadEmployeesAsync()
    {
        //System.Threading.Thread.Sleep(10);
        //_employeeItems = await Mediator.Send(new GetAllEmployeeQuery());
        // Retrieve data from the server and initialize
        // Employees property which the View will bind
    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "EmployeeID");
        _selectedItems = _employeeItems.FirstOrDefault(f => f.EmployeeID == (long?)UniqueId);


    }
    void viewAuditLog(bool isdeleted)
    {
        IsDeleted = isdeleted;
        AuditLogPopUp = true;
    }
    void addNew()
    {

        NavigationManager.NavigateTo("Employees/EmployeeForm");
    }
    void addEdit()
    {
        //Grid.StartEditDataItemAsync(_selectedItems);
        NavigationManager.NavigateTo("Employees/EmployeeForm/" + _selectedItems.SessionId + "");

    }
    void addDelete()
    {
        Grid.ShowDataItemDeleteConfirmation(_selectedItems);

    }
    async Task UpdateDataAsync()
    {
        await jsRuntime.InvokeAsync<string>("showLoading");

        _employeeItems = await Mediator.Send(new GetAllUserWithoutStatusQuery());
        await jsRuntime.InvokeAsync<string>("hideLoading");
    }
    void NewEmployeeForm(MouseEventArgs args)
    {
        NavigationManager.NavigateTo("Employees/EmployeeForm");
    }

    void EditEmployeeOnPage(ViewEmployee viewEmployee)
    {
        NavigationManager.NavigateTo("Employees/EmployeeForm/" + viewEmployee.SessionId + "");
    }
    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {

    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {


    }
    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {

    }
    async Task UpdatePlantAsync(ViewPlants editablePlant)
    {

    }
    public void ShowDetails(int plantId)
    {

    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    async Task ExportToExcel()
    {
        await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
        {
            ExportSelectedRowsOnly = true,
            CustomizeCell = OnCustomizeCell
        });
    }
    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }
    public async ValueTask DisposeAsync()
    {
        if (_employeeItems != null)
        {
            _employeeItems.Clear();
            _employeeItems = null;
        }


        _selectedItems = null;

    }
    //void ColumnChooserButton_Click()
    //{
    //    Grid.ShowColumnChooser();
    //}
    ////void OnCustomizeFilterMenu(GridCustomizeFilterMenuEventArgs e)
    //{
    //    if (e.DataColumn.FieldName == "FirstName")
    //    {CustomizeFilterMenu="OnCustomizeFilterMenu"
    //        e.DataItems.ForEach(di =>
    //        {
    //            long? CustomerID = _employeeItems.Where(c =>
    //                c.FirstName == di.Value.ToString()).FirstOrDefault()?.EmployeeID;
    //            di.DisplayText = di.DisplayText + " (EmployeeID " + CustomerID + ")";
    //        });
    //    }
    //}
}
