@using Application.Queries;
@using MediatR
@using global::Core.Entities.Views;
@using global::Core.Entities;
@inject IMediator Mediator
@using DevExpress.Export
@using Application.Response;
@inject NavigationManager NavigationManager
@page "/Employees"
@inject IJSRuntime jsRuntime

<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
              @*  <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />*@
            </Items>
        </DxMenu>
    </div>
</div>
<DxGrid @ref="Grid"
        Data="_employeeItems"
        KeyFieldName="EmployeeID"
        EditModelSaving="Grid_EditModelSaving"
        DataItemDeleting="Grid_DataItemDeleting"
        CustomizeElement="Grid_CustomizeElement"
        ShowSearchBox="true"
        PagerNavigationMode="PagerNavigationMode.InputBox"
        PageSizeSelectorVisible="true"
        PageSizeSelectorAllRowsItemVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20"
        SelectionMode="GridSelectionMode.Multiple"
        SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
        AutoExpandAllGroupRows="true"
        CssClass="ch-360"
        style="height: calc(100vh - 200px);"
        FocusedRowEnabled="true"
        RowClick="OnRowClick"
        AllowSelectRowByClick="true">
    <Columns>
        <DxGridDataColumn FieldName="EmployeeID" MinWidth="80" Visible="false" />
        <DxGridDataColumn FieldName="SageID" MinWidth="80" />
        <DxGridDataColumn FieldName="FirstName" MinWidth="80" />
        <DxGridDataColumn FieldName="LastName" MinWidth="80" />
        <DxGridDataColumn FieldName="NickName" MinWidth="80" />
        <DxGridDataColumn FieldName="StatusCode" MinWidth="80" />
        <DxGridDataColumn FieldName="ModifiedDate" Width="10%" />  
        <DxGridDataColumn FieldName="ModifiedByUser" Width="10%" />
       @* <DxGridCommandColumn Width="150px" NewButtonVisible="true" EditButtonVisible="false" DeleteButtonVisible="false">
            <HeaderTemplate>
                <DxButton Click="@NewEmployeeForm" RenderStyle="ButtonRenderStyle.Link" RenderStyleMode="ButtonRenderStyleMode.Contained"  Text="Add" />
            </HeaderTemplate>
            <CellDisplayTemplate>
                @{
                    
                    //<DxButton Click="() => Grid.ShowDataItemDeleteConfirmation(context.DataItem)"
                    //      Text="Delete" RenderStyle="ButtonRenderStyle.Link" RenderStyleMode="ButtonRenderStyleMode.Contained" />
                    <NavLink href="javascrtpit:void(0);" @onclick="@(() => EditEmployeeOnPage((ViewEmployee)context.DataItem))" RenderStyle="@ButtonRenderStyle.Secondary">Edit</NavLink>
                }
            </CellDisplayTemplate>
        </DxGridCommandColumn>*@

    </Columns>
    <TotalSummary>
        <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="SageID" />
    </TotalSummary>
</DxGrid>

@code {
    private List<ViewEmployee> _employeeItems;
    bool EditEnabled { get; set; } = false;
    bool DeleteEnabled { get; set; } = false;
    private ViewEmployee _selectedItems;
    IGrid Grid { get; set; }
    protected override async Task OnInitializedAsync()
    {
        _employeeItems = await Mediator.Send(new GetAllEmployeeQuery());


    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "PlantID");
        _selectedItems = _employeeItems.FirstOrDefault(f => f.PlantID == (long?)UniqueId);
        EditEnabled = true;
        DeleteEnabled = true;
        StateHasChanged();

    }
    void addNew()
    {
        EditEnabled = false;
        DeleteEnabled = false;
        NavigationManager.NavigateTo("EmployeeForm");
    }
    void addEdit()
    {
        //Grid.StartEditDataItemAsync(_selectedItems);
        NavigationManager.NavigateTo("EmployeeForm/" + _selectedItems.SessionId + "");
        EditEnabled = false;
        DeleteEnabled = false;
    }
    void addDelete()
    {
        Grid.ShowDataItemDeleteConfirmation(_selectedItems);
        EditEnabled = false;
        DeleteEnabled = false;
    }
    async Task UpdateDataAsync()
    {
        _employeeItems = await Mediator.Send(new GetAllEmployeeQuery());
    }
    void NewEmployeeForm(MouseEventArgs args)
    {
        NavigationManager.NavigateTo("EmployeeForm");
    }

    void EditEmployeeOnPage(ViewEmployee viewEmployee)
    {
        NavigationManager.NavigateTo("EmployeeForm/" + viewEmployee.SessionId + "");
    }
    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {

    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {


    }
    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {

    }
    async Task UpdatePlantAsync(ViewPlants editablePlant)
    {

    }
    public void ShowDetails(int plantId)
    {

    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
        if (e.ElementType == GridElementType.HeaderCell)
        {
            e.Style = "background-color: rgba(0, 0, 0, 0.08)";
            e.CssClass = "header-bold";
        }
    }
}
