@implements IDisposable
@inject DemoConfiguration Configurations
@inject NavigationManager NavigationManager
@using System.Net
@using global::Core.EntityModels;
@using Application.Queries;
@using MediatR
@inject IMediator Mediator
@using global::Core.Repositories.Query;
@using global::Core.Entities;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration
@* <div class="items">
    @foreach (var item in Items)
    {
        @if (!string.IsNullOrEmpty(item.Item2))
        {
            <a href="@item.Item2">@item.Item1</a>
        }
        else
        {
            <span>@item.Item1</span>
        }
        <span class="separator"></span>
    }
</div> *@

<div class="items">
    <DxTabs CssClass="w-100" RenderMode="TabsRenderMode.Default" AllowTabReorder="false" ScrollMode="TabsScrollMode.Auto" ActiveTabIndex="@ActiveTabIndex" TabClosing="TabClosing">
        <DxTabPage TabIconCssClass="tabs-icon-home tabs-icon" Click="@OnHomeClick" />

        @foreach (var item in breadcrumbs)
        {
            <DxTabPage @key="item.Name" Text="@item.Title" Id="@item.Name" AllowClose="true" Click="@(() => OnPageClick(item))">

            </DxTabPage>
        }
    </DxTabs>

</div>


<DxPopup HeaderText="Access Denied"
         @bind-Visible="@PopupVisible"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         ShowFooter="true"
         ShowCloseButton="false">
    <BodyContentTemplate>
        <PermissionDenied _portalMenuModelData="@portalMenuModelData" RevokeBackPermission="BackPermission"></PermissionDenied>
    </BodyContentTemplate>
    <FooterContentTemplate>
        <DxButton CssClass="popup-button my-1 ms-2" RenderStyle="ButtonRenderStyle.Primary" Text="Dashboard" Click="@(() => goDashBoard())" />
        <DxButton CssClass="popup-button my-1 ms-2" RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() =>PopupVisible=false)" />
    </FooterContentTemplate>
</DxPopup>
@code {
    bool PopupVisible { get; set; } = false;
    public PortalMenuModel portalMenuModelData { get; set; }
    [Parameter]
    public PortalMenuModel _appPermissionListItems { get; set; }
    private List<PortalMenuModel> _appPermissionItems;
    public ApplicationUser applicationUser { get; private set; }
    const string HomePageTitle = "Home";
    List<Tuple<string, string>> Items { get; set; } = new List<Tuple<string, string>>();

    int ActiveTabIndex { get; set; } = 1;
    List<BreadcrumbModel> breadcrumbs { get; set; } = new List<BreadcrumbModel>();
    string selectedItem = "";
    BreadcrumbModel removedSiteMap;
    string screenID = "";

    private bool isDevelopmentMode;
    protected override async Task OnInitializedAsync()
    {
        isDevelopmentMode = Boolean.Parse(Configuration["IsDevelopmentMode"] != null ? Configuration["IsDevelopmentMode"] : "true");
        //page navigation
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        if (applicationUser == null)
        {

            var returnUrl = WebUtility.UrlEncode(new Uri(NavigationManager.Uri).PathAndQuery);


            //var returnUrls = NavigationManager.Uri;
            // var returnUrl = Uri.EscapeDataString(returnUrls);
            await _localStorageService.SetItem("ReturnUrl", returnUrl);



            NavigationManager.NavigateTo($"Login", forceLoad: true);
        }
        else
        {
            _appPermissionItems = await Mediator.Send(new GetAllApplicationPermissionAllQuery(applicationUser.UserID));
            //BreadcrumbsGenerate();
        }



        NavigationManager.LocationChanged += OnLocationChanged;

        breadcrumbs = new List<BreadcrumbModel>();
        removedSiteMap = new BreadcrumbModel();

        //UpdateItems(NavigationManager.Uri)dashboard;

    }
    async Task OnPageClick(BreadcrumbModel page)
    {
        NavigationManager.NavigateTo(page.URL);
        await InvokeAsync(StateHasChanged);
    }
    async Task OnHomeClick()
    {
        ActiveTabIndex = 0;
        NavigationManager.NavigateTo("myday");
        await InvokeAsync(StateHasChanged);
    }
    void BackPermission()
    {
        PopupVisible = false;
        StateHasChanged();
    }
    void goDashBoard()
    {

        PopupVisible = false;
        NavigationManager.NavigateTo("dashboard");
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await UpdateItems(NavigationManager.Uri);
    }
    void BreadcrumbsGenerate()
    {
        string str = NavigationManager.Uri;
        string rep1 = str.Replace(NavigationManager.BaseUri, "").ToLower();
        string[] UrlList = rep1.Split("/");
        Items.Add(new(HomePageTitle, ""));
        if (UrlList.Length > 0 && UrlList[0] != null)
        {
            if (UrlList[0] == "portalurl")
            {
                var list1 = _appPermissionItems.FirstOrDefault(f => f.Component != null && f.Component.ToLower() == UrlList[0] && f.UniqueSessionID.ToString() == UrlList[1]);
                if (list1 != null)
                {

                    if (list1.ParentID != null)
                    {
                        var list2 = _appPermissionItems.FirstOrDefault(f => f.PermissionID == list1.ParentID);
                        if (list2 != null)
                        {
                            Items.Add(new(list2.Title, ""));
                        }
                    }
                    Items.Add(new(list1.Title, ""));

                }
            }
            else if (UrlList[0] == "login")
            {

            }
            else
            {
                var list1 = _appPermissionItems.FirstOrDefault(f => f.Component != null && f.Component.ToLower() == UrlList[0]);
                if (list1 != null)
                {
                    if (list1.ParentID == 60248)
                    {
                        var list2 = _appPermissionItems.FirstOrDefault(f => f.PermissionID == list1.ParentID);
                        if (list2 != null)
                        {
                            Items.Add(new(list2.Title, ""));
                        }
                        if (UrlList.Length == 3 || UrlList.Length == 4)
                        {
                            var dynamicMenu = _appPermissionItems.FirstOrDefault(f => f.PermissionURL != null && f.PermissionURL.ToLower() == UrlList[2]);
                            if (dynamicMenu != null)
                            {
                                Items.Add(new(dynamicMenu.Header, ""));
                            }
                            else
                            {
                                // Items.Add(new(list1.Title, ""));
                            }
                        }
                    }
                    else
                    {
                        if (list1.ParentID != null)
                        {
                            var list2 = _appPermissionItems.FirstOrDefault(f => f.PermissionID == list1.ParentID);
                            if (list2 != null)
                            {
                                Items.Add(new(list2.Title, ""));
                            }
                        }
                        Items.Add(new(list1.Title, ""));
                    }
                }
                else
                {
                    if (isDevelopmentMode == false)
                    {
                        portalMenuModelData = list1;
                        PopupVisible = true;
                    }
                    //    var list5 = UrlList[0];
                    //    Items.Add(new(list5, ""));

                }
            }
        }

    }
    void OnLocationChanged(object sender, LocationChangedEventArgs args)
    {
        // Items.Clear();
        // BreadcrumbsGenerate();
        // StateHasChanged();

        UpdateItems(args.Location);
    }
    // void UpdateItems(string currentUri)
    // {
    //     Items.Clear();
    //     StateHasChanged();
    // }

    async Task UpdateItems(string currentUri)
    {
        var uri = new Uri(NavigationManager.Uri);
        var currentPageName = uri.Segments.LastOrDefault()?.Trim('/');

        if (string.IsNullOrWhiteSpace(currentPageName))
            return;

        var menulisting = await Mediator.Send(new GetAllApplicationPermissionAllQuery(applicationUser.UserID));
        if (menulisting is null || !menulisting.Any())
            return;

        var validMenuItems = menulisting.Where(f => !string.IsNullOrWhiteSpace(f.Name)).ToList();

        PortalMenuModel pageItem = validMenuItems
            .FirstOrDefault(f => f.Name.Equals(currentPageName, StringComparison.OrdinalIgnoreCase));

        if (pageItem == null && Guid.TryParse(currentPageName, out var currentGuid))
        {
            pageItem = menulisting.FirstOrDefault(f => f.UniqueSessionID == currentGuid);
            if (pageItem != null)
            {
                selectedItem = $"{pageItem.Name}/{pageItem.UniqueSessionID}";
            }
        }
        else if (pageItem != null)
        {
            selectedItem = pageItem.Name;
        }

        if (pageItem == null)
            return;

        string url = selectedItem;

        AddBreadcrumbIfNotExists(pageItem, url, selectedItem);

        ActiveTabIndex = breadcrumbs.FindIndex(i => i.Name == selectedItem) + 1;
        StateHasChanged();
    }


    void AddBreadcrumbIfNotExists(PortalMenuModel item, string url, string name)
    {
        if (!breadcrumbs.Any(b => b.PermissionID == item.PermissionID))
        {
            breadcrumbs.Add(new BreadcrumbModel
            {
                Title = item.Title,
                Selected = true,
                URL = url,
                Name = name,
                PermissionID = item.PermissionID
            });
        }
    }



    async Task UpdateItems_v(string currentUri)
    {
        // Get the last segment of the URL as the current page name
        var uri = new Uri(NavigationManager.Uri);
        var currentPageName = uri.Segments.LastOrDefault()?.Trim('/');

        if (!string.IsNullOrEmpty(currentPageName))
        {
            var menulisting = await Mediator.Send(new GetAllApplicationPermissionAllQuery(applicationUser.UserID));

            if (menulisting.Any())
            {
                var validMenuItems = menulisting.Where(f => !string.IsNullOrEmpty(f.Name)).ToList();
                var currentPage = validMenuItems.FirstOrDefault(f => f.Name.Equals(currentPageName, StringComparison.OrdinalIgnoreCase));
                               

                //var currentPage = menulisting.FirstOrDefault(f => f.Name.Equals(currentPageName, StringComparison.OrdinalIgnoreCase));
                if (currentPage != null)
                {
                    var demoPage = currentPage;
                    var parentPage = menulisting.FirstOrDefault(f => f.PermissionID == demoPage.ParentID);

                    var url = demoPage.Name; // Only the page name as URL
                    selectedItem = demoPage.Name;

                    while (demoPage != null)
                    {
                        bool exists = breadcrumbs.Exists(t => t.PermissionID == demoPage.PermissionID);
                        if (!exists)
                        {
                            breadcrumbs.Add(new BreadcrumbModel
                            {
                                Title = demoPage.Title,
                                Selected = true,
                                URL = url,
                                Name = selectedItem,
                                PermissionID = demoPage.PermissionID
                            });
                        }
                        demoPage = null;
                    }

                    ActiveTabIndex = breadcrumbs.FindIndex(i => i.Name == selectedItem) + 1;
                    StateHasChanged();
                }  
                else if (Guid.TryParse(currentPageName, out var currentGuid))
                {
                    var sessionlst = menulisting.FirstOrDefault(f => f.UniqueSessionID == currentGuid);


                    var demoPage = sessionlst;
                    var parentPage = menulisting.FirstOrDefault(f => f.PermissionID == demoPage.ParentID);

                    var url = demoPage.Name + "/" + demoPage.UniqueSessionID;
                    selectedItem = demoPage.Name + "/" + demoPage.UniqueSessionID;

                    while (demoPage != null)
                    {
                        bool exists = breadcrumbs.Exists(t => t.PermissionID == demoPage.PermissionID);
                        if (!exists)
                        {
                            breadcrumbs.Add(new BreadcrumbModel
                            {
                                Title = demoPage.Title,
                                Selected = true,
                                URL = url,
                                Name = selectedItem,
                                PermissionID = demoPage.PermissionID
                            });
                        }
                        demoPage = null;
                    }

                    ActiveTabIndex = breadcrumbs.FindIndex(i => i.Name == selectedItem) + 1;
                    StateHasChanged();
                }

            }
        }
    }


   

    async Task TabClosing(TabCloseEventArgs args)
    {
        var title = args.TabInfo.Text;
        var tabIndex = args.TabIndex - 1;
        removedSiteMap = breadcrumbs.FirstOrDefault(f => f.Title == title);
        breadcrumbs.Remove(removedSiteMap);
        if (selectedItem == removedSiteMap.Name)
        {
            if (breadcrumbs.Count() > 0)
            {
                var page = breadcrumbs.LastOrDefault();
                NavigationManager.NavigateTo(page.URL, false);
            }
            else
            {
                NavigationManager.NavigateTo("home", false);
            }
        }
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
