@implements IDisposable
@inject DemoConfiguration Configurations
@inject NavigationManager NavigationManager
@using System.Net
@using global::Core.EntityModels;
@using Application.Queries;
@using MediatR
@inject IMediator Mediator
@using global::Core.Repositories.Query;
@using global::Core.Entities;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration
<div class="items">
    @foreach (var item in Items)
    {
        @if (!string.IsNullOrEmpty(item.Item2))
        {
            <a href="@item.Item2">@item.Item1</a>
        }
        else
        {
            <span>@item.Item1</span>
        }
        <span class="separator"></span>
    }
</div>
<DxPopup HeaderText="Access Denied"
@bind-Visible="@PopupVisible"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         ShowFooter="true"
         ShowCloseButton="false">
    <BodyContentTemplate>
        <PermissionDenied _portalMenuModelData="@portalMenuModelData" RevokeBackPermission="BackPermission"></PermissionDenied>
    </BodyContentTemplate>
    <FooterContentTemplate>
        <DxButton CssClass="popup-button my-1 ms-2" RenderStyle="ButtonRenderStyle.Primary" Text="Dashboard" Click="@(() => goDashBoard())" />
        <DxButton CssClass="popup-button my-1 ms-2" RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() =>PopupVisible=false)" />
    </FooterContentTemplate>
</DxPopup>
@code {
    bool PopupVisible { get; set; } = false;
    public PortalMenuModel portalMenuModelData { get; set; }
    [Parameter]
    public PortalMenuModel _appPermissionListItems { get; set; }
    private List<PortalMenuModel> _appPermissionItems;
    public ApplicationUser applicationUser { get; private set; }
    const string HomePageTitle = "Home";
    List<Tuple<string, string>> Items { get; set; } = new List<Tuple<string, string>>();
    private bool isDevelopmentMode;
    protected override async Task OnInitializedAsync()
    {
        isDevelopmentMode = Boolean.Parse(Configuration["IsDevelopmentMode"] != null ? Configuration["IsDevelopmentMode"] : "true");
        //page navigation
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        if (applicationUser == null)
        {

            var returnUrl = WebUtility.UrlEncode(new Uri(NavigationManager.Uri).PathAndQuery);


            //var returnUrls = NavigationManager.Uri;
            // var returnUrl = Uri.EscapeDataString(returnUrls);
            await _localStorageService.SetItem("ReturnUrl", returnUrl);



            NavigationManager.NavigateTo($"Login", forceLoad: true);
        }
        else
        {
            _appPermissionItems = await Mediator.Send(new GetAllApplicationPermissionAllQuery(applicationUser.UserID));
            BreadcrumbsGenerate();
        }



        NavigationManager.LocationChanged += OnLocationChanged;
        //UpdateItems(NavigationManager.Uri)dashboard;

    }
    void BackPermission()
    {
        PopupVisible = false;
        StateHasChanged();
    }
    void goDashBoard()
    {

        PopupVisible = false;
        NavigationManager.NavigateTo("dashboard");
    }
    void BreadcrumbsGenerate()
    {
        string str = NavigationManager.Uri;
        string rep1 = str.Replace(NavigationManager.BaseUri, "").ToLower();
        string[] UrlList = rep1.Split("/");
        Items.Add(new(HomePageTitle, ""));
        if (UrlList.Length > 0 && UrlList[0] != null)
        {
            if (UrlList[0] == "portalurl")
            {
                var list1 = _appPermissionItems.FirstOrDefault(f => f.Component != null && f.Component.ToLower() == UrlList[0] && f.UniqueSessionID.ToString() == UrlList[1]);
                if (list1 != null)
                {

                    if (list1.ParentID != null)
                    {
                        var list2 = _appPermissionItems.FirstOrDefault(f => f.PermissionID == list1.ParentID);
                        if (list2 != null)
                        {
                            Items.Add(new(list2.Title, ""));
                        }
                    }                   
                    Items.Add(new(list1.Title, ""));

                }
            }
            else if (UrlList[0] == "login")
            {

            }
            else
            {
                var list1 = _appPermissionItems.FirstOrDefault(f => f.Component != null && f.Component.ToLower() == UrlList[0]);
                if (list1 != null)
                {

                    if (list1.ParentID != null)
                    {
                        var list2 = _appPermissionItems.FirstOrDefault(f => f.PermissionID == list1.ParentID);
                        if (list2 != null)
                        {
                            Items.Add(new(list2.Title, ""));
                        }
                    }
                    // if (list1.Name != null && list1.Component.ToLower() != list1.Name.ToLower())
                    // {
                    //     Items.Add(new(list1.Component, ""));
                    // }
                    Items.Add(new(list1.Title, ""));

                }
                else
                {
                    if (isDevelopmentMode == false)
                    {
                        portalMenuModelData = list1;
                        PopupVisible = true;
                    }
                    //    var list5 = UrlList[0];
                    //    Items.Add(new(list5, ""));

                }
            }
        }

    }
    void OnLocationChanged(object sender, LocationChangedEventArgs args)
    {
        Items.Clear();
        BreadcrumbsGenerate();
        StateHasChanged();
    }
    void UpdateItems(string currentUri)
    {
        Items.Clear();       
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
