@using AC.SD.Core.Data.Account;
@using Application.Constant;
@using Application.Queries;
@using global::Core.Repositories.Query;
@using global::Core.Entities;
@inherits LayoutComponentBase
@implements IDisposable
@inject DemoConfiguration Configuration
@inject DemoThemeService Themes
@inject ILocalStorageService<ApplicationUser> _localStorageService
@using MediatR
@inject IMediator Mediator
@using global::Core.EntityModels;
@using global::Core.Entities.Views;
@using Microsoft.AspNetCore.SignalR.Client;
@inject AC.SD.Core.Services.ToastService toastService
 
<Toast />
<DemoScriptLoader @ref=@pageHelper Src="_content/AC.SD.Core/lib/page-helper.js" />
<link href="_content/AC.SD.Core/lib/font-awesome/css/all.css" rel="stylesheet" />
<link href="_content/DevExpress.Blazor.RichEdit/dx-blazor-richedit.bs5.css" rel="stylesheet" />
<link href="_content/DevExpress.Blazor.RichEdit/dx-blazor-richedit.css" rel="stylesheet" />

<div class="@GetDemoHeaderContainerCss()">
    <nav class="demo-header p-0 navbar navbar-dark @GetDemoHeadernavContainerCss()">
        <DemoLayoutToggleButton @bind-Toggled="@LayoutToggled" />
        <div class="logo-image">
            <a href="https://www.crt-insights.com/" target="_blank" title="CRT Insights">
                <span class="logo-img"></span>
            </a>           
        </div>
        <div class="demo-btn-container d-flex">
           

            <DxButton Click="@ToggleThemeSwitcherPanel" CssClass="@GetThemeSwitcherCssClass()"
                      RenderStyle="ButtonRenderStyle.Secondary" RenderStyleMode="ButtonRenderStyleMode.Outline" IconCssClass="menu-icon-user-profile menu-icon"></DxButton>

          

        </div>
        <ThemeSwitcher @bind-Shown="@ThemeSwitcherShown" @bind-ThemeName="@ThemeName" />
    </nav>
</div>
<div class="@GetDemoBreadcrumbsContainerCss()">
    <div class="breadcrumb">
        <div class="@GetDemoBreadcrumbsCss()">
            <DemoBreadcrumbs></DemoBreadcrumbs>
        </div>
    </div>
</div>
<div class="@GetDemoContentContainerCss()" @ref="@contentContainerRef">
    <div class="demo-content @LayoutStateCssClass">
        <div class="sidebar">           
            <DxScrollView ScriptLoaded="@ScrollViewScriptLoaded">                
                <div style="margin-top:10px;"></div>
                <NavMenu></NavMenu>
            </DxScrollView>
            <div class="info-wrapper">               
            </div>
        </div>
        <div class="main">
            <div class="content">

                <CascadingValue Value="@ScrollToTargetLocked" Name="ScrollToTargetLocked">
                    <CascadingValue Value="@ThemeName" Name="ThemeName">
                        <ErrorBoundary @ref="@errorBoundary">
                            <ChildContent>
                                @Body
                            </ChildContent>
                            <ErrorContent Context="Exception">
                                <AC.SD.Core.Pages._500 ErrorMsg="@errorMsg"></AC.SD.Core.Pages._500>
                                <div class="error_msg">
                                    @Exception.Message<br />
                                </div>

                                <div class="error_msg">
                                    @Exception.InnerException?.Message<br />
                                </div>
                            </ErrorContent>
                        </ErrorBoundary>

                    </CascadingValue>
                </CascadingValue>

            </div>
            <div class="content-footer"></div>
        </div>
        @if (!_isDesktop)
        {
            <DemoModalBackdrop Shown="@ModalBackgroundShown" ShownChanged="@ModalBackdropShownChanged" />
        }
    </div>
    <DxPopup @bind-Visible="@PopupUpdatePasseordVisible"
             CloseOnOutsideClick="false"
             HeaderText="Change Password"
             ShowFooter="false">
        <BodyTemplate Context="PopupContext">
            <EditForm Model="@updatePassword" OnValidSubmit="OnValidSubmit" style="padding:10px;">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label>Old Password</label>
                    <InputText @bind-Value="updatePassword.OldPassword" type="password" class="form-control" />
                    <ValidationMessage For="@(() => updatePassword.OldPassword)" />
                </div>
                <div class="form-group">
                    <label>New Password</label>
                    <InputText @bind-Value="updatePassword.Password" type="password" class="form-control" />
                    <ValidationMessage For="@(() => updatePassword.Password)" />
                </div>
                <div class="form-group">
                    <label>Confirm New Password</label>
                    <InputText @bind-Value="updatePassword.ConfirmPassword" type="password" class="form-control" />
                    <ValidationMessage For="@(() => updatePassword.ConfirmPassword)" />
                </div>
                <button disabled="@loading" class="btn btn-primary" style="float:right; margin-top:10px;">
                    @if (loading)
                    {
                        <span class="spinner-border spinner-border-sm mr-1"></span>
                    }
                    Update Password
                </button>
            </EditForm>
        </BodyTemplate>
        <FooterContentTemplate>

            <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Cancel"
                      Click="@context.CloseCallback" />
        </FooterContentTemplate>
    </DxPopup>
    <DxPopup @bind-Visible="@MessageVisible"
             HeaderText="@MessageHeader"
             BodyText="@MessageBody" />
</div>
@functions {

    protected override async Task OnInitializedAsync()
    {
        await InitializeFirebaseAsync();
    }
}

@code {
    string errorMsg = "";
    static readonly int DateTimeNowYear = DateTime.Now.Year;
    UpdatePassword updatePassword = new UpdatePassword();
    string? _themeName;
    bool _layoutToggled;
    bool _themeSwitcherShown;
    bool _isDesktop = true;
    string _searchString = "";
    ElementReference contentContainerRef;
    bool PopupUpdatePasseordVisible { get; set; }
    DemoScriptLoader? pageHelper;
    bool MessageVisible { get; set; }
    string MessageHeader = "";
    string MessageBody = "";
    [Inject]
    IDemoVersion? DemoVersion { get; set; }
    [Inject]
    NavigationManager NavigationManager { get; set; }
    [Inject]
    IJSRuntime JSRuntime { get; set; }    
    [Parameter]
    public RenderFragment<Exception>? ErrorContent { get; set; }
    internal bool loading;
    public ApplicationUser? applicationUser { get; internal set; }
    protected string ThemeName
    {
        get { return _themeName; }
        set
        {
            if (_themeName != value)
            {
                _themeName = value;
                Themes.SetActiveThemeByName(value);
            }
        }
    }
    internal ErrorBoundary errorBoundary;
    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }
    internal async Task InitializeFirebaseAsync()
    {
        //await JSRuntime.InvokeVoidAsync("registerServiceWorker");
        //await JSRuntime.InvokeVoidAsync("initializeFirebase");
              
    }
    protected override async void OnInitialized()
    {
        
        ThemeName = Themes.ActiveTheme.Name;
        //NavigationManager.LocationChanged += OnLocationChanged;
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        await InvokeAsync(StateHasChanged);
    }
    internal async void ResetPassword()
    {
        loading = true;
        var request = new UpdateUserPasswordRequest
            {
                UserID = applicationUser.UserID,
                LoginID = applicationUser.LoginID,
                NewPassword = "1234",
            };
        var response = await Mediator.Send(request);
        if (response != null)
        {
            loading = false;
            PopupUpdatePasseordVisible = false;
            StateHasChanged();
            updatePassword.OldPassword = "";
            updatePassword.Password = "";
            updatePassword.ConfirmPassword = "";
            onShowPopupMessage("Message", "Password Reset Successfully");
        }
    }
    internal async void OnValidSubmit()
    {
        loading = true;
        var request = new UpdateUserPasswordRequest
            {
                UserID = applicationUser.UserID,
                LoginID = applicationUser.LoginID,
                OldPassword = updatePassword.OldPassword,
                NewPassword = updatePassword.Password
            };
        var response = await Mediator.Send(request);
        if (response != null)
        {
            if (response.StatusCodeID == -1)
            {
                loading = false;
                onShowPopupMessage("Message", "Old Password and New Password has been same");
            }
            else
            {
                if (response.LoginID != null)
                {
                    loading = false;
                    PopupUpdatePasseordVisible = false;
                    StateHasChanged();
                    updatePassword.Password = "";
                    updatePassword.ConfirmPassword = "";
                    updatePassword.OldPassword = "";
                    onShowPopupMessage("Message", "Password Update Successfully");
                }
                else
                {
                    loading = false;
                    onShowPopupMessage("Message", "Old Password Incorrect");
                }
            }
        }

    }
    internal async void onShowPopupMessage(string headerText, string bodyText)
    {
        MessageVisible = true;
        MessageBody = bodyText;
        MessageHeader = headerText;
        StateHasChanged();
    }

   
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {        
        if (firstRender)
        {
            await ScrollToMainTopIfNeeded(NavigationManager.Uri);

            await pageHelper.InvokeVoidAsync("DemoPageHelper.demoMatchesQuery", "(min-width: 1200px)", DotNetObjectReference.Create(this));
            await pageHelper.InvokeVoidAsync("DemoPageHelper.patchAppElement");
            //await JSRuntime.InvokeVoidAsync("import", "../_content/AC.SD.Core/common.js");
        }
        else
        {
            await pageHelper.InvokeVoidAsync("DemoPageHelper.themes.setThemeName", DemoThemeService.ThemeCookieKey, ThemeName);

            if (_isDesktop && SavedLayoutToggled != LayoutToggled)
                await pageHelper.InvokeVoidAsync("DemoPageHelper.raiseWindowOnResize");
        }
        if (!ScrollToTargetLocked)
            await ScrollToTargetIfNeeded(NavigationManager.Uri);
        SavedLayoutToggled = LayoutToggled;
        IsFirstTimeRendered = true;
    }
    async void OnLocationChanged(object? sender, LocationChangedEventArgs args)
    {        
        ThemeSwitcherShown = false;
        if (!_isDesktop)
        {
            LayoutToggled = false;
        }
        await ScrollToMainTopIfNeeded(args.Location);
        await InvokeAsync(StateHasChanged);
    }

    [JSInvokable]
    public async Task OnQueryChanged(bool isDesktop)
    {
        if (_isDesktop != isDesktop)
        {
            _isDesktop = isDesktop;
            LayoutToggled = false;
            ThemeSwitcherShown = false;
            await InvokeAsync(StateHasChanged);
        }
    }

    bool LayoutToggled
    {
        get { return _layoutToggled; }
        set
        {
            if (_layoutToggled != value)
            {
                _layoutToggled = value;
                if (!_isDesktop && _layoutToggled)
                    ThemeSwitcherShown = false;
            }
        }
    }
    string LayoutStateCssClass { get { return IsFirstTimeRendered ? ((_isDesktop && LayoutToggled || !_isDesktop && !LayoutToggled) ? "sidebar-hidden" : "sidebar-shown") : ""; } }
    bool SavedLayoutToggled { get; set; }
    bool ModalBackgroundShown { get { return !_isDesktop && (ThemeSwitcherShown || LayoutToggled); } }
    bool IsFirstTimeRendered { get; set; }

    bool ThemeSwitcherShown
    {
        get { return _themeSwitcherShown; }
        set
        {
            if (_themeSwitcherShown != value)
            {
                _themeSwitcherShown = value;
                if (!_isDesktop && _themeSwitcherShown)
                    LayoutToggled = false;
            }
        }
    }

    void ToggleThemeSwitcherPanel()
    {
        ThemeSwitcherShown = !ThemeSwitcherShown;
    }

    void ModalBackdropShownChanged(bool shown)
    {
        if (!shown)
        {
            ThemeSwitcherShown = false;
            LayoutToggled = false;
        }
    }


    public string SearchString
    {
        get { return _searchString; }
        set
        {
            if (_searchString != value)
            {
                _searchString = value;                
            }
        }
    }    
   

    bool HasAnchorInUrl(string uri)
    {
        return !string.IsNullOrEmpty(NavigationManager.ToAbsoluteUri(uri).Fragment.Replace("#", ""));
    }
    async Task ScrollToMainTopIfNeeded(string uri)
    {
        if (!HasAnchorInUrl(uri))
            await pageHelper.InvokeVoidAsync("DemoPageHelper.scroll.toElementTop", contentContainerRef);
    }

    bool ScrollToTargetLocked { get; set; } = true;
    async Task ScrollViewScriptLoaded()
    {
        ScrollToTargetLocked = false;
        await ScrollToTargetIfNeeded(NavigationManager.Uri);
    }
    async Task ScrollToTargetIfNeeded(string uri)
    {
        if (HasAnchorInUrl(uri))
            await pageHelper.InvokeVoidAsync("DemoPageHelper.scroll.ensureNavigationTargetIsVisible");
    }
    string GetDemoContentContainerCss()
    {
        List<string> cssClasses = new List<string>();
        cssClasses.Add("demo-content-container");
#if !VISUALTESTS
        if (IsFirstTimeRendered)
            cssClasses.Add("animated");
#endif
        cssClasses.Add("theme-" + ThemeName.Replace(" ", "-"));
        return string.Join(" ", cssClasses);
    }
    string GetDemoBreadcrumbsContainerCss()
    {
        List<string> cssClasses = new List<string>();
        cssClasses.Add("demo-breadcrumbs-container");
        cssClasses.Add("theme-" + ThemeName.Replace(" ", "-"));
        return string.Join(" ", cssClasses);
    }
    string GetDemoBreadcrumbsCss()
    {
        List<string> cssClasses = new List<string>();
        cssClasses.Add("demo-breadcrumbs");
        cssClasses.Add(LayoutStateCssClass);
        return string.Join(" ", cssClasses);
    }
    string GetDemoHeaderContainerCss()
    {
        List<string> cssClasses = new List<string>();
        cssClasses.Add("demo-header-container");
        cssClasses.Add("theme-" + ThemeName.Replace(" ", "-"));
        return string.Join(" ", cssClasses);
    }
    string GetDemoHeadernavContainerCss()
    {
        List<string> cssClasses = new List<string>();
        //cssClasses.Add("demo-header-container");
        cssClasses.Add("theme-" + ThemeName.Replace(" ", "-"));
        return string.Join(" ", cssClasses);
    }
    string GetThemeSwitcherCssClass()
    {
        return "theme-settings " + ThemeSwitcherShown;
    }
    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
    internal async void logout()
    {
        await _localStorageService.RemoveItem("user");
        NavigationManager.NavigateTo("account/logout");
    }
    internal HubConnection hubConnection;
    public bool IsConnected => hubConnection.State == HubConnectionState.Connected;
}
