@page "/DynamicFormItemGridList/AddDynamicFormItem"
@page "/DynamicFormItemGridList/AddDynamicFormItem/{SessionIds:guid}"
@using Microsoft.Extensions.Configuration;
@using global::Core.Entities;
@using Application.Commands;
@using Application.Queries;
@using Application.Response;
@using MediatR
@inject IMediator Mediator
@using DevExpress.Export
@using global::Core.Entities.Views;
@using global::Core.EntityModels;
@using global::Core.Repositories.Query;
@inject IJSRuntime jsRuntime
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject NavigationManager NavigationManager
@inject IConfiguration Configuration

<div class="card" style="margin-bottom:10px; margin-left:-12px; margin-right:-12px;">
    <div class="card-body p-0">
        <div class="row">
            <div class="">
                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Desktop">
                    <Items>
                        <DxMenuItem Text="Back" IconCssClass="fa fa-reply" Click="@backUrl" />
                        <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" />
                        <DxMenuItem Text="Save" IconCssClass="fa fa-save" Click="@AddSave" />
                        <DxMenuItem Text="Attachment" IconCssClass="fa fa-paperclip" Click="@addAttachment" Enabled="@AttachmentEnabled" />
                    </Items>
                </DxMenu>
            </div>
        </div>
    </div>
</div>


<div class="">
    <div class="row align-items-start" style="overflow: auto; border: 1px solid #d5d4d4; padding-bottom:10px;">
        <div class="cw-480" style="margin-top:10px;">


            <EditForm EditContext="this._editContext" Context="EditFormContext" OnValidSubmit="@HandleValidSubmit">
                <DxFormLayout CssClass="w-100">
                    <DataAnnotationsValidator />
                    <DxFormLayoutItem Caption="Company:" ColSpanMd="4">
                        <DxComboBox Data="@_plantItems"
                                    NullText="Select Company..."
                                    SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    ListRenderMode="ListRenderMode.Virtual"
                                    TextFieldName="Description"
                                    ClearButtonDisplayMode=DataEditorClearButtonDisplayMode.Auto
                                    ValueFieldName="PlantID"
                                    @bind-Value="Data.CompanyID" @bind-Text="Data.CompanyName"
                                    ShowValidationIcon="true">

                        </DxComboBox>
                        <ValidationMessage For="@(() => Data.CompanyID)" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Transaction Type:" ColSpanMd="4">
                        <DxComboBox Data="@_TransactionType"
                                    NullText="Select TransactionType..."
                                    SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    ListRenderMode="ListRenderMode.Virtual"
                                    TextFieldName="CodeValue"
                                    ClearButtonDisplayMode=DataEditorClearButtonDisplayMode.Auto
                                    ValueFieldName="CodeId"
                                    @bind-Value="Data.TransactionTypeID"
                                    ShowValidationIcon="true">

                        </DxComboBox>
                        <ValidationMessage For="@(() => Data.TransactionTypeID)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Transaction Date :" ColSpanMd="4">
                        <DxDateEdit @bind-Date="Data.TransactionDate" />
                        <ValidationMessage For="@(() => Data.TransactionDate)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Stock Group:" ColSpanMd="4">
                        <DxComboBox Data="@_applicationMasterChildStockGroupItems"
                                    NullText="Select Stock Group..."
                                    SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    ListRenderMode="ListRenderMode.Virtual"
                                    TextFieldName="Value"
                                    ValueFieldName="ApplicationMasterChildId"
                                    Value="@Data.StockGroupAppParentID"
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                    ValueExpression="@(() => Data.StockGroupAppParentID )"
                                    ValueChanged="@((long? stockGroupAppParentId) => SelectedStockGroupChanged(stockGroupAppParentId))"
                                    ShowValidationIcon="true">

                        </DxComboBox>
                        <ValidationMessage For="@(() => Data.StockGroupAppParentID)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Stock Department:" ColSpanMd="4">
                        <DxComboBox Data="@_applicationMasterChildDepartmentItems"
                                    NullText="Select Department..."
                                    SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    ListRenderMode="ListRenderMode.Virtual"
                                    TextFieldName="Value"
                                    ValueFieldName="ApplicationMasterChildId"
                                    Value="@Data.DepartmentAppParentID"
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                    ValueExpression="@(() => Data.DepartmentAppParentID )"
                                    ValueChanged="@((long? departmentAppParentID) => SelectedDepartmentChanged(departmentAppParentID))"
                                    ShowValidationIcon="true">

                        </DxComboBox>
                        <ValidationMessage For="@(() => Data.DepartmentAppParentID)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Stock Item Group:" ColSpanMd="4">
                        <DxComboBox Data="@_applicationMasterChildItemGroupItems"
                                    NullText="Select Item Group..."
                                    SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    ListRenderMode="ListRenderMode.Virtual"
                                    TextFieldName="Value"
                                    ClearButtonDisplayMode=DataEditorClearButtonDisplayMode.Auto
                                    ValueFieldName="ApplicationMasterChildId"
                                    @bind-Value="Data.ItemGroupAppParentID"
                                    ShowValidationIcon="true">

                        </DxComboBox>
                        <ValidationMessage For="@(() => Data.ItemGroupAppParentID)" />
                    </DxFormLayoutItem>
                    @* <DxFormLayoutItem Caption=" Description :" ColSpanMd="12">
                        <DxMemo @bind-Text="@Data.Description" />
                    </DxFormLayoutItem> *@
                </DxFormLayout>
            </EditForm>

            <div class="row align-items-end" style="border-top: 1px solid #d5d4d4; margin-top:10px;">
                <div class="cw-480 ch-220" style="margin-top:10px;">
                    <DxFormLayout CssClass="w-100">
                        <DxFormLayoutTabPages @bind-ActiveTabIndex="@ActiveSubTabIndex" RenderMode="TabsRenderMode.OnDemand">
                            <DxFormLayoutTabPage Caption="Form Data">
                                <DynamicFormItemLines @ref="refDynamicFormItemLines" DynamicFormItemids="@DynamicFormItemID"></DynamicFormItemLines>
                            </DxFormLayoutTabPage>

                        </DxFormLayoutTabPages>
                    </DxFormLayout>
                </div>
            </div>


        </div>
    </div>
</div>
<DxPopup @bind-Visible="@AttachmentPopUp"
         ShowFooter="true"
         HeaderText="Attachment"
         CloseOnOutsideClick="false"
         ShowCloseButton="false"
         MinWidth="300" MinHeight="200" MaxWidth="1000px" MaxHeight="800">
    <BodyContentTemplate>
        <AC.SD.Core.Pages.UploadDocuments.UploadDocuments SessionId="@_selectedItems.SessionId" RevokeBack="CloseAttachmentPopup"></AC.SD.Core.Pages.UploadDocuments.UploadDocuments>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => CloseAttachmentPopup())" />
    </FooterContentTemplate>
</DxPopup>

@code {
    bool AttachmentPopUp { get; set; } = false;
    DynamicFormItemLines? refDynamicFormItemLines;
    int ActiveSubTabIndex { get; set; } = 0;
    bool Time = false;
    EditContext _editContext;
    [Parameter]
    public Guid? SessionIds { get; set; }
    DateTime MinDateFrom;
    DateTime DateRange = DateTime.Today;
    public long DynamicFormItemID { get; set; }
    string Company { get; set; } = "";
    string TransactionType { get; set; } = "";
    DynamicFormItem Data = new DynamicFormItem();
    public DynamicFormItem _dynamicFormlistData;
    public ApplicationUser applicationUser { get; private set; }
    private bool loading;
    private string MyID = "myid";
    private List<ViewPlants> _plantItems;
    private List<CodeMaster> _TransactionType;
    private DynamicFormItem _selectedItems; bool AttachmentEnabled { get; set; } = false;
    private List<ApplicationMasterChildModel> _applicationMasterChildStockGroupItems;
    private List<ApplicationMasterChildModel> _applicationMasterChildDepartmentItems;
    private List<ApplicationMasterChildModel> _applicationMasterChildItemGroupItems;
    protected override async Task OnInitializedAsync()
    {
        _editContext = new EditContext(Data);
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("templeUser");
        _applicationMasterChildStockGroupItems = await Mediator.Send(new GetAllApplicationMasterChildListQuery("136"));
        _plantItems = await Mediator.Send(new GetAllPlantQuery());
        _TransactionType = await Mediator.Send(new GetAllCodeMasterQuery("DynamicFormTypeItem"));
    }
    protected override async Task OnParametersSetAsync()
    {
        if (applicationUser != null)
        {
            Company = "";
            TransactionType = "";
            Data.TransactionDate = DateTime.Now; DynamicFormItemID = 0; _selectedItems = null;AttachmentEnabled = false;
            if (SessionIds != null)
            {
                var list = await Mediator.Send(new GetDynamicFormItemBySession(SessionIds));

                var _AllApInvoice = await Mediator.Send(new GetDynamicFormItemMasterList(list.DynamicFormItemID));
                if (list != null)
                {
                    AttachmentEnabled = true;
                    _selectedItems = list;
                    DynamicFormItemID = list.DynamicFormItemID;
                    Data.TransactionDate = list.TransactionDate;
                    Data.AutoNumber = list.AutoNumber;
                    Data.CompanyName = list.CompanyName;
                    Data.CompanyID = list.CompanyID;
                    Company = list.CompanyName;
                    TransactionType = list.TransactionTypeName;
                    Data.Description = list.Description;
                    Data.TransactionTypeName = list.TransactionTypeName;
                    Data.TransactionTypeID = list.TransactionTypeID;
                    Data.AddedByUserID = list.AddedByUserID;
                    Data.AddedDate = list.AddedDate;
                    Company = "";
                    TransactionType = "";
                    Data.Reason = list.Reason;
                    Data.StockGroupAppParentID = list.StockGroupAppParentID;
                    Data.DepartmentAppParentID = list.DepartmentAppParentID;
                    Data.ItemGroupAppParentID = list.ItemGroupAppParentID;
                    if (list.StockGroupAppParentID > 0)
                    {
                        _applicationMasterChildDepartmentItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(list.StockGroupAppParentID));
                    }
                    if (list.DepartmentAppParentID > 0)
                    {
                        _applicationMasterChildItemGroupItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(list.DepartmentAppParentID));
                    }
                    await refDynamicFormItemLines.loadData(list.DynamicFormItemID);
                }
            }
            else
            {
                await OnParametersSetLoadAsync();
            }
        }
        base.OnParametersSet();
    }
    async Task OnParametersSetLoadAsync()
    {
        _editContext = new EditContext(Data); AttachmentEnabled = false;
        TransactionType = "";DynamicFormItemID = 0;
        _applicationMasterChildDepartmentItems = new List<ApplicationMasterChildModel>(); _applicationMasterChildItemGroupItems = new List<ApplicationMasterChildModel>();
        Data.TransactionDate = DateTime.Now;
        Data.AutoNumber = null;
        Data.CompanyName = null; Data.CompanyID = null;
        Company = string.Empty;
        Data.Description = null;
        Data.TransactionTypeName = null;
        Data.TransactionTypeID = null;
        Data.AddedByUserID = applicationUser.UserID;
        Data.AddedDate = DateTime.Now;
        Data.Reason = null;
        Data.StockGroupAppParentID = null; _selectedItems = null;
        Data.DepartmentAppParentID = null;
        Data.ItemGroupAppParentID = null;
        await refDynamicFormItemLines.loadData(DynamicFormItemID);
        StateHasChanged();
    }
    void backUrl()
    {
        ActiveSubTabIndex = 0;
        NavigationManager.NavigateTo("DynamicFormItemGridList");
    }

    async Task AddSave()
    {
        if (_editContext.Validate())
        {
            // draftId = 0;
            await this.HandleValidSubmit();

        }
    }
    async Task addNew()
    {
        if (SessionIds != null)
        {
            SessionIds = null;
            NavigationManager.NavigateTo("DynamicFormItemGridList/AddDynamicFormItem");
        }
        else
        {
            await OnParametersSetLoadAsync();
        }

    }
    async Task SelectedStockGroupChanged(long? stockGroupAppParentId)
    {
        Data.StockGroupAppParentID = stockGroupAppParentId; Data.DepartmentAppParentID = null; Data.ItemGroupAppParentID = null;
        _applicationMasterChildDepartmentItems = new List<ApplicationMasterChildModel>(); _applicationMasterChildItemGroupItems = new List<ApplicationMasterChildModel>();
        if (stockGroupAppParentId > 0)
        {
            _applicationMasterChildDepartmentItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(stockGroupAppParentId));

        }
    }
    async Task SelectedDepartmentChanged(long? departmentAppParentID)
    {
        Data.DepartmentAppParentID = departmentAppParentID; Data.ItemGroupAppParentID = null;
        _applicationMasterChildItemGroupItems = new List<ApplicationMasterChildModel>();
        if (departmentAppParentID > 0)
        {

            _applicationMasterChildItemGroupItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(departmentAppParentID));
        }

    }

    async Task HandleValidSubmit()
    {
        if (SessionIds != null)
        {
            var list = await Mediator.Send(new GetDynamicFormItemBySession(SessionIds));

            var UpdateReq = new EditDynamicFormItemList
                {
                    DynamicFormItemID = DynamicFormItemID,
                    TransactionTypeID = Data.TransactionTypeID,
                    TransactionDate = Data.TransactionDate,
                    Description = Data.Description,
                    AutoNumber = Data.AutoNumber,
                    StatusCodeID = 1,
                    ModifiedByUserID = applicationUser.UserID,
                    AddedByUserID = Data.AddedByUserID,
                    ModifiedDate = DateTime.Now,
                    SessionId = list.SessionId,
                    AddedDate = Data.AddedDate,
                    CompanyID = Data.CompanyID,
                    CompanyName = Data.CompanyName,
                    TransactionTypeName = Data.TransactionTypeName,
                    Reason = Data.Reason,
                    StockGroupAppParentID = Data.StockGroupAppParentID,
                    DepartmentAppParentID = Data.DepartmentAppParentID,
                    ItemGroupAppParentID = Data.ItemGroupAppParentID,
                };

            var ans = await Mediator.Send(UpdateReq);
            toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);

        }
        else
        {


            var createReq = new CreateDynamicFormItemList
                {
                    TransactionTypeID = Data.TransactionTypeID,
                    CompanyID = Data.CompanyID,
                    Description = Data.Description,
                    TransactionDate = Data.TransactionDate,
                    StatusCodeID = 1,
                    AddedByUserID = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    AutoNumber = Data.AutoNumber,
                    SessionId = Guid.NewGuid(),
                    CompanyName = Data.CompanyName,
                    TransactionTypeName = Data.TransactionTypeName,
                    Reason = Data.Reason,
                    StockGroupAppParentID = Data.StockGroupAppParentID,
                    DepartmentAppParentID = Data.DepartmentAppParentID,
                    ItemGroupAppParentID = Data.ItemGroupAppParentID,
                };


            var result = await Mediator.Send(createReq);
            DynamicFormItemID = result;
            toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);

            NavigationManager.NavigateTo("DynamicFormItemGridList/AddDynamicFormItem/" + createReq.SessionId + "");
            StateHasChanged();
        }

    }


    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
    }
    void addAttachment()
    {
        AttachmentPopUp = true;
    }
    void CloseAttachmentPopup()
    {
        AttachmentPopUp = false;
        StateHasChanged();
    }
}
