@using Application.Queries;
@using global::Core.Entities;
@using MediatR
@inject IMediator Mediator
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@using Microsoft.Extensions.Configuration;
@using global::Core.Repositories.Query;
@implements IDisposable
<div class="card w-100" style="margin-bottom:10px;margin-top:10px;">
    <div class="card-body p-0">
        @if (FormType == "MainForm")
        {
            <DxMenu CollapseItemsToHamburgerMenu="true"
                    CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                    DisplayMode="MenuDisplayMode.Desktop">
                <Items>
                    <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" Enabled="@AddEnabled" />
                    <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                    <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDetailDelete" Enabled="@DeleteEnabled" />
                    <DxMenuItem Text="Add Sub Controls" IconCssClass="fa fa-wpforms" Click="@AddSubFormPopup" Enabled="IsCheckBoxEnabled" />
                </Items>
            </DxMenu>
        }
        else
        {
            <DxMenu CollapseItemsToHamburgerMenu="true"
                    CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                    DisplayMode="MenuDisplayMode.Desktop">
                <Items>
                    <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" Enabled="@AddEnabled" />
                    <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                    <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDetailDelete" Enabled="@DeleteEnabled" />
                </Items>
            </DxMenu>
        }
    </div>
</div>


<DxGrid @ref="DetailGrid"
        Data="_attributesDetails"
        KeyFieldName="AttributeDetailID"
        EditMode="GridEditMode.EditForm"
        SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
        ColumnResizeMode="GridColumnResizeMode.NextColumn"
        FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
        ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
        PagerNavigationMode="PagerNavigationMode.InputBox"
        PageSizeSelectorVisible="true"
        PageSizeSelectorAllRowsItemVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20" CustomizeElement="Grid_CustomizeElement"
        EditModelSaving="OnEditModelSaving"
        CustomizeEditModel="Grid_CustomizeEditModel"
        RowClick="OnRowClick"
        RowDoubleClick="addEdit"
        FocusedRowEnabled="true"
        AllowSelectRowByClick="true"
        SelectionMode="GridSelectionMode.Single"
        CssClass="ch-360"
        style="height: calc(100vh - 300px);">
    <Columns>

        <DxGridDataColumn FieldName="AttributeDetailName" Caption="Value" MinWidth="80" />
        <DxGridDataColumn FieldName="Description" MinWidth="80" />
        @* <DxGridDataColumn FieldName="Disabled" Caption="Is Active" MinWidth="80" /> *@
    </Columns>
    <EditFormTemplate Context="EditFormContext">

        @{
            var rolePermission = (AttributeDetails)EditFormContext.EditModel;
        }
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="Value:" ColSpanMd="6">
                <DxTextBox @bind-Text="@rolePermission.AttributeDetailName" ShowValidationIcon="true" />
                <ValidationMessage For="@(() => rolePermission.AttributeDetailName)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Description:" ColSpanMd="6">
                <DxTextBox @bind-Text="@rolePermission.Description" />
            </DxFormLayoutItem>
            @* <DxFormLayoutItem Caption="Is Active:" ColSpanMd="6">
            <DxCheckBox @bind-Checked="@rolePermission.Disabled" />
            </DxFormLayoutItem> *@

        </DxFormLayout>
    </EditFormTemplate>
</DxGrid>




<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="CRT"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="((e) => bulkDelete(_selectedItems.AttributeDetailID))" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@AddPopup"
         ShowFooter="false"
         HeaderText="Add Sub Controls"
         Closed="EulaPopupClosed"
         CloseOnOutsideClick="false"
         MinWidth="300" MinHeight="200" MaxWidth="1000px" MaxHeight="800"
         CloseOnEscape="false" ShowCloseButton="false">
    <BodyContentTemplate>
        <AttributeSubFormSetupList RevokeBack="CloseSubFormPopup" Type="SubAttributeDetailID" SubAttributeDetailId="@AttributeDetailId"></AttributeSubFormSetupList>

    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => CloseSubFormPopup())" />
    </FooterContentTemplate>
</DxPopup>
@code {
    public long? AttributeDetailId { get; set; }
    IGrid? DetailGrid { get; set; }
    bool DeleteEnabled { get; set; } = false;
    bool Blukdeletepopup { get; set; } = false;
    bool EditEnabled { get; set; } = false;
    private List<AttributeDetails>? _attributesDetails;
    bool AddEnabled { get; set; } = false;
    private List<ApplicationUser> _applicationUsers;
    private CodeMaster? codemaster;
    public ApplicationUser? applicationUser { get; private set; }
    private AttributeDetails _selectedItems;
    private List<CodeMaster> _stausItems;
    long selectedAttributeID;
    string? ControlType; bool IsCheckBoxEnabled { get; set; } = false;
    bool AddPopup { get; set; } = false;
    string? FormType { get; set; }
    protected override async Task OnInitializedAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _stausItems = await Mediator.Send(new GetAllCodeMasterQuery("Status"));

    }
    public async Task UpdateLst()
    {
        EditEnabled = false;
        DeleteEnabled = false; AddEnabled = false; IsCheckBoxEnabled = false;
        if (!string.IsNullOrEmpty(ControlType) && selectedAttributeID > 0)
        {
            AddEnabled = true;            
        }
        _attributesDetails = await Mediator.Send(new GetAllAttributeLoadQuery(selectedAttributeID));
        if (_attributesDetails != null && _attributesDetails.Count > 0)
        {
            _selectedItems = _attributesDetails.FirstOrDefault();
            AttributeDetailId = _selectedItems?.AttributeDetailID;
            DetailGrid.SetFocusedRowIndex(0); AddEnabled = true;
            if (!string.IsNullOrEmpty(ControlType) && selectedAttributeID > 0)
            {

               
                if (_selectedItems != null)
                {
                    if (!string.IsNullOrEmpty(ControlType))
                    {
                        if (ControlType.ToLower() == "RadioGroup".ToLower() || ControlType.ToLower() == "Radio".ToLower())
                        {
                            IsCheckBoxEnabled = true;
                        }
                    }
                    DeleteEnabled = true;
                    EditEnabled = true;
                    if (_selectedItems.FormUsedCount > 0)
                    {
                        //  DeleteEnabled = false;
                    }
                }
                else
                {
                    DeleteEnabled = false;
                    EditEnabled = false; IsCheckBoxEnabled = false;
                }
            }
        }
        StateHasChanged();
    }
    public async Task Attributeload(long id, string controlType, string? formType)
    {
        FormType = formType;
        IsCheckBoxEnabled = false;
        selectedAttributeID = id;
        ControlType = controlType;

        await UpdateLst();
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        var newplant = (AttributeDetails)e.EditModel;
        if (e.IsNew)
        {
            AttributeDetailId = null;
            newplant.AttributeID = selectedAttributeID;
        }
    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "AttributeDetailID");
        _selectedItems = _attributesDetails.FirstOrDefault(f => f.AttributeDetailID == (long)UniqueId);
        EditEnabled = true;
        DeleteEnabled = true;
        AttributeDetailId = _selectedItems.AttributeDetailID;
        if (_selectedItems.FormUsedCount > 0)
        {
            //  DeleteEnabled = false;
        }
        StateHasChanged();

    }
    async Task OnEditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editModel = (AttributeDetails)e.EditModel;

        if (e.IsNew)
        {
            var createReq = new CreateAttributeDetails
                {
                    AttributeDetailName = editModel.AttributeDetailName,
                    AttributeID = selectedAttributeID,
                    Description = editModel.Description,
                    Disabled = editModel.Disabled,
                    StatusCodeID = 1,
                    AddedByUserID = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    SessionId = Guid.NewGuid()
                };

            var result = await Mediator.Send(createReq);
            AttributeDetailId = result;
            toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);

            await UpdateLst();
        }
        else
        {
            var UpdateReq = new EditAttributeDetails(editModel)
                {
                    AttributeID = selectedAttributeID,
                    AttributeDetailID = editModel.AttributeDetailID,
                    Description = editModel.Description,
                    Disabled = editModel.Disabled,
                    AttributeDetailName = editModel.AttributeDetailName,
                    SessionId = editModel.SessionId,
                    ModifiedByUserID = applicationUser.UserID,
                    ModifiedDate = DateTime.Now,
                };

            var ans = await Mediator.Send(UpdateReq);
            AttributeDetailId = ans;
            toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateLst();
        }
    }
    void addNew()
    {
        DetailGrid.StartEditNewRowAsync();
    }
    void addEdit()
    {
        DetailGrid.StartEditDataItemAsync(_selectedItems);

    }
    void addDetailDelete()
    {
        Blukdeletepopup = true;
    }
    async Task bulkDelete(long id)
    {
        var request = new DeleteAttributeDetails(id);
        await Mediator.Send(request);
        Blukdeletepopup = false;
        await UpdateLst();
    }
    async Task EulaPopupClosed(PopupClosedEventArgs args)
    {
        AddPopup = false;
        Blukdeletepopup = false;
        await UpdateLst();
    }
    void CloseSubFormPopup()
    {
        AddPopup = false;
        StateHasChanged();
    }
    void AddSubFormPopup()
    {
        AddPopup = true;
        StateHasChanged();
    }
    public void Dispose()
    {
        System.GC.Collect();
        GC.SuppressFinalize(this);
    }
}
