@using Application.Queries;
@using global::Core.Entities;
@using MediatR
@inject IMediator Mediator
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@using Microsoft.Extensions.Configuration;
@using global::Core.Repositories.Query;
@inject IJSRuntime JSRuntime;
@implements IDisposable
@using global::Core.Entities.Views;

<div class="row align-items-end" style="padding: 10px;border: 1px solid #d5d4d4;">
    <div class="cw-480 ch-220" style="margin-top:10px;">

        <DxTabs RenderMode="TabsRenderMode.AllTabs" @bind-ActiveTabIndex="@ActiveTabIndex" TabClick="OnTabClick">
            <DxTabPage Text="Attribute">
                <div style="margin-top:10px;">
                    <div class="card w-100 tooltips" style="margin-bottom:10px;">
                        <div class="card-body p-0 tooltiptops">
                            <div class="row">
                                <div class="">
                                    <DxMenu CollapseItemsToHamburgerMenu="true"
                                            CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                                            DisplayMode="MenuDisplayMode.Desktop" Visible="@isAttributeEnabled">
                                        <Items>
                                            <DxMenuItem Text="Back" IconCssClass="fas fa-reply" Click="@onBack" />
                                            <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" />
                                            <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
                                            <DxMenuItem Text="Save" IconCssClass="fa fa-save" Click="@SubmitFormExternally" />
                                        </Items>
                                    </DxMenu>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <EditForm EditContext="this._editContext" Context="EditFormContext" OnValidSubmit="HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <DxFormLayout CssClass="w-100">
                        <DxFormLayoutItem Caption="Company" ColSpanMd="6">
                            <DxComboBox Data="@_plantItems"
                                        NullText="Select Company..."
                                        ListRenderMode="ListRenderMode.Virtual"
                                        SearchMode="ListSearchMode.AutoSearch"
                                        SearchFilterCondition="ListSearchFilterCondition.Contains"
                                        TextFieldName="NavCompany"
                                        Value="@CurrentPlant"
                                        ValueExpression="@(() => CurrentPlant )"
                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                        ValueChanged="@((ViewPlants plantData) => SelectedPlantChanged(plantData))"
                                        ShowValidationIcon="true">
                                <Columns>
                                    <DxListEditorColumn FieldName="@nameof(ViewPlants.PlantCode)"
                                                        Caption="Company Code"
                                                        Width="180px" />
                                    <DxListEditorColumn FieldName="@nameof(ViewPlants.Description)"
                                                        Caption="Description" />
                                    <DxListEditorColumn FieldName="@nameof(ViewPlants.NavCompany)"
                                                        Caption="Nav Company" />
                                </Columns>
                            </DxComboBox>
                            <DxSpinEdit @bind-Value="@Data.AttributeCompanyId" ShowValidationIcon="true" style="display:none;" />
                            <ValidationMessage For="@(() => Data.AttributeCompanyId)" />
                        </DxFormLayoutItem>
                        @* <DxFormLayoutItem Caption="Attribute Name" ColSpanMd="6" Visible="isSelectEnabled">
                        <DxTextBox @bind-Text="@Data.AttributeName"></DxTextBox>
                        <ValidationMessage For="@(() => Data.AttributeName)" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Attribute Name" ColSpanMd="6" Visible="isAddAttributeEnabled">
                        <DxTextBox @bind-Text="Data.AttributeName">
                        </DxTextBox>
                        <ValidationMessage For="@(() => Data.AttributeName)" />
                        </DxFormLayoutItem> *@

                        <DxFormLayoutItem Caption="Label Name" ColSpanMd="6">
                            <DxTextBox @bind-Text="@Data.Description"></DxTextBox>
                            <ValidationMessage For="@(() => Data.Description)" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Control Type" ColSpanMd="6">
                            <DxComboBox Data="@_controlTypeData"
                                        NullText="Select ControlType..."
                                        ListRenderMode="ListRenderMode.Virtual"
                                        SearchMode="ListSearchMode.AutoSearch"
                                        SearchFilterCondition="ListSearchFilterCondition.Contains"
                                        TextFieldName="CodeValue"
                                        ValueFieldName="CodeId"
                                        Enabled="isEdit"
                                        EditFormat="{0}-{1}"
                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                        Value="@CurrentControlType"
                                        ValueExpression="@(() => CurrentControlType )"
                                        ValueChanged="@((CodeMaster plantData) => SelectedControlChanged(plantData?.CodeId,"Add"))">
                                <Columns>
                                    <DxListEditorColumn FieldName="@nameof(CodeMaster.CodeValue)"
                                                        Caption="Control Type"
                                                        Width="200px" />
                                    <DxListEditorColumn FieldName="@nameof(CodeMaster.CodeDescription)"
                                                        Caption="Description" Width="300px" />

                                </Columns>
                            </DxComboBox>
                            <DxSpinEdit @bind-Value="@Data.ControlTypeId" ShowValidationIcon="true" style="display:none;" />
                            <ValidationMessage For="@(() => Data.ControlTypeId)" />
                        </DxFormLayoutItem>

                        <DxFormLayoutItem Caption="SpinEdit Type" ColSpanMd="6" Visible="IsSpinEditTypeEnabled">
                            <DxComboBox Data="@dynamicFormSectionSpinEdit"
                                        @bind-Value="@Data.IsAttributeSpinEditType"
                                        Enabled="@IsSpinEditTypeEnabled"
                                        TextFieldName="Text"
                                        ValueFieldName="Value" ShowValidationIcon="true" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Radio Layout" ColSpanMd="6" Visible="IsRadioLayoutEnabled">
                            <DxRadioGroup Items="@RadioButtonOptions"
                                          Value="@Data.AttributeRadioLayout"
                                          ValueExpression="@(() => Data.AttributeRadioLayout )"
                                          ValueChanged="@((string value) => OnTemplateUploadRadioGroupValueChanged(value))"
                                          Layout="RadioGroupLayout.Horizontal"
                                          Enabled="IsRadioLayoutEnabled"
                                          CssClass="dx-demo-radio-group" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Is Data Source" ColSpanMd="6" Visible="@isDropDownType">
                            <DxCheckBox Checked="@Data.IsDataSource" CheckedExpression="@(() => Data.IsDataSource)" CheckedChanged="@((bool? value) => OnTemplateDataSourceGroupValueChanged(value))" Enabled="isEdit"></DxCheckBox>
                        </DxFormLayoutItem>
                        @*   <DxFormLayoutItem Caption="DynamicForm Single/Multiple Dropdown" ColSpanMd="3" Visible="@IsDynamicFormDropTagBoxEnabled">
                        <DxCheckBox Checked="@Data.IsDynamicFormDropTagBox" CheckedExpression="@(() => Data.IsDynamicFormDropTagBox)" CheckedChanged="@((bool? value) => OnDynamicFormDropTagBoxValueChanged(value))" Enabled="isEdit"></DxCheckBox>
                        </DxFormLayoutItem> *@
                        <DxFormLayoutItem Caption="Data Source" ColSpanMd="6" Visible="@isDataSource">
                            <DxComboBox Data="@_attributeHeaderDataSource"
                                        NullText="Select Data Source..."
                                        ListRenderMode="ListRenderMode.Virtual"
                                        SearchMode="ListSearchMode.AutoSearch"
                                        SearchFilterCondition="ListSearchFilterCondition.Contains"
                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                        TextFieldName="DisplayName"
                                        ValueFieldName="AttributeHeaderDataSourceId"
                                        Enabled="isEdit"
                                        Value="@CurrentDataSource"
                                        ValueExpression="@(() => CurrentDataSource )"
                                        ValueChanged="@((AttributeHeaderDataSource plantData) => SelectedItemDataSourceChanged(plantData))">
                            </DxComboBox>
                            <DxSpinEdit @bind-Value="@Data.DataSourceId" ShowValidationIcon="true" style="display:none;" />
                            <ValidationMessage For="@(() => Data.DataSourceId)" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Application Master" ColSpanMd="6" Visible="@isApplicationMasterEnabled">
                            <DxTagBox Data="@_applicationMasterItems"
                                      NullText="Select Application Master..."
                                      SearchMode="ListSearchMode.AutoSearch"
                                      SearchFilterCondition="ListSearchFilterCondition.Contains"
                                      TextFieldName="ApplicationMasterName"
                                      ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                      ValueFieldName="ApplicationMasterId"
                                      Enabled="isEdit"
                                      @bind-Values="@Data.SubApplicationMasterIdsListIds">
                            </DxTagBox>
                            <ValidationMessage For="@(() => Data.SubApplicationMasterIdsListIds)" />

                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Dynamic Grid Form" ColSpanMd="6" Visible="isGridForm">
                            <DxComboBox Data="@_dynamicForm"
                                        NullText="Select Dynamic Form..."
                                        ListRenderMode="ListRenderMode.Virtual"
                                        SearchMode="ListSearchMode.AutoSearch"
                                        SearchFilterCondition="ListSearchFilterCondition.Contains"
                                        TextFieldName="Name"
                                        ValueFieldName="ID"
                                        Enabled="isEdit"
                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                        Value="@CurrentDynamicForm"
                                        ValueExpression="@(() => CurrentDynamicForm )"
                                        ValueChanged="@((DynamicForm plantData) => SelectedItemDynamicFormChanged(plantData))"
                                        ShowValidationIcon="true">
                                <Columns>
                                    <DxListEditorColumn FieldName="@nameof(DynamicForm.Name)"
                                                        Caption="Name"
                                                        Width="180px" />
                                    <DxListEditorColumn FieldName="@nameof(DynamicForm.CompanyName)"
                                                        Caption="Company Name" />
                                    <DxListEditorColumn FieldName="@nameof(DynamicForm.ProfileName)"
                                                        Caption="Profile" />
                                    <DxListEditorColumn FieldName="@nameof(DynamicForm.ScreenID)"
                                                        Caption="Screen Name" />
                                    <DxListEditorColumn FieldName="@nameof(DynamicForm.ModifiedBy)" SearchEnabled="false"
                                                        Caption="Modified By" />
                                    <DxListEditorColumn FieldName="@nameof(DynamicForm.ModifiedDate)" SearchEnabled="false"
                                                        Caption="Modified Date" />
                                </Columns>
                            </DxComboBox>
                            <DxSpinEdit @bind-Value="@Data.DynamicFormId" ShowValidationIcon="true" style="display:none;" />
                            <ValidationMessage For="@(() => Data.DynamicFormId)" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Is Multiple" ColSpanMd="6" Visible="@isListMultiple">
                            <DxCheckBox @bind-Checked="Data.IsMultiple" Enabled="@isListMultiple"></DxCheckBox>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Is Required" ColSpanMd="6">
                            <DxCheckBox @bind-Checked="Data.IsRequired"></DxCheckBox>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Required Message" ColSpanMd="6">
                            <DxTextBox @bind-Text="@Data.RequiredMessage" />
                            <ValidationMessage For="@(() => Data.RequiredMessage)" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Is Visible" ColSpanMd="6">
                            <DxCheckBox @bind-Checked="Data.AttributeIsVisible"></DxCheckBox>
                        </DxFormLayoutItem>
                        @*   <DxFormLayoutItem Caption="Entry Mask" ColSpanMd="6">
                        <DxTextBox @bind-Text="Data.EntryMask" Enabled="@MaskEnabled"></DxTextBox>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Reg.Exp" ColSpanMd="6">
                        <DxTextBox @bind-Text="Data.RegExp" Enabled="@RegEnabled"></DxTextBox>
                        </DxFormLayoutItem> *@
                        <DxFormLayoutItem Caption="Description" ColSpanMd="12">
                            <DxMemo @bind-Text="@Data.AttrDescription" Rows="5" />
                        </DxFormLayoutItem>
                    </DxFormLayout>

                </EditForm>

            </DxTabPage>
            <DxTabPage Text="Attribute Data" Enabled="AttributeDetailsEnabled">
                <AttributeDetailsSetup @ref=RefDetails></AttributeDetailsSetup>
            </DxTabPage>
        </DxTabs>
    </div>
</div>
<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="Delete"
         ShowCloseButton="true"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="((e) => bulkDelete())" />
    </FooterContentTemplate>
</DxPopup>
@code {
    ViewPlants CurrentPlant { get; set; }
    CodeMaster CurrentControlType { get; set; }
    AttributeHeaderDataSource CurrentDataSource { get; set; }
    DynamicForm CurrentDynamicForm { get; set; }
    [Parameter]
    public AttributeHeader? _selectedItems { get; set; }
    [Parameter]
    public long? SubAttributeDetailId { get; set; }
    [Parameter]
    public string? Type { get; set; }
    [Parameter]
    public long? SubAttributeId { get; set; }
    [Parameter]
    public Action RevokeBack { get; set; }
    public int ActiveTabIndex { get; set; } = 0;
    EditContext _editContext;
    bool isListMultiple = false;
    private AttributeDetailsSetup? RefDetails { get; set; }
    bool DeleteEnabled { get; set; } = false;
    bool MaskEnabled { get; set; } = false;
    bool RegEnabled { get; set; } = false;
    bool isMultipleEnabled { get; set; } = false;
    bool Blukdeletepopup { get; set; } = false;
    bool isSelectEnabled { get; set; } = true;
    bool isAddAttributeEnabled { get; set; } = false;
    bool isAttributeEnabled { get; set; } = true;
    bool isEdit { get; set; } = true;
    bool AttributeDetailsEnabled { get; set; } = false; bool isApplicationMasterEnabled { get; set; } = false;
    bool IsSpinEditTypeEnabled { get; set; } = false; bool IsRadioLayoutEnabled { get; set; } = false;
    private List<ViewPlants>? _plantItems;
    private bool loading;
    private string MyID = "myid";
    long AttributeIDs;
    string? isDisplay = "display:none;";
    string? isDisplay1 = "";
    AttributeHeader Data = new AttributeHeader();
    private List<CodeMaster> _stausItems;
    private List<ApplicationUser> _applicationUsers;
    private CodeMaster? codemaster;
    public ApplicationUser? applicationUser { get; private set; }
    private List<AttributeHeader>? _SaveLst;
    AttributeHeader AttributeNamelst = new AttributeHeader();
    private List<string> ControlTypeChildData = new List<string> { "ComboBox", "ListBox", "TagBox", "Radio" };
    private List<DropDownOptionsModel> DropDownTypeItems { get; set; } = new List<DropDownOptionsModel>();
    private List<DropDownOptionsModel> DataSourceItems { get; set; } = new List<DropDownOptionsModel>();
    IEnumerable<string> TemplateUploadOptions = new[] { "In Build", "Data Source" };
    IEnumerable<string> RadioButtonOptions = new[] { "Vertical", "Horizontal" };
    private List<CodeMaster> _controlTypeData;
    private List<AttributeHeaderDataSource> _attributeHeaderDataSource;
    bool isDropDownType { get; set; } = false;
    bool isDataSource { get; set; } = false; bool IsDynamicFormDropTagBoxEnabled { get; set; } = false;
    bool isGridForm { get; set; } = false; private List<global::Core.Entities.ApplicationMaster> _applicationMasterItems;
    private List<DynamicForm> _dynamicForm; string? DataSourceTable { get; set; }
    private List<DynamicFormSectionSpinEdit> dynamicFormSectionSpinEdit { get; set; } = new List<DynamicFormSectionSpinEdit>();
    protected override async Task OnInitializedAsync()
    {
        _editContext = new EditContext(Data);
        Data.SubAttributeDetailId = SubAttributeDetailId;
        Data.SubAttributeId = SubAttributeId;
        Data.IsSubForm = true;
        Data.SubFormType = Type; Data.FilterDataSocurceId = 0;
        DropDownTypeItems.Add(new DropDownOptionsModel() { Value = "InBuild", Text = "InBuild" });
        DropDownTypeItems.Add(new DropDownOptionsModel() { Value = "DataSource", Text = "Data Source" });
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _stausItems = await Mediator.Send(new GetAllCodeMasterQuery("Status"));
        _controlTypeData = await Mediator.Send(new GetAllCodeMasterQuery("AttributeControlType"));
        _attributeHeaderDataSource = await Mediator.Send(new GetAttributeHeaderDataSource());
        dynamicFormSectionSpinEdit.Add(new DynamicFormSectionSpinEdit() { Value = "int", Text = "Integer" });
        dynamicFormSectionSpinEdit.Add(new DynamicFormSectionSpinEdit() { Value = "decimal", Text = "Decimal" });
        if (_controlTypeData != null && _controlTypeData.Count > 0)
        {
            _controlTypeData = _controlTypeData.Where(w => w.CodeId != 2712).ToList();
        }
        if (_attributeHeaderDataSource != null && _attributeHeaderDataSource.Count > 0)
        {
            _attributeHeaderDataSource = _attributeHeaderDataSource.Where(w => w.DataSourceTable != null && w.DataSourceTable.ToLower() != "DynamicGrid".ToLower()).ToList();
        }
        _plantItems = await Mediator.Send(new GetAllPlantByNavCompanyQuery());
        _dynamicForm = await Mediator.Send(new GetAllDynamicForm(0));
        _applicationMasterItems = await Mediator.Send(new GetAllApplicationMasterQuery());
        isAddAttributeEnabled = false;
        isSelectEnabled = true;
        loadPlantItems();
        loadDropDownList();
    }
    void loadPlantItems()
    {
        CurrentPlant = null;
        if (_plantItems != null && _plantItems.Count > 0)
        {
            Data.AttributeCompanyId = _plantItems.OrderBy(o => o.PlantID).FirstOrDefault()?.PlantID;
            CurrentPlant = _plantItems.OrderBy(o => o.PlantID).FirstOrDefault();

        }
    }
    void onBack()
    {
        RevokeBack?.Invoke();
    }
    async Task OnTabClick(TabClickEventArgs e)
    {
        if (e.TabIndex == 0)
        {
            isAttributeEnabled = true;
            AttributeDetailsEnabled = false;
            var controlType = _controlTypeData.FirstOrDefault(f => f.CodeId == Data.ControlTypeId)?.CodeValue;
            if (controlType != null)
            {
                var isChildData = ControlTypeChildData.FirstOrDefault(f => controlType.ToLower().Contains(f.ToLower()));
                if (isChildData != null && Data.DropDownTypeId != "DataSource")
                {
                    AttributeDetailsEnabled = true;
                }
            }
        }
        if (e.TabIndex == 1)
        {
            isAttributeEnabled = false;
            var controlType = _controlTypeData.FirstOrDefault(f => f.CodeId == Data.ControlTypeId)?.CodeValue;
            if (controlType != null)
            {
                var isChildData = ControlTypeChildData.FirstOrDefault(f => controlType.ToLower().Contains(f.ToLower()));
                if (isChildData != null && Data.DropDownTypeId != "DataSource")
                {
                    await RefDetails.Attributeload(Data.AttributeID, controlType, "SubForm");
                }
                else
                {
                    await RefDetails.Attributeload(Data.AttributeID, null, "SubForm");
                }
            }
        }
        StateHasChanged();
    }
    void loadDataSourceItems()
    {
        DataSourceItems.Add(new DropDownOptionsModel() { Value = "Employee", Text = "Employee" });
        DataSourceItems.Add(new DropDownOptionsModel() { Value = "NAVCustomer", Text = "Customer" });
        DataSourceItems.Add(new DropDownOptionsModel() { Value = "NavItems", Text = "Nav Items" });
        DataSourceItems.Add(new DropDownOptionsModel() { Value = "NAVVendor", Text = "Vendor" });
        DataSourceItems.Add(new DropDownOptionsModel() { Value = "Plant", Text = "Company" });
        DataSourceItems.Add(new DropDownOptionsModel() { Value = "Department", Text = "Department" });
    }
    void SelectedPlantChanged(ViewPlants country)
    {
        CurrentPlant = null;
        Data.AttributeCompanyId = null;
        if (country != null)
        {
            CurrentPlant = country;
            Data.AttributeCompanyId = country.PlantID;
        }
    }
    void addNew()
    {
        _editContext = new EditContext(Data);
        Data.Description = null;
        Data.EntryMask = null;
        Data.RegExp = null;
        Data.IsInternal = false;
        Data.ControlTypeId = null; Data.ControlType = null;
        Data.AttributeCompanyId = null; Data.AttrDescription = null;
        Data.IsMultiple = false;
        Data.IsRequired = false;
        Data.RequiredMessage = null;
        Data.AttributeID = 0;
        Data.AttributeName = "SubAttr";
        Data.SessionId = null;
        Data.DataSourceId = 0;
        Data.DropDownTypeId = null;
        Data.IsDataSource = false;
        Data.DynamicFormId = null; Data.FilterDataSocurceId = 0;
        Data.AttributeIsVisible = false;
        isAddAttributeEnabled = false;
        isSelectEnabled = true;
        isDisplay = "display:none;";
        isDisplay1 = "";
        isEdit = true; Data.AttributeSortBy = null;
        DeleteEnabled = false;
        isDropDownType = false; IsDynamicFormDropTagBoxEnabled = false;
        isDataSource = false;
        ActiveTabIndex = 0; isApplicationMasterEnabled = false;
        AttributeDetailsEnabled = false; isGridForm = false; DataSourceTable = null; Data.SubApplicationMasterIdsListIds = new List<long?>();
        Data.IsDynamicFormDropTagBox = false; isListMultiple = false; IsSpinEditTypeEnabled = false; Data.IsAttributeSpinEditType = null;
        IsRadioLayoutEnabled = false; Data.AttributeRadioLayout = null;
        Data.SubAttributeDetailId = SubAttributeDetailId;
        Data.SubAttributeId = SubAttributeId;
        Data.IsSubForm = true;
        Data.SubFormType = Type;
        CurrentControlType = null; CurrentPlant = null; CurrentDataSource = null; CurrentDynamicForm = null;
        loadPlantItems();
        StateHasChanged();
    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    private async Task SubmitFormExternally()
    {
        if (_editContext.Validate())
        {
            await this.HandleValidSubmit();
        }
    }
    async Task HandleValidSubmit()
    {
        await createAttributes();

    }
    void OnEditButtonClick()
    {
        isAddAttributeEnabled = true;
        isSelectEnabled = false;
        StateHasChanged();
    }
    void OnCloseButtonClick()
    {
        isAddAttributeEnabled = false;
        isSelectEnabled = true;
        StateHasChanged();
    }
    async Task createAttributes()
    {
        long? DynamicFormIds = Data.DynamicFormId;
        string? DropDownTypeId = Data.ControlTypeId == 2702 || Data.ControlTypeId == 2708 || Data.ControlTypeId == 2706 ? Data.DropDownTypeId : null;
        long? dataSourceId = Data.ControlTypeId == 2702 || Data.ControlTypeId == 2708 || Data.ControlTypeId == 2706 ? Data.DataSourceId : null;
        if (Data.AttributeID > 0)
        {

        }
        else
        {
            Data.AttributeIsVisible = true;
        }
        long? dynamicFormId = Data.ControlTypeId == 2712 ? DynamicFormIds : null;
        IEnumerable<long?> applicationMasterIdsListIds = new List<long?>();
        if (Data.IsDataSource == true && Data.DataSourceId > 0)
        {
            var _attributeHeaderDataSources = _attributeHeaderDataSource.FirstOrDefault(f => f.AttributeHeaderDataSourceId == Data.DataSourceId)?.DataSourceTable;
            if (_attributeHeaderDataSources == "DynamicGrid")
            {
                DataSourceTable = _attributeHeaderDataSources;
                dynamicFormId = DynamicFormIds;
            }
            if (_attributeHeaderDataSources == "ApplicationMaster")
            {
                DataSourceTable = _attributeHeaderDataSources;
                applicationMasterIdsListIds = Data.SubApplicationMasterIdsListIds;
            }
        }
        var IsRadioLayout = Data.ControlTypeId == 2705 || Data.ControlTypeId == 2711 ? (string.IsNullOrEmpty(Data.AttributeRadioLayout) ? null : Data.AttributeRadioLayout) : null;
        var IsSpinEditType = Data.ControlTypeId == 2704 ? (string.IsNullOrEmpty(Data.IsAttributeSpinEditType) ? null : Data.IsAttributeSpinEditType) : null;
        var createReq = new CreateAttributeHeader
            {
                AttributeSortBy = Data.AttributeSortBy,
                AttributeID = Data.AttributeID,
                //AttributeName = Data.AttributeName,
                AttributeName = "SubAttr",
                Description = Data.Description,
                AttributeCompanyId = Data.AttributeCompanyId,
                ControlType = Data.ControlType,
                IsInternal = Data.IsInternal,
                EntryMask = Data.EntryMask,
                RegExp = Data.RegExp,
                ControlTypeId = Data.ControlTypeId,
                IsMultiple = Data.ControlTypeId == 2706 ? (Data.IsMultiple == true ? true : false) : false,
                IsRequired = Data.IsRequired,
                RequiredMessage = Data.IsRequired == true ? Data.RequiredMessage : null,
                StatusCodeID = 1,
                AddedByUserID = applicationUser.UserID,
                AddedDate = DateTime.Now,
                ModifiedByUserID = applicationUser.UserID,
                ModifiedDate = DateTime.Now,
                DynamicFormId = dynamicFormId > 0 ? dynamicFormId : null,
                SessionId = Data.SessionId == null ? Guid.NewGuid() : Data.SessionId,
                DataSourceId = DropDownTypeId == "Data Source" ? dataSourceId : null,
                DropDownTypeId = DropDownTypeId,
                IsDynamicFormDropTagBox = Data.IsDynamicFormDropTagBox,
                IsSubForm = true,
                SubAttributeDetailId = SubAttributeDetailId,
                SubAttributeId = SubAttributeId,
                AttributeIsVisible = Data.AttributeIsVisible,
                IsAttributeSpinEditType = IsSpinEditType,
                AttributeRadioLayout = IsRadioLayout,
                SubApplicationMasterIdsListIds = applicationMasterIdsListIds,
                AttrDescription = Data.AttrDescription,
            };
        var result = await Mediator.Send(createReq);
        if (result > 0)
        {
            if (Data.AttributeID > 0)
            {
                toastService.ShowToast("Attribute have been Updated successully.", AC.SD.Core.Services.ToastLevel.Success);
            }
            else
            {
                toastService.ShowToast("Attribute have been Added successully.", AC.SD.Core.Services.ToastLevel.Success);
            }
            Data.AttributeID = result;
            AttributeDetailsEnabled = false;
            var controlType = _controlTypeData.FirstOrDefault(f => f.CodeId == Data.ControlTypeId)?.CodeValue;
            if (controlType != null)
            {
                var isChildData = ControlTypeChildData.FirstOrDefault(f => controlType.ToLower().Contains(f.ToLower()));
                if (isChildData != null)
                {
                    if (Data.DropDownTypeId != "Data Source")
                    {
                        AttributeDetailsEnabled = true;
                    }
                    if (Data.IsDynamicFormDropTagBox == true)
                    {
                        AttributeDetailsEnabled = false;
                    }
                }
                isDisplay1 = "display:none;";
                isDisplay = "";
            }
        }
        isAddAttributeEnabled = false;
        isSelectEnabled = true;
        StateHasChanged();

    }
    void SelectedItemDataSourceChanged(AttributeHeaderDataSource value)
    {
        Data.DataSourceId = null;
        CurrentDataSource = null;
        Data.DynamicFormId = 0; isGridForm = false; isApplicationMasterEnabled = false;
        if (Data.IsDataSource == true && value != null)
        {
            Data.DataSourceId = value.AttributeHeaderDataSourceId;
            CurrentDataSource = value;
            if (value.DataSourceTable == "DynamicGrid")
            {
                Data.DynamicFormId = null; isGridForm = true;
            }
            if (value.DataSourceTable == "ApplicationMaster")
            {
                Data.SubApplicationMasterIdsListIds = new List<long?>(); isApplicationMasterEnabled = true;
            }
        }
    }
    void SelectedItemDynamicFormChanged(DynamicForm dynamicForm)
    {
        Data.DynamicFormId = null;
        CurrentDynamicForm = null;
        if (dynamicForm != null)
        {
            Data.DynamicFormId = dynamicForm.ID;
            CurrentDynamicForm = dynamicForm;
        }
    }
    void loadDropDownList()
    {
        isDisplay = "display:none;";
        isDisplay1 = "";
        DeleteEnabled = false; Data.DropDownTypeId = null; Data.IsDataSource = false; DataSourceTable = null; isGridForm = false;
        Data.IsDynamicFormDropTagBox = false; isListMultiple = false; IsSpinEditTypeEnabled = false; IsRadioLayoutEnabled = false; isApplicationMasterEnabled = false;
        if (_selectedItems != null)
        {
            isDisplay = ""; isDisplay1 = "display:none;";
            Data.Description = _selectedItems.Description; Data.AttributeCompanyId = _selectedItems.AttributeCompanyId;
            Data.EntryMask = _selectedItems.EntryMask;
            Data.RegExp = _selectedItems.RegExp;
            Data.IsInternal = _selectedItems.IsInternal;
            Data.ControlTypeId = _selectedItems.ControlTypeId;
            Data.ControlType = _selectedItems.ControlType;
            Data.IsMultiple = _selectedItems.IsMultiple;
            Data.IsRequired = _selectedItems.IsRequired;
            Data.RequiredMessage = _selectedItems.RequiredMessage;
            Data.AttributeID = _selectedItems.AttributeID;
            Data.AttributeName = _selectedItems.AttributeName;
            Data.SessionId = _selectedItems.SessionId;
            Data.DropDownTypeId = _selectedItems.DropDownTypeId;
            Data.DynamicFormId = _selectedItems.DynamicFormId;
            Data.IsDynamicFormDropTagBox = _selectedItems.IsDynamicFormDropTagBox;
            Data.DataSourceId = Data.DropDownTypeId == "Data Source" ? _selectedItems.DataSourceId : 0;
            Data.IsSubForm = _selectedItems.IsSubForm;
            Data.SubAttributeDetailId = _selectedItems.SubAttributeDetailId;
            Data.SubAttributeId = _selectedItems.SubAttributeId;
            Data.AttributeIsVisible = _selectedItems.AttributeIsVisible;
            Data.AttributeRadioLayout = _selectedItems.AttributeRadioLayout;
            Data.AttrDescription = _selectedItems.AttrDescription;
            Data.AttributeSortBy = _selectedItems.AttributeSortBy;
            Data.FilterDataSocurceId = 0;
            Data.IsAttributeSpinEditType = string.IsNullOrEmpty(_selectedItems.IsAttributeSpinEditType) ? "int" : _selectedItems.IsAttributeSpinEditType;
            SelectedControlChanged(Data.ControlTypeId, "Edit");
            var isChildData = ControlTypeChildData.FirstOrDefault(f => _selectedItems.ControlType.ToLower().Contains(f.ToLower()));
            DeleteEnabled = true; AttributeDetailsEnabled = false; IsSpinEditTypeEnabled = false;
            CurrentDataSource = _attributeHeaderDataSource != null ? _attributeHeaderDataSource.FirstOrDefault(f => f.AttributeHeaderDataSourceId == _selectedItems.DataSourceId) : null;
            CurrentDynamicForm = _dynamicForm != null ? _dynamicForm.FirstOrDefault(f => f.ID == _selectedItems.DynamicFormId) : null;
            if (_selectedItems.FormUsedCount > 0)
            {
                isEdit = false;
                DeleteEnabled = false;
            }
            if (Data.DropDownTypeId == "Data Source")
            {
                Data.IsDataSource = true;
                isDataSource = true;
                if (Data.IsDataSource == true && Data.DataSourceId > 0)
                {
                    var _attributeHeaderDataSources = _attributeHeaderDataSource.FirstOrDefault(f => f.AttributeHeaderDataSourceId == Data.DataSourceId)?.DataSourceTable;
                    if (_attributeHeaderDataSources == "DynamicGrid")
                    {
                        isGridForm = true; DataSourceTable = _attributeHeaderDataSources;
                        Data.DynamicFormId = _selectedItems.DynamicFormId;
                    }
                    if (_attributeHeaderDataSources == "ApplicationMaster")
                    {
                        isApplicationMasterEnabled = true; DataSourceTable = _attributeHeaderDataSources;
                        if (!string.IsNullOrEmpty(_selectedItems.SubApplicationMasterIDs))
                        {
                            Data.SubApplicationMasterIdsListIds = _selectedItems.SubApplicationMasterIDs.Split(",").Select(x => (long?)Int64.Parse(x)).ToList();
                        }
                    }
                }
            }
            if (isChildData != null)
            {
                if (Data.DropDownTypeId != "Data Source")
                {
                    AttributeDetailsEnabled = true;
                }
            }
            if (Data.IsDynamicFormDropTagBox == true)
            {
                AttributeDetailsEnabled = false;
            }
            if (Data.ControlTypeId == 2706)
            {
                isListMultiple = true;
            }
            if (Data.IsDynamicFormDropTagBox == true)
            {
                AttributeDetailsEnabled = false;
            }
            if (Data.ControlTypeId == 2704)
            {
                IsSpinEditTypeEnabled = true;
            }
            if (Data.ControlTypeId == 2704)
            {
                IsSpinEditTypeEnabled = true;
            }
            if (Data.ControlTypeId == 2705 || Data.ControlTypeId == 2711)
            {
                if (string.IsNullOrEmpty(Data.AttributeRadioLayout))
                {
                    Data.AttributeRadioLayout = "Vertical";
                }
                IsRadioLayoutEnabled = true;
            }
        }
    }
    void OnTemplateUploadRadioGroupValueChanged(string? radioValue)
    {
        Data.AttributeRadioLayout = radioValue;
    }
    void OnTemplateUploadGroupValueChanged(string? radioValue)
    {
        isDataSource = false; Data.DataSourceId = 0;
        Data.DropDownTypeId = radioValue; Data.DataSourceId = null;
        if (radioValue == "Data Source")
        {
            isDataSource = true;
            Data.DataSourceId = null;

        }
        StateHasChanged();
    }
    async void OnDynamicFormDropTagBoxValueChanged(bool? radioValue)
    {
        Data.IsDynamicFormDropTagBox = radioValue;
        if (radioValue == true)
        {
            Data.IsDataSource = false;
            isDataSource = false; Data.DataSourceId = 0; isGridForm = false;
            Data.DropDownTypeId = null; Data.DynamicFormId = 0;
        }
        else
        {
            await OnTemplateDataSourceGroupValueChanged(true);
        }
        StateHasChanged();
    }
    async Task OnTemplateDataSourceGroupValueChanged(bool? radioValue)
    {
        Data.IsDataSource = radioValue;
        isDataSource = false; Data.DataSourceId = 0; isGridForm = false;
        Data.DropDownTypeId = null; Data.DynamicFormId = 0;
        if (radioValue == true)
        {
            Data.IsDynamicFormDropTagBox = false;
            Data.DropDownTypeId = "Data Source";
            isDataSource = true;
            Data.DataSourceId = null;
            var _attributeHeaderDataSources = await Mediator.Send(new GetAttributeHeaderDataSource());
            if (Data.ControlTypeId == 2702 || Data.ControlTypeId == 2708)
            {
                _attributeHeaderDataSource = _attributeHeaderDataSources;
            }
            else
            {
                if (_attributeHeaderDataSources != null && _attributeHeaderDataSources.Count > 0)
                {
                    _attributeHeaderDataSource = _attributeHeaderDataSources.Where(w => w.DataSourceTable != "DynamicGrid").ToList();
                }
            }
            if (_attributeHeaderDataSource != null && _attributeHeaderDataSource.Count > 0)
            {
                _attributeHeaderDataSource = _attributeHeaderDataSource.Where(w => w.DataSourceTable != null && w.DataSourceTable.ToLower() != "DynamicGrid".ToLower()).ToList();
            }
        }
        StateHasChanged();
    }
    void SelectedControlChanged(int? controlTypeId, string type)
    {
        CurrentControlType = null;
        Data.ControlTypeId = null;
        isMultipleEnabled = false;
        MaskEnabled = false; isApplicationMasterEnabled = false;
        RegEnabled = false; isDropDownType = false; IsDynamicFormDropTagBoxEnabled = false; IsSpinEditTypeEnabled = false;
        isDataSource = false; isGridForm = false; IsRadioLayoutEnabled = false;
        if (type == "Add")
        {
            Data.DataSourceId = 0; Data.DynamicFormId = 0; isListMultiple = false; Data.SubApplicationMasterIdsListIds = new List<long?>();
            Data.IsDataSource = false; Data.DynamicFormId = 0; Data.IsDynamicFormDropTagBox = false;
            Data.AttributeRadioLayout = null;
            if (controlTypeId == 2704)
            {
                Data.IsAttributeSpinEditType = "int";
                IsSpinEditTypeEnabled = true;
            }
            if (controlTypeId == 2705 || controlTypeId == 2711)
            {
                if (string.IsNullOrEmpty(Data.AttributeRadioLayout))
                {
                    Data.AttributeRadioLayout = "Vertical";
                }
                IsRadioLayoutEnabled = true;
            }
        }
        if (type == "Edit")
        {
            if (controlTypeId != 2712)
            {
                Data.DynamicFormId = 0;
            }
            if (controlTypeId == 2706)
            {
                isListMultiple = true;
            }
            if (controlTypeId == 2704)
            {
                IsSpinEditTypeEnabled = true;
            }
            if (controlTypeId == 2705 || controlTypeId == 2711)
            {
                if (string.IsNullOrEmpty(Data.AttributeRadioLayout))
                {
                    Data.AttributeRadioLayout = "Vertical";
                }
                IsRadioLayoutEnabled = true;
            }
        }
        if (controlTypeId > 0)
        {
            CurrentControlType = _controlTypeData.FirstOrDefault(f => f.CodeId == controlTypeId);
            Data.ControlTypeId = controlTypeId;
            var controlType = _controlTypeData.FirstOrDefault(f => f.CodeId == controlTypeId)?.CodeValue;
            if (!string.IsNullOrEmpty(controlType))
            {
                Data.ControlType = controlType;
                var isChildData = ControlTypeChildData.FirstOrDefault(f => controlType.ToLower().Contains(f.ToLower()));
                if (isChildData != null)
                {
                    isMultipleEnabled = true;
                }
                if (controlType == "TextBox")
                {
                    MaskEnabled = true;
                    RegEnabled = true;
                }
            }
            if (controlTypeId == 2702 || controlTypeId == 2708 || controlTypeId == 2706)
            {
                if (Data.AttributeID == 0)
                {
                    Data.IsDataSource = false;
                    Data.DataSourceId = 0;
                }
                isDropDownType = true;
            }
            if (controlTypeId == 2706)
            {
                isListMultiple = true;
            }
            if (controlTypeId == 2702 || controlTypeId == 2708)
            {
                if (Data.AttributeID == 0)
                {
                    Data.IsDynamicFormDropTagBox = false;
                }
                IsDynamicFormDropTagBoxEnabled = true;
            }
            if (controlTypeId == 2712)
            {
                if (type != "Edit")
                {
                    Data.DynamicFormId = null;
                }
                isGridForm = true;
            }
        }
    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        Blukdeletepopup = false;
    }
    async Task bulkDelete()
    {
        try
        {
            var request = new DeleteAttributeHeader(Data);
            await Mediator.Send(request);
            Blukdeletepopup = false;
            toastService.ShowToast("Attribute have been Deleted successully.", AC.SD.Core.Services.ToastLevel.Success);
            addNew();
        }
        catch (Exception eq)
        {
            Blukdeletepopup = false;
            toastService.ShowToast("You Must Delete ValueID.", AC.SD.Core.Services.ToastLevel.Error);
        }

    }
    public void Dispose()
    {
        System.GC.Collect();
        GC.SuppressFinalize(this);
    }
}