@page "/attributesetup"
@using Application.Queries;
@using global::Core.Entities;
@using MediatR
@inject IMediator Mediator
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@using Microsoft.Extensions.Configuration;
@using global::Core.Repositories.Query;
@inject IJSRuntime JSRuntime;
@implements IDisposable
@using global::Core.Entities.Views;



<div class="row align-items-end" style="padding: 10px;border: 1px solid #d5d4d4;">
    <div class="cw-480 ch-220" style="margin-top:10px;">

        <DxTabs RenderMode="TabsRenderMode.AllTabs" @bind-ActiveTabIndex="@ActiveTabIndex" TabClick="OnTabClick">
            <DxTabPage Text="Attribute">
                <div style="margin-top:10px;">
                    <div class="card w-100 tooltips" style="margin-bottom:10px;">
                        <div class="card-body p-0 tooltiptops">
                            <div class="row">
                                <div class="">
                                    <DxMenu CollapseItemsToHamburgerMenu="true"
                                            CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                                            DisplayMode="MenuDisplayMode.Desktop" Visible="@isAttributeEnabled">
                                        <Items>
                                            <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" />
                                            <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
                                            <DxMenuItem Text="Save" IconCssClass="fa fa-save" Click="@SubmitFormExternally" />
                                        </Items>
                                    </DxMenu>
                                </div>
                            </div>
                        </div>
                    </div>
                    <EditForm EditContext="this._editContext" Context="EditFormContext" OnValidSubmit="HandleValidSubmit">
                        <DataAnnotationsValidator />
                        <DxFormLayout CssClass="w-100">
                            <DxFormLayoutItem Caption="Company" ColSpanMd="6">
                                <DxComboBox Data="@_plantItems"
                                            NullText="Select Company..."
                                            ListRenderMode="ListRenderMode.Virtual"
                                            FilteringMode="DataGridFilteringMode.Contains"
                                            TextFieldName="NavCompany"
                                            ValueFieldName="PlantID"
                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                @bind-Value="@Data.AttributeCompanyId" ShowValidationIcon="true">
                                    <Columns>
                                        <DxListEditorColumn FieldName="@nameof(ViewPlants.PlantCode)"
                                                            Caption="Company Code"
                                                            Width="180px" />
                                        <DxListEditorColumn FieldName="@nameof(ViewPlants.Description)"
                                                            Caption="Description" />
                                        <DxListEditorColumn FieldName="@nameof(ViewPlants.NavCompany)"
                                                            Caption="Nav Company" />
                                    </Columns>
                                </DxComboBox>
                                <ValidationMessage For="@(() => Data.AttributeCompanyId)" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Add Or Select Field " ColSpanMd="6" Visible="isSelectEnabled">
                                <span style="@isDisplay">
                                    <DxComboBox Data="@_attributes"
                                                AllowUserInput="true"
                                                NullText="Select Field Name..."
                                                ListRenderMode="ListRenderMode.Virtual"
                                                FilteringMode="DataGridFilteringMode.Contains"
                                                TextFieldName="AttributeName"
                                                ValueFieldName="AttributeName"
                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                    @bind-Value="Data.AttributeName"
                                    @bind-Text="Data.AttributeName"
                                                ShowValidationIcon="true"
                                                SelectedItemChanged="@((AttributeHeader plant) => SelectedItemChanged(plant))">
                                        <Buttons>
                                            <DxEditorButton IconCssClass="fa fa-pencil"
                                                            Tooltip="Edit an Attribute"
                                                            Click="@(_ => OnEditButtonClick())" />
                                        </Buttons>
                                    </DxComboBox>
                                    <ValidationMessage For="@(() => Data.AttributeName)" />
                                </span>
                                <span style="@isDisplay1">
                                    <DxComboBox Data="@_attributes"
                                                AllowUserInput="true"
                                                NullText="Select Field..."
                                                ListRenderMode="ListRenderMode.Virtual"
                                                FilteringMode="DataGridFilteringMode.Contains"
                                                TextFieldName="AttributeName"
                                                ValueFieldName="AttributeName"
                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                    @bind-Value="Data.AttributeName"
                                    @bind-Text="Data.AttributeName"
                                                ShowValidationIcon="true"
                                                SelectedItemChanged="@((AttributeHeader plant) => SelectedItemChanged(plant))">
                                    </DxComboBox>
                                    <ValidationMessage For="@(() => Data.AttributeName)" />
                                </span>

                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Add Or Select Field " ColSpanMd="6" Visible="isAddAttributeEnabled">
                                <DxTextBox @bind-Text="Data.AttributeName">
                                    <Buttons>
                                        <DxEditorButton IconCssClass="fa fa-close"
                                                        Tooltip="Close an Attribute"
                                                        Click="@(_ => OnCloseButtonClick())" />
                                    </Buttons>
                                </DxTextBox>
                                <ValidationMessage For="@(() => Data.AttributeName)" />
                            </DxFormLayoutItem>

                            <DxFormLayoutItem Caption="Label Name" ColSpanMd="6">
                                <DxTextBox @bind-Text="@Data.Description"></DxTextBox>
                                <ValidationMessage For="@(() => Data.Description)" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Control Type" ColSpanMd="6">
                                <DxComboBox Data="@_controlTypeData"
                                            NullText="Select ControlType..."
                                            FilteringMode="DataGridFilteringMode.Contains"
                                            TextFieldName="CodeValue"
                                            ValueFieldName="CodeId"
                                            Enabled="isEdit"
                                            EditFormat="{0}-{1}"
                                            SelectedItemChanged="@((CodeMaster plant) =>SelectedControlChanged(plant?.CodeId,"Add"))"
                                @bind-Value="@Data.ControlTypeId">
                                    <Columns>
                                        <DxListEditorColumn FieldName="@nameof(CodeMaster.CodeValue)"
                                                            Caption="Control Type"
                                                            Width="100px" />
                                        <DxListEditorColumn FieldName="@nameof(CodeMaster.CodeDescription)"
                                                            Caption="Description" Width="300px" />

                                    </Columns>
                                </DxComboBox>
                                <ValidationMessage For="@(() => Data.ControlTypeId)" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Is Data Source" ColSpanMd="6" Visible="@isDropDownType">


                                <DxCheckBox Checked="@Data.IsDataSource" CheckedExpression="@(() => Data.IsDataSource)" CheckedChanged="@((bool? value) => OnTemplateDataSourceGroupValueChanged(value))" Enabled="isEdit"></DxCheckBox>
                                @*  <DxRadioGroup Items="@TemplateUploadOptions"
                                Value="@Data.DropDownTypeId"
                                ValueExpression="@(() => Data.DropDownTypeId )"
                                ValueChanged="@((string value) => OnTemplateUploadGroupValueChanged(value))"
                                Layout="RadioGroupLayout.Horizontal"
                                CssClass="dx-demo-radio-group" /> *@

                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Data Source" ColSpanMd="6" Visible="@isDataSource">
                                <DxComboBox Data="@_attributeHeaderDataSource"
                                            NullText="Select Data Source..."
                                            FilteringMode="DataGridFilteringMode.Contains"
                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                            TextFieldName="DisplayName"
                                            ValueFieldName="AttributeHeaderDataSourceId"
                                            Enabled="isEdit"
                                @bind-Value="@Data.DataSourceId">

                                </DxComboBox>
                                <ValidationMessage For="@(() => Data.DataSourceId)" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Entry Mask" ColSpanMd="6">
                                <DxTextBox @bind-Text="Data.EntryMask" Enabled="@MaskEnabled"></DxTextBox>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Reg.Exp" ColSpanMd="6">
                                <DxTextBox @bind-Text="Data.RegExp" Enabled="@RegEnabled"></DxTextBox>
                            </DxFormLayoutItem>

                        </DxFormLayout>

                    </EditForm>
                </div>
            </DxTabPage>
            <DxTabPage Text="Attribute Data" Enabled="AttributeDetailsEnabled">
                <AttributeDetailsSetup @ref=RefDetails></AttributeDetailsSetup>
            </DxTabPage>
        </DxTabs>

    </div>
</div>

<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="CRT"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="((e) => bulkDelete())" />
    </FooterContentTemplate>
</DxPopup>
@code {
    public int ActiveTabIndex { get; set; } = 0;
    EditContext _editContext;
    private AttributeDetailsSetup? RefDetails { get; set; }
    bool DeleteEnabled { get; set; } = false;
    bool MaskEnabled { get; set; } = false;
    bool RegEnabled { get; set; } = false;
    bool isMultipleEnabled { get; set; } = false;
    bool Blukdeletepopup { get; set; } = false;
    bool isSelectEnabled { get; set; } = true;
    bool isAddAttributeEnabled { get; set; } = false;
    bool isAttributeEnabled { get; set; } = true;
    bool isEdit { get; set; } = true;
    bool AttributeDetailsEnabled { get; set; } = false;
    private List<ViewPlants>? _plantItems;
    private bool loading;
    private string MyID = "myid";
    long AttributeIDs;
    private List<AttributeHeader>? _attributes;
    string? isDisplay = "display:none;";
    string? isDisplay1 = "";
    AttributeHeader Data = new AttributeHeader();
    private List<CodeMaster> _stausItems;
    private List<ApplicationUser> _applicationUsers;
    private CodeMaster? codemaster;
    public ApplicationUser? applicationUser { get; private set; }
    private AttributeHeader? _master;
    private List<AttributeHeader>? _SaveLst;
    AttributeHeader AttributeNamelst = new AttributeHeader();
    private List<string> ControlTypeChildData = new List<string> { "ComboBox", "ListBox", "TagBox", "Radio" };
    private List<DropDownOptionsModel> DropDownTypeItems { get; set; } = new List<DropDownOptionsModel>();
    private List<DropDownOptionsModel> DataSourceItems { get; set; } = new List<DropDownOptionsModel>();
    IEnumerable<string> TemplateUploadOptions = new[] { "In Build", "Data Source" };
    private List<CodeMaster> _controlTypeData;
    private List<AttributeHeaderDataSource> _attributeHeaderDataSource;
    bool isDropDownType { get; set; } = false;
    bool isDataSource { get; set; } = false;
    protected override async Task OnInitializedAsync()
    {
        _editContext = new EditContext(Data);
        DropDownTypeItems.Add(new DropDownOptionsModel() { Value = "InBuild", Text = "InBuild" });
        DropDownTypeItems.Add(new DropDownOptionsModel() { Value = "DataSource", Text = "Data Source" });
        loadDataSourceItems();
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _stausItems = await Mediator.Send(new GetAllCodeMasterQuery("Status"));
        _controlTypeData = await Mediator.Send(new GetAllCodeMasterQuery("AttributeControlType"));
        _attributeHeaderDataSource = await Mediator.Send(new GetAttributeHeaderDataSource());
        _plantItems = await Mediator.Send(new GetAllPlantByNavCompanyQuery());
        isAddAttributeEnabled = false;
        isSelectEnabled = true;
        await loadData();
    }
    async Task OnTabClick(TabClickEventArgs e)
    {
        if (e.TabIndex == 0)
        {
            isAttributeEnabled = true;
            AttributeDetailsEnabled = false;
            var controlType = _controlTypeData.FirstOrDefault(f => f.CodeId == Data.ControlTypeId)?.CodeValue;
            if (controlType != null)
            {
                var isChildData = ControlTypeChildData.FirstOrDefault(f => controlType.ToLower().Contains(f.ToLower()));
                if (isChildData != null && Data.DropDownTypeId != "DataSource")
                {
                    AttributeDetailsEnabled = true;
                }
            }
        }
        if (e.TabIndex == 1)
        {
            isAttributeEnabled = false;
            var controlType = _controlTypeData.FirstOrDefault(f => f.CodeId == Data.ControlTypeId)?.CodeValue;
            if (controlType != null)
            {
                var isChildData = ControlTypeChildData.FirstOrDefault(f => controlType.ToLower().Contains(f.ToLower()));
                if (isChildData != null && Data.DropDownTypeId != "DataSource")
                {
                    await RefDetails.Attributeload(Data.AttributeID, controlType);
                }
                else
                {
                    await RefDetails.Attributeload(Data.AttributeID, null);
                }
            }
        }
        StateHasChanged();
    }
    void loadDataSourceItems()
    {
        DataSourceItems.Add(new DropDownOptionsModel() { Value = "Employee", Text = "Employee" });
        DataSourceItems.Add(new DropDownOptionsModel() { Value = "NAVCustomer", Text = "Customer" });
        DataSourceItems.Add(new DropDownOptionsModel() { Value = "NavItems", Text = "Nav Items" });
        DataSourceItems.Add(new DropDownOptionsModel() { Value = "NAVVendor", Text = "Vendor" });
        DataSourceItems.Add(new DropDownOptionsModel() { Value = "Plant", Text = "Company" });
        DataSourceItems.Add(new DropDownOptionsModel() { Value = "Department", Text = "Department" });
    }
    async Task loadData()
    {
        _attributes = await Mediator.Send(new GetAllAttributeNameHeader());
        StateHasChanged();
    }
    void addNew()
    {
        _editContext = new EditContext(Data);
        Data.Description = null;
        Data.EntryMask = null;
        Data.RegExp = null;
        Data.IsInternal = false;
        Data.ControlTypeId = null;
        Data.AttributeCompanyId = null;
        Data.IsMultiple = false;
        Data.IsRequired = false;
        Data.RequiredMessage = null;
        Data.AttributeID = 0;
        Data.AttributeName = null;
        Data.SessionId = null;
        Data.DataSourceId = 0;
        Data.DropDownTypeId = null;
        Data.IsDataSource = false;
        isAddAttributeEnabled = false;
        isSelectEnabled = true;
        isDisplay = "display:none;";
        isDisplay1 = "";
        isEdit = true;
        DeleteEnabled = false;
        isDropDownType = false;
        isDataSource = false;
        ActiveTabIndex = 0;
        AttributeDetailsEnabled = false;
        StateHasChanged();
    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    private async Task SubmitFormExternally()
    {
        if (_editContext.Validate())
        {
            await this.HandleValidSubmit();
        }
    }
    async Task HandleValidSubmit()
    {
        var ex = _attributes.Where(x => x.AttributeName == Data.AttributeName);
        if (Data.AttributeID > 0)
        {
            var ex1 = _attributes.Where(x => x.AttributeName == Data.AttributeName && x.AttributeID != Data.AttributeID);
            if (ex1.Any())
            {
                toastService.ShowToast("The entered value Already exists.", AC.SD.Core.Services.ToastLevel.Error);
            }
            else
            {
                await createAttributes();
                toastService.ShowToast("Attribute Updated  successully.", AC.SD.Core.Services.ToastLevel.Success);
            }
        }
        else
        {
            if (ex.Any())
            {
                toastService.ShowToast("The entered value Already exists.", AC.SD.Core.Services.ToastLevel.Error);
            }
            else
            {
                await createAttributes();
                DeleteEnabled = true;
                toastService.ShowToast("Attribute have been saved successully.", AC.SD.Core.Services.ToastLevel.Success);
            }
        }
    }
    void OnEditButtonClick()
    {
        isAddAttributeEnabled = true;
        isSelectEnabled = false;
        StateHasChanged();
    }
    void OnCloseButtonClick()
    {
        isAddAttributeEnabled = false;
        isSelectEnabled = true;
        StateHasChanged();
    }
    async Task createAttributes()
    {
        string? DropDownTypeId = Data.ControlTypeId == 2702 || Data.ControlTypeId == 2708 || Data.ControlTypeId == 2706 ? Data.DropDownTypeId : null;
        long? dataSourceId = Data.ControlTypeId == 2702 || Data.ControlTypeId == 2708 || Data.ControlTypeId == 2706 ? Data.DataSourceId : null;
        var createReq = new CreateAttributeHeader
            {
                AttributeID = Data.AttributeID,
                AttributeName = Data.AttributeName,
                Description = Data.Description,
                AttributeCompanyId=Data.AttributeCompanyId,
                ControlType = Data.ControlType,
                IsInternal = Data.IsInternal,
                EntryMask = Data.EntryMask,
                RegExp = Data.RegExp,
                ControlTypeId = Data.ControlTypeId,
                IsMultiple = Data.IsMultiple,
                IsRequired = Data.IsRequired,
                RequiredMessage = Data.RequiredMessage,
                StatusCodeID = 1,
                AddedByUserID = applicationUser.UserID,
                AddedDate = DateTime.Now,
                ModifiedByUserID = applicationUser.UserID,
                ModifiedDate = DateTime.Now,
                SessionId = Data.SessionId == null ? Guid.NewGuid() : Data.SessionId,
                DataSourceId = DropDownTypeId == "Data Source" ? dataSourceId : null,
                DropDownTypeId = DropDownTypeId,
            };
        var result = await Mediator.Send(createReq);
        if (result > 0)
        {
            Data.AttributeID = result;
            AttributeDetailsEnabled = false;
            var controlType = _controlTypeData.FirstOrDefault(f => f.CodeId == Data.ControlTypeId)?.CodeValue;
            if (controlType != null)
            {
                var isChildData = ControlTypeChildData.FirstOrDefault(f => controlType.ToLower().Contains(f.ToLower()));
                if (isChildData != null)
                {
                    if (Data.DropDownTypeId != "Data Source")
                    {
                        AttributeDetailsEnabled = true;
                    }
                }
                isDisplay1 = "display:none;";
                isDisplay = "";
            }
        }
        isAddAttributeEnabled = false;
        isSelectEnabled = true;
        StateHasChanged();
        await loadData();


    }
    void SelectedItemChanged(AttributeHeader header)
    {
        addNew();
        isEdit = true; DeleteEnabled = false;
        isDropDownType = false; isDataSource = false;
        isDisplay = "display:none;";
        isDisplay1 = ""; AttributeDetailsEnabled = false;
        if (header != null)
        {
            if (header.AttributeID > 0)
            {
                loadDropDownList(header.AttributeID);
            }
        }
        else
        {
            Data.Description = null;Data.AttributeCompanyId = null;
            Data.EntryMask = null;
            Data.RegExp = null;
            Data.IsInternal = false;
            Data.ControlTypeId = null;
            Data.IsMultiple = false;
            Data.IsRequired = false;
            Data.RequiredMessage = null;
            Data.AttributeID = 0;
            Data.AttributeName = null;
            Data.SessionId = null;
            Data.DataSourceId = 0;
            Data.DropDownTypeId = null;
            Data.IsDataSource = false;
            if (Data.AttributeID > 0)
            {
                loadDropDownList(Data.AttributeID);
            }
        }
    }
    void loadDropDownList(long? AttributeID)
    {
        isDisplay = "display:none;";
        isDisplay1 = "";
        DeleteEnabled = false; Data.DropDownTypeId = null; Data.IsDataSource = false;
        _master = _attributes.Where(c => c.AttributeID == AttributeID).FirstOrDefault();
        if (_master != null && _master.AttributeID > 0)
        {
            isDisplay = ""; isDisplay1 = "display:none;";
            Data.Description = _master.Description; Data.AttributeCompanyId = _master.AttributeCompanyId;
            Data.EntryMask = _master.EntryMask;
            Data.RegExp = _master.RegExp;
            Data.IsInternal = _master.IsInternal;
            Data.ControlTypeId = _master.ControlTypeId;
            Data.ControlType = _master.ControlType;
            Data.IsMultiple = _master.IsMultiple;
            Data.IsRequired = _master.IsRequired;
            Data.RequiredMessage = _master.RequiredMessage;
            Data.AttributeID = _master.AttributeID;
            Data.AttributeName = _master.AttributeName;
            Data.SessionId = _master.SessionId;
            Data.DropDownTypeId = _master.DropDownTypeId;
            Data.DataSourceId = Data.DropDownTypeId == "Data Source" ? _master.DataSourceId : 0;
            SelectedControlChanged(Data.ControlTypeId, "Edit");
            var isChildData = ControlTypeChildData.FirstOrDefault(f => _master.ControlType.ToLower().Contains(f.ToLower()));
            DeleteEnabled = true; AttributeDetailsEnabled = false;
            if (_master.FormUsedCount > 0)
            {
                isEdit = false;
                DeleteEnabled = false;
            }
            if (Data.DropDownTypeId == "Data Source")
            {
                Data.IsDataSource = true;
                isDataSource = true;
            }
            if (isChildData != null)
            {
                if (Data.DropDownTypeId != "Data Source")
                {
                    AttributeDetailsEnabled = true;
                }
            }
        }
    }
    void OnTemplateUploadGroupValueChanged(string? radioValue)
    {
        isDataSource = false; Data.DataSourceId = 0;
        Data.DropDownTypeId = radioValue; Data.DataSourceId = null;
        if (radioValue == "Data Source")
        {
            isDataSource = true;
            Data.DataSourceId = null;

        }
        StateHasChanged();
    }
    void OnTemplateDataSourceGroupValueChanged(bool? radioValue)
    {
        Data.IsDataSource = radioValue;
        isDataSource = false; Data.DataSourceId = 0;
        Data.DropDownTypeId = null; 
        if (radioValue == true)
        {
            Data.DropDownTypeId = "Data Source";
            isDataSource = true;
            Data.DataSourceId = null;

        }
        StateHasChanged();
    }
    void SelectedControlChanged(int? controlTypeId, string type)
    {
        isMultipleEnabled = false;
        MaskEnabled = false;
        RegEnabled = false; isDropDownType = false;
        isDataSource = false;
        if (type == "Add")
        {
            //Data.DropDownTypeId = "In Build";
            Data.DataSourceId = 0;
            Data.IsDataSource = false;
        }
        if (controlTypeId > 0)
        {
            var controlType = _controlTypeData.FirstOrDefault(f => f.CodeId == controlTypeId)?.CodeValue;
            if (!string.IsNullOrEmpty(controlType))
            {
                var isChildData = ControlTypeChildData.FirstOrDefault(f => controlType.ToLower().Contains(f.ToLower()));
                if (isChildData != null)
                {
                    isMultipleEnabled = true;
                }
                if (controlType == "TextBox")
                {
                    MaskEnabled = true;
                    RegEnabled = true;
                }
            }
            if (controlTypeId == 2702 || controlTypeId == 2708 || controlTypeId == 2706)
            {
                if (Data.AttributeID == 0)
                {
                    Data.IsDataSource = false;
                    //Data.DropDownTypeId = "In Build";
                    Data.DataSourceId = 0;
                }
                isDropDownType = true;
            }
        }
    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        Blukdeletepopup = false;
    }
    async Task bulkDelete()
    {
        try
        {
            var request = new DeleteAttributeHeader(Data.AttributeID);
            await Mediator.Send(request);
            Blukdeletepopup = false;
            toastService.ShowToast("Attribute have been Deleted successully.", AC.SD.Core.Services.ToastLevel.Success);

            addNew();
            await loadData();
        }
        catch (Exception eq)
        {
            Blukdeletepopup = false;
            toastService.ShowToast("You Must Delete ValueID.", AC.SD.Core.Services.ToastLevel.Error);
        }

    }
    public void Dispose()
    {
        System.GC.Collect();
        GC.SuppressFinalize(this);
    }
}