@using global::Core.EntityModels;
@using global::Core.Entities;
@using MediatR;
@inject IMediator Mediator
@using Application.Queries;
@inject AC.SD.Core.Services.ToastService toastService
@using global::Core.Repositories.Query;
@using global::Core.Entities.Views;
@implements IAsyncDisposable
@inject ILocalStorageService<ApplicationUser> _localStorageService
<div class="card w-100" style="margin-bottom:10px; margin-top:10px">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
            </Items>
        </DxMenu>
    </div>
</div>
<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">

    <DxGrid @ref="SMGrid" FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            Data="_documentUserRoleLists"
            ShowGroupPanel="true" ShowGroupedColumns="true"
            KeyFieldName="DynamicFormPermissionId"
            ShowSearchBox="true"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            SelectionMode="GridSelectionMode.Multiple"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            AutoExpandAllGroupRows="true"
            CssClass="ch-360"
            style="height: calc(100vh - 420px);"
            FocusedRowEnabled="true"
            SelectedDataItemsChanged="@SelectedDataItemsChanged"
            AllowSelectRowByClick="true">
        <Columns>
            <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
            <DxGridDataColumn FieldName="DynamicFormPermissionId" Visible="false" />
            <DxGridDataColumn FieldName="FullName" Caption="Name" MinWidth="170" />
            <DxGridDataColumn FieldName="DepartmentName" Caption="Department" MinWidth="170" />
            <DxGridDataColumn FieldName="DesignationName" Caption="Designation" MinWidth="170" />
            <DxGridDataColumn FieldName="IsAdd" Caption="Is Add" MinWidth="100" />
            <DxGridDataColumn FieldName="IsEdit" Caption="Is Edit" MinWidth="100" />
            <DxGridDataColumn FieldName="IsDelete" Caption="Is Delete" MinWidth="100" />
            <DxGridCommandColumn Width="160px" Visible="false" />
        </Columns>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="FullName" />
        </TotalSummary>
    </DxGrid>
</DxLoadingPanel>
<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         ShowCloseButton="true"
         HeaderText="Delete"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @ref="popup" HeaderText="Delete Permision" ShowCloseButton="true" @bind-Visible="@PopupVisible">


    <div class="text-center">
        <p>@DeleteerrorMessage</p>

        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>


</DxPopup>

@code {
    IGrid? SMGrid { get; set; }
    bool DeleteEnabled { get; set; } = false;
    [Parameter]
    public long? DynamicFormId { get; set; }
    public List<DynamicFormPermission> _documentUserRoleLists { get; set; }
    IReadOnlyList<object> SelectedDataItems { get; set; }
    bool PanelVisible { get; set; }
    bool Blukdeletepopup { get; set; } = false;
    string? DeleteerrorMessage;
    bool PopupVisible { get; set; } = false;
    DxPopup? popup; public ApplicationUser applicationUser { get; private set; }
    protected override async Task OnInitializedAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        await loadData(DynamicFormId);
    }
    public async Task loadData(long? DynamicFormId)
    {
        DeleteEnabled = false;
        _documentUserRoleLists = new List<DynamicFormPermission>();
        if (DynamicFormId > 0)
        {
            _documentUserRoleLists = await Mediator.Send(new GetDynamicFormPermissionList(DynamicFormId));
            if (_documentUserRoleLists.Count > 0)
            {
                DeleteEnabled = true;
            }
        }
        StateHasChanged();
    }
    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems;
    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    async void ClosePopup()
    {
        PopupVisible = false;
        await loadData(DynamicFormId);
    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
    }
    async Task bulkDelete()
    {
        try
        {
            List<long?> Ids = new List<long?>();
            if (SelectedDataItems != null)
            {
                foreach (object item in SelectedDataItems)
                {

                    if (item is DynamicFormPermission dataItem)
                    {
                        Ids.Add(dataItem.DynamicFormPermissionId);
                    }

                }
            }
            if (Ids != null && Ids.Count > 0)
            {
                var request = new DeleteDynamicFormPermission(DynamicFormId, Ids, applicationUser.UserID);
                await Mediator.Send(request);
                Blukdeletepopup = false;
                toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                await loadData(DynamicFormId);
                SMGrid.SetFocusedRowIndex(0);
            }
        }
        catch (Exception eq)
        {
            //DeleteerrorMessage = eq.Message;
            //PopupVisible = true;
            Blukdeletepopup = false;
            toastService.ShowToast("The Selected Record Do not deleted", AC.SD.Core.Services.ToastLevel.Error);
        }
    }
    public async ValueTask DisposeAsync()
    {
        // System.GC.Collect();
        _documentUserRoleLists?.Clear();
        SelectedDataItems = null;
        // GC.SuppressFinalize(this);
    }
}
