@page "/DynamicMasterSetup/dynamicForms/{SessionId:guid}"
@page "/DynamicMasterSetup/dynamicForms/{SessionId:guid}/{SessionIds:guid}"
@using System.ComponentModel.DataAnnotations;
@using Newtonsoft.Json.Linq;
@using global::Core.AttributeDynamicData;
@using global::Core.Entities.Views;
@using global::Core.Entities;
@using Application.Queries;
@inject IMediator Mediator
@using MediatR
@using global::Core.EntityModels;
@using global::Core.Repositories.Query;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager
@using global::Core.Helpers;
@using System.Reflection;
@using System.Linq.Expressions;
@using Newtonsoft.Json;

<style scoped>
    .save_hover_Visible {
        float: left;
        margin-top: -41px;
        line-height: 38px;
        margin-left: 450px;
        z-index: 9999;
        width: 100px;
    }

    .save_hover_Approval_Visible {
        float: left;
        margin-top: -41px;
        z-index: 9999;
        width: 100px;
    }
</style>
<div class="card cw-480">
    <div class="card-header text-center py-3">
        <h4>@_dynamicform?.Name</h4>
        @*  <p class="tm-8 mb-0 fw-normal fs-825">
        Create a new account to see it in action
        </p> *@
    </div>
    <div class="card" style="margin-top: 5px;padding: 5px;">
        <div class="card-body p-0">
            <div class="row">
                <div class="">
                    <DxMenu CollapseItemsToHamburgerMenu="true"
                            CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                            DisplayMode="MenuDisplayMode.Desktop">
                        <Items>
                            <DxMenuItem Text="Back" IconCssClass="fa fa-reply" Click="@backUrl" />
                            <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" />
                            <DxMenuItem Text="@ApproveName" IconCssClass="fa fa-check" Click="@onClickApprove" Enabled="@IsApprovalApproved" id=@($"flyout-overview-target-container-Description-Approve") />
                            <DxMenuItem Text="@RejectName" IconCssClass="fa fa-ban" Click="@onClickReject" Enabled="@IsApprovalRejected" id=@($"flyout-overview-target-container-Description-Reject") />
                        </Items>
                    </DxMenu>
                </div>
                <div class="save_hover_Visible" style="@isVisibleButton">
                    <button type="submit" form="@MyID" disabled="@loading" class="btnSubmitForm" onclick="@onsubmitClick">
                        @if (loading)
                        {
                            <span class="spinner-border spinner-border-sm mr-1"></span>
                        }
                        <i class="fa fa-save"></i>
                        Save
                    </button>
                </div>
                <div class="save_hover_Approval_Visible" style="@IsSendApprovalVisible">
                    <button type="submit" form="@MyID" disabled="@loading" class="btnSubmitForm" onclick="@onsubmitApprovalClick">
                        @if (loading)
                        {
                            <span class="spinner-border spinner-border-sm mr-1"></span>
                        }
                        <i class="fa fa-save"></i>
                        Send Approval
                    </button>
                </div>

            </div>
        </div>
    </div>
    <EditForm Model="@Data" id="@MyID"
              OnValidSubmit="@HandleValidSubmit"
              OnInvalidSubmit="@HandleInvalidSubmit"
              Context="EditFormContext">
        <DataAnnotationsValidator />
        <DxTabs RenderMode="TabsRenderMode.OnDemand" @bind-ActiveTabIndex="@ActiveTabIndex" TabClick="OnTabClick">
            <DxTabPage Text="Form">
                <div class="card-body" style="margin-top:5px;">
                    @CreateEditFormFields()
                </div>
            </DxTabPage>
            @*  <DxTabPage Text="Approval" Visible="@isApproval"> *@
            <DxTabPage Text="Approval" Visible="@isApproval">
                <DxGrid Data="_dynamicFormApprovedList" style="padding:10px;"
                        KeyFieldName="DynamicFormApprovedId">
                    <Columns>
                        <DxGridDataColumn FieldName="ApprovalUser" Caption="User" />
                        <DxGridDataColumn FieldName="ApprovedStatus" Caption="Status" />
                        <DxGridDataColumn FieldName="ApprovedDescription" Caption="Description" />
                        <DxGridDataColumn FieldName="ApprovedByUser" Caption="Added By" />
                        <DxGridDataColumn FieldName="ApprovedDate" Caption="Added Date" />
                    </Columns>
                </DxGrid>
                @*  <DxFormLayout CssClass="w-100" style="padding:10px;">
                <DxFormLayoutItem Caption="" ColSpanMd="12">
                <DxCheckBox @bind-Checked="dynamicFormApproval.IsApproved" LabelPosition="LabelPosition.Right" Enabled="@isApproved">Approved</DxCheckBox>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Description" ColSpanMd="12">
                <DxMemo @bind-Text="@dynamicFormApproval.ApprovedDescription" Rows="5" ShowValidationIcon="true" Enabled="@isApproved" />
                </DxFormLayoutItem>
                </DxFormLayout> *@
            </DxTabPage>
        </DxTabs>
    </EditForm>
</div>
<DxPopup @bind-Visible="@isApprovedPopup"
         ShowFooter="true"
         HeaderText="Approved From"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Are you sure want to Approved?
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="HandleFormValidSubmit" />
    </FooterContentTemplate>
</DxPopup>
<DxFlyout @bind-IsOpen=IsDescriptionOpen
          PositionTarget=@($"#flyout-overview-target-container-Description-{ApproveRejectName}")
          RestrictionTarget="#Navigation-Flyout-Customization"
          AnimationType="FlyoutAnimationType.Fade"
          PreventCloseOnPositionTargetClick="true"
          HeaderVisible="true"
          HeaderText=@($"{ApproveRejectName} Description")
          FooterVisible="true"
          CloseOnOutsideClick="false"
          FooterCssClass="custom-flyout-footer"
          Width="max(25vw, 550px)"
          Position=@(FlyoutPosition.BottomStart | FlyoutPosition.TopStart)>
    <BodyContentTemplate Context="PopupContext">
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="" ColSpanMd="12">
                <DxMemo @bind-Text="@dynamicFormApproval.ApprovedDescription" CssClass="cw-480" Rows="5" />
            </DxFormLayoutItem>
        </DxFormLayout>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="Close" Click=@(()=> IsDescriptionOpen = false) />
        <DxButton RenderStyle="ButtonRenderStyle.Success" Text="@ApproveRejectName" Click=@(()=> OnUpdateDescription()) />
    </FooterContentTemplate>
</DxFlyout>
@code {
    [Parameter]
    public Guid? SessionIds { get; set; }
    [Parameter]
    public Guid? SessionId { get; set; }
    public int ActiveTabIndex { get; set; } = 0;
    private bool loading;
    public bool IsDescriptionOpen { get; set; } = false;
    private DynamicForm _dynamicform;
    private DynamicFormData _dynamicformData;
    private string MyID = Guid.NewGuid().ToString();
    private AttributeHeaderListModel _AttributeHeader;
    Object Data { get; set; } = new Object();
    DynamicFormData dynamicFormData = new DynamicFormData();
    public ApplicationUser applicationUser { get; private set; }
    public long? dynamicFormDataId { get; set; }
    bool isApproval { get; set; } = false;
    bool isApprovedPopup { get; set; } = false;
    bool isApproved { get; set; } = true;
    string isVisibleButton { get; set; } = "";
    bool IsSendApproval { get; set; } = false;
    string IsSendApprovalVisible { get; set; } = "display:none;";
    bool IsApprovalApproved { get; set; } = false;
    bool IsApprovalRejected { get; set; } = false;
    bool IsSave { get; set; } = true; bool IsApprovalSave { get; set; } = true;
    string? ApproveName { get; set; } = "Approve";
    string? RejectName { get; set; } = "Reject";
    string? ApproveRejectName { get; set; } = "Approve";
    private DynamicFormApproved dynamicFormApproval = new DynamicFormApproved();
    private List<DynamicFormApproved>? _dynamicFormApprovedList;
    protected override async Task OnInitializedAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
    }
    protected override async Task OnParametersSetAsync()
    {
        await loadDynamicForm();
        base.OnParametersSet();
    }
    async Task loadDynamicForm()
    {
        isApproval = false; isApproved = true; IsSendApproval = false; IsSendApprovalVisible = "display:none;"; ApproveRejectName = "Approve";
        IsApprovalApproved = false; IsApprovalRejected = false; IsApprovalSave = false; IsDescriptionOpen = false;
        dynamicFormApproval = new DynamicFormApproved();
        _dynamicformData = null; isVisibleButton = ""; IsSave = true;
        if (SessionId != null)
        {
            if (SessionIds != null)
            {
                _dynamicformData = await Mediator.Send(new GetDynamicFormDataBySessionId(SessionIds));
                if (_dynamicformData != null)
                {
                    IsSendApproval = _dynamicformData.IsSendApproval == true ? true : false;
                    if (_dynamicformData.IsApproval == true)
                    {
                        if (_dynamicformData.IsSendApproval == true)
                        {
                            IsSendApprovalVisible = "display:none;"; IsApprovalSave = false;
                        }
                        else
                        {
                            IsSendApprovalVisible = ""; IsApprovalSave = true;
                        }
                    }
                    _dynamicFormApprovedList = await Mediator.Send(new GetDynamicFormApprovedList(_dynamicformData.DynamicFormDataId));
                    if (_dynamicFormApprovedList != null)
                    {
                        var notApproved = _dynamicFormApprovedList.Where(z => z.IsApproved != true).OrderBy(o => o.DynamicFormApprovedId).ToList();
                        var isApprovedListData = _dynamicFormApprovedList.Where(z => z.IsApproved == true).OrderBy(o => o.DynamicFormApprovedId).ToList();
                        var isNotApproved = notApproved.OrderBy(o => o.DynamicFormApprovedId).FirstOrDefault()?.UserId;
                        if (isNotApproved == applicationUser.UserID)
                        {
                            var UserApproveData = notApproved.FirstOrDefault(a => a.UserId == applicationUser.UserID);
                            if (UserApproveData != null)
                            {
                                dynamicFormApproval.ApprovedDescription = UserApproveData?.ApprovedDescription;
                                dynamicFormApproval.DynamicFormApprovalId = UserApproveData?.DynamicFormApprovalId;
                                dynamicFormApproval.DynamicFormApprovedId = UserApproveData.DynamicFormApprovedId;
                                dynamicFormApproval.DynamicFormDataId = UserApproveData.DynamicFormDataId;
                                if (IsSendApproval == true)
                                {
                                    if (UserApproveData.IsApproved == false)
                                    {
                                        IsApprovalApproved = true;
                                        IsApprovalRejected = false;
                                    }
                                    else if (UserApproveData.IsApproved == true)
                                    {
                                        IsApprovalApproved = false;
                                        IsApprovalRejected = true;
                                    }
                                    else
                                    {
                                        IsApprovalApproved = true;
                                        IsApprovalRejected = true;
                                    }

                                }
                            }
                            isApproval = true;
                        }
                        var isApprovedAs = isApprovedListData.FirstOrDefault(f => f.UserId == applicationUser.UserID);
                        if (isApprovedAs != null)
                        {
                            isVisibleButton = "display:none;"; IsSave = false;
                            isApproval = true;
                        }
                    }

                }
            }
            _dynamicform = await Mediator.Send(new GetAllDynamicFormList(SessionId, _dynamicformData?.DynamicFormDataId));
            if (_dynamicform != null)
            {
                // if (_dynamicform.IsApproval == true && _dynamicform.DynamicFormApproval != null && _dynamicform.DynamicFormApproval.Count > 0)
                // {
                //     var dynamicFormApprovalItems = _dynamicform.DynamicFormApproval.OrderBy(o => o.SortOrderBy);
                //     var userExits = dynamicFormApprovalItems.FirstOrDefault(f => f.ApprovalUserId == applicationUser.UserID);
                //     if (userExits != null)
                //     {
                //         var notApproved = _dynamicform.DynamicFormApproval.Where(z => z.Approved == null).OrderBy(o => o.SortOrderBy).ToList();
                //         var isApprovedListData = _dynamicform.DynamicFormApproval.Where(z => z.Approved == 1).OrderBy(o => o.SortOrderBy).ToList();
                //         if (_dynamicformData != null)
                //         {
                //             var isNotApproved = notApproved.OrderBy(o => o.SortOrderBy).FirstOrDefault()?.ApprovalUserId;
                //             if (isNotApproved == applicationUser.UserID)
                //             {
                //                 dynamicFormApproval.ApprovedDescription = userExits.Description;
                //                 dynamicFormApproval.DynamicFormApprovalId = userExits.DynamicFormApprovalId;
                //                 isApproval = true;
                //             }
                //             var isApprovedAs = isApprovedListData.FirstOrDefault(f => f.ApprovalUserId == applicationUser.UserID);
                //             if (isApprovedAs != null)
                //             {
                //                 var isApprovedList = await Mediator.Send(new GetDynamicFormApprovedByID(_dynamicformData.DynamicFormDataId, applicationUser.UserID));
                //                 if (isApprovedList != null)
                //                 {

                //                     dynamicFormApproval.ApprovedDescription = isApprovedList.ApprovedDescription;
                //                     dynamicFormApproval.DynamicFormApprovalId = userExits.DynamicFormApprovalId;
                //                     dynamicFormApproval.DynamicFormApprovedId = isApprovedList.DynamicFormApprovedId;
                //                     dynamicFormApproval.IsApproved = isApprovedList.IsApproved;
                //                     isApproval = true;
                //                     isApproved = false; isVisibleButton = "display:none;";
                //                 }
                //                 else
                //                 {
                //                     dynamicFormApproval.ApprovedDescription = userExits.Description;
                //                     dynamicFormApproval.DynamicFormApprovalId = userExits.DynamicFormApprovalId;
                //                     isApproval = true;
                //                 }
                //             }
                //         }
                //         else
                //         {
                //             isApproval = false;
                //             var isNotApproved = notApproved.OrderBy(o => o.SortOrderBy).FirstOrDefault()?.ApprovalUserId;
                //             if (isNotApproved == applicationUser.UserID)
                //             {
                //                 dynamicFormApproval.ApprovedDescription = userExits.Description;
                //                 dynamicFormApproval.DynamicFormApprovalId = userExits.DynamicFormApprovalId;
                //                 isApproval = true;
                //             }
                //         }
                //     }
                //     else
                //     {
                //         isVisibleButton = "display:none;";
                //     }
                // }
                var screenId = _dynamicform.ScreenID.Replace(" ", "_");
                _AttributeHeader = await Mediator.Send(new GetAllAttributeNameList(_dynamicform, applicationUser.UserID));
                if (_AttributeHeader.DynamicFormSectionAttribute != null && _AttributeHeader.DynamicFormSectionAttribute.Count > 0)
                {
                    Type[] typesList = _AttributeHeader.DynamicFormSectionAttribute.Select(s => s.DataType).ToArray();
                    string[] objectNameList = _AttributeHeader.DynamicFormSectionAttribute.Select(s => s.DynamicAttributeName).ToArray();
                    MyClassBuilder MCB = new MyClassBuilder(screenId);
                    var myclass = MCB.CreateObject(objectNameList, typesList);
                    Data = myclass;
                    if (_dynamicformData != null)
                    {
                        dynamicFormData.DynamicFormDataId = _dynamicformData.DynamicFormDataId;
                        dynamicFormData.SessionId = _dynamicformData.SessionId;
                        dynamicFormData.AddedDate = _dynamicformData.AddedDate;
                        dynamicFormData.AddedByUserID = _dynamicformData.AddedByUserID;
                        dynamicFormData.DynamicFormCurrentItem = _dynamicformData.DynamicFormItem;
                        dynamicFormData.DynamicFormId = _dynamicformData.DynamicFormId;
                        if (!string.IsNullOrEmpty(_dynamicformData.DynamicFormItem))
                        {
                            if (IsValidJson(_dynamicformData.DynamicFormItem))
                            {
                                dynamic jsonObj = JsonConvert.DeserializeObject(_dynamicformData.DynamicFormItem);
                                _AttributeHeader.DynamicFormSectionAttribute.ForEach(a =>
                                {
                                    var Names = jsonObj.ContainsKey(a.DynamicAttributeName);
                                    if (Names == true)
                                    {
                                        //var valueType = jsonObj[a.DynamicAttributeName].Type;
                                        var itemValue = jsonObj[a.DynamicAttributeName];
                                        if (itemValue is JArray)
                                        {
                                            var values = (JArray)itemValue;
                                            List<long?> listData = values.ToObject<List<long?>>();
                                            Data.GetType().GetProperty(a.DynamicAttributeName).SetValue(Data, listData);
                                        }
                                        else if (a.ControlType == "ListBox" && a.IsMultiple == false)
                                        {
                                            long? values = itemValue == null ? null : (long)itemValue;
                                            Data.GetType().GetProperty(a.DynamicAttributeName).SetValue(Data, values);
                                        }
                                        else
                                        {

                                            if (a.ControlType == "TextBox" || a.ControlType == "Memo")
                                            {
                                                var values = (string)itemValue;
                                                Data.GetType().GetProperty(a.DynamicAttributeName).SetValue(Data, values);
                                            }
                                            else if (a.ControlType == "ComboBox" || a.ControlType == "Radio" || a.ControlType == "RadioGroup")
                                            {
                                                long? values = itemValue == null ? null : (long)itemValue;
                                                Data.GetType().GetProperty(a.DynamicAttributeName).SetValue(Data, values);
                                            }
                                            else if (a.ControlType == "CheckBox")
                                            {
                                                bool? values = itemValue == null ? false : (bool)itemValue;
                                                Data.GetType().GetProperty(a.DynamicAttributeName).SetValue(Data, values);
                                            }
                                            else if (a.ControlType == "DateEdit")
                                            {
                                                DateTime? values = itemValue == null ? null : (DateTime)itemValue;
                                                Data.GetType().GetProperty(a.DynamicAttributeName).SetValue(Data, values);
                                            }
                                            else if (a.ControlType == "TimeEdit")
                                            {
                                                TimeSpan? values = itemValue == null ? null : (TimeSpan)itemValue;
                                                Data.GetType().GetProperty(a.DynamicAttributeName).SetValue(Data, values);
                                            }

                                            else if (a.ControlType == "SpinEdit")
                                            {
                                                if (a.IsSpinEditType == "decimal")
                                                {
                                                    decimal? values = itemValue == null ? null : (decimal)itemValue;
                                                    Data.GetType().GetProperty(a.DynamicAttributeName).SetValue(Data, values);
                                                }
                                                else
                                                {
                                                    int? values = itemValue == null ? null : (int)itemValue;
                                                    Data.GetType().GetProperty(a.DynamicAttributeName).SetValue(Data, values);
                                                }
                                            }
                                        }
                                    }
                                });
                            }
                        }
                    }
                }
            }
        }
        StateHasChanged();
    }
    void onClickApprove()
    {
        ApproveRejectName = "Approve";
        IsDescriptionOpen = true;
        dynamicFormApproval.IsApproved = true;
    }
    void onClickReject()
    {
        ApproveRejectName = "Reject";
        IsDescriptionOpen = true;
        dynamicFormApproval.IsApproved = false;
    }
    async Task OnUpdateDescription()
    {
        await UpdateStatusApproval();
        IsDescriptionOpen = false;
    }
    async Task UpdateStatusApproval()
    {
        dynamicFormApproval.ApprovedByUserId = applicationUser.UserID;
        dynamicFormApproval.ApprovedDate = DateTime.Now;
        var response = await Mediator.Send(new UpdateDynamicFormApprovedByStaus(dynamicFormApproval));
        if (response != null)
        {
            if (response.IsApproved == true)
            {
                toastService.ShowToast("Satus Approved Successfully", AC.SD.Core.Services.ToastLevel.Success);
            }
            if (response.IsApproved == false)
            {
                toastService.ShowToast("Satus Rejected Successfully", AC.SD.Core.Services.ToastLevel.Success);
            }
            dynamicFormApproval = new DynamicFormApproved();
            await loadDynamicForm();
        }
    }
    void OnTabClick(TabClickEventArgs e)
    {
    }
    private static bool IsValidJson(string strInput)
    {
        if (string.IsNullOrWhiteSpace(strInput)) { return false; }
        strInput = strInput.Trim();
        if ((strInput.StartsWith("{") && strInput.EndsWith("}")) || //For object
            (strInput.StartsWith("[") && strInput.EndsWith("]"))) //For array
        {
            try
            {
                var obj = JToken.Parse(strInput);
                return true;
            }
            catch (JsonReaderException jex)
            {
                //Exception in parsing json
                return false;
            }
            catch (Exception ex) //some other exception
            {
                return false;
            }
        }
        else
        {
            return false;
        }
    }
    void onsubmitApprovalClick()
    {
        IsSendApproval = true;
    }
    void onsubmitClick()
    {
        if (IsSendApproval != true)
        {
            IsSendApproval = false;
        }
    }
    void backUrl()
    {
        NavigationManager.NavigateTo("DynamicMasterSetup/dynamicFormList/" + SessionId);
    }
    void ResetForm()
    {

    }
    async Task addNew()
    {
        NavigationManager.NavigateTo("DynamicMasterSetup/dynamicForms/" + SessionId);
    }
    async Task HandleFormValidSubmit()
    {
        if (IsSave == true || IsApprovalSave == true)
        {
            var datas = Data;
            string strJson = JsonConvert.SerializeObject(datas);
            loading = true;
            dynamicFormData.DynamicFormId = _dynamicform.ID;
            if (dynamicFormData.DynamicFormDataId > 0)
            {
                var editReq = new InsertOrUpdateDynamicFormData
                    {
                        DynamicFormDataId = dynamicFormData.DynamicFormDataId,
                        DynamicFormId = _dynamicform.ID,
                        DynamicFormItem = strJson,
                        SessionId = dynamicFormData.SessionId,
                        ModifiedByUserID = applicationUser.UserID,
                        AddedByUserID = dynamicFormData.AddedByUserID,
                        ModifiedDate = DateTime.Now,
                        StatusCodeID = 1,
                        AddedDate = dynamicFormData.AddedDate,
                        AttributeHeader = _AttributeHeader,
                        ObjectData = Data,
                        IsSendApproval = IsSendApproval,
                    };

                var result = await Mediator.Send(editReq);
                if (result.DynamicFormDataId > 0)
                {
                    if (IsSendApproval == true)
                    {
                        if (_dynamicFormApprovedList == null)
                        {
                            await InsertOrUpdateDynamicFormApprovedData(dynamicFormData);
                            await loadDynamicForm();
                        }
                        else
                        {
                            if (_dynamicFormApprovedList.Count == 0)
                            {
                                await InsertOrUpdateDynamicFormApprovedData(dynamicFormData);
                                await loadDynamicForm();
                            }
                        }
                    }
                    toastService.ShowToast("Record updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
                    loading = false;
                    //await onApproved();
                }
                StateHasChanged();
            }
            else
            {
                var createReq = new InsertOrUpdateDynamicFormData
                    {
                        DynamicFormItem = strJson,
                        DynamicFormId = _dynamicform.ID,
                        SessionId = Guid.NewGuid(),
                        AddedByUserID = applicationUser.UserID,
                        ModifiedByUserID = applicationUser.UserID,
                        ModifiedDate = DateTime.Now,
                        StatusCodeID = 1,
                        AddedDate = DateTime.Now,
                        AttributeHeader = _AttributeHeader,
                        ObjectData = Data,
                        IsSendApproval = IsSendApproval,
                    };
                var result = await Mediator.Send(createReq);
                if (result.DynamicFormDataId > 0)
                {
                    toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
                    dynamicFormDataId = result.DynamicFormDataId;
                    dynamicFormData.DynamicFormDataId = dynamicFormDataId.Value;
                    if (IsSendApproval == true)
                    {
                        if (_dynamicFormApprovedList == null)
                        {
                            await InsertOrUpdateDynamicFormApprovedData(dynamicFormData);
                            await loadDynamicForm();
                        }
                        else
                        {
                            if (_dynamicFormApprovedList.Count == 0)
                            {
                                await InsertOrUpdateDynamicFormApprovedData(dynamicFormData);
                                await loadDynamicForm();
                            }
                        }
                    }
                    loading = false;
                    // await onApproved();
                }
                loading = false;
                NavigationManager.NavigateTo("DynamicMasterSetup/dynamicForms/" + SessionId + "/" + createReq.SessionId);
                StateHasChanged();
            }
        }
    }
    async Task InsertOrUpdateDynamicFormApprovedData(DynamicFormData dynamicFormData)
    {
        var response = await Mediator.Send(new InsertOrUpdateDynamicFormApproved(dynamicFormData));
    }
    async Task HandleValidSubmit()
    {
        if (isApproval == true && dynamicFormApproval.IsApproved == true)
        {
            isApprovedPopup = true;
        }
        else
        {
            await HandleFormValidSubmit();
        }
    }
    async Task onApproved()
    {
        if (isApproval == true)
        {
            if (dynamicFormApproval.IsApproved == true)
            {
                var createReq = new InsertDynamicFormApproved
                    {
                        DynamicFormId = _dynamicform.ID,
                        DynamicFormDataId = dynamicFormData.DynamicFormDataId,
                        DynamicFormApprovedId = dynamicFormApproval.DynamicFormApprovedId,
                        DynamicFormApprovalId = dynamicFormApproval.DynamicFormApprovalId,
                        ApprovedDescription = dynamicFormApproval.ApprovedDescription,
                        IsApproved = dynamicFormApproval.IsApproved,
                    };
                var result = await Mediator.Send(createReq);
                if (result.DynamicFormApprovedId > 0)
                {
                    dynamicFormApproval.DynamicFormApprovedId = result.DynamicFormApprovedId;
                    isApprovedPopup = false;

                    isApproved = false; isVisibleButton = "display:none;";
                }
            }
        }
    }
    async Task OnApprovedForm()
    {
        await HandleFormValidSubmit();
    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        isApprovedPopup = false;
    }
    void HandleInvalidSubmit()
    {
    }
    public RenderFragment CreateEditFormFields() => formLayoutBuilder =>
    {
        var _AttributeHeaders = _AttributeHeader;
        var propertyList = Data.GetType().GetProperties();
        if (_AttributeHeader != null && _AttributeHeader.DynamicFormSection != null && _AttributeHeader.DynamicFormSectionAttribute.Count > 0)
        {
            int i = 0; int k = 0;
            _AttributeHeader.DynamicFormSection.ForEach(a =>
            {
                var isReadonly = false;
                var isVisible = false;
                if (isApproval == false)
                {
                    if (a.IsPermissionCount == 0 && a.IsLoginUsers == 0)
                    {
                        isVisible = true; isReadonly = true;
                    }
                    else
                    {
                        if (a.IsPermissionCount > 0)
                        {
                            if (a.IsVisible == true)
                            {
                                if (a.IsLoginUsers > 0)
                                {
                                    isVisible = true;
                                    if (a.IsReadWrite == true)
                                    {
                                        isReadonly = true;
                                    }
                                    if (a.IsReadOnly == true)
                                    {
                                        isReadonly = false;
                                    }
                                }
                            }
                        }
                        else
                        {
                            isVisible = true; isReadonly = true;
                        }
                    }
                }
                else
                {
                    isVisible = true; isReadonly = true;
                }
                formLayoutBuilder.OpenComponent<DxFormLayout>(i);

                formLayoutBuilder.AddAttribute(1, "ChildContent", (RenderFragment)((layoutItemBuilder) =>
            {
                layoutItemBuilder.OpenComponent<DxFormLayoutGroup>(i + 1);
                layoutItemBuilder.AddAttribute(i + 1, "ExpandButtonDisplayMode", GroupExpandButtonDisplayMode.End);
                layoutItemBuilder.AddAttribute(i + 1, "Expanded", k == 0 ? true : false);
                layoutItemBuilder.AddAttribute(i + 1, "AnimationType", LayoutAnimationType.Slide);
                layoutItemBuilder.AddAttribute(i + 1, "Caption", a.SectionName);
                layoutItemBuilder.AddAttribute(i + 1, "Visible", isVisible);
                layoutItemBuilder.AddAttribute(1, "ChildContent", (RenderFragment)((itemBuilder) =>
                {
                    var dynamicFormSectionAttributeData = _AttributeHeader.DynamicFormSectionAttribute.Where(w => w.DynamicFormSectionId == a.DynamicFormSectionId).OrderBy(o => o.SortOrderBy).ToList();
                    if (dynamicFormSectionAttributeData != null && dynamicFormSectionAttributeData.Count > 0)
                    {
                        dynamicFormSectionAttributeData.ForEach(s =>
        {

            var property = Data.GetType().GetProperty(s.DynamicAttributeName);
            var propertyType = Nullable.GetUnderlyingType(property.PropertyType) ?? property.PropertyType;
            var dataLists = _AttributeHeader.AttributeDetails.Where(x => x.AttributeID == s.AttributeId).ToList();
            List<AttributeDetails> attributeDetailss = dataLists != null && dataLists.Count > 0 ? dataLists : new List<AttributeDetails>();
            itemBuilder.OpenComponent<DxFormLayoutItem>(i++);

            itemBuilder.AddAttribute(i++, "Caption", s.DisplayName);
            itemBuilder.AddAttribute(i++, "ColSpanMd", s.ColSpan);
            var access = Expression.Property(Expression.Constant(Data), s.DynamicAttributeName);
            var lambda = Expression.Lambda(typeof(Func<>).MakeGenericType(s.DataType), access);

            itemBuilder.AddAttribute(i++, "Template", (RenderFragment<Object>)((context) => ((editor) =>
                     {
                         var j = 0;
                         if (s.ControlType == "TextBox")
                         {
                             editor.OpenComponent<DxTextBox>(j++);
                             editor.AddAttribute(j++, "Text", property.GetValue(Data));
                             editor.AddAttribute(j++, "TextExpression", lambda);
                             editor.AddAttribute(j++, "Enabled", isReadonly);
                             editor.AddAttribute(j++, "ClearButtonDisplayMode", DataEditorClearButtonDisplayMode.Auto);
                             editor.AddAttribute(j++, "TextChanged", EventCallback.Factory.Create<System.String>(this, str => { property.SetValue(Data, str); }));
                             editor.CloseComponent();
                         }
                         else if (s.ControlType == "DateEdit")
                         {
                             editor.OpenComponent<DxDateEdit<DateTime?>>(j);
                             editor.AddAttribute(j++, "Date", property.GetValue(Data));
                             editor.AddAttribute(j++, "DateExpression", lambda);
                             editor.AddAttribute(j++, "Enabled", isReadonly);
                             editor.AddAttribute(j++, "ClearButtonDisplayMode", DataEditorClearButtonDisplayMode.Auto);
                             editor.AddAttribute(j++, "DateChanged", EventCallback.Factory.Create<System.DateTime?>(this, str => { property.SetValue(Data, str); }));
                             editor.CloseComponent();
                         }
                         else if (s.ControlType == "TimeEdit")
                         {
                             editor.OpenComponent<DxTimeEdit<TimeSpan?>>(j);
                             editor.AddAttribute(j++, "Time", property.GetValue(Data));
                             editor.AddAttribute(j++, "TimeExpression", lambda);
                             editor.AddAttribute(j++, "Enabled", isReadonly);
                             editor.AddAttribute(j++, "ClearButtonDisplayMode", DataEditorClearButtonDisplayMode.Auto);
                             editor.AddAttribute(j++, "TimeChanged", EventCallback.Factory.Create<System.TimeSpan?>(this, str => { property.SetValue(Data, str); }));
                             editor.CloseComponent();
                         }
                         else if (s.ControlType == "Memo")
                         {
                             editor.OpenComponent<DxMemo>(j);
                             editor.AddAttribute(j++, "Text", property.GetValue(Data));
                             editor.AddAttribute(j++, "TextExpression", lambda);
                             editor.AddAttribute(j++, "Rows", 5);
                             editor.AddAttribute(j++, "Enabled", isReadonly);
                             editor.AddAttribute(j++, "ClearButtonDisplayMode", DataEditorClearButtonDisplayMode.Auto);
                             editor.AddAttribute(j++, "TextChanged", EventCallback.Factory.Create<System.String>(this, str => { property.SetValue(Data, str); }));
                             editor.CloseComponent();
                         }
                         else if (s.ControlType == "SpinEdit")
                         {
                             if (propertyType.Name == "Int32")
                             {
                                 editor.OpenComponent<DxSpinEdit<int?>>(j);
                                 editor.AddAttribute(j++, "Value", property.GetValue(Data));
                                 editor.AddAttribute(j++, "MinValue", 0);
                                 editor.AddAttribute(j++, "Enabled", isReadonly);
                                 editor.AddAttribute(j++, "BindValueMode", BindValueMode.OnInput);
                                 editor.AddAttribute(j++, "ClearButtonDisplayMode", DataEditorClearButtonDisplayMode.Auto);
                                 editor.AddAttribute(j++, "ValueChanged", EventCallback.Factory.Create<int?>(this, str => { property.SetValue(Data, str); }));
                             }
                             if (propertyType.Name == "Decimal")
                             {
                                 editor.OpenComponent<DxSpinEdit<decimal?>>(j);
                                 editor.AddAttribute(j++, "Value", property.GetValue(Data));
                                 editor.AddAttribute(j++, "Increment", 0.1M);
                                 editor.AddAttribute(j++, "Enabled", isReadonly);
                                 editor.AddAttribute(j++, "MinValue", 0M);
                                 editor.AddAttribute(j++, "ClearButtonDisplayMode", DataEditorClearButtonDisplayMode.Auto);
                                 editor.AddAttribute(j++, "ValueChanged", EventCallback.Factory.Create<decimal?>(this, str => { property.SetValue(Data, str); }));
                             }
                             editor.AddAttribute(j++, "ValueExpression", lambda);
                             editor.CloseComponent();
                         }
                         else if (s.ControlType == "CheckBox")
                         {
                             editor.OpenComponent<DxCheckBox<bool?>>(j);
                             editor.AddAttribute(j++, "Checked", property.GetValue(Data) ?? false);
                             editor.AddAttribute(j++, "CheckedExpression", lambda);
                             editor.AddAttribute(j++, "Enabled", isReadonly);
                             //editor.AddAttribute(j++, "LabelPosition", LabelPosition.Right);
                             editor.AddAttribute(j++, "CheckedChanged", EventCallback.Factory.Create<bool?>(this, str => { property.SetValue(Data, str); }));
                             editor.CloseComponent();
                         }
                         else if (s.ControlType == "RadioGroup")
                         {
                             editor.OpenComponent<DxRadioGroup<AttributeDetails, long?>>(j);
                             editor.AddAttribute(j++, "Items", attributeDetailss);
                             editor.AddAttribute(j++, "TextFieldName", "AttributeDetailName");
                             editor.AddAttribute(j++, "ValueFieldName", "AttributeDetailID");
                             editor.AddAttribute(j++, "Value", property.GetValue(Data));
                             editor.AddAttribute(j++, "Enabled", isReadonly);
                             editor.AddAttribute(j++, "ValueExpression", lambda);
                             editor.AddAttribute(j++, "ValueChanged", EventCallback.Factory.Create<long?>(this, str => { property.SetValue(Data, str); }));
                             editor.CloseComponent();
                         }
                         else if (s.ControlType == "Radio")
                         {
                             editor.OpenComponent<DxRadioGroup<AttributeDetails, long?>>(j);
                             editor.AddAttribute(j++, "Items", attributeDetailss);
                             editor.AddAttribute(j++, "TextFieldName", "AttributeDetailName");
                             editor.AddAttribute(j++, "ValueFieldName", "AttributeDetailID");
                             editor.AddAttribute(j++, "Value", property.GetValue(Data));
                             editor.AddAttribute(j++, "Enabled", isReadonly);
                             editor.AddAttribute(j++, "ValueExpression", lambda);
                             editor.AddAttribute(j++, "ValueChanged", EventCallback.Factory.Create<long?>(this, str => { property.SetValue(Data, str); }));
                             editor.CloseComponent();
                         }
                         else if (s.ControlType == "ComboBox")
                         {
                             editor.OpenComponent<DxComboBox<AttributeDetails, long?>>(j);
                             editor.AddAttribute(j++, "Data", attributeDetailss);
                             editor.AddAttribute(j++, "TextFieldName", "AttributeDetailName");
                             editor.AddAttribute(j++, "ValueFieldName", "AttributeDetailID");
                             editor.AddAttribute(j++, "ListRenderMode", ListRenderMode.Virtual);
                             editor.AddAttribute(j++, "FilteringMode", DataGridFilteringMode.Contains);
                             editor.AddAttribute(j++, "ClearButtonDisplayMode", DataEditorClearButtonDisplayMode.Auto);
                             editor.AddAttribute(j++, "Value", property.GetValue(Data));
                             editor.AddAttribute(j++, "Enabled", isReadonly);
                             editor.AddAttribute(j++, "ValueExpression", lambda);
                             editor.AddAttribute(j++, "ValueChanged", EventCallback.Factory.Create<long?>(this, str => { property.SetValue(Data, str); }));
                             editor.CloseComponent();
                         }
                         else if (s.ControlType == "TagBox")
                         {
                             editor.OpenComponent<DxTagBox<AttributeDetails, long?>>(j);
                             editor.AddAttribute(j++, "Data", attributeDetailss);
                             editor.AddAttribute(j++, "TextFieldName", "AttributeDetailName");
                             editor.AddAttribute(j++, "ValueFieldName", "AttributeDetailID");
                             editor.AddAttribute(j++, "ListRenderMode", ListRenderMode.Virtual);
                             editor.AddAttribute(j++, "FilteringMode", DataGridFilteringMode.Contains);
                             editor.AddAttribute(j++, "ClearButtonDisplayMode", DataEditorClearButtonDisplayMode.Auto);
                             editor.AddAttribute(j++, "Values", property.GetValue(Data));
                             editor.AddAttribute(j++, "ValuesExpression", lambda);
                             editor.AddAttribute(j++, "Enabled", isReadonly);
                             editor.AddAttribute(j++, "ValuesChanged", EventCallback.Factory.Create<IEnumerable<long?>>(this, str => { property.SetValue(Data, str); }));
                             editor.CloseComponent();
                         }
                         else if (s.ControlType == "ListBox")
                         {
                             editor.OpenComponent<DxListBox<AttributeDetails, long?>>(j);
                             editor.AddAttribute(j++, "Data", attributeDetailss);
                             editor.AddAttribute(j++, "TextFieldName", "AttributeDetailName");
                             editor.AddAttribute(j++, "ValueFieldName", "AttributeDetailID");
                             editor.AddAttribute(j++, "Enabled", isReadonly);
                             editor.AddAttribute(j++, "ListRenderMode", ListRenderMode.Virtual);
                             editor.AddAttribute(j++, "ShowCheckboxes", true);

                             if (s.IsMultiple == true)
                             {
                                 editor.AddAttribute(j++, "Values", property.GetValue(Data));
                                 editor.AddAttribute(j++, "ValuesExpression", lambda);
                                 editor.AddAttribute(j++, "SelectionMode", ListBoxSelectionMode.Multiple);
                                 editor.AddAttribute(j++, "ValuesChanged", EventCallback.Factory.Create<IEnumerable<long?>>(this, str => { property.SetValue(Data, str); }));
                             }
                             else
                             {
                                 editor.AddAttribute(j++, "Value", property.GetValue(Data));
                                 editor.AddAttribute(j++, "ValueExpression", lambda);
                                 editor.AddAttribute(j++, "SelectionMode", ListBoxSelectionMode.Single);
                                 editor.AddAttribute(j++, "ValueChanged", EventCallback.Factory.Create<long?>(this, str => { property.SetValue(Data, str); }));
                             }
                             editor.CloseComponent();
                         }
                     })));
            itemBuilder.CloseComponent();
            itemBuilder.OpenElement(i++, "div");
            itemBuilder.AddAttribute(i++, "class", "text-danger");
            //itemBuilder.OpenComponent(i++, typeof(ValidationMessage<>).MakeGenericType(s.DataType));
            // itemBuilder.AddAttribute(i++, "For", lambda);
            //itemBuilder.CloseComponent();
            itemBuilder.CloseElement();
            k++;
        });
                    }
                    itemBuilder.OpenComponent<DxFormLayoutItem>(i++);
                    itemBuilder.CloseComponent();

                }));

                layoutItemBuilder.CloseComponent();
            }));

                formLayoutBuilder.CloseComponent();
            });

        }
    };


}

