@page "/DynamicMasterSetup"
@using global::Core.Entities.Views;

@inject IMediator Mediator
@using Application.Queries;
@using MediatR
@using global::Core.Entities;
@using global::Core.EntityModels;
@using global::Core.Repositories.Query;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager
@implements IAsyncDisposable;
@rendermode @(new  InteractiveServerRenderMode(prerender: false))

<style scoped>
    .formCountClass {
        color: red;
    }
</style>
<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDetailDelete" Enabled="@DeleteEnabled" />
                <DxMenuItem Text="Form List" IconCssClass="fa fa-wpforms" Click="@OpenNewForm" Enabled="@EditEnabled" />
                <DxMenuItem Text="Add Form" IconCssClass="fa fa-add" Click="@AddNewForm" Enabled="@EditEnabled" />
                <DxMenuItem Text="OData Url" IconCssClass="fa fa-link" Click="@OpenOdataUrl" Enabled="@EditEnabled" />
                <DxMenuItem Text="Reports" IconCssClass="fa fa-file" Click="@OpenReports" Enabled="@EditEnabled" />
                <DxMenuItem Text="Clone" IconCssClass="fa fa-clone" Click="@addCloneOpen" Enabled="@EditCloneEnabled" />
              </Items>
        </DxMenu>
    </div>
</div>
<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">
    <DxGrid @ref="Grid" Data="@_dynamicForm" EditMode="GridEditMode.EditForm" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
            KeyFieldName="ID"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            PageSize="20"
            style="height: calc(100vh - 220px);"
            CssClass="w-100"
            FocusedRowEnabled="true"
            AllowSelectRowByClick="true"
            RowClick="OnRowclick"
            CustomizeElement="Grid_CustomizeElement"
            AutoExpandAllGroupRows="true"
            SelectionMode="GridSelectionMode.Multiple"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            VirtualScrollingEnabled="true"
            RowDoubleClick="OnRowDoubleClick">

        <Columns>
            <DxGridDataColumn FieldName="IsGridForm" Caption="Grid Form" MinWidth="20" />
            <DxGridDataColumn FieldName="ProfileName" MinWidth="50" Caption="Profile" />
            <DxGridDataColumn FieldName="Name" MinWidth="50" Caption="Form Name">
                <CellDisplayTemplate>
                    @{
                        var item = (DynamicForm)context.DataItem;
                        var Names = item.Name;
                        Names += "<span class='formCountClass'>(" + item.FormDataCount + ")</span>";
                    }
                    @((MarkupString)Names)
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="ScreenID" MinWidth="50" Caption="Screen Name" />
            <DxGridDataColumn FieldName="CompanyName" Caption="Company Name" MinWidth="50" />
            <DxGridDataColumn FieldName="ModifiedDate" Caption="Modified Date" MinWidth="50" />
            <DxGridDataColumn FieldName="ModifiedBy" Caption="Modified By" MinWidth="50" />
            <DxGridDataColumn FieldName="ModifiedDate" Caption="Modified Date" MinWidth="50" />
        </Columns>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="Name" />
        </TotalSummary>
    </DxGrid>
</DxLoadingPanel>



<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="CRT"
         Closed="EulaPopupClosed"
         CloseOnEscape="false"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="((e) => bulkDelete(_selectedItems.ID))" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@DynamicFormReportsBypopup"
         ShowFooter="false"
         ShowCloseButton="true"
         HeaderText="Filter"
         CloseOnOutsideClick="false"
         CloseOnEscape="false"
         Closed="EulaPopupClosed"
         Width="1000px">
    <BodyContentTemplate>
        <DynamicFormReports @ref="refDynamicFormReports" _dynamicform="@_selectedItems"></DynamicFormReports>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">

    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@Clonepopup"
         ShowFooter="false"
         HeaderText="Clone"
         ShowCloseButton="true"
         CloseOnOutsideClick="false"
         CloseOnEscape="false"
         Width="1000px">
    <BodyContentTemplate>
        <DynamicFormCloneForm DynamicForm="@_selectedItems" applicationUser="@applicationUser" RevokeBack="ClonepopupClose"></DynamicFormCloneForm>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">

    </FooterContentTemplate>
</DxPopup>
@code {
    private DynamicFormReports refDynamicFormReports;
    private IDisposable? DynamicFormPage1;
    IGrid? Grid { get; set; }
    bool PanelVisible { get; set; } = true;
    private List<DynamicForm> _dynamicForm;
    public ApplicationUser? applicationUser { get; private set; }
    private DynamicForm _selectedItems;
    bool EditEnabled { get; set; } = false; bool DynamicFormReportsBypopup { get; set; } = false;
    bool DeleteEnabled { get; set; } = false;
    bool Blukdeletepopup { get; set; } = false; bool Clonepopup { get; set; } = false; bool EditCloneEnabled { get; set; } = false;
    protected override async Task OnInitializedAsync()
    {

        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        await UpdateDataAsync();
    }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            DynamicFormPage1 =
                NavigationManager.RegisterLocationChangingHandler(OnLocationChanging);
        }
    }
    private ValueTask OnLocationChanging(LocationChangingContext context)
    {
        if (context.TargetLocation == "/counter")
        {
            context.PreventNavigation();
        }

        return ValueTask.CompletedTask;
    }
    public void ClearData()
    {

        refDynamicFormReports?.DisposeAsync();
        _dynamicForm?.Clear();
        _selectedItems = null;
        DynamicFormPage1?.Dispose();
    }

    public async ValueTask DisposeAsync()
    {
        // System.GC.Collect();
        ClearData();
        // Suppress finalization
        //GC.SuppressFinalize(this);
    }
    async Task UpdateDataAsync()
    {
        try
        {
            PanelVisible = true; EditCloneEnabled = true;
            EditEnabled = false; DeleteEnabled = false;
            _dynamicForm = await Mediator.Send(new GetAllDynamicForm(0));
            //StateHasChanged();
            if (_dynamicForm != null && _dynamicForm.Count > 0)
            {

                EditEnabled = true;
                DeleteEnabled = true;
                _selectedItems = _dynamicForm.FirstOrDefault();
                if (_selectedItems.IsGridForm == false)
                {
                    EditCloneEnabled = true;
                }
                Grid.ClearSelection();
                StateHasChanged();
                //Grid.SetFocusedRowIndex(0);
            }
            PanelVisible = false;
            StateHasChanged();
        }
        catch (Exception ex)
        {

        }
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
    }
    void OnRowclick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "ID");
        _selectedItems = _dynamicForm.FirstOrDefault(f => f.ID == (long?)UniqueId);
        EditEnabled = true;
        DeleteEnabled = true; EditCloneEnabled = true;
        if (_selectedItems.IsGridForm == false)
        {
            EditCloneEnabled = true;
        }
    }
    void OpenNewForm()
    {
        if (_selectedItems != null)
        {
            NavigationManager.NavigateTo("DynamicMasterSetup/dynamicFormMasterList/" + _selectedItems.SessionID);
        }
    }
    async Task OpenOdataUrl()
    {
        if (_selectedItems != null)
        {
            var url = NavigationManager.BaseUri + "api/DynamicForm/GetDynamicFormDataList?DynamicFormSessionId=" + _selectedItems.SessionID;
            await JSRuntime.InvokeVoidAsync("window.open", url, "_blank");
        }
    }
    void AddNewForm()
    {
        if (_selectedItems != null)
        {
            NavigationManager.NavigateTo("DynamicMasterSetup/dynamicForms/" + _selectedItems.SessionID);
        }
    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        NavigationManager.NavigateTo("DynamicMasterSetup/dynamicFormMasterList/" + _selectedItems.SessionID);
    }
    void addNew()
    {
        NavigationManager.NavigateTo("DynamicMasterSetup/DynamicMasterForm");
    }
    void addEdit()
    {
        NavigationManager.NavigateTo("DynamicMasterSetup/DynamicMasterForm/" + _selectedItems.SessionID);
    }
    void addDetailDelete()
    {
        Blukdeletepopup = true;
    }
    async Task EulaPopupClosed(PopupClosedEventArgs args)
    {
        Blukdeletepopup = false;
        DynamicFormReportsBypopup = false;
        await UpdateDataAsync();
    }
    async Task bulkDelete(long id)
    {
        try
        {
            var request = new DeleteDynamicForm(id);
            await Mediator.Send(request);
            Blukdeletepopup = false;
            toastService.ShowToast("Delete record Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();
        }
        catch (Exception eq)
        {
            //DeleteerrorMessage = eq.Message;
            //PopupVisible = true;
            Blukdeletepopup = false;
            toastService.ShowToast("The Selected Record Do not deleted", AC.SD.Core.Services.ToastLevel.Error);
        }
    }
    void OpenReports()
    {
        DynamicFormReportsBypopup = true;
    }
    void addCloneOpen()
    {
        Clonepopup = true;
    }
    void ClonepopupClose()
    {
        Clonepopup = false;
        StateHasChanged();
    }

}
