@page "/DynamicFormWorkFlowList"
@page "/DynamicFormWorkFlowList/{SessionId:guid}"
@using global::Core.Entities.Views;

@inject IMediator Mediator
@using Application.Queries;
@using MediatR
@using global::Core.Entities;
@using global::Core.EntityModels;
@using global::Core.Repositories.Query;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager
@rendermode @(new  InteractiveServerRenderMode(prerender: false))
@implements IAsyncDisposable


<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Form" IconCssClass="fa fa-wpforms" Click="@OpenNewForm" Enabled="@EditEnabled" />
                <DxMenuItem Text="Email" IconCssClass="fa fa-envelope" Click="@addDetailEmailCreate" Enabled="@emailEnabled" />
                <DxMenuItem Text="SW Library Doc" IconCssClass="fa fa-file" Click="@addDetailFile" Enabled="@fileEnabled" />
                <DxMenuItem Text="@LockedName" IconCssClass="@fafaunlock" Click="@OpenLock" Enabled="@isLocked" />
                <DxMenuItem Text="WorkFlow" IconCssClass="fa fa-wpforms" Click="@OpenWorkFlow" Enabled="@EditEnabled" />
            </Items>
        </DxMenu>
    </div>
</div>
<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">
    <DxGrid @ref="Grid" Data="@_dynamicForm" EditMode="GridEditMode.EditForm" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            PageSize="20"
            style="height: calc(100vh - 220px);"
            CssClass="w-100"
            FocusedRowEnabled="true"
            KeyFieldName="DynamicFormDataId"
            AllowSelectRowByClick="true"
            RowClick="OnRowclick"
            CustomizeElement="Grid_CustomizeElement"
            AutoExpandAllGroupRows="true"
            SelectionMode="GridSelectionMode.Multiple"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            VirtualScrollingEnabled="true"
            RowDoubleClick="OnRowDoubleClick">

        <Columns>
            <DxGridDataColumn Caption="" MinWidth="30">
                <CellDisplayTemplate>
                    @{
                        var item = (DynamicFormDataWrokFlow)context.DataItem;
                        var items = item.IsFileprofileTypeDocument;
                        var isDraft = item.IsDraft;
                        var isLocked = item.IsLocked;
                        var lockedUser = item.LockedUser;
                    }
                    @if (items > 0)
                    {
                        <i class="fa fa-paperclip" aria-hidden="true" style="padding:5px;margin-right: 5px;color:black" title="@items"></i>
                    }
                    @if (isDraft != null)
                    {
                        var emailName = isDraft == true ? "Draft" : "View Email";
                        <i class="fa fa-envelope" aria-hidden="true" style="padding:5px;margin-right: 5px;color:black" title="@emailName"></i>
                    }
                    @if (isLocked == true)
                    {
                        <i class="fa fa-lock" aria-hidden="true" style="padding:5px;margin-right: 5px;color:black" title="Locked By:@lockedUser"></i>
                    }
                </CellDisplayTemplate>
            </DxGridDataColumn>
            @*  <DxGridDataColumn FieldName="SortOrderByNo" MinWidth="50" Caption="No" /> *@
            <DxGridDataColumn FieldName="ProfileNo" MinWidth="50" Caption="Profile No" />
            <DxGridDataColumn FieldName="Name" Caption="Form Name" MinWidth="50" />
            @* <DxGridDataColumn FieldName="IsDynamicFormDataGrid" MinWidth="20" Caption="Is Grid" /> *@
            <DxGridDataColumn FieldName="StatusName" Caption="Status" MinWidth="50" />
            <DxGridDataColumn FieldName="SectionName" Caption="Section" MinWidth="50" />
            @* <DxGridDataColumn FieldName="UserNames" Caption="Release Users" MinWidth="50" /> *@
        </Columns>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="Name" />
        </TotalSummary>
    </DxGrid>
</DxLoadingPanel>
<DxPopup @bind-Visible="@createEmailpopup"
         ShowFooter="true"
         ShowCloseButton="true"
         HeaderText="Create Email"
         Closed="EulaPopupClosed"
         Width="1000px">
    <BodyContentTemplate>
        <DynamicFormDataEmailAddSubContent @ref="refDynamicFormDataEmailAddSubContent" SessionId="@_selectedItems.SessionID"></DynamicFormDataEmailAddSubContent>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="createEmailYes" />

    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@PopupUpload"
         HeaderText="Upload Documents"
         CloseOnOutsideClick="false"
         ShowCloseButton="true"
         Closed="EulaPopupClosed"
         ShowFooter="false"
         Width="1500px">
    <BodyContentTemplate>
        <UploadDoumentDynamicFiles @ref="refUploadDoumentDynamicFiles" _applicationUser="@applicationUser" _dynamicformData="@dynamicFormData" FileProfileTypeId="@FileProfileTypeId" RevokeBack="BackUpload"></UploadDoumentDynamicFiles>
    </BodyContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@lockpopup"
         ShowFooter="true"
         HeaderText="@LockedName"
         ShowCloseButton="true"
         Closed="EulaPopupLockClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to @LockedName this record?
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="((e) => bulkLock())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@workFlowpopup"
         ShowFooter="true"
         ShowCloseButton="true"
         HeaderText="WorkFlow"
         Width="2000px">
    <BodyContentTemplate>
        <DynamicFormDataDashboardWorkFlowFormList @ref="refDynamicFormDataDashboardWorkFlowFormList" applicationUser="@applicationUser" DynamicFormDataWrokFlowData="@_selectedItems"></DynamicFormDataDashboardWorkFlowFormList>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="Close" Click="Context.CloseCallback" />

    </FooterContentTemplate>
</DxPopup>
@code {
    private DynamicFormDataDashboardWorkFlowFormList refDynamicFormDataDashboardWorkFlowFormList { get; set; }
    private DynamicFormDataEmailAddSubContent refDynamicFormDataEmailAddSubContent { get; set; }
    private UploadDoumentDynamicFiles refUploadDoumentDynamicFiles { get; set; }
    [Parameter]
    public Guid? SessionId { get; set; }
    bool createEmailpopup { get; set; } = false;
    bool emailEnabled { get; set; } = false;
    IGrid? Grid { get; set; }
    bool PanelVisible { get; set; } = true;
    private List<DynamicFormDataWrokFlow> _dynamicForm;
    public ApplicationUser? applicationUser { get; private set; }
    private DynamicFormDataWrokFlow _selectedItems;
    bool EditEnabled { get; set; } = false; public long? FileProfileTypeId { get; set; }
    bool DeleteEnabled { get; set; } = false; bool PopupUpload { get; set; } = false;
    bool Blukdeletepopup { get; set; } = false; bool fileEnabled { get; set; } = false;
    DynamicFormData dynamicFormData = new DynamicFormData();
    bool isLocked { get; set; } = false; string? LockedName { get; set; } = "Lock"; string? fafaunlock { get; set; } = "fa fa-lock"; bool lockpopup { get; set; } = false;
    bool workFlowpopup { get; set; } = false;
    protected override async Task OnInitializedAsync()
    {

        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        if (applicationUser != null)
        {
            await UpdateDataAsync();
        }
    }
    async Task onshowLoading()
    {
        await JSRuntime.InvokeAsync<string>("showLoading");
    }
    async Task onhideLoading()
    {
        await JSRuntime.InvokeAsync<string>("hideLoading");
    }
    async Task UpdateDataAsync()
    {
        try
        {
            //await onshowLoading();
            dynamicFormData = new DynamicFormData();
            EditEnabled = false; DeleteEnabled = false; emailEnabled = false; fileEnabled = false; FileProfileTypeId = null;
            _dynamicForm = await Mediator.Send(new GetDynamicFormWorkFlowListByUser(applicationUser.UserID, 0));
            PanelVisible = true;
            if (_dynamicForm != null && _dynamicForm.Count > 0)
            {
                //EditEnabled = true; DeleteEnabled = true; emailEnabled = true; fileEnabled = true;
                if (SessionId != null)
                {
                    var items = _dynamicForm.Where(f => f.SessionID == SessionId).ToList();
                    if (items != null && items.Count > 0)
                    {
                        _dynamicForm = items;
                        _selectedItems = items.FirstOrDefault();
                        dynamicFormData.DynamicFormDataId = _selectedItems.DynamicFormDataId;
                        FileProfileTypeId = _selectedItems.FileProfileTypeId;
                        dynamicFormData.DynamicFormId = _selectedItems.DynamicFormId;
                        // Grid.SetFocusedRowIndex(0);
                    }
                    else
                    {
                        _selectedItems = _dynamicForm.FirstOrDefault();
                        dynamicFormData.DynamicFormDataId = _selectedItems.DynamicFormDataId;
                        dynamicFormData.DynamicFormId = _selectedItems.DynamicFormId;
                        FileProfileTypeId = _selectedItems.FileProfileTypeId;
                        // Grid.SetFocusedRowIndex(0);
                    }
                }
                else
                {
                    _selectedItems = _dynamicForm.FirstOrDefault();
                    dynamicFormData.DynamicFormDataId = _selectedItems.DynamicFormDataId;
                    dynamicFormData.DynamicFormId = _selectedItems.DynamicFormId;
                    //Grid.SetFocusedRowIndex(0);
                }

            }
            //await onhideLoading();
            PanelVisible = false;
            StateHasChanged();
        }
        catch (Exception ex)
        {

        }
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
    }
    void OpenWorkFlow()
    {
        workFlowpopup = true;
    }
    void OnRowclick(GridRowClickEventArgs e)
    {
        dynamicFormData = new DynamicFormData();
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "DynamicFormDataId");
        _selectedItems = _dynamicForm.FirstOrDefault(f => f.DynamicFormDataId == (long?)UniqueId);
        EditEnabled = true;
        DeleteEnabled = true; emailEnabled = true; fileEnabled = true;
        dynamicFormData.DynamicFormDataId = _selectedItems.DynamicFormDataId;
        dynamicFormData.DynamicFormId = _selectedItems.DynamicFormId;
        FileProfileTypeId = _selectedItems.FileProfileTypeId; LockedName = "Lock"; isLocked = true; fafaunlock = "fa fa-lock";
        if (_selectedItems.IsLocked == true && _selectedItems.LockedUserId > 0)
        {
            LockedName = "UnLock"; fafaunlock = "fa fa-unlock";
            if (_selectedItems.LockedUserId != applicationUser.UserID)
            {
                isLocked = false;
                //EditEnabled = false;
                DeleteEnabled = false; fileEnabled = false; emailEnabled = false;
            }
        }
        StateHasChanged();
    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowclick(e);
        NavigationManager.NavigateTo("DynamicFormWorkFlowList/dynamicForms/" + _selectedItems.DynamicFormSessionID + "/" + _selectedItems.SessionID);
    }
    void OpenNewForm()
    {
        if (_selectedItems != null)
        {
            NavigationManager.NavigateTo("DynamicFormWorkFlowList/dynamicForms/" + _selectedItems.DynamicFormSessionID + "/" + _selectedItems.SessionID);
        }
    }
    void addDetailFile()
    {
        if (_selectedItems != null)
        {
            PopupUpload = true;
        }
    }
    void BackUpload()
    {
        InvokeAsync(UpdateDataAsync);
        PopupUpload = false;
        StateHasChanged();

    }
    async Task addDetailEmailCreate()
    {
        var _selectedItemsDAta = await Mediator.Send(new GetDynamicFormDataBySessionId(_selectedItems.SessionID));
        if (_selectedItemsDAta != null)
        {
            if (_selectedItemsDAta.IsDraft == null)
            {
                createEmailpopup = true;
            }
            if (_selectedItemsDAta.IsDraft == true)
            {
                var url = NavigationManager.BaseUri + "EmailDrafts";
                await JSRuntime.InvokeVoidAsync("window.open", url, "_blank");
            }
            if (_selectedItemsDAta.IsDraft == false)
            {
                var url = NavigationManager.BaseUri + "ViewEmail/" + _selectedItemsDAta.EmailTopicSessionId + "/Email";
                await JSRuntime.InvokeVoidAsync("window.open", url, "_blank");
            }
        }
    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        BackUpload();
        createEmailpopup = false;
    }
    async Task createEmailYes()
    {
        string str = NavigationManager.Uri;
        string rep1 = str.Replace(NavigationManager.BaseUri, "").ToLower();
        string backurl = rep1 + "/" + _selectedItems.SessionID;
        if (_selectedItems != null)
        {
            var result = await refDynamicFormDataEmailAddSubContent?.saveEmailSubjectContent();
            if (result == true)
            {
                var insertData = new DynamicFormData
                {
                    AddedByUserID = applicationUser.UserID,
                    ModifiedByUserID = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    ModifiedDate = DateTime.Now,
                    SessionId = _selectedItems.SessionID,
                    ProfileNo = _selectedItems.ProfileNo,
                    StatusCodeID = 1,
                    DynamicFormDataId = _selectedItems.DynamicFormDataId,
                    BackUrl = backurl
                };
                var response = await Mediator.Send(new InsertCreateEmailFormData(insertData));
                if (response.DynamicFormDataId > 0)
                {
                    toastService.ShowToast("Email created successfully.", AC.SD.Core.Services.ToastLevel.Success);
                    createEmailpopup = false;
                    var url = NavigationManager.BaseUri + "CreateEmail/" + _selectedItems.SessionID;
                    await JSRuntime.InvokeVoidAsync("window.open", url, "_blank");
                    await UpdateDataAsync();
                }
            }
        }
        StateHasChanged();
    }
    void OpenLock()
    {
        if (_selectedItems != null)
        {
            var sectionLock = _selectedItems?.DynamicFormDataSectionLock.Count(dc => dc.IsLocked == true);
            if (sectionLock > 0)
            {
                toastService.ShowToast("Section Already Locked.", AC.SD.Core.Services.ToastLevel.Info);
            }
            else
            {
                lockpopup = true;
            }
        }
    }
    void EulaPopupLockClosed(PopupClosedEventArgs args)
    {
        lockpopup = false;
        InvokeAsync(UpdateDataAsync);
        StateHasChanged();
    }
    async Task bulkLock()
    {
        if (_selectedItems != null)
        {
            DynamicFormData dynamicFormData = new DynamicFormData();
            dynamicFormData.DynamicFormDataId = _selectedItems.DynamicFormDataId;
            dynamicFormData.IsLocked = _selectedItems.IsLocked == true ? null : true;
            if (dynamicFormData.IsLocked == true)
            {
                dynamicFormData.LockedUserId = applicationUser.UserID;
                dynamicFormData.LockedUser = applicationUser.UserName;
            }
            var result = await Mediator.Send(new UpdateDynamicFormLocked(dynamicFormData));
            if (result.DynamicFormDataId > 0)
            {
                LockedName = "Lock"; fafaunlock = "fa fa-lock";
                if (dynamicFormData.IsLocked == true)
                {
                    _selectedItems.IsLocked = dynamicFormData.IsLocked;
                    _selectedItems.LockedUserId = applicationUser.UserID;
                    _selectedItems.LockedUser = applicationUser.UserName;
                    LockedName = "UnLock"; fafaunlock = "fa fa-unlock";
                }
                lockpopup = false;
                if (dynamicFormData.IsLocked == true)
                {
                    toastService.ShowToast("Lock successfully.", AC.SD.Core.Services.ToastLevel.Success);
                }
                else
                {
                    toastService.ShowToast("Unlock successfully.", AC.SD.Core.Services.ToastLevel.Success);
                }

            }
        }
        StateHasChanged();
    }
    public async ValueTask DisposeAsync()
    {
        // System.GC.Collect();
        refUploadDoumentDynamicFiles?.DisposeAsync();
        _dynamicForm?.Clear();
        _selectedItems = null;
        dynamicFormData = new DynamicFormData();
        // GC.SuppressFinalize(this);
    }
}
