@using System.ComponentModel.DataAnnotations;
@using Newtonsoft.Json.Linq;
@using System.Collections;
@using System.Dynamic;
@using global::Core.AttributeDynamicData;
@using global::Core.Entities.Views;
@using global::Core.Entities;
@using Application.Queries;
@inject IMediator Mediator
@using MediatR
@using global::Core.EntityModels;
@using global::Core.Repositories.Query;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Auto">
            <Items>
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNewWorkFlows" Enabled="@AddNewEnabledApproval" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEditApproval" Enabled="@AddEditEnabledApproval" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDeleteApproval" Enabled="@DeleteEnabledApproval" />
                <DxMenuItem Text="Approval" IconCssClass="fa fa-link" Click="@addSectionApproval" Enabled="@ApprovalEnabledApproval" />
                <DxMenuItem Text="Delegate User" IconCssClass="fa fa-link" Click="@addDelegate" Enabled="@DelegateEnabledApproval" />
            </Items>
        </DxMenu>

    </div>
</div>
<DxGrid @ref="SMWorkFlowGrids" Data="_dynamicFormWorkFlowFormListItems"
        KeyFieldName="DynamicFormWorkFlowId"
        ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
        FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
        ColumnResizeMode="GridColumnResizeMode.NextColumn"
        PagerNavigationMode="PagerNavigationMode.InputBox"
        PageSizeSelectorVisible="true"
        PageSizeSelectorAllRowsItemVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20"
        CssClass="ch-360"
        FocusedRowEnabled="true"
        AllowSelectRowByClick="true"
        CustomizeElement="Grid_CustomizeElement"
        RowClick="OnRowApprovalClick"
        EditModelSaving="@OnEditModelApprovalSaving"
        CustomizeEditModel="Grid_CustomizeApprovalEditModel"
        style="padding:10px;height: calc(100vh - 500px);"
        AutoExpandAllGroupRows="true"
        RowDoubleClick="OnRowApprovalDoubleClick"
        SelectionMode="GridSelectionMode.Single">
    <Columns>
        <DxGridDataColumn FieldName="IsAllowDelegateUser" Caption="Is Allow Change Section Approval" MinWidth="30" />
        <DxGridDataColumn FieldName="SequenceNo" GroupIndex="0" Caption="Sequence No" MinWidth="40" />
        <DxGridDataColumn FieldName="SectionName" Caption="Section Name" />
        <DxGridDataColumn FieldName="ActualUserName" Caption="Assigned User" />
        <DxGridDataColumn FieldName="DelegateSectionUserName" Caption="Delegate User" />
        <DxGridDataColumn FieldName="CompletedBy" Caption="Completed By" />
        <DxGridDataColumn FieldName="CompletedDate" Caption="Completed Date" />
        <DxGridDataColumn FieldName="CurrentApprovalUserName" Caption="Current Approver" />
    </Columns>
    <EditFormTemplate Context="EditFormContext">
        @{
            var types = (DynamicFormWorkFlowForm)EditFormContext.EditModel;
        }
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="Users" ColSpanMd="6">
                <DxComboBox Data="_usersAllList"
                            @bind-Value="types.UserId"
                            NullText="Select User..."
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                            ValueFieldName="UserID"
                            TextFieldName="FirstName"
                            SearchMode="ListSearchMode.AutoSearch"
                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                            EditFormat="{0}-{1}-{3}"
                            ListRenderMode="ListRenderMode.Virtual">
                    <DxListEditorColumn FieldName="@nameof(ViewEmployee.FirstName)" Caption="FirstName" />
                    <DxListEditorColumn FieldName="@nameof(ViewEmployee.LastName)" Caption="Last Name" />
                    <DxListEditorColumn FieldName="@nameof(ViewEmployee.NickName)" Caption="Nick Name" />
                    <DxListEditorColumn FieldName="@nameof(ViewEmployee.DesignationName)" Caption="Designation" />
                    <DxListEditorColumn FieldName="@nameof(ViewEmployee.CompanyName)" Caption="Company" Width="100px" />
                </DxComboBox>
                <ValidationMessage For="@(() => types.UserId)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Section" ColSpanMd="6">
                <DxTagBox Data="_dynamicFormSectionData"
                          @bind-Values="types.SelectDynamicFormSectionIDs"
                          NullText="Select Section..."
                          ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                          ValueFieldName="DynamicFormSectionId"
                          TextFieldName="SectionName"
                          SearchMode="ListSearchMode.AutoSearch"
                          SearchFilterCondition="ListSearchFilterCondition.Contains"
                          ListRenderMode="ListRenderMode.Virtual">
                    <DxListEditorColumn FieldName="@nameof(DynamicFormSection.SectionName)" Caption="Name" />
                    <DxListEditorColumn FieldName="@nameof(DynamicFormSection.Instruction)" Caption="Instruction" />
                </DxTagBox>
                <ValidationMessage For="@(() => types.SelectDynamicFormSectionIDs)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Sequence No" ColSpanMd="6">
                <DxSpinEdit @bind-Value="@types.SequenceNo" NullText="Type a Sequence No 1,2,3,..." MinValue="1" CssClass="cw-320" InputId="seNullableValue" />
                <ValidationMessage For="@(() => types.SequenceNo)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Is Allow Update Delegate" ColSpanMd="6">
                <DxCheckBox @bind-Checked="types.IsAllowDelegateUser"></DxCheckBox>
            </DxFormLayoutItem>
        </DxFormLayout>
    </EditFormTemplate>
</DxGrid>
<DxPopup @bind-Visible="@SectionApprovalPopup"
         ShowFooter="false"
         HeaderText="Section Approval"
         CloseOnOutsideClick="false"
         ShowCloseButton="true"
         Closed="EulaPopupApprovalClosed"
         Width="1000px">
    <BodyContentTemplate>
        <AC.SD.Core.Pages.Attribute.DynamicFormDataWorkFlowApprovalForm @ref="refDynamicFormDataWorkFlowApprovalForm" EditEnabledApproval="@EditEnabledApproval" SelectedItems="@DynamicFormWorkFlowItems" _applicationUser="@applicationUser" RevokeBack="CloseSectionApprovalEnabled"></AC.SD.Core.Pages.Attribute.DynamicFormDataWorkFlowApprovalForm>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => CloseSectionApprovalEnabled())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@updateApprovepopup"
         ShowFooter="true"
         HeaderText="Delegate"
         Closed="EulaPopupClosed"
         Width="500px">
    <BodyContentTemplate Context="authContext">

        <EditForm EditContext="this._editContext" Context="EditFormContext" OnValidSubmit="HandleValidSubmit">
            <DxFormLayout CssClass="w-100">
                <DataAnnotationsValidator />
                <DxFormLayoutItem Caption="Update Delegate User" ColSpanMd="12">
                    <DxComboBox Data="@_usersAllList"
                                NullText="Select User..."
                                ListRenderMode="ListRenderMode.Virtual"
                                ValueFieldName="UserID"
                                TextFieldName="FirstName"
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                EditFormat="{0}-{1}"
                                @bind-Value="@dynamicFormApprovedChanged.UserID">
                        <Columns>
                            <DxListEditorColumn FieldName="@nameof(ViewEmployee.FirstName)" Caption="FirstName" />
                            <DxListEditorColumn FieldName="@nameof(ViewEmployee.LastName)" Caption="Last Name" />
                            <DxListEditorColumn FieldName="@nameof(ViewEmployee.NickName)" Caption="Nick Name" />
                            <DxListEditorColumn FieldName="@nameof(ViewEmployee.DesignationName)" Caption="Designation" />
                            <DxListEditorColumn FieldName="@nameof(ViewEmployee.CompanyName)" Caption="Company" Width="100px" />

                        </Columns>
                    </DxComboBox>
                    <ValidationMessage For="@(() => dynamicFormApprovedChanged.UserID)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="User List" ColSpanMd="12">
                    <DxGrid Data="_dynamicFormApprovedChangedList" style="padding:10px;height: calc(100vh - 620px);"
                            KeyFieldName="DynamicFormApprovedChangedId">
                        <Columns>
                            <DxGridDataColumn FieldName="UserName" Caption="User" />
                        </Columns>
                    </DxGrid>
                </DxFormLayoutItem>
            </DxFormLayout>
        </EditForm>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="Close" Click="CloseCallbacks" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Save" Click="SubmitFormExternally" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @ref="popup" HeaderText="Delete" ShowCloseButton="true" @bind-Visible="@PopupVisible">
    <div class="text-center">
        <p>@errorMessage</p>
        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>
<DxPopup @ref="popup" HeaderText="Delete" ShowCloseButton="true" @bind-Visible="@PopupVisible">
    <div class="text-center">
        <p>@DeleteerrorMessage</p>
        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>
<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="Delete"
         ShowCloseButton="true"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>
@code {
    bool Blukdeletepopup { get; set; } = false;
    IGrid? SMWorkFlowGrids { get; set; }
    bool updateApprovepopup { get; set; } = false;
    private AC.SD.Core.Pages.Attribute.DynamicFormDataWorkFlowApprovalForm refDynamicFormDataWorkFlowApprovalForm;
    [Parameter]
    public IEnumerable FolderPathLists { get; set; }
    [Parameter]
    public DynamicFormData _dynamicformData { get; set; }
    bool SectionApprovalPopup { get; set; } = false;
    [Parameter]
    public bool EditEnabledApproval { get; set; } = false;
    [Parameter]
    public ApplicationUser applicationUser { get; set; }
    [Parameter]
    public Action RevokeBack { get; set; }
    [Parameter]
    public long? dynamicFormId { get; set; }
    public bool ApprovalEnabledApproval { get; set; } = false;
    public bool AddNewEnabledApproval { get; set; } = false;public bool AddEditEnabledApproval { get; set; } = false;
    public bool DeleteEnabledApproval { get; set; } = false; public bool DelegateEnabledApproval { get; set; } = false;
    private List<DynamicFormWorkFlowForm>? _dynamicFormWorkFlowFormListItems;
    public DynamicFormWorkFlowForm _selectedDynamicFormWorkFlowItems { get; set; }
    public DynamicFormWorkFlow DynamicFormWorkFlowItems { get; set; }
    private List<ViewEmployee>? _usersList;
    private List<ViewEmployee>? _usersAllList;
    EditContext _editContext;
    private List<DynamicFormWorkFlow>? _dynamicFormApprovalData;
    private List<DynamicFormWorkFlowFormDelegate>? _dynamicFormApprovedChangedList;
    DynamicFormWorkFlowFormDelegate dynamicFormApprovedChanged = new DynamicFormWorkFlowFormDelegate();
    private List<DynamicFormSection>? _dynamicFormSectionAllData; private List<DynamicFormSection>? _dynamicFormSectionData;
    private List<DynamicFormWorkFlowForm> _dynamicFormWorkFlowFormList;
    public List<long?> dynamicFormSectionIds = new List<long?>();
    DxPopup? popup;
    bool PopupVisible { get; set; } = false;
    string? errorMessage;
    string? DeleteerrorMessage;
    bool MessageVisible { get; set; }
    string MessageHeader = "Error";
    string MessageBody = "";
    protected override async Task OnInitializedAsync()
    {

        _dynamicFormSectionAllData = await Mediator.Send(new GetDynamicFormSection(dynamicFormId));
        _editContext = new EditContext(dynamicFormApprovedChanged);
        _usersAllList = await Mediator.Send(new GetAllEmployeeQuery());
        await loadDatas();
    }
    public async Task loadDatas()
    {
        AddNewEnabledApproval = false; DeleteEnabledApproval = false;DelegateEnabledApproval = false;AddEditEnabledApproval = false;ApprovalEnabledApproval = false;
        _dynamicFormWorkFlowFormListItems = new List<DynamicFormWorkFlowForm>();
        EditEnabledApproval = false; dynamicFormSectionIds = new List<long?>();
        _dynamicFormWorkFlowFormList = await Mediator.Send(new GetDynamicFormWorkFlowFormList(dynamicFormId, _dynamicformData?.DynamicFormDataId));
        if (_dynamicFormWorkFlowFormList != null && _dynamicFormWorkFlowFormList.Count() > 0)
        {
            ApprovalEnabledApproval = true;
            dynamicFormSectionIds = _dynamicFormWorkFlowFormList.Select(a => a.DynamicFormSectionId).Distinct().ToList();
            _dynamicFormWorkFlowFormListItems = new List<DynamicFormWorkFlowForm>();
            var dynamicFormWorkFlowIds = _dynamicFormWorkFlowFormList.Select(z => z.DynamicFormWorkFlowId).Distinct().ToList();
            if (dynamicFormWorkFlowIds != null && dynamicFormWorkFlowIds.Count() > 0)
            {
                dynamicFormWorkFlowIds.ForEach(e =>
                {
                    DynamicFormWorkFlowForm dynamicFormWorkFlowForm = new DynamicFormWorkFlowForm();
                    dynamicFormWorkFlowForm.DynamicFormId = dynamicFormId;
                    dynamicFormWorkFlowForm.DynamicFormDataId = _dynamicformData?.DynamicFormDataId;
                    var listsItems = _dynamicFormWorkFlowFormList.Where(z => z.DynamicFormWorkFlowId == e).ToList();
                    dynamicFormWorkFlowForm.DynamicFormSectionIDs = listsItems.Select(e => e.DynamicFormSectionId).ToList();
                    dynamicFormWorkFlowForm.SelectDynamicFormSectionIDs = listsItems.Select(e => (long)e.DynamicFormSectionId).ToList();
                    dynamicFormWorkFlowForm.SectionName = string.Join(",", listsItems.Select(aa => aa.SectionName).ToList());
                    dynamicFormWorkFlowForm.DynamicFormWorkFlowId = listsItems[0].DynamicFormWorkFlowId;
                    dynamicFormWorkFlowForm.SequenceNo = listsItems[0].SequenceNo;
                    dynamicFormWorkFlowForm.DynamicFormWorkFlowUser = listsItems[0].DynamicFormWorkFlowUser;
                    dynamicFormWorkFlowForm.CompletedDate = listsItems[0].FlowStatusID == 1 ? listsItems[0].CompletedDate : null;
                    dynamicFormWorkFlowForm.CompletedBy = listsItems[0].FlowStatusID == 1 ? listsItems[0].CompletedBy : null;
                    dynamicFormWorkFlowForm.FlowStatusID = listsItems[0].FlowStatusID;
                    dynamicFormWorkFlowForm.UserId = listsItems[0].UserId;
                    dynamicFormWorkFlowForm.IsAllowDelegateUser = listsItems[0].IsAllowDelegateUser;
                    dynamicFormWorkFlowForm.DynamicFormWorkFlowFormId = listsItems[0].DynamicFormWorkFlowFormId;
                    dynamicFormWorkFlowForm.DelegateSectionUserId = listsItems[0].DelegateSectionUserId;
                    dynamicFormWorkFlowForm.DelegateSectionUserName = listsItems[0].DelegateSectionUserName;
                    dynamicFormWorkFlowForm.ActualUserId = listsItems[0].ActualUserId;
                    dynamicFormWorkFlowForm.ActualUserName = listsItems[0].ActualUserName;
                    dynamicFormWorkFlowForm.DynamicFormWorkFlowApprovalFormCompleted = listsItems[0].DynamicFormWorkFlowApprovalFormCompleted;
                    dynamicFormWorkFlowForm.CurrentApprovalUserId = listsItems[0].CurrentApprovalUserId;
                    dynamicFormWorkFlowForm.CurrentApprovalUserName = listsItems[0].CurrentApprovalUserName;
                    _dynamicFormWorkFlowFormListItems.Add(dynamicFormWorkFlowForm);
                });
            }


            var iIsAllowDelegateUserss = _dynamicFormWorkFlowFormListItems.Select(s => s.IsAllowDelegateUser == true).Count();
            _selectedDynamicFormWorkFlowItems = _dynamicFormWorkFlowFormListItems.FirstOrDefault();
            if (_selectedDynamicFormWorkFlowItems.DynamicFormWorkFlowApprovalFormCompleted == false)
            {
                if (iIsAllowDelegateUserss > 0)
                {
                    var exits = _dynamicFormWorkFlowFormListItems.Where(w => w.ActualUserId == applicationUser.UserID).Count();
                    if (exits > 0)
                    {
                        EditEnabledApproval = true;
                        if (_dynamicformData?.DynamicFormDataId > 0)
                        {
                            AddNewEnabledApproval = true;  
                            if (_selectedDynamicFormWorkFlowItems.FlowStatusID==1 )
                            {

                            }
                            else
                            {
                                DeleteEnabledApproval = true; DelegateEnabledApproval = true; AddEditEnabledApproval = true;
                            }

                        }
                    }
                }
            }
        }
        StateHasChanged();
    }
    void addNewWorkFlows()
    {
        SMWorkFlowGrids.StartEditNewRowAsync();

    }
    void addEditApproval()
    {
        SMWorkFlowGrids.StartEditDataItemAsync(_selectedDynamicFormWorkFlowItems);

    }
    void addDeleteApproval()
    {
        Blukdeletepopup = true;
    }
    void OnRowApprovalDoubleClick(GridRowClickEventArgs e)
    {
        OnRowApprovalClick(e);
        // addEditApproval();
    }
    void ClosePopup()
    {
        PopupVisible = false;
        //await UpdateDataAsync();
    }
    async Task bulkDelete()
    {
        try
        {

            var request = new DeleteDynamicFormWorkFlowForm(_selectedDynamicFormWorkFlowItems);
            await Mediator.Send(request);
            if (request.DynamicFormWorkFlowId > 0)
            {
                Blukdeletepopup = false;
                toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                SMWorkFlowGrids.SetFocusedRowIndex(0);
                await loadDatas();
            }
        }
        catch (Exception eq)
        {
            DeleteerrorMessage = eq.Message;
            PopupVisible = true;
        }

        await loadDatas();


    }
    async Task OnEditModelApprovalSaving(GridEditModelSavingEventArgs e)
    {
        var editModel = (DynamicFormWorkFlowForm)e.EditModel;
        if (e.IsNew)
        {
            try
            {
                var result = await Mediator.Send(new InsertDynamicFormWorkFlowForm(editModel));
                if (result.DynamicFormWorkFlowId > 0)
                {
                    toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
                }
            }
            catch (Exception eq)
            {
                errorMessage = eq.Message;
                PopupVisible = true;
            }
            await loadDatas();
        }
        else
        {
            var result = await Mediator.Send(new InsertDynamicFormWorkFlowForm(editModel));
            if (result.DynamicFormWorkFlowId > 0)
            {
                toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            }
            await loadDatas();
        }
    }
    void OnRowApprovalClick(GridRowClickEventArgs e)
    {
        EditEnabledApproval = false; AddNewEnabledApproval = false; DeleteEnabledApproval = false; DelegateEnabledApproval = false; AddEditEnabledApproval = false;
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "DynamicFormWorkFlowId");
        if (_dynamicFormWorkFlowFormListItems != null && _dynamicFormWorkFlowFormListItems.Count() > 0)
        {
            _selectedDynamicFormWorkFlowItems = _dynamicFormWorkFlowFormListItems.FirstOrDefault(f => f.DynamicFormWorkFlowId == (long?)UniqueId);
            var iIsAllowDelegateUserss = _dynamicFormWorkFlowFormListItems.Select(s => s.IsAllowDelegateUser == true).Count();
            if (_selectedDynamicFormWorkFlowItems.DynamicFormWorkFlowApprovalFormCompleted == false)
            {
                if (iIsAllowDelegateUserss > 0)
                {
                    var exits = _dynamicFormWorkFlowFormListItems.Where(w => w.ActualUserId == applicationUser.UserID).Count();
                    if (exits > 0)
                    {
                        EditEnabledApproval = true;
                        if (_dynamicformData?.DynamicFormDataId > 0)
                        {
                            AddNewEnabledApproval = true;
                            if (_selectedDynamicFormWorkFlowItems.FlowStatusID == 0)
                            {
                                DeleteEnabledApproval = true; DelegateEnabledApproval = true; AddEditEnabledApproval = true;
                            }
                        }
                    }
                }
            }
        }
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
    }
    void Grid_CustomizeApprovalEditModel(GridCustomizeEditModelEventArgs e)
    {
        var navitems = (DynamicFormWorkFlowForm)e.EditModel;
        if (e.IsNew)
        {
            navitems.DynamicFormDataId = _dynamicformData?.DynamicFormDataId;
            navitems.DynamicFormId = dynamicFormId;
            if (_dynamicFormSectionAllData != null && _dynamicFormSectionAllData.Count() > 0)
            {
                _dynamicFormSectionData = _dynamicFormSectionAllData.Where(w => !dynamicFormSectionIds.Contains(w.DynamicFormSectionId)).ToList();
            }
        }
        else
        {
            if (_dynamicFormSectionAllData != null && _dynamicFormSectionAllData.Count() > 0)
            {
                List<long?> datds = dynamicFormSectionIds.Except(navitems.DynamicFormSectionIDs).ToList();
                _dynamicFormSectionData = _dynamicFormSectionAllData.Where(w => !datds.Contains(w.DynamicFormSectionId)).ToList();
            }
        }
        StateHasChanged();
    }
    void addSectionApproval()
    {
        if (_selectedDynamicFormWorkFlowItems != null && _selectedDynamicFormWorkFlowItems.DynamicFormWorkFlowId > 0)
        {
            var sortbyy = _dynamicFormWorkFlowFormListItems.Where(w => w.SequenceNo > _selectedDynamicFormWorkFlowItems.SequenceNo).OrderBy(o => o.SequenceNo).FirstOrDefault();

            DynamicFormWorkFlowItems = new DynamicFormWorkFlow();
            DynamicFormWorkFlowItems.DynamicFormDataId = _dynamicformData?.DynamicFormDataId;
            DynamicFormWorkFlowItems.DynamicFormWorkFlowFormId = _selectedDynamicFormWorkFlowItems.DynamicFormWorkFlowFormId;
            DynamicFormWorkFlowItems.DynamicFormWorkFlowId = (long)_selectedDynamicFormWorkFlowItems.DynamicFormWorkFlowId;
            // if (_selectedDynamicFormWorkFlowItems.IsAllowDelegateUser == true)
            // {
            //     if (_selectedDynamicFormWorkFlowItems.ActualUserId == applicationUser.UserID)
            //     {
            //         DynamicFormWorkFlowItems.IsAllowDelegateUser = true;
            //     }
            // }
            DynamicFormWorkFlowItems.IsNextFlow = true;
            if (sortbyy != null && sortbyy.FlowStatusID == 1)
            {
                DynamicFormWorkFlowItems.IsNextFlow = false;
            }
            SectionApprovalPopup = true;
        }
    }
    async Task EulaPopupApprovalClosed(PopupClosedEventArgs args)
    {
        SectionApprovalPopup = false;
        InvokeAsync(loadDatas);
        StateHasChanged();
    }
    void CloseSectionApprovalEnabled()
    {
        SectionApprovalPopup = false;
        InvokeAsync(loadDatas);
        StateHasChanged();
    }
    public async ValueTask DisposeAsync()
    {
        // System.GC.Collect();
        refDynamicFormDataWorkFlowApprovalForm?.DisposeAsync();
        _dynamicFormWorkFlowFormListItems?.Clear();
        _selectedDynamicFormWorkFlowItems = null; DynamicFormWorkFlowItems = null;
        //GC.SuppressFinalize(this);
    }
    public async Task addDelegate()
    {
        _dynamicFormApprovedChangedList = new List<DynamicFormWorkFlowFormDelegate>();
        updateApprovepopup = true;
        await UpdateDataAsync();

    }
    async Task UpdateDataAsync()
    {
        dynamicFormApprovedChanged.UserID = null;
        _dynamicFormApprovedChangedList = await Mediator.Send(new GetDynamicFormWorkFlowFormDelegateList(_selectedDynamicFormWorkFlowItems.DynamicFormWorkFlowFormId));
        if (_dynamicFormApprovedChangedList != null && _dynamicFormApprovedChangedList.Count() > 0)
        {
            _dynamicFormApprovedChangedList = _dynamicFormApprovedChangedList.OrderByDescending(o => o.DynamicFormWorkFlowFormDelegateID).ToList();
            dynamicFormApprovedChanged.UserID = _dynamicFormApprovedChangedList.FirstOrDefault()?.UserID;
        }
        StateHasChanged();
    }
    private async Task SubmitFormExternally()
    {
        if (_editContext.Validate())
        {
            await this.HandleValidSubmit();
        }
    }
    async Task HandleValidSubmit()
    {
        dynamicFormApprovedChanged.DynamicFormWorkFlowFormID = _selectedDynamicFormWorkFlowItems.DynamicFormWorkFlowFormId;
        var request = new InsertDynamicFormWorkFlowFormDelegate(dynamicFormApprovedChanged);
        var result = await Mediator.Send(request);
        if (result.DynamicFormWorkFlowFormDelegateID > 0)
        {
            // updateApprovepopup = false;
            if (dynamicFormApprovedChanged.DynamicFormWorkFlowFormDelegateID > 0)
            {
                toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
                await UpdateDataAsync();
            }
            else
            {
                toastService.ShowToast("Record Saved Successfully", AC.SD.Core.Services.ToastLevel.Success);
                await UpdateDataAsync();
            }
        }
        StateHasChanged();
    }
    
    async Task EulaPopupClosed(PopupClosedEventArgs args)
    {
         Blukdeletepopup  = false;
        await loadDatas();
        //RevokeBack?.Invoke();
    }
    async Task CloseCallbacks()
    {
        updateApprovepopup = false;
        // await loadDatas();

        //RevokeBack?.Invoke();
    }
}
