@using Application.Queries;
@using Application.Response;
@using MediatR
@using global::Core.Entities;
@using global::Core.Entities.Views;
@using global::Core.EntityModels;
@inject IMediator Mediator
@using DevExpress.Export
@using global::Core.Repositories.Query;
@inject IJSRuntime jsRuntime;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@* @page "/DynamicFormItemGridList/AddDynamicFormItemLine"
@page "/DynamicFormItemGridList/AddDynamicFormItemLine/{DynamicFormItemids:long}" *@
<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>

                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" Enabled="@AddEnabled" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />


            </Items>
        </DxMenu>
    </div>
</div>


<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">

    <DxGrid @ref="FormItemLineGrid" Data="@_dynamicFormItemLine" EditModelSaving="@OnEditModelSaving" DataItemDeleting="@OnDeleteDataItem" EditMode="GridEditMode.EditForm" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            KeyFieldName="DynamicFormItemLineID"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20" VirtualScrollingEnabled="true"
            style="height: calc(100vh - 336px);"
            CssClass="ch-360"
            FocusedRowEnabled="true"
            RowClick="OnRowClick"
            AllowSelectRowByClick="true"
            CustomizeElement="Grid_CustomizeElement"
            CustomizeEditModel="Grid_CustomizeEditModel"
            AutoExpandAllGroupRows="true"
            SelectionMode="GridSelectionMode.Single"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages">

        <Columns>
            <DxGridDataColumn FieldName="DynamicFormItemLineID" Visible="false" />
            <DxGridDataColumn FieldName="Qty" />
            <DxGridDataColumn FieldName="ItemDynamicFormType" Caption="ItemDynamicForm Type" />
            <DxGridDataColumn FieldName="ItemDynamicFormData" Caption="ItemDynamicForm Data" />
            <DxGridDataColumn FieldName="Description" />
            <DxGridCommandColumn Width="160px" Visible="false" />
        </Columns>

        <EditFormTemplate Context="EditFormContext">
            @{
                var Line = (DynamicFormItemLine)EditFormContext.EditModel;
            }
            <DxFormLayout CssClass="w-100">
                <DxFormLayoutItem Caption="Qty:" ColSpanMd="6">
                    <DxSpinEdit @bind-Value="@Line.Qty" />
                    <ValidationMessage For="@(() => Line.Qty)" />
                </DxFormLayoutItem>

                <DxFormLayoutItem Caption="ItemDynamicForm Type:" ColSpanMd="6">

                    <DxComboBox Data="@_dynamicForm"
                                NullText="Select ItemDynamicForm Type..."
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="Name"
                                ValueFieldName="ID"
                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                Value="@Line.ItemDynamicFormTypeID"
                                ValueExpression="@(() => Line.ItemDynamicFormTypeID )"
                                ValueChanged="@((long? plantData) => SelecteddynamicFormItemChanged(plantData,Line))">
                    </DxComboBox>
                    <ValidationMessage For="@(() => Line.ItemDynamicFormTypeID)" />
                </DxFormLayoutItem>

                <DxFormLayoutItem Caption="ItemDynamicForm Data:" ColSpanMd="6">
                    <DxComboBox Data="@_dynamicFormData"
                                NullText="Select ItemDynamicForm Data..."
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="ProfileNo"
                                ValueFieldName="DynamicFormDataId"
                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                @bind-Value="@Line.ItemDynamicFormDataID">
                    </DxComboBox>
                    <ValidationMessage For="@(() => Line.ItemDynamicFormDataID)" />
                </DxFormLayoutItem>

                <DxFormLayoutItem Caption="Description:" ColSpanMd="6">
                    <DxMemo @bind-Text="@Line.Description" />
                </DxFormLayoutItem>

            </DxFormLayout>
        </EditFormTemplate>

    </DxGrid>
</DxLoadingPanel>

<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="Crt"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" @onclick="@(() => bulkDelete(_selectedItems))" />
    </FooterContentTemplate>
</DxPopup>
@code {

    [Parameter]
    public long? DynamicFormItemids { get; set; }
    private List<DynamicForm> _dynamicForm;
    private List<DynamicFormData>? _dynamicFormData;
    string Text { get; set; } = "";
    IGrid? FormItemLineGrid { get; set; }
    private List<DynamicFormItemLine>? _dynamicFormItemLine;
    bool PanelVisible { get; set; }
    bool DeleteEnabled { get; set; } = false;
    bool CancelEnabled { get; set; } = false;
    private DynamicFormItemLine _selectedItems;
    bool EditEnabled { get; set; } = false;
    bool AddEnabled { get; set; } = true;
    public ApplicationUser? applicationUser { get; private set; }

    bool Blukdeletepopup { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _dynamicForm = await Mediator.Send(new GetAllDynamicFormDropdownListQuery());
        _dynamicFormItemLine = new List<DynamicFormItemLine>();
        await UpdateDataAsync();
        StateHasChanged();
    }
    public async Task UpdateDataAsync()
    {
        PanelVisible = true;
        if (DynamicFormItemids > 0)
        {
            _dynamicFormItemLine = await Mediator.Send(new GetAllDynamicItemFormLineList((long)DynamicFormItemids));
            if (_dynamicFormItemLine != null && _dynamicFormItemLine.Count > 0)
            {
                PanelVisible = true;
                _selectedItems = _dynamicFormItemLine.FirstOrDefault();

                if (_dynamicFormItemLine != null)
                {
                    EditEnabled = true;
                    DeleteEnabled = true;
                    StateHasChanged();
                }
            }
        }
        PanelVisible = false;
        StateHasChanged();
    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "DynamicFormItemLineID");
        _selectedItems = _dynamicFormItemLine.FirstOrDefault(f => f.DynamicFormItemLineID == (long?)UniqueId);


        StateHasChanged();
    }
    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        var navitems = (DynamicFormItemLine)e.EditModel;
        if (e.IsNew)
        {
        }
    }
    void OnDeleteDataItem(GridDataItemDeletingEventArgs e)
    {

        var editModel = (DynamicFormItemLine)e.DataItem;

    }
    async Task OnEditModelSaving(GridEditModelSavingEventArgs e)
    {

        var editModel = (DynamicFormItemLine)e.EditModel;

        if (e.IsNew)
        {

            {
                var createReq = new CreateDynamicFormItemLine
                    {

                        DynamicFormItemID = DynamicFormItemids,
                        Qty = editModel.Qty,
                        ItemDynamicFormTypeID = editModel.ItemDynamicFormTypeID,
                        ItemDynamicFormDataID = editModel.ItemDynamicFormDataID,
                        Description = editModel.Description,
                        StatusCodeID = 1,
                        AddedByUserID = applicationUser.UserID,
                        ModifiedByUserID = applicationUser.UserID,
                        AddedDate = DateTime.Now,
                        SessionId = Guid.NewGuid(),

                    };


                var result = await Mediator.Send(createReq);
                toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);


                await UpdateDataAsync();

            }

        }

        else
        {


            var UpdateReq = new EditDynamicFormItemLine
                {
                    DynamicFormItemLineID = editModel.DynamicFormItemLineID,
                    DynamicFormItemID = DynamicFormItemids,
                    Qty = editModel.Qty,
                    ItemDynamicFormTypeID = editModel.ItemDynamicFormTypeID,
                    ItemDynamicFormDataID = editModel.ItemDynamicFormDataID,
                    Description = editModel.Description,
                    StatusCodeID = 1,
                    AddedByUserID = applicationUser.UserID,
                    ModifiedByUserID = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    SessionId = editModel.SessionId,

                };

            var ans = await Mediator.Send(UpdateReq);
            toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();
        }

    }

    async Task bulkDelete(DynamicFormItemLine DynamicFormItemLine)
    {
        try
        {
            //    var editablePlant = (ViewPlants)e.DataItem;
            var request = new DeleteDynamicFormItemLine(DynamicFormItemLine.DynamicFormItemLineID);
            await Mediator.Send(request);
            Blukdeletepopup = false;
            toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();
            FormItemLineGrid.SetFocusedRowIndex(0);

        }
        catch (Exception eq)
        {
            //DeleteerrorMessage = eq.Message;
            //PopupVisible = true;
            Blukdeletepopup = false;
            toastService.ShowToast("The Selected Record Do not deleted", AC.SD.Core.Services.ToastLevel.Error);
        }

    }

    void addDelete()
    {
        Blukdeletepopup = true;
    }

    public void addNew()
    {

        FormItemLineGrid.StartEditNewRowAsync();

    }
    void addEdit()
    {
        FormItemLineGrid.StartEditDataItemAsync(_selectedItems);
        StateHasChanged();
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {

        Blukdeletepopup = false;

    }

    async void SelecteddynamicFormItemChanged(long? dynamicFormId, DynamicFormItemLine dynamicFormItemLine)
    {
        dynamicFormItemLine.ItemDynamicFormTypeID = dynamicFormId;
        dynamicFormItemLine.ItemDynamicFormDataID = null;
        //List<ExpandoObject>? _dynamicformObjectDataList = new List<ExpandoObject>();
        _dynamicFormData = new List<DynamicFormData>();
        if (dynamicFormId > 0)
        {
            var list = await Mediator.Send(new GetDynamicFormItemLineDropdoenList((long)dynamicFormId, applicationUser.UserID));
            _dynamicFormData = list.DynamicFormListData;
            // var collection = list.ObjectData;
            // int j = 0;
            // if (collection != null)
            // {
            //     foreach (var v in (collection as IEnumerable<ExpandoObject>))
            //     {
            //        dynamic obj1 = new ExpandoObject();
            //         obj1.AttributeDetailID = j;
            //         obj1.AttributeDetailName = $"Statuss_{j}";
            //        _dynamicFormData.Add(v);
            //     }
            // }
        }
        // for (int i = 0; i < 20; i++)
        // {
        //     dynamic obj = new ExpandoObject();
        //     obj.AttributeDetailID = i;
        //     obj.AttributeDetailName = $"Status_{i}";
        //     _dynamicFormData.Add(obj);
        // }
        StateHasChanged();
    }
}
