@using Application.Commands;
@using Application.Queries;
@using Application.Response;
@using MediatR
@using global::Core.Entities;
@using global::Core.Entities.Views;
@inject IMediator Mediator
@using DevExpress.Export
@using global::Core.Repositories.Query;
@inject IJSRuntime jsRuntime;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@implements IDisposable

<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" Enabled="@AddEnabled" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
            </Items>
        </DxMenu>
    </div>
</div>


<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">
    <div class="text-center">
        <p>@errorMessage</p>
        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>
<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">
    <div class="text-center">
        <p>@DeleteerrorMessage</p>
        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>

<DxPopup @bind-Visible="@MessageVisible" HeaderText="@MessageHeader">
    <BodyTemplate Context="PopupContext">
        <div class="@((MessageHeader == "Error" ? "TxtRed" : "TxtGreen"))" style="text-align:center; padding: 10px; font-size: 15px;">
            <span> @MessageBody</span>
        </div>
    </BodyTemplate>
</DxPopup>

<DxLoadingPanel @bind-Visible="PanelAttibuteVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">

    <DxGrid @ref="SMAttributeGrid" Data="@_dynamicFormSectionAttributeData" EditModelSaving="@OnEditModelSaving" DataItemDeleting="@OnDeleteDataItem" EditMode="GridEditMode.EditForm" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            KeyFieldName="DynamicFormSectionAttributeId"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            CssClass="ch-360"
            FocusedRowEnabled="true"
            RowClick="OnRowClick"
            AllowSelectRowByClick="true"
            CustomizeElement="Grid_CustomizeElement"
            CustomizeEditModel="Grid_CustomizeEditModel"
            AutoExpandAllGroupRows="true"
            SelectionMode="GridSelectionMode.Single"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            RowDoubleClick="OnRowDoubleClick" SelectedDataItemsChanged="@SelectedDataItemsChanged">


        <Columns>
            @* <DxGridSelectionColumn Width="60px" AllowSelectAll="true" /> *@
            <DxGridDataColumn FieldName="DynamicFormSectionAttributeId" Visible="false" />
            <DxGridDataColumn FieldName="AttributeName" Caption="Field Name" MinWidth="40" />
            <DxGridDataColumn FieldName="ControlType" Caption="Control Type" MinWidth="40">
                <CellDisplayTemplate>
                    @{
                        var item = (DynamicFormSectionAttribute)context.DataItem;
                        var Names = item.ControlType;
                    }
                    @Names
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="DataSourceDisplayName" Caption="Data Source" MinWidth="40">
                <CellDisplayTemplate>
                    @{
                        var item = (DynamicFormSectionAttribute)context.DataItem;
                        var DataSourceNames = item.DataSourceDisplayName;
                        if (item.ControlTypeId == 2712)
                        {
                            DataSourceNames = item.DynamicGridName;
                        }
                        if (item.DataSourceTable == "DynamicGrid")
                        {
                            DataSourceNames += " - " + item.DynamicGridName;
                        }
                    }
                    @DataSourceNames
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="DisplayName" Caption="Label Name" MinWidth="40" />
            <DxGridDataColumn FieldName="SortOrderBy" Caption="Sort Order By" SortIndex="0" SortOrder="GridColumnSortOrder.Ascending" MinWidth="40">
                <CellDisplayTemplate>
                    @{
                        var item = (DynamicFormSectionAttribute)context.DataItem;
                    }
                    <i class="fa fa-pencil" aria-hidden="true" style="margin-right: 5px;cursor:pointer;" id=@($"flyout-overview-target-container-AttributeSection-{item.DynamicFormSectionAttributeId}") onclick="@(() => OnButtonSortOrderByClick(item))" title="@item.SortOrderBy"></i>
                    @item.SortOrderBy
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="IsVisible" Caption="Is Visible" MinWidth="20" />
            <DxGridDataColumn FieldName="IsMultiple" Caption="Is Multiple" MinWidth="80" />
            <DxGridDataColumn FieldName="IsRequired" Caption="Is Required" MinWidth="80" />
            <DxGridDataColumn FieldName="RequiredMessage" Caption="Required Message" MinWidth="80" />
            <DxGridDataColumn FieldName="ColSpan" Caption="ColSpan" MinWidth="20" />
            <DxGridDataColumn FieldName="IsDisplayTableHeader" Caption="Is Table Header" MinWidth="20" />
            <DxGridDataColumn FieldName="ModifiedBy" Caption="Modified By" MinWidth="50" />
            <DxGridDataColumn FieldName="ModifiedDate" Caption="Modified Date" Width="180" />

            <DxGridCommandColumn Width="160px" Visible="false" />
        </Columns>
        <EditFormTemplate Context="EditFormContext">
            @{
                var types = (DynamicFormSectionAttribute)EditFormContext.EditModel;

            }
            <DxFormLayout CssClass="w-100">
                <DxFormLayoutItem Caption="Field Name" ColSpanMd="6">
                    <DxComboBox Data="@_attributeHeaderData"
                                NullText="Select Field..."
                                FilteringMode="DataGridFilteringMode.Contains"
                                TextFieldName="AttributeName"
                                ValueFieldName="AttributeID"
                                EditFormat="{1}-{2}"
                                Enabled="isFormCountUsed"
                                SelectedItemChanged="@((AttributeHeader selectName) => SelectedItemChanged(selectName,types))"
                    @bind-Value="@types.AttributeId">
                        <Columns>
                            <DxListEditorColumn FieldName="@nameof(AttributeHeader.AttributeName)"
                                                Caption="Field Name"
                                                Width="100px" />
                            <DxListEditorColumn FieldName="@nameof(AttributeHeader.Description)"
                                                Caption="Label Name"
                                                Width="100px" />
                            <DxListEditorColumn FieldName="@nameof(AttributeHeader.ControlType)"
                                                Caption="Control Type" Width="100px" />
                            <DxListEditorColumn FieldName="@nameof(AttributeHeader.DropDownTypeId)"
                                                Caption="DropDown Type" Width="100px" />
                            <DxListEditorColumn FieldName="@nameof(AttributeHeader.DataSourceDisplayName)"
                                                Caption="Data Source" Width="100px" />
                        </Columns>
                    </DxComboBox>
                    <ValidationMessage For="@(() => types.AttributeId)" />

                </DxFormLayoutItem>

                <DxFormLayoutItem Caption="Label Name" ColSpanMd="6">
                    @{
                        var types = (DynamicFormSectionAttribute)EditFormContext.EditModel;
                    }
                    <DxTextBox @bind-Text="@types.DisplayName" ShowValidationIcon="true" />
                    <ValidationMessage For="@(() => types.DisplayName)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Is Plant Load Dependency" ColSpanMd="6" Visible="@isDataSource">
                    <DxCheckBox @bind-Checked="types.IsPlantLoadDependency"></DxCheckBox>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Dropdown Data Source" ColSpanMd="6" Visible="@types.IsPlantLoadDependency">
                    <DxComboBox Data="@_attributeHeaderDataSource"
                                NullText="Select Data Source..."
                                FilteringMode="DataGridFilteringMode.Contains"
                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                TextFieldName="DisplayName"
                                ValueFieldName="AttributeHeaderDataSourceId"
                                Enabled="isFormCountUsed"
                    @bind-Value="@types.PlantDropDownWithOtherDataSourceId">

                    </DxComboBox>
                    <ValidationMessage For="@(() => types.PlantDropDownWithOtherDataSourceId)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Dropdown Label Name" ColSpanMd="6" Visible="@types.IsPlantLoadDependency">
                    <DxTextBox @bind-Text="@types.PlantDropDownWithOtherDataSourceLabelName" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Radio Layout" ColSpanMd="6" Visible="IsRadioLayoutEnabled">
                    <DxRadioGroup Items="@TemplateUploadOptions"
                                  Value="@types.RadioLayout"
                                  ValueExpression="@(() => types.RadioLayout )"
                                  ValueChanged="@((string value) => OnTemplateUploadGroupValueChanged(value,types))"
                                  Layout="RadioGroupLayout.Horizontal"
                                  Enabled="IsRadioLayoutEnabled"
                                  CssClass="dx-demo-radio-group" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="" ColSpanMd="3" Visible="IsRadioCheckBoxLayoutEnabled">
                    <DxCheckBox Checked="@types.IsSingleTextBoxRemarks" Enabled="@IsRadioCheckBoxLayoutEnabled" CheckedExpression="@(() => types.IsSingleTextBoxRemarks)" CheckedChanged="@((bool? value) => CheckedSingleTextBoxRemarksChanged(value,types))" LabelPosition="LabelPosition.Right">Is SingleLine TextBox</DxCheckBox>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="" ColSpanMd="3" Visible="IsRadioCheckBoxLayoutEnabled">
                    <DxCheckBox Checked="types.IsMultiLineTextboxRemarks" Enabled="@IsRadioCheckBoxLayoutEnabled" CheckedExpression="@(() => types.IsMultiLineTextboxRemarks)" CheckedChanged="@((bool? value) => CheckedIsMultiLineTextboxRemarksChanged(value,types))" LabelPosition="LabelPosition.Right">Is MultiLine TextBox</DxCheckBox>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Remarks Label Name" ColSpanMd="6" Visible="IsRadioCheckBoxLayoutEnabled">
                    <DxTextBox @bind-Text="@types.RemarksLabelName" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="SpinEdit Type" ColSpanMd="6" Visible="IsSpinEditTypeEnabled">
                    <DxComboBox Data="@dynamicFormSectionSpinEdit"
                    @bind-Value="@types.IsSpinEditType"
                                Enabled="@IsSpinEditTypeEnabled"
                                TextFieldName="Text"
                                ValueFieldName="Value" ShowValidationIcon="true" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Is Visible" ColSpanMd="6">
                    <DxCheckBox @bind-Checked="types.IsVisible"></DxCheckBox>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Is Multiple" ColSpanMd="6" Visible="@isListMultiple">
                    <DxCheckBox @bind-Checked="types.IsMultiple" Enabled="@isListMultiple"></DxCheckBox>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Is Required" ColSpanMd="6">
                    <DxCheckBox @bind-Checked="types.IsRequired"></DxCheckBox>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Required Message" ColSpanMd="6">

                    <DxTextBox @bind-Text="@types.RequiredMessage" />
                    <ValidationMessage For="@(() => types.RequiredMessage)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Col Span" ColSpanMd="6">
                    <DxComboBox Data="@colSpanLists"
                    @bind-Value="@types.ColSpan"
                                TextFieldName="Text"
                                ValueFieldName="Value" ShowValidationIcon="true" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Is Table Header" ColSpanMd="6">
                    <DxCheckBox @bind-Checked="types.IsDisplayTableHeader"></DxCheckBox>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Tool Tips" ColSpanMd="6">

                    <DxMemo @bind-Text="@types.FormToolTips" Rows="5" />
                </DxFormLayoutItem>
            </DxFormLayout>
        </EditFormTemplate>

        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="DisplayName" />
        </TotalSummary>

    </DxGrid>
</DxLoadingPanel>

<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="CRT"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>
<DxFlyout @bind-IsOpen=IsSortOrderByAtrributeOpen
          PositionTarget=@($"#flyout-overview-target-container-AttributeSection-{_selectedAttributeItems?.DynamicFormSectionAttributeId}")
          RestrictionTarget="#Navigation-Flyout-Customization"
          AnimationType="FlyoutAnimationType.Fade"
          HeaderVisible="true"
          HeaderText="Update Sort Order"
          FooterVisible="true"
          FooterCssClass="custom-flyout-footer"
          CloseOnOutsideClick="false"
          Width="max(25vw, 550px)"
          PreventCloseOnPositionTargetClick="true">
    <BodyContentTemplate Context="PopupContext">
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="Sort Order" ColSpanMd="6">
                <DxComboBox Data="@sortOrderAttributeSectionList"
                @bind-Value="@_selectedDynamicFormAttributeSectionItems.SortOrderBy"
                            TextFieldName="Text"
                            ValueFieldName="Value" ShowValidationIcon="true" />
            </DxFormLayoutItem>
        </DxFormLayout>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="Close" Click=@(()=> IsSortOrderByAtrributeOpen = false) />
        <DxButton RenderStyle="ButtonRenderStyle.Success" Text="Update" Click=@(()=> OnUpdateSortOrderAttributeBy()) />


    </FooterContentTemplate>
</DxFlyout>

@code {
    [Parameter]
    public DynamicFormSection Items { get; set; }
    public bool? IsDynamicSubForm { get; set; } = false;
    public long? DynamicFormSectionId { get; set; }
    bool PanelAttibuteVisible { get; set; }
    IReadOnlyList<object> SelectedDataItems { get; set; }
    private List<DynamicFormSectionAttribute>? _dynamicFormSectionAttributeData;
    IGrid? SMAttributeGrid { get; set; }
    private DynamicFormSectionAttribute _selectedAttributeItems;
    IEnumerable<string> TemplateUploadOptions = new[] { "Vertical", "Horizontal" };
    bool DeleteEnabled { get; set; } = false;
    DxPopup? popup;
    bool PopupVisible { get; set; } = false;
    bool isListMultiple = false;
    bool IsSpinEditTypeEnabled { get; set; } = false; bool IsRadioLayoutEnabled { get; set; } = false;
    bool IsRadioCheckBoxLayoutEnabled { get; set; } = false;
    string? errorMessage;
    string? DeleteerrorMessage;
    bool MessageVisible { get; set; }
    string MessageHeader = "Error";
    string MessageBody = "";
    private bool loading;
    bool Blukdeletepopup { get; set; } = false;
    bool EditEnabled { get; set; } = false;
    bool AddEnabled { get; set; } = false;
    bool IsSortOrderByAtrributeOpen { get; set; } = false;
    private DynamicFormSectionAttribute _selectAttributelst;
    public ApplicationUser? applicationUser { get; private set; }
    private List<DynamicFormSectionSortOrder> sortOrderAttributeSectionList { get; set; }
    private List<DynamicFormSectionSortOrder> colSpanLists { get; set; } = new List<DynamicFormSectionSortOrder>();
    private List<AttributeHeader>? _attributeHeaderData;
    DynamicFormSectionAttribute _selectedDynamicFormAttributeSectionItems = new DynamicFormSectionAttribute();
    private List<DynamicFormSectionSpinEdit> dynamicFormSectionSpinEdit { get; set; } = new List<DynamicFormSectionSpinEdit>();
    bool isFormCountUsed { get; set; } = true; private List<AttributeHeaderDataSource> _attributeHeaderDataSource; bool isDataSource { get; set; } = false;
    protected override async Task OnInitializedAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        DynamicFormSectionId = Items.DynamicFormSectionId;

        for (int val = 1; val <= 12; val++)
        {
            if (val % 2 == 0)
            {
                DynamicFormSectionSortOrder colSpanList = new DynamicFormSectionSortOrder();
                colSpanList.Text = val.ToString();
                colSpanList.Value = val;
                colSpanLists.Add(colSpanList);
            }
        }
        dynamicFormSectionSpinEdit.Add(new DynamicFormSectionSpinEdit() { Value = "int", Text = "Integer" });
        dynamicFormSectionSpinEdit.Add(new DynamicFormSectionSpinEdit() { Value = "decimal", Text = "Decimal" });
        await UpdateDataAsync();
    }
    public async Task loadChildData(long? dynamicFormIds)
    {
        DynamicFormSectionId = dynamicFormIds;
        await UpdateDataAsync();
    }
    void OnTemplateUploadGroupValueChanged(string? radioValue, DynamicFormSectionAttribute dynamicFormSectionAttribute)
    {
        dynamicFormSectionAttribute.RadioLayout = radioValue;
    }
    void CheckedSingleTextBoxRemarksChanged(bool? value, DynamicFormSectionAttribute dynamicFormSectionAttribute)
    {
        dynamicFormSectionAttribute.IsSingleTextBoxRemarks = value;
        if (value == true)
        {
            dynamicFormSectionAttribute.IsMultiLineTextboxRemarks = false;
        }
        StateHasChanged();
    }
    void CheckedIsMultiLineTextboxRemarksChanged(bool? value, DynamicFormSectionAttribute dynamicFormSectionAttribute)
    {
        dynamicFormSectionAttribute.IsMultiLineTextboxRemarks = value;
        if (value == true)
        {
            dynamicFormSectionAttribute.IsSingleTextBoxRemarks = false;
        }
        StateHasChanged();
    }
    async Task Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        isFormCountUsed = true; isDataSource = false;
        var navitems = (DynamicFormSectionAttribute)e.EditModel;
        navitems.IsSpinEditType = string.IsNullOrEmpty(navitems.IsSpinEditType) ? "int" : navitems.IsSpinEditType;
        isListMultiple = false; IsSpinEditTypeEnabled = false; IsRadioLayoutEnabled = false; IsRadioCheckBoxLayoutEnabled = false;
        navitems.IsSingleTextBoxRemarks = false; navitems.IsSingleTextBoxRemarks = false;
        if (e.IsNew)
        {
            navitems.IsSpinEditType = "int";
            navitems.ColSpan = 6;

            //_attributeHeaderData = await Mediator.Send(new GetAllAttributeNameNotInDynamicForm(DynamicFormSectionId, -1));
        }
        else
        {
            if (navitems.DataSourceTable == "Plant")
            {
                isDataSource = true;
                _attributeHeaderDataSource = await Mediator.Send(new GetAttributeHeaderDataSource());
            }
            if (navitems.FormUsedCount > 0)
            {
                isFormCountUsed = false;
            }
            if (navitems.ControlTypeId == 2706)
            {
                isListMultiple = true;
            }
            if (navitems.ControlTypeId == 2704)
            {
                IsSpinEditTypeEnabled = true;
            }
            if (navitems.ControlTypeId == 2705 || navitems.ControlTypeId == 2711)
            {
                if (string.IsNullOrEmpty(navitems.RadioLayout))
                {
                    navitems.RadioLayout = "Vertical";
                }
                if (navitems.IsRadioCheckRemarks == "Memo")
                {
                    navitems.IsMultiLineTextboxRemarks = true;
                }
                if (navitems.IsRadioCheckRemarks == "TextBox")
                {
                    navitems.IsSingleTextBoxRemarks = true;
                }
                IsRadioCheckBoxLayoutEnabled = true;
                IsRadioLayoutEnabled = true;
            }
            if (navitems.ControlTypeId == 2710)
            {
                if (navitems.IsRadioCheckRemarks == "Memo")
                {
                    navitems.IsMultiLineTextboxRemarks = true;
                }
                if (navitems.IsRadioCheckRemarks == "TextBox")
                {
                    navitems.IsSingleTextBoxRemarks = true;
                }
                IsRadioCheckBoxLayoutEnabled = true;
            }

            //_attributeHeaderData = await Mediator.Send(new GetAllAttributeNameNotInDynamicForm(DynamicFormSectionId, navitems.AttributeId));
        }
        StateHasChanged();
    }
    async Task UpdateDataAsync()
    {
        PanelAttibuteVisible = true; AddEnabled = false;
        EditEnabled = false; DeleteEnabled = false;

        if (DynamicFormSectionId > 0)
        {
            _attributeHeaderData = await Mediator.Send(new GetAllAttributeNameNotInDynamicForm(-1, -1));
            AddEnabled = true;
            _dynamicFormSectionAttributeData = await Mediator.Send(new GetDynamicFormSectionAttribute(DynamicFormSectionId));

            if (_dynamicFormSectionAttributeData.Count > 0)
            {
                _selectedAttributeItems = _dynamicFormSectionAttributeData.FirstOrDefault();

                EditEnabled = true;
                DeleteEnabled = true;
                // if (_selectedAttributeItems.FormUsedCount > 0)
                // {
                //     DeleteEnabled = false;
                // }
            }
        }
        PanelAttibuteVisible = false;
        StateHasChanged();
    }

    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }
    async Task SelectedItemChanged(AttributeHeader attributeHeader, DynamicFormSectionAttribute data)
    {
        data.DisplayName = attributeHeader.Description;
        data.DataSourceTable = attributeHeader.DataSourceTable;
        data.ControlTypeId = attributeHeader.ControlTypeId; isDataSource = false;
        isListMultiple = false; IsSpinEditTypeEnabled = false; IsRadioLayoutEnabled = false; IsRadioCheckBoxLayoutEnabled = false;
        if (attributeHeader != null)
        {
            if (attributeHeader.ControlTypeId == 2706)
            {
                isListMultiple = true;
            }
            if (attributeHeader.ControlTypeId == 2704)
            {
                IsSpinEditTypeEnabled = true;
            }
            if (attributeHeader.ControlTypeId == 2705 || attributeHeader.ControlTypeId == 2711)
            {
                if (string.IsNullOrEmpty(data.RadioLayout))
                {
                    data.RadioLayout = "Vertical";
                }
                IsRadioCheckBoxLayoutEnabled = true;
                IsRadioLayoutEnabled = true;
            }
            if (attributeHeader.ControlTypeId == 2710)
            {
                IsRadioCheckBoxLayoutEnabled = true;
            }
            if (attributeHeader.ControlTypeId == 2712)
            {
                data.ColSpan = 12;
            }
            if (attributeHeader.DataSourceTable == "Plant")
            {
                isDataSource = true;
                _attributeHeaderDataSource = await Mediator.Send(new GetAttributeHeaderDataSource());
            }
            else
            {
                data.IsPlantLoadDependency = false;
            }
        }
        StateHasChanged();
    }
    async Task OnEditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editModel = (DynamicFormSectionAttribute)e.EditModel;
        var isMultipleFlag = editModel.ControlTypeId == 2706 ? (editModel.IsMultiple == true ? true : false) : false;
        var IsSpinEditType = editModel.ControlTypeId == 2704 ? (string.IsNullOrEmpty(editModel.IsSpinEditType) ? null : editModel.IsSpinEditType) : null;
        var IsRadioLayout = editModel.ControlTypeId == 2705 || editModel.ControlTypeId == 2711 ? (string.IsNullOrEmpty(editModel.RadioLayout) ? null : editModel.RadioLayout) : null;
        var IsColSpan = editModel.ControlTypeId == 2712 ? 12 : editModel.ColSpan;
        string? IsRadioCheckRemarks = null; string? RemarksLabelName = null;
        if (editModel.ControlTypeId == 2705 || editModel.ControlTypeId == 2711 || editModel.ControlTypeId == 2710)
        {
            RemarksLabelName = editModel.RemarksLabelName;
            if (editModel.IsMultiLineTextboxRemarks == true)
            {
                IsRadioCheckRemarks = "Memo";
            }
            if (editModel.IsSingleTextBoxRemarks == true)
            {
                IsRadioCheckRemarks = "TextBox";
            }
        }

        if (e.IsNew)
        {
            var createReq = new InsertOrUpdateDynamicFormSectionAttribute
                {
                    DisplayName = editModel.DisplayName,
                    DynamicFormSectionId = DynamicFormSectionId,
                    AttributeId = editModel.AttributeId,
                    SessionId = Guid.NewGuid(),
                    AddedByUserID = applicationUser.UserID,
                    ModifiedByUserID = applicationUser.UserID,
                    ColSpan = IsColSpan,
                    ModifiedDate = DateTime.Now,
                    StatusCodeID = 1,
                    AddedDate = DateTime.Now,
                    IsMultiple = isMultipleFlag,
                    IsRequired = editModel.IsRequired,
                    RequiredMessage = editModel.RequiredMessage,
                    IsSpinEditType = IsSpinEditType,
                    IsDisplayTableHeader = editModel.IsDisplayTableHeader,
                    FormToolTips = editModel.FormToolTips,
                    IsVisible = editModel.IsVisible = true,
                    RadioLayout = IsRadioLayout,
                    IsRadioCheckRemarks = IsRadioCheckRemarks,
                    RemarksLabelName = RemarksLabelName,
                    IsPlantLoadDependency = editModel.DataSourceTable == "Plant" ? editModel.IsPlantLoadDependency : false,
                    PlantDropDownWithOtherDataSourceId = editModel.DataSourceTable == "Plant" && editModel.IsPlantLoadDependency == true ? editModel.PlantDropDownWithOtherDataSourceId : null,
                    PlantDropDownWithOtherDataSourceLabelName = editModel.DataSourceTable == "Plant" && editModel.IsPlantLoadDependency == true && editModel.PlantDropDownWithOtherDataSourceId > 0 ? editModel.PlantDropDownWithOtherDataSourceLabelName : null,
                };

            try
            {
                var result = await Mediator.Send(createReq);
                toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            }
            catch (Exception eq)
            {

                errorMessage = eq.Message;
                PopupVisible = true;

            }
            await UpdateDataAsync();


        }
        else
        {
            var UpdateReq = new InsertOrUpdateDynamicFormSectionAttribute
                {
                    DynamicFormSectionAttributeId = editModel.DynamicFormSectionAttributeId,
                    DisplayName = editModel.DisplayName,
                    AttributeId = editModel.AttributeId,
                    DynamicFormSectionId = DynamicFormSectionId,
                    SessionId = editModel.SessionId,
                    SortOrderBy = editModel.SortOrderBy,
                    AddedByUserID = editModel.AddedByUserID,
                    ModifiedByUserID = applicationUser.UserID,
                    ColSpan = IsColSpan,
                    ModifiedDate = DateTime.Now,
                    StatusCodeID = 1,
                    AddedDate = editModel.AddedDate,
                    IsMultiple = isMultipleFlag,
                    IsRequired = editModel.IsRequired,
                    RequiredMessage = editModel.RequiredMessage,
                    IsSpinEditType = IsSpinEditType,
                    IsDisplayTableHeader = editModel.IsDisplayTableHeader,
                    FormToolTips = editModel.FormToolTips,
                    IsVisible = editModel.IsVisible,
                    RadioLayout = IsRadioLayout,
                    IsRadioCheckRemarks = IsRadioCheckRemarks,
                    RemarksLabelName = RemarksLabelName,
                    IsPlantLoadDependency = editModel.DataSourceTable == "Plant" ? editModel.IsPlantLoadDependency : false,
                    PlantDropDownWithOtherDataSourceId = editModel.DataSourceTable == "Plant" ? editModel.PlantDropDownWithOtherDataSourceId : null,
                    PlantDropDownWithOtherDataSourceLabelName = editModel.DataSourceTable == "Plant" && editModel.PlantDropDownWithOtherDataSourceId > 0 ? editModel.PlantDropDownWithOtherDataSourceLabelName : null,

                };
            var ans = await Mediator.Send(UpdateReq);
            toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();

        }

    }
    private async void onShowPopupMessage(string headerText, string bodyText)
    {

        MessageVisible = true;
        MessageBody = bodyText;
        MessageHeader = headerText;
        loading = false;
        StateHasChanged();
    }
    async void ClosePopup()
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
        await UpdateDataAsync();
    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
        UpdateDataAsync();
    }
    async Task OnDeleteDataItem(GridDataItemDeletingEventArgs e)
    {

        var editModel = (DynamicFormSectionAttribute)e.DataItem;
        var request = new DeleteDynamicFormSectionAttribute(editModel);
        await Mediator.Send(request);
        await UpdateDataAsync();
        SMAttributeGrid.SetFocusedRowIndex(0);

    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    void Onclick(DataGridSelection<DynamicFormSectionAttribute> e)
    {



    }

    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "DynamicFormSectionAttributeId");
        _selectedAttributeItems = _dynamicFormSectionAttributeData.FirstOrDefault(f => f.DynamicFormSectionAttributeId == (long?)UniqueId);
        // DeleteEnabled = true;
        //if (_selectedAttributeItems.FormUsedCount > 0)
        //{
        //   DeleteEnabled = false;
        // }
        StateHasChanged();

    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addEdit();
    }
    void addNew()
    {
        SMAttributeGrid.StartEditNewRowAsync();

    }
    void addEdit()
    {
        if (SelectedDataItems != null)
        {

            if (SelectedDataItems.Count == 1)
            {

                foreach (object item in SelectedDataItems)
                {
                    if (item is DynamicFormSectionAttribute dataselectItems)
                    {
                        _selectAttributelst = _dynamicFormSectionAttributeData.FirstOrDefault(f => f.DynamicFormSectionAttributeId == dataselectItems.DynamicFormSectionAttributeId);
                    }
                }
                SMAttributeGrid.StartEditDataItemAsync(_selectAttributelst);
            }
            else
            {
                SMAttributeGrid.StartEditDataItemAsync(_selectedAttributeItems);
            }
        }

    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    async Task bulkDelete()
    {
        try
        {
            if (SelectedDataItems != null)
            {
                foreach (object item in SelectedDataItems)
                {

                    if (item is DynamicFormSectionAttribute selectData)
                    {
                        var request = new DeleteDynamicFormSectionAttribute(selectData);
                        await Mediator.Send(request);
                        Blukdeletepopup = false;
                        toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        SMAttributeGrid.SetFocusedRowIndex(0);
                    }

                }
            }
        }
        catch (Exception eq)
        {
            DeleteerrorMessage = eq.Message;
            PopupVisible = true;
        }

        await UpdateDataAsync();


    }
    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems;
        if (SelectedDataItems.Count > 1)
        {
            EditEnabled = false;
        }
        else
        {
            EditEnabled = true;
        }

    }
    async Task OnUpdateSortOrderAttributeBy()
    {
        await Mediator.Send(new UpdateDynamicFormSectionAttributeSortOrder(_selectedDynamicFormAttributeSectionItems));
        await UpdateDataAsync();
        SMAttributeGrid.SortBy("SortOrderBy", GridColumnSortOrder.Ascending, 0);
        toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
        IsSortOrderByAtrributeOpen = false;
    }
    void OnButtonSortOrderByClick(DynamicFormSectionAttribute dynamicFormSection)
    {
        _selectedDynamicFormAttributeSectionItems = new DynamicFormSectionAttribute();

        sortOrderAttributeSectionList = new List<DynamicFormSectionSortOrder>();
        IsSortOrderByAtrributeOpen = true;
        if (_dynamicFormSectionAttributeData != null && _dynamicFormSectionAttributeData.Count > 0)
        {
            var count = _dynamicFormSectionAttributeData.Count;
            for (int i = 1; i <= count; i++)
            {
                DynamicFormSectionSortOrder dynamicFormSectionSortOrder = new DynamicFormSectionSortOrder();
                dynamicFormSectionSortOrder.Text = i.ToString();
                dynamicFormSectionSortOrder.Value = i;
                sortOrderAttributeSectionList.Add(dynamicFormSectionSortOrder);
            }
        }
        _selectedDynamicFormAttributeSectionItems.SortOrderBy = dynamicFormSection.SortOrderBy;
        _selectedDynamicFormAttributeSectionItems.ModifiedByUserID = applicationUser.UserID;
        _selectedDynamicFormAttributeSectionItems.ModifiedDate = DateTime.Now;
        _selectedDynamicFormAttributeSectionItems.DynamicFormSectionId = dynamicFormSection.DynamicFormSectionId;
        _selectedDynamicFormAttributeSectionItems.DynamicFormSectionAttributeId = dynamicFormSection.DynamicFormSectionAttributeId;
        _selectedDynamicFormAttributeSectionItems.SortOrderAnotherBy = dynamicFormSection.SortOrderBy;

        StateHasChanged();
    }
    public void Dispose()
    {
        System.GC.Collect();
        GC.SuppressFinalize(this);
    }
}
