@using Application.Queries;
@using Application.Response;
@using MediatR
@using global::Core.Entities;
@using global::Core.Entities.Views;
@using global::Core.EntityModels;
@inject IMediator Mediator
@using DevExpress.Export
@using global::Core.Repositories.Query;
@inject IJSRuntime jsRuntime;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@using System.Linq.Expressions;
@using System.Reflection;
@using System.Dynamic;
@implements IAsyncDisposable
@inject AC.SD.Core.Helpers.DataGridDynamicForm _LoadDataGridDynamicForm
@* @page "/DynamicFormItemGridList/AddDynamicFormItemLine"
@page "/DynamicFormItemGridList/AddDynamicFormItemLine/{DynamicFormItemids:long}" *@
<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>

                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" Enabled="@AddEnabled" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
                <DxMenuItem Text="Attachment" IconCssClass="fa fa-paperclip" Click="@addAttachment" Enabled="@AttachmentEnabled" />

            </Items>
        </DxMenu>
    </div>
</div>


<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">

    <DxGrid @ref="FormItemLineGrid" Data="@_dynamicFormItemLine" EditModelSaving="@OnEditModelSaving" DataItemDeleting="@OnDeleteDataItem" EditMode="GridEditMode.EditForm" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            KeyFieldName="DynamicFormItemLineID"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20" VirtualScrollingEnabled="true"
            style="height: calc(100vh - 336px);"
            CssClass="ch-360"
            FocusedRowEnabled="true"
            RowClick="OnRowClick"
            AllowSelectRowByClick="true"
            CustomizeElement="Grid_CustomizeElement"
            CustomizeEditModel="Grid_CustomizeEditModel"
            AutoExpandAllGroupRows="true"
            SelectionMode="GridSelectionMode.Single"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages">

        <Columns>
            <DxGridDataColumn FieldName="DynamicFormItemLineID" Visible="false" />
            <DxGridDataColumn FieldName="Qty" />
            <DxGridDataColumn FieldName="ItemDynamicFormType" Caption="ItemDynamicForm Type" />
            <DxGridDataColumn FieldName="ItemDynamicFormData" Caption="ItemDynamicForm Data" />
            <DxGridDataColumn FieldName="Description" />
            <DxGridCommandColumn Width="160px" Visible="false" />
        </Columns>

        <EditFormTemplate Context="EditFormContext">
            @{
                var Line = (DynamicFormItemLine)EditFormContext.EditModel;
                Data = Line;
            }
            @CreateEditFormFields()
        </EditFormTemplate>

    </DxGrid>
</DxLoadingPanel>

<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="Crt"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" @onclick="@(() => bulkDelete(_selectedItems))" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@AttachmentPopUp"
         ShowFooter="true"
         HeaderText="Attachment"
         CloseOnOutsideClick="false"
         ShowCloseButton="false"
         MinWidth="300" MinHeight="200" MaxWidth="1000px" MaxHeight="800">
    <BodyContentTemplate>
        <AC.SD.Core.Pages.UploadDocuments.UploadDocuments @ref="refUploadDocuments" SessionId="@_selectedItems.SessionId" RevokeBack="CloseAttachmentPopup"></AC.SD.Core.Pages.UploadDocuments.UploadDocuments>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => CloseAttachmentPopup())" />
    </FooterContentTemplate>
</DxPopup>
@code {
    private AC.SD.Core.Pages.UploadDocuments.UploadDocuments refUploadDocuments { get; set; }
    EditContext _editContext;
    [Parameter]
    public long? DynamicFormItemids { get; set; }
    [Parameter]
    public DynamicFormItem DynamicFormItemList { get; set; }
    private List<DynamicForm> _dynamicForm;
    private List<DynamicFormData>? _dynamicFormData;
    string Text { get; set; } = "";
    IGrid? FormItemLineGrid { get; set; }
    private List<DynamicFormItemLine>? _dynamicFormItemLine;
    bool PanelVisible { get; set; }
    bool DeleteEnabled { get; set; } = false;
    bool CancelEnabled { get; set; } = false;
    private DynamicFormItemLine _selectedItems;
    bool EditEnabled { get; set; } = false;
    bool AddEnabled { get; set; } = false;
    public ApplicationUser? applicationUser { get; private set; }
    DynamicFormItemLine Data = new DynamicFormItemLine();
    bool Blukdeletepopup { get; set; } = false;
    public long? DynamicFormId { get; set; }
    private DropDownOptionsGridListModel dropDownOptionsGridListModel { get; set; }
    private List<ExpandoObject?> _dynamicformObjectDataList { get; set; }
    bool AttachmentPopUp { get; set; } = false;
    bool AttachmentEnabled { get; set; } = false;
    DynamicFormItemLineItem SingleObject = new DynamicFormItemLineItem();
    private List<DropDownBoxGridModel> _DropDownBoxGridModel = new List<DropDownBoxGridModel>();
    protected override async Task OnInitializedAsync()
    {
        _editContext = new EditContext(Data);
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _dynamicForm = await Mediator.Send(new GetAllDynamicFormDropdownListQuery());
        _dynamicFormItemLine = new List<DynamicFormItemLine>();
        await UpdateDataAsync();
        StateHasChanged();
    }
    public async Task loadData(long? dynamicFormItemids)
    {
        DynamicFormItemids = dynamicFormItemids;
        await UpdateDataAsync();
    }
    public async Task UpdateDataAsync()
    {
        try
        {
            PanelVisible = true; AddEnabled = false; EditEnabled = false; DeleteEnabled = false; _dynamicFormItemLine = new List<DynamicFormItemLine>(); AttachmentEnabled = false;
            if (DynamicFormItemids > 0)
            {
                AddEnabled = true;
                _dynamicFormItemLine = await Mediator.Send(new GetAllDynamicItemFormLineList((long)DynamicFormItemids));
                if (_dynamicFormItemLine != null && _dynamicFormItemLine.Count > 0)
                {
                    PanelVisible = true;
                    _selectedItems = _dynamicFormItemLine.FirstOrDefault();

                    if (_dynamicFormItemLine != null)
                    {
                        EditEnabled = true; AttachmentEnabled = true;
                        DeleteEnabled = true;
                        StateHasChanged();
                    }
                }
            }
            PanelVisible = false;
            StateHasChanged();
        }
        catch (Exception ex)
        {

        }
    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "DynamicFormItemLineID");
        _selectedItems = _dynamicFormItemLine.FirstOrDefault(f => f.DynamicFormItemLineID == (long?)UniqueId);
        EditEnabled = true; AttachmentEnabled = true;
        DeleteEnabled = true;

        StateHasChanged();
    }
    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        var navitems = (DynamicFormItemLine)e.EditModel;
        // _dynamicformObjectDataList = new List<ExpandoObject>();
        if (e.IsNew)
        {
            _dynamicformObjectDataList = new List<ExpandoObject>();
            dropDownOptionsGridListModel = new DropDownOptionsGridListModel();
            SingleObject = new DynamicFormItemLineItem();
        }
        else
        {

        }
    }
    void OnDeleteDataItem(GridDataItemDeletingEventArgs e)
    {

        var editModel = (DynamicFormItemLine)e.DataItem;

    }
    async Task OnEditModelSaving(GridEditModelSavingEventArgs e)
    {

        var editModel = (DynamicFormItemLine)e.EditModel;

        if (e.IsNew)
        {
            var createReq = new CreateDynamicFormItemLine
                {

                    DynamicFormItemID = DynamicFormItemids,
                    Qty = editModel.Qty,
                    ItemDynamicFormTypeID = editModel.ItemDynamicFormTypeID,
                    ItemDynamicFormDataID = editModel.ItemDynamicFormDataID,
                    Description = editModel.Description,
                    StatusCodeID = 1,
                    AddedByUserID = applicationUser.UserID,
                    ModifiedByUserID = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    SessionId = Guid.NewGuid(),

                };


            var result = await Mediator.Send(createReq);
            toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();
        }

        else
        {
            var UpdateReq = new EditDynamicFormItemLine
                {
                    DynamicFormItemLineID = editModel.DynamicFormItemLineID,
                    DynamicFormItemID = DynamicFormItemids,
                    Qty = editModel.Qty,
                    ItemDynamicFormTypeID = editModel.ItemDynamicFormTypeID,
                    ItemDynamicFormDataID = editModel.ItemDynamicFormDataID,
                    Description = editModel.Description,
                    StatusCodeID = 1,
                    AddedByUserID = applicationUser.UserID,
                    ModifiedByUserID = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    SessionId = editModel.SessionId,

                };

            var ans = await Mediator.Send(UpdateReq);
            toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();
        }
    }
    async Task bulkDelete(DynamicFormItemLine DynamicFormItemLine)
    {
        try
        {
            //    var editablePlant = (ViewPlants)e.DataItem;
            var request = new DeleteDynamicFormItemLine(DynamicFormItemLine.DynamicFormItemLineID);
            await Mediator.Send(request);
            Blukdeletepopup = false;
            toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();
            FormItemLineGrid.SetFocusedRowIndex(0);

        }
        catch (Exception eq)
        {
            //DeleteerrorMessage = eq.Message;
            //PopupVisible = true;
            Blukdeletepopup = false;
            toastService.ShowToast("The Selected Record Do not deleted", AC.SD.Core.Services.ToastLevel.Error);
        }

    }

    void addDelete()
    {
        Blukdeletepopup = true;
    }

    public void addNew()
    {

        FormItemLineGrid.StartEditNewRowAsync();

    }
    async Task addEdit()
    {
        await OnRadioChangedItems(_selectedItems.ItemDynamicFormTypeID);
        await FormItemLineGrid.StartEditDataItemAsync(_selectedItems);
        StateHasChanged();
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {

        Blukdeletepopup = false;

    }
    async Task OnRadioChangedItems(long? itemDynamicFormTypeID)
    {
        _dynamicformObjectDataList = new List<ExpandoObject>();
        _dynamicFormData = new List<DynamicFormData>();
        dropDownOptionsGridListModel = new DropDownOptionsGridListModel();
        SingleObject = new DynamicFormItemLineItem();
        if (itemDynamicFormTypeID > 0)
        {
            List<long?> dynamicFormIds = new List<long?>();
            dynamicFormIds.Add(itemDynamicFormTypeID);
            var list = await Mediator.Send(new GetDynamicFormItemLineDropdoenList(dynamicFormIds, applicationUser.UserID));
            if (DynamicFormItemList != null)
            {
                foreach (var v in (list.ObjectData as IEnumerable<ExpandoObject>))
                {
                    long? v1 = null; long? v2 = null; long? v3 = null;
                    foreach (var item in (dynamic)v)
                    {
                        if (item.Key == "136_AppMasterPar")
                        {
                            v1 = (long?)item.Value;
                        }
                        if (item.Key == "137_AppMasterPar")
                        {
                            v2 = (long?)item.Value;
                        }
                        if (item.Key == "138_AppMasterPar")
                        {
                            v3 = (long?)item.Value;
                        }
                    }
                    if (DynamicFormItemList.StockGroupAppParentID == v1 && DynamicFormItemList.DepartmentAppParentID == v2 && DynamicFormItemList.ItemGroupAppParentID == v3)
                    {
                        _dynamicformObjectDataList.Add(v);
                    }
                }
            }

            _dynamicFormData = list.DynamicFormListData;
            dropDownOptionsGridListModel = list;
        }
        StateHasChanged();
    }
    async Task OnRadioChangedItem(long? str, PropertyInfo property)
    {
        property.SetValue(Data, str);
        Data.ItemDynamicFormDataID = null;
        _dynamicformObjectDataList = new List<ExpandoObject>();
        _dynamicFormData = new List<DynamicFormData>();
        dropDownOptionsGridListModel = new DropDownOptionsGridListModel();
        SingleObject = new DynamicFormItemLineItem();
        if (str > 0)
        {
            await OnRadioChangedItems(str);
        }
        StateHasChanged();
    }
    void addAttachment()
    {
        AttachmentPopUp = true;
    }
    void CloseAttachmentPopup()
    {
        InvokeAsync(UpdateDataAsync);
        AttachmentPopUp = false;
        StateHasChanged();
    }
    public void clearData()
    {
        refUploadDocuments?.DisposeAsync();
        _dynamicForm?.Clear();
        _dynamicFormData?.Clear();
        _dynamicFormItemLine?.Clear();
        _selectedItems = null;
        Data = new DynamicFormItemLine();
        dropDownOptionsGridListModel = null;
        _dynamicformObjectDataList = null;
        _selectedItems = null;
    }
    string? QueryDisplayDynamicComboBoxText(DropDownBoxQueryDisplayTextContext arg)
    {
        string? returnData = string.Empty;
        if (arg.Value is ExpandoObject value)
        {
            if (value != null)
            {
                dynamic eod = value;
                returnData = (string)eod.DisplayItemsQuery;
            }
        }
        return returnData.TrimEnd(',');
    }
    void OnGridValueChanged(object? newValue, string AttrName, object Data, object DataGridObject)
    {
        long? Id = null;

        if (newValue is ExpandoObject value)
        {
            if (value != null)
            {
                dynamic eod = value;
                Id = (long?)eod.AttributeDetailID;
            }
        }

        Data.GetType().GetProperty(AttrName).SetValue(Data, Id);
        DataGridObject.GetType().GetProperty(AttrName).SetValue(DataGridObject, newValue);
    }
    public async ValueTask DisposeAsync()
    {
        // System.GC.Collect();
        clearData();
        // GC.SuppressFinalize(this);
    }
    public RenderFragment CreateEditFormFields() => formLayoutBuilder =>
    {
        int i = 0;
        var propertyList = Data.GetType().GetProperties();
        formLayoutBuilder.OpenComponent<DxFormLayout>(i);

        formLayoutBuilder.AddAttribute(i + 1, "ChildContent", (RenderFragment)((layoutItemBuilder) =>
        {
            layoutItemBuilder.OpenComponent<DxFormLayoutGroup>(i + 1);
            layoutItemBuilder.AddAttribute(i + 1, "ExpandButtonDisplayMode", GroupExpandButtonDisplayMode.Start);
            layoutItemBuilder.AddAttribute(i + 1, "Expanded", true);
            layoutItemBuilder.AddAttribute(i + 1, "AnimationType", LayoutAnimationType.None);
            layoutItemBuilder.AddAttribute(i + 1, "Visible", true);
            layoutItemBuilder.AddAttribute(i + 1, "HeaderContentTemplate", (RenderFragment<IFormLayoutGroupInfo>)((context) => (b) =>
            {
                b.OpenElement(i + 1, "div");
                b.AddContent(i + 1, "Inventory");
                b.CloseElement();
                b.OpenElement(i + 1, "div");
                b.AddAttribute(i + 1, "style", "margin-left:auto;");
                b.CloseElement();
            }));
            layoutItemBuilder.AddAttribute(i + 1, "Items", (RenderFragment)((itemBuilder) =>
            {
                if (propertyList != null && propertyList.Count() > 0)
                {
                    propertyList.ToList().ForEach(s =>
                    {
                        var valueData = s.GetValue(Data);
                        var propertyType = Nullable.GetUnderlyingType(s.PropertyType) ?? s.PropertyType;
                        var access = Expression.Property(Expression.Constant(Data), s.Name);
                        var lambda = Expression.Lambda(typeof(Func<>).MakeGenericType(s.PropertyType), access);

                        if (s.Name == "ItemDynamicFormTypeID")
                        {
                            itemBuilder.OpenComponent<DxFormLayoutItem>(1);
                            itemBuilder.AddAttribute(i++, "ColSpanMd", 6);
                            var j = 0;

                            itemBuilder.AddAttribute(i++, "Template", (RenderFragment<Object>)((context) => ((editor) =>
                            {
                                editor.OpenElement(i + 1, "div");
                                editor.AddAttribute(i + 1, "style", "padding:2px;font-weight:400;color:rgba(33, 37, 41, 0.75);");
                                editor.AddContent(i + 1, "ItemDynamicForm Type");
                                editor.CloseElement();
                                editor.OpenComponent<DxComboBox<DynamicForm, long?>>(j + 1);
                                editor.AddAttribute(j + 1, "Data", _dynamicForm);
                                // editor.AddAttribute(j + 1, "EditFormat", "{0}|{1}");
                                editor.AddAttribute(j + 1, "TextFieldName", "Name");
                                editor.AddAttribute(j + 1, "ValueFieldName", "ID");
                                editor.AddAttribute(j + 1, "NullText", "Select ItemDynamicForm Type..");
                                editor.AddAttribute(j + 1, "ListRenderMode", ListRenderMode.Virtual);
                                editor.AddAttribute(j + 1, "SearchMode", ListSearchMode.AutoSearch);
                                editor.AddAttribute(j + 1, "SearchFilterCondition", ListSearchFilterCondition.Contains);
                                editor.AddAttribute(j + 1, "ClearButtonDisplayMode", DataEditorClearButtonDisplayMode.Auto);
                                editor.AddAttribute(j + 1, "Value", valueData);
                                editor.AddAttribute(j + 1, "Enabled", true);
                                editor.AddAttribute(j + 1, "ValueExpression", lambda);
                                editor.AddAttribute(j + 1, "ValueChanged", EventCallback.Factory.Create<long?>(this, (str) => OnRadioChangedItem(str, s)));
                                // editor.AddAttribute(j + 1, "ValueChanged", EventCallback.Factory.Create<long?>(this, str => { s.SetValue(Data, str); }));
                                editor.CloseComponent();
                            })));
                            itemBuilder.CloseComponent();
                        }
                        if (s.Name == "ItemDynamicFormDataID")
                        {
                            var GridDropBoxData = _DropDownBoxGridModel.FirstOrDefault(f => f.AttrName == s.Name);
                            var access1 = Expression.Property(Expression.Constant(SingleObject), s.Name);
                            var Gridlambda = Expression.Lambda(typeof(Func<>).MakeGenericType(typeof(object)), access1);
                            var propertyDependency = SingleObject.GetType().GetProperty(s.Name);
                            var GridvalueData = propertyDependency.GetValue(SingleObject);
                            itemBuilder.OpenComponent<DxFormLayoutItem>(1);
                            itemBuilder.AddAttribute(i++, "ColSpanMd", 12);
                            List<ExpandoObject>? collection = new List<ExpandoObject>();
                            List<DropDownOptionsModel?> gridlistss = new List<DropDownOptionsModel?>();
                           // if (Data.DynamicFormItemLineID > 0)
                           // {
                                gridlistss = dropDownOptionsGridListModel != null ? dropDownOptionsGridListModel.DropDownGridOptionsModel.FirstOrDefault()?.DropDownOptionsModels : new List<DropDownOptionsModel>();
                                // var collection = dropDownOptionsGridListModel?.ObjectData;
                                collection = _dynamicformObjectDataList;
                           // }
                             List<ExpandoObject>? _dynamicformObjectDataLists = new List<ExpandoObject>();
                            if (collection != null)
                            {
                                foreach (var v in (collection as IEnumerable<ExpandoObject>))
                                {
                                    dynamic eod = v;
                                    var vv = eod.DynamicFormId;
                                    var AttributeDetailIds = eod.AttributeDetailID;
                                    string listone = string.Empty;
                                    if (gridlistss != null && gridlistss.Count() > 0)
                                    {
                                        var g1 = gridlistss.OrderBy(o => o.OrderBy).ToList();
                                        g1.ForEach(q =>
                                    {
                                        var byName = (IDictionary<string, object>)v;
                                        var names = (string)byName[q.Value]?.ToString();
                                        listone += names + "|";
                                    });
                                    }
                                    eod.DisplayItemsQuery = listone;
                                    // if ((long?)vv == s.DynamicFormGridDropDownId)
                                    // {
                                    _dynamicformObjectDataLists.Add(eod);
                                    //  }
                                    if ((long?)valueData > 0)
                                    {
                                        if ((long?)valueData == (long?)AttributeDetailIds)
                                        {
                                            SingleObject.GetType().GetProperty(s.Name).SetValue(SingleObject, eod);
                                        }
                                    }
                                }

                            }
                            var j = 0;
                            itemBuilder.AddAttribute(i++, "Template", (RenderFragment<Object>)((context) => ((editor) =>
                            {
                                editor.OpenElement(i + 1, "div");
                                editor.AddAttribute(i + 1, "style", "padding:2px;font-weight:400;color:rgba(33, 37, 41, 0.75);");
                                editor.AddContent(i + 1, "ItemDynamicForm Data");
                                editor.CloseElement();
                                editor.OpenComponent<DxDropDownBox>(0);
                                editor.AddAttribute(1, "DropDownWidthMode", DropDownWidthMode.EditorWidth);
                                editor.AddAttribute(2, "NullText", "Select ItemDynamicForm Data..");
                                editor.AddAttribute(3, "ClearButtonDisplayMode", DataEditorClearButtonDisplayMode.Auto);
                                editor.AddAttribute(4, "QueryDisplayText", QueryDisplayDynamicComboBoxText);
                                editor.AddAttribute(5, "CssClass", "cw-480");
                                editor.AddAttribute(6, "Value", GridvalueData);
                                editor.AddAttribute(9, "DropDownVisible", false);
                                editor.AddAttribute(10, "ValueExpression", Gridlambda);
                                editor.AddAttribute(11, "ValueChanged", EventCallback.Factory.Create<object>(this, str => OnGridValueChanged(str, s.Name, Data, SingleObject)));
                                _LoadDataGridDynamicForm.CreateDropDownBodyTemplateGrid(editor, _DropDownBoxGridModel, GridDropBoxData, "DynamicGrid", s.Name, gridlistss, _dynamicformObjectDataLists, new List<AttributeDetails>(), false);
                                editor.CloseComponent();
                                //  editor.OpenComponent<DxComboBox<ExpandoObject, long?>>(j + 1);
                                //  editor.AddAttribute(j + 1, "Data", collection);

                                //  editor.AddAttribute(j + 1, "TextFieldName", "AttributeDetailName");
                                //  editor.AddAttribute(j + 1, "ValueFieldName", "AttributeDetailID");
                                //  editor.AddAttribute(j + 1, "NullText", "Select ItemDynamicForm Data..");
                                //  editor.AddAttribute(j + 1, "ListRenderMode", ListRenderMode.Virtual);
                                //  editor.AddAttribute(j + 1, "SearchMode", ListSearchMode.AutoSearch);
                                //  editor.AddAttribute(j + 1, "SearchFilterCondition", ListSearchFilterCondition.Contains);
                                //  editor.AddAttribute(j + 1, "ClearButtonDisplayMode", DataEditorClearButtonDisplayMode.Auto);
                                //  editor.AddAttribute(j + 1, "Value", valueData);
                                //  editor.AddAttribute(j + 1, "Enabled", true);
                                //  editor.AddAttribute(j + 1, "ValueExpression", lambda);
                                //  editor.AddAttribute(j + 1, "ValueChanged", EventCallback.Factory.Create<long?>(this, str => { s.SetValue(Data, str); }));
                                //  if (gridlistss != null)
                                //  {
                                //      var gridEditCount = gridlistss.Count();
                                //      var editFormat = "{0}";
                                //      for (int e = 0; e < gridEditCount; e++)
                                //      {
                                //          if (e == 0)
                                //          {
                                //              editFormat = string.Empty;
                                //          }
                                //          editFormat += "{" + "" + e + "" + "}|";
                                //      }
                                //      editFormat = editFormat.Trim();
                                //      if (editFormat.EndsWith("|"))
                                //      {
                                //          editFormat = editFormat.Remove(editFormat.Length - 1);
                                //      }
                                //      editor.AddAttribute(j + 1, "EditFormat", editFormat);
                                //  }
                                //  editor.AddAttribute(j + 1, "ChildContent", (RenderFragment)((layoutItemBuilders) =>
                                // {

                                //     if (gridlistss != null)
                                //     {
                                //         var qCount = 0;
                                //         gridlistss.ForEach(q =>
                                //         {
                                //             layoutItemBuilders.OpenComponent<DxListEditorColumn>(qCount);
                                //             layoutItemBuilders.AddAttribute(qCount, "FieldName", q.Value);
                                //             layoutItemBuilders.AddAttribute(qCount, "Caption", q.Text);
                                //             layoutItemBuilders.CloseComponent();
                                //             qCount++;
                                //         });
                                //     }


                                // }));
                                //  editor.CloseComponent();
                            })));
                            itemBuilder.CloseComponent();
                            itemBuilder.OpenElement(i++, "div");
                            itemBuilder.AddAttribute(i++, "class", "text-danger");
                            itemBuilder.OpenComponent(i++, typeof(ValidationMessage<>).MakeGenericType(s.PropertyType));
                            itemBuilder.AddAttribute(i++, "For", lambda);
                            itemBuilder.CloseComponent();
                            itemBuilder.CloseElement();
                        }
                        if (s.Name == "Qty")
                        {
                            itemBuilder.OpenComponent<DxFormLayoutItem>(1);
                            itemBuilder.AddAttribute(i++, "ColSpanMd", 6);
                            var j = 0;
                            itemBuilder.AddAttribute(i++, "Template", (RenderFragment<Object>)((context) => ((editor) =>
                            {
                                editor.OpenElement(i + 1, "div");
                                editor.AddAttribute(i + 1, "style", "padding:2px;font-weight:400;color:rgba(33, 37, 41, 0.75);");
                                editor.AddContent(i + 1, "Qty");
                                editor.CloseElement();
                                editor.OpenComponent<DxSpinEdit<decimal?>>(j + 1);
                                editor.AddAttribute(j + 1, "Value", valueData);
                                editor.AddAttribute(j + 1, "ValueExpression", lambda);
                                editor.AddAttribute(j + 1, "Enabled", true);
                                editor.AddAttribute(j + 1, "ClearButtonDisplayMode", DataEditorClearButtonDisplayMode.Auto);
                                editor.AddAttribute(j + 1, "ValueChanged", EventCallback.Factory.Create<decimal?>(this, str => { s.SetValue(Data, str); }));
                                editor.CloseComponent();

                            })));
                            itemBuilder.CloseComponent();
                        }
                    });
                }
            }));
            layoutItemBuilder.CloseComponent();
        }));
        formLayoutBuilder.CloseComponent();
    };
}
