@page "/DynamicFormWorkFlowList"
@page "/DynamicFormWorkFlowList/{SessionId:guid}"
@using global::Core.Entities.Views;

@inject IMediator Mediator
@using Application.Queries;
@using MediatR
@using global::Core.Entities;
@using global::Core.EntityModels;
@using global::Core.Repositories.Query;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager

@implements IDisposable


<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Form" IconCssClass="fa fa-wpforms" Click="@OpenNewForm" Enabled="@EditEnabled" />
                <DxMenuItem Text="Email" IconCssClass="fa fa-envelope" Click="@addDetailEmailCreate" Enabled="@emailEnabled" />
            </Items>
        </DxMenu>
    </div>
</div>
<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">
    <DxGrid @ref="Grid" Data="@_dynamicForm" EditMode="GridEditMode.EditForm" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            style="height: calc(100vh - 220px);"
            CssClass="ch-360"
            FocusedRowEnabled="true"
            KeyFieldName="DynamicFormDataId"
            AllowSelectRowByClick="true"
            RowClick="OnRowclick"
            CustomizeElement="Grid_CustomizeElement"
            AutoExpandAllGroupRows="true"
            SelectionMode="GridSelectionMode.Multiple"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            RowDoubleClick="OnRowDoubleClick">

        <Columns>
            <DxGridDataColumn FieldName="ProfileNo" MinWidth="50" Caption="Profile No" />
            <DxGridDataColumn FieldName="Name" Caption="Form Name" MinWidth="50" />
            <DxGridDataColumn FieldName="IsDynamicFormDataGrid" MinWidth="20" Caption="Is Grid" />
            <DxGridDataColumn FieldName="StatusName" Caption="Status" MinWidth="50" />
            <DxGridDataColumn FieldName="SectionName" Caption="Section" MinWidth="50" />
            <DxGridDataColumn FieldName="UserNames" Caption="Release Users" MinWidth="50" />
        </Columns>
    </DxGrid>
</DxLoadingPanel>
<DxPopup @bind-Visible="@createEmailpopup"
         ShowFooter="true"
         HeaderText="Create Email"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Are you sure create Email?
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="createEmailYes" />

    </FooterContentTemplate>
</DxPopup>

@code {
    [Parameter]
    public Guid? SessionId { get; set; }
    bool createEmailpopup { get; set; } = false;
    bool emailEnabled { get; set; } = false;
    IGrid Grid { get; set; }
    bool PanelVisible { get; set; }
    private List<DynamicFormDataWrokFlow> _dynamicForm;
    public ApplicationUser? applicationUser { get; private set; }
    private DynamicFormDataWrokFlow _selectedItems;
    bool EditEnabled { get; set; } = false;
    bool DeleteEnabled { get; set; } = false;
    bool Blukdeletepopup { get; set; } = false;
    protected override async Task OnInitializedAsync()
    {

        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        await UpdateDataAsync();
    }
    async Task UpdateDataAsync()
    {
        EditEnabled = false; DeleteEnabled = false; emailEnabled = false;
        _dynamicForm = await Mediator.Send(new GetDynamicFormWorkFlowListByUser(applicationUser.UserID));
        PanelVisible = true;
        if (_dynamicForm != null && _dynamicForm.Count > 0)
        {
            EditEnabled = true; DeleteEnabled = true; emailEnabled = true;
            if (SessionId != null)
            {
                var items = _dynamicForm.Where(f => f.SessionID == SessionId).ToList();
                if (items != null && items.Count > 0)
                {
                    _dynamicForm = items;
                    _selectedItems = items.FirstOrDefault();
                    Grid.SetFocusedRowIndex(0);
                }
                else
                {
                    _selectedItems = _dynamicForm.FirstOrDefault();
                    Grid.SetFocusedRowIndex(0);
                }
            }
            else
            {
                _selectedItems = _dynamicForm.FirstOrDefault();
                Grid.SetFocusedRowIndex(0);
            }

        }
        PanelVisible = false;
        StateHasChanged();
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
    }
    void OnRowclick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "DynamicFormDataId");
        _selectedItems = _dynamicForm.FirstOrDefault(f => f.DynamicFormDataId == (long?)UniqueId);
        EditEnabled = true;
        DeleteEnabled = true; emailEnabled = true;
    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowclick(e);
        NavigationManager.NavigateTo("DynamicFormWorkFlowList/dynamicForms/" + _selectedItems.DynamicFormSessionID + "/" + _selectedItems.SessionID);
    }
    void OpenNewForm()
    {
        if (_selectedItems != null)
        {
            NavigationManager.NavigateTo("DynamicFormWorkFlowList/dynamicForms/" + _selectedItems.DynamicFormSessionID + "/" + _selectedItems.SessionID);
        }
    }

    async Task addDetailEmailCreate()
    {
        if (_selectedItems != null)
        {
            if (_selectedItems.IsDraft == null)
            {
                createEmailpopup = true;
            }
            if (_selectedItems.IsDraft == true)
            {
                var url = NavigationManager.BaseUri + "EmailDrafts";
                await JSRuntime.InvokeVoidAsync("window.open", url, "_blank");
            }
            if (_selectedItems.IsDraft == false)
            {
                var url = NavigationManager.BaseUri + "ViewEmail/" + _selectedItems.EmailTopicSessionId;
                await JSRuntime.InvokeVoidAsync("window.open", url, "_blank");
            }
        }
    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        createEmailpopup = false;
    }
    async Task createEmailYes()
    {
        string str = NavigationManager.Uri;
        string rep1 = str.Replace(NavigationManager.BaseUri, "").ToLower();
        string backurl = "/" + rep1 + "/" + _selectedItems.SessionID;
        if (_selectedItems != null)
        {
            var insertData = new DynamicFormData
                {
                    AddedByUserID = applicationUser.UserID,
                    ModifiedByUserID = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    ModifiedDate = DateTime.Now,
                    SessionId = _selectedItems.SessionID,
                    ProfileNo = _selectedItems.ProfileNo,
                    StatusCodeID = 1,
                    DynamicFormDataId = _selectedItems.DynamicFormDataId,
                    BackUrl = backurl
                };
            var response = await Mediator.Send(new InsertCreateEmailFormData(insertData));
            if (response.DynamicFormDataId > 0)
            {
                toastService.ShowToast("Email created successfully.", AC.SD.Core.Services.ToastLevel.Success);
                createEmailpopup = false;
                var url = NavigationManager.BaseUri + "CreateEmail/" + _selectedItems.SessionID;
                await JSRuntime.InvokeVoidAsync("window.open", url, "_blank");
                await UpdateDataAsync();
            }
        }
        StateHasChanged();
    }
    public void Dispose()
    {
        System.GC.Collect();
        GC.SuppressFinalize(this);
    }
}
