@page "/dynamicMainForm"
@using Syncfusion.Blazor.Schedule
@using ScheduleView = Syncfusion.Blazor.Schedule.View;
<div class="control-section">
    <SfSchedule TValue="ResourceData" Width="100%" Height="80vh" @bind-SelectedDate="@CurrentDate" @bind-CurrentView="@CurrentView" EnableAutoRowHeight="true">
        <ScheduleGroup Resources="@_groupData"></ScheduleGroup>
        <ScheduleResources>
            <ScheduleResource TItem="ResourceData" TValue="int" DataSource="@ProjectData" Field="ProjectId" Title="Choose Project" Name="Projects" TextField="Text" IdField="Id" ColorField="Color"></ScheduleResource>
            <ScheduleResource TItem="ResourceData" TValue="int[]" DataSource="@TaskData" Field="TaskId" Title="Category" Name="Categories" TextField="Text" IdField="Id" GroupIDField="GroupId" ColorField="Color" AllowMultiple="true"></ScheduleResource>
        </ScheduleResources>
        <ScheduleViews>
            <ScheduleView Option="View.TimelineDay"></ScheduleView>
            <ScheduleView Option="View.TimelineWeek"></ScheduleView>
            <ScheduleView Option="View.TimelineWorkWeek"></ScheduleView>
            <ScheduleView Option="View.TimelineMonth"></ScheduleView>
            <ScheduleView Option="View.Agenda"></ScheduleView>
        </ScheduleViews>
        <ScheduleEventSettings DataSource="@EventDataSource" AllowAdding="false" AllowDeleting="false" AllowEditing="false"></ScheduleEventSettings>
    </SfSchedule>
</div>
@code {
    private ScheduleView CurrentView { get; set; } = ScheduleView.TimelineWeek;
    private DateTime CurrentDate { get; set; } = new DateTime(DateTime.Today.Year, 1, 10);
    private List<ResourceData> EventDataSource = new ScheduleData().GetResourceData();
    private string[] _groupData = new string[] { "Projects", "Categories" };
    private List<ResourceData> ProjectData { get; set; } = new List<ResourceData>
    {
        new ResourceData { Text = "PROJECT 1", Id = 1, Color = "#cb6bb2" },
        new ResourceData { Text = "PROJECT 2", Id = 2, Color = "#56ca85" },
        new ResourceData { Text = "PROJECT 3", Id = 3, Color = "#df5286" }
    };
    private List<ResourceData> TaskData { get; set; } = new List<ResourceData>
    {
        new ResourceData { Text = "Nancy", Id = 1, GroupId = 1, Color = "#df5286" },
        new ResourceData { Text = "Steven", Id = 2, GroupId = 1, Color = "#7fa900" },
        new ResourceData { Text = "Robert", Id = 3, GroupId = 2, Color = "#ea7a57" },
        new ResourceData { Text = "Smith", Id = 4, GroupId = 2, Color = "#5978ee" },
        new ResourceData { Text = "Michael", Id = 5, GroupId = 3, Color = "#df5286" },
        new ResourceData { Text = "Root", Id = 6, GroupId = 3, Color = "#00bdae" }
    };
    public class ResourceData : AppointmentData
    {
        public string Text { get; set; }
        public int Id { get; set; }
        public int GroupId { get; set; }
        public string Color { get; set; }
        public int ProjectId { get; set; }
        public int TaskId { get; set; }
    }
    public class AppointmentData
    {
        public int Id { get; set; }
        public string Subject { get; set; }
        public string Location { get; set; }
        public string Description { get; set; }
        public DateTime StartTime { get; set; }
        public DateTime EndTime { get; set; }
        public Nullable<bool> IsAllDay { get; set; }
        public string CategoryColor { get; set; }
        public string RecurrenceRule { get; set; }
        public Nullable<int> RecurrenceID { get; set; }
        public Nullable<int> FollowingID { get; set; }
        public string RecurrenceException { get; set; }
        public string StartTimezone { get; set; }
        public string EndTimezone { get; set; }
    }
    public class ScheduleData
    {
        private int CurrentYear = DateTime.Now.Year;
        public List<ResourceData> GetResourceData()
        {
            List<ResourceData> resourceData = new List<ResourceData>();
            resourceData.Add(new ResourceData
            {
                Id = 1,
                Subject = "Workflow Analysis",
                StartTime = new DateTime(CurrentYear, 1, 5, 9, 30, 0),
                EndTime = new DateTime(CurrentYear, 1, 5, 12, 0, 0),
                IsAllDay = false,
                ProjectId = 1,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 2,
                Subject = "Requirement planning",
                StartTime = new DateTime(CurrentYear, 1, 5, 12, 30, 0),
                EndTime = new DateTime(CurrentYear, 1, 5, 14, 45, 0),
                IsAllDay = false,
                ProjectId = 1,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 3,
                Subject = "Quality Analysis",
                StartTime = new DateTime(CurrentYear, 1, 6, 10, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 6, 12, 30, 0),
                IsAllDay = false,
                ProjectId = 1,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 4,
                Subject = "Resource planning",
                StartTime = new DateTime(CurrentYear, 1, 6, 13, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 6, 15, 30, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 5,
                Subject = "Timeline estimation",
                StartTime = new DateTime(CurrentYear, 1, 7, 9, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 7, 11, 30, 0),
                IsAllDay = false,
                ProjectId = 1,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 6,
                Subject = "Developers Meeting",
                StartTime = new DateTime(CurrentYear, 1, 7, 14, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 7, 16, 45, 0),
                IsAllDay = false,
                ProjectId = 1,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 7,
                Subject = "Project Review",
                StartTime = new DateTime(CurrentYear, 1, 10, 11, 15, 0),
                EndTime = new DateTime(CurrentYear, 1, 10, 13, 0, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 8,
                Subject = "Manual testing",
                StartTime = new DateTime(CurrentYear, 1, 10, 9, 15, 0),
                EndTime = new DateTime(CurrentYear, 1, 10, 11, 45, 0),
                IsAllDay = false,
                ProjectId = 1,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 9,
                Subject = "Project Preview",
                StartTime = new DateTime(CurrentYear, 1, 9, 9, 30, 0),
                EndTime = new DateTime(CurrentYear, 1, 9, 12, 45, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 10,
                Subject = "Cross-browser testing",
                StartTime = new DateTime(CurrentYear, 1, 9, 13, 45, 0),
                EndTime = new DateTime(CurrentYear, 1, 9, 16, 30, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 11,
                Subject = "Bug Automation",
                StartTime = new DateTime(CurrentYear, 1, 10, 10, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 10, 12, 15, 0),
                IsAllDay = false,
                ProjectId = 1,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 12,
                Subject = "Functionality testing",
                StartTime = new DateTime(CurrentYear, 1, 10, 9, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 10, 11, 30, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 13,
                Subject = "Resolution-based testing",
                StartTime = new DateTime(CurrentYear, 1, 11, 13, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 11, 15, 15, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 14,
                Subject = "Test report validation",
                StartTime = new DateTime(CurrentYear, 1, 11, 9, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 11, 11, 0, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 15,
                Subject = "Test case correction",
                StartTime = new DateTime(CurrentYear, 1, 12, 9, 45, 0),
                EndTime = new DateTime(CurrentYear, 1, 12, 11, 30, 0),
                IsAllDay = false,
                ProjectId = 1,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 16,
                Subject = "Run test cases",
                StartTime = new DateTime(CurrentYear, 1, 12, 10, 30, 0),
                EndTime = new DateTime(CurrentYear, 1, 12, 13, 0, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 17,
                Subject = "Quality Analysis",
                StartTime = new DateTime(CurrentYear, 1, 13, 12, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 13, 15, 30, 0),
                IsAllDay = false,
                ProjectId = 1,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 18,
                Subject = "Debugging",
                StartTime = new DateTime(CurrentYear, 1, 13, 9, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 13, 11, 15, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 19,
                Subject = "Exception handling",
                StartTime = new DateTime(CurrentYear, 1, 14, 10, 10, 0),
                EndTime = new DateTime(CurrentYear, 1, 14, 13, 30, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 20,
                Subject = "Decoding",
                StartTime = new DateTime(CurrentYear, 1, 14, 10, 30, 0),
                EndTime = new DateTime(CurrentYear, 1, 14, 12, 30, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 21,
                Subject = "Workflow Analysis",
                StartTime = new DateTime(CurrentYear, 1, 15, 9, 30, 0),
                EndTime = new DateTime(CurrentYear, 1, 15, 11, 30, 0),
                IsAllDay = false,
                ProjectId = 1,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 22,
                Subject = "Requirement planning",
                StartTime = new DateTime(CurrentYear, 1, 15, 12, 30, 0),
                EndTime = new DateTime(CurrentYear, 1, 15, 14, 45, 0),
                IsAllDay = false,
                ProjectId = 1,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 23,
                Subject = "Quality Analysis",
                StartTime = new DateTime(CurrentYear, 1, 16, 10, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 16, 12, 30, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 24,
                Subject = "Resource planning",
                StartTime = new DateTime(CurrentYear, 1, 16, 13, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 16, 14, 30, 0),
                IsAllDay = false,
                ProjectId = 1,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 25,
                Subject = "Timeline estimation",
                StartTime = new DateTime(CurrentYear, 1, 17, 9, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 17, 11, 0, 0),
                IsAllDay = false,
                ProjectId = 1,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 26,
                Subject = "Developers Meeting",
                StartTime = new DateTime(CurrentYear, 1, 17, 14, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 17, 15, 45, 0),
                IsAllDay = false,
                ProjectId = 1,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 27,
                Subject = "Project Review",
                StartTime = new DateTime(CurrentYear, 1, 18, 11, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 18, 13, 0, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 28,
                Subject = "Manual testing",
                StartTime = new DateTime(CurrentYear, 1, 18, 9, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 18, 11, 30, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 29,
                Subject = "Project Preview",
                StartTime = new DateTime(CurrentYear, 1, 19, 9, 30, 0),
                EndTime = new DateTime(CurrentYear, 1, 19, 11, 0, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 30,
                Subject = "Cross-browser testing",
                StartTime = new DateTime(CurrentYear, 1, 19, 14, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 19, 16, 30, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 31,
                Subject = "Bug Automation",
                StartTime = new DateTime(CurrentYear, 1, 20, 10, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 20, 11, 0, 0),
                IsAllDay = false,
                ProjectId = 1,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 32,
                Subject = "Functionality testing",
                StartTime = new DateTime(CurrentYear, 1, 20, 9, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 20, 11, 30, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 33,
                Subject = "Resolution-based testing",
                StartTime = new DateTime(CurrentYear, 1, 21, 14, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 21, 15, 0, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 34,
                Subject = "Test report validation",
                StartTime = new DateTime(CurrentYear, 1, 21, 9, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 21, 11, 0, 0),
                IsAllDay = false,
                ProjectId = 1,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 35,
                Subject = "Test case correction",
                StartTime = new DateTime(CurrentYear, 1, 22, 10, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 22, 11, 30, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 36,
                Subject = "Run test cases",
                StartTime = new DateTime(CurrentYear, 1, 22, 10, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 22, 10, 30, 0),
                IsAllDay = false,
                ProjectId = 1,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 37,
                Subject = "Bug fixing",
                StartTime = new DateTime(CurrentYear, 1, 13, 10, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 13, 10, 30, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 38,
                Subject = "Debugging",
                StartTime = new DateTime(CurrentYear, 1, 23, 9, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 23, 10, 30, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 39,
                Subject = "Exception handling",
                StartTime = new DateTime(CurrentYear, 1, 24, 10, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 24, 11, 0, 0),
                IsAllDay = false,
                ProjectId = 1,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 40,
                Subject = "Decoding",
                StartTime = new DateTime(CurrentYear, 1, 24, 10, 30, 0),
                EndTime = new DateTime(CurrentYear, 1, 24, 12, 30, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 41,
                Subject = "Workflow Analysis",
                StartTime = new DateTime(CurrentYear, 1, 25, 9, 30, 0),
                EndTime = new DateTime(CurrentYear, 1, 25, 11, 30, 0),
                IsAllDay = false,
                ProjectId = 1,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 42,
                Subject = "Requirement planning",
                StartTime = new DateTime(CurrentYear, 1, 25, 12, 30, 0),
                EndTime = new DateTime(CurrentYear, 1, 25, 13, 45, 0),
                IsAllDay = false,
                ProjectId = 1,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 43,
                Subject = "Quality Analysis",
                StartTime = new DateTime(CurrentYear, 1, 26, 10, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 26, 11, 30, 0),
                IsAllDay = false,
                ProjectId = 1,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 44,
                Subject = "Resource planning",
                StartTime = new DateTime(CurrentYear, 1, 10, 10, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 10, 12, 30, 0),
                IsAllDay = false,
                ProjectId = 3,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 45,
                Subject = "Timeline estimation",
                StartTime = new DateTime(CurrentYear, 1, 10, 9, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 10, 11, 0, 0),
                IsAllDay = false,
                ProjectId = 3,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 46,
                Subject = "Developers Meeting",
                StartTime = new DateTime(CurrentYear, 1, 10, 14, 30, 0),
                EndTime = new DateTime(CurrentYear, 1, 10, 16, 30, 0),
                IsAllDay = false,
                ProjectId = 3,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 47,
                Subject = "Project Review",
                StartTime = new DateTime(CurrentYear, 1, 10, 14, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 10, 16, 0, 0),
                IsAllDay = false,
                ProjectId = 3,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 48,
                Subject = "Manual testing",
                StartTime = new DateTime(CurrentYear, 1, 10, 17, 30, 0),
                EndTime = new DateTime(CurrentYear, 1, 10, 19, 30, 0),
                IsAllDay = false,
                ProjectId = 3,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 49,
                Subject = "Project Preview",
                StartTime = new DateTime(CurrentYear, 1, 10, 18, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 10, 20, 0, 0),
                IsAllDay = false,
                ProjectId = 3,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 50,
                Subject = "Cross-browser testing",
                StartTime = new DateTime(CurrentYear, 1, 29, 14, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 29, 15, 30, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 51,
                Subject = "Bug Automation",
                StartTime = new DateTime(CurrentYear, 1, 30, 10, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 30, 11, 0, 0),
                IsAllDay = false,
                ProjectId = 1,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 52,
                Subject = "Functionality testing",
                StartTime = new DateTime(CurrentYear, 1, 30, 9, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 30, 11, 30, 0),
                IsAllDay = false,
                ProjectId = 1,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 53,
                Subject = "Resolution-based testing",
                StartTime = new DateTime(CurrentYear, 1, 31, 14, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 31, 15, 0, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 54,
                Subject = "Test report validation",
                StartTime = new DateTime(CurrentYear, 1, 31, 9, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 31, 11, 0, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 55,
                Subject = "Test case correction",
                StartTime = new DateTime(CurrentYear, 2, 1, 10, 0, 0),
                EndTime = new DateTime(CurrentYear, 2, 1, 11, 30, 0),
                IsAllDay = false,
                ProjectId = 1,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 56,
                Subject = "Run test cases",
                StartTime = new DateTime(CurrentYear, 2, 1, 10, 0, 0),
                EndTime = new DateTime(CurrentYear, 2, 1, 10, 30, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 57,
                Subject = "Bug fixing",
                StartTime = new DateTime(CurrentYear, 2, 2, 12, 0, 0),
                EndTime = new DateTime(CurrentYear, 2, 2, 12, 30, 0),
                IsAllDay = false,
                ProjectId = 1,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 58,
                Subject = "Debugging",
                StartTime = new DateTime(CurrentYear, 2, 2, 9, 0, 0),
                EndTime = new DateTime(CurrentYear, 2, 2, 10, 30, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 59,
                Subject = "Exception handling",
                StartTime = new DateTime(CurrentYear, 2, 3, 10, 0, 0),
                EndTime = new DateTime(CurrentYear, 2, 3, 11, 0, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 60,
                Subject = "Decoding",
                StartTime = new DateTime(CurrentYear, 2, 3, 10, 30, 0),
                EndTime = new DateTime(CurrentYear, 2, 3, 12, 30, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 61,
                Subject = "Decoding",
                StartTime = new DateTime(CurrentYear, 1, 10, 9, 30, 0),
                EndTime = new DateTime(CurrentYear, 1, 10, 10, 30, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 62,
                Subject = "Bug Automation",
                StartTime = new DateTime(CurrentYear, 1, 10, 16, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 10, 20, 0, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 63,
                Subject = "Functionality testing",
                StartTime = new DateTime(CurrentYear, 1, 10, 9, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 10, 10, 30, 0),
                IsAllDay = false,
                ProjectId = 1,
                TaskId = 1
            });
            resourceData.Add(new ResourceData
            {
                Id = 64,
                Subject = "Resolution-based testing",
                StartTime = new DateTime(CurrentYear, 1, 10, 12, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 10, 15, 0, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 4
            });
            resourceData.Add(new ResourceData
            {
                Id = 65,
                Subject = "Test report validation",
                StartTime = new DateTime(CurrentYear, 1, 10, 15, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 10, 18, 0, 0),
                IsAllDay = false,
                ProjectId = 3,
                TaskId = 6
            });
            resourceData.Add(new ResourceData
            {
                Id = 66,
                Subject = "Test case correction",
                StartTime = new DateTime(CurrentYear, 1, 10, 14, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 10, 16, 0, 0),
                IsAllDay = false,
                ProjectId = 1,
                TaskId = 2
            });
            resourceData.Add(new ResourceData
            {
                Id = 67,
                Subject = "Bug fixing",
                StartTime = new DateTime(CurrentYear, 1, 10, 14, 30, 0),
                EndTime = new DateTime(CurrentYear, 1, 10, 18, 30, 0),
                IsAllDay = false,
                ProjectId = 3,
                TaskId = 5
            });
            resourceData.Add(new ResourceData
            {
                Id = 68,
                Subject = "Run test cases",
                StartTime = new DateTime(CurrentYear, 1, 10, 18, 30, 0),
                EndTime = new DateTime(CurrentYear, 1, 10, 21, 0, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 4
            });
            resourceData.Add(new ResourceData
            {
                Id = 69,
                Subject = "Bug Automation",
                StartTime = new DateTime(CurrentYear, 1, 10, 16, 0, 0),
                EndTime = new DateTime(CurrentYear, 1, 10, 20, 0, 0),
                IsAllDay = false,
                ProjectId = 2,
                TaskId = 3
            });
            return resourceData;
        }
        public static Dictionary<string, object> ApplyCategoryColor(string CategoryColor, Dictionary<string, object> Attributes, ScheduleView CurrentView)
        {
            Dictionary<string, object> attributes = new Dictionary<string, object>();
            if (CurrentView == ScheduleView.Agenda)
            {
                attributes.Add("style", "border-left-color: " + CategoryColor);
            }
            else
            {
                attributes.Add("style", "background: " + CategoryColor);
            }
            return attributes;
        }
        public class AppointmentData
        {
            public int Id { get; set; }
            public string Subject { get; set; }
            public string Location { get; set; }
            public string Description { get; set; }
            public DateTime StartTime { get; set; }
            public DateTime EndTime { get; set; }
            public Nullable<bool> IsAllDay { get; set; }
            public string CategoryColor { get; set; }
            public string RecurrenceRule { get; set; }
            public Nullable<int> RecurrenceID { get; set; }
            public Nullable<int> FollowingID { get; set; }
            public string RecurrenceException { get; set; }
            public string StartTimezone { get; set; }
            public string EndTimezone { get; set; }
        }
    }
}



