@using System.Dynamic;
@using global::Core.Entities.Views;

@inject IMediator Mediator
@using Application.Queries;
@using MediatR
@using global::Core.Entities;
@using global::Core.EntityModels;
@using global::Core.Repositories.Query;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject IJSRuntime JS;
@inject NavigationManager NavigationManager
@using Newtonsoft.Json.Linq;
@using Newtonsoft.Json;
@implements IAsyncDisposable
@inject ClipboardService ClipboardService
@using System.Collections.ObjectModel
@rendermode @(new  InteractiveServerRenderMode(prerender: false))

<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<style scoped>
    .ui-state-highlight {
        background-color: rgba(var(--bs-primary-rgb), .3);
    }

    .ui-state-hover {
        background: rgba(var(--bs-primary-rgb), .3);
    }

    .ui-draggable-dragging {
        box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
    }

    .dxbl-grid .dxbl-grid-table > tbody > tr[data-visible-index] {
        cursor: pointer;
    }

</style>
<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Auto">
            <Items>
                <DxMenuItem Text="Back" IconCssClass="fa fa-reply" Click="@backUrl" />
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" Enabled="@AddEnabled" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDetailDelete" Enabled="@DeleteEnabled" />
                <DxMenuItem Text="SW Library Doc" IconCssClass="fa fa-file" Click="@addDetailFile" Enabled="@fileEnabled" />
                <DxMenuItem Text="Email" IconCssClass="fa fa-envelope" Click="@addDetailEmailCreate" Enabled="@emailEnabled" />
                <DxMenuItem Text="@LockedName" IconCssClass="@fafaunlock" Click="@OpenLock" Enabled="@isLocked" />
                <DxMenuItem Text="Approval Level Entry" IconCssClass="fa fa-check" Click="@OpenApprovalForm" Enabled="@isApprovalEnabled" />
                @*   <DxMenuItem Text="OData Url" IconCssClass="fa fa-link" Click="@OpenOdataUrl" Enabled="@AddEnabled" /> *@
                <DxMenuItem Text="OData" IconCssClass="fa fa-link">
                    <Items>
                        <DxMenuItem Text="Copy Link" IconCssClass="fa fa-external-link-square" Click="@OpenOneOdataUrl" Enabled="@AddEnabled" />
                        <DxMenuItem Text="Empty Attr List" IconCssClass="fa fa-external-link" Click="@OpenEmptyOdataUrl" Enabled="@AddEnabled" />
                        <DxMenuItem Text="OData Url" IconCssClass="fa fa-external-link" Click="@OpenOdataUrl" Enabled="@AddEnabled" />
                    </Items>
                </DxMenuItem>
                <DxMenuItem Text="Mail Merge" IconCssClass="fa fa-link" Click="@OpenMailMergeUrl" Enabled="@AddEnabled" />
            </Items>
        </DxMenu>
    </div>
</div>
<div class="demo-breadcrumbs-container theme-blazing-berry">
    <div class="breadcrumb">
        <div class="demo-breadcrumbs sidebar-hidden">
            <!--!-->

            <div class="items">
                <a href="javascript:void(0);">@_dynamicForm?.Name</a>
            </div>
        </div>
    </div>
</div>
<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">
    <DxGrid @ref="Grid"
            Data="Items" @key="@myKey"
            EditMode="GridEditMode.EditForm" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
            KeyFieldName="DynamicFormDataId"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            style="height: calc(100vh - 260px);"
            CssClass="w-100"
            PageSize="20"
            FocusedRowEnabled="true"
            AllowSelectRowByClick="true"
            RowClick="OnRowclick"
            CustomizeElement="Grid_CustomizeElement"
            AutoExpandAllGroupRows="true"
            SelectionMode="GridSelectionMode.Multiple"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            VirtualScrollingEnabled="true"
            RowDoubleClick="OnRowDoubleClick">

        <Columns>
            @if (dataColumnNames != null && dataColumnNames.Count() > 0)
            {
                foreach (var s in dataColumnNames)
                {
                    if (s.IsDynamicGrid == true)
                    {
                        <DxGridDataColumn Caption="@s.Text" Visible="@s.IsVisible" MinWidth="40">
                            <CellDisplayTemplate>
                                @{
                                    dynamic item = (ExpandoObject)context.DataItem;
                                }
                                <i class="fa fa-wpforms" aria-hidden="true" style="padding:5px;margin-right: 5px;color:black" onclick="@(() => openFormGridList(s,(ExpandoObject)context.DataItem))"></i>

                            </CellDisplayTemplate>
                        </DxGridDataColumn>
                    }
                    else
                    {
                        if (s.Value == "IsFileprofileTypeDocument")
                        {

                            <DxGridDataColumn Caption="" Visible="@s.IsVisible" MinWidth="40">
                                <CellDisplayTemplate>
                                    @{
                                        dynamic item = (ExpandoObject)context.DataItem;
                                        var items = (int?)item.IsFileprofileTypeDocument;
                                        var isDraft = (bool?)item.IsDraft;
                                        var isLocked = (bool?)item.IsLocked;
                                        var lockedUser = (string?)item.LockedUser;
                                    }
                                    @if (items > 0)
                                    {
                                        <i class="fa fa-paperclip" aria-hidden="true" style="padding:5px;margin-right: 5px;color:black" title="@items"></i>
                                    }
                                    @if (isDraft != null)
                                    {
                                        var emailName = isDraft == true ? "Draft" : "View Email";
                                        <i class="fa fa-envelope" aria-hidden="true" style="padding:5px;margin-right: 5px;color:black" title="@emailName"></i>
                                    }
                                    @if (isLocked == true)
                                    {
                                        <i class="fa fa-lock" aria-hidden="true" style="padding:5px;margin-right: 5px;color:black" title="Locked By:@lockedUser"></i>
                                    }
                                </CellDisplayTemplate>
                            </DxGridDataColumn>
                        }
                        else
                        {
                            if (s.Value == "ModifiedDate")
                            {
                                <DxGridDataColumn FieldName="@s.Value" Caption="@s.Text" MinWidth="180" Visible="@s.IsVisible" SortMode="DevExpress.Blazor.GridColumnSortMode.Custom">
                                    <CellDisplayTemplate>
                                        @{
                                            dynamic item = (ExpandoObject)context.DataItem;
                                            DateTime? items = (DateTime?)item.ModifiedDate;
                                        }
                                        @(items != null ? Application.Common.Helper.Helper.FormatDateTime(items) : null)
                                    </CellDisplayTemplate>
                                </DxGridDataColumn>
                            }
                            else
                            {
                                if (s.ControlType == "DateEdit")
                                {
                                    <DxGridDataColumn FieldName="@s.Value" Caption="@s.Text" MinWidth="180" Visible="@s.IsVisible" SortMode="DevExpress.Blazor.GridColumnSortMode.Custom">
                                        <CellDisplayTemplate>
                                            @{
                                                DateTime? items = null;
                                                dynamic item = (ExpandoObject)context.DataItem;
                                                if (s.Value != null)
                                                {
                                                    var listName = ((IDictionary<String, Object>)item)[s.Value];
                                                    items = (DateTime?)listName;
                                                }
                                            }
                                            @(items != null ? Application.Common.Helper.Helper.FormatDate(items) : null)
                                        </CellDisplayTemplate>
                                    </DxGridDataColumn>
                                }
                                else
                                {
                                    <DxGridDataColumn FieldName="@s.Value" Caption="@s.Text" MinWidth="180" Visible="@s.IsVisible" SortMode="DevExpress.Blazor.GridColumnSortMode.Custom" />
                                }
                            }

                        }
                    }
                }
            }
        </Columns>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="ProfileNo" />
        </TotalSummary>
    </DxGrid>
</DxLoadingPanel>



<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="Delete"
         ShowCloseButton="true"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="((e) => bulkDelete())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@PopupUpload"
         HeaderText="Upload Documents"
         CloseOnOutsideClick="false"
         ShowCloseButton="true"
         ShowFooter="false"
         Closed="EulaPopupClosed"
         Width="1000px">
    <BodyContentTemplate>
        <UploadDoumentDynamicFiles @ref="refUploadDoumentDynamicFiles" _applicationUser="@applicationUser" _dynamicformData="@_selectedItems" FileProfileTypeId="@FileProfileTypeId" RevokeBack="BackUpload"></UploadDoumentDynamicFiles>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@createEmailpopup"
         ShowFooter="true"
         ShowCloseButton="true"
         HeaderText="Create Email"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Are you sure create Email?
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="createEmailYes" />

    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@PopupDynamicFormGridLists"
         HeaderText="Dynamic Form Grid List"
         CloseOnOutsideClick="false"
         ShowCloseButton="true"
         ShowFooter="false"
         Closed="EulaPopupClosed"
         Width="1000px">
    <BodyContentTemplate>
        <AC.SD.Core.Pages.Attribute.DynamicFormGridLists @ref="refDynamicFormGridLists" DynamicFormSectionGridAttributeId="@DynamicFormSectionGridAttributeIds" DynamicFormDataGridId="@DynamicFormDataGridId" IsShow="false" MainSessionId="@MainSessionId" SessionId="@DynamicFormSessionId"></AC.SD.Core.Pages.Attribute.DynamicFormGridLists>
    </BodyContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@lockpopup"
         ShowFooter="true"
         HeaderText="Delete"
         ShowCloseButton="true"
         Closed="EulaPopupLockClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to @LockedName this record?
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="((e) => bulkLock())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@PopupApprovalForm"
         HeaderText="Approval Form"
         CloseOnOutsideClick="false"
         ShowCloseButton="true"
         ShowFooter="false"
         Closed="EulaPopupClosed"
         Width="1000px">
    <BodyContentTemplate>
        <DynamicFormApprovedFormList @ref="refDynamicFormApprovedFormList" _applicationUser="@applicationUser" _dynamicformData="@_selectedItems" RevokeBack="BackApprovalForm"></DynamicFormApprovedFormList>
    </BodyContentTemplate>
</DxPopup>
@code {
    private UploadDoumentDynamicFiles refUploadDoumentDynamicFiles { get; set; }
    private DynamicFormApprovedFormList refDynamicFormApprovedFormList { get; set; }
    private AC.SD.Core.Pages.Attribute.DynamicFormGridLists refDynamicFormGridLists { get; set; }
    private IDisposable? DynamicFormPage5;
    Guid myKey { get; set; } = Guid.NewGuid();
    [Parameter]
    public Guid? SessionId { get; set; }
    [Parameter]
    public Guid? FormSessionId { get; set; }
    IGrid? Grid { get; set; }
    bool PanelVisible { get; set; } = true;
    bool createEmailpopup { get; set; } = false; bool PopupDynamicFormGridLists { get; set; } = false;
    private DynamicForm _dynamicForm; public long? FileProfileTypeId { get; set; }
    private DocumentsModel _documentsDmsData;
    public ApplicationUser? applicationUser { get; private set; }
    private DynamicFormData _selectedItems;
    bool EditEnabled { get; set; } = false; bool PopupUpload { get; set; } = false; bool AddEnabled { get; set; } = false; bool lockpopup { get; set; } = false; bool PopupApprovalForm { get; set; } = false;
    bool DeleteEnabled { get; set; } = false; bool isApprovalEnabled { get; set; } = false;
    bool Blukdeletepopup { get; set; } = false; bool AddOneEnabled { get; set; } = false;
    bool fileEnabled { get; set; } = false; bool emailEnabled { get; set; } = false;
    private List<DynamicFormData> _dynamicformDataList;
    private AttributeHeaderListModel _AttributeHeader;
    private List<DropDownOptionsModel> dataColumnNames = new List<DropDownOptionsModel>();
    private List<object>? _dynamicformObjectDataList = new List<object>();
    private static int colRowNameWidthInPx = 200;
    private static int colDataWidthInPx = 100;
    public List<DynamicFormSectionAttribute> _dynamicFormSectionAttributeList { get; set; }
    private string colDataWidth = $"{colDataWidthInPx}px";
    private string colRowNameWidth = $"{colRowNameWidthInPx}px";
    private List<AttributeDetails>? PlantDependencySubAttributeDetails { get; set; } = new List<AttributeDetails>();
    ObservableCollection<object> Items { get; set; } = new ObservableCollection<object>();
    bool ReInitializeDragging { get; set; }
    DotNetObjectReference<DynamicFormList> DotNetHelper { get; set; }
    IJSObjectReference JsModule { get; set; }
    bool isLocked { get; set; } = false; string? LockedName { get; set; } = "Lock"; string? fafaunlock { get; set; } = "fa fa-lock";
    public Guid? DynamicFormSessionId { get; set; }
    public Guid? MainSessionId { get; set; }
    public long? DynamicFormDataGridId { get; set; }
    public long? DynamicFormSectionGridAttributeIds { get; set; }
    protected override async Task OnInitializedAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
    }


    private ValueTask OnLocationChanging(LocationChangingContext context)
    {
        if (context.TargetLocation == "/counter")
        {
            context.PreventNavigation();
        }

        return ValueTask.CompletedTask;
    }
    public void clearData()
    {
        DynamicFormPage5?.Dispose();
        refUploadDoumentDynamicFiles?.DisposeAsync();
        refDynamicFormApprovedFormList?.DisposeAsync();
        refDynamicFormGridLists?.DisposeAsync();
        _dynamicForm = null;
        _documentsDmsData = null;
        _selectedItems = null;
        _dynamicformDataList?.Clear();
        _AttributeHeader = null;
        dataColumnNames?.Clear();
        _dynamicformObjectDataList?.Clear();
        _dynamicFormSectionAttributeList?.Clear();
        PlantDependencySubAttributeDetails?.Clear();
        Items?.Clear();
    }
    public async ValueTask DisposeAsync()
    {
        // System.GC.Collect();
        clearData();
        //  GC.SuppressFinalize(this);
    }
    protected override async Task OnParametersSetAsync()
    {
        if (applicationUser != null)
        {
            await UpdateDataAsync();
        }
        base.OnParametersSet();
    }
    async Task onshowLoading()
    {
        await JS.InvokeAsync<string>("showLoading");
    }
    async Task onhideLoading()
    {
        await JS.InvokeAsync<string>("hideLoading");
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            DynamicFormPage5 = NavigationManager.RegisterLocationChangingHandler(OnLocationChanging);
            JsModule = await JS.InvokeAsync<IJSObjectReference>("import", "./_content/AC.SD.Core/js/Within.js");

            DotNetHelper = DotNetObjectReference.Create(this);
            await JsModule.InvokeVoidAsync("setDotNetHelper", DotNetHelper);
            await JsModule.InvokeVoidAsync("initialize");
        }
        else
        {
            if (ReInitializeDragging)
            {
                ReInitializeDragging = false;
                await JsModule.InvokeVoidAsync("initialize");
            }
        }
    }
    async Task UpdateDataAsync()
    {
        try
        {
            PanelVisible = true;
            //await onshowLoading();
            _selectedItems = null; FileProfileTypeId = null;
            dataColumnNames = new List<DropDownOptionsModel>(); AddEnabled = true; Items = new ObservableCollection<object>(); isLocked = false; AddOneEnabled = false;
            EditEnabled = false; DeleteEnabled = false; fileEnabled = false; _dynamicformObjectDataList = new List<object>(); emailEnabled = false; isApprovalEnabled = false;
            dataColumnNames.Add(new DropDownOptionsModel() { Value = "DynamicFormDataId", Text = "DynamicFormDataId", Type = "Form", IsVisible = false });
            dataColumnNames.Add(new DropDownOptionsModel() { Value = "IsFileprofileTypeDocument", Text = "IsFileprofileTypeDocument", Type = "Form" });
            dataColumnNames.Add(new DropDownOptionsModel() { Value = "SortOrderByNo", Text = "No", Type = "Form" });
            dataColumnNames.Add(new DropDownOptionsModel() { Value = "ProfileNo", Text = "Profile No", Type = "Form" });
            // dataColumnNames.Add(new DropDownOptionsModel() { Value = "IsDynamicFormDataGrid", Text = "Is Grid", Type = "Form" });

            // dataColumnNames.Add(new DropDownOptionsModel() { Value = "Name", Text = "Name", Type = "Form" });
            if (SessionId != null)
            {
                _dynamicformObjectDataList = new List<object>(); Items = new ObservableCollection<object>();
                var dynamicForms = Task.Factory.StartNew(() => Mediator.Send(new GetAllDynamicFormList(SessionId, -1)));
                await Task.WhenAll(dynamicForms);
                _dynamicForm = await dynamicForms.Result;
                if (_dynamicForm != null)
                {
                    if (_dynamicForm != null)
                    {
                        _dynamicformObjectDataList = new List<object>(); Items = new ObservableCollection<object>();
                        var _AttributeHeaders = Task.Factory.StartNew(() => Mediator.Send(new GetAllAttributeNameList(_dynamicForm, applicationUser.UserID, false)));
                        await Task.WhenAll(_AttributeHeaders);
                        _AttributeHeader = await _AttributeHeaders.Result;
                        if (_AttributeHeader != null && _AttributeHeader.DynamicFormSectionAttribute != null && _AttributeHeader.DynamicFormSectionAttribute.Count > 0)
                        {
                            List<string?> dataSourceTableIds = new List<string?>() { "Plant" };
                            var DataSourceTablelists = _AttributeHeader.DynamicFormSectionAttribute.Where(w => w.AttributeHeaderDataSource.Count > 0).SelectMany(a => a.AttributeHeaderDataSource.Select(s => s.DataSourceTable)).ToList().Distinct().ToList();
                            dataSourceTableIds.AddRange(DataSourceTablelists); List<long?> ApplicationMasterIds = new List<long?>(); List<long?> ApplicationMasterParentIds = new List<long?>();
                            ApplicationMasterIds = _AttributeHeader.DynamicFormSectionAttribute.Where(w => w.ApplicationMaster.Count > 0).SelectMany(a => a.ApplicationMaster.Select(s => (long?)s.ApplicationMasterId)).ToList().Distinct().ToList();
                            ApplicationMasterParentIds = _AttributeHeader.DynamicFormSectionAttribute.Where(w => w.ApplicationMasterParents.Count > 0).SelectMany(a => a.ApplicationMasterParents.Select(s => (long?)s.ApplicationMasterParentCodeId)).ToList().Distinct().ToList();
                            if (ApplicationMasterIds.Count > 0)
                            {
                                dataSourceTableIds.Add("ApplicationMaster");
                            }
                            if (ApplicationMasterParentIds != null && ApplicationMasterParentIds.Count > 0)
                            {
                                dataSourceTableIds.Add("ApplicationMasterParent");
                            }
                            var PlantDependencySubAttributeDetailss = Task.Factory.StartNew(() => Mediator.Send(new GetDataSourceDropDownList(null, dataSourceTableIds, null, ApplicationMasterIds, ApplicationMasterParentIds != null ? ApplicationMasterParentIds : new List<long?>())));
                            await Task.WhenAll(PlantDependencySubAttributeDetailss);
                            PlantDependencySubAttributeDetails = await PlantDependencySubAttributeDetailss.Result;
                            _dynamicFormSectionAttributeList = _AttributeHeader.DynamicFormSectionAttribute;
                            _AttributeHeader.DynamicFormSectionAttribute.ForEach(a =>
                            {
                                if (a.DataSourceTable == "ApplicationMaster")
                                {
                                    //dataColumnNames.Add(new DropDownOptionsModel() { Value = a.DynamicAttributeName, Text = a.DisplayName, Type = "DynamicForm", Id = a.DynamicFormSectionAttributeId, IsVisible = a.IsDisplayTableHeader.Value });
                                    if (a.IsDisplayTableHeader == true && a.ApplicationMaster.Count() > 0)
                                    {
                                        a.ApplicationMaster.ForEach(ab =>
                                        {
                                            var nameData = a.DynamicFormSectionAttributeId + "_" + ab.ApplicationMasterCodeId + "_AppMaster";
                                            dataColumnNames.Add(new DropDownOptionsModel() { ControlType = a.ControlType, Value = nameData, Text = ab.ApplicationMasterName, Type = "DynamicForm" });
                                            if (a.ControlTypeId == 2702 && a.DropDownTypeId == "Data Source" && a.DataSourceTable == "ApplicationMaster" && a.IsDynamicFormGridDropdown == true)
                                            {
                                                var appendDependency = a.DynamicFormSectionAttributeId + "_" + ab.ApplicationMasterCodeId + "_" + a.GridDropDownDynamicFormID + "_GridAppMaster";
                                                dataColumnNames.Add(new DropDownOptionsModel() { ControlType = a.ControlType, Value = appendDependency, Text = a.GridDropDownDynamicFormName, Type = "DynamicForm" });
                                            }
                                        });
                                    }
                                }
                                else if (a.DataSourceTable == "ApplicationMasterParent")
                                {
                                    //dataColumnNames.Add(new DropDownOptionsModel() { Value = a.DynamicAttributeName, Text = a.DisplayName, Type = "DynamicForm", Id = a.DynamicFormSectionAttributeId, IsVisible = a.IsDisplayTableHeader.Value });
                                    if (a.IsDisplayTableHeader == true && a.ApplicationMasterParents.Count() > 0)
                                    {
                                        a.ApplicationMasterParents.ForEach(ab =>
                                        {
                                            var nameData = a.DynamicFormSectionAttributeId + "_" + ab.ApplicationMasterParentCodeId + "_AppMasterPar";
                                            dataColumnNames.Add(new DropDownOptionsModel() { ControlType = a.ControlType, Value = nameData, Text = ab.ApplicationMasterName, Type = "DynamicForm" });
                                            RemoveApplicationMasterParentSingleItem(ab, a, dataColumnNames);
                                            if (a.ControlTypeId == 2702 && a.DropDownTypeId == "Data Source" && a.DataSourceTable == "ApplicationMasterParent" && a.IsDynamicFormGridDropdown == true)
                                            {
                                                var appendDependency = a.DynamicFormSectionAttributeId + "_" + ab.ApplicationMasterParentCodeId + "_" + a.GridDropDownDynamicFormID + "_GridAppMaster";
                                                dataColumnNames.Add(new DropDownOptionsModel() { ControlType = a.ControlType, Value = appendDependency, Text = a.GridDropDownDynamicFormName, Type = "DynamicForm" });
                                            }
                                        });
                                    }
                                }
                                else
                                {
                                    dataColumnNames.Add(new DropDownOptionsModel() { ControlType = a.ControlType, IsDynamicGrid = a.ControlTypeId == 2712 ? true : false, Value = a.DynamicAttributeName, Text = a.DisplayName, Type = "DynamicForm", Id = a.DynamicFormSectionAttributeId, IsVisible = a.IsDisplayTableHeader.Value });

                                }
                                if (a.ControlType == "ComboBox" && a.IsPlantLoadDependency == true && a.AttributeHeaderDataSource.Count() > 0 && PlantDependencySubAttributeDetails != null && PlantDependencySubAttributeDetails.Count() > 0 && a.IsDisplayTableHeader == true)
                                {
                                    a.AttributeHeaderDataSource.ForEach(dd =>
                                    {
                                        var nameData = a.DynamicFormSectionAttributeId + "_" + dd.AttributeHeaderDataSourceId + "_" + dd.DataSourceTable + "_Dependency";
                                        dataColumnNames.Add(new DropDownOptionsModel() { ControlType = a.ControlType, Value = nameData, Text = dd.DisplayName, Type = "DynamicForm" });
                                    });
                                }

                            });
                            if (_dynamicForm.IsApproval == true)
                            {
                                dataColumnNames.Add(new DropDownOptionsModel() { Value = "CurrentUserName", Text = "Current User", Type = "Form" });
                            }
                            dataColumnNames.Add(new DropDownOptionsModel() { Value = "ModifiedBy", Text = "Modified By", Type = "Form" });
                            dataColumnNames.Add(new DropDownOptionsModel() { Value = "ModifiedDate", Text = "Modified Date", Type = "Form" });
                            if (_dynamicForm.IsApproval == true)
                            {
                                dataColumnNames.Add(new DropDownOptionsModel() { Value = "StatusName", Text = "Status", Type = "Form" });
                            }
                        }
                        else
                        {
                            if (_dynamicForm.IsApproval == true)
                            {
                                dataColumnNames.Add(new DropDownOptionsModel() { Value = "CurrentUserName", Text = "Current User", Type = "Form" });
                            }
                            dataColumnNames.Add(new DropDownOptionsModel() { Value = "ModifiedBy", Text = "Modified By", Type = "Form" });
                            dataColumnNames.Add(new DropDownOptionsModel() { Value = "ModifiedDate", Text = "Modified Date", Type = "Form" });
                            if (_dynamicForm.IsApproval == true)
                            {
                                dataColumnNames.Add(new DropDownOptionsModel() { Value = "StatusName", Text = "Status", Type = "Form" });
                            }
                        }
                        var _dynamicformDataLists = Task.Factory.StartNew(() => Mediator.Send(new GetDynamicFormDataById(_dynamicForm.ID, 0, -1, null)));
                        await Task.WhenAll(_dynamicformDataLists);
                        _dynamicformDataList = await _dynamicformDataLists.Result;
                        _dynamicformObjectDataList = new List<object>(); Items = new ObservableCollection<object>();
                        if (_dynamicformDataList != null && _dynamicformDataList.Count > 0)
                        {
                            if (FormSessionId != null)
                            {
                                _dynamicformDataList = _dynamicformDataList.Where(w => w.SessionId == FormSessionId).ToList();
                            }
                            _dynamicformDataList.ForEach(s =>
                            {
                                dynamic jsonObj = new object();
                                if (IsValidJson(s.DynamicFormItem))
                                {
                                    jsonObj = JsonConvert.DeserializeObject(s.DynamicFormItem);
                                }
                                IDictionary<string, object> objectData = new ExpandoObject();
                                objectData["SortOrderByNo"] = s.SortOrderByNo;
                                objectData["DynamicFormDataId"] = s.DynamicFormDataId;
                                objectData["ProfileNo"] = s.ProfileNo;
                                objectData["SessionId"] = s.SessionId;
                                objectData["ScreenID"] = s.ScreenID;
                                objectData["DynamicFormId"] = s.DynamicFormId;
                                objectData["Name"] = s.Name;
                                objectData["ModifiedBy"] = s.ModifiedBy;
                                objectData["ModifiedDate"] = s.ModifiedDate;
                                objectData["CurrentUserName"] = s.CurrentUserName;
                                objectData["StatusName"] = s.StatusName;
                                objectData["IsDynamicFormDataGrid"] = s.IsDynamicFormDataGrid;
                                objectData["IsFileprofileTypeDocument"] = s.IsFileprofileTypeDocument;
                                objectData["DynamicFormSectionGridAttributeId"] = s.DynamicFormSectionGridAttributeId;
                                objectData["IsDraft"] = s.IsDraft;
                                objectData["IsLocked"] = s.IsLocked;
                                objectData["LockedUserId"] = s.LockedUserId;
                                objectData["LockedUser"] = s.LockedUser;
                                if (_AttributeHeader != null && _AttributeHeader.DynamicFormSectionAttribute != null && _AttributeHeader.DynamicFormSectionAttribute.Count > 0)
                                {
                                    _AttributeHeader.DynamicFormSectionAttribute.ForEach(s =>
                                    {
                                        string attrName = s.DynamicAttributeName;
                                        var Names = jsonObj.ContainsKey(attrName);
                                        if (Names == true)
                                        {
                                            if (s.ControlTypeId == 2712)
                                            {
                                                objectData[attrName] = s.DynamicFormSessionId;
                                            }
                                            else
                                            {
                                                if (s.DataSourceTable == "ApplicationMaster")
                                                {
                                                    objectData[attrName] = string.Empty;
                                                    if (s.ApplicationMaster != null && s.ApplicationMaster.Count() > 0)
                                                    {
                                                        s.ApplicationMaster.ForEach(ab =>
                                                    {
                                                        var nameData = s.DynamicFormSectionAttributeId + "_" + ab.ApplicationMasterCodeId + "_AppMaster";
                                                        var SubNamess = jsonObj.ContainsKey(nameData);
                                                        if (SubNamess == true)
                                                        {
                                                            var itemValue = jsonObj[nameData];
                                                            if (itemValue is JArray)
                                                            {
                                                                List<long?> listData = itemValue.ToObject<List<long?>>();
                                                                if (s.IsMultiple == true || s.ControlType == "TagBox")
                                                                {
                                                                    var listName = PlantDependencySubAttributeDetails != null ? PlantDependencySubAttributeDetails.Where(a => listData.Contains(a.AttributeDetailID) && a.AttributeDetailName != null && a.ApplicationMasterId == ab.ApplicationMasterId && a.DropDownTypeId == s.DataSourceTable).Select(s => s.AttributeDetailName).ToList() : new List<string?>();
                                                                    objectData[nameData] = listName != null && listName.Count > 0 ? string.Join(",", listName) : string.Empty;
                                                                }
                                                                else
                                                                {
                                                                    objectData[nameData] = string.Empty;
                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (s.ControlType == "ComboBox")
                                                                {
                                                                    long? values = itemValue == null ? -1 : (long)itemValue;
                                                                    var listss = PlantDependencySubAttributeDetails != null ? PlantDependencySubAttributeDetails.Where(v => v.DropDownTypeId == s.DataSourceTable && v.AttributeDetailID == values).FirstOrDefault()?.AttributeDetailName : string.Empty;
                                                                    objectData[nameData] = listss;
                                                                }
                                                                else
                                                                {
                                                                    if (s.ControlType == "ListBox" && s.IsMultiple == false)
                                                                    {
                                                                        long? values = itemValue == null ? -1 : (long)itemValue;
                                                                        var listss = PlantDependencySubAttributeDetails != null ? PlantDependencySubAttributeDetails.Where(v => v.DropDownTypeId == s.DataSourceTable && v.AttributeDetailID == values).FirstOrDefault()?.AttributeDetailName : string.Empty;
                                                                        objectData[nameData] = listss;
                                                                    }
                                                                    else
                                                                    {
                                                                        objectData[nameData] = string.Empty;
                                                                    }
                                                                }
                                                            }

                                                            if (s.ControlTypeId == 2702 && s.DropDownTypeId == "Data Source" && s.DataSourceTable == "ApplicationMaster" && s.IsDynamicFormGridDropdown == true)
                                                            {
                                                                var collection = _AttributeHeader.DropDownOptionsGridListModel.ObjectData;
                                                                var appendDependency = s.DynamicFormSectionAttributeId + "_" + ab.ApplicationMasterCodeId + "_" + s.GridDropDownDynamicFormID + "_GridAppMaster";
                                                                var displayNames = string.Empty;
                                                                if (collection != null)
                                                                {
                                                                    var itemDepExits = jsonObj.ContainsKey(appendDependency);
                                                                    if (itemDepExits == true)
                                                                    {
                                                                        var itemDepValue = jsonObj[appendDependency];
                                                                        if (s.IsDynamicFormGridDropdownMultiple == true)
                                                                        {
                                                                            if (itemDepValue is JArray)
                                                                            {
                                                                                List<long?> listData = itemDepValue.ToObject<List<long?>>();

                                                                                if (listData != null && listData.Count > 0)
                                                                                {
                                                                                    listData.ForEach(l =>
                                                                                    {
                                                                                        if (collection != null)
                                                                                        {
                                                                                            foreach (var v in (collection as IEnumerable<ExpandoObject>))
                                                                                            {
                                                                                                dynamic eod = v;
                                                                                                if ((long?)eod.AttributeDetailID == l)
                                                                                                {
                                                                                                    displayNames += eod.AttributeDetailName + ",";
                                                                                                }
                                                                                            }
                                                                                        }
                                                                                    });
                                                                                }
                                                                                displayNames = displayNames.TrimEnd(',');

                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            long? valuesDep = itemDepValue == null ? -1 : (long)itemDepValue;
                                                                            foreach (var v in (collection as IEnumerable<ExpandoObject>))
                                                                            {
                                                                                dynamic eod = v;
                                                                                if ((long?)eod.AttributeDetailID == valuesDep)
                                                                                {
                                                                                    displayNames += eod.AttributeDetailName;
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                                objectData[appendDependency] = displayNames;
                                                            }
                                                        }
                                                    });
                                                    }
                                                }
                                                else if (s.DataSourceTable == "ApplicationMasterParent")
                                                {
                                                    var collection = _AttributeHeader.DropDownOptionsGridListModel.ObjectData;
                                                    objectData[attrName] = string.Empty;
                                                    List<string?> nameDatas = new List<string?>();
                                                    s.ApplicationMasterParents.ForEach(ab =>
                                                    {
                                                        nameDatas.Add(s.DynamicFormSectionAttributeId + "_" + ab.ApplicationMasterParentCodeId + "_AppMasterPar");
                                                        RemoveApplicationMasterParentSingleNameItem(ab, s, nameDatas);
                                                        if (s.ControlTypeId == 2702 && s.DropDownTypeId == "Data Source" && s.DataSourceTable == "ApplicationMasterParent" && s.IsDynamicFormGridDropdown == true)
                                                        {
                                                            var appendDependency = s.DynamicFormSectionAttributeId + "_" + ab.ApplicationMasterParentCodeId + "_" + s.GridDropDownDynamicFormID + "_GridAppMaster";
                                                            var displayNames = string.Empty;
                                                            if (collection != null)
                                                            {
                                                                var itemDepExits = jsonObj.ContainsKey(appendDependency);
                                                                if (itemDepExits == true)
                                                                {
                                                                    var itemDepValue = jsonObj[appendDependency];
                                                                    if (s.IsDynamicFormGridDropdownMultiple == true)
                                                                    {
                                                                        if (itemDepValue is JArray)
                                                                        {
                                                                            List<long?> listData = itemDepValue.ToObject<List<long?>>();

                                                                            if (listData != null && listData.Count > 0)
                                                                            {
                                                                                listData.ForEach(l =>
                                                                                {
                                                                                    if (collection != null)
                                                                                    {
                                                                                        foreach (var v in (collection as IEnumerable<ExpandoObject>))
                                                                                        {
                                                                                            dynamic eod = v;
                                                                                            if ((long?)eod.AttributeDetailID == l)
                                                                                            {
                                                                                                displayNames += eod.AttributeDetailName + ",";
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                });
                                                                            }
                                                                            displayNames = displayNames.TrimEnd(',');

                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        long? valuesDep = itemDepValue == null ? -1 : (long)itemDepValue;
                                                                        foreach (var v in (collection as IEnumerable<ExpandoObject>))
                                                                        {
                                                                            dynamic eod = v;
                                                                            if ((long?)eod.AttributeDetailID == valuesDep)
                                                                            {
                                                                                displayNames += eod.AttributeDetailName;
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                            objectData[appendDependency] = displayNames;
                                                        }

                                                    });
                                                    if (nameDatas != null && nameDatas.Count() > 0)
                                                    {
                                                        nameDatas.ForEach(n =>
                                                        {
                                                            loadApplicationMasterParentData(jsonObj, s, n, objectData);
                                                        });
                                                    }
                                                }
                                                else
                                                {
                                                    var itemValue = jsonObj[attrName];
                                                    var collection = _AttributeHeader.DropDownOptionsGridListModel.ObjectData;
                                                    if (itemValue is JArray)
                                                    {
                                                        List<long?> listData = itemValue.ToObject<List<long?>>();
                                                        if (s.DataSourceTable == "DynamicGrid")
                                                        {
                                                            string displayNames = string.Empty;

                                                            if (listData != null && listData.Count > 0)
                                                            {
                                                                listData.ForEach(l =>
                                                                {
                                                                    if (collection != null)
                                                                    {
                                                                        foreach (var v in (collection as IEnumerable<ExpandoObject>))
                                                                        {
                                                                            dynamic eod = v;
                                                                            if ((long?)eod.AttributeDetailID == l)
                                                                            {
                                                                                displayNames += eod.AttributeDetailName + ",";
                                                                            }
                                                                        }
                                                                    }
                                                                });
                                                            }
                                                            objectData[attrName] = displayNames.TrimEnd(',');
                                                        }
                                                        else
                                                        {
                                                            var listName = _AttributeHeader.AttributeDetails.Where(a => listData.Contains(a.AttributeDetailID) && a.AttributeDetailName != null && a.DropDownTypeId == s.DataSourceTable).Select(s => s.AttributeDetailName).ToList();
                                                            objectData[attrName] = listName != null && listName.Count > 0 ? string.Join(",", listName) : string.Empty;
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (s.ControlType == "ComboBox" || s.ControlType == "Radio" || s.ControlType == "RadioGroup")
                                                        {
                                                            long? Svalues = itemValue == null ? null : (long)itemValue;
                                                            if (Svalues != null)
                                                            {
                                                                if (s.DataSourceTable == "DynamicGrid")
                                                                {
                                                                    var displayNames = string.Empty;
                                                                    if (collection != null)
                                                                    {
                                                                        foreach (var v in (collection as IEnumerable<ExpandoObject>))
                                                                        {
                                                                            dynamic eod = v;
                                                                            if ((long?)eod.AttributeDetailID == Svalues)
                                                                            {
                                                                                displayNames += eod.AttributeDetailName;
                                                                            }
                                                                        }
                                                                    }
                                                                    objectData[attrName] = displayNames;
                                                                }
                                                                else
                                                                {
                                                                    var listName = _AttributeHeader.AttributeDetails.Where(a => a.AttributeDetailID == Svalues && a.AttributeDetailName != null && a.DropDownTypeId == s.DataSourceTable).Select(s => s.AttributeDetailName).ToList();
                                                                    objectData[attrName] = listName != null && listName.Count > 0 ? string.Join(",", listName) : string.Empty;
                                                                }
                                                            }
                                                            else
                                                            {
                                                                objectData[attrName] = string.Empty;
                                                            }
                                                            if (s.ControlType == "ComboBox" && s.IsPlantLoadDependency == true && s.AttributeHeaderDataSource.Count() > 0 && PlantDependencySubAttributeDetails != null && PlantDependencySubAttributeDetails.Count() > 0)
                                                            {

                                                                s.AttributeHeaderDataSource.ForEach(dd =>
                                                                {
                                                                    var nameData = s.DynamicFormSectionAttributeId + "_" + dd.AttributeHeaderDataSourceId + "_" + dd.DataSourceTable + "_Dependency";
                                                                    var itemDepExits = jsonObj.ContainsKey(nameData);
                                                                    if (itemDepExits == true)
                                                                    {
                                                                        var itemDepValue = jsonObj[nameData];
                                                                        if (s.IsDependencyMultiple == true)
                                                                        {
                                                                            if (itemDepValue is JArray)
                                                                            {
                                                                                List<long?> listData = itemDepValue.ToObject<List<long?>>();
                                                                                var listName = PlantDependencySubAttributeDetails != null ? PlantDependencySubAttributeDetails.Where(a => listData.Contains(a.AttributeDetailID) && a.AttributeDetailName != null && a.DropDownTypeId == dd.DataSourceTable).Select(s => s.AttributeDetailName).ToList() : new List<string?>();
                                                                                objectData[nameData] = listName != null && listName.Count > 0 ? string.Join(",", listName) : string.Empty;
                                                                            }
                                                                            else
                                                                            {
                                                                                objectData[nameData] = string.Empty;
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            long? valuesDep = itemDepValue == null ? -1 : (long)itemDepValue;
                                                                            var listss = PlantDependencySubAttributeDetails.Where(v => dd.DataSourceTable == v.DropDownTypeId && v.AttributeDetailID == valuesDep).FirstOrDefault()?.AttributeDetailName;
                                                                            objectData[nameData] = listss;
                                                                        }
                                                                    }

                                                                });
                                                            }
                                                        }
                                                        else if (s.ControlType == "ListBox" && s.IsMultiple == false)
                                                        {
                                                            long? Svalues = itemValue == null ? null : (long)itemValue;
                                                            if (Svalues != null)
                                                            {
                                                                var listName = _AttributeHeader.AttributeDetails.Where(a => a.AttributeDetailID == Svalues && a.DropDownTypeId == s.DataSourceTable).Select(s => s.AttributeDetailName).ToList();
                                                                objectData[attrName] = listName != null && listName.Count > 0 ? string.Join(",", listName) : string.Empty;
                                                            }
                                                            else
                                                            {
                                                                objectData[attrName] = string.Empty;
                                                            }
                                                        }
                                                        else if (s.ControlType == "DateEdit")
                                                        {
                                                            DateTime? values = itemValue == null ? null : (DateTime)itemValue;
                                                            objectData[attrName] = values;
                                                        }
                                                        else if (s.ControlType == "TimeEdit")
                                                        {
                                                            TimeSpan? values = itemValue == null ? null : (TimeSpan)itemValue;
                                                            objectData[attrName] = values;
                                                        }
                                                        else if (s.ControlType == "SpinEdit")
                                                        {
                                                            if (s.IsSpinEditType == "decimal")
                                                            {
                                                                decimal? values = itemValue == null ? null : (decimal)itemValue;
                                                                objectData[attrName] = values;
                                                            }
                                                            else
                                                            {
                                                                int? values = itemValue == null ? null : (int)itemValue;
                                                                objectData[attrName] = values;
                                                            }
                                                        }
                                                        else if (s.ControlType == "CheckBox")
                                                        {
                                                            bool? values = itemValue == null ? false : (bool)itemValue;
                                                            objectData[attrName] = values;
                                                        }
                                                        else
                                                        {
                                                            objectData[attrName] = (string)itemValue;
                                                        }
                                                    }

                                                }
                                            }
                                        }
                                        else
                                        {
                                            if (s.ControlTypeId == 2712)
                                            {
                                                objectData[attrName] = s.DynamicFormSessionId;
                                            }
                                            else
                                            {
                                                if (s.ControlType == "ComboBox" && s.IsPlantLoadDependency == true && s.AttributeHeaderDataSource.Count() > 0)
                                                {
                                                    objectData[attrName] = string.Empty;
                                                    s.AttributeHeaderDataSource.ForEach(dd =>
                                                    {
                                                        var nameData = s.DynamicFormSectionAttributeId + "_" + dd.AttributeHeaderDataSourceId + "_" + dd.DataSourceTable + "_Dependency";
                                                        objectData[nameData] = string.Empty;
                                                    });
                                                }
                                                else
                                                {
                                                    if (s.DataSourceTable == "ApplicationMasterParent")
                                                    {
                                                        objectData[attrName] = string.Empty;
                                                        List<string?> nameDatas = new List<string?>();
                                                        s.ApplicationMasterParents.ForEach(ab =>
                                                        {
                                                            nameDatas.Add(s.DynamicFormSectionAttributeId + "_" + ab.ApplicationMasterParentCodeId + "_AppMasterPar");
                                                            RemoveApplicationMasterParentSingleNameItem(ab, s, nameDatas);
                                                            if (s.ControlTypeId == 2702 && s.DropDownTypeId == "Data Source" && s.DataSourceTable == "ApplicationMasterParent" && s.IsDynamicFormGridDropdown == true)
                                                            {
                                                                var appendDependency = s.DynamicFormSectionAttributeId + "_" + ab.ApplicationMasterParentCodeId + "_" + s.GridDropDownDynamicFormID + "_GridAppMaster";
                                                                objectData[appendDependency] = string.Empty;
                                                            }
                                                        });
                                                        if (nameDatas != null && nameDatas.Count() > 0)
                                                        {
                                                            nameDatas.ForEach(n =>
                                                        {
                                                            objectData[n] = string.Empty;
                                                        });
                                                        }

                                                    }
                                                    else if (s.DataSourceTable == "ApplicationMaster")
                                                    {
                                                        objectData[attrName] = string.Empty;
                                                        if (s.ApplicationMaster.Count() > 0)
                                                        {
                                                            s.ApplicationMaster.ForEach(ab =>
                                                            {
                                                                var nameData = s.DynamicFormSectionAttributeId + "_" + ab.ApplicationMasterCodeId + "_AppMaster";
                                                                objectData[nameData] = string.Empty;
                                                                if (s.ControlTypeId == 2702 && s.DropDownTypeId == "Data Source" && s.DataSourceTable == "ApplicationMaster" && s.IsDynamicFormGridDropdown == true)
                                                                {
                                                                    var appendDependency = s.DynamicFormSectionAttributeId + "_" + ab.ApplicationMasterCodeId + "_" + s.GridDropDownDynamicFormID + "_GridAppMaster";
                                                                    objectData[appendDependency] = string.Empty;
                                                                }
                                                            });
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (s.ControlTypeId == 2710)
                                                        {
                                                            objectData[attrName] = false;
                                                        }
                                                        else
                                                        {
                                                            objectData[attrName] = string.Empty;
                                                        }
                                                    }
                                                }
                                            }
                                        }


                                    });
                                }
                                _dynamicformObjectDataList.Add(objectData);
                            });
                            //EditEnabled = true; DeleteEnabled = true; fileEnabled = true; emailEnabled = true;
                            _selectedItems = _dynamicformDataList.FirstOrDefault();
                            FileProfileTypeId = _selectedItems.FileProfileTypeId;
                            //Grid.SetFocusedRowIndex(0);
                        }
                    }
                    else
                    {
                        dataColumnNames.Add(new DropDownOptionsModel() { Value = "ModifiedBy", Text = "ModifiedBy", Type = "Form" });
                        dataColumnNames.Add(new DropDownOptionsModel() { Value = "ModifiedDate", Text = "ModifiedDate", Type = "Form" });
                    }
                }
                else
                {
                    AddEnabled = false;
                }
                if (_dynamicformObjectDataList != null && _dynamicformObjectDataList.Count() > 0)
                {
                    Items = new ObservableCollection<object>(_dynamicformObjectDataList);
                    //Grid.SetFocusedRowIndex(0);
                }
            }
            else
            {

            }
            //await onhideLoading();
            PanelVisible = false;
            StateHasChanged();
        }
        catch (Exception ex)
        {

        }
    }
    void loadApplicationMasterParentData(dynamic jsonObj, DynamicFormSectionAttribute s, string nameData, IDictionary<string, object> objectData)
    {

        var SubNamess = jsonObj.ContainsKey(nameData);
        if (SubNamess == true)
        {
            var itemValue = jsonObj[nameData];
            if (itemValue is JArray)
            {
                List<long?> listData = itemValue.ToObject<List<long?>>();
                if (s.IsMultiple == true || s.ControlType == "TagBox")
                {
                    var listName = PlantDependencySubAttributeDetails != null ? PlantDependencySubAttributeDetails.Where(a => listData.Contains(a.AttributeDetailID) && a.AttributeDetailName != null && a.DropDownTypeId == s.DataSourceTable).Select(s => s.AttributeDetailName).ToList() : new List<string?>();
                    objectData[nameData] = listName != null && listName.Count > 0 ? string.Join(",", listName) : string.Empty;
                }
                else
                {
                    objectData[nameData] = string.Empty;
                }
            }
            else
            {
                if (s.ControlType == "ComboBox")
                {
                    long? values = itemValue == null ? -1 : (long)itemValue;
                    var listss = PlantDependencySubAttributeDetails != null ? PlantDependencySubAttributeDetails.Where(v => v.DropDownTypeId == s.DataSourceTable && v.AttributeDetailID == values).FirstOrDefault()?.AttributeDetailName : string.Empty;
                    objectData[nameData] = listss;
                }
                else
                {
                    if (s.ControlType == "ListBox" && s.IsMultiple == false)
                    {
                        long? values = itemValue == null ? -1 : (long)itemValue;
                        var listss = PlantDependencySubAttributeDetails != null ? PlantDependencySubAttributeDetails.Where(v => v.DropDownTypeId == s.DataSourceTable && v.AttributeDetailID == values).FirstOrDefault()?.AttributeDetailName : string.Empty;
                        objectData[nameData] = listss;
                    }
                    else
                    {
                        objectData[nameData] = string.Empty;
                    }
                }
            }
        }
        else
        {
            objectData[nameData] = string.Empty;
        }


    }
    void RemoveApplicationMasterParentSingleItem(ApplicationMasterParent applicationMasterParent, DynamicFormSectionAttribute dynamicFormSectionAttribute, List<DropDownOptionsModel> dataColumnNames)
    {
        if (applicationMasterParent != null)
        {
            var listss = _AttributeHeader.ApplicationMasterParent.FirstOrDefault(f => f.ParentId == applicationMasterParent.ApplicationMasterParentCodeId);
            if (listss != null)
            {
                var nameData = dynamicFormSectionAttribute.DynamicFormSectionAttributeId + "_" + listss.ApplicationMasterParentCodeId + "_AppMasterPar";
                dataColumnNames.Add(new DropDownOptionsModel() { ControlType = dynamicFormSectionAttribute.ControlType, Value = nameData, Text = listss.ApplicationMasterName, Type = "DynamicForm" });
                RemoveApplicationMasterParentSingleItem(listss, dynamicFormSectionAttribute, dataColumnNames);
            }
        }
    }
    void RemoveApplicationMasterParentSingleNameItem(ApplicationMasterParent applicationMasterParent, DynamicFormSectionAttribute dynamicFormSectionAttribute, List<string?> dataColumnNames)
    {
        if (applicationMasterParent != null)
        {
            var listss = _AttributeHeader.ApplicationMasterParent.FirstOrDefault(f => f.ParentId == applicationMasterParent.ApplicationMasterParentCodeId);
            if (listss != null)
            {
                var nameData = dynamicFormSectionAttribute.DynamicFormSectionAttributeId + "_" + listss.ApplicationMasterParentCodeId + "_AppMasterPar";
                dataColumnNames.Add(nameData);
                RemoveApplicationMasterParentSingleNameItem(listss, dynamicFormSectionAttribute, dataColumnNames);
            }
        }
    }
    private static bool IsValidJson(string strInput)
    {
        if (string.IsNullOrWhiteSpace(strInput)) { return false; }
        strInput = strInput.Trim();
        if ((strInput.StartsWith("{") && strInput.EndsWith("}")) || //For object
            (strInput.StartsWith("[") && strInput.EndsWith("]"))) //For array
        {
            try
            {
                var obj = JToken.Parse(strInput);
                return true;
            }
            catch (JsonReaderException jex)
            {
                //Exception in parsing json
                return false;
            }
            catch (Exception ex) //some other exception
            {
                return false;
            }
        }
        else
        {
            return false;
        }
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
        if (e.ElementType == GridElementType.DataRow)
        {
            e.Attributes["data-visible-index"] = e.VisibleIndex;
        }
    }
    async void OnRowclick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "DynamicFormDataId");
        _selectedItems = _dynamicformDataList.FirstOrDefault(f => f.DynamicFormDataId == (long?)UniqueId);
        FileProfileTypeId = _selectedItems?.FileProfileTypeId;
        //await DynamicFormOnDms();
        EditEnabled = true; LockedName = "Lock"; isLocked = true; fafaunlock = "fa fa-lock"; AddOneEnabled = true;
        DeleteEnabled = true; fileEnabled = true; emailEnabled = true; isApprovalEnabled = false;
        if (_selectedItems.IsApproval == true)
        {
            isApprovalEnabled = true;
        }
        if (_selectedItems.IsLocked == true && _selectedItems.LockedUserId > 0)
        {
            LockedName = "UnLock"; fafaunlock = "fa fa-unlock";
            if (_selectedItems.LockedUserId != applicationUser.UserID)
            {
                isLocked = false;
                // EditEnabled = false;
                DeleteEnabled = false; fileEnabled = false; emailEnabled = false;
                if (_selectedItems.IsApproval == true)
                {
                    isApprovalEnabled = false;
                }
            }
        }
    }
    async Task OpenOneOdataUrl()
    {
        // if (_selectedItems != null && _selectedItems.SessionId != null)
        // {
        //     var url = NavigationManager.BaseUri + "api/DynamicForm/GetDynamicFormOneDataList?DynamicFormSessionId=" + _selectedItems.SessionId;
        //     await JS.InvokeVoidAsync("window.open", url, "_blank");
        // }
        if (_dynamicForm != null && _dynamicForm.SessionID != null)
        {
            var url = NavigationManager.BaseUri + "api/DynamicForm/GetDynamicFormDataList?DynamicFormSessionId=" + _dynamicForm.SessionID;
            await ClipboardService.WriteTextAsync(url);
            toastService.ShowToast("Copied", AC.SD.Core.Services.ToastLevel.Info);
        }
    }
    async Task OpenEmptyOdataUrl()
    {
        if (_dynamicForm != null && _dynamicForm.SessionID != null)
        {
            var url = NavigationManager.BaseUri + "api/DynamicForm/GetDynamicFormAttributeList?DynamicFormSessionId=" + _dynamicForm.SessionID;
            await JS.InvokeVoidAsync("window.open", url, "_blank");
        }
    }
    async Task OpenOdataUrl()
    {
        if (_dynamicForm != null && _dynamicForm.SessionID != null)
        {
            var url = NavigationManager.BaseUri + "api/DynamicForm/GetDynamicFormDataList?DynamicFormSessionId=" + _dynamicForm.SessionID;
            await JS.InvokeVoidAsync("window.open", url, "_blank");
        }
    }
    async Task DynamicFormOnDms()
    {
        fileEnabled = false;
        _documentsDmsData = await Mediator.Send(new GetDynamicFormDataBySessionIdForDMS(_selectedItems.SessionId));
        if (_documentsDmsData != null && _documentsDmsData.DocumentID > 0)
        {
            fileEnabled = true;
        }
        StateHasChanged();
    }
    void OpenLock()
    {
        lockpopup = true;
    }
    void EulaPopupLockClosed(PopupClosedEventArgs args)
    {
        lockpopup = false;
        InvokeAsync(UpdateDataAsync);
        StateHasChanged();
    }
    async Task bulkLock()
    {
        if (_selectedItems != null)
        {
            DynamicFormData dynamicFormData = new DynamicFormData();
            dynamicFormData.DynamicFormDataId = _selectedItems.DynamicFormDataId;
            dynamicFormData.IsLocked = _selectedItems.IsLocked == true ? null : true;
            if (dynamicFormData.IsLocked == true)
            {
                dynamicFormData.LockedUserId = applicationUser.UserID;
                dynamicFormData.LockedUser = applicationUser.UserName;
            }
            var result = await Mediator.Send(new UpdateDynamicFormLocked(dynamicFormData));
            if (result.DynamicFormDataId > 0)
            {
                LockedName = "Lock"; fafaunlock = "fa fa-lock";
                if (dynamicFormData.IsLocked == true)
                {
                    _selectedItems.IsLocked = dynamicFormData.IsLocked;
                    _selectedItems.LockedUserId = applicationUser.UserID;
                    _selectedItems.LockedUser = applicationUser.UserName;
                    LockedName = "UnLock"; fafaunlock = "fa fa-unlock";
                }
                lockpopup = false;
                if (dynamicFormData.IsLocked == true)
                {
                    toastService.ShowToast("Unlock successfully.", AC.SD.Core.Services.ToastLevel.Success);
                }
                else
                {
                    toastService.ShowToast("Lock successfully.", AC.SD.Core.Services.ToastLevel.Success);
                }

            }
        }
        StateHasChanged();
    }
    void addDetailFile()
    {
        if (_selectedItems != null)
        {
            PopupUpload = true;
            // NavigationManager.NavigateTo("fileprofiletype/" + _documentsDmsData.FileProfileTypeSessionId + "/" + _selectedItems.SessionId);
        }
    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowclick(e);
        string str = NavigationManager.Uri;
        string rep1 = str.Replace(NavigationManager.BaseUri, "").ToLower();
        string[] UrlList = rep1.Split("/");
        string names = "DynamicMasterSetupList";
        if (UrlList.Count() > 0 && UrlList[0] != null && UrlList[0].ToLower() == names.ToLower())
        {
            NavigationManager.NavigateTo("DynamicMasterSetupList/dynamicForms/" + SessionId + "/" + _selectedItems.SessionId);
        }
        else
        {
            NavigationManager.NavigateTo("DynamicMasterSetup/dynamicForms/" + SessionId + "/" + _selectedItems.SessionId);

        }
    }
    void addNew()
    {
        string str = NavigationManager.Uri;
        string rep1 = str.Replace(NavigationManager.BaseUri, "").ToLower();
        string[] UrlList = rep1.Split("/");
        string names = "DynamicMasterSetupList";
        if (UrlList.Count() > 0 && UrlList[0] != null && UrlList[0].ToLower() == names.ToLower())
        {
            NavigationManager.NavigateTo("DynamicMasterSetupList/dynamicForms/" + SessionId);
        }
        else
        {
            NavigationManager.NavigateTo("DynamicMasterSetup/dynamicForms/" + SessionId);

        }
    }
    async Task OpenMailMergeUrl()
    {
        string str = NavigationManager.Uri;
        string rep1 = str.Replace(NavigationManager.BaseUri, "").ToLower();
        string[] UrlList = rep1.Split("/");
        string names = "DynamicMasterSetupList";
        if (UrlList.Count() > 0 && UrlList[0] != null && UrlList[0].ToLower() == names.ToLower())
        {
            var url = NavigationManager.BaseUri + "DynamicMasterSetupList/dynamicFormMailMerge/" + SessionId;
            await JS.InvokeVoidAsync("window.open", url, "_blank");
        }
        else
        {
            var url = NavigationManager.BaseUri + "DynamicMasterSetup/dynamicFormMailMerge/" + SessionId;
            await JS.InvokeVoidAsync("window.open", url, "_blank");
        }
    }
    async Task addDetailEmailCreate()
    {
        var _selectedItemsDAta = await Mediator.Send(new GetDynamicFormDataBySessionId(_selectedItems.SessionId));
        if (_selectedItemsDAta != null)
        {
            if (_selectedItemsDAta.IsDraft == null)
            {
                createEmailpopup = true;
            }
            if (_selectedItemsDAta.IsDraft == true)
            {
                var url = NavigationManager.BaseUri + "EmailDrafts";
                await JS.InvokeVoidAsync("window.open", url, "_blank");
            }
            if (_selectedItemsDAta.IsDraft == false)
            {
                var url = NavigationManager.BaseUri + "ViewEmail/" + _selectedItemsDAta.EmailTopicSessionId;
                await JS.InvokeVoidAsync("window.open", url, "_blank");
            }
        }
    }
    async Task createEmailYes()
    {
        string str = NavigationManager.Uri;
        string rep1 = str.Replace(NavigationManager.BaseUri, "").ToLower();
        string backurl = rep1 + "/" + _selectedItems.SessionId;
        if (_selectedItems != null)
        {
            var insertData = new DynamicFormData
                {
                    AddedByUserID = applicationUser.UserID,
                    ModifiedByUserID = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    ModifiedDate = DateTime.Now,
                    SessionId = _selectedItems.SessionId,
                    ProfileNo = _selectedItems.ProfileNo,
                    StatusCodeID = 1,
                    DynamicFormDataId = _selectedItems.DynamicFormDataId,
                    BackUrl = backurl
                };
            var response = await Mediator.Send(new InsertCreateEmailFormData(insertData));
            if (response.DynamicFormDataId > 0)
            {
                toastService.ShowToast("Email created successfully.", AC.SD.Core.Services.ToastLevel.Success);
                createEmailpopup = false;
                var url = NavigationManager.BaseUri + "CreateEmail/" + _selectedItems.SessionId;
                await JS.InvokeVoidAsync("window.open", url, "_blank");
                await UpdateDataAsync();
            }
        }
        StateHasChanged();
    }
    void addEdit()
    {
        string str = NavigationManager.Uri;
        string rep1 = str.Replace(NavigationManager.BaseUri, "").ToLower();
        string[] UrlList = rep1.Split("/");
        string names = "DynamicMasterSetupList";
        if (UrlList.Count() > 0 && UrlList[0] != null && UrlList[0].ToLower() == names.ToLower())
        {
            NavigationManager.NavigateTo("DynamicMasterSetupList/dynamicForms/" + SessionId + "/" + _selectedItems.SessionId);
        }
        else
        {
            NavigationManager.NavigateTo("DynamicMasterSetup/dynamicForms/" + SessionId + "/" + _selectedItems.SessionId);

        }

    }
    async Task backUrl()
    {
        string str = NavigationManager.Uri;
        string rep1 = str.Replace(NavigationManager.BaseUri, "").ToLower();
        string[] UrlList = rep1.Split("/");
        string names = "DynamicMasterSetupList";
        if (UrlList.Count() > 0 && UrlList[0] != null && UrlList[0].ToLower() == names.ToLower())
        {
            NavigationManager.NavigateTo("DynamicMasterSetupList");
        }
        else
        {
            NavigationManager.NavigateTo("DynamicMasterSetup");

        }
    }
    void addDetailDelete()
    {
        Blukdeletepopup = true;
    }

    void EulaPopupClosed()
    {
        //BackUpload();
        PopupApprovalForm = false;
        PopupDynamicFormGridLists = false;
        Blukdeletepopup = false;
        createEmailpopup = false;

        // await UpdateDataAsync();
    }
    void OpenApprovalForm()
    {
        PopupApprovalForm = true;
    }
    void BackApprovalForm()
    {
        InvokeAsync(UpdateDataAsync);
        PopupApprovalForm = false;
        StateHasChanged();
    }
    void openFormGridList(DropDownOptionsModel dropDownOptionsModel, object datas)
    {
        var values = dropDownOptionsModel.Value;
        if (!string.IsNullOrEmpty(values))
        {
            dynamic item = (ExpandoObject)datas;
            var DynamicFormSessionIds = (Guid?)((IDictionary<String, Object>)item)[values];
            if (DynamicFormSessionIds != null)
            {
                DynamicFormSessionId = DynamicFormSessionIds;
                MainSessionId = (Guid?)item.SessionId;
                DynamicFormDataGridId = (long?)item.DynamicFormDataId;
                DynamicFormSectionGridAttributeIds = dropDownOptionsModel.Id;
                PopupDynamicFormGridLists = true;
            }
        }
        StateHasChanged();
    }
    void BackUpload()
    {
        InvokeAsync(UpdateDataAsync);
        PopupUpload = false;
        StateHasChanged();

    }
    async Task bulkDelete()
    {
        var request = new DeleteDynamicFormData(_selectedItems);
        await Mediator.Send(request);
        Blukdeletepopup = false;
        await UpdateDataAsync();
    }
    [JSInvokable]
    public async Task ReorderGridRows(int draggableRowVisibleIndex, int prevRowVisibleIndex, int nextRowVisibleIndex)
    {
        var hasPrevRow = prevRowVisibleIndex > -1;
        var hasNextRow = nextRowVisibleIndex > -1;

        var sourceItem = (dynamic)Grid.GetDataItem(draggableRowVisibleIndex);
        var hasSamePosition = hasPrevRow && draggableRowVisibleIndex == prevRowVisibleIndex + 1 || hasNextRow && draggableRowVisibleIndex == nextRowVisibleIndex - 1;
        if (hasSamePosition)
            return;

        var moveTop = false;
        if (!hasPrevRow || prevRowVisibleIndex <= draggableRowVisibleIndex)
            moveTop = true;
        var newVisibleIndex = moveTop ? nextRowVisibleIndex : prevRowVisibleIndex;

        var sourceItemIndex = Items.IndexOf(sourceItem);
        var newItemIndex = Items.IndexOf((object)Grid.GetDataItem(newVisibleIndex));
        // Items.Move(sourceItemIndex, newItemIndex);

        myKey = Guid.NewGuid();
        ReInitializeDragging = true;
        DynamicFormData dynamicFormData = new DynamicFormData();
        dynamicFormData.DynamicFormDataId = (long)sourceItem.DynamicFormDataId;
        dynamicFormData.DynamicFormId = (long?)sourceItem.DynamicFormId;
        dynamicFormData.SortOrderAnotherBy = sourceItemIndex + 1;
        dynamicFormData.SortOrderByNo = newItemIndex + 1;
        if (dynamicFormData.SortOrderByNo > 0)
        {
            var request = new UpdateDynamicFormDataSortOrder(dynamicFormData);
            await Mediator.Send(request);
            await UpdateDataAsync();
            toastService.ShowToast("Record Moved successfully.", AC.SD.Core.Services.ToastLevel.Success);
        }
        StateHasChanged();
    }

    private RenderFragment BuildDataColumns()
    {
        RenderFragment columns = b =>
        {
            int counter = 0;
            if (dataColumnNames != null && dataColumnNames.Count() > 0)
            {
                dataColumnNames.ForEach(s =>
                {
                    int count = 0;
                    b.OpenComponent(counter, typeof(DxGridDataColumn));
                    b.AddAttribute(count + 1, "FieldName", s.Value);
                    b.AddAttribute(count + 1, "AllowSort", true);
                    b.AddAttribute(count + 1, "SortMode", DevExpress.Blazor.GridColumnSortMode.Custom);
                    b.AddAttribute(count + 1, "Caption", s.Text);
                    b.AddAttribute(count + 1, "Visible", s.IsVisible);
                    // b.AddAttribute(count + 1, "CellDisplayTemplate ", (RenderFragment<GridDataColumnCellDisplayTemplateContext>)((context) => (a) =>
                    // {
                    //     a.OpenElement(count + 1, "div");
                    //     a.AddContent(count + 1, s.Text);
                    //     a.CloseElement();
                    // }));
                    b.CloseComponent();
                });
            }
        };

        return columns;
    }
}
