@using System.ComponentModel.DataAnnotations;
@using Newtonsoft.Json.Linq;
@using System.Collections;
@using System.Dynamic;
@using System.IO
@using System.Drawing
@using global::Core.AttributeDynamicData;
@using global::Core.Entities.Views;
@using global::Core.Entities;
@using Application.Queries;
@inject IMediator Mediator
@using MediatR
@using global::Core.EntityModels;
@using global::Core.Repositories.Query;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager
@implements IAsyncDisposable
<style scoped>
    /* .responsive-video {
                            width: 960px;
                            height: 540px;
                            max-width: 100%;
                        } */

    .responsive-video {
        width: 100%;
        max-height: 100%;
        border-radius: 8px;
    }

    .media-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .media-content {
        width: 100%;
        max-width: 800px;
        height: auto;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    }

    .media-title {
        margin-top: 8px;
        font-size: 1rem;
        text-align: center;
    }
</style>
<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Auto">
            <Items>
                <DxMenuItem Text="Back" IconCssClass="fa fa-reply" Click="@onBack" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDetailDelete" Enabled="@DeleteEnabled" />
                @*  <DxMenuItem Text="View Image" IconCssClass="fa fa-image" Click="@addViewImage" Enabled="@ImageEnabled" /> *@
                <DxMenuItem Text="View/Play" IconCssClass="fa fa-video" Click="@addViewVideo" Enabled="@DeleteEnabled" />
            </Items>
        </DxMenu>

    </div>
</div>
<DxGrid @ref="SMShareGrid" Data="_DynamicFormDataAttrUploadListItems"
        KeyFieldName="UniqueId"
        ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
        FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
        ColumnResizeMode="GridColumnResizeMode.NextColumn"
        PagerNavigationMode="PagerNavigationMode.InputBox"
        PageSizeSelectorVisible="true"
        PageSizeSelectorAllRowsItemVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20"
        CssClass="ch-360"
        FocusedRowEnabled="true"
        AllowSelectRowByClick="true"
        CustomizeElement="Grid_CustomizeElement"
        RowClick="OnRowClick"
        style="padding:10px;height: calc(100vh - 500px);"
        AutoExpandAllGroupRows="true"
        VirtualScrollingEnabled="true"
        SelectionMode="GridSelectionMode.Single">
    <Columns>
        <DxGridDataColumn Caption="" MinWidth="30">
            <CellDisplayTemplate>
                @{
                    var item = (DynamicFormDataAttrUpload)context.DataItem;
                }
                @if (item.DynamicFormDataAttrUploadId > 0)
                {
                    <i class="fa fa-cloud-upload" aria-hidden="true" style="padding:5px;margin-right: 5px;color:green" title="@item.UploadedUser"></i>
                }
                else
                {
                    <i class="fa fa-cloud-upload" aria-hidden="true" style="padding:5px;margin-right: 5px;color:red;"></i>
                }
            </CellDisplayTemplate>
        </DxGridDataColumn>
        <DxGridDataColumn FieldName="FileName" Caption="File Name" MinWidth="30" />
        <DxGridDataColumn FieldName="FileSizes" Caption="File Size" MinWidth="30" />
        <DxGridDataColumn FieldName="UploadDate" Caption="Upload Date" MinWidth="40" />
        <DxGridDataColumn FieldName="UploadedUser" Caption="Uploaded User" />
    </Columns>
    <TotalSummary>
        <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="FileName" />
    </TotalSummary>
</DxGrid>
<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="Delete"
         Closed="EulaPopupClosed"
         CloseOnEscape="false"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="((e) => deleteDeleteDynamicFormDataAttrUpload())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@Imagepopup"
         ShowFooter="true"
         HeaderText="Image"
         Closed="EulaPopupClosed"
         CloseOnEscape="false"
         Height="500px"
         Width="1000px">
    <BodyContentTemplate>
        @*  <div style="overflow-x: hidden;overflow-y: auto;height: calc(100vh - 280px);">
        <img src="@imagesrc" width="@width" height="@height" />
        </div> *@
        <DxCarousel Width="800px"
                    Height="300px"
                    Data="carouselDatas"
                    ImageSrcField="Source"
                    ImageAltField="AlternateText"
                    LoopNavigationEnabled="true"
                    ImageSizeMode="CarouselImageSizeMode.FitProportional">
        </DxCarousel>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="Close" Click="Context.CloseCallback" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@Videopopup"
         ShowFooter="true"
         HeaderText="Video"
         Closed="EulaPopupClosed"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         Width="auto">
    <BodyContentTemplate>
        @* <video class="responsive-video" controls autoplay>
            <source src="@videoUrl" type="video/mp4" />
            Your browser does not support the video tag.
        </video> *@
        <DxCarousel Width="750px"
                    Height="450px"
                    AllowPagingByClick="false"
                    CssClass="demo-carousel-container"
                    ActiveItemIndexChanged="@OnSlideChanged">
            <Items>
                @foreach (var item in carouselDatas)
                {
                    <DxCarouselItem>
                        <div class="media-wrapper">
                            @if (item.Type == "video")
                            {
                                <video @ref="videoRefs[item.Index]" class="responsive-video" controls  muted>
                                    <source src="@item.Source" type="@item.FileType" />
                                    Your browser does not support the video tag.
                                </video>
                            }
                            else if (item.Type == "image")
                            {
                                <img src="@item.Source" alt="@item.AlternateText" class="responsive-video" />
                            }
                            <div class="media-title">@item.AlternateText</div>
                        </div>
                    </DxCarouselItem>
                }
            </Items>
        </DxCarousel>


    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="Close" Click="Context.CloseCallback" />
    </FooterContentTemplate>
</DxPopup>
<script>
        window.playVideo = function (videoElement) {
        if (videoElement) {
            videoElement.play();
        }
    };

    window.pauseVideo = function (videoElement) {
        if (videoElement) {
            videoElement.pause();
        }
    };
</script>
@code {
    DxCarousel carousel; ElementReference[] videoRefs;
    int iData = 0;
    int? height { get; set; }
    int? width { get; set; }
    string? imagesrc { get; set; }
    bool Imagepopup { get; set; } = false; bool isEnabled { get; set; } = false; bool Videopopup { get; set; } = false;
    bool DeleteEnabled { get; set; } = false; bool ImageEnabled { get; set; } = false; bool VideoEnabled { get; set; } = false;
    bool Blukdeletepopup { get; set; } = false; string? videoUrl { get; set; }
    private List<DynamicFormDataAttrUpload> _DynamicFormDataAttrUploadListItems { get; set; }
    private DynamicFormDataAttrUpload _selectedItems;
    IGrid? SMShareGrid { get; set; }
    [Parameter]
    public ApplicationUser _applicationUser { get; set; }
    [Parameter]
    public DynamicFormSectionAttribute dynamicFormSectionAttribute { get; set; }
    [Parameter]
    public DynamicFormData _dynamicformData { get; set; }
    [Parameter]
    public Action RevokeBack { get; set; }
    [Parameter]
    public IEnumerable _DynamicFormDataAttrUploadShowList { get; set; }
    [Parameter]
    public EventCallback<DynamicFormDataAttrUpload> OnItemSelected { get; set; }
    List<CarouselData> carouselDatas = new List<CarouselData>();
    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    async Task LoadData()
    {
        DeleteEnabled = false; carouselDatas = new List<CarouselData>(); isEnabled = false; ImageEnabled = false; VideoEnabled = false;
        var _DynamicFormDataAttrUploadList = new List<DynamicFormDataAttrUpload>();
        _DynamicFormDataAttrUploadListItems = new List<DynamicFormDataAttrUpload>();
        if (_dynamicformData != null && dynamicFormSectionAttribute !=null && _dynamicformData.DynamicFormDataId > 0)
        {
            var response = await Mediator.Send(new GetDynamicFormDataAttrUpload(dynamicFormSectionAttribute.DynamicFormSectionAttributeId, _dynamicformData.DynamicFormDataId));
            if (response != null && response.Count() > 0)
            {
                _DynamicFormDataAttrUploadList = response;
            }
        }
        if (_DynamicFormDataAttrUploadShowList != null)
        {
            var list = _DynamicFormDataAttrUploadShowList.Cast<DynamicFormDataAttrUpload>().ToList();
            if (list != null && list.Count() > 0)
            {
                _DynamicFormDataAttrUploadList.AddRange(list.Where(w => w.DynamicFormSectionAttributeId == dynamicFormSectionAttribute.DynamicFormSectionAttributeId).ToList());
            }
        }
        if (_DynamicFormDataAttrUploadList != null && _DynamicFormDataAttrUploadList.Count() > 0)
        {
            int i = 1;

            _DynamicFormDataAttrUploadList.ForEach(s =>
            {
                CarouselData carouselData = new CarouselData();
                s.UniqueId = i;
                _DynamicFormDataAttrUploadListItems.Add(s);
                // carouselData.Source = ResizeImage(s);
                //if (s.ImageData != null)
                //{
                    if ((!string.IsNullOrEmpty(s.ImageType)))
                    {
                        var type = s.ImageType.Split("/")[0].ToLower();
                        carouselData.Source = NavigationManager.BaseUri + @"AppUpload\" + s.FilePath;
                        // carouselData.Source = "data:" + s.ImageType + ";base64," + Convert.ToBase64String(s.ImageData);
                        carouselData.AlternateText = s.FileName;
                        carouselData.Type = type;
                        carouselData.FileType = s.ImageType;
                        carouselData.Index = (i - 1);
                        carouselDatas.Add(carouselData);
                    }
               // }
                i++;
            });
            videoRefs = new ElementReference[carouselDatas.Count];
            isEnabled = true;
            _selectedItems = _DynamicFormDataAttrUploadListItems.FirstOrDefault();
            ImageEnabled = false; DeleteEnabled = false; VideoEnabled = false;
            if (_selectedItems != null)
            {
                if ((!string.IsNullOrEmpty(_selectedItems.ImageType)) && _selectedItems.ImageType.Split("/")[0].ToLower() == "image".ToLower())
                {
                    ImageEnabled = true;
                }
                if ((!string.IsNullOrEmpty(_selectedItems.ImageType)) && _selectedItems.ImageType.Split("/")[0].ToLower() == "video".ToLower())
                {
                    VideoEnabled = true;
                }
            }
            DeleteEnabled = true;
            SMShareGrid.SetFocusedRowIndex(0);
            StateHasChanged();
        }
    }
    private async Task OnSlideChanged(int newIndex)
    {
        foreach (var i in carouselDatas)
        {
            if (carouselDatas[i.Index].Type == "video")
            {
                if (i.Index == newIndex)
                {
                    await JSRuntime.InvokeVoidAsync("playVideo", videoRefs[i.Index]);
                }
                else
                {
                    await JSRuntime.InvokeVoidAsync("pauseVideo", videoRefs[i.Index]);
                }
            }
        }
    }
    string ResizeImage(DynamicFormDataAttrUpload dynamicFormDataAttrUpload)
    {
        using (var ms = new MemoryStream(dynamicFormDataAttrUpload.ImageData))
        {
            var image = System.Drawing.Image.FromStream(ms);

            var ratioX = (double)1500 / image.Width;
            var ratioY = (double)700 / image.Height;

            var ratio = Math.Min(ratioX, ratioY);

            var width = (int)(image.Width * ratio);
            var height = (int)(image.Height * ratio);

            var newImage = new Bitmap(width, height);

            Graphics.FromImage(newImage).DrawImage(image, 0, 0, width, height);

            Bitmap bmp = new Bitmap(newImage);

            ImageConverter converter = new ImageConverter();

            var data = (byte[])converter.ConvertTo(bmp, typeof(byte[]));

            return "data:" + dynamicFormDataAttrUpload.ImageType + ";base64," + Convert.ToBase64String(data);
        }
    }
    async Task addViewImage()
    {
        imagesrc = "";
        if (_selectedItems != null && _selectedItems.ImageData != null)
        {
            //imagesrc = ResizeImage(_selectedItems);
            // System.Drawing.Image image = System.Drawing.Image.FromStream(new System.IO.MemoryStream(_selectedItems.ImageData));
            //height = image.Height; width = image.Width;
            // imagesrc = "data:" + _selectedItems.ImageType + ";base64," + Convert.ToBase64String(_selectedItems.ImageData);
            Imagepopup = true;
        }
    }
    void addViewVideo()
    {
        videoUrl = "";
        if (_selectedItems != null && !string.IsNullOrEmpty(_selectedItems.FilePath))
        {
           // string base64 = Convert.ToBase64String(_selectedItems.ImageData);
            //videoUrl = $"data:video/mp4;base64,{base64}";
            videoUrl = NavigationManager.BaseUri + @"AppUpload\" + _selectedItems.FilePath;
            Videopopup = true;
        }
    }
    void onBack()
    {
        RevokeBack.Invoke();
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "UniqueId");
        _selectedItems = _DynamicFormDataAttrUploadListItems.FirstOrDefault(f => f.UniqueId == (int?)UniqueId);
        ImageEnabled = false; DeleteEnabled = false; VideoEnabled = false;
        if (_selectedItems != null)
        {
            if ((!string.IsNullOrEmpty(_selectedItems.ImageType)) && _selectedItems.ImageType.Split("/")[0].ToLower() == "image".ToLower())
            {
                ImageEnabled = true;
            }
            if ((!string.IsNullOrEmpty(_selectedItems.ImageType)) && _selectedItems.ImageType.Split("/")[0].ToLower() == "video".ToLower())
            {
                VideoEnabled = true;
            }
            DeleteEnabled = true;
        }
    }
    void addDetailDelete()
    {
        Blukdeletepopup = true;
    }
    async Task deleteDeleteDynamicFormDataAttrUpload()
    {
        try
        {
            if (_selectedItems.DynamicFormDataAttrUploadId > 0)
            {
                var response = await Mediator.Send(new DeleteDynamicFormDataAttrUpload(_selectedItems));
                if (response != null)
                {
                    Blukdeletepopup = false;
                    toastService.ShowToast("Delete record Successfully", AC.SD.Core.Services.ToastLevel.Success);
                    await LoadData();
                }
            }
            else
            {
                var indexof = _DynamicFormDataAttrUploadListItems.IndexOf(_selectedItems);
                _DynamicFormDataAttrUploadListItems.RemoveAt(indexof);
                toastService.ShowToast("Delete record Successfully", AC.SD.Core.Services.ToastLevel.Success);
                _DynamicFormDataAttrUploadShowList = _DynamicFormDataAttrUploadListItems;
                Blukdeletepopup = false;
                await OnItemSelected.InvokeAsync(_selectedItems);
                await LoadData();
            }
        }
        catch (Exception ex)
        {

        }
    }

    async Task EulaPopupClosed(PopupClosedEventArgs args)
    {
        Blukdeletepopup = false; Imagepopup = false; Videopopup = false;
        // await LoadData();
    }
    public async ValueTask DisposeAsync()
    {
    }
}
