@using System.ComponentModel.DataAnnotations;
@using Newtonsoft.Json.Linq;
@using System.Collections;
@using System.Dynamic;
@using System.IO
@using System.Drawing
@using global::Core.AttributeDynamicData;
@using global::Core.Entities.Views;
@using global::Core.Entities;
@using Application.Queries;
@inject IMediator Mediator
@using MediatR
@using global::Core.EntityModels;
@using global::Core.Repositories.Query;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Auto">
            <Items>
                <DxMenuItem Text="Back" IconCssClass="fa fa-reply" Click="@onBack" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDetailDelete" Enabled="@DeleteEnabled" />
                <DxMenuItem Text="View Image" IconCssClass="fa fa-image" Click="@addViewImage" Enabled="@DeleteEnabled" />
            </Items>
        </DxMenu>

    </div>
</div>
<DxGrid @ref="SMShareGrid" Data="_DynamicFormDataAttrUploadListItems"
        KeyFieldName="UniqueId"
        ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
        FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
        ColumnResizeMode="GridColumnResizeMode.NextColumn"
        PagerNavigationMode="PagerNavigationMode.InputBox"
        PageSizeSelectorVisible="true"
        PageSizeSelectorAllRowsItemVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20"
        CssClass="ch-360"
        FocusedRowEnabled="true"
        AllowSelectRowByClick="true"
        CustomizeElement="Grid_CustomizeElement"
        RowClick="OnRowClick"
        style="padding:10px;height: calc(100vh - 500px);"
        AutoExpandAllGroupRows="true"
        VirtualScrollingEnabled="true"
        SelectionMode="GridSelectionMode.Single">
    <Columns>
        <DxGridDataColumn Caption="" MinWidth="30">
            <CellDisplayTemplate>
                @{
                    var item = (DynamicFormDataAttrUpload)context.DataItem;
                }
                @if (item.DynamicFormDataAttrUploadId > 0)
                {
                    <i class="fa fa-cloud-upload" aria-hidden="true" style="padding:5px;margin-right: 5px;color:green" title="@item.UploadedUser"></i>
                }
                else
                {
                    <i class="fa fa-cloud-upload" aria-hidden="true" style="padding:5px;margin-right: 5px;color:red;"></i>
                }
            </CellDisplayTemplate>
        </DxGridDataColumn>
        <DxGridDataColumn FieldName="FileName" Caption="File Name" MinWidth="30" />
        <DxGridDataColumn FieldName="FileSizes" Caption="File Size" MinWidth="30" />
        <DxGridDataColumn FieldName="UploadDate" Caption="Upload Date" MinWidth="40" />
        <DxGridDataColumn FieldName="UploadedUser" Caption="Uploaded User" />
    </Columns>
    <TotalSummary>
        <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="FileName" />
    </TotalSummary>
</DxGrid>
<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="Delete"
         Closed="EulaPopupClosed"
         CloseOnEscape="false"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="((e) => deleteDeleteDynamicFormDataAttrUpload())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@Imagepopup"
         ShowFooter="true"
         HeaderText="Image"
         Closed="EulaPopupClosed"
         CloseOnEscape="false"
         Height="500px"
         Width="1000px">
    <BodyContentTemplate>
        @*  <div style="overflow-x: hidden;overflow-y: auto;height: calc(100vh - 280px);">
        <img src="@imagesrc" width="@width" height="@height" />
        </div> *@
        <DxCarousel Width="800px"
                    Height="300px"
                    Data="carouselDatas"
                    ImageSrcField="Source"
                    ImageAltField="AlternateText"
                    LoopNavigationEnabled="true"
                    ImageSizeMode="CarouselImageSizeMode.FitProportional">
        </DxCarousel>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="Close" Click="Context.CloseCallback" />
    </FooterContentTemplate>
</DxPopup>
@code {
    int? height { get; set; }
    int? width { get; set; }
    string? imagesrc { get; set; }
    bool Imagepopup { get; set; } = false; bool isEnabled { get; set; } = false;
    bool DeleteEnabled { get; set; } = false;
    bool Blukdeletepopup { get; set; } = false;
    private List<DynamicFormDataAttrUpload> _DynamicFormDataAttrUploadListItems { get; set; }
    private DynamicFormDataAttrUpload _selectedItems;
    IGrid? SMShareGrid { get; set; }
    [Parameter]
    public ApplicationUser _applicationUser { get; set; }
    [Parameter]
    public DynamicFormSectionAttribute dynamicFormSectionAttribute { get; set; }
    [Parameter]
    public DynamicFormData _dynamicformData { get; set; }
    [Parameter]
    public Action RevokeBack { get; set; }
    [Parameter]
    public IEnumerable _DynamicFormDataAttrUploadShowList { get; set; }
    [Parameter]
    public EventCallback<DynamicFormDataAttrUpload> OnItemSelected { get; set; }
    List<CarouselData> carouselDatas = new List<CarouselData>();
    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }
    async Task LoadData()
    {
        DeleteEnabled = false; carouselDatas = new List<CarouselData>(); isEnabled = false;
        var _DynamicFormDataAttrUploadList = new List<DynamicFormDataAttrUpload>();
        _DynamicFormDataAttrUploadListItems = new List<DynamicFormDataAttrUpload>();
        if (_dynamicformData != null && _dynamicformData.DynamicFormDataId > 0)
        {
            var response = await Mediator.Send(new GetDynamicFormDataAttrUpload(dynamicFormSectionAttribute.DynamicFormSectionAttributeId, _dynamicformData.DynamicFormDataId));
            if (response != null && response.Count() > 0)
            {
                _DynamicFormDataAttrUploadList = response;
            }
        }
        if (_DynamicFormDataAttrUploadShowList != null)
        {
            var list = _DynamicFormDataAttrUploadShowList.Cast<DynamicFormDataAttrUpload>().ToList();
            if (list != null && list.Count() > 0)
            {
                _DynamicFormDataAttrUploadList.AddRange(list.Where(w => w.DynamicFormSectionAttributeId == dynamicFormSectionAttribute.DynamicFormSectionAttributeId).ToList());
            }
        }
        if (_DynamicFormDataAttrUploadList != null && _DynamicFormDataAttrUploadList.Count() > 0)
        {
            int i = 1;

            _DynamicFormDataAttrUploadList.ForEach(s =>
            {
                CarouselData carouselData = new CarouselData();
                s.UniqueId = i;
                _DynamicFormDataAttrUploadListItems.Add(s);
                // carouselData.Source = ResizeImage(s);
                if (s.ImageData != null)
                {
                    carouselData.Source = "data:" + s.ImageType + ";base64," + Convert.ToBase64String(s.ImageData);
                    carouselData.AlternateText = s.FileName;
                    carouselDatas.Add(carouselData);
                }
                i++;
            });
            isEnabled = true;
            _selectedItems = _DynamicFormDataAttrUploadListItems.FirstOrDefault();
            DeleteEnabled = true;
            SMShareGrid.SetFocusedRowIndex(0);
            StateHasChanged();
        }
    }
    string ResizeImage(DynamicFormDataAttrUpload dynamicFormDataAttrUpload)
    {
        using (var ms = new MemoryStream(dynamicFormDataAttrUpload.ImageData))
        {
            var image = System.Drawing.Image.FromStream(ms);

            var ratioX = (double)1500 / image.Width;
            var ratioY = (double)700 / image.Height;

            var ratio = Math.Min(ratioX, ratioY);

            var width = (int)(image.Width * ratio);
            var height = (int)(image.Height * ratio);

            var newImage = new Bitmap(width, height);

            Graphics.FromImage(newImage).DrawImage(image, 0, 0, width, height);

            Bitmap bmp = new Bitmap(newImage);

            ImageConverter converter = new ImageConverter();

            var data = (byte[])converter.ConvertTo(bmp, typeof(byte[]));

            return "data:" + dynamicFormDataAttrUpload.ImageType + ";base64," + Convert.ToBase64String(data);
        }
    }
    async Task addViewImage()
    {
        imagesrc = "";
        if (_selectedItems != null && _selectedItems.ImageData != null)
        {
            //imagesrc = ResizeImage(_selectedItems);
            // System.Drawing.Image image = System.Drawing.Image.FromStream(new System.IO.MemoryStream(_selectedItems.ImageData));
            //height = image.Height; width = image.Width;
            // imagesrc = "data:" + _selectedItems.ImageType + ";base64," + Convert.ToBase64String(_selectedItems.ImageData);
            Imagepopup = true;
        }
    }
    void onBack()
    {
        RevokeBack.Invoke();
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "UniqueId");
        _selectedItems = _DynamicFormDataAttrUploadListItems.FirstOrDefault(f => f.UniqueId == (int?)UniqueId);

    }
    void addDetailDelete()
    {
        Blukdeletepopup = true;
    }
    async Task deleteDeleteDynamicFormDataAttrUpload()
    {
        try
        {
            if (_selectedItems.DynamicFormDataAttrUploadId > 0)
            {
                var response = await Mediator.Send(new DeleteDynamicFormDataAttrUpload(_selectedItems));
                if (response != null)
                {
                    Blukdeletepopup = false;
                    toastService.ShowToast("Delete record Successfully", AC.SD.Core.Services.ToastLevel.Success);
                    await LoadData();
                }
            }
            else
            {
                var indexof = _DynamicFormDataAttrUploadListItems.IndexOf(_selectedItems);
                _DynamicFormDataAttrUploadListItems.RemoveAt(indexof);
                toastService.ShowToast("Delete record Successfully", AC.SD.Core.Services.ToastLevel.Success);
                _DynamicFormDataAttrUploadShowList = _DynamicFormDataAttrUploadListItems;
                Blukdeletepopup = false;
                await OnItemSelected.InvokeAsync(_selectedItems);
                await LoadData();
            }
        }
        catch (Exception ex)
        {

        }
    }

    async Task EulaPopupClosed(PopupClosedEventArgs args)
    {
        Blukdeletepopup = false; Imagepopup = false;
        // await LoadData();
    }
    public async ValueTask DisposeAsync()
    {
    }
}
