@page "/DynamicMasterSetup/dynamicFormList/{SessionId:guid}"
@using global::Core.Entities.Views;

@inject IMediator Mediator
@using Application.Queries;
@using MediatR
@using global::Core.Entities;
@using global::Core.EntityModels;
@using global::Core.Repositories.Query;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager




<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Back" IconCssClass="fa fa-reply" Click="@backUrl" />
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDetailDelete" Enabled="@DeleteEnabled" />
            </Items>
        </DxMenu>
    </div>
</div>
<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">
    <DxGrid @ref="Grid" Data="@_dynamicformDataList" EditMode="GridEditMode.EditForm" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            style="height: calc(100vh - 220px);"
            CssClass="ch-360"
            FocusedRowEnabled="true"
            KeyFieldName="DynamicFormDataId"
            AllowSelectRowByClick="true"
            RowClick="OnRowclick"
            CustomizeElement="Grid_CustomizeElement"
            AutoExpandAllGroupRows="true"
            SelectionMode="GridSelectionMode.Multiple"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            RowDoubleClick="OnRowDoubleClick">

        <Columns>
            <DxGridDataColumn FieldName="ScreenID" MinWidth="50" Caption="Screen Name" />
            <DxGridDataColumn FieldName="Name" Caption="Name" MinWidth="50" />
            <DxGridDataColumn FieldName="ModifiedBy" Caption="Modified By" MinWidth="50" />
            <DxGridDataColumn FieldName="ModifiedDate" Caption="Modified Date" MinWidth="50" />
        </Columns>
    </DxGrid>
</DxLoadingPanel>



<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="CRT"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="((e) => bulkDelete())" />
    </FooterContentTemplate>
</DxPopup>

@code {
    [Parameter]
    public Guid? SessionId { get; set; }
    IGrid Grid { get; set; }
    bool PanelVisible { get; set; }
    private DynamicForm _dynamicForm;
    public ApplicationUser? applicationUser { get; private set; }
    private DynamicFormData _selectedItems;
    bool EditEnabled { get; set; } = false;
    bool DeleteEnabled { get; set; } = false;
    bool Blukdeletepopup { get; set; } = false;
    private List<DynamicFormData> _dynamicformDataList;
    protected override async Task OnInitializedAsync()
    {

        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        await UpdateDataAsync();
    }
    async Task UpdateDataAsync()
    {
        EditEnabled = false; DeleteEnabled = false;

        if (SessionId != null)
        {
            _dynamicForm = await Mediator.Send(new GetAllDynamicFormList(SessionId, -1));
            if (_dynamicForm != null)
            {
                _dynamicformDataList = await Mediator.Send(new GetDynamicFormDataById(_dynamicForm.ID));
                PanelVisible = true;
                if (_dynamicformDataList != null && _dynamicformDataList.Count > 0)
                {
                    EditEnabled = true; DeleteEnabled = true;
                    _selectedItems = _dynamicformDataList.FirstOrDefault();
                    Grid.SetFocusedRowIndex(0);
                }
            }
            PanelVisible = false;
            StateHasChanged();
        }
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
    }
    void OnRowclick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "DynamicFormDataId");
        _selectedItems = _dynamicformDataList.FirstOrDefault(f => f.DynamicFormDataId == (long?)UniqueId);
        EditEnabled = true;
        DeleteEnabled = true;
    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowclick(e);
        NavigationManager.NavigateTo("DynamicMasterSetup/dynamicForms/" + SessionId + "/" + _selectedItems.SessionId);
    }
    void addNew()
    {
        NavigationManager.NavigateTo("DynamicMasterSetup/dynamicForms/" + SessionId);
    }
    void addEdit()
    {
        NavigationManager.NavigateTo("DynamicMasterSetup/dynamicForms/" + SessionId + "/" + _selectedItems.SessionId);
    }
    void backUrl()
    {
        NavigationManager.NavigateTo("DynamicMasterSetup");
    }
    void addDetailDelete()
    {
        Blukdeletepopup = true;
    }
    async Task EulaPopupClosed(PopupClosedEventArgs args)
    {
        Blukdeletepopup = false;

        await UpdateDataAsync();
    }
    async Task bulkDelete()
    {
        var request = new DeleteDynamicFormData(_selectedItems);
        await Mediator.Send(request);
        Blukdeletepopup = false;
        await UpdateDataAsync();



    }
}
