@using Application.Commands;
@using Application.Queries;
@using MediatR
@using System.Dynamic
@using System.Linq.Expressions
@using global::Core.Entities;
@using global::Core.Entities.Views;
@using global::Core.Repositories.Query;
@using global::Core.EntityModels;
@inject IMediator Mediator
@using DevExpress.Export
@using Application.Response;
@using System.ComponentModel.DataAnnotations;
@inject IJSRuntime JSRuntime;
@using System.Reflection;
@inject ClipboardService ClipboardService
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@using global::Core.Helpers;
@* @inject AC.SD.Core.Helpers.TreeGenerateRecursive _treeGenerateRecursive *@
@inject NavigationManager NavigationManager
@page "/RegistrationRequestList/RegistrationRequestForm"
@page "/RegistrationRequestList/RegistrationRequestForm/{SessionId:guid}"
@implements IAsyncDisposable
<style>
    .FormLayoutGroupCss {
        padding: 5px;
    }

</style>
<div class="card" style="margin-bottom:10px; margin-left:-12px; margin-right:-12px;">
    <div class="card-body p-0">
        <div class="row">
            <div class="">
                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Desktop">
                    <Items>
                        <DxMenuItem Text="Back" IconCssClass="fa fa-reply" Click="@backUrl" />
                        <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" />
                        <DxMenuItem Text="Save" IconCssClass="fa fa-save" Click="@SubmitFormExternally" />
                        <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDetailDelete" Enabled="@EditEnabled" />
                    </Items>
                </DxMenu>
            </div>
        </div>
    </div>
</div>
<div class="" style="overflow-x: hidden;overflow-y: auto;height: calc(100vh - 210px);">
    <div class="row align-items-start" style="border: 1px solid #d5d4d4;">
        <div class="cw-480" style="margin-top:10px;margin-bottom:10px;">
            <EditForm EditContext="this._editContext" Context="EditFormContext" OnValidSubmit="HandleValidSubmit">
                <DxFormLayout CssClass="w-100">
                    <DataAnnotationsValidator />
                    <DxFormLayoutGroup ColSpanMd="12" Caption="Registration Request" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.End" Expanded="true" AnimationType="LayoutAnimationType.Slide">
                        <DxFormLayoutItem Caption="Registration Country:" ColSpanMd="6">
                            <DxComboBox Data="@_applicationMasterChildListItems"
                                        NullText="Select Registration Country..."
                                        SearchMode="ListSearchMode.AutoSearch"
                                        SearchFilterCondition="ListSearchFilterCondition.Contains"
                                        ListRenderMode="ListRenderMode.Virtual"
                                        TextFieldName="Value"
                                        ValueFieldName="ApplicationMasterChildId"
                                        Value="@Data.RegistrationCountryId"
                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                        ValueExpression="@(() => Data.RegistrationCountryId )"
                                        ValueChanged="@((long? RegistrationCountryId) => SelectedRegistrationCountryChanged(RegistrationCountryId))"
                                        ShowValidationIcon="true">

                            </DxComboBox>
                            <ValidationMessage For="@(() => Data.RegistrationCountryId)" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Profile" ColSpanMd="6">
                            <DxComboBox Data="@_documentProfileNoList"
                                        NullText="Select Profile..."
                                        ListRenderMode="ListRenderMode.Virtual"
                                        SearchMode="ListSearchMode.AutoSearch"
                                        SearchFilterCondition="ListSearchFilterCondition.Contains"
                                        TextFieldName="Name"
                                        ValueFieldName="ProfileID"
                                        Value="@Data.ProfileId"
                                        Enabled="@PreProfileEnabled"
                                        ValueExpression="@(() => Data.ProfileId )"
                                        ValueChanged="@((long? plantData) => SelectedProfileChanged(plantData))"
                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                        ShowValidationIcon="true">
                                <Columns>
                                    <DxListEditorColumn FieldName="@nameof(DocumentProfileNoSeriesModel.Name)"
                                                        Caption="Name"
                                                        Width="180px" />
                                    <DxListEditorColumn FieldName="@nameof(DocumentProfileNoSeriesModel.Description)"
                                                        Caption="Description" />
                                    <DxListEditorColumn FieldName="@nameof(DocumentProfileNoSeriesModel.Abbreviation)"
                                                        Caption="Abbreviation" />
                                    <DxListEditorColumn FieldName="@nameof(DocumentProfileNoSeriesModel.SampleDocumentNo)"
                                                        Caption="Sample Document No" />
                                </Columns>
                            </DxComboBox>
                            <ValidationMessage For="@(() => Data.ProfileId)" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Profile No" ColSpanMd="12">
                            <DxTextBox @bind-Text="@Data.ProfileNo" Enabled="false" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Item Information" ColSpanMd="12">
                            <DxDropDownBox @bind-Value="ItemValue"
                                           QueryDisplayText="QueryDisplayDynamicComboBoxText"
                                           ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                           NullText="Select a Item..."
                                           ShowValidationIcon="true">
                                <DropDownBodyTemplate Context="ddbBodyContext">
                                    <DxGrid Data="@_dynamicformObjectDataList"
                                            KeyFieldName="DynamicFormDataId" ShowSearchBox="true"
                                            HighlightRowOnHover="true"
                                            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                            SearchTextParseMode="GridSearchTextParseMode.GroupWordsByAnd"
                                            SelectionMode="GridSelectionMode.Single"
                                            AllowSelectRowByClick="true"
                                            FocusedRowEnabled="true"
                                            TextWrapEnabled="false"
                                            style="height: calc(100vh - 500px);"
                                            CssClass="w-100"
                                            VirtualScrollingEnabled="true"
                                            SelectedDataItem="@(ddbBodyContext.DropDownBox.Value as ExpandoObject)"
                                            SelectedDataItemChanged="item => GridSelectedDataItemChanged(item, ddbBodyContext.DropDownBox)">
                                        <Columns>
                                            <DxGridSelectionColumn AllowSelectAll="true"></DxGridSelectionColumn>
                                            @BuildDataColumns()
                                        </Columns>
                                    </DxGrid>
                                </DropDownBodyTemplate>
                            </DxDropDownBox>
                            <DxSpinEdit @bind-Value="@Data.ProductSpecificationDynamicFormId" ShowValidationIcon="true" style="display:none;" />
                            <ValidationMessage For="@(() => Data.ProductSpecificationDynamicFormId)" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Variation No" ColSpanMd="12">
                            <DxDropDownBox @bind-Value="VariationNoValue"
                                           QueryDisplayText="QueryDisplayVariationDynamicComboBoxText"
                                           ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                           NullText="Select a Variation No..."
                                           ShowValidationIcon="true">
                                <DropDownBodyTemplate Context="ddbBodyContext1">
                                    <DxGrid Data="@_dynamicformObjectDataVariationList"
                                            KeyFieldName="DynamicFormDataId" ShowSearchBox="true"
                                            HighlightRowOnHover="true"
                                            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                            SearchTextParseMode="GridSearchTextParseMode.GroupWordsByAnd"
                                            SelectionMode="GridSelectionMode.Multiple"
                                            AllowSelectRowByClick="true"
                                            FocusedRowEnabled="true"
                                            TextWrapEnabled="false"
                                            VirtualScrollingEnabled="true"
                                            style="height: calc(100vh - 500px);"
                                            CssClass="w-100"
                                            SelectedDataItems="@(ddbBodyContext1.DropDownBox.Value as List<ExpandoObject> )"
                                            SelectedDataItemsChanged="item => GridVariationSelectedDataItemChanged(item, ddbBodyContext1.DropDownBox)">
                                        <Columns>
                                            <DxGridSelectionColumn AllowSelectAll="true"></DxGridSelectionColumn>
                                            @BuildDataVariationsColumns()
                                        </Columns>
                                    </DxGrid>
                                </DropDownBodyTemplate>
                            </DxDropDownBox>
                            <DxSpinEdit @bind-Value="@Data.VariationNoId" ShowValidationIcon="true" style="display:none;" />
                            <ValidationMessage For="@(() => Data.VariationNoId)" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="CC No" ColSpanMd="6">
                            <DxTextBox @bind-Text="@Data.CCNo" ShowValidationIcon="true"></DxTextBox>

                            <ValidationMessage For="@(() => Data.CCNo)" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="IsAllow NA" ColSpanMd="6">
                            <DxCheckBox @bind-Checked="@Data.IsAllowNA"></DxCheckBox>

                            <ValidationMessage For="@(() => Data.IsAllowNA)" />
                        </DxFormLayoutItem>
                    </DxFormLayoutGroup>
                    <DxFormLayoutGroup ColSpanMd="12" Caption="Summary of requirement" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.End" Expanded="true" AnimationType="LayoutAnimationType.Slide">
                        <DxGrid @ref="Grid"
                                Data="@VariationRequirementInformationModels"
                                FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                ShowSearchBox="true"
                                ColumnResizeMode="GridColumnResizeMode.NextColumn"
                                TextWrapEnabled="false"
                                ShowGroupPanel="true"
                                AutoExpandAllGroupRows="true"
                                style="height: calc(100vh - 400px);"
                                VirtualScrollingEnabled="true" Context="Context">
                            <Columns>
                                @if (dataColumnNames != null && dataColumnNames.Count() > 0)
                                {
                                    foreach (var s in dataColumnNames)
                                    {
                                        if (s.Value == "DynamicFormDataNameId")
                                        {
                                            <DxGridDataColumn Caption="@s.Text" Visible="@s.IsVisible" MinWidth="100">
                                                <CellDisplayTemplate>
                                                    @{
                                                        var item = (VariationRequirementInformationModel)context.DataItem;
                                                    }
                                                    @BuildDataMemoBox(item, s.Value)
                                                </CellDisplayTemplate>
                                            </DxGridDataColumn>
                                        }
                                        else if (s.Value == "DetailRequirementId")
                                        {
                                            <DxGridDataColumn Caption="@s.Text" Visible="@s.IsVisible" MinWidth="100">
                                                <CellDisplayTemplate>
                                                    @{
                                                        var item = (VariationRequirementInformationModel)context.DataItem;
                                                    }
                                                    @BuildDataMemoBox(item, s.Value)
                                                </CellDisplayTemplate>
                                            </DxGridDataColumn>
                                        }
                                        else
                                        {
                                            if (s.Value == "Index")
                                            {
                                                <DxGridDataColumn FieldName="@s.Value" Caption="@s.Text" Width="4%" MinWidth="50"></DxGridDataColumn>
                                            }
                                            else if (s.Value == "ByName")
                                            {
                                                <DxGridDataColumn FieldName="@s.Value" GroupIndex="0" Caption="@s.Text" MinWidth="80"></DxGridDataColumn>
                                            }
                                            else
                                            {
                                                <DxGridDataColumn FieldName="@s.Value" Caption="@s.Text" MinWidth="100"></DxGridDataColumn>
                                            }
                                        }
                                    }
                                }
                            </Columns>
                        </DxGrid>
                    </DxFormLayoutGroup>
                </DxFormLayout>
                @* @CreateEditFormFields() *@
                <DxFormLayout CssClass="w-100">
                    <DxFormLayoutGroup ColSpanMd="12" Caption="Progress of Submission" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.End" Expanded="false" AnimationType="LayoutAnimationType.Slide">
                        <DxFormLayoutItem Caption="Expected Submission Date" ColSpanMd="6">
                            <DxDateEdit NullText="Date" @bind-Date="@Data.ExpectedSubmissionDate" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Submission Date" ColSpanMd="6">
                            <DxDateEdit NullText="Date" @bind-Date="@Data.SubmissionDate" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Submission No" ColSpanMd="6">
                            <DxTextBox @bind-Text="@Data.SubmissionNo" ShowValidationIcon="true"></DxTextBox>

                            <ValidationMessage For="@(() => Data.SubmissionNo)" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Purpose Of Registration" ColSpanMd="6">
                            <DxTextBox @bind-Text="@Data.PurposeOfRegistration" ShowValidationIcon="true"></DxTextBox>
                            <ValidationMessage For="@(() => Data.PurposeOfRegistration)" />
                        </DxFormLayoutItem>
                    </DxFormLayoutGroup>
                </DxFormLayout>
            </EditForm>
            <div class="row align-items-end" style="border-top: 1px solid #d5d4d4; margin-top:10px;">
                <div class="cw-480 ch-220" style="margin-top:10px;">
                    <DxFormLayout CssClass="w-100">
                        <DxFormLayoutTabPages @bind-ActiveTabIndex="@ActiveSubTabIndex" RenderMode="TabsRenderMode.Default" TabClick=@OnTabClick>
                            @* <DxFormLayoutTabPage Caption="Section Entry">
                            <RegistrationRequestFormLine @ref="refRegistrationRequestFormLine" applicationUser="@applicationUser" _registrationRequestData="@_registrationRequestData"></RegistrationRequestFormLine>
                            </DxFormLayoutTabPage> *@
                            <DxFormLayoutTabPage Caption="Progress by registration department">
                                <RegistrationRequestProgressByRegistrationDepartments @ref="refRegistrationRequestProgressByRegistrationDepartments" applicationUser="@applicationUser" _registrationRequestData="@_registrationRequestData"></RegistrationRequestProgressByRegistrationDepartments>
                            </DxFormLayoutTabPage>
                            @* <DxFormLayoutTabPage Caption="Assignment of Job for QC department">
                            <RegistrationRequestAssignmentOfJobs @ref="refRegistrationRequestAssignmentOfJobs" applicationUser="@applicationUser" _registrationRequestData="@_registrationRequestData"></RegistrationRequestAssignmentOfJobs>
                            </DxFormLayoutTabPage> *@
                            @if (departments != null && departments.Count() > 0)
                            {
                                if (_registrationRequestData != null && _registrationRequestData.RegistrationRequestId > 0)
                                {
                                    foreach (var d in departments)
                                    {
                                        @renderLayoutTabPage(d)

                                    }
                                }
                            }
                        </DxFormLayoutTabPages>
                    </DxFormLayout>
                </div>
            </div>
        </div>
    </div>
</div>
<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         ShowCloseButton="true"
         HeaderText="Delete"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="((e) => bulkDelete())" />
    </FooterContentTemplate>
</DxPopup>
@code {
    bool? UnSaved { get; set; } = false;
    IGrid Grid { get; set; }
    bool Blukdeletepopup { get; set; } = false;
    public List<DocumentProfileNoSeriesModel> _documentProfileNoList { get; set; }
    private RegistrationRequestFormLine refRegistrationRequestFormLine;
    private RegistrationRequestProgressByRegistrationDepartments refRegistrationRequestProgressByRegistrationDepartments;
    private RegistrationRequestAssignmentOfJobs refRegistrationRequestAssignmentOfJobs;
    int ActiveSubTabIndex { get; set; } = 0;
    object ItemValue { get; set; }
    object VariationNoValue { get; set; }
    [Parameter]
    public Guid? SessionId { get; set; }
    public ApplicationUser applicationUser { get; private set; }
    private RegistrationRequest Data = new RegistrationRequest();
    EditContext _editContext; bool EditEnabled { get; set; } = false; bool loading { get; set; } = false;
    private List<ApplicationMasterChildModel> _applicationMasterChildListItems;
    private List<ExpandoObject?> _dynamicformObjectDataList { get; set; }
    private List<DropDownOptionsModel> gridlistss { get; set; }
    private List<ExpandoObject?> _dynamicformObjectDataVariationList { get; set; }
    private List<DropDownOptionsModel> _variationgridlistss { get; set; }
    public RegistrationRequest _registrationRequestData;
    public DropDownOptionsGridListModel dropDownOptionsGridListModel { get; set; }
    private List<VariationRequirementInformationModel> VariationRequirementInformationModels { get; set; }
    private List<RegistrationRequestVariationForm> RegistrationRequestVariationForm { get; set; }
    private List<DropDownOptionsModel> _Headergridlistss { get; set; }
    public string? varitionCode { get; set; }
    public bool PreProfileEnabled { get; set; } = true;
    private List<DropDownOptionsListModel> departments { get; set; } = new List<DropDownOptionsListModel>();
    private List<DropDownOptionsModel> dataColumnNames = new List<DropDownOptionsModel>();
    protected override async Task OnInitializedAsync()
    {
        _editContext = new EditContext(Data);
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _applicationMasterChildListItems = await Mediator.Send(new GetAllApplicationMasterChildListQuery("154"));
        _documentProfileNoList = await Mediator.Send(new GetDocumentProfiles());
        List<long?> dynamicFormIds = new List<long?>();
        var result = await Mediator.Send(new GetDynamicFormScreenNameCheckValidation("ProductSpecification"));
        if (result != null && result.ID > 0)
        {
            dynamicFormIds.Add(result.ID); List<long?> ids = new List<long?>();
            var list = await Mediator.Send(new GetDynamicFormItemLineDropdoenList(dynamicFormIds, applicationUser.UserID, ids));
            gridlistss = new List<DropDownOptionsModel>();
            gridlistss = list.DropDownGridOptionsModel.FirstOrDefault()?.DropDownOptionsModels;
            _dynamicformObjectDataList = new List<ExpandoObject>();
            if (list.ObjectData != null)
            {
                foreach (var v in (list.ObjectData as IEnumerable<ExpandoObject>))
                {
                    dynamic eod = v;
                    var vv = eod.DynamicFormId;
                    var AttributeDetailIds = eod.AttributeDetailID;
                    string listone = string.Empty;
                    if (gridlistss != null && gridlistss.Count() > 0)
                    {
                        var g1 = gridlistss.OrderBy(o => o.OrderBy).ToList();
                        g1.ForEach(q =>
                        {
                            var byName = (IDictionary<string, object>)v;
                            var names = (string)byName[q.Value]?.ToString();
                            listone += names + "|";
                        });
                    }
                    eod.DisplayItemsQuery = listone;
                    _dynamicformObjectDataList.Add(eod);
                }
            }
        }
        List<long?> dynamicFormIdss = new List<long?>();
        var result1 = await Mediator.Send(new GetDynamicFormScreenNameCheckValidation("MasterRegistrationInformation"));
        if (result1 != null && result1.ID > 0)
        {
            dynamicFormIdss.Add(result1.ID); List<long?> ids = new List<long?>();
            var lists = await Mediator.Send(new GetDynamicFormItemLineDropdoenList(dynamicFormIdss, applicationUser.UserID, ids));
            _variationgridlistss = new List<DropDownOptionsModel>();
            _variationgridlistss = lists.DropDownGridOptionsModel.FirstOrDefault()?.DropDownOptionsModels;
            _dynamicformObjectDataVariationList = new List<ExpandoObject>();
            if (lists.ObjectData != null)
            {
                foreach (var v in (lists.ObjectData as IEnumerable<ExpandoObject>))
                {
                    dynamic eod = v;
                    var vv = eod.DynamicFormId;
                    var AttributeDetailIds = eod.AttributeDetailID;
                    string listone = string.Empty;
                    if (_variationgridlistss != null && _variationgridlistss.Count() > 0)
                    {
                        var g1 = _variationgridlistss.OrderBy(o => o.OrderBy).ToList();
                        g1.ForEach(q =>
                        {
                            var byName = (IDictionary<string, object>)v;
                            var names = (string)byName[q.Value]?.ToString();
                            listone += names + "|";
                        });
                    }
                    eod.DisplayItemsQuery = listone;
                    _dynamicformObjectDataVariationList.Add(eod);
                }
            }
        }
    }
    void SelectedProfileChanged(long? country)
    {
        Data.ProfileId = null;
        if (country > 0)
        {
            Data.ProfileId = country;
        }
    }
    async Task OnTabClick(TabClickEventArgs e)
    {
        if (e.TabIndex == 0)
        {
            // await refDynamicMasterSectionForm.loadChildData(dynamicFormId);
        }
        else if (e.TabIndex == 1)
        {
            // await refDynamicFormApproval.loadChildData(dynamicFormId);
        }
    }
    protected override async Task OnParametersSetAsync()
    {
        if (applicationUser != null)
        {
            await OnParametersSetLoadAsync();
        }
        base.OnParametersSet();
    }
    async Task OnParametersSetLoadAsync()
    {
        EditEnabled = false;
        _editContext = new EditContext(Data);
        Data.AddedDate = DateTime.Now;
        Data.AddedBy = applicationUser.UserName;
        Data.RegistrationRequestId = 0;
        Data.RegistrationCountryId = null;
        Data.ModifiedUserId = applicationUser.UserID;
        Data.AddedByUserId = applicationUser.UserID;
        Data.ModifiedDate = DateTime.Now;
        Data.ModifiedBy = applicationUser.UserName;
        Data.ProductSpecificationDynamicFormId = null;
        Data.SessionId = null; Data.CCNo = null; Data.IsAllowNA = false;
        Data.ExpectedSubmissionDate = null; UnSaved = false;
        Data.StatusCodeId = 1; Data.VariationNoId = null; Data.ProductName = string.Empty; Data.VariationNoInfo = string.Empty;
        Data.SubmissionDate = null; Data.VariationRequirementInformationModels = new List<VariationRequirementInformationModel>();
        Data.SubmissionNo = null; PreProfileEnabled = true; dataColumnNames = new List<DropDownOptionsModel>();
        Data.PurposeOfRegistration = null; Data.ProfileId = null; Data.ProfileNo = null; Data.PreProfileId = null; ActiveSubTabIndex = 0;
        Data.VariationNoIds = new List<long?>(); ItemValue = null; VariationNoValue = null; VariationRequirementInformationModels = new List<VariationRequirementInformationModel>();
        _registrationRequestData = new RegistrationRequest(); RegistrationRequestVariationForm = new List<RegistrationRequestVariationForm>();
        dataColumnNames.Add(new DropDownOptionsModel() { Value = "Index", Text = "No", Type = "Form", IsVisible = true, OrderBy = 1 });
        dataColumnNames.Add(new DropDownOptionsModel() { Value = "DescriptionName", Text = "Variation No", Type = "Form", IsVisible = true, OrderBy = 2 });
        dataColumnNames.Add(new DropDownOptionsModel() { Value = "DynamicFormDataNameId", Text = "Detail information by guideline", Type = "Form", IsVisible = true, OrderBy = 3 });
        dataColumnNames.Add(new DropDownOptionsModel() { Value = "ByName", Text = "Department", Type = "Form", IsVisible = true, OrderBy = 4 });
        dataColumnNames.Add(new DropDownOptionsModel() { Value = "DetailRequirementId", Text = "Detail Requirement", Type = "Form", IsVisible = true, OrderBy = 5 });
        if (SessionId != null)
        {
            var dynamicFormData = await Mediator.Send(new GetRegistrationRequestBySession(SessionId));
            if (dynamicFormData != null)
            {
                EditEnabled = true;
                _registrationRequestData = dynamicFormData;
                Data.ProfileId = dynamicFormData.ProfileId; Data.ProfileNo = dynamicFormData.ProfileNo; Data.PreProfileId = dynamicFormData.ProfileId;
                Data.RegistrationRequestId = dynamicFormData.RegistrationRequestId;
                if (dynamicFormData.ProfileId > 0)
                {
                    PreProfileEnabled = false;
                }
                Data.IsAllowNA = dynamicFormData.IsAllowNA == true ? true : false;
                Data.AddedBy = dynamicFormData.AddedBy;
                Data.ModifiedUserId = dynamicFormData.ModifiedUserId;
                Data.AddedByUserId = dynamicFormData.AddedByUserId;
                Data.AddedDate = dynamicFormData.AddedDate;
                Data.ModifiedDate = dynamicFormData.ModifiedDate;
                Data.ModifiedBy = dynamicFormData.ModifiedBy;
                Data.CCNo = dynamicFormData.CCNo;
                Data.RegistrationCountryId = dynamicFormData.RegistrationCountryId;
                Data.StatusCodeId = dynamicFormData.StatusCodeId;
                Data.SessionId = dynamicFormData.SessionId;
                Data.ProductSpecificationDynamicFormId = dynamicFormData.ProductSpecificationDynamicFormId;
                Data.ExpectedSubmissionDate = dynamicFormData.ExpectedSubmissionDate;
                Data.SubmissionDate = dynamicFormData.SubmissionDate;
                Data.SubmissionNo = dynamicFormData.SubmissionNo;
                Data.PurposeOfRegistration = dynamicFormData.PurposeOfRegistration;
                Data.VariationNoIds = dynamicFormData.VariationNoIds;
                if (dynamicFormData.VariationNoIds != null && dynamicFormData.VariationNoIds.Count() > 0)
                {
                    Data.VariationNoId = dynamicFormData.VariationNoIds.FirstOrDefault();
                }
                var ids = _dynamicformObjectDataList.Cast<dynamic>().Where(x => x.DynamicFormDataId == dynamicFormData.ProductSpecificationDynamicFormId).FirstOrDefault();
                if (ids != null)
                {
                    ItemValue = ids;
                }
                var vids = _dynamicformObjectDataVariationList.Cast<dynamic>().Where(x => Data.VariationNoIds.Contains(x.DynamicFormDataId)).ToList();
                if (vids != null)
                {
                    VariationNoValue = vids.Cast<ExpandoObject>().ToList();
                }
                RegistrationRequestVariationForm = await Mediator.Send(new GetRegistrationRequestVariationForm(dynamicFormData.RegistrationRequestId));
                await loadFormData(Data.VariationNoIds);
                await refRegistrationRequestProgressByRegistrationDepartments.loadChildData(_registrationRequestData);
            }
        }
        else
        {
            await refRegistrationRequestProgressByRegistrationDepartments.loadChildData(_registrationRequestData);
        }
        StateHasChanged();

    }
    string? QueryDisplayDynamicComboBoxText(DropDownBoxQueryDisplayTextContext arg)
    {
        Data.ProductSpecificationDynamicFormId = null; Data.ProductName = string.Empty;
        string? returnData = string.Empty;
        if (arg.Value is ExpandoObject value)
        {
            if (value != null)
            {
                dynamic eod = value;
                Data.ProductSpecificationDynamicFormId = (long?)eod.DynamicFormDataId;
                foreach (var items in (dynamic)eod)
                {
                    if (items.Key == "83_103_AppMaster")
                    {
                        if (_registrationRequestData != null)
                        {
                            _registrationRequestData.ProductName = (string?)items.Value;
                        }
                    }
                }
                returnData = (string)eod.DisplayItemsQuery;
            }
        }
        return returnData.TrimEnd(',');
    }
    string? QueryDisplayVariationDynamicComboBoxText(DropDownBoxQueryDisplayTextContext arg)
    {
        UnSaved = false;
        string? returnData = string.Empty; varitionCode = ""; Data.VariationNoId = null; Data.VariationNoInfo = string.Empty; string? VariationNoInfo = string.Empty;
        Data.VariationNoIds = new List<long?>(); _Headergridlistss = new List<DropDownOptionsModel>();
        if (arg.Value == null)
        {
            Data.ObjectData = null; departments = new List<DropDownOptionsListModel>(); VariationRequirementInformationModels = new List<VariationRequirementInformationModel>();
        }
        if (arg.Value != null)
        {
            List<ExpandoObject> collection = (List<ExpandoObject>)arg.Value;
            if (collection != null && collection.Count() > 0)
            {
                //11406_Attr
                foreach (var item in collection)
                {
                    DropDownOptionsModel _Headergridlists = new DropDownOptionsModel();
                    dynamic eod = item; Data.VariationNoId = (long?)eod.DynamicFormDataId;
                    Data.VariationNoIds.Add((long?)eod.DynamicFormDataId);
                    _Headergridlists.Text = (string)eod.DisplayItemsQuery;
                    _Headergridlists.Id = (long?)eod.DynamicFormDataId;
                    returnData += (string)eod.DisplayItemsQuery + ",";

                    foreach (var items in (dynamic)item)
                    {
                        if (items.Key == "11406_Attr")
                        {
                            var AttributeDetailNames = (string?)eod.AttributeDetailName;
                            varitionCode += (string?)items.Value + ",";
                            VariationNoInfo += AttributeDetailNames + "|" + (string?)items.Value;
                        }
                    }
                    _Headergridlistss.Add(_Headergridlists);
                }
            }
        }
        if (_registrationRequestData != null)
        {
            _registrationRequestData.VariationNoInfo = string.Empty;
            if (!string.IsNullOrEmpty(VariationNoInfo))
            {
                _registrationRequestData.VariationNoInfo = VariationNoInfo;
            }
            var excelpt = _registrationRequestData.VariationNoIds.Except(Data.VariationNoIds).ToList();
            if (excelpt.Count() > 0)
            {
                UnSaved = true;
            }

        }
        varitionCode = varitionCode.TrimEnd(',');
        ActiveSubTabIndex = 0;
        // CreateEditFormFields();
        return returnData.TrimEnd(',');
    }
    private RenderFragment BuildDataColumns()
    {
        RenderFragment columns = b =>
        {
            int counter = 0;
            if (gridlistss != null && gridlistss.Count() > 0)
            {
                gridlistss.ForEach(s =>
                {
                    int count = 0;
                    b.OpenComponent(counter, typeof(DxGridDataColumn));
                    b.AddAttribute(count + 1, "FieldName", s.Value);
                    b.AddAttribute(count + 1, "AllowSort", true);
                    b.AddAttribute(count + 1, "SortMode", DevExpress.Blazor.GridColumnSortMode.Custom);
                    b.AddAttribute(count + 1, "Caption", s.Text);
                    b.AddAttribute(count + 1, "Visible", s.IsVisible);
                    b.CloseComponent();
                });
            }
        };

        return columns;
    }
    private RenderFragment BuildDataMemoBox(VariationRequirementInformationModel items, string? typeData)
    {
        RenderFragment columns = editor =>
        {
            if (Data.ObjectData != null)
            {
                var s = Data.ObjectData.GetType().GetProperty(typeData == "DynamicFormDataNameId" ? items.DynamicFormDataNameId : items.DetailRequirementId);
                if (s != null)
                {
                    var valueData1 = s.GetValue(Data.ObjectData);
                    if (string.IsNullOrEmpty((string?)valueData1))
                    {
                        if (Data.IsAllowNA == true)
                        {
                            Data.ObjectData.GetType().GetProperty(typeData == "DynamicFormDataNameId" ? items.DynamicFormDataNameId : items.DetailRequirementId).SetValue(Data.ObjectData, "NA");
                        }
                    }
                    var propertyType = Nullable.GetUnderlyingType(s.PropertyType) ?? s.PropertyType;
                    var access = Expression.Property(Expression.Constant(Data.ObjectData), s.Name);
                    var lambda1 = Expression.Lambda(typeof(Func<>).MakeGenericType(s.PropertyType), access);
                    int k = 0;
                    editor.OpenComponent<DxMemo>(k + 1);
                    editor.AddAttribute(k + 1, "Text", valueData1);
                    editor.AddAttribute(k + 1, "TextExpression", lambda1);
                    editor.AddAttribute(k + 1, "Enabled", true);
                    editor.AddAttribute(k + 1, "Rows", 5);
                    editor.AddAttribute(k + 1, "ClearButtonDisplayMode", DataEditorClearButtonDisplayMode.Auto);
                    editor.AddAttribute(k + 1, "TextChanged", EventCallback.Factory.Create<string?>(this, str => { s.SetValue(Data.ObjectData, str); }));
                    editor.CloseComponent();
                }
            }
        };

        return columns;
    }
    private RenderFragment BuildDataVariationsColumns()
    {
        RenderFragment columns = b =>
        {
            int counter = 0;
            if (_variationgridlistss != null && _variationgridlistss.Count() > 0)
            {
                _variationgridlistss.ForEach(s =>
                {
                    int count = 0;
                    b.OpenComponent(counter, typeof(DxGridDataColumn));
                    b.AddAttribute(count + 1, "FieldName", s.Value);
                    b.AddAttribute(count + 1, "AllowSort", true);
                    b.AddAttribute(count + 1, "SortMode", DevExpress.Blazor.GridColumnSortMode.Custom);
                    b.AddAttribute(count + 1, "Caption", s.Text);
                    b.AddAttribute(count + 1, "Visible", s.IsVisible);
                    b.CloseComponent();
                });
            }
        };

        return columns;
    }
    void GridSelectedDataItemChanged(object item, IDropDownBox dropDownBox)
    {
        if (item != null)
        {
            ItemValue = item as ExpandoObject;
        }
        dropDownBox.HideDropDown();
    }
    async Task GridVariationSelectedDataItemChanged(IReadOnlyList<object> selectedItems, IDropDownBox dropDownBox)
    {
        dropDownOptionsGridListModel = new DropDownOptionsGridListModel();
        List<ExpandoObject> selectedAllItems = new List<ExpandoObject>();
        if (selectedItems != null)
        {
            foreach (object item in selectedItems)
            {
                if (item is ExpandoObject dataselectItems)
                {
                    selectedAllItems.Add(dataselectItems);
                }
            }
        }
        var vids = selectedAllItems.Cast<dynamic>().Select(s => (long?)s.DynamicFormDataId).ToList();
        VariationNoValue = selectedAllItems;
        dropDownBox.BeginUpdate();
        dropDownBox.Value = selectedAllItems;
        dropDownBox.EndUpdate();
        await loadFormData(vids);
    }
    async Task loadFormData(List<long?> vids)
    {
        var result = await Mediator.Send(new GetDynamicFormScreenNameCheckValidation("Variationrequirement"));
        VariationRequirementInformationModels = new List<VariationRequirementInformationModel>(); Data.ObjectData = null; departments = new List<DropDownOptionsListModel>();
        if (result != null && result.ID > 0 && vids != null && vids.Count() > 0)
        {
            List<long?> dynamicFormIds = new List<long?>();
            dynamicFormIds.Add(result.ID);
            dropDownOptionsGridListModel = await Mediator.Send(new GetDynamicFormItemLineDropdoenList(dynamicFormIds, applicationUser.UserID, vids));
            if (dropDownOptionsGridListModel != null && dropDownOptionsGridListModel.ObjectData != null)
            {
                foreach (var v in (dropDownOptionsGridListModel.ObjectData as IEnumerable<ExpandoObject>))
                {
                    var vList = v.Cast<dynamic>().ToList();
                    VariationRequirementInformationModel variationRequirementInformationModel = new VariationRequirementInformationModel();
                    dynamic eod = v;
                    var vv = eod.DynamicFormId;
                    var AttributeDetailIds = (long)eod.DynamicFormDataId; var DynamicFormDataGridId = (long?)eod.DynamicFormDataGridId;
                    variationRequirementInformationModel.DynamicFormDataId = (long)eod.DynamicFormDataId;
                    variationRequirementInformationModel.DynamicFormDataGridId = (long?)eod.DynamicFormDataGridId;
                    variationRequirementInformationModel.DynamicFormDataNameId = DynamicFormDataGridId + "_" + AttributeDetailIds.ToString() + "_Id";
                    variationRequirementInformationModel.DetailRequirementId = DynamicFormDataGridId + "_" + AttributeDetailIds.ToString() + "_ReqId";
                    variationRequirementInformationModel.DynamicFormId = (long?)eod.DynamicFormId;
                    variationRequirementInformationModel.RegistrationPartsId = "11408_157_AppMasterPar";
                    variationRequirementInformationModel.SectionId = "11408_158_AppMasterPar";
                    variationRequirementInformationModel.DescriptionId = "11408_159_AppMasterPar";
                    variationRequirementInformationModel.SortOrderByNo = (long?)eod.GridSortOrderByNo;
                    variationRequirementInformationModel.ByNameId = "11409_Attr";
                    variationRequirementInformationModel.DescriptionType = typeof(string);
                    foreach (var item in (dynamic)v)
                    {
                        if (item.Key == "11408_157_AppMasterPar")
                        {
                            variationRequirementInformationModel.RegistrationPartsName = (string?)item.Value;
                        }
                        if (item.Key == "11408_158_AppMasterPar")
                        {
                            variationRequirementInformationModel.SectionName = (string?)item.Value;
                        }
                        if (item.Key == "11408_159_AppMasterPar")
                        {
                            variationRequirementInformationModel.DescriptionName = (string?)item.Value;
                        }
                        if (item.Key == "11409_Attr")
                        {
                            variationRequirementInformationModel.ByName = (string?)item.Value;
                        }
                        if (item.Key == "DepartmentIds")
                        {
                            variationRequirementInformationModel.DepartmentId = (long?)item.Value;
                        }
                        if (item.Key == "12051_Attr")
                        {
                            variationRequirementInformationModel.DetailInformationByGuideline = (string?)item.Value;
                            //variationRequirementInformationModel.DetailInformationByGuideline = "Test";
                        }
                    }
                    if (!string.IsNullOrEmpty(variationRequirementInformationModel.DescriptionName))
                    {
                        var exits = VariationRequirementInformationModels.Where(f => f.DescriptionName != null && f.DescriptionName.ToLower() == variationRequirementInformationModel.DescriptionName.ToLower()).Count();
                        if (exits == 0)
                        {
                            VariationRequirementInformationModels.Add(variationRequirementInformationModel);
                        }
                    }
                }
            }
        }
        if (VariationRequirementInformationModels != null && VariationRequirementInformationModels.Count() > 0)
        {

            int no = 1;
            VariationRequirementInformationModels.ForEach(a =>
            {
                a.Index = no;
                no++;
                var exitss = departments.Where(w => w.Id == a.DepartmentId).Count();
                if (exitss == 0)
                {
                    DropDownOptionsListModel departmentData = new DropDownOptionsListModel();
                    departmentData.Text = a.ByName;
                    departmentData.Id = a.DepartmentId.Value;
                    departments.Add(departmentData);
                }
            });
            List<Type?> typesList = new List<Type?>();
            typesList = VariationRequirementInformationModels.Where(w => w.DescriptionName != null).Select(s => s.DescriptionType).ToList();
            typesList.AddRange(VariationRequirementInformationModels.Where(w => w.DescriptionName != null).Select(s => s.DescriptionType).ToList());
            List<string?> objectNameList = new List<string?>();
            objectNameList = VariationRequirementInformationModels.Where(w => w.DescriptionName != null).Select(s => s.DynamicFormDataNameId).ToList();
            objectNameList.AddRange(VariationRequirementInformationModels.Where(w => w.DescriptionName != null).Select(s => s.DetailRequirementId).ToList());
            MyClassBuilder MCB = new MyClassBuilder("VariationForm");
            Data.ObjectData = MCB.CreateObject(objectNameList.ToArray(), typesList.ToArray());
        }
        if (VariationRequirementInformationModels != null && VariationRequirementInformationModels.Count() > 0)
        {

            VariationRequirementInformationModels.ForEach(a =>
            {
                if (Data.ObjectData != null && !string.IsNullOrEmpty(a.DynamicFormDataNameId))
                {
                    if (Data.ObjectData.GetType().GetProperty(a.DynamicFormDataNameId) != null)
                    {
                        Data.ObjectData.GetType().GetProperty(a.DynamicFormDataNameId).SetValue(Data.ObjectData, a.DetailInformationByGuideline);
                    }
                }
            });
        }
        if (RegistrationRequestVariationForm != null && RegistrationRequestVariationForm.Count() > 0)
        {
            RegistrationRequestVariationForm.ForEach(r =>
            {
                if (r.DetailType == "DetailInfo")
                {
                    if (Data.ObjectData != null && !string.IsNullOrEmpty(r.RegDynamicFormDataNameId))
                    {
                        if (Data.ObjectData.GetType().GetProperty(r.RegDynamicFormDataNameId) != null)
                        {
                            if (r.DetailType == "DetailInfo")
                            {
                                Data.ObjectData.GetType().GetProperty(r.RegDynamicFormDataNameId).SetValue(Data.ObjectData, r.Description);
                            }
                        }
                    }
                }
                if (r.DetailType == "DetailRequirement")
                {
                    if (Data.ObjectData != null)
                    {
                        var DetailRequirementId = r.RegDynamicFormDataID + "_" + r.DynamicFormDataId + "_ReqId";
                        if (Data.ObjectData.GetType().GetProperty(DetailRequirementId) != null)
                        {
                            Data.ObjectData.GetType().GetProperty(DetailRequirementId).SetValue(Data.ObjectData, r.Description);
                        }
                    }
                }
            });
        }
    }
    void SelectedRegistrationCountryChanged(long? registrationCountryId)
    {
        Data.RegistrationCountryId = registrationCountryId;
    }
    async Task HandleValidSubmit()
    {
        loading = true;
        if (Data.RegistrationRequestId > 0)
        {
            Data.ModifiedDate = DateTime.Now;
            Data.ModifiedBy = applicationUser.UserName;
            Data.VariationRequirementInformationModels = VariationRequirementInformationModels;
            var request = new InsertorUpdateRegistrationRequest(Data);
            var result = await Mediator.Send(request);
            if (result.RegistrationRequestId > 0)
            {
                Data.PreProfileId = Data.ProfileId;
                Data.ProfileNo = result.ProfileNo;
                if (Data.PreProfileId > 0)
                {
                    PreProfileEnabled = false;
                }
            }
            toastService.ShowToast("Record updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            loading = false; ActiveSubTabIndex = 0; UnSaved = false;
            StateHasChanged();
        }
        else
        {
            Data.SessionId = Guid.NewGuid();

            var request = new InsertorUpdateRegistrationRequest(Data);
            var result = await Mediator.Send(request);
            if (result.RegistrationRequestId > 0)
            {
                Data.PreProfileId = Data.ProfileId;
                Data.ProfileNo = result.ProfileNo;
                if (Data.PreProfileId > 0)
                {
                    PreProfileEnabled = false;
                }
            }
            toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            loading = false; UnSaved = false;
            ActiveSubTabIndex = 0;
            NavigationManager.NavigateTo("RegistrationRequestList/RegistrationRequestForm/" + Data.SessionId + "");


            StateHasChanged();
        }
    }
    void backUrl()
    {
        NavigationManager.NavigateTo("RegistrationRequestList");
    }
    async Task addNew()
    {
        if (SessionId != null)
        {
            NavigationManager.NavigateTo("RegistrationRequestList/RegistrationRequestForm");
        }
        else
        {
            await OnParametersSetLoadAsync();
        }
    }
    async Task SubmitFormExternally()
    {
        if (_editContext.Validate())
        {
            await this.HandleValidSubmit();
        }
    }
    void addDetailDelete()
    {
        Blukdeletepopup = true;
    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        Blukdeletepopup = false;
        StateHasChanged();
    }
    async Task bulkDelete()
    {
        try
        {
            var request = new DeleteRegistrationRequest(_registrationRequestData);
            await Mediator.Send(request);
            Blukdeletepopup = false;
            toastService.ShowToast("Record Deleted successully.", AC.SD.Core.Services.ToastLevel.Success);
            await addNew();
        }
        catch (Exception eq)
        {
            Blukdeletepopup = false;
            toastService.ShowToast("You Must Delete ValueID.", AC.SD.Core.Services.ToastLevel.Error);
        }
    }
    public async ValueTask DisposeAsync()
    {
    }
    void OnSectionButtionClick(Microsoft.AspNetCore.Components.Web.MouseEventArgs str, VariationRequirementInformationModel valueData)
    {

    }
    private RenderFragment renderLayoutTabPage(DropDownOptionsListModel dropDownOptionsList)
    {
        RenderFragment item = b =>
        {
            b.OpenComponent<DxFormLayoutTabPage>(0);
            b.AddAttribute(1, "Caption", dropDownOptionsList.Text);
            b.AddAttribute(2, "ChildContent", (RenderFragment)((tabPageBuilder) =>
            {
                tabPageBuilder.OpenComponent<AC.SD.Core.Pages.Attribute.RegistrationRequestAssignmentOfJobs>(1);
                tabPageBuilder.AddAttribute(2, "applicationUser", applicationUser);
                tabPageBuilder.AddAttribute(3, "_registrationRequestData", _registrationRequestData);
                tabPageBuilder.AddAttribute(4, "DepartmentId", dropDownOptionsList.Id);
                tabPageBuilder.AddAttribute(5, "IsUnsaved", UnSaved);
                tabPageBuilder.CloseElement();
            }));
            b.CloseComponent();
        };
        return item;
    }

    public RenderFragment CreateEditFormFields() => formLayoutBuilder =>
    {
        if (Data.ObjectData != null && VariationRequirementInformationModels != null && VariationRequirementInformationModels.Count() > 0)
        {
            int i = 0;
            var propertyList = Data.ObjectData.GetType().GetProperties();
            // if (_Headergridlistss != null && _Headergridlistss.Count() > 0)
            //{
            //_Headergridlistss.ForEach(q =>
            //{
            formLayoutBuilder.OpenComponent<DxFormLayout>(i);

            formLayoutBuilder.AddAttribute(i + 1, "ChildContent", (RenderFragment)((layoutItemBuilder) =>
    {
        layoutItemBuilder.OpenComponent<DxFormLayoutGroup>(i + 1);
        layoutItemBuilder.AddAttribute(i + 1, "ExpandButtonDisplayMode", GroupExpandButtonDisplayMode.End);
        layoutItemBuilder.AddAttribute(i + 1, "Expanded", true);
        layoutItemBuilder.AddAttribute(i + 1, "AnimationType", LayoutAnimationType.Slide);
        layoutItemBuilder.AddAttribute(i + 1, "Visible", true);
        layoutItemBuilder.AddAttribute(i + 1, "CssClass", "FormLayoutGroupCss");
        layoutItemBuilder.AddAttribute(i + 1, "HeaderContentTemplate", (RenderFragment<IFormLayoutGroupInfo>)((context) => (b) =>
        {
            b.OpenElement(i + 1, "div");
            b.AddContent(i + 1, "Summary of requirement");
            b.CloseElement();
            b.OpenElement(i + 1, "div");
            b.AddAttribute(i + 1, "style", "margin-left:auto;");
            b.CloseElement();
        }));
        layoutItemBuilder.AddAttribute(i + 1, "Items", (RenderFragment)((itemBuilder) =>
        {
            itemBuilder.OpenComponent<DxFormLayoutItem>(1);
            itemBuilder.AddAttribute(i++, "ColSpanMd", 1);
            itemBuilder.AddAttribute(i++, "Template", (RenderFragment<Object>)((context) => ((editor) =>
            {
                editor.OpenElement(i + 1, "div");
                editor.AddAttribute(i + 1, "style", "padding-bottom: 60px;font-weight:bold;");
                editor.AddContent(i + 1, "No");
                editor.CloseElement();

            })));
            itemBuilder.CloseComponent();
            itemBuilder.OpenComponent<DxFormLayoutItem>(1);
            itemBuilder.AddAttribute(i++, "ColSpanMd", 3);
            itemBuilder.AddAttribute(i++, "Template", (RenderFragment<Object>)((context) => ((editor) =>
            {
                editor.OpenElement(i + 1, "div");
                editor.AddAttribute(i + 1, "style", "padding-bottom: 60px;font-weight:bold;");
                editor.AddContent(i + 1, "Variation No");
                editor.CloseElement();

            })));
            itemBuilder.CloseComponent();

            itemBuilder.OpenComponent<DxFormLayoutItem>(1);
            itemBuilder.AddAttribute(i++, "ColSpanMd", 3);
            itemBuilder.AddAttribute(i++, "Template", (RenderFragment<Object>)((context) => ((editor) =>
            {
                editor.OpenElement(i + 1, "div");
                editor.AddAttribute(i + 1, "style", "padding-bottom: 60px;font-weight:bold;");
                editor.AddContent(i + 1, "Detail information by guideline");
                editor.CloseElement();

            })));
            itemBuilder.CloseComponent();
            itemBuilder.OpenComponent<DxFormLayoutItem>(1);
            itemBuilder.AddAttribute(i++, "ColSpanMd", 2);
            itemBuilder.AddAttribute(i++, "Template", (RenderFragment<Object>)((context) => ((editor) =>
            {
                editor.OpenElement(i + 1, "div");
                editor.AddAttribute(i + 1, "style", "padding-bottom: 60px;font-weight:bold;");
                editor.AddContent(i + 1, "Department");
                editor.CloseElement();

            })));
            itemBuilder.CloseComponent();
            itemBuilder.OpenComponent<DxFormLayoutItem>(1);
            itemBuilder.AddAttribute(i++, "ColSpanMd", 3);
            itemBuilder.AddAttribute(i++, "Template", (RenderFragment<Object>)((context) => ((editor) =>
            {
                editor.OpenElement(i + 1, "div");
                editor.AddAttribute(i + 1, "style", "padding-bottom: 60px;font-weight:bold;");
                editor.AddContent(i + 1, "Detail Requirement");
                editor.CloseElement();

            })));
            itemBuilder.CloseComponent();
            if (VariationRequirementInformationModels != null && VariationRequirementInformationModels.Count() > 0)
            {
                VariationRequirementInformationModels.ForEach(a =>
                      {
                          var s = Data.ObjectData.GetType().GetProperty(a.DynamicFormDataNameId);
                          if (s != null)
                          {
                              var valueData = s.GetValue(Data.ObjectData);
                              var propertyType = Nullable.GetUnderlyingType(s.PropertyType) ?? s.PropertyType;
                              var access = Expression.Property(Expression.Constant(Data.ObjectData), s.Name);
                              var lambda = Expression.Lambda(typeof(Func<>).MakeGenericType(s.PropertyType), access);
                              itemBuilder.OpenComponent<DxFormLayoutItem>(1);
                              itemBuilder.AddAttribute(i++, "ColSpanMd", 1);
                              itemBuilder.AddAttribute(i++, "Template", (RenderFragment<Object>)((context) => ((editor) =>
                              {
                                  editor.OpenElement(i + 1, "div");
                                  editor.AddAttribute(i + 1, "style", "padding-bottom: 60px;");
                                  editor.AddContent(i + 1, a.Index);
                                  editor.CloseElement();

                              })));
                              itemBuilder.CloseComponent();
                              itemBuilder.OpenComponent<DxFormLayoutItem>(1);
                              itemBuilder.AddAttribute(i++, "ColSpanMd", 3);
                              itemBuilder.AddAttribute(i++, "Template", (RenderFragment<Object>)((context) => ((editor) =>
                              {
                                  editor.OpenElement(i + 1, "div");
                                  editor.AddAttribute(i + 1, "style", "padding-bottom: 60px;");
                                  editor.AddContent(i + 1, a.DescriptionName);
                                  editor.CloseElement();

                              })));
                              itemBuilder.CloseComponent();

                              itemBuilder.OpenComponent<DxFormLayoutItem>(1);
                              itemBuilder.AddAttribute(i++, "ColSpanMd", 3);
                              var j = 0;
                              itemBuilder.AddAttribute(i++, "Template", (RenderFragment<Object>)((context) => ((editor) =>
                              {
                                  // editor.OpenElement(i + 1, "div");
                                  // editor.AddAttribute(i + 1, "style", "padding:2px;font-weight:400;color:rgba(33, 37, 41, 0.75);");
                                  // editor.AddContent(i + 1, a.DescriptionName);
                                  // editor.CloseElement();
                                  editor.OpenComponent<DxMemo>(j + 1);
                                  editor.AddAttribute(j + 1, "Text", valueData);
                                  editor.AddAttribute(j + 1, "TextExpression", lambda);
                                  editor.AddAttribute(j + 1, "Enabled", true);
                                  editor.AddAttribute(j + 1, "Rows", 5);
                                  editor.AddAttribute(j + 1, "ClearButtonDisplayMode", DataEditorClearButtonDisplayMode.Auto);
                                  editor.AddAttribute(j + 1, "TextChanged", EventCallback.Factory.Create<string?>(this, str => { s.SetValue(Data.ObjectData, str); }));
                                  editor.CloseComponent();

                              })));
                              itemBuilder.CloseComponent();
                              itemBuilder.OpenComponent<DxFormLayoutItem>(1);
                              itemBuilder.AddAttribute(i++, "ColSpanMd", 2);
                              itemBuilder.AddAttribute(i++, "Template", (RenderFragment<Object>)((context) => ((editor) =>
                              {
                                  editor.OpenElement(i + 1, "div");
                                  editor.AddAttribute(i + 1, "style", "padding-bottom: 60px;");
                                  editor.AddContent(i + 1, a.ByName);
                                  editor.CloseElement();

                              })));
                              itemBuilder.CloseComponent();
                              var s1 = Data.ObjectData.GetType().GetProperty(a.DetailRequirementId);
                              if (s1 != null)
                              {
                                  var valueData1 = s1.GetValue(Data.ObjectData);
                                  var propertyType1 = Nullable.GetUnderlyingType(s1.PropertyType) ?? s1.PropertyType;
                                  var access1 = Expression.Property(Expression.Constant(Data.ObjectData), s1.Name);
                                  var lambda1 = Expression.Lambda(typeof(Func<>).MakeGenericType(s1.PropertyType), access1);
                                  itemBuilder.OpenComponent<DxFormLayoutItem>(1);
                                  itemBuilder.AddAttribute(i++, "ColSpanMd", 3);
                                  var k = 0;
                                  itemBuilder.AddAttribute(i++, "Template", (RenderFragment<Object>)((context) => ((editor) =>
                                  {
                                      // editor.OpenElement(i + 1, "div");
                                      // editor.AddAttribute(i + 1, "style", "padding:2px;font-weight:400;color:rgba(33, 37, 41, 0.75);");
                                      // editor.AddContent(i + 1, a.DescriptionName);
                                      // editor.CloseElement();
                                      editor.OpenComponent<DxMemo>(k + 1);
                                      editor.AddAttribute(k + 1, "Text", valueData1);
                                      editor.AddAttribute(k + 1, "TextExpression", lambda1);
                                      editor.AddAttribute(k + 1, "Enabled", true);
                                      editor.AddAttribute(k + 1, "Rows", 5);
                                      editor.AddAttribute(k + 1, "ClearButtonDisplayMode", DataEditorClearButtonDisplayMode.Auto);
                                      editor.AddAttribute(k + 1, "TextChanged", EventCallback.Factory.Create<string?>(this, str => { s1.SetValue(Data.ObjectData, str); }));
                                      editor.CloseComponent();

                                  })));
                                  itemBuilder.CloseComponent();
                              }
                              // itemBuilder.OpenComponent<DxFormLayoutItem>(1);
                              // itemBuilder.AddAttribute(i++, "ColSpanMd", 2);
                              // itemBuilder.AddAttribute(i++, "Template", (RenderFragment<Object>)((context) => ((editor) =>
                              // {

                              //     editor.OpenComponent<DxButton>(i + 1);
                              //     editor.AddAttribute(i + 1, "Text", "Create Email");
                              //     editor.AddAttribute(i + 1, "RenderStyle", ButtonRenderStyle.Link);
                              //     editor.AddAttribute(i + 1, "RenderStyleMode", ButtonRenderStyleMode.Contained);
                              //     editor.AddAttribute(i + 1, "style", "padding-bottom: 60px;");
                              //     editor.AddAttribute(i + 1, "Click", EventCallback.Factory.Create<MouseEventArgs>(this, str => OnSectionButtionClick(str, a)));
                              //     editor.CloseComponent();

                              // })));
                              // itemBuilder.CloseComponent();
                          }
                      });
            }
        }));
        layoutItemBuilder.CloseComponent();
    }));
            formLayoutBuilder.CloseComponent();
            // });
            // }

        }
    };
}