@using Application.Commands;
@using Application.Queries;
@using Application.Response;
@using MediatR
@using System.Dynamic
@using global::Core.Entities;
@using global::Core.Entities.Views;
@using global::Core.EntityModels;
@inject IMediator Mediator
@using DevExpress.Export
@using global::Core.Repositories.Query;
@inject IJSRuntime jsRuntime;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject NavigationManager NavigationManager
@* @inject AC.SD.Core.Helpers.TreeGenerateRecursive _treeGenerateRecursive *@
@implements IAsyncDisposable
@using System.Collections
<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop" style="color:chocolate;">
            <Items>
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" Enabled="@AddEnabled" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
                <DxMenuItem Text="Attachment" IconCssClass="fa fa-paperclip" Click="@addAttachment" Enabled="@AttachmentEnabled" />
            </Items>
        </DxMenu>
    </div>
</div>


<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">
    <div class="text-center">
        <p>@errorMessage</p>
        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>
<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">
    <div class="text-center">
        <p>@DeleteerrorMessage</p>
        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>

<DxPopup @bind-Visible="@MessageVisible" ShowCloseButton="true" HeaderText="@MessageHeader">
    <BodyTemplate Context="PopupContext">
        <div class="@((MessageHeader == "Error" ? "TxtRed" : "TxtGreen"))" style="text-align:center; padding: 10px; font-size: 15px;">
            <span> @MessageBody</span>
        </div>
    </BodyTemplate>
</DxPopup>

<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">

    <DxGrid @ref="SMGrid" Data="@_dynamicFormSectionData" EditModelSaving="@OnEditModelSaving" DataItemDeleting="@OnDeleteDataItem" EditMode="GridEditMode.EditForm" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            KeyFieldName="RegistrationRequestSupportingDocId"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            CssClass="ch-360"
            style="height: calc(100vh - 500px);"
            FocusedRowEnabled="true"
            RowClick="OnRowClick"
            AllowSelectRowByClick="true"
            CustomizeElement="Grid_CustomizeElement"
            CustomizeEditModel="Grid_CustomizeEditModel"
            AutoExpandAllGroupRows="true"
            VirtualScrollingEnabled="true"
            SelectionMode="GridSelectionMode.Single"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            RowDoubleClick="OnRowDoubleClick" SelectedDataItemsChanged="@SelectedDataItemsChanged">


        <Columns>
            <DxGridDataColumn FieldName="RegistrationRequestSupportingDocId" Visible="false" />

            <DxGridDataColumn FieldName="DepartmentName" Caption="Department" MinWidth="40" />
            <DxGridDataColumn FieldName="DetailInforamtionByGuideline" Caption="Detail" MinWidth="40" />
            <DxGridDataColumn FieldName="DetailRequirement" Caption="Description" MinWidth="40" />
            <DxGridDataColumn FieldName="ModifiedBy" Caption="Modified By" MinWidth="50" />
            <DxGridDataColumn FieldName="ModifiedDate" Caption="Modified Date" Width="180" />
            <DxGridCommandColumn Width="160px" Visible="false" />
        </Columns>
        <EditFormTemplate Context="EditFormContext">
            @{
                var types = (RegistrationRequestSupportingDoc)EditFormContext.EditModel;
            }
            <DxFormLayout CssClass="w-100">

                <DxFormLayoutItem Caption="Department" ColSpanMd="6">
                    <DxComboBox Data="@_departmentItems"
                                NullText="Select Department..."
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="DepartmentName"
                                ValueFieldName="DepartmentId"
                                @bind-Value="@types.DepartmentId">
                        <Columns>
                            <DxListEditorColumn FieldName="@nameof(ViewDepartment.DepartmentName)"
                                                Caption="Department Name"
                                                Width="100px" />
                            <DxListEditorColumn FieldName="@nameof(ViewDepartment.DepartmentCode)"
                                                Caption="Code"
                                                Width="100px" />
                            <DxListEditorColumn FieldName="@nameof(ViewDepartment.Description)"
                                                Caption="Description"
                                                Width="100px" />
                            <DxListEditorColumn FieldName="@nameof(ViewDepartment.PlantCode)"
                                                Caption="Company" Width="100px" />
                            <DxListEditorColumn FieldName="@nameof(ViewDepartment.Division)"
                                                Caption="Division" Width="100px" />

                        </Columns>
                    </DxComboBox>
                    <ValidationMessage For="@(() => types.DepartmentId)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Detail" ColSpanMd="12">
                    <DxMemo @bind-Text="@types.DetailInforamtionByGuideline" Rows="5" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Description" ColSpanMd="12">
                    <DxMemo @bind-Text="@types.DetailRequirement" Rows="5" />
                </DxFormLayoutItem>
            </DxFormLayout>
        </EditFormTemplate>

        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="DepartmentName" />
        </TotalSummary>
    </DxGrid>
</DxLoadingPanel>

<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="Delete"
         Closed="EulaPopupClosed"
         ShowCloseButton="true"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete?
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@AttachmentPopUp"
         ShowFooter="false"
         HeaderText="Attachment"
         CloseOnOutsideClick="false"
         ShowCloseButton="true"
         MinWidth="300" MinHeight="200" MaxWidth="1000px" MaxHeight="800">
    <BodyContentTemplate>
        <AC.SD.Core.Pages.UploadDocuments.UploadDocuments SessionId="@_selectedItems.SessionId" RevokeBack="CloseAttachmentPopup"></AC.SD.Core.Pages.UploadDocuments.UploadDocuments>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => CloseAttachmentPopup())" />
    </FooterContentTemplate>
</DxPopup>
@code {
    bool AttachmentPopUp { get; set; } = false;
    string? SubjectName { get; set; } = string.Empty;
    private List<ViewDepartment> _departmentItems;
    [Parameter]
    public RegistrationRequest _registrationRequestData { get; set; }
    bool PanelVisible { get; set; }
    IReadOnlyList<object> SelectedDataItems { get; set; }
    private string gridHeight = "calc(100vh - 230px - 143px)";
    private List<RegistrationRequestSupportingDoc>? _dynamicFormSectionData;
    IGrid? SMGrid { get; set; }
    private RegistrationRequestSupportingDoc _selectedItems;
    bool DeleteEnabled { get; set; } = false;
    bool ExportSelectedRowsOnly { get; set; }
    DxPopup? popup;
    bool PopupVisible { get; set; } = false;
    string? errorMessage;
    string? DeleteerrorMessage;
    bool MessageVisible { get; set; }
    string MessageHeader = "Error";
    string MessageBody = "";
    private bool loading;
    bool Blukdeletepopup { get; set; } = false;
    bool EditEnabled { get; set; } = false;
    bool AddEnabled { get; set; } = false; bool AttachmentEnabled { get; set; } = false;
    private RegistrationRequestSupportingDoc _selectlst;
    [Parameter]
    public ApplicationUser applicationUser { get; set; }
    [Parameter]
    public IEnumerable departments { get; set; }
    private List<DropDownOptionsListModel> departmentItems { get; set; } = new List<DropDownOptionsListModel>();
    protected override async Task OnInitializedAsync()
    {
        await LoadDepartment();
        await UpdateDataAsync();
        
    }
    async Task LoadDepartment()
    {
        var _departmentsItems = await Mediator.Send(new GetAllDepartmentQuery());
        if (departments != null)
        {
            var d = departments.Cast<DropDownOptionsListModel>().ToList();
            if (d != null)
            {
                if (_departmentsItems != null && _departmentsItems.Count() > 0)
                {
                    var ids = d.Select(s => s.Id).Distinct().ToList();
                    _departmentItems = _departmentsItems.Where(w => ids.Contains(w.DepartmentId)).ToList();
                }
            }
        }
    }
    public async Task loadChildData(RegistrationRequest dynamicFormIds, List<DropDownOptionsListModel> dropDownOptionsListModel)
    {
        _registrationRequestData = dynamicFormIds;
        departments = (IEnumerable)dropDownOptionsListModel;
        await LoadDepartment();
        await UpdateDataAsync();
    }
    void CloseAttachmentPopup()
    {
        InvokeAsync(UpdateDataAsync);
        AttachmentPopUp = false;
    }
    async Task Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        var navitems = (RegistrationRequestSupportingDoc)e.EditModel;
        if (e.IsNew)
        {
        }
        else
        {
        }
    }
    void addAttachment()
    {
        AttachmentPopUp = true;
    }
    async Task UpdateDataAsync()
    {
        try
        {
            PanelVisible = true; AddEnabled = false;
            EditEnabled = false; DeleteEnabled = false; AttachmentEnabled = false;
            if (_registrationRequestData != null && _registrationRequestData.RegistrationRequestId > 0)
            {
                AddEnabled = true;
                _dynamicFormSectionData = await Mediator.Send(new GetRegistrationRequestSupportingDoc(_registrationRequestData.RegistrationRequestId));
                if (_dynamicFormSectionData.Count > 0)
                {
                    _selectedItems = _dynamicFormSectionData.FirstOrDefault();
                    EditEnabled = true;
                    DeleteEnabled = true; AttachmentEnabled = true;
                }
            }
            else
            {
                _dynamicFormSectionData = new List<RegistrationRequestSupportingDoc>();
            }
            PanelVisible = false;
            StateHasChanged();
        }
        catch (Exception ex)
        {

        }
    }
    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }

    async Task OnEditModelSaving(GridEditModelSavingEventArgs e)
    {

        var editModel = (RegistrationRequestSupportingDoc)e.EditModel;

        if (e.IsNew)
        {
            var createReq = new InsertorUpdateRegistrationRequestSupportingDoc
                {
                    DepartmentId = editModel.DepartmentId,
                    DetailInforamtionByGuideline = editModel.DetailInforamtionByGuideline,
                    DetailRequirement = editModel.DetailRequirement,
                    RegistrationRequestId = _registrationRequestData.RegistrationRequestId,
                    SessionId = Guid.NewGuid(),
                    AddedByUserId = applicationUser.UserID,
                    ModifiedUserId = applicationUser.UserID,
                    ModifiedDate = DateTime.Now,
                    StatusCodeId = 1,
                    AddedDate = DateTime.Now,
                };
            try
            {
                var result = await Mediator.Send(createReq);
                toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            }
            catch (Exception eq)
            {

                errorMessage = eq.Message;
                PopupVisible = true;

            }
            await UpdateDataAsync();


        }
        else
        {
            var UpdateReq = new InsertorUpdateRegistrationRequestSupportingDoc
                {
                    RegistrationRequestSupportingDocId = editModel.RegistrationRequestSupportingDocId,
                    DepartmentId = editModel.DepartmentId,
                    DetailInforamtionByGuideline = editModel.DetailInforamtionByGuideline,
                    DetailRequirement = editModel.DetailRequirement,
                    RegistrationRequestId = _registrationRequestData.RegistrationRequestId,
                    SessionId = Guid.NewGuid(),
                    AddedByUserId = editModel.AddedByUserId,
                    ModifiedUserId = applicationUser.UserID,
                    ModifiedDate = DateTime.Now,
                    StatusCodeId = 1,
                    AddedDate = editModel.AddedDate,
                };
            var result = await Mediator.Send(UpdateReq);
            toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();

        }

    }
    private async void onShowPopupMessage(string headerText, string bodyText)
    {

        MessageVisible = true;
        MessageBody = bodyText;
        MessageHeader = headerText;
        loading = false;
        StateHasChanged();
    }
    async void ClosePopup()
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
    }
    async Task OnDeleteDataItem(GridDataItemDeletingEventArgs e)
    {
        try
        {
            var editModel = (RegistrationRequestSupportingDoc)e.DataItem;
            var request = new DeleteRegistrationRequestSupportingDoc(editModel);
            await Mediator.Send(request);
            await UpdateDataAsync();
            SMGrid.SetFocusedRowIndex(0);
        }
        catch (Exception ex)
        {

        }
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    void Onclick(DataGridSelection<RegistrationRequestSupportingDoc> e)
    {
    }

    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "RegistrationRequestSupportingDocId");
        _selectedItems = _dynamicFormSectionData.FirstOrDefault(f => f.RegistrationRequestSupportingDocId == (long?)UniqueId);
        DeleteEnabled = true; AttachmentEnabled = true; EditEnabled = true;
        StateHasChanged();

    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addEdit();
    }
    void addNew()
    {
        SMGrid.StartEditNewRowAsync();

    }
    void addEdit()
    {
        if (SelectedDataItems != null)
        {

            if (SelectedDataItems.Count == 1)
            {

                foreach (object item in SelectedDataItems)
                {
                    if (item is RegistrationRequestSupportingDoc dataselectItems)
                    {
                        _selectlst = _dynamicFormSectionData.FirstOrDefault(f => f.RegistrationRequestSupportingDocId == dataselectItems.RegistrationRequestSupportingDocId);
                    }
                }
                SMGrid.StartEditDataItemAsync(_selectlst);
            }
            else
            {
                SMGrid.StartEditDataItemAsync(_selectedItems);
            }
        }

    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    async Task bulkDelete()
    {
        try
        {
            if (SelectedDataItems != null)
            {
                foreach (object item in SelectedDataItems)
                {
                    if (item is RegistrationRequestSupportingDoc selectData)
                    {

                        var request = new DeleteRegistrationRequestSupportingDoc(selectData);
                        await Mediator.Send(request);
                        Blukdeletepopup = false;
                        toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        SMGrid.SetFocusedRowIndex(0);
                    }

                }
            }
        }
        catch (Exception eq)
        {
            Blukdeletepopup = false;
            toastService.ShowToast("The Selected Record Do not deleted", AC.SD.Core.Services.ToastLevel.Error);
        }

        await UpdateDataAsync();


    }
    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems;
        if (SelectedDataItems.Count > 1)
        {
            EditEnabled = false;
        }
        else
        {
            EditEnabled = true;
        }

    }

    public async ValueTask DisposeAsync()
    {

    }
}
