@using Application.Commands;
@using Application.Queries;
@using Application.Response;
@using MediatR
@using System.Dynamic
@using global::Core.Entities;
@using global::Core.Entities.Views;
@using global::Core.EntityModels;
@inject IMediator Mediator
@using DevExpress.Export
@using global::Core.Repositories.Query;
@inject IJSRuntime jsRuntime;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@* @inject AC.SD.Core.Helpers.TreeGenerateRecursive _treeGenerateRecursive *@
@implements IAsyncDisposable

<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop" style="color:chocolate;">
            <Items>
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" Enabled="@AddEnabled" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
            </Items>
        </DxMenu>
    </div>
</div>


<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">
    <div class="text-center">
        <p>@errorMessage</p>
        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>
<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">
    <div class="text-center">
        <p>@DeleteerrorMessage</p>
        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>

<DxPopup @bind-Visible="@MessageVisible" ShowCloseButton="true" HeaderText="@MessageHeader">
    <BodyTemplate Context="PopupContext">
        <div class="@((MessageHeader == "Error" ? "TxtRed" : "TxtGreen"))" style="text-align:center; padding: 10px; font-size: 15px;">
            <span> @MessageBody</span>
        </div>
    </BodyTemplate>
</DxPopup>

<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">

    <DxGrid @ref="SMGrid" Data="@_dynamicFormSectionData" EditModelSaving="@OnEditModelSaving" DataItemDeleting="@OnDeleteDataItem" EditMode="GridEditMode.EditForm" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            KeyFieldName="RegistrationRequestComittmentLetterId"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            CssClass="ch-360"
            FocusedRowEnabled="true"
            RowClick="OnRowClick"
            AllowSelectRowByClick="true"
            CustomizeElement="Grid_CustomizeElement"
            CustomizeEditModel="Grid_CustomizeEditModel"
            AutoExpandAllGroupRows="true"
            SelectionMode="GridSelectionMode.Single"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            RowDoubleClick="OnRowDoubleClick" SelectedDataItemsChanged="@SelectedDataItemsChanged">


        <Columns>
            <DxGridDataColumn FieldName="RegistrationRequestComittmentLetterId" Visible="false" />
            <DxGridDataColumn FieldName="CommittmentDate" Caption="Date" MinWidth="40">
                <CellDisplayTemplate>
                    @{
                        var item = (RegistrationRequestComittmentLetter)context.DataItem;
                        var startDate = string.Empty;
                        if (item.CommittmentDate != DateTime.MinValue)
                        {
                            if (item.CommittmentDate != null)
                            {
                                startDate = item.CommittmentDate.Value.ToString("dd-MMM-yyyy");
                            }
                        }
                    }
                    @startDate
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="DepartmentName" Caption="Department" MinWidth="40" />
            <DxGridDataColumn FieldName="CommitmentInformation" Caption="Commitment Information" MinWidth="40" />
            <DxGridDataColumn FieldName="CommitmentTime" Caption="Commitment Time" MinWidth="40">
                <CellDisplayTemplate>
                    @{
                        var item = (RegistrationRequestComittmentLetter)context.DataItem;
                        var startDate = string.Empty;
                        if (item.CommitmentTime != DateTime.MinValue)
                        {
                            if (item.CommitmentTime != null)
                            {
                                startDate = item.CommitmentTime.Value.ToString("dd-MMM-yyyy");
                            }
                        }
                    }
                    @startDate
                </CellDisplayTemplate>
            </DxGridDataColumn>

            @* <DxGridDataColumn FieldName="ModifiedBy" Caption="Modified By" MinWidth="50" />
            <DxGridDataColumn FieldName="ModifiedDate" Caption="Modified Date" Width="180" /> *@
            <DxGridCommandColumn Width="160px" Visible="false" />
        </Columns>
        <EditFormTemplate Context="EditFormContext">
            @{
                var types = (RegistrationRequestComittmentLetter)EditFormContext.EditModel;
            }
            <DxFormLayout CssClass="w-100">
                <DxFormLayoutItem Caption="Date" ColSpanMd="6">
                    <DxDateEdit NullText="Date" @bind-Date="@types.CommittmentDate" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Department" ColSpanMd="6">
                    <DxComboBox Data="@_departmentItems"
                                NullText="Select Department..."
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="DepartmentName"
                                ValueFieldName="DepartmentId"
                                @bind-Value="@types.ActionByDeptId">
                        <Columns>
                            <DxListEditorColumn FieldName="@nameof(ViewDepartment.DepartmentName)"
                                                Caption="Department Name"
                                                Width="100px" />
                            <DxListEditorColumn FieldName="@nameof(ViewDepartment.DepartmentCode)"
                                                Caption="Code"
                                                Width="100px" />
                            <DxListEditorColumn FieldName="@nameof(ViewDepartment.Description)"
                                                Caption="Description"
                                                Width="100px" />
                            <DxListEditorColumn FieldName="@nameof(ViewDepartment.PlantCode)"
                                                Caption="Company" Width="100px" />
                            <DxListEditorColumn FieldName="@nameof(ViewDepartment.Division)"
                                                Caption="Division" Width="100px" />

                        </Columns>
                    </DxComboBox>
                    <ValidationMessage For="@(() => types.ActionByDeptId)" />
                </DxFormLayoutItem>

                <DxFormLayoutItem Caption="Commitment Information" ColSpanMd="12">
                    <DxMemo @bind-Text="@types.CommitmentInformation" Rows="5" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Commitment Time" ColSpanMd="6">
                    <DxDateEdit NullText="Commitment Time" @bind-Date="@types.CommitmentTime" />
                </DxFormLayoutItem>
            </DxFormLayout>
        </EditFormTemplate>

        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="DueDate" />
        </TotalSummary>
    </DxGrid>
</DxLoadingPanel>

<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="Delete"
         Closed="EulaPopupClosed"
         ShowCloseButton="true"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete?
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>
@code {
    private List<ViewDepartment> _departmentItems;
    [Parameter]
    public RegistrationRequestProgressByRegistrationDepartment _registrationRequestData { get; set; }

    bool PanelVisible { get; set; }
    IReadOnlyList<object> SelectedDataItems { get; set; }
    private string gridHeight = "calc(100vh - 230px - 143px)";
    private List<RegistrationRequestComittmentLetter>? _dynamicFormSectionData;
    IGrid? SMGrid { get; set; }
    private RegistrationRequestComittmentLetter _selectedItems;
    bool DeleteEnabled { get; set; } = false;
    bool ExportSelectedRowsOnly { get; set; }
    DxPopup? popup;
    bool PopupVisible { get; set; } = false;
    string? errorMessage;
    string? DeleteerrorMessage;
    bool MessageVisible { get; set; }
    string MessageHeader = "Error";
    string MessageBody = "";
    private bool loading;
    bool Blukdeletepopup { get; set; } = false;
    bool EditEnabled { get; set; } = false;
    bool AddEnabled { get; set; } = false;
    private RegistrationRequestComittmentLetter _selectlst;
    [Parameter]
    public ApplicationUser applicationUser { get; set; }
    protected override async Task OnInitializedAsync()
    {
        _departmentItems = await Mediator.Send(new GetAllDepartmentQuery());

        await UpdateDataAsync();
    }
    public async Task loadChildData(RegistrationRequestProgressByRegistrationDepartment dynamicFormIds)
    {
        _registrationRequestData = dynamicFormIds;
        await UpdateDataAsync();
    }
    async Task Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        var navitems = (RegistrationRequestComittmentLetter)e.EditModel;
        if (e.IsNew)
        {
        }
        else
        {
        }
    }
    async Task UpdateDataAsync()
    {
        try
        {
            PanelVisible = true; AddEnabled = false;
            EditEnabled = false; DeleteEnabled = false;
            if (_registrationRequestData != null && _registrationRequestData.RegistrationRequestProgressByRegistrationDepartmentId > 0)
            {
                AddEnabled = true;
                _dynamicFormSectionData = await Mediator.Send(new GetRegistrationRequestComittmentLetter(_registrationRequestData.RegistrationRequestProgressByRegistrationDepartmentId));
                if (_dynamicFormSectionData.Count > 0)
                {
                    _selectedItems = _dynamicFormSectionData.FirstOrDefault();
                    EditEnabled = true;
                    DeleteEnabled = true;
                }
            }
            else
            {
                _dynamicFormSectionData = new List<RegistrationRequestComittmentLetter>();
            }
            PanelVisible = false;
            StateHasChanged();
        }
        catch (Exception ex)
        {

        }
    }
    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }

    async Task OnEditModelSaving(GridEditModelSavingEventArgs e)
    {

        var editModel = (RegistrationRequestComittmentLetter)e.EditModel;

        if (e.IsNew)
        {
            var createReq = new InsertorUpdateRegistrationRequestComittmentLetter
                {
                    ActionByDeptId=editModel.ActionByDeptId,
                    CommitmentInformation = editModel.CommitmentInformation,
                    CommitmentTime = editModel.CommitmentTime,
                    CommittmentDate = editModel.CommittmentDate,
                    RegistrationRequestProgressByRegistrationDepartmentId = _registrationRequestData.RegistrationRequestProgressByRegistrationDepartmentId,
                    SessionId = Guid.NewGuid(),
                    AddedByUserId = applicationUser.UserID,
                    ModifiedUserId = applicationUser.UserID,
                    ModifiedDate = DateTime.Now,
                    StatusCodeId = 1,
                    AddedDate = DateTime.Now,
                };
            try
            {
                var result = await Mediator.Send(createReq);
                toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            }
            catch (Exception eq)
            {

                errorMessage = eq.Message;
                PopupVisible = true;

            }
            await UpdateDataAsync();


        }
        else
        {
            var UpdateReq = new InsertorUpdateRegistrationRequestComittmentLetter
                {
                    ActionByDeptId = editModel.ActionByDeptId,
                    CommitmentInformation = editModel.CommitmentInformation,
                    CommitmentTime = editModel.CommitmentTime,
                    CommittmentDate = editModel.CommittmentDate,
                    RegistrationRequestProgressByRegistrationDepartmentId = _registrationRequestData.RegistrationRequestProgressByRegistrationDepartmentId,
                    RegistrationRequestComittmentLetterId = editModel.RegistrationRequestComittmentLetterId,
                    SessionId = Guid.NewGuid(),
                    AddedByUserId = editModel.AddedByUserId,
                    ModifiedUserId = applicationUser.UserID,
                    ModifiedDate = DateTime.Now,
                    StatusCodeId = 1,
                    AddedDate = editModel.AddedDate,
                };
            var result = await Mediator.Send(UpdateReq);
            toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();

        }

    }
    private async void onShowPopupMessage(string headerText, string bodyText)
    {

        MessageVisible = true;
        MessageBody = bodyText;
        MessageHeader = headerText;
        loading = false;
        StateHasChanged();
    }
    async void ClosePopup()
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
    }
    async Task OnDeleteDataItem(GridDataItemDeletingEventArgs e)
    {
        try
        {
            var editModel = (RegistrationRequestComittmentLetter)e.DataItem;
            var request = new DeleteRegistrationRequestComittmentLetter(editModel);
            await Mediator.Send(request);
            await UpdateDataAsync();
            SMGrid.SetFocusedRowIndex(0);
        }
        catch (Exception ex)
        {

        }
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    void Onclick(DataGridSelection<RegistrationRequestComittmentLetter> e)
    {
    }

    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "RegistrationRequestComittmentLetterId");
        _selectedItems = _dynamicFormSectionData.FirstOrDefault(f => f.RegistrationRequestComittmentLetterId == (long?)UniqueId);
        DeleteEnabled = true;
        StateHasChanged();

    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addEdit();
    }
    void addNew()
    {
        SMGrid.StartEditNewRowAsync();

    }
    void addEdit()
    {
        if (SelectedDataItems != null)
        {

            if (SelectedDataItems.Count == 1)
            {

                foreach (object item in SelectedDataItems)
                {
                    if (item is RegistrationRequestComittmentLetter dataselectItems)
                    {
                        _selectlst = _dynamicFormSectionData.FirstOrDefault(f => f.RegistrationRequestComittmentLetterId == dataselectItems.RegistrationRequestComittmentLetterId);
                    }
                }
                SMGrid.StartEditDataItemAsync(_selectlst);
            }
            else
            {
                SMGrid.StartEditDataItemAsync(_selectedItems);
            }
        }

    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    async Task bulkDelete()
    {
        try
        {
            if (SelectedDataItems != null)
            {
                foreach (object item in SelectedDataItems)
                {
                    if (item is RegistrationRequestComittmentLetter selectData)
                    {

                        var request = new DeleteRegistrationRequestComittmentLetter(selectData);
                        await Mediator.Send(request);
                        Blukdeletepopup = false;
                        toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        SMGrid.SetFocusedRowIndex(0);
                    }

                }
            }
        }
        catch (Exception eq)
        {
            Blukdeletepopup = false;
            toastService.ShowToast("The Selected Record Do not deleted", AC.SD.Core.Services.ToastLevel.Error);
        }

        await UpdateDataAsync();


    }
    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems;
        if (SelectedDataItems.Count > 1)
        {
            EditEnabled = false;
        }
        else
        {
            EditEnabled = true;
        }

    }

    public async ValueTask DisposeAsync()
    {

    }
}
