@using Application.Commands;
@using Application.Queries;
@using Application.Response;
@using MediatR
@using System.Dynamic
@using global::Core.Entities;
@using global::Core.Entities.Views;
@using global::Core.EntityModels;
@inject IMediator Mediator
@using DevExpress.Export
@using global::Core.Repositories.Query;
@inject IJSRuntime jsRuntime;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@* @inject AC.SD.Core.Helpers.TreeGenerateRecursive _treeGenerateRecursive *@
@implements IAsyncDisposable
@inject NavigationManager NavigationManager
<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop" style="color:chocolate;">
            <Items>
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" Enabled="@AddEnabled" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
                <DxMenuItem Text="Attachment" IconCssClass="fa fa-paperclip" Click="@addAttachment" Enabled="@AttachmentEnabled" />
                <DxMenuItem Text="Email" IconCssClass="fa fa-envelope" Click="@addDetailEmailCreate" Enabled="@EditEnabled" />
                <DxMenuItem Text="View Email" IconCssClass="fa fa-eye" Click="@addDetailEmailView" Enabled="@EditEnabled" />
            </Items>
        </DxMenu>
    </div>
</div>


<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">
    <div class="text-center">
        <p>@errorMessage</p>
        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>
<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">
    <div class="text-center">
        <p>@DeleteerrorMessage</p>
        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>

<DxPopup @bind-Visible="@MessageVisible" ShowCloseButton="true" HeaderText="@MessageHeader">
    <BodyTemplate Context="PopupContext">
        <div class="@((MessageHeader == "Error" ? "TxtRed" : "TxtGreen"))" style="text-align:center; padding: 10px; font-size: 15px;">
            <span> @MessageBody</span>
        </div>
    </BodyTemplate>
</DxPopup>

<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">

    <DxGrid @ref="SMGrid" Data="@_dynamicFormSectionData" EditModelSaving="@OnEditModelSaving" DataItemDeleting="@OnDeleteDataItem" EditMode="GridEditMode.EditForm" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            KeyFieldName="RegistrationRequestQueriesId"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            CssClass="ch-360"
            FocusedRowEnabled="true"
            RowClick="OnRowClick"
            AllowSelectRowByClick="true"
            CustomizeElement="Grid_CustomizeElement"
            CustomizeEditModel="Grid_CustomizeEditModel"
            AutoExpandAllGroupRows="true"
            SelectionMode="GridSelectionMode.Single"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            RowDoubleClick="OnRowDoubleClick" SelectedDataItemsChanged="@SelectedDataItemsChanged">


        <Columns>
            <DxGridDataColumn FieldName="RegistrationRequestQueriesId" Visible="false" />
            <DxGridDataColumn FieldName="IsEmailCreate" Caption="Is Email Create" MinWidth="40" />
            <DxGridDataColumn FieldName="DateOfQueries" Caption="Date Of Queries" MinWidth="40">
                <CellDisplayTemplate>
                    @{
                        var item = (RegistrationRequestQueries)context.DataItem;
                        var startDate = string.Empty;
                        if (item.DateOfQueries != DateTime.MinValue)
                        {
                            if (item.DateOfQueries != null)
                            {
                                startDate = item.DateOfQueries.Value.ToString("dd-MMM-yyyy");
                            }
                        }
                    }
                    @startDate
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="Requirement" Caption="Requirement" MinWidth="40" />
            <DxGridDataColumn FieldName="Assignment" Caption="Assignment" MinWidth="40" />
            <DxGridDataColumn FieldName="DueDate" Caption="Authority Due Date" MinWidth="40">
                <CellDisplayTemplate>
                    @{
                        var item = (RegistrationRequestQueries)context.DataItem;
                        var startDate = string.Empty;
                        if (item.DueDate != DateTime.MinValue)
                        {
                            if (item.DueDate != null)
                            {
                                startDate = item.DueDate.Value.ToString("dd-MMM-yyyy");
                            }
                        }
                    }
                    @startDate
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="DepartmentDueDate" Caption="Department Due Date" MinWidth="40">
                <CellDisplayTemplate>
                    @{
                        var item = (RegistrationRequestQueries)context.DataItem;
                        var startDate = string.Empty;
                        if (item.DepartmentDueDate != DateTime.MinValue)
                        {
                            if (item.DepartmentDueDate != null)
                            {
                                startDate = item.DepartmentDueDate.Value.ToString("dd-MMM-yyyy");
                            }
                        }
                    }
                    @startDate
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="StatusCode" Caption="Status" MinWidth="40" />
            @* <DxGridDataColumn FieldName="ModifiedBy" Caption="Modified By" MinWidth="50" />
            <DxGridDataColumn FieldName="ModifiedDate" Caption="Modified Date" Width="180" /> *@
            <DxGridCommandColumn Width="160px" Visible="false" />
        </Columns>
        <EditFormTemplate Context="EditFormContext">
            @{
                var types = (RegistrationRequestQueries)EditFormContext.EditModel;
            }
            <DxFormLayout CssClass="w-100">
                <DxFormLayoutItem Caption="Authority Users" ColSpanMd="10">
                    <DxTagBox Data="_usersList"
                              @bind-Values="types.SelectUserIDs"
                              NullText="Select Users..."
                              ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                              ValueFieldName="UserID"
                              TextFieldName="FirstName"
                              SearchMode="ListSearchMode.AutoSearch"
                              SearchFilterCondition="ListSearchFilterCondition.Contains"
                              EditFormat="{0}-{1}"
                              SelectedItemsChanged="@((IEnumerable<ViewEmployee> values) => onSelectedUserItemsChanged(values))"
                              ListRenderMode="ListRenderMode.Virtual">
                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.FirstName)" Caption="FirstName" />
                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.LastName)" Caption="Last Name" />
                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.NickName)" Caption="Nick Name" />
                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.DesignationName)" Caption="Designation" />
                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.CompanyName)" Caption="Company" Width="100px" />
                    </DxTagBox>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Date Of Queries" ColSpanMd="6">
                    <DxDateEdit NullText="Date Of Queries" @bind-Date="@types.DateOfQueries" />
                </DxFormLayoutItem>

                <DxFormLayoutItem Caption="Requirement" ColSpanMd="12">
                    <DxMemo @bind-Text="@types.Requirement" Rows="5" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Assignment" ColSpanMd="12">
                    <DxMemo @bind-Text="@types.Assignment" Rows="5" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Authority Due Date" ColSpanMd="6">
                    <DxDateEdit NullText="Authority Due Date" @bind-Date="@types.DueDate" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Department Due Date" ColSpanMd="6">
                    <DxDateEdit NullText="Department Due Date" @bind-Date="@types.DepartmentDueDate" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Status" ColSpanMd="6">
                    <DxComboBox Data="@_stausItems"
                                NullText="Select Status..."
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="CodeValue"
                                ValueFieldName="CodeId"
                                @bind-Value="@types.StatusCodeId"
                                ShowValidationIcon="true">
                    </DxComboBox>
                    <ValidationMessage For="@(() => types.StatusCodeId)" />
                </DxFormLayoutItem>
            </DxFormLayout>
        </EditFormTemplate>

        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="DueDate" />
        </TotalSummary>
    </DxGrid>
</DxLoadingPanel>

<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="Delete"
         Closed="EulaPopupClosed"
         ShowCloseButton="true"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete?
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@AttachmentPopUp"
         ShowFooter="false"
         HeaderText="Attachment"
         CloseOnOutsideClick="false"
         ShowCloseButton="true"
         MinWidth="300" MinHeight="200" MaxWidth="1000px" MaxHeight="800">
    <BodyContentTemplate>
        <AC.SD.Core.Pages.UploadDocuments.UploadDocuments SessionId="@_selectedItems.SessionId" RevokeBack="CloseAttachmentPopup"></AC.SD.Core.Pages.UploadDocuments.UploadDocuments>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => CloseAttachmentPopup())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@EmailAddpopupForm"
         ShowFooter="false"
         ShowCloseButton="true"
         HeaderText="Create Email"
         CloseOnOutsideClick="false"
         CloseOnEscape="false"
         Width="1000px">
    <BodyContentTemplate>
        <RegistrationRequestCreateEmailForm Type="AuthorityStatusForQuery" applicationUser="@applicationUser" DepartmentUniqueSessionId="@_selectedItems?.SessionId" _registrationRequestData="@_registrationRequestDatas" _RegistrationRequestDepartmentData="@_dynamicFormSectionDatas" RevokeBack="AddpopupFormClose"></RegistrationRequestCreateEmailForm>
    </BodyContentTemplate>
</DxPopup>
@code {
    bool EmailAddpopupForm { get; set; } = false;
    private List<ViewEmployee>? _usersList;
    [Parameter]
    public RegistrationRequestProgressByRegistrationDepartment _registrationRequestData { get; set; }
    [Parameter]
    public RegistrationRequest _registrationRequestDatas { get; set; }
    private List<RegistrationRequestAssignmentOfJob>? _dynamicFormSectionDatas;
    bool AttachmentPopUp { get; set; } = false; bool AttachmentEnabled { get; set; } = false;
    bool PanelVisible { get; set; }
    IReadOnlyList<object> SelectedDataItems { get; set; }
    private string gridHeight = "calc(100vh - 230px - 143px)";
    private List<RegistrationRequestQueries>? _dynamicFormSectionData;
    IGrid? SMGrid { get; set; }
    private RegistrationRequestQueries _selectedItems;
    bool DeleteEnabled { get; set; } = false;
    bool ExportSelectedRowsOnly { get; set; }
    DxPopup? popup;
    bool PopupVisible { get; set; } = false;
    string? errorMessage;
    string? DeleteerrorMessage;
    bool MessageVisible { get; set; }
    string MessageHeader = "Error";
    string MessageBody = "";
    private bool loading;
    bool Blukdeletepopup { get; set; } = false;
    bool EditEnabled { get; set; } = false;
    bool AddEnabled { get; set; } = false;
    private RegistrationRequestQueries _selectlst;
    [Parameter]
    public ApplicationUser applicationUser { get; set; }
    private List<CodeMaster> _stausItems;
    protected override async Task OnInitializedAsync()
    {
        _stausItems = await Mediator.Send(new GetAllCodeMasterQuery("AuthorityStatusForQuery"));
        _usersList = await Mediator.Send(new GetAllEmployeeQuery());
        await UpdateDataAsync();
    }
    public async Task loadChildData(RegistrationRequestProgressByRegistrationDepartment dynamicFormIds)
    {
        _registrationRequestData = dynamicFormIds;
        await UpdateDataAsync();
    }
    void onSelectedUserItemsChanged(IEnumerable<ViewEmployee> values)
    {

    }
    async Task Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        var navitems = (RegistrationRequestQueries)e.EditModel;
        if (e.IsNew)
        {
        }
        else
        {
        }
    }
    async Task UpdateDataAsync()
    {
        try
        {
            PanelVisible = true; AddEnabled = false;
            EditEnabled = false; DeleteEnabled = false; AttachmentEnabled = false;
            if (_registrationRequestData != null && _registrationRequestData.RegistrationRequestProgressByRegistrationDepartmentId > 0)
            {
                AddEnabled = true;
                _dynamicFormSectionData = await Mediator.Send(new GetRegistrationRequestQueries(_registrationRequestData.RegistrationRequestProgressByRegistrationDepartmentId));
                if (_dynamicFormSectionData.Count > 0)
                {
                    _selectedItems = _dynamicFormSectionData.FirstOrDefault();
                    EditEnabled = true; AttachmentEnabled = true;
                    DeleteEnabled = true;
                }
            }
            else
            {
                _dynamicFormSectionData = new List<RegistrationRequestQueries>();
            }
            PanelVisible = false;
            StateHasChanged();
        }
        catch (Exception ex)
        {

        }
    }
    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }

    async Task OnEditModelSaving(GridEditModelSavingEventArgs e)
    {

        var editModel = (RegistrationRequestQueries)e.EditModel;

        if (e.IsNew)
        {
            var createReq = new InsertorUpdateRegistrationRequestQueries
                {
                    DateOfQueries = editModel.DateOfQueries,
                    Requirement = editModel.Requirement,
                    Assignment = editModel.Assignment,
                    DueDate = editModel.DueDate,
                    RegistrationRequestProgressByRegistrationDepartmentId = _registrationRequestData.RegistrationRequestProgressByRegistrationDepartmentId,
                    SessionId = Guid.NewGuid(),
                    AddedByUserId = applicationUser.UserID,
                    ModifiedUserId = applicationUser.UserID,
                    ModifiedDate = DateTime.Now,
                    StatusCodeId = editModel.StatusCodeId,
                    AddedDate = DateTime.Now,
                    DepartmentDueDate = editModel.DepartmentDueDate,
                    SelectUserIDs = editModel.SelectUserIDs,
                };
            try
            {
                var result = await Mediator.Send(createReq);
                toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            }
            catch (Exception eq)
            {

                errorMessage = eq.Message;
                PopupVisible = true;

            }
            await UpdateDataAsync();


        }
        else
        {
            var UpdateReq = new InsertorUpdateRegistrationRequestQueries
                {
                    DateOfQueries = editModel.DateOfQueries,
                    Requirement = editModel.Requirement,
                    Assignment = editModel.Assignment,
                    DueDate = editModel.DueDate,
                    RegistrationRequestProgressByRegistrationDepartmentId = _registrationRequestData.RegistrationRequestProgressByRegistrationDepartmentId,
                    RegistrationRequestQueriesId = editModel.RegistrationRequestQueriesId,
                    SessionId = Guid.NewGuid(),
                    AddedByUserId = editModel.AddedByUserId,
                    ModifiedUserId = applicationUser.UserID,
                    ModifiedDate = DateTime.Now,
                    StatusCodeId = editModel.StatusCodeId,
                    AddedDate = editModel.AddedDate,
                    DepartmentDueDate = editModel.DepartmentDueDate,
                    SelectUserIDs = editModel.SelectUserIDs,
                };
            var result = await Mediator.Send(UpdateReq);
            toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();

        }

    }
    private async void onShowPopupMessage(string headerText, string bodyText)
    {

        MessageVisible = true;
        MessageBody = bodyText;
        MessageHeader = headerText;
        loading = false;
        StateHasChanged();
    }
    async void ClosePopup()
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
    }
    async Task OnDeleteDataItem(GridDataItemDeletingEventArgs e)
    {
        try
        {
            var editModel = (RegistrationRequestQueries)e.DataItem;
            var request = new DeleteRegistrationRequestQueries(editModel);
            await Mediator.Send(request);
            await UpdateDataAsync();
            SMGrid.SetFocusedRowIndex(0);
        }
        catch (Exception ex)
        {

        }
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    void Onclick(DataGridSelection<RegistrationRequestComittmentLetter> e)
    {
    }

    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "RegistrationRequestQueriesId");
        _selectedItems = _dynamicFormSectionData.FirstOrDefault(f => f.RegistrationRequestQueriesId == (long?)UniqueId);
        DeleteEnabled = true; AttachmentEnabled = true;
        StateHasChanged();

    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addEdit();
    }
    void addNew()
    {
        SMGrid.StartEditNewRowAsync();

    }
    void addEdit()
    {
        if (SelectedDataItems != null)
        {

            if (SelectedDataItems.Count == 1)
            {

                foreach (object item in SelectedDataItems)
                {
                    if (item is RegistrationRequestQueries dataselectItems)
                    {
                        _selectlst = _dynamicFormSectionData.FirstOrDefault(f => f.RegistrationRequestQueriesId == dataselectItems.RegistrationRequestQueriesId);
                    }
                }
                SMGrid.StartEditDataItemAsync(_selectlst);
            }
            else
            {
                SMGrid.StartEditDataItemAsync(_selectedItems);
            }
        }

    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    async Task bulkDelete()
    {
        try
        {
            if (SelectedDataItems != null)
            {
                foreach (object item in SelectedDataItems)
                {
                    if (item is RegistrationRequestQueries selectData)
                    {

                        var request = new DeleteRegistrationRequestQueries(selectData);
                        await Mediator.Send(request);
                        Blukdeletepopup = false;
                        toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        SMGrid.SetFocusedRowIndex(0);
                    }

                }
            }
        }
        catch (Exception eq)
        {
            Blukdeletepopup = false;
            toastService.ShowToast("The Selected Record Do not deleted", AC.SD.Core.Services.ToastLevel.Error);
        }

        await UpdateDataAsync();


    }
    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems;
        if (SelectedDataItems.Count > 1)
        {
            EditEnabled = false;
        }
        else
        {
            EditEnabled = true;
        }

    }
    void addAttachment()
    {
        AttachmentPopUp = true;
    }
    void CloseAttachmentPopup()
    {
        InvokeAsync(UpdateDataAsync);
        AttachmentPopUp = false;
    }
    void AddpopupFormClose()
    {
        InvokeAsync(UpdateDataAsync);
        EmailAddpopupForm = false;
        StateHasChanged();
    }
    async Task addDetailEmailView()
    {
        if (_selectedItems != null)
        {
            var _selectedItemsDAta = await Mediator.Send(new GetActivityEmailTopicsExits(_registrationRequestData.SessionId));
            if (_selectedItemsDAta != null)
            {
                if (_selectedItemsDAta.IsDraft == true)
                {
                    var url = NavigationManager.BaseUri + "EmailDrafts";
                    await jsRuntime.InvokeVoidAsync("window.open", url, "_blank");
                }
                if (_selectedItemsDAta.IsDraft == false)
                {
                    var url = NavigationManager.BaseUri + "ViewEmail/" + _selectedItemsDAta.EmailTopicSessionId + "/Email";
                    await jsRuntime.InvokeVoidAsync("window.open", url, "_blank");
                }
                if (_selectedItemsDAta.IsDraft == null)
                {
                    await addDetailEmailCreate();
                }
            }
            else
            {
                await addDetailEmailCreate();
            }
        }
    }
    async Task addDetailEmailCreate()
    {
        if (_selectedItems != null)
        {
            if (_selectedItems.IsEmailCreate == false)
            {
                _dynamicFormSectionDatas = new List<RegistrationRequestAssignmentOfJob>();
                RegistrationRequestAssignmentOfJob registrationRequestAssignmentOfJob = new RegistrationRequestAssignmentOfJob();
                registrationRequestAssignmentOfJob.RegistrationRequestAssignmentOfJobId = _selectedItems.RegistrationRequestQueriesId;
                registrationRequestAssignmentOfJob.DateOfQueries = _selectedItems.DateOfQueries;
                registrationRequestAssignmentOfJob.Requirement = _selectedItems.Requirement;
                registrationRequestAssignmentOfJob.IsEmailCreateDone = true;
                registrationRequestAssignmentOfJob.Assignment = _selectedItems.Assignment;
                registrationRequestAssignmentOfJob.CommitmentStatus = _selectedItems.StatusCode;
                registrationRequestAssignmentOfJob.Type = "AuthorityStatusForQuery";
                registrationRequestAssignmentOfJob.DueDate = _selectedItems.DueDate;
                registrationRequestAssignmentOfJob.DepartmentDueDate = _selectedItems.DepartmentDueDate;
                registrationRequestAssignmentOfJob.DepartmentUniqueSessionId = _selectedItems.SessionId;
                _dynamicFormSectionDatas.Add(registrationRequestAssignmentOfJob);
                EmailAddpopupForm = true;

            }
        }
    }
    public async ValueTask DisposeAsync()
    {

    }
}
