@page "/TestPage"

@using Application.Commands;
@using Application.Queries;
@using MediatR
@using global::Core.Entities;
@using global::Core.Entities.Views;
@using global::Core.Repositories.Query;
@inject IMediator Mediator
@using DevExpress.Export
@using Application.Response;
@using System.ComponentModel.DataAnnotations;
@inject IJSRuntime JSRuntime;
@using System.Reflection;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject NavigationManager NavigationManager
<h3>EditForm</h3>

<DxMenu CollapseItemsToHamburgerMenu="true"
        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
        DisplayMode="MenuDisplayMode.Desktop">
    <Items>
        <DxMenuItem Text="Save" IconCssClass="fa fa-reply" Click="@SubmitFormExternally" />
        <DxMenuItem Text="Saves" IconCssClass="fa fa-add" Click="@SubmitFormExternally" />
    </Items>
</DxMenu>
<EditForm EditContext="this._editContext" OnValidSubmit="ValidSubmitForm">
    <DataAnnotationsValidator />
    <div class="p-2">
        <span>Value (100-200):</span>
        <DxTextBox @bind-Text="@_model.ScreenID"></DxTextBox>
        <ValidationMessage For="() => _model.ScreenID" />
    </div>
    <div class="p-2">
        <span>Value (100-200):</span>
        <DxTextBox @bind-Text="@_model.Name"></DxTextBox>
        <ValidationMessage For="() => _model.Name" />
    </div>

</EditForm>
<div class="m-2 p-2">
    <span>@message</span>
</div>



@code {
    private string message;

    private DynamicForm _model = new DynamicForm();

   // [Inject] private HotKeys hotKeys { get; set; }

    //private HotKeysContext _hotKeysContext;

    EditContext _editContext;

    // Explicitly setup the Edit context so we have a reference to it
    protected override async Task OnInitializedAsync()
    {
        _editContext = new EditContext(_model);
       // _hotKeysContext = this.hotKeys.CreateContext()
        // .Add(ModKeys.Ctrl, Keys.S, SubmitFormCtlS, "Submit form");

    }

    // Invalid handler
    private Task ValidSubmitForm()
    {
       // message = $"Valid Form Submitted at :{DateTime.Now.ToLongTimeString()}";
        return Task.CompletedTask;
    }

    // Valid Handler
    private Task InvalidSubmitForm()
    {
       // message = $" Invalid Form Submitted at :{DateTime.Now.ToLongTimeString()}";
        return Task.CompletedTask;
    }

    // Method to call from external button
    // Works and component updates as it's a Blazor Component event
    // emulates the private HandleSubmitAsync method in EditForm
    private async Task SubmitFormExternally()
    {
        if (_editContext.Validate())
        {
            await this.ValidSubmitForm();
        }
        //else
           // await this.InvalidSubmitForm();
    }

    // Method to call from shortcut key
    // The shortcut key mechanism does't wrap the call in a Blazor Component event
    // So we wrap the code within one
    // The code emulates the private HandleSubmitAsync method in EditForm
    // private async Task SubmitFormCtlS()
    // {
    //     var task = Task.CompletedTask;
    //     if (_editContext.Validate())
    //         task = this.ValidSubmitForm();
    //     else
    //         task = this.InvalidSubmitForm();
    //     this.StateHasChanged();
    //     if (!task.IsCompleted || task.IsCanceled)
    //     {
    //         await task;
    //         this.StateHasChanged();
    //     }
    // }

    public void Dispose()
    {
       // _hotKeysContext.Dispose();
    }

    // Quick Model Class
    public class Model
    {
        [Required]
       // [Range(100, 200, ErrorMessage = "Must be between 100 and 200")]
        public string? Value { get; set; }
        //[Range(100, 200, ErrorMessage = "Musts be between 100 and 200")]
        [Required]
        public string? Values { get; set; } 
    }
}
