@using Application.Queries;
@using MediatR;
@using Newtonsoft.Json;
@using global::Core.Entities;
@using global::Core.EntityModels;
@using global::Core.Entities.Views;
@using global::Core.Repositories.Query;
@inject IMediator Mediator
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject IJSRuntime JSRuntime;
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration
@inject ClipboardService ClipboardService
@inject IJSRuntime jsRuntime
@inject AC.SD.Core.Services.ToastService toastService
@* @inject AC.SD.Core.Helpers.TreeGenerateRecursive _treeGenerateRecursive *@
@inject NavigationManager Navigator
@using System.Collections
@implements IAsyncDisposable
<style>
    .dxuc-file-list-view {
        padding: 20px;
    }

    .dxuc-upload-icon {
        display: none; /* or any other style to disable or hide the icon */
    }
</style>
<div class="card" style="margin-bottom:10px; margin-top: 10px; margin-right:-12px;">
    <div class="card-body p-0">
        <div class="row">
            <div class="">
                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Desktop">
                    <Items>
                        <DxMenuItem Text="Back" IconCssClass="fa fa-reply" Click="@backUrl" />
                        <DxMenuItem Text="SW Library Doc" IconCssClass="fa fa-file" Click="@addDetailFile" Enabled="@fileEnabled" />
                    </Items>
                </DxMenu>
            </div>
        </div>
    </div>
</div>
<div class="" style="margin-left:10px; height: calc(100vh - 200px); overflow: auto; overflow-x: hidden;">
    <DxTabs RenderMode="TabsRenderMode.Default" @bind-ActiveTabIndex="@ActiveTabIndex" TabClick="OnTabClick">
        <DxTabPage Text="File List">
            <DxLoadingPanel @bind-Visible="PanelVisible"
                            IsContentBlocked="true"
                            ApplyBackgroundShading="true"
                            IndicatorAreaVisible="false"
                            Text="Fetching Data...">
                <DxGrid @ref="Grid" Data="@_dynamicFormSectionList" EditMode="GridEditMode.EditForm" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
                        FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                        ColumnResizeMode="GridColumnResizeMode.NextColumn"
                        PagerNavigationMode="PagerNavigationMode.InputBox"
                        PageSizeSelectorVisible="true"
                        PageSizeSelectorAllRowsItemVisible="true"
                        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                        PageSize="20"
                        style="height: calc(100vh - 400px);"
                        CssClass="ch-360"
                        FocusedRowEnabled="true"
                        KeyFieldName="DynamicFormSectionId"
                        AllowSelectRowByClick="true"
                        RowClick="OnRowclick"
                        CustomizeElement="Grid_CustomizeElement"
                        AutoExpandAllGroupRows="true"
                        SelectionMode="GridSelectionMode.Multiple"
                        SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
                        RowDoubleClick="OnRowDoubleClick">

                    <Columns>
                        <DxGridDataColumn FieldName="SectionName" MinWidth="50" Caption="Section Name" />
                        <DxGridDataColumn FieldName="IsFileExits" Caption="Section File Exits" MinWidth="20" />
                        <DxGridDataColumn FieldName="FileProfileName" Caption="SW Library Name" MinWidth="50" />
                        <DxGridDataColumn FieldName="ProfileNo" Caption="Document No" MinWidth="20" />
                        <DxGridDataColumn FieldName="FileName" Caption="FileName" MinWidth="50" />
                        <DxGridDataColumn FieldName="Instruction" Caption="Section Instruction" MinWidth="50" />
                    </Columns>
                    <TotalSummary>
                        <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="SectionName" />
                    </TotalSummary>
                </DxGrid>
            </DxLoadingPanel>
        </DxTabPage>
        <DxTabPage Text="Upload">
            <div class="card" style="margin-bottom:10px; margin-top: 10px; margin-right:-12px;">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="">
                            <DxMenu CollapseItemsToHamburgerMenu="true"
                                    CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                                    DisplayMode="MenuDisplayMode.Desktop">
                                <Items>
                                    <DxMenuItem Text="Select File" IconCssClass="fa fa-file" id="attachmentSelectButton" Enabled="@isFilesUpload" />
                                    @*  <DxMenuItem Text="Select Image" IconCssClass="fa fa-file" Click="@onImageToPdfSelectFile" Enabled="@isImageUpload" /> *@
                                    <DxMenuItem Text="@Message" IconCssClass="fa fa-upload" Click="SubmitFormExternally" Enabled="@Uploadloading" />
                                </Items>
                            </DxMenu>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-start" style="overflow: auto;">
                <div class="cw-480" style="margin-top:10px;">
                    <EditForm EditContext="this._editContext" Context="EditFormContext" OnValidSubmit="HandleValidSubmit">
                        <DxFormLayout CssClass="w-100">
                            <DataAnnotationsValidator />
                            <DxFormLayoutItem Caption="Section Name" ColSpanMd="6">
                                <DxComboBox Data="@_dynamicFormSectionListNoUpload"
                                            NullText="Select Section..."
                                            ListRenderMode="ListRenderMode.Virtual"
                                            SearchMode="ListSearchMode.AutoSearch"
                                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                                            Value="@CurrentSection"
                                            ValueExpression="@(() => CurrentSection )"
                                            TextFieldName="SectionName"
                                            ValueFieldName="DynamicFormSectionId"
                                            ValueChanged="@((DynamicFormSection plantSelect) => SelectedItemSectionChanged(plantSelect))"
                                            ShowValidationIcon="true">
                                    <Columns>
                                        <DxListEditorColumn FieldName="@nameof(DynamicFormSection.SectionName)"
                                                            Caption="Section Name"
                                                            Width="180px" />
                                        <DxListEditorColumn FieldName="@nameof(DynamicFormSection.SectionFileProfileTypeName)"
                                                            Caption="Section Library Name" />
                                        <DxListEditorColumn FieldName="@nameof(DynamicFormSection.IsFileExits)"
                                                            Caption="Section File Exits" />
                                        <DxListEditorColumn FieldName="@nameof(DynamicFormSection.FileProfileName)"
                                                            Caption="SW Library Name" />
                                        <DxListEditorColumn FieldName="@nameof(DynamicFormSection.FileName)"
                                                            Caption="File Name" />
                                        <DxListEditorColumn FieldName="@nameof(DynamicFormSection.Instruction)"
                                                            Caption="Section Instruction" />

                                    </Columns>
                                    <Buttons>
                                        <DxEditorButton IconCssClass="fa fa-file"
                                                        Tooltip="Go To SW Library"
                                                        Click="@(_ => OnButtonFileProfileTypeGoDocClick())" />
                                    </Buttons>
                                </DxComboBox>
                                <DxSpinEdit @bind-Value="@Data.DynamicFormSectionId" ShowValidationIcon="true" style="display:none;" />
                                <ValidationMessage For="@(() => Data.DynamicFormSectionId)" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="SW Library" ColSpanMd="10">
                                <DxTextBox @bind-Text=@FileprofiletypeName>
                                    <Buttons>
                                        <DxEditorButton IconCssClass="fa fa-add" Id=@($"flyout-overview-target-container-FileProfileTypeOpen")
                                                        Tooltip="Select SW Library"
                                                        Click="@(_ => OnButtonFileProfileTypeClick())" />
                                    </Buttons>
                                </DxTextBox>
                                <DxSpinEdit @bind-Value="@Data.FileProfileTypeId" ShowValidationIcon="true" style="display:none;" />
                                <ValidationMessage For="@(() => Data.FileProfileTypeId)" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Upload Type" ColSpanMd="10">
                                <DxRadioGroup Items="@TemplateUploadOrReserveNoOptions"
                                              Value="@Data.TemplateUploadOrReserveNo"
                                              ValueExpression="@(() => Data.TemplateUploadOrReserveNo )"
                                              ValueChanged="@((string value) => OnTemplateUploadTypeGroupValueChanged(value))"
                                              Layout="RadioGroupLayout.Horizontal"
                                              CssClass="dx-demo-radio-group" />
                            </DxFormLayoutItem>
                            @* <DxFormLayoutItem Caption="DMS/Reseve No" ColSpanMd="4">
                            <DxRadioGroup Items="@TemplateUploadOptions"
                            Value="@Data.TemplateUploadType"
                            ValueExpression="@(() => Data.TemplateUploadType )"
                            ValueChanged="@((string value) => OnTemplateUploadGroupValueChanged(value))"
                            Layout="RadioGroupLayout.Horizontal"
                            CssClass="dx-demo-radio-group" />
                            </DxFormLayoutItem> *@
                            <DxFormLayoutItem Caption="New File Name" ColSpanMd="6" Visible="@isTemplateUploadTypeImages">
                                <DxTextBox @bind-Text="@Data.ChangeNewFileName" ShowValidationIcon="true" />
                                <ValidationMessage For="@(() => Data.ChangeNewFileName)" />
                            </DxFormLayoutItem>

                            <DxFormLayoutItem Caption="Reserve No" ColSpanMd="6" Visible="@isReserveNoVisibile">
                                <DxComboBox Data="@_reserveProfileNumberSeriesList"
                                            NullText="Select Reserve No..."
                                            ListRenderMode="ListRenderMode.Virtual"
                                            SearchMode="ListSearchMode.AutoSearch"
                                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                                            Value="@CurrentReserveNo"
                                            ValueExpression="@(() => CurrentReserveNo )"
                                            TextFieldName="DocumentNo"
                                            ValueFieldName="NumberSeriesId"
                                            ValueChanged="@((DocumentNoSeriesModel plantSelect) => SelectedDocumentNoSeriesItemChanged(plantSelect))"
                                            ShowValidationIcon="true">
                                    <Columns>
                                        <DxListEditorColumn FieldName="@nameof(DocumentNoSeriesModel.DocumentNo)"
                                                            Caption="Document No" />
                                        <DxListEditorColumn FieldName="@nameof(DocumentNoSeriesModel.Title)"
                                                            Caption="Title" />
                                        <DxListEditorColumn FieldName="@nameof(DocumentNoSeriesModel.RequestorName)"
                                                            Caption="Requestor Name" />
                                        <DxListEditorColumn FieldName="@nameof(DocumentNoSeriesModel.Description)"
                                                            Caption="Description" />
                                    </Columns>
                                </DxComboBox>
                                <DxSpinEdit @bind-Value="@Data.NumberSeriesId" ShowValidationIcon="true" style="display:none;" />
                                <ValidationMessage For="@(() => Data.NumberSeriesId)" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Company" ColSpanMd="6" Visible="@isTemplateUploadOrReserveNoImages">
                                @* <DxComboBox Data="@_plantItems"
                                NullText="Select Company..."
                                ListRenderMode="ListRenderMode.Virtual"
                                FilteringMode="DataGridFilteringMode.Contains"
                                TextFieldName="PlantCode"
                                ValueFieldName="PlantID"
                                SelectedItemChanged="@((ViewPlants plantSelect) => SelectedItemChanged(plantSelect?.PlantID))"
                                Enabled="isPlant"
                                @bind-Value="@Data.PlantId" ShowValidationIcon="true">
                                <Columns>
                                <DxListEditorColumn FieldName="@nameof(ViewPlants.PlantCode)"
                                Caption="Plant Code"
                                Width="180px" />
                                <DxListEditorColumn FieldName="@nameof(ViewPlants.Description)"
                                Caption="Description" />
                                <DxListEditorColumn FieldName="@nameof(ViewPlants.NavCompanyName)"
                                Caption="Nav Company" />
                                </Columns>
                                </DxComboBox>*@

                                <DxDropDownBox @bind-Value="PlantValue"
                                               QueryDisplayText="QueryPlantText"
                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                               NullText="Select a Company..."
                                               Enabled="isPlant"
                                               ShowValidationIcon="true">
                                    <DropDownBodyTemplate Context="ddbBodyContext">
                                        <DxGrid Data="@_plantItems"
                                                KeyFieldName="@nameof(ViewPlants.PlantID)" ShowSearchBox="true"
                                                HighlightRowOnHover="true"
                                                SearchTextParseMode="GridSearchTextParseMode.GroupWordsByAnd"
                                                SelectionMode="GridSelectionMode.Single"
                                                AllowSelectRowByClick="true"
                                                FocusedRowEnabled="true"
                                                TextWrapEnabled="false"
                                                CssClass="templateGrid"
                                                SelectedDataItem="@(ddbBodyContext.DropDownBox.Value as ViewPlants)"
                                                SelectedDataItemChanged="item => GridSelectedDataItemChanged(item, ddbBodyContext.DropDownBox)">
                                            <Columns>
                                                <DxGridDataColumn FieldName="PlantCode" />
                                                <DxGridDataColumn FieldName="Description" />
                                                <DxGridDataColumn FieldName="NavCompanyName" />
                                            </Columns>
                                        </DxGrid>
                                    </DropDownBodyTemplate>
                                </DxDropDownBox>
                                <DxSpinEdit @bind-Value="@Data.PlantId" ShowValidationIcon="true" style="display:none;" />
                                <ValidationMessage For="@(() => Data.PlantId)" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Division" ColSpanMd="6" Visible="@isTemplateUploadOrReserveNoImages">
                                @* <DxComboBox Data="@_divisionItems"
                                NullText="Select Division..."
                                ListRenderMode="ListRenderMode.Virtual"
                                FilteringMode="DataGridFilteringMode.Contains"
                                TextFieldName="Name"
                                ValueFieldName="DivisionID"
                                Enabled="isDivision"
                                SelectedItemChanged="@((ViewDivision plantSelect) => SelectedItemDivisionChanged(plantSelect?.DivisionID))"
                                @bind-Value="@Data.DivisionId" ShowValidationIcon="true">
                                <Columns>
                                <DxListEditorColumn FieldName="@nameof(ViewDivision.Name)"
                                Caption="Name"
                                Width="180px" />
                                <DxListEditorColumn FieldName="@nameof(ViewDivision.Code)"
                                Caption="Code" />
                                <DxListEditorColumn FieldName="@nameof(ViewDivision.Description)"
                                Caption="Description" />
                                </Columns>
                                </DxComboBox> *@
                                <DxDropDownBox @bind-Value="DivisionValue"
                                               QueryDisplayText="QueryDivisionText"
                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                               NullText="Select a Division..."
                                               Enabled="isDivision"
                                               ShowValidationIcon="true">
                                    <DropDownBodyTemplate Context="ddbBodyContext">
                                        <DxGrid Data="@_divisionItems"
                                                KeyFieldName="@nameof(ViewDivision.DivisionID)" ShowSearchBox="true"
                                                HighlightRowOnHover="true"
                                                SearchTextParseMode="GridSearchTextParseMode.GroupWordsByAnd"
                                                SelectionMode="GridSelectionMode.Single"
                                                AllowSelectRowByClick="true"
                                                FocusedRowEnabled="true"
                                                TextWrapEnabled="false"
                                                CssClass="templateGrid"
                                                SelectedDataItem="@(ddbBodyContext.DropDownBox.Value as ViewDivision)"
                                                SelectedDataItemChanged="item => GridDivisionSelectedDataItemChanged(item, ddbBodyContext.DropDownBox)">
                                            <Columns>
                                                <DxGridDataColumn FieldName="@nameof(ViewDivision.Name)" Caption="Name" />
                                                <DxGridDataColumn FieldName="@nameof(ViewDivision.Code)" Caption="Code" />
                                                <DxGridDataColumn FieldName="@nameof(ViewDivision.Description)" Caption="Description" />
                                            </Columns>
                                        </DxGrid>
                                    </DropDownBodyTemplate>
                                </DxDropDownBox>
                                <DxSpinEdit @bind-Value="@Data.DivisionId" ShowValidationIcon="true" style="display:none;" />
                                <ValidationMessage For="@(() => Data.DivisionId)" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Department" ColSpanMd="6" Visible="@isTemplateUploadOrReserveNoImages">
                                @* <DxComboBox Data="@_departmentItems"
                                NullText="Select Department..."
                                ListRenderMode="ListRenderMode.Virtual"
                                FilteringMode="DataGridFilteringMode.Contains"
                                TextFieldName="DepartmentName"
                                ValueFieldName="DepartmentId"
                                Enabled="isDepartment"
                                SelectedItemChanged="@((ViewDepartment plantSelect) => SelectedItemDepartementChanged(plantSelect?.DepartmentId))"
                                @bind-Value="@Data.DepartmentId" ShowValidationIcon="true">
                                <Columns>
                                <DxListEditorColumn FieldName="@nameof(ViewDepartment.DepartmentName)"
                                Caption="Name"
                                Width="180px" />
                                <DxListEditorColumn FieldName="@nameof(ViewDepartment.DepartmentCode)"
                                Caption="Code" />
                                <DxListEditorColumn FieldName="@nameof(ViewDepartment.Description)"
                                Caption="Description" />
                                </Columns>
                                </DxComboBox> *@
                                <DxDropDownBox @bind-Value="DepartmentValue"
                                               QueryDisplayText="QueryDepartmentText"
                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                               NullText="Select a Department..."
                                               Enabled="isDepartment"
                                               ShowValidationIcon="true">
                                    <DropDownBodyTemplate Context="ddbBodyContext">
                                        <DxGrid Data="@_departmentItems"
                                                KeyFieldName="@nameof(ViewDepartment.DepartmentId)" ShowSearchBox="true"
                                                HighlightRowOnHover="true"
                                                SearchTextParseMode="GridSearchTextParseMode.GroupWordsByAnd"
                                                SelectionMode="GridSelectionMode.Single"
                                                AllowSelectRowByClick="true"
                                                FocusedRowEnabled="true"
                                                TextWrapEnabled="false"
                                                CssClass="templateGrid"
                                                SelectedDataItem="@(ddbBodyContext.DropDownBox.Value as ViewDepartment)"
                                                SelectedDataItemChanged="item => GridDepartmentSelectedDataItemChanged(item, ddbBodyContext.DropDownBox)">
                                            <Columns>
                                                <DxGridDataColumn FieldName="@nameof(ViewDepartment.DepartmentName)" Caption="Name" />
                                                <DxGridDataColumn FieldName="@nameof(ViewDepartment.DepartmentCode)" Caption="Code" />
                                                <DxGridDataColumn FieldName="@nameof(ViewDepartment.Description)" Caption="Description" />
                                            </Columns>
                                        </DxGrid>
                                    </DropDownBodyTemplate>
                                </DxDropDownBox>
                                <DxSpinEdit @bind-Value="@Data.DepartmentId" ShowValidationIcon="true" style="display:none;" />
                                <ValidationMessage For="@(() => Data.DepartmentId)" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Section" ColSpanMd="6" Visible="@isTemplateUploadOrReserveNoImages">
                                @* <DxComboBox Data="@_sectionItems"
                                NullText="Select Section..."
                                ListRenderMode="ListRenderMode.Virtual"
                                FilteringMode="DataGridFilteringMode.Contains"
                                TextFieldName="SectionName"
                                ValueFieldName="SectionId"
                                Enabled="isSection"
                                SelectedItemChanged="@((ViewSection plantSelect) => SelectedItemSectionPlantChanged(plantSelect?.SectionId))"
                                @bind-Value="@Data.SectionId" ShowValidationIcon="true">
                                <Columns>
                                <DxListEditorColumn FieldName="@nameof(ViewSection.SectionName)"
                                Caption="Name"
                                Width="180px" />
                                <DxListEditorColumn FieldName="@nameof(ViewSection.SectionCode)"
                                Caption="Code" />
                                <DxListEditorColumn FieldName="@nameof(ViewSection.Description)"
                                Caption="Description" />
                                </Columns>
                                </DxComboBox> *@
                                <DxDropDownBox @bind-Value="SectionValue"
                                               QueryDisplayText="QuerySectionText"
                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                               NullText="Select a Section..."
                                               Enabled="isSection"
                                               ShowValidationIcon="true">
                                    <DropDownBodyTemplate Context="ddbBodyContext">
                                        <DxGrid Data="@_sectionItems"
                                                KeyFieldName="@nameof(ViewSection.SectionId)" ShowSearchBox="true"
                                                HighlightRowOnHover="true"
                                                SearchTextParseMode="GridSearchTextParseMode.GroupWordsByAnd"
                                                SelectionMode="GridSelectionMode.Single"
                                                AllowSelectRowByClick="true"
                                                FocusedRowEnabled="true"
                                                TextWrapEnabled="false"
                                                CssClass="templateGrid"
                                                SelectedDataItem="@(ddbBodyContext.DropDownBox.Value as ViewSection)"
                                                SelectedDataItemChanged="item => GridSectionSelectedDataItemChanged(item, ddbBodyContext.DropDownBox)">
                                            <Columns>
                                                <DxGridDataColumn FieldName="@nameof(ViewSection.SectionName)" Caption="Name" />
                                                <DxGridDataColumn FieldName="@nameof(ViewSection.SectionCode)" Caption="Code" />
                                                <DxGridDataColumn FieldName="@nameof(ViewSection.Description)" Caption="Description" />
                                            </Columns>
                                        </DxGrid>
                                    </DropDownBodyTemplate>
                                </DxDropDownBox>
                                <DxSpinEdit @bind-Value="@Data.SectionId" ShowValidationIcon="true" style="display:none;" />
                                <ValidationMessage For="@(() => Data.SectionId)" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="SubSection" ColSpanMd="6" Visible="@isTemplateUploadOrReserveNoImages">
                                @*  <DxComboBox Data="@_subSectionItems"
                                NullText="Select SubSection..."
                                ListRenderMode="ListRenderMode.Virtual"
                                FilteringMode="DataGridFilteringMode.Contains"
                                TextFieldName="SubSectionName"
                                ValueFieldName="SubSectionId"
                                Enabled="isSubSection"
                                @bind-Value="@Data.SubSectionId" ShowValidationIcon="true">
                                <Columns>
                                <DxListEditorColumn FieldName="@nameof(ViewSubSection.SubSectionName)"
                                Caption="Name"
                                Width="180px" />
                                <DxListEditorColumn FieldName="@nameof(ViewSubSection.SubSectionCode)"
                                Caption="Code" />
                                <DxListEditorColumn FieldName="@nameof(ViewSubSection.Description)"
                                Caption="Description" />
                                </Columns>
                                </DxComboBox> *@
                                <DxDropDownBox @bind-Value="SubSectionValue"
                                               QueryDisplayText="QuerySubSectionText"
                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                               NullText="Select a Sub Section..."
                                               Enabled="isSubSection"
                                               ShowValidationIcon="true">
                                    <DropDownBodyTemplate Context="ddbBodyContext">
                                        <DxGrid Data="@_subSectionItems"
                                                KeyFieldName="@nameof(ViewSubSection.SubSectionId)" ShowSearchBox="true"
                                                HighlightRowOnHover="true"
                                                SearchTextParseMode="GridSearchTextParseMode.GroupWordsByAnd"
                                                SelectionMode="GridSelectionMode.Single"
                                                AllowSelectRowByClick="true"
                                                FocusedRowEnabled="true"
                                                TextWrapEnabled="false"
                                                CssClass="templateGrid"
                                                SelectedDataItem="@(ddbBodyContext.DropDownBox.Value as ViewSubSection)"
                                                SelectedDataItemChanged="item => GridSubSectionSelectedDataItemChanged(item, ddbBodyContext.DropDownBox)">
                                            <Columns>
                                                <DxGridDataColumn FieldName="@nameof(ViewSubSection.SubSectionName)" Caption="Name" />
                                                <DxGridDataColumn FieldName="@nameof(ViewSubSection.SubSectionCode)" Caption="Code" />
                                                <DxGridDataColumn FieldName="@nameof(ViewSubSection.Description)" Caption="Description" />
                                            </Columns>
                                        </DxGrid>
                                    </DropDownBodyTemplate>
                                </DxDropDownBox>
                                <DxSpinEdit @bind-Value="@Data.SubSectionId" ShowValidationIcon="true" style="display:none;" />
                                <ValidationMessage For="@(() => Data.SubSectionId)" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Expiry Date:" ColSpanMd="6" Visible="@isExpiryDate">
                                <DxDateEdit NullText="Select a Expiry Date..." MinDate="DateTime.Now" @bind-Date="@Data.ExpiryDate" CssClass="cw-320" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Description" ColSpanMd="6" Visible="@isTemplateUploadOrReserveNoImages">
                                <DxMemo @bind-Text="@Data.Description" Rows="5" ShowValidationIcon="true" />
                            </DxFormLayoutItem>

                        </DxFormLayout>
                    </EditForm>
                    <div style="@fileUploadStyle1">
                        <div style="@fileUploadStyle">
                            <div class="" style="height: calc(100vh - 565px);overflow: auto;overflow-x: hidden;">
                                <DxUpload @ref="uploadComponent" Name="files"
                                          Visible="@AttachmentUploadVisible"
                                          AcceptedFileTypes=@AcceptedFileTypes
                                          ChunkSize="200000"
                                          UploadMode="@UploadMode.OnButtonClick"
                                          FileUploadStart="OnFileUploadStart"
                                          AllowMultiFileUpload="false"
                                          ExternalSelectButtonCssSelector="#attachmentSelectButton"
                                          SelectedFilesChanged="@AttachmentSelectedFilesChanged"
                                          FileUploaded="@isUploadSuccess"
                                          FileUploadProgressChanged="@OnUploadProgressChanged"
                                          FileUploadStarted="@OnFileUploadStarted"
                                          FileUploadError="@OnUploadError">
                                </DxUpload>

                            </div>
                        </div>
                        <div style="@imageUploadStyle">
                            <AC.SD.Core.Pages.ProductionActivity.UploadFileImagesToPdf @ref="refUploadFileImagesToPdf" _applicationUser="@_applicationUser" UploadSessionId="@UploadSessionId" FileProfileTypeId="@FileProfileTypeId"></AC.SD.Core.Pages.ProductionActivity.UploadFileImagesToPdf>
                        </div>
                    </div>
                    <div style="@fileUploadStyle2">
                        <LinkFileprofileTypeLists @ref="refLinkFileprofileTypeLists" ParentSelectedFiles="@selectedFiles" RevokeBack="BalckloadDataList"></LinkFileprofileTypeLists>
                    </div>
                </div>
            </div>
        </DxTabPage>
    </DxTabs>
</div>
<DxFlyout @bind-IsOpen=IsFileProfileTypeOpen
          PositionTarget=@($"#flyout-overview-target-container-FileProfileTypeOpen")
          RestrictionTarget="#Navigation-Flyout-Customization"
          AnimationType="FlyoutAnimationType.Fade"
          HeaderVisible="true"
          HeaderText="Select SW Library"
          FooterVisible="true"
          FooterCssClass="custom-flyout-footer"
          Width="max(25vw, 550px)"
          CloseOnOutsideClick="false"
          PreventCloseOnPositionTargetClick="true">
    <BodyContentTemplate Context="PopupContext">
        <DxFormLayout CssClass="w-100" style="height: calc(100vh - 250px);overflow:auto;overflow-x:hidden;">
            <DxFormLayoutItem Caption="" ColSpanMd="12">
               @*  @if (FileProfileTypeId > 0)
                {
                    <DxTreeView @ref="_treeView"
                                @bind-FilterString="FilterString"
                                AllowSelectNodes="true"
                                AfterExpand="@AfterExpand"
                                SelectionChanged="@SelectionChanged" Data="@_selectedTreeItems">
                        <DataMappings>
                            <DxTreeViewDataMapping Text="FileName"
                                                   Key="FileProfileTypeId"
                                                   ParentKey="ParentId" />
                        </DataMappings>
                    </DxTreeView>
                }
                else
                {
                    <DxTreeView @ref="_treeView"
                                @bind-FilterString="FilterString"
                                AllowSelectNodes="true"
                                AfterExpand="@AfterExpand"
                                SelectionChanged="@SelectionChanged" Data="@_selectedTreeItems"
                                LoadChildNodesOnDemand="true">
                        <DataMappings>
                            <DxTreeViewDataMapping Text="FileName"
                                                   HasChildren="HasChildren"
                                                   Children="Children" />
                        </DataMappings>
                    </DxTreeView>
                } *@
                <DxTreeList Data="fileProfileTypeDocumentsTreeAll"
                            VirtualScrollingEnabled="true"
                            ShowFilterRow="true"
                            KeyFieldName="FileProfileTypeId"
                            ParentKeyFieldName="ParentId"
                            ColumnResizeMode="TreeListColumnResizeMode.NextColumn"
                            TextWrapEnabled="false"
                            CssClass="max-h-480"
                            ShowAllRows="true"
                            FocusedRowEnabled="true"
                            RowClick="OnRowTreeClick"
                            SelectionMode="TreeListSelectionMode.Single"
                            FilterTreeMode="TreeListFilterTreeMode.EntireBranch">
                    <Columns>
                        <DxTreeListDataColumn FieldName="FileName" Caption="Name" FilterRowOperatorType="TreeListFilterRowOperatorType.Contains">
                            <EditSettings>
                                <DxTextBoxSettings NullText="Type a search string and enter" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                            </EditSettings>
                        </DxTreeListDataColumn>
                    </Columns>
                </DxTreeList>
            </DxFormLayoutItem>

        </DxFormLayout>
    </BodyContentTemplate>
    <FooterContentTemplate>
        <div class="w-100">
            <div class="custom-flyout-footer">
                <DxButton CssClass="popup-button" RenderStyle="ButtonRenderStyle.Primary" Text="Close" Click=@(()=> IsFileProfileTypeOpen = false) />
            </div>
        </div>
    </FooterContentTemplate>
</DxFlyout>
@code {
    object PlantValue { get; set; }
    object DivisionValue { get; set; }
    object DepartmentValue { get; set; }
    object SectionValue { get; set; }
    object SubSectionValue { get; set; }
    DynamicFormSection CurrentSection { get; set; }
    DocumentNoSeriesModel CurrentReserveNo { get; set; }
    private LinkFileprofileTypeLists? refLinkFileprofileTypeLists;
    bool isTemplateUploadOrReserveNoImages { get; set; } = true; bool isReserveNoVisibile { get; set; } = false; bool isFilesExpiryDate { get; set; } = false;
    IEnumerable<string> TemplateUploadOrReserveNoOptions = new[] { "New Upload", "Reserve No", "DMS" };
    IEnumerable<string> TemplateUploadOptions = new[] { "Files", "Images" }; bool isTemplateUploadTypeImages { get; set; } = false;
    private AC.SD.Core.Pages.ProductionActivity.UploadFileImagesToPdf refUploadFileImagesToPdf;
    bool isFilesUpload { get; set; } = false; bool isImageUpload { get; set; } = false;
    string? TabType { get; set; } = "Files";
    string? fileUploadStyle { get; set; } = "padding:5px;"; string? imageUploadStyle { get; set; } = "display:none;";
    string? fileUploadStyle1 { get; set; } = ""; string? fileUploadStyle2 { get; set; } = "display:none;";
    public Guid? UploadSessionId { get; set; }
    public bool Uploadloading { get; set; } = true;
    public List<DocumentNoSeriesModel> _reserveProfileNumberSeriesList { get; set; }
    public int ActiveTabIndex { get; set; } = 0;
    IGrid Grid { get; set; }
    public DocumentsModel selectedFiles { get; set; }
    [Parameter]
    public ApplicationUser _applicationUser { get; set; }
    [Parameter]
    public DynamicFormData _dynamicformData { get; set; }
    [Parameter]
    public long? FileProfileTypeId { get; set; }
    [Parameter]
    public Action RevokeBack { get; set; }
    [Parameter]
    public IEnumerable DynamicFormDataUploadByPermissions { get; set; }
    public long? OldFileProfileTypeId { get; set; }
    bool PanelVisible { get; set; }
    List<DynamicFormDataUploadByPermission> FolderPathListsItems = new List<DynamicFormDataUploadByPermission>();
    EditContext _editContext;
    public FileProfileTypeModel fileProfileTypeModels { get; set; }
    private DxTreeView _treeView;
    string FilterString { get; set; }
    public string FileprofiletypeName { get; set; }
    // public bool loading { get; set; } = false;
    public bool IsFileProfileTypeOpen { get; set; }
    string Message = "Upload";
    public bool IsFileProfileTypeShow { get; set; } = false;
    private List<ViewPlants>? _plantItems;
    private List<ViewDivision>? _divisionItems;
    private List<ViewDepartment>? _departmentItems;
    private List<ViewSection>? _sectionItems;
    private List<ViewSubSection>? _subSectionItems;
    bool AttachmentUploadVisible { get; set; } = false;
    DocumentsUploadModel Data = new DocumentsUploadModel();
    public List<DocumentsUploadModel> TempSetIds = new List<DocumentsUploadModel>();
    public DocumentProfileNoSeriesModel documentProfileNoSeriesData { get; set; }
    private DxUpload uploadComponent;
    string MyError { get; set; }
    string MyMessage { get; set; }
    bool fileEnabled { get; set; } = false;
    private List<UploadFileInfo> SelectedFiles { get; set; } = new List<UploadFileInfo>();
    bool isExpiryDate { get; set; } = false;
    bool isPlant { get; set; } = false;
    bool isDivision { get; set; } = false; bool isDepartment { get; set; } = false;
    bool isSection { get; set; } = false; bool isSubSection { get; set; } = false;
    int SelectedFilesCount { get; set; }
    int CurrentUplodCount { get; set; }
    public DocumentsModel _selectedModelItems { get; set; }
    public List<DocumentsModel> fileProfileTypeDocumentsAll { get; set; }
    public List<DocumentsModel> fileProfileTypeDocumentsTreeAll{ get; set; }
    public List<DynamicFormSection> _dynamicFormSectionList { get; set; }
    IEnumerable<DocumentsModel> _selectedTreeItems = new List<DocumentsModel>();
    DynamicFormSection dynamicFormSection1 = new DynamicFormSection();
    public List<DynamicFormSection> _dynamicFormSectionListNoUpload { get; set; }
    private DynamicFormSection _selectedItems;
    public DocumentNoSeriesModel _selectedDocumentNoSeriesItems { get; set; }
    public List<string> AcceptedFileTypes { get; set; } = new List<string> { "image/*", "video/*", ".doc", ".docx", ".ppt", ".pptx", ".xls", ".xlsx", ".txt", ".pdf", ".PDF", ".txt", ".TXT", ".msg", ".MSG", ".eml", ".EML", "Outlook.File.eml.15", "audio/*" };
    protected override async Task OnInitializedAsync()
    {
        if (_applicationUser != null)
        {
            OldFileProfileTypeId = FileProfileTypeId;
            await loadDataList();
        }
    }
    public IEnumerable<DocumentsModel> GetChild(long? id)
    {
        var locations = fileProfileTypeDocumentsAll.Where(x => x.ParentId == id || x.FileProfileTypeId == id).ToList();

        var child = locations.AsEnumerable().Union(fileProfileTypeDocumentsAll.AsEnumerable().Where(x => x.ParentId == id).SelectMany(y => GetChild(y.FileProfileTypeId))).ToList();
        return child;
    }
    void BalckloadDataList()
    {
        InvokeAsync(loadDataList);
    }
    public async Task loadDataList()
    {
        try
        {
            ActiveTabIndex = 0;

            PanelVisible = true; fileEnabled = false;
            if (DynamicFormDataUploadByPermissions != null)
            {
                FolderPathListsItems = DynamicFormDataUploadByPermissions.Cast<DynamicFormDataUploadByPermission>().ToList();
            }
            _editContext = new EditContext(Data);
            Data.TemplateUploadOrReserveNo = "New Upload";
            Data.TemplateUploadType = "Files";
            isFilesUpload = true; fileUploadStyle1 = ""; fileUploadStyle2 = "display:none;";
            _dynamicFormSectionList = await Mediator.Send(new GetDynamicFormSectionById(_dynamicformData.DynamicFormId, _applicationUser.UserID, _dynamicformData.DynamicFormDataId));
            fileProfileTypeDocumentsAll = await Mediator.Send(new GetAllfileprofiletypeListQuery());

            if (fileProfileTypeDocumentsAll != null && fileProfileTypeDocumentsAll.Count() > 0)
            {
                fileProfileTypeDocumentsTreeAll = new List<DocumentsModel>();
                if (FileProfileTypeId > 0)
                {
                    var childLists = GetChild(FileProfileTypeId).ToList();
                    fileProfileTypeDocumentsTreeAll = childLists;
                    //_selectedTreeItems = childLists;
                    // var _selectedTreeItemss = GetCategoryTreeFromFlattenedCollection(childLists, FileProfileTypeId);
                    var Datas = fileProfileTypeDocumentsAll.FirstOrDefault(f => f.FileProfileTypeId == FileProfileTypeId);
                    if (Datas != null)
                    {
                        await loadData(Datas);
                    }
                }
                else
                {
                    fileProfileTypeDocumentsTreeAll = fileProfileTypeDocumentsAll;
                    // _selectedTreeItems = _treeGenerateRecursive.TreeGenerateRecursives(fileProfileTypeDocumentsAll);
                }
            }
            _dynamicFormSectionListNoUpload = new List<DynamicFormSection>();
            if (_dynamicFormSectionList != null && _dynamicFormSectionList.Count > 0)
            {
                Data.DynamicFormSectionId = null;
                _selectedItems = _dynamicFormSectionList.FirstOrDefault();
                Grid.SetFocusedRowIndex(0);
                if (_selectedItems != null && _selectedItems.IsFileExits == "Yes")
                {
                    fileEnabled = true;
                }
                _dynamicFormSectionListNoUpload = _dynamicFormSectionList.Where(w => w.IsFileExits == "No").ToList();
            }


            PanelVisible = false;
            StateHasChanged();
        }
        catch (Exception ex)
        {

        }
    }
    public List<DocumentsModel> GetCategoryTreeFromFlattenedCollection(List<DocumentsModel> flattenedCats, long? parentId)
    {
        List<DocumentsModel> cats = new List<DocumentsModel>();

        var filteredFlatCats = flattenedCats.Where(fc => fc.ParentId == parentId).ToList();

        foreach (DocumentsModel flattenedCat in filteredFlatCats)
        {
            DocumentsModel cat = new DocumentsModel();
            cat = flattenedCat;
            List<DocumentsModel> childCats = GetCategoryTreeFromFlattenedCollection(flattenedCats, flattenedCat.FileProfileTypeId);
            cat.Children = childCats;
            cats.Add(cat);
        }

        return cats;
    }
    async Task OnTabClick(TabClickEventArgs e)
    {
        if (e.TabIndex == 1)
        {
            fileUploadStyle2 = ""; fileUploadStyle1 = "display:none;";
            isTemplateUploadOrReserveNoImages = true; isReserveNoVisibile = false;
            Data.TemplateUploadOrReserveNo = "New Upload"; Data.NumberSeriesId = 0;
            fileUploadStyle1 = ""; fileUploadStyle2 = "display:none;";
            dynamicFormSection1 = new DynamicFormSection();
            IsFileProfileTypeShow = false; Message = "Upload";
            CurrentUplodCount = 0;
            SelectedFilesCount = 0;
            SelectedFiles = new List<UploadFileInfo>();
            MyError = ""; MyMessage = ""; FileprofiletypeName = "";
            isPlant = false;
            isDivision = false; isDepartment = false;
            isSection = false; isSubSection = false;
            Data.PlantId = 0; Data.DepartmentId = 0;
            Data.DivisionId = 0; Data.SectionId = 0; Data.SubSectionId = 0;
            TempSetIds = new List<DocumentsUploadModel>(); Uploadloading = true;
            isTemplateUploadOrReserveNoImages = false;
            Data.DynamicFormSectionId = null;
            _editContext = new EditContext(Data);
            CurrentSection = null; CurrentReserveNo = null;
            StateHasChanged();
        }
    }
    public async Task loadData(DocumentsModel _selectedFiles)
    {
        UploadSessionId = Guid.NewGuid();
        dynamicFormSection1 = new DynamicFormSection();
        IsFileProfileTypeShow = false; isReserveNoVisibile = false;
        isPlant = false; PlantValue = null;
        isDivision = false; isDepartment = false;
        isSection = false; isSubSection = false;
        Data.PlantId = 0; Data.DepartmentId = 0;
        Data.DivisionId = 0; Data.SectionId = 0; Data.SubSectionId = 0;
        TempSetIds = new List<DocumentsUploadModel>(); Uploadloading = true;
        isTemplateUploadOrReserveNoImages = false;
        if (Data.TemplateUploadOrReserveNo == "New Upload")
        {
            Data.NumberSeriesId = 0;
            isTemplateUploadOrReserveNoImages = true;
        }
        if (Data.TemplateUploadOrReserveNo == "Reserve No")
        {
            Data.NumberSeriesId = null;
            isReserveNoVisibile = true;
        }
        Message = "Upload";
        // uploadComponent.RemoveAllFiles();
        CurrentUplodCount = 0;
        SelectedFilesCount = 0;
        SelectedFiles = new List<UploadFileInfo>();
        MyError = ""; MyMessage = ""; FileprofiletypeName = ""; //Data.DynamicFormSectionId = 0;
        if (_dynamicFormSectionList != null && _dynamicFormSectionList.Count > 0)
        {
            //  Data.DynamicFormSectionId = null;
        }
        if (_selectedFiles != null && _selectedFiles.ProfileID > 0)
        {
            selectedFiles = _selectedFiles;

            documentProfileNoSeriesData = await Mediator.Send(new GetDocumentProfileNoSeriesById(selectedFiles.ProfileID));

            dynamic abbreviation = JsonConvert.DeserializeObject(documentProfileNoSeriesData.Abbreviation1);
            if (abbreviation != null)
            {
                foreach (var item in abbreviation)
                {
                    var itemsId = item.Id;
                    if (itemsId == 1)
                    {
                        isPlant = true;
                        Data.PlantId = null;
                    }
                    if (itemsId == 2)
                    {
                        isDepartment = true; isDivision = true;
                        Data.DepartmentId = null;
                        Data.DivisionId = null;
                    }
                    if (itemsId == 3)
                    {
                        isSection = true;
                        Data.SectionId = null;
                    }
                    if (itemsId == 4)
                    {
                        isSubSection = true;
                        Data.SubSectionId = null;
                    }
                }
            }
            if (selectedFiles.IsExpiryDate == true)
            {
                isFilesExpiryDate = true; isExpiryDate = true;
            }
            Data.UserSession = _applicationUser.SessionId;
            Data.UserId = _applicationUser.UserID;
            Data.ProfileId = selectedFiles.ProfileID;
            Data.FileProfileTypeId = selectedFiles.FileProfileTypeId > 0 ? selectedFiles.FileProfileTypeId : selectedFiles.FilterProfileTypeId;
            _selectedModelItems = _selectedFiles;
            var lists = GetFileProfileTypePath(fileProfileTypeDocumentsAll, Data.FileProfileTypeId);
            _reserveProfileNumberSeriesList = await Mediator.Send(new GetReserveProfileNumberSeries(Data.FileProfileTypeId, Data.ProfileId));
            //DocumentSearchModel documentSearchModel = new DocumentSearchModel();
            //documentSearchModel.SessionId = _selectedFiles.SessionID == null ? _selectedFiles.SessionId : _selectedFiles.SessionID;
            //documentSearchModel.FileProfileTypeId = _selectedFiles.FileProfileTypeId;
            //var dmsList = await Mediator.Send(new GetAllSelectedfileprofiletypeQuery(documentSearchModel));
            FileprofiletypeName = lists.FirstOrDefault()?.FileProfilePath;
        }
        _plantItems = await Mediator.Send(new GetAllPlantQuery());
        await SelectedItemChanged(0);
        await SelectedItemDivisionChanged(0);
        await SelectedItemDepartementChanged(0);
        await SelectedItemSectionPlantChanged(0);
        StateHasChanged();
    }
    private List<FileProfileTypeModel> GetFileProfileTypePath(List<DocumentsModel> foldersListItem, long? id)
    {
        var foldersListItems = foldersListItem.Where(t => t.FileProfileTypeId == id).ToList();
        FileProfileTypeModel fileprofile = new FileProfileTypeModel();
        List<FileProfileTypeModel> foldersList = new List<FileProfileTypeModel>();
        if (foldersListItems != null && foldersListItems.Count > 0)
        {
            foldersListItems.ForEach(s =>
            {
                List<string> FolderPathLists = new List<string>();
                FileProfileTypeModel fileProfileTypeModel = new FileProfileTypeModel();
                fileProfileTypeModel.FileProfileTypeId = s.FileProfileTypeId.Value;
                fileProfileTypeModel.Name = s.FileName;
                fileprofile = GetProfileTypeName(foldersListItem, s, FolderPathLists, fileprofile);
                FolderPathLists.Add(s.FileName);
                fileProfileTypeModel.FileProfileTypeParentId = fileprofile.ParentId;
                fileProfileTypeModel.FileProfilePath = string.Join(" / ", FolderPathLists);
                foldersList.Add(fileProfileTypeModel);
            });
        }
        return foldersList;
    }
    private FileProfileTypeModel GetProfileTypeName(List<DocumentsModel> foldersListItems, DocumentsModel s, List<string> foldersModel, FileProfileTypeModel fileProfileTypeModel)
    {

        if (s.ParentId != null)
        {
            var items = foldersListItems.FirstOrDefault(f => f.FileProfileTypeId == s.ParentId);
            GetProfileTypeName(foldersListItems, items, foldersModel, fileProfileTypeModel);
            foldersModel.Add(items.FileName);
        }
        else if (s.ParentId == null)
        {
            fileProfileTypeModel.ParentId = foldersListItems.FirstOrDefault(f => f.FileProfileTypeId == s.FileProfileTypeId)?.FileProfileTypeId;
        }
        return fileProfileTypeModel;
    }
    private void AfterExpand(TreeViewNodeEventArgs e)
    {
        if (!e.CausedByAPI)
        {
            // _treeView.ExpandAll();
        }
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
    }
    void OnRowclick(GridRowClickEventArgs e)
    {
        fileEnabled = false;
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "DynamicFormSectionId");
        _selectedItems = _dynamicFormSectionList.FirstOrDefault(f => f.DynamicFormSectionId == (long?)UniqueId);
        if (_selectedItems != null && _selectedItems.IsFileExits == "Yes")
        {
            fileEnabled = true;
        }
        StateHasChanged();
    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowclick(e);
    }
    void SelectedDocumentNoSeriesItemChanged(DocumentNoSeriesModel documentNoSeriesModel)
    {
        CurrentReserveNo = null;
        Data.NumberSeriesId = null;
        if (documentNoSeriesModel != null)
        {
            CurrentReserveNo = documentNoSeriesModel;
            Data.NumberSeriesId = documentNoSeriesModel.NumberSeriesId;
            UploadSessionId = documentNoSeriesModel.SessionID;
        }
        _selectedDocumentNoSeriesItems = documentNoSeriesModel;
    }
    protected async void SelectionChanged(TreeViewNodeEventArgs e)
    {
        if (e.NodeInfo?.DataItem != null)
        {
            var nodeName = e.NodeInfo.DataItem as DocumentsModel;
            Data.FileProfileTypeId = nodeName.FileProfileTypeId;
            var lists = GetFileProfileTypePath(fileProfileTypeDocumentsAll, Data.FileProfileTypeId);
            FileprofiletypeName = lists.FirstOrDefault()?.FileProfilePath;
            _selectedModelItems = nodeName;
            await loadData(nodeName);
            if (refLinkFileprofileTypeLists != null)
            {
                await refLinkFileprofileTypeLists.loadTreeItems(nodeName, Data, _dynamicformData);
            }
            IsFileProfileTypeOpen = false;
        }

        StateHasChanged();
    }
    async void OnRowTreeClick(TreeListRowClickEventArgs e)
    {
        var itemId = (long?)e.TreeList.GetRowValue(e.VisibleIndex, "FileProfileTypeId");
        var nodeName = fileProfileTypeDocumentsAll.FirstOrDefault(f => f.FileProfileTypeId == itemId);
        if (nodeName != null)
        {
            Data.FileProfileTypeId = nodeName.FileProfileTypeId;
            var lists = GetFileProfileTypePath(fileProfileTypeDocumentsAll, Data.FileProfileTypeId);
            FileprofiletypeName = lists.FirstOrDefault()?.FileProfilePath;
            _selectedModelItems = nodeName;
            await loadData(nodeName);
            if (refLinkFileprofileTypeLists != null)
            {
                await refLinkFileprofileTypeLists.loadTreeItems(nodeName, Data, _dynamicformData);
            }
            IsFileProfileTypeOpen = false;
        }
        StateHasChanged();
    }
    void OnButtonFileProfileTypeClick()
    {
        //_treeView.CollapseAll();
        IsFileProfileTypeOpen = true;
    }
    void backUrl()
    {
        clearData();
        RevokeBack?.Invoke();
    }
    void OnTemplateUploadGroupValueChanged(string? radioValue)
    {
        Data.TemplateUploadType = radioValue;
        TabType = radioValue; isTemplateUploadTypeImages = false;
        if (radioValue == "Files")
        {
            Data.ChangeNewFileName = "Empty";
            isFilesUpload = true; isImageUpload = false;
            fileUploadStyle = "padding:5px;"; imageUploadStyle = "display:none;";

        }
        if (radioValue == "Images")
        {
            Data.ChangeNewFileName = string.Empty;
            isTemplateUploadTypeImages = true;
            isFilesUpload = false;
            isImageUpload = true;
            imageUploadStyle = "padding:5px;"; fileUploadStyle = "display:none;";
        }
        StateHasChanged();
    }
    void OnFileUploadStart(FileUploadStartEventArgs e)
    {
        Message = "Uploading...";
        Uploadloading = true; isFilesUpload = false;
        var SessionId = new Guid(e.FileInfo.Guid);
        DocumentsUploadModel TempSetId = new DocumentsUploadModel();
        TempSetId.SessionId = SessionId;
        TempSetIds.Add(TempSetId);
        string BaseUrl = Navigator.BaseUri + "api/FileUpload/";
        string url = BaseUrl + "UploadDocumentsBySession?SessionId=" + UploadSessionId + "&addedByUserId=" + _applicationUser.UserID + "&IsFileSession=false&SourceFrom=FileProfile";
        if (Data.TemplateUploadOrReserveNo == "Reserve No")
        {
            url = BaseUrl + "UploadDocumentsBySession?SessionId=" + _selectedDocumentNoSeriesItems.SessionID + "&addedByUserId=" + _applicationUser.UserID + "&IsNewSession=true";
        }
        e.UploadUrl = url;
    }
    async Task isUploadSuccess(FileUploadEventArgs e)
    {
        CurrentUplodCount++;
        if (Data.TemplateUploadOrReserveNo == "New Upload")
        {
            var filesessionIds = new Guid(e.FileInfo.Guid);
            Data.SessionId = UploadSessionId;
            Data.FileSessionId = UploadSessionId;
            Data.SourceFrom = "FileProfile";
            var ext = e.FileInfo.Name.Split(".").Last();
            Data.FilePath = @"Documents\" + UploadSessionId + @"\" + filesessionIds + "." + ext;
            var response = await Mediator.Send(new UpdateCreateDocumentBySession(Data));
            MyMessage = "Upload of the " + e.FileInfo.Name + " file is Completed.";
            toastService.ShowToast(MyMessage, AC.SD.Core.Services.ToastLevel.Success);
            await uploadSuccessList(UploadSessionId);
        }
        if (Data.TemplateUploadOrReserveNo == "Reserve No")
        {
            var filesessionIds = new Guid(e.FileInfo.Guid);
            var ext = e.FileInfo.Name.Split(".").Last();
            _selectedDocumentNoSeriesItems.FilePath = @"Documents\" + _selectedDocumentNoSeriesItems.SessionID + @"\" + filesessionIds + "." + ext;
            _selectedDocumentNoSeriesItems.AddedByUserID = _applicationUser.UserID;
            var response = await Mediator.Send(new UpdateCreateDocumentBySessionReserveSeries(_selectedDocumentNoSeriesItems));
            if (response.NumberSeriesId > 0)
            {
                var MyMessage = "Upload of the " + e.FileInfo.Name + " file is Completed.";
                toastService.ShowToast(MyMessage, AC.SD.Core.Services.ToastLevel.Success);
                await uploadSuccessList(_selectedDocumentNoSeriesItems.SessionID);
            }
        }
    }
    async Task uploadSuccessList(Guid? filesessionIds)
    {
        if (CurrentUplodCount >= SelectedFilesCount)
        {
            Message = "Upload";
            Uploadloading = true; isFilesUpload = true;
            if (_dynamicFormSectionList != null && _dynamicFormSectionList.Count > 0 && Data.DynamicFormSectionId != null)
            {
                DynamicFormDataUpload dynamicFormDataUpload = new DynamicFormDataUpload();
                dynamicFormDataUpload.DynamicFormDataId = _dynamicformData.DynamicFormDataId;
                dynamicFormDataUpload.DynamicFormSectionId = Data.DynamicFormSectionId > 0 ? Data.DynamicFormSectionId : null;
                dynamicFormDataUpload.AddedByUserId = _applicationUser.UserID;
                dynamicFormDataUpload.ModifiedByUserId = _applicationUser.UserID;
                dynamicFormDataUpload.SessionId = filesessionIds;
                dynamicFormDataUpload.AddedDate = DateTime.Now;
                dynamicFormDataUpload.ModifiedDate = DateTime.Now;
                dynamicFormDataUpload.StatusCodeId = 1;
                var responses = await Mediator.Send(new InsertDynamicFormDataUpload(dynamicFormDataUpload));
                uploadComponent.RemoveAllFiles();
                await loadData(_selectedModelItems);
                await loadDataList();

                //backUrl();
            }
            else
            {
                uploadComponent.RemoveAllFiles();
                await loadDataList();
                //backUrl();
            }
        }
    }
    void OnUploadError(FileUploadErrorEventArgs e)
    {
        MyError = e.RequestInfo.ResponseText;
        toastService.ShowToast(MyError, AC.SD.Core.Services.ToastLevel.Error);
        Message = "Upload";
        Uploadloading = false; isFilesUpload = true;
        InvokeAsync(StateHasChanged);
    }
    void OnFileUploadStarted(FileUploadEventArgs e)
    {
        MyMessage = "Upload of the " + e.FileInfo.Name + " file was started.";
        toastService.ShowToast(MyMessage, AC.SD.Core.Services.ToastLevel.Info);
        InvokeAsync(StateHasChanged);
    }
    void OnUploadProgressChanged(FileUploadEventArgs e)
    {
        // var progress = e.FileInfo.LoadedBytes / e.FileInfo.Size * 100;
    }
    async Task SelectedItemSectionChanged(DynamicFormSection dynamicFormSection)
    {
        dynamicFormSection1 = new DynamicFormSection();
        CurrentSection = null;
        Data.DynamicFormSectionId = null;
        if (dynamicFormSection != null)
        {
            CurrentSection = dynamicFormSection;
            Data.DynamicFormSectionId = dynamicFormSection.DynamicFormSectionId;
            if (dynamicFormSection.DynamicFormDataUploadId > 0)
            {
                dynamicFormSection1 = dynamicFormSection;
                var MyMessage = "This Section File Already Exits.";
                toastService.ShowToast(MyMessage, AC.SD.Core.Services.ToastLevel.Error);
            }
            else
            {
                if (dynamicFormSection.SectionFileProfileTypeId > 0)
                {
                    Data.FileProfileTypeId = null;
                    FileprofiletypeName = string.Empty;
                    var datas = fileProfileTypeDocumentsAll.FirstOrDefault(f => f.FileProfileTypeId == dynamicFormSection.SectionFileProfileTypeId);
                    if (datas != null)
                    {

                        FileProfileTypeId = dynamicFormSection.SectionFileProfileTypeId;
                        var childLists = GetChild(dynamicFormSection.SectionFileProfileTypeId).ToList();
                        fileProfileTypeDocumentsTreeAll = childLists;
                        //_selectedTreeItems = childLists;
                        await loadData(datas);
if(refLinkFileprofileTypeLists!=null)
{
                        await refLinkFileprofileTypeLists.loadTreeItems(datas, Data, _dynamicformData);
}
                        _editContext = new EditContext(Data);
                    }
                }
                else
                {
                    // if (dynamicFormSection.DynamicFormSectionId == -1)
                    // {
                    if (OldFileProfileTypeId > 0)
                    {
                        Data.FileProfileTypeId = null;
                        FileprofiletypeName = string.Empty;
                        var datas = fileProfileTypeDocumentsAll.FirstOrDefault(f => f.FileProfileTypeId == OldFileProfileTypeId);
                        if (datas != null)
                        {
                            FileProfileTypeId = OldFileProfileTypeId;
                            var childLists = GetChild(OldFileProfileTypeId).ToList();
                            fileProfileTypeDocumentsTreeAll = childLists;
                            //_selectedTreeItems = childLists;
                            await loadData(datas);
                            if(refLinkFileprofileTypeLists!=null)
{
                            await refLinkFileprofileTypeLists.loadTreeItems(datas, Data, _dynamicformData);
}
                            _editContext = new EditContext(Data);
                        }
                    }
                    else
                    {
                        isPlant = false;
                        isDivision = false; isDepartment = false;
                        isSection = false; isSubSection = false;
                        Data.PlantId = 0; Data.DepartmentId = 0;
                        Data.DivisionId = 0; Data.SectionId = 0; Data.SubSectionId = 0;
                        Data.FileProfileTypeId = null; FileProfileTypeId = null;
                        FileprofiletypeName = string.Empty;
                        fileUploadStyle2 = ""; fileUploadStyle1 = "display:none;";
                        isTemplateUploadOrReserveNoImages = true; isReserveNoVisibile = false;
                        Data.TemplateUploadOrReserveNo = "New Upload";
                        fileUploadStyle1 = ""; fileUploadStyle2 = "display:none;";
                        _editContext = new EditContext(Data);
                        fileProfileTypeDocumentsTreeAll = new List<DocumentsModel>();
                        fileProfileTypeDocumentsTreeAll = fileProfileTypeDocumentsAll;
                        //_selectedTreeItems = _treeGenerateRecursive.TreeGenerateRecursives(fileProfileTypeDocumentsAll);
                    }
                    // }
                }
            }
        }
        StateHasChanged();
    }
    async Task OnButtonFileProfileTypeGoDocClick()
    {
        if (dynamicFormSection1 != null)
        {
            if (dynamicFormSection1.DynamicFormDataUploadId > 0 && dynamicFormSection1.UploadSessionID != null && dynamicFormSection1.FileProfileSessionID != null && dynamicFormSection1.IsFileExits == "Yes")
            {
                var url = Navigator.BaseUri.ToString() + "fileprofiletype/" + dynamicFormSection1.FileProfileSessionID + "/" + dynamicFormSection1.UploadSessionID;
                await jsRuntime.InvokeVoidAsync("window.open", url, "_blank");
            }
        }
    }
    async Task addDetailFile()
    {
        if (_selectedItems != null)
        {
            if (_selectedItems.DynamicFormDataUploadId > 0 && _selectedItems.UploadSessionID != null && _selectedItems.FileProfileSessionID != null && _selectedItems.IsFileExits == "Yes")
            {
                var url = Navigator.BaseUri.ToString() + "fileprofiletype/" + _selectedItems.FileProfileSessionID + "/" + _selectedItems.UploadSessionID;
                await jsRuntime.InvokeVoidAsync("window.open", url, "_blank");
            }
        }
    }
    string? QueryPlantText(DropDownBoxQueryDisplayTextContext arg)
    {
        Data.PlantId = isPlant == false ? 0 : null;
        Data.DivisionId = isDivision == false ? 0 : null;
        Data.DepartmentId = isDepartment == false ? 0 : null;
        Data.SectionId = isSection == false ? 0 : null;
        Data.SubSectionId = isSubSection == false ? 0 : null;
        DivisionValue = null; DepartmentValue = null; SectionValue = null; SubSectionValue = null;
        string? returnData = string.Empty;
        if (arg.Value is ViewPlants value)
        {
            if (value != null)
            {
                Data.PlantId = value.PlantID;
                returnData = value?.PlantCode;
            }
        }
        InvokeAsync(SelectedItemPlantChanged);
        return returnData;
    }
    async Task SelectedItemPlantChanged()
    {
        await SelectedItemChanged(Data.PlantId);
    }
    void GridSelectedDataItemChanged(object item, IDropDownBox dropDownBox)
    {
        if (item != null)
        {
            PlantValue = item as ViewPlants;
        }
        dropDownBox.HideDropDown();
    }
    async Task SelectedItemChanged(long? plantID)
    {
        _divisionItems = new List<ViewDivision>();
        _departmentItems = new List<ViewDepartment>();
        _sectionItems = new List<ViewSection>();
        _subSectionItems = new List<ViewSubSection>();
        if (plantID > 0)
        {
            _divisionItems = await Mediator.Send(new GetDivisionByCompany(plantID));
        }
    }
    void GridDivisionSelectedDataItemChanged(object item, IDropDownBox dropDownBox)
    {
        if (item != null)
        {
            DivisionValue = item as ViewDivision;
        }
        dropDownBox.HideDropDown();
    }
    string? QueryDivisionText(DropDownBoxQueryDisplayTextContext arg)
    {
        Data.DivisionId = isDivision == false ? 0 : null;
        Data.DepartmentId = isDepartment == false ? 0 : null;
        Data.SectionId = isSection == false ? 0 : null;
        Data.SubSectionId = isSubSection == false ? 0 : null;
        string? returnData = string.Empty; DepartmentValue = null; SectionValue = null; SubSectionValue = null;
        if (arg.Value is ViewDivision value)
        {
            if (value != null)
            {
                Data.DivisionId = value.DivisionID;
                returnData = value?.Name;
            }
        }
        InvokeAsync(SelectedItemDivisionChangeds);
        return returnData;
    }
    async Task SelectedItemDivisionChangeds()
    {
        await SelectedItemDivisionChanged(Data.DivisionId);
    }
    async Task SelectedItemDivisionChanged(long? divisionId)
    {
        _departmentItems = new List<ViewDepartment>();
        _sectionItems = new List<ViewSection>();
        _subSectionItems = new List<ViewSubSection>();
        if (divisionId > 0)
        {
            _departmentItems = await Mediator.Send(new GetDepartmentByDivision(divisionId));
        }
    }
    void GridDepartmentSelectedDataItemChanged(object item, IDropDownBox dropDownBox)
    {
        if (item != null)
        {
            DepartmentValue = item as ViewDepartment;
        }
        dropDownBox.HideDropDown();
    }
    string? QueryDepartmentText(DropDownBoxQueryDisplayTextContext arg)
    {

        Data.DepartmentId = isDepartment == false ? 0 : null;
        Data.SectionId = isSection == false ? 0 : null;
        Data.SubSectionId = isSubSection == false ? 0 : null;
        string? returnData = string.Empty; SectionValue = null; SubSectionValue = null;
        if (arg.Value is ViewDepartment value)
        {
            if (value != null)
            {
                Data.DepartmentId = value.DepartmentId;
                returnData = value?.DepartmentName;
            }
        }
        InvokeAsync(SelectedItemDepartementChangeds);
        return returnData;
    }
    async Task SelectedItemDepartementChangeds()
    {
        await SelectedItemDepartementChanged(Data.DepartmentId);
    }
    async Task SelectedItemDepartementChanged(long? departmentId)
    {
        _sectionItems = new List<ViewSection>();
        _subSectionItems = new List<ViewSubSection>();
        if (departmentId > 0)
        {
            _sectionItems = await Mediator.Send(new GetSectionByDepartment(departmentId));
        }
    }
    void GridSectionSelectedDataItemChanged(object item, IDropDownBox dropDownBox)
    {
        if (item != null)
        {
            SectionValue = item as ViewSection;
        }
        dropDownBox.HideDropDown();
    }
    string? QuerySectionText(DropDownBoxQueryDisplayTextContext arg)
    {
        Data.SectionId = isSection == false ? 0 : null;
        Data.SubSectionId = isSubSection == false ? 0 : null;
        SubSectionValue = null;
        string? returnData = string.Empty;
        if (arg.Value is ViewSection value)
        {
            if (value != null)
            {
                Data.SectionId = value.SectionId;
                returnData = value?.SectionName;
            }
        }
        InvokeAsync(SelectedItemSectionChangeds);
        return returnData;
    }
    async Task SelectedItemSectionChangeds()
    {
        await SelectedItemSectionPlantChanged(Data.SectionId);
    }
    async Task SelectedItemSectionPlantChanged(long? sectionId)
    {
        _subSectionItems = new List<ViewSubSection>();
        if (sectionId > 0)
        {
            _subSectionItems = await Mediator.Send(new GetSubSectionBySection(sectionId));
        }
    }
    string? QuerySubSectionText(DropDownBoxQueryDisplayTextContext arg)
    {
        Data.SubSectionId = isSubSection == false ? 0 : null;
        string? returnData = string.Empty;
        if (arg.Value is ViewSubSection value)
        {
            if (value != null)
            {
                Data.SubSectionId = value.SubSectionId;
                returnData = value?.SubSectionName;
            }
        }
        return returnData;
    }
    void GridSubSectionSelectedDataItemChanged(object item, IDropDownBox dropDownBox)
    {
        if (item != null)
        {
            SubSectionValue = item as ViewSubSection;
        }
        dropDownBox.HideDropDown();
    }
    void AttachmentSelectedFilesChanged(IEnumerable<UploadFileInfo> files)
    {
        AttachmentUploadVisible = files.ToList().Count > 0;
        SelectedFiles.AddRange(files);
        SelectedFilesCount = files.ToList().Count; //Count current files
        if (SelectedFilesCount > 0)
        {
            if (SelectedFilesCount == 1)
            {

            }
            else
            {
                var MyMessage = "Upload Only One File Allowed. Remove Another Files.";
                toastService.ShowToast(MyMessage, AC.SD.Core.Services.ToastLevel.Error);
            }
        }
        InvokeAsync(StateHasChanged);
    }

    public void onsubmitUploadFromClick()
    {
    }
    async Task SubmitFormExternally()
    {
        if (dynamicFormSection1 != null && dynamicFormSection1.DynamicFormDataUploadId > 0)
        {
            var MyMessage = "This Section File Already Exits.";
            toastService.ShowToast(MyMessage, AC.SD.Core.Services.ToastLevel.Error);
        }
        else
        {
            if (_editContext.Validate())
            {
                await this.HandleValidSubmit();
            }
        }
    }
    async Task HandleValidSubmit()
    {
        if (Data.TemplateUploadType == "Files")
        {
            if (SelectedFilesCount > 0)
            {
                if (SelectedFilesCount == 1)
                {
                    uploadComponent.UploadAllFiles();

                }
                else
                {
                    var MyMessage = "Upload Only One File Allowed. Remove Another Files.";
                    toastService.ShowToast(MyMessage, AC.SD.Core.Services.ToastLevel.Error);
                }
            }
            else
            {
                var MyMessage = "Must File Select";
                toastService.ShowToast(MyMessage, AC.SD.Core.Services.ToastLevel.Error);
            }
        }
        if (Data.TemplateUploadType == "Images")

        {
            await this.SubmitImagesFormExternally();
        }
    }
    async Task onImageToPdfSelectFile()
    {
        await refUploadFileImagesToPdf.clickOpenFileImageToPdf();
    }

    async Task SubmitImagesFormExternally()
    {
        Uploadloading = false; isImageUpload = false; Message = "Uploading...";
        var response = await refUploadFileImagesToPdf.uploadImagesToPdf(Guid.NewGuid(), Data);
        if (response == "Done")
        {
            Message = "Upload";
            Uploadloading = true; isImageUpload = true;
            MyMessage = "File Upload Successfully And Images Converted To PDF.";
            toastService.ShowToast(MyMessage, AC.SD.Core.Services.ToastLevel.Success);
            await loadDataList();
        }
        else
        {
            Message = "Upload";
            Uploadloading = true; isImageUpload = true;
            var MyMessage = "Must File Select";
            toastService.ShowToast(MyMessage, AC.SD.Core.Services.ToastLevel.Error);
        }
        StateHasChanged();
    }
    async Task OnTemplateUploadTypeGroupValueChanged(string? radioValue)
    {
        Data.TemplateUploadOrReserveNo = radioValue;
        isTemplateUploadOrReserveNoImages = true; isReserveNoVisibile = false; isExpiryDate = false;
        fileUploadStyle1 = ""; fileUploadStyle2 = "display:none;";
        if (radioValue == "New Upload")
        {
            Data.NumberSeriesId = Data.NumberSeriesId > 0 ? Data.NumberSeriesId : 0;
            Data.PlantId = isPlant == true ? (Data.PlantId > 0 ? Data.PlantId : null) : 0;
            Data.DepartmentId = isDepartment == true ? (Data.DepartmentId > 0 ? Data.DepartmentId : null) : 0;
            Data.DivisionId = isDivision == true ? (Data.DivisionId > 0 ? Data.DivisionId : null) : 0;
            Data.SectionId = isSection == true ? (Data.SectionId > 0 ? Data.SectionId : null) : 0;
            Data.SubSectionId = isSubSection == true ? (Data.SubSectionId > 0 ? Data.SubSectionId : null) : 0;
        }
        if (radioValue == "Reserve No")
        {
            Data.PlantId = Data.PlantId > 0 ? Data.PlantId : 0;
            Data.DepartmentId = Data.DepartmentId > 0 ? Data.DepartmentId : 0;
            Data.DivisionId = Data.DivisionId > 0 ? Data.DivisionId : 0;
            Data.SectionId = Data.SectionId > 0 ? Data.SectionId : 0;
            Data.SubSectionId = Data.SubSectionId > 0 ? Data.SubSectionId : 0;
            Data.NumberSeriesId = Data.NumberSeriesId > 0 ? Data.NumberSeriesId : null;
            isTemplateUploadOrReserveNoImages = false; isExpiryDate = false;
            if (isFilesExpiryDate == true)
            {
                isExpiryDate = true;
            }
            isReserveNoVisibile = true;
        }
        if (radioValue == "DMS")
        {
            Data.PlantId = Data.PlantId > 0 ? Data.PlantId : 0;
            Data.DepartmentId = Data.DepartmentId > 0 ? Data.DepartmentId : 0;
            Data.DivisionId = Data.DivisionId > 0 ? Data.DivisionId : 0;
            Data.SectionId = Data.SectionId > 0 ? Data.SectionId : 0;
            Data.SubSectionId = Data.SubSectionId > 0 ? Data.SubSectionId : 0;
            Data.NumberSeriesId = Data.NumberSeriesId > 0 ? Data.NumberSeriesId : 0;
            fileUploadStyle2 = ""; fileUploadStyle1 = "display:none;";
            isTemplateUploadOrReserveNoImages = false; isReserveNoVisibile = false;
            if (Data.FileProfileTypeId == null || Data.DynamicFormSectionId == null)
            {
                if (Data.FileProfileTypeId == null && Data.DynamicFormSectionId == null)
                {
                    toastService.ShowToast("Select SW Library And Section Name", AC.SD.Core.Services.ToastLevel.Error);
                }
                if (Data.FileProfileTypeId > 0 && Data.DynamicFormSectionId == null)
                {
                    toastService.ShowToast("Select Section Name", AC.SD.Core.Services.ToastLevel.Error);
                }
                if (Data.FileProfileTypeId == null && Data.DynamicFormSectionId != null)
                {
                    toastService.ShowToast("Select SW Library", AC.SD.Core.Services.ToastLevel.Error);
                }
                Data.TemplateUploadOrReserveNo = "New Upload";
                fileUploadStyle1 = ""; fileUploadStyle2 = "display:none;";
                isTemplateUploadOrReserveNoImages = true;
            }
            else
            {
                fileUploadStyle2 = ""; fileUploadStyle1 = "display:none;";
                if(refLinkFileprofileTypeLists!=null)
{
                await refLinkFileprofileTypeLists.loadTreeItems(selectedFiles, Data, _dynamicformData);
}
            }
        }
        StateHasChanged();
    }
    public void clearData()
    {
        PlantValue = null;
        DivisionValue = null;
        DepartmentValue = null;
        SectionValue = null;
        SubSectionValue = null;
        CurrentSection = null;
        CurrentReserveNo = null;
        refLinkFileprofileTypeLists?.DisposeAsync();
        TemplateUploadOrReserveNoOptions = null;
        TemplateUploadOptions = null;
        refUploadFileImagesToPdf?.DisposeAsync();
        _reserveProfileNumberSeriesList?.Clear();
        FolderPathListsItems = new List<DynamicFormDataUploadByPermission>();
        fileProfileTypeModels = null;
        _plantItems?.Clear();
        _divisionItems?.Clear();
        _departmentItems?.Clear();
        _sectionItems?.Clear();
        _subSectionItems?.Clear();
        Data = new DocumentsUploadModel();
        TempSetIds?.Clear();
        documentProfileNoSeriesData = null;
        SelectedFiles?.Clear();
        _selectedModelItems = null;
        fileProfileTypeDocumentsAll?.Clear();
        _dynamicFormSectionList?.Clear();
        _selectedTreeItems = null;
        dynamicFormSection1 = new DynamicFormSection();
        _dynamicFormSectionListNoUpload?.Clear();
        _selectedItems = null;
        _selectedDocumentNoSeriesItems = null;
        AcceptedFileTypes?.Clear();
    }
    public async ValueTask DisposeAsync()
    {
       // System.GC.Collect();
       clearData();
        //GC.SuppressFinalize(this);
    }
}
