@using Application.Command.Departments;
@using Application.Commands;
@using Application.Queries;
@using MediatR
@using global::Core.Entities.Views;
@using global::Core.Entities;
@inject IMediator Mediator
@using DevExpress.Export
@using Application.Response;
@inject IJSRuntime jsRuntime
@using global::Core.Repositories.Query;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject AC.SD.Core.Services.ToastService toastService
@inject NavigationManager NavigationManager
@implements IAsyncDisposable




<div class="card w-100" style="margin-bottom:10px; margin-top:10px">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Audit Log" IconCssClass="fa fa-info-circle">
                    <Items>
                        <DxMenuItem Text="Current Records" IconCssClass="fa fa-info-circle" Click="@(() => viewAuditLog(false))" />
                        <DxMenuItem Text="Deleted Records" IconCssClass="fa fa-remove" Click="@(() => viewAuditLog(true))" />
                    </Items>
                </DxMenuItem>
            </Items>
        </DxMenu>
    </div>
</div>

<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">

    <DxGrid @ref="Grid"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always" ShowGroupPanel="true" ShowGroupedColumns="true"
            Data="_departmentItems"
            KeyFieldName="DepartmentId"
            CustomizeElement="Grid_CustomizeElement"
            ShowSearchBox="true"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            SelectionMode="GridSelectionMode.Multiple"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.Page"
            AutoExpandAllGroupRows="true"
            CssClass="ch-360  " style="height: calc(100vh - 270px);"
            FocusedRowEnabled="true"
            RowClick="OnRowClick"
            AllowSelectRowByClick="true" VirtualScrollingEnabled="true">
        <Columns>
            <DxGridDataColumn FieldName="DepartmentId" MinWidth="80" Visible="false" />
            <DxGridDataColumn FieldName="Index" Visible="false" Caption="#" Width="35px"></DxGridDataColumn>
            <DxGridDataColumn FieldName="PlantCode" Caption="Company Code" MinWidth="80" />
            <DxGridDataColumn FieldName="Division" MinWidth="80" />
            <DxGridDataColumn FieldName="DepartmentName" Caption="Name" MinWidth="80" />
            <DxGridDataColumn FieldName="DepartmentCode" Caption="Code" MinWidth="80" />
            <DxGridDataColumn FieldName="StatusCode" MinWidth="80" />
        </Columns>

        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="PlantCode" />
        </TotalSummary>
    </DxGrid>

</DxLoadingPanel>

<DxPopup @bind-Visible="@AuditLogPopUp"
         ShowFooter="false"
         HeaderText="Audit Log"
         CloseOnOutsideClick="false"
         ShowCloseButton="true"
         MinWidth="500" MinHeight="200" MaxWidth="1200px" MaxHeight="800">
    <BodyContentTemplate>
        <AC.SD.Core.Pages.Masters.HRMasterAuditTrailList MasterType="Department" MasterId="_selectedItems?.DepartmentId" IsDeleted="@IsDeleted"></AC.SD.Core.Pages.Masters.HRMasterAuditTrailList>
    </BodyContentTemplate>

</DxPopup>
@code {
    bool AuditLogPopUp { get; set; } = false;
    public bool? IsDeleted { get; set; } = false;
    IGrid Grid { get; set; }
    bool PanelVisible { get; set; }

    private List<ViewDepartment> _departmentItems;

    private ViewDepartment _selectedItems;

    protected override async Task OnInitializedAsync()
    {
        await UpdateDataAsync();
    }
    void viewAuditLog(bool isdeleted)
    {
        IsDeleted = isdeleted;
        AuditLogPopUp = true;
    }
    async Task UpdateDataAsync()
    {
        PanelVisible = true;
        var model = await Mediator.Send(new GetAllDepartmentQuery());
        PanelVisible = false;
        for (int i = 0; i < model.Count; i++)
        {
            model[i].Index = i + 1;
        }
        _departmentItems = model;
        if (_departmentItems.Count > 0)
        {
            _selectedItems = _departmentItems.FirstOrDefault();
            Grid.ClearSelection();
        }
        StateHasChanged();
    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "DepartmentId");
        _selectedItems = _departmentItems.FirstOrDefault(f => f.DepartmentId == (long?)UniqueId);
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
    }
    public async ValueTask DisposeAsync()
    {
        if (_departmentItems != null)
        {
            _departmentItems.Clear();
            _departmentItems = null;
        }
        _selectedItems = null;
    }
}

