@using Application.Queries;
@using DevExtreme.AspNet.Data.ResponseModel;
@using DevExtreme.AspNet.Data;
@using Duende.IdentityServer.Models;
@using MediatR
@using System.Threading;
@using System.Text.Json;
@using global::Core.Entities.Views;
@using global::Core.Entities;
@inject IMediator Mediator
@using DevExpress.Export
@using Application.Response;
@inject NavigationManager NavigationManager
@inject IJSRuntime jsRuntime
@implements IAsyncDisposable


<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Audit Log" IconCssClass="fa fa-info-circle">
                    <Items>
                        <DxMenuItem Text="Current Records" IconCssClass="fa fa-info-circle" Click="@(() => viewAuditLog(false))" />
                        <DxMenuItem Text="Deleted Records" IconCssClass="fa fa-remove" Click="@(() => viewAuditLog(true))" />
                    </Items>
                </DxMenuItem>
            </Items>
        </DxMenu>
    </div>
</div>
<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">
    <DxGrid @ref="Grid" FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            Data="_employeeItems"
            KeyFieldName="EmployeeID"
            CustomizeElement="Grid_CustomizeElement"
            ShowSearchBox="true"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            VirtualScrollingEnabled="true"
            SelectionMode="GridSelectionMode.Multiple"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.Page"
            AutoExpandAllGroupRows="true"
            CssClass="ch-360"
            style="height: calc(100vh - 200px);"
            FocusedRowEnabled="true"
            RowClick="OnRowClick"
            AllowSelectRowByClick="true"
            ShowGroupPanel="true" ShowGroupedColumns="true">

        <Columns>
            <DxGridDataColumn FieldName="EmployeeID" MinWidth="80" Visible="false" />
            <DxGridDataColumn FieldName="SageID" MinWidth="80" />
            <DxGridDataColumn FieldName="FirstName" MinWidth="80" />
            <DxGridDataColumn FieldName="LastName" MinWidth="80" />
            <DxGridDataColumn FieldName="NickName" MinWidth="80" />
            <DxGridDataColumn FieldName="DesignationName" MinWidth="80" />
            <DxGridDataColumn FieldName="Status" Caption="Status" MinWidth="80" />
            <DxGridDataColumn FieldName="ModifiedDate" Width="180">
                <CellDisplayTemplate>
                    @{
                        var item = (ViewEmployee)context.DataItem;
                    }
                    @Application.Common.Helper.Helper.FormatDateTime(item.ModifiedDate)
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="ModifiedByUser" Width="10%" />
        </Columns>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="SageID" />
        </TotalSummary>
    </DxGrid>
</DxLoadingPanel>
<DxPopup @bind-Visible="@AuditLogPopUp"
         ShowFooter="false"
         HeaderText="Audit Log"
         CloseOnOutsideClick="false"
         ShowCloseButton="true"
         MinWidth="500" MinHeight="200" MaxWidth="1200px" MaxHeight="800">
    <BodyContentTemplate>
        <AC.SD.Core.Pages.Masters.HRMasterAuditTrailList RevokeBack="OnBackPage" AddTypeId="EmployeeId" IsAll="true" MasterType="ApplicationUser,ApplicationUserRole,Employee,EmployeeOtherDutyInformation,EmployeeEmailInfo,EmployeeICTInformation,EmployeeICTHardInformation" MasterId="_selectedItems?.EmployeeID" IsDeleted="@IsDeleted"></AC.SD.Core.Pages.Masters.HRMasterAuditTrailList>
    </BodyContentTemplate>

</DxPopup>
@code {
    public bool? IsDeleted { get; set; } = false;
    bool AuditLogPopUp { get; set; } = false;
    private List<ViewEmployee> _employeeItems;
    private ViewEmployee _selectedItems;
    IGrid Grid { get; set; }
    bool PanelVisible { get; set; }
    protected override async Task OnInitializedAsync()
    {
        PanelVisible = true;
        _employeeItems = await Mediator.Send(new GetAllUserWithoutStatusQuery());
        PanelVisible = false;
        if (_employeeItems.Count > 0)
        {
            _selectedItems = _employeeItems.FirstOrDefault();
            StateHasChanged();
        }

    }
    void OnBackPage()
    {
        AuditLogPopUp = false;
        StateHasChanged();
    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "EmployeeID");
        _selectedItems = _employeeItems.FirstOrDefault(f => f.EmployeeID == (long?)UniqueId);


    }
    void viewAuditLog(bool isdeleted)
    {
        IsDeleted = isdeleted;
        AuditLogPopUp = true;
    }
    void NewEmployeeForm(MouseEventArgs args)
    {
        NavigationManager.NavigateTo("Employees/EmployeeForm");
    }

    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    public async ValueTask DisposeAsync()
    {
        if (_employeeItems != null)
        {
            _employeeItems.Clear();
            _employeeItems = null;
        }
        _selectedItems = null;

    }
}
