@using Application.Queries;
@using MediatR;
@inject IMediator Mediator
@using global::Core.Entities;
@using global::Core.Entities.Views;
@using global::Core.EntityModels;
@inject AC.SD.Core.Helpers.TreeGenerateRecursive _treeGenerateRecursive
@inject IJSRuntime jsRuntime
@inject NavigationManager NavigationManager
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration
@inject ClipboardService ClipboardService
@using global::Core.Repositories.Query;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@using Application.Command.ApplicationMasterChilds;
@using Application.Command.ApplicationMasterDetails;
@implements IAsyncDisposable;
@using System;
@using System.IO;
<style>
    .dxbl-wait-indicator {
        --dxbl-wait-indicator-color: white;
    }

    .dxbl-btn.dxbl-lg {
        --dxbl-btn-line-height: 1.5rem;
    }

    .table-hover-OnFileProfile {
        cursor: pointer;
    }
</style>

<div class="menu-bar-content-container col-md-12">
    <div class="card w-100" style="margin-bottom:1px;">



        <div class="card-body p-0">

            <DxMenu CollapseItemsToHamburgerMenu="true"
                    CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                    DisplayMode="MenuDisplayMode.Auto">

                <Items>
                    <DxMenuItem Text="Back" Position="ItemPosition.Start" IconCssClass="fa fa-reply " Click="onBack" style="@isVisibleForPopUpMore" />
                    <DxMenuItem Text="Upload" Position="ItemPosition.Start" IconCssClass="fa fa-cloud-upload" Click="onUploadFileProfileType" style="@isVisibleShows" />
                    <DxMenuItem Text="More" Position="ItemPosition.End" IconCssClass="fa fa-ellipsis-v" style="@isVisibleMore">
                        <Items>
                            <DxMenuItem Text="View File" IconCssClass="fa fa-eye" Click="onView" Visible="@viewfileEnabled" />
                            <DxMenuItem Text="Rename" IconCssClass="fa fa-pencil" Click="onRename" Visible="@renameEnabled" />
                            <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="onDeleteDocument" Visible="@deleteEnabled" />
                            <DxMenuItem Text="Check Out" IconCssClass="fa fa-check-square" Click="onCheckOut" Visible="@checkoutEnabled" />
                            <DxMenuItem Text="Check In" IconCssClass="fa fa-check-circle" Visible="@checkInEnabled" Click="onCheckin" />
                            <DxMenuItem Text="History" IconCssClass="fa fa-history" Click="onHistory" Visible="@historyEnabled" />
                            <DxMenuItem Text="Copy Link" IconCssClass="fa fa-link" Click="onCopy" Visible="@copylinkEnabled" />
                            <DxMenuItem Text="Share" IconCssClass="fa fa-share-square" Click="onShare" Visible="@shareEnabled" />
                            <DxMenuItem Text="Link Document" IconCssClass="fa fa-link" Click="onLinkDocuments" Visible="@linkdownloadEnabled" />
                            <DxMenuItem Text="Form Details" IconCssClass="fa fa-info-circle" Click="onFormDetails" Visible="@formdetailsEnabled" />
                            <DxMenuItem Text="View Parent Documents" IconCssClass="fa fa-paperclip" Click="onViewparentDocuments" Visible="@viewParentEnabled" />
                            <DxMenuItem Text="Email" IconCssClass="fa fa-envelope" Click="onFileProfileTypeEmail" Visible="EmailEnabled" />
                        </Items>
                    </DxMenuItem>

                </Items>
            </DxMenu>

        </div>


    </div>
</div>
<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">
    <DxGrid @ref="Grid"
            Data="fileProfileTypeDocuments"
            KeyFieldName="UniqueNo"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            ColumnResizeMode="GridColumnResizeMode.ColumnsContainer"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
            SearchText="@searchText"
            SearchTextChanged="OnSearchTextChanged"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20" CustomizeElement="Grid_CustomizeElement" ValidationEnabled="false"
            RowClick="OnRowClick"
            FocusedRowEnabled="true"
            AllowSelectRowByClick="true"
            SelectionMode="GridSelectionMode.Single"
            AutoExpandAllGroupRows="true"
            CssClass="w-100 table-hover-OnFileProfile"
            style="height: calc(100vh - 250px);">
        <Columns>
            @*            <DxGridSelectionColumn  Width="60px" />
            *@            <DxGridDataColumn FieldName="UniqueNo" Visible="false" />
            <DxGridDataColumn FieldName="FileName" Caption="Name" MinWidth="270">
                <CellDisplayTemplate>

                    @{
                        var item = (DocumentsModel)context.DataItem;
                        var contentType = item.ContentType != null ? item.ContentType.Split("/").First().ToLower() : "";
                    }
                    @if (item.Type == "Document")
                    {
                        @if (item.SharesCount > 0)
                        {
                            <i class="fa fa-share-alt" aria-hidden="true" style="padding:5px;margin-right: 5px;color:black" title="@item.FileName"></i>
                        }
                        @if (item.IsEmailTopics == true)
                        {
                            <i class="fa fa-envelope" aria-hidden="true" style="padding:5px;margin-right: 5px;color:black" title="@item.FileName"></i>
                        }
                        @if (item.Extension == "xlsx" || item.Extension == "xls")
                        {
                            <i class="fa fa-file-excel" aria-hidden="true" style="padding:5px;margin-right: 5px;color:green" title="@item.FileName"></i>
                        }
                        else if (item.Extension == "ppt" || item.Extension == "pptx")
                        {
                            <i class="fa fa-file-powerpoint" aria-hidden="true" style="padding:5px;margin-right: 5px;color:#C03F1F;" title="@item.FileName"></i>
                        }
                        else if (item.Extension == "doc" || item.Extension == "docx")
                        {
                            <i class="fa fa-file-word" aria-hidden="true" style="padding:5px;margin-right: 5px;color:blue;" title="@item.FileName"></i>
                        }
                        else if (item.Extension == "pdf")
                        {
                            <i class="fa fa-file-pdf" aria-hidden="true" style="padding:5px;margin-right: 5px;color:red;" title="@item.FileName"></i>
                        }
                        else if (item.Extension == "txt")
                        {
                            <i class="fa fa-file-text" aria-hidden="true" style="padding:5px;margin-right: 5px;" title="@item.FileName"></i>
                        }
                        else
                        {
                            if (contentType == "image")
                            {
                                <i class="fa fa-file-image" aria-hidden="true" style="padding:5px;margin-right: 5px;color:#1E3050" title="@item.FileName"></i>
                            }
                            else if (contentType == "video")
                            {
                                <i class="fa fa-file-video" aria-hidden="true" style="padding:5px;margin-right: 5px;color:#008080" title="@item.FileName"></i>
                            }
                            else if (contentType == "audio")
                            {
                                <i class="fa fa-file-audio" aria-hidden="true" style="padding:5px;margin-right: 5px;color:#008080" title="@item.FileName"></i>
                            }
                            else
                            {
                                <i class="fa fa-file" aria-hidden="true" style="padding:5px;margin-right: 5px;" title="@item.FileName"></i>
                            }
                        }
                        @if (item.IsLocked == true)
                        {
                            <i class="fa fa-lock" aria-hidden="true" style="padding:5px;margin-right: 5px;" title="@item.LockedByUser"></i>
                        }

                    }
                    else
                    {
                        <i class="fa fa-folder" aria-hidden="true" style="padding:5px;margin-right: 5px;color:yellow" title="@item.FileName"></i>
                    }
                    <span id=@($"flyout-overview-target-container-RenameFilename-{item.DocumentID}") title="@item.FileName">@item.FileName</span>
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="FullPath" Caption="Path" MinWidth="170">
                <CellDisplayTemplate>
                    @{
                        var item = (DocumentsModel)context.DataItem;
                        <a href="javascript:void(0);" title="@item.FullPath" onclick="@(() => openFileProfileOpenPathLink(item))" style="color:black;">@item.FullPath</a>
                    }
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="ProfileNo" Caption="Profile" MinWidth="170" />
            <DxGridDataColumn FieldName="ActivityProfileNo" Caption="Activity Profile" MinWidth="170" />
            <DxGridDataColumn FieldName="FileSizes" Caption="File Size" MinWidth="170">
                <CellDisplayTemplate>
                    @{
                        var item = (DocumentsModel)context.DataItem;
                    }

                    @(item.FileSizes + (!string.IsNullOrEmpty(item.FileCounts) ? ("," + item.FileCounts) : ""))
                    @((item.FileIndex > 0 ? ("," + item.FileIndex + " History") : ""))
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="Description" MinWidth="200">
                <CellDisplayTemplate>
                    @{
                        var item = (DocumentsModel)context.DataItem;
                    }
                    <i class="fa fa-pencil" aria-hidden="true" style="margin-right: 5px;cursor:pointer;" id=@($"flyout-overview-target-container-Description-{item.DocumentID}") onclick="@(() => OnButtonDescriptionClick(item))" title="@item.Description"></i>
                    <span title="@item.Description">@item.Description</span>
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="ExpiryDate" MinWidth="170">
                <CellDisplayTemplate>
                    @{
                        var item = (DocumentsModel)context.DataItem;
                        var expiryDate = (item.ExpiryDate != null ? Application.Common.Helper.Helper.FormatDate(item.ExpiryDate.Value) : null);
                    }
                    @if (item.Type == "Document")
                    {
                        if (isExpiryDateVisible == true)
                        {
                            <i class="fa fa-pencil" aria-hidden="true" style="margin-right: 5px;cursor:pointer;" id=@($"flyout-overview-target-container-ExpiryDate-{item.DocumentID}") onclick="@(() => OnButtonExpiryDateClick(item))" title="@expiryDate"></i>
                        }
                        @expiryDate
                    }
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="AddedBy" Caption="Added By" MinWidth="170" />
            <DxGridDataColumn FieldName="AddedDate" Caption="Added" MinWidth="170" />
            <DxGridDataColumn FieldName="ModifiedBy" Caption="Modified By" MinWidth="170" />
            <DxGridDataColumn FieldName="ModifiedDate" Caption="Modified" MinWidth="170" />
        </Columns>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="ProfileNo" />
        </TotalSummary>
    </DxGrid>
</DxLoadingPanel>

<DxPopup @bind-Visible="@PopupVisible"
         ShowFooter="true"
         HeaderText="Document History"
         CloseOnOutsideClick="false"
         MinWidth="300" MinHeight="200" MaxWidth="1000px" MaxHeight="800">
    <BodyContentTemplate>
        <AC.SD.Core.Pages.DMS.HistoryPopup @ref="refHistoryPopup" selectedFiles="@selectedFiles"></AC.SD.Core.Pages.DMS.HistoryPopup>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => ClosePopup())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@PopupVisibleLinkDocument"
         ShowFooter="true"
         HeaderText="Link Documents"
         CloseOnOutsideClick="false"
         MinWidth="300" MinHeight="200" MaxWidth="1000px" MaxHeight="800">
    <BodyContentTemplate>
        <AC.SD.Core.Pages.DMS.LinkDocumentsList @ref="refLinkDocumentsList" selectedFiles="@selectedFiles"></AC.SD.Core.Pages.DMS.LinkDocumentsList>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => CloseLinkDocumentPopup())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@PopupVisibleLinkParentDocument"
         ShowFooter="true"
         HeaderText="Parent Documents"
         CloseOnOutsideClick="false"
         ShowCloseButton="false"
         MinWidth="300" MinHeight="200" MaxWidth="1000px" MaxHeight="800">
    <BodyContentTemplate>
        <AC.SD.Core.Pages.DMS.ParentLinkDocuments @ref="refParentLinkDocuments" ParentSelectedFiles="@_selectedItems" LinkProfileSelectedFiles="@LinkProfileSelectedFiles" LinkType="Profile Type"></AC.SD.Core.Pages.DMS.ParentLinkDocuments>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => CloseLinkParentDocumentPopup())" />
    </FooterContentTemplate>
</DxPopup>
<DxFlyout @bind-IsOpen=IsDescriptionOpen
          PositionTarget=@($"#flyout-overview-target-container-Description-{_selectedDescriptionItems?.DocumentID}")
          RestrictionTarget="#Navigation-Flyout-Customization"
          AnimationType="FlyoutAnimationType.Fade"
          PreventCloseOnPositionTargetClick="true"
          HeaderVisible="true"
          HeaderText="Update Description"
          FooterVisible="true"
          CloseOnOutsideClick="false"
          FooterCssClass="custom-flyout-footer"
          MinWidth="500" MinHeight="200" MaxWidth="1000px" MaxHeight="800"
          Position=@(FlyoutPosition.BottomStart | FlyoutPosition.TopStart)>
    <BodyContentTemplate Context="PopupContext">
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="Description:" ColSpanMd="12">
                <DxMemo @bind-Text="@_selectedDescriptionItems.Description" CssClass="cw-480" Rows="5" />
            </DxFormLayoutItem>
        </DxFormLayout>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="Close" Click=@(()=> IsDescriptionOpen = false) />
        <DxButton RenderStyle="ButtonRenderStyle.Success" Text="Update" Click=@(()=> OnUpdateDescription()) />
    </FooterContentTemplate>
</DxFlyout>
<DxFlyout @bind-IsOpen=IsExpiryDateOpen
          PositionTarget=@($"#flyout-overview-target-container-ExpiryDate-{_selectedDescriptionItems?.DocumentID}")
          RestrictionTarget="#Navigation-Flyout-Customization"
          AnimationType="FlyoutAnimationType.Fade"
          PreventCloseOnPositionTargetClick="true"
          FooterVisible="true"
          HeaderVisible="true"
          CloseOnOutsideClick="false"
          HeaderText="Update Expiry Date"
          FooterCssClass="custom-flyout-footer"
          MinWidth="500" MinHeight="200" MaxWidth="1000px" MaxHeight="800"
          Position=@(FlyoutPosition.BottomStart | FlyoutPosition.TopStart)>
    <BodyContentTemplate Context="PopupContext">
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="Expiry Date:" ColSpanMd="12">
                <DxDateEdit NullText="Select a Expiry Date..." @bind-Date="@_selectedDescriptionItems.ExpiryDate" CssClass="cw-320" />
            </DxFormLayoutItem>
        </DxFormLayout>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="Close" Click=@(()=> IsExpiryDateOpen = false) />
        <DxButton RenderStyle="ButtonRenderStyle.Success" Text="Update" Click=@(()=> OnUpdateExpiryDate()) />


    </FooterContentTemplate>
</DxFlyout>
<DxFlyout @bind-IsOpen=IsRenameOpen
          PositionTarget=@($"#flyout-overview-target-container-RenameFilename-{_selectedDescriptionItems?.DocumentID}")
          RestrictionTarget="#Navigation-Flyout-Customization"
          AnimationType="FlyoutAnimationType.Fade"
          HeaderVisible="true"
          HeaderText="Rename Document"
          FooterVisible="true"
          FooterCssClass="custom-flyout-footer"
          CloseOnOutsideClick="false"
          MinWidth="300" MinHeight="200" MaxWidth="1000px" MaxHeight="800"
          PreventCloseOnPositionTargetClick="true">
    <BodyContentTemplate Context="PopupContext">
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="Document Name:" ColSpanMd="9">
                <DxTextBox @bind-Text="@NewRename" CssClass="cw-480" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="" ColSpanMd="3">
                <DxTextBox @bind-Text="@_selectedDescriptionItems.Extension" CssClass="cw-480" Enabled="false" />
            </DxFormLayoutItem>
        </DxFormLayout>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="Close" Click=@(()=> IsRenameOpen = false) />
        <DxButton RenderStyle="ButtonRenderStyle.Success" Text="Update" Click=@(()=> OnUpdateDocumentRename()) />


    </FooterContentTemplate>
</DxFlyout>

<DxPopup @bind-Visible="@PopupNewUpload"
         HeaderText="Upload Documents"
         CloseOnOutsideClick="false"
         ShowCloseButton="false"
         ShowFooter="false"
         MinWidth="300" MinHeight="200" MaxWidth="1000px" MaxHeight="800">
    <BodyContentTemplate>
        <AC.SD.Core.Pages.DMS.UploadDoumentFiles @ref="refUploadDoumentFiles" FolderPathLists="@FolderPathLists" applicationUser="@applicationUser" selectedFiles="@_ParentselectedItems" AttachSessionId="@SessionId" UploadDocFormID="UploadDocFormID" RevokeBack="BackUpload"></AC.SD.Core.Pages.DMS.UploadDoumentFiles>
    </BodyContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@PopupUpload"
         HeaderText="Upload Documents"
         CloseOnOutsideClick="false"
         ShowCloseButton="false"
         ShowFooter="false"
         MinWidth="300" MinHeight="200" MaxWidth="1000px" MaxHeight="800">
    <BodyContentTemplate>
        <AC.SD.Core.Pages.DMS.UploadDocumentUpdateFiles @ref="refUploadDocumentUpdateFiles" FolderPathLists="@FolderPathLists" selectedItems="@_selectedItems" applicationUser="@applicationUser" FileProfileSessionId="@MainSessionId" RevokeBack="BackUpload"></AC.SD.Core.Pages.DMS.UploadDocumentUpdateFiles>
    </BodyContentTemplate>
</DxPopup>


<DxPopup @bind-Visible="@PopupShareDocuments"
         HeaderText="Share Documents"
         CloseOnOutsideClick="false"
         ShowCloseButton="false"
         ShowFooter="false"
         MinWidth="300" MinHeight="200" MaxWidth="1000px" MaxHeight="800">
    <BodyContentTemplate>
        <AC.SD.Core.Pages.DMS.ShareDocuments @ref="refShareDocuments" selectedItems="@_selectedItems" applicationUser="@applicationUser" RevokeBack="BackShareDoc"></AC.SD.Core.Pages.DMS.ShareDocuments>
    </BodyContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@BlukdeleteDocument"
         ShowFooter="true"
         HeaderText="Delete"
         Closed="EulaPopupDocumentClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete this Document
        </p>
        <strong>@DeleteDocumentName</strong>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="onDelete" />

    </FooterContentTemplate>
</DxPopup>
@code {
    private AC.SD.Core.Pages.DMS.ParentLinkDocuments refParentLinkDocuments;
    private AC.SD.Core.Pages.DMS.LinkDocumentsList refLinkDocumentsList;
    private AC.SD.Core.Pages.DMS.HistoryPopup refHistoryPopup;
    private AC.SD.Core.Pages.DMS.UploadDoumentFiles refUploadDoumentFiles;
    private AC.SD.Core.Pages.DMS.ShareDocuments refShareDocuments;
    private AC.SD.Core.Pages.DMS.UploadDocumentUpdateFiles refUploadDocumentUpdateFiles;
    IGrid Grid { get; set; }

    public Guid? MainSessionId { get; set; }
    [Parameter]
    public string? ForNoPopup { get; set; }
    [Parameter]
    public Guid? SessionId { get; set; }
    [Parameter]
    public Action RevokeBack { get; set; }
    string? searchText { get; set; }
    bool Blukdeletepopup { get; set; } = false;
    bool BlukdeleteDocument { get; set; } = false;
    bool IsDescriptionOpen { get; set; } = false;
    bool IsRenameOpen { get; set; } = false;
    public bool PopupUpload { get; set; } = false;
    public bool PopupVisible { get; set; } = false;
    public bool PopupVisibleLinkDocument { get; set; } = false;
    public bool IsExpiryDateOpen { get; set; } = false;
    public bool loading { get; set; } = false; public bool PopupShareDocuments { get; set; } = false;
    bool PopupNewUpload { get; set; } = false;
    public DocumentsModel selectedFiles { get; set; }
    public long? FileProfileTypeId { get; set; }
    private List<DocumentsModel> fileProfileTypeDocuments { get; set; }
    public List<DocumentsModel> fileProfileTypeDocumentsAll { get; set; }
    private DocumentTypeModel _fileProfileselectedlstItems { get; set; }
    private OpenAccessUserLink _openAccessUserLink { get; set; }
    bool PanelVisible { get; set; }
    DocumentLinkModel LinkProfileSelectedFiles = new DocumentLinkModel();
    List<DocumentsModel> FolderPathLists = new List<DocumentsModel>();
    IEnumerable<DocumentsModel> _selectedTreeItems = new List<DocumentsModel>();
    //private DocumentsModel? _selectedTreeItems{get;set;}
    private DocumentsModel? _selectedItems;
    private DocumentsModel _ParentselectedItems;
    public string DeleteDocumentName { get; set; }
    DocumentsModel _selectedDescriptionItems = new DocumentsModel();
    public string? Name;
    public Guid? SelectSessionId { get; set; }
    public string isVisibleParentMore { get; set; } = "display:none;";public string isVisibleForPopUpMore { get; set; } = "display:none;";
    public string isVisibleMore { get; set; } = "display:none;"; public string isVisibleShows { get; set; } = "display:none;";
    public bool DownloadEnabled { get; set; } = false;
    public bool EmailEnabled { get; set; } = false;
    public bool uploadEnabled { get; set; } = false;
    public bool copylinkEnabled { get; set; } = false;
    public bool deleteEnabled { get; set; } = false;
    public bool viewfileEnabled { get; set; } = false;
    public bool historyEnabled { get; set; } = false;
    public bool checkoutEnabled { get; set; } = false;
    public bool checkInEnabled { get; set; } = false;
    public bool formdetailsEnabled { get; set; } = false;
    public bool linkdownloadEnabled { get; set; } = false;
    public bool viewParentEnabled { get; set; } = false;
    public bool renameEnabled { get; set; } = false;
    public bool moreEnabled { get; set; } = false;
    public bool shareEnabled { get; set; } = false;
    public bool isCreateDocumentEnabled { get; set; } = false;
    public ApplicationUser applicationUser { get; private set; }
    FileProfileTypeModel fileProfileTypeProfileInfo = new FileProfileTypeModel();
    public bool PopupVisibleLinkParentDocument { get; set; } = false;
    public string? NewRename { get; set; }
    private string? DocumentViewUrl;
    private string? ServerUrl;
    private string? FileUrl;
    public bool? isExpiryDateVisible { get; set; } = false;
    DocumentSearchModel documentSearchModel = new DocumentSearchModel();
    DocumentPermissionModel documentPermissionModel = new DocumentPermissionModel();
    protected override async Task OnInitializedAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        DocumentViewUrl = Configuration["DocumentsUrl:DocumentViewer"];
        ServerUrl = Configuration["DocumentsUrl:ServerUrl"];
        FileUrl = Configuration["DocumentsUrl:FileUrl"];
        fileProfileTypeDocumentsAll = await Mediator.Send(new GetAllfileprofiletypeListQuery());
        if (SessionId != null)
        {
            documentSearchModel.AttachSessionId = SessionId;
            isVisibleShows = "";
            if (ForNoPopup!="Yes")
            {
                isVisibleForPopUpMore = "";
            }
            await mainPageLoad();
        }
    }
    async Task OnSearchTextChanged(string? newSearchText)
    {
        if (newSearchText != null)
        {
            _selectedItems = null;
        }
        else
        {
            await mainPageLoad();
        }
    }

    async Task mainPageLoad()
    {
        await loadFileProfileData();
        StateHasChanged();
    }
    async Task loadFileProfileData()
    {
        IsExpiryDateOpen = false; IsDescriptionOpen = false; IsRenameOpen = false;
        _selectedItems = null;
        PanelVisible = true;
        _fileProfileselectedlstItems = await Mediator.Send(new GetAllSelectedfileprofiletypeQuery(documentSearchModel));
        fileProfileTypeDocuments = _fileProfileselectedlstItems.DocumentsData;
        if (fileProfileTypeDocuments.Count > 0)
        {
            fileProfileTypeDocuments.ForEach(s =>
            {
                var lists = GetFileProfileTypePath(fileProfileTypeDocumentsAll, s.FilterProfileTypeId);
                s.FullPath = lists.FirstOrDefault()?.FileProfilePath;
                s.FileProfileTypeParentId = lists.FirstOrDefault()?.FileProfileTypeParentId;
            });
            _selectedItems = fileProfileTypeDocuments.FirstOrDefault();
            await permissionEnabled();
            Grid.SetFocusedRowIndex(0);
        }
        PanelVisible = false;
        StateHasChanged();

    }
    async Task PermiisionMain()
    {

        isVisibleMore = "display:none;"; isVisibleParentMore = "display:none;";
        DownloadEnabled = false; uploadEnabled = false; copylinkEnabled = false; viewfileEnabled = false; EmailEnabled = false;
        deleteEnabled = false; historyEnabled = false; checkoutEnabled = false; checkInEnabled = false; shareEnabled = false;
        formdetailsEnabled = false; linkdownloadEnabled = false;
        renameEnabled = false; viewParentEnabled = false;
        if (_selectedItems != null)
        {
            var FileProfileTypeIds = _selectedItems.FilterProfileTypeId > 0 ? _selectedItems.FilterProfileTypeId : _selectedItems.FileProfileTypeId;
            var fileTypeData = fileProfileTypeDocumentsAll.Where(w => w.FileProfileTypeId == FileProfileTypeIds).FirstOrDefault();
            if (fileTypeData != null)
            {
                await permissinSetMainProfile(fileTypeData);
            }
        }
        else
        {
            if (MainSessionId != null)
            {
                var fileTypeData = fileProfileTypeDocumentsAll.Where(w => w.SessionID == MainSessionId).FirstOrDefault();
                if (fileTypeData != null && fileTypeData.FileProfileTypeId > 0)
                {
                    await permissinSetMainProfile(fileTypeData);

                }
            }
        }

        StateHasChanged();
    }
    async Task permissinSetMainProfile(DocumentsModel fileTypeData)
    {
        if (fileTypeData != null)
        {
            moreEnabled = false; isCreateDocumentEnabled = false;
            if (fileTypeData != null)
            {
                if (fileTypeData.AddedByUserID == applicationUser.UserID)
                {
                    if (documentSearchModel.Type != "Search")
                    {
                        if (MainSessionId != null)
                        {
                            isVisibleParentMore = "";
                        }
                        moreEnabled = true; isCreateDocumentEnabled = true;
                        if (_ParentselectedItems != null && _ParentselectedItems.DynamicFormId > 0)
                        {
                            isCreateDocumentEnabled = false;
                        }
                    }

                }
                else
                {
                    var documentPermissionModels = await Mediator.Send(new GetDocumentUserRoleByUserID(fileTypeData.FileProfileTypeId, applicationUser.UserID,null));
                    if (documentPermissionModels != null)
                    {
                        if (documentPermissionModels.IsPermissionExits == true)
                        {
                            if (MainSessionId != null)
                            {
                                isVisibleParentMore = "";
                            }
                            moreEnabled = true; isCreateDocumentEnabled = true;
                            if (_ParentselectedItems != null && _ParentselectedItems.DynamicFormId > 0)
                            {
                                isCreateDocumentEnabled = false;
                            }
                        }
                        else
                        {
                            documentPermissionModel = documentPermissionModels;
                            if (documentPermissionModels.IsCreateDocument == true)
                            {
                                moreEnabled = true; isCreateDocumentEnabled = true;
                                if (_ParentselectedItems != null && _ParentselectedItems.DynamicFormId > 0)
                                {
                                    isCreateDocumentEnabled = false;
                                }
                            }


                        }
                    }
                }
            }
        }
    }
    async Task permissionEnabled()
    {
        await PermiisionMain();
        isVisibleMore = "display:none;";
        if (_openAccessUserLink != null && _openAccessUserLink.IsDmsAccess == true)
        {
            if (_selectedItems != null)
            {
                if (_selectedItems.FilterProfileTypeId > 0)
                {
                    isVisibleMore = "";
                    DownloadEnabled = false; shareEnabled = false;
                    uploadEnabled = false; copylinkEnabled = false; viewfileEnabled = false; deleteEnabled = false; historyEnabled = false; EmailEnabled = false;
                    checkoutEnabled = false; checkInEnabled = false;
                    linkdownloadEnabled = false; formdetailsEnabled = false; renameEnabled = false; viewParentEnabled = false;
                    if (_selectedItems.IsLocked == true)
                    {
                        checkInEnabled = true;
                        uploadEnabled = false; deleteEnabled = false; DownloadEnabled = false; EmailEnabled = false;
                        viewfileEnabled = false; historyEnabled = false; checkoutEnabled = false;
                        copylinkEnabled = false; viewParentEnabled = false; shareEnabled = false;
                        linkdownloadEnabled = false; formdetailsEnabled = false; renameEnabled = false;
                    }
                    else
                    {
                        moreEnabled = true; uploadEnabled = true; DownloadEnabled = true; copylinkEnabled = true; viewfileEnabled = true; deleteEnabled = true; historyEnabled = true;
                        checkoutEnabled = true; checkInEnabled = false; linkdownloadEnabled = true;
                        renameEnabled = true; viewParentEnabled = true; EmailEnabled = true; shareEnabled = true;
                        if (_ParentselectedItems != null && _ParentselectedItems.DynamicFormId > 0 && _selectedItems.IsDynamicFromData == true)
                        {
                            formdetailsEnabled = true;
                        }
                    }
                }

            }

        }
        else
        {

            //var permissionData = _selectedItems.DocumentPermissionData;
            if (_selectedItems != null && _selectedItems.FilterProfileTypeId > 0)
            {
                isVisibleMore = "";
                DownloadEnabled = false; shareEnabled = false;
                uploadEnabled = false; copylinkEnabled = false; viewfileEnabled = false; deleteEnabled = false; historyEnabled = false; EmailEnabled = false;
                checkoutEnabled = false; checkInEnabled = false;
                linkdownloadEnabled = false; formdetailsEnabled = false; renameEnabled = false; viewParentEnabled = false;

                if (_selectedItems.IsLocked == true)
                {
                    checkInEnabled = true;
                    uploadEnabled = false; deleteEnabled = false; DownloadEnabled = false; EmailEnabled = false;
                    viewfileEnabled = false; historyEnabled = false; checkoutEnabled = false;
                    copylinkEnabled = false; viewParentEnabled = false; shareEnabled = false;
                    linkdownloadEnabled = false; formdetailsEnabled = false; renameEnabled = false;
                }
                else
                {
                    if (applicationUser.UserID == _selectedItems.AddedByUserID)
                    {
                        uploadEnabled = true; DownloadEnabled = true; copylinkEnabled = true; viewfileEnabled = true; deleteEnabled = true; historyEnabled = true;
                        checkoutEnabled = true; checkInEnabled = false; linkdownloadEnabled = true;
                        renameEnabled = true; viewParentEnabled = true; EmailEnabled = true; shareEnabled = true;
                        if (_ParentselectedItems != null && _ParentselectedItems.DynamicFormId > 0 && _selectedItems.IsDynamicFromData == true)
                        {
                            formdetailsEnabled = true;
                        }
                        if (_selectedItems.IsLocked == true)
                        {
                            checkoutEnabled = false;
                            checkInEnabled = true;
                        }
                    }
                    else
                    {
                        EmailEnabled = true;
                        var permissionData = await Mediator.Send(new GetDocumentUserRoleByUserID(_selectedItems.FilterProfileTypeId, applicationUser.UserID,_selectedItems.DocumentID));
                        if (permissionData != null)
                        {
                            if (permissionData.IsPermissionExits == true)
                            {
                                uploadEnabled = true; DownloadEnabled = true; copylinkEnabled = true; viewfileEnabled = true; deleteEnabled = true; historyEnabled = true;
                                checkoutEnabled = true; checkInEnabled = false; linkdownloadEnabled = true;
                                renameEnabled = true; viewParentEnabled = true; EmailEnabled = true; shareEnabled = true;
                                if (_ParentselectedItems != null && _ParentselectedItems.DynamicFormId > 0 && _selectedItems.IsDynamicFromData == true)
                                {
                                    formdetailsEnabled = true;
                                }
                                if (_selectedItems.IsLocked == true)
                                {
                                    checkoutEnabled = false;
                                    checkInEnabled = true;
                                }
                            }
                            else
                            {
                                if (permissionData.IsUpdateDocument == true)
                                {
                                    checkoutEnabled = true; checkInEnabled = false;
                                    linkdownloadEnabled = true; viewParentEnabled = true;
                                    if (_ParentselectedItems != null && _ParentselectedItems.DynamicFormId > 0 && _selectedItems.IsDynamicFromData == true)
                                    {
                                        formdetailsEnabled = true;
                                    }
                                }
                                if (permissionData.IsDelete == true)
                                {
                                    deleteEnabled = true;
                                }
                                if (permissionData.IsEdit == true)
                                {
                                    DownloadEnabled = true;
                                }
                                if (permissionData.IsRead == true)
                                {
                                    viewfileEnabled = true;
                                }
                                if (permissionData.IsListVersion == true)
                                {
                                    historyEnabled = true;
                                }
                                if (permissionData.IsCopy == true)
                                {
                                    copylinkEnabled = true;
                                }
                                if (permissionData.IsRename == true)
                                {
                                    renameEnabled = true;
                                }
                                if (permissionData.IsShare == true)
                                {
                                    shareEnabled = true;
                                }
                                if (permissionData.IsSendEmail == true)
                                {
                                    //EmailEnabled = true;
                                }

                                if (_selectedItems.IsLocked == true)
                                {
                                    checkoutEnabled = false;
                                    checkInEnabled = true;
                                }
                            }
                        }
                    }
                }
            }
        }
        StateHasChanged();
    }
    private List<DocumentsModel>
    GetAllFileProfileTypeName(List<DocumentsModel>
        foldersListItems, DocumentsModel s, List<DocumentsModel>
            foldersModel)
    {
        if (s.ParentId != null)
        {
            var items = foldersListItems.FirstOrDefault(f => f.FileProfileTypeId == s.ParentId);
            GetAllFileProfileTypeName(foldersListItems, items, foldersModel);
            foldersModel.Add(items);
        }
        return foldersModel;
    }

    void onCopyLink()
    {

    }
    void onReserveNumberSeries()
    {

    }
    async Task OnRowClick(GridRowClickEventArgs e)
    {

        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "UniqueNo");
        _selectedItems = fileProfileTypeDocuments.FirstOrDefault(f => f.UniqueNo == (long?)UniqueId);
        if (_selectedItems != null)
        {
            await permissionEnabled();
        }
        StateHasChanged();
    }

    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }

    void onBack()
    {
        clearData();
        RevokeBack.Invoke();       
    }
    private async Task onCopy()
    {

        if (_selectedItems != null && _selectedItems.DocumentID > 0 && _selectedItems.FilePath != null)
        {
            if (_selectedItems.IsNewPath == true)
            {
                var url = DocumentViewUrl + "?url=" + _selectedItems.UniqueSessionId;
                await ClipboardService.WriteTextAsync(url);
                toastService.ShowToast("Copied", AC.SD.Core.Services.ToastLevel.Info);
            }
            else
            {
                var url = DocumentViewUrl + "?url=" + _selectedItems.UniqueSessionId;
                await ClipboardService.WriteTextAsync(url);
                toastService.ShowToast("Copied", AC.SD.Core.Services.ToastLevel.Info);
            }
        }
    }

    async Task Download()
    {
        if (_selectedItems != null && _selectedItems.DocumentID > 0 && _selectedItems.FilePath != null)
        {
            var response = await Mediator.Send(new GetFileDownload(_selectedItems.DocumentID));
            if (response.StatusCodeID == 0)
            {
                toastService.ShowToast("File Not Exits", AC.SD.Core.Services.ToastLevel.Error);
            }
            else
            {
                //  Trigger file download
                await jsRuntime.InvokeVoidAsync("downloadFile", _selectedItems.OriginalFileName, response.ImageData, "");
            }
        }
    }
    async Task CloseUploadPopup()
    {
        PopupUpload = false;
        await loadFileProfileData();
    }
    void onUploadFileProfileType()
    {
        PopupNewUpload = true;
        StateHasChanged();
    }
    void onUpload()
    {
        PopupUpload = true;
    }
    async Task onDelete()
    {
        if (_selectedItems != null && _selectedItems.DocumentID > 0)
        {
            BlukdeleteDocument = false;
            await Mediator.Send(new GetFileProfileTypeDocumentDelete(_selectedItems));
            toastService.ShowToast("Record Deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await loadFileProfileData();
        }
    }
    async void onView()
    {
        if (_selectedItems != null && _selectedItems.DocumentID > 0 && _selectedItems.FilePath != null)
        {
            if (_selectedItems.IsNewPath == true)
            {
                // var url = DocumentViewUrl + "?url=" + FileUrl + _selectedItems.FilePath;
                var url = DocumentViewUrl + "?url=" + _selectedItems.UniqueSessionId;
                await OpenDocumentPreview(url);
            }
            else
            {
                //var url = DocumentViewUrl + "?url=" + ServerUrl + _selectedItems.FilePath;
                var url = DocumentViewUrl + "?url=" + _selectedItems.UniqueSessionId;
                await OpenDocumentPreview(url);
            }

        }
    }
    private async Task OpenDocumentPreview(string url)
    {
        await jsRuntime.InvokeVoidAsync("window.open", url, "_blank");
    }
    void onHistory()
    {
        if (_selectedItems != null && _selectedItems.DocumentID > 0)
        {
            selectedFiles = _selectedItems;
            PopupVisible = true;
        }

    }
    async Task onCheckOut()
    {
        if (_selectedItems != null && _selectedItems.DocumentID > 0)
        {

            await Mediator.Send(new GetFileProfileTypeCheckOut(_selectedItems));
            //await loadFileProfileData();
            _selectedItems.IsLocked = true;
            _selectedItems.LockedByUserId = applicationUser.UserID;
            _selectedItems.LockedByUser = applicationUser.UserName;
            await permissionEnabled();
            await Download();
        }
    }
    void onCheckin()
    {
        PopupUpload = true;
    }
    void onLinkDocuments()
    {
        if (_selectedItems != null && _selectedItems.DocumentID > 0)
        {
            selectedFiles = _selectedItems;
            PopupVisibleLinkDocument = true;
        }
    }

    void onFormDetails()
    {
        NavigationManager.NavigateTo($"fileprofiletype/uploadDynamicForm/" + _ParentselectedItems.SessionID + "/" + _selectedItems.SessionID);
    }
    void CloseLinkParentDocumentPopup()
    {
        PopupVisibleLinkParentDocument = false;
    }
    async Task onFileProfileTypeEmail()
    {

        var itemlst = await Mediator.Send(new GetActivityEmailList(_selectedItems.SessionID.Value));
        if (itemlst.Count > 0)
        {
            if (itemlst[0].EmailTopicSessionId != null)
            {
                var plist = await Mediator.Send(new GetParticipantbysessionidList(itemlst[0].EmailTopicSessionId.Value));
                var checkusers = plist.Where(t => t.UserId == applicationUser.UserID).ToList();
                if (checkusers.Count > 0)
                {
                    NavigationManager.NavigateTo("ViewEmail/" + itemlst[0].EmailTopicSessionId + "/Email");
                }
                else
                {
                    toastService.ShowToast("Already created email current user permission denied, please contact admin", AC.SD.Core.Services.ToastLevel.Warning);
                }
            }
            else
            {
                onCreateorUpdateFileProfileTypeEmail();
            }
        }
        else
        {
            onCreateorUpdateFileProfileTypeEmail();
        }



    }
    async Task onCreateorUpdateFileProfileTypeEmail()
    {
        var lst = FolderPathLists;
        string groupTag = "";
        long grouptTagId = 0;
        long catTagId = 0;

        List<string> tagStringList = new List<string>();

        for (var j = 0; j < FolderPathLists.Count; j++)
        {
            var ckl = FolderPathLists[j].FileName;

            if (j == 0)
            {
                groupTag = ckl; // Assign the first element to groupTag
            }
            else
            {
                tagStringList.Add(ckl); // Add other elements to tagStringList
            }
        }

        string tagString = string.Join("_", tagStringList);

        if (string.IsNullOrEmpty(tagString))
        {
            tagString = groupTag;
        }

        var tagItems = await Mediator.Send(new GetAllApplicationMasterChildListQuery("122"));

        var cktagItem = tagItems.Where(x => x.Value == groupTag).ToList();
        if (cktagItem.Count > 0)
        {
            grouptTagId = cktagItem[0].ApplicationMasterChildId;
        }
        else
        {
            var request = new CreateApplicationMasterChildCommand
                {
                    ApplicationMasterParentId = 122,
                    ParentId = null,
                    Description = groupTag,
                    Value = groupTag,
                    AddedByUserId = applicationUser.UserID,
                    ModifiedByUserId = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    ModifiedDate = DateTime.Now,
                    StatusCodeId = 1,
                    SessionId = Guid.NewGuid(),
                };
            var rlt = await Mediator.Send(request);
            grouptTagId = rlt.ApplicationMasterChildId;
        }

        if (!string.IsNullOrEmpty(tagString))
        {
            var catItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(grouptTagId));

            var ckcatItem = catItems.Where(x => x.Value == tagString).ToList();
            if (ckcatItem.Count > 0)
            {
                catTagId = ckcatItem[0].ApplicationMasterChildId;
            }
            else
            {
                var request = new CreateApplicationMasterChildCommand
                    {
                        ApplicationMasterParentId = 123,
                        ParentId = grouptTagId,
                        Description = tagString,
                        Value = tagString,
                        AddedByUserId = applicationUser.UserID,
                        ModifiedByUserId = applicationUser.UserID,
                        AddedDate = DateTime.Now,
                        ModifiedDate = DateTime.Now,
                        StatusCodeId = 1,
                        SessionId = Guid.NewGuid(),
                    };
                var rlt = await Mediator.Send(request);
                catTagId = rlt.ApplicationMasterChildId;

                await createApplicationMasterChild(124, catTagId, "Review");
                await createApplicationMasterChild(124, catTagId, "Discussion");
            }
        }

        var items = await Mediator.Send(new GetActivityEmailList(_selectedItems.SessionID.Value));

        if (items.Count == 0)
        {
            var sessionId = _selectedItems.SessionID;
            string filePath = _selectedItems.FileName;
            string subjectName = Path.GetFileNameWithoutExtension(filePath);

            var createReq = new CreateActivityEmail
                {
                    SubjectName = subjectName,
                    Comment = _selectedItems.Description,
                    ActivityType = "FileProfileType",
                    SessionId = _selectedItems.SessionID,
                    BackURL = MainSessionId.ToString(),
                    DocumentSessionId = _selectedItems.SessionID,
                    AddedByUserID = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    ManufacturingProcessId = grouptTagId,
                    CategoryActionId = catTagId

                };

            var result = await Mediator.Send(createReq);
        }

        var itemlst = await Mediator.Send(new GetActivityEmailList(_selectedItems.SessionID.Value));

        if (itemlst[0].IsDraft.GetValueOrDefault(false))
        {
            var plist = await Mediator.Send(new GetParticipantbysessionidList(itemlst[0].EmailTopicSessionId.Value));
            var checkusers = plist.Where(t => t.UserId == applicationUser.UserID).ToList();
            if (checkusers.Count > 0)
            {
                NavigationManager.NavigateTo("EmailDrafts");
            }
            else
            {
                toastService.ShowToast("Already created email current user permission denied, please contact admin", AC.SD.Core.Services.ToastLevel.Warning);
            }

        }
        else if (itemlst[0].EmailTopicSessionId == null)
        {
            var sessionId = _selectedItems.SessionID;
            string filePath = _selectedItems.FileName;
            string subjectName = Path.GetFileNameWithoutExtension(filePath);

            var createReq = new UpdateActivityEmail
                {
                    SubjectName = subjectName,
                    Comment = _selectedItems.Description,
                    ActivityType = "FileProfileType",
                    SessionId = _selectedItems.SessionID,
                    BackURL = MainSessionId.ToString(),
                    DocumentSessionId = _selectedItems.SessionID,
                    AddedByUserID = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    ManufacturingProcessId = grouptTagId,
                    CategoryActionId = catTagId,
                    ActivityEmailTopicID = itemlst[0].ActivityEmailTopicID

                };

            var result = await Mediator.Send(createReq);



            NavigationManager.NavigateTo("CreateEmail/" + _selectedItems.SessionID + "");
        }
        else
        {
            var plist = await Mediator.Send(new GetParticipantbysessionidList(itemlst[0].EmailTopicSessionId.Value));
            var checkusers = plist.Where(t => t.UserId == applicationUser.UserID).ToList();
            if (checkusers.Count > 0)
            {
                NavigationManager.NavigateTo("ViewEmail/" + itemlst[0].EmailTopicSessionId + "/Email");
            }
            else
            {
                toastService.ShowToast("Already created email current user permission denied, please contact admin", AC.SD.Core.Services.ToastLevel.Warning);
            }

        }
    }
    async Task createApplicationMasterChild(long MasterParentId, long ParentId, string notes)
    {

        var request = new CreateApplicationMasterChildCommand
            {
                ApplicationMasterParentId = MasterParentId,
                ParentId = ParentId,
                Description = notes,
                Value = notes,
                AddedByUserId = applicationUser.UserID,
                ModifiedByUserId = applicationUser.UserID,
                AddedDate = DateTime.Now,
                ModifiedDate = DateTime.Now,
                StatusCodeId = 1,
                SessionId = Guid.NewGuid(),
            };
        await Mediator.Send(request);
    }
    void onViewparentDocuments()
    {
        LinkProfileSelectedFiles.DocumentLinkId = 0;
        LinkProfileSelectedFiles.LinkDocumentId = _selectedItems.DocumentID;
        LinkProfileSelectedFiles.DocumentID = _selectedItems.DocumentID;
        PopupVisibleLinkParentDocument = true;
    }
    void onRename()
    {
        OnButtonRenameDescriptionClick();
    }
    void ClosePopup()
    {
        PopupVisible = false;
    }
    async Task CloseLinkDocumentPopup()
    {
        await loadFileProfileData();
        PopupVisibleLinkDocument = false;
    }
    void OnButtonDescriptionClick(DocumentsModel items)
    {
        IsDescriptionOpen = true; IsExpiryDateOpen = false; IsRenameOpen = false;
        _selectedDescriptionItems = new DocumentsModel();
        _selectedDescriptionItems.FilterProfileTypeId = items.FilterProfileTypeId;
        _selectedDescriptionItems.DocumentID = items.DocumentID;
        _selectedDescriptionItems.Description = items.Description;
        _selectedDescriptionItems.Type = items.Type;
        _selectedDescriptionItems.ModifiedDate = DateTime.Now;
        _selectedDescriptionItems.ModifiedByUserID = applicationUser.UserID;
    }
    async Task OnUpdateDescription()
    {
        await Mediator.Send(new GetUpdateDescriptionField(_selectedDescriptionItems));
        await loadFileProfileData();
        toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
        IsDescriptionOpen = false;
    }
    void OnButtonExpiryDateClick(DocumentsModel items)
    {
        IsExpiryDateOpen = true; IsDescriptionOpen = false; IsRenameOpen = false;
        _selectedDescriptionItems = new DocumentsModel();
        _selectedDescriptionItems.FilterProfileTypeId = items.FilterProfileTypeId;
        _selectedDescriptionItems.DocumentID = items.DocumentID;
        _selectedDescriptionItems.ExpiryDate = items.ExpiryDate;
        _selectedDescriptionItems.Type = items.Type;
        _selectedDescriptionItems.ModifiedDate = DateTime.Now;
        _selectedDescriptionItems.ModifiedByUserID = applicationUser.UserID;
    }
    void OnButtonRenameDescriptionClick()
    {
        IsRenameOpen = true; IsExpiryDateOpen = false; IsDescriptionOpen = false;
        _selectedDescriptionItems = new DocumentsModel();
        _selectedDescriptionItems = _selectedItems;
        if (!string.IsNullOrEmpty(_selectedDescriptionItems.OriginalFileName))
        {
            NewRename = _selectedDescriptionItems.OriginalFileName.Remove(_selectedDescriptionItems.OriginalFileName.LastIndexOf("."));
        }
    }
    async Task OnUpdateExpiryDate()
    {
        await Mediator.Send(new GetUpdateExpiryDateField(_selectedDescriptionItems));
        await loadFileProfileData();
        toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
        IsExpiryDateOpen = false;
    }
    async Task OnUpdateDocumentRename()
    {
        var NewName = NewRename != null ? NewRename.Trim() : "";
        if (!string.IsNullOrEmpty(NewName))
        {
            _selectedDescriptionItems.FileName = NewRename + "." + _selectedDescriptionItems.Extension;
            await Mediator.Send(new GetUpdateDocumentRename(_selectedDescriptionItems));
            await loadFileProfileData();
            toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            IsRenameOpen = false;
        }
    }
    void BackShareDoc()
    {
        InvokeAsync(loadFileProfileData);
        PopupShareDocuments = false;
        StateHasChanged();
    }
    async void BackUpload()
    {
        PopupNewUpload = false;
        PopupUpload = false;
        await loadFileProfileData();
        StateHasChanged();

    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        Blukdeletepopup = false;
    }
    void EulaPopupDocumentClosed(PopupClosedEventArgs args)
    {
        BlukdeleteDocument = false;
    }
    void onDeleteDocument()
    {
        DeleteDocumentName = _selectedItems.FileName;
        BlukdeleteDocument = true;
    }
    public IEnumerable<DocumentsModel>
        GetChild(long? id)
    {
        var locations = fileProfileTypeDocumentsAll.Where(x => x.ParentId == id || x.FileProfileTypeId == id).ToList();

        var child = locations.AsEnumerable().Union(fileProfileTypeDocumentsAll.AsEnumerable().Where(x => x.ParentId == id).SelectMany(y => GetChild(y.FileProfileTypeId))).ToList();
        return child;
    }
    private List<FileProfileTypeModel>
        GetFileProfileTypePath(List<DocumentsModel>
            foldersListItem, long? id)
    {
        var foldersListItems = foldersListItem.Where(t => t.FileProfileTypeId == id).ToList();
        FileProfileTypeModel fileprofile = new FileProfileTypeModel();
        List<FileProfileTypeModel>
            foldersList = new List<FileProfileTypeModel>
                ();
        if (foldersListItems != null && foldersListItems.Count > 0)
        {
            foldersListItems.ForEach(s =>
            {
                List<string>
                                    FolderPathLists = new List<string>
                                        ();
                FileProfileTypeModel fileProfileTypeModel = new FileProfileTypeModel();
                fileProfileTypeModel.FileProfileTypeId = s.FileProfileTypeId.Value;
                fileProfileTypeModel.Name = s.FileName;
                fileprofile = GetProfileTypeName(foldersListItem, s, FolderPathLists, fileprofile);
                FolderPathLists.Add(s.FileName);
                fileProfileTypeModel.FileProfileTypeParentId = fileprofile.ParentId;
                fileProfileTypeModel.FileProfilePath = string.Join(" / ", FolderPathLists);
                foldersList.Add(fileProfileTypeModel);
            });
        }
        return foldersList;
    }
    private FileProfileTypeModel GetProfileTypeName(List<DocumentsModel>
        foldersListItems, DocumentsModel s, List<string>
            foldersModel, FileProfileTypeModel fileProfileTypeModel)
    {

        if (s.ParentId != null)
        {
            var items = foldersListItems.FirstOrDefault(f => f.FileProfileTypeId == s.ParentId);
            GetProfileTypeName(foldersListItems, items, foldersModel, fileProfileTypeModel);
            foldersModel.Add(items.FileName);
        }
        else if (s.ParentId == null)
        {
            fileProfileTypeModel.ParentId = foldersListItems.FirstOrDefault(f => f.FileProfileTypeId == s.FileProfileTypeId)?.FileProfileTypeId;
        }
        return fileProfileTypeModel;
    }
    async Task openFileProfileOpenPathLink(DocumentsModel documentModel)
    {
        var url = NavigationManager.BaseUri.ToString() + "fileprofiletype/" + documentModel.FileProfileTypeSessionId + "/" + documentModel.SessionID;
        await jsRuntime.InvokeVoidAsync("window.open", url, "_blank");
    }
    void onShare()
    {
        PopupShareDocuments = true;
    }
    public void clearData()
    {
        refParentLinkDocuments?.DisposeAsync();
        refLinkDocumentsList?.DisposeAsync();
        refHistoryPopup?.DisposeAsync();
        refUploadDoumentFiles?.DisposeAsync();
        refShareDocuments?.DisposeAsync();
        refUploadDocumentUpdateFiles?.DisposeAsync();
        selectedFiles = null;
        fileProfileTypeDocuments?.Clear();
        fileProfileTypeDocumentsAll?.Clear();
        _fileProfileselectedlstItems = null;
        _openAccessUserLink = null;
        LinkProfileSelectedFiles = new DocumentLinkModel();
        FolderPathLists?.Clear();
        _selectedTreeItems = null;
        _selectedItems=null;
        _ParentselectedItems=null;
        _selectedDescriptionItems = new DocumentsModel();
        fileProfileTypeProfileInfo = new FileProfileTypeModel();
        documentSearchModel = new DocumentSearchModel();
        documentPermissionModel = new DocumentPermissionModel();
    }
    public async ValueTask DisposeAsync()
    {
        System.GC.Collect();
        clearData();
        GC.SuppressFinalize(this);
    }
}
