@using MediatR
@using Application.Queries;
@using Application.Response;
@inject IMediator Mediator
@using DevExpress.Blazor.Internal
@using System.Collections.Generic
@using DevExpress.Blazor.RichEdit
@using DevExpress.Blazor.Office
@using System.Globalization
@using System;
@using Application.Command.Document;
@using Microsoft.AspNetCore.Http;
@using System.IO;
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration
@inject IJSRuntime JsRuntime;
@using System.Threading;
@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Forms
@using DevExpress.Blazor
@using System.Linq;
@inject NavigationManager NavigationManager
@inject IConfiguration Configuration
@using Microsoft.AspNetCore.Components.Forms


@page "/upload"

@*<DxUpload @ref="uploadComponent" Name="files"
          UploadMode="@UploadMode.OnButtonClick"
          AllowMultiFileUpload="true"     
          SelectedFilesChanged="GetSelectedFiles">
</DxUpload>*@



<InputFile OnChange="HandleFileChange" />
<button class="btn btn-primary" @onclick="onInputFileHandleUpload">Upload</button>

@*<input type="file" @onchange="EventCallback.Factory.Create(this, HandleFileChange)" />
<button @onclick="UploadFile">Upload</button>*@


<button id="overviewDemoSelectButton" class="btn border-primary btn-primary m-1">Select File</button>
<div class="alert alert-info @(MessageVisible? " visible" : " invisible")">@MyMessage</div>
<DxUpload Name="myFile"
          Visible="@UploadVisible"
          ExternalSelectButtonCssSelector="#overviewDemoSelectButton"         
          MaxFileSize="15000000"
          UploadUrl="@GetUploadUrl("api/Upload/Upload/")"
          SelectedFilesChanged="@SelectedFilesChanged1"
          FileUploaded="@OnFileUploaded"
          FileUploadStart="@OnFileUploadStart"
          CssClass="w-100">
</DxUpload>

<button id="overviewDemoSelectButton1" class="btn border-primary btn-primary m-1">Select1 File1</button>
<DxUpload @ref="uploadComponent" Visible="@UploadVisible" Name="Files"
          UploadMode="@UploadMode.OnButtonClick"
          ExternalSelectButtonCssSelector="#overviewDemoSelectButton1"
          AllowMultiFileUpload="true"
          SelectedFilesChanged="@SelectedFilesChanged"
          UploadUrl="@GetUploadUrl()">
</DxUpload>
<button class="btn btn-primary" @onclick="HandleUpload">Upload</button>

@code {

    private string fileName;
    private byte[] fileContent;

    private IBrowserFile file;

    private async Task HandleFileChange(InputFileChangeEventArgs e)
    {
        // file = e.File;s
        var file = e.File;
        fileName = file.Name;
        var buffer = new byte[file.Size];
        await file.OpenReadStream().ReadAsync(buffer);
        fileContent = buffer;
    }

    private void UploadFile()
    {
        // Your file upload logic here
    }



    bool MessageVisible { get; set; } = false;
    string MyMessage { get; set; } = "";
    private DxUpload uploadComponent;   
    int SelectedFilesCount { get; set; }

    public string GetUploadUrl()
    {
        //var sessionId = Guid.NewGuid();

        string BaseUrl = Configuration["DocumentsUrl:BaseUrl"];
        string url = BaseUrl + "Upload/UploadDocuments?SessionId=";
        return url.ToString();
    }

    private List<UploadFileInfo> selectedFile = new List<UploadFileInfo>();

    List<IFormFile> formFiles = new List<IFormFile>();

    // private List<IFormFile> selectedFile = new List<IFormFile>();

    private List<IFormFile> selectedFiles = new List<IFormFile>();

    bool UploadVisible { get; set; } = false;
    protected void SelectedFilesChanged1(IEnumerable<UploadFileInfo> files)
    {
        UploadVisible = files.ToList().Count > 0;
        // selectedFiles.AddRange(files);
        InvokeAsync(StateHasChanged);
    }
    protected string GetUploadUrl(string url)
    {
        return NavigationManager.ToAbsoluteUri(url).AbsoluteUri;
    }
    void OnFileUploaded(FileUploadEventArgs e)
    {
        MyMessage = "The " + e.FileInfo.Name + " file was uploaded.";
        MessageVisible = true;
        InvokeAsync(StateHasChanged);
    }
    void OnFileUploadStart(FileUploadStartEventArgs e)
    {
        selectedFiles.Clear();
        // selectedFiles.AddRange(e.FileInfo);

        // Perform additional operations or update UI based on the selected files

        InvokeAsync(StateHasChanged);
    }


    public void GetSelectedFiles(IEnumerable<IFormFile> files)
    {
        selectedFiles.Clear();       
        selectedFiles.AddRange(files.Cast<IFormFile>());

        // Perform additional operations or update UI based on the selected files

        InvokeAsync(StateHasChanged);
    }

    private async Task HandleFileSelection(IEnumerable<IFormFile> Files)
    {

        selectedFiles.AddRange(Files);


        //selectedFiles.Clear();
        ////selectedFiles.AddRange(files.Select(file => ConvertToIFormFile(file)));
        //selectedFiles.AddRange(files.Select(file => (IFormFile)file));       

        //foreach (var file in files)
        //{
        //    var formFile = ConvertToIFormFile(file);
        //    selectedFiles.Add(formFile);
        //}

        //await InvokeAsync(StateHasChanged);
    }

    //private IFormFile ConvertToIFormFile(UploadFileInfo uploadFileInfo)
    //{
    //    //Stream fileStream = uploadFileInfo.ContentReadStream; // Assuming the 'ContentReadStream' property exists
    //    //string fileName = uploadFileInfo.Name; // Assuming the 'Name' property represents the file name

    //    //string contentType = GetContentTypeFromExtension(fileName); // Custom method to determine content type

    //    //IFormFile formFile = new FormFile(fileStream, 0, fileStream.Length, null, fileName)
    //    //    {
    //    //        ContentType = contentType
    //    //    };

    //    //return formFile;
    //}

    private string GetContentTypeFromExtension(string fileName)
    {
        string extension = Path.GetExtension(fileName);

        switch (extension.ToLower())
        {
            case ".jpg":
            case ".jpeg":
                return "image/jpeg";
            case ".png":
                return "image/png";
            case ".pdf":
                return "application/pdf";
            // Add more cases for other file extensions and their corresponding content types
            default:
                return "application/octet-stream"; // Default content type for unknown file types
        }
    }

    private void SelectedFilesChanged(IEnumerable<UploadFileInfo> files)
    {
        UploadVisible = files.ToList().Count > 0;
        var tempFiles = files.ToList();
        selectedFile.Clear();
        selectedFile.AddRange(files);
        //selectedFiles.AddRange(files.Cast<IFormFile>());
    }


    //private void SelectedFilesChanged(IEnumerable<IFormFile> files, int arg1, string arg2)
    //{
    //    selectedFiles.AddRange(files);
    //}

    //private async Task SelectedFilesChanged(IEnumerable<IBrowserFile> files)
    //{       
    //    selectedFiles.AddRange(files);
    //}

    private async Task onInputFileHandleUpload()
    {
        var createReq = new FileUploadCommand
            {
                FileName = fileName,
                FileContent = fileContent,
                SessionId = Guid.NewGuid()
            };
        var result = await Mediator.Send(createReq);
    }

    private async Task HandleUpload()
    {
        //var lst = selectedFiles;
        //var createReq = new UploadFilesRequest
        //    {
        //        Files = selectedFile
        //    };      
        //var result = await Mediator.Send(createReq);       
        //selectedFile.Clear();
        //return result;

        uploadComponent.UploadAllFiles();
    }  
   
}
