@using Application.Commands;
@using Application.Queries;
@using Application.Response;
@using global::Core.Repositories.Query;
@using global::Core.Entities;
@using global::Core.Entities.Views;
@using MediatR
@inject IMediator Mediator
@using System.ComponentModel.DataAnnotations
@using DevExpress.Blazor.Internal
@using System.Collections.Generic
@inject ILocalStorageService<ApplicationUser> _localStorageService
@page "/ForumConversations"
@using DevExpress.Blazor.RichEdit
@using DevExpress.Blazor.Office
@using System.Globalization
@using System;
@using Application.Command.Document;
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration

<style>

</style>
<link href="_content/AC.SD.Core/css/forum-discussion.css" rel="stylesheet" />
<div class="">

    @* <DxFormLayout CssClass="w-100">
    <DxFormLayoutGroup Caption="General Information" ColSpanMd="3">
    asdfasdf
    </DxFormLayoutGroup>
    <DxFormLayoutGroup Caption="Forum Discussion List" ColSpanMd="9">
    asdfasdf
    </DxFormLayoutGroup>
    </DxFormLayout>*@

    <div class="main-container">
        <!--  -->
        <!-- Main Content -->
        <!--  -->
        <div class="content-container">
            <!-- Side Bar -->
            @* <div class="side-menu-bar">

            <div class="side-menu-bar-top">
            <div class="side-menu-bar-text circle">RN</div>
            <div class="side-menu-bar-text circle">IPIR</div>
            <div class="side-menu-bar-text circle">PA</div>
            <div class="side-menu-bar-text circle">CS</div>
            <div class="side-menu-bar-text circle">GL</div>
            </div>

            </div>*@
            <!-- Mini Menu Bar -->
            <div class="mini-menu-bar">
                <div class="mini-menu-bar-top">
                    <div class="mini-menu-bar-heading">
                        <div class="files-title">General Information</div>
                    </div>
                    <!-- Views Accordion -->
                   @* <div class="views-accordion">
                        <DxTreeView Data="@_topics"
                                    @bind-FilterString="FilterString"
                                    FilterMinLength="2"
                                    ShowFilterPanel="true"
                                    FilterMode="FilterMode"
                                    AllowSelectNodes=true
                                    LoadChildNodesOnDemand="true"
                                    SelectionChanged="@SelectionChanged" AnimationType="LayoutAnimationType.Slide">
                            <DataMappings>
                                <DxTreeViewDataMapping Key="ID" CssClass="CssClass" Text="TopicName" Name="ID" />
                            </DataMappings>
                        </DxTreeView>
                    </div>*@

                    <div>
                        <div class="views-accordion">                         
                            <DxTreeView Data="@_TreeView"
                                        @bind-FilterString="FilterString"
                                        FilterMinLength="2"
                                        ShowFilterPanel="true"
                                        FilterMode="FilterMode"
                                        AllowSelectNodes=true
                                        LoadChildNodesOnDemand=false
                                        SelectionChanged="@SelectionChanged" AnimationType="LayoutAnimationType.Slide">
                                <DataMappings>
                                    <DxTreeViewDataMapping Children="children" CssClass="CssClass" Text="Label" Name="ID" />
                                </DataMappings>
                            </DxTreeView>
                        </div>
                    </div>





                </div>
                @*<div class="mini-menu-bar-down">
                <div class="add-cloud-storage-btn">
                <div class="cloud-storage-btn">
                <div class="add-btn-text">Add cloud storage</div>
                </div>
                </div>
                </div>*@
            </div>
            <!-- Menu Bar Content -->
            <div class="menu-bar-content-container">
                <div class="content-padding-20">
                    <div class="menu-bar-content-container-heading">
                        <div class="heading-icon-text">
                           @* <div class="mb-cc-icon">
                                <svg viewBox="-6 -6 32 32" role="presentation" class="app-svg icons-recents">
                                    <g class="icons-default-fill">
                                        <path d="M10 2C14.4183 2 18 5.58172 18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2ZM10 3C6.13401 3 3 6.13401 3 10C3 13.866 6.13401 17 10 17C13.866 17 17 13.866 17 10C17 6.13401 13.866 3 10 3ZM9.5 5C9.74546 5 9.94961 5.17688 9.99194 5.41012L10 5.5V10H12.5C12.7761 10 13 10.2239 13 10.5C13 10.7455 12.8231 10.9496 12.5899 10.9919L12.5 11H9.5C9.25454 11 9.05039 10.8231 9.00806 10.5899L9 10.5V5.5C9 5.22386 9.22386 5 9.5 5Z">
                                        </path>
                                    </g>
                                </svg>
                            </div>*@
                            <div class="mb-cc-text">

                                <div class="card w-100">
                                    <div class="card-body p-0">
                                        <DxMenu Orientation="Orientation.Horizontal"
                                                DropDownActionMode="MenuDropDownActionMode.Click"
                                                DisplayMode="MenuDisplayMode.Desktop"
                                                Title=""
                                                CollapseItemsToHamburgerMenu="true"
                                                CollapseItemToIconMode="MenuCollapseItemToIconMode.All">
                                            <Items>
                                                <DxMenuItem Text="Posts" class="@((isMenuvisible == "Posts" ? "tActive": "tfiles"))" IconCssClass="menu-icon-products menu-icon" Click="@(() => OnMenuItemClick("Posts"))" />
                                                <DxMenuItem Text="Files" class="@((isMenuvisible == "Files" ? "tActive": "tfiles"))" IconCssClass="fa fa-paperclip cdspc" Click="@(() => OnMenuItemClick("Files"))" />
                                                <DxMenuItem Text="Todo" class="@((isMenuvisible == "Todo" ? "tActive": "ttodo"))" IconCssClass="menu-icon-about menu-icon" Click="@(() => OnMenuItemClick("Todo"))" />
                                                <DxMenuItem Text="Participants List" Enabled="@isEnabled" class="@((isMenuvisible == "AddParticipants" ? "tActive": "taddparticipants"))" IconCssClass="dxbl-image menu-icon-support menu-icon dx-menu-item-image" Click="@(() => OnMenuItemClick("AddParticipants"))" />
                                            </Items>
                                        </DxMenu>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div>
                            @if (_headTopic != null && _headTopic.Any())
                            {
                                @foreach (var item in _headTopic)
                                {
                                    <div class="uk-card uk-card-default uk-margin-medium-bottom uk-overflow-auto">
                                        <div class="uk-card-header" style="height: 50px;">
                                            <div class="uk-grid-small uk-flex-middle uk-grid" uk-grid="">
                                                <div class="uk-card-title uk-first-column" style="font-size: 16px;">
                                                    @item.TicketNo - @item.TopicName
                                                </div>
                                                <span class="uk-label uk-margin-auto-left" style="float: right; margin-top: 0px; margin-right: -10px;">

                                                    @if (isAddParticipant)
                                                    {
                                                        <button @onclick="onAddPlist" class="btn btn-excel" style="margin-top: 2px;">Add Participant </button>
                                                    }

                                                    @if(isEllipsis)
                                                    {
                                                        <DxMenu Orientation="Orientation.Horizontal" DisplayMode="MenuDisplayMode.Mobile">
                                                            <Items>
                                                                <DxMenuItem @onclick="onDueDatePop" Text="Due Date" />
                                                                <DxMenuItem @onclick="onTopicClosedPop" Text="Close" />
                                                            </Items>
                                                        </DxMenu>
                                                    }

                                                    @*<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                                    </svg>*@
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="@((isComponentVisible ? "menu-bar-content-container-content msgOpen" : "menu-bar-content-container-content msgClose"))">
                        @* <div class="spacing-box"></div>  *@
                        @if (isMenuvisible == "Posts")
                        {


                            <div id="tableData">
                                <div>
                                    @if (_discussionList != null && _discussionList.Any())
                                    {
                                        @foreach (var item in _discussionList)
                                        {
                                            @if (item.ReplyId > 0)
                                            {
                                                <div class="lstcoversationrply">
                                                    <i class="fa fa-reply-all" aria-hidden="true"></i>
                                                    <div>@item.ReplyMessage</div>
                                                    <div style="float:right;margin-top: -13px;">@item.ReplyUserName , @item.ReplyDateTime</div>
                                                </div>
                                            }

                                            <div class="uk-card uk-card-default uk-margin-medium-bottom uk-overflow-auto">
                                                <div class="uk-card-header">
                                                    <div class="uk-grid-small uk-flex-middle uk-grid" uk-grid="">
                                                        <div class="uk-card-title uk-first-column">@item.UserName</div>
                                                        <span class="uk-label uk-margin-auto-left">@item.AddedDate</span>
                                                        <span class="uk-label uk-margin-auto-left" style="float: right; margin-right: -25px;">
                                                            <div class="handline" @onclick="@(() => onreply(item.ID))">
                                                                <svg xmlns="http://www.w3.org/2000/svg" style="margin-top: -5px;" width="16" height="16" fill="currentColor" class="bi bi-reply" viewBox="0 0 16 16">
                                                                    <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z" />
                                                                </svg>  Reply
                                                            </div>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="uk-card-body">
                                                    <p class="uk-text-success">
                                                        @item.Message
                                                    </p>

                                                    @if (item.documents != null && item.documents.Any())
                                                    {
                                                        @foreach (var attachment in item.documents)
                                                        {
                                                            <div class="tag"><i class="fas fa-file" aria-hidden="true"></i> @attachment.FileName</div>
                                                        }
                                                    }
                                                   @* <a href="#" class="tag"><i class="fas fa-file-image" aria-hidden="true"></i> Exampl.jpg</a>
                                                    <a href="#" class="tag"><i class="fas fa-file-excel" aria-hidden="true"></i> Exampl.xls</a>
                                                    <a href="#" class="tag"><i class="fas fa-file-pdf" aria-hidden="true"></i> Exampl.pdf</a>
                                                    <a href="#" class="tag"><i class="fas fa-file" aria-hidden="true"></i> Exampl.txt</a>*@
                                                </div>

                                                <div class="cw-480">

                                                    @* <DxAccordion ExpandMode="ExpandMode" ExpandCollapseAction="ExpandCollapseAction" AnimationType="LayoutAnimationType.Slide">
                                                        <Items>
                                                            @foreach (var (employee, i) in Items)
                                                            {
                                                                <DxAccordionItem Text=@($"{employee.ID} {employee.Name}")>
                                                                    <ContentTemplate>
                                                                        <div class="py-3 px-3">
                                                                            @employee.Name
                                                                        </div>
                                                                    </ContentTemplate>
                                                                </DxAccordionItem>
                                                            }
                                                        </Items>
                                                    </DxAccordion>*@

                                                   @* <DxAccordion Data=@_types>
                                                        <DataMappings>
                                                            <DxAccordionDataMapping Key="ID" 
                                                                                    Text="Name" />
                                                        </DataMappings>
                                                        <ItemTemplate>
                                                            @{
                                                                var dataItem = (ForumTypes)context.DataItem;
                                                            }
                                                            <div class="my-class">
                                                                @dataItem.Name
                                                              
                                                            </div>
                                                        </ItemTemplate>
                                                    </DxAccordion>*@
                                                </div>

                                                @if (item.ReplyConversation.Count() > 0)
                                                {
                                                    <div class="uk-card-footer">
                                                        <div>
                                                            <p style="color: #5151b3;" class="handline" @onclick="@(() => ToggleItemVisibility(item.ID))">@item.ReplyConversation.Count() replies </p>
                                                            @if (@item.ReplyConversation != null && @item.ReplyConversation.Any())
                                                            {
                                                                @if (itemVisibility.ContainsKey(item.ID) && itemVisibility[item.ID])
                                                                {
                                                                    @foreach (var items in @item.ReplyConversation)
                                                                    {
                                                                        <div class="lstcoversationrply">
                                                                            <div><span style="font-weight:600">@item.UserName</span>, @item.AddedDate</div>
                                                                            <div>@items.Message</div>                                                                        
                                                                        </div>
                                                                    }
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                }                                               
                                            </div>
                                        }
                                    }
                                </div>



                                @if (isComponentVisible)
                                {
                                    <div class="open-button">
                                        @if (_replyComment != null && _replyComment.Any())
                                        {
                                            @foreach (var item in _replyComment)
                                            {
                                                <div class="replybox">
                                                    <div> <i class="fa fa-reply" aria-hidden="true"></i> Reply</div>
                                                    <div class="closebtn" @onclick="closeReply">X</div>
                                                    <p>@item.Message</p>
                                                    <div>@item.UserName  , @item.AddedDate</div>
                                                </div>
                                            }
                                        }

                                        <EditForm Model="@Data" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit" Context="EditFormContext">
                                            <DataAnnotationsValidator />
                                            <DxFormLayout>
                                                <DxFormLayoutItem ColSpanMd="12">
                                                    <DxMemo @bind-Text="@Data.Message" NullText="Message" />
                                                    <ValidationMessage For="@(() => Data.Message)" />
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem ColSpanMd="12">
                                                    <DxButton SubmitFormOnClick="true"
                                                      Text=""
                                                      CssClass="fa fa-paper-plane sndrot"
                                                              style="float:right"
                                                      RenderStyle="ButtonRenderStyle.Secondary" />
                                                    <div style="display:flex;" class="attmode">
                                                        <div @onclick="@(() => isFileUpload = true)" class="fa fa-paperclip cdspcc" aria-hidden="true"></div>
                                                        @*<DxUpload @ref="uploadComponent" Name="files" UploadUrl="@GetUploadUrl()" FileUploaded="@OnFileUploaded"></DxUpload>*@
                                                        <div class="fa fa-ellipsis-v cdspcc" aria-hidden="true"></div>                                                       
                                                    </div>


                                                    @*   <DxButton RenderStyle="ButtonRenderStyle.Secondary"
                                            Text="Close"
                                            style="color: white;"
                                            Click="@(() => isComponentVisible = false)"
                                            IconCssClass="btn-icon-undo"
                                            CssClass="me-1 btn-success" />*@

                                                </DxFormLayoutItem>
                                            </DxFormLayout>
                                        </EditForm>

                                        @* <DxRichEdit Height="500px" Width="100%"></DxRichEdit>*@

                                    </div>
                                }
                                else
                                {

                                   @* <DxButton RenderStyle="ButtonRenderStyle.Secondary"
                                      Text="New Conversation"
                                      Click="@(() => isComponentVisible = true)"
                                      IconCssClass="btn-icon-undo"
                                              style="color:white; width:200px;"
                                      CssClass="me-1 btn-success open-button" />*@
                                }
                            </div>
                        }
                        else if (isMenuvisible == "Files")
                        {

                            <DxGrid @ref="Grid" Data="@_types" EditMode="GridEditMode.EditForm" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
                                PagerNavigationMode="PagerNavigationMode.InputBox"
                                PageSizeSelectorVisible="true"
                                PageSizeSelectorAllRowsItemVisible="true"
                                PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                                PageSize="20"
                                    style="height:calc(100vh - 289px)"
                                CssClass="ch-360"
                                AutoExpandAllGroupRows="true"
                                SelectionMode="GridSelectionMode.Multiple"
                                SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages">

                                <Columns>
                                    <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
                                    <DxGridDataColumn FieldName="ID" Caption="#" Width="35px"></DxGridDataColumn>
                                    <DxGridDataColumn FieldName="Name" MinWidth="200" />
                                    <DxGridDataColumn FieldName="Description" />                                   
                                </Columns>

                                <EditFormTemplate Context="EditFormContext">
                                    @{
                                        var types = (ForumTypes)EditFormContext.EditModel;
                                    }
                                    <DxFormLayout CssClass="w-100">
                                        <DxFormLayoutItem Caption="Name:" ColSpanMd="6">
                                            <DxTextBox @bind-Text="@types.Name" />
                                            <ValidationMessage For="@(() => types.Name)" />
                                        </DxFormLayoutItem>
                                        <DxFormLayoutItem Caption="Description:" ColSpanMd="6">
                                            <DxTextBox @bind-Text="@types.Description" />
                                        </DxFormLayoutItem>
                                        <ValidationSummary />
                                    </DxFormLayout>
                                </EditFormTemplate>

                            </DxGrid>
                        }
                        else if (isMenuvisible == "Todo")
                        {
                            <div>Todo</div>
                          
                        }
                        else
                        {
                           @* <div class="card-header text-center">
                                <span> Participant List</span>
                                @*<DxButton style="float:right;" RenderStyle="ButtonRenderStyle.Info" class="btn btn-add" Click="@onClickParticipant">Add</DxButton>
                            </div>*@
                            <div class="">
                                <DxGrid @ref="Grid" Data="_participant"
                                    KeyFieldName="ID"
                                    ShowSearchBox="true"
                                    PagerNavigationMode="PagerNavigationMode.InputBox"                                   
                                    PageSizeSelectorAllRowsItemVisible="true"
                                    PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                                    PageSize="20"
                                    style="height:calc(100vh - 290px);min-height:400px !important"
                                    CssClass="ch-360"
                                    SelectionMode="GridSelectionMode.Multiple"
                                    AllowSelectRowByClick="true">
                                    <Columns>
                                        @*<DxDataGridColumn>
                                    <DxDataGridCheckBoxColumn Field="@nameof(ViewEmployee.UserID)" Caption="Selected" />
                                    </DxDataGridColumn>*@                                       
                                        <DxGridDataColumn FieldName="UserName" MinWidth="100" />
                                        <DxGridDataColumn FieldName="UserCode" />
                                        <DxGridDataColumn FieldName="ID" Caption="Action" AllowSort="false" Width="90px" MinWidth="45" TextAlignment="GridTextAlignment.Center">
                                            <CellDisplayTemplate><button class="btnDelete fas fa-trash" @onclick="() => onDeletePlist((long)context.Value)"></button></CellDisplayTemplate>
                                        </DxGridDataColumn>                                        
                                    </Columns>
                                </DxGrid>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" Width="300px" @bind-Visible="@PopupVisible">
    <div class="text-center">
        <Content>
            <p>
                <div Position="Left" id="@("label"+_participantLst.UserName)" class="display-field"> Do you want to  Delete this <span style="color:red">@_participantLst.UserName</span> </div>
            </p>
        </Content>        
        <DxButton style="align-items" Text="Yes" Click="@((e) => SubmitDelete(_participantLst.ID))" />
        <DxButton CssClass="dx-button.dx-icon" Text="No" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>

<DxPopup @bind-Visible="@isDueDate" HeaderText="Add Due Date">
    <BodyTemplate Context="PopupContext">
        <div style="padding:10px;">

        <EditForm Model="@_dataDuDate" OnValidSubmit="@SubmitDueDate" class="w-800">
        <DataAnnotationsValidator />
        <div class="row">
            <div class="col-md-12" style="padding-bottom: 12px">
                <label for="DueDate"> DueDate: </label>
                <DxDateEdit @bind-Date="@_dataDuDate.DueDate"
                            NullText="Select a date..."
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                            ShowValidationIcon="true"
                            CssClass="cw-320">
                </DxDateEdit>
                <ValidationMessage For="@(() => _dataDuDate.DueDate)" />
            </div>
            <div class="col-md-12">
                        <DxButton SubmitFormOnClick="true" style="float: right;" Text="Submit" RenderStyle="ButtonRenderStyle.Primary" />
            </div>
        </div>
        </EditForm>           
        </div>
       
    </BodyTemplate>
</DxPopup>

<DxPopup @bind-Visible="@isTopicClosed" HeaderText="Topic Close">
    <BodyTemplate Context="PopupContext">
        <div style="padding:10px;">

            <EditForm Model="@_dataTopicClose" OnValidSubmit="@SubmitTopicClose" class="w-800">
                <DataAnnotationsValidator />
                <div class="row">
                    <div class="col-md-12" style="padding-bottom: 12px">
                        <label for="Remarks"> Remarks: </label>
                        <DxMemo @bind-Text="@_dataTopicClose.Remarks"
                                CssClass="cw-480"
                                Rows="5" />
                        <ValidationMessage For="@(() => _dataTopicClose.Remarks)" />
                    </div>
                    <div class="col-md-12">
                        <DxButton SubmitFormOnClick="true" style="float: right;" Text="Submit" RenderStyle="ButtonRenderStyle.Primary" />
                    </div>
                </div>
            </EditForm>

           @* <label>Remarks</label>
            <DxMemo @bind-Text="ClosedMsg"
                    CssClass="cw-480"
                    Rows="5"/>
            <br />
            <DxButton RenderStyleMode="@ButtonRenderStyleMode.Outline"
                      Text="Submit" style="width: 100px !important; float: right;"
                      CssClass="w-100" />*@
        </div>
    </BodyTemplate>
</DxPopup>


<DxPopup @bind-Visible="@isAllPlistVisible" HeaderText="Add Participants">
    <BodyTemplate Context="PopupContext">
        <div>
            <button class="btn btn-excel" style="float: right; margin-right: 10px; margin-top: 10px; margin-bottom: 10px;" @onclick="onSubmitPList">
                Add
            </button>            
        </div>
        <DxGrid @ref="Grid" Data="_allparticipant"
                KeyFieldName="UserID"
                ShowSearchBox="true"
                PagerNavigationMode="PagerNavigationMode.InputBox"
                PageSizeSelectorVisible="true"
                PageSizeSelectorAllRowsItemVisible="true"
                PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                PageSize="20"
                style="height:calc(100vh - 285px);min-height:400px !important"
                CssClass="ch-360"
                SelectionMode="GridSelectionMode.Multiple"
                AllowSelectRowByClick="true"
                SelectedDataItemsChanged="@OnSelectedDataItemsChanged"
                SelectedRowsChanged="HandleSelectedRowsChanged">
            <Columns>
                @*<DxDataGridColumn>
                <DxDataGridCheckBoxColumn Field="@nameof(ViewEmployee.UserID)" Caption="Selected" />
                </DxDataGridColumn>*@
                <DxGridSelectionColumn Width="104px" />
                <DxGridDataColumn FieldName="FirstName" MinWidth="100" />
                <DxGridDataColumn FieldName="LastName" />
            </Columns>
        </DxGrid>

    </BodyTemplate>
</DxPopup>

<DxPopup @bind-Visible="@MessageVisible" HeaderText="@MessageHeader">
    <BodyTemplate Context="PopupContext">
        <div class="@((MessageHeader == "Error" ? "TxtRed" : "TxtGreen"))" style="text-align:center; padding: 10px; font-size: 15px;">
            <span> @MessageBody</span>
        </div>
    </BodyTemplate>
</DxPopup>

<DxPopup @bind-Visible="@isFileUpload" HeaderText="Attachments">
    <BodyTemplate Context="PopupContext">
        <div style="padding: 15px;">
            <div class="">              
                <DxUpload @ref="uploadComponent" Name="files"
                          UploadMode="@UploadMode.OnButtonClick"                        
                          UploadUrl="@GetUploadUrl()"
                          SelectedFilesChanged="@SelectedFilesChanged"                         
                          CssClass="@(SelectedFilesCount > 0 ? "w-100" : string.Empty)">                           
                </DxUpload>              
               @* <DxButton Text="Add" RenderStyle="ButtonRenderStyle.Success" @onclick="UploadFiles"></DxButton>*@
                <button class="btn btn-success" RenderStyle="ButtonRenderStyle.Success" style="float:right;" @onclick="UploadFiles">Add</button>
            </div>
        </div>
    </BodyTemplate>
</DxPopup>
<style>
    .dxuc-upload-icon {
        display: none; /* or any other style to disable or hide the icon */
    }
</style>



@code {
  
    private class Model
    {
        [Required(ErrorMessage = "Due Date is required")]
        public DateTime? DueDate { get; set; }      
    }
    private class ModelClose
    {
        [Required(ErrorMessage = "Remarks is required")]
        public string? Remarks { get; set; }
    }
    private DxUpload uploadComponent;  

    private Model _dataDuDate = new Model();
    private ModelClose _dataTopicClose = new ModelClose();   
    string ClosedMsg { get; set; }
    DateTime? DateTimeValue { get; set; }
    DxPopup? popup;
    bool PopupVisible { get; set; } = false;
    private Dictionary<int, bool> itemVisibility = new Dictionary<int, bool>();
    AccordionExpandMode ExpandMode { get; set; } = AccordionExpandMode.SingleOrNone;
    AccordionExpandCollapseAction ExpandCollapseAction { get; set; } = AccordionExpandCollapseAction.HeaderClick;
    DxRichEdit richEdit;
    string isMenuvisible = "Posts";
    DxTreeView treeView;
    IGrid? Grid { get; set; }
    bool isFileUpload = false;
    bool isDueDate =false;
    bool isTopicClosed = false;
    bool isAllPlistVisible = false;
    bool isComponentVisible = true;
    bool isEnabled { get; set; } = false;
    bool isAddParticipant = false;
    bool isEllipsis = false;
    private List<ForumTypes>? _types;
    IEnumerable<(ForumTypes, int)> Items;
    private List<ForumTopics>? _topics;
    private List<ForumTopics>? _TreeView;
    public List<ForumConversations> _discussionList;
    public List<ForumConversations> _replyComment;
    private List<ForumTopics>? _headTopic;
    string FilterString { get; set; }
    private List<TopicParticipant>? _participant;
    TopicParticipant _participantLst { get; set; }
    private List<ViewEmployee>? _allparticipant;
    private List<ViewEmployee>? _selectedlistpartlist;
    NavigationFilterMode FilterMode { get; set; } = NavigationFilterMode.EntireBranch;
    public ForumTypes SelectedNodes { get; set; }
    ForumConversations? Data { get; set; } = new ForumConversations();
    string SelectedGroup = "none";
    public ApplicationUser applicationUser { get; private set; }
    IReadOnlyList<object>? SelectedDataItems { get; set; }
    List<long> participantIds = new List<long>();
    private bool loading;
    bool MessageVisible { get; set; }
    string styleClass = "";
    string MessageHeader = "Error";
    string MessageBody = "";
    Guid? sessionId;
    private string uploadUrl;

    [Parameter]
    public ViewEmployee _employeeDatas { get; set; }
    [Parameter]
    public ApplicationUser _applicationUser { get; set; }

    [Parameter]
    public UploadMode UploadMode { get; set; }
    private string myFile { get; set; }

    int SelectedFilesCount { get; set; }
    protected void SelectedFilesChanged(IEnumerable<UploadFileInfo> files)
    {
        SelectedFilesCount = files.ToList().Count;       
        InvokeAsync(StateHasChanged);
    }

    private void OpenFileUpload()
    {
        //uploadComponent.OpenFileDialog();
    }
    public string GetUploadUrl()
    {
        //var sessionId = Guid.NewGuid();

        string BaseUrl = Configuration["DocumentsUrl:BaseUrl"];
        string url = BaseUrl + "Upload/UploadDocuments?SessionId=" + sessionId;
        return url.ToString();
    }
    private void closeUploadFiles()
    {
        isFileUpload = false;
        var lst = SelectedFilesCount;
    }
    private async Task UploadFiles()
    {
       //var lst = SelectedFilesCount;

        var createReq = new CreateForumCoversation
            {

                TopicID = (long.Parse(@SelectedGroup)),
                Message = Data.Message != null ? Data.Message : "Attachments",
                ParticipantId = applicationUser.UserID,
                ReplyId = _replyComment != null && _replyComment.Any() ? _replyComment[0].ID : 0,
                StatusCodeID = 1,
                AddedByUserID = applicationUser.UserID,
                AddedDate = DateTime.Now,
                SessionId = Guid.NewGuid()
            };
            sessionId = createReq.SessionId;
            var result = await Mediator.Send(createReq);       
            
            //uploadComponent.UploadAllFiles();
        await Task.Run(() => uploadComponent.UploadAllFiles());
            await LoadData();
           onRestText();
           closeReply();
        



        //uploadComponent.UploadAllFiles();
        
        
    }
    public void ClearUploadedFiles()
    {
        uploadComponent.CancelAllFilesUpload();
    }
    async Task OnFileUploaded(FileUploadEventArgs e)
    {
        var request = new EditDocumentCommand
            {
                AddedByUserId = _applicationUser.AddedByUserID,
                ModifiedByUserId = _applicationUser.ModifiedByUserID,
                SessionId = _employeeDatas.SessionId,
            };
        var response = await Mediator.Send(request);       
        await InvokeAsync(StateHasChanged);
       
    }
    private void onTopicClosedPop()
    {
        isTopicClosed = true;
    }
    async void onDueDatePop()
    {
        isDueDate = true;       
    }
    async void SubmitDueDate()
    {
        var UpdateReq = new UpdateTopicDueDate
            {
                ID = long.Parse(@SelectedGroup),
                DueDate = _dataDuDate.DueDate,
                ModifiedByUserID = applicationUser.UserID,
                ModifiedDate = DateTime.Now
            };

        var result = await Mediator.Send(UpdateReq);
        if (result == 1)
        {
            isDueDate = false;
            onShowPopupMessage("success", "Updated DueDate Successfully");
        }
        else
        {

        }

    }
    async void SubmitTopicClose()
    {
        var UpdateReq = new UpdateTopicClosed
            {
                ID = long.Parse(@SelectedGroup),
                Remarks = _dataTopicClose.Remarks,
                ModifiedByUserID = applicationUser.UserID,
                ModifiedDate = DateTime.Now
            };
        var result = await Mediator.Send(UpdateReq);   
        if(result == 1)
        {
            isTopicClosed = false;
            onShowPopupMessage("success", "Topic Closed Successfully");
        }
        else
        {

        }
    }

    private async Task SelectionChanged(TreeViewNodeEventArgs e)
    {
        SelectedGroup = e.NodeInfo?.Name;
        //_discussionList = await Mediator.Send(new GetDiscussionList(long.Parse(@SelectedGroup)));
        if(SelectedGroup != "0")
        {
            await LoadData();
        }

    }
    public async Task onDeletePlist(long Id)
    {
        _participantLst =  _participant.FirstOrDefault(a => a.ID == Id);
        PopupVisible = true;        
    }
    private async void SubmitDelete(long Id)
    {        
        if (Id > 0)
        {
            var request = new DeleteParticipant
                {
                    ID = Id,

                };
            var response = await Mediator.Send(request);
            PopupVisible = false;
            isAllPlistVisible = false;
            await LoadGetPList();
            onShowPopupMessage("success", "Participant has been deleted successfully");
        }
    }
    private async void onShowPopupMessage(string headerText, string bodyText)
    {
        MessageVisible = true;
        MessageBody = bodyText;
        MessageHeader = headerText;
        loading = false;
        StateHasChanged();
    }
    async void ClosePopup()
    {
        PopupVisible = false;
    }

    private void ToggleItemVisibility(int id)
    {
        if (itemVisibility.ContainsKey(id))
        {
            itemVisibility[id] = !itemVisibility[id];
        }
        else
        {
            itemVisibility.Add(id, true);
        }
    }
    private List<string> data;
    private async Task LoadData()
    {
        _discussionList = await Mediator.Send(new GetDiscussionList(long.Parse(@SelectedGroup)));
        _headTopic = await Mediator.Send(new GetByIdTopics(long.Parse(@SelectedGroup)));
        isEnabled = true;
        isEllipsis = true;
        _participant = await Mediator.Send(new GetParticipantsList(long.Parse(@SelectedGroup)));

        _participant[1].IsEnabled = false; // Disable the second row

        //var plist = await Mediator.Send(new GetAllEmployeeListQuery());
        // _participant = plist.Where(c => c.UserID != applicationUser.UserID).ToList();
    }
    void OnSelectedDataItemsChanged(IReadOnlyList<object> selectedDataItems)
    {
        SelectedDataItems = selectedDataItems;
    }
    private async Task onAddPlist()
    {
        await LoadAllParticipantList();
    }
    private async Task LoadAllParticipantList()
    {
        var plist = await Mediator.Send(new GetAllParticipantListQuery(long.Parse(@SelectedGroup)));
        _allparticipant = plist.Where(c => c.UserID != applicationUser.UserID).ToList();

        isAllPlistVisible = true;
    }
    private async Task LoadGetPList()
    {
        _participant = await Mediator.Send(new GetParticipantsList(long.Parse(@SelectedGroup)));
        SelectedDataItems = null;
        participantIds.Clear();
    }
    private async Task onSubmitPList()
    {
        var lst = SelectedDataItems;


        if (SelectedDataItems != null)
        {
            foreach (object item in SelectedDataItems)
            {
                if (item is ViewEmployee employee)
                {
                    participantIds.Add((long)employee.UserID);
                }
            }
        }

        string participantidsString = string.Join(",", participantIds);


        var createReq = new CreateTopicParticipant
            {
                PList = participantidsString,
                TopicId = long.Parse(@SelectedGroup),
                UserId = applicationUser.UserID,
                StatusCodeID = 1,
                AddedByUserID = applicationUser.UserID,
                AddedDate = DateTime.Now,
                SessionId = Guid.NewGuid()  
            };
        var result = await Mediator.Send(createReq);

        isAllPlistVisible = false;
        await LoadGetPList();
    }
    protected override async Task OnInitializedAsync()
    {
        var model = await Mediator.Send(new GetAllForumTypes());
        _types = model;
        Items = model.Select((item, index) => (item, index));

        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");

        _topics = await Mediator.Send(new GetUserForumTopics(applicationUser.UserID));

        _TreeView = await Mediator.Send(new GetTreeList(applicationUser.UserID));

        //_discussionList = await Mediator.Send(new GetDiscussionList(38));
    }
    void getConversation()
    {

    }
    private async Task onreply(long id)
    {
        if (id > 0)
        {
            _replyComment = _discussionList.Where(c => c.ID == id).ToList();
        }
    }
    void closeReply()
    {
        _replyComment = null;
    }
    void OnMenuItemClick(string text)
    {
        isMenuvisible = text;

        if(text == "Posts")
        {
            isComponentVisible = true;
            isAddParticipant = false;
            isEllipsis = true;
        }
        else if (text == "AddParticipants")
        {
            isAddParticipant = true;
            isComponentVisible = false;
            isEllipsis = false;
        }
        else
        {
            isAddParticipant = false;
            isComponentVisible = false;
            isEllipsis = false;
        }
    }

    private void OnSelectedNodeChangeds(ForumTypes item)
    {
        SelectedNodes = item;
    }
    private async Task HandleValidSubmit()
    {
        var createReq = new CreateForumCoversation
            {

                TopicID = (long.Parse(@SelectedGroup)),
                Message = Data.Message != null ? Data.Message : "Attachments",
                ParticipantId = applicationUser.UserID,
                ReplyId = _replyComment != null && _replyComment.Any() ? _replyComment[0].ID : 0,
                StatusCodeID = 1,
                AddedByUserID = applicationUser.UserID,
                AddedDate = DateTime.Now,
                SessionId = Guid.NewGuid()
            };
        var result = await Mediator.Send(createReq);

        if (result == 1)
        {
            //var getRec = await Mediator.Send(new GetDiscussionList(long.Parse(@SelectedGroup)));
            //sessionId = getRec.Last().SessionId;
           
            //uploadUrl = GetUploadUrl();           
            //uploadComponent.UploadAllFiles();
            await LoadData();
            onRestText();
            closeReply();
        }
        else
        {

        }
    }
    private void onRestText()
    {
        Data.Message = null;
    }

    void HandleInvalidSubmit()
    {

    }  
}