@page "/rolePermission"
@using Application.Queries;
@using MediatR
@inject IMediator Mediator
@using DevExpress.Export
@using global::Core.Entities;
@using global::Core.EntityModels;
@using global::Core.Repositories.Query;
@inject IJSRuntime jsRuntime
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService

<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data..."
               >
    <div class="card w-100" style="margin-bottom:10px;">
        <div class="card-body p-0">
            <DxMenu CollapseItemsToHamburgerMenu="true"
                    CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                    DisplayMode="MenuDisplayMode.Desktop">
                <Items>
                    <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" />
                    <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                    <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" />
                    
                </Items>
            </DxMenu>
        </div>
    </div>
  <div class="main-container">

    <div class="content-container row">
      
                 <div class="menu-bar-content-container col-md-8">
                    <div class="content-padding-20">
                        <div class="menu-bar-content-container-heading">
                            <div class="heading-icon-text">
                                <div class="mb-cc-text">
                                    <div class="card w-100">
                                        <div class="card-body p-0">
                                        <DxGrid @ref="Grid"
                                                Data="_rolePermission"
                                                KeyFieldName="RoleID"
                                                ValidationEnabled="false"
                                                EditModelSaving="Grid_EditModelSaving"
                                                DataItemDeleting="Grid_DataItemDeleting"
                                                EditMode="GridEditMode.EditForm" SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
                                                EditorRenderMode="GridEditorRenderMode.Integrated"
                                                ColumnResizeMode="GridColumnResizeMode.NextColumn"
                                                FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                                ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
                                                PagerNavigationMode="PagerNavigationMode.InputBox" SelectionMode="GridSelectionMode.Multiple"
                                                PageSizeSelectorVisible="true"
                                                PageSizeSelectorAllRowsItemVisible="true"
                                                PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                                                AllowSelectRowByClick="true"
                                                PageSize="20"
                                                RowClick="OnRowClick"
                                                RowDoubleClick="OnRowDoubleClick"
                                                FocusedRowEnabled="true"
                                                CustomizeElement="Grid_CustomizeElement" SelectedDataItemsChanged="@SelectedDataItemsChanged"
                                                CssClass="ch-360"
                                                style="height: calc(100vh - 220px);">
                                            <Columns>
                                                <DxGridSelectionColumn Width="160px" />
                                                <DxGridDataColumn FieldName="RoleName" Caption="User Role" MinWidth="80" />
                                                <DxGridDataColumn FieldName="RoleDescription" MinWidth="80" />
                                            </Columns>
                                            <EditFormTemplate Context="EditFormContext">
                                                @{
                                                    var rolePermission = (ApplicationRole)EditFormContext.EditModel;
                                                }
                                                <DxFormLayout CssClass="w-100">
                                                    <DxFormLayoutItem Caption="Name:" ColSpanMd="6">
                                                        <DxTextBox @bind-Text="@rolePermission.RoleName" />
                                                        <ValidationMessage For="@(() => rolePermission.RoleName)" />
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem Caption="Description:" ColSpanMd="6">
                                                        <DxTextBox @bind-Text="@rolePermission.RoleDescription" />
                                                    </DxFormLayoutItem>
                                                    <ValidationSummary />
                                                </DxFormLayout>
                                            </EditFormTemplate>
                                        </DxGrid>
                                        </div>
                                    </div>
                                </div>

                            </div>
                         </div>
                    </div>
                 </div>
      <div class=" col-md-4">
                <div class="mini-menu-bar-top" style="height: calc(100vh - 220px);">
                <div class="mini-menu-bar-heading">
                        <div class="files-title">Application MenuPermission <button class="btn btn-primary" @onclick="OnSaveRolepermission">Save</button></div>
                      

                </div>
                <div>
                    <div class="views-accordion">
                            <DxTreeView Data="@Data" style="height: calc(100vh - 200px);"
                                    AllowSelectNodes=true
                                    LoadChildNodesOnDemand=false
                                        CheckMode="TreeViewCheckMode.Recursive"
                                        CheckAllVisible="true"
                                        CheckedChanged="CheckedChanged"
                                        SelectionChanged="@SelectionChanged"
                                    AnimationType="LayoutAnimationType.Slide">
                            <DataMappings>
                                <DxTreeViewDataMapping Text="PermissionName"
                                                       Key="PermissionID"
                                                           ParentKey="ParentID" Name="PermissionID" 
                                                           Checked="Checked" />
                            </DataMappings>
                        </DxTreeView>
                    </div>
                </div>
            </div>

       
       
      </div>
     </div>
  </div>
    <DxPopup @bind-Visible="@Blukdeletepopup"
             ShowFooter="true"
             HeaderText="CRT"
             Closed="EulaPopupClosed"
             Width="300px">
        <BodyContentTemplate>
            <p>
                Do you want to delete
            </p>
        </BodyContentTemplate>
        <FooterContentTemplate Context="Context">
            <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback"  />
            <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
        </FooterContentTemplate>
    </DxPopup>
</DxLoadingPanel>

@code {
    DxTreeView treeview;
   
    IReadOnlyList<object> SelectedDataItems { get; set; }
    List<long> permissionids = new List<long>();
    bool PanelVisible { get; set; }
    IReadOnlyList<ITreeViewNodeInfo> checkedEmployees;
    private List<ApplicationRole> _rolePermissionSelecteditem { get; set; }
    private List<ApplicationRole> _rolePermission { get; set; }
    private List<ApplicationPermission> Data { get; set; }
    object SelectedGroup = "none";
    bool Blukdeletepopup { get; set; } = false;
    IGrid Grid { get; set; }
    private ApplicationPermission? _selecteItems;
    private ApplicationRole? _selectedItems;
    private ApplicationRole _selectlst;
    public ApplicationUser? applicationUser { get; private set; }
    string? DeleteerrorMessage;
    bool EditEnabled { get; set; } = false;
    bool PopupVisible { get; set; } = false;
    protected override async Task OnInitializedAsync()
    {
        PanelVisible = true;
        checkedEmployees = new List<ITreeViewNodeInfo>();
        _rolePermission = await Mediator.Send(new GetAllRolePermission());
        Data = await Mediator.Send(new GetAllApplicationPermission());


        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        PanelVisible = false;
    }
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        //  checkedEmployees = treeview.GetCheckedNodeInfo().ToList();
    }
    void SelectionChanged(TreeViewNodeEventArgs e)
    {
        SelectedGroup = e.NodeInfo.Text;
        InvokeAsync(StateHasChanged);
    }
    private async Task OnSaveRolepermission()
    {
        var listitems = permissionids;
        var editModel = new ApplicationRolePermission();
        var createReq = new CreateApplicationRolePermissionQuery

            {
                //RoleID = editModel.RoleID,
                //PermissionID = editModel.PermissionID
                RoleID = 1,
                PermissionID = 6001
            };

        var result = await Mediator.Send(createReq);
        toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
        await UpdateDataAsync();
    }

    void CheckedChanged(TreeViewCheckedChangedEventArgs e)
    {

        if (e.CheckedItems != null)
            checkedEmployees = e.CheckedItems;


        if (checkedEmployees.Count != 0)
        {
            foreach (var item in checkedEmployees)
            {
                // permissionids.Add((long)item.Name);
            }
        }




        //    if (e.LastCheckedItems.Count > 0)
        //    {
        //        List<long> newList = new List<long>(permissionids);
        //           newList.RemoveAll(item => permissionids.Contains(item));
        //         permissionids = newList;
        //        foreach (var i in e.CheckedItems)
        //        {
        //            if (i.DataItem is ApplicationPermission employee)
        //            {
        //                var pid = employee.PermissionID;
        //                permissionids.Add(pid);


        //            }
        //        }

        //    }


        //else
        //{
        //    foreach (var ir in e.LastUncheckedItems)
        //    {
        //        if (ir.DataItem is ApplicationPermission test)
        //        {
        //            var id = test.PermissionID;
        //            permissionids.Remove(id);

        //        }
        //        //_selecteItems = i.DataItem;

        //    }
        //}

    }

    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editModel = (ApplicationRole)e.EditModel;

        if (e.IsNew)
        {

            var ex = _rolePermission.Where(x => x.RoleName == editModel.RoleName );
            if (ex.Any())
            {

                //addNew();
                // onShowPopupMessage("Error", "The entered value Already exists.");
                toastService.ShowToast("The entered value Already exists.", AC.SD.Core.Services.ToastLevel.Error);
            }
            else
            {

                var createReq = new CreateRolePermissionQuery

                    {
                        RoleName = editModel.RoleName,
                        RoleDescription = editModel.RoleDescription,
                        StatusCodeID = 1,
                        AddedByUserID = applicationUser.UserID,
                        AddedDate = DateTime.Now,
                      //  SessionId = Guid.NewGuid()
                    };
                var result = await Mediator.Send(createReq);
                toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
                await UpdateDataAsync();
            }

        }
        else
        {
            var ex = _rolePermission.Where(x => x.RoleName == editModel.RoleName && x.RoleID != editModel.RoleID);
            if (ex.Any())
            {

                toastService.ShowToast("The entered value Already exists.", AC.SD.Core.Services.ToastLevel.Error);

            }
            else
            {
                var UpdateReq = new EditRolePermissionQuery
                    {
                        RoleID = editModel.RoleID,
                        RoleName = editModel.RoleName,
                        RoleDescription = editModel.RoleDescription,
                        StatusCodeID = editModel.StatusCodeID,
                        AddedByUserID = editModel.AddedByUserID,
                        AddedDate = editModel.AddedDate,
                        SessionId = editModel.SessionId,
                        ModifiedByUserID = applicationUser.UserID,
                        ModifiedDate = DateTime.Now,
                    };

                var ans = await Mediator.Send(UpdateReq);
                toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
                await UpdateDataAsync();
            }

        }

    }
    async Task UpdateDataAsync()
    {
        PanelVisible = true;
        _rolePermission = await Mediator.Send(new GetAllRolePermission());
        PanelVisible = false;
    }
    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        var editModel = (ApplicationRole)e.DataItem;

        var request = new DeleteRolePermissionQuery(editModel.RoleID);
        await Mediator.Send(request);
        await UpdateDataAsync();
        toastService.ShowToast("Record Deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
        if (e.ElementType == GridElementType.HeaderCell)
        {
            e.Style = "background-color: rgba(0, 0, 0, 0.08)";
            e.CssClass = "header-bold";
        }
    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "RoleID");
        _selectedItems = _rolePermission.FirstOrDefault(f => f.RoleID == (long?)UniqueId);
        // Data = await Mediator.Send(new GetAllApplicationPermission());
        LoadRoleLst();
        StateHasChanged();

    }
    async  Task LoadRoleLst()
    {
        _rolePermissionSelecteditem = await Mediator.Send(new GetAllRolePermissionSelectedLst(_selectedItems.RoleID));
    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
       // addEdit();
    }
    void addNew()
    {
        Grid.StartEditNewRowAsync();

    }
    void addEdit()
    {

        if (SelectedDataItems.Count == 1)
        {

            foreach (object item in SelectedDataItems)
            {

                if (item is ApplicationRole rolePermission)
                {

                    _selectlst = _rolePermission.FirstOrDefault(f => f.RoleID == rolePermission.RoleID);


                }
            }
            Grid.StartEditDataItemAsync(_selectlst);
        }
        else
        {
            Grid.StartEditDataItemAsync(_selectedItems);
        }

        // Grid.SelectDataItems(SelectedDataItems);


    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    async Task bulkDelete()
    {
        try
        {
            if (SelectedDataItems != null)
            {
                foreach (object item in SelectedDataItems)
                {

                    if (item is ApplicationRole rolePermission)
                    {

                        var request = new DeleteRolePermissionQuery(rolePermission.RoleID);
                        await Mediator.Send(request);
                        Blukdeletepopup = false;
                        await UpdateDataAsync();
                        toastService.ShowToast("Record Deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        Grid.SetFocusedRowIndex(0);
                    }

                }
            }
        }
        catch (Exception eq)
        {
            DeleteerrorMessage = eq.Message;
            PopupVisible = true;
        }

      //  await UpdateDataAsync();


    }
    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems;

        if (SelectedDataItems.Count > 1)
        {
            EditEnabled = false;
        }
        else
        {
            EditEnabled = true;
        }

    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
       // UpdateDataAsync();
    }
      
    //async void ClosePopup()
    //{
    //    SelectedDataItems = null;
    //    Blukdeletepopup = false;
    //    PopupVisible = false;
    //    await UpdateDataAsync();
    //}
}
