@using Application.Commands;
@using Application.Queries;
@using Application.Response;
@using DevExpress.Blazor.ComboBox;
@using DevExpress.Export;
@using MediatR
@using global::Core.Entities;
@using global::Core.Entities.Views;
@inject IMediator Mediator
@using System.ComponentModel.DataAnnotations
@using DevExpress.Blazor.Internal
@inject IJSRuntime jsRuntime


@page "/ForumTopics"

<div class="g-title">
    <div class="g-left"></div>
   
    <span class=""></span><span class="g-text"></span>
    <div class="g-right">
        <button type="button" CssClass="download-btn"
                IconCssClass="demo-download-icon"
                Text="Free Trial"
                class="btn btn-excel" @onclick="ExportToExcel" title="Export to Excel">
            <i class="fa fa-file-excel-o"></i>Export
        </button>
    </div>
</div>

<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">
    <div class="text-center">
       
    </div>
</DxPopup>

<div class="card cw-480">
    <EditForm Model="@Data"
              OnValidSubmit="@HandleValidSubmit"
              OnInvalidSubmit="@HandleInvalidSubmit"
              Context="EditFormContext">
        <DataAnnotationsValidator />       
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <DxFormLayout>
                        <DxFormLayoutItem ColSpanMd="6">
                            <label for="TicketNo">TicketNo </label>
                            <DxTextBox @bind-Text="@Data.TicketNo" ShowValidationIcon="true" NullText="Ticket No" />
                           
                        </DxFormLayoutItem>
                        <DxFormLayoutItem ColSpanMd="6">
                            <label for="TopicName">TopicName </label>
                            <DxTextBox @bind-Text="@Data.TopicName" ShowValidationIcon="true" NullText="Topic Name" />                           
                                <ValidationMessage For="@(() => Data.TopicName)" />                           
                        </DxFormLayoutItem>
                        
                         
                        <DxFormLayoutItem ColSpanMd="4">
                            <label for="StartDate">Start Date </label>
                            <DxDateEdit @bind-Date="@Data.StartDate" CssClass="cw-320" Mask="dd/MMMM/yyyy"/>
                            <div class="">
                                <ValidationMessage For="@(() => Data.StartDate)" />
                            </div>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem ColSpanMd="4">
                            <label for="EndDate">End Date </label>
                            <DxDateEdit @bind-Date="@Data.EndDate" CssClass="cw-320" Mask="DD-MMMM-yyyy" />
                            <div class="">
                                <ValidationMessage For="@(() => Data.EndDate)" />
                            </div>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem ColSpanMd="4">
                            <label for="DueDate">DueDate </label>
                            <DxDateEdit @bind-Date="@Data.DueDate" CssClass="cw-320" Mask="dd/MMMM/yyyy" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem ColSpanMd="6">
                            <label for="TypeId">Type </label>
                            <DxComboBox Data="@_types"
                                        SelectedItemChanged="@((ForumTypes type) => SelectedItemChanged(type.ID))"
                                        NullText="Select Type..."
                                        FilteringMode="DataGridFilteringMode.Contains"
                                        TextFieldName="Name"
                                        ValueFieldName="ID"
                                        @bind-Value="@Data.TypeId" ShowValidationIcon="true" />
                            <ValidationMessage For="@(() => Data.TypeId)" />

                            @*  <DxComboBox Data="@_types"
                            SelectedItemChanged="@((ForumTypes type) => SelectedItemChanged(type.ID))"
                            ListRenderMode="ListRenderMode.Virtual"
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="@nameof(ForumTypes.Name)"
                            @bind-Value="Data.TypeId"
                            CssClass="cw-480" />*@
                        </DxFormLayoutItem>
                        @{
                            SelectedItemChanged(@Data.CategoryId);
                        }
                        <DxFormLayoutItem ColSpanMd="6">
                            <label for="CategoryId">Category </label>
                            <DxComboBox Data="@_category"
                                        NullText="Select Type..."
                                        ListRenderMode="ListRenderMode.Virtual"
                                        FilteringMode="DataGridFilteringMode.Contains"
                                        TextFieldName="@nameof(ForumCategorys.Name)"                                     
                                        @bind-Value="@Data.CategoryId"
                                        SelectionMode="SelectionMode.Multiple"
                                        CssClass="cw-480" />
                        </DxFormLayoutItem>

                      @*  <DxFormLayoutItem ColSpanMd="6">
                            <label for="ForumFrom">From </label>                          

                            <DxComboBox Data="@SelectedDataItems"
                                        Multiple="true"
                                        NullText="Select Type..."
                                        FilteringMode="DataGridFilteringMode.Contains"
                                        TextFieldName="Name"
                                        ValueFieldName="ID"
                                        @bind-Value="@Data.TopicFrom" ShowValidationIcon="true" />


                            <DxListBox Data="@SelectedDataItems"
                                       TextFieldName="@nameof(ViewEmployee.FirstName)"
                                       SelectionMode="ListBoxSelectionMode.Multiple"
                                       ShowCheckboxes="@ShowCheckboxes"
                                       CssClass="w-auto mt-1 me-1 flex-grow-1 chi-220"
                                       SearchEnabled="true" SearchMode="ListBoxSearchMode.Contains"
                                       style="flex-basis: 240px"
                                       @bind-Values="@Values">
                            </DxListBox>  


                        </DxFormLayoutItem>*@

                        <DxFormLayoutItem ColSpanMd="6" >
                            <div class="card-header text-center" style="border-top: 1px solid #d9d7d7;    border-left: 1px solid #d9d7d7;    border-right: 1px solid #d9d7d7;">
                                <span> To </span>
                            </div>
                            <div class="">
                                <DxGrid @ref="Grid" Data="@SelectedDataItems"
                                        KeyFieldName="UserID"
                                        ShowSearchBox="true"
                                        PagerNavigationMode="PagerNavigationMode.InputBox"
                                        PageSizeSelectorVisible="true"
                                        PageSizeSelectorAllRowsItemVisible="true"
                                        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                                        PageSize="20"
                                        style="height:calc(100vh - 500px)"
                                        CssClass="ch-360"
                                        SelectionMode="GridSelectionMode.Multiple"
                                        AllowSelectRowByClick="true"
                                        @bind-SelectedDataItems="@SelectedToItems">
                                    <Columns>
                                        <DxDataGridColumn>
                                            <DxDataGridCheckBoxColumn Field="@nameof(ViewEmployee.UserID)" Caption="Selected" />
                                        </DxDataGridColumn>
                                        <DxGridSelectionColumn Width="104px" />
                                        <DxGridDataColumn FieldName="FirstName" MinWidth="100" />
                                        <DxGridDataColumn FieldName="LastName" />
                                    </Columns>
                                </DxGrid>
                            </div>
                           @* <label for="ForumTo">To </label>
                            <DxListBox Data="@SelectedDataItems"
                                       TextFieldName="@nameof(ViewEmployee.FirstName)"
                                       SelectionMode="ListBoxSelectionMode.Multiple"
                                       ShowCheckboxes="@ShowCheckboxes"
                                       CssClass="w-auto mt-1 me-1 flex-grow-1 chi-220"
                                       SearchEnabled="true" SearchMode="ListBoxSearchMode.Contains"
                                       style="flex-basis: 240px"
                                       @bind-Values="@Values">
                            </DxListBox>*@
                        </DxFormLayoutItem>
                        <DxFormLayoutItem ColSpanMd="6">
                            <div class="card-header text-center" style="border-top: 1px solid #d9d7d7;    border-left: 1px solid #d9d7d7;    border-right: 1px solid #d9d7d7;">
                                <span> CC </span>                                
                            </div>
                            <div class="">
                                <DxGrid @ref="Grid" Data="@SelectedDataItems"
                                        KeyFieldName="UserID"
                                        ShowSearchBox="true"
                                        PagerNavigationMode="PagerNavigationMode.InputBox"
                                        PageSizeSelectorVisible="true"
                                        PageSizeSelectorAllRowsItemVisible="true"
                                        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                                        PageSize="20"
                                        style="height:calc(100vh - 500px)"
                                        CssClass="ch-360"
                                        SelectionMode="GridSelectionMode.Multiple"
                                        AllowSelectRowByClick="true"
                                        @bind-SelectedDataItems="@SelectedCCItems">
                                    <Columns>
                                        <DxDataGridColumn>
                                            <DxDataGridCheckBoxColumn Field="@nameof(ViewEmployee.UserID)" Caption="Selected" />
                                        </DxDataGridColumn>
                                        <DxGridSelectionColumn Width="104px" />
                                        <DxGridDataColumn FieldName="FirstName" MinWidth="100" />
                                        <DxGridDataColumn FieldName="LastName" />
                                    </Columns>
                                </DxGrid>
                            </div>

                           @* <label for="ForumCC">CC </label>
                            <DxListBox Data="@SelectedDataItems"
                                       TextFieldName="@nameof(ViewEmployee.FirstName)"
                                       SelectionMode="ListBoxSelectionMode.Multiple"
                                       ShowCheckboxes="@ShowCheckboxes"
                                       CssClass="w-auto mt-1 me-1 flex-grow-1 chi-220"
                                       SearchEnabled="true" SearchMode="ListBoxSearchMode.Contains"
                                       style="flex-basis: 240px"
                                       @bind-Values="@Values">
                            </DxListBox>*@
                        </DxFormLayoutItem>

                        <DxFormLayoutItem ColSpanMd="12">
                            <DxButton SubmitFormOnClick="true"
                                      Text="Submit"
                                      CssClass="btn-submit"
                                      style="float:right"
                                      RenderStyle="ButtonRenderStyle.Secondary" />
                        </DxFormLayoutItem>
                    </DxFormLayout>                    
                </div>
                <div class="card col-md-4" style="padding-left: 0px;padding-right: 0px;">
                    <div class="card-header text-center">
                        <span> Participant List</span>
                        @*<DxButton style="float:right;" RenderStyle="ButtonRenderStyle.Info" class="btn btn-add" Click="@onClickParticipant">Add</DxButton>*@
                    </div>
                    <div class="card-body">
                        <DxGrid @ref="Grid" Data="_participant"
                                KeyFieldName="UserID"
                                ShowSearchBox="true"                                 
                                PagerNavigationMode="PagerNavigationMode.InputBox"
                                PageSizeSelectorVisible="true"
                                PageSizeSelectorAllRowsItemVisible="true"
                                PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                                PageSize="20"
                                style="height:calc(100vh - 285px)"
                                CssClass="ch-360"
                                SelectionMode="GridSelectionMode.Multiple"
                                CustomizeElement="Grid_CustomizeElement"
                                AllowSelectRowByClick="true"
                                @bind-SelectedDataItems="@SelectedDataItems"
                                SelectedDataItemChanged="@OnSelectionChanged"                                                       
                                >
                            <Columns>
                                <DxDataGridColumn>
                                    <DxDataGridCheckBoxColumn Field="@nameof(ViewEmployee.UserID)" Caption="Selected" />
                                </DxDataGridColumn>
                                <DxGridSelectionColumn Width="104px" />
                                <DxGridDataColumn FieldName="FirstName" MinWidth="100" />
                                <DxGridDataColumn FieldName="LastName" />
                            </Columns>
                        </DxGrid>                       
                    </div>
                </div>
            </div>

            

           
        </div>
    </EditForm>
</div>

@code {

    private List<ForumTypes> selectedItems = new List<ForumTypes>();
    List<int> selectedValues = new List<int>();
    IGrid? Grid { get; set; }


    bool IsOpen { get; set; } = false;

    bool ShowCheckboxes { get; set; } = true;
    string FormSubmitResult = "";
    DxPopup? popup;
    bool PopupVisible { get; set; } = false;
    ForumTopics? Data { get; set; } = new ForumTopics();
    IEnumerable<ForumTypes>? _types;
    private List<ViewEmployee>? _participant;
    IEnumerable<ForumTypes>? Values;
    IEnumerable<ForumCategorys>? _category;
    private List<ForumCategorys>? _forumCategorys;

    List<long> participantIds = new List<long>();
    List<long> selectedToIds = new List<long>();
    List<long> SelectedCCIds = new List<long>();

    //List<ViewEmployee> ids = new List<ViewEmployee>(); 

   

    IReadOnlyList<object>? SelectedDataItems { get; set; }
    IReadOnlyList<object>? SelectedCCItems { get; set; }
    IReadOnlyList<object>? SelectedToItems { get; set; }
   

    //IEnumerable<GridSelectAllCheckboxMode> SelectAllCheckboxModes { get; } = Enum.GetValues<GridSelectAllCheckboxMode>();
    //GridSelectAllCheckboxMode CurrentSelectAllCheckboxMode { get; set; }   

    void OnSelectionChanged(object args)
    {
        var res = args;
        var lst = @SelectedDataItems;

        //if(args != null)
        //{
        //    ViewEmployee selectedEmployee = args as ViewEmployee;
        //    if (selectedEmployee != null)
        //    {
        //        ids.Add(selectedEmployee);
        //        selectedToIds.Add((long)selectedEmployee.UserID);

        //    }
        //}      
    }


    protected override async Task OnInitializedAsync() {
        var typemodel = await Mediator.Send(new GetAllForumTypes());
        _types = typemodel;

        //var appusers = await Mediator.Send(new GetAllApplicationUserQuery());
        //_participant = appusers;

        _forumCategorys = await Mediator.Send(new GetAllForumCategorys());

        _participant = await Mediator.Send(new GetAllEmployeeListQuery());

        //var topicmodel = await Mediator.Send(new GetListCategory(1));
        //_category = topicmodel;
    }

    async void HandleValidSubmit()
    {
        FormSubmitResult = "You have been registred successully.";
        var sldEmployee = @SelectedDataItems.Count;


        foreach (object item in SelectedDataItems)
        {
            if (item is ViewEmployee employee)
            {
                //ids.Add(employee);
                participantIds.Add((long)employee.UserID);
            }
        }

        foreach (object item in SelectedToItems)
        {
            if (item is ViewEmployee employee)
            {               
                selectedToIds.Add((long)employee.UserID);
            }
        }

        foreach (object item in SelectedCCItems)
        {
            if (item is ViewEmployee employee)
            {                
                SelectedCCIds.Add((long)employee.UserID);
            }
        }
        
        //var slsls = participantIds.Distinct().ToList();
        string participantidsString = string.Join(",", participantIds); // convert the array to a comma-separated string
        string toidsString = string.Join(",", selectedToIds); // convert the array to a comma-separated string
        string ccidsString = string.Join(",", SelectedCCIds); // convert the array to a comma-separated string


        var createReq = new CreateForumTopics
            {
                TicketNo = Data.TicketNo,
                TopicName = Data.TopicName,
                //TypeId  = Data.TypeId,
                //CategoryId  = Data.CategoryId,
                StatusCodeID = 1,
                AddedByUserID = 1,
                AddedDate = DateTime.Now,
                SessionId = Guid.NewGuid(),
                To = participantidsString,
                
            };


        var result = await Mediator.Send(createReq);


    }
    void onClickParticipant()
    {
        //var lst = SelectedDataItems;        
        //PopupVisible = true;
    }
    void HandleInvalidSubmit()
    {
        FormSubmitResult = "";
    }
   async void SelectedItemChanged(long typeId)
    {   
        //if(typeId > 0)
        //{
        //    var modleCategory = await Mediator.Send(new GetListCategory(typeId));
        //    _category = modleCategory;
        //}
     
        if (typeId > 0)
        {
            _category = _forumCategorys.Where(c => c.TypeId == typeId).ToList();
        }

    } 


    async Task ExportToExcel()
    {
        await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = true,
                
                CustomizeCell = OnCustomizeCell
            });
    }
    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }


    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
        if (e.ElementType == GridElementType.HeaderCell)
        {
            e.Style = "background-color: rgba(0, 0, 0, 0.08)";
            e.CssClass = "header-bold";
        }
    }
}


