@using Application.Commands;
@using Application.Queries;
@using Application.Response;
@using DevExpress.Blazor.ComboBox;
@using MediatR
@using global::Core.Entities;
@inject IMediator Mediator


@page "/ForumTopics"

<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">
    <div class="text-center">
       
    </div>
</DxPopup>

<div class="card cw-480">
    <EditForm Model="@Data"
              OnValidSubmit="@HandleValidSubmit"
              OnInvalidSubmit="@HandleInvalidSubmit"
              Context="EditFormContext">
        <DataAnnotationsValidator />
        <div class="card-header text-center">
            <span>Topic</span>           
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <DxFormLayout>
                        <DxFormLayoutItem ColSpanMd="3">
                            <label for="TicketNo">TicketNo </label>
                            <DxTextBox @bind-Text="@Data.TicketNo" ShowValidationIcon="true" NullText="Ticket No" />
                            <div class="text-danger">
                                <ValidationMessage For="@(() => Data.TicketNo)" />
                            </div>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem ColSpanMd="6">
                            <label for="TopicName">TopicName </label>
                            <DxTextBox @bind-Text="@Data.TopicName" ShowValidationIcon="true" NullText="Topic Name" />
                            <div class="text-danger">
                                <ValidationMessage For="@(() => Data.TopicName)" />
                            </div>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem ColSpanMd="3">
                            <label for="DueDate">DueDate </label>
                            <DxDateEdit @bind-Date="@Data.DueDate" CssClass="cw-320" />
                            <div class="text-danger">
                                <ValidationMessage For="@(() => Data.DueDate)" />
                            </div>
                        </DxFormLayoutItem>
                         <DxFormLayoutItem ColSpanMd="6">
                            <label for="TypeId">Type </label>
                            <DxComboBox Data="@_types"
                                        ListRenderMode="ListRenderMode.Virtual"
                                        FilteringMode="DataGridFilteringMode.Contains"
                                        TextFieldName="@nameof(ForumTypes.Name)"
                                        @bind-Value="@Data.TypeId"
                                        CssClass="cw-480" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem ColSpanMd="3">
                            <label for="StartDate">Start Date </label>
                            <DxDateEdit @bind-Date="@Data.StartDate" CssClass="cw-320" />
                            <div class="text-danger">
                                <ValidationMessage For="@(() => Data.StartDate)" />
                            </div>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem ColSpanMd="3">
                            <label for="EndDate">End Date </label>
                            <DxDateEdit @bind-Date="@Data.EndDate" CssClass="cw-320" />
                            <div class="text-danger">
                                <ValidationMessage For="@(() => Data.EndDate)" />
                            </div>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem ColSpanMd="6">
                            <label for="CategoryId">Category </label>
                            <DxComboBox Data="@_category"
                                        SelectedItemChanged="@((ForumCategorys enrollment) => SelectedItemChanged(enrollment))"
                                        ListRenderMode="ListRenderMode.Virtual"
                                        FilteringMode="DataGridFilteringMode.Contains"
                                        TextFieldName="@nameof(ForumCategorys.Name)"
                                        @bind-Value="@Data.CategoryId"
                                        CssClass="cw-480" />
                        </DxFormLayoutItem>

                        <DxFormLayoutItem ColSpanMd="6">
                            <label for="ForumFrom">From </label>
                           @* <DxComboBox Data="@_category"
                                       
                                        ListRenderMode="ListRenderMode.Virtual"
                                        FilteringMode="DataGridFilteringMode.Contains"
                                        TextFieldName="@nameof(ForumCategorys.Name)"
                                        @bind-Value="@Data.CategoryId"
                                        CssClass="cw-480" />*@
                        </DxFormLayoutItem>

                        <DxFormLayoutItem ColSpanMd="6" >
                            <label for="ForumTo">To </label>

                            <DxComboBox Data="@_category"
                                        ListRenderMode="ListRenderMode.Virtual"
                                        FilteringMode="DataGridFilteringMode.Contains"
                                        TextFieldName="@nameof(ForumTypes.Name)"
                                        @bind-Value="@Data.TypeId"
                                        CssClass="cw-480" >
                                   
                                        <Columns>
        <DxListEditorColumn FieldName="@nameof(ForumTypes.ID)"
                            Caption="Id"
                            Width="50px"  />
        <DxListEditorColumn FieldName="@nameof(ForumTypes.Name)"
                            Caption="Name" />
        <DxListEditorColumn FieldName="@nameof(ForumTypes.Description)"
                            Caption="Surname" />
                                   </Columns>
                            </DxComboBox>
                        
                        </DxFormLayoutItem>

                        <DxFormLayoutItem ColSpanMd="6">
                            <label for="ForumCC">CC </label>
                           @* <DxComboBox Data="@_category"
                                        ListRenderMode="ListRenderMode.Virtual"
                                        FilteringMode="DataGridFilteringMode.Contains"
                                        TextFieldName="@nameof(_category)"
                                        @bind-Value="@_category"
                                        CssClass="cw-480" />*@
                        </DxFormLayoutItem>

                        <DxFormLayoutItem ColSpanMd="12">
                            <DxButton SubmitFormOnClick="true"
                                      Text="Submit"
                                      CssClass="btn-submit"
                                      style="float:right"
                                      RenderStyle="ButtonRenderStyle.Secondary" />
                        </DxFormLayoutItem>
                    </DxFormLayout>
                </div>
                <div class="card col-md-4" style="padding-left: 0px;    padding-right: 0px;">

                  @*  <div class="g-title">
                        <div class="g-left"></div>

                        <span class=""></span><span class="g-text">Type</span>
                        <div class="g-right">
                            <button type="button" CssClass="download-btn">
                               Add
                            </button>
                        </div>
                    </div>*@

                    <div class="card-header text-center">
                        <span> Participant List</span>
                        <DxButton style="float:right;" RenderStyle="ButtonRenderStyle.Info" class="btn btn-add" Click="@onClickParticipant">Add</DxButton>
                    </div>
                    <div class="card-body">
                        <DxGrid Data="_types"
                                style="height:650px"
                                KeyFieldName="ID"                                                            
                                ShowSearchBox="true"
                                PagerNavigationMode="PagerNavigationMode.InputBox"
                                PageSizeSelectorVisible="true"
                                PageSizeSelectorAllRowsItemVisible="true"
                                PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                                PageSize="20"
                                CssClass="ch-360"
                                SelectionMode="GridSelectionMode.Multiple"
                                AllowSelectRowByClick="true"
                                @bind-SelectedDataItems="@SelectedDataItems"
                                SelectedDataItemChanged="@OnSelectionChanged">
                            <Columns>
                                <DxGridSelectionColumn Width="104px" />
                                <DxGridDataColumn FieldName="Name" MinWidth="100" />
                                <DxGridDataColumn FieldName="ID"/>                              
                            </Columns>
                        </DxGrid>                       
                    </div>
                </div>
            </div>



           
        </div>
    </EditForm>
</div>
<p class="tm-8 cw-480 mt-2">
    @FormSubmitResult
</p>


@code {
    bool IsOpen { get; set; } = false;

    bool ShowCheckboxes { get; set; } = true;
    string FormSubmitResult = "";
    DxPopup? popup;
    bool PopupVisible { get; set; } = false;
    ForumTopics? Data { get; set; } = new ForumTopics();
    IEnumerable<ForumTypes>? _types;
    IEnumerable<ForumTypes>? Values;
    IEnumerable<ForumCategorys>? _category;
    

    IReadOnlyList<object>? SelectedDataItems { get; set; }
    //private List<ForumTypes>? SelectedDataItems;

    //IEnumerable<GridSelectAllCheckboxMode> SelectAllCheckboxModes { get; } = Enum.GetValues<GridSelectAllCheckboxMode>();
    //GridSelectAllCheckboxMode CurrentSelectAllCheckboxMode { get; set; }   

    void OnSelectionChanged(object args)
    {
        var ids = args;
        var ls = SelectedDataItems;
    }

    protected override async Task OnInitializedAsync() {
        var typemodel = await Mediator.Send(new GetAllForumTypes());
        _types = typemodel;
        //SelectedDataItems = typemodel;

        //var categorymodel = await Mediator.Send(new GetAllForumCategorys());
        //_category = categorymodel;

        //var topicmodel = await Mediator.Send(new GetListCategory(1));
        //_category = topicmodel;
    }

    async void HandleValidSubmit()
    {
        FormSubmitResult = "You have been registred successully.";


        var createReq = new CreateForumTopics
            {
                TicketNo = Data.TicketNo,
                TopicName = Data.TopicName,
                StatusCodeID = 1,
                AddedByUserID = 1,
                AddedDate = DateTime.Now,
                SessionId = Guid.NewGuid()
            };
        var result = await Mediator.Send(createReq);


    }
    void onClickParticipant()
    {
        //var lst = SelectedDataItems;        
        //PopupVisible = true;
    }
    void HandleInvalidSubmit()
    {
        FormSubmitResult = "";
    }
    async void SelectedItemChanged(ForumCategorys enrollment)
    {

        var CourseID = enrollment.TypeId;
        if(CourseID != 0)
        {
            var topicmodel = await Mediator.Send(new GetListCategory(enrollment.TypeId));
            _category = topicmodel;
        }

      } 
      
}


