@using Application.Commands;
@using Application.Queries;
@using Application.Response;
@using MediatR
@using global::Core.Entities;
@inject IMediator Mediator
@using DevExpress.Export
@inject IJSRuntime jsRuntime

@page "/FourmTypes"


<div class="g-title">
    <div class="g-left"></div>
   
    <span class=""></span><span class="g-text"></span>
    <div class="g-right">
        <button type="button" CssClass="download-btn"
                IconCssClass="demo-download-icon"
                Text="Free Trial"
                class="btn btn-excel" @onclick="ExportToExcel" title="Export to Excel">
            <i class="fa fa-file-excel-o"></i>Export
        </button>
    </div>
</div>

<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">
    <div class="text-center">
        <p>@errorMessage</p>
        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>


<DxGrid @ref="Grid" Data="@_types" EditModelSaving="@OnEditModelSaving" DataItemDeleting="@OnDeleeDataItem" EditMode="GridEditMode.EditForm" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
        PagerNavigationMode="PagerNavigationMode.InputBox"
        PageSizeSelectorVisible="true"
        PageSizeSelectorAllRowsItemVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20"        
        style="height:calc(100vh - 195px); min-height:100px;"
        CssClass="ch-360"
        CustomizeElement="Grid_CustomizeElement"
        AutoExpandAllGroupRows="true"
        SelectionMode="GridSelectionMode.Multiple"
        SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages">

    <Columns>
        <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
        <DxGridDataColumn FieldName="ID"  Caption="#" Width="35px"></DxGridDataColumn>
        <DxGridDataColumn FieldName="Name" MinWidth="200" />
        <DxGridDataColumn FieldName="Description" />
        <DxGridCommandColumn Width="160px" />
    </Columns>

    <EditFormTemplate Context="EditFormContext">
        @{
            var types = (ForumTypes)EditFormContext.EditModel;
        }
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="Name:" ColSpanMd="6">
                <DxTextBox @bind-Text="@types.Name" />
                <ValidationMessage For="@(() => types.Name)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Description:" ColSpanMd="6">
                <DxTextBox @bind-Text="@types.Description" />
            </DxFormLayoutItem>
            <ValidationSummary />
        </DxFormLayout>
    </EditFormTemplate>
    
</DxGrid>


@code {

    private string gridHeight = "calc(100vh - 230px - 143px)";
    private List<ForumTypes>? _types;
    IGrid? Grid { get; set; }
    bool ExportSelectedRowsOnly { get; set; }
    DxPopup? popup;
    bool PopupVisible { get; set; } = false;
    string? errorMessage;   

    protected override async Task OnInitializedAsync()
    {
        var model = await Mediator.Send(new GetAllForumTypes());
        _types = model;
       
        //await jsRuntime.InvokeVoidAsync("import", "../wwwroot/common.js");
    } 
    async Task UpdateDataAsync()
    {
        _types = await Mediator.Send(new GetAllForumTypes());
       // _types = model;
    }
    async Task ExportToExcel()
    {
        await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = true,
                CustomizeCell = OnCustomizeCell
            });
    }   
    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }

    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //    {
    //        await jsRuntime.InvokeVoidAsync("setGridHeight");
    //    }
    //}

    //[JSInvokable]
    //public void Resize()
    //{
    //    jsRuntime.InvokeVoidAsync("setGridHeight");
    //}

    //protected override bool ShouldRender()
    //{
    //    Resize();
    //    return base.ShouldRender();
    //}
   
    async Task OnEditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editModel = (ForumTypes)e.EditModel;        

        if (e.IsNew)
        {

            var createReq = new CreateForumTypeCommand
            {
                Name = editModel.Name,
                Description = editModel.Description
            };
          
            try
            {
                var result = await Mediator.Send(createReq);
                PopupVisible = true;
            }
            catch (Exception ex)
            {
                errorMessage = ex.Message;
                PopupVisible = true;

            }

            await UpdateDataAsync();
            //var request = new CreateCommand<ForumTypeResponse>
            //    {
            //        Entity = new ForumTypeResponse
            //        {
            //            Name = editModel.Name,
            //            Description = editModel.Description,
            //            AddedDate = DateTime.Now,
            //            SessionId = Guid.NewGuid(),
            //            StatusCodeID = 1,
            //            AddedByUserID = 1,
            //        }
            //    };

            //var customer = await Mediator.Send(request);
        }
        else
        {            
            var UpdateReq = new EditForumTypeCommand
            {
                ID = editModel.ID,
                Name = editModel.Name,
                Description = editModel.Description,
                StatusCodeID = editModel.StatusCodeID,
                AddedByUserID = editModel.AddedByUserID,
                AddedDate = editModel.AddedDate,
                SessionId = editModel.SessionId,

            };

            var ans = await Mediator.Send(UpdateReq);
            await UpdateDataAsync();
        }     

    }
    async void ClosePopup()
    {
        PopupVisible = false;
        await UpdateDataAsync();
    }
    async Task OnDeleeDataItem(GridDataItemDeletingEventArgs e)
    {
        var editModel = (ForumTypes)e.DataItem;

        string result = string.Empty;
        result = await Mediator.Send(new DeleteForumTypeCommand(editModel.ID));
        Console.WriteLine(result);
        await UpdateDataAsync();
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
        if (e.ElementType == GridElementType.HeaderCell)
        {
            e.Style = "background-color: rgba(0, 0, 0, 0.08)";
            e.CssClass = "header-bold";
        }
    }
    
}