@using Application.Queries;
@using MediatR
@using global::Core.Entities.Views;
@using global::Core.Entities;
@inject IMediator Mediator
@using DevExpress.Export
@using Application.Response;
@page "/Users"
@inject IJSRuntime jsRuntime

<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Reset Password" IconCssClass="fa fa-key" Click="@ShowPopup" Enabled="@ResetEnabled" />
                <DxMenuItem Text="Unlock" IconCssClass="fa fa-unlock" Click="@((e) => UnSetLock(_selectedItems.UserID))" Enabled="@UnlockEnabled" />
            </Items>
        </DxMenu>
    </div>
</div>
<DxGrid @ref="Grid"   
        Data="_employeeItems"
        KeyFieldName="UserID"
        CustomizeElement="Grid_CustomizeElement"
        PagerNavigationMode="PagerNavigationMode.InputBox"
        PageSizeSelectorVisible="true"
        PageSizeSelectorAllRowsItemVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20"
        SelectionMode="GridSelectionMode.Multiple"
        SelectAllCheckboxMode="CurrentSelectAllCheckboxMode"
        @bind-SelectedDataItems="SelectedDataItems"
        ValidationEnabled="true"
        AutoExpandAllGroupRows="true"
        CssClass="ch-360 grid-auto-height"
        FocusedRowEnabled="true"
        RowClick="OnRowClick"
        AllowSelectRowByClick="true">
    <Columns>
        
        <DxGridDataColumn FieldName="SageID" MinWidth="80" />
        <DxGridDataColumn FieldName="FirstName"  />
        <DxGridDataColumn FieldName="LastName" />
        <DxGridDataColumn FieldName="NickName" MinWidth="80" />
        <DxGridDataColumn FieldName="StatusCode" MinWidth="80" />
        <DxGridDataColumn FieldName="ModifiedDate"  />
        <DxGridDataColumn FieldName="Locked"  />
        <DxGridDataColumn FieldName="ModifiedByUser"  />
       @* <DxGridDataColumn FieldName="UserID" AllowSort="false" MinWidth="100" Caption="Action" TextAlignment="GridTextAlignment.Center">
            <CellDisplayTemplate><button class="btn btn-link grid-btn-link" style="color:black;" @onclick="() => UnSetLock((long)context.Value)">Un Lock</button></CellDisplayTemplate>
           
        </DxGridDataColumn>*@
      @*  <DxGridDataColumn FieldName="UserID" AllowSort="false"  MinWidth="100" Caption="Action" TextAlignment="GridTextAlignment.Center">
            
          @*  <CellDisplayTemplate><button class="btn btn-link grid-btn-link" style="color:black;" @onclick="() => ResetPasswords((long)context.Value)">Reset Password</button></CellDisplayTemplate>
            <CellDisplayTemplate><button class="btn btn-link grid-btn-link" style="color:black;" @onclick="() => ShowPopup((long)context.Value)">Reset Password</button></CellDisplayTemplate>
       </DxGridDataColumn>*@

       @* <DxGridDataColumn  FieldName="Locked" Width="10%" MinWidth="90">
            <CellDisplayTemplate>
                @if ((bool)context.Value == true)
                {
                  
                    <button   class="btn btn-link grid-btn-link" style="color:black;" @onclick="() => UnSetLock((long)context.Value)">Un Lock</button>
                }
               else
                {
                    <button class="btn btn-link grid-btn-link" style="color:black;" @onclick="() => UnSetLock((long)context.Value)"> Lock</button>
                }
            </CellDisplayTemplate>
        </DxGridDataColumn>
*@

    </Columns>
    <TotalSummary>
        <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="SageID" />
    </TotalSummary>
</DxGrid>

<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" Width="350px" @bind-Visible="@PopupVisible">
    <div class="text-center">
        <Content>
        <p>
                <div id="@("label"+_selectedItems.UserID)" class="display-field Text"> Do You Want To  Reset the  @_selectedItems.NickName ,@_selectedItems.UserID,@_selectedItems.LastName Password</div>
          
        </p>
    </Content>
       
        <DxButton class=align-Button Text="Yes" Click="@((e) => ResetPasswords(_selectedItems.UserID))" />
        <DxButton class =align-items Text="No" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>

<DxPopup @bind-Visible="@MessageVisible"
         HeaderText="@MessageHeader"
         BodyText="@MessageBody" />
@code {


    GridSelectAllCheckboxMode CurrentSelectAllCheckboxMode { get; set; }
    IReadOnlyList<object> SelectedDataItems { get; set; }
    IEnumerable<GridSelectAllCheckboxMode> SelectAllCheckboxModes { get; } = Enum.GetValues<GridSelectAllCheckboxMode>();
    bool PopupVisible { get; set; } = false;
    DxPopup? popup;
    bool MessageVisible { get; set; } 
    string MessageHeader = "";
    string MessageBody = "";
    private List<ViewEmployee> _employeeItems;
    private ViewEmployee _selectedItems;
    bool ResetEnabled { get; set; } = false;
    bool UnlockEnabled { get; set; } = false;
    IGrid Grid { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _employeeItems = await Mediator.Send(new GetAllEmployeeListQuery());


    }
    async Task UpdateDataAsync()
    {
        _employeeItems = await Mediator.Send(new GetAllEmployeeQuery());
    }

    private async void UnSetLock(long? UserID)
    {
        var users = _employeeItems.FirstOrDefault(a => a.UserID == UserID);
        if(users!=null)
        {
            var request = new UnsetLockedRequest
                {
                    LoginID = users.LoginID,
                    NewPassword = "1234",
                };
            var response = await Mediator.Send(request);
            onShowPopupMessage("Message", "Account Un-Locked Successfully");
        }        
    }    
    private async void ResetPasswords(long? UserID)
    {

        var users = _employeeItems.FirstOrDefault(a => a.UserID == UserID);
        if (users != null)
        {
            var request = new ResetUserPasswordRequest
                {
                    LoginID = users.LoginID,
                    NewPassword = "1234",
                };
            var response = await Mediator.Send(request);
            PopupVisible = false;
            onShowPopupMessage("Message", "Password Reset Successfully");
        }
    }

    private async void onShowPopupMessage(string headerText, string bodyText)
    {
        MessageVisible = true;
        MessageBody = bodyText;
        MessageHeader = headerText;
        StateHasChanged();
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
        if (e.ElementType == GridElementType.HeaderCell)
        {
            e.Style = "background-color: rgba(0, 0, 0, 0.08)";
            e.CssClass = "header-bold";
        }
    }
    void ShowPopup()
    {

        _selectedItems = _employeeItems.FirstOrDefault(a => a.UserID == _selectedItems.UserID);
        //lId = UserID;
        PopupVisible = true;
        InvokeAsync(StateHasChanged);
    }

    async void ClosePopup()
    {
        PopupVisible = false;
    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "UserID");
        _selectedItems = _employeeItems.FirstOrDefault(f => f.UserID == (long?)UniqueId);
        if (_selectedItems.Locked == true)
        {
            UnlockEnabled = true;
        }
        else
        {
            UnlockEnabled = false;
        }
        ResetEnabled = true;
       
        StateHasChanged();

    }

    //private void EditPerson(ViewEmployee context)
    //{
    //    var users = _employeeItems.FirstOrDefault(a => a.UserID == context.UserID);
    //    if (users != null)
    //    {
    //        var request = new UnsetLockedRequest
    //            {
    //                LoginID = users.LoginID,
    //                NewPassword = "1234",
    //            };
    //        var response =  Mediator.Send(request);
    //        onShowPopupMessage("Message", "Account Un-Locked Successfully");
    //    }
    //}
    //private void EditPerson(DxGridEditingContext<ViewEmployee> context)
    //{
    //     Edit the selected person
    //}
}
