@using Application.Queries;
@using MediatR
@using System.ComponentModel;
@using global::Core.Entities.Views;
@using global::Core.Entities;
@inject IMediator Mediator
@using DevExpress.Export
@using Application.Response;
@page "/Users"
@inject IJSRuntime jsRuntime
@inject AC.SD.Core.Services.ToastService toastService




<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Reset Password" IconCssClass="fa fa-key" Click="@ShowPopup" Enabled="@ResetEnabled"  />
                <DxMenuItem Text="Unlock" IconCssClass="fa fa-unlock" Click="@((e) => UnSetLock(_selectedItems.UserID))" Enabled="@UnlockEnabled"  />
                  
                    <DxMenu Visible="@StatusActive">
                        <Items>
                            <DxMenuItem Text="Active" IconCssClass="fa fa-key" Click="@((e) => Active(_selectedItems.UserID))" style="float: left; margin-bottom: -41px;  margin-left:300px; z-index: 9999; width:100px;" />
                        </Items>
                    </DxMenu>
                 
                    <DxMenu Visible="@StatusInActive">
                        <Items>
                            <DxMenuItem Text="InActive" IconCssClass="fa fa-key" Click="@((e) => InActive(_selectedItems.UserID))" style="float: left; margin-bottom: -41px;  margin-left:300px; z-index: 9999; width:100px;" />
                        </Items>
                    </DxMenu>

               
               
            </Items>
        </DxMenu>

        @*  <div class="save_hover" @onclick="@((e) => InActive(_selectedItems.UserID))" style="float: left;line-height: 37px; margin-top: -41px; line-height: 37px; margin-left:300px; z-index: 9999; width:100px;">
        <button Visible="@StatusInActive" class="btnSubmitForm" style="Visibility:@StatusInActive;">
            InActive
          
        </button>
    </div>*@
    </div>
</div>

<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data..."
               >

<DxGrid @ref="Grid" FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
        Data="_employeeItems"
        KeyFieldName="UserID"
        CustomizeElement="Grid_CustomizeElement"
        PagerNavigationMode="PagerNavigationMode.InputBox"
        PageSizeSelectorVisible="true"
        PageSizeSelectorAllRowsItemVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20"
        SelectionMode="GridSelectionMode.Multiple"
        SelectAllCheckboxMode="CurrentSelectAllCheckboxMode"
       
        ValidationEnabled="true"
        AutoExpandAllGroupRows="true"
        CssClass="ch-360 " style="height: calc(100vh - 220px);"
        FocusedRowEnabled="true"
        RowClick="OnRowClick"
        AllowSelectRowByClick="true" >
    <Columns>
    
  
        <DxGridDataColumn FieldName="SageID" MinWidth="80" >
        @* <CellDisplayTemplate>
                @{
                    var item = (ViewEmployee)context.DataItem;
                }
                <DxButton IconCssClass="btnDelete fas fa-trash" Enabled=@(item.LoginID != "crt") />
            </CellDisplayTemplate>*@
            </DxGridDataColumn>
        <DxGridDataColumn FieldName="FirstName"  />
        <DxGridDataColumn FieldName="LastName" />
        <DxGridDataColumn FieldName="NickName" MinWidth="80" />
        <DxGridDataColumn FieldName="StatusCode" MinWidth="80" />
        <DxGridDataColumn FieldName="ModifiedDate"  />
        <DxGridDataColumn FieldName="Locked"  />
        <DxGridDataColumn FieldName="ModifiedByUser"  />
       @* <DxGridDataColumn FieldName="UserID" AllowSort="false" MinWidth="100" Caption="Action" TextAlignment="GridTextAlignment.Center">
            <CellDisplayTemplate><button class="btn btn-link grid-btn-link" style="color:black;" @onclick="() => UnSetLock((long)context.Value)">Un Lock</button></CellDisplayTemplate>
           
        </DxGridDataColumn>*@
      @*  <DxGridDataColumn FieldName="UserID" AllowSort="false"  MinWidth="100" Caption="Action" TextAlignment="GridTextAlignment.Center">
            
          @*  <CellDisplayTemplate><button class="btn btn-link grid-btn-link" style="color:black;" @onclick="() => ResetPasswords((long)context.Value)">Reset Password</button></CellDisplayTemplate>
            <CellDisplayTemplate><button class="btn btn-link grid-btn-link" style="color:black;" @onclick="() => ShowPopup((long)context.Value)">Reset Password</button></CellDisplayTemplate>
       </DxGridDataColumn>*@

       @* <DxGridDataColumn  FieldName="Locked" Width="10%" MinWidth="90">
            <CellDisplayTemplate>
                @if ((bool)context.Value == true)
                {
                  
                    <button   class="btn btn-link grid-btn-link" style="color:black;" @onclick="() => UnSetLock((long)context.Value)">Un Lock</button>
                }
               else
                {
                    <button class="btn btn-link grid-btn-link" style="color:black;" @onclick="() => UnSetLock((long)context.Value)"> Lock</button>
                }
            </CellDisplayTemplate>
        </DxGridDataColumn>
*@

    </Columns>
    <TotalSummary>
        <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="SageID" />
    </TotalSummary>
</DxGrid>
</DxLoadingPanel>

@*<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" Width="350px" @bind-Visible="@PopupVisible">
    <div class="text-center">
        <Content>
        <p>
                <div id="@("label"+_selectedItems.UserID)" class="display-field Text"> Do You Want To  Reset the  @_selectedItems.NickName ,@_selectedItems.UserID,@_selectedItems.LastName Password</div>
          
        </p>
    </Content>
       
        <DxButton class=align-Button Text="Yes" Click="@((e) => ResetPasswords(_selectedItems.UserID))" />
        <DxButton class =align-items Text="No" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>*@
<DxPopup @bind-Visible="@PopupVisible"
         ShowFooter="true"
         HeaderText="CRT"
         Closed="EulaPopupClosed"
         Width="350px">
    <BodyContentTemplate>
        <p>
            <div id="@("label"+_selectedItems.UserID)" class="display-field Text"> Do You Want To  Reset the  @_selectedItems.NickName ,@_selectedItems.UserID,@_selectedItems.LastName Password</div>
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="Yes" Click="@((e) => ResetPasswords(_selectedItems.UserID))" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text = "No" Click="@(() => ClosePopup())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@MessageVisible"
         HeaderText="@MessageHeader"
         BodyText="@MessageBody" />
@code {

    bool PanelVisible { get; set; }
    GridSelectAllCheckboxMode CurrentSelectAllCheckboxMode { get; set; }
    IEnumerable<GridSelectAllCheckboxMode> SelectAllCheckboxModes { get; } = Enum.GetValues<GridSelectAllCheckboxMode>();
    bool PopupVisible { get; set; } = false;
    DxPopup? popup;
    bool MessageVisible { get; set; } 
    string MessageHeader = "";
    string MessageBody = "";
    private List<ViewEmployee> _employeeItems;
    private ViewEmployee _selectedItems;
    bool ResetEnabled { get; set; } = false;
    bool UnlockEnabled { get; set; } = false;
    bool StatusActive { get; set; } = false;
    bool StatusInActive { get; set; } = false;
    IGrid Grid { get; set; }
    private List<ApplicationPermission> applicationPermissions;
    List<string> permissionids = new List<string>();
    //bool ResetShow { get; set; } = false;
    //bool UnlockShow { get; set; } = false;
    string  permission ="";

    protected override async Task OnInitializedAsync()
    {

        PanelVisible = true;
        // ApplicationPermission Hide and Show using Check menulist
        var models = await Mediator.Send(new GetApplicationPermissionQuery(1));
        applicationPermissions = models;

        foreach (var permissionlst in applicationPermissions)
        {
            var pid = permissionlst.PermissionName;
            permissionids.Add(pid);
            //permission = ir.PermissionName;
            //if (permission == "Users")
            //{
            //    ResetShow = true;
            //    UnlockShow = true;
            //    break;
            //}
            //else if (permission == "Reset Password")
            //{
            //    ResetShow = true;

            //}
            //else if (permission == "Unlock")
            //{
            //    UnlockShow = true;
            //}

        }
        if (permissionids.Any((f) => f == "Users"))
        {
            ResetEnabled = true;
            UnlockEnabled = true;
        }
        if (permissionids.Any((f) => f == "Reset Password"))
        {
            ResetEnabled = true;

        }
        if (permissionids.Any((f) => f == "Unlock"))
        {
            UnlockEnabled = true;

        }
        //await jsRuntime.InvokeAsync<string>("showLoading");

        var model = await Mediator.Send(new GetAllEmployeeListQuery());
        _employeeItems = model;
        if(_employeeItems.Count >0)
        {
            _selectedItems = _employeeItems.FirstOrDefault();
            ResetEnabled = true;
            UnlockEnabled = true;
            StateHasChanged();
        }

        PanelVisible = false;
        //await jsRuntime.InvokeAsync<string>("hideLoading");



    }



    async Task UpdateDataAsync()
    {
        _employeeItems = await Mediator.Send(new GetAllEmployeeQuery());
    }

    private async void UnSetLock(long? UserID)
    {
        var users = _employeeItems.FirstOrDefault(a => a.UserID == UserID);
        if(users!=null)
        {
            var request = new UnsetLockedRequest
                {
                    LoginID = users.LoginID,
                    NewPassword = "1234",
                };
            var response = await Mediator.Send(request);
            toastService.ShowToast("Account Un-Locked Successfully", AC.SD.Core.Services.ToastLevel.Success);
        }        
    }    
    private async void ResetPasswords(long? UserID)
    {

        var users = _employeeItems.FirstOrDefault(a => a.UserID == UserID);
        if (users != null)
        {
            var request = new ResetUserPasswordRequest
                {
                    LoginID = users.LoginID,
                    NewPassword = "1234",
                };
            var response = await Mediator.Send(request);
            PopupVisible = false;
            InvokeAsync(StateHasChanged);
            toastService.ShowToast("Resetpassword Successfully.", AC.SD.Core.Services.ToastLevel.Success);

        }
    }

    private async void onShowPopupMessage(string headerText, string bodyText)
    {
        MessageVisible = true;
        MessageBody = bodyText;
        MessageHeader = headerText;
        StateHasChanged();
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        //if (e.ElementType == GridElementType.DataRow && (System.String)e.Grid.GetRowValue(e.VisibleIndex, "LoginID") == "AJW002MY")
        //{
        //    //   e.CssClass = "highlighted-item";
        //    ///  e.Style = " input[type > td]:disabled ";
        //    // e.CssClass += "disabled-row";
        //} 

        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
            e.CssClass += "non-selectable-row";
        }

    }
    void ShowPopup()
    {

        _selectedItems = _employeeItems.FirstOrDefault(a => a.UserID == _selectedItems.UserID);
        //lId = UserID;
        PopupVisible = true;
        InvokeAsync(StateHasChanged);
    }

    async void ClosePopup()
    {
        PopupVisible = false;
    }
    void OnRowClick(GridRowClickEventArgs e)
    {



        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "UserID");
        _selectedItems = _employeeItems.FirstOrDefault(f => f.UserID == (long?)UniqueId);
        if(_selectedItems.UserStatus == 1)
        {
            StatusInActive = true;
            StatusActive = false;
        }
        else 
        {
            StatusActive = true;
            StatusInActive = false;
        }

        if (_selectedItems.Locked == true && permissionids.Any((f) => f == "Unlock"))
            {
                UnlockEnabled = true;
            }
            else
            {
                UnlockEnabled = false;
            }
        
       
        if (permissionids.Any((f) => f == "Reset Password"))
        {
            ResetEnabled = true;
        }
        StateHasChanged();


       

           
      
    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        PopupVisible = false;
        UpdateDataAsync();
    }

    private async void Active(long? UserID)
    {
        var users = _employeeItems.FirstOrDefault(a => a.UserID == UserID);
        if (users != null)
        {
            var request = new ActiveRequest
                {
                    LoginID = users.LoginID,
                    
                };
            var response = await Mediator.Send(request);
            toastService.ShowToast("Account Active Successfully", AC.SD.Core.Services.ToastLevel.Success);
        }
    }
    private async void InActive(long? UserID)
    {
        var users = _employeeItems.FirstOrDefault(a => a.UserID == UserID);
        if (users != null)
        {
            var request = new InActiveRequest
                {
                    LoginID = users.LoginID,

                };
            var response = await Mediator.Send(request);
            toastService.ShowToast("Account InActive Successfully", AC.SD.Core.Services.ToastLevel.Success);
        }
    }
    //private void EditPerson(ViewEmployee context)
    //{
    //    var users = _employeeItems.FirstOrDefault(a => a.UserID == context.UserID);
    //    if (users != null)
    //    {
    //        var request = new UnsetLockedRequest
    //            {
    //                LoginID = users.LoginID,
    //                NewPassword = "1234",
    //            };
    //        var response =  Mediator.Send(request);
    //        onShowPopupMessage("Message", "Account Un-Locked Successfully");
    //    }
    //}
    //private void EditPerson(DxGridEditingContext<ViewEmployee> context)
    //{
    //     Edit the selected person
    //}
  
    
   
}