@using Application.Commands;
@using Application.Queries;
@using MediatR
@using global::Core.Entities;
@using global::Core.Entities.Views;
@inject IMediator Mediator
@using DevExpress.Export
@inject AC.SD.Core.Services.ToastService toastService
@using global::Core.EntityModels
@using global::Core.Repositories.Query;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@implements IAsyncDisposable
@using System;
@using System.IO;

<style>
    .alt-item > td {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .header-bold span {
        font-weight: 700;
    }

</style>
@page "/UserGroups"

<div id="NavHeader">
    <div class="card w-100" style="margin-bottom:10px; margin-top:10px">
        <div class="card-body p-0">
            <DxMenu CollapseItemsToHamburgerMenu="true"
                    CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                    DisplayMode="MenuDisplayMode.Desktop">
                <Items>
                    <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" Enabled="@AddEnabled" />
                    <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                    <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
                    <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportXlsx_Click" Enabled="ExportEnabled" />
                </Items>
            </DxMenu>
        </div>
    </div>
    <DxLoadingPanel @bind-Visible="PanelVisible"
                    IsContentBlocked="true"
                    ApplyBackgroundShading="true"
                    IndicatorAreaVisible="false"
                    Text="Fetching Data...">
        <DxGrid @ref="Grid" FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                ColumnResizeMode="GridColumnResizeMode.NextColumn"
                Data="_userGroupLists"
                ShowGroupPanel="true" ShowGroupedColumns="true"
                KeyFieldName="UserGroupId"
                EditModelSaving="Grid_EditModelSaving"
                CustomizeEditModel="Grid_CustomizeEditModel"
                CustomizeElement="Grid_CustomizeElement"
                ShowSearchBox="true"
                PagerNavigationMode="PagerNavigationMode.InputBox"
                PageSizeSelectorVisible="true"
                PageSizeSelectorAllRowsItemVisible="true"
                PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                PageSize="20"
                VirtualScrollingEnabled="true"
                SelectionMode="GridSelectionMode.Multiple"
                SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
                AutoExpandAllGroupRows="true"
                CssClass="ch-360"
                style="height: calc(100vh - 270px);"
                FocusedRowEnabled="true"
                RowDoubleClick="OnRowDoubleClick"
                SelectedDataItemsChanged="@SelectedDataItemsChanged"
                RowClick="OnRowClick"
                AllowSelectRowByClick="true">
            <Columns>
                <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
                <DxGridDataColumn FieldName="UserGroupId" Visible="false" />
                <DxGridDataColumn FieldName="Name" Caption="Name" />
                <DxGridDataColumn FieldName="Description" Caption="Description" />
                <DxGridDataColumn FieldName="AddedBy" />
                <DxGridDataColumn FieldName="AddedDate">
                    <CellDisplayTemplate>
                        @{
                            var item = (UserGroup)context.DataItem;
                            var startDate = string.Empty;
                            if (item.AddedDate.HasValue && item.AddedDate != DateTime.MinValue)
                            {
                                startDate = item.AddedDate?.ToString("dd-MMM-yyyy");
                            }
                        }
                        @startDate
                    </CellDisplayTemplate>
                </DxGridDataColumn>
                <DxGridDataColumn FieldName="ModifiedBy" />
                <DxGridDataColumn FieldName="ModifiedDate">
                    <CellDisplayTemplate>
                        @{
                            var item = (UserGroup)context.DataItem;
                            var startDate = string.Empty;
                            if (item.ModifiedDate.HasValue && item.ModifiedDate != DateTime.MinValue)
                            {
                                startDate = item.ModifiedDate?.ToString("dd-MMM-yyyy");
                            }
                        }
                        @startDate
                    </CellDisplayTemplate>
                </DxGridDataColumn>
                <DxGridDataColumn FieldName="StatusCode" />
            </Columns>

            <EditFormTemplate Context="EditFormContext">
                @{
                    var plant = (UserGroup)EditFormContext.EditModel;
                }
                <DxFormLayout CssClass="w-100">

                    <DxFormLayoutItem Caption="Name" ColSpanMd="6">
                        <DxTextBox @bind-Text="@plant.Name" ShowValidationIcon="true" />
                        <ValidationMessage For="@(() => plant.Name)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Description" ColSpanMd="6">
                        <DxMemo @bind-Text="@plant.Description" Rows="5" ShowValidationIcon="true" />
                        <ValidationMessage For="@(() => plant.Description)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Users" ColSpanMd="6">
                        <DxTagBox Data="_usersList"
                                  @bind-Values="plant.SelectUserIDs"
                                  NullText="Select To..."
                                  ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                  ValueFieldName="UserID"
                                  TextFieldName="FirstName"
                                  SearchMode="ListSearchMode.AutoSearch"
                                  SearchFilterCondition="ListSearchFilterCondition.Contains"
                                  EditFormat="{0}-{1}-{3}"
                                  ListRenderMode="ListRenderMode.Virtual">
                            <DxListEditorColumn FieldName="@nameof(ViewEmployee.FirstName)" Caption="FirstName" />
                            <DxListEditorColumn FieldName="@nameof(ViewEmployee.LastName)" Caption="Last Name" />
                            <DxListEditorColumn FieldName="@nameof(ViewEmployee.NickName)" Caption="Nick Name" />
                            <DxListEditorColumn FieldName="@nameof(ViewEmployee.DesignationName)" Caption="Designation" />
                            <DxListEditorColumn FieldName="@nameof(ViewEmployee.CompanyName)" Caption="Company" Width="100px" />
                        </DxTagBox>
                        <ValidationMessage For="@(() => plant.SelectUserIDs)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Status" ColSpanMd="6">
                        <DxComboBox Data="@_stausItems"
                                    NullText="Select Status..."
                                    SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    TextFieldName="CodeValue"
                                    ValueFieldName="CodeId"
                                    @bind-Value="@plant.StatusCodeId"
                                    ShowValidationIcon="true">
                        </DxComboBox>
                        <ValidationMessage For="@(() => plant.StatusCodeId)" />
                    </DxFormLayoutItem>
                </DxFormLayout>
            </EditFormTemplate>
            <TotalSummary>
                <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="UserGroupName" />
            </TotalSummary>
        </DxGrid>
    </DxLoadingPanel>
</div>
<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="Delete"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @ref="popup" HeaderText="Delete" ShowCloseButton="true" @bind-Visible="@PopupVisible">


    <div class="text-center">
        <p>@DeleteerrorMessage</p>

        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>


</DxPopup>


@code {
    private List<UserGroup> _userGroupLists;
    IGrid Grid { get; set; }
    bool ExportSelectedRowsOnly { get; set; }
    bool PopupVisibleSecurityAccess { get; set; } = false;
    bool PanelVisible { get; set; }
    bool EditEnabled { get; set; } = false; bool AddEnabled { get; set; } = false;
    bool DeleteEnabled { get; set; } = false; bool ExportEnabled { get; set; } = false;
    IReadOnlyList<object> SelectedDataItems { get; set; }
    private UserGroup? _selectedItems;
    private List<CodeMaster> _stausItems;
    public ApplicationUser applicationUser { get; private set; }
    DxPopup? popup;
    string? Name;
    bool PopupVisible { get; set; } = false;
    bool Blukdeletepopup { get; set; } = false;
    [Parameter]
    public Action<bool?> RevokeBack { get; set; }
    string? DeleteerrorMessage;
    private List<ViewEmployee>? _usersList; private List<PortalMenuModel> portalMenuModels { get; set; }
    protected override async Task OnInitializedAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        // Specify the path where the log file will be created
        string logFilePath = "wwwroot/logs/initialization-log.txt";

        // Log information
        string logMessage = $"Component initialized at: {DateTime.Now}\n";
        logMessage += $"Additional information {applicationUser.UserID}\n";

        // Write the log to a file
        WriteLogToFile(logFilePath, logMessage);

        _usersList = await Mediator.Send(new GetAllEmployeeListQuery());
        _stausItems = await Mediator.Send(new GetAllCodeMasterQuery("Status"));
        if (applicationUser != null && applicationUser.UserID > 0)
        {
            portalMenuModels = await Mediator.Send(new GetAllApplicationPermissionAllQuery(applicationUser?.UserID));
        }
        await UpdateDataAsync();
    }
    private void WriteLogToFile(string filePath, string message)
    {
        // Ensure the directory exists
        var directory = Path.GetDirectoryName(filePath);
        if (!Directory.Exists(directory))
        {
            Directory.CreateDirectory(directory);
        }

        // Write the message to the log file (append mode)
        File.AppendAllText(filePath, message);
    }
    async Task UpdateDataAsync()
    {
        PanelVisible = true; EditEnabled = false; DeleteEnabled = false; Name = string.Empty;
        _userGroupLists = await Mediator.Send(new GetAllUserGroupsQuery());
        PanelVisible = false;
        if (_userGroupLists?.Any() == true)
        {
            _selectedItems = _userGroupLists.FirstOrDefault();
            Name = _selectedItems.Name;
            EditEnabled = true; DeleteEnabled = true;
            Grid.SetFocusedRowIndex(0);
            Grid.ClearSelection();


            AddEnabled = portalMenuModels.Any(f => f.PermissionID == 60028);
            EditEnabled = portalMenuModels.Any(f => f.PermissionID == 60029);
            DeleteEnabled = portalMenuModels.Any(f => f.PermissionID == 60065);
            ExportEnabled = portalMenuModels.Any(f => f.PermissionID == 60066);
        }
        StateHasChanged();
    }
    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems;
        if (SelectedDataItems.Count > 1)
        {
            EditEnabled = false;
        }
        else
        {
            if (SelectedDataItems.Count == 1)
            {

                foreach (object item in SelectedDataItems)
                {
                    if (item is UserGroup dataselectItems)
                    {
                        _selectedItems = (UserGroup)item;
                    }
                }
            }
            EditEnabled = EditEnabled = portalMenuModels.Any(f => f.PermissionID == 60029);
        }
    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editablePlant = (UserGroup)e.EditModel;
        if (e.IsNew)
        {
            await AddOrUpdate(editablePlant);
            toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
        }
        else
        {
            await AddOrUpdate(editablePlant);
            toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
        }
    }
    async Task AddOrUpdate(UserGroup editablePlant)
    {
        var request = new InsertOrUpdateUserGroup
        {
            UserGroupId = editablePlant.UserGroupId,
            Name = editablePlant.Name,
            Description = editablePlant.Description,
            StatusCodeId = editablePlant.StatusCodeId,
            AddedDate = editablePlant.AddedDate == null ? DateTime.Now : editablePlant.AddedDate,
            ModifiedDate = DateTime.Now,
            AddedByUserId = editablePlant.AddedByUserId == null ? applicationUser.UserID : editablePlant.AddedByUserId,
            ModifiedByUserId =applicationUser.UserID,
            SelectUserIDs = editablePlant.SelectUserIDs,
            IsTms = true,
            StatusCode = _stausItems?.FirstOrDefault(f => f.CodeId == editablePlant.StatusCodeId)?.CodeValue,
            SelectUser = _usersList.Where(w => editablePlant.SelectUserIDs.Contains(w.UserID)).Select(s => s.FirstName).ToList(),
            AddedBy = applicationUser.UserName,
            ModifiedBy = applicationUser.UserName,
        };
        await Mediator.Send(request);
        await UpdateDataAsync();
    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
    }
    async void ClosePopup()
    {
        PopupVisible = false;
        await UpdateDataAsync();
    }
    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        if (e.IsNew)
        {
            var newplant = (UserGroup)e.EditModel;
            newplant.Description = null;
            newplant.Name = null;
            newplant.StatusCodeId = 1;
        }
    }
    void addNew()
    {
        Grid.StartEditNewRowAsync();

    }
    void addEdit()
    {
        EditEnabled = portalMenuModels.Any(f => f.PermissionID == 60029);
        if (EditEnabled == true)
        {
            Grid.StartEditDataItemAsync(_selectedItems);
        }
    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "UserGroupId");
        _selectedItems = _userGroupLists.FirstOrDefault(f => f.UserGroupId == (long?)UniqueId);
        Name = _selectedItems.Name;
        EditEnabled = portalMenuModels.Any(f => f.PermissionID == 60029);
        DeleteEnabled = portalMenuModels.Any(f => f.PermissionID == 60065);
        StateHasChanged();
    }
    public async Task OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addEdit();
    }
    void CloseSecurityAccessPopup()
    {
        InvokeAsync(UpdateDataAsync);
        PopupVisibleSecurityAccess = false;
    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    async Task bulkDelete()
    {
        try
        {

            if (SelectedDataItems != null)
            {
                foreach (object item in SelectedDataItems)
                {
                    if (item is UserGroup plants)
                    {
                        var request = new DeleteUserGroup(plants,applicationUser.UserID);
                        await Mediator.Send(request);
                        Blukdeletepopup = false;
                        toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        await UpdateDataAsync();
                        Grid.SetFocusedRowIndex(0);
                    }

                }
            }
        }
        catch (Exception eq)
        {
            //DeleteerrorMessage = eq.Message;
            //PopupVisible = true;
            Blukdeletepopup = false;
            toastService.ShowToast("The Selected Record Do not deleted", AC.SD.Core.Services.ToastLevel.Error);
        }
        // await UpdateDataAsync();
    }
    async Task ExportXlsx_Click()
    {
        if (SelectedDataItems != null)
        {

            await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {

                ExportSelectedRowsOnly = true,
                CustomizeCell = OnCustomizeCell

            });
        }
        else
        {
            await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {

                ExportSelectedRowsOnly = false,
                CustomizeCell = OnCustomizeCell

            });
        }
    }
    async Task ExportXls_Click()
    {
        await Grid.ExportToXlsAsync("ExportResult", new GridXlExportOptions()
        {
            ExportSelectedRowsOnly = ExportSelectedRowsOnly,
            CustomizeCell = OnCustomizeCell
        });
    }
    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    public async ValueTask DisposeAsync()
    {
        if (_userGroupLists != null)
        {
            _userGroupLists.Clear();
            _userGroupLists = null;
        }
        if (_usersList != null)
        {
            _usersList.Clear();
            _usersList = null;
        }
        if (_stausItems != null)
        {
            _stausItems.Clear();
            _stausItems = null;
        }
        SelectedDataItems = null;
        _selectedItems = null;
    }
    // public void Dispose()
    // {
    //     System.GC.Collect();
    //     GC.SuppressFinalize(this);
    // }
}
