@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor Accessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DocumentViewer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DocumentViewer.styles.css" asp-append-version="true" />
    <script src="~/node_modules/devextreme-dist/js/dx.all.js"></script>
    <link href="~/node_modules/devextreme-dist/css/dx.light.css" rel="stylesheet" />
    <script src="~/node_modules/jszip/dist/jszip.min.js"></script>
    <script src="~/node_modules/devexpress-aspnetcore-spreadsheet/localization/dx-spreadsheet.de.js"></script>

    <script src="~/node_modules/devexpress-aspnetcore-spreadsheet/dist/dx-aspnetcore-spreadsheet.js"></script>
    <link href="~/node_modules/devexpress-aspnetcore-spreadsheet/dist/dx-aspnetcore-spreadsheet.css" rel="stylesheet" />
    <link href="~/node_modules/devexpress-richedit/dist/dx.richedit.css" rel="stylesheet" />
    <script src="~/node_modules/devexpress-richedit/dist/dx.richedit.js"></script>
    <style>

        /* Style the profile menu container */
        .profile-menu {
            display: flex;
            align-items: center;
            background-color: #337ab7;
            color: #fff;
            padding: 10px 20px;
            justify-content: space-between;
        }

        /* Style the dropdown button */
        .dropbtn {
            background-color: transparent;
            color: #fff;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }

        /* Style the dropdown content (hidden by default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #337ab7;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            right: 0;
        }

            /* Style dropdown links */
            .dropdown-content a {
                color: #fff;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                /* Change color on hover */
                .dropdown-content a:hover {
                    background-color: #555;
                }

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }

        /* Style the user avatar */
        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }

        /* Style the username */
        .username {
            font-size: 18px;
            font-weight: bold;
        }
    </style>
</head>
<body>

    @if (@ViewBag.isUrl == "isUrl")
    {
        @if (Context.Session.GetString("user_id") != null)
        {
            <header>
                <div class="profile-menu">
                    <div>Sunward Document Viewer</div>
                    <div class="profile-info" style="text-align: right; dwidth: 67%;">
                        <span class="username">@Context.Session.GetString("user_name")</span>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">Menu &#9660;</button>
                        <div class="dropdown-content">
                            @if (@ViewBag.isExpired != "Yes")
                            {
                                @if (@ViewBag.isFile == "Yes")
                                {
                                    @if (@ViewBag.FileExtension == "msg" || @ViewBag.FileExtension == "eml")
                                    {
                                        <a href="javascript:void(0);" id="downloadMailClick">Download Mail Attachment</a>
                                    }
                                    @if (@ViewBag.isDownload == "Yes")
                                    {
                                        <a href="javascript:void(0);" id="downloadClick">Download</a>
                                        <a style="color:white;" href="javascript:void(0);" id="logoutClick">Logout</a>
                                    }
                                    else
                                    {
                                        <a style="color:white;" href="javascript:void(0);" id="logoutClick">Logout</a>
                                    }
                                }
                                else
                                {
                                    <a style="color:white;" href="javascript:void(0);" id="logoutClick">Logout</a>
                                }
                            }
                            else
                            {
                                <a style="color:white;" href="javascript:void(0);" id="logoutClick">Logout</a>
                            }
                        </div>
                    </div>
                </div>
            </header>
        }

    }
    @if (@ViewBag.Share == "isShare")
    {
        <header>
            <div class="profile-menu">
                <div>Sunward Document Viewer</div>
            </div>
        </header>
    }
    <div style="">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2023 - DocumentViewer - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


    <script type="text/javascript">
        $('#logoutClick').on('click', function () {
            $.ajax({
                url: '@Url.Action("logout","login")',
                method: 'GET',
                success: function (data) {
                    location.reload();
                },
                error: function (ex) {

                }
            });
        });
        $('#downloadMailClick').on('click', function () {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const url = urlParams.get('url');
            if (url != null) {
                var fileName = $("#fileName_id").html();
                if (fileName[fileName.length - 1] === ".")
                    fileName = fileName.slice(0, -1);
                $.ajax({
                    url: '@Url.Action("Maildownloadfromurl")',
                    data: { url: url },
                    method: 'GET',
                    xhrFields: {
                        responseType: 'blob'
                    },
                    success: function (data) {
                        if(data.size>0)
                        {
                            var a = document.createElement('a');
                            var url = window.URL.createObjectURL(data);
                            a.href = url;
                            a.download = fileName + ".zip";
                            document.body.append(a);
                            a.click();
                            a.remove();
                            window.URL.revokeObjectURL(url);
                        }
                        else
                        {
                            alert("File is not exist")
                        }
                    },
                    error: function (ex) {
                        if (ex.status == 500) {
                            alert("File is not exist")
                        }

                    }
                });
            }
        });
        $('#downloadClick').on('click', function () {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const url = urlParams.get('url');
            if (url != null) {
                var fileName = $("#fileName_id").html();
                $.ajax({
                    url: '@Url.Action("downloadfromurl")',
                    data: { url: url },
                    method: 'GET',
                    xhrFields: {
                        responseType: 'blob'
                    },
                    success: function (data) {
                        var a = document.createElement('a');
                        var url = window.URL.createObjectURL(data);
                        a.href = url;
                        a.download = fileName;
                        document.body.append(a);
                        a.click();
                        a.remove();
                        window.URL.revokeObjectURL(url);
                    },
                    error: function (ex) {
                        if (ex.status == 500) {
                            alert("File is not exist")
                        }

                    }
                });
            }
        });
    </script>
</body>
</html>
