@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor Accessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DocumentViewer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DocumentViewer.styles.css" asp-append-version="true" />
    <script src="~/node_modules/devextreme-dist/js/dx.all.js"></script>
    <link href="~/node_modules/devextreme-dist/css/dx.light.css" rel="stylesheet" />
    <script src="~/node_modules/jszip/dist/jszip.min.js"></script>
    <script src="~/node_modules/devexpress-aspnetcore-spreadsheet/localization/dx-spreadsheet.de.js"></script>

    <script src="~/node_modules/devexpress-aspnetcore-spreadsheet/dist/dx-aspnetcore-spreadsheet.js"></script>
    <link href="~/node_modules/devexpress-aspnetcore-spreadsheet/dist/dx-aspnetcore-spreadsheet.css" rel="stylesheet" />
    <link href="~/node_modules/devexpress-richedit/dist/dx.richedit.css" rel="stylesheet" />
    <script src="~/node_modules/devexpress-richedit/dist/dx.richedit.js"></script>
</head>
<body>
    <span style="display:none;" id="fileName_id">@Context.Session.GetString("fileName")</span>
    @if (Context.Session.GetString("user_id") != null)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="background-color: #3f51b5 !important;">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color:white;">Sunward Document Viewer</a>
                    @if (Context.Session.GetString("isDownload") == "Yes")
                    {
                        <a style="margin-left: 1100px;color:white;" href="javascript:void(0);" id="downloadClick">Download</a>
                        <a style="color:white;">@Context.Session.GetString("user_name")</a>
                        <a style="color:white;" href="javascript:void(0);" id="logoutClick">Logout</a>
                    }
                    else
                    {
                        <a style="margin-left: 1200px;color:white;">@Context.Session.GetString("user_name")</a>
                        <a style="color:white;" href="javascript:void(0);" id="logoutClick">Logout</a>
                    }

                    
                    
                </div>
            </nav>
        </header>
    }
    <div style="padding-left:10px;padding-right:10px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2023 - DocumentViewer - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


    <script type="text/javascript">
        $('#logoutClick').on('click', function () {
            $.ajax({
                url: '@Url.Action("logout","login")',
                method: 'GET',
                success: function (data) {
                    location.reload();
                },
                error: function (ex) {

                }
            });
        });
        $('#downloadClick').on('click', function () {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const url = urlParams.get('url');
            if (url != null) {
                var fileName = $("#fileName_id").html();
                $.ajax({
                    url: '@Url.Action("downloadfromurl")',
                    data: { url: url },
                    method: 'GET',
                    xhrFields: {
                        responseType: 'blob'
                    },
                    success: function (data) {
                        var a = document.createElement('a');
                        var url = window.URL.createObjectURL(data);
                        a.href = url;
                        a.download = fileName;
                        document.body.append(a);
                        a.click();
                        a.remove();
                        window.URL.revokeObjectURL(url);
                    },
                    error: function (ex) {
                        if (ex.status == 500) {
                            alert("File is not exist")
                        }

                    }
                });
            }
        });
    </script>
</body>
</html>
