@using Application.Commands;
@using Application.Queries;
@using Application.Response;
@using MediatR
@using global::Core.Entities;
@using global::Core.Entities.Views;
@inject IMediator Mediator
@using DevExpress.Export
@using global::Core.Repositories.Query;
@inject IJSRuntime jsRuntime;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService


<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" Enabled="@AddEnabled" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
                <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportToExcel" />
            </Items>
        </DxMenu>
    </div>
</div>


<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">
    <div class="text-center">
        <p>@errorMessage</p>
        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>
<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">
    <div class="text-center">
        <p>@DeleteerrorMessage</p>
        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>

<DxPopup @bind-Visible="@MessageVisible" HeaderText="@MessageHeader">
    <BodyTemplate Context="PopupContext">
        <div class="@((MessageHeader == "Error" ? "TxtRed" : "TxtGreen"))" style="text-align:center; padding: 10px; font-size: 15px;">
            <span> @MessageBody</span>
        </div>
    </BodyTemplate>
</DxPopup>

<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">

    <DxGrid @ref="SMGrid" Data="@_navCrossReferenceItems" EditModelSaving="@OnEditModelSaving" DataItemDeleting="@OnDeleteDataItem" EditMode="GridEditMode.EditForm" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            KeyFieldName="NavCrossReferenceId"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            CssClass="ch-360"
            FocusedRowEnabled="true"
            RowClick="OnRowClick"
            AllowSelectRowByClick="true"
            CustomizeElement="Grid_CustomizeElement"
            CustomizeEditModel="Grid_CustomizeEditModel"
            AutoExpandAllGroupRows="true"
            SelectionMode="GridSelectionMode.Multiple"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            RowDoubleClick="OnRowDoubleClick" SelectedDataItemsChanged="@SelectedDataItemsChanged">


        <Columns>
            <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
            <DxGridDataColumn FieldName="NavCrossReferenceId" Visible="false" />
            <DxGridDataColumn FieldName="TypeOfCompany" Caption="Type Of Company" />
            <DxGridDataColumn FieldName="CustomerName" Caption="Name">
                <CellDisplayTemplate>
                    @{
                        var item = (View_NavCrossReference)context.DataItem;
                        var Names = item.TypeOfCompany == "Inter Company" ?item.PlantDescription: item.CustomerName;
                    }
                    @Names
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="ShipCode" Caption="Code">
                <CellDisplayTemplate>
                    @{
                        var item = (View_NavCrossReference)context.DataItem;
                        var Codes = item.TypeOfCompany == "Inter Company" ? item.PlantCode : item.ShipCode;
                    }
                    @Codes
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="CrossReferenceNo" Caption="Cross Reference No" />

            <DxGridCommandColumn Width="160px" Visible="false" />
        </Columns>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="CrossReferenceNo" />
        </TotalSummary>
        <EditFormTemplate Context="EditFormContext">
            @{
                var types = (View_NavCrossReference)EditFormContext.EditModel;
            }
            <DxFormLayout CssClass="w-100">

                <DxFormLayoutItem Caption="Type Of Company">
                    <DxComboBox Data="@TypeList" @bind-Value="@types.TypeOfCompany" SelectedItemChanged="@((string soCustomer) => SelectedItemChanged(soCustomer))" ShowValidationIcon="true" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Company" ColSpanMd="6" Visible="isCompany">
                    <DxComboBox Data="@_plantItems"
                                NullText="Select Company..."
                                ListRenderMode="ListRenderMode.Virtual"
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="PlantCode"
                                ValueFieldName="PlantID"
                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                @bind-Value="@types.CompanyId" ShowValidationIcon="true">
                        <Columns>
                            <DxListEditorColumn FieldName="@nameof(ViewPlants.PlantCode)"
                                                Caption="Customer Name"
                                                Width="180px" />
                            <DxListEditorColumn FieldName="@nameof(ViewPlants.Description)"
                                                Caption="Description" />
                            <DxListEditorColumn FieldName="@nameof(ViewPlants.NavCompanyName)"
                                                Caption="Nav Company" />
                        </Columns>
                    </DxComboBox>
                    <ValidationMessage For="@(() => types.CompanyId)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Customer Name" ColSpanMd="6" Visible="isSoCompany">
                    <DxComboBox Data="@_AllSoCustomer"
                                NullText="Select Customer..."
                                ListRenderMode="ListRenderMode.Virtual"
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="CustomerName"
                                ValueFieldName="SoCustomerId"
                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                @bind-Value="@types.SoCustomerId" ShowValidationIcon="true">
                        <Columns>
                            <DxListEditorColumn FieldName="@nameof(SoCustomer.CustomerName)"
                                                Caption="Customer Name"
                                                Width="180px" />
                            <DxListEditorColumn FieldName="@nameof(SoCustomer.ShipCode)"
                                                Caption="Ship Code" />
                            <DxListEditorColumn FieldName="@nameof(SoCustomer.AssignToRep)"
                                                Caption="AssignTo Rep" />
                        </Columns>
                    </DxComboBox>
                    <ValidationMessage For="@(() => types.SoCustomerId)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Cross ReferenceNo" ColSpanMd="6">
                    <DxTextBox @bind-Text="@types.CrossReferenceNo" ShowValidationIcon="true" />
                    <ValidationMessage For="@(() => types.CrossReferenceNo)" />
                </DxFormLayoutItem>
                <ValidationSummary />
            </DxFormLayout>
        </EditFormTemplate>

    </DxGrid>
</DxLoadingPanel>

<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="CRT"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>

@code {
    [Parameter]
    public long? ItemId { get; set; }
    List<string> TypeList = new List<string>() { "Vendor", "Customer", "Inter Company" };
    bool PanelVisible { get; set; }
    IReadOnlyList<object> SelectedDataItems { get; set; }
    private string gridHeight = "calc(100vh - 230px - 143px)";
    private List<View_NavCrossReference>? _navCrossReferenceItems;
    IGrid? SMGrid { get; set; }
    private List<SoCustomer>? _AllSoCustomer;
    private List<ViewPlants>? _plantItems;
    private View_NavCrossReference _selectedItems;
    //bool EditEnabled { get; set; } = true;
    bool DeleteEnabled { get; set; } = false;
    bool isCompany { get; set; } = false;
    bool isSoCompany { get; set; } = false;
    bool ExportSelectedRowsOnly { get; set; }
    DxPopup? popup;
    bool PopupVisible { get; set; } = false;
    string? errorMessage;
    string? DeleteerrorMessage;
    bool MessageVisible { get; set; }
    string styleClass = "";
    string MessageHeader = "Error";
    string MessageBody = "";
    private bool loading;
    bool Blukdeletepopup { get; set; } = false;
    bool EditEnabled { get; set; } = false;
    bool AddEnabled { get; set; } = false;
    string SelectedGroup = "none";
    private View_NavCrossReference _selectlst;
    public ApplicationUser? applicationUser { get; private set; }

    protected override async Task OnInitializedAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _plantItems = await Mediator.Send(new GetAllPlantQuery());
        await UpdateDataAsync();
    }
    async Task Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        var navitems = (View_NavCrossReference)e.EditModel;
        if (e.IsNew)
        {
            isCompany = false;
            isSoCompany = false;
        }
        else
        {
            await SelectedItemChanged(navitems.TypeOfCompany);
        }
    }
    public async Task loadData(long? itemId)
    {
        ItemId = itemId;
        await UpdateDataAsync();
    }
    async Task SelectedItemChanged(string TypeOfCompany)
    {
        if (TypeOfCompany == "Inter Company")
        {
            isCompany = true;
            isSoCompany = false;
        }
        else
        {
            isCompany = false;
            isSoCompany = true;
            _AllSoCustomer = await Mediator.Send(new GetSoCustomerByTypeQuery(TypeOfCompany));
            StateHasChanged();
        }
    }
    async Task UpdateDataAsync()
    {
        PanelVisible = true;
        if (ItemId > 0)
        {
            AddEnabled = true;
            _navCrossReferenceItems = await Mediator.Send(new GetNavCrossReferenceQuery(ItemId.Value));

            if (_navCrossReferenceItems.Count > 0)
            {
                _selectedItems = _navCrossReferenceItems.FirstOrDefault();

                if (SelectedDataItems != null)
                {
                    EditEnabled = true;
                    DeleteEnabled = true;

                    StateHasChanged();
                }
            }
        }
        PanelVisible = false;
        StateHasChanged();
    }
    async Task ExportToExcel()
    {
        await SMGrid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = true,

                CustomizeCell = OnCustomizeCell
            });

    }


    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }

    async Task OnEditModelSaving(GridEditModelSavingEventArgs e)
    {

        var editModel = (View_NavCrossReference)e.EditModel;

        if (e.IsNew)
        {


            var createReq = new CreateNavCrossReferenceCommand
                {
                    ItemId = ItemId,
                    CrossReferenceNo = editModel.CrossReferenceNo,
                    TypeOfCompany = editModel.TypeOfCompany,
                    CompanyId = editModel.CompanyId,
                    SoCustomerId = editModel.SoCustomerId,
                };

            try
            {
                var result = await Mediator.Send(createReq);
                toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            }
            catch (Exception eq)
            {

                errorMessage = eq.Message;
                PopupVisible = true;

            }

            await UpdateDataAsync();


        }
        else
        {
            var UpdateReq = new EditNavCrossReferenceCommand
                {
                    NavCrossReferenceId = editModel.NavCrossReferenceId,
                    ItemId = ItemId,
                    CrossReferenceNo = editModel.CrossReferenceNo,
                    TypeOfCompany = editModel.TypeOfCompany,
                    CompanyId = editModel.CompanyId,
                    SoCustomerId = editModel.SoCustomerId
                };

            var ans = await Mediator.Send(UpdateReq);
            toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();

        }

    }
    private async void onShowPopupMessage(string headerText, string bodyText)
    {

        MessageVisible = true;
        MessageBody = bodyText;
        MessageHeader = headerText;
        loading = false;
        StateHasChanged();
    }
    async void ClosePopup()
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
        await UpdateDataAsync();
    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
        UpdateDataAsync();
    }
    async Task OnDeleteDataItem(GridDataItemDeletingEventArgs e)
    {

        var editModel = (View_NavCrossReference)e.DataItem;
        var request = new DeleteNavCrossReference(editModel.NavCrossReferenceId);
        await Mediator.Send(request);
        await UpdateDataAsync();
        SMGrid.SetFocusedRowIndex(0);

    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    void Onclick(DataGridSelection<View_NavCrossReference> e)
    {



    }

    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "NavCrossReferenceId");
        _selectedItems = _navCrossReferenceItems.FirstOrDefault(f => f.NavCrossReferenceId == (long?)UniqueId);
        StateHasChanged();

    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addEdit();
    }
    void addNew()
    {
        SMGrid.StartEditNewRowAsync();

    }
    void addEdit()
    {


        if (SelectedDataItems.Count == 1)
        {

            foreach (object item in SelectedDataItems)
            {

                if (item is View_NavCrossReference SalesOrderMasterPricingLineSellingMethod)
                {

                    _selectlst = _navCrossReferenceItems.FirstOrDefault(f => f.NavCrossReferenceId == SalesOrderMasterPricingLineSellingMethod.NavCrossReferenceId);


                }
            }
            SMGrid.StartEditDataItemAsync(_selectlst);
        }
        else
        {
            SMGrid.StartEditDataItemAsync(_selectedItems);
        }


    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    async Task bulkDelete()
    {
        try
        {
            if (SelectedDataItems != null)
            {
                foreach (object item in SelectedDataItems)
                {

                    if (item is View_NavCrossReference SalesOrderMasterPricingLineSellingMethod)
                    {

                        var request = new DeleteNavCrossReference(SalesOrderMasterPricingLineSellingMethod.NavCrossReferenceId);
                        await Mediator.Send(request);
                        Blukdeletepopup = false;
                        toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        SMGrid.SetFocusedRowIndex(0);
                    }

                }
            }
        }
        catch (Exception eq)
        {
            DeleteerrorMessage = eq.Message;
            PopupVisible = true;
        }

        await UpdateDataAsync();


    }
    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems;

        if (SelectedDataItems.Count > 1)
        {
            EditEnabled = false;
            DeleteEnabled = false;
        }
        else
        {
            EditEnabled = true;

            DeleteEnabled = true;
        }

    }
}
