@using Application.Commands;
@using Application.Queries;
@using MediatR
@using global::Core.Entities;
@using global::Core.Entities.Views;
@inject IMediator Mediator
@using DevExpress.Export
@inject AC.SD.Core.Services.ToastService toastService
@using global::Core.Repositories.Query;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@implements IAsyncDisposable
<style>
    .alt-item > td {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .header-bold span {
        font-weight: 700;
    }

</style>
@page "/FinishedProdOrderLineList"

<div id="NavHeader">
    <div class="card w-100" style="margin-bottom:10px; margin-top:10px">
        <div class="card-body p-0">
            <DxMenu CollapseItemsToHamburgerMenu="true"
                    CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                    DisplayMode="MenuDisplayMode.Desktop">
                <Items>
                    <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" />
                    <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                    <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
                    <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportXlsx_Click" />
                </Items>
            </DxMenu>
        </div>
    </div>
    <DxLoadingPanel @bind-Visible="PanelVisible"
                    IsContentBlocked="true"
                    ApplyBackgroundShading="true"
                    IndicatorAreaVisible="false"
                    Text="Fetching Data...">
        <DxGrid @ref="Grid" FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                ColumnResizeMode="GridColumnResizeMode.NextColumn"
                Data="_documentRole"
                ShowGroupPanel="true" ShowGroupedColumns="true"
                KeyFieldName="FinishedProdOrderLineId"
                EditModelSaving="Grid_EditModelSaving"
                CustomizeEditModel="Grid_CustomizeEditModel"
                CustomizeElement="Grid_CustomizeElement"
                ShowSearchBox="true"
                PagerNavigationMode="PagerNavigationMode.InputBox"
                PageSizeSelectorVisible="true"
                PageSizeSelectorAllRowsItemVisible="true"
                PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                PageSize="20"
                SelectionMode="GridSelectionMode.Multiple"
                SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
                AutoExpandAllGroupRows="true"
                CssClass="ch-360"
                style="height: calc(100vh - 270px);"
                FocusedRowEnabled="true"
                RowDoubleClick="OnRowDoubleClick"
                SelectedDataItemsChanged="@SelectedDataItemsChanged"
                RowClick="OnRowClick"
                VirtualScrollingEnabled="true"
                AllowSelectRowByClick="true">
            <Columns>
                <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
                <DxGridDataColumn FieldName="FinishedProdOrderLineId" Visible="false" />
                <DxGridDataColumn FieldName="CompanyCode" Caption="Company" />
                <DxGridDataColumn FieldName="ProdOrderNo" Caption="Prod OrderNo" />
                <DxGridDataColumn FieldName="ItemNo" Caption="Item No" />
                <DxGridDataColumn FieldName="Description" />
                <DxGridDataColumn FieldName="Description2" />
                <DxGridDataColumn FieldName="ReplanRefNo" Caption="Replan RefNo" />
                <DxGridDataColumn FieldName="BatchNo" />
                <DxGridDataColumn FieldName="StartingDate" Caption="Starting Date" />
                <DxGridDataColumn FieldName="ManufacturingDate" Caption="Manufacturing Date" />
                <DxGridDataColumn FieldName="Status" Caption="Status" />
                <DxGridDataColumn FieldName="OptStatus" Caption="OptStatus" />
            </Columns>

            <EditFormTemplate Context="EditFormContext">
                @{
                    var plant = (FinishedProdOrderLine)EditFormContext.EditModel;
                }
                <DxFormLayout CssClass="w-100">
                    <DxFormLayoutItem Caption="Company" ColSpanMd="6">
                        <DxComboBox Data="@_plantItems"
                                    NullText="Select Company..."
                                    ListRenderMode="ListRenderMode.Virtual"
                                    SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    TextFieldName="PlantCode"
                                    ValueFieldName="PlantID"
                                    Value="@plant.CompanyId"
                                    ValueExpression="@(() =>plant.CompanyId )"
                                    ValueChanged="@((long? plantData) => SelectedPlantChanged(plantData,plant))"
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                    ShowValidationIcon="true">
                            <Columns>
                                <DxListEditorColumn FieldName="@nameof(ViewPlants.PlantCode)"
                                                    Caption="Company Code"
                                                    Width="180px" />
                                <DxListEditorColumn FieldName="@nameof(ViewPlants.Description)"
                                                    Caption="Description" />
                                <DxListEditorColumn FieldName="@nameof(ViewPlants.NavCompany)"
                                                    Caption="Nav Company" />
                            </Columns>
                        </DxComboBox>
                        <ValidationMessage For="@(() => plant.CompanyId)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Item" ColSpanMd="6">
                        <DxComboBox Data="@_AllNavitemsList"
                                    NullText="Select Item..."
                                    ListRenderMode="ListRenderMode.Virtual"
                                    TextFieldName="No"
                                    ValueFieldName="ItemId"
                                    EditFormat="{0}-{1}"
                                    SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    Value="@plant.ItemId"
                                    ValueExpression="@(() =>plant.ItemId )"
                                    ValueChanged="@((long? plantData) => SelectedItemChanged(plantData,plant))"
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                    ShowValidationIcon="true">
                            <Columns>
                                <DxListEditorColumn FieldName="@nameof(View_NavItems.No)"
                                                    Caption="Item" />
                                <DxListEditorColumn FieldName="@nameof(View_NavItems.Description)"
                                                    Caption="Description" />
                                <DxListEditorColumn FieldName="@nameof(View_NavItems.Description2)"
                                                    Caption="Description2" />

                            </Columns>

                        </DxComboBox>
                        <ValidationMessage For="@(() => plant.ItemId)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Prod OrderNo" ColSpanMd="6">
                        <DxTextBox @bind-Text="@plant.ProdOrderNo" ShowValidationIcon="true" />
                        <ValidationMessage For="@(() => plant.ProdOrderNo)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Item No" ColSpanMd="6">
                        <DxTextBox @bind-Text="@plant.ItemNo" ShowValidationIcon="true" />
                        <ValidationMessage For="@(() => plant.ItemNo)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Description" ColSpanMd="6">
                        <DxTextBox @bind-Text="@plant.Description" ShowValidationIcon="true" />
                        <ValidationMessage For="@(() => plant.Description)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Description2" ColSpanMd="6">
                        <DxTextBox @bind-Text="@plant.Description2" ShowValidationIcon="true" />
                        <ValidationMessage For="@(() => plant.Description2)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Replan RefNo" ColSpanMd="6">
                        <DxTextBox @bind-Text="@plant.ReplanRefNo" ShowValidationIcon="true" />
                        <ValidationMessage For="@(() => plant.ReplanRefNo)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Batch No" ColSpanMd="6">
                        <DxTextBox @bind-Text="@plant.BatchNo" ShowValidationIcon="true" />
                        <ValidationMessage For="@(() => plant.BatchNo)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Starting Date" ColSpanMd="6">
                        <DxDateEdit @bind-Date="@plant.StartingDate" ShowValidationIcon="true" />
                        <ValidationMessage For="@(() => plant.StartingDate)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Expiration Date" ColSpanMd="6">
                        <DxDateEdit @bind-Date="@plant.ExpirationDate" ShowValidationIcon="true" />
                        <ValidationMessage For="@(() => plant.ExpirationDate)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Product Code" ColSpanMd="6">
                        <DxTextBox @bind-Text="@plant.ProductCode" ShowValidationIcon="true" />
                        <ValidationMessage For="@(() => plant.ProductCode)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Product Name" ColSpanMd="6">
                        <DxTextBox @bind-Text="@plant.ProductName" ShowValidationIcon="true" />
                        <ValidationMessage For="@(() => plant.ProductName)" />
                    </DxFormLayoutItem>
                    @* <DxFormLayoutItem Caption="Status" ColSpanMd="6">
                    <DxTextBox @bind-Text="@plant.Status" ShowValidationIcon="true" />
                    <ValidationMessage For="@(() => plant.Status)" />
                    </DxFormLayoutItem> *@
                    <DxFormLayoutItem Caption="OptStatus" ColSpanMd="6">
                        <DxComboBox Data="@finishedProdOrderLineOptStatuses"
                                    NullText="Select OptStatus..."
                                    ListRenderMode="ListRenderMode.Virtual"
                                    TextFieldName="OptStatus"
                                    ValueFieldName="OptStatus"
                                    SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    Value="@plant.OptStatus"
                                    ValueExpression="@(() =>plant.OptStatus )"
                                    ValueChanged="@((string? plantData) => SelectedOptStatusChanged(plantData,plant))"
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                    ShowValidationIcon="true">

                        </DxComboBox>
                        <ValidationMessage For="@(() => plant.OptStatus)" />
                    </DxFormLayoutItem>
                </DxFormLayout>
            </EditFormTemplate>
            <TotalSummary>
                <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="ItemNo" />
            </TotalSummary>
        </DxGrid>
    </DxLoadingPanel>
</div>
<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="Delete"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @ref="popup" HeaderText="Delete" ShowCloseButton="true" @bind-Visible="@PopupVisible">


    <div class="text-center">
        <p>@DeleteerrorMessage</p>

        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>


</DxPopup>


@code {
    private List<FinishedProdOrderLineOptStatus> finishedProdOrderLineOptStatuses;
    private List<View_NavItems>? _AllNavitemsList;
    private List<FinishedProdOrderLine> _documentRole;
    private List<ViewPlants>? _plantItems;
    IGrid Grid { get; set; }
    bool ExportSelectedRowsOnly { get; set; }
    bool PanelVisible { get; set; } = true;
    bool EditEnabled { get; set; } = false;
    IReadOnlyList<object> SelectedDataItems { get; set; }
    private FinishedProdOrderLine? _selectedItems;
    private List<CodeMaster> _stausItems;
    bool DeleteEnabled { get; set; } = false;
    public ApplicationUser applicationUser { get; private set; }
    DxPopup? popup;
    bool PopupVisible { get; set; } = false;
    bool Blukdeletepopup { get; set; } = false;
    bool deletepopup { get; set; } = false;
    string? DeleteerrorMessage;
    protected override async Task OnInitializedAsync()
    {

        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _plantItems = await Mediator.Send(new GetAllPlantByNavCompanyQuery());
        finishedProdOrderLineOptStatuses = await Mediator.Send(new GetFinishedProdOrderLineOptStatusQuery());
        _stausItems = await Mediator.Send(new GetAllCodeMasterQuery("Status"));
        await UpdateDataAsync();
    }
    async Task UpdateDataAsync()
    {
        try
        {
            PanelVisible = true; EditEnabled = false; DeleteEnabled = false;
            _documentRole = await Mediator.Send(new GetFinishedProdOrderLineAllQuery());
            if (_documentRole.Count > 0)
            {
                _selectedItems = _documentRole.FirstOrDefault();
                EditEnabled = true; DeleteEnabled = true;
                Grid.SetFocusedRowIndex(0);
                Grid.ClearSelection();
                PanelVisible = false;
                StateHasChanged();
            }
            PanelVisible = false;
            StateHasChanged();
        }
        catch (Exception ex)
        {

        }
    }
    async Task SelectedPlantChanged(long? companyId, FinishedProdOrderLine finishedProdOrderLine)
    {
        _AllNavitemsList = new List<View_NavItems>();
        finishedProdOrderLine.CompanyId = companyId;
        if (companyId > 0)
        {
            _AllNavitemsList = await Mediator.Send(new GetAllNavItemsByCompanyQuery(companyId));
        }
        StateHasChanged();
    }
    void SelectedItemChanged(long? itemid, FinishedProdOrderLine finishedProdOrderLine)
    {
        finishedProdOrderLine.ItemId = itemid;
        var items = _AllNavitemsList != null && _AllNavitemsList.Count() > 0 ? _AllNavitemsList.FirstOrDefault(f => f.ItemId == itemid) : new View_NavItems();
        finishedProdOrderLine.ItemNo = items?.No;
        finishedProdOrderLine.Description = items?.Description;
        finishedProdOrderLine.Description2 = items?.Description2;
    }
    void SelectedOptStatusChanged(string? opStatus, FinishedProdOrderLine finishedProdOrderLine)
    {
        finishedProdOrderLine.OptStatus = opStatus;
    }
    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems;
        if (SelectedDataItems.Count > 1)
        {
            EditEnabled = false;
        }
        else
        {
            if (SelectedDataItems.Count == 1)
            {

                foreach (object item in SelectedDataItems)
                {
                    if (item is FinishedProdOrderLine dataselectItems)
                    {
                        _selectedItems = (FinishedProdOrderLine)item;
                    }
                }
            }
            EditEnabled = true;
        }
    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editablePlant = (FinishedProdOrderLine)e.EditModel;
        if (e.IsNew)
        {
            await AddOrUpdate(editablePlant);
            toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
        }
        else
        {
            await AddOrUpdate(editablePlant);
            toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
        }
    }
    async Task AddOrUpdate(FinishedProdOrderLine editablePlant)
    {
        var request = new InsertOrUpdateFinishedProdOrderLine
            {
                FinishedProdOrderLineId = editablePlant.FinishedProdOrderLineId,
                ItemId = editablePlant.ItemId,
                CompanyId = editablePlant.CompanyId,
                Status = "Finished",
                ProdOrderNo = editablePlant.ProdOrderNo,
                OrderLineNo = editablePlant.OrderLineNo,
                ItemNo = editablePlant.ItemNo,
                Description = editablePlant.Description,
                Description2 = editablePlant.Description2,
                ReplanRefNo = editablePlant.ReplanRefNo,
                StartingDate = editablePlant.StartingDate,
                BatchNo = editablePlant.BatchNo,
                ManufacturingDate = editablePlant.ManufacturingDate,
                ExpirationDate = editablePlant.ExpirationDate,
                ProductCode = editablePlant.ProductCode,
                ProductName = editablePlant.ProductName,
                OptStatus = editablePlant.OptStatus == "Empty" ? "" : editablePlant.OptStatus,
            };
        await Mediator.Send(request);
        await UpdateDataAsync();
    }
    void EulaPopupPermissionClosed(PopupClosedEventArgs args)
    {

    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
    }
    async void ClosePopup()
    {
        PopupVisible = false;
        await UpdateDataAsync();
    }
    async Task Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        _AllNavitemsList = new List<View_NavItems>();
        var newplant = (FinishedProdOrderLine)e.EditModel;
        if (e.IsNew)
        {

        }
        else
        {
            newplant.OptStatus = newplant.OptStatus == "" ? "Empty" : newplant.OptStatus;
            if (newplant.CompanyId > 0)
            {
                _AllNavitemsList = await Mediator.Send(new GetAllNavItemsByCompanyQuery(newplant.CompanyId));
            }
        }
        StateHasChanged();
    }
    void addNew()
    {
        Grid.StartEditNewRowAsync();

    }
    void addEdit()
    {
        Grid.StartEditDataItemAsync(_selectedItems);
    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "FinishedProdOrderLineId");
        _selectedItems = _documentRole.FirstOrDefault(f => f.FinishedProdOrderLineId == (long?)UniqueId);
        EditEnabled = true; DeleteEnabled = true;
        StateHasChanged();
    }
    public async Task OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addEdit();
    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    async Task bulkDelete()
    {
        try
        {

            if (SelectedDataItems != null)
            {
                foreach (object item in SelectedDataItems)
                {
                    if (item is FinishedProdOrderLine plants)
                    {
                        var request = new DeleteFinishedProdOrderLine(plants);
                        await Mediator.Send(request);
                        Blukdeletepopup = false;
                        toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        await UpdateDataAsync();
                        Grid.SetFocusedRowIndex(0);
                    }

                }
            }
        }
        catch (Exception eq)
        {
            //DeleteerrorMessage = eq.Message;
            //PopupVisible = true;
            Blukdeletepopup = false;
            toastService.ShowToast("The Selected Record Do not deleted", AC.SD.Core.Services.ToastLevel.Error);
        }
        // await UpdateDataAsync();
    }
    async Task ExportXlsx_Click()
    {
        if (SelectedDataItems != null)
        {

            await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
                {

                    ExportSelectedRowsOnly = true,
                    CustomizeCell = OnCustomizeCell

                });
        }
        else
        {
            await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
                {

                    ExportSelectedRowsOnly = false,
                    CustomizeCell = OnCustomizeCell

                });
        }
    }
    async Task ExportXls_Click()
    {
        await Grid.ExportToXlsAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = ExportSelectedRowsOnly,
                CustomizeCell = OnCustomizeCell
            });
    }
    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    public async ValueTask DisposeAsync()
    {
        //System.GC.Collect();
        _documentRole?.Clear();
        _plantItems?.Clear();
        SelectedDataItems = null;
        _selectedItems = null;
        _stausItems?.Clear();
        //GC.SuppressFinalize(this);
    }
}
