@using Application.Commands;
@using Application.Queries;
@using MediatR
@using global::Core.Entities;
@using global::Core.Entities.Views;
@inject IMediator Mediator
@using DevExpress.Export
@inject AC.SD.Core.Services.ToastService toastService
@using global::Core.Repositories.Query;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@implements IAsyncDisposable
<style>
    .alt-item > td {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .header-bold span {
        font-weight: 700;
    }

</style>
@page "/NavprodOrderLineList"

<div id="NavHeader">
    <div class="card w-100" style="margin-bottom:10px; margin-top:10px">
        <div class="card-body p-0">
            <DxMenu CollapseItemsToHamburgerMenu="true"
                    CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                    DisplayMode="MenuDisplayMode.Desktop">
                <Items>
                    <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" />
                    <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                    <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
                    <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportXlsx_Click" />
                </Items>
            </DxMenu>
        </div>
    </div>
    <DxLoadingPanel @bind-Visible="PanelVisible"
                    IsContentBlocked="true"
                    ApplyBackgroundShading="true"
                    IndicatorAreaVisible="false"
                    Text="Fetching Data...">
        <DxGrid @ref="Grid" FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                ColumnResizeMode="GridColumnResizeMode.NextColumn"
                Data="_documentRole"
                ShowGroupPanel="true" ShowGroupedColumns="true"
                KeyFieldName="NavprodOrderLineId"
                EditModelSaving="Grid_EditModelSaving"
                CustomizeEditModel="Grid_CustomizeEditModel"
                CustomizeElement="Grid_CustomizeElement"
                ShowSearchBox="true"
                PagerNavigationMode="PagerNavigationMode.InputBox"
                PageSizeSelectorVisible="true"
                PageSizeSelectorAllRowsItemVisible="true"
                PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                PageSize="20"
                SelectionMode="GridSelectionMode.Multiple"
                SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
                AutoExpandAllGroupRows="true"
                CssClass="ch-360"
                style="height: calc(100vh - 270px);"
                FocusedRowEnabled="true"
                RowDoubleClick="OnRowDoubleClick"
                SelectedDataItemsChanged="@SelectedDataItemsChanged"
                RowClick="OnRowClick"
                VirtualScrollingEnabled="true"
                AllowSelectRowByClick="true">
            <Columns>
                <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
                <DxGridDataColumn FieldName="NavprodOrderLineId" Visible="false" />
                <DxGridDataColumn FieldName="CompanyName" Caption="Company" />
                <DxGridDataColumn FieldName="ProdOrderNo" Caption="Prod OrderNo" />
                <DxGridDataColumn FieldName="ItemNo" Caption="Item No" />
                <DxGridDataColumn FieldName="Description" />
                <DxGridDataColumn FieldName="Description1" />
                <DxGridDataColumn FieldName="RePlanRefNo" Caption="TicketNo" />
                <DxGridDataColumn FieldName="BatchNo" />
                <DxGridDataColumn FieldName="StartDate" />
                <DxGridDataColumn FieldName="Status" />
            </Columns>

            <EditFormTemplate Context="EditFormContext">
                @{
                    var plant = (NavprodOrderLine)EditFormContext.EditModel;
                }
                <DxFormLayout CssClass="w-100">
                    <DxFormLayoutItem Caption="Company" ColSpanMd="6">
                        <DxComboBox Data="@_plantItems"
                                    NullText="Select Company..."
                                    ListRenderMode="ListRenderMode.Virtual"
                                    SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    TextFieldName="PlantCode"
                                    ValueFieldName="PlantID"
                                    @bind-Value="@plant.CompanyId"
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                    ShowValidationIcon="true">
                            <Columns>
                                <DxListEditorColumn FieldName="@nameof(ViewPlants.PlantCode)"
                                                    Caption="Company Code"
                                                    Width="180px" />
                                <DxListEditorColumn FieldName="@nameof(ViewPlants.Description)"
                                                    Caption="Description" />
                                <DxListEditorColumn FieldName="@nameof(ViewPlants.NavCompany)"
                                                    Caption="Nav Company" />
                            </Columns>
                        </DxComboBox>
                        <ValidationMessage For="@(() => plant.CompanyId)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Prod Order No" ColSpanMd="6">
                        <DxTextBox @bind-Text="@plant.ProdOrderNo" ShowValidationIcon="true" />
                        <ValidationMessage For="@(() => plant.ProdOrderNo)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Item No" ColSpanMd="6">
                        <DxTextBox @bind-Text="@plant.ItemNo" ShowValidationIcon="true" />
                        <ValidationMessage For="@(() => plant.ItemNo)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Description" ColSpanMd="6">
                        <DxTextBox @bind-Text="@plant.Description" ShowValidationIcon="true" />
                        <ValidationMessage For="@(() => plant.Description)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Description1" ColSpanMd="6">
                        <DxTextBox @bind-Text="@plant.Description1" ShowValidationIcon="true" />
                        <ValidationMessage For="@(() => plant.Description1)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Batch No" ColSpanMd="6">
                        <DxTextBox @bind-Text="@plant.BatchNo" ShowValidationIcon="true" />
                        <ValidationMessage For="@(() => plant.BatchNo)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Ticket No" ColSpanMd="6">
                        <DxTextBox @bind-Text="@plant.RePlanRefNo" ShowValidationIcon="true" />
                        <ValidationMessage For="@(() => plant.RePlanRefNo)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Start Date" ColSpanMd="6">
                        <DxDateEdit @bind-Date="@plant.StartDate" ShowValidationIcon="true" />
                        <ValidationMessage For="@(() => plant.StartDate)" />
                    </DxFormLayoutItem>
                </DxFormLayout>
            </EditFormTemplate>
            <TotalSummary>
                <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="ItemNo" />
            </TotalSummary>
        </DxGrid>
    </DxLoadingPanel>
</div>
<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="Delete"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @ref="popup" HeaderText="Delete" ShowCloseButton="true" @bind-Visible="@PopupVisible">


    <div class="text-center">
        <p>@DeleteerrorMessage</p>

        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>


</DxPopup>


@code {
    private List<View_NavItems>? _AllNavitems;
    private List<NavprodOrderLine> _documentRole;
    private List<ViewPlants>? _plantItems;
    IGrid Grid { get; set; }
    bool ExportSelectedRowsOnly { get; set; }
    bool PanelVisible { get; set; } = true;
    bool EditEnabled { get; set; } = false;
    IReadOnlyList<object> SelectedDataItems { get; set; }
    private NavprodOrderLine? _selectedItems;
    private List<CodeMaster> _stausItems;
    bool DeleteEnabled { get; set; } = false;
    public ApplicationUser applicationUser { get; private set; }
    DxPopup? popup;
    bool PopupVisible { get; set; } = false;
    bool Blukdeletepopup { get; set; } = false;
    bool deletepopup { get; set; } = false;
    string? DeleteerrorMessage;
    protected override async Task OnInitializedAsync()
    {

        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _plantItems = await Mediator.Send(new GetAllPlantByNavCompanyQuery());
        await UpdateDataAsync();
    }
    async Task UpdateDataAsync()
    {
        try
        {
            PanelVisible = true; EditEnabled = false; DeleteEnabled = false;
            _documentRole = await Mediator.Send(new GetNavprodOrderLineListAllQuery());
            if (_documentRole.Count > 0)
            {
                _selectedItems = _documentRole.FirstOrDefault();
                EditEnabled = true; DeleteEnabled = true;
                Grid.SetFocusedRowIndex(0);
                Grid.ClearSelection();
                PanelVisible = false;
                StateHasChanged();
            }
            PanelVisible = false;
            StateHasChanged();
        }
        catch (Exception ex)
        {

        }
    }
    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems;
        if (SelectedDataItems.Count > 1)
        {
            EditEnabled = false;
        }
        else
        {
            if (SelectedDataItems.Count == 1)
            {

                foreach (object item in SelectedDataItems)
                {
                    if (item is NavprodOrderLine dataselectItems)
                    {
                        _selectedItems = (NavprodOrderLine)item;
                    }
                }
            }
            EditEnabled = true;
        }
    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editablePlant = (NavprodOrderLine)e.EditModel;
        if (e.IsNew)
        {
            await AddOrUpdate(editablePlant);
            toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
        }
        else
        {
            await AddOrUpdate(editablePlant);
            toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
        }
    }
    async Task AddOrUpdate(NavprodOrderLine editablePlant)
    {
        var request = new InsertOrUpdateNavprodOrderLine
            {
                NavprodOrderLineId = editablePlant.NavprodOrderLineId,
                Status = "Released",
                CompanyId = editablePlant.CompanyId,
                ProdOrderNo = editablePlant.ProdOrderNo,
                OrderLineNo = editablePlant.OrderLineNo,
                ItemNo = editablePlant.ItemNo,
                Description = editablePlant.Description,
                Description1 = editablePlant.Description1,
                CompletionDate = editablePlant.CompletionDate,
                RemainingQuantity = editablePlant.RemainingQuantity,
                UnitofMeasureCode = editablePlant.UnitofMeasureCode,
                LastSyncDate = editablePlant.LastSyncDate,
                LastSyncUserId = editablePlant.LastSyncUserId,
                RePlanRefNo = editablePlant.RePlanRefNo,
                BatchNo = editablePlant.BatchNo,
                StartDate = editablePlant.StartDate,
                OutputQty = editablePlant.OutputQty,
            };
        await Mediator.Send(request);
        await UpdateDataAsync();
    }
    void EulaPopupPermissionClosed(PopupClosedEventArgs args)
    {

    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
    }
    async void ClosePopup()
    {
        PopupVisible = false;
        await UpdateDataAsync();
    }
    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        var newplant = (NavprodOrderLine)e.EditModel;
        if (e.IsNew)
        {
            newplant.Status = "Released";
            newplant.LastSyncUserId = applicationUser.UserID;
            newplant.LastSyncDate = DateTime.Now;
            newplant.OrderLineNo = 1;
        }
        else
        {
            newplant.LastSyncUserId = applicationUser.UserID;
            newplant.LastSyncDate = DateTime.Now;
        }
    }
    void addNew()
    {
        Grid.StartEditNewRowAsync();

    }
    void addEdit()
    {
        Grid.StartEditDataItemAsync(_selectedItems);
    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "NavprodOrderLineId");
        _selectedItems = _documentRole.FirstOrDefault(f => f.NavprodOrderLineId == (long?)UniqueId);
        EditEnabled = true; DeleteEnabled = true;
        StateHasChanged();
    }
    public async Task OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addEdit();
    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    async Task bulkDelete()
    {
        try
        {

            if (SelectedDataItems != null)
            {
                foreach (object item in SelectedDataItems)
                {
                    if (item is NavprodOrderLine plants)
                    {
                        var request = new DeleteNavprodOrderLine(plants);
                        await Mediator.Send(request);
                        Blukdeletepopup = false;
                        toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        await UpdateDataAsync();
                        Grid.SetFocusedRowIndex(0);
                    }

                }
            }
        }
        catch (Exception eq)
        {
            //DeleteerrorMessage = eq.Message;
            //PopupVisible = true;
            Blukdeletepopup = false;
            toastService.ShowToast("The Selected Record Do not deleted", AC.SD.Core.Services.ToastLevel.Error);
        }
        // await UpdateDataAsync();
    }
    async Task ExportXlsx_Click()
    {
        if (SelectedDataItems != null)
        {

            await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
                {

                    ExportSelectedRowsOnly = true,
                    CustomizeCell = OnCustomizeCell

                });
        }
        else
        {
            await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
                {

                    ExportSelectedRowsOnly = false,
                    CustomizeCell = OnCustomizeCell

                });
        }
    }
    async Task ExportXls_Click()
    {
        await Grid.ExportToXlsAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = ExportSelectedRowsOnly,
                CustomizeCell = OnCustomizeCell
            });
    }
    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    public async ValueTask DisposeAsync()
    {
        //System.GC.Collect();
        _documentRole?.Clear();
        _plantItems?.Clear();
        SelectedDataItems = null;
        _selectedItems = null;
        _stausItems?.Clear();
        //GC.SuppressFinalize(this);
    }
}
