@using Application.Command.Employees;
@using Application.Command.SoSalesOrder;
@using Application.Commands;
@using Application.Queries;
@using MediatR
@using global::Core.Entities;
@using global::Core.Entities.Views;
@using global::Core.Repositories.Query;
@inject IMediator Mediator
@using DevExpress.Export
@using Application.Response;
@using System.ComponentModel.DataAnnotations;
@inject IJSRuntime JSRuntime;
@using System.Reflection;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject NavigationManager NavigationManager

<div class="card w-100" style="margin-bottom:10px;margin-top:10px;">
    <div class="card-body p-0">
        <div class="save_hover" style="float: left;  line-height: 38px; margin-left: 10px; z-index: 9999; width:100px;">
            <button type="submit" form="@MyIDs" disabled="@loadings" class="btnSubmitForm" onclick="@onsubmitInfoClick" style="font-weight:bold;">
                @if (loadings)
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                <i class="fa fa-save"></i>
                Save
            </button>
        </div>
    </div>
</div>
<div class="cw-880">
    <EditForm Model="@Datas" id="@MyIDs" Context="EditFormContext" OnValidSubmit="@HandleValidInfoSubmit">
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="No Of BUOM In One Carton" ColSpanMd="12">
                <DxSpinEdit @bind-Value="@Datas.NoOfBUOMInOneCarton" ShowValidationIcon="true" />
            </DxFormLayoutItem>
        </DxFormLayout>
    </EditForm>
</div>


@code {
    [Parameter]
    public long? ItemId { get; set; }
    private bool loadings;
    List<NavProductionInformation> _navProductionInformation;
    private string MyIDs = "myidwew";
    NavProductionInformation Datas = new NavProductionInformation();
    public ApplicationUser applicationUser { get; private set; }
    protected override async Task OnInitializedAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        if (ItemId > 0)
        {
            await loadData(ItemId);
        }
    }
    public async Task loadData(long? itemId)
    {
        ItemId = itemId;
        _navProductionInformation = await Mediator.Send(new GetNavProductionInformationQuery(ItemId));
        if (_navProductionInformation.Count > 0)
        {
            Datas.NavProductionInformationId = _navProductionInformation[0].NavProductionInformationId;
            Datas.NoOfBUOMInOneCarton = _navProductionInformation[0].NoOfBUOMInOneCarton;
            StateHasChanged();
        }
    }
    void backUrl()
    {
    }
    void ResetForm()
    {

    }
    void onsubmitInfoClick()
    {
    }
    async Task HandleValidInfoSubmit()
    {
        loadings = true;

        if (Datas.NavProductionInformationId > 0)
        {
            var createReq = new EditNavProductionInformationCommand
                {
                    NavProductionInformationId = Datas.NavProductionInformationId,
                    ItemId = ItemId,
                    NoOfBUOMInOneCarton = Datas.NoOfBUOMInOneCarton,
                };
            await Mediator.Send(createReq);
            toastService.ShowToast("Record updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            loadings = false;
            StateHasChanged();
        }
        else
        {
            var createReq = new CreateNavProductionInformationCommand
                {
                    ItemId = ItemId,
                    NoOfBUOMInOneCarton = Datas.NoOfBUOMInOneCarton,
                };
            var result = await Mediator.Send(createReq);
            toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            ItemId = result.ItemId;
            loadings = false;
            StateHasChanged();
        }
    }
    void HandleInvalidSubmit()
    {
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
    }
}
