@using Application.Queries;
@using MediatR
@using System.ComponentModel;
@using global::Core.Entities.Views;
@using global::Core.Entities;
@inject IMediator Mediator
@using DevExpress.Export
@using Application.Response;
@using global::Core.EntityModels
@page "/SalesDeliverOrders"
@inject IJSRuntime jsRuntime
@using global::Core.Repositories.Query;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject AC.SD.Core.Services.ToastService toastService

@inject NavigationManager NavigationManager

<div style="padding:10px;">
    <div class="card" style="margin-bottom:10px;">
        <div class="card-body p-0">
            <div class="row">
                <div class="">
                    <DxMenu CollapseItemsToHamburgerMenu="true"
                            CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                            DisplayMode="MenuDisplayMode.Auto">
                        <Items>
                            @* <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" /> *@
                            <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="EditEnabled" />
                            @* <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" /> *@
                            <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="ExportXlsx_Click" />
                        </Items>
                    </DxMenu>
                </div>
            </div>
        </div>
    </div>
    <EditForm EditContext="this._editContext" Context="EditFormContext">
        <DataAnnotationsValidator />
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="Company" ColSpanMd="6">
                <DxComboBox Data="@_plantItems"
                            NullText="Select Company..."
                            SearchMode="ListSearchMode.AutoSearch"
                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                            ListRenderMode="ListRenderMode.Virtual"
                            TextFieldName="Description"
                            ValueFieldName="PlantID"
                            @bind-Value="@tenderOrderModel.CompanyId"
                            ShowValidationIcon="true">
                </DxComboBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Customer" ColSpanMd="6">
                <DxComboBox Data="@_navCustomers"
                            NullText="Select Customer..."
                            SearchMode="ListSearchMode.AutoSearch"
                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                            TextFieldName="Name"
                            ValueFieldName="CustomerId"
                            ClearButtonDisplayMode=DataEditorClearButtonDisplayMode.Auto
                            @bind-Value="@tenderOrderModel.CustomerId">
                    <Columns>
                        <DxListEditorColumn FieldName="@nameof(NavCustomerModel.Code)"
                                            Caption="Code"
                                            Width="180px" />
                        <DxListEditorColumn FieldName="@nameof(NavCustomerModel.Name)"
                                            Caption="Customer Name" />
                    </Columns>
                </DxComboBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Delivery OrderNo" ColSpanMd="6">
                <DxTextBox @bind-Text="tenderOrderModel.DeliveryOrderNo" ClearButtonDisplayMode=DataEditorClearButtonDisplayMode.Auto ShowValidationIcon="true"></DxTextBox>
                <ValidationMessage For="@(() => tenderOrderModel.DeliveryOrderNo)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="StockBalance Month" ColSpanMd="6">
                <DxDateEdit NullText="Select a StockBalance..." @bind-Date="@tenderOrderModel.StockBalanceMonth" PickerDisplayMode="DatePickerDisplayMode.ScrollPicker"
                            ScrollPickerFormat="MMMM-yyyy" Mask="MMMM-yyyy"
                            DisplayFormat="MMMM-yyyy" CssClass="cw-320" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="From Posting Date" ColSpanMd="4">
                <DxDateEdit NullText="Select a From Date..." @bind-Date="@tenderOrderModel.FromPostingDate" Mask="dd-MMMM-yyyy" CssClass="cw-320" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="ToPostingDate" ColSpanMd="4">
                <DxDateEdit NullText="Select a To Date..." @bind-Date="@tenderOrderModel.ToPostingDate" Mask="dd-MMMM-yyyy" CssClass="cw-320" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="" ColSpanMd="4">
                <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="ButtonRenderStyleMode.Contained" Click="@OnClickButton"
                          Text="Search" />
                <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="ButtonRenderStyleMode.Contained" Click="@OnClickClearButton"
                          Text="Clear" />
                <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="ButtonRenderStyleMode.Contained" Click="@OnClickSyncButton"
                          Text="Sync" />
            </DxFormLayoutItem>
        </DxFormLayout>
    </EditForm>
</div>
<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">

    <DxGrid @ref="Grid" FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            Data="_quotationHistoryItems"
            KeyFieldName="ShipmentId"
            CustomizeElement="Grid_CustomizeElement"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            SelectionMode="GridSelectionMode.Single"
            ValidationEnabled="true"
            AutoExpandAllGroupRows="true"
            CssClass="ch-360 " style="height: calc(100vh - 330px);"
            FocusedRowEnabled="true"
            RowClick="OnRowClick"
            RowDoubleClick="OnRowDoubleClick"
            CustomizeEditModel="Grid_CustomizeEditModel"
            EditMode="GridEditMode.EditForm"
            EditModelSaving="@OnEditModelSaving"
            SelectedDataItemsChanged="@SelectedDataItemsChanged"
            VirtualScrollingEnabled="true"
            AllowSelectRowByClick="true">
        <Columns>
            @*  <DxGridSelectionColumn Width="60px" AllowSelectAll="true" /> *@
            <DxGridDataColumn FieldName="DeliveryOrderNo" Caption="Delivery OrderNo" />
            <DxGridDataColumn FieldName="Customer" Caption="Customer" MinWidth="80" />
            <DxGridDataColumn FieldName="PostingDate" Caption="Posting Date">
                <CellDisplayTemplate>
                    @{
                        var item = (NavpostedShipment)context.DataItem;
                        var startDate = string.Empty;
                        if (item.PostingDate != DateTime.MinValue)
                        {
                            startDate = item.PostingDate?.ToString("dd-MMM-yyyy");
                        }
                    }
                    @startDate
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="ItemNo" Caption="Item No" MinWidth="80" />
            <DxGridDataColumn FieldName="Description" Caption="Description" MinWidth="80" />
            <DxGridDataColumn FieldName="DoQty" Caption="Quantity" MinWidth="80" />
            <DxGridDataColumn FieldName="IsRecived" Caption="Is Recived" />
        </Columns>
        <EditFormTemplate Context="EditFormContext1">
            @{
                var types = (NavpostedShipment)EditFormContext1.EditModel;
            }
            <DxFormLayout CssClass="w-100">

                <DxFormLayoutItem Caption="Customer" ColSpanMd="6">
                    <DxTextBox @bind-Text="types.Customer" Enabled="false"></DxTextBox>
                    <ValidationMessage For="@(() => types.Customer)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="ItemNo" ColSpanMd="6">
                    <DxTextBox @bind-Text="types.ItemNo" Enabled="false"></DxTextBox>
                    <ValidationMessage For="@(() => types.ItemNo)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Description" ColSpanMd="6">
                    <DxTextBox @bind-Text="types.Description" Enabled="false"></DxTextBox>
                    <ValidationMessage For="@(() => types.Description)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="DoQty" ColSpanMd="6">
                    <DxSpinEdit @bind-Value="types.DoQty" Enabled="false"></DxSpinEdit>
                    <ValidationMessage For="@(() => types.DoQty)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Is Recived" ColSpanMd="6">
                    <DxCheckBox @bind-Checked="types.IsRecived"></DxCheckBox>
                    <ValidationMessage For="@(() => types.IsRecived)" />
                </DxFormLayoutItem>
            </DxFormLayout>
        </EditFormTemplate>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="DeliveryOrderNo" />
        </TotalSummary>
    </DxGrid>
</DxLoadingPanel>
<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="Delete"
         ShowCloseButton="true"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>
@code {
    private List<ViewPlants> _plantItems;
    EditContext _editContext;
    bool ExportSelectedRowsOnly { get; set; }
    bool PanelVisible { get; set; } = false;
    bool PopupVisible { get; set; } = false;
    DxPopup? popup;
    private List<NavpostedShipment> _quotationHistoryItems;
    private NavpostedShipment _selectedItems;
    IGrid Grid { get; set; }
    string permission = "";
    bool EditEnabled { get; set; } = false;
    bool DeleteEnabled { get; set; } = false;
    bool Blukdeletepopup { get; set; } = false;
    IReadOnlyList<object> SelectedDataItems { get; set; }
    private List<CodeMaster> _stausItems;
    public ApplicationUser? applicationUser { get; private set; }
    private List<NavCustomerModel> _navCustomers; NavpostedShipment tenderOrderModel = new NavpostedShipment();
    protected override async Task OnInitializedAsync()
    {
        _editContext = new EditContext(tenderOrderModel);
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _plantItems = await Mediator.Send(new GetAllPlantQuery());
        _navCustomers = await Mediator.Send(new GetAllNavCustomerQuery());
        if (_plantItems != null && _plantItems.Count() > 0)
        {
            tenderOrderModel.CompanyId = _plantItems.FirstOrDefault()?.PlantID;
        }
        DateTime date = DateTime.Now;
        tenderOrderModel.AddedByUserId = applicationUser.UserID;
        tenderOrderModel.ModifiedByUserId = applicationUser.UserID;
        tenderOrderModel.StockBalanceMonth = date;
        tenderOrderModel.FromPostingDate = new DateTime(date.Year, date.Month, 1);
        tenderOrderModel.ToPostingDate = new DateTime(date.Year, date.Month, DateTime.DaysInMonth(date.Year, date.Month));
        await UpdateDataAsync();
    }
    async Task OnClickClearButton()
    {
        if (_plantItems != null && _plantItems.Count() > 0)
        {
            tenderOrderModel.CompanyId = _plantItems.FirstOrDefault()?.PlantID;
        }
        DateTime date = DateTime.Now;
        tenderOrderModel.AddedByUserId = applicationUser.UserID;
        tenderOrderModel.ModifiedByUserId = applicationUser.UserID;
        tenderOrderModel.DeliveryOrderNo = string.Empty;
        tenderOrderModel.CustomerId = null;
        tenderOrderModel.StockBalanceMonth = date;
        tenderOrderModel.FromPostingDate = new DateTime(date.Year, date.Month, 1);
        tenderOrderModel.ToPostingDate = new DateTime(date.Year, date.Month, DateTime.DaysInMonth(date.Year, date.Month));
        await UpdateDataAsync();
    }
    async Task OnClickButton()
    {
        await UpdateDataAsync();
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
            e.CssClass += "non-selectable-row";
        }
    }
    async Task OnClickSyncButton()
    {
        PanelVisible = true;
        var result = await Mediator.Send(new GetSyncSalesDeliverOrderQuery(tenderOrderModel));
        if (result.CompanyId > 0)
        {
            toastService.ShowToast("Synced data Successfully", AC.SD.Core.Services.ToastLevel.Success);
        }
        PanelVisible = false;
        StateHasChanged();
    }
    async Task UpdateDataAsync()
    {
        PanelVisible = true;
        _quotationHistoryItems = await Mediator.Send(new GetAllSalesDeliverOrderQuery(tenderOrderModel));
        EditEnabled = false; DeleteEnabled = false;
        if (_quotationHistoryItems.Count > 0)
        {
            _selectedItems = _quotationHistoryItems.FirstOrDefault();
            // EditEnabled = true; DeleteEnabled = true;AttachmentEnabled=true;
            Grid.ClearSelection();
            PanelVisible = false;
        }
        PanelVisible = false;
        StateHasChanged();
    }

    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "ShipmentId");
        _selectedItems = _quotationHistoryItems.FirstOrDefault(f => f.ShipmentId == (long?)UniqueId);
        // EditEnabled = true; DeleteEnabled = true;AttachmentEnabled=true;
        StateHasChanged();
    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addEdit();
    }
    void addNew()
    {
        Grid.StartEditNewRowAsync();

    }
    async Task ExportXlsx_Click()
    {
        await Grid.ExportToXlsxAsync("Tender Orders", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = ExportSelectedRowsOnly
            });
    }
    async Task Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        var navitems = (NavpostedShipment)e.EditModel;
        if (e.IsNew)
        {
        }
        else
        {
        }
    }
    void addEdit()
    {
        if (SelectedDataItems != null)
        {
            if (SelectedDataItems.Count == 1)
            {
                foreach (object item in SelectedDataItems)
                {
                    if (item is NavpostedShipment dataselectItems)
                    {
                        _selectedItems = dataselectItems;
                        Grid.StartEditDataItemAsync(_selectedItems);
                    }
                }
            }
            else
            {
                Grid.StartEditDataItemAsync(_selectedItems);
            }
        }
    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDataItems = null;
    }
    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems; EditEnabled = false; DeleteEnabled = false;
        if (SelectedDataItems.Count > 0)
        {
            if (SelectedDataItems.Count > 1)
            {
                EditEnabled = false; DeleteEnabled = true;
            }
            else
            {
                EditEnabled = true; DeleteEnabled = true;
            }
        }
    }
    async Task bulkDelete()
    {
        // try
        // {
        //     if (SelectedDataItems != null)
        //     {
        //         foreach (object item in SelectedDataItems)
        //         {
        //             if (item is TenderOrderModel datas)
        //             {
        //                 var request = new DeleteTenderOrder(datas);
        //                 await Mediator.Send(request);
        //                 Blukdeletepopup = false;
        //                 toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
        //                 await UpdateDataAsync();
        //                 Grid.SetFocusedRowIndex(0);
        //             }
        //         }
        //     }
        // }
        // catch (Exception eq)
        // {
        //     Blukdeletepopup = false;
        //     toastService.ShowToast("The Selected Record Do not deleted", AC.SD.Core.Services.ToastLevel.Error);
        // }
    }
    async Task OnEditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editModel = (NavpostedShipment)e.EditModel;
        if (e.IsNew)
        {
            var createReq = new InsertOrUpdateSalesDeliverOrder
                {
                    ShipmentId = editModel.ShipmentId,
                    ModifiedByUserId = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    IsRecived = editModel.IsRecived,
                    PostingDate = editModel.PostingDate,
                    Customer = editModel.Customer,
                    CustomerNo = editModel.CustomerNo,
                    CustomerId = editModel.CustomerId,
                };

            try
            {
                var result = await Mediator.Send(createReq);
                toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            }
            catch (Exception eq)
            {
                PopupVisible = true;

            }
            await UpdateDataAsync();


        }
        else
        {
            var UpdateReq = new InsertOrUpdateSalesDeliverOrder
                {
                    ShipmentId = editModel.ShipmentId,
                    ModifiedByUserId = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    IsRecived = editModel.IsRecived,
                    PostingDate = editModel.PostingDate,
                    Customer = editModel.Customer,
                    CustomerNo = editModel.CustomerNo,
                    CustomerId = editModel.CustomerId,
                    Company = editModel.Company,
                    CompanyId = editModel.CompanyId,
                    StockBalanceMonth = editModel.StockBalanceMonth,
                    DeliveryOrderNo = editModel.DeliveryOrderNo,
                    DolineNo = editModel.DolineNo,
                    ItemNo = editModel.ItemNo,
                    Description = editModel.Description,
                    StatusCodeId = editModel.StatusCodeId,
                    AddedByUserId = editModel.AddedByUserId > 0 ? editModel.AddedByUserId : applicationUser.UserID,
                };
            var ans = await Mediator.Send(UpdateReq);
            toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();

        }

    }
}