@using Application.Queries;
@using MediatR;
@using global::Core.Entities;
@using global::Core.Entities.Views;
@using global::Core.EntityModels;
@using global::Core.Repositories.Query;
@inject IMediator Mediator
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject AC.SD.Core.Services.ToastService toastService
@inject IJSRuntime JSRuntime;
@using System.Collections
@using BlazorBarcodeScanner.ZXing.JS
@using System.Text.Json;
@using System.IO;
@using System.Dynamic;
@implements IAsyncDisposable

<style scoped>
    .zxing-video-container > video {
        width: 100%;
        height: auto;
    }

    .zero-width-label label {
        width: 0px !important
    }
</style>
<div class="card" style="margin-bottom:10px; margin-top: 10px; margin-right:-12px;">
    <div class="card-body p-0">
        <div class="row">
            <div class="">
                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Auto">
                    <Items>
                        <DxMenuItem Text="Back" IconCssClass="fas fa-reply" Click="@onBack" />
                        <DxMenuItem Text="Add New" IconCssClass="fas fa-save" Click="@addNewProductionForm" Enabled="@addEnabled" />
                        <DxMenuItem Text="Save" IconCssClass="fas fa-save" Click="@SubmitProductionFormExternally" Enabled="@saveEnabled" />
                        <DxMenuItem Text="Upload" IconCssClass="fa fa-cloud-upload" Click="@uploadFiles" Enabled="@uploadEnabled" />
                    </Items>
                </DxMenu>
            </div>
        </div>
    </div>
</div>
<div class="" style="overflow-x: hidden;overflow-y: auto;height: calc(100vh - 250px);">
    <EditForm EditContext="this._editContext" Context="EditFormContext" OnValidSubmit="HandleProductionFormValidSubmit">

        <DataAnnotationsValidator />
        <DxFormLayout CssClass="w-100">
            @*  <DxFormLayoutItem Caption="ProdOrderNo" ColSpanMd="6">
            <DxComboBox Data="@_ponumberActivities"
            NullText="Select ProdOrderNo..."
            SearchMode="ListSearchMode.AutoSearch"
            SearchFilterCondition="ListSearchFilterCondition.Contains"
            TextFieldName="Name"
            ValueFieldName="NavprodOrderLineId"
            ValueChanged="@((long? prod) => SelectedItemprod(prod))"
            Value="Data.NavprodOrderLineId"
            ValueExpression="@(() => Data.NavprodOrderLineId )"
            ShowValidationIcon="true">
            </DxComboBox>
            <ValidationMessage For="@(() => Data.NavprodOrderLineId)" />
            </DxFormLayoutItem> *@
            <DxFormLayoutItem Caption="Company" ColSpanMd="6">

                <DxComboBox Data="@_plantItems"
                            NullText="Select Company..."
                            SearchMode="ListSearchMode.AutoSearch"
                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                            ListRenderMode="ListRenderMode.Virtual"
                            TextFieldName="Description"
                            ClearButtonDisplayMode=DataEditorClearButtonDisplayMode.Auto
                            ValueFieldName="PlantID"
                            @bind-Value="@Data.CompanyID"
                            ShowValidationIcon="true">

                </DxComboBox>
                <ValidationMessage For="@(() => Data.CompanyID)" />
            </DxFormLayoutItem>

            @*   <DxFormLayoutItem Caption="FP:" ColSpanMd="6" Visible="@FPVisible">
            <DxComboBox Data="@_ponumberActivities"
            NullText="Select Ticket No..."
            ValueChanged="@((string? prod) => SelectedItemprod(prod))"
            SearchMode="ListSearchMode.AutoSearch"
            SearchFilterCondition="ListSearchFilterCondition.Contains"
            TextFieldName="Name"
            ValueFieldName="ProdOrderNo"
            ClearButtonDisplayMode=DataEditorClearButtonDisplayMode.Auto
            ListRenderMode="ListRenderMode.Virtual"
            Value="@Data.FPDD"
            ValueExpression="@(() => Data.FPDD )"
            ShowValidationIcon="true">
            <Buttons>
            <DxEditorButton IconCssClass="fa fa-qrcode"
            Tooltip="Scan Ticket No"
            Click="@(_ => OnButtonFPClick())" />
            </Buttons>
            </DxComboBox> *@
            @* <DxTextBox Visible = "" Text="@Data.FPDD" spellcheck="true" ShowValidationIcon="true" NullText="FP" TextExpression="@(() => Data.FPDD )" TextChanged="@((newValue) => OnTextChanged(newValue))" >
            <Buttons>
            <DxEditorButton IconCssClass="fa fa-qrcode"
            Tooltip="Scan FP"
            Click="@(_ => OnButtonFPClick())" />
            </Buttons>
            </DxTextBox> *@

            @*  </DxFormLayoutItem> *@
            @*   <DxFormLayoutItem Caption="Process:" ColSpanMd="6" Visible="@ProcessVisible"> *@
            @*   <DxTextBox Text="@Data.ProcessDD" spellcheck="true" ShowValidationIcon="true" NullText="Process" TextExpression="@(() => Data.ProcessDD )" TextChanged="@((newValue) => ProcessOnTextChanged(newValue))">
            <Buttons>
            <DxEditorButton IconCssClass="fa fa-qrcode"
            Tooltip="Scan Process"
            Click="@(_ => OnButtonProcessClick())" />
            </Buttons>
            </DxTextBox> *@
            @*  <DxComboBox Data="@_RawMatItemList"
            NullText="Select Process No..."
            SearchMode="ListSearchMode.AutoSearch"
            SearchFilterCondition="ListSearchFilterCondition.Contains"
            TextFieldName="ItemNoDescription"
            ValueFieldName="ItemNo"
            ClearButtonDisplayMode=DataEditorClearButtonDisplayMode.Auto
            ListRenderMode="ListRenderMode.Virtual"
            @bind-Value="@Data.ProcessDD"
            ShowValidationIcon="true">
            <Buttons>
            <DxEditorButton IconCssClass="fa fa-qrcode"
            Tooltip="Scan Process"
            Click="@(_ => OnButtonProcessClick())" />
            </Buttons>
            </DxComboBox>
            </DxFormLayoutItem> *@
            @*   <DxFormLayoutItem Caption="Raw Material:" ColSpanMd="6" Visible="@RawMaterialVisible"> *@
            @* <DxTextBox Text="@Data.RawMaterialDD" spellcheck="true" ShowValidationIcon="true" NullText="Raw Material" TextExpression="@(() => Data.RawMaterialDD )" TextChanged="@((newValue) => RawMaterialOnTextChanged(newValue))">
            <Buttons>
            <DxEditorButton IconCssClass="fa fa-qrcode"
            Tooltip="Scan Raw Material"
            Click="@(_ => OnButtonRawMaterialClick())" />
            </Buttons>
            </DxTextBox> *@
            @*  <DxComboBox Data="@_RawMatItemList1"
            NullText="Select Raw Material..."
            SearchMode="ListSearchMode.AutoSearch"
            SearchFilterCondition="ListSearchFilterCondition.Contains"
            TextFieldName="ItemNoDescription"
            ValueFieldName="ItemNo"
            ClearButtonDisplayMode=DataEditorClearButtonDisplayMode.Auto
            ListRenderMode="ListRenderMode.Virtual"
            @bind-Value="@Data.RawMaterialDD"
            ShowValidationIcon="true">
            <Buttons>
            <DxEditorButton IconCssClass="fa fa-qrcode"
            Tooltip="Scan Raw Material"
            Click="@(_ => OnButtonRawMaterialClick())" />
            </Buttons>
            </DxComboBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Packing Material:" ColSpanMd="6" Visible="@PackingMaterialVisible"> *@
            @* <DxTextBox Text="@Data.PackingMaterialDD" spellcheck="true" ShowValidationIcon="true" NullText="Packing Material" TextExpression="@(() => Data.PackingMaterialDD )" TextChanged="@((newValue) => PackingMaterialOnTextChanged(newValue))">
            <Buttons>
            <DxEditorButton IconCssClass="fa fa-qrcode"
            Tooltip="Scan Packing Material"
            Click="@(_ => OnButtonPackingMaterialClick())" />
            </Buttons>
            </DxTextBox> *@
            @*  <DxComboBox Data="@_RawMatItemList2"
            NullText="Select Packing Material..."
            SearchMode="ListSearchMode.AutoSearch"
            SearchFilterCondition="ListSearchFilterCondition.Contains"
            TextFieldName="ItemNoDescription"
            ValueFieldName="ItemNo"
            ClearButtonDisplayMode=DataEditorClearButtonDisplayMode.Auto
            ListRenderMode="ListRenderMode.Virtual"
            @bind-Value="@Data.PackingMaterialDD"
            ShowValidationIcon="true">
            <Buttons>
            <DxEditorButton IconCssClass="fa fa-qrcode"
            Tooltip="Scan Packing Material"
            Click="@(_ => OnButtonPackingMaterialClick())" />
            </Buttons>
            </DxComboBox>
            </DxFormLayoutItem> *@

            <DxFormLayoutItem Caption="Routine:" ColSpanMd="6">
                <DxComboBox Data="@_ManuFactureProcessLines"
                            NullText="Select Routine..."
                            Enabled="false"
                            SearchMode="ListSearchMode.AutoSearch"
                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                            TextFieldName="Value"
                            ValueFieldName="ApplicationMasterChildId"
                            @bind-Text="@TimeSheetRoutine"
                            Value="@Data.ManufacturingProcessChildId"
                            ValueExpression="@(() => Data.ManufacturingProcessChildId )"
                            ValueChanged="@((long? plant) => SelectedItemManuFactureChanged(plant))"
                            ShowValidationIcon="true">
                    <Buttons>
                        <DxEditorButton IconCssClass="fa fa-qrcode"
                                        Tooltip="Scan Routine"
                                        Click="@(_ => OnManufacScanButtonClick())" />
                    </Buttons>
                </DxComboBox>
                <ValidationMessage For="@(() => Data.ManufacturingProcessChildId)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Category:" ColSpanMd="6">
                <DxComboBox Data="@_categoryItems"
                            NullText="Select Category ..."
                            SearchMode="ListSearchMode.AutoSearch"
                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                            TextFieldName="Value"
                            ValueFieldName="ApplicationMasterChildId"
                            ValueChanged="@((long? plant) => SelectedItemCategoryChanged(plant))"
                            Value="@Data.ProdActivityCategoryChildId"
                            ValueExpression="@(() => Data.ProdActivityCategoryChildId )"
                            @bind-Text="@Category"
                            ShowValidationIcon="true">
                </DxComboBox>
                <ValidationMessage For="@(() => Data.ProdActivityCategoryChildId)" />
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="Action:" ColSpanMd="6">
                <DxComboBox Data="@_actionItems"
                            NullText="Select ActionDropdown..."
                            SearchMode="ListSearchMode.AutoSearch"
                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                            TextFieldName="Value"
                            ValueFieldName="ApplicationMasterChildId"
                            ValueChanged="@((long? plant) => SelectedItemActionChanged(plant))"
                            Value="@Data.ProdActivityActionChildD"
                            ValueExpression="@(() => Data.ProdActivityActionChildD )"
                            @bind-Text="@Action"
                            ShowValidationIcon="true">
                </DxComboBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Status:" ColSpanMd="6">
                <DxComboBox Data="@_StatusList"
                            NullText="Select Status..."
                            SearchMode="ListSearchMode.AutoSearch"
                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                            TextFieldName="CodeValue"
                            ValueFieldName="CodeId"
                            Enabled="@EnableStatus"
                            @bind-Value="Data.StatusID"
                            ShowValidationIcon="true">
                </DxComboBox>
                <ValidationMessage For="@(() => Data.StatusID)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Routine Info" ColSpanMd="12">
                <DxTagBox NullText="Select Routine Info..."
                          Data="@_ActivityMaster"
                          SearchMode="ListSearchMode.AutoSearch"
                          SearchFilterCondition="ListSearchFilterCondition.Contains"
                          ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                          TextFieldName="Text"
                          ValueFieldName="Id"
                          @bind-Values="@Data.RoutineInfoIds"
                          CssClass="cw-480" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Activity Result:" ColSpanMd="6">
                <DxComboBox Data="@_ActivityResult"
                            NullText="Select Activity Result..."
                            SearchMode="ListSearchMode.AutoSearch"
                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                            TextFieldName="Text"
                            ValueFieldName="Id"
                            @bind-Value="Data.ProdActivityResultId"
                            ShowValidationIcon="true">
                </DxComboBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Routine Status:" ColSpanMd="6">
                <DxComboBox Data="@_ActivityStatusItem"
                            NullText="Select Routine Status..."
                            SearchMode="ListSearchMode.AutoSearch"
                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                            TextFieldName="Text"
                            ValueFieldName="Id"
                            @bind-Value="Data.RoutineStatusId"
                            ShowValidationIcon="true">
                </DxComboBox>
            </DxFormLayoutItem>


            <DxFormLayoutItem Caption="Comment:" ColSpanMd="12">
                <DxMemo @bind-Text="Data.LineComment" Rows="5" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Others:" ColSpanMd="12">
                <DxMemo @bind-Text="Data.Others" Rows="5" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Type:" ColSpanMd="12">
                <DxComboBox Data="@StatusTypeList" NullText="Select Type..." @bind-Text="@StatusType" @bind-Value="@Data.StatusType" ShowValidationIcon="true"
                            SelectedItemChanged="@((string Type) => SelectedTypeItemsChanged(Type))"></DxComboBox>

            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="FP Multiple:" ColSpanMd="11" Visible="@FPVisible">
                <DxTagBox NullText="Select FP..."
                          Data="@_ponumberActivities"
                          SearchMode="ListSearchMode.AutoSearch"
                          SearchFilterCondition="ListSearchFilterCondition.Contains"
                          ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                          ListRenderMode="ListRenderMode.Virtual"
                          EditFormat="{0}|{1}|{2}|{3}"
                          TextFieldName="ProdOrderNo"
                          ValueFieldName="RePlanRefNo"
                          @bind-Values="@Data.FPDDIds"
                          CssClass="cw-480">


                    <Columns>
                        <DxListEditorColumn FieldName="@nameof(NavprodOrderLineModel.ProdOrderNo)" Caption="ProdOrder No" />
                        <DxListEditorColumn FieldName="@nameof(NavprodOrderLineModel.RePlanRefNo)" Caption="RePlan RefNo" />
                        <DxListEditorColumn FieldName="@nameof(NavprodOrderLineModel.BatchNo)" Caption="Batch No" />
                        <DxListEditorColumn FieldName="@nameof(NavprodOrderLineModel.Description)" Caption="Description" />
                    </Columns>


                </DxTagBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption=" " ColSpanMd="1" CssClass="zero-width-label gbtn" Visible="@FPVisible">
                <DxButton IconCssClass="fa fa-qrcode"
                          Click="@(_ => OnButtonFPClick())">
                </DxButton>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Release ProdOrder Multiple:" ColSpanMd="11" Visible="@ReleaseProdOrderLineVisible">
                <DxTagBox NullText="Select Release ProdOrder..."
                          Data="@_ReleaseProdOrderLineList"
                          SearchMode="ListSearchMode.AutoSearch"
                          SearchFilterCondition="ListSearchFilterCondition.Contains"
                          ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                          ListRenderMode="ListRenderMode.Virtual"
                          TextFieldName="Name"
                          ValueFieldName="ProdOrderNo"
                          @bind-Values="@Data.ReleaseProdOrderLineDDIds"
                          CssClass="cw-480">


                    <Columns>

                        <DxListEditorColumn FieldName="@nameof(ReleaseProdOrderLine.ProdOrderNo)" Caption="ProdOrder No" />
                        <DxListEditorColumn FieldName="@nameof(ReleaseProdOrderLine.BatchNo)" Caption="Batch No" />
                        <DxListEditorColumn FieldName="@nameof(ReleaseProdOrderLine.Description)" Caption="Description" />
                    </Columns>


                </DxTagBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption=" " ColSpanMd="1" CssClass="zero-width-label gbtn" Visible="@ReleaseProdOrderLineVisible">
                <DxButton IconCssClass="fa fa-qrcode"
                          Click="@(_ => OnButtonReleaseClick())">
                </DxButton>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Process Multiple:" ColSpanMd="11" Visible="@ProcessVisible">
                <DxTagBox NullText="Select Process..."
                          Data="@_RawMatItemList"
                          SearchMode="ListSearchMode.AutoSearch"
                          SearchFilterCondition="ListSearchFilterCondition.Contains"
                          ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                          ListRenderMode="ListRenderMode.Virtual"
                          TextFieldName="ItemNoDescription"
                          ValueFieldName="ItemNo"
                          @bind-Values="@Data.ProcessDDIds"
                          CssClass="cw-480">
                    <Columns>
                        <DxListEditorColumn FieldName="@nameof(RawMatItemList.ItemNo)" Caption="Item No" />
                        <DxListEditorColumn FieldName="@nameof(RawMatItemList.Description)" Caption="Description" />

                    </Columns>
                </DxTagBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption=" " ColSpanMd="1" CssClass="zero-width-label gbtn" Visible="@ProcessVisible">
                <DxButton IconCssClass="fa fa-qrcode"
                          Click="@(_ => OnButtonProcessClick())">
                </DxButton>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Raw Material Multiple:" ColSpanMd="11" Visible="@RawMaterialVisible">
                <DxTagBox NullText="Select Raw Material..."
                          Data="@_RawMatItemList1"
                          SearchMode="ListSearchMode.AutoSearch"
                          SearchFilterCondition="ListSearchFilterCondition.Contains"
                          ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                          ListRenderMode="ListRenderMode.Virtual"
                          TextFieldName="ItemNoDescription"
                          ValueFieldName="ItemNo"
                          @bind-Values="@Data.RawMaterialDDIds"
                          CssClass="cw-480">
                    <Columns>
                        <DxListEditorColumn FieldName="@nameof(RawMatItemList.ItemNo)" Caption="Item No" />
                        <DxListEditorColumn FieldName="@nameof(RawMatItemList.Description)" Caption="Description" />

                    </Columns>
                </DxTagBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption=" " ColSpanMd="1" CssClass="zero-width-label gbtn" Visible="@RawMaterialVisible">
                <DxButton IconCssClass="fa fa-qrcode"
                          Click="@(_ => OnButtonRawMaterialClick())">
                </DxButton>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Packing Material Multiple:" ColSpanMd="11" Visible="@PackingMaterialVisible">
                <DxTagBox NullText="Select Packing Material..."
                          Data="@_RawMatItemList2"
                          SearchMode="ListSearchMode.AutoSearch"
                          SearchFilterCondition="ListSearchFilterCondition.Contains"
                          ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                          ListRenderMode="ListRenderMode.Virtual"
                          TextFieldName="ItemNoDescription"
                          ValueFieldName="ItemNo"
                          @bind-Values="@Data.PackingMaterialDDIds"
                          CssClass="cw-480">
                    <Columns>
                        <DxListEditorColumn FieldName="@nameof(RawMatItemList.ItemNo)" Caption="Item No" />
                        <DxListEditorColumn FieldName="@nameof(RawMatItemList.Description)" Caption="Description" />

                    </Columns>
                </DxTagBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption=" " ColSpanMd="1" CssClass="zero-width-label gbtn" Visible="@PackingMaterialVisible">
                <DxButton IconCssClass="fa fa-qrcode"
                          Click="@(_ => OnButtonPackingMaterialClick())">
                </DxButton>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Product Name:" ColSpanMd="12" Visible="@ProductNameVisible">
                <DxTagBox NullText="Select Product Name..."
                          Data="@_ProductNameList"
                          SearchMode="ListSearchMode.AutoSearch"
                          SearchFilterCondition="ListSearchFilterCondition.Contains"
                          ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                          ListRenderMode="ListRenderMode.Virtual"
                          TextFieldName="Value"
                          ValueFieldName="ApplicationMasterDetailID"
                          @bind-Values="@Data.ProductNameIds"
                          CssClass="cw-480">
                    <Columns>
                        <DxListEditorColumn FieldName="@nameof(View_ApplicationMasterDetail.Value)" Caption="Product Name" />
                        <DxListEditorColumn FieldName="@nameof(View_ApplicationMasterDetail.Description)" Caption="Description" />

                    </Columns>
                </DxTagBox>

            </DxFormLayoutItem>

        </DxFormLayout>
    </EditForm>
</div>
<DxPopup @bind-Visible="@PopupUpload"
         HeaderText="Upload Documents"
         CloseOnOutsideClick="false"
         ShowCloseButton="false"
         ShowFooter="false"
         MinWidth="300" MinHeight="500" MaxWidth="1000px" MaxHeight="12000px">
    <BodyContentTemplate>
        <UploadProductionTimeSheetV1Files _applicationUser="@applicationUser" UploadSessionId="@UploadSessionId" FileProfileTypeId="@FileProfileTypeId" RevokeUploadBack="BackUploadUpload"></UploadProductionTimeSheetV1Files>

    </BodyContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@PopupManuFactureScanVisible"
         CssClass="popup-demo-events"
         ShowFooter="true" HeaderText="Scan Location" CloseOnEscape="false" ShowCloseButton="false" MinWidth="300" MinHeight="200" MaxWidth="400" MaxHeight="800" CloseOnOutsideClick="false">
    <BodyContentTemplate>
        <BlazorBarcodeScanner.ZXing.JS.BarcodeReader @ref="_manureader"
                                                     StartCameraAutomatically="true"
                                                     Title="" ShowStart="false" ShowReset="false" ShowToggleTorch="false" ShowVideoDeviceList="false" ShowResult="false" FullWidthVideo="true"
                                                     OnBarcodeReceived="ManufacReceivedBarcodeText" />
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => CloseManuFacPopup())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@PopupFPDDScanVisible"
         CssClass="popup-demo-events"
         ShowFooter="true" HeaderText="Scan FP" CloseOnEscape="false" ShowCloseButton="false" MinWidth="300" MinHeight="200" MaxWidth="400" MaxHeight="800" CloseOnOutsideClick="false">
    <BodyContentTemplate>
        <BlazorBarcodeScanner.ZXing.JS.BarcodeReader @ref="_FPReader"
                                                     StartCameraAutomatically="true"
                                                     Title="" ShowStart="false" ShowReset="false" ShowToggleTorch="false" ShowVideoDeviceList="false" ShowResult="false" FullWidthVideo="true"
                                                     OnBarcodeReceived="FPDDReceivedBarcodeText" />
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => CloseFPDDPopup())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@PopupProcessDDScanVisible"
         CssClass="popup-demo-events"
         ShowFooter="true" HeaderText="Scan Process" CloseOnEscape="false" ShowCloseButton="false" MinWidth="300" MinHeight="200" MaxWidth="400" MaxHeight="800" CloseOnOutsideClick="false">
    <BodyContentTemplate>
        <BlazorBarcodeScanner.ZXing.JS.BarcodeReader @ref="_ProcessReader"
                                                     StartCameraAutomatically="true"
                                                     Title="" ShowStart="false" ShowReset="false" ShowToggleTorch="false" ShowVideoDeviceList="false" ShowResult="false" FullWidthVideo="true"
                                                     OnBarcodeReceived="ProcessDDReceivedBarcodeText" />
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => CloseProcessDDPopup())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@PopupRawMaterialDDScanVisible"
         CssClass="popup-demo-events"
         ShowFooter="true" HeaderText="Scan Raw Material" CloseOnEscape="false" ShowCloseButton="false" MinWidth="300" MinHeight="200" MaxWidth="400" MaxHeight="800" CloseOnOutsideClick="false">
    <BodyContentTemplate>
        <BlazorBarcodeScanner.ZXing.JS.BarcodeReader @ref="_RawMaterialReader"
                                                     StartCameraAutomatically="true"
                                                     Title="" ShowStart="false" ShowReset="false" ShowToggleTorch="false" ShowVideoDeviceList="false" ShowResult="false" FullWidthVideo="true"
                                                     OnBarcodeReceived="RawMaterialDDReceivedBarcodeText" />
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => CloseRawMaterialDDPopup())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@PopupPackingMaterialDDScanVisible"
         CssClass="popup-demo-events"
         ShowFooter="true" HeaderText="Scan Packing Material" CloseOnEscape="false" ShowCloseButton="false" MinWidth="300" MinHeight="200" MaxWidth="400" MaxHeight="800" CloseOnOutsideClick="false">
    <BodyContentTemplate>
        <BlazorBarcodeScanner.ZXing.JS.BarcodeReader @ref="_PackingMaterialReader"
                                                     StartCameraAutomatically="true"
                                                     Title="" ShowStart="false" ShowReset="false" ShowToggleTorch="false" ShowVideoDeviceList="false" ShowResult="false" FullWidthVideo="true"
                                                     OnBarcodeReceived="PackingMaterialDDReceivedBarcodeText" />
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => ClosePackingMaterialDDPopup())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@PopupReleaseScanVisible"
         CssClass="popup-demo-events"
         ShowFooter="true" HeaderText="Scan Release ProdOrder" CloseOnEscape="false" ShowCloseButton="false" MinWidth="300" MinHeight="200" MaxWidth="400" MaxHeight="800" CloseOnOutsideClick="false">
    <BodyContentTemplate>
        <BlazorBarcodeScanner.ZXing.JS.BarcodeReader @ref="_ReleaseReader"
                                                     StartCameraAutomatically="true"
                                                     Title="" ShowStart="false" ShowReset="false" ShowToggleTorch="false" ShowVideoDeviceList="false" ShowResult="false" FullWidthVideo="true"
                                                     OnBarcodeReceived="ReleaseDDReceivedBarcodeText" />
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => CloseReleaseDDPopup())" />
    </FooterContentTemplate>
</DxPopup>
@code {
    bool PopupReleaseScanVisible { get; set; } = false;
    private List<ViewPlants> _plantItems;
    [Parameter]
    public ProductionActivityRoutineAppModel? _selectedEditItems { get; set; }
    bool PopupManuFactureScanVisible { get; set; } = false;
    private BarcodeReader _manureader;
    public long? FileProfileTypeId { get; set; }
    public Guid? UploadSessionId { get; set; }
    EditContext _editContext;
    private List<View_ApplicationMasterDetail> _ProductNameList;
    private List<ReleaseProdOrderLine> _ReleaseProdOrderLineList;
    private List<CodeMaster> _StatusList;
    // [Parameter]
    // public IEnumerable _poOrderDetails { get; set; }
    private List<ProductionActivityApp> _productionActivities;
    private List<NavprodOrderLineModel> _ponumberActivities;
    // private List<View_ApplicationMasterDetail> _ActivityResult;
    // private List<View_ApplicationMasterDetail> _ActivityStatusItem;
    // private List<View_ApplicationMasterDetail> _ActivityMaster;
    private List<DropDownOptionsListModel> _ActivityResult;
    private List<DropDownOptionsListModel> _ActivityStatusItem;
    private List<DropDownOptionsListModel> _ActivityMaster;
    private List<RawMatItemList> _RawMatItemList; private List<RawMatItemList> _RawMatItemList1; private List<RawMatItemList> _RawMatItemList2;
    ProductionActivityRoutineAppModel Data = new ProductionActivityRoutineAppModel();
    ProductionActivityRoutineAppModel DataLine = new ProductionActivityRoutineAppModel();
    public ApplicationUser applicationUser { get; private set; }
    IGrid? AppLine { get; set; }
    IEnumerable<string> TemplateUploadOptions = new[] { "Yes", "No" };
    IEnumerable<string> IsOtherOptionsItems = new[] { "Yes" };
    private List<ProductActivityCaseLineModel> _templateItems;
    private List<ProductionActivityRoutineAppModel> _AppLines;
    private List<ApplicationMasterChildModel> _ManuFactureProcessLines;
    private List<ApplicationMasterChildModel> _categoryItems;
    private List<ApplicationMasterChildModel> _actionItems;
    bool uploadEnabled { get; set; } = false;
    bool PopupUpload { get; set; } = false; bool addEnabled { get; set; } = false; bool saveEnabled { get; set; } = false;
    // [Parameter]
    // public ProductionActivityRoutineAppModel ParentData { get; set; }
    [Parameter]
    public Action RevokeBack { get; set; }
    long? ProductionActivityRoutineAppLineId { get; set; }
    string TimeSheetRoutine { get; set; } = "TimeSheet";
    string Category { get; set; } = "";
    string Action { get; set; } = "";
    string jsonText = @"[{""ApplicationMasterDetailID"": 1, ""Value"": ""Result 1""},
                      {""ApplicationMasterDetailID"": 2, ""Value"": ""Result 2""}
                    ]";

    string parentId2 = "-1";
    long parentchildId2 = -1;
    string timesheetMasterParentid = "-1";
    long timesheetMasterchildid = -1;

    List<string> StatusTypeList = new List<string>() { "FP", "Process", "Raw Material", "Packing Material", "Fixed Asset", "Product Name", "Release ProdOrderLine" };
    bool PopupFPDDScanVisible { get; set; } = false;
    bool PopupProcessDDScanVisible { get; set; } = false;
    bool PopupRawMaterialDDScanVisible { get; set; } = false;
    bool PopupPackingMaterialDDScanVisible { get; set; } = false;
    private BarcodeReader _ProcessReader;
    private BarcodeReader _FPReader;
    private BarcodeReader _RawMaterialReader;
    private BarcodeReader _PackingMaterialReader; private BarcodeReader _ReleaseReader;
    // private BarcodeReader _FPReader;
    private string? FPDD;
    private string? Process;
    private string? RawMaterial;
    private string? PackingMaterial;
    bool FPVisible { get; set; } = false; bool ReleaseProdOrderLineVisible { get; set; } = false;
    bool ProcessVisible { get; set; } = false;
    bool RawMaterialVisible { get; set; } = false;
    bool PackingMaterialVisible { get; set; } = false;
    bool ProductNameVisible { get; set; } = false;
    bool EnableStatus { get; set; } = false;
    string StatusType;
    // IEnumerable<NavprodOrderLineModel> FPDDIds { get; set; }
    public List<string?> FPDDIds { get; set; } = new List<string?>(); public List<string?> ReleaseDDIds { get; set; } = new List<string?>();
    public List<string?> ProcessDDIds { get; set; } = new List<string?>();
    public List<string?> RawMaterialDDIds { get; set; } = new List<string?>();
    public List<string?> PackingMaterialDDIds { get; set; } = new List<string?>();
    protected override async Task OnInitializedAsync()
    {
        _editContext = new EditContext(Data);
        addEnabled = true; saveEnabled = true;


        //  _ponumberActivities = _poOrderDetails.Cast<NavprodOrderLineModel>().ToList();
        Data.ProductActivityCaseLineId = 0;
        _ManuFactureProcessLines = await Mediator.Send(new GetAllApplicationMasterChildListQuery("108"));
        _categoryItems = new List<ApplicationMasterChildModel>(); _actionItems = new List<ApplicationMasterChildModel>();
        Data.ProdActivityCategoryChildId = null; Data.ProdActivityActionChildD = null;
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _plantItems = await Mediator.Send(new GetAllPlantQuery());
        _StatusList = await Mediator.Send(new GetAllCodeMasterQuery("TimeSheetV1Satus"));

        //_ActivityResult = await Mediator.Send(new GetAllApplicationMasterDetailQuery(324));
        // Deserialize JSON to List<ActivityResult>
        //_ActivityResult = JsonSerializer.Deserialize<List<View_ApplicationMasterDetail>>(jsonText);
        //_ActivityMaster = await Mediator.Send(new GetAllApplicationMasterDetailQuery(331));
        //_ActivityStatusItem = await Mediator.Send(new GetAllApplicationMasterDetailQuery(334));
        IDictionary<string, object> dynamicsData = new ExpandoObject();
        var time_sheet_lst = _ManuFactureProcessLines.Where(x => x.Value == "Timesheet").FirstOrDefault();
        if (_selectedEditItems == null)
        {
            if (time_sheet_lst != null)
            {
                Data.ManufacturingProcessChildId = time_sheet_lst.ApplicationMasterChildId;
                timesheetMasterchildid = time_sheet_lst.ApplicationMasterChildId;
                timesheetMasterParentid = time_sheet_lst.ApplicationMasterParentId.ToString();
                dynamicsData[timesheetMasterParentid] = timesheetMasterchildid;
                if (Data.ManufacturingProcessChildId > 0)
                {
                    _categoryItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(Data.ManufacturingProcessChildId));
                }
                var filteredResults = await Mediator.Send(new GetApplicationMasterParentByList(dynamicsData, 108));
                if (filteredResults != null && filteredResults.Count() > 0)
                {
                    _ActivityStatusItem = filteredResults.Where(x => x.Value.ToLower() == "Routine Status".ToLower()).ToList();
                    _ActivityResult = filteredResults.Where(x => x.Value.ToLower() == "Routine Result".ToLower()).ToList();
                    _ActivityMaster = filteredResults.Where(x => x.Value.ToLower() == "Routine Info".ToLower()).ToList();
                }
            }
        }
        Data.StatusID = 3400;
        EnableStatus = false;
        Category = "";
        Action = "";
        if (_selectedEditItems != null)
        {
            StatusType = _selectedEditItems.StatusType;
            Data.StatusType = _selectedEditItems.StatusType;
            Data.CompanyID = _selectedEditItems.CompanyId;
            // Data.FPDD = _selectedEditItems.FPDD;
            //  Data.ProcessDD = _selectedEditItems.ProcessDD;
            // Data.RawMaterialDD = _selectedEditItems.RawMaterialDD;
            //  Data.PackingMaterialDD = _selectedEditItems.PackingMaterialDD;
            Data.FixedAsset = _selectedEditItems.FixedAsset;
            Data.Others = _selectedEditItems.Others;
            Data.ProductionActivityRoutineAppLineId = _selectedEditItems.ProductionActivityRoutineAppLineId;
            Data.NavprodOrderLineId = _selectedEditItems.NavprodOrderLineId;
            Data.ManufacturingProcessChildId = _selectedEditItems.ManufacturingProcessChildId;
            Data.ProdActivityCategoryChildId = _selectedEditItems.ProdActivityCategoryChildId;
            Data.ProdActivityActionChildD = _selectedEditItems.ProdActivityActionChildD;
            Data.IsTemplateUploadFlag = _selectedEditItems.IsTemplateUploadFlag;
            Data.ProductActivityCaseLineId = _selectedEditItems.ProductActivityCaseLineId;
            Data.ProdActivityResultId = _selectedEditItems.ProdActivityResultId;
            Data.RoutineStatusId = _selectedEditItems.RoutineStatusId;
            Data.RoutineInfoIds = _selectedEditItems.RoutineInfoIds;
            Data.LineComment = _selectedEditItems.LineComment;
            Category = _selectedEditItems.ProdActivityCategoryChild;
            Action = _selectedEditItems.ProdActivityActionChild;

            Data.FPDDIds = _selectedEditItems.FPDDIds;
            Data.ProcessDDIds = _selectedEditItems.ProcessDDIds;
            Data.ReleaseProdOrderLineDD = _selectedEditItems.ReleaseProdOrderLineDD;
            Data.RawMaterialDDIds = _selectedEditItems.RawMaterialDDIds;
            Data.PackingMaterialDDIds = _selectedEditItems.PackingMaterialDDIds;
            Data.ProductNameIds = _selectedEditItems.ProductNameIds;
            Data.OthersOptions = _selectedEditItems.OthersOptions;
            if (_selectedEditItems.IsOthersOptions == true)
            {
                Data.OthersOptions = "Yes";
                Data.NavprodOrderLineId = 0;
            }
            if (_selectedEditItems.IsTemplateUpload == true)
            { }
            else
            {
                Data.ProductActivityCaseLineId = 0;
            }
            ProductionActivityRoutineAppLineId = _selectedEditItems.ProductionActivityRoutineAppLineId;
            UploadSessionId = _selectedEditItems.LineSessionId;
            if (_selectedEditItems.ManufacturingProcessChildId > 0)
            {
                timesheetMasterchildid = time_sheet_lst.ApplicationMasterChildId;
                timesheetMasterParentid = time_sheet_lst.ApplicationMasterParentId.ToString();
                dynamicsData[timesheetMasterParentid] = timesheetMasterchildid;
                _categoryItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(_selectedEditItems.ManufacturingProcessChildId));
                if (_selectedEditItems.ProdActivityCategoryChildId != null)
                {
                    _actionItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(_selectedEditItems.ProdActivityCategoryChildId));
                }

                if (_selectedEditItems.ProdActivityCategoryChildId > 0)
                {
                    var selectItem = _categoryItems != null && _selectedEditItems.ProdActivityCategoryChildId > 0 ? _categoryItems.FirstOrDefault(f => f.ApplicationMasterChildId == _selectedEditItems.ProdActivityCategoryChildId) : null;
                    if (selectItem != null)
                    {
                        string parentId22 = selectItem.ApplicationMasterParentId.ToString();
                        dynamicsData[parentId22] = selectItem.ApplicationMasterChildId;
                        if (_selectedEditItems.ProdActivityActionChildD > 0)
                        {
                            var selectAcItem = _actionItems != null && _selectedEditItems.ProdActivityActionChildD > 0 ? _actionItems.FirstOrDefault(f => f.ApplicationMasterChildId == _selectedEditItems.ProdActivityActionChildD) : null;
                            if (selectAcItem != null)
                            {
                                string parentId3 = selectAcItem.ApplicationMasterParentId.ToString();
                                dynamicsData[parentId3] = selectAcItem.ApplicationMasterChildId;
                            }
                        }
                    }

                    if (_selectedEditItems.IsTemplateUpload == true)
                    {
                        await getTemplateItems();
                    }
                }
            }
            var filteredResults = await Mediator.Send(new GetApplicationMasterParentByList(dynamicsData, 108));
            if (filteredResults != null && filteredResults.Count() > 0)
            {
                _ActivityStatusItem = filteredResults.Where(x => x.Value.ToLower() == "Routine Status".ToLower()).ToList();
                _ActivityResult = filteredResults.Where(x => x.Value.ToLower() == "Routine Result".ToLower()).ToList();
                _ActivityMaster = filteredResults.Where(x => x.Value.ToLower() == "Routine Info".ToLower()).ToList();
            }
            await GetIsDoumentExits();

            EnableStatus = false;
            Data.StatusID = 3401;
            if (StatusType == "FP")
            {
                if (_selectedEditItems.CompanyId > 0)
                {
                    _ponumberActivities = await Mediator.Send(new GetAllProductionActivityPONumberAppQuery(_selectedEditItems.CompanyId));
                    Data.FPDD = _selectedEditItems.FPDD;

                    FPVisible = true;
                    ProcessVisible = false;
                    RawMaterialVisible = false;
                    PackingMaterialVisible = false;
                    ProductNameVisible = false;
                }
            }
            if (StatusType == "Process")
            {
                if (_selectedEditItems.CompanyId > 0)
                {
                    _RawMatItemList = await Mediator.Send(new GetRawMatItemListByTypeList("ProcessItem", _selectedEditItems.CompanyId));
                    Data.ProcessDD = _selectedEditItems.ProcessDD;
                    FPVisible = false;
                    ProcessVisible = true;
                    RawMaterialVisible = false;
                    PackingMaterialVisible = false;
                    ProductNameVisible = false;
                }
            }
            if (StatusType == "Raw Material")
            {
                if (_selectedEditItems.CompanyId > 0)
                {
                    _RawMatItemList1 = await Mediator.Send(new GetRawMatItemListByTypeList("RawMatItem", _selectedEditItems.CompanyId));
                    Data.RawMaterialDD = _selectedEditItems.RawMaterialDD;
                    FPVisible = false;
                    ProcessVisible = false;
                    RawMaterialVisible = true;
                    PackingMaterialVisible = false;
                    ProductNameVisible = false;
                }
            }
            if (StatusType == "Packing Material")
            {
                if (_selectedEditItems.CompanyId > 0)
                {
                    _RawMatItemList2 = await Mediator.Send(new GetRawMatItemListByTypeList("PackagingItem", _selectedEditItems.CompanyId));
                    Data.PackingMaterialDD = _selectedEditItems.PackingMaterialDD;
                    FPVisible = false;
                    ProcessVisible = false;
                    RawMaterialVisible = false;
                    PackingMaterialVisible = true;
                    ProductNameVisible = false;
                }
            }
            if (StatusType == "Product Name")
            {
                _ProductNameList = await Mediator.Send(new GetAllApplicationMasterDetailQuery(103));
                FPVisible = false;
                ProcessVisible = false;
                RawMaterialVisible = false;
                PackingMaterialVisible = false;
                ProductNameVisible = true;
            }
            if (StatusType == "Release ProdOrderLine")
            {
                _ReleaseProdOrderLineList = await Mediator.Send(new GetAllReleaseProdOrderLineAppQuery(Data.CompanyID));
                FPVisible = false;
                ProcessVisible = false;
                RawMaterialVisible = false;
                PackingMaterialVisible = false;
                ProductNameVisible = false;
                ReleaseProdOrderLineVisible = true;
            }
            // SelectedTypeItems(_selectedEditItems.StatusType);
        }
        StateHasChanged();
    }
    async Task addNewProductionForm()
    {
        _editContext = new EditContext(Data);
        FileProfileTypeId = null;
        Data.CompanyID = null; ProductionActivityRoutineAppLineId = 0;
        Data.ProductionActivityRoutineAppLineId = 0;
        Data.ProductActivityCaseLineId = 0;
        Data.ManufacturingProcessChildId = null;
        Data.ProdActivityCategoryChildId = null;
        Data.ProdActivityActionChildD = null;
        Data.LineSessionId = null;
        Data.FileProfileTypeId = null; Data.ProdActivityResultId = null;
        Data.RoutineStatusId = null;
        Data.LineComment = null;
        Data.NavprodOrderLineId = null;
        Data.OthersOptions = "No";
        Data.IsOthersOptions = false;
        Data.IsTemplateUpload = false;
        Data.IsTemplateUploadFlag = "No";
        Data.ProductActivityCaseLineId = null;
        Data.RoutineInfoIds = null;
        UploadSessionId = null;
        uploadEnabled = false;
        Data.FPDD = null;
        Data.ProcessDD = null;
        Data.RawMaterialDD = null;
        Data.PackingMaterialDD = null;
        Data.FixedAsset = null;
        Data.Others = null;
        Data.FPDDIds = null;
        Data.ReleaseProdOrderLineDDIds = null; Data.ReleaseProdOrderLineDD = null;
        Data.ProcessDDIds = null;
        Data.PackingMaterialDDIds = null;
        Data.RawMaterialDDIds = null;
        Data.ProductNameIds = null;
        Data.StatusType = null;
        StatusType = null;
        addEnabled = true; saveEnabled = true;
        IDictionary<string, object> dynamicsData = new ExpandoObject();
        FPVisible = false;
        _ReleaseProdOrderLineList = new List<ReleaseProdOrderLine>(); ReleaseProdOrderLineVisible = false;
        ProcessVisible = false;
        RawMaterialVisible = false;
        PackingMaterialVisible = false; _ActivityStatusItem = new List<DropDownOptionsListModel>(); _ActivityResult = new List<DropDownOptionsListModel>(); _ActivityMaster = new List<DropDownOptionsListModel>();
        var time_sheet_lst = _ManuFactureProcessLines.Where(x => x.Value == "Timesheet").FirstOrDefault();
        _ponumberActivities = new List<NavprodOrderLineModel>(); _RawMatItemList = new List<RawMatItemList>();
        if (time_sheet_lst != null)
        {
            Data.ManufacturingProcessChildId = time_sheet_lst.ApplicationMasterChildId;
            timesheetMasterchildid = time_sheet_lst.ApplicationMasterChildId;
            timesheetMasterParentid = time_sheet_lst.ApplicationMasterParentId.ToString();
            dynamicsData[timesheetMasterParentid] = timesheetMasterchildid;
            if (Data.ManufacturingProcessChildId > 0)
            {
                _categoryItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(Data.ManufacturingProcessChildId));
            }
            var filteredResults = await Mediator.Send(new GetApplicationMasterParentByList(dynamicsData, 108));
            if (filteredResults != null && filteredResults.Count() > 0)
            {
                _ActivityStatusItem = filteredResults.Where(x => x.Value.ToLower() == "Routine Status".ToLower()).ToList();
                _ActivityResult = filteredResults.Where(x => x.Value.ToLower() == "Routine Result".ToLower()).ToList();
                _ActivityMaster = filteredResults.Where(x => x.Value.ToLower() == "Routine Info".ToLower()).ToList();
            }
        }
        StateHasChanged();
    }
    void SelectedItemplateItemsChanged(long? Itemss)
    {
        Data.ProductActivityCaseLineId = Itemss;
        Data.FileProfileTypeId = null; FileProfileTypeId = null;
        if (Itemss != null && Itemss > 0)
        {
            Data.ProductActivityCaseLineId = Itemss;
            var items = _templateItems.FirstOrDefault(f => f.ProductActivityCaseLineId == Itemss);
            FileProfileTypeId = items?.LocationToSaveId;
            Data.FileProfileTypeId = items?.LocationToSaveId;
        }
    }
    async Task SelectedItemManuFactureChanged(long? selectItem)
    {
        Data.ManufacturingProcessChildId = selectItem;
        _categoryItems = new List<ApplicationMasterChildModel>(); _actionItems = new List<ApplicationMasterChildModel>();
        Data.ProdActivityCategoryChildId = null; Data.ProdActivityActionChildD = null;
        if (selectItem != null && selectItem > 0)
        {
            _categoryItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(selectItem));
        }
        await OnTemplateUploadGroupValueChanged("No");
    }
    async Task getTemplateItems()
    {
        _templateItems = new List<ProductActivityCaseLineModel>();
        if (Data.ManufacturingProcessChildId > 0 && Data.ProdActivityCategoryChildId > 0)
        {
            _templateItems = await Mediator.Send(new GetProductActivityCaseLineTemplateItems(Data.ManufacturingProcessChildId, Data.ProdActivityCategoryChildId, Data.ProdActivityActionChildD));
        }
        StateHasChanged();
    }
    void SelectedItemprod(string? NAVProdOrder)
    {
        Data.FPDD = NAVProdOrder;
        StateHasChanged();
    }
    void SelectedItemPackingMaterialDDprod(string? NAVProdOrder)
    {
        Data.PackingMaterialDD = NAVProdOrder;
        StateHasChanged();
    }
    void SelectedItemProcessDDprod(string? NAVProdOrder)
    {
        Data.ProcessDD = NAVProdOrder;
        StateHasChanged();
    }
    void SelectedItemRawMaterialDDprod(string? NAVProdOrder)
    {
        Data.RawMaterialDD = NAVProdOrder;
        StateHasChanged();
    }
    async Task OnTemplateUploadGroupValueChanged(string? radioValue)
    {
        _templateItems = new List<ProductActivityCaseLineModel>();
        Data.ProductActivityCaseLineId = 0; Data.IsTemplateUpload = false;
        Data.IsTemplateUploadFlag = radioValue; Data.FileProfileTypeId = null;
        if (radioValue == "Yes")
        {
            Data.ProductActivityCaseLineId = null;
            Data.IsTemplateUpload = true;
            await getTemplateItems();
        }
    }
    void OnGroupValueChanged(string? radioValue)
    {
        _editContext = new EditContext(Data);
        Data.OthersOptions = "Yes";
        Data.NavprodOrderLineId = 0;
        StateHasChanged();
    }
    async Task SelectedItemCategoryChanged(long? selectItemId)
    {
        _actionItems = new List<ApplicationMasterChildModel>();
        Data.ProdActivityCategoryChildId = selectItemId;
        Data.ProdActivityActionChildD = null;
        var selectItem = _categoryItems != null && selectItemId > 0 ? _categoryItems.FirstOrDefault(f => f.ApplicationMasterChildId == selectItemId) : null;
        if (selectItem != null && selectItem.ApplicationMasterChildId > 0)
        {
            _actionItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(selectItem.ApplicationMasterChildId));

            IDictionary<string, object> dynamicsData1 = new ExpandoObject();
            var parentId = timesheetMasterParentid;
            dynamicsData1[parentId] = timesheetMasterchildid;

            parentId2 = selectItem.ApplicationMasterParentId.ToString();
            dynamicsData1[parentId2] = selectItem.ApplicationMasterChildId;

            parentchildId2 = selectItem.ApplicationMasterChildId;

            // var parentId3 = 109.ToString();
            // dynamicsData[parentId3] = 241;

            _ActivityStatusItem = new List<DropDownOptionsListModel>();
            _ActivityResult = new List<DropDownOptionsListModel>();
            _ActivityMaster = new List<DropDownOptionsListModel>();

            Data.ProdActivityResultId = null;
            Data.RoutineStatusId = null;
            Data.RoutineInfoIds = null;

            var filteredResults = await Mediator.Send(new GetApplicationMasterParentByList(dynamicsData1, 108));
            if (filteredResults != null && filteredResults.Count() > 0)
            {
                _ActivityStatusItem = filteredResults.Where(x => x.Value.ToLower() == "Routine Status".ToLower()).ToList();
                _ActivityResult = filteredResults.Where(x => x.Value.ToLower() == "Routine Result".ToLower()).ToList();
                _ActivityMaster = filteredResults.Where(x => x.Value.ToLower() == "Routine Info".ToLower()).ToList();
            }

            StateHasChanged();
        }
        else
        {
            parentId2 = null;
            parentchildId2 = 0;

            Data.ProdActivityResultId = null;
            Data.RoutineStatusId = null;
            Data.RoutineInfoIds = null;
        }
        await OnTemplateUploadGroupValueChanged("No");
    }
    async Task SelectedItemActionChanged(long? selectItemId)
    {
        Data.ProdActivityActionChildD = selectItemId;
        var selectItem = _actionItems != null && selectItemId > 0 ? _actionItems.FirstOrDefault(f => f.ApplicationMasterChildId == selectItemId) : null;
        if (selectItem != null)
        {
            await getTemplateItems();

            IDictionary<string, object> dynamicsData2 = new ExpandoObject();
            var parentId = timesheetMasterParentid;
            dynamicsData2[parentId] = timesheetMasterchildid;

            //var parentId2 = selectItem.ApplicationMasterParentId.ToString();
            dynamicsData2[parentId2] = parentchildId2;

            var parentId3 = selectItem.ApplicationMasterParentId.ToString();
            dynamicsData2[parentId3] = selectItem.ApplicationMasterChildId;

            _ActivityStatusItem = new List<DropDownOptionsListModel>();
            _ActivityResult = new List<DropDownOptionsListModel>();
            _ActivityMaster = new List<DropDownOptionsListModel>();

            Data.ProdActivityResultId = null;
            Data.RoutineStatusId = null;
            Data.RoutineInfoIds = null;

            var filteredResults = await Mediator.Send(new GetApplicationMasterParentByList(dynamicsData2, 108));
            if (filteredResults != null && filteredResults.Count() > 0)
            {
                _ActivityStatusItem = filteredResults.Where(x => x.Value.ToLower() == "Routine Status".ToLower()).ToList();
                _ActivityResult = filteredResults.Where(x => x.Value.ToLower() == "Routine Result".ToLower()).ToList();
                _ActivityMaster = filteredResults.Where(x => x.Value.ToLower() == "Routine Info".ToLower()).ToList();
            }

        }
        await OnTemplateUploadGroupValueChanged("No");
    }
    void onBack()
    {
        RevokeBack?.Invoke();
    }
    async Task HandleProductionFormValidSubmit()
    {
        addEnabled = false; saveEnabled = false;
        var request = new CreateProductionActivityRoutineAppCommand
            {
                ProductionActivityRoutineAppLineId = ProductionActivityRoutineAppLineId,
                CompanyId = Data.CompanyID,
                ProdOrderNo = Data.ProdOrderNo,
                LocationId = Data.LocationID,
                AddedDate = _selectedEditItems != null ? _selectedEditItems.AddedDate : DateTime.Now,
                SessionId = _selectedEditItems != null ? _selectedEditItems.SessionId : Guid.NewGuid(),
                LineSessionId = _selectedEditItems != null ? _selectedEditItems.LineSessionId : Guid.NewGuid(),
                StatusCodeID = _selectedEditItems != null ? _selectedEditItems.StatusCodeID : 1,
                AddedByUserID = _selectedEditItems != null ? _selectedEditItems.AddedByUserID : applicationUser.UserID,
                ManufacturingProcessChildId = Data.ManufacturingProcessChildId,
                ProdActivityCategoryChildId = Data.ProdActivityCategoryChildId,
                ProdActivityActionChildD = Data.ProdActivityActionChildD,
                ProdActivityResultId = Data.ProdActivityResultId,
                RoutineStatusId = Data.RoutineStatusId,
                LineComment = Data.LineComment,
                NavprodOrderLineId = Data.NavprodOrderLineId > 0 ? Data.NavprodOrderLineId : null,
                ModifiedByUserID = applicationUser.UserID,
                ModifiedDate = DateTime.Now,
                IsOthersOptions = Data.OthersOptions == "Yes" ? true : false,
                //IsOthersOptions=Data.IsOthersOptions,
                IsTemplateUpload = Data.IsTemplateUpload,
                IsTemplateUploadFlag = Data.IsTemplateUpload == true ? "Yes" : "No",
                ProductActivityCaseLineId = Data.ProductActivityCaseLineId > 0 ? Data.ProductActivityCaseLineId : null,
                RoutineInfoIds = Data.RoutineInfoIds,
                FPDDIds = Data.FPDDIds,
                ProcessDDIds = Data.ProcessDDIds,
                RawMaterialDDIds = Data.RawMaterialDDIds,
                PackingMaterialDDIds = Data.PackingMaterialDDIds,
                ProductNameIds = Data.ProductNameIds,
                ReleaseProdOrderLineDDIds = Data.ReleaseProdOrderLineDDIds,
                ReleaseProdOrderLineDD = Data.ReleaseProdOrderLineDD,
                StatusID = Data.StatusID,
                TimeSheetAction = true,
                LotNo = Data.LotNo,
                ItemName = Data.ItemName,
                ActionType = "TimeSheetV1",
                StatusType = Data.StatusType,
                FPDD = Data.FPDD,
                ProcessDD = Data.ProcessDD,
                RawMaterialDD = Data.RawMaterialDD,
                PackingMaterialDD = Data.PackingMaterialDD,
                FixedAsset = Data.FixedAsset,
                Others = Data.Others,
                EditProductionRoutineAppID = _selectedEditItems?.ProductionActivityRoutineAppId != null && _selectedEditItems.ProductionActivityRoutineAppId > 0 ? _selectedEditItems.ProductionActivityRoutineAppId : 0

            };

        var result = await Mediator.Send(request);
        if (result > 0)
        {
            if (ProductionActivityRoutineAppLineId > 0)
            {
                toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            }
            else
            {
                toastService.ShowToast("Record Save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            }
            ProductionActivityRoutineAppLineId = result;
            UploadSessionId = request.LineSessionId;
            uploadEnabled = true; addEnabled = true; saveEnabled = true;
            await GetIsDoumentExits();

        }
        StateHasChanged();
    }
    async Task GetIsDoumentExits()
    {
        uploadEnabled = true;
        if (ProductionActivityRoutineAppLineId > 0)
        {
            var dataList = await Mediator.Send(new GetProductActivityRoutineAppLineOneItem(ProductionActivityRoutineAppLineId));
            if (dataList != null && dataList.IsDocuments > 0)
            {
                uploadEnabled = false;
            }
        }
        StateHasChanged();
    }
    private async Task SubmitProductionFormExternally()
    {
        if (_editContext.Validate())
        {
            await this.HandleProductionFormValidSubmit();
        }
    }
    void uploadFiles()
    {
        PopupUpload = true;
    }
    void BackUploadUpload()
    {
        PopupUpload = false;
        // onBack();
        InvokeAsync(GetIsDoumentExits);
        StateHasChanged();

    }
    void CloseManuFacPopup()
    {
        PopupManuFactureScanVisible = false;
        _manureader.StopDecoding();
    }
    void OnManufacScanButtonClick()
    {
        PopupManuFactureScanVisible = true;
    }
    async Task ManufacReceivedBarcodeText(BarcodeReceivedEventArgs args)
    {
        var scanText = args.BarcodeText;
        _categoryItems = new List<ApplicationMasterChildModel>(); _actionItems = new List<ApplicationMasterChildModel>();
        Data.ManufacturingProcessChildId = null; Data.ProdActivityCategoryChildId = null; Data.ProdActivityActionChildD = null;
        if (!string.IsNullOrEmpty(scanText))
        {
            var ScanData = scanText.Split("~");
            if (ScanData.Length > 0)
            {
                var ManfacIdexists = ScanData.ElementAtOrDefault(0) != null;
                var Categoryexists = ScanData.ElementAtOrDefault(2) != null;
                var Actionexists = ScanData.ElementAtOrDefault(4) != null;
                if (ManfacIdexists == true && Categoryexists == true && Actionexists == true)
                {
                    var IsManfacId = long.TryParse(ScanData[0], out _);
                    var IsCategoryId = long.TryParse(ScanData[2], out _);
                    var IsActionId = long.TryParse(ScanData[4], out _);
                    if (IsManfacId == true && IsCategoryId == true && IsActionId == true)
                    {
                        var ManfacId = Convert.ToInt64(ScanData[0]);
                        var SelectItem = _ManuFactureProcessLines.FirstOrDefault(f => f.ApplicationMasterChildId == ManfacId);
                        if (SelectItem != null)
                        {
                            var CategoryId = Convert.ToInt64(ScanData[2]);
                            var ActionId = Convert.ToInt64(ScanData[4]);
                            Data.ManufacturingProcessChildId = SelectItem.ApplicationMasterChildId;
                            Data.ProdActivityCategoryChildId = CategoryId;
                            Data.ProdActivityActionChildD = ActionId;
                            _categoryItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(SelectItem.ApplicationMasterChildId));
                            _actionItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(CategoryId));
                            CloseManuFacPopup();
                        }
                        else
                        {
                            toastService.ShowToast("Invalid QrCode Format", AC.SD.Core.Services.ToastLevel.Error);
                        }
                    }
                    else
                    {
                        toastService.ShowToast("Invalid QrCode Format", AC.SD.Core.Services.ToastLevel.Error);
                    }
                }
                else
                {
                    toastService.ShowToast("Invalid QrCode Format", AC.SD.Core.Services.ToastLevel.Error);
                }
            }
            else
            {
                toastService.ShowToast("Invalid QrCode Format", AC.SD.Core.Services.ToastLevel.Error);
            }
        }
        else
        {
            toastService.ShowToast("Invalid QrCode Format", AC.SD.Core.Services.ToastLevel.Error);
        }
    }
    async void OnTextChanged(string newValue)
    {
        Data.FPDD = newValue;

    }
    async void ProcessOnTextChanged(string newvalue)
    {
        Data.ProcessDD = newvalue;
    }
    async void RawMaterialOnTextChanged(string newvalue)
    {
        Data.RawMaterialDD = newvalue;
    }
    async void PackingMaterialOnTextChanged(string newvalue)
    {
        Data.PackingMaterialDD = newvalue;
    }
    void OnButtonFPClick()
    {
        PopupFPDDScanVisible = true;
    }
    void OnButtonReleaseClick()
    {
        PopupReleaseScanVisible = true;
    }
    void OnButtonProcessClick()
    {
        PopupProcessDDScanVisible = true;
    }
    void OnButtonRawMaterialClick()
    {
        PopupRawMaterialDDScanVisible = true;
    }
    void OnButtonPackingMaterialClick()
    {
        PopupPackingMaterialDDScanVisible = true;
    }
    async Task PackingMaterialDDReceivedBarcodeText(BarcodeReceivedEventArgs args)
    {
        PackingMaterial = args.BarcodeText;
        if (PackingMaterial != null)
        {
            var PackingMaterialdd = _RawMatItemList2.Where(f => f.ItemNo == PackingMaterial).ToList();
            if (PackingMaterialdd.Count > 0)
            {

                if (PackingMaterialDDIds.Contains(PackingMaterial) == false)
                {
                    PackingMaterialDDIds.Add(PackingMaterial);


                }

            }
            else
            {
                toastService.ShowToast("Invaild Packing Material", AC.SD.Core.Services.ToastLevel.Error);
            }
            Data.PackingMaterialDDIds = new List<string?>(PackingMaterialDDIds);
        }
        else
        {
            toastService.ShowToast("Invaild Packing Material", AC.SD.Core.Services.ToastLevel.Error);
        }
        ClosePackingMaterialDDPopup();
    }
    async Task RawMaterialDDReceivedBarcodeText(BarcodeReceivedEventArgs args)
    {
        RawMaterial = args.BarcodeText;
        if (RawMaterial != null)
        {
            var RawMaterialdd = _RawMatItemList1.Where(f => f.ItemNo == RawMaterial).ToList();
            if (RawMaterialdd.Count > 0)
            {

                if (RawMaterialDDIds.Contains(RawMaterial) == false)
                {
                    RawMaterialDDIds.Add(RawMaterial);


                }

            }
            else
            {
                toastService.ShowToast("Invaild Raw Material", AC.SD.Core.Services.ToastLevel.Error);
            }
            Data.RawMaterialDDIds = new List<string?>(RawMaterialDDIds);

        }
        else
        {
            toastService.ShowToast("Invaild Raw Material", AC.SD.Core.Services.ToastLevel.Error);
        }
        CloseRawMaterialDDPopup();
    }
    async Task ProcessDDReceivedBarcodeText(BarcodeReceivedEventArgs args)
    {
        Process = args.BarcodeText;
        if (Process != null)
        {

            // _ponumberActivities = await Mediator.Send(new GetAllProductionActivityPONumberAppQuery(Data.CompanyID));
            var Processdd = _RawMatItemList.Where(f => f.ItemNo == Process).ToList();
            if (Processdd.Count > 0)
            {

                if (ProcessDDIds.Contains(Process) == false)
                {
                    ProcessDDIds.Add(Process);


                }

            }
            else
            {
                toastService.ShowToast("Invaild Process", AC.SD.Core.Services.ToastLevel.Error);
            }
            Data.ProcessDDIds = new List<string?>(ProcessDDIds);


        }
        else
        {
            toastService.ShowToast("Invaild Process", AC.SD.Core.Services.ToastLevel.Error);
        }
        CloseProcessDDPopup();
    }
    async Task FPDDReceivedBarcodeText(BarcodeReceivedEventArgs args)
    {
        FPDD = args.BarcodeText;

        if (FPDD != null)
        {
            // _ponumberActivities = await Mediator.Send(new GetAllProductionActivityPONumberAppQuery(Data.CompanyID));
            var Fpdd = _ponumberActivities.Where(f => f.ProdOrderNo == FPDD).ToList();
            if (Fpdd.Count > 0)
            {

                if (FPDDIds.Contains(FPDD) == false)
                {
                    FPDDIds.Add(FPDD);


                }

            }
            else
            {
                toastService.ShowToast("Invaild FPDD", AC.SD.Core.Services.ToastLevel.Error);
            }
            Data.FPDDIds = new List<string?>(FPDDIds);

        }
        else
        {
            toastService.ShowToast("Invaild FPDD", AC.SD.Core.Services.ToastLevel.Error);
        }

        StateHasChanged();
        CloseFPDDPopup();
    }
    async Task ReleaseDDReceivedBarcodeText(BarcodeReceivedEventArgs args)
    {
        FPDD = args.BarcodeText;

        if (FPDD != null)
        {
            var Fpdd = _ReleaseProdOrderLineList.Where(f => f.ProdOrderNo == FPDD).ToList();
            if (Fpdd.Count > 0)
            {

                if (ReleaseDDIds.Contains(FPDD) == false)
                {
                    ReleaseDDIds.Add(FPDD);
                }
            }
            else
            {
                toastService.ShowToast("Invaild Release ProdOrder", AC.SD.Core.Services.ToastLevel.Error);
            }
            Data.ReleaseProdOrderLineDDIds = new List<string?>(ReleaseDDIds);

        }
        else
        {
            toastService.ShowToast("Invaild Release ProdOrder", AC.SD.Core.Services.ToastLevel.Error);
        }

        StateHasChanged();
        CloseFPDDPopup();
    }
    void CloseFPDDPopup()
    {
        PopupFPDDScanVisible = false;
        _FPReader.StopDecoding();
        StateHasChanged();
    }
    void CloseProcessDDPopup()
    {
        PopupProcessDDScanVisible = false;
        _ProcessReader.StopDecoding();
        StateHasChanged();
    }
    void CloseRawMaterialDDPopup()
    {
        PopupRawMaterialDDScanVisible = false;
        _RawMaterialReader.StopDecoding();
        StateHasChanged();
    }
    void ClosePackingMaterialDDPopup()
    {
        PopupPackingMaterialDDScanVisible = false;
        _PackingMaterialReader.StopDecoding();
        StateHasChanged();
    }
    void CloseReleaseDDPopup()
    {
        PopupRawMaterialDDScanVisible = false;
        _ReleaseReader.StopDecoding();
        StateHasChanged();
    }

    async Task SelectedTypeItemsChanged(string type)
    {
        _ponumberActivities = new List<NavprodOrderLineModel>(); _RawMatItemList = new List<RawMatItemList>();
        // if(_selectedEditItems != null)
        // {
        //     Data.FPDD = null;
        //     Data.ProcessDD = null;
        //     Data.RawMaterialDD = null;
        //     Data.PackingMaterialDD = null;
        //     Data.FixedAsset = null;
        // }
        if (type == "FP")
        {
            if (Data.CompanyID > 0)
            {
                _ponumberActivities = await Mediator.Send(new GetAllProductionActivityFPNumberAppQuery(Data.CompanyID));

                FPVisible = true;
                ProcessVisible = false;
                RawMaterialVisible = false;
                PackingMaterialVisible = false;

                ProductNameVisible = false;
            }
        }
        else if (type == "Process")
        {
            if (Data.CompanyID > 0)
            {
                FPVisible = false;
                ProcessVisible = true;
                RawMaterialVisible = false;
                PackingMaterialVisible = false;
                ProductNameVisible = false;
                _RawMatItemList = await Mediator.Send(new GetRawMatItemListByTypeList("ProcessItem", Data.CompanyID));
            }
        }
        else if (type == "Raw Material")
        {
            if (Data.CompanyID > 0)
            {
                FPVisible = false;
                ProcessVisible = false;
                RawMaterialVisible = true;
                PackingMaterialVisible = false;
                ProductNameVisible = false;

                _RawMatItemList1 = await Mediator.Send(new GetRawMatItemListByTypeList("RawMatItem", Data.CompanyID));
            }
        }
        else if (type == "Packing Material")
        {
            if (Data.CompanyID > 0)
            {
                FPVisible = false;
                ProcessVisible = false;
                RawMaterialVisible = false;
                PackingMaterialVisible = true;
                ProductNameVisible = false;

                _RawMatItemList2 = await Mediator.Send(new GetRawMatItemListByTypeList("PackagingItem", Data.CompanyID));
            }
        }
        else if (type == "Product Name")
        {
            _ProductNameList = await Mediator.Send(new GetAllApplicationMasterDetailQuery(103));
            FPVisible = false;
            ProcessVisible = false;
            RawMaterialVisible = false;
            PackingMaterialVisible = false;
            ProductNameVisible = true;
        }
        else if (type == "Release ProdOrderLine")
        {
            _ReleaseProdOrderLineList = await Mediator.Send(new GetAllReleaseProdOrderLineAppQuery(Data.CompanyID));
            FPVisible = false;
            ProcessVisible = false;
            RawMaterialVisible = false;
            PackingMaterialVisible = false;
            ProductNameVisible = false;
            ReleaseProdOrderLineVisible = true;
        }
        else
        {
            FPVisible = false;
            ProcessVisible = false;
            RawMaterialVisible = false;
            PackingMaterialVisible = false;
            ProductNameVisible = false;
        }
        StateHasChanged();
    }
    public async ValueTask DisposeAsync()
    {
        if (_ManuFactureProcessLines != null)
        {
            _ManuFactureProcessLines.Clear();
            _ManuFactureProcessLines = null;
        }
        if (_categoryItems != null)
        {
            _categoryItems.Clear();
            _categoryItems = null;
        }
        if (_actionItems != null)
        {
            _actionItems.Clear();
            _actionItems = null;
        }
        if (_templateItems != null)
        {
            _templateItems.Clear();
            _templateItems = null;
        }
        if (_ActivityResult != null)
        {
            _ActivityResult.Clear();
            _ActivityResult = null;
        }
        if (_ActivityStatusItem != null)
        {
            _ActivityStatusItem.Clear();
            _ActivityStatusItem = null;
        }
        if (_ActivityMaster != null)
        {
            _ActivityMaster.Clear();
            _ActivityMaster = null;
        }
        if (_ponumberActivities != null)
        {
            _ponumberActivities.Clear();
            _ponumberActivities = null;
        }
        if (_productionActivities != null)
        {
            _productionActivities.Clear();
            _productionActivities = null;
        }
        if (_RawMatItemList != null)
        {
            _RawMatItemList.Clear();
            _RawMatItemList = null;
        }
        if (_RawMatItemList1 != null)
        {
            _RawMatItemList1.Clear();
            _RawMatItemList1 = null;
        }
        if (_RawMatItemList2 != null)
        {
            _RawMatItemList2.Clear();
            _RawMatItemList2 = null;
        }
        if (_AppLines != null)
        {
            _AppLines.Clear();
            _AppLines = null;
        }
        if (_ProductNameList != null)
        {
            _ProductNameList.Clear();
            _ProductNameList = null;
        }
        if (_plantItems != null)
        {
            _plantItems.Clear();
            _plantItems = null;
        }
        if (_StatusList != null)
        {
            _StatusList.Clear();
            _StatusList = null;
        }
        _selectedEditItems = null;
        Data = null;
        DataLine = null;
        FPDDIds = null;
        ProcessDDIds = null;
        RawMaterialDDIds = null;
        PackingMaterialDDIds = null;
        //System.GC.Collect();
        // GC.SuppressFinalize(this);
    }
}
