@using Application.Queries;
@using MediatR;
@using global::Core.Entities;
@using global::Core.Entities.Views;
@using global::Core.EntityModels;
@using global::Core.Repositories.Query;
@inject IMediator Mediator
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject NavigationManager NavigationManager
@inject AC.SD.Core.Services.ToastService toastService
@using BlazorBarcodeScanner.ZXing.JS
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration
@inject IJSRuntime jsRuntime
@inject ClipboardService ClipboardService
<div style="padding:10px;">


    <div class="card w-100" style="margin-bottom:10px;">
        <div class="card-body p-0">
            <DxMenu CollapseItemsToHamburgerMenu="true"
                    CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                    DisplayMode="MenuDisplayMode.Desktop">
                <Items>
                    <DxMenuItem Text="Import Excel File" IconCssClass="fa fa-file-excel" id="attachmentSelectButton" Enabled="exportEnabled" />
                    <DxMenuItem Text="Search" IconCssClass="fa fa-search" Click="OnSearch" />
                </Items>
            </DxMenu>
        </div>
    </div>
    <EditForm EditContext="this._editContext" Context="EditFormContext">
        <DataAnnotationsValidator />
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="Company" ColSpanMd="4">

                <DxComboBox Data="@_plantItems"
                            NullText="Select Company..."
                            SearchMode="ListSearchMode.AutoSearch"
                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                            ListRenderMode="ListRenderMode.Virtual"
                            TextFieldName="Description"
                            ValueFieldName="PlantID"
                            @bind-Value="@data.CompanyId"
                            ShowValidationIcon="true">

                </DxComboBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Stock Balance Month" ColSpanMd="4">
                <DxDateEdit @bind-Date="data.StkMonth"></DxDateEdit>
            </DxFormLayoutItem>

        </DxFormLayout>

    </EditForm>

</div>
<div style="padding:10px;">

    <DxLoadingPanel @bind-Visible="PanelVisible"
                    IsContentBlocked="true"
                    ApplyBackgroundShading="true"
                    IndicatorAreaVisible="false"
                    Text="Fetching Data...">
        <DxGrid @ref="Grid"
                Data="distStockBalances" VirtualScrollingEnabled="true"
                KeyFieldName="AvnavStockBalID"
                EditMode="GridEditMode.EditForm"
                SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
                ColumnResizeMode="GridColumnResizeMode.NextColumn"
                FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
                PagerNavigationMode="PagerNavigationMode.InputBox"
                PageSizeSelectorVisible="true"
                PageSizeSelectorAllRowsItemVisible="true"
                PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                PageSize="20" CustomizeElement="Grid_CustomizeElement"
                RowClick="OnRowClick"
                FocusedRowEnabled="true"
                AllowSelectRowByClick="true"
                SelectionMode="GridSelectionMode.Single"
                CssClass="ch-360"
                style="height: calc(100vh - 340px);">
            <Columns>

                <DxGridDataColumn Caption="Dist" FieldName="Dist" MinWidth="180" />

                <DxGridDataColumn Caption="Dist Item" FieldName="ItemCode" MinWidth="180" />
                <DxGridDataColumn Caption="Item Description" FieldName="ItemDecs" MinWidth="180" />
                <DxGridDataColumn Caption="Nav Item" FieldName="SWItemNo" MinWidth="180" />
                <DxGridDataColumn Caption="NAV Description" FieldName="SWDesc" MinWidth="180" />
                <DxGridDataColumn Caption="NAV Description2" FieldName="SWDesc2" MinWidth="180" />
                <DxGridDataColumn Caption="Internal Ref" FieldName="InternalRefNo" MinWidth="180" />
                <DxGridDataColumn Caption="Category" FieldName="ItemGroup" MinWidth="180" />
                <DxGridDataColumn Caption="Pack Size" FieldName="PackSize" MinWidth="180" />
                <DxGridDataColumn Caption="Pack UOM" FieldName="Packuom" MinWidth="180" />
                <DxGridDataColumn Caption="UOM" FieldName="Uom" MinWidth="180" />
                <DxGridDataColumn Caption="Remaining Quantity" FieldName="RemainingQty" MinWidth="180" />
                <DxGridDataColumn Caption="Stock Balance Month" FieldName="StockBalMonth" MinWidth="180" DisplayFormat="dd-MMM-yy" />

            </Columns>
            <TotalSummary>
                <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="DistDescription" />
            </TotalSummary>

        </DxGrid>
    </DxLoadingPanel>
</div>
<DxFileInput Visible="@UploadVisible"
             AllowMultiFileUpload="false"
             MaxFileSize="15000000"
             ExternalSelectButtonCssSelector="#attachmentSelectButton"
             SelectedFilesChanged="@SelectedFilesChanged"
             AcceptedFileTypes=@AcceptedFileTypes
             FilesUploading="OnFilesUploading">
</DxFileInput>
@code {
    public ApplicationUser? applicationUser { get; private set; }
    ViewPlants CurrentPlant { get; set; }
    IGrid? Grid { get; set; }
    bool PanelVisible { get; set; } = false;
    private List<NavStockBalanceModel> distStockBalances;
    private NavStockBalanceModel? _selectedItems;
    private List<ViewPlants> _plantItems;
    StockBalanceSearch data = new StockBalanceSearch();
    public List<string> AcceptedFileTypes { get; set; } = new List<string> { ".xlsx" };
    EditContext _editContext;
    bool UploadVisible { get; set; } = false; bool exportEnabled { get; set; } = true;
    protected override async Task OnInitializedAsync()
    {
        _editContext = new EditContext(data);
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _plantItems = await Mediator.Send(new GetAllPlantQuery());
        if (_plantItems != null && _plantItems.Count() > 0)
        {
            data.CompanyId = _plantItems.FirstOrDefault()?.PlantID;
        }
        data.StkMonth = DateTime.Now;
        await OnSearch();
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    int SelectedFilesCount { get; set; }
    protected void SelectedFilesChanged(IEnumerable<UploadFileInfo> files)
    {
        SelectedFilesCount = files.ToList().Count;
        InvokeAsync(StateHasChanged);
    }
    protected async Task OnFilesUploading(FilesUploadingEventArgs args)
    {
        exportEnabled = false; PanelVisible = true;
        var file = args.Files[0];
        using var stream = new System.IO.MemoryStream();
        await file.OpenReadStream(file.Size).CopyToAsync(stream);
        byte[] imageArray = stream.ToArray();
        data.UserId = applicationUser.UserID;
        data.ByteData = imageArray;
        var request = new UploadStockBalanceQuery(data);
        var result = await Mediator.Send(request);

        if (result.CompanyId > 0)
        {
            toastService.ShowToast("Record Uploaded Successfully", AC.SD.Core.Services.ToastLevel.Success);
            exportEnabled = true;
            await OnSearch();
        }
    }
    async Task OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "AvnavStockBalID");
        _selectedItems = distStockBalances.FirstOrDefault(f => f.AvnavStockBalID == (long?)UniqueId);


        StateHasChanged();
    }
    async Task SelectedItemPlantChanged(ViewPlants PlantsData)
    {
        if (PlantsData != null)
        {
            CurrentPlant = PlantsData;
            data.CompanyId = PlantsData.CompanyID;
        }

    }
    async Task OnSearch()
    {
        if ((data.CompanyId > 0) && (data.StkMonth != null))
        {
            distStockBalances = await Mediator.Send(new DistStockBalanceQuery(data));
            PanelVisible = false;
            StateHasChanged();
        }
    }
}

