@using Application.Queries;
@using MediatR;
@using global::Core.Entities;
@using global::Core.Entities.Views;
@using global::Core.EntityModels;
@using global::Core.Repositories.Query;
@inject IMediator Mediator
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject NavigationManager NavigationManager
@inject AC.SD.Core.Services.ToastService toastService
@using BlazorBarcodeScanner.ZXing.JS
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration
@inject IJSRuntime jsRuntime
@inject ClipboardService ClipboardService
<div style="padding:10px;">

    <div class="card w-100" style="margin-bottom:10px;">
        <div class="card-body p-0">
            <DxMenu CollapseItemsToHamburgerMenu="true"
                    CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                    DisplayMode="MenuDisplayMode.Desktop">
                <Items>
                    <DxMenuItem Text="View" IconCssClass="fa fa-eye" Click="OnViewData" Enabled="EditEnbled" />
                    <DxMenuItem Text="Search" IconCssClass="fa fa-search" Click="OnSearch" />
                    <DxMenuItem Text="Refresh" IconCssClass="fa fa-refresh" Click="OnSync" />
                </Items>
            </DxMenu>
        </div>
    </div>


    <EditForm EditContext="this._editContext" Context="EditFormContext">
        <DataAnnotationsValidator />
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="Company" ColSpanMd="4">

                <DxComboBox Data="@_plantItems"
                            NullText="Select Company..."
                            SearchMode="ListSearchMode.AutoSearch"
                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                            ListRenderMode="ListRenderMode.Virtual"
                            TextFieldName="Description"
                            ClearButtonDisplayMode=DataEditorClearButtonDisplayMode.Auto
                            ValueFieldName="PlantID"
                            @bind-Value="@data.CompanyID"
                            ShowValidationIcon="true">

                </DxComboBox>

            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Stock Balance Month" ColSpanMd="4">
                <DxDateEdit @bind-Date="data.FilterDate"></DxDateEdit>
            </DxFormLayoutItem>

        </DxFormLayout>

    </EditForm>

</div>
<div style="padding:10px;">

    <DxLoadingPanel @bind-Visible="PanelVisible"
                    IsContentBlocked="true"
                    ApplyBackgroundShading="true"
                    IndicatorAreaVisible="false"
                    Text="Fetching Data...">
        <DxGrid @ref="Grid"
                Data="navitemStockBalance" VirtualScrollingEnabled="true"
                KeyFieldName="NavStockBalanceId"
                EditMode="GridEditMode.EditForm"
                SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
                ColumnResizeMode="GridColumnResizeMode.NextColumn"
                FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
                PagerNavigationMode="PagerNavigationMode.InputBox"
                PageSizeSelectorVisible="true"
                PageSizeSelectorAllRowsItemVisible="true"
                PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                PageSize="20" CustomizeElement="Grid_CustomizeElement"
                RowClick="OnRowClick"
                FocusedRowEnabled="true"
                AllowSelectRowByClick="true"
                SelectionMode="GridSelectionMode.Single"
                CssClass="ch-360"
                style="height: calc(100vh - 340px);">
            <Columns>



                <DxGridDataColumn Caption="Item No" FieldName="ItemNo" MinWidth="180" />
                <DxGridDataColumn Caption="Item Description" FieldName="ItemDescription" MinWidth="180" />
                <DxGridDataColumn Caption="Item Description2" FieldName="ItemDescription2" MinWidth="180" />
                <DxGridDataColumn Caption="Internal Ref" FieldName="InternalRef" MinWidth="180" />
                <DxGridDataColumn Caption="Category" FieldName="Category" MinWidth="180" />
                <DxGridDataColumn Caption="UOM" FieldName="UOM" MinWidth="180" />
                <DxGridDataColumn Caption="Pack Size" FieldName="PackSize" MinWidth="180" />
                <DxGridDataColumn Caption="Quantity" FieldName="Quantity" MinWidth="180" />
                <DxGridDataColumn Caption="Pack UOM" FieldName="PackUOM" MinWidth="180" />
                <DxGridDataColumn Caption="StockBalMonth" FieldName="StockBalMonth" DisplayFormat="dd-MMM-yy" MinWidth="180" />


            </Columns>
            <TotalSummary>
                <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="Quantity" />
            </TotalSummary>

        </DxGrid>
    </DxLoadingPanel>
</div>
<DxPopup @bind-Visible="@AttachmentPopUp"
         ShowFooter="false"
         HeaderText="Stock Balance"
         CloseOnOutsideClick="false"
         ShowCloseButton="true"
         MinWidth="300" MinHeight="200" MaxWidth="1000px" MaxHeight="800">
    <BodyContentTemplate>
        <StockBalanceList NavitemStockBalance="@data" _selectedItemsList="@_selectedItems"></StockBalanceList>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
    </FooterContentTemplate>
</DxPopup>
@code {
    bool AttachmentPopUp { get; set; } = false; bool EditEnbled { get; set; } = false;
    ViewPlants CurrentPlant { get; set; }
    IGrid? Grid { get; set; }
    bool PanelVisible { get; set; } = false;
    private List<NavitemStockBalance> navitemStockBalance;
    private NavitemStockBalance? _selectedItems;
    private List<ViewPlants> _plantItems;
    NavitemStockBalance data = new NavitemStockBalance();
    EditContext _editContext;
    public ApplicationUser? applicationUser { get; private set; }
    protected override async Task OnInitializedAsync()
    {
        _editContext = new EditContext(data);
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _plantItems = await Mediator.Send(new GetAllPlantQuery());
        if (_plantItems != null && _plantItems.Count() > 0)
        {
            data.CompanyID = _plantItems.FirstOrDefault().PlantID;
        }
        data.FilterDate = DateTime.Now;
        await OnSearch();
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    async Task OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "NavStockBalanceId");
        _selectedItems = navitemStockBalance.FirstOrDefault(f => f.NavStockBalanceId == (long?)UniqueId);


        StateHasChanged();
    }
    async Task SelectedItemPlantChanged(ViewPlants PlantsData)
    {
        if (PlantsData != null)
        {
            CurrentPlant = PlantsData;
            data.CompanyID = PlantsData.CompanyID;
        }

    }
    private int GetWeekNumberOfMonth(DateTime date)
    {
        DateTime firstDayOfMonth = new DateTime(date.Year, date.Month, 1);
        int firstDay = (int)firstDayOfMonth.DayOfWeek;
        if (firstDay == 0)
        {
            firstDay = 7;
        }
        double d = (firstDay + date.Day - 1) / 7.0;
        return d > 5 ? (int)Math.Floor(d) : (int)Math.Ceiling(d);
    }
    async Task OnSearch()
    {
        EditEnbled = false;
        if ((data.CompanyID > 0) && (data.FilterDate != null))
        {
            data.Month = data.FilterDate.Value.Month;
            data.Year = data.FilterDate.Value.Year;
            var weekcount = GetWeekNumberOfMonth((DateTime)data.FilterDate);
            data.WeekNumberOfMonth = weekcount;
            PanelVisible = true;
            navitemStockBalance = await Mediator.Send(new NavItemStockBalanceQuery(data));
            if (navitemStockBalance != null && navitemStockBalance.Count()>0)
            {
                _selectedItems = navitemStockBalance.FirstOrDefault();
                EditEnbled = true;
            }
            PanelVisible = false;
            StateHasChanged();
        }
    }
    async void OnSync()
    {
        try
        {
            PanelVisible = true;
            StockBalanceSearch stockBalanceSearch = new StockBalanceSearch();
            stockBalanceSearch.UserId = applicationUser.UserID;
            stockBalanceSearch.StkMonth = data.FilterDate.Value;
            stockBalanceSearch.CompanyId = data.CompanyID;
            var result = await Mediator.Send(new GetNAVStockBalanceQuery(stockBalanceSearch));
            if (result != null)
            {
                await OnSearch();
            }
        }
        catch(Exception ex)
        {
             PanelVisible = false;
            toastService.ShowToast(ex.Message, AC.SD.Core.Services.ToastLevel.Error);
        }
    }
    async void OnViewData()
    {
        AttachmentPopUp = true;
        StateHasChanged();
    }
}
