@page "/syrup-planner"
@using Syncfusion.Blazor.Gantt
@using System.Globalization
@inject IJSRuntime JS
<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGantt DataSource="@TaskCollection" Height="450px" Width="100%" HighlightWeekends="true" DurationUnit="DurationUnit.Hour"
                     AllowSelection="true" GridLines="GridLine.Both" TreeColumnIndex="1" ProjectStartDate="@ProjectStartDate" ProjectEndDate="@ProjectEndDate" ScrollToTaskbarOnClick="true">
                <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress"
                                 Dependency="Predecessor" ParentID="ParentId" Notes="Notes"></GanttTaskFields>
                <GanttColumns>
                    <GanttColumn Field="TaskId" Width="100"></GanttColumn>
                    <GanttColumn Field="TaskName" Width="250" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip"></GanttColumn>
                    <GanttColumn Field="StartDate" HeaderText="Start Date" MinWidth="120"></GanttColumn>
                    <GanttColumn Field="EndDate" HeaderText="End Date" MinWidth="120"></GanttColumn>
                    <GanttColumn Field="Duration" HeaderText="Duration" MinWidth="120"></GanttColumn>
                    <GanttColumn Field="Progress" HeaderText="Progress" MinWidth="120"></GanttColumn>
                    <GanttColumn Field="Predecessor" HeaderText="Dependency" MinWidth="200"></GanttColumn>
                    <GanttColumn Field="Notes" Width="100"></GanttColumn>
                </GanttColumns>
                <GanttEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" AllowTaskbarEditing="true" ShowDeleteConfirmDialog="true"></GanttEditSettings>
                <GanttSegmentFields PrimaryKey="id" ForeignKey="TaskId" StartDate="StartDate" EndDate="EndDate" Duration="Duration" TValue="TaskData" TSegments="SegmentModel" DataSource="SegmentCollection"></GanttSegmentFields>
                <GanttLabelSettings LeftLabel="TaskName" TValue="TaskData"></GanttLabelSettings>
                @if (ShowMarkers)
                {
                    <GanttEventMarkers>
                        @foreach (var day in EachDay(ProjectStartDate, ProjectEndDate))
                        {
                            var w = GetLunchWindow(day);
                            <GanttEventMarker Day="@w.start" Label="Lunch start" CssClass="e-lunch-marker-start"></GanttEventMarker>
                            <GanttEventMarker Day="@w.end" Label="Lunch end" CssClass="e-lunch-marker-end"></GanttEventMarker>
                        }
                    </GanttEventMarkers>
                }
                <GanttSplitterSettings Position="28%"></GanttSplitterSettings>
                <GanttDayWorkingTimeCollection>
                    <GanttDayWorkingTime From="9" To="12"></GanttDayWorkingTime>
                    <GanttDayWorkingTime From="14" To="18"></GanttDayWorkingTime>
                </GanttDayWorkingTimeCollection>
                <GanttTimelineSettings TimelineUnitSize="40">
                    <GanttTopTierSettings Unit="TimelineViewMode.Day" Format="ddd"></GanttTopTierSettings>
                    <GanttBottomTierSettings Unit="TimelineViewMode.Hour"></GanttBottomTierSettings>
                </GanttTimelineSettings>
            </SfGantt>
        </div>
    </div>
</div>
<style>
    html, body {
        height: 100%;
    }
</style>
@code {
    private DateTime ProjectStartDate { get; set; } = new DateTime(2022, 03, 28, 8, 0, 0);
    private DateTime ProjectEndDate { get; set; } = new DateTime(2022, 03, 28, 20, 0, 0);
    private List<TaskData> TaskCollection { get; set; } = new List<TaskData>();
    private List<SegmentModel> SegmentCollection { get; set; } = new List<SegmentModel>();
    private bool ShowMarkers { get; set; } = true;
    private TimeSpan LunchStartTime { get; set; } = TimeSpan.FromHours(12.5); // 12:30
    private TimeSpan LunchEndTime { get; set; } = TimeSpan.FromHours(13.5);   // 13:30

    protected override void OnInitialized()
    {
        TaskCollection = GetTaskCollection();
        SegmentCollection = GetSegmentCollection();
    }
    private IEnumerable<DateTime> EachDay(DateTime from, DateTime thru)
    {
        for (var day = from.Date; day <= thru.Date; day = day.AddDays(1))
            yield return day;
    }
    private (DateTime start, DateTime end) GetLunchWindow(DateTime day)
    {
        var start = day.Date + LunchStartTime; // 12:30
        var end = (day.DayOfWeek == DayOfWeek.Friday)
            ? day.Date + TimeSpan.FromHours(14.5) // 14:30
            : day.Date + LunchEndTime;            // 13:30
        return (start, end);
    }

    public class SegmentModel
    {
        public int id { get; set; }
        public int TaskId { get; set; }
        public DateTime StartDate { get; set; }
        public DateTime EndDate { get; set; }
        public string? Duration { get; set; }
    }
    public class TaskData
    {
        public int TaskId { get; set; }
        public string TaskName { get; set; } = string.Empty;
        public DateTime? StartDate { get; set; }
        public DateTime? EndDate { get; set; }
        public string? Duration { get; set; }
        public int Progress { get; set; }
        public int? ParentId { get; set; }
        public string Predecessor { get; set; } = string.Empty;
    }

    public static List<TaskData> GetTaskCollection()
    {
        List<TaskData> Tasks = new List<TaskData>() {
            new TaskData() { TaskId = 1, TaskName = "Project initiation", StartDate = new DateTime(2022, 03, 28), EndDate = new DateTime(2022, 03, 29), Duration="4" },
            new TaskData() { TaskId = 2, TaskName = "Identify site location", StartDate = new DateTime(2022, 03, 28), Progress = 30, ParentId = 1, Duration="8", },
            new TaskData() { TaskId = 3, TaskName = "Site analyze", StartDate = new DateTime(2022, 03, 28),  Progress = 50, ParentId = 1, Duration="8"},
            new TaskData() { TaskId = 4, TaskName = "Perform soil test", StartDate = new DateTime(2022, 03, 28), ParentId = 1, Duration="5", Predecessor="2FS", Progress=40, },
            new TaskData() { TaskId = 5, TaskName = "Soil test approval", StartDate = new DateTime(2022, 03, 28), Duration="4", Progress = 30 },
            new TaskData() { TaskId = 6, TaskName = "Project estimation", StartDate = new DateTime(2022, 03, 28), Duration="8", Progress=40, ParentId=1 },
            new TaskData() { TaskId = 7, TaskName = "Develop floor plan for estimation", StartDate = new DateTime(2022, 03, 28), Duration = "0", Progress = 30, ParentId = 5, Predecessor= "4FS" },
            new TaskData() { TaskId = 8, TaskName = "List materials", StartDate = new DateTime(2022, 03, 28), Duration = "6", Progress = 30, ParentId = 5 },
            new TaskData() { TaskId = 9, TaskName = "Estimation approval",Progress=30, StartDate = new DateTime(2022, 03, 28), Duration = "4", ParentId = 5, Predecessor="8FS" },
            new TaskData() { TaskId = 10, TaskName = "Building approval", StartDate = new DateTime(2022, 03, 12), Duration = "5", ParentId = 5 },
            new TaskData() { TaskId = 11, TaskName = "Construction initiation", StartDate = new DateTime(2022, 03, 28), Duration = "5", Progress=40 },
            new TaskData() { TaskId = 12, TaskName = "Ground floor initiation", StartDate = new DateTime(2022, 03, 28), Duration = "5", ParentId = 11, Progress=40},
            new TaskData() { TaskId = 13, TaskName = "First floor initiation", StartDate = new DateTime(2022, 03, 28), Duration = "7",ParentId = 11, Progress=40},
            new TaskData() { TaskId = 14, TaskName = "Electric work initiation", StartDate = new DateTime(2022, 03, 28), Duration = "5", ParentId = 11, Progress=40, },
            new TaskData() { TaskId = 15, TaskName = "Plumbing work", StartDate = new DateTime(2022, 03, 28), Duration = "5", ParentId = 11, Progress=40 },
       };
        return Tasks;
    }
    private List<SegmentModel> GetSegmentCollection()
    {
        List<SegmentModel> segments = new List<SegmentModel>();
        segments.Add(new SegmentModel() { id = 1, TaskId = 3, StartDate = new DateTime(2022, 03, 28), Duration = "2", EndDate = new DateTime(2022, 03, 28) });        
        segments.Add(new SegmentModel() { id = 2, TaskId = 3, StartDate = new DateTime(2022, 03, 28), Duration = "3", EndDate = new DateTime(2022, 03, 28) });            
        segments.Add(new SegmentModel() { id = 3, TaskId = 3, StartDate = new DateTime(2022, 03, 28), Duration = "2", EndDate = new DateTime(2022, 03, 28) });
            
        return segments;
    }    
}