@using System.Collections
@using global::Core.EntityModels
@using Application.Queries;
@using MediatR
@inject IMediator Mediator
<style scoped>
    .table-container input[type="text"] {
        border: 1px solid #ccc;
        border-radius: 4px;
        text-align: right;
        padding: 2px 4px;
    }
</style>
<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">
    <div class="col-lg-12 control-section">
        <div class="table-container">
            <table id="tt1">
                <thead>
                    <tr class="group-header">
                        <td colspan="11">Generic Code: @_selectedItems?.MethodCode</td>
                    </tr>
                    <tr>
                        <th>Item No</th>
                        <th>@tickectCalItemModel?.MonthHS</th>
                        <th>Prev Top up no of  month</th>
                        <th>Top up no of  month</th>
                        <th>AC in Units</th>
                        <th>Batch Size</th>
                        <th>Add No of ticket</th>
                        <th>No of ticket - whole no</th>
                        <th>No of ticket - Decemial</th>
                        <th>Final Split Ticket</th>
                        <th>Final Split Ticket</th>
                    </tr>
                </thead>
                <tbody>
                    @if (_simulationItems?.Any() == true)
                    {
                        foreach (var item in _simulationItems)
                        {

                            <tr style="@(item.ItemId == _selectedItems.ItemId ? "background-color:yellow" : "")">
                                <td>@item.ItemNo</td>
                                <td>@item.MonthHs?.ToString("N2")</td>
                                <td>@item.PrevUnChangeTopUpNoOfMonth?.ToString("N2")</td>
                                <td @onclick="() => OnOpenTextBox(item)">
                                    @if (item.IsEditingTopUp)
                                    {
                                        <input type="text" class="form-control form-control-sm text-end" value="@(item.TopUpNoOfMonth?.ToString("N2"))" @onblur="() => BlurTopUpOfMonth()" @onchange="(e => SaveTopUpNoOfMonth(item, e))" style="width:100px;" autofocus />
                                    }
                                    else
                                    {
                                        @item.TopUpNoOfMonth?.ToString("N2")
                                    }
                                </td>
                                <td>@item.SymlQty</td>
                                <td>@item.BatchSizeValue</td>
                                <td>@item.AddNoOfTicket?.ToString("N2")</td>
                                <td>@item.NoOfTicketWholeNo?.ToString("N2")</td>
                                <td>@item.NoOfTicketDecimal?.ToString("N2")</td>
                                <td>@item.FinalSplitTicket1?.ToString("N2")</td>
                                <td>@item.FinalSplitTicket2?.ToString("N2")</td>
                            </tr>
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8"></td>
                        <td>Total</td>
                        <td>Round Down</td>
                        <td>Round Up</td>
                    </tr>
                    <tr>
                        <td colspan="8"></td>
                        <td>@(tickectCalItemModel?.NoOfTicketDecimalSums != null ? tickectCalItemModel.NoOfTicketDecimalSums?.ToString("N2") : (decimal?)null)</td>
                        <td>@(tickectCalItemModel?.RoundDown1 != null ? tickectCalItemModel.RoundDown1?.ToString("N2") : (decimal?)null)</td>
                        <td>@(tickectCalItemModel?.RoundUp1 != null ? tickectCalItemModel.RoundUp1?.ToString("N2") : (decimal?)null)</td>
                    </tr>
                    <tr>
                        <td colspan="9"></td>
                        <td>Evenly Top up</td>
                        <td>Evenly Top up</td>
                    </tr>
                    <tr>
                        <td colspan="9"></td>
                        <td>@(tickectCalItemModel?.EvenlyTopUp != null ? tickectCalItemModel.EvenlyTopUp?.ToString("N2") : (decimal?)null)</td>
                        <td>@(tickectCalItemModel?.EvenlyDownUp != null ? tickectCalItemModel.EvenlyDownUp?.ToString("N2") : (decimal?)null)</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</DxLoadingPanel>


@code {

    [Parameter]
    public IEnumerable _simulationItem1 { get; set; }
    [Parameter]
    public string? MonthName { get; set; }
    [Parameter]
    public decimal? MonthData { get; set; }
    [Parameter]
    public string? MonthType { get; set; }
    [Parameter]
    public INPCalendarPivotModel _selectedItems { get; set; }
    [Parameter]
    public TickectCalItemModel tickectCalItemModel { get; set; }
    [Parameter]
    public StockInformationMaster stockInformationMaster { get; set; }
    [Parameter]
    public EventCallback<INPCalendarPivotModel> OnItemSelected { get; set; }
    IGrid Grid { get; set; }
    bool PanelVisible { get; set; } = true;
    private List<INPCalendarPivotModel> _AllsimulationItems = new List<INPCalendarPivotModel>();
    private IEnumerable<INPCalendarPivotModel> _simulationItems = new List<INPCalendarPivotModel>();

    protected override async Task OnInitializedAsync()
    {

    }
    protected override async Task OnParametersSetAsync()
    {
        await LoadData();
    }
    private void OnOpenTextBox(INPCalendarPivotModel item)
    {
        foreach (var s in _simulationItems)
        {
            if (item.MethodCodeId == s.MethodCodeId && item.ItemId == s.ItemId)
            {
                s.IsEditingTopUp = true;
            }
            else
            {
                s.IsEditingTopUp = false;
            }
        }
    }
    private void BlurTopUpOfMonth()
    {
        foreach (var s in _simulationItems)
        {
            s.IsEditingTopUp = false;
        }
    }
    private async Task SaveTopUpNoOfMonth(INPCalendarPivotModel item, ChangeEventArgs e)
    {
        if (decimal.TryParse(Convert.ToString(e.Value), out decimal newValue))
        {
            item.IsUpdateTopUpNoOfMonth = true;
            item.TopUpNoOfMonth = newValue;
        }

        // Hide textbox and show text again
        item.IsEditingTopUp = false;
        await OnItemSelected.InvokeAsync(item);
        // Optionally trigger calculations or refresh totals
        StateHasChanged();

    }
    public async Task LoadData()
    {
        if (_simulationItem1 != null)
        {
            _AllsimulationItems = _simulationItem1.Cast<INPCalendarPivotModel>().ToList();
            _simulationItems = new List<INPCalendarPivotModel>();
            _simulationItems = _AllsimulationItems.Where(w => w.MethodCodeId == _selectedItems.MethodCodeId).OrderBy(o => o.ItemNo).ToList();
        }
        PanelVisible = false;
        StateHasChanged();
    }

    private void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
    }
}
