@page "/"
@using AC.SD.Core.Configuration
@using AC.SD.Core.Shared;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject AC.SD.Core.Services.DemoThemeService Themes
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using System.Resources
@using DevExpress.Blazor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="@Url.Content("~/")" />
    <script src="_content/AC.SD.Core/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="_content/AC.SD.Core/js/jquery-ui.min.js"></script>
    <script src="_content/AC.SD.Core/js/print.min.js"></script>
    <script src="_content/AC.SD.Core/js/html2pdf.bundle.min.js"></script>
    <link href="_content/AC.SD.Core/css/print.min.css" rel="stylesheet" />
    <script src="_content/AC.SD.Core/js/voiceRecorder.js"></script>

    <link href="_content/Syncfusion.Blazor.Themes/fluent2.css" rel="stylesheet" />
 
   @*  <link href="_content/AC.SD.Core/fluent2/fluent2.min.css" rel="stylesheet" /> *@
    <script src="_content/Syncfusion.Blazor.Core/scripts/syncfusion-blazor.min.js"></script>

    @*   <script src="_content/AC.SD.Core/js/recording.js"></script> *@
    <script src="_content/AC.SD.Core/js/site.js"></script>
    <script src="_content/AC.SD.Core/js/idleTimer.js"></script>
    @* 
    <script>
        function setDashboardRequestHeader(jsonFileName) {
            if (DevExpress && DevExpress.Dashboard && DevExpress.Dashboard.ResourceManager) {
                DevExpress.Dashboard.ResourceManager.setHeader("JsonFileName", jsonFileName);
            } else {
                console.warn("DevExpress Dashboard not ready.");
            }
        }
    </script> *@



    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-app.js";
        import { getMessaging, onMessage, getToken } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-messaging.js";


        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
            apiKey: 'AIzaSyCAR1sWopIrLQFKR2RVqzx5yVeV4-suHb4',
            authDomain: 'https://portal.sunwardpharma.com',
            projectId: 'novatonotify',
            storageBucket: 'novatonotify.appspot.com',
            messagingSenderId: '846072746431',
            appId: '1:846072746431:web:316a89ac0d8a2db739510a',
            measurementId: 'G-YF3RTTBL4Z'
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        //const analytics = getAnalytics(app);
        //console.log(app);

        // console.log(analytics);

        const messaging = getMessaging();
        //console.log(messaging);

        onMessage(messaging, (payload) => {
            notificationTitle = payload.notification.title;
            notificationOptions = {
                body: payload.notification.body,
                icon: payload.notification.icon
            };

            var notification = new Notification(notificationTitle, notificationOptions);

        });
        Notification.requestPermission().then((permission) => {
            if (permission === 'granted') {
                //console.log('Notification permission granted.');
                // TODO(developer): Retrieve a registration token for use with FCM.
                // ...
            } else {
                console.log('Unable to get permission to notify.');
            }
        });

        getToken(messaging).then((currentToken) => {
            if (currentToken) {
                //console.log(currentToken);
                saveToken(currentToken);
            } else {
                // Show permission request UI
                console.log('No registration token available. Request permission to generate one.');
                // ...
            }
        }).catch((err) => {
            console.log('An error occurred while retrieving token. ', err);
            // ...
        });

        self.addEventListener('notificationclick', function (event) {
            event.notification.close();
            const url = event.notification.data.url;
            console.log(url);
            event.waitUntil(
                clients.openWindow(url)
            );
        });

         function saveToken(currentToken) {
            window.localStorage.setItem('PushToken',currentToken);
        }
    </script>

    <link href="_content/AC.SD.Core/css/app.css" rel="stylesheet" />


    <link rel="stylesheet" href="_content/DevExpress.Blazor.Reporting.Viewer/css/dx-blazor-reporting-components.css">
    <meta property="og:description" content="Invested in continuous innovation and research for your quality assurance." />
    <meta property="og:image" content="_content/AC.SD.Core/images/login/SW-Logo.png" />

    @{
        string InitialThemeName = HttpContextAccessor.HttpContext.Request.Cookies[AC.SD.Core.Services.DemoThemeService.ThemeCookieKey];
    }

    <script  type="text/javascript">


               window.attachPasteHandler = function (element, dotNetRef) {
            if (!element) return;
            element.addEventListener("paste", function () {
                dotNetRef.invokeMethodAsync("OnEditorPaste");
            });
        };

                window.getEditorScrollHeight = (container) => {
            if (!container) return 500;
            let editor = container.querySelector('.dxbl-html-editor');
            if (editor) {
                return editor.scrollHeight;
            }
            return 500;
        };



        function showLoading()
        {
            $(".load-indicator").show();
        }

        function hideLoading() {
            setTimeout(function () { $(".load-indicator").fadeOut("slow"); }, 100);
        }
        window.registerIframeOnload = function (iframeId, dotNetHelper) {
            var iframe = document.getElementById(iframeId);
            if (iframe) {
                iframe.onload = function () {
                    dotNetHelper.invokeMethodAsync('HideIframeLoading');
                };
            }
        };
    </script>
    <environment include="ServerSide">
        <component type="typeof(DemoStylesheetContainer)" render-mode="ServerPrerendered" param-InitialThemeName="@InitialThemeName" />
    </environment>

</head>
<body>

    <div class="load-indicator" style="display:none;"></div>
    <Toast />
    @{
        var isIEOrEdgeLegacy = Request.Headers["User-Agent"].Any(userAgent => userAgent.Contains("MSIE") || userAgent.Contains("Trident"));
    }
    @if (isIEOrEdgeLegacy)
    {
        <component type="typeof(BrowserNotSupported)" render-mode="Static" />
    }
    else
    {

        <script type="module">
            import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.15.0/firebase-app.js'
        </script>
        <div id="app">
            <environment include="ServerSide">
                <component type="typeof(AC.SD.Core.App)" render-mode="Server" />
                <script src="_framework/blazor.server.js"></script>
                <script src="_content/AC.SD.Core/common.js"></script>
                <script src="_content/AC.SD.Core/js/scrollEvents.js"></script>
                <script src="_content/AC.SD.Core/js/todoList.js"></script>
            </environment>
        </div>
    }
    <script src="_content/Chronos.Blazor.Cropper/CropHelper.js"></script>

    <script>
        window.triggerClick = (elt) => elt.click();
    </script>
    <script src="_content/BlazorBarcodeScanner.ZXing.JS/zxingjs.index.min.js"></script>
    <script src="_content/BlazorBarcodeScanner.ZXing.JS/BlazorBarcodeScanner.js"></script>
    @* Uncomment the following lines if your application uses the Dashboard or JS-based Reports  *@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/devextreme-quill/1.6.3/dx-quill.min.js"></script>
    @*  <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/24.2.3/js/dx.all.js"></script> *@


    <script>navigator.serviceWorker.register('firebase-messaging-sw.js');</script>

    @DxResourceManager.RegisterScripts((config) =>
    {
        config.Unregister(CommonResources.DevExtremeJS);
        config.Unregister(BlazorResources.QuillJS);

    })
    @*<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
    <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
    <LayoutView Layout="@typeof(MainLayout)">
    <p>Sorry, there's nothing at this address.</p>
    </LayoutView>
    </NotFound>
    </Router>*@
</body>

</html>
