@using global::Core.Entities.Views;
@using global::Core.Entities;
@using Application.Queries;
@using MediatR
@inject IMediator Mediator
@using global::Core.EntityModels;
@inject AC.SD.Core.Services.ToastService toastService
<div class="card w-100" style="margin-bottom:10px; margin-top:10px">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Update" IconCssClass="fa fa-pencil" Click="@updateEmailConversation" Enabled="@UpdateEmailConversationEnabled" />
                @* <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@deleteEmailConversationDelete" Enabled="@DeleteEmailConversationEnabled" /> *@
            </Items>
        </DxMenu>
    </div>
</div>
<DxLoadingPanel @bind-Visible="PanelEmailConversationVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">

    <DxGrid @ref="TransferPermissionsEmailConversationUserGrid" FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            Data="EmailConversationUsers"
            ShowGroupPanel="true" ShowGroupedColumns="true"
            KeyFieldName="ID"
            ShowSearchBox="true"
            VirtualScrollingEnabled="true"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            SelectionMode="GridSelectionMode.Multiple"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            AutoExpandAllGroupRows="true"
            CssClass="ch-360"
            style="height: calc(100vh - 420px);"
            FocusedRowEnabled="true"
            SelectedDataItemsChanged="@SelectedEmailConversationDataItemsChanged"
            AllowSelectRowByClick="true">
        <Columns>
            <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
            <DxGridDataColumn FieldName="ID" Visible="false" />
            <DxGridDataColumn FieldName="UserName" Caption="Name" MinWidth="170" />
            <DxGridDataColumn FieldName="TopicName" Caption="Topic Name" MinWidth="170" />
            <DxGridDataColumn FieldName="EmailConversationName" Caption="Email Conversation" MinWidth="170" />
            <DxGridCommandColumn Width="160px" Visible="false" />
        </Columns>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="TopicName" />
        </TotalSummary>
    </DxGrid>
</DxLoadingPanel>
@* <DxPopup @bind-Visible="@BlukdeleteEmailConversationPopup"
         ShowFooter="true"
         HeaderText="CRT"
         Closed="EulaPopupUserRoleClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkUserRoleDelete" />
    </FooterContentTemplate>
</DxPopup> *@


@code {

    [Parameter]
    public ResetPermissionModel? Data { get; set; }
    public List<EmailConversations> EmailConversationUsers { get; set; }
    bool PanelEmailConversationVisible { get; set; }
    bool BlukdeleteEmailConversationPopup { get; set; } = false;
    IGrid? TransferPermissionsEmailConversationUserGrid { get; set; }
    bool DeleteEmailConversationEnabled { get; set; } = false;
    bool UpdateEmailConversationEnabled { get; set; } = false;
    IReadOnlyList<object> SelectedEmailConversationDataItems { get; set; }

    private EmailConversations _selectedItems;
    protected override async Task OnInitializedAsync()
    {
        await loadEmailConversation();
    }
    public async Task loadEmailConversations(ResetPermissionModel data)
    {
        Data = data;
        await loadEmailConversation();
    }
    async Task loadEmailConversation()
    {
        DeleteEmailConversationEnabled = false; UpdateEmailConversationEnabled = false;
        PanelEmailConversationVisible = true;
        EmailConversationUsers = await Mediator.Send(new GetTransferPermissionsEmailConversationParticipant(Data.FromUserId));
        if (Data.ToUserId > 0)
        {
            EmailConversationUsers = EmailConversationUsers.Where(w => w.UserId != Data.ToUserId).ToList();
        }
        if (EmailConversationUsers != null && EmailConversationUsers.Count > 0)
        {
            UpdateEmailConversationEnabled = true;
            DeleteEmailConversationEnabled = true;
            _selectedItems = EmailConversationUsers.FirstOrDefault();
        }
        PanelEmailConversationVisible = false;
        StateHasChanged();
    }
    void SelectedEmailConversationDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedEmailConversationDataItems = SelectedToItems;
    }
    void deleteEmailConversationDelete()
    {
        BlukdeleteEmailConversationPopup = true;
    }
    async void ClosePopup()
    {
        PanelEmailConversationVisible = false;
        await loadEmailConversation();
    }
    void EulaPopupUserRoleClosed(PopupClosedEventArgs args)
    {
        SelectedEmailConversationDataItems = null;
        BlukdeleteEmailConversationPopup = false;
        PanelEmailConversationVisible = false;
    }
    // async Task bulkUserRoleDelete()
    // {
    //     List<long?> ids = new List<long?>();
    //     try
    //     {
    //         if (SelectedEmailConversationDataItems != null)
    //         {
    //             foreach (object item in SelectedEmailConversationDataItems)
    //             {
    //                 if (item is EmailConversations dataItem)
    //                 {
    //                     ids.Add(dataItem.ID);
    //                 }

    //             }
    //             if (ids != null && ids.Count > 0)
    //             {
    //                 var request = new DeleteTransferPermissionsEmailConversationUser(ids);
    //                 await Mediator.Send(request);
    //                 BlukdeleteEmailConversationPopup = false;
    //                 toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
    //                 await loadEmailConversation();
    //                 TransferPermissionsEmailConversationUserGrid.SetFocusedRowIndex(0);
    //             }
    //         }
    //     }
    //     catch (Exception eq)
    //     {
    //         BlukdeleteEmailConversationPopup = false;
    //         toastService.ShowToast("The Selected Record Do not deleted", AC.SD.Core.Services.ToastLevel.Error);
    //     }
    // }
    async Task updateEmailConversation()
    {
        List<EmailConversations> ids = new List<EmailConversations>();
        try
        {
            if (SelectedEmailConversationDataItems != null)
            {
                foreach (object item in SelectedEmailConversationDataItems)
                {
                    if (item is EmailConversations dataItem)
                    {
                        ids.Add(dataItem);
                    }

                }
                if (Data.ToUserId > 0)
                {
                    if (ids != null && ids.Count > 0)
                    {
                        var request = new UpdateTransferPermissionsEmailConversationUser(ids, Data.ToUserId);
                        await Mediator.Send(request);
                        toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        await loadEmailConversation();
                        TransferPermissionsEmailConversationUserGrid.SetFocusedRowIndex(0);
                    }
                }
                else
                {
                    toastService.ShowToast("Must Select To User", AC.SD.Core.Services.ToastLevel.Warning);
                }
            }
        }
        catch (Exception eq)
        {
            // toastService.ShowToast("Err", AC.SD.Core.Services.ToastLevel.Error);
        }
    }
}
