@using System.Text
@using global::Core.Entities.Views;
@using global::Core.Entities;
@using Application.Queries;
@using MediatR
@inject IMediator Mediator
@using global::Core.EntityModels;
@using global::Core.Repositories.Query
@inject AC.SD.Core.Services.ToastService toastService
@implements IAsyncDisposable
@using Microsoft.AspNetCore.Http;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject NavigationManager NavigationManager
@using Microsoft.Extensions.Configuration;
@inject HttpClient httpClient;
@using System.Text.Json;
@using System.Text.Json.Serialization;
@inject IJSRuntime JSRuntime;


<div class="card w-100" style="margin-bottom:10px; margin-top:10px">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
        DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Transfer" IconCssClass="fa fa-exchange" Click="@updateEmailConversation" Enabled="@UpdateEmailConversationEnabled" />
                @* <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@deleteEmailConversationDelete" Enabled="@DeleteEmailConversationEnabled" /> *@
            </Items>
        </DxMenu>
    </div>
</div>
<DxLoadingPanel @bind-Visible="PanelEmailConversationVisible"
IsContentBlocked="true"
ApplyBackgroundShading="true"
IndicatorAreaVisible="false"
Text="Fetching Data...">

    <DxGrid @ref="TransferPermissionsEmailConversationUserGrid" FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
    ColumnResizeMode="GridColumnResizeMode.NextColumn"
    Data="EmailConversationUsers"
    ShowGroupPanel="true" ShowGroupedColumns="true"
    KeyFieldName="ID"
    ShowSearchBox="true"
    VirtualScrollingEnabled="true"
    PagerNavigationMode="PagerNavigationMode.InputBox"
    PageSizeSelectorVisible="true"
    PageSizeSelectorAllRowsItemVisible="true"
    PageSizeSelectorItems="@(new int[] { 5,10,20 })"
    PageSize="20"
    SelectionMode="GridSelectionMode.Multiple"
    SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
    AutoExpandAllGroupRows="true"
    CssClass="ch-360"
    style="height: calc(100vh - 420px);"
    FocusedRowEnabled="true"
    SelectedDataItemsChanged="@SelectedEmailConversationDataItemsChanged"
    AllowSelectRowByClick="true">
        <Columns>
            <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
            <DxGridDataColumn FieldName="ID" Visible="false" />
            <DxGridDataColumn FieldName="UserName" Caption="Name" MinWidth="170" />
            <DxGridDataColumn FieldName="TopicName" Caption="Topic Name" MinWidth="170" />
            <DxGridDataColumn FieldName="EmailConversationName" Caption="Email Conversation" MinWidth="170" />
            <DxGridDataColumn FieldName="PreviosUser" Caption="Previous User" MinWidth="170" />
            <DxGridCommandColumn Width="160px" Visible="false" />
        </Columns>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="TopicName" />
        </TotalSummary>
    </DxGrid>
</DxLoadingPanel>
@* <DxPopup @bind-Visible="@BlukdeleteEmailConversationPopup"
         ShowFooter="true"
         HeaderText="CRT"
         Closed="EulaPopupUserRoleClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkUserRoleDelete" />
    </FooterContentTemplate>
</DxPopup> *@


@code {

    [Parameter]
    public ResetPermissionModel? Data { get; set; }
    public List<EmailConversations> EmailConversationUsers { get; set; }
    bool PanelEmailConversationVisible { get; set; }
    bool BlukdeleteEmailConversationPopup { get; set; } = false;
    IGrid? TransferPermissionsEmailConversationUserGrid { get; set; }
    bool DeleteEmailConversationEnabled { get; set; } = false;
    bool UpdateEmailConversationEnabled { get; set; } = false;
    IReadOnlyList<object> SelectedEmailConversationDataItems { get; set; }
    public ApplicationUser? applicationUser { get; internal set; }
    public List<RequestEmail> list { get; set; }
    private EmailConversations _selectedItems;
    protected override async Task OnInitializedAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        await loadEmailConversation();
    }
    public async Task loadEmailConversations(ResetPermissionModel data)
    {
        Data = data;
        await loadEmailConversation();
    }
    async Task loadEmailConversation()
    {
        DeleteEmailConversationEnabled = false; UpdateEmailConversationEnabled = false;
        PanelEmailConversationVisible = true;
        EmailConversationUsers = await Mediator.Send(new GetTransferPermissionsEmailConversationParticipant(Data.FromUserId));
        if (Data.ToUserId > 0)
        {
            EmailConversationUsers = EmailConversationUsers.Where(w => w.UserId != Data.ToUserId).ToList();
        }
        if (EmailConversationUsers != null && EmailConversationUsers.Count > 0)
        {
            UpdateEmailConversationEnabled = true;
            DeleteEmailConversationEnabled = true;
            _selectedItems = EmailConversationUsers.FirstOrDefault();
        }
        PanelEmailConversationVisible = false;
        StateHasChanged();
    }
    void SelectedEmailConversationDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedEmailConversationDataItems = SelectedToItems;
    }
    void deleteEmailConversationDelete()
    {
        BlukdeleteEmailConversationPopup = true;
    }
    async void ClosePopup()
    {
        PanelEmailConversationVisible = false;
        await loadEmailConversation();
    }
    void EulaPopupUserRoleClosed(PopupClosedEventArgs args)
    {
        SelectedEmailConversationDataItems = null;
        BlukdeleteEmailConversationPopup = false;
        PanelEmailConversationVisible = false;
    }
    // async Task bulkUserRoleDelete()
    // {
    //     List<long?> ids = new List<long?>();
    //     try
    //     {
    //         if (SelectedEmailConversationDataItems != null)
    //         {
    //             foreach (object item in SelectedEmailConversationDataItems)
    //             {
    //                 if (item is EmailConversations dataItem)
    //                 {
    //                     ids.Add(dataItem.ID);
    //                 }

    //             }
    //             if (ids != null && ids.Count > 0)
    //             {
    //                 var request = new DeleteTransferPermissionsEmailConversationUser(ids);
    //                 await Mediator.Send(request);
    //                 BlukdeleteEmailConversationPopup = false;
    //                 toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
    //                 await loadEmailConversation();
    //                 TransferPermissionsEmailConversationUserGrid.SetFocusedRowIndex(0);
    //             }
    //         }
    //     }
    //     catch (Exception eq)
    //     {
    //         BlukdeleteEmailConversationPopup = false;
    //         toastService.ShowToast("The Selected Record Do not deleted", AC.SD.Core.Services.ToastLevel.Error);
    //     }
    // }
    async Task updateEmailConversation()
    {
        await JSRuntime.InvokeAsync<string>("showLoading");
        List<EmailConversations> ids = new List<EmailConversations>();
        try
        {
            if (SelectedEmailConversationDataItems != null)
            {
                foreach (object item in SelectedEmailConversationDataItems)
                {
                    if (item is EmailConversations dataItem)
                    {
                        ids.Add(dataItem);
                    }

                }
                if (Data.ToUserId > 0)
                {
                    if (ids != null && ids.Count > 0)
                    {
                        var request = new UpdateTransferPermissionsEmailConversationUser(ids, Data.FromUserId, Data.ToUserId, applicationUser.UserID);
                        await Mediator.Send(request);   

                        var fromname = await Mediator.Send(new GetUserList(Data.FromUserId.ToString()));
                        var toname = await Mediator.Send(new GetUserList(Data.ToUserId.ToString()));
                        var createdname = await Mediator.Send(new GetUserList(applicationUser.UserID.ToString()));
                        var fromnamestring = string.Concat(fromname[0].FirstName, "-", fromname[0].NickName);
                        var tonamestring = string.Concat(toname[0].FirstName, "-", toname[0].NickName);
                        var createdstring = string.Concat(createdname[0].FirstName, "-", createdname[0].NickName);


                        await sentReplyTransfer(ids, fromnamestring, tonamestring, createdstring);

                        await InsertTransferEmailHistory(ids, Data.FromUserId.Value, Data.ToUserId.Value, applicationUser.UserID);

                        toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        await loadEmailConversation();

                        TransferPermissionsEmailConversationUserGrid.SetFocusedRowIndex(0);
                    }
                }
                else
                {
                    toastService.ShowToast("Must Select To User", AC.SD.Core.Services.ToastLevel.Warning);
                }
            }
        }
        catch (Exception eq)
        {
            // toastService.ShowToast("Err", AC.SD.Core.Services.ToastLevel.Error);
        }

        await JSRuntime.InvokeAsync<string>("hideLoading");
    }
    private async Task InsertTransferEmailHistory(List<EmailConversations> ids,long fromid,long toid,long creadedid)
    {
        foreach(var id in ids)
        {

            var emailTransferHistory = new InsertTransferEmailHistory
                {
                    ConversationID = id.ConversationId.Value,
                    FromId = fromid,
                    ToId = toid,
                    TopicID = id.TopicID,
                    ReplyId = id.ConversationId.Value,
                    UserID = creadedid,
                    AddedByUserID = applicationUser.UserID,
                    AddedDate = DateTime.Now

                };

            var result = await Mediator.Send(emailTransferHistory);
        }
    }
    private async Task sentReplyTransfer(List<EmailConversations> ids,string fromname,string toname,string sendername)
    {
        foreach(var id in ids)
        {
            list = await Mediator.Send(new GetRequestEmailParticipantList(id.ConversationId.Value));

            var participantIds = new List<long>();
            var AssigntoIdss = new List<long>();
            var AssignccIdss = new HashSet<long>();


            if (list.Count > 0)
            {
                foreach (var item in list)
                {
                    if (item.ToIds == Data.FromUserId)
                    {
                        list.Remove(item);


                    }
                    var ccids = item.ToIds.ToString();                    

                    // Add parsed ccids and item.ToIds.Value to AssignccIdss if they are not null
                    if (!string.IsNullOrEmpty(ccids))
                    {
                        AssignccIdss.UnionWith(ccids.Split(',').Select(long.Parse));
                    }

                    if (item.ToIds.HasValue)
                    {
                        AssignccIdss.Add(item.ToIds.Value);
                        participantIds.Add(item.ToIds.Value);
                    }
                }

                AssigntoIdss = Data.ToUserId.HasValue ? new List<long> { Data.ToUserId.Value } : new List<long>();



                var fromid = applicationUser.UserID;

                // Remove fromid from AssignccIdss if it exists
                AssignccIdss.Remove(fromid);

                // Remove all IDs in AssigntoIdss from AssignccIdss
                foreach (var idss in AssigntoIdss)
                {
                    AssignccIdss.Remove(idss);
                }


            }

            var emailconlist = new EmailConversations
                {
                    TopicID = id.TopicID,
                    AssigntoIds = AssigntoIdss,
                    //AssignccIds = AssignccIdss,
                    AssignccIds = new long[] { -1 },
                    // Message = "Requested Due Date(" + @Application.Common.Helper.Helper.FormatDate(_dataSubjectDuDate.DueDate) + "). Reason :" + DuedateReason,
                    Message = $"Transfer Details:<br/><br/>" +
              $"<strong>From:</strong> {fromname}<br/>" +
              $"<strong>To:</strong> {toname}<br/>" +
              $"<strong>Processed By:</strong> {sendername}<br/>" +
              $"<strong>Date:</strong> {DateTime.Now.ToString("dd/MMM/yyyy")}<br/><br/>" +
              "<strong>Additional Information:</strong><br/>" +
                  $"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This email has been assigned to you.",

                    // Message = $"I would like to inform you that a transfer from <strong>{fromname}</strong> to <strong>{toname}</strong> has been successfully processed.<br/><br/>" +
                    //           $"This transfer was executed by <strong>{sendername}</strong> on {DateTime.Now.ToString("dd/MMM/yyyy")}.",


                    PlistIdss = "",
                    AllowPlistids = "",
                    IsAllowParticipants = false,
                    Urgent = false,
                    ConIds = 0,
                    ReplyId = id.ConversationId.Value,
                    AllParticipantIds = participantIds.Distinct().ToList(),
                    ParticipantId = applicationUser.UserID,
                    Name = id.EmailConversationName,
                    AddedByUserID = applicationUser.UserID,
                    From = "",
                    LastName = "",
                    UserCode = "",
                    UserName = "",
                    FirstName = "",
                    UserEmail = "",
                    FileData = new byte[0],
                    FirebaseDocKey = "",
                    EmailTransfer = true,

                };

           

            string BaseUrl = NavigationManager.BaseUri + "api/Email/";
            string url = BaseUrl + "OnSubmitReply";
            string jsonData = System.Text.Json.JsonSerializer.Serialize(emailconlist);
            var content = new StringContent(jsonData, Encoding.UTF8, "application/json");
            // Send the POST request with the content
            var response = await httpClient.PostAsync(url, content);
            var msg = response.StatusCode;

        }
    }
    public async ValueTask DisposeAsync()
    {
        if (EmailConversationUsers != null)
        {
            EmailConversationUsers.Clear();
            EmailConversationUsers = null;


            // GC.Collect();
            // GC.SuppressFinalize(this);
        }
        SelectedEmailConversationDataItems = null;
        _selectedItems = null;
    }
}
