@using Application.Command.FmGlobals;
@using Application.Commands;
@using Application.Queries;
@using Application.Response;
@using MediatR
@using global::Core.Entities;
@using global::Core.Entities.Views;
@using global::Core.EntityModels;
@inject IMediator Mediator
@using DevExpress.Export
@using global::Core.Repositories.Query;
@inject IJSRuntime jsRuntime;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject NavigationManager NavigationManager

<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" Enabled="@AddEnabled" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
                <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportToExcel" />
                <DxMenuItem Text="Item Entry" IconCssClass="fa fa-file-excel" Click="@AddItemEntry" />
                <DxMenuItem Text="Print" IconCssClass="fa fa-print" Click="@onprint" />
            </Items>
        </DxMenu>
    </div>
</div>
<div class="card w-100" style="margin-bottom:10px;padding:10px;">
    <div class="card-body p-0">
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="Move Transaction Entry" ColSpanMd="6">
                <DxTagBox Data="@_MovePalletNoEntryItems"
                          NullText="Select Transaction Entry..."
                          FilteringMode="DataGridFilteringMode.Contains"
                          TextFieldName="PalletNo"
                          ValueFieldName="FmglobalLineId"
                          @bind-Values="@PalletMoveEntryNoIds" ShowValidationIcon="true" Enabled="IsRelease" />
            </DxFormLayoutItem>
            <DxFormLayoutItem ColSpanMd="6">
                <DxButton Text="Move Transaction" Click="OnButtonClick" Enabled="IsRelease"></DxButton>
            </DxFormLayoutItem>
        </DxFormLayout>

    </div>
</div>


<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">
    <div class="text-center">
        <p>@errorMessage</p>
        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>
<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">
    <div class="text-center">
        <p>@DeleteerrorMessage</p>
        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>

<DxPopup @bind-Visible="@MessageVisible" HeaderText="@MessageHeader">
    <BodyTemplate Context="PopupContext">
        <div class="@((MessageHeader == "Error" ? "TxtRed" : "TxtGreen"))" style="text-align:center; padding: 10px; font-size: 15px;">
            <span> @MessageBody</span>
        </div>
    </BodyTemplate>
</DxPopup>

<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">

    <DxGrid @ref="Grid" Data="@_fmGlobalLine" EditModelSaving="@OnEditModelSaving" DataItemDeleting="@OnDeleteDataItem" EditMode="GridEditMode.EditForm" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            KeyFieldName="FmglobalLineId"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            style="height: calc(100vh - 336px);"
            CssClass="ch-360"
            FocusedRowEnabled="true"
            RowClick="OnRowClick"
            AllowSelectRowByClick="true"
            CustomizeElement="Grid_CustomizeElement"
            CustomizeEditModel="Grid_CustomizeEditModel"
            AutoExpandAllGroupRows="true"
            SelectionMode="GridSelectionMode.Multiple"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            RowDoubleClick="OnRowDoubleClick" SelectedDataItemsChanged="@SelectedDataItemsChanged">


        <Columns>
            <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
            <DxGridDataColumn FieldName="FmglobalLineId" Visible="false" />
            @* <DxGridDataColumn FieldName="PalletEntryName" Caption="Pallet Entry" />*@
            <DxGridDataColumn FieldName="PalletNo">
                <CellDisplayTemplate>

                    @{
                        var item = (ViewFmglobalLine)context.DataItem;
                    }
                    @if (item.FmglobalLinePreviousId > 0)
                    {
                        <i class="fa fa-exchange" aria-hidden="true" style="margin-right: 5px;padding: 5px;font-size: 20px; color: green;"></i>
                    }
                    @item.PalletNo
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="TempPalletNo" />
            <DxGridDataColumn FieldName="AddedDate">
                <CellDisplayTemplate>
                    @{
                        var item = (ViewFmglobalLine)context.DataItem;
                    }
                    @Application.Common.Helper.Helper.FormatDateTime(item.AddedDate)
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="AddedBy" Caption="AddedBy" TextAlignment="GridTextAlignment.Left">
                <CellDisplayTemplate>
                    @{
                        var item = (ViewFmglobalLine)context.DataItem;
                    }
                    <div> @item.AddedBy</div>
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridCommandColumn Width="160px" Visible="false" />
        </Columns>

        <EditFormTemplate Context="EditFormContext">
            @{
                var types = (ViewFmglobalLine)EditFormContext.EditModel;

            }
            <DxFormLayout CssClass="w-100">
                <DxFormLayoutItem Caption="Pallet Entry" ColSpanMd="6">
                    <DxComboBox Data="@_viewPalletNoEntryItems"
                                NullText="Select Pallet Entry..."
                                FilteringMode="DataGridFilteringMode.Contains"
                                TextFieldName="PalletNo"
                                ValueFieldName="FmglobalLineId"
                                SelectedItemChanged="@((ViewFmglobalLine navitems) => SelectedItemMethodChangesChanged(navitems.FmglobalLineId))"
                                @bind-Value="@types.PalletEntryNoId" ShowValidationIcon="true" />
                    <ValidationMessage For="@(() => types.PalletEntryNoId)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Pallet No:" ColSpanMd="6">
                    <DxTextBox @bind-Text="@palletNo" Enabled=false />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Temp Pallet No" ColSpanMd="6">
                    <DxTextBox @bind-Text="@types.TempPalletNo" ShowValidationIcon="true" />
                </DxFormLayoutItem>
                <ValidationSummary />
            </DxFormLayout>
        </EditFormTemplate>

    </DxGrid>
</DxLoadingPanel>

<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="CRT"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@PrintPopupVisible" ShowFooter="true" HeaderText="Print" Width="100%" Height="100%">
    <BodyContentTemplate>
        <FMGlobalPrint printSessionId="@printSessionId" />
    </BodyContentTemplate>
</DxPopup>

@code {
    bool PrintPopupVisible { get; set; }
    public Guid printSessionId { get; set; }
    [Parameter]
    public long? FmglobalId { get; set; }
    bool IsOpen { get; set; } = false;
    public ViewFmglobal fmGlobalItems { get; set; }
    private List<View_ApplicationMasterDetail> _viewPalletEntryItems;
    bool PanelVisible { get; set; }
    Dictionary<long, string>? UsernameIndex { get; set; }
    IReadOnlyList<object> SelectedDataItems { get; set; }
    private string gridHeight = "calc(100vh - 230px - 143px)";
    private List<ViewFmglobalLine>? _fmGlobalLine;
    IGrid? Grid { get; set; }
    private ViewFmglobalLine _selectedItems;
    //bool EditEnabled { get; set; } = true;
    bool DeleteEnabled { get; set; } = false;
    bool ExportSelectedRowsOnly { get; set; }
    DxPopup? popup;
    bool PopupVisible { get; set; } = false;
    string? errorMessage;
    string? DeleteerrorMessage;
    bool MessageVisible { get; set; }
    string styleClass = "";
    string MessageHeader = "Error";
    string MessageBody = "";
    private bool loading;
    bool Blukdeletepopup { get; set; } = false;
    bool EditEnabled { get; set; } = false;
    bool AddEnabled { get; set; } = false;
    string SelectedGroup = "none";
    private ViewFmglobalLine _selectlst;
    public ApplicationUser? applicationUser { get; private set; }
    long? PalletEntryId { get; set; }
    long? ItemId { get; set; }
    string palletNo { get; set; }
    private List<ViewFmglobalLine> _viewPalletNoEntryItems;
    private List<ViewFmglobalLine> _MovePalletNoEntryItems;
    public IEnumerable<long?> PalletMoveEntryNoIds { get; set; }
    bool IsRelease { get; set; } = true;
    // [Parameter]
    //public Action<Guid?, Guid?> RevokeBack { get; set; }
    async Task SelectedItemChanged(View_NavItems navitems)
    {

    }
    void SelectedItemMoveChangesChanged(ViewFmglobalLine itemsData)
    {

    }
    async Task OnButtonClick()
    {
        var createReq = new CreateFmglobalMoveCommand
            {
                FmglobalMoveId = 0,
                PalletMoveEntryNoIds = PalletMoveEntryNoIds,
                FmglobalId = fmGlobalItems.FmglobalId,
                StatusCodeId = 1,
                AddedByUserId = applicationUser.UserID,
                AddedDate = DateTime.Now,
                ModifiedByUserId = applicationUser.UserID,
                ModifiedDate = DateTime.Now,
                LocationID = fmGlobalItems.LocationFromId,
                LocationToID = fmGlobalItems.LocationToId,
            };
        try
        {
            var result = await Mediator.Send(createReq);
            toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            IEnumerable<long?> PalletMoveEntryNoIds = new List<long?>();
            StateHasChanged();
            await loadItemDataData(fmGlobalItems.FmglobalId);

        }
        catch (Exception eq)
        {

            errorMessage = eq.Message;
            PopupVisible = true;

        }

    }
    void SelectedItemMethodChangesChanged(long? ItemsId)
    {
        if (ItemsId > 0)
        {
            var masterDetail = _viewPalletNoEntryItems.FirstOrDefault(f => f.FmglobalLineId == ItemsId);
            if (masterDetail != null)
            {
                palletNo = masterDetail.PalletNo + "|" + fmGlobalItems.LocationFrom;
            }
        }
    }
    public async Task GetMovePalletData(long? LocationFromId)
    {
        _MovePalletNoEntryItems = await Mediator.Send(new GetAllFmGlobalLineByLocationFromQuery(LocationFromId));
        if (fmGlobalItems != null && fmGlobalItems.FmglobalId > 0)
        {
            _MovePalletNoEntryItems = _MovePalletNoEntryItems.Where(w => w.FmglobalId != fmGlobalItems.FmglobalId).ToList();

        }
        StateHasChanged();
    }
    protected override async Task OnInitializedAsync()
    {
        _viewPalletEntryItems = await Mediator.Send(new GetAllApplicationMasterDetailQuery(343));

        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        if (FmglobalId > 0)
        {
            await loadItemDataData(FmglobalId);
        }
    }
    public async Task loadItemDataData(long? FmglobalId)
    {
        var items = await Mediator.Send(new GetAllFmGlobalByIdQuery(FmglobalId));
        await loadData(items);
    }
    public async Task loadData(ViewFmglobal _fmglobalItem)
    {
        FmglobalId = _fmglobalItem.FmglobalId;
        fmGlobalItems = _fmglobalItem;
        if (FmglobalId > 0)
        {
            if (_fmglobalItem.FmglobalStatus.ToLower() == "released")
            {
                IsRelease = false;
            }
            await UpdateDataAsync();
            await GetMovePalletData(fmGlobalItems.LocationFromId);
            StateHasChanged();

        }
        PanelVisible = false;
        StateHasChanged();
    }
    async Task UpdateDataAsync()
    {
        AddEnabled = true;
        _fmGlobalLine = await Mediator.Send(new GetAllFmGlobalLineQuery(FmglobalId));
        if (_fmGlobalLine.Count > 0)
        {
            PanelVisible = true;
            _selectedItems = _fmGlobalLine.FirstOrDefault();

            if (_selectedItems != null)
            {
                //RevokeBack?.Invoke(fmGlobalItems.SessionId, _selectedItems.SessionId);
                EditEnabled = true;
                DeleteEnabled = true;
                StateHasChanged();
            }
        }
        PanelVisible = false;
        _viewPalletNoEntryItems = await Mediator.Send(new GetAllFmGlobalLineByPalletEntryNoQuery(fmGlobalItems.CompanyId));
        _viewPalletNoEntryItems = _viewPalletNoEntryItems.Where(w => w.FmglobalId != fmGlobalItems.FmglobalId).ToList();
        if (IsRelease == false)
        {
            AddEnabled = false;
            EditEnabled = false;
            DeleteEnabled = false;
        }
        StateHasChanged();
    }
    void onprint()
    {
        if (_selectedItems != null)
        {
            printSessionId = _selectedItems.SessionId.Value;
            PrintPopupVisible = true;
        }

        // string url = "print/" + _selectedItems.SessionId;
        // NavigationManager.NavigateTo(url, forceLoad: true);
    }
    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        var navitems = (ViewFmglobalLine)e.EditModel;
        if (e.IsNew)
        {
            palletNo = "";
        }
        else
        {
            palletNo = navitems.PalletNo;
            if (navitems.PalletEntryNoId > 0)
            {
                SelectedItemMethodChangesChanged(navitems.PalletEntryNoId);
            }
        }
    }

    async Task ExportToExcel()
    {
        await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = true,

                CustomizeCell = OnCustomizeCell
            });

    }


    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }

    async Task OnEditModelSaving(GridEditModelSavingEventArgs e)
    {

        var editModel = (ViewFmglobalLine)e.EditModel;

        if (e.IsNew)
        {
            var createReq = new CreateFmGlobalLineCommand
                {
                    FmglobalId = FmglobalId,
                    PalletEntryId = editModel.PalletEntryId,
                    PalletNo = palletNo,
                    // PalletNo = _viewPalletEntryItems.FirstOrDefault(f => f.ApplicationMasterDetailID == editModel.PalletEntryId)?.Value,
                    StatusCodeId = 1,
                    AddedByUserId = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    ModifiedByUserId = applicationUser.UserID,
                    ModifiedDate = DateTime.Now,
                    SessionId = Guid.NewGuid(),
                    TempPalletNo = editModel.TempPalletNo,
                    CompanyId = fmGlobalItems.CompanyId,
                    PalletEntryNoId = editModel.PalletEntryNoId,
                    LocationId = fmGlobalItems.LocationToId,
                };

            try
            {
                var result = await Mediator.Send(createReq);
                toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            }
            catch (Exception eq)
            {

                errorMessage = eq.Message;
                PopupVisible = true;

            }

            await UpdateDataAsync();


        }
        else
        {
            var UpdateReq = new EditFmGlobalLineCommand
                {
                    FmglobalLineId = editModel.FmglobalLineId,
                    FmglobalId = FmglobalId,
                    PalletEntryId = editModel.PalletEntryId,
                    StatusCodeId = 1,
                    ModifiedByUserId = applicationUser.UserID,
                    ModifiedDate = DateTime.Now,
                    AddedByUserId = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    SessionId = editModel.SessionId,
                    PalletNoAuto = editModel.PalletNoAuto,
                    PalletNo = editModel.PalletEntryNoId > 0 ? (editModel.FmglobalLineId + "_" + palletNo) : palletNo,
                    PalletNoYear = editModel.PalletNoYear,
                    CompanyId = fmGlobalItems.CompanyId,
                    TempPalletNo = editModel.TempPalletNo,
                    PalletEntryNoId = editModel.PalletEntryNoId,
                    LocationId = fmGlobalItems.LocationToId,
                };

            var ans = await Mediator.Send(UpdateReq);
            toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();

        }

    }
    private async void onShowPopupMessage(string headerText, string bodyText)
    {

        MessageVisible = true;
        MessageBody = bodyText;
        MessageHeader = headerText;
        loading = false;
        StateHasChanged();
    }
    async void ClosePopup()
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
        await UpdateDataAsync();
    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
        UpdateDataAsync();
    }
    async Task OnDeleteDataItem(GridDataItemDeletingEventArgs e)
    {

        var editModel = (ViewFmglobalLine)e.DataItem;
        var request = new DeleteFmGlobalLineCommand(editModel.FmglobalLineId);
        await Mediator.Send(request);
        await UpdateDataAsync();
        Grid.SetFocusedRowIndex(0);

    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "FmglobalLineId");
        _selectedItems = _fmGlobalLine.FirstOrDefault(f => f.FmglobalLineId == (long?)UniqueId);
        //RevokeBack?.Invoke(fmGlobalItems.SessionId, _selectedItems.SessionId);
        StateHasChanged();

    }
    void AddItemEntry()
    {
        if (fmGlobalItems != null && fmGlobalItems.SessionId != null && _selectedItems != null && _selectedItems.SessionId != null)
        {
            NavigationManager.NavigateTo("FmGlobal/EditFmGlobalItem/" + fmGlobalItems.SessionId + "/" + _selectedItems.SessionId);
        }
    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addEdit();
    }
    async void addNew()
    {
        Grid.StartEditNewRowAsync();

    }
    void addEdit()
    {
        if (IsRelease == true)
        {

            if (SelectedDataItems.Count == 1)
            {

                foreach (object item in SelectedDataItems)
                {

                    if (item is ViewFmglobalLine ViewFmglobalLine)
                    {

                        _selectlst = _fmGlobalLine.FirstOrDefault(f => f.FmglobalLineId == ViewFmglobalLine.FmglobalLineId);


                    }
                }
                Grid.StartEditDataItemAsync(_selectlst);
            }
            else
            {
                Grid.StartEditDataItemAsync(_selectedItems);
            }
        }
        //Grid.SelectDataItems(SelectedDataItems);


    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    async Task bulkDelete()
    {
        try
        {
            if (SelectedDataItems != null)
            {
                foreach (object item in SelectedDataItems)
                {

                    if (item is ViewFmglobalLine ViewFmglobalLine)
                    {

                        var request = new DeleteFmGlobalLineCommand(ViewFmglobalLine.FmglobalLineId);
                        await Mediator.Send(request);
                        Blukdeletepopup = false;
                        toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        Grid.SetFocusedRowIndex(0);
                    }

                }
            }
        }
        catch (Exception eq)
        {
            DeleteerrorMessage = eq.Message;
            PopupVisible = true;
        }

        await UpdateDataAsync();


    }
    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        if (SelectedToItems is IGridSelectionChanges changes)
        {
            var SelectedItemsInfo = changes.SelectedDataItems.FirstOrDefault();
            _selectedItems = (ViewFmglobalLine)SelectedItemsInfo;
        }
        SelectedDataItems = SelectedToItems;
        if (IsRelease == false)
        {
            AddEnabled = false;
            EditEnabled = false;
            DeleteEnabled = false;
        }
        else
        {
            if (SelectedDataItems.Count > 1)
            {
                EditEnabled = false;
                DeleteEnabled = false;
            }
            else
            {
                EditEnabled = true;

                DeleteEnabled = true;
            }
        }

    }
}
