@page "/FileUploads"
@using Application.Queries;
@using DevExpress.Export;
@inject IJSRuntime jsRuntime
@using global::Core.Entities;
@using global::Core.Entities.Views;
@inject IMediator Mediator
@using MediatR
@using Microsoft.Extensions.Configuration;
@using global::Core.Repositories.Query;
@inject IConfiguration Configuration;
@inject ILocalStorageService<ApplicationUser> _localStorageService



<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportToExcel" />
            </Items>
        </DxMenu>
    </div>
</div>
<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">


    <DxGrid @ref="Grid" Data="@_reportdocuments" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
            PagerNavigationMode="PagerNavigationMode.InputBox" PageSizeSelectorVisible="true"
            @bind-SelectedDataItems="@SelectedDataItems"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20" CustomizeElement="Grid_CustomizeElement" style="height: calc(100vh - 220px);"
            CssClass="w-100" AutoExpandAllGroupRows="true"
            SelectionMode="GridSelectionMode.Multiple"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages">
        <Columns>

            <DxGridDataColumn FieldName="FileName" MinWidth="150" />
            <DxGridDataColumn FieldName="ContentType" MinWidth="250" />
           @* <DxGridDataColumn FieldName="FileSize "  MinWidth="150" />*@
           @* <DxGridDataColumn FieldName="FilePath" Width="180" />*@
           
        </Columns>
        
    </DxGrid>

 
        <DxFormLayout CssClass="w-100 ">
            <DxFormLayoutGroup Caption="Attachment" CssClass="txtEditorMsg" ColSpanMd="12">
                <div id="attachmentSelectButton" style="height: 33px;" class="btn border-primary btn-primary m-1 handline">Select File</div>
                <div class="">
                    <DxUpload @ref="uploadComponent" Name="files"
                              Visible="@AttachmentUploadVisible"
                              AcceptedFileTypes=@AcceptedFileTypes
                              UploadMode="@UploadMode.OnButtonClick"
                              UploadUrl="@GetUploadUrl()"
                              AllowMultiFileUpload="true"
                              ExternalSelectButtonCssSelector="#attachmentSelectButton"
                              SelectedFilesChanged="@AttachmentSelectedFilesChanged"
                              FileUploaded="@isUploadSuccess"
                              FileUploadError="@OnUploadError">
                    </DxUpload>
                    <div class="alert alert-danger @(ErrorVisible? " visible" : " invisible")">@MyError</div>
                </div>
                <div style="width:100%;">
                    @if (ActiveSessionId != null)
                    {
                    @if (_reportdocuments != null && _reportdocuments.Any())
                        {
                            <ul class="d-flex flex-column-reverse todo-list">
                            @foreach (var item in _reportdocuments)
                                {

                                    <li class="doc_lst_view">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <span style="font-weight: 600; font-size: 14px;">@item.FileName</span>
                                                @{
                                                    string formattedFileSize = FormatFileSize(item.FileSize);
                                                }
                                                <span style="font-size: 11px;">  @formattedFileSize</span>

                                                @* <button class="dxbl-btn fa fa-cloud-download" @onclick="@(() => onDocDownload(item.DocumentId))"> </button>*@

                                            </label>
                                        </div>
                                    </li>
                                }
                            </ul>

                        }
                    }
                </div>
            </DxFormLayoutGroup>
        </DxFormLayout>
   
</DxLoadingPanel>

@code {
    public ApplicationUser applicationUser { get; private set; }
    Guid? _sessionId;
    [Parameter]
    public string ActiveSessionId { get; set; }
    [Parameter]
    public List<string> AcceptedFileTypes { get; set; } = new List<string> {  ".repx" };
    bool AttachmentUploadVisible { get; set; } = false;
    IReadOnlyList<object> SelectedDataItems { get; set; }
    bool PanelVisible { get; set; }
    private List<ReportDocuments> _reportdocuments;
    IGrid Grid { get; set; }
    private DxUpload uploadComponent;
    private List<UploadFileInfo> SelectedFiles { get; set; } = new List<UploadFileInfo>();
    bool isFileUpload = false;
    string MyError { get; set; }
    bool ErrorVisible { get; set; } = false;
    protected override async Task OnInitializedAsync()
    {

        PanelVisible = true;
        _sessionId = Guid.NewGuid();
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        var model = await Mediator.Send(new GetAllReportFileUploadsQuery());
        _reportdocuments = model;
        PanelVisible = false;

    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    async Task ExportToExcel()

    {
        if (SelectedDataItems != null)
        {

            await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
                {

                    ExportSelectedRowsOnly = true,
                    CustomizeCell = OnCustomizeCell

                });
        }
        else
        {
            await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
                {

                    ExportSelectedRowsOnly = false,
                    CustomizeCell = OnCustomizeCell

                });
        }

    }


    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;



    }
    public string GetUploadUrl()
    {
        string BaseUrl = Configuration["DocumentsUrl:BaseUrl"];
        
        string url = BaseUrl + "Upload/UploadDocuments?SessionId=" + _sessionId + "&addedByUserId = 1" ;
        return url.ToString();
        //return null;
    }
    protected async void AttachmentSelectedFilesChanged(IEnumerable<UploadFileInfo> files)
    {
        AttachmentUploadVisible = files.ToList().Count > 0;
        SelectedFiles.AddRange(files);
    }
    private async Task isUploadSuccess()
    {
        //uploadComponent.RemoveAllFiles();
        //uploadComponent.CancelAllFilesUpload();
        isFileUpload = false;
        //await LoadData();
    }
    void OnUploadError(FileUploadErrorEventArgs e)
    {
        MyError = e.RequestInfo.ResponseText;
        ErrorVisible = true;
        InvokeAsync(StateHasChanged);
    }
    public static string FormatFileSize(long bytes)
    {
        var unit = 1024;
        if (bytes < unit) { return $"{bytes} B"; }

        var exp = (int)(Math.Log(bytes) / Math.Log(unit));
        return $"{bytes / Math.Pow(unit, exp):F2} {("KMGTPE")[exp - 1]}B";
    }
}
