@using Application.Queries;
@using MediatR
@using System.Threading;
@using System.Text.Json;
@using global::Core.Entities.Views;
@using global::Core.Entities;
@using global::Core.EntityModels;
@inject IMediator Mediator
@using DevExpress.Export
@using Application.Response;
@inject NavigationManager NavigationManager
@page "/SalesItemPackingInformation"
@inject IJSRuntime jsRuntime
@using global::Core.Repositories.Query;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@implements IAsyncDisposable

  <div class="card w-100" style="margin-bottom:10px;">
     <div class="card-body p-0">
         <DxMenu CollapseItemsToHamburgerMenu="true"
                 CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                 DisplayMode="MenuDisplayMode.Desktop">
             <Items>
                <DxMenuItem Text="Sync" IconCssClass="fa fa-sync" Click="@syncData" />
                 <DxMenuItem Text="Sales Factor" IconCssClass="fa fa-add" Click="@addFactor" />
             </Items>
         </DxMenu>
     </div>
 </div> 

<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">

    <DxGrid @ref="Grid" FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn" VirtualScrollingEnabled="true"
            Data="_employeeItems"
            KeyFieldName="FinishProductGeneralInfoLineID"
            EditModelSaving="Grid_EditModelSaving"
            DataItemDeleting="Grid_DataItemDeleting"
            CustomizeElement="Grid_CustomizeElement"
            ShowSearchBox="true"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            SelectionMode="GridSelectionMode.Multiple"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            AutoExpandAllGroupRows="true"
            CssClass="ch-360"
            style="height: calc(100vh - 200px);"
            FocusedRowEnabled="true"
            RowClick="OnRowClick"
            AllowSelectRowByClick="true"
            ShowGroupPanel="true" ShowGroupedColumns="true">

        <Columns>
           
            <DxGridDataColumn FieldName="FinishProductGeneralInfoID" MinWidth="80" Visible="false" />
            <DxGridDataColumn FieldName="ManufacturingSite" MinWidth="80" />
            <DxGridDataColumn FieldName="RegisterCountry" MinWidth="80" />
            <DxGridDataColumn FieldName="ProductName" MinWidth="80" />
            <DxGridDataColumn FieldName="ProductOwner" MinWidth="80" />
            <DxGridDataColumn FieldName="ProductionRegistrationHolderName" MinWidth="80" />
            <DxGridDataColumn FieldName="PackagingType" MinWidth="80" />
            <DxGridDataColumn FieldName="SmallestPackQty" MinWidth="80" />
            <DxGridDataColumn FieldName="SmallestQtyUnit" MinWidth="80" />
            <DxGridDataColumn FieldName="SmallestPerPack" MinWidth="80" />
            <DxGridDataColumn FieldName="RegistrationFactor" MinWidth="80" />
            <DxGridDataColumn FieldName="StatusCode" Caption="Status" MinWidth="80" />
            <DxGridDataColumn FieldName="AddedByUser"  MinWidth="80" />
            <DxGridDataColumn FieldName="AddedDate" Width="180">
                <CellDisplayTemplate>
                    @{
                        var item = (TempSalesPackInformationReportModel)context.DataItem;
                    }
                    @Application.Common.Helper.Helper.FormatDate(item.AddedDate.Value)
                </CellDisplayTemplate>
            </DxGridDataColumn>
           
        </Columns>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="ManufacturingSite" />
        </TotalSummary>
    </DxGrid>
</DxLoadingPanel>
<DxPopup @bind-Visible="@factorPopup"
         ShowFooter="true"
         HeaderText="Sales Factor"
         CloseOnOutsideClick="false"
         MinWidth="300" MinHeight="200" MaxWidth="1000px" MaxHeight="800">
    <BodyContentTemplate>
        <TempSalesPackInformationFactorsLine _selectedParentItems="@_selectedItems" applicationUser="@applicationUser"></TempSalesPackInformationFactorsLine>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => ClosePopup())" />
    </FooterContentTemplate>
</DxPopup>
@code {
    public ApplicationUser applicationUser { get; private set; }
    private List<TempSalesPackInformationReportModel> _employeeItems;
    bool EditEnabled { get; set; } = false;
    bool DeleteEnabled { get; set; } = false;
    bool factorPopup { get; set; } = false;
    private TempSalesPackInformationReportModel _selectedItems;
    IGrid Grid { get; set; }
    bool ExportSelectedRowsOnly { get; set; }
    bool PanelVisible { get; set; }
    protected override async Task OnInitializedAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        await loadData();
    }
    async Task loadData()
    {
        PanelVisible = true;
        _employeeItems = await Mediator.Send(new GetAllTempSalesPackInformationQuery());

        if (_employeeItems.Count > 0)
        {
            _selectedItems = _employeeItems.FirstOrDefault();
            EditEnabled = true;
            DeleteEnabled = true;

        }
        PanelVisible = false;
        StateHasChanged();
    }
    async Task syncData()
    {
        PanelVisible = true;
        TempSalesPackInformationReportModel tempSalesPackInformationReportModel = new TempSalesPackInformationReportModel();
        tempSalesPackInformationReportModel.AddedByUserID=applicationUser.UserID;
        tempSalesPackInformationReportModel.StatusCodeID = 5;
        var response = await Mediator.Send(new GetAllTempSalesPackInformationSyncQuery(tempSalesPackInformationReportModel));
        if (response.StatusCodeID>5)
        {
            await loadData();
        }
        StateHasChanged();
    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "FinishProductGeneralInfoLineID");
        _selectedItems = _employeeItems.FirstOrDefault(f => f.FinishProductGeneralInfoLineID == (long?)UniqueId);
    }
    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {

    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {

    }
    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {

    }
    async Task UpdatePlantAsync(ViewPlants editablePlant)
    {

    }

    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
    }
    async Task ExportToExcel()
    {
        await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = true,
                CustomizeCell = OnCustomizeCell
            });
    }
    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }
    void addFactor()
    {
        factorPopup = true;
    }
    void ClosePopup()
    {
        factorPopup = false;
        StateHasChanged();
    }
    public async ValueTask DisposeAsync()
    {
        if (_employeeItems != null)
        {
            _employeeItems.Clear();
            _employeeItems = null;
        }
       
        
        _selectedItems = null;
       
    }
}
