@using Application.Queries;
@using MediatR;
@using global::Core.Entities;
@using global::Core.EntityModels;
@using global::Core.Entities.Views;
@using global::Core.Repositories.Query;
@inject IMediator Mediator
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject ClipboardService ClipboardService
@inject AC.SD.Core.Services.ToastService toastService
@inject NavigationManager NavigationManager
@implements IAsyncDisposable
<div class="card w-100" style="margin-bottom:10px; margin-top:10px">
    <div class="card-body p-0">
        @if (isMainGrid == true)
        {
            <DxMenu CollapseItemsToHamburgerMenu="true"
                    CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                    DisplayMode="MenuDisplayMode.Desktop">
                <Items>
                    <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="AddFactor" />
                    <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="EditFactor" />
                    <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="DeleteFactor" />
                </Items>
            </DxMenu>
        }
        else
        {
            <DxMenu CollapseItemsToHamburgerMenu="true"
                    CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                    DisplayMode="MenuDisplayMode.Desktop">
                <Items>
                    <DxMenuItem Text="Back" IconCssClass="fa fa-reply" Click="backFactor" />
                    <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="AddFactor" />
                    <DxMenuItem Text="Save" IconCssClass="fa fa-save" Click="onsubmitClick" />
                </Items>
            </DxMenu>
        }
    </div>
</div>
<div style="@onAddVisible">
    <div class="" style="margin-top: 10px;margin-left: 11px;">
        <div class="row align-items-start" style="overflow: auto; border: 1px solid #d5d4d4;padding:10px;">
            <div class="cw-480" style="margin-top:10px;">
                <EditForm EditContext="this._editContext" Context="EditFormContext" OnValidSubmit="HandleValidSubmit">
                    <DxFormLayout CssClass="w-100">
                        <DataAnnotationsValidator />
                        <DxFormLayoutItem Caption="Profile" ColSpanMd="6">
                            <DxComboBox Data="@_documentProfileNoList"
                                        NullText="Select Profile..."
                                        ListRenderMode="ListRenderMode.Virtual"
                                        SearchMode="ListSearchMode.AutoSearch"
                                        SearchFilterCondition="ListSearchFilterCondition.Contains"
                                        TextFieldName="Name"
                                        ValueFieldName="ProfileID"
                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                        @bind-Value="@Data.ProfileId" ShowValidationIcon="true">
                                <Columns>
                                    <DxListEditorColumn FieldName="@nameof(DocumentProfileNoSeriesModel.Name)"
                                                        Caption="Name"
                                                        Width="180px" />
                                    <DxListEditorColumn FieldName="@nameof(DocumentProfileNoSeriesModel.Description)"
                                                        Caption="Description" />
                                    <DxListEditorColumn FieldName="@nameof(DocumentProfileNoSeriesModel.Abbreviation)"
                                                        Caption="Abbreviation" />
                                </Columns>
                            </DxComboBox>
                            <ValidationMessage For="@(() => Data.ProfileId)" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Navision No" ColSpanMd="6">
                            <DxComboBox Data="@_navItemLists"
                                        NullText="Select Navision No..."
                                        ListRenderMode="ListRenderMode.Virtual"
                                        SearchMode="ListSearchMode.AutoSearch"
                                        SearchFilterCondition="ListSearchFilterCondition.Contains"
                                        TextFieldName="No"
                                        ValueFieldName="ItemId"
                                        EditFormat="{0}|{1}|{2}"
                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                        @bind-Value="@Data.ItemId" ShowValidationIcon="true">
                                <Columns>
                                    <DxListEditorColumn FieldName="@nameof(View_NavItems.No)"
                                                        Caption="Name"
                                                        Width="180px" />
                                    <DxListEditorColumn FieldName="@nameof(View_NavItems.Description)"
                                                        Caption="Description" />
                                    <DxListEditorColumn FieldName="@nameof(View_NavItems.Description2)"
                                                        Caption="Description2" />
                                </Columns>
                            </DxComboBox>
                            <ValidationMessage For="@(() => Data.ItemId)" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Sales Factor" ColSpanMd="6">
                            <DxSpinEdit @bind-Value="@Data.SalesFactor" ShowSpinButtons="false" MinValue="1" />
                            <ValidationMessage For="@(() => Data.SalesFactor)" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Selling Pack Unit" ColSpanMd="6">
                            <DxSpinEdit @bind-Value="@Data.SellingPackUnit" ShowSpinButtons="false" MinValue="1" />
                            <ValidationMessage For="@(() => Data.SellingPackUnit)" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Sales Pack Size" ColSpanMd="6">
                            <DxSpinEdit @bind-Value="@Data.SalesPackSize" ShowSpinButtons="false" MinValue="1" />
                            <ValidationMessage For="@(() => Data.SalesPackSize)" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Quantity Pack Per Carton" ColSpanMd="6">
                            <DxSpinEdit @bind-Value="@Data.QtypackPerCarton" ShowSpinButtons="false" MinValue="1" />
                            <ValidationMessage For="@(() => Data.QtypackPerCarton)" />
                        </DxFormLayoutItem>
                    </DxFormLayout>
                </EditForm>
            </div>
        </div>
    </div>
</div>
<div style="@onShowMain">
    <DxLoadingPanel @bind-Visible="PanelVisible"
                    IsContentBlocked="true"
                    ApplyBackgroundShading="true"
                    IndicatorAreaVisible="false"
                    Text="Fetching Data...">
        <DxGrid @ref="Grid" FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                ColumnResizeMode="GridColumnResizeMode.NextColumn" VirtualScrollingEnabled="true"
                Data="tempSalesPackInformationFactorItems"
                KeyFieldName="TempSalesPackInformationFactorId"
                ShowGroupPanel="true" ShowGroupedColumns="true"
                CustomizeElement="Grid_CustomizeElement"
                ShowSearchBox="true"
                PagerNavigationMode="PagerNavigationMode.InputBox"
                PageSizeSelectorVisible="true"
                PageSizeSelectorAllRowsItemVisible="true"
                PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                PageSize="20"
                SelectionMode="GridSelectionMode.Multiple"
                SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
                AutoExpandAllGroupRows="true"
                CssClass="ch-360"
                style="height: calc(100vh - 350px);"
                FocusedRowEnabled="true"
                RowClick="OnRowClick"
                AllowSelectRowByClick="true">
            <Columns>
                <DxGridDataColumn FieldName="ProfileNo" Caption="FP No" MinWidth="80" />
                <DxGridDataColumn FieldName="Fpname" Caption="FP Name" MinWidth="80" />
                <DxGridDataColumn FieldName="ItemName" Caption="Navision No" MinWidth="40" />
                <DxGridDataColumn FieldName="ItemDescription" Caption="Navision Description" MinWidth="80" />
                <DxGridDataColumn FieldName="QtypackPerCarton" Caption="Quantity Pack Per Carton" MinWidth="80" />
            </Columns>
        </DxGrid>
    </DxLoadingPanel>
</div>
@code {
    EditContext _editContext;
    IGrid Grid { get; set; }
    [Parameter]
    public TempSalesPackInformationReportModel _selectedParentItems { get; set; }
    [Parameter]
    public ApplicationUser applicationUser { get; set; }
    private List<TempSalesPackInformationFactor> tempSalesPackInformationFactorItems { get; set; }
    public TempSalesPackInformationFactor _selectedItems { get; set; }
    TempSalesPackInformationFactor Data = new TempSalesPackInformationFactor();
    bool PanelVisible { get; set; } = false; bool isMainGrid { get; set; } = true;
    bool loadingLinkDoc { get; set; } = false;
    public List<DocumentProfileNoSeriesModel> _documentProfileNoList { get; set; }
    public List<View_NavItems> _navItemLists { get; set; }
    string onShowMain = "";
    string onAddVisible = "display:none;";
    protected override async Task OnInitializedAsync()
    {
        _editContext = new EditContext(Data);
        Data.AddedByUserId = applicationUser.UserID;
        Data.ModifiedByUserId = applicationUser.UserID;
        Data.AddedDate = DateTime.Now;
        Data.StatusCodeId = 1; Data.Fpname = null;
        Data.ModifiedDate = DateTime.Now;
        Data.TempSalesPackInformationId = _selectedParentItems.TempSalesPackInformationID;
        _documentProfileNoList = await Mediator.Send(new GetDocumentProfiles());
        _navItemLists = await Mediator.Send(new GetAllNavItemsQuery());
        await loadData();
    }
    void EditFactor()
    {
        if (_selectedItems != null && _selectedItems.TempSalesPackInformationFactorId > 0)
        {
            _editContext = new EditContext(Data);
            Data.TempSalesPackInformationFactorId = _selectedItems.TempSalesPackInformationFactorId;
            Data.AddedByUserId = _selectedItems.AddedByUserId;
            Data.ModifiedByUserId = applicationUser.UserID;
            Data.AddedDate = _selectedItems.AddedDate; Data.Fpname = _selectedItems.Fpname;
            Data.ModifiedDate = DateTime.Now; Data.StatusCodeId = 1;
            Data.TempSalesPackInformationId = _selectedParentItems.TempSalesPackInformationID;
            Data.SalesPackSize = _selectedItems.SalesPackSize;
            Data.SellingPackUnit = _selectedItems.SellingPackUnit;
            Data.ProfileId = _selectedItems.ProfileId;
            Data.ItemId = _selectedItems.ItemId;
            Data.SalesFactor = _selectedItems.SalesFactor;
            Data.QtypackPerCarton = _selectedItems.QtypackPerCarton;
            isMainGrid = false;
            onAddVisible = "";
            onShowMain = "display:none;";
        }
        StateHasChanged();
    }
    void resetData()
    {
        _editContext = new EditContext(Data);
        Data.AddedByUserId = applicationUser.UserID;
        Data.ModifiedByUserId = applicationUser.UserID;
        Data.AddedDate = DateTime.Now; Data.Fpname = null;
        Data.ModifiedDate = DateTime.Now; Data.StatusCodeId = 1;
        Data.TempSalesPackInformationId = _selectedParentItems.TempSalesPackInformationID; Data.SalesPackSize = null; Data.SellingPackUnit = null;
        Data.ProfileId = null; Data.ItemId = null; Data.SalesFactor = null; Data.QtypackPerCarton = null;
    }
    async Task loadData()
    {
        PanelVisible = true;
        tempSalesPackInformationFactorItems = await Mediator.Send(new GetTempSalesPackInformationFactor(_selectedParentItems.TempSalesPackInformationID));
        if (tempSalesPackInformationFactorItems.Count > 0)
        {
            _selectedItems = tempSalesPackInformationFactorItems.FirstOrDefault();
        }
        PanelVisible = false;
        StateHasChanged();
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    async Task DeleteFactor()
    {
        if (_selectedItems != null && _selectedItems.TempSalesPackInformationFactorId > 0)
        {
            var response = await Mediator.Send(new DeleteTempSalesPackInformationFactorQuery(_selectedItems.TempSalesPackInformationFactorId));
            if (response.TempSalesPackInformationFactorId > 0)
            {
                toastService.ShowToast("Record Deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                await loadData();
            }
        }
    }
    async void OnRowClick(GridRowClickEventArgs e)
    {

        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "TempSalesPackInformationFactorId");
        _selectedItems = tempSalesPackInformationFactorItems.FirstOrDefault(f => f.TempSalesPackInformationFactorId == (long?)UniqueId);
        StateHasChanged();

    }
    void backFactor()
    {
        isMainGrid = true;
        onAddVisible = "display:none;";
        onShowMain = "";

    }
    void AddFactor()
    {
        isMainGrid = false;
        onAddVisible = "";
        onShowMain = "display:none;";
        resetData();
        StateHasChanged();
    }
    public async Task onsubmitClick()
    {
        if (_editContext.Validate())
        {
            await this.HandleValidSubmit();
        }
    }
    public async Task HandleValidSubmit()
    {
        if (_selectedParentItems.RegistrationFactor == 1 || Data.SalesFactor == 1)
        {
            Data.Fpname = "";
        }
        else
        {
            Data.Fpname = "[" + _selectedParentItems.PrhspecificProductName + "] " + " [" + _selectedParentItems.RegistrationFactor + " or " + Data.SalesFactor + "] " + " X " + " [" + _selectedParentItems.SmallestPackQty + "] " + " [" + _selectedParentItems.SmallestQtyUnit + "] " + "/" + "Registration Till Smallest Production Pack" + " - " + _selectedParentItems.RegistrationPerPack + " ]";
        }
        loadingLinkDoc = true;
        var response = await Mediator.Send(new TempSalesPackInformationFactorQuery(Data));
        if (response.TempSalesPackInformationFactorId > 0)
        {
            if (Data.TempSalesPackInformationFactorId > 0)
            {
                toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
                loadingLinkDoc = false;
            }
            else
            {
                toastService.ShowToast("Record Added Successfully", AC.SD.Core.Services.ToastLevel.Success);
                loadingLinkDoc = false;
            }
            onAddVisible = "display:none;";
            onShowMain = "";
            resetData();
            await loadData();
            StateHasChanged();
        }

    }
    public async ValueTask DisposeAsync()
    {

        if (tempSalesPackInformationFactorItems != null)
        {
            tempSalesPackInformationFactorItems.Clear();
            tempSalesPackInformationFactorItems = null;
        }
        if (_documentProfileNoList != null)
        {
            _documentProfileNoList.Clear();
            _documentProfileNoList = null;
        }
        if (_navItemLists != null)
        {
            _navItemLists.Clear();
            _navItemLists = null;
        }
        _selectedItems = null;
        //System.GC.Collect();
//GC.SuppressFinalize(this);
    }
}
