@using Application.Queries;
@using MediatR;
@using global::Core.Entities;
@using global::Core.Entities.Views;
@using global::Core.EntityModels;
@using global::Core.Repositories.Query;
@inject IMediator Mediator
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject AC.SD.Core.Services.ToastService toastService
@inject IJSRuntime JSRuntime;
@using System.Collections
@using BlazorBarcodeScanner.ZXing.JS
@implements IAsyncDisposable
<div class="card" style="margin-bottom:10px; margin-top: 10px; margin-right:-12px;">
    <div class="card-body p-0">
        <div class="row">
            <div class="">
                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Auto">
                    <Items>
                        <DxMenuItem Text="Back" IconCssClass="fas fa-reply" Click="@onBack" />
                        <DxMenuItem Text="Add New" IconCssClass="fas fa-save" Click="@addNewProductionForm" Enabled="@addEnabled" />
                        <DxMenuItem Text="Save" IconCssClass="fas fa-save" Click="@SubmitProductionFormExternally" Enabled="@saveEnabled" />
                        <DxMenuItem Text="Upload" IconCssClass="fa fa-cloud-upload" Click="@uploadFiles" Enabled="@uploadEnabled" />
                    </Items>
                </DxMenu>
            </div>
        </div>
    </div>
</div>

<EditForm EditContext="this._editContext" Context="EditFormContext" OnValidSubmit="HandleProductionFormValidSubmit">

    <DataAnnotationsValidator />
    <DxFormLayout CssClass="w-100">
        <DxFormLayoutItem Caption="ProdOrderNo" ColSpanMd="6">
            <DxComboBox Data="@_ponumberActivities"
                        NullText="Select ProdOrderNo..."
                        SearchMode="ListSearchMode.AutoSearch"
                        SearchFilterCondition="ListSearchFilterCondition.Contains"
                        TextFieldName="Name"
                        ValueFieldName="NavprodOrderLineId"
                        ValueChanged="@((long? prod) => SelectedItemprod(prod))"
                        Value="Data.NavprodOrderLineId"
                        ValueExpression="@(() => Data.NavprodOrderLineId )"
                        ShowValidationIcon="true">
            </DxComboBox>
            <ValidationMessage For="@(() => Data.NavprodOrderLineId)" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Other Options" ColSpanMd="6">
            <DxRadioGroup Items="@IsOtherOptionsItems"
                          Value="@Data.OthersOptions"
                          ValueExpression="@(() => Data.OthersOptions )"
                          ValueChanged="@((string value) => OnGroupValueChanged(value))"
                          Layout="RadioGroupLayout.Horizontal"
                          CssClass="dx-demo-radio-group" />
            <ValidationMessage For="@(() => Data.OthersOptions)" />
        </DxFormLayoutItem>

        <DxFormLayoutItem Caption="Manufacturing Process:" ColSpanMd="6">
            <DxComboBox Data="@_ManuFactureProcessLines"
                        NullText="Select Manufacturing Process..."
                        SearchMode="ListSearchMode.AutoSearch"
                        SearchFilterCondition="ListSearchFilterCondition.Contains"
                        TextFieldName="Value"
                        ValueFieldName="ApplicationMasterChildId"
                        Value="@Data.ManufacturingProcessChildId"
                        ValueExpression="@(() => Data.ManufacturingProcessChildId )"
                        ValueChanged="@((long? plant) => SelectedItemManuFactureChanged(plant))"
                        ShowValidationIcon="true">
                <Buttons>
                    <DxEditorButton IconCssClass="fa fa-qrcode"
                                    Tooltip="Scan Manufacturing Process"
                                    Click="@(_ => OnManufacScanButtonClick())" />
                </Buttons>
            </DxComboBox>
            <ValidationMessage For="@(() => Data.ManufacturingProcessChildId)" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Category:" ColSpanMd="6">
            <DxComboBox Data="@_categoryItems"
                        NullText="Select Category ..."
                        SearchMode="ListSearchMode.AutoSearch"
                        SearchFilterCondition="ListSearchFilterCondition.Contains"
                        TextFieldName="Value"
                        ValueFieldName="ApplicationMasterChildId"
                        ValueChanged="@((long? plant) => SelectedItemCategoryChanged(plant))"
                        Value="@Data.ProdActivityCategoryChildId"
                        ValueExpression="@(() => Data.ProdActivityCategoryChildId )"
                        ShowValidationIcon="true">
            </DxComboBox>
            <ValidationMessage For="@(() => Data.ProdActivityCategoryChildId)" />
        </DxFormLayoutItem>

        <DxFormLayoutItem Caption="Action:" ColSpanMd="6">
            <DxComboBox Data="@_actionItems"
                        NullText="Select ActionDropdown..."
                        SearchMode="ListSearchMode.AutoSearch"
                        SearchFilterCondition="ListSearchFilterCondition.Contains"
                        TextFieldName="Value"
                        ValueFieldName="ApplicationMasterChildId"
                        ValueChanged="@((long? plant) => SelectedItemActionChanged(plant))"
                        Value="@Data.ProdActivityActionChildD"
                        ValueExpression="@(() => Data.ProdActivityActionChildD )"
                        ShowValidationIcon="true">
            </DxComboBox>
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Template Upload:" ColSpanMd="6">
            <DxRadioGroup Items="@TemplateUploadOptions"
                          Value="@Data.IsTemplateUploadFlag"
                          ValueExpression="@(() => Data.IsTemplateUploadFlag )"
                          ValueChanged="@((string value) => OnTemplateUploadGroupValueChanged(value))"
                          Layout="RadioGroupLayout.Horizontal"
                          CssClass="dx-demo-radio-group" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Name Of Template:" ColSpanMd="6" Visible="@Data.IsTemplateUpload">
            <DxComboBox Data="@_templateItems"
                        NullText="Select Name Of Template..."
                        SearchMode="ListSearchMode.AutoSearch"
                        SearchFilterCondition="ListSearchFilterCondition.Contains"
                        TextFieldName="NameOfTemplate"
                        ValueFieldName="ProductActivityCaseLineId"
                        ValueChanged="@((long? plant) => SelectedItemplateItemsChanged(plant))"
                        Value="@Data.ProductActivityCaseLineId"
                        ValueExpression="@(() => Data.ProductActivityCaseLineId )"
                        ShowValidationIcon="true">
            </DxComboBox>
            <ValidationMessage For="@(() => Data.ProductActivityCaseLineId)" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Activity Result:" ColSpanMd="6">
            <DxComboBox Data="@_ActivityResult"
                        NullText="Select Activity Result..."
                        SearchMode="ListSearchMode.AutoSearch"
                        SearchFilterCondition="ListSearchFilterCondition.Contains"
                        TextFieldName="Value"
                        ValueFieldName="ApplicationMasterDetailID"
                        @bind-Value="Data.ProdActivityResultId"
                        ShowValidationIcon="true">
            </DxComboBox>
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Activity Status:" ColSpanMd="6">
            <DxComboBox Data="@_ActivityStatusItem"
                        NullText="Select Activity Status..."
                        SearchMode="ListSearchMode.AutoSearch"
                        SearchFilterCondition="ListSearchFilterCondition.Contains"
                        TextFieldName="Value"
                        ValueFieldName="ApplicationMasterDetailID"
                        @bind-Value="Data.ActivityStatusId"
                        ShowValidationIcon="true">
            </DxComboBox>
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Activity Master" ColSpanMd="12">
            <DxTagBox NullText="Select Activity Master..."
                      Data="@_ActivityMaster"
                      SearchMode="ListSearchMode.AutoSearch"
                      SearchFilterCondition="ListSearchFilterCondition.Contains"
                      ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                      TextFieldName="Value"
                      ValueFieldName="ApplicationMasterDetailID"
                      @bind-Values="@Data.ActivityMasterIds"
                      CssClass="cw-480" />
        </DxFormLayoutItem>

        <DxFormLayoutItem Caption="Comment:" ColSpanMd="12">
            <DxMemo @bind-Text="Data.LineComment" Rows="5" />
        </DxFormLayoutItem>

    </DxFormLayout>
</EditForm>
<DxPopup @bind-Visible="@PopupUpload"
         HeaderText="Upload Documents"
         CloseOnOutsideClick="false"
         ShowCloseButton="false"
         ShowFooter="false"
         MinWidth="300" MinHeight="500" MaxWidth="1000px" MaxHeight="12000px">
    <BodyContentTemplate>
        <UploadProductionActivityFiles @ref="refUploadProductionActivityFiles"_applicationUser="@applicationUser" UploadSessionId="@UploadSessionId" FileProfileTypeId="@FileProfileTypeId" RevokeUploadBack="BackUploadUpload"></UploadProductionActivityFiles>

    </BodyContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@PopupManuFactureScanVisible"
         CssClass="popup-demo-events"
         ShowFooter="true" HeaderText="Scan Location" CloseOnEscape="false" ShowCloseButton="false" MinWidth="300" MinHeight="200" MaxWidth="400" MaxHeight="800" CloseOnOutsideClick="false">
    <BodyContentTemplate>
        <BlazorBarcodeScanner.ZXing.JS.BarcodeReader @ref="_manureader"
                                                     StartCameraAutomatically="true"
                                                     Title="" ShowStart="false" ShowReset="false" ShowToggleTorch="false" ShowVideoDeviceList="false" ShowResult="false" FullWidthVideo="true"
                                                     OnBarcodeReceived="ManufacReceivedBarcodeText" />
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => CloseManuFacPopup())" />
    </FooterContentTemplate>
</DxPopup>
@code {
    private UploadProductionActivityFiles refUploadProductionActivityFiles;
    [Parameter]
    public ProductActivityAppModel? _selectedEditItems { get; set; }
    bool PopupManuFactureScanVisible { get; set; } = false;
    private BarcodeReader _manureader;
    public long? FileProfileTypeId { get; set; }
    public Guid? UploadSessionId { get; set; }
    EditContext _editContext;
    [Parameter]
    public IEnumerable _poOrderDetails { get; set; }
    private List<ProductionActivityApp> _productionActivities;
    private List<NavprodOrderLineModel> _ponumberActivities;
    private List<View_ApplicationMasterDetail> _ActivityResult;
    private List<View_ApplicationMasterDetail> _ActivityStatusItem;
    private List<View_ApplicationMasterDetail> _ActivityMaster;
    ProductActivityAppModel Data = new ProductActivityAppModel();
    ProductionActivityAppLine DataLine = new ProductionActivityAppLine();
    public ApplicationUser applicationUser { get; private set; }
    IGrid? AppLine { get; set; }
    IEnumerable<string> TemplateUploadOptions = new[] { "Yes", "No" };
    IEnumerable<string> IsOtherOptionsItems = new[] { "Yes" };
    private List<ProductActivityCaseLineModel> _templateItems;
    private List<ProductionActivityAppLine> _AppLines;
    private List<ApplicationMasterChildModel> _ManuFactureProcessLines;
    private List<ApplicationMasterChildModel> _categoryItems;
    private List<ApplicationMasterChildModel> _actionItems;
    bool uploadEnabled { get; set; } = false;
    bool PopupUpload { get; set; } = false; bool addEnabled { get; set; } = false; bool saveEnabled { get; set; } = false;
    [Parameter]
    public ProductionActivityModel ParentData { get; set; }
    [Parameter]
    public Action RevokeBack { get; set; }
    long? ProductionActivityAppLineId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        addEnabled = true; saveEnabled = true;
        _ponumberActivities = _poOrderDetails.Cast<NavprodOrderLineModel>().ToList();
        _editContext = new EditContext(Data);
        Data.ProductActivityCaseLineId = 0;
        _ManuFactureProcessLines = await Mediator.Send(new GetAllApplicationMasterChildListQuery("105"));
        _categoryItems = new List<ApplicationMasterChildModel>(); _actionItems = new List<ApplicationMasterChildModel>();
        Data.ProdActivityCategoryChildId = null; Data.ProdActivityActionChildD = null;
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _ActivityResult = await Mediator.Send(new GetAllApplicationMasterDetailQuery(342));
        _ActivityMaster = await Mediator.Send(new GetAllApplicationMasterDetailQuery(340));
        _ActivityStatusItem = await Mediator.Send(new GetAllApplicationMasterDetailQuery(341));
        if (_selectedEditItems != null)
        {
            Data.ProductionActivityAppLineId = _selectedEditItems.ProductionActivityAppLineId;
            Data.NavprodOrderLineId = _selectedEditItems.NavprodOrderLineId;
            Data.ManufacturingProcessChildId = _selectedEditItems.ManufacturingProcessChildId;
            Data.ProdActivityCategoryChildId = _selectedEditItems.ProdActivityCategoryChildId;
            Data.ProdActivityActionChildD = _selectedEditItems.ProdActivityActionChildD;
            Data.IsTemplateUploadFlag = _selectedEditItems.IsTemplateUploadFlag;
            Data.ProductActivityCaseLineId = _selectedEditItems.ProductActivityCaseLineId;
            Data.ProdActivityResultId = _selectedEditItems.ProdActivityResultId;
            Data.ActivityStatusId = _selectedEditItems.ActivityStatusId;
            Data.ActivityMasterIds = _selectedEditItems.ActivityMasterIds;
            Data.LineComment = _selectedEditItems.LineComment;
            Data.OthersOptions = "No";
            if (_selectedEditItems.IsOthersOptions == true)
            {
                Data.OthersOptions = "Yes";
                Data.NavprodOrderLineId = 0;
            }
            if (_selectedEditItems.IsTemplateUpload == true)
            { }
            else
            {
                Data.ProductActivityCaseLineId = 0;
            }
            ProductionActivityAppLineId = _selectedEditItems.ProductionActivityAppLineId;
            UploadSessionId = _selectedEditItems.LineSessionId;
            if (_selectedEditItems.ManufacturingProcessChildId > 0)
            {
                _categoryItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(_selectedEditItems.ManufacturingProcessChildId));
                if (_selectedEditItems.ProdActivityCategoryChildId > 0)
                {
                    _actionItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(_selectedEditItems.ProdActivityCategoryChildId));
                    if (_selectedEditItems.IsTemplateUpload == true)
                    {
                        await getTemplateItems();
                    }
                }
            }
            await GetIsDoumentExits();
        }
    }
    void addNewProductionForm()
    {
        _editContext = new EditContext(Data);
        FileProfileTypeId = null;
        Data.ProductActivityCaseLineId = 0;
        Data.ManufacturingProcessChildId = null;
        Data.ProdActivityCategoryChildId = null;
        Data.ProdActivityActionChildD = null;
        Data.FileProfileTypeId = null;
        Data.ProdActivityResultId = null;
        Data.ActivityStatusId = null;
        Data.LineComment = null;
        Data.NavprodOrderLineId = null;
        Data.OthersOptions = "No";
        Data.IsOthersOptions = false;
        Data.IsTemplateUpload = false;
        Data.IsTemplateUploadFlag = "No";
        Data.ProductActivityCaseLineId = null;
        Data.ActivityMasterIds = null;
        UploadSessionId = null;
        uploadEnabled = false;
        addEnabled = true; saveEnabled = true;
        StateHasChanged();
    }
    void SelectedItemplateItemsChanged(long? Itemss)
    {
        Data.ProductActivityCaseLineId = Itemss;
        Data.FileProfileTypeId = null; FileProfileTypeId = null;
        if (Itemss != null && Itemss > 0)
        {
            Data.ProductActivityCaseLineId = Itemss;
            var items = _templateItems.FirstOrDefault(f => f.ProductActivityCaseLineId == Itemss);
            FileProfileTypeId = items?.LocationToSaveId;
            Data.FileProfileTypeId = items?.LocationToSaveId;
        }
    }
    async Task SelectedItemManuFactureChanged(long? selectItem)
    {
        Data.ManufacturingProcessChildId = selectItem;
        _categoryItems = new List<ApplicationMasterChildModel>(); _actionItems = new List<ApplicationMasterChildModel>();
        Data.ProdActivityCategoryChildId = null; Data.ProdActivityActionChildD = null;
        if (selectItem != null && selectItem > 0)
        {
            _categoryItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(selectItem));
        }
        await OnTemplateUploadGroupValueChanged("No");
    }
    async Task getTemplateItems()
    {
        _templateItems = new List<ProductActivityCaseLineModel>();
        if (Data.ManufacturingProcessChildId > 0 && Data.ProdActivityCategoryChildId > 0)
        {
            _templateItems = await Mediator.Send(new GetProductActivityCaseLineTemplateItems(Data.ManufacturingProcessChildId, Data.ProdActivityCategoryChildId, Data.ProdActivityActionChildD));
        }
        StateHasChanged();
    }
    void SelectedItemprod(long? NAVProdOrder)
    {

        Data.NavprodOrderLineId = NAVProdOrder;
        if (NAVProdOrder != null && NAVProdOrder > 0)
        {
            _editContext = new EditContext(Data);
            Data.NavprodOrderLineId = NAVProdOrder;
            Data.OthersOptions = "No";
        }
        StateHasChanged();
    }
    async Task OnTemplateUploadGroupValueChanged(string? radioValue)
    {
        _templateItems = new List<ProductActivityCaseLineModel>();
        Data.ProductActivityCaseLineId = 0; Data.IsTemplateUpload = false;
        Data.IsTemplateUploadFlag = radioValue; Data.FileProfileTypeId = null;
        if (radioValue == "Yes")
        {
            Data.ProductActivityCaseLineId = null;
            Data.IsTemplateUpload = true;
            await getTemplateItems();
        }
    }
    void OnGroupValueChanged(string? radioValue)
    {
        _editContext = new EditContext(Data);
        Data.OthersOptions = "Yes";
        Data.NavprodOrderLineId = 0;
        StateHasChanged();
    }
    async Task SelectedItemCategoryChanged(long? selectItem)
    {
        Data.ProdActivityCategoryChildId = selectItem;
        _actionItems = new List<ApplicationMasterChildModel>();
        Data.ProdActivityActionChildD = null;
        if (selectItem != null && selectItem > 0)
        {
            Data.ProdActivityCategoryChildId = selectItem;
            _actionItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(selectItem));
        }
        await OnTemplateUploadGroupValueChanged("No");
    }
    async Task SelectedItemActionChanged(long? selectItem)
    {
        Data.ProdActivityActionChildD = selectItem;
        if (selectItem != null && selectItem > 0)
        {
            Data.ProdActivityActionChildD = selectItem;
            await getTemplateItems();
        }
        await OnTemplateUploadGroupValueChanged("No");
    }
    void onBack()
    {
       // DisposeAsync();
        RevokeBack?.Invoke();
    }
    async Task HandleProductionFormValidSubmit()
    {
        addEnabled = false; saveEnabled = false;
        var request = new CreateProductionActivityAppCommand
            {
                ProductionActivityAppLineId = ProductionActivityAppLineId,
                CompanyId = ParentData.CompanyID,
                ProdOrderNo = ParentData.ProdOrderNo,
                LocationId = ParentData.LocationID,
                AddedDate = _selectedEditItems != null ? _selectedEditItems.AddedDate : DateTime.Now,
                SessionId = _selectedEditItems != null ? _selectedEditItems.SessionId : Guid.NewGuid(),
                LineSessionId = _selectedEditItems != null ? _selectedEditItems.LineSessionId : Guid.NewGuid(),
                StatusCodeID = _selectedEditItems != null ? _selectedEditItems.StatusCodeID : 1,
                AddedByUserID = _selectedEditItems != null ? _selectedEditItems.AddedByUserID : applicationUser.UserID,
                ManufacturingProcessChildId = Data.ManufacturingProcessChildId,
                ProdActivityCategoryChildId = Data.ProdActivityCategoryChildId,
                ProdActivityActionChildD = Data.ProdActivityActionChildD,
                ProdActivityResultId = Data.ProdActivityResultId,
                ActivityStatusId = Data.ActivityStatusId,
                LineComment = Data.LineComment,
                NavprodOrderLineId = Data.NavprodOrderLineId > 0 ? Data.NavprodOrderLineId : null,
                ModifiedByUserID = applicationUser.UserID,
                ModifiedDate = DateTime.Now,
                IsOthersOptions = Data.OthersOptions == "Yes" ? true : false,
                //IsOthersOptions=Data.IsOthersOptions,
                IsTemplateUpload = Data.IsTemplateUpload,
                IsTemplateUploadFlag = Data.IsTemplateUpload == true ? "Yes" : "No",
                ProductActivityCaseLineId = Data.ProductActivityCaseLineId > 0 ? Data.ProductActivityCaseLineId : null,
                ActivityMasterIds = Data.ActivityMasterIds,
            };

        var result = await Mediator.Send(request);
        if (result > 0)
        {
            if (ProductionActivityAppLineId > 0)
            {
                toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            }
            else
            {
                toastService.ShowToast("Record Save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            }
            ProductionActivityAppLineId = result;
            UploadSessionId = request.LineSessionId;
            uploadEnabled = true; addEnabled = true; saveEnabled = true;
            await GetIsDoumentExits();

        }
        StateHasChanged();
    }
    async Task GetIsDoumentExits()
    {
        uploadEnabled = true;
        if (ProductionActivityAppLineId > 0)
        {
            var dataList = await Mediator.Send(new GetProductActivityAppLineOneItem(ProductionActivityAppLineId));
            if (dataList != null && dataList.IsDocuments > 0)
            {
                uploadEnabled = false;
            }
        }
        StateHasChanged();
    }
    private async Task SubmitProductionFormExternally()
    {
        if (_editContext.Validate())
        {
            await this.HandleProductionFormValidSubmit();
        }
    }
    void uploadFiles()
    {
        PopupUpload = true;
    }
    void BackUploadUpload()
    {
        PopupUpload = false;
        // onBack();
        InvokeAsync(GetIsDoumentExits);
        StateHasChanged();

    }
    void CloseManuFacPopup()
    {
        PopupManuFactureScanVisible = false;
        _manureader.StopDecoding();
    }
    void OnManufacScanButtonClick()
    {
        PopupManuFactureScanVisible = true;
    }
    async Task ManufacReceivedBarcodeText(BarcodeReceivedEventArgs args)
    {
        var scanText = args.BarcodeText;
        _categoryItems = new List<ApplicationMasterChildModel>(); _actionItems = new List<ApplicationMasterChildModel>();
        Data.ManufacturingProcessChildId = null; Data.ProdActivityCategoryChildId = null; Data.ProdActivityActionChildD = null;
        if (!string.IsNullOrEmpty(scanText))
        {
            var ScanData = scanText.Split("~");
            if (ScanData.Length > 0)
            {
                var ManfacIdexists = ScanData.ElementAtOrDefault(0) != null;
                var Categoryexists = ScanData.ElementAtOrDefault(2) != null;
                var Actionexists = ScanData.ElementAtOrDefault(4) != null;
                if (ManfacIdexists == true && Categoryexists == true && Actionexists == true)
                {
                    var IsManfacId = long.TryParse(ScanData[0], out _);
                    var IsCategoryId = long.TryParse(ScanData[2], out _);
                    var IsActionId = long.TryParse(ScanData[4], out _);
                    if (IsManfacId == true && IsCategoryId == true && IsActionId == true)
                    {
                        var ManfacId = Convert.ToInt64(ScanData[0]);
                        var SelectItem = _ManuFactureProcessLines.FirstOrDefault(f => f.ApplicationMasterChildId == ManfacId);
                        if (SelectItem != null)
                        {
                            var CategoryId = Convert.ToInt64(ScanData[2]);
                            var ActionId = Convert.ToInt64(ScanData[4]);
                            Data.ManufacturingProcessChildId = SelectItem.ApplicationMasterChildId;
                            Data.ProdActivityCategoryChildId = CategoryId;
                            Data.ProdActivityActionChildD = ActionId;
                            _categoryItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(SelectItem.ApplicationMasterChildId));
                            _actionItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(CategoryId));
                            CloseManuFacPopup();
                        }
                        else
                        {
                            toastService.ShowToast("Invalid QrCode Format", AC.SD.Core.Services.ToastLevel.Error);
                        }
                    }
                    else
                    {
                        toastService.ShowToast("Invalid QrCode Format", AC.SD.Core.Services.ToastLevel.Error);
                    }
                }
                else
                {
                    toastService.ShowToast("Invalid QrCode Format", AC.SD.Core.Services.ToastLevel.Error);
                }
            }
            else
            {
                toastService.ShowToast("Invalid QrCode Format", AC.SD.Core.Services.ToastLevel.Error);
            }
        }
        else
        {
            toastService.ShowToast("Invalid QrCode Format", AC.SD.Core.Services.ToastLevel.Error);
        }
    }
    public async ValueTask DisposeAsync()
    {
       // System.GC.Collect();
        _productionActivities?.Clear();
        _ponumberActivities?.Clear();
        _ActivityResult?.Clear();
        _ActivityStatusItem?.Clear();
        _ActivityMaster?.Clear();
        Data = null;
        DataLine = null;
        _templateItems?.Clear();
        _AppLines?.Clear();
        _ManuFactureProcessLines?.Clear();
        _categoryItems?.Clear();
        _actionItems?.Clear();
        refUploadProductionActivityFiles?.DisposeAsync();
       // GC.SuppressFinalize(this);
    }
}
