@using Application.Queries;
@using MediatR;
@using global::Core.Entities;
@using global::Core.Entities.Views;
@using global::Core.EntityModels;
@using global::Core.Repositories.Query;
@inject IMediator Mediator
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject AC.SD.Core.Services.ToastService toastService
@page "/addpopup"
@inject IJSRuntime JSRuntime;


 <div class="mini-menu-bar-top">
            <div class="mini-menu-bar-heading">
                 <div class="card-body p-0 tooltiptops">
                                    <div class="row">
                                        <div class="">
                   
                                            <DxMenu CollapseItemsToHamburgerMenu="true"
                                                    CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                                                    DisplayMode="MenuDisplayMode.Desktop">
                                                <Items>
                            <DxMenuItem Text="Save" IconCssClass="fas fa-save" Click="@SubmitFormExternally" />
                            
                                                </Items>
                                            </DxMenu>
                                        </div>
                                    </div>
                                </div>
                            </div>
 </div>

<EditForm EditContext="this._editContext" Context="EditFormContext" OnValidSubmit="HandleValidSubmit">

    <DataAnnotationsValidator />
    <DxFormLayout CssClass="w-100">
        <DxFormLayoutItem Caption="Category:" ColSpanMd="6">
            <DxComboBox Data="@_ProcessLines"
                        NullText="Select Category ..."
                        FilteringMode="DataGridFilteringMode.Contains"
                        TextFieldName="Value"
                        ValueFieldName="ApplicationMasterChildId"
            @bind-Value="Data.ProdActivityCategoryChildID"
                        ShowValidationIcon="true">
            </DxComboBox>
            <ValidationMessage For="@(() => Data.ProdActivityCategoryChildID)" />
        </DxFormLayoutItem>

        <DxFormLayoutItem Caption="ProdOrderNo" ColSpanMd="6">
            <DxComboBox Data="@_ponumberActivities"
                        NullText="Select ProdOrderNo..."
                        FilteringMode="DataGridFilteringMode.Contains"
                        TextFieldName="prodOrderNo"
                        ValueFieldName="NavprodOrderLineId"
            @bind-Value="Data.AppLineNavprodOrderLineID"
                        ShowValidationIcon="true">
            </DxComboBox>
            <ValidationMessage For="@(() => Data.AppLineNavprodOrderLineID)" />
        </DxFormLayoutItem>


      
        <DxFormLayoutItem Caption="Action:" ColSpanMd="6">
            <DxComboBox Data="@_ProcessLines"
                        NullText="Select ActionDropdown..."
                        FilteringMode="DataGridFilteringMode.Contains"
                        TextFieldName="Value"
                        ValueFieldName="ApplicationMasterChildId"
            @bind-Value="Data.ProdActivityActionChildD"
                        ShowValidationIcon="true">
            </DxComboBox>
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Manufacturing Process:" ColSpanMd="6">
            <DxComboBox Data="@_ProcessLines"
                        NullText="Select Manufacturing Process..."
                        FilteringMode="DataGridFilteringMode.Contains"
                        TextFieldName="Value"
                        ValueFieldName="ApplicationMasterChildId"
            @bind-Value="Data.ManufacturingProcessChildID"
                        ShowValidationIcon="true">
            </DxComboBox>
            <ValidationMessage For="@(() => Data.ManufacturingProcessChildID)" />
        </DxFormLayoutItem>

        
        <DxFormLayoutItem Caption="Result:" ColSpanMd="6">
            <DxComboBox Data="@_Result"
                        NullText="Select Result Process..."
                        FilteringMode="DataGridFilteringMode.Contains"
                        TextFieldName="Value"
                        ValueFieldName="ApplicationMasterDetailId"
                        @bind-Value="Data.ProdActivityResultID"
                        ShowValidationIcon="true">
            </DxComboBox>
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Comment:" ColSpanMd="6">
            <DxTextBox @bind-Text="Data.PAApplineComment" />
        </DxFormLayoutItem>

    </DxFormLayout>
</EditForm>

@code {
    EditContext _editContext;
    private List<ViewPlants> _plantItems;
    private List<ProductionActivityApp> _productionActivities;
    private List<NavprodOrderLine> _ponumberActivities;
    private List<ApplicationMasterDetail> _Result;
    //ProductionActivityApp Data = new ProductionActivityApp();
    ProductionActivityModel Data = new ProductionActivityModel();
    ProductionActivityAppLine DataLine = new ProductionActivityAppLine();
    public ApplicationUser applicationUser { get; private set; }
    IGrid? AppLine { get; set; }
    private List<ProductionActivityAppLine> _AppLines;
    private List<ApplicationMasterChildModel> _ProcessLines;
    bool AddPopup = false;
    [Parameter]
    public ProductionActivityModel ParentData { get; set; }
    public ProductionActivityModel _List;
    protected override async Task OnInitializedAsync()
    {
        _editContext = new EditContext(Data);
        _plantItems = await Mediator.Send(new GetAllPlantQuery());
        //_productionActivities = await Mediator.Send(new GetAllProductionActivityAppQuery());
        _ProcessLines = await Mediator.Send(new GetAllApplicationMasterChildProQuery());
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _ponumberActivities = await Mediator.Send(new GetAllProductionActivityPONumberAppQuery(ParentData.CompanyID));
        _Result = await Mediator.Send(new GetAllApplicationMasterresultQuery());
    }
    void addDelete()
    {

    }
    public async  void UpdateDataAsync()
    {

    }
    async Task HandleValidSubmit()
    {
       
            var request = new CreateProductionActivityAppCommand
                {
                    CompanyID = ParentData.CompanyID,
                    ProdOrderNo = ParentData.ProdOrderNo,
                    LocationID = ParentData.LocationID,
                    AddedDate = DateTime.Now,
                    SessionId = Guid.NewGuid(),
                    StatusCodeID = 1,
                    AddedByUserID = applicationUser.UserID,
                    ManufacturingProcessChildID = Data.ManufacturingProcessChildID,
                    ProdActivityCategoryChildID = Data.ProdActivityActionChildD,
                    ProdActivityActionChildD = Data.ProdActivityActionChildD,
                    ProdActivityResultID = Data.ProdActivityResultID,
                    PAApplineComment = Data.PAApplineComment,
                    AppLineNavprodOrderLineID = Data.AppLineNavprodOrderLineID,
                    applineAddedByUserID = applicationUser.UserID,
                    applineAddedDate = DateTime.Now,
                    applineSessionId = Guid.NewGuid(),
                    applineStatusCodeID = 1

                };

            var result = await Mediator.Send(request);
            AddPopup = false;
            toastService.ShowToast("Record Save Successfully", AC.SD.Core.Services.ToastLevel.Success);

            await JSRuntime.InvokeAsync<string>("ReloadUrl");
        
    }
    private async Task SubmitFormExternally()
    {
        if (_editContext.Validate())
        {
            await this.HandleValidSubmit();
        }
    }
  

    
}
