@using Application.Queries;
@using MediatR;
@using global::Core.Entities;
@using global::Core.Entities.Views;
@using global::Core.EntityModels;
@using global::Core.Repositories.Query;
@inject IMediator Mediator
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject AC.SD.Core.Services.ToastService toastService
@inject IJSRuntime JSRuntime;
@using System.Collections
<div class="card" style="margin-bottom:10px; margin-top: 10px; margin-right:-12px;">
    <div class="card-body p-0">
        <div class="row">
            <div class="">
                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Auto">
                    <Items>
                        <DxMenuItem Text="Back" IconCssClass="fas fa-reply" Click="@onBack" />
                        <DxMenuItem Text="Add New" IconCssClass="fas fa-save" Click="@addNew" />
                        <DxMenuItem Text="Save" IconCssClass="fas fa-save" Click="@SubmitFormExternally" />
                        <DxMenuItem Text="Upload" IconCssClass="fa fa-cloud-upload" Click="@uploadFiles" Enabled="@uploadEnabled" />
                    </Items>
                </DxMenu>
            </div>
        </div>
    </div>
</div>

<EditForm EditContext="this._editContext" Context="EditFormContext" OnValidSubmit="HandleValidSubmit">

    <DataAnnotationsValidator />
    <DxFormLayout CssClass="w-100">
        <DxFormLayoutItem Caption="ProdOrderNo" ColSpanMd="6">
            <DxComboBox Data="@_ponumberActivities"
                        NullText="Select ProdOrderNo..."
                        FilteringMode="DataGridFilteringMode.Contains"
                        TextFieldName="Name"
                        ValueFieldName="NavprodOrderLineId"
                        SelectedItemChanged="@((NavprodOrderLineModel prod) => SelectedItemprod(prod))"
            @bind-Value="Data.NavprodOrderLineId"
                        ShowValidationIcon="true">
            </DxComboBox>
            <ValidationMessage For="@(() => Data.NavprodOrderLineId)" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Other Options" ColSpanMd="6">
            <DxRadioGroup Items="@IsOtherOptionsItems"
                          Value="@Data.OthersOptions"
                          ValueExpression="@(() => Data.OthersOptions )"
                          ValueChanged="@((string value) => OnGroupValueChanged(value))"
                          Layout="RadioGroupLayout.Horizontal"
                          CssClass="dx-demo-radio-group" />
            <ValidationMessage For="@(() => Data.OthersOptions)" />
        </DxFormLayoutItem>

        <DxFormLayoutItem Caption="Manufacturing Process:" ColSpanMd="6">
            <DxComboBox Data="@_ManuFactureProcessLines"
                        NullText="Select Manufacturing Process..."
                        FilteringMode="DataGridFilteringMode.Contains"
                        TextFieldName="Value"
                        ValueFieldName="ApplicationMasterChildId"
            @bind-Value="Data.ManufacturingProcessChildId"
                        SelectedItemChanged="@((ApplicationMasterChildModel plant) => SelectedItemManuFactureChanged(plant))"
                        ShowValidationIcon="true">
            </DxComboBox>
            <ValidationMessage For="@(() => Data.ManufacturingProcessChildId)" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Category:" ColSpanMd="6">
            <DxComboBox Data="@_categoryItems"
                        NullText="Select Category ..."
                        FilteringMode="DataGridFilteringMode.Contains"
                        TextFieldName="Value"
                        ValueFieldName="ApplicationMasterChildId"
                        SelectedItemChanged="@((ApplicationMasterChildModel plant) => SelectedItemCategoryChanged(plant))"
            @bind-Value="Data.ProdActivityCategoryChildId"
                        ShowValidationIcon="true">
            </DxComboBox>
            <ValidationMessage For="@(() => Data.ProdActivityCategoryChildId)" />
        </DxFormLayoutItem>

        <DxFormLayoutItem Caption="Action:" ColSpanMd="6">
            <DxComboBox Data="@_actionItems"
                        NullText="Select ActionDropdown..."
                        FilteringMode="DataGridFilteringMode.Contains"
                        TextFieldName="Value"
                        ValueFieldName="ApplicationMasterChildId"
            @bind-Value="Data.ProdActivityActionChildD"
                        ShowValidationIcon="true">
            </DxComboBox>
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Template Upload:" ColSpanMd="6">
            <DxRadioGroup Items="@TemplateUploadOptions"
                          Value="@Data.IsTemplateUploadFlag"
                          ValueExpression="@(() => Data.IsTemplateUploadFlag )"
                          ValueChanged="@((string value) => OnTemplateUploadGroupValueChanged(value))"
                          Layout="RadioGroupLayout.Horizontal"
                          CssClass="dx-demo-radio-group" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Name Of Template:" ColSpanMd="6" Visible="@Data.IsTemplateUpload">
            <DxComboBox Data="@_templateItems"
                        NullText="Select Name Of Template..."
                        FilteringMode="DataGridFilteringMode.Contains"
                        TextFieldName="NameOfTemplate"
                        ValueFieldName="ProductActivityCaseLineId"
                        SelectedItemChanged="@((ProductActivityCaseLineModel plant) => SelectedItemplateItemsChanged(plant))"
            @bind-Value="Data.ProductActivityCaseLineId"
                        ShowValidationIcon="true">
            </DxComboBox>
            <ValidationMessage For="@(() => Data.ProductActivityCaseLineId)" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Activity Result:" ColSpanMd="6">
            <DxComboBox Data="@_ActivityResult"
                        NullText="Select Activity Result..."
                        FilteringMode="DataGridFilteringMode.Contains"
                        TextFieldName="Value"
                        ValueFieldName="ApplicationMasterDetailID"
            @bind-Value="Data.ProdActivityResultId"
                        ShowValidationIcon="true">
            </DxComboBox>
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Activity Status:" ColSpanMd="6">
            <DxComboBox Data="@_ActivityStatusItem"
                        NullText="Select Activity Status..."
                        FilteringMode="DataGridFilteringMode.Contains"
                        TextFieldName="Value"
                        ValueFieldName="ApplicationMasterDetailID"
            @bind-Value="Data.ActivityStatusId"
                        ShowValidationIcon="true">
            </DxComboBox>
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Activity Master" ColSpanMd="12">
            <DxTagBox NullText="Select Activity Master..."
                      Data="@_ActivityMaster"
                      ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                      TextFieldName="Value"
                      ValueFieldName="ApplicationMasterDetailID"
            @bind-Values="@Data.ActivityMasterIds"
                      CssClass="cw-480" />
        </DxFormLayoutItem>

        <DxFormLayoutItem Caption="Comment:" ColSpanMd="12">
            <DxMemo @bind-Text="Data.LineComment" Rows="5" />
        </DxFormLayoutItem>

    </DxFormLayout>
</EditForm>
<DxPopup @bind-Visible="@PopupUpload"
         HeaderText="Upload Documents"
         CloseOnOutsideClick="false"
         ShowCloseButton="false"
         ShowFooter="false"
         Width="1000px">
    <BodyContentTemplate>
        <UploadProductionActivityFiles _applicationUser="@applicationUser" UploadSessionId="@UploadSessionId" FileProfileTypeId="@FileProfileTypeId" RevokeUploadBack="BackUpload"></UploadProductionActivityFiles>

    </BodyContentTemplate>
</DxPopup>
@code {
    public long? FileProfileTypeId { get; set; }
    public Guid? UploadSessionId { get; set; }
    EditContext _editContext;
    [Parameter]
    public IEnumerable _poOrderDetails { get; set; }
    private List<ProductionActivityApp> _productionActivities;
    private List<NavprodOrderLineModel> _ponumberActivities;
    private List<View_ApplicationMasterDetail> _ActivityResult;
    private List<View_ApplicationMasterDetail> _ActivityStatusItem;
    private List<View_ApplicationMasterDetail> _ActivityMaster;
    ProductActivityAppModel Data = new ProductActivityAppModel();
    ProductionActivityAppLine DataLine = new ProductionActivityAppLine();
    public ApplicationUser applicationUser { get; private set; }
    IGrid? AppLine { get; set; }
    IEnumerable<string> TemplateUploadOptions = new[] { "Yes", "No" };
    IEnumerable<string> IsOtherOptionsItems = new[] { "Yes" };
    private List<ProductActivityCaseLineModel> _templateItems;
    private List<ProductionActivityAppLine> _AppLines;
    private List<ApplicationMasterChildModel> _ManuFactureProcessLines;
    private List<ApplicationMasterChildModel> _categoryItems;
    private List<ApplicationMasterChildModel> _actionItems;
    bool uploadEnabled { get; set; } = false;
    bool PopupUpload { get; set; } = false;
    [Parameter]
    public ProductionActivityModel ParentData { get; set; }
    [Parameter]
    public Action RevokeBack { get; set; }
    protected override async Task OnInitializedAsync()
    {
        _ponumberActivities = _poOrderDetails.Cast<NavprodOrderLineModel>().ToList();
        _editContext = new EditContext(Data);
        Data.ProductActivityCaseLineId = 0;
        _ManuFactureProcessLines = await Mediator.Send(new GetAllApplicationMasterChildListQuery("105"));
        _categoryItems = new List<ApplicationMasterChildModel>(); _actionItems = new List<ApplicationMasterChildModel>();
        Data.ProdActivityCategoryChildId = null; Data.ProdActivityActionChildD = null;
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _ActivityResult = await Mediator.Send(new GetAllApplicationMasterDetailQuery(342));
        _ActivityMaster = await Mediator.Send(new GetAllApplicationMasterDetailQuery(340));
        _ActivityStatusItem = await Mediator.Send(new GetAllApplicationMasterDetailQuery(341));
    }
    void addNew()
    {
        _editContext = new EditContext(Data);
        FileProfileTypeId = null;
        Data.ProductActivityCaseLineId = 0;
        Data.ManufacturingProcessChildId = null;
        Data.ProdActivityCategoryChildId = null;
        Data.ProdActivityActionChildD = null;
        Data.FileProfileTypeId = null;
        Data.ActivityStatusId = null;
        Data.LineComment = null;
        Data.NavprodOrderLineId = null;
        Data.NavprodOrderLineId = null;
        Data.OthersOptions = "No";
        Data.IsOthersOptions = false;
        Data.IsTemplateUpload = false;
        Data.IsTemplateUploadFlag = "No";
        Data.ProductActivityCaseLineId = null;
        Data.ActivityMasterIds = null;
        UploadSessionId = null;
        uploadEnabled = false;
    }
    void SelectedItemplateItemsChanged(ProductActivityCaseLineModel Itemss)
    {
        Data.FileProfileTypeId = null; FileProfileTypeId = null;
        if(Itemss!=null && Itemss.LocationToSaveId>0)
        {
            FileProfileTypeId = Itemss.LocationToSaveId;
            Data.FileProfileTypeId = Itemss.LocationToSaveId;
        }
    }
    async Task SelectedItemManuFactureChanged(ApplicationMasterChildModel selectItem)
    {
        _categoryItems = new List<ApplicationMasterChildModel>(); _actionItems = new List<ApplicationMasterChildModel>();
        Data.ProdActivityCategoryChildId = null; Data.ProdActivityActionChildD = null;
        if (selectItem != null && selectItem.ApplicationMasterChildId > 0)
        {
            _categoryItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(selectItem.ApplicationMasterChildId));
        }
        await OnTemplateUploadGroupValueChanged("No");
    }
    async Task getTemplateItems()
    {
        _templateItems = new List<ProductActivityCaseLineModel>();
        if (Data.ManufacturingProcessChildId > 0 && Data.ProdActivityCategoryChildId > 0)
        {
            _templateItems = await Mediator.Send(new GetProductActivityCaseLineTemplateItems(Data.ManufacturingProcessChildId, Data.ProdActivityCategoryChildId));
        }
        StateHasChanged();
    }
    void SelectedItemprod(NavprodOrderLineModel NAVProdOrder)
    {

        if (NAVProdOrder != null && NAVProdOrder.NavprodOrderLineId > 0)
        {
            _editContext = new EditContext(Data);
            Data.OthersOptions = "No";
        }
        StateHasChanged();
    }
    async Task OnTemplateUploadGroupValueChanged(string? radioValue)
    {
        _templateItems = new List<ProductActivityCaseLineModel>();
        Data.ProductActivityCaseLineId = 0; Data.IsTemplateUpload = false;
        Data.IsTemplateUploadFlag = radioValue; Data.FileProfileTypeId = null;
        if (radioValue == "Yes")
        {
            Data.ProductActivityCaseLineId = null;
            Data.IsTemplateUpload = true;
            await getTemplateItems();
        }
    }
    void OnGroupValueChanged(string? radioValue)
    {
        _editContext = new EditContext(Data);
        Data.OthersOptions = "Yes";
        Data.NavprodOrderLineId = 0;
        StateHasChanged();
    }
    async Task SelectedItemCategoryChanged(ApplicationMasterChildModel selectItem)
    {
        _actionItems = new List<ApplicationMasterChildModel>();
        Data.ProdActivityActionChildD = null;
        if (selectItem != null && selectItem.ApplicationMasterChildId > 0)
        {
            _actionItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(selectItem.ApplicationMasterChildId));
        }
        await OnTemplateUploadGroupValueChanged("No");
    }
    void onBack()
    {
        RevokeBack?.Invoke();
    }
    async Task HandleValidSubmit()
    {

        var request = new CreateProductionActivityAppCommand
            {
                CompanyId = ParentData.CompanyID,
                ProdOrderNo = ParentData.ProdOrderNo,
                LocationId = ParentData.LocationID,
                AddedDate = DateTime.Now,
                SessionId = Guid.NewGuid(),
                LineSessionId = Guid.NewGuid(),
                StatusCodeID = 1,
                AddedByUserID = applicationUser.UserID,
                ManufacturingProcessChildId = Data.ManufacturingProcessChildId,
                ProdActivityCategoryChildId = Data.ProdActivityCategoryChildId,
                ProdActivityActionChildD = Data.ProdActivityActionChildD,
                ProdActivityResultId = Data.ProdActivityResultId,
                ActivityStatusId = Data.ActivityStatusId,
                LineComment = Data.LineComment,
                NavprodOrderLineId = Data.NavprodOrderLineId,
                ModifiedByUserID = applicationUser.UserID,
                ModifiedDate = DateTime.Now,
                IsOthersOptions = Data.OthersOptions == "Yes" ? true : false,
                //IsOthersOptions=Data.IsOthersOptions,
                IsTemplateUpload = Data.IsTemplateUpload,
                IsTemplateUploadFlag = Data.IsTemplateUpload == true ? "Yes" : "No",
                ProductActivityCaseLineId = Data.ProductActivityCaseLineId > 0 ? Data.ProductActivityCaseLineId : null,
                ActivityMasterIds = Data.ActivityMasterIds,
            };

        var result = await Mediator.Send(request);
        if (result > 0)
        {
            UploadSessionId = request.LineSessionId;
            uploadEnabled = true;
            toastService.ShowToast("Record Save Successfully", AC.SD.Core.Services.ToastLevel.Success);
        }
    }
    private async Task SubmitFormExternally()
    {
        if (_editContext.Validate())
        {
            await this.HandleValidSubmit();
        }
    }
    void uploadFiles()
    {
        PopupUpload = true;
    }
    void BackUpload()
    {
        PopupUpload = false;
        StateHasChanged();

    }


}
