@using Application.Queries;
@using MediatR;
@using global::Core.Entities;
@using global::Core.EntityModels;
@using global::Core.Repositories.Query;
@inject IMediator Mediator
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject AC.SD.Core.Services.ToastService toastService
@inject NavigationManager NavigationManager
@using global::Core.Entities.Views;
@inject IJSRuntime jsRuntime
@using System.IO;
@implements IAsyncDisposable
<style scoped>
    .drop-zone {
        padding: 20px;
        width: 100%;
        min-height: 100px;
        border: 2px dashed #0087F7;
        border-radius: 5px;
    }

        .drop-zone.hover {
            border-style: solid;
        }
</style>
<div class="card" style="margin-bottom:10px; margin-top: 10px; margin-right:-12px;">
    <div class="card-body p-0">
        <div class="row">
            <div class="">
                @if (string.IsNullOrEmpty(onShowMain))
                {
                    <DxMenu CollapseItemsToHamburgerMenu="true"
                            CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                            DisplayMode="MenuDisplayMode.Auto">
                        <Items>
                            <DxMenuItem Text="Back" IconCssClass="fas fa-reply" Click="@onBack" />
                            <DxMenuItem Text="Add" IconCssClass="fas fa-add" Click="@onAddNew" />
                            <DxMenuItem Text="Edit" IconCssClass="fas fa-pencil" Click="@onEditNew" Enabled="EditEnabled" />
                            <DxMenuItem Text="Delete" IconCssClass="fas fa-remove" Click="@onDeleteNew" Enabled="DeleteEnabled" />
                            <DxMenuItem Text="Email" IconCssClass="fas fa-envelope" Click="@onMailNew" />
                        </Items>
                    </DxMenu>
                }
                else
                {
                    <DxMenu CollapseItemsToHamburgerMenu="true"
                            CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                            DisplayMode="MenuDisplayMode.Auto">
                        <Items>
                            <DxMenuItem Text="Back" IconCssClass="fas fa-reply" Click="@onBack" />
                            <DxMenuItem Text="Add" IconCssClass="fas fa-add" Click="@onAddNew" />
                            <DxMenuItem Text="Edit" IconCssClass="fas fa-pencil" Click="@onEditNew" Enabled="EditEnabled" />
                            <DxMenuItem Text="Delete" IconCssClass="fas fa-remove" Click="@onDeleteNew" Enabled="DeleteEnabled" />

                            <DxMenuItem Text="Save" IconCssClass="fas fa-save" Click="@SubmitProductionFormExternally" Enabled="SaveEnabled" />
                            <DxMenuItem Text="Email" IconCssClass="fas fa-envelope" Click="@onMailNew" />
                        </Items>
                    </DxMenu>
                }
            </div>
        </div>
    </div>
</div>

<div style="@onShowMain">
    <DxLoadingPanel @bind-Visible="PanelVisible"
                    IsContentBlocked="true"
                    ApplyBackgroundShading="true"
                    IndicatorAreaVisible="false"
                    Text="Fetching Data...">
        <DxGrid @ref="Grid" FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                ColumnResizeMode="GridColumnResizeMode.NextColumn"
                Data="_supportDocselectedFile"
                KeyFieldName="ProductionActivityCheckedDetailsId"
                ShowGroupPanel="true" ShowGroupedColumns="true"
                CustomizeElement="Grid_CustomizeElement"
                ShowSearchBox="true"
                PagerNavigationMode="PagerNavigationMode.InputBox"
                PageSizeSelectorVisible="true"
                PageSizeSelectorAllRowsItemVisible="true"
                PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                PageSize="20" VirtualScrollingEnabled="true"
                SelectionMode="GridSelectionMode.Multiple"
                SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
                AutoExpandAllGroupRows="true"
                CssClass="ch-360"
                style="height: calc(100vh - 270px);"
                FocusedRowEnabled="true"
                RowClick="OnRowClick"
                AllowSelectRowByClick="true">
            <Columns>
                <DxGridDataColumn FieldName="CheckedByUserName" Caption="CheckedBy" MinWidth="80" />
                <DxGridDataColumn FieldName="CheckedDate" Caption="Checked Date" MinWidth="40" />
                <DxGridDataColumn FieldName="IsCheckNoIssue" Caption="No Issue" MinWidth="40" />
                <DxGridDataColumn FieldName="IsCheckReferSupportDocument" Caption="Refer Support Doc" MinWidth="40" />
                <DxGridDataColumn FieldName="CheckedComment" Caption="Comment" MinWidth="40" />
                <DxGridDataColumn FieldName="ActivityResultName" Caption="Activity Result" MinWidth="80" />
                <DxGridDataColumn FieldName="ActivityStatusName" Caption="Activity Status" MinWidth="80" />
            </Columns>
        </DxGrid>
    </DxLoadingPanel>
</div>
<div style="@onShowForm">
    <EditForm EditContext="this._editContext" Context="EditFormContext" OnValidSubmit="HandleProductionFormValidSubmit">

        <DataAnnotationsValidator />
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="" ColSpanMd="6">

                <DxCheckBox @bind-Checked="@Data.IsCheckNoIssue" LabelPosition="LabelPosition.Right">No Issue</DxCheckBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="" ColSpanMd="6">
                <DxCheckBox @bind-Checked="@Data.IsCheckReferSupportDocument" LabelPosition="LabelPosition.Right">Refer to supporting Document/Email</DxCheckBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Checked By" ColSpanMd="6">
                <DxTextBox @bind-Text="@Data.CheckedByUserName" CssClass="cw-480" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Checked Date:" ColSpanMd="6">
                <DxDateEdit NullText="Select a Checked Date..." @bind-Date="@Data.CheckedDate" CssClass="cw-320" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Activity Result:" ColSpanMd="6">
                <DxComboBox Data="@_ActivityResult"
                            NullText="Select Activity Result..."
                            SearchMode="ListSearchMode.AutoSearch"
                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                            TextFieldName="Value"
                            ValueFieldName="ApplicationMasterDetailID"
                            @bind-Value="Data.ActivityResultId"
                            ClearButtonDisplayMode=DataEditorClearButtonDisplayMode.Auto
                            ShowValidationIcon="true">
                </DxComboBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Activity Status:" ColSpanMd="6">
                <DxComboBox Data="@_ActivityStatusItem"
                            NullText="Select Activity Status..."
                            SearchMode="ListSearchMode.AutoSearch"
                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                            TextFieldName="Value"
                            ValueFieldName="ApplicationMasterDetailID"
                            ClearButtonDisplayMode=DataEditorClearButtonDisplayMode.Auto
                            @bind-Value="Data.ActivityStatusId"
                            ShowValidationIcon="true">
                </DxComboBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Comment:" ColSpanMd="12">
                <DxMemo @bind-Text="Data.CheckedComment" Rows="5" />
            </DxFormLayoutItem>
            <DxFormLayoutItem ColSpanMd="12">

            </DxFormLayoutItem>

        </DxFormLayout>
    </EditForm>
    <div @ref="dropZoneElement" class="drop-zone">
        <div ref="target" @onclick="onCopyPasteFileclick" style='cursor:pointer'>Click here and Upload the image and Copy/Paste Image</div>
        <InputFile OnChange="@OnChange" @ref="inputFile" style="display:none;" />
    </div>

    @* Display the uploaded image *@
    <img src="@ImageSource" style="width:100%;height:200px;padding:10px;" />
</div>
<DxPopup @bind-Visible="@BlukdeleteDocument"
         ShowFooter="true"
         HeaderText="Delete"
         Closed="EulaPopupDocumentClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete this?
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="onRecDelete" />

    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@ActivityEmailPopup"
         ShowFooter="false"
         HeaderText="Activity Email"
         CloseOnOutsideClick="false"
         ShowCloseButton="false"
         CloseOnEscape="false"
         MinWidth="300" MinHeight="200" MaxWidth="1200px" MaxHeight="800">
    <BodyContentTemplate>
        <ActivityEmails selectedFiles="@selectedFiles" applicationUser="@applicationUser" RevokeBack="CloseHistoryPopup"></ActivityEmails>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => CloseHistoryPopup())" />
    </FooterContentTemplate>
</DxPopup>
@code {


    ElementReference dropZoneElement;
    InputFile inputFile;

    IJSObjectReference _module;
    IJSObjectReference _dropZoneInstance;
    long maxFileSize = 1024L * 1024L * 1024L * 2L;


    bool ActivityEmailPopup { get; set; } = false;
    bool BlukdeleteDocument { get; set; } = false;
    string onShowMain = "";
    string onShowForm = "display:none;";
    IGrid Grid { get; set; }
    bool PanelVisible { get; set; }
    EditContext _editContext;
    [Parameter]
    public ProductActivityAppModel selectedFiles { get; set; }
    [Parameter]
    public Action RevokeBack { get; set; }
    [Parameter]
    public ApplicationUser applicationUser { get; set; }
    bool SaveEnabled { get; set; } = true; bool DeleteEnabled { get; set; } = false; bool EditEnabled { get; set; } = false;
    private List<ApplicationMasterChildModel> _ManuFactureProcessLines;
    private List<ApplicationMasterChildModel> _categoryItems;
    private List<ApplicationMasterChildModel> _actionItems;
    private List<View_ApplicationMasterDetail> _ActivityStatusItem;
    private List<View_ApplicationMasterDetail> _ActivityResult;
    ProductionActivityCheckedDetailsModel Data = new ProductionActivityCheckedDetailsModel();
    private List<ProductionActivityCheckedDetailsModel> _supportDocselectedFile { get; set; }
    public ProductionActivityCheckedDetailsModel _selectedItems { get; set; }
    public long? ProductionActivityCheckedDetailsId { get; set; }
    string? ImageSource { get; set; }
    protected override async Task OnInitializedAsync()
    {
        _editContext = new EditContext(Data);
        _ActivityResult = await Mediator.Send(new GetAllApplicationMasterDetailQuery(342));
        _ActivityStatusItem = await Mediator.Send(new GetAllApplicationMasterDetailQuery(341));
        await loadSupportingDocFiles();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Load the JS file
            _module = await jsRuntime.InvokeAsync<IJSObjectReference>("import", "./_content/AC.SD.Core/js/dropZone.js");

            // Initialize the drop zone
            _dropZoneInstance = await _module.InvokeAsync<IJSObjectReference>("initializeFileDropZone", dropZoneElement, inputFile.Element);
        }
    }
    public class EmailDetailss
    {
        public string? Name { get; set; }
        public string? Server { get; set; }
        public string? Domain { get; set; }
    }
    public async ValueTask DisposeAsync()
    {
        if (_dropZoneInstance != null)
        {
            await _dropZoneInstance.InvokeVoidAsync("dispose");
            await _dropZoneInstance.DisposeAsync();
        }

        if (_module != null)
        {
            await _module.DisposeAsync();
        }
        System.GC.Collect();
        _ManuFactureProcessLines?.Clear();
        _categoryItems?.Clear();
        _actionItems?.Clear();
        _ActivityStatusItem?.Clear();
        _ActivityResult?.Clear();
        Data = new ProductionActivityCheckedDetailsModel();
        _supportDocselectedFile?.Clear();
        _selectedItems = null;
        GC.SuppressFinalize(this);
    }
    async Task onCopyPasteFileclick()
    {
        await jsRuntime.InvokeAsync<object>("triggerClick", inputFile.Element);
    }
    // Called when a new file is uploaded
    async Task OnChange(InputFileChangeEventArgs e)
    {
        using var stream = e.File.OpenReadStream(maxFileSize);
        using var ms = new MemoryStream();
        await stream.CopyToAsync(ms);
        ImageSource = "data:" + e.File.ContentType + ";base64," + Convert.ToBase64String(ms.ToArray());
        Data.CommentImage = ms.ToArray();
        Data.CommentImages = Convert.ToBase64String(ms.ToArray());
        Data.CommentImageType = $"data:{e.File.ContentType};base64";
    }
    void CloseHistoryPopup()
    {
        ActivityEmailPopup = false;
        InvokeAsync(loadSupportingDocFiles);
        StateHasChanged();
    }
    async Task onMailNew()
    {
        if (selectedFiles != null)
        {
            if (selectedFiles.IsEmailCreated == true && selectedFiles.IsPartialEmailCreated == true)
            {
                var url = NavigationManager.BaseUri + "ViewEmail/" + selectedFiles.EmailSessionId;
                await jsRuntime.InvokeVoidAsync("window.open", url, "_blank");
            }
            else if (selectedFiles.IsEmailCreated == false && selectedFiles.IsPartialEmailCreated == true)
            {
                var url = NavigationManager.BaseUri + "CreateEmail/" + selectedFiles.EmailActivitySessionId;
                await jsRuntime.InvokeVoidAsync("window.open", url, "_blank");
            }
            else
            {
                ActivityEmailPopup = true;
            }
        }
    }
    async Task loadSupportingDocFiles()
    {
        PanelVisible = true; DeleteEnabled = false; EditEnabled = false;
        if (selectedFiles.ProductionActivityAppLineId > 0)
        {
            _supportDocselectedFile = await Mediator.Send(new GetProductionActivityCheckedDetails(selectedFiles.ProductionActivityAppLineId));
            if (_supportDocselectedFile.Count() > 0)
            {
                DeleteEnabled = true; EditEnabled = true;
                _selectedItems = _supportDocselectedFile.FirstOrDefault();
            }
        }
        PanelVisible = false;
        StateHasChanged();
    }
    void OnRowClick(GridRowClickEventArgs e)
    {

        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "ProductionActivityCheckedDetailsId");
        _selectedItems = _supportDocselectedFile.FirstOrDefault(f => f.ProductionActivityCheckedDetailsId == (long?)UniqueId);
        DeleteEnabled = true; EditEnabled = true;
        StateHasChanged();

    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    void onAddNew()
    {
        onShowMain = "display:none;";
        onShowForm = "";
        _editContext = new EditContext(Data);
        Data.AddedDate = DateTime.Now;
        Data.AddedByUserID = applicationUser.UserID;
        Data.CheckedById = applicationUser.UserID;
        Data.CheckedDate = DateTime.Now;
        Data.ModifiedDate = DateTime.Now;
        Data.ModifiedByUserID = applicationUser.UserID;
        Data.CommentImage = null;
        Data.CommentImageType = null;
        Data.CheckedByUserName = applicationUser.UserName;
        Data.IsCheckNoIssue = selectedFiles.IsCheckNoIssue;
        Data.ActivityResultId = null; Data.ActivityStatusId = null;
        Data.IsCheckReferSupportDocument = false;
        Data.CheckedComment = null;
        Data.SessionId = Guid.NewGuid();
        Data.ProductionActivityCheckedDetailsId = 0;
        ProductionActivityCheckedDetailsId = 0;
        Data.ProductionActivityAppLineId = selectedFiles.ProductionActivityAppLineId;
        Data.ProductionActivityAppId = selectedFiles.ProductionActivityAppId;
        ImageSource = ""; Data.CommentImages = null;
        StateHasChanged();
    }
    void onEditNew()
    {
        onShowMain = "display:none;";
        onShowForm = "";
        _editContext = new EditContext(Data);
        Data.AddedDate = _selectedItems.AddedDate;
        Data.AddedByUserID = applicationUser.UserID;
        Data.CheckedById = _selectedItems.CheckedById != null ? _selectedItems.CheckedById : applicationUser.UserID;
        Data.ModifiedDate = _selectedItems.ModifiedByUserID != null ? _selectedItems.ModifiedDate : DateTime.Now;
        Data.SessionId = _selectedItems.SessionId != null ? _selectedItems.SessionId : Guid.NewGuid();
        Data.ActivityResultId = _selectedItems.ActivityResultId; Data.ActivityStatusId = _selectedItems.ActivityResultId;
        Data.ModifiedByUserID = _selectedItems.ModifiedByUserID != null ? _selectedItems.ModifiedByUserID : applicationUser.UserID;
        Data.CheckedDate = _selectedItems.CheckedDate;
        Data.CommentImage = _selectedItems.CommentImage;
        Data.CommentImageType = _selectedItems.CommentImageType;
        Data.CheckedByUserName = _selectedItems.CheckedByUserName;
        Data.IsCheckNoIssue = _selectedItems.IsCheckNoIssue;
        Data.IsCheckReferSupportDocument = _selectedItems.IsCheckReferSupportDocument;
        Data.CheckedComment = _selectedItems.CheckedComment;
        Data.ProductionActivityCheckedDetailsId = _selectedItems.ProductionActivityCheckedDetailsId; ;
        ProductionActivityCheckedDetailsId = _selectedItems.ProductionActivityCheckedDetailsId;
        Data.ProductionActivityAppLineId = selectedFiles.ProductionActivityAppLineId;
        Data.ProductionActivityAppId = selectedFiles.ProductionActivityAppId;
        ImageSource = ""; Data.CommentImages = null;
        if (!string.IsNullOrEmpty(_selectedItems.CommentImageType) && _selectedItems.CommentImage != null)
        {
            Data.CommentImages = Convert.ToBase64String(_selectedItems.CommentImage);
            ImageSource = $"{_selectedItems.CommentImageType},{Data.CommentImages}";
        }
        StateHasChanged();
    }
    private async Task SubmitProductionFormExternally()
    {
        if (_editContext.Validate())
        {
            await this.HandleProductionFormValidSubmit();
        }
    }
    // async Task OnChange(InputFileChangeEventArgs e)
    // {
    //     var files = e.GetMultipleFiles();
    //     foreach (var file in files)
    //     {
    //         var resizedFile = await file.RequestImageFileAsync(file.ContentType, 640, 480);
    //         var buf = new byte[resizedFile.Size];
    //         using (var stream = resizedFile.OpenReadStream())
    //         {
    //             await stream.ReadAsync(buf);
    //         }

    //         ImageSource = $"data:{file.ContentType};base64,{Convert.ToBase64String(buf)}";
    //         Data.CommentImage = buf;
    //         Data.CommentImages = Convert.ToBase64String(buf);
    //         Data.CommentImageType = $"data:{file.ContentType};base64";
    //     }
    // }
    async Task HandleProductionFormValidSubmit()
    {
        SaveEnabled = false;
        var request = await Mediator.Send(new InsertProductionActivityCheckedDetails(Data));
        if (ProductionActivityCheckedDetailsId > 0)
        {
            ProductionActivityCheckedDetailsId = request.ProductionActivityCheckedDetailsId;
            SaveEnabled = true;
            toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await onBack();
        }
        else
        {
            ProductionActivityCheckedDetailsId = request.ProductionActivityCheckedDetailsId;
            SaveEnabled = true;
            toastService.ShowToast("Record Save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await onBack();
        }
        StateHasChanged();
    }
    async Task onBack()
    {
        if (string.IsNullOrEmpty(onShowMain))
        {
            DisposeAsync();
            RevokeBack?.Invoke();
        }
        else
        {
            onShowMain = "";
            onShowForm = "display:none;";
            await loadSupportingDocFiles();
            StateHasChanged();
        }

    }
    void EulaPopupDocumentClosed()
    {
        BlukdeleteDocument = false;
    }
    void onDeleteNew()
    {
        BlukdeleteDocument = true;
    }
    async Task onRecDelete()
    {
        if (_selectedItems != null)
        {
            var request = await Mediator.Send(new DeleteProductionActivityCheckedDetails(_selectedItems));
            if (request.ProductionActivityCheckedDetailsId > 0)
            {
                toastService.ShowToast("Record Deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                BlukdeleteDocument = false;
                await loadSupportingDocFiles();
            }
        }
    }
}
