@using Application.Queries;
@using MediatR
@using global::Core.Entities;
@inject IMediator Mediator
@using DevExpress.Export
@using global::Core.EntityModels;
@page "/AssetCatlog"
<link href="_content/AC.SD.Core/css/forum-discussion.css" rel="stylesheet" />

<div class="">



    <div class="main-container">

        <div class="content-container">

            <div class="mini-menu-bar">
                <div class="mini-menu-bar-top">
                    <div class="mini-menu-bar-heading">
                        @* <div class="files-title">General Information</div>*@
                    </div>

                    <div>
                        <div class="views-accordion">
                            <DxTreeView Data="@_applicationMasterChildItems"
                                        @bind-FilterString="FilterString"
                                        FilterMinLength="2"
                                        ShowFilterPanel="true"
                                        FilterMode="FilterMode"
                                        AllowSelectNodes=true
                                        LoadChildNodesOnDemand=false
                                        SelectionChanged="@SelectionChanged" AnimationType="LayoutAnimationType.Slide">
                                <DataMappings>
                                    <DxTreeViewDataMapping Children="Children" CssClass="CssClass" Text="Label" Name="ParentID" />
                                </DataMappings>
                            </DxTreeView>
                        </div>
                    </div>
                </div>
            </div>
            @if (disabledState)
            {
                <div class="mini-menu-bar">
                    <div class="mini-menu-bar-top">
                        <div class="mini-menu-bar-heading">
                            @* <div class="files-title">General Information</div>*@
                        </div>

                        <div>
                            <div class="views-accordion">
                                <DxTreeView Data="@_applicationMasterChildSectionItems"
                                        @bind-FilterString="SectionFilterString"
                                        FilterMinLength="2"
                                        ShowFilterPanel="true"
                                        FilterMode="SectionFilterMode"
                                        AllowSelectNodes=true
                                        LoadChildNodesOnDemand=false
                                        SelectionChanged="@SectionSelectionChanged" AnimationType="LayoutAnimationType.Slide">
                                    <DataMappings>
                                        <DxTreeViewDataMapping Children="Children" CssClass="CssClass" Text="Label" Name="ParentID" />
                                    </DataMappings>
                                </DxTreeView>
                            </div>
                        </div>
                    </div>
                </div>
                @if (disabledSectionState)
                {
                    <div class="menu-bar-content-container">
                        <div class="content-padding-20">
                            @*  <div class="menu-bar-content-container-heading">
                    <div class="heading-icon-text">

                    <div class="mb-cc-text">

                    <div class="card w-100">
                    <div class="card-body p-0">
                    </div>
                    </div>
                    </div>

                    </div>
                    <div>
                    </div>
                    </div>*@
                            <div id="tableData">
                                <div class="uk-card uk-card-default uk-margin-medium-bottom uk-overflow-auto">
                                    <div class="uk-card-body">
                                        <DxFormLayout CssClass="w-100">
                                            @* <EditForm Context="EditFormContext" OnValidSubmit="@HandleValidSubmit">*@
                                            <DxFormLayoutItem Caption="Asset Catalog No" ColSpanMd="6">
                                                <DxTextBox @bind-Text="@FirstName" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Company" ColSpanMd="6">
                                                <DxTextBox @bind-Text="@FirstName" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Asset Section" ColSpanMd="6">
                                                <DxTextBox @bind-Text="@FirstName" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="sub - Section" ColSpanMd="6">
                                                <DxTextBox @bind-Text="@FirstName" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Sub2 -Section" ColSpanMd="6">
                                                <DxTextBox @bind-Text="@FirstName" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Asset Description" ColSpanMd="6">
                                                <DxTextBox @bind-Text="@FirstName" />
                                            </DxFormLayoutItem>
                                            @* </EditForm>*@
                                        </DxFormLayout>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
@code {
    private List<ApplicationMasterChildModel> _applicationMasterChildItems;
    private List<ApplicationMasterChildModel> _applicationMasterChildSectionItems;
    IGrid Grid { get; set; }
    bool ExportSelectedRowsOnly { get; set; }
    bool disabledState { get; set; } = false;
    bool disabledSectionState { get; set; } = false;
    string FilterString { get; set; }
    string SectionFilterString { get; set; }
    string FirstName { get; set; }
    NavigationFilterMode FilterMode { get; set; } = NavigationFilterMode.EntireBranch;
    NavigationFilterMode SectionFilterMode { get; set; } = NavigationFilterMode.EntireBranch;
    protected override async Task OnInitializedAsync()
    {
        _applicationMasterChildItems = await Mediator.Send(new GetAllApplicationMasterChildQuery("116,117,118"));
        _applicationMasterChildSectionItems = await Mediator.Send(new GetAllApplicationMasterChildQuery("113,114,115"));
    }
    private async Task SelectionChanged(TreeViewNodeEventArgs e)
    {
        disabledState = false;
        disabledSectionState = false;
        var list = (ApplicationMasterChildModel)e.NodeInfo.DataItem;
        if (list.ApplicationMasterParentId == 118)
        {
            disabledState = true;
        }
    }
    private async Task SectionSelectionChanged(TreeViewNodeEventArgs e)
    {
        disabledSectionState = false;
        var list = (ApplicationMasterChildModel)e.NodeInfo.DataItem;
        if (list.ApplicationMasterParentId == 115)
        {
            disabledSectionState = true;
        }
    }

    async Task HandleValidSubmit()
    { }
}
