@using Application.Command.AssetCatalogMasters;
@using Application.Queries;
@using MediatR
@using global::Core.Entities;
@inject IMediator Mediator
@using DevExpress.Export
@using global::Core.Entities.Views;
@using global::Core.EntityModels;
@inject AC.SD.Core.Services.ToastService toastService
@inject IJSRuntime jsRuntime
@using global::Core.Repositories.Query;
@inject ILocalStorageService<ApplicationUser> _localStorageService


<div class="">
    <div class="main-container">
        <div class="row">
            <div class="col-md-3" style="height: calc(100vh - 150px);">
                <div style="height:50%; border: 1px solid #b2afaf; overflow: auto; margin-bottom: 10px;">
                    <div class="mini-menu-bar-top">
                        <div class="mini-menu-bar-heading">
                            <div class="files-title" style="width: 100%;padding-left: 20px;align-items: center;font-size: 18px;font-weight: bold;text-align: center;">
                                Grouping Information
                            </div>
                        </div>

                        <div>
                            <div class="views-accordion">
                                <DxTreeView Data="@_applicationMasterChildItems"
                                            @bind-FilterString="FilterString"
                                            FilterMinLength="2"
                                            ShowFilterPanel="true"
                                            FilterMode="FilterMode"
                                            AllowSelectNodes="true"
                                            LoadChildNodesOnDemand=false
                                            SelectionChanged="@SelectionChanged" AnimationType="LayoutAnimationType.Slide">
                                    <DataMappings>
                                        <DxTreeViewDataMapping Children="Children" CssClass="CssClass" Text="Label" Name="ParentID" />
                                    </DataMappings>
                                </DxTreeView>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height:47.9%;border: 1px solid #b2afaf; overflow: auto;">
                    @if (disabledState)
                    {

                        <div class="mini-menu-bar-top">
                            <div class="mini-menu-bar-heading">
                                <div class="files-title" style="width: 100%;padding-left: 20px;align-items: center;font-size: 18px;font-weight: bold;text-align: center;">
                                    Section Information
                                </div>
                            </div>

                            <div>
                                <div class="views-accordion">
                                    <DxTreeView Data="@_applicationMasterChildSectionItems"
                                            @bind-FilterString="SectionFilterString"
                                            FilterMinLength="2"
                                            ShowFilterPanel="true"
                                            FilterMode="SectionFilterMode"
                                            AllowSelectNodes="@allowSelectNode"
                                            LoadChildNodesOnDemand=false
                                            SelectionChanged="@SectionSelectionChanged" AnimationType="LayoutAnimationType.Slide">
                                        <DataMappings>
                                            <DxTreeViewDataMapping Children="Children" CssClass="CssClass" Text="Label" Name="ParentID" />
                                        </DataMappings>
                                    </DxTreeView>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-9" style="border: 1px solid #b2afaf;">
                @if (disabledSectionState)
                {

                    <div class="" style="margin-top:10px;">
                        <div id="">
                            <div class="">
                                <div class="">
                                    <div class="card w-100" style="margin-bottom:10px;">
                                        <div class="card-body p-0">
                                            <DxMenu CollapseItemsToHamburgerMenu="true"
                                                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                                                DisplayMode="MenuDisplayMode.Desktop">
                                                <Items>
                                                    <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" />
                                                    <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                                                    <DxMenuItem Text="Asset Parts Maintenace" IconCssClass="fa fa-add" Click="@addAssetPartsMaintenaceMaster" Enabled="@EditEnabled" />
                                                    <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
                                                    <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportToExcel" />
                                                </Items>
                                            </DxMenu>
                                        </div>
                                    </div>

                                    <DxGrid @ref="Grid"
                                        Data="_assetCatalogMasters"
                                        KeyFieldName="AssetCatalogMasterId"
                                        EditModelSaving="Grid_EditModelSaving"
                                        DataItemDeleting="Grid_DataItemDeleting"
                                        CustomizeEditModel="Grid_CustomizeEditModel"
                                        CustomizeElement="Grid_CustomizeElement"
                                        ShowSearchBox="true"
                                        PagerNavigationMode="PagerNavigationMode.InputBox"
                                        PageSizeSelectorVisible="true"
                                        PageSizeSelectorAllRowsItemVisible="true"
                                        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                                        PageSize="20"
                                        SelectionMode="GridSelectionMode.Multiple"
                                        SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
                                        AutoExpandAllGroupRows="true"
                                        CssClass="ch-360"
                                        FocusedRowEnabled="true"
                                        RowDoubleClick="OnRowDoubleClick"
                                        SelectedDataItemsChanged="@SelectedDataItemsChanged"
                                        RowClick="OnRowClick"
                                            style="height: calc(100vh - 220px);"
                                        AllowSelectRowByClick="true">
                                        <Columns>
                                            <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
                                            <DxGridDataColumn FieldName="AssetCatalogMasterId" MinWidth="80" Visible="false" />
                                            <DxGridDataColumn FieldName="Index" Caption="#" Width="35px"></DxGridDataColumn>
                                            <DxGridDataColumn FieldName="AssetModel" Caption="Model" MinWidth="80" />
                                            <DxGridDataColumn FieldName="ModelNo" MinWidth="80" />
                                            <DxGridDataColumn FieldName="AssetDescription" Caption="Description" MinWidth="80" />
                                            <DxGridDataColumn FieldName="AssetUom" Caption="UOM" MinWidth="80" />
                                            <DxGridDataColumn FieldName="ModifiedDate" Width="180">
                                                <CellDisplayTemplate>
                                                    @{
                                                        var item = (View_AssetCatalogMaster)context.DataItem;
                                                    }
                                                    @Application.Common.Helper.Helper.FormatDateTime(item.ModifiedDate)
                                                </CellDisplayTemplate>
                                            </DxGridDataColumn>
                                            <DxGridDataColumn FieldName="ModifiedBy" Width="10%" />
                                            <DxGridCommandColumn Width="160px" Visible="false" />
                                        </Columns>
                                        <EditFormTemplate Context="EditFormContext">
                                            @{
                                                var plant = (View_AssetCatalogMaster)EditFormContext.EditModel;
                                            }
                                            <DxFormLayout CssClass="w-100">
                                                <DxFormLayoutItem Caption="Company" ColSpanMd="6">
                                                    <DxComboBox Data="@_plantItems"
                                                            NullText="Select Company..."
                                                            FilteringMode="DataGridFilteringMode.Contains"
                                                            TextFieldName="PlantCode"
                                                            ValueFieldName="PlantID"
                                                            @bind-Value="@plant.CompanyId"
                                                            ShowValidationIcon="true">
                                                    </DxComboBox>
                                                    <ValidationMessage For="@(() => plant.CompanyId)" />
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem Caption="Asset Description" ColSpanMd="6">
                                                    <DxMemo @bind-Text="@plant.AssetDescription" Rows="5" />
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem Caption="Asset Model" ColSpanMd="6">
                                                    <DxComboBox Data="@_assetModelItems"
                                                            NullText="Select Model..."
                                                            FilteringMode="DataGridFilteringMode.Contains"
                                                            TextFieldName="Value"
                                                            ValueFieldName="ApplicationMasterDetailID"
                                                            @bind-Value="@plant.AssetModelId" />
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem Caption="Model No" ColSpanMd="6">
                                                    <DxTextBox @bind-Text="@plant.ModelNo" />
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem Caption="Asset Uom" ColSpanMd="6">
                                                    <DxComboBox Data="@_assetUomItems"
                                                            NullText="Select Uom..."
                                                            FilteringMode="DataGridFilteringMode.Contains"
                                                            TextFieldName="Value"
                                                            ValueFieldName="ApplicationMasterDetailID"
                                                            @bind-Value="@plant.AssetUomid" />
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem Caption="Finanace Fix AssetNo" ColSpanMd="6">
                                                    <DxTextBox @bind-Text="@plant.FinanaceFixAssetNo" />
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem Caption="No Finance Fix Asset No" ColSpanMd="6">
                                                    <DxCheckBox @bind-Checked="@plant.NoFinanceFixAssetNo" CssClass="mb-1">
                                                        No Finance Fix Asset No
                                                    </DxCheckBox>
                                                </DxFormLayoutItem>
                                            </DxFormLayout>
                                        </EditFormTemplate>
                                        <TotalSummary>
                                            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="AssetModel" />
                                        </TotalSummary>
                                    </DxGrid>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        @*<div class="row">
            <div class="menu-bar-content-container first-border col-md-2" style="height: calc(100vh - 136px);">
              
            </div>
            <div class="menu-bar-content-container sec-border col-md-2">
               
            </div>
            <div class="menu-bar-content-container col-md-8">
               
            </div>
        </div>*@
    </div>
</div>
<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="CRT"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">


    <div class="text-center">
        <p>@DeleteerrorMessage</p>

        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>


</DxPopup>
<DxPopup @bind-Visible="@PopupForwardToVisible"
         Width="auto"
         CloseOnOutsideClick="false"
         HeaderText="Asset Parts Maintenace Master"
         ShowFooter="false">
    <BodyTemplate Context="PopupContext">
        <AssetPartsMaintenaceMaster _selectItems="@_ComAssetCatalogMaster"></AssetPartsMaintenaceMaster>
    </BodyTemplate>
</DxPopup>
@code {
    private List<ApplicationMasterChildModel> _applicationMasterChildListItems;
    private List<ApplicationMasterChildModel> _applicationMasterChildItems;
    private List<ApplicationMasterChildModel> _applicationMasterChildSectionItems;
    private List<View_AssetCatalogMaster> _assetCatalogMasters;
    private ApplicationMasterChildModel _applicationMasterChildSelectItems;
    //private ApplicationMasterChildModel _applicationMasterChildChildSelectItems;
    private ApplicationMasterChildModel _applicationMasterChildChildSelectItems = new ApplicationMasterChildModel();
    private List<View_ApplicationMasterDetail> _assetModelItems;
    private List<View_ApplicationMasterDetail> _assetUomItems;
    public View_AssetCatalogMaster _selectedItems;
    View_AssetCatalogMaster _ComAssetCatalogMaster = new View_AssetCatalogMaster();
    private View_AssetCatalogMaster _selectlst;
    public ApplicationUser applicationUser { get; private set; }
    private List<ViewPlants>? _plantItems;
    bool EditEnabled { get; set; } = true;
    bool PopupForwardToVisible { get; set; }
    bool DeleteEnabled { get; set; } = true;
    IGrid Grid { get; set; }
    bool ExportSelectedRowsOnly { get; set; }
    bool disabledState { get; set; } = false;
    bool disabledSectionState { get; set; } = false;
    bool allowSelectNode { get; set; } = true;
    string FilterString { get; set; }
    string SectionFilterString { get; set; }
    DxPopup? popup;
    bool PopupVisible { get; set; } = false;
    bool Blukdeletepopup { get; set; } = false;
    string? DeleteerrorMessage;
    IReadOnlyList<object> SelectedDataItems { get; set; }
    NavigationFilterMode FilterMode { get; set; } = NavigationFilterMode.EntireBranch;
    NavigationFilterMode SectionFilterMode { get; set; } = NavigationFilterMode.EntireBranch;
    protected override async Task OnInitializedAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _plantItems = await Mediator.Send(new GetAllPlantQuery());
        _applicationMasterChildListItems = await Mediator.Send(new GetAllApplicationMasterChildListQuery("116,117,118,113,114,115"));
        _applicationMasterChildItems = await Mediator.Send(new GetAllApplicationMasterChildQuery("116,117,118"));
        _applicationMasterChildSectionItems = await Mediator.Send(new GetAllApplicationMasterChildQuery("113,114,115"));
        _assetModelItems = await Mediator.Send(new GetAllApplicationMasterDetailQuery(330));
        _assetUomItems = await Mediator.Send(new GetAllApplicationMasterDetailQuery(299));
    }
    private async Task SelectionChanged(TreeViewNodeEventArgs e)
    {
        disabledState = false;
        disabledSectionState = false;
        allowSelectNode = false;
        StateHasChanged();
        var list = (ApplicationMasterChildModel)e.NodeInfo.DataItem;
        if (list.ApplicationMasterParentId == 118)
        {
            _applicationMasterChildSelectItems = list;
            disabledState = true;
            allowSelectNode = true;
            //vijay
            disabledSectionState = true;
            _applicationMasterChildSectionItems = await Mediator.Send(new GetAllApplicationMasterChildQuery("113,114,115"));
            _applicationMasterChildChildSelectItems.ApplicationMasterChildId = 0;
            await UpdateDataAsync();
            StateHasChanged();
        }
    }
    void addNew()
    {
        Grid.StartEditNewRowAsync();
    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "AssetCatalogMasterId");
        _selectedItems = _assetCatalogMasters.FirstOrDefault(f => f.AssetCatalogMasterId == (long?)UniqueId);
        StateHasChanged();
    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addEdit();
    }
    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems;
        if (SelectedDataItems.Count > 1)
        {
            EditEnabled = false;
        }
        else
        {
            EditEnabled = true;
        }
    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
        UpdateDataAsync();
    }
    async void ClosePopup()
    {
        PopupVisible = false;
        await UpdateDataAsync();
    }
    void addEdit()
    {
        if (SelectedDataItems != null && SelectedDataItems.Count == 1)
        {
            foreach (object item in SelectedDataItems)
            {

                if (item is View_AssetCatalogMaster viewPlants)
                {
                    _selectlst = _assetCatalogMasters.FirstOrDefault(f => f.AssetCatalogMasterId == viewPlants.AssetCatalogMasterId);
                }
            }
            Grid.StartEditDataItemAsync(_selectlst);
        }
        else
        {
            Grid.StartEditDataItemAsync(_selectedItems);
        }

    }
    private async Task SectionSelectionChanged(TreeViewNodeEventArgs e)
    {
        disabledSectionState = false;
        if(e.NodeInfo == null)
        {
            disabledSectionState = true;
            _applicationMasterChildChildSelectItems = new ApplicationMasterChildModel();
            await UpdateDataAsync();            
        }
        else 
        {
            var list = (ApplicationMasterChildModel)e.NodeInfo.DataItem;
            if (list.ApplicationMasterParentId == 115)
            {
                disabledSectionState = true;
                _applicationMasterChildChildSelectItems = list;
                await UpdateDataAsync();
            }
           
        }
    }
    async Task UpdateDataAsync()
    {
        EditEnabled = false;
        DeleteEnabled = false;
        await jsRuntime.InvokeAsync<string>("showLoading");
        _assetCatalogMasters = await Mediator.Send(new GetAllAssetCatalogMasterQuery(_applicationMasterChildSelectItems.ApplicationMasterChildId, _applicationMasterChildChildSelectItems.ApplicationMasterChildId));
        for (int i = 0; i < _assetCatalogMasters.Count; i++)
        {
            _assetCatalogMasters[i].Index = i + 1;
        }
        if (_assetCatalogMasters.Count > 0)
        {

            _selectedItems = _assetCatalogMasters.FirstOrDefault();
            EditEnabled = true;
            DeleteEnabled = true;
            StateHasChanged();
        }
        await jsRuntime.InvokeAsync<string>("hideLoading");
    }
    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editablePlant = (View_AssetCatalogMaster)e.EditModel;
        if (e.IsNew)
        {
            var request = new CreateAssetCatalogMasterCommand
                {
                    CompanyId = editablePlant.CompanyId,
                    AssetDescription = editablePlant.AssetDescription,
                    AssetModelId = editablePlant.AssetModelId,
                    ModelNo = editablePlant.ModelNo,
                    AssetUomid = editablePlant.AssetUomid,
                    NoFinanceFixAssetNo = editablePlant.NoFinanceFixAssetNo,
                    FinanaceFixAssetNo = editablePlant.FinanaceFixAssetNo,
                    StatusCodeId = 1,
                    AddedByUserId = applicationUser.UserID,
                    ModifiedByUserId = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    ModifiedDate = DateTime.Now,
                    AssetCatalogId = _applicationMasterChildListItems.FirstOrDefault(f => f.ApplicationMasterChildId == _applicationMasterChildChildSelectItems.ParentId)?.ParentId,
                    AssetSectionId = _applicationMasterChildChildSelectItems.ParentId,
                    AssetSubSectionId = _applicationMasterChildChildSelectItems.ApplicationMasterChildId,
                    AssetGroupingId = _applicationMasterChildListItems.FirstOrDefault(f => f.ApplicationMasterChildId == _applicationMasterChildSelectItems.ParentId)?.ParentId,
                    AssetTypeId = _applicationMasterChildSelectItems.ParentId,
                    AssetCategoryId = _applicationMasterChildSelectItems.ApplicationMasterChildId,
                };
            await Mediator.Send(request);
            toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();

        }
        else
        {
            await UpdatePlantAsync(editablePlant);
        }
    }
    async Task UpdatePlantAsync(View_AssetCatalogMaster editablePlant)
    {
        var request = new EditAssetCatalogMasterCommand
            {
                AssetCatalogMasterId = editablePlant.AssetCatalogMasterId,
                CompanyId = editablePlant.CompanyId,
                AssetDescription = editablePlant.AssetDescription,
                AssetModelId = editablePlant.AssetModelId,
                ModelNo = editablePlant.ModelNo,
                AssetUomid = editablePlant.AssetUomid,
                NoFinanceFixAssetNo = editablePlant.NoFinanceFixAssetNo,
                FinanaceFixAssetNo = editablePlant.FinanaceFixAssetNo,
                StatusCodeId = 1,
                AddedByUserId = editablePlant.AddedByUserId,
                ModifiedByUserId = applicationUser.UserID,
                AddedDate = editablePlant.AddedDate,
                ModifiedDate = DateTime.Now,
                AssetCatalogId = _applicationMasterChildListItems.FirstOrDefault(f => f.ApplicationMasterChildId == _applicationMasterChildChildSelectItems.ParentId)?.ParentId,
                AssetSectionId = _applicationMasterChildChildSelectItems.ParentId,
                AssetSubSectionId = _applicationMasterChildChildSelectItems.ApplicationMasterChildId,
                AssetGroupingId = _applicationMasterChildListItems.FirstOrDefault(f => f.ApplicationMasterChildId == _applicationMasterChildSelectItems.ParentId)?.ParentId,
                AssetTypeId = _applicationMasterChildSelectItems.ParentId,
                AssetCategoryId = _applicationMasterChildSelectItems.ApplicationMasterChildId,
            };
        await Mediator.Send(request);
        toastService.ShowToast("Record updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
        await UpdateDataAsync();
    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    async Task bulkDelete()
    {
        try
        {
            if (SelectedDataItems != null)
            {
                foreach (object item in SelectedDataItems)
                {
                    if (item is View_AssetCatalogMaster plants)
                    {
                        var request = new DeleteAssetCatalogMasterCommand(plants.AssetCatalogMasterId);
                        await Mediator.Send(request);
                        Blukdeletepopup = false;
                        toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        await UpdateDataAsync();
                        Grid.SetFocusedRowIndex(0);
                    }
                }
            }
        }
        catch (Exception eq)
        {
            DeleteerrorMessage = eq.Message;
            PopupVisible = true;
        }
        await UpdateDataAsync();
    }
    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
        if (e.ElementType == GridElementType.HeaderCell)
        {
            e.Style = "background-color: rgba(0, 0, 0, 0.08)";
            e.CssClass = "header-bold";
        }
    }
    async Task ExportToExcel()
    {
        await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = true,
                CustomizeCell = OnCustomizeCell
            });
    }
    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }
    void addAssetPartsMaintenaceMaster()
    {
        _ComAssetCatalogMaster = _selectedItems;
        PopupForwardToVisible = true;
        StateHasChanged();
    }
}
