@using Application.Command.PostSalesOrder;
@using Application.Commands;
@using Application.Queries;
@using Application.Response;
@using MediatR
@using global::Core.Entities;
@using global::Core.Entities.Views;
@inject IMediator Mediator
@using DevExpress.Export
@using global::Core.Repositories.Query;
@inject IJSRuntime jsRuntime;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService


<div class="card w-100" style="margin-bottom:10px; margin-top:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                @*<DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" Enabled="@AddEnabled" />*@
                <DxMenuItem Text="Post Sales Order" IconCssClass="fa fa-add" Click="@addPostSO" />
                @* <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />*@
                <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportToExcel" />
            </Items>
        </DxMenu>
    </div>
</div>


<DxPopup @ref="popup" HeaderText="Unexpected Error" ShowCloseButton="true" AllowResize=true  @bind-Visible="@PopupVisible" AllowDrag=true>


    <BodyContentTemplate>
        <p>
            @errorMessage
        </p>
        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </BodyContentTemplate>


</DxPopup>
@*<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">
    <div class="text-center">
        <p>@DeleteerrorMessage</p>
        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>*@

<DxPopup @bind-Visible="@MessageVisible" HeaderText="@MessageHeader">
    <BodyTemplate Context="PopupContext">
        <div class="@((MessageHeader == "Error" ? "TxtRed" : "TxtGreen"))" style="text-align:center; padding: 10px; font-size: 15px;">
            <span> @MessageBody</span>
        </div>
    </BodyTemplate>
</DxPopup>

<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">

    <DxGrid @ref="Grid" Data="@_postSalesOrder" EditModelSaving="@OnEditModelSaving" DataItemDeleting="@OnDeleteDataItem" EditMode="GridEditMode.EditForm" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            KeyFieldName="PostSalesOrderID"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            style="height: calc(100vh - 336px);"
            CssClass="ch-360"
            FocusedRowEnabled="true"
            RowClick="OnRowClick"
            AllowSelectRowByClick="true"
            CustomizeElement="Grid_CustomizeElement"
            CustomizeEditModel="Grid_CustomizeEditModel"
            AutoExpandAllGroupRows="true"
            SelectionMode="GridSelectionMode.Multiple"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            RowDoubleClick="OnRowDoubleClick" SelectedDataItemsChanged="@SelectedDataItemsChanged">


        <Columns>
            @* <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />*@
            <DxGridDataColumn FieldName="PostSalesOrderID" Visible="false" />
            <DxGridDataColumn FieldName="SignOrderNo" Caption="Sign Order No" />
            <DxGridDataColumn FieldName="SalesOrderNo" />
            <DxGridDataColumn FieldName="OrderDate">
                <CellDisplayTemplate>
                    @{
                        var item = (PostSalesOrder)context.DataItem;
                    }
                    @Application.Common.Helper.Helper.FormatDateTime(item.OrderDate)
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="OrderBy" />

            @* <DxGridDataColumn FieldName="AddedDate">
            <CellDisplayTemplate>
            @{
            var item = (View_SoSalesOrderLine)context.DataItem;
            }
            @Application.Common.Helper.Helper.FormatDateTime(item.AddedDate)
            </CellDisplayTemplate>
            </DxGridDataColumn>*@
            @*<DxGridDataColumn FieldName="AddedBy" Caption="AddedBy" TextAlignment="GridTextAlignment.Left">
            <CellDisplayTemplate>
            @{
            var item = (View_SoSalesOrderLine)context.DataItem;
            }
            <div> @item.AddedBy</div>
            </CellDisplayTemplate>
            </DxGridDataColumn> *@
            <DxGridCommandColumn Width="160px" Visible="false" />
        </Columns>
        @*  @bind-SelectedDataItems="SelectedDataItems"*@
        <EditFormTemplate Context="EditFormContext">
            @{
                var items = (PostSalesOrder)EditFormContext.EditModel;
            }
            <DxFormLayout CssClass="w-100">

                <DxFormLayoutItem Caption="Item Serial  No:" ColSpanMd="3">
                    <DxTextBox @bind-Text="@items.ItemSerialNo" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Sign Order No:" ColSpanMd="3">
                    <DxTextBox @bind-Text="@items.SignOrderNo" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Sales Order No:" ColSpanMd="3">
                    <DxTextBox @bind-Text="@items.SalesOrderNo" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="OrderDate:" ColSpanMd="3">
                    @EditFormContext.GetEditor("OrderDate")
                </DxFormLayoutItem>
                <ValidationSummary />
            </DxFormLayout>
        </EditFormTemplate>

    </DxGrid>
</DxLoadingPanel>

<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="CRT"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>

@code {
    [Parameter]
    public long? SoSalesOrderId { get; set; }

    private string TextValue { get; set; }
    private string No { get; set; }
    private string Description { get; set; }
    private string Description2 { get; set; }
    private string BaseUnitofMeasure { get; set; }

    private List<View_NavItems>? _AllNavitems;

    bool PanelVisible { get; set; }
    Dictionary<long, string>? UsernameIndex { get; set; }
    IReadOnlyList<object> SelectedDataItems { get; set; }
    private string gridHeight = "calc(100vh - 230px - 143px)";
    private List<PostSalesOrder>? _postSalesOrder;
    IGrid? Grid { get; set; }
    private PostSalesOrder _selectedItems;
    //bool EditEnabled { get; set; } = true;
    bool DeleteEnabled { get; set; } = false;
    bool ExportSelectedRowsOnly { get; set; }
    DxPopup? popup;
    bool PopupVisible { get; set; } = false;
    string? errorMessage;
    string? DeleteerrorMessage;
    bool MessageVisible { get; set; }
    string styleClass = "";
    string MessageHeader = "Error";
    string MessageBody = "";
    private bool loading;
    bool Blukdeletepopup { get; set; } = false;
    bool EditEnabled { get; set; } = false;
    bool AddEnabled { get; set; } = true;
    string SelectedGroup = "none";
    private PostSalesOrder _selectlst;
    public ApplicationUser? applicationUser { get; private set; }


    void SelectedItemChanged(View_NavItems navitems)
    {
        if (navitems != null)
        {
            No = navitems.No;
            Description = navitems.Description;
            Description2 = navitems.Description2;
            BaseUnitofMeasure = navitems.BaseUnitofMeasure;
        }
        else
        {
            No = "";
            Description = "";
            Description2 = "";
            BaseUnitofMeasure = "";
        }
    }

    protected override async Task OnInitializedAsync()
    {
        PanelVisible = true;
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _postSalesOrder = await Mediator.Send(new GetPostSalesOrder());
        // _postSalesOrder = soline.Where(x => x.PostSalesOrderID == PostSalesOrderID).ToList();

        PanelVisible = false;
    }
    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {

    }
    async Task UpdateDataAsync()
    {
        PanelVisible = true;
        _postSalesOrder = await Mediator.Send(new GetPostSalesOrder());
        PanelVisible = false;
        StateHasChanged();
    }
    async Task ExportToExcel()
    {
        await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = true,

                CustomizeCell = OnCustomizeCell
            });

    }


    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }

    async Task OnEditModelSaving(GridEditModelSavingEventArgs e)
    {

        var editModel = (PostSalesOrder)e.EditModel;

        if (e.IsNew)
        {


            var createReq = new CreatePostSalesOrderCommand
                {
                    SoSalesOrderID = SoSalesOrderId,
                    ItemSerialNo = editModel.ItemSerialNo,
                    SignOrderNo = editModel.SignOrderNo,
                    SalesOrderNo = editModel.SalesOrderNo,
                    OrderDate = editModel.OrderDate,
                    OrderBy = editModel.OrderBy,
                    StatusCodeId = 1,
                    AddedByUserId = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    ModifiedByUserId = applicationUser.UserID,
                    ModifiedDate = DateTime.Now,
                };

            try
            {
                var result = await Mediator.Send(createReq);
                toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            }
            catch (Exception eq)
            {

                errorMessage = eq.Message;
                PopupVisible = true;

            }

            await UpdateDataAsync();


        }
        else
        {
            var UpdateReq = new EditPostSalesOrderCommand
                {
                    PostSalesOrderID = editModel.PostSalesOrderID,
                    SoSalesOrderID = editModel.SoSalesOrderID,
                    ItemSerialNo = editModel.ItemSerialNo,

                    StatusCodeId = 1,
                    ModifiedByUserId = applicationUser.UserID,
                    ModifiedDate = DateTime.Now,

                };

            var ans = await Mediator.Send(UpdateReq);
            toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();

        }

    }
    private async void onShowPopupMessage(string headerText, string bodyText)
    {

        MessageVisible = true;
        MessageBody = bodyText;
        MessageHeader = headerText;
        loading = false;
        StateHasChanged();
    }
    async void ClosePopup()
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
        await UpdateDataAsync();
    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
        UpdateDataAsync();
    }
    async Task OnDeleteDataItem(GridDataItemDeletingEventArgs e)
    {

        //var editModel = (PostSalesOrder)e.DataItem;
        // var request = new DeletePostSalesOrderCommand(editModel.PostSalesOrderID);
        // await Mediator.Send(request);
        await UpdateDataAsync();
        Grid.SetFocusedRowIndex(0);

    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    void Onclick(DataGridSelection<PostSalesOrder> e)
    {

    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "PostSalesOrderID");
        _selectedItems = _postSalesOrder.FirstOrDefault(f => f.PostSalesOrderID == (long?)UniqueId);

        StateHasChanged();

    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addEdit();
    }
    void addNew()
    {
        Grid.StartEditNewRowAsync();

    }
    async Task addPostSO()
    {
        try
        {
            var postNAVReq = new PostNAVSalesOrderQuery
                {
                    SoSalesOrderID = SoSalesOrderId,
                    StatusCodeId = 1,
                    AddedByUserId = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    ModifiedByUserId = applicationUser.UserID,
                    ModifiedDate = DateTime.Now,
                };
            var result = await Mediator.Send(postNAVReq);
        }
        catch (Exception ex)
        {
            PopupVisible = true;
            errorMessage = ex.InnerException != null ? ex.InnerException.Message : ex.Message;
            //toastService.ShowToast(errorMessage, AC.SD.Core.Services.ToastLevel.Error);
        }

    }
    void addEdit()
    {
        if (SelectedDataItems.Count == 1)
        {

            foreach (object item in SelectedDataItems)
            {

                if (item is PostSalesOrder postSalesOrder)
                {

                    _selectlst = _postSalesOrder.FirstOrDefault(f => f.PostSalesOrderID == postSalesOrder.PostSalesOrderID);


                }
            }
            Grid.StartEditDataItemAsync(_selectlst);
        }
        else
        {
            Grid.StartEditDataItemAsync(_selectedItems);
        }


        //Grid.SelectDataItems(SelectedDataItems);


    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    async Task bulkDelete()
    {
        //try
        //{
        //    if (SelectedDataItems != null)
        //    {
        //        foreach (object item in SelectedDataItems)
        //        {

        //            if (item is PostSalesOrder view_SoSalesOrderLine)
        //            {

        //                var request = new DeletePostSalesOrderCommand(view_SoSalesOrderLine.PostSalesOrderID);
        //                await Mediator.Send(request);
        //                Blukdeletepopup = false;
        //                toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
        //                Grid.SetFocusedRowIndex(0);
        //            }

        //        }
        //    }
        //}
        //catch (Exception eq)
        //{
        //    DeleteerrorMessage = eq.Message;
        //    PopupVisible = true;
        //}

        await UpdateDataAsync();


    }
    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems;

        if (SelectedDataItems.Count > 1)
        {
            EditEnabled = false;
            DeleteEnabled = false;
        }
        else
        {
            EditEnabled = true;

            DeleteEnabled = true;
        }

    }
}
