@using Application.Command.SoSalesOrderLine;
@using Application.Commands;
@using Application.Queries;
@using Application.Response;
@using MediatR
@using global::Core.Entities;
@using global::Core.Entities.Views;
@using global::Core.EntityModels;
@inject IMediator Mediator
@using DevExpress.Export
@using global::Core.Repositories.Query;
@inject IJSRuntime jsRuntime;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@implements IAsyncDisposable;

<style scoped>

    #customers {
        /* font-family: Arial, Helvetica, sans-serif;
                                                                        border-collapse: collapse;*/
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            font-weight: bold;
        }
</style>
<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" Enabled="@AddEnabled" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
                <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportToExcel" />
            </Items>
        </DxMenu>
    </div>
</div>


<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">
    <div class="text-center">
        <p>@errorMessage</p>
        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>
<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">
    <div class="text-center">
        <p>@DeleteerrorMessage</p>
        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>

<DxPopup @bind-Visible="@MessageVisible" HeaderText="@MessageHeader">
    <BodyTemplate Context="PopupContext">
        <div class="@((MessageHeader == "Error" ? "TxtRed" : "TxtGreen"))" style="text-align:center; padding: 10px; font-size: 15px;">
            <span> @MessageBody</span>
        </div>
    </BodyTemplate>
</DxPopup>

<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">

    <DxGrid @ref="Grid" Data="@_salesOrderLine" EditModelSaving="@OnEditModelSaving" DataItemDeleting="@OnDeleteDataItem" EditMode="GridEditMode.EditForm" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            KeyFieldName="SoSalesOrderLineId"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20" VirtualScrollingEnabled="true"
            style="height: calc(100vh - 336px);"
            CssClass="ch-360"
            FocusedRowEnabled="true"
            RowClick="OnRowClick"
            AllowSelectRowByClick="true"
            CustomizeElement="Grid_CustomizeElement"
            CustomizeEditModel="Grid_CustomizeEditModel"
            AutoExpandAllGroupRows="true"
            SelectionMode="GridSelectionMode.Multiple"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            RowDoubleClick="OnRowDoubleClick" SelectedDataItemsChanged="@SelectedDataItemsChanged">


        <Columns>
            <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
            <DxGridDataColumn FieldName="SoSalesOrderLineId" Visible="false" />
            <DxGridDataColumn FieldName="SellingMethod" />
            <DxGridDataColumn FieldName="ItemSerialNo" />
            <DxGridDataColumn FieldName="No" Caption="Item No" />
            <DxGridDataColumn FieldName="Description" />
            <DxGridDataColumn FieldName="Description2" />
            <DxGridDataColumn FieldName="Qty" />
            <DxGridDataColumn FieldName="BaseUnitofMeasure" Caption="Unit of measure" />
            <DxGridDataColumn FieldName="UnitPrice" Caption="Unit price" />

            <DxGridCommandColumn Width="160px" Visible="false" />
        </Columns>
        @*  @bind-SelectedDataItems="SelectedDataItems"*@
        <EditFormTemplate Context="EditFormContext">
            @{
                var types = (View_SoSalesOrderLine)EditFormContext.EditModel;

            }
            <DxFormLayout CssClass="w-100">
                <DxFormLayoutItem Caption="Selling Method" ColSpanMd="6">
                    <DxComboBox Data="@_viewSellingMethodItems"
                                NullText="Select Selling Method..."
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="Value"
                                ValueFieldName="ApplicationMasterDetailID"
                                Value="@types.SellingMethodId"
                                ValueExpression="@(() => types.SellingMethodId )"
                                ValueChanged="@((long? navitems) => SelectedItemMethodChangesChanged(navitems,types))"
                                ShowValidationIcon="true" />
                    <ValidationMessage For="@(() => types.SellingMethodId)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Item SerialNo" ColSpanMd="6">
                    <DxComboBox Data="@_AllNavitems"
                                NullText="Select Item SerialNo..."
                                ListRenderMode="ListRenderMode.Virtual"
                                TextFieldName="ItemSerialNo"
                                ValueFieldName="ItemId"
                                EditFormat="{0}-{1}-{2}"
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                Value="@types.ItemId"
                                ValueExpression="@(() => types.ItemId )"
                                ShowValidationIcon="true"
                                ValueChanged="@((long? navitems) => SelectedItemChanged(navitems,types))">
                        <Columns>
                            <DxListEditorColumn FieldName="@nameof(View_NavItems.ItemSerialNo)"
                                                Caption="Item Serial No"
                                                Width="180px" />
                            <DxListEditorColumn FieldName="@nameof(View_NavItems.No)"
                                                Caption="Item" />
                            <DxListEditorColumn FieldName="@nameof(View_NavItems.Description)"
                                                Caption="Description" />
                        </Columns>
                        <Buttons>
                            <DxEditorButton IconCssClass="fa fa-eye" Id=@($"flyout-overview-target-container")
                                            Tooltip="Master Pricing Information"
                                            Click="@(_ => OnButtonClick())" />
                        </Buttons>
                    </DxComboBox>
                </DxFormLayoutItem>

                <DxFormLayoutItem Caption="Item No:" ColSpanMd="6">
                    <DxTextBox @bind-Text="@No" Enabled=false />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Description:" ColSpanMd="6">
                    <DxTextBox @bind-Text="@Description" Enabled=false />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Description2:" ColSpanMd="6">
                    <DxTextBox @bind-Text="@Description2" Enabled=false />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Unit of measure:" ColSpanMd="6">
                    <DxTextBox @bind-Text="@BaseUnitofMeasure" Enabled=false />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Order Qty:" ColSpanMd="3">
                    <DxSpinEdit Value="@SalesQty" ValueExpression="@(() => SalesQty)" ValueChanged="@((Decimal newValue) => OnValueChanged(newValue))" ShowSpinButtons="false">
                        <Buttons>
                            <DxEditorButton IconCssClass="fa fa-eye" Id=@($"flyout-overview-target-container-pricing-info")
                                            Tooltip="Pricing Info"
                                            Click="@(_ => OnButtonPricingInfoClick())" />
                        </Buttons>
                    </DxSpinEdit>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Bonus Qty:" ColSpanMd="3">
                    <DxSpinEdit @bind-Value="@BounsFocQty" ShowSpinButtons="false" Enabled="false" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Unit Price:" ColSpanMd="6">
                    <DxSpinEdit @bind-Value="@UnitPrice" ShowSpinButtons="false" Enabled="false" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Is Manual Price:" ColSpanMd="3">
                    <DxCheckBox Checked="@IsManualPrice" CheckedExpression="@(() => IsManualPrice)" CheckedChanged="@((bool value) => CheckedChanged(value))">
                        Is Manual
                    </DxCheckBox>

                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Manual Price:" ColSpanMd="3">
                    <DxSpinEdit @bind-Value="@types.ManualPrice" ShowSpinButtons="false" Enabled="@IsManualPrice" />
                </DxFormLayoutItem>
                <ValidationSummary />
            </DxFormLayout>
        </EditFormTemplate>

    </DxGrid>
</DxLoadingPanel>

<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="CRT"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>
<DxFlyout @bind-IsOpen=IsOpen
          PositionTarget=@($"#flyout-overview-target-container")
          RestrictionTarget="#Navigation-Flyout-Customization"
          AnimationType="FlyoutAnimationType.Fade"
          PreventCloseOnPositionTargetClick="true"
          FooterVisible="true"
          CloseOnOutsideClick=false
          FooterCssClass="custom-flyout-footer"
          Width="max(25vw, 550px)"
          Position=@(FlyoutPosition.BottomStart | FlyoutPosition.TopStart)>
    <BodyContentTemplate Context="PopupContext">
        <div class="custom-flyout-body" style="width:100%">
            <DxGrid Data="@View_SalesOrderMasterPricingLineByItems" CssClass="ch-360" style="height: calc(100vh - 400px);">
                <Columns>
                    <DxGridDataColumn FieldName="MasterType" Caption="Price Type" MinWidth="100">
                        <CellDisplayTemplate>
                            @{
                                var item = (View_SalesOrderMasterPricingLineByItem)context.DataItem;
                                var PriceType = (item.MasterType == "MasterPrice") ? "Master Price" : "Specific Item Price";
                            }
                            @PriceType
                        </CellDisplayTemplate>
                    </DxGridDataColumn>
                    <DxGridDataColumn FieldName="PriceValidaityFrom" Caption="Price Duration" MinWidth="100">
                        <CellDisplayTemplate>
                            @{
                                var item = (View_SalesOrderMasterPricingLineByItem)context.DataItem;
                                var fromToYear = @Application.Common.Helper.Helper.FormatMonthYear(item.PriceValidaityFrom) + " To " + @Application.Common.Helper.Helper.FormatMonthYear(item.PriceValidaityTo);
                            }
                            @fromToYear

                        </CellDisplayTemplate>
                    </DxGridDataColumn>

                    <DxGridDataColumn FieldName="SellingMethodName" MinWidth="100" />
                    <DxGridDataColumn FieldName="SellingPrice" MinWidth="100" />
                </Columns>
                <DetailRowTemplate>
                    <AddSellingMethodsViewOnlys Items="(View_SalesOrderMasterPricingLineByItem)context.DataItem" />
                </DetailRowTemplate>
            </DxGrid>
        </div>
    </BodyContentTemplate>
    <FooterContentTemplate>
        <div class="w-100">
            <div class="custom-flyout-footer">

                <DxButton CssClass="popup-button" RenderStyle="ButtonRenderStyle.Primary" Text="Close" Click=@(()=> IsOpen = false) />
            </div>
        </div>
    </FooterContentTemplate>
</DxFlyout>
<DxFlyout @bind-IsOpen=IsPricingInfoOpen
          PositionTarget=@($"#flyout-overview-target-container-pricing-info")
          RestrictionTarget="#Navigation-Flyout-Customization"
          AnimationType="FlyoutAnimationType.Fade"
          PreventCloseOnPositionTargetClick="true"
          FooterVisible="true"
          FooterCssClass="custom-flyout-footer"
          Width="max(25vw, 550px)"
          CloseOnOutsideClick=false
          Position=@(FlyoutPosition.BottomStart | FlyoutPosition.TopStart)>
    <BodyContentTemplate Context="PopupContext">
        <div class="custom-flyout-body" style="width:100%">

            <table style="width:100%" id="customers">
                <tr>
                    <th>Master Type</th>
                    @{
                        var masterTypeDis = "";
                        if (salesOrderMasterPricingFromSalesModel != null && salesOrderMasterPricingFromSalesModel.SalesOrderMasterPricingLineId > 0)
                        {
                            masterTypeDis = (salesOrderMasterPricingFromSalesModel.MasterType == "MasterPrice") ? "Master Price" : "Specific Item Price";
                        }
                        <td>@masterTypeDis</td>
                    }
                </tr>
                <tr>
                    <th>Price Duration</th>
                    <td>
                        @{
                            var durationYear = "";
                            if (salesOrderMasterPricingFromSalesModel != null && salesOrderMasterPricingFromSalesModel.SalesOrderMasterPricingLineId > 0)
                            {
                                durationYear = Application.Common.Helper.Helper.FormatMonthYear(salesOrderMasterPricingFromSalesModel.PriceValidaityFrom) + " To " + Application.Common.Helper.Helper.FormatMonthYear(salesOrderMasterPricingFromSalesModel.PriceValidaityTo);
                            }
                            @durationYear
                        }
                    </td>
                </tr>
                <tr>
                    <th>Selling Price</th>
                    <td>@salesOrderMasterPricingFromSalesModel?.SellingPrice</td>
                </tr>
                @{
                    if (salesOrderMasterPricingFromSalesModel != null && salesOrderMasterPricingFromSalesModel.SalesOrderMasterPricingLineSellingMethodId > 0)
                    {
                        if (salesOrderMasterPricingFromSalesModel.SellingMethod == "Tier")
                        {
                            <tr>
                                <th>Tier Duration Qty</th>
                                <td>
                                    @(
                                    salesOrderMasterPricingFromSalesModel.TierNewFromQty + (salesOrderMasterPricingFromSalesModel.TierNewToQty > 0 ? ("-" + salesOrderMasterPricingFromSalesModel.TierNewToQty) : " - No Limit Qty")
                                        )
                                </td>
                            </tr>
                            <tr>
                                <th>Tier Price</th>
                                <td>@salesOrderMasterPricingFromSalesModel.TierPrice</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <th>Bouns Qty</th>
                                <td>
                                    @(
                                    salesOrderMasterPricingFromSalesModel.BounsQty + (salesOrderMasterPricingFromSalesModel.BounsToQty > 0 ? ("-" + salesOrderMasterPricingFromSalesModel.BounsToQty) : " - No Limit Qty")
                                        )
                                </td>
                            </tr>
                            <tr>
                                <th>Bouns Foc Qty</th>
                                <td>@salesOrderMasterPricingFromSalesModel.BounsFocQty</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="2">No Selling Method Available</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </BodyContentTemplate>
    <FooterContentTemplate>
        <div class="w-100">
            <div class="custom-flyout-footer">

                <DxButton CssClass="popup-button" RenderStyle="ButtonRenderStyle.Primary" Text="Close" Click=@(()=> IsPricingInfoOpen = false) />
            </div>
        </div>
    </FooterContentTemplate>
</DxFlyout>
@code {
    [Parameter]
    public long? SoSalesOrderId { get; set; }
    decimal SalesQty;
    decimal? OrderQty;
    decimal? UnitPrice;
    string PricingType;
    bool IsManualPrice { get; set; } = false;
    bool? IsManualPriceEnabled { get; set; } = false;
    bool IsOpen { get; set; } = false;
    bool IsPricingInfoOpen { get; set; } = false;
    public List<View_SalesOrderMasterPricingLineByItem> View_SalesOrderMasterPricingLineByItems { get; set; }
    public SalesOrderMasterPricingFromSalesModel salesOrderMasterPricingFromSalesModel { get; set; }
    public View_SoSalesOrder SoSalesOrderItems { get; set; }
    private string TextValue { get; set; }
    private string No { get; set; }
    private string Description { get; set; }
    private string Description2 { get; set; }
    private string BaseUnitofMeasure { get; set; }
    private List<View_ApplicationMasterDetail> _viewSellingMethodItems;
    private List<View_NavItems>? _AllNavitems;
    bool PanelVisible { get; set; }
    Dictionary<long, string>? UsernameIndex { get; set; }
    IReadOnlyList<object> SelectedDataItems { get; set; }
    private string gridHeight = "calc(100vh - 230px - 143px)";
    private List<View_SoSalesOrderLine>? _salesOrderLine;
    IGrid? Grid { get; set; }
    private View_SoSalesOrderLine _selectedItems;
    //bool EditEnabled { get; set; } = true;
    bool DeleteEnabled { get; set; } = false;
    bool ExportSelectedRowsOnly { get; set; }
    DxPopup? popup;
    bool PopupVisible { get; set; } = false;
    string? errorMessage;
    string? DeleteerrorMessage;
    bool MessageVisible { get; set; }
    string styleClass = "";
    string MessageHeader = "Error";
    string MessageBody = "";
    private bool loading;
    bool Blukdeletepopup { get; set; } = false;
    bool EditEnabled { get; set; } = false;
    bool AddEnabled { get; set; } = false;
    string SelectedGroup = "none";
    private View_SoSalesOrderLine _selectlst;
    public ApplicationUser? applicationUser { get; private set; }
    long? SellingMethodId { get; set; }
    string SellingMethod { get; set; }
    long? ItemId { get; set; }
    decimal? BounsFocQty { get; set; }
    async Task SelectedItemChanged(long? navitemsId, View_SoSalesOrderLine view_SoSalesOrderLine)
    {
        view_SoSalesOrderLine.ItemId = navitemsId;
        var navitems = _AllNavitems != null && navitemsId > 0 ? _AllNavitems.FirstOrDefault(f => f.ItemId == navitemsId) : null;
        if (navitems != null)
        {
            view_SoSalesOrderLine.ItemId = navitems.ItemId;
            No = navitems.No;
            Description = navitems.Description;
            Description2 = navitems.Description2;
            BaseUnitofMeasure = navitems.BaseUnitofMeasure;
            ItemId = navitems.ItemId;
            await loadNavItemsChangedData("");
        }
        else
        {
            No = "";
            Description = "";
            Description2 = "";
            BaseUnitofMeasure = "";
            UnitPrice = 0;
            PricingType = "";
            BounsFocQty = 0;
            OrderQty = 0;
        }
    }
    void CheckedChanged(bool value)
    {
        IsManualPrice = value;
        IsManualPriceEnabled = value;
    }
    async Task PricingItemList(decimal? Qty)
    {
        salesOrderMasterPricingFromSalesModel = await Mediator.Send(new GetAllSalesOrderMasterPricingLineByItemByQtyQuery(SoSalesOrderItems.CompanyId, SoSalesOrderItems.OrderDate, SellingMethodId, ItemId, Qty, SellingMethod));
    }
    async Task OnValueChanged(decimal? Qty)
    {
        salesOrderMasterPricingFromSalesModel = new SalesOrderMasterPricingFromSalesModel();
        UnitPrice = 0;
        PricingType = "";
        BounsFocQty = 0;
        OrderQty = Qty;
        if (Qty > 0)
        {
            await PricingItemList(Qty);
            var result = salesOrderMasterPricingFromSalesModel;
            if (result != null)
            {
                IsPricingInfoOpen = true;
                PricingType = result.MasterType;
                if (SellingMethod.ToLower() == "tier")
                {
                    if (result.SalesOrderMasterPricingLineSellingMethodId > 0)
                    {
                        UnitPrice = result.TierPrice;
                    }
                    else
                    {
                        UnitPrice = result.SellingPrice;
                    }
                }
                else
                {
                    UnitPrice = result.SellingPrice;
                    BounsFocQty = result.BounsFocQty;
                }
            }
            else
            {
                UnitPrice = 0;
                PricingType = "";
            }
        }
    }
    async Task SelectedItemMethodChangesChanged(long? masterDetailId, View_SoSalesOrderLine view_SoSalesOrderLine)
    {
        view_SoSalesOrderLine.SellingMethodId = masterDetailId;
        var masterDetail = _viewSellingMethodItems != null && masterDetailId > 0 ? _viewSellingMethodItems.FirstOrDefault(f => f.ApplicationMasterDetailID == masterDetailId):null;
        if (masterDetail != null)
        {
            view_SoSalesOrderLine.SellingMethodId = masterDetail.ApplicationMasterDetailID;
            SellingMethodId = masterDetail.ApplicationMasterDetailID;
            SellingMethod = masterDetail.Value;
            await loadNavItemsChangedData("");
        }
    }
    async Task loadNavItemsChangedData(string type)
    {
        PricingType = "";
        if (type != "edit")
        {
            UnitPrice = null;
        }
        if (ItemId > 0 && SellingMethodId > 0)
        {
            View_SalesOrderMasterPricingLineByItems = await Mediator.Send(new GetAllSalesOrderMasterPricingLineByItemByMethodQuery(SoSalesOrderItems.CompanyId, SoSalesOrderItems.OrderDate, SellingMethodId, ItemId));
            StateHasChanged();
        }
        else
        {
            View_SalesOrderMasterPricingLineByItems = new List<View_SalesOrderMasterPricingLineByItem>();
        }
    }
    void OnButtonClick()
    {
        IsOpen = true;
    }
    void OnButtonPricingInfoClick()
    {
        IsPricingInfoOpen = true;
    }
    protected override async Task OnInitializedAsync()
    {
        _viewSellingMethodItems = await Mediator.Send(new GetAllApplicationMasterDetailQuery(338));
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        if (SoSalesOrderId > 0)
        {
            var items = await Mediator.Send(new GetAllSoOrderByID(SoSalesOrderId));
            await loadData(items);
        }
    }
    public async Task loadData(View_SoSalesOrder _salesOrderItem)
    {
        SoSalesOrderId = _salesOrderItem.SoSalesOrderId;
        SoSalesOrderItems = _salesOrderItem;
        if (SoSalesOrderId > 0)
        {
            AddEnabled = true;
            if (SoSalesOrderItems.CompanyId > 0)
            {
                _AllNavitems = await Mediator.Send(new GetAllNavItemsByCompanyByItemSerialNoQuery(SoSalesOrderItems.CompanyId));
            }
            _salesOrderLine = await Mediator.Send(new GetSalesOrderLine(SoSalesOrderId));
            if (_salesOrderLine.Count > 0)
            {
                PanelVisible = true;
                _selectedItems = _salesOrderLine.FirstOrDefault();

                if (SelectedDataItems != null)
                {
                    EditEnabled = true;
                    DeleteEnabled = true;
                    StateHasChanged();
                }
            }
        }
        PanelVisible = false;
        StateHasChanged();
    }
    async Task Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        var navitems = (View_SoSalesOrderLine)e.EditModel;
        if (e.IsNew)
        {
            navitems.ItemId = null;
            navitems.SellingMethodId = null;
            No = "";
            Description = "";
            Description2 = "";
            BaseUnitofMeasure = "";
            SalesQty = 0;
            BounsFocQty = null;
            OrderQty = 0;
            UnitPrice = null;
            SellingMethod = "";
            View_SalesOrderMasterPricingLineByItems = new List<View_SalesOrderMasterPricingLineByItem>();
            salesOrderMasterPricingFromSalesModel = new SalesOrderMasterPricingFromSalesModel();
        }
        else
        {
            No = navitems.No;
            Description = navitems.Description;
            Description2 = navitems.Description2;
            BaseUnitofMeasure = navitems.BaseUnitofMeasure;
            SellingMethodId = navitems.SellingMethodId;
            SellingMethod = navitems.SellingMethod;
            ItemId = navitems.ItemId;
            UnitPrice = navitems.UnitPrice;
            BounsFocQty = navitems.OrderBounsQty;
            SalesQty = navitems.Qty > 0 ? navitems.Qty.Value : 0;
            OrderQty = SalesQty;
            IsManualPriceEnabled = navitems.IsManual == null ? false : navitems.IsManual;
            await loadNavItemsChangedData("edit");
            await PricingItemList(OrderQty);
        }
    }
    async Task UpdateDataAsync()
    {
        PanelVisible = true;
        _salesOrderLine = await Mediator.Send(new GetSalesOrderLine(SoSalesOrderId));
        PanelVisible = false;
        StateHasChanged();
    }
    async Task ExportToExcel()
    {
        if (SelectedDataItems != null)
        {

            await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
                {

                    ExportSelectedRowsOnly = true,
                    CustomizeCell = OnCustomizeCell

                });
        }
        else
        {
            await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
                {

                    ExportSelectedRowsOnly = false,
                    CustomizeCell = OnCustomizeCell

                });
        }
    }


    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }

    async Task OnEditModelSaving(GridEditModelSavingEventArgs e)
    {

        var editModel = (View_SoSalesOrderLine)e.EditModel;

        if (e.IsNew)
        {


            var createReq = new CreateSoSalesOrderLineCommand
                {
                    SoSalesOrderId = SoSalesOrderId,
                    ItemId = editModel.ItemId,
                    SellingMethodId = editModel.SellingMethodId,
                    Qty = OrderQty,
                    UnitPrice = UnitPrice,
                    StatusCodeId = 1,
                    AddedByUserId = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    ModifiedByUserId = applicationUser.UserID,
                    ModifiedDate = DateTime.Now,
                    IsManual = editModel.IsManual,
                    ManualPrice = editModel.ManualPrice,
                    PricingType = string.IsNullOrEmpty(PricingType) ? editModel.PricingType : PricingType,
                    OrderBounsQty = BounsFocQty,
                };

            try
            {
                var result = await Mediator.Send(createReq);
                toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            }
            catch (Exception eq)
            {

                errorMessage = eq.Message;
                PopupVisible = true;

            }

            await UpdateDataAsync();


        }
        else
        {
            var UpdateReq = new EditSoSalesOrderLineCommand
                {
                    SoSalesOrderLineId = editModel.SoSalesOrderLineId,
                    SoSalesOrderId = SoSalesOrderId,
                    ItemId = editModel.ItemId,
                    SellingMethodId = editModel.SellingMethodId,
                    Qty = OrderQty,
                    UnitPrice = UnitPrice,
                    AddedByUserId = editModel.AddedByUserId == null ? applicationUser.UserID : editModel.AddedByUserId,
                    AddedDate = editModel.AddedDate == null ? DateTime.Now : editModel.AddedDate,
                    StatusCodeId = 1,
                    ModifiedByUserId = applicationUser.UserID,
                    ModifiedDate = DateTime.Now,
                    IsManual = editModel.IsManual,
                    ManualPrice = editModel.ManualPrice,
                    PricingType = PricingType,
                    OrderBounsQty = BounsFocQty,
                };

            var ans = await Mediator.Send(UpdateReq);
            toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();

        }

    }
    private async void onShowPopupMessage(string headerText, string bodyText)
    {

        MessageVisible = true;
        MessageBody = bodyText;
        MessageHeader = headerText;
        loading = false;
        StateHasChanged();
    }
    async void ClosePopup()
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
        await UpdateDataAsync();
    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
        UpdateDataAsync();
    }
    async Task OnDeleteDataItem(GridDataItemDeletingEventArgs e)
    {

        var editModel = (View_SoSalesOrderLine)e.DataItem;

        //  string result = string.Empty;
        //  result = await Mediator.Send(new DeleteForumTypeCommand(editModel.ID));
        // Console.WriteLine(result);
        // await UpdateDataAsync();

        var request = new DeleteSoSalesOrderLineCommand(editModel.SoSalesOrderLineId);
        await Mediator.Send(request);
        await UpdateDataAsync();
        Grid.SetFocusedRowIndex(0);

    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    void Onclick(DataGridSelection<View_SoSalesOrderLine> e)
    {



    }

    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "SoSalesOrderLineId");
        _selectedItems = _salesOrderLine.FirstOrDefault(f => f.SoSalesOrderLineId == (long?)UniqueId);

        StateHasChanged();

    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addEdit();
    }
    void addNew()
    {
        Grid.StartEditNewRowAsync();

    }
    void addEdit()
    {


        if (SelectedDataItems.Count == 1)
        {

            foreach (object item in SelectedDataItems)
            {

                if (item is View_SoSalesOrderLine view_SoSalesOrderLine)
                {

                    _selectlst = _salesOrderLine.FirstOrDefault(f => f.SoSalesOrderLineId == view_SoSalesOrderLine.SoSalesOrderLineId);


                }
            }
            Grid.StartEditDataItemAsync(_selectlst);
        }
        else
        {
            Grid.StartEditDataItemAsync(_selectedItems);
        }

        //Grid.SelectDataItems(SelectedDataItems);


    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    async Task bulkDelete()
    {
        try
        {
            if (SelectedDataItems != null)
            {
                foreach (object item in SelectedDataItems)
                {

                    if (item is View_SoSalesOrderLine view_SoSalesOrderLine)
                    {

                        var request = new DeleteSoSalesOrderLineCommand(view_SoSalesOrderLine.SoSalesOrderLineId);
                        await Mediator.Send(request);
                        Blukdeletepopup = false;
                        toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        Grid.SetFocusedRowIndex(0);
                    }

                }
            }
        }
        catch (Exception eq)
        {
            DeleteerrorMessage = eq.Message;
            PopupVisible = true;
        }

        await UpdateDataAsync();


    }
    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems;

        if (SelectedDataItems.Count > 1)
        {
            EditEnabled = false;
            DeleteEnabled = false;
        }
        else
        {
            EditEnabled = true;

            DeleteEnabled = true;
        }

    }
    public async ValueTask DisposeAsync()
    {
        if (_salesOrderLine != null)
        {
            _salesOrderLine.Clear();
            _salesOrderLine = null;


            // GC.Collect();
            // GC.SuppressFinalize(this);
        }
        if (View_SalesOrderMasterPricingLineByItems != null)
        {
            View_SalesOrderMasterPricingLineByItems.Clear();
            View_SalesOrderMasterPricingLineByItems = null;
        }
        if (_AllNavitems != null)
        {
            _AllNavitems.Clear();
            _AllNavitems = null;
        }
        if(_viewSellingMethodItems != null)
        {
            _viewSellingMethodItems.Clear();
            _viewSellingMethodItems = null;
        }
        salesOrderMasterPricingFromSalesModel = null;
        SoSalesOrderItems = null;
        SelectedDataItems = null;  
        _selectedItems = null;
        _selectedItems = null;
    }
}
