@using Application.Command.SoSalesOrderLine;
@using Application.Commands;
@using Application.Queries;
@using Application.Response;
@using MediatR
@using global::Core.Entities;
@using global::Core.Entities.Views;
@inject IMediator Mediator
@using DevExpress.Export
@using global::Core.Repositories.Query;
@inject IJSRuntime jsRuntime;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService


<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" Enabled="@AddEnabled"/>
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled"/>
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
                <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportToExcel" />
            </Items>
        </DxMenu>
    </div>
</div>


<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true"  @bind-Visible="@PopupVisible">
       <div class="text-center">
        <p>@errorMessage</p>       
        <DxButton  Text="OK" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>
<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">
    <div class="text-center">
        <p>@DeleteerrorMessage</p>
        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>

<DxPopup @bind-Visible="@MessageVisible" HeaderText="@MessageHeader">
    <BodyTemplate Context="PopupContext">
        <div class="@((MessageHeader == "Error" ? "TxtRed" : "TxtGreen"))" style="text-align:center; padding: 10px; font-size: 15px;">
            <span> @MessageBody</span>
        </div>
    </BodyTemplate>
</DxPopup>

<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data..."
               >

    <DxGrid @ref="Grid" Data="@_salesOrderLine" EditModelSaving="@OnEditModelSaving" DataItemDeleting="@OnDeleteDataItem" EditMode="GridEditMode.EditForm" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
        FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
        ColumnResizeMode="GridColumnResizeMode.NextColumn"
        PagerNavigationMode="PagerNavigationMode.InputBox"
            KeyFieldName="SoSalesOrderLineId"
        PageSizeSelectorVisible="true"
        PageSizeSelectorAllRowsItemVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20"
        style="height: calc(100vh - 336px);"
        CssClass="ch-360"
        FocusedRowEnabled="true"
        RowClick="OnRowClick"
        AllowSelectRowByClick="true"
        CustomizeElement="Grid_CustomizeElement"
        CustomizeEditModel="Grid_CustomizeEditModel"
        AutoExpandAllGroupRows="true"
        SelectionMode="GridSelectionMode.Multiple"
        SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages" 
        RowDoubleClick="OnRowDoubleClick" SelectedDataItemsChanged="@SelectedDataItemsChanged">
    

    <Columns>
        <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />            
        <DxGridDataColumn FieldName="SoSalesOrderLineId" Visible="false"/>
        <DxGridDataColumn FieldName="ItemSerialNo" />
        <DxGridDataColumn FieldName="No" Caption="Item No" />
         <DxGridDataColumn FieldName="Description" />
         <DxGridDataColumn FieldName="Description2" />
         <DxGridDataColumn FieldName="Qty" />
         <DxGridDataColumn FieldName="BaseUnitofMeasure" Caption="Unit of measure" />
         <DxGridDataColumn FieldName="UnitPrice" Caption="Unit price" />    
        @* <DxGridDataColumn FieldName="AddedDate">
            <CellDisplayTemplate>
                @{
                    var item = (View_SoSalesOrderLine)context.DataItem;
                }
                @Application.Common.Helper.Helper.FormatDateTime(item.AddedDate)
            </CellDisplayTemplate>
        </DxGridDataColumn>*@
            @*<DxGridDataColumn FieldName="AddedBy" Caption="AddedBy" TextAlignment="GridTextAlignment.Left">
            <CellDisplayTemplate>
                @{
                    var item = (View_SoSalesOrderLine)context.DataItem;
                }
                    <div> @item.AddedBy</div>
            </CellDisplayTemplate>
              </DxGridDataColumn> *@             
        <DxGridCommandColumn Width="160px" Visible="false" />
    </Columns>
  @*  @bind-SelectedDataItems="SelectedDataItems"*@
    <EditFormTemplate Context="EditFormContext">
        @{
            var types = (View_SoSalesOrderLine)EditFormContext.EditModel;
        }
        <DxFormLayout CssClass="w-100">        

                <DxFormLayoutItem Caption="Item SerialNo" ColSpanMd="6">
                    <DxComboBox Data="@_AllNavitems"
                            NullText="Select Item SerialNo..."
                            ListRenderMode="ListRenderMode.Virtual"
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="ItemSerialNo"
                                ValueFieldName="ItemSerialNo"
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                @bind-Value="@types.ItemSerialNo" ShowValidationIcon="true"
                                SelectedItemChanged="@((View_NavItems navitems) => SelectedItemChanged(navitems))">
                    <Columns>
                            <DxListEditorColumn FieldName="@nameof(View_NavItems.ItemSerialNo)"
                                                Caption="Item Serial No"
                                            Width="180px" />
                            <DxListEditorColumn FieldName="@nameof(View_NavItems.No)"
                                            Caption="Item" />
                            <DxListEditorColumn FieldName="@nameof(View_NavItems.Description)"
                                            Caption="Description" />
                    </Columns>
                </DxComboBox>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="Item No:" ColSpanMd="6">
                    <DxTextBox @bind-Text="@No" Enabled=false />
            </DxFormLayoutItem>
             <DxFormLayoutItem Caption="Description:" ColSpanMd="6">
               <DxTextBox @bind-Text="@Description" Enabled=false  />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Description2:" ColSpanMd="6">
               <DxTextBox @bind-Text="@Description2" Enabled=false  />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Unit of measure:" ColSpanMd="6">
                    <DxTextBox @bind-Text="@BaseUnitofMeasure" Enabled=false />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Qty:" ColSpanMd="6">
                <DxSpinEdit @bind-Value="@types.Qty" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Unit price:" ColSpanMd="6">
                <DxSpinEdit @bind-Value="@types.UnitPrice" />
            </DxFormLayoutItem>           
            <ValidationSummary />
        </DxFormLayout>
    </EditFormTemplate>
    
</DxGrid>
</DxLoadingPanel>

<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="CRT"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>

@code {
    [Parameter]
    public long? SoSalesOrderId { get; set; }

    private string TextValue { get; set; }
    private string No { get; set; }
    private string Description { get; set; }
    private string Description2 { get; set; }
    private string BaseUnitofMeasure { get; set; }

    private List<View_NavItems>? _AllNavitems;

    bool PanelVisible { get; set; }
    Dictionary<long, string>? UsernameIndex { get; set; }
    IReadOnlyList<object> SelectedDataItems { get; set; }
    private string gridHeight = "calc(100vh - 230px - 143px)";
    private List<View_SoSalesOrderLine>? _salesOrderLine;
    IGrid? Grid { get; set; }
    private View_SoSalesOrderLine _selectedItems;
    //bool EditEnabled { get; set; } = true;
    bool DeleteEnabled { get; set; } = false;
    bool ExportSelectedRowsOnly { get; set; }
    DxPopup? popup;
    bool PopupVisible { get; set; } = false;
    string? errorMessage;
    string? DeleteerrorMessage;
    bool MessageVisible { get; set; }
    string styleClass = "";
    string MessageHeader = "Error";
    string MessageBody = "";
    private bool loading;
    bool Blukdeletepopup { get; set; } = false;
    bool EditEnabled { get; set; } = false;
    bool AddEnabled { get; set; } = false;
    string SelectedGroup = "none";
    private View_SoSalesOrderLine _selectlst;
    public ApplicationUser? applicationUser { get; private set; }


    void SelectedItemChanged(View_NavItems navitems)
    {
        if (navitems != null)
        {
            No = navitems.No;
            Description = navitems.Description;
            Description2 = navitems.Description2;
            BaseUnitofMeasure = navitems.BaseUnitofMeasure;
        }
        else
        {
            No = "";
            Description = "";
            Description2 = "";
            BaseUnitofMeasure = "";
        }
    }

    protected override async Task OnInitializedAsync()
    {
        PanelVisible = true;     
        var navitemslst = await Mediator.Send(new GetAllNavItemsQuery());
        _AllNavitems = navitemslst.Where(c => c.ItemSerialNo != null).ToList();

        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");

        var soline = await Mediator.Send(new GetSalesOrderLine());
        _salesOrderLine = soline.Where(x => x.SoSalesOrderId == SoSalesOrderId).ToList();

        if(SoSalesOrderId > 0)
        {          
            AddEnabled = true;          

            if (_salesOrderLine.Count > 0)
            {

                _selectedItems = _salesOrderLine.FirstOrDefault();
                EditEnabled = true;
                DeleteEnabled = true;
                StateHasChanged();
            }           
        }       


        PanelVisible = false;      
    } 
    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        var navitems = (View_SoSalesOrderLine)e.EditModel;
        if (e.IsNew)
        {           
            No = "";
            Description = "";
            Description2 = "";
            BaseUnitofMeasure = "";
        }
        else
        {
            No = navitems.No;
            Description = navitems.Description;
            Description2 = navitems.Description2;
            BaseUnitofMeasure = navitems.BaseUnitofMeasure;

        }
    }
    async Task UpdateDataAsync()
    {
        PanelVisible = true;       
        var models = await Mediator.Send(new GetSalesOrderLine());
        _salesOrderLine = models.Where(x => x.SoSalesOrderId == SoSalesOrderId).ToList();
        PanelVisible = false;
        StateHasChanged();
    }
    async Task ExportToExcel() 
    {
        await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
        {
           ExportSelectedRowsOnly = true,

          CustomizeCell = OnCustomizeCell
        });

    }


    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }

    async Task OnEditModelSaving(GridEditModelSavingEventArgs e)
    {   

        var editModel = (View_SoSalesOrderLine)e.EditModel;        

        if (e.IsNew)
        {


            var createReq = new CreateSoSalesOrderLineCommand
                {
                    SoSalesOrderId = SoSalesOrderId,
                    ItemSerialNo = editModel.ItemSerialNo,
                    Qty = editModel.Qty,
                    UnitPrice = editModel.UnitPrice,
                    StatusCodeId = 1,
                    AddedByUserId= applicationUser.UserID,                       
                    AddedDate = DateTime.Now, 
                    ModifiedByUserId = applicationUser.UserID,
                    ModifiedDate = DateTime.Now,
                };

            try
            {
                var result = await Mediator.Send(createReq);
                toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);                    
            }
            catch (Exception eq)
            {

                errorMessage = eq.Message;
                PopupVisible = true;

            }

            await UpdateDataAsync();


        }
        else
        {               
            var UpdateReq = new EditSoSalesOrderLineCommand
                {
                    SoSalesOrderLineId = editModel.SoSalesOrderLineId,
                    SoSalesOrderId = SoSalesOrderId,
                    ItemSerialNo = editModel.ItemSerialNo,
                    Qty = editModel.Qty,
                    UnitPrice = editModel.UnitPrice,
                    StatusCodeId = 1,                   
                    ModifiedByUserId = applicationUser.UserID,
                    ModifiedDate = DateTime.Now,

                };

            var ans = await Mediator.Send(UpdateReq);
            toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();            

        }     

    }
    private async void onShowPopupMessage(string headerText, string bodyText)
    {

        MessageVisible = true;
        MessageBody = bodyText;
        MessageHeader = headerText;
        loading = false;
        StateHasChanged();
    }
    async void ClosePopup()
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
        await UpdateDataAsync();
    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
        UpdateDataAsync();
    }
    async Task OnDeleteDataItem(GridDataItemDeletingEventArgs e)
    { 

        var editModel = (View_SoSalesOrderLine)e.DataItem;

        //  string result = string.Empty;
        //  result = await Mediator.Send(new DeleteForumTypeCommand(editModel.ID));
        // Console.WriteLine(result);
        // await UpdateDataAsync();

        var request = new DeleteSoSalesOrderLineCommand(editModel.SoSalesOrderLineId);
        await Mediator.Send(request);
        await UpdateDataAsync();
        Grid.SetFocusedRowIndex(0);

    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    void Onclick(DataGridSelection<View_SoSalesOrderLine> e)
    {



    }

    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "SoSalesOrderLineId");
        _selectedItems = _salesOrderLine.FirstOrDefault(f => f.SoSalesOrderLineId == (long?)UniqueId);

        StateHasChanged();

    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addEdit();
    }
    void addNew()
    {
        Grid.StartEditNewRowAsync();

    }
    void addEdit()
    {     
        if (SelectedDataItems.Count == 1)
        {

            foreach (object item in SelectedDataItems)
            {

                if (item is View_SoSalesOrderLine view_SoSalesOrderLine)
                {

                    _selectlst = _salesOrderLine.FirstOrDefault(f => f.SoSalesOrderLineId == view_SoSalesOrderLine.SoSalesOrderLineId);


                }
            } 
            Grid.StartEditDataItemAsync(_selectlst);
        }
        else
        {
            Grid.StartEditDataItemAsync(_selectedItems);
        }

        // Grid.SelectDataItems(SelectedDataItems);


    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    async Task bulkDelete()
    {
        try
        {
            if (SelectedDataItems != null)
            {
                foreach (object item in SelectedDataItems)
                {

                    if (item is View_SoSalesOrderLine view_SoSalesOrderLine)
                    {

                        var request = new DeleteSoSalesOrderLineCommand(view_SoSalesOrderLine.SoSalesOrderLineId);
                        await Mediator.Send(request);
                        Blukdeletepopup = false;
                        toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        Grid.SetFocusedRowIndex(0);
                    }

                }
            }
        }
        catch(Exception eq)
        {
            DeleteerrorMessage = eq.Message;
            PopupVisible = true;
        }

        await UpdateDataAsync();


    }
    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems;

        if (SelectedDataItems.Count > 1)
        {
            EditEnabled = false;
        }
        else
        {
            EditEnabled = true;
        }

    }  
}
