@inject IJSRuntime jsRuntime
@page "/soCustomer"
@using Application.Queries;
@using DevExpress.Export;
@using MediatR;
@using global::Core.Entities;
@using global::Core.Entities.Views;
@inject IMediator Mediator
@inject NavigationManager NavigationManager
<style>
    .dxbl-loading-panel {
        display: initial !important;
    }
</style>
<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportToExcel" />
                <DxMenuItem Text="Add Address" IconCssClass="fa fa-add" Click="@addNew" Enabled="@AddEnabled" />
            </Items>
        </DxMenu>
    </div>
</div>
<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">
    <DxGrid @ref="Grid" Data="@_AllSoCustomer" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
            PagerNavigationMode="PagerNavigationMode.InputBox" PageSizeSelectorVisible="true"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            PageSizeSelectorAllRowsItemVisible="true"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            KeyFieldName="SoCustomerId"
            CustomizeElement="Grid_CustomizeElement"
            style="height: calc(100vh - 220px);"
            CssClass="w-100"
            RowClick="OnRowClick"
            AllowSelectRowByClick="true"
            FocusedRowEnabled="true"
            RowDoubleClick="OnRowDoubleClick"
            AutoExpandAllGroupRows="true"
            SelectionMode="GridSelectionMode.Multiple"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            TextWrapEnabled="false">
        <Columns>
            <DxGridDataColumn FieldName="SoCustomerId" Visible=false />
            <DxGridDataColumn FieldName="ShipCode" FixedPosition="GridColumnFixedPosition.Left" MinWidth="170" />
            <DxGridDataColumn FieldName="CustomerName" MinWidth="200" FixedPosition="GridColumnFixedPosition.Left" />
            <DxGridDataColumn FieldName="AssignToRep" MinWidth="170" />
            <DxGridDataColumn FieldName="Address1" MinWidth="270" />
            <DxGridDataColumn FieldName="Address2" MinWidth="270" />
            <DxGridDataColumn FieldName="City" MinWidth="170" />
            <DxGridDataColumn FieldName="StateCode" MinWidth="170" />
            <DxGridDataColumn FieldName="PostCode" MinWidth="170" />
            <DxGridDataColumn FieldName="Channel" MinWidth="170" />

            @* <DxGridDataColumn FieldName="ProdTask" Caption="Task" />*@
        </Columns>
    </DxGrid>
</DxLoadingPanel>
@code {
    IGrid Grid { get; set; }
    private List<SoCustomer>? _AllSoCustomer;
    bool PanelVisible { get; set; }
    bool AddEnabled { get; set; } = false;
    private SoCustomer _selectedItems;
    protected override async Task OnInitializedAsync()
    {

        PanelVisible = true;
        _AllSoCustomer = await Mediator.Send(new GetSoCustomerQuery());

        if (_AllSoCustomer.Count > 0)
        {
            _selectedItems = _AllSoCustomer.FirstOrDefault();
            AddEnabled = true;
            StateHasChanged();
        }

        PanelVisible = false;

    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "SoCustomerId");
        _selectedItems = _AllSoCustomer.FirstOrDefault(f => f.SoCustomerId == (long?)UniqueId);
    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addNew();
    }
    void addNew()
    {
        NavigationManager.NavigateTo("AddCustomerAddress/" + _selectedItems.SoCustomerId + "");
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
        //if (e.ElementType == GridElementType.HeaderCell)
        //{
        //    e.Style = "background-color: rgba(0, 0, 0, 0.08)";
        //    e.CssClass = "header-bold";
        //}
    }
    async Task ExportToExcel()

    {
        await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = true,

                CustomizeCell = OnCustomizeCell
            });


    }


    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;



    }

}
