@using Application.Queries;
@using MediatR
@using global::Core.Entities;
@using global::Core.Entities.Views;
@using global::Core.Repositories.Query;
@inject IMediator Mediator
<div>
    <div class="row" style="text-align:center; margin-top: 10px;">
        <div class="col-md-6">
            <span>SHIPPING ADDRESS</span>
            <div>
                <div>
                    <DxCheckBox CssClass="w-100" Checked="@ShippingChecked" CheckedChanged="@((bool value) => ShippingCheckedChanged(value))">
                        Override Address
                    </DxCheckBox>
                </div>

                <div style=" margin-top: 10px; margin-bottom: 10px;">
                    <DxComboBox Data="@_soAllShippingCusterAddress"
                                NullText="Select Customer..."
                                ListRenderMode="ListRenderMode.Virtual"
                                FilteringMode="DataGridFilteringMode.Contains"
                                TextFieldName="Address1"
                                Enabled="@ShippingEnabled"
                                ValueFieldName="AddressID"
                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                @bind-Value="@ShippingAddressID" ShowValidationIcon="true"
                                SelectedItemChanged="@((Address address) => SelectedItemChanged(address))">
                        <Columns>
                            <DxListEditorColumn FieldName="@nameof(Address.Address1)"
                                                Caption="Address1"
                                                Width="180px" />
                            <DxListEditorColumn FieldName="@nameof(Address.Address2)"
                                                Caption="Address2" />
                            <DxListEditorColumn FieldName="@nameof(Address.City)"
                                                Caption="City" />
                            <DxListEditorColumn FieldName="@nameof(Address.Country)"
                                                Caption="Country" />
                        </Columns>
                    </DxComboBox>
                </div>


                @if (_soShippingCusterAddress != null && _soShippingCusterAddress.Any())
                {
                    @foreach (var item in _soShippingCusterAddress)
                    {
                        <div class="card">
                            <div class="card-body">
                                <article class="media">
                                    <div class="media-body">
                                        <div class="content">
                                            <DxFormLayout CssClass="w-100">
                                                <DxFormLayoutItem Caption="Address1 :" ColSpanMd="12">
                                                    <DxTextBox @bind-Text="@item.Address1" Enabled=false />
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem Caption="Address2:" ColSpanMd="12">
                                                    <DxTextBox @bind-Text="@item.Address2" Enabled=false />
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem Caption="City:" ColSpanMd="12">
                                                    <DxTextBox @bind-Text="@item.City" Enabled=false />
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem Caption="Country:" ColSpanMd="12">
                                                    <DxTextBox @bind-Text="@item.Country" Enabled=false />
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem Caption="Country Code:" ColSpanMd="12">
                                                    <DxTextBox @bind-Text="@item.CountryCode" Enabled=false />
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem Caption="Post Code:" ColSpanMd="12">
                                                    <DxSpinEdit @bind-Value="@item.PostCode" Enabled=false />
                                                </DxFormLayoutItem>
                                            </DxFormLayout>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
        <div class="col-md-6">
            <span>BILLING  ADDRESS</span>
            <div>
                <div>
                    <DxCheckBox CssClass="w-100" Checked="@BillingChecked" CheckedChanged="@((bool value) => BillingCheckedChanged(value))">
                        Override Address
                    </DxCheckBox>       
                </div>


                <div style=" margin-top: 10px; margin-bottom: 10px;">
                    <DxComboBox Data="@_soAllBillingCusterAddress"
                                NullText="Select Customer..."
                                ListRenderMode="ListRenderMode.Virtual"
                                FilteringMode="DataGridFilteringMode.Contains"
                                TextFieldName="Address1"                              
                                ValueFieldName="AddressID"
                                Enabled="@BillingEnabled"
                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                @bind-Value="@BillingAddressID" ShowValidationIcon="true"
                                SelectedItemChanged="@((Address address) => SelectedBillingItemChanged(address))">
                        <Columns>
                            <DxListEditorColumn FieldName="@nameof(Address.Address1)"
                                                Caption="Address1"
                                                Width="180px" />
                            <DxListEditorColumn FieldName="@nameof(Address.Address2)"
                                                Caption="Address2" />
                            <DxListEditorColumn FieldName="@nameof(Address.City)"
                                                Caption="City" />
                            <DxListEditorColumn FieldName="@nameof(Address.Country)"
                                                Caption="Country" />
                        </Columns>
                    </DxComboBox>
                </div>



                @if (_soBillingCusterAddress != null && _soBillingCusterAddress.Any())
                {
                    @foreach (var item in _soBillingCusterAddress)
                    {
                        <div class="card">
                            <div class="card-body">
                                <article class="media">
                                    <div class="media-body">
                                        <div class="content">
                                            <DxFormLayout CssClass="w-100">
                                                <DxFormLayoutItem Caption="Address1 :" ColSpanMd="12">
                                                    <DxTextBox @bind-Text="@item.Address1" Enabled=false />
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem Caption="Address2:" ColSpanMd="12">
                                                    <DxTextBox @bind-Text="@item.Address2" Enabled=false />
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem Caption="City:" ColSpanMd="12">
                                                    <DxTextBox @bind-Text="@item.City" Enabled=false />
                                                </DxFormLayoutItem>
                                                 <DxFormLayoutItem Caption="Country:" ColSpanMd="12">
                                                    <DxTextBox @bind-Text="@item.Country" Enabled=false />
                                                  </DxFormLayoutItem>
                                                  <DxFormLayoutItem Caption="Country Code:" ColSpanMd="12">
                                                    <DxTextBox @bind-Text="@item.CountryCode" Enabled=false />
                                                    </DxFormLayoutItem>
                                                  <DxFormLayoutItem Caption="Post Code:" ColSpanMd="12">
                                                    <DxSpinEdit @bind-Value="@item.PostCode" Enabled=false />                                                                                              
                                                </DxFormLayoutItem>
                                            </DxFormLayout>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

@code  {
    bool ShippingChecked { get; set; } = false; 
    bool BillingChecked { get; set; } = false;

    bool ShippingEnabled { get; set; } = false;
    bool BillingEnabled { get; set; } = false;


    long? ShippingAddressID;
    long? BillingAddressID;
    private List<Address>? _soBillingCusterAddress;
    private List<Address>? _soShippingCusterAddress;

    private List<Address>? _soAllBillingCusterAddress;
    private List<Address>? _soAllShippingCusterAddress;

    protected override async Task OnInitializedAsync()
    {
        var Billine = await Mediator.Send(new GetSoCustomerAddressQuery());
        _soBillingCusterAddress = Billine.Where(x => x.AddressType == "Billing" && x.CustomerId == 1 && x.isBilling == true).ToList();

        _soShippingCusterAddress = Billine.Where(x => x.AddressType == "Shipping" && x.CustomerId == 1 && x.isShipping == true).ToList();

        _soAllBillingCusterAddress = Billine.Where(x => x.AddressType == "Billing" && x.CustomerId == 1).ToList();

        _soAllShippingCusterAddress = Billine.Where(x => x.AddressType == "Shipping" && x.CustomerId == 1).ToList();

    }
    void SelectedItemChanged(Address address)
    {
        if (address != null)
        {
            var itsmss = new Address();
            itsmss.Address1 = address.Address1;
            itsmss.Address2 = address.Address2;
            itsmss.City = address.City;
            itsmss.Country = address.Country;
            itsmss.CountryCode = address.CountryCode;
            itsmss.PostCode = address.PostCode;

            _soShippingCusterAddress = new List<Address>(); // Create a new List<Address>
            _soShippingCusterAddress.Add(itsmss); // Add the itsmss object to the list
        }

    }
    void SelectedBillingItemChanged(Address address)
    {
        if (address != null)
        {
            var itsmss = new Address();
            itsmss.Address1 = address.Address1;
            itsmss.Address2 = address.Address2;
            itsmss.City = address.City;
            itsmss.Country = address.Country;
            itsmss.CountryCode = address.CountryCode;
            itsmss.PostCode = address.PostCode;

            _soAllBillingCusterAddress = new List<Address>(); // Create a new List<Address>
            _soAllBillingCusterAddress.Add(itsmss); // Add the itsmss object to the list
        }

    }    
    void ShippingCheckedChanged(bool value)
    {
        ShippingChecked = value;
        ShippingEnabled = value;
    }
    void BillingCheckedChanged(bool value)
    {
        BillingChecked = value;
        BillingEnabled = value;
    }
    
}