@inject IJSRuntime jsRuntime
@page "/soCustomer"
@using Application.Command.SoCustomer;
@using Application.Queries;
@using DevExpress.Export;
@using MediatR;
@using global::Core.Entities;
@using global::Core.Entities.Views;
@inject IMediator Mediator
@inject NavigationManager NavigationManager
@inject AC.SD.Core.Services.ToastService toastService
@implements IAsyncDisposable;

<style>
    .dxbl-loading-panel {
        display: initial !important;
    }
</style>
<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportToExcel" />
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNewCustomer" Enabled="@AddNewCustomer" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Add Address" IconCssClass="fa fa-add" Click="@addNew" Enabled="@AddEnabled" />


            </Items>
        </DxMenu>
    </div>
</div>
<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">
    <DxGrid @ref="Grid" Data="@_AllSoCustomer" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
            PagerNavigationMode="PagerNavigationMode.InputBox" PageSizeSelectorVisible="true"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            PageSizeSelectorAllRowsItemVisible="true"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            KeyFieldName="SoCustomerId"
            CustomizeElement="Grid_CustomizeElement"
            style="height: calc(100vh - 220px);"
            CssClass="w-100"
            RowClick="OnRowClick"
            VirtualScrollingEnabled="true"
            AllowSelectRowByClick="true"
            FocusedRowEnabled="true"
            RowDoubleClick="OnRowDoubleClick"
            AutoExpandAllGroupRows="true"
            SelectionMode="GridSelectionMode.Multiple"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages" EditModelSaving="@OnEditModelSaving"
            TextWrapEnabled="false">
        <Columns>
            <DxGridDataColumn FieldName="SoCustomerId" Visible=false />
            <DxGridDataColumn FieldName="ShipCode" FixedPosition="GridColumnFixedPosition.Left" MinWidth="170" />
            <DxGridDataColumn FieldName="CustomerName" MinWidth="200" FixedPosition="GridColumnFixedPosition.Left" />
            <DxGridDataColumn FieldName="AssignToRep" MinWidth="170" />
            <DxGridDataColumn FieldName="Address1" MinWidth="270" />
            <DxGridDataColumn FieldName="Address2" MinWidth="270" />
            <DxGridDataColumn FieldName="City" MinWidth="170" />
            <DxGridDataColumn FieldName="StateCode" MinWidth="170" />
            <DxGridDataColumn FieldName="PostCode" MinWidth="170" />
            <DxGridDataColumn FieldName="Channel" MinWidth="170" />
            <DxGridDataColumn FieldName="Type" GroupIndex="0" MinWidth="170" />
            @* <DxGridDataColumn FieldName="ProdTask" Caption="Task" />*@
        </Columns>
        <EditFormTemplate Context="EditFormContext">
            @{
                var customers = (SoCustomer)EditFormContext.EditModel;
            }
            <DxFormLayout CssClass="w-100">
                <DxFormLayoutItem Caption="ShipCode:">
                    <DxTextBox @bind-Text="@customers.ShipCode" />
                    <ValidationMessage For="@(() => customers.ShipCode)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Customer Name:">
                    <DxTextBox @bind-Text="@customers.CustomerName" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="AssignToRep :">
                    <DxTextBox @bind-Text="@customers.AssignToRep" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="City :">
                    <DxTextBox @bind-Text="@customers.City" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="StateCode :">
                    <DxTextBox @bind-Text="@customers.StateCode" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="PostCode :">
                    <DxTextBox @bind-Text="@customers.PostCode" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Type :">
                    <DxComboBox Data="@TypeList" SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains" @bind-Value="@customers.Type" ShowValidationIcon="true" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Channel :">
                    <DxTextBox @bind-Text="@customers.Channel" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Address1 :">
                    <DxTextBox @bind-Text="@customers.Address1" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Address2 :">
                    <DxTextBox @bind-Text="@customers.Address2" />
                </DxFormLayoutItem>


                <ValidationSummary />
            </DxFormLayout>
        </EditFormTemplate>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="ShipCode" />
        </TotalSummary>
    </DxGrid>
</DxLoadingPanel>
@code {
    IGrid Grid { get; set; }
    private List<SoCustomer>? _AllSoCustomer;
    bool PanelVisible { get; set; }
    bool AddEnabled { get; set; } = false;
    private SoCustomer _selectedItems;
    bool EditEnabled { get; set; } = false;

    private SoCustomer _selectlst;
    bool AddNewCustomer { get; set; } = false;
    List<string> TypeList = new List<string>() { "Clinic", "Vendor", "Customer","Company" };
    protected override async Task OnInitializedAsync()
    {

        await UpdateDataAsync();

    }
    async Task UpdateDataAsync()
    {
        PanelVisible = true;
        _AllSoCustomer = await Mediator.Send(new GetSoCustomerQuery());

        if (_AllSoCustomer.Count > 0)
        {
            _selectedItems = _AllSoCustomer.FirstOrDefault();
            AddEnabled = true;
            EditEnabled = true;
            AddNewCustomer = true;
            StateHasChanged();
        }

        PanelVisible = false;
    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "SoCustomerId");
        _selectedItems = _AllSoCustomer.FirstOrDefault(f => f.SoCustomerId == (long?)UniqueId);
    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addNew();
    }
    void addNewCustomer()
    {
        Grid.StartEditNewRowAsync();

    }
    void addNew()
    {
        NavigationManager.NavigateTo("soCustomer/AddCustomerAddress/" + _selectedItems.SoCustomerId + "");
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
        //if (e.ElementType == GridElementType.HeaderCell)
        //{
        //    e.Style = "background-color: rgba(0, 0, 0, 0.08)";
        //    e.CssClass = "header-bold";
        //}
    }
    async Task ExportToExcel()

    {
        await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = true,

                CustomizeCell = OnCustomizeCell
            });


    }


    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;



    }
    void addEdit()
    {
        Grid.StartEditDataItemAsync(_selectedItems);
    }

    async Task OnEditModelSaving(GridEditModelSavingEventArgs e)
    {

        var editModel = (SoCustomer)e.EditModel;

        if (e.IsNew)
        {

            var createReq = new CreateSoCustomerCommand
                {
                    CustomerName = editModel.CustomerName,
                    ShipCode = editModel.ShipCode,
                    Type = editModel.Type,
                    AssignToRep = editModel.AssignToRep,
                    Address1 = editModel.Address1,
                    Address2 = editModel.Address2,
                    City = editModel.City,
                    PostCode = editModel.PostCode,
                    StateCode = editModel.StateCode,
                    Channel = editModel.Channel

                    // StatusCodeID = 1,
                    // AddedByUserID = applicationUser.UserID,
                    // AddedDate = DateTime.Now,
                    //  SessionId = Guid.NewGuid()
                };


            var result = await Mediator.Send(createReq);
            toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            //  onShowPopupMessage("Success", "Record save Successfully");



            await UpdateDataAsync();
        }


        else
        {

            var UpdateReq = new EditSoCustomerCommand
                {
                    SoCustomerId = editModel.SoCustomerId,
                    CustomerName = editModel.CustomerName,
                    ShipCode = editModel.ShipCode,
                    Type = editModel.Type,
                    AssignToRep = editModel.AssignToRep,
                    Address1 = editModel.Address1,
                    Address2 = editModel.Address2,
                    City = editModel.City,
                    PostCode = editModel.PostCode,
                    StateCode = editModel.StateCode,
                    Channel = editModel.Channel
                    // AddedByUserID = editModel.AddedByUserID,
                    //StatusCodeID = editModel.StatusCodeID,
                    //ModifiedByUserID = applicationUser.UserID,
                    ////   ModifiedDate = DateTime.Now,
                    //AddedDate = editModel.AddedDate,
                    //SessionId = editModel.SessionId,

                };

            var ans = await Mediator.Send(UpdateReq);
            toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();



        }
    }
    public async ValueTask DisposeAsync()
    {
        if (_AllSoCustomer != null)
        {
            _AllSoCustomer.Clear();
            _AllSoCustomer = null;


            // GC.Collect();
            // GC.SuppressFinalize(this);
        }
    }
}
