@page "/ResetPermissions"
@using global::Core.Entities.Views;
@using Application.Queries;
@using MediatR
@inject IMediator Mediator
@using global::Core.EntityModels;


<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <DxFormLayout>
                <DxFormLayoutItem Caption="Users" ColSpanMd="7">
                    <DxTagBox Data="_usersList"
                    @bind-Values="Data.SelectUserIDs"
                              NullText="Select To..."
                              ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                              ValueFieldName="UserID"
                              TextFieldName="FirstName"
                              FilteringMode="DataGridFilteringMode.Contains"
                              EditFormat="{0}-{1}"
                              SelectedItemsChanged="@((IEnumerable<ViewEmployee> values) => onSelectedUserItemsChanged(values))"
                              ListRenderMode="ListRenderMode.Virtual">
                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.FirstName)" Caption="FirstName" />
                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.LastName)" Caption="Last Name" />
                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.NickName)" Caption="Nick Name" />
                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.DesignationName)" Caption="Designation" />
                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.CompanyName)" Caption="Company" />
                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.StatusName)" Caption="Status" />
                    </DxTagBox>
                </DxFormLayoutItem>
            </DxFormLayout>
            <div class="col-md-12">
            </div>
        </div>
    </div>
</div>
@code {
    private List<ViewEmployee> _usersList;
    DocumentUserRoleModel Data = new DocumentUserRoleModel();
    protected override async Task OnInitializedAsync()
    {
        _usersList = await Mediator.Send(new GetAllUserWithoutStatusQuery());
    }
    async Task onSelectedUserItemsChanged(IEnumerable<ViewEmployee> viewEmployee)
    {
        var ids = viewEmployee.Select(s => s.UserID).ToList();
        var list = await Mediator.Send(new GetResetPermissionsUserGroupUsers(ids));
    }
}
