@using Application.Commands;
@using Application.Common.Helper;
@using Application.Queries;
@using Application.Response;
@using Microsoft.AspNetCore.Http;
@using System.Text
@using global::Core.Repositories.Query;
@using global::Core.Entities;
@using MediatR
@using System.Text.Json
@inject AC.SD.Core.Services.ToastService toastService
@inject IMediator Mediator
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration;
@inject HttpClient httpClient;
@using System.Text.Json;
@using System.Text.Json.Serialization;
<style>
    .TxtRed {
        color: red;
    }
</style>

<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Reload" IconCssClass="fa fa-refresh" Click="@onRefresh"/>
                <DxMenuItem Text="Reset" IconCssClass="fa fa-refresh" Click="@onReset" />
                @* <DxMenuItem Text="Message" IconCssClass="fa fa-commenting" Click="@onReplyMsg" Enabled="@ReplyMsgEnabled" /> *@
            </Items>
        </DxMenu>
    </div>
</div>
<DxGrid @ref="EmailDueDateGrid" SearchText="@GridSearchText"
        Data="_emailTopicDueDate"
        ShowGroupPanel="true"
        VirtualScrollingEnabled="false"
        FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
        KeyFieldName="ID"
        CustomizeElement="Grid_CustomizeElement"
        PagerNavigationMode="PagerNavigationMode.InputBox"
        PageSizeSelectorVisible="true"
        PageSizeSelectorAllRowsItemVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20" 
        ValidationEnabled="true"
        AutoExpandAllGroupRows="true"
        CssClass="w-100" style="height: calc(100vh - 285px);"        
        RowClick="OnRowClick"
        RowDoubleClick="OnEmailDueRowClick"
        ColumnResizeMode="GridColumnResizeMode.NextColumn"
        LayoutAutoLoading="Grid_LayoutAutoLoading"
        LayoutAutoSaving="Grid_LayoutAutoSaving"
        AllowSelectRowByClick="true" EditMode="GridEditMode.EditForm" EditModelSaving="Grid_EditModelSaving">
    <Columns>    
        <DxGridDataColumn FieldName="TopicName" Caption="Main Subject"  FixedPosition="GridColumnFixedPosition.Left" MinWidth="250" />
        <DxGridDataColumn FieldName="Name" Caption="Subject Name" MinWidth="250" />
        <DxGridDataColumn FieldName="FirstName" Caption="Name" MinWidth="100" />
        <DxGridDataColumn FieldName="DueDate" Width="180">
            <CellDisplayTemplate>
                @{
                    var item = (EmailTopics)context.DataItem;
                }
                <span style="font-size:11px; margin-left: 5px; margin-right: 15px;"> @Application.Common.Helper.Helper.FormatDate(item.DueDate.Value)</span>
            </CellDisplayTemplate>
        </DxGridDataColumn>
        <DxGridDataColumn FieldName="ExpiryDueDate" Width="180" Caption="Extend DueDate">
            <CellDisplayTemplate>
                @{
                    var item = (EmailTopics)context.DataItem;
                }
                <span style="font-size:11px; margin-left: 5px; margin-right: 15px;"> @Application.Common.Helper.Helper.FormatDate(item.ExpiryDueDate)</span>
            </CellDisplayTemplate>
        </DxGridDataColumn>
        <DxGridDataColumn FieldName="AssignFrom" Caption="Assign From" MinWidth="100" />
        <DxGridDataColumn FieldName="AssignTo" Caption="Assign To" MinWidth="100" />
        <DxGridDataColumn FieldName="Replymsg" Caption="Msg" Width="80"> 
            <CellDisplayTemplate>
                @{
                    var item = (EmailTopics)context.DataItem;
                }
                @if(item.Replymsg != null)
                {
                    <span class="fa fa-commenting" @onclick="@(() => onReplyMsg())"></span>
                }
                
            </CellDisplayTemplate>
        </DxGridDataColumn> 
        <DxGridDataColumn FieldName="DueDate" Caption="History" Width="180">
            <CellDisplayTemplate>
                @{
                    var item = (EmailTopics)context.DataItem;
                    <span class="fa fa-history" @onclick="@(() => onDueDateHistory(item.ID))"></span>
                }
            </CellDisplayTemplate>
        </DxGridDataColumn>
    </Columns>
  @*   <DetailRowTemplate>
        <EmailSubDueDate Items="(EmailTopics)context.DataItem" />
    </DetailRowTemplate> *@


    <EditFormTemplate Context="EditFormContext">
        @{
            var types = (EmailTopics)EditFormContext.EditModel;
            types.TopicName = "kumar";
            types.ToIds = new List<long> { -1 };
        }
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="Due Date:" ColSpanMd="4">
                <DxDateEdit @bind-Date="@types.DueDate" MinDate="DateTime.Now" TimeSectionVisible="false" />
            </DxFormLayoutItem>  
            <DxFormLayoutItem Caption="Allowed Days to Extend DueDate" ColSpanMd="4" Visible="@IsSubjectNoOfDays">
                <DxSpinEdit @bind-Value="@types.NoOfDays" Enabled="@IsSubjectNoOfDays" MinValue="0"></DxSpinEdit>
            </DxFormLayoutItem>
        </DxFormLayout>

    </EditFormTemplate>




    <TotalSummary>
        <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="ID" />
    </TotalSummary>
</DxGrid>

<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true"  Width="max(25vw, 550px)" @bind-Visible="@Previewmsg">
    <BodyContentTemplate>
        <div style="height: calc(100vh - 250px);overflow:auto;overflow-x:hidden;">
            @{
                byte[] htmlBinaryData = _selectedItems.Replymsg; // Your HTML binary data
                string htmlContent = System.Text.Encoding.UTF8.GetString(htmlBinaryData);
                @((MarkupString)htmlContent)
            }
        </div>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @ref="popup" HeaderText="Due Date History" ShowCloseButton="true" Width="max(25vw, 550px)" @bind-Visible="@isDueDateHistory">
    <BodyContentTemplate>
        <div style="height: calc(100vh - 250px);overflow:auto;overflow-x:hidden;">
            <DueDateHistory @ref=RefDueDateHistoryList Cid="@Cid"></DueDateHistory>           
        </div>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@MessageVisible" ShowFooter="true" HeaderText="@MessageHeader">
    <BodyContentTemplate Context="PopupContext">
        <div class="@((MessageHeader == "Error" ? "TxtRed" : "TxtGreen"))" style="text-align:center; padding: 10px; font-size: 15px;">
            <span class="@((MessageHeader == "Warning Info" ? "TxtRed" :""))"> @MessageBody</span>
        </div>
    </BodyContentTemplate>
    <FooterContentTemplate>
        <span>@Application.Common.Helper.Helper.FormatDate(_dataEditEamilTopics.DueDate)</span>
        <DxButton CssClass="popup-button my-1 ms-2" RenderStyle="ButtonRenderStyle.Primary" Text="Sent Request" Click="@(() => onSentDueDateRequest())" />
    </FooterContentTemplate>
</DxPopup>

@code {
    private DueDateHistory? RefDueDateHistoryList { get; set; }
    [Parameter]
    public long Cid { get; set; }
    private OpenAccessUserLink? _openAccessUserLink { get; set; }
    bool IsSubjectNoOfDays { get; set; } = false;
    [Parameter]
    public int TabIndex { get; set; } = 1;
    const string LocalStorageKey = "Grid-LayoutMyEmailDueDate-Data";
    async Task Grid_LayoutAutoLoading(GridPersistentLayoutEventArgs e)
    {
        e.Layout = await LoadLayoutFromLocalStorageAsync();
    }
    async Task Grid_LayoutAutoSaving(GridPersistentLayoutEventArgs e)
    {
        await SaveLayoutToLocalStorageAsync(e.Layout);
    }
    async Task<GridPersistentLayout> LoadLayoutFromLocalStorageAsync()
    {
        try
        {
            var json = await JSRuntime.InvokeAsync<string>("localStorage.getItem", LocalStorageKey);
            return JsonSerializer.Deserialize<GridPersistentLayout>(json);
        }
        catch
        {
            // Mute exceptions for the server prerender stage
            return null;
        }
    }
    async Task SaveLayoutToLocalStorageAsync(GridPersistentLayout layout)
    {
        try
        {
            var json = JsonSerializer.Serialize(layout);
            await JSRuntime.InvokeVoidAsync("localStorage.setItem", LocalStorageKey, json);
        }
        catch
        {
            // Mute exceptions for the server prerender stage
        }
    }

    async Task onReset()
    {
        await RemoveLayoutFromLocalStorageAsync();              
        await JSRuntime.InvokeVoidAsync("location.reload");
        // var urls = BaseUrl + "myday/" + 1;
        // NavigationManager.NavigateTo(urls);
        // await JSRuntime.InvokeAsync<string>("ReloadUrl");

    }
    async void onSentDueDateRequest()
    {

        var lst = _selectedItems;       
        var duedate = _dataEditEamilTopics.DueDate;
        var cList = await Mediator.Send(new GetRequestEmailToCCList(_selectedItems.ID));


        var participantIds = new List<long>();
        var AssigntoIdss = new List<long>();
        var AssignccIdss = new List<long>();

        if (cList.Count > 0)
        {           

            if (cList[0].ToIds.HasValue)
                participantIds.Add(cList[0].ToIds.Value);

            if (long.TryParse(cList[0].CcIds, out long ccId))
            {
                participantIds.Add(ccId);
            }

            participantIds.Add(applicationUser.UserID);

            AssigntoIdss = cList[0].ToIds.HasValue ? new List<long> { cList[0].ToIds.Value } : new List<long>();
            AssignccIdss = cList[0].CcIds != null ? cList[0].CcIds.Split(',').Select(long.Parse).ToList() : new List<long>();           

        }
        else
        {
            var ToOnlyList = await Mediator.Send(new GetRequestEmailToOnlyList(_selectedItems.ID));


            if (ToOnlyList[0].ToIds.HasValue)
                participantIds.Add(ToOnlyList[0].ToIds.Value);

            if (long.TryParse(ToOnlyList[0].CcIds, out long ccId))
            {
                participantIds.Add(ccId);
            }

            participantIds.Add(applicationUser.UserID);

            AssigntoIdss = ToOnlyList[0].ToIds.HasValue ? new List<long> { ToOnlyList[0].ToIds.Value } : new List<long>();
            AssignccIdss = ToOnlyList[0].CcIds != null ? ToOnlyList[0].CcIds.Split(',').Select(long.Parse).ToList() : new List<long>();
        }

       


        var emailconlist = new EmailConversations
            {
                TopicID = _selectedItems.EmailTopicID,
                AssigntoIds = AssigntoIdss,
                AssignccIds = AssignccIdss,
                Message = "Could you extend the due date to (" + @Application.Common.Helper.Helper.FormatDate(_dataEditEamilTopics.DueDate) + ").",
                PlistIdss = "",
                AllowPlistids = "",
                IsAllowParticipants = false,
                Urgent = false,
                ConIds = 0,
                ReplyId = _selectedItems.ID,
                AllParticipantIds = participantIds.Distinct().ToList(),
                ParticipantId = applicationUser.UserID,
                Name = _dataEditEamilTopics.TopicName,
                AddedByUserID = applicationUser.UserID,
                From = "",
                LastName = "",
                UserCode = "",
                UserName = "",
                FirstName = "",
                UserEmail = "",
                FileData = new byte[0],
                FirebaseDocKey = "",

            };

        string BaseUrl = NavigationManager.BaseUri + "api/Email/";
        string url = BaseUrl + "OnSubmitReply";
        string jsonData = System.Text.Json.JsonSerializer.Serialize(emailconlist);
        var content = new StringContent(jsonData, Encoding.UTF8, "application/json");
        // Send the POST request with the content
        var response = await httpClient.PostAsync(url, content);
        var msg = response.StatusCode;

        var emailDueDateHistory = new InsertEmailDueDateHistory
            {
                ID = (int)_selectedItems.ID,
                DueDate = _dataEditEamilTopics.DueDate,
                NoOfDays = _dataEditEamilTopics.NoOfDays,
                ModifiedByUserID = applicationUser.UserID,
                ModifiedDate = DateTime.Now

            };
        var historyresult = await Mediator.Send(emailDueDateHistory);
        MessageVisible = false;
        toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
        await onRefresh();
        StateHasChanged();
    }

    async Task RemoveLayoutFromLocalStorageAsync()
    {
        try
        {
            await JSRuntime.InvokeVoidAsync("localStorage.removeItem", LocalStorageKey);
        }
        catch
        {
            // Mute exceptions for the server prerender stage
        }
    }

    bool MessageVisible { get; set; }
    string MessageHeader = "Error";
    string MessageBody = "";
    private bool loading;
    private async void onShowPopupMessage(string headerText, string bodyText)
    {
        MessageVisible = true;
        MessageBody = bodyText;
        MessageHeader = headerText;
        loading = false;
        StateHasChanged();
    }
    public bool EditEnabled { get; set; } = false;
    private int pageNumber = 1; // Initial page number
    private int pageSize = 15; // Number of records per page
    DxPopup? popup;
    bool Previewmsg { get; set; } = false;
    private List<EmailDueDateHistory>? _DueDateHistoryList;
    bool isDueDateHistory { get; set; } = false;
    public bool ReplyMsgEnabled { get; set; } = false;
    IGrid EmailDueDateGrid { get; set; }
    private EmailSubDueDate? RefSubAssignAll { get; set; }
    private EmailTopics _dataEditEamilTopics = new EmailTopics();
    private List<EmailTopics>? _emailTopicDueDate;
    private EmailTopics? _selectedItems;
    string SelectedGroup = "none";
    string SelectedReplyId = "none";
    public string filterrowname { get; set; }
    public long RTopicId = 0;
    public ApplicationUser applicationUser { get; private set; }
    [Parameter]
    public Action<string> ATopicId { get; set; }
    [Parameter]
    public string? GridSearchText { get; set; }
    [Parameter]
    public Action<string> SubViewAllTopicId { get; set; }
    private string? BaseUrl;

    async Task onRefresh()
    {
        await JSRuntime.InvokeAsync<string>("showLoading");
        _emailTopicDueDate = await Mediator.Send(new GetEmailTopicHome(applicationUser.UserID));
        await JSRuntime.InvokeAsync<string>("hideLoading");
        EmailDueDateGrid.Reload();
    }
    void addEdit()
    {
        EmailDueDateGrid.StartEditDataItemAsync(_selectedItems);
    }
    async Task onReplyMsg()
    {
        var rlmsg = _selectedItems;
        Previewmsg = true;
    }  
    async Task onDueDateHistory(long id)
    {
        // await JSRuntime.InvokeAsync<string>("showLoading");
        //     _DueDateHistoryList = await Mediator.Send(new GetEmailDueDateHistory(id));
        // await JSRuntime.InvokeAsync<string>("hideLoading");
        Cid = id;
        isDueDateHistory = true;
    }
    protected override async Task OnInitializedAsync()
    {
        BaseUrl = Configuration["DocumentsUrl:BaseUrl"];
        await JSRuntime.InvokeAsync<string>("showLoading");
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _emailTopicDueDate = await Mediator.Send(new GetEmailTopicHome(applicationUser.UserID));
        _openAccessUserLink = await Mediator.Send(new GetEmailAccessByUser(applicationUser.UserID));
        await JSRuntime.InvokeAsync<string>("hideLoading");
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
            e.CssClass += "non-selectable-row";
        }
    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "ID");
        _selectedItems = _emailTopicDueDate.FirstOrDefault(f => f.ID == (long?)UniqueId);
        ReplyMsgEnabled = true;
        EditEnabled = true;

        if ((applicationUser.UserID == _selectedItems.UserId) || _openAccessUserLink != null)
        {
            IsSubjectNoOfDays = true;
        }
        else
        {
            IsSubjectNoOfDays = false;
        }


        StateHasChanged();

    }
    async Task OnEmailDueRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "ID");
        SelectedGroup = UniqueId.ToString();

        var lst = _emailTopicDueDate.Where(x => x.ID == long.Parse(SelectedGroup)).FirstOrDefault();   

        NavigationManager.NavigateTo($"ViewEmail/{lst.SessionId}/Email");
        //ATopicId?.Invoke(SelectedGroup);
        ////await LoadData();
        StateHasChanged();
    }
    public async Task onAssignAllGridRefresh(long tid)
    {
        _emailTopicDueDate = await Mediator.Send(new GetEmailTopicAll(applicationUser.UserID, "NULL",pageNumber,pageSize));
        if (RefSubAssignAll != null)
        {
            await RefSubAssignAll.onSubAssignAllGridRefresh(tid);
        }

    }
    private async void onSubViewEmailClick(string RId)
    {
        SelectedReplyId = RId;
        var conversationList = await Mediator.Send(new GetEmailConversationList(long.Parse(RId)));
        RTopicId = conversationList[0].TopicID;
        SelectedGroup = conversationList[0].TopicID.ToString();
        SubViewAllTopicId?.Invoke(SelectedReplyId);
        await Task.Delay(1000); // Example asynchronous operation
                                //await LoadReplyData();
        StateHasChanged();
    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editModel = (EmailTopics)e.EditModel;

        _dataEditEamilTopics = (EmailTopics)e.EditModel;

        if ((applicationUser.UserID != editModel.UserId) || _openAccessUserLink != null)
        {
            if (editModel.DueDate.HasValue)
            {

                DateTime actualDueDate = editModel.DueDate.Value;

                if (editModel.ExpiryDueDate != null)
                {
                    if (editModel.ExpiryDueDate >= editModel.DueDate)
                    {
                        await updateDueDate(editModel);
                    }
                    else
                    {
                        onShowPopupMessage("Warning Info", "Please update the due date if you extend the deadline. If no action is taken within  (" + @Application.Common.Helper.Helper.FormatDate(editModel.ExpiryDueDate) + ") days, contact your supervisor for guidance.");
                    }
                }
                else
                {
                    await updateDueDate(editModel);
                }

               
            }
            else
            {
                await updateDueDate(editModel);
            }

        }
        else
        {
            await updateDueDate(editModel);
        }
      
    }
    async Task updateDueDate(EmailTopics emailTopics)
    {
        var UpdateReq = new UpdateEmailTopicSubjectDueDate
            {
                //ID = long.Parse(@SelectedGroup),
                ID = (int)emailTopics.ID,
                TopicID = emailTopics.EmailTopicID,
                NoOfDays = emailTopics.NoOfDays,
                DueDate = emailTopics.DueDate,
                UserId = emailTopics.UserId,
                openAccessUserLink = _openAccessUserLink != null ? true : false,
                ModifiedByUserID = applicationUser.UserID,
                ModifiedDate = DateTime.Now
            };

        var result = await Mediator.Send(UpdateReq);
        toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
        await onRefresh();
    }
}