@using Application.Commands;
@using Application.Common.Helper;
@using Application.Queries;
@using Application.Response;
@using DevExpress.Export
@using Microsoft.AspNetCore.Http;
@using System.Text
@using global::Core.Repositories.Query;
@using global::Core.Entities;
@using MediatR
@inject AC.SD.Core.Services.ToastService toastService
@inject IMediator Mediator
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration;
@inject HttpClient httpClient;
@using System.Text.Json
@using System.Text.Json.Serialization;
@implements IAsyncDisposable
@page "/NotifypaPage"

<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>                
                <DxMenuItem IconCssClass="fa fa-print" @onclick="onPrintMainTopic" Text="Print" Enabled="@PrintEnabled" />
                <DxMenuItem IconCssClass="fa fa-remove" @onclick="OnDelete" Text="Delete" Enabled="@DeleteEnabled" />
            </Items>
        </DxMenu>
    </div>
</div>
<DxGrid @ref="EmailNotifyPAGrid"
        Data="_emailNotifyData"
        ShowGroupPanel="true"
        ShowSearchBox ="true"
        VirtualScrollingEnabled="false"
        FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
        KeyFieldName="ID"
        CustomizeElement="Grid_CustomizeElement"
        PagerNavigationMode="PagerNavigationMode.InputBox"
        PageSizeSelectorVisible="true"
        PageSizeSelectorAllRowsItemVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20"
        TextWrapEnabled="false"
        ValidationEnabled="true"
        AutoExpandAllGroupRows="true"
        CssClass="w-100" style="height: calc(100vh - 285px);"
        RowClick="OnRowClick"
        RowDoubleClick="OnEmailDueRowClick"
        ColumnResizeMode="GridColumnResizeMode.ColumnsContainer"        
        AllowSelectRowByClick="true">
    <Columns>
        @*  <DxGridSelectionColumn Width="60px" AllowSelectAll="true" Visible="false" /> *@
        <DxGridDataColumn FieldName="Name" Caption="Subject" FixedPosition="GridColumnFixedPosition.Left" MinWidth="250" />
        <DxGridDataColumn FieldName="CategoryName" Caption="Category Name" GroupIndex ="0" MinWidth="100" />
        <DxGridDataColumn FieldName="AddedBy" Caption="Added By" MinWidth="100" />
        <DxGridDataColumn FieldName="AddedDate" Width="180">
            <CellDisplayTemplate>
                @{
                    var item = (EmailNotifyPA)context.DataItem;
                }
                <span style="font-size:11px; margin-left: 5px; margin-right: 15px;"> @Application.Common.Helper.Helper.FormatDate(item.AddedDate)</span>
            </CellDisplayTemplate>
        </DxGridDataColumn>
        <DxGridDataColumn FieldName="EmailCreatedDate" Width="180">
            <CellDisplayTemplate>
                @{
                    var item = (EmailNotifyPA)context.DataItem;
                }
                <span style="font-size:11px; margin-left: 5px; margin-right: 15px;"> @Application.Common.Helper.Helper.FormatDate(item.EmailCreatedDate)</span>
            </CellDisplayTemplate>
        </DxGridDataColumn>
        <DxGridDataColumn FieldName="Comment" Caption="Comment" Width="80">
            <CellDisplayTemplate>
                @{
                    var item = (EmailNotifyPA)context.DataItem;
                }
                @if (item.Comment != null)
                {
                    <span class="fa fa-commenting" @onclick="@(() => onCommentMsg())"></span>
                }

            </CellDisplayTemplate>
        </DxGridDataColumn>
    </Columns>

    <TotalSummary>
        <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="ID" />
    </TotalSummary>
</DxGrid>

<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="NOVATO"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
       
        <p>

            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup HeaderText="CRT" ShowCloseButton="true" CloseOnEscape="false" CloseOnOutsideClick="false" Width="max(25vw, 550px)" @bind-Visible="@CommentPreview">
    <BodyContentTemplate>
        <div style="height: calc(100vh - 250px);overflow:auto;">
            @{
                @_selectedItems.Comment;
            }
        </div>
    </BodyContentTemplate>
</DxPopup>

@code {
    public bool PrintEnabled { get; set; } = false;
    public bool DeleteEnabled { get; set; } = false;
    IGrid EmailNotifyPAGrid { get; set; }
    private EmailNotifyPA? _selectedItems;
    IReadOnlyList<object> SelectedDataItems { get; set; }
    public ApplicationUser applicationUser { get; private set; }
    [Parameter]
    public int TabIndex { get; set; } = 1;
    bool Blukdeletepopup { get; set; } = false;
    private bool loading;
    private List<EmailNotifyPA>? _emailNotifyData;
    private string? BaseUrl;
    bool CommentPreview { get; set; } = false;
    protected override async Task OnInitializedAsync()
    {       
        BaseUrl = Configuration["DocumentsUrl:BaseUrl"];
        await JSRuntime.InvokeAsync<string>("showLoading");    
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        await UpdateDataAsync();
        //_openAccessUserLink = await Mediator.Send(new GetEmailAccessByUser(applicationUser.UserID));

        await JSRuntime.InvokeAsync<string>("hideLoading");
    }
    async Task UpdateDataAsync()
    {
        _emailNotifyData = await Mediator.Send(new GetNotifyPAList());
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow)
        {           
            if (e.VisibleIndex % 2 == 1)
            {
                e.CssClass = "alt-item non-selectable-row";               
            }
        }
    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "ID");
        _selectedItems = null;
        _selectedItems = _emailNotifyData.FirstOrDefault(f => f.ID == (long?)UniqueId);

        if (_selectedItems != null)
        {

        }
        else
        {

        }

        DeleteEnabled = true;
        PrintEnabled = true;

        StateHasChanged();

    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
      
        Blukdeletepopup = false;
       
        // UpdateDataAsync();
    }
    void OnDelete()
    {
        Blukdeletepopup = true;
    }
    async Task OnEmailDueRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "ID");
        var SelectedGroup = UniqueId.ToString();

        var lst = _emailNotifyData.Where(x => x.ID == long.Parse(SelectedGroup)).FirstOrDefault();

        var url = BaseUrl + "ViewEmail/EmailNotifyPrint/" + lst.SessionId + "/" + lst.Page;
        string script = $"window.open('{url}', '_blank');";
        await JSRuntime.InvokeVoidAsync("eval", script);      

        StateHasChanged();
    }
    async void onPrintMainTopic()
    {
        var url = BaseUrl + "ViewEmail/EmailNotifyPrint/" + _selectedItems.SessionId + "/" + _selectedItems.Page;
        string script = $"window.open('{url}', '_blank');";
        await JSRuntime.InvokeVoidAsync("eval", script);
    }
     async Task bulkDelete()
    {
        if (_selectedItems != null)
        {
            var request = new DeleteNotifyQuery(_selectedItems.ID);
            await Mediator.Send(request);
            await UpdateDataAsync();
            Blukdeletepopup = false;
            toastService.ShowToast("Record Deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
        }
    }
    async Task onCommentMsg()
    {
        var rlmsg = _selectedItems;
        CommentPreview = true;
    }
    public async ValueTask DisposeAsync()
    {
        _emailNotifyData?.Clear();
    }

}