@using Application.Commands;
@using Application.Common.Helper;
@using Application.Queries;
@using Application.Response;
@using DevExpress.Export
@using Microsoft.AspNetCore.Http;
@using System.Text
@using global::Core.Repositories.Query;
@using global::Core.Entities;
@using MediatR
@inject AC.SD.Core.Services.ToastService toastService
@inject IMediator Mediator
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration;
@inject HttpClient httpClient;
@using System.Text.Json
@using System.Text.Json.Serialization;
@implements IAsyncDisposable

<style>
    .TxtRed {
    color: red;
    }
</style>
<style scoped>
    .reply-label {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 6px;
    padding: 4px 10px;
    cursor: pointer;
    transition: all 0.3s;
    }

    .reply-label:hover {
    background-color: #007bff;
    color: #fff;
    }

    .reply-label .count {
    margin-left: 8px;
    padding-left: 8px;
    border-left: 1px solid #007bff;
    }
</style>

<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
        DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Reload" IconCssClass="fa fa-refresh" Click="@onRefresh"/>
                <DxMenuItem Text="Reset" IconCssClass="fa fa-refresh" Click="@onReset" />
                <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportToExcel" />
                @* <DxMenuItem Text="Message" IconCssClass="fa fa-commenting" Click="@onReplyMsg" Enabled="@ReplyMsgEnabled" /> *@
            </Items>
        </DxMenu>
    </div>
</div>
<DxGrid @ref="EmailDueDateGrid" SearchText="@GridSearchText"
Data="_emailTopicDueDate"
ShowGroupPanel="true"
VirtualScrollingEnabled="false"
FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
KeyFieldName="ID"
CustomizeElement="Grid_CustomizeElement"
PagerNavigationMode="PagerNavigationMode.InputBox"
PageSizeSelectorVisible="true"
PageSizeSelectorAllRowsItemVisible="true"
PageSizeSelectorItems="@(new int[] { 5,10,20 })"
PageSize="20"
TextWrapEnabled="false"
ValidationEnabled="true"
AutoExpandAllGroupRows="true"
CssClass="w-100" style="height: calc(100vh - 285px);"        
RowClick="OnRowClick"
RowDoubleClick="OnEmailDueRowClick"
ColumnResizeMode="GridColumnResizeMode.ColumnsContainer"
LayoutAutoLoading="Grid_LayoutAutoLoading"
LayoutAutoSaving="Grid_LayoutAutoSaving"

AllowSelectRowByClick="true" EditMode="GridEditMode.EditForm" EditModelSaving="Grid_EditModelSaving">
    <Columns>   
        @*  <DxGridSelectionColumn Width="60px" AllowSelectAll="true" Visible="false" /> *@
        <DxGridDataColumn FieldName="TopicName" Caption="Main Subject"  FixedPosition="GridColumnFixedPosition.Left" MinWidth="250" />
        <DxGridDataColumn FieldName="Name" Caption="Subject Name" />
        <DxGridDataColumn FieldName="FirstName" Caption="Name" MinWidth="100" />
        <DxGridDataColumn FieldName="DueDate" Width="180">
            <CellDisplayTemplate>
                @{
                    var item = (EmailTopics)context.DataItem;
                }
                <span style="font-size:11px; margin-left: 5px; margin-right: 15px;"> @Application.Common.Helper.Helper.FormatDate(item.DueDate.Value)</span>
            </CellDisplayTemplate>
        </DxGridDataColumn>
        <DxGridDataColumn FieldName="UserTag"  />
        <DxGridDataColumn FieldName="OtherTag"  />
        <DxGridDataColumn FieldName="ExpiryDueDate" Width="180" Caption="Extend DueDate">
            <CellDisplayTemplate>
                @{
                    var item = (EmailTopics)context.DataItem;
                }
                <span style="font-size:11px; margin-left: 5px; margin-right: 15px;"> @Application.Common.Helper.Helper.FormatDate(item.ExpiryDueDate)</span>
            </CellDisplayTemplate>
        </DxGridDataColumn>
        <DxGridDataColumn FieldName="AssignFrom" Caption="Assign From" MinWidth="100" />
        <DxGridDataColumn FieldName="AssignTo" Caption="Assign To" MinWidth="100" />
        <DxGridDataColumn FieldName="Replymsg" Caption="Msg" Width="80"> 
            <CellDisplayTemplate>
                @{
                    var item = (EmailTopics)context.DataItem;
                }
                @if(item.Replymsg != null)
                {
                    <span class="fa fa-commenting" @onclick="@(() => onReplyMsg())"></span>
                }

            </CellDisplayTemplate>
        </DxGridDataColumn>
        <DxGridDataColumn FieldName="IsDueDate" Caption="-" Width="30">
            <CellDisplayTemplate>
                @{
                    var item = (EmailTopics)context.DataItem;
                }

                @if (item.IsDueDate == 1)
                {     
                    <span class="fa fa-calendar" style="font-size:18px; color:red;"></span>
                }

               @*  @if (item.IsDueDate == 2)
                {
                    <span class="fas fa-calendar-check" style="font-size:18px; color:green;"></span>
                } *@

            </CellDisplayTemplate>
        </DxGridDataColumn>
        <DxGridDataColumn FieldName="ReplyCount" Caption="Reply" Width="100">
            <CellDisplayTemplate>
                @{
                    var item = (EmailTopics)context.DataItem;
                }                               
                <div class="reply-label">
                    <i class="fa fa-reply"></i> 
                    <span class="count">@item.ReplyCount</span>
                </div>
            </CellDisplayTemplate>
        </DxGridDataColumn>
        <DxGridDataColumn FieldName="DueDate" Caption="History" Width="180">
            <CellDisplayTemplate>
                @{
                    var item = (EmailTopics)context.DataItem;
                    <span class="fa fa-history" @onclick="@(() => onDueDateHistory(item.ID))"></span>
                }
            </CellDisplayTemplate>
        </DxGridDataColumn>
    </Columns>
    @*   <DetailRowTemplate>
        <EmailSubDueDate Items="(EmailTopics)context.DataItem" />
    </DetailRowTemplate> *@


    <EditFormTemplate Context="EditFormContext">
        @{
            var types = (EmailTopics)EditFormContext.EditModel;           
            types.ToIds = new List<long> { -1 };
        }
        <DxFormLayout CssClass="w-100" CaptionPosition="CaptionPosition.Vertical">
            <DxFormLayoutItem Caption="Main Subject" ColSpanMd="6">
                <DxTextBox @bind-Text="@types.TopicName" ReadOnly="true"></DxTextBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Subject Name" ColSpanMd="6">
                <DxTextBox @bind-Text="@types.Name" ReadOnly="true"></DxTextBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Assignor :" ColSpanMd="4">
                <DxTextBox @bind-Text="@types.Assignor" ReadOnly="true"></DxTextBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Due Date:" ColSpanMd="4">
                <DxDateEdit Date="@types.DueDate" DisplayFormat="dd-MMM-yyyy" Enabled="IsSubjectNoOfDays" MinDate="DateTime.Now" DateExpression="@(() => types.DueDate)" DateChanged="@((DateTime? newValue) => OnDateChanged(newValue))" TimeSectionVisible="false" />
            </DxFormLayoutItem> 
            @if(IsSubjectNoOfDays == true)
            {
                <DxFormLayoutItem Caption="Allowed Days to Extend DueDate" ColSpanMd="4" Visible="@IsSubjectNoOfDays">
                    <DxSpinEdit @bind-Value="@types.NoOfDays" Enabled="@IsSubjectNoOfDays" MinValue="0"></DxSpinEdit>
                </DxFormLayoutItem>
            }
            else
            {
                <DxFormLayoutItem Caption="" ColSpanMd="4" >

                </DxFormLayoutItem>
            }
            <DxFormLayoutItem Caption="User Tag:" ColSpanMd="4">
                @*<DxComboBox Data="@_UserTagList"
                            NullText="Select User Tag..."
                            ListRenderMode="ListRenderMode.Virtual"
                            SearchMode="ListSearchMode.AutoSearch"
                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                            AllowUserInput="true"
                            TextFieldName="UserTag"
                            ValueFieldName="UserTag"
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                            @bind-Value="@types.UserTag"
                            @bind-Text="@UserTagName">
                </DxComboBox>*@
                <DxTagBox Data="_UserTagList"
                @bind-Values="DataUserTagIds"
                NullText="Select User Tag"
                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                ValueFieldName="ID"
                TextFieldName="UserTag"
                ListRenderMode="ListRenderMode.Virtual"
                SearchMode="ListSearchMode.AutoSearch"
                SearchFilterCondition="ListSearchFilterCondition.Contains"
                CssClass="cw-480">
                    <DxListEditorColumn FieldName="@nameof(EmailActivityCatgorys.UserTag)" Caption="User Tag" />
                </DxTagBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Others Tag:" ColSpanMd="4">
                <DxComboBox Data="@_AllCategory"
                NullText="Select Others Tag..."
                ListRenderMode="ListRenderMode.Virtual"
                AllowUserInput="true"
                SearchMode="ListSearchMode.AutoSearch"
                SearchFilterCondition="ListSearchFilterCondition.Contains"
                TextFieldName="Name"
                ValueFieldName="Name"
                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                @bind-Value="@types.OtherTag"
                @bind-Text="@OthersTagName">
                </DxComboBox>                               
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Lock DueDate:" ColSpanMd="4">
                <DxCheckBox CssClass="w-100"
                @bind-Checked="@types.IsLockDueDate"
                Alignment="default"
                ReadOnly ="true"
                LabelPosition="LabelPosition.Right">

                </DxCheckBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Requested Name  :" ColSpanMd="4">
                <DxTextBox @bind-Text="@types.Assignee" ReadOnly="true"></DxTextBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Requested Due Date:" ColSpanMd="4">               
                <DxDateEdit Date="@types.RequestedDueDate" DisplayFormat="dd-MMM-yyyy" Enabled="!IsSubjectNoOfDays" MinDate="DateTime.Now" DateExpression="@(() => types.RequestedDueDate)" DateChanged="@((DateTime? newValue) => OnRequestedDateChanged(newValue))" TimeSectionVisible="false" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Reason  :" ColSpanMd="4">
                <DxTextBox @bind-Text="@types.Reason" ReadOnly="true"></DxTextBox>
            </DxFormLayoutItem>
        </DxFormLayout>

    </EditFormTemplate>




    <TotalSummary>
        <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="ID" />
    </TotalSummary>
</DxGrid>

<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true"  CloseOnEscape="false" CloseOnOutsideClick="false"  Width="100%" @bind-Visible="@Previewmsg">
    <BodyContentTemplate>
        <div style="height: calc(100vh - 250px);overflow:auto; display:none;">
            @{
                byte[] htmlBinaryData = _selectedItems.Replymsg; // Your HTML binary data
                string htmlContent = System.Text.Encoding.UTF8.GetString(htmlBinaryData);
                @((MarkupString)htmlContent)
            }
        </div>
        <div style="height: calc(100vh - 150px);overflow:auto;overflow-x:auto">
            <AC.SD.Core.Pages.Email.EmailPrint ConSessionId="@_selectedItems.SessionId.Value" IsReply="EmailDueDate"></AC.SD.Core.Pages.Email.EmailPrint>
        </div>


    </BodyContentTemplate>
</DxPopup>

<DxPopup @ref="popup" HeaderText="Due Date History" ShowCloseButton="true" CloseOnEscape="false" CloseOnOutsideClick="false"  Width="max(25vw, 550px)" @bind-Visible="@isDueDateHistory">
    <BodyContentTemplate>
        <div style="height: calc(100vh - 250px);overflow:auto;overflow-x:hidden;">
            <DueDateHistory @ref=RefDueDateHistoryList Cid="@Cid"></DueDateHistory>           
        </div>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@MessageVisible" ShowFooter="true" HeaderText="@MessageHeader">
    <BodyContentTemplate Context="PopupContext">
        <div class="@((MessageHeader == "Error" ? "TxtRed" : "TxtGreen"))" style="text-align:center; padding: 10px; font-size: 15px;">
            <span class="@((MessageHeader == "Warning Info" ? "TxtRed" :""))"> @MessageBody</span>
        </div>
        <DxFormLayout>
            <DxFormLayoutItem Caption="Reason :" ColSpanMd="12">
                <DxMemo @bind-Text="@DuedateReason"></DxMemo>
            </DxFormLayoutItem>
        </DxFormLayout>

    </BodyContentTemplate>
    <FooterContentTemplate>
        <span>@Application.Common.Helper.Helper.FormatDate(_dataEditEamilTopics.DueDate)</span>
        <DxButton CssClass="popup-button my-1 ms-2" RenderStyle="ButtonRenderStyle.Primary" Text="Sent Request" Click="@(() => onSentDueDateRequest())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@DueDateMessageVisible" ShowFooter="true" HeaderText="Warning Info">
    <BodyContentTemplate Context="PopupContext">
        <div class="@((DueDateMessageHeader == "Error" ? "TxtRed" : "TxtGreen"))" style="text-align:center; padding: 10px; font-size: 15px;">
            <span class="@((DueDateMessageHeader == "Warning Info" ? "TxtRed" :""))"> @DueDateMessageBody</span>
        </div>
        <DxFormLayout>
            <DxFormLayoutItem Caption="Reason :" ColSpanMd="12">
                <DxMemo @bind-Text="@DuedateReason"></DxMemo>
            </DxFormLayoutItem>
        </DxFormLayout>
    </BodyContentTemplate>
    <FooterContentTemplate>
        <span>@Application.Common.Helper.Helper.FormatDate(@SelectedDueDate)</span>
        <DxButton CssClass="popup-button my-1 ms-2" RenderStyle="ButtonRenderStyle.Primary" Text="Sent Request" Click="@(() => onSentDueDateRequest())" />
    </FooterContentTemplate>
</DxPopup>
@code {
    IReadOnlyList<object> SelectedDataItems { get; set; }
    internal List<EmailActivityCatgorys>? _UserTagList = new List<EmailActivityCatgorys>();
    internal List<EmailActivityCatgorys>? _AllCategory = new List<EmailActivityCatgorys>();
    private string UserTagName = string.Empty;  
    private string OthersTagName = string.Empty; 
    private DueDateHistory? RefDueDateHistoryList { get; set; }
    [Parameter]
    public long Cid { get; set; }
    private OpenAccessUserLink? _openAccessUserLink { get; set; }
    bool IsSubjectNoOfDays { get; set; } = false;
    [Parameter]
    public int TabIndex { get; set; } = 1;
    const string LocalStorageKey = "Grid-LayoutMyEmailDueDate-Data";
    bool LockDueDateEnable { get; set; } = true;
    bool DueDateEnable { get; set; } = false;
    bool DueDateMessageVisible { get; set; } = false;
    string DueDateMessageHeader = "Error";
    string DueDateMessageBody = "";
    DateTime SelectedDueDate { get; set; }
    async Task Grid_LayoutAutoLoading(GridPersistentLayoutEventArgs e)
    {
        e.Layout = await LoadLayoutFromLocalStorageAsync();
    }
    async Task Grid_LayoutAutoSaving(GridPersistentLayoutEventArgs e)
    {
        await SaveLayoutToLocalStorageAsync(e.Layout);
    }
    async Task<GridPersistentLayout> LoadLayoutFromLocalStorageAsync()
    {
        try
        {
            var json = await JSRuntime.InvokeAsync<string>("localStorage.getItem", LocalStorageKey);
            return JsonSerializer.Deserialize<GridPersistentLayout>(json);
        }
        catch
        {
            // Mute exceptions for the server prerender stage
            return null;
        }
    }
    async Task SaveLayoutToLocalStorageAsync(GridPersistentLayout layout)
    {
        try
        {
            var json = JsonSerializer.Serialize(layout);
            await JSRuntime.InvokeVoidAsync("localStorage.setItem", LocalStorageKey, json);
        }
        catch
        {
            // Mute exceptions for the server prerender stage
        }
    }

    async Task onReset()
    {
        await RemoveLayoutFromLocalStorageAsync();              
        await JSRuntime.InvokeVoidAsync("location.reload");
        // var urls = BaseUrl + "myday/" + 1;
        // NavigationManager.NavigateTo(urls);
        // await JSRuntime.InvokeAsync<string>("ReloadUrl");

    }
    void OnRequestedDateChanged(DateTime? newValue)
    {
        DuedateReason = "";
        if (newValue != null)
        {
            SelectedDueDate = newValue.Value;
        }
        if (LockDueDateEnable == false)
        {
            DueDateMessageBody = "Warning Info , Please update the due date if you extend the deadline. If no action is taken within  (" + @Application.Common.Helper.Helper.FormatDate(_selectedItems.ExpiryDueDate) + ") days, contact your supervisor for guidance.";

            DueDateMessageVisible = true;
        }


        StateHasChanged();
    }
    void OnDateChanged(DateTime? newValue)
    {
        DuedateReason = "";
        if (newValue != null)
        {
            SelectedDueDate = newValue.Value;
            isduedate = 1;
        }
        if(LockDueDateEnable == false)
        {
            DueDateMessageBody = "Warning Info , Please update the due date if you extend the deadline. If no action is taken within  (" + @Application.Common.Helper.Helper.FormatDate(_selectedItems.ExpiryDueDate) + ") days, contact your supervisor for guidance.";

            DueDateMessageVisible = true;
        }


        StateHasChanged();
    }
    async void onSentDueDateRequest()
    {

        await JSRuntime.InvokeAsync<string>("showLoading");
        var lst = _selectedItems;       
        var duedate = _dataEditEamilTopics.DueDate;
        var cList = await Mediator.Send(new GetRequestEmailToCCList(_selectedItems.ID));


        var participantIds = new List<long>();
        var AssigntoIdss = new List<long>();
        var AssignccIdss = new List<long>();

        if (cList.Count > 0)
        {           

            if (cList[0].ToIds.HasValue)
                participantIds.Add(cList[0].ToIds.Value);

            if (long.TryParse(cList[0].CcIds, out long ccId))
            {
                participantIds.Add(ccId);
            }

            participantIds.Add(applicationUser.UserID);

            AssigntoIdss = cList[0].ToIds.HasValue ? new List<long> { cList[0].ToIds.Value } : new List<long>();
            AssignccIdss = cList[0].CcIds != null ? cList[0].CcIds.Split(',').Select(long.Parse).ToList() : new List<long>();           

        }
        else
        {
            var ToOnlyList = await Mediator.Send(new GetRequestEmailToOnlyList(_selectedItems.ID));


            if (ToOnlyList[0].ToIds.HasValue)
                participantIds.Add(ToOnlyList[0].ToIds.Value);

            if (long.TryParse(ToOnlyList[0].CcIds, out long ccId))
            {
                participantIds.Add(ccId);
            }

            participantIds.Add(applicationUser.UserID);

            AssigntoIdss = ToOnlyList[0].ToIds.HasValue ? new List<long> { ToOnlyList[0].ToIds.Value } : new List<long>();
            AssignccIdss = ToOnlyList[0].CcIds != null ? ToOnlyList[0].CcIds.Split(',').Select(long.Parse).ToList() : new List<long>();
        }




        var emailconlist = new EmailConversations
            {
                TopicID = _selectedItems.EmailTopicID,
                AssigntoIds = AssigntoIdss,
                AssignccIds = AssignccIdss,
            // Message = "Could you extend the due date to (" + @Application.Common.Helper.Helper.FormatDate(_dataEditEamilTopics.DueDate) + ").",
                Message = $"Request Due Date: \"{Application.Common.Helper.Helper.FormatDate(SelectedDueDate)}\"<br/><br/>" +
                    "<strong>Reason:</strong><br/>" +
                    $"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{DuedateReason}",
                PlistIdss = "",
                AllowPlistids = "",
                IsAllowParticipants = false,
                Urgent = false,
                ConIds = 0,
                ReplyId = _selectedItems.ID,
                AllParticipantIds = participantIds.Distinct().ToList(),
                ParticipantId = applicationUser.UserID,
                Name = _selectedItems.TopicName,
                AddedByUserID = applicationUser.UserID,
                From = "",
                IsDueDate = 1,
                LastName = "",
                UserCode = "",
                UserName = "",
                FirstName = "",
                UserEmail = "",
                FileData = new byte[0],
                FirebaseDocKey = "",

            };

        string BaseUrl = NavigationManager.BaseUri + "api/Email/";
        string url = BaseUrl + "OnSubmitReply";
        string jsonData = System.Text.Json.JsonSerializer.Serialize(emailconlist);
        var content = new StringContent(jsonData, Encoding.UTF8, "application/json");
        // Send the POST request with the content
        var response = await httpClient.PostAsync(url, content);
        var msg = response.StatusCode;

        var emailDueDateHistory = new InsertEmailDueDateHistory
            {
                ID = (int)_selectedItems.ID,
                DueDate = SelectedDueDate,
                NoOfDays = _dataEditEamilTopics.NoOfDays,
                ModifiedByUserID = applicationUser.UserID,
                ModifiedDate = DateTime.Now,
                Reason = DuedateReason

            };
        var historyresult = await Mediator.Send(emailDueDateHistory);
        MessageVisible = false;
        toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);

        DueDateMessageVisible = false;
        await EmailDueDateGrid.CancelEditAsync();
        await onRefresh();

        StateHasChanged();
        await JSRuntime.InvokeAsync<string>("hideLoading");
    }

    async Task RemoveLayoutFromLocalStorageAsync()
    {
        try
        {
            await JSRuntime.InvokeVoidAsync("localStorage.removeItem", LocalStorageKey);
        }
        catch
        {
            // Mute exceptions for the server prerender stage
        }
    }

    bool MessageVisible { get; set; }
    string MessageHeader = "Error";
    string MessageBody = "";
    private bool loading;
    private async void onShowPopupMessage(string headerText, string bodyText)
    {
        MessageVisible = true;
        MessageBody = bodyText;
        MessageHeader = headerText;
        loading = false;
        StateHasChanged();
    }
    public bool EditEnabled { get; set; } = false;
    private int pageNumber = 1; // Initial page number
    private int pageSize = 15; // Number of records per page
    DxPopup? popup;
    bool Previewmsg { get; set; } = false;
    private List<EmailDueDateHistory>? _DueDateHistoryList;
    bool isDueDateHistory { get; set; } = false;
    public bool ReplyMsgEnabled { get; set; } = false;
    IGrid EmailDueDateGrid { get; set; }
    private EmailSubDueDate? RefSubAssignAll { get; set; }
    private EmailTopics _dataEditEamilTopics = new EmailTopics();
    private List<EmailTopics>? _emailTopicDueDate;
    private EmailTopics? _selectedItems;
    string SelectedGroup = "none";
    string SelectedReplyId = "none";
    public string filterrowname { get; set; }
    public long RTopicId = 0;
    public ApplicationUser applicationUser { get; private set; }
    [Parameter]
    public Action<string> ATopicId { get; set; }
    [Parameter]
    public string? GridSearchText { get; set; }
    [Parameter]
    public Action<string> SubViewAllTopicId { get; set; }
    private string? BaseUrl;
    string DuedateReason { get; set; } = "";
    int isduedate = 0;
    public IEnumerable<long?> DataUserTagIds { get; set; } = new List<long?>();
    async Task onRefresh()
    {
        await JSRuntime.InvokeAsync<string>("showLoading");
        _emailTopicDueDate = await Mediator.Send(new GetEmailTopicHome(applicationUser.UserID));
        await JSRuntime.InvokeAsync<string>("hideLoading");
        EmailDueDateGrid.Reload();
        StateHasChanged();
    }
    void addEdit()
    {
        isduedate = 0;
        EmailDueDateGrid.StartEditDataItemAsync(_selectedItems);
    }
    async Task onReplyMsg()
    {
        var rlmsg = _selectedItems;        
        Previewmsg = true;
    }  
    async Task onDueDateHistory(long id)
    {
        // await JSRuntime.InvokeAsync<string>("showLoading");
        //     _DueDateHistoryList = await Mediator.Send(new GetEmailDueDateHistory(id));
        // await JSRuntime.InvokeAsync<string>("hideLoading");
        Cid = id;
        isDueDateHistory = true;
    }
    protected override async Task OnInitializedAsync()
    {
        BaseUrl = Configuration["DocumentsUrl:BaseUrl"];
        await JSRuntime.InvokeAsync<string>("showLoading"); 
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _emailTopicDueDate = await Mediator.Send(new GetEmailTopicHome(applicationUser.UserID));
        _openAccessUserLink = await Mediator.Send(new GetEmailAccessByUser(applicationUser.UserID));

        var getAllCategoryTask = Mediator.Send(new GetAllEmailActivityCatgorys());
        var getUserTagListTask = Mediator.Send(new GetAllUserActivityCatgorys(applicationUser.UserID));
        try
        {
            await Task.WhenAll(getAllCategoryTask,getUserTagListTask);
        }
        catch (Exception ex)
        {
            // Handle exception
            Console.WriteLine($"An error occurred: {ex.Message}");
        }

        _UserTagList = await getUserTagListTask;
        _AllCategory = await getAllCategoryTask;
        await JSRuntime.InvokeAsync<string>("hideLoading");
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {

        if (e.ElementType == GridElementType.DataRow)
        {
            //var item = (EmailTopics)e.Grid;

            // Check if the row meets your criteria, for example, if the row is even or odd, etc.
            if (e.VisibleIndex % 2 == 1)
            {
                e.CssClass = "alt-item non-selectable-row";

                // Dynamically set UserTagName and OthersTagName to null or empty
                // item.UserTag = string.Empty;  // or null
                // item.OtherTag = string.Empty;  // or null
            }
        }
    }
    async void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "ID");
        _selectedItems = null;
        _selectedItems = _emailTopicDueDate.FirstOrDefault(f => f.ID == (long?)UniqueId);

        if (_selectedItems != null)
        {
            UserTagName = string.IsNullOrEmpty(_selectedItems.UserTag) ? string.Empty : _selectedItems.UserTag;
            OthersTagName = string.IsNullOrEmpty(_selectedItems.OtherTag) ? string.Empty : _selectedItems.OtherTag;
            if(_selectedItems.IsLockDueDate == true)
            {
                LockDueDateEnable = false;
                IsSubjectNoOfDays = false;
            }
            else
            {
                LockDueDateEnable = true;
                IsSubjectNoOfDays = true;
            }
            var _getUserTag = await Mediator.Send(new GetByUserTage(_selectedItems.EmailTopicID, applicationUser.UserID));

            if (_getUserTag.Count > 0)
            {


                //  dataUserTag.UserTag = _getUserTag[0].UserTag;
                //  dataUserTag.UserTagId = _getUserTag[0].UserTagId;
                DataUserTagIds = _getUserTag.Select(s => s.UserTagId).ToList();

            }
            else
            {
                DataUserTagIds = null;

            }
        }
        else
        {            
            UserTagName = string.Empty;
            OthersTagName = string.Empty;
        }


        ReplyMsgEnabled = true;
        EditEnabled = true;


        if ((applicationUser.UserID == _selectedItems.UserId) || _openAccessUserLink != null)
        {
            IsSubjectNoOfDays = true;
            LockDueDateEnable = true;
        }
        else
        {
            IsSubjectNoOfDays = false;
            LockDueDateEnable = false;
        }        

        StateHasChanged();

    }
    async Task OnEmailDueRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "ID");
        SelectedGroup = UniqueId.ToString();

        var lst = _emailTopicDueDate.Where(x => x.ID == long.Parse(SelectedGroup)).FirstOrDefault();   

        NavigationManager.NavigateTo($"ViewEmail/{lst.SessionId}/MyDayEmail");
        //ATopicId?.Invoke(SelectedGroup);
        ////await LoadData();
        StateHasChanged();
    }
    public async Task onAssignAllGridRefresh(long tid)
    {
        _emailTopicDueDate = await Mediator.Send(new GetEmailTopicAll(applicationUser.UserID, "NULL",pageNumber,pageSize));
        if (RefSubAssignAll != null)
        {
            await RefSubAssignAll.onSubAssignAllGridRefresh(tid);
        }

    }
    private async void onSubViewEmailClick(string RId)
    {
        SelectedReplyId = RId;
        var conversationList = await Mediator.Send(new GetEmailConversationList(long.Parse(RId)));
        RTopicId = conversationList[0].TopicID;
        SelectedGroup = conversationList[0].TopicID.ToString();
        SubViewAllTopicId?.Invoke(SelectedReplyId);
        await Task.Delay(1000); // Example asynchronous operation
        //await LoadReplyData();
        StateHasChanged();
    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editModel = (EmailTopics)e.EditModel;

        var _dueDate = SelectedDueDate;
        //editModel.DueDate = SelectedDueDate;
        editModel.DueDate = SelectedDueDate == DateTime.MinValue ? editModel.DueDate : SelectedDueDate;

        _dataEditEamilTopics = (EmailTopics)e.EditModel;

        if (_openAccessUserLink != null)
        {
            await updateDueDate(editModel);
        }
        else if ((applicationUser.UserID != editModel.UserId))
        {
            if (editModel.DueDate.HasValue)
            {

                DateTime actualDueDate = editModel.DueDate.Value;

                if (editModel.ExpiryDueDate != null)
                {
                    if (editModel.ExpiryDueDate >= editModel.DueDate)
                    {
                        await updateDueDate(editModel);
                    }
                    else
                    {
                        onShowPopupMessage("Warning Info", "Please update the due date if you extend the deadline. If no action is taken within  (" + @Application.Common.Helper.Helper.FormatDate(editModel.ExpiryDueDate) + ") days, contact your supervisor for guidance.");
                    }
                }
                else
                {
                    await updateDueDate(editModel);
                }


            }
            else
            {
                await updateDueDate(editModel);
            }

        }
        else
        {
            await updateDueDate(editModel);
        }

    }
    async Task updateDueDate(EmailTopics emailTopics)
    {
        var UpdateReq = new UpdateEmailTopicSubjectDueDate
            {
            //ID = long.Parse(@SelectedGroup),
                ID = (int)emailTopics.ID,
                TopicID = emailTopics.EmailTopicID,
                NoOfDays = emailTopics.NoOfDays,
                DueDate = emailTopics.DueDate,
                UserId = emailTopics.UserId,
                UserTag = UserTagName,
                UserTagIds = DataUserTagIds,
                OtherTag = OthersTagName,
                IsDueDate = isduedate == 1 ? 1 : 0,
                openAccessUserLink = _openAccessUserLink != null ? true : false,
                ModifiedByUserID = applicationUser.UserID,
                ModifiedDate = DateTime.Now
            };

        var result = await Mediator.Send(UpdateReq);

        if(isduedate == 1)
        {
            await sendreplymsg(emailTopics);
        }


        toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
        await onRefresh();
    }
    private async Task sendreplymsg(EmailTopics emailTopics)
    {
        var cList = await Mediator.Send(new GetRequestEmailToCCList(emailTopics.ID));
        var duedate = emailTopics.DueDate;


        var participantIds = new List<long>();
        var AssigntoIdss = new List<long>();
        var AssignccIdss = new List<long>();

        if (cList.Count > 0)
        {
            var ToOnlyList = await Mediator.Send(new GetEmailToOnlyList(emailTopics.ID));

            // if (cList[0].ToIds.HasValue)
            //     participantIds.Add(cList[0].ToIds.Value);

            if (long.TryParse(ToOnlyList[0].CcIds, out long toId))
            {
                participantIds.Add(toId);
            }

            if (long.TryParse(cList[0].CcIds, out long ccId))
            {
                participantIds.Add(ccId);
            }

            participantIds.Add(applicationUser.UserID);

            AssigntoIdss = ToOnlyList[0].CcIds != null ? ToOnlyList[0].CcIds.Split(',').Select(long.Parse).ToList() : new List<long>();
            AssignccIdss = cList[0].CcIds != null ? cList[0].CcIds.Split(',').Select(long.Parse).ToList() : new List<long>();
            // foreach(var id in AssignccIdss)
            // {
            //     AssigntoIdss.Add(id);
            // }

            // AssignccIdss = new List<long>();
        }
        else
        {
            var ToOnlyList = await Mediator.Send(new GetRequestEmailToOnlyList(emailTopics.ID));


            if (ToOnlyList[0].ToIds.HasValue)
                participantIds.Add(ToOnlyList[0].ToIds.Value);

            if (long.TryParse(ToOnlyList[0].CcIds, out long ccId))
            {
                participantIds.Add(ccId);
            }

            participantIds.Add(applicationUser.UserID);

            AssigntoIdss = ToOnlyList[0].ToIds.HasValue ? new List<long> { ToOnlyList[0].ToIds.Value } : new List<long>();
            AssignccIdss = ToOnlyList[0].CcIds != null ? ToOnlyList[0].CcIds.Split(',').Select(long.Parse).ToList() : new List<long>();

        }


        var emailconlist = new EmailConversations
            {
                TopicID = emailTopics.EmailTopicID,
                AssigntoIds = AssigntoIdss,
                AssignccIds = AssignccIdss,
               // Message = " Your request due date of (" + @Application.Common.Helper.Helper.FormatDate(emailTopics.DueDate) + ") has been successfully approved.",
                Message = "The due date has been changed to (" + @Application.Common.Helper.Helper.FormatDate(emailTopics.DueDate) + ").",
            // Message = $"Request Due Date: \"{Application.Common.Helper.Helper.FormatDate(_dataSubjectDuDate.DueDate)}\"<br/><br/>" +
            // "<strong>Reason:</strong><br/>" +
            // $"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{DuedateReason}",
                PlistIdss = "",
                AllowPlistids = "",
                IsAllowParticipants = false,
                Urgent = false,
                ConIds = 0,
                ReplyId = emailTopics.ID,
                AllParticipantIds = participantIds.Distinct().ToList(),
                ParticipantId = applicationUser.UserID,
                Name = emailTopics.Name,
                AddedByUserID = applicationUser.UserID,
                From = "",
                LastName = "",
                UserCode = "",
                UserName = "",
                FirstName = "",
                UserEmail = "",
                IsDueDate = 2,
                FileData = new byte[0],
                FirebaseDocKey = "",

            };

        string BaseUrl = NavigationManager.BaseUri + "api/Email/";
        string url = BaseUrl + "OnSubmitReply";
        string jsonData = System.Text.Json.JsonSerializer.Serialize(emailconlist);
        var content = new StringContent(jsonData, Encoding.UTF8, "application/json");
        // Send the POST request with the content
        var response = await httpClient.PostAsync(url, content);
        var msg = response.StatusCode;

    }
    public async ValueTask DisposeAsync()
    {
        //System.GC.Collect();
        if (_emailTopicDueDate != null)
        {
            _emailTopicDueDate?.Clear();
            _emailTopicDueDate = null;
        }
        if (_dataEditEamilTopics != null)
        {

            _dataEditEamilTopics = null;
        }
        _selectedItems = null;
        RefSubAssignAll?.DisposeAsync();
        //GC.SuppressFinalize(this);
    }
   
    async Task ExportToExcel()
    {
        if (SelectedDataItems != null)
        {

            await EmailDueDateGrid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
                {

                    ExportSelectedRowsOnly = true,
                    CustomizeCell = OnCustomizeCell

                });
        }
        else
        {
            await EmailDueDateGrid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
                {

                    ExportSelectedRowsOnly = false,
                    CustomizeCell = OnCustomizeCell

                });
        }
    }
    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }
}