@using Application.Commands;
@using Application.Common.Helper;
@using Application.Queries;
@using Application.Response;
@using DevExpress.Export
@using Microsoft.AspNetCore.Http;
@using System.Text
@using global::Core.Repositories.Query;
@using global::Core.Entities;
@using MediatR
@inject AC.SD.Core.Services.ToastService toastService
@inject IMediator Mediator
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration;
@inject HttpClient httpClient;
@using System.Text.Json
@using System.Text.Json.Serialization;
@implements IAsyncDisposable
@page "/NotifypaPage"

<style>
    .center-container {
        display: flex;
        justify-content: center;
        align-items: center;
       
        height: calc(100vh - 210px);
        margin: 0;
    }

    .warning-message {
        text-align: center;
        padding: 20px;
        border: 2px solid #f5c6cb;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        color: #721c24;
    }

        .warning-message h1 {
            font-size: 2rem;
            margin: 0;
        }

        .warning-message p {
            font-size: 1.2rem;
            margin-top: 10px;
        }
</style>
 @if(_openAccessUserLink != null)
{
    <div class="card w-100" style="margin-bottom:10px;">
        <div class="card-body p-0">
            <DxMenu CollapseItemsToHamburgerMenu="true"
                    CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                    DisplayMode="MenuDisplayMode.Desktop">
                <Items>
                    <DxMenuItem IconCssClass="fa fa-print" @onclick="onPrintMainTopic" Text="Print" Enabled="@PrintEnabled" />
                    <DxMenuItem IconCssClass="fa fa-remove" @onclick="OnDelete" Text="Remove" Enabled="@DeleteEnabled" />
                    <DxMenuItem IconCssClass="fa fa-envelope" @onclick="OnEmailClick" Text="View Email" Enabled="@EmailEnabled" />
                </Items>
            </DxMenu>
        </div>
    </div>
    <DxGrid @ref="EmailNotifyPAGrid"
            Data="_emailNotifyData"
            ShowGroupPanel="true"
            ShowSearchBox="true"
            VirtualScrollingEnabled="false"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            KeyFieldName="ID"
            CustomizeElement="Grid_CustomizeElement"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            TextWrapEnabled="false"
            ValidationEnabled="true"
            AutoExpandAllGroupRows="true"
            CssClass="w-100" style="height: calc(100vh - 285px);"
            RowClick="OnRowClick"
            RowDoubleClick="OnEmailDueRowClick"
            ColumnResizeMode="GridColumnResizeMode.ColumnsContainer"
            AllowSelectRowByClick="true">
        <Columns>
            @*  <DxGridSelectionColumn Width="60px" AllowSelectAll="true" Visible="false" /> *@
            <DxGridDataColumn FieldName="Name" Caption="Subject" FixedPosition="GridColumnFixedPosition.Left" MinWidth="250" />
            <DxGridDataColumn FieldName="CategoryName" Caption="Category" GroupIndex="0" MinWidth="180" />
            <DxGridDataColumn FieldName="AddedBy" Caption="Added By" MinWidth="130" />
            <DxGridDataColumn FieldName="Description" Caption="Description" MinWidth="180">
                <CellDisplayTemplate>
                    @{
                        var item = (EmailNotifyPA)context.DataItem;
                    }
                    @if (item.Description != null)
                    {
                        <span class="fa fa-commenting" @onclick="@(() => onDesctiptionMsg(item.Description))"></span>
                    }

                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="AddedDate" MinWidth="180">
                <CellDisplayTemplate>
                    @{
                        var item = (EmailNotifyPA)context.DataItem;
                    }
                    <span style="font-size:11px; margin-left: 5px; margin-right: 15px;"> @Application.Common.Helper.Helper.FormatDate(item.AddedDate)</span>
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="EmailCreatedDate" MinWidth="210">
                <CellDisplayTemplate>
                    @{
                        var item = (EmailNotifyPA)context.DataItem;
                    }
                    <span style="font-size:11px; margin-left: 5px; margin-right: 15px;"> @Application.Common.Helper.Helper.FormatDate(item.EmailCreatedDate)</span>
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="LastUpdateDate" MinWidth="180">
                <CellDisplayTemplate>
                    @{
                        var item = (EmailNotifyPA)context.DataItem;
                    }
                    <span style="font-size:11px; margin-left: 5px; margin-right: 15px;"> @Application.Common.Helper.Helper.FormatDate(item.LastUpdateDate)</span>
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="ModifiedDate" Caption="Last Discussion Date" MinWidth="210">
                <CellDisplayTemplate>
                    @{
                        var item = (EmailNotifyPA)context.DataItem;
                    }
                    <span style="font-size:11px; margin-left: 5px; margin-right: 15px;"> @Application.Common.Helper.Helper.FormatDate(item.ModifiedDate)</span>
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="Comment" Caption="Comment" MinWidth="180">
                <CellDisplayTemplate>
                    @{
                        var item = (EmailNotifyPA)context.DataItem;
                    }
                    @if (item.Comment != null)
                    {
                        <span class="fa fa-commenting" @onclick="@(() => onCommentMsg(item.Comment))"></span>
                    }

                </CellDisplayTemplate>
            </DxGridDataColumn>
        </Columns>

        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="ID" />
        </TotalSummary>
    </DxGrid>

}
else
{
    <div class="center-container">
        <div class="warning-message">
            <h1>Access Denied</h1>
            <p>You do not have permission to view this page.</p>
        </div>
    </div>
}
<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="NOVATO"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
       
        <p>

            Do you want to Remove From Listing?
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup HeaderText="CRT" ShowCloseButton="true" CloseOnEscape="false" CloseOnOutsideClick="false" Width="max(25vw, 550px)" @bind-Visible="@CommentPreview">
    <BodyContentTemplate>
        <div style="height: calc(100vh - 250px);overflow:auto;">
            @{
              <DxMemo ReadOnly = "true" Rows="18" @bind-Text ="@Comment"></DxMemo>

            }
        </div>
    </BodyContentTemplate>
</DxPopup>
<DxPopup HeaderText="CRT" ShowCloseButton="true" CloseOnEscape="false" CloseOnOutsideClick="false" Width="max(25vw, 550px)" @bind-Visible="@descriptionPreview">
    <BodyContentTemplate>
        <div style="height: calc(100vh - 250px);overflow:auto;">
            @{
                <DxMemo ReadOnly="true" Rows="18" @bind-Text="@Description"></DxMemo>

            }
        </div>
    </BodyContentTemplate>
</DxPopup>
@code {
    private OpenAccessUserLink? _openAccessUserLink { get; set; }
    public bool PrintEnabled { get; set; } = false;
    public bool DeleteEnabled { get; set; } = false;
    IGrid EmailNotifyPAGrid { get; set; }
    private EmailNotifyPA? _selectedItems;
    IReadOnlyList<object> SelectedDataItems { get; set; }
    public ApplicationUser applicationUser { get; private set; }
    [Parameter]
    public int TabIndex { get; set; } = 1;
    bool Blukdeletepopup { get; set; } = false;
    private bool loading;
    private List<EmailNotifyPA>? _emailNotifyData;
    private string? BaseUrl;
    bool CommentPreview { get; set; } = false;
    bool descriptionPreview { get; set; } = false;
    string Comment;
    string Description;
    bool EmailEnabled { get; set; } = false;
    protected override async Task OnInitializedAsync()
    {       
        BaseUrl = Configuration["DocumentsUrl:BaseUrl"];
        await JSRuntime.InvokeAsync<string>("showLoading");    
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _openAccessUserLink = await Mediator.Send(new GetEmailAccessByUser(applicationUser.UserID));
        await UpdateDataAsync();
        //_openAccessUserLink = await Mediator.Send(new GetEmailAccessByUser(applicationUser.UserID));

        await JSRuntime.InvokeAsync<string>("hideLoading");
    }
    async Task UpdateDataAsync()
    {
        _emailNotifyData = await Mediator.Send(new GetNotifyPAList());
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow)
        {           
            if (e.VisibleIndex % 2 == 1)
            {
                e.CssClass = "alt-item non-selectable-row";               
            }
        }
    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "ID");
        _selectedItems = null;
        _selectedItems = _emailNotifyData.FirstOrDefault(f => f.ID == (long?)UniqueId);

        if (_selectedItems != null)
        {

        }
        else
        {

        }

        DeleteEnabled = true;
        PrintEnabled = true;
        EmailEnabled = true;

        StateHasChanged();

    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {

        Blukdeletepopup = false;

        // UpdateDataAsync();
    }
    void OnDelete()
    {
        Blukdeletepopup = true;
    }
    async Task OnEmailDueRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "ID");
        var SelectedGroup = UniqueId.ToString();

        var lst = _emailNotifyData.Where(x => x.ID == long.Parse(SelectedGroup)).FirstOrDefault();

        var url = BaseUrl + "ViewEmail/EmailNotifyPrint/" + lst.SessionId + "/" + lst.Page;
        string script = $"window.open('{url}', '_blank');";
        await JSRuntime.InvokeVoidAsync("eval", script);      

        StateHasChanged();
    }
    async Task OnEmailClick()
    {
        NavigationManager.NavigateTo($"ViewEmail/{_selectedItems?.SessionId}/Email");
        StateHasChanged();
    }
    async void onPrintMainTopic()
    {
        var url = BaseUrl + "ViewEmail/EmailNotifyPrint/" + _selectedItems.SessionId + "/" + _selectedItems.Page;
        string script = $"window.open('{url}', '_blank');";
        await JSRuntime.InvokeVoidAsync("eval", script);
    }
    async Task bulkDelete()
    {
        if (_selectedItems != null)
        {
            var request = new DeleteNotifyQuery(_selectedItems.ID);
            await Mediator.Send(request);
            await UpdateDataAsync();
            Blukdeletepopup = false;
            toastService.ShowToast("Record Remove Successfully", AC.SD.Core.Services.ToastLevel.Success);
        }
    }
    async Task onDesctiptionMsg(string description)
    {
        descriptionPreview = true;
        Description = description;
        StateHasChanged();
    }
    async Task onCommentMsg(string comment)
    {
        var rlmsg = _selectedItems;
        CommentPreview = true;
        Comment = comment;
        StateHasChanged();
    }
    public async ValueTask DisposeAsync()
    {
        _emailNotifyData?.Clear();
    }

}