@using Application.Commands;
@using Application.Queries;
@using Application.Response;
@using global::Core.Entities.Views;
@using MediatR
@using global::Core.Entities;
@using global::Core.EntityModels;
@inject IMediator Mediator
@using DevExpress.Export
@using global::Core.Repositories.Query;
@inject IJSRuntime jsRuntime;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@using System.ComponentModel.DataAnnotations
@page "/RawItem"
@implements IAsyncDisposable;

<div class="card" style="margin-bottom:10px; margin-left:-12px; margin-right:-12px;">
    <div class="card-body p-0">
        <div class="row">
            <div class="">
                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Desktop">
                    <Items>
                        <DxMenuItem Text="Save" IconCssClass="fa fa-save" Click="@SubmitItemFormExternally" />
                    </Items>
                </DxMenu>
            </div>
        </div>
    </div>
</div>


<EditForm id="@MyItemID" @ref="myItemForm" EditContext="this._editItemContext"
          OnValidSubmit="@HandleItemValidSubmit"
          Context="EditFormContext">
    <DataAnnotationsValidator />
    <div class="card-body">
        <div class="row">
            <DxFormLayout CssClass="w-100">
                <DxFormLayoutItem Caption="NavItem-Company" ColSpanMd="6">
                    <DxComboBox Data="@_plantItems"
                                NullText="Select Company..."
                                ListRenderMode="ListRenderMode.Virtual"
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="NavCompanyName"
                                ValueFieldName="PlantID"
                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                @bind-Value="@DataItem.PlantID" ShowValidationIcon="true">
                    </DxComboBox>
                    <ValidationMessage For="@(() => DataItem.PlantID)" />
                </DxFormLayoutItem>
            </DxFormLayout>
        </div>
    </div>
</EditForm>



<div class="card" style="margin-bottom:10px; margin-left:-12px; margin-right:-12px;">
    <div class="card-body p-0">
        <div class="row">
            <div class="">
                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Desktop">
                    <Items>
                        <DxMenuItem Text="Save" IconCssClass="fa fa-save" Click="@SubmitFormExternally" />
                    </Items>
                </DxMenu>
            </div>
        </div>
    </div>
</div>


<EditForm id="@MyID" @ref="myForm" EditContext="this._editContext"
          OnValidSubmit="@HandleValidSubmit"
          Context="EditFormContext">
    <DataAnnotationsValidator />
    <div class="card-body">
        <div class="row">
            <DxFormLayout CssClass="w-100">
                <DxFormLayoutItem Caption="Raw Mat Item -Company" ColSpanMd="6">
                    <DxComboBox Data="@_plantItems"
                                NullText="Select Company..."
                                ListRenderMode="ListRenderMode.Virtual"
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="NavCompanyName"
                                ValueFieldName="PlantID"
                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                @bind-Value="@Data.PlantID" @bind-Text="@NavCompanyName" ShowValidationIcon="true">
                    </DxComboBox>
                    <ValidationMessage For="@(() => Data.PlantID)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Type" ColSpanMd="6">
                    <DxComboBox Data="@Types"
                                NullText="Select Type..."
                                ListRenderMode="ListRenderMode.Virtual"
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                @bind-Value="Data.Value"
                                @bind-Text="@Text"
                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                ShowValidationIcon="true">
                    </DxComboBox>
                    <ValidationMessage For="@(() =>Data.Value)" />
                </DxFormLayoutItem>
            </DxFormLayout>
        </div>
    </div>
</EditForm>


<div class="card" style="margin-bottom:10px; margin-left:-12px; margin-right:-12px;">
    <div class="card-body p-0">
        <div class="row">
            <div class="">
                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Desktop">
                    <Items>
                        <DxMenuItem Text="Save" IconCssClass="fa fa-save" Click="@SubmitFormItemBatch" />
                    </Items>
                </DxMenu>
            </div>
        </div>
    </div>
</div>

<EditForm id="@MyItemBatchID" @ref="myItemBatchForm" EditContext="this._editItemBatchContext" OnValidSubmit="@HandleItemBatchValidSubmit"
          Context="EditFormContext">
    <DataAnnotationsValidator />
    <div class="card-body">
        <div class="row">
            <DxFormLayout CssClass="w-100">
                <DxFormLayoutItem Caption="ItemBatch-Company" ColSpanMd="6">
                    <DxComboBox Data="@_plantItems"
                                NullText="Select Company..."
                                ListRenderMode="ListRenderMode.Virtual"
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="NavCompanyName"
                                ValueFieldName="PlantID"
                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                @bind-Value="@DataItemBatch.PlantID" @bind-Text="@NavItemBatchCompanyName" ShowValidationIcon="true">
                    </DxComboBox>
                    <ValidationMessage For="@(() => DataItemBatch.PlantID)" />
                </DxFormLayoutItem>
            </DxFormLayout>
        </div>
    </div>
</EditForm>
<div class="card" style="margin-bottom:10px; margin-left:-12px; margin-right:-12px;">
    <div class="card-body p-0">
        <div class="row">
            <div class="">
                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Desktop">
                    <Items>
                        <DxMenuItem Text="Save" IconCssClass="fa fa-save" Click="@SubmitFormFinishedProdOrderLine" />
                    </Items>
                </DxMenu>
            </div>
        </div>
    </div>
</div>
<EditForm id="@FinishedProdOrderLineID" @ref="FinishedProdOrderLineForm" EditContext="this._editFinishedProdOrderLineContext" OnValidSubmit="@HandleFinishedProdOrderLineValidSubmit"
          Context="EditFormContext">
    <DataAnnotationsValidator />
    <div class="card-body">
        <div class="row">
            <DxFormLayout CssClass="w-100">
                <DxFormLayoutItem Caption="FinishedProdOrderLine-Company" ColSpanMd="6">
                    <DxComboBox Data="@_plantItems"
                                NullText="Select Company..."
                                ListRenderMode="ListRenderMode.Virtual"
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="NavCompanyName"
                                ValueFieldName="PlantID"
                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                @bind-Value="@FinishedProdOrderLines.CompanyId" ShowValidationIcon="true">
                    </DxComboBox>
                    <ValidationMessage For="@(() => FinishedProdOrderLines.CompanyId)" />
                </DxFormLayoutItem>
            </DxFormLayout>
        </div>
    </div>
</EditForm>

<div class="card" style="margin-bottom:10px; margin-left:-12px; margin-right:-12px;">
    <div class="card-body p-0">
        <div class="row">
            <div class="">
                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Desktop">
                    <Items>
                        <DxMenuItem Text="Save" IconCssClass="fa fa-save" Click="@SubmitFormNavprodOrderLine" />
                    </Items>
                </DxMenu>
            </div>
        </div>
    </div>
</div>
<EditForm id="@NavprodOrderLineId" @ref="NavprodOrderLineForm" EditContext="this._editNavprodOrderLineContext" OnValidSubmit="@HandleNavprodOrderLineValidSubmit"
          Context="EditFormContext">
    <DataAnnotationsValidator />
    <div class="card-body">
        <div class="row">
            <DxFormLayout CssClass="w-100">
                <DxFormLayoutItem Caption="Production Activity ProdOrderNo-Company" ColSpanMd="6">
                    <DxComboBox Data="@_plantItems"
                                NullText="Select Company..."
                                ListRenderMode="ListRenderMode.Virtual"
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="NavCompanyName"
                                ValueFieldName="PlantID"
                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                @bind-Value="@navprodOrderLine.CompanyId" ShowValidationIcon="true">
                    </DxComboBox>
                    <ValidationMessage For="@(() => navprodOrderLine.CompanyId)" />
                </DxFormLayoutItem>
            </DxFormLayout>
        </div>
    </div>
</EditForm>

<div class="card" style="margin-bottom:10px; margin-left:-12px; margin-right:-12px;">
    <div class="card-body p-0">
        <div class="row">
            <div class="">
                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Desktop">
                    <Items>
                        <DxMenuItem Text="Save" IconCssClass="fa fa-save" Click="@SubmitFormNavVendor" />
                    </Items>
                </DxMenu>
            </div>
        </div>
    </div>
</div>
<EditForm id="@NavVendorId" @ref="NavVendorForm" EditContext="this._editNavVendorContext" OnValidSubmit="@HandleNavVendorValidSubmit"
          Context="EditFormContext">
    <DataAnnotationsValidator />
    <div class="card-body">
        <div class="row">
            <DxFormLayout CssClass="w-100">
                <DxFormLayoutItem Caption="NavVendor-Company" ColSpanMd="6">
                    <DxComboBox Data="@_plantItems"
                                NullText="Select Company..."
                                ListRenderMode="ListRenderMode.Virtual"
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="NavCompanyName"
                                ValueFieldName="PlantID"
                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                @bind-Value="@navVendorFromModel.CompanyId" ShowValidationIcon="true">
                    </DxComboBox>
                    <ValidationMessage For="@(() => navVendorFromModel.CompanyId)" />
                </DxFormLayoutItem>
            </DxFormLayout>
        </div>
    </div>
</EditForm>


<div class="card" style="margin-bottom:10px; margin-left:-12px; margin-right:-12px;">
    <div class="card-body p-0">
        <div class="row">
            <div class="">
                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Desktop">
                    <Items>
                        <DxMenuItem Text="Save" IconCssClass="fa fa-save" Click="@SubmitFormRawMatPurch" />
                    </Items>
                </DxMenu>
            </div>
        </div>
    </div>
</div>
<EditForm id="@RawMatPurchFormID" @ref="RawMatPurchForm" EditContext="this._editRawMatPurchContext" OnValidSubmit="@HandleRawMatPurchValidSubmit"
          Context="EditFormContext">
    <DataAnnotationsValidator />
    <div class="card-body">
        <div class="row">
            <DxFormLayout CssClass="w-100">
                <DxFormLayoutItem Caption="RawMatPurch-Company" ColSpanMd="6">
                    <DxComboBox Data="@_plantItems"
                                NullText="Select Company..."
                                ListRenderMode="ListRenderMode.Virtual"
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="NavCompanyName"
                                ValueFieldName="PlantID"
                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                @bind-Value="@RawMatPurchModelData.CompanyId" ShowValidationIcon="true">
                    </DxComboBox>
                    <ValidationMessage For="@(() => RawMatPurchModelData.CompanyId)" />
                </DxFormLayoutItem>
            </DxFormLayout>
        </div>
    </div>
</EditForm>

<div class="card" style="margin-bottom:10px; margin-left:-12px; margin-right:-12px;">
    <div class="card-body p-0">
        <div class="row">
            <div class="">
                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Desktop">
                    <Items>
                        <DxMenuItem Text="Save" IconCssClass="fa fa-save" Click="@SubmitFormReleaseProdOrderLine" />
                    </Items>
                </DxMenu>
            </div>
        </div>
    </div>
</div>

<EditForm id="@ReleaseProdOrderLineFormID" @ref="ReleaseProdOrderLineForm" EditContext="this._editReleaseProdOrderLineContext" OnValidSubmit="@HandleReleaseProdOrderLineValidSubmit"
          Context="EditFormContext">
    <DataAnnotationsValidator />
    <div class="card-body">
        <div class="row">
            <DxFormLayout CssClass="w-100">
                <DxFormLayoutItem Caption="RawMatPurch-Company" ColSpanMd="6">
                    <DxComboBox Data="@_plantItems"
                                NullText="Select Company..."
                                ListRenderMode="ListRenderMode.Virtual"
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="NavCompanyName"
                                ValueFieldName="PlantID"
                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                @bind-Value="@ReleaseProdOrderLineModel.CompanyId" ShowValidationIcon="true">
                    </DxComboBox>
                    <ValidationMessage For="@(() => ReleaseProdOrderLineModel.CompanyId)" />
                </DxFormLayoutItem>
            </DxFormLayout>
        </div>
    </div>
</EditForm>
@code {
    internal string ReleaseProdOrderLineFormID = "ReleaseProdOrderLineFormID"; internal EditForm? ReleaseProdOrderLineForm;
    internal string NavVendorId = "myForm"; internal EditForm? NavVendorForm; internal EditForm? RawMatPurchForm; internal string RawMatPurchFormID = "RawMatPurchFormID";
    internal string MyID = "myForm"; internal string MyItemID = "MyItemID"; internal string NavprodOrderLineId = "NavprodOrderLineForm";
    internal string MyItemBatchID = "myForm"; internal string FinishedProdOrderLineID = "myForms";
    internal EditForm? myForm; internal EditForm? FinishedProdOrderLineForm; internal EditForm? NavprodOrderLineForm; 
    internal EditForm? myItemBatchForm;
    internal EditForm? myItemForm;
    private List<ViewPlants>? _plantItems;
    public ApplicationUser applicationUser { get; private set; }
    EditContext? _editContext; EditContext? _editNavVendorContext; EditContext? _editRawMatPurchContext;
    EditContext? _editItemBatchContext; EditContext? _editNavprodOrderLineContext;
    EditContext? _editItemContext; EditContext? _editFinishedProdOrderLineContext; EditContext? _editReleaseProdOrderLineContext;
    IEnumerable<string> Types = new List<string>() { "RawMatItem", "PackagingItem", "ProcessItem" };
    string Text { get; set; } = "RawMatItem";
    Model? Data { get; set; } = new Model();
    RawMatPurchModel RawMatPurchModelData { get; set; } = new RawMatPurchModel();
    ItemBatchModel? DataItemBatch { get; set; } = new ItemBatchModel();
    FinishedProdOrderLineFormModel FinishedProdOrderLines { get; set; } = new FinishedProdOrderLineFormModel();
    NavprodOrderLineFormModel navprodOrderLine = new NavprodOrderLineFormModel();
    string? NavCompanyName { get; set; }
    string? NavItemBatchCompanyName { get; set; }
    DataItemModel? DataItem = new DataItemModel(); 
    NavVendorFromModel navVendorFromModel = new NavVendorFromModel();
    ReleaseProdOrderLineModelData ReleaseProdOrderLineModel = new ReleaseProdOrderLineModelData();
    public class Model
    {
        [Required(ErrorMessage = "Company Name is required")]
        public long? PlantID { get; set; }
        [Required]
        public string? Value { get; set; }
    }
    public class DataItemModel
    {
        [Required(ErrorMessage = "Company Name is required")]
        public long? PlantID { get; set; }
    }
    public class ItemBatchModel
    {
        [Required(ErrorMessage = "Company Name is required")]
        public long? PlantID { get; set; }
    }
    public class FinishedProdOrderLineFormModel
    {
        [Required(ErrorMessage = "Company Name is required")]
        public long? CompanyId { get; set; }
    }
    public class NavprodOrderLineFormModel
    {
        [Required(ErrorMessage = "Company Name is required")]
        public long? CompanyId { get; set; }
    }
    public class NavVendorFromModel
    {
        [Required(ErrorMessage = "Company Name is required")]
        public long? CompanyId { get; set; }
    }
    public class RawMatPurchModel
    {
        [Required(ErrorMessage = "Company Name is required")]
        public long? CompanyId { get; set; }
    }
    public class ReleaseProdOrderLineModelData
    {
        [Required(ErrorMessage = "Company Name is required")]
        public long? CompanyId { get; set; }
    }
    protected override async Task OnInitializedAsync()
    {
        _editContext = new EditContext(Data); 
        _editNavVendorContext = new EditContext(navVendorFromModel); 
        _editRawMatPurchContext = new EditContext(RawMatPurchModelData);
        _editItemContext = new EditContext(DataItem); 
        _editNavprodOrderLineContext = new EditContext(navprodOrderLine); 
        _editReleaseProdOrderLineContext = new EditContext(ReleaseProdOrderLineModel);
        _editItemBatchContext = new EditContext(DataItemBatch);
        _editFinishedProdOrderLineContext = new EditContext(FinishedProdOrderLines);
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _plantItems = await Mediator.Send(new GetAllPlantByNavCompanyQuery());
    }
    private async Task SubmitFormExternally()
    {

        if (_editContext.Validate())
        {

            await this.HandleValidSubmit();
        }

    }
    async Task HandleValidSubmit()
    {
        await jsRuntime.InvokeAsync<string>("showLoading");
        var result = await Mediator.Send(new rawitemSalesOrderQuery(NavCompanyName, Data.PlantID, Text));
        await jsRuntime.InvokeAsync<string>("hideLoading");
    }
    private async Task SubmitFormItemBatch()
    {
        if (_editItemBatchContext.Validate())
        {

            await this.HandleItemBatchValidSubmit();
        }
    }

    private async Task SubmitItemFormExternally()
    {
        if (_editItemContext.Validate())
        {

            await this.HandleItemValidSubmit();
        }
    }
    async Task HandleItemBatchValidSubmit()
    {
        await jsRuntime.InvokeAsync<string>("showLoading");
        var llssl = NavItemBatchCompanyName;
        var result = await Mediator.Send(new NavCompanyItemBatchInfoQuery(DataItemBatch.PlantID));
        await jsRuntime.InvokeAsync<string>("hideLoading");
    }
    async Task HandleItemValidSubmit()
    {
        await jsRuntime.InvokeAsync<string>("showLoading");
        var result = await Mediator.Send(new NavCompanyItemQuery(DataItem.PlantID, applicationUser.UserID));
        await jsRuntime.InvokeAsync<string>("hideLoading");
    }
    public async ValueTask DisposeAsync()
    {
        if (_plantItems != null)
        {
            _plantItems.Clear();
            _plantItems = null;
        }
        Types = null;
    }


    private async Task SubmitFormFinishedProdOrderLine()
    {
        if (_editFinishedProdOrderLineContext.Validate())
        {

            await this.HandleFinishedProdOrderLineValidSubmit();
        }
    }
    async Task HandleFinishedProdOrderLineValidSubmit()
    {
        await jsRuntime.InvokeAsync<string>("showLoading");
        var result = await Mediator.Send(new GetFinishedProdOrderLineQuery(FinishedProdOrderLines.CompanyId));
        await jsRuntime.InvokeAsync<string>("hideLoading");
    }
    private async Task SubmitFormNavprodOrderLine()
    {
        if (_editNavprodOrderLineContext.Validate())
        {

            await this.HandleNavprodOrderLineValidSubmit();
        }
    }
    async Task HandleNavprodOrderLineValidSubmit()
    {
        await jsRuntime.InvokeAsync<string>("showLoading");
        var result = await Mediator.Send(new GetNavprodOrderLineListQuery(navprodOrderLine.CompanyId));
        await jsRuntime.InvokeAsync<string>("hideLoading");
    }
    private async Task SubmitFormNavVendor()
    {
        if (_editNavVendorContext.Validate())
        {

            await this.HandleNavVendorValidSubmit();
        }
    }
    async Task HandleNavVendorValidSubmit()
    {
        await jsRuntime.InvokeAsync<string>("showLoading");
        var result = await Mediator.Send(new InsertOrUpdateNavVendor(navVendorFromModel.CompanyId));
        await jsRuntime.InvokeAsync<string>("hideLoading");
    }
    private async Task SubmitFormRawMatPurch()
    {
        if (_editRawMatPurchContext.Validate())
        {

            await this.HandleRawMatPurchValidSubmit();
        }
    }
    async Task HandleRawMatPurchValidSubmit()
    {
        await jsRuntime.InvokeAsync<string>("showLoading");
        var result = await Mediator.Send(new GetRawMatPurchList(RawMatPurchModelData.CompanyId));
        await jsRuntime.InvokeAsync<string>("hideLoading");
    }

    private async Task SubmitFormReleaseProdOrderLine()
    {
        if (_editReleaseProdOrderLineContext.Validate())
        {

            await this.HandleReleaseProdOrderLineValidSubmit();
        }
    }
    async Task HandleReleaseProdOrderLineValidSubmit()
    {
        await jsRuntime.InvokeAsync<string>("showLoading");
        var result = await Mediator.Send(new GetReleaseProdOrderLineList(ReleaseProdOrderLineModel.CompanyId));
        await jsRuntime.InvokeAsync<string>("hideLoading");
    }
}