@page "/changecontrolform"
@using global::Core.Entities.Views;
@using global::Core.Entities;
@inject IMediator Mediator
@using Application.Queries;
@using MediatR
@using global::Core.EntityModels;
@using global::Core.Repositories.Query;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject IJSRuntime JSRuntime;


<div class="card w-100" style="margin-bottom:10px;margin-top:10px;">
    <div class="card-body p-0">
        <div class="save_hover" style="float: left;  line-height: 38px; margin-left: 10px; z-index: 9999; width:100px;">
            <button type="submit"  form="@MyID" class="btnSubmitForm" @onclick="@HandleValidSubmit" style="font-weight:bold; ">
               
                <i class="fa fa-save"></i>
                Save
            </button>
        </div>
    </div>
</div>
<EditForm Model="@Data" Context="EditFormContext">
    <DxFormLayout CssClass="w-100">
        <DxFormLayoutGroup ColSpanMd="12" Caption="SECTION A:CHANGE INFORMATION(To be filled by Initiator/PIC)" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.End" Expanded="false" AnimationType="LayoutAnimationType.Slide">
            <DxFormLayoutItem Caption="" ColSpanMd="6">
              
                <DxCheckBox @bind-Checked="@Data.IsInternalChanges" LabelPosition="LabelPosition.Right" >Internal Changes</DxCheckBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="" ColSpanMd="6">

                <DxCheckBox @bind-Checked="@Data.IsAuthorityDirectedChanges" LabelPosition="LabelPosition.Right">Authority Directed Changes</DxCheckBox>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="Initiator
                                       /PIC:" >
                <DxComboBox Data="@applicationUsers"
                            NullText="Select PIC..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="UserName"
                            ValueFieldName="UserID"
                             @bind-Value="@Data.PIC"
                            ShowValidationIcon="true">
                </DxComboBox>


            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Date:" >


            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Department:" >
                <DxComboBox Data="@_departmentItems"
                            NullText="Select Department..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="DepartmentName"
                            ValueFieldName="DepartmentId"
                           
                            @bind-Value="@Data.DepartmentID"
                            ShowValidationIcon="true" CssClass="cw-480">
                            
                </DxComboBox>

            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Responsible Person/PIA:" >
                <DxComboBox Data="@applicationUsers"
                            NullText="Select PIA..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="UserName"
                            ValueFieldName="UserID"
                            @bind-Value="@Data.PIA"
                            ShowValidationIcon="true">
                </DxComboBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Change Related To:" ColSpanLg="4" ColSpanMd="12" >
                
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="12">
                <DxCheckBox @bind-Checked="@Data.IsSiteTransfer" LabelPosition="LabelPosition.Right" CssClass="w-100">Site Transfer</DxCheckBox>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="12">
                <DxCheckBox @bind-Checked="@Data.IsProduct" LabelPosition="LabelPosition.Right">Product</DxCheckBox>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="12">
                <DxCheckBox @bind-Checked="@Data.IsEquipment" LabelPosition="LabelPosition.Right">Equipment</DxCheckBox>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="12">
                <DxCheckBox @bind-Checked="@Data.IsComposition" LabelPosition="LabelPosition.Right" >Composition</DxCheckBox>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="12">
                <DxCheckBox @bind-Checked="@Data.IsFacility" LabelPosition="LabelPosition.Right">Facility</DxCheckBox>
                    </DxFormLayoutItem>
            <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="12">
                <DxCheckBox @bind-Checked="@Data.IsLayout" LabelPosition="LabelPosition.Right">Layout</DxCheckBox>
                    </DxFormLayoutItem>
            <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="12">
                <DxCheckBox @bind-Checked="@Data.IsDocument" LabelPosition="LabelPosition.Right">Document</DxCheckBox>
                 </DxFormLayoutItem>
            <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="12">
                <DxCheckBox @bind-Checked="@Data.IsProcess" LabelPosition="LabelPosition.Right">Process</DxCheckBox>
            </DxFormLayoutItem>
             <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="12">

                <DxCheckBox @bind-Checked="@Data.IsControlParameter" LabelPosition="LabelPosition.Right">Control Paramenter</DxCheckBox>
                  </DxFormLayoutItem>
            <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="12">
                <DxCheckBox @bind-Checked="@Data.IsBatchSize">Batch Size</DxCheckBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="12">
                <DxCheckBox @bind-Checked="@Data.IsHoldingTime" LabelPosition="LabelPosition.Right">Holding Time</DxCheckBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="12">
                <DxCheckBox @bind-Checked="@Data.IsRawMeterial" LabelPosition="LabelPosition.Right">Raw Material</DxCheckBox>
                </DxFormLayoutItem>
            <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="12">
                <DxCheckBox @bind-Checked="@Data.IsArtwork" LabelPosition="LabelPosition.Right">ArtWork/Labelling</DxCheckBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="12">
                <DxCheckBox @bind-Checked="@Data.IsPackagingMaterial" LabelPosition="LabelPosition.Right" >Packaging Material</DxCheckBox>
                </DxFormLayoutItem>
                 <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="12">
                <DxCheckBox @bind-Checked="@Data.IsVendor" LabelPosition="LabelPosition.Right">Vendor</DxCheckBox>
                  </DxFormLayoutItem>
            <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="12">
                <DxCheckBox @bind-Checked="@Data.IsShelfLife" LabelPosition="LabelPosition.Right">Shelf Life</DxCheckBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="12">
                <DxCheckBox @bind-Checked="@Data.IsRegulatory" LabelPosition="LabelPosition.Right">Regulatory</DxCheckBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="12">
                <DxCheckBox @bind-Checked="@Data.IsReTestPeriod" LabelPosition="LabelPosition.Right">Re- Test Period</DxCheckBox>
                  </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Others:"  ColSpanMd="12">
                <DxTextBox @bind-Text="@Data.Others"  />
            </DxFormLayoutItem>


            <DxFormLayoutItem Caption="Description of Proposed Change:" ColSpanMd="12">

                <DxMemo @bind-Text="@Data.DescriptionOfProposedChange" Rows="5" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Justification:" ColSpanMd="12">
                  <DxMemo @bind-Text = "@Data.Justification" Rows="5"/>

            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Proposed Implementation Action:" ColSpanMd="12">
                <DxMemo @bind-Text="@Data.ProposedImplementationAction" Rows="5" />

            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Related Deviation to be Attached(if Any):" ColSpanMd="12">
                <DxMemo @bind-Text="@Data.RelatedDeviation" Rows="5" />

            </DxFormLayoutItem>
        </DxFormLayoutGroup>
   

        <DxFormLayoutGroup ColSpanMd="12" Caption="SECTION B:CHANGE EVALUATION" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.End" Expanded="false" AnimationType="LayoutAnimationType.Slide">
            <DxFormLayoutItem Caption="Status:" ColSpanMd="12">

            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
                 <DxCheckBox @bind-Checked="@Data.IsAcceptable" LabelPosition="LabelPosition.Right">Acceptable </DxCheckBox>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
               
                <DxCheckBox @bind-Checked="@Data.IsNotAcceptable" LabelPosition="LabelPosition.Right"> Not Acceptable</DxCheckBox>
            </DxFormLayoutItem>
               
           
            <DxFormLayoutItem Caption="Quality Assurance Classification Of Change:" ColSpanMd="12">

             </DxFormLayoutItem>
             <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="12">
                <DxCheckBox @bind-Checked="@Data.IsMinor" LabelPosition="LabelPosition.Right">Minor </DxCheckBox>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="12">
                 <DxCheckBox @bind-Checked="@Data.IsMajor" LabelPosition="LabelPosition.Right"> Major</DxCheckBox>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="12">
                <DxCheckBox @bind-Checked="@Data.IsCritical" LabelPosition="LabelPosition.Right">Critical </DxCheckBox>
            </DxFormLayoutItem>
                
              
               
               
          
            <DxFormLayoutItem Caption="Comments:" ColSpanMd="12">
                <DxMemo @bind-Text="Data.Comments" Rows="5"></DxMemo>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Releated Department For Evaluation:" ColSpanMd="12">

            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="12">
                <DxCheckBox @bind-Checked="@Data.IsProduction" LabelPosition="LabelPosition.Right">Production</DxCheckBox>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="12">
                <DxCheckBox @bind-Checked="@Data.IsEAndM" LabelPosition="LabelPosition.Right">IsEAndM</DxCheckBox>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="12">
                <DxCheckBox @bind-Checked="@Data.IsRequlatory" LabelPosition="LabelPosition.Right">Requlatory</DxCheckBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="12">
                <DxCheckBox @bind-Checked="@Data.IsQA" LabelPosition="LabelPosition.Right">QA</DxCheckBox>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="12">
                <DxCheckBox @bind-Checked="@Data.IsQC" LabelPosition="LabelPosition.Right">QC</DxCheckBox>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="12">
                <DxCheckBox @bind-Checked="@Data.IsStore" LabelPosition="LabelPosition.Right">Store</DxCheckBox>
            </DxFormLayoutItem>
              <DxFormLayoutItem Caption="Others"  ColSpanMd="12">
                <DxMemo @bind-Text="@Data.RelatedDeparmentOthers" Rows="5"></DxMemo>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Evaluated By:" ColSpanMd="6">
                <DxComboBox Data="@applicationUsers"
                            NullText="Select Verified By..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="UserName"
                            ValueFieldName="UserID"
                @bind-Value="Data.EvaluatedBy"
                            ShowValidationIcon="true">
                </DxComboBox>

            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Date:" ColSpanMd="6">
             @*   <DxDateEdit @bind-Date="@EvaluatedData.Eva"></DxDateEdit>*@

            </DxFormLayoutItem>
            <DxFormLayoutGroup Caption="*Section(s) below is to be filled is Proposed Change is Acceptable" ColSpanMd="12">
                <DxFormLayoutTabPages @bind-ActiveTabIndex="@ActiveTabIndex">
                    <DxFormLayoutTabPage Caption="REGULATORY">
                        <DxFormLayoutItem Caption="The Proposed Change Impact To:" ColSpanMd="12">
                        </DxFormLayoutItem>
                              <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
                                      <DxCheckBox @bind-Checked="@Data.IsRequlatoryApproval" LabelPosition="LabelPosition.Right">Regulatory Reporting Category </DxCheckBox>
                              </DxFormLayoutItem>

                             <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
               
                                <DxCheckBox @bind-Checked="@Data.IsNotificationRequired" LabelPosition="LabelPosition.Right"> Regulatory Approval/Notification Required</DxCheckBox>
                             </DxFormLayoutItem>
               
                       
                         <DxFormLayoutItem Caption="Others:" ColSpanMd="12">
                             <DxMemo @bind-Text="@Data.RegulatoryOthers" Rows="5"></DxMemo>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Details:" ColSpanMd="12">
                             <DxMemo @bind-Text="@Data.RegulatoryDetails" Rows="5"></DxMemo>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Evaluated By:" ColSpanMd="6">
                             <DxComboBox Data="@applicationUsers"
                            NullText="Select Verified By..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="UserName"
                            ValueFieldName="UserID"
                            @bind-Value="Data.RequlatoryEvaluatedBy"
                            ShowValidationIcon="true">
                </DxComboBox>

                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Date:" ColSpanMd="6">
                            <DxDateEdit @bind-Date="@Data.RegulatoryDate"></DxDateEdit>

                        </DxFormLayoutItem>
                    </DxFormLayoutTabPage>
                    <DxFormLayoutTabPage Caption="QUALITY CONTROL(QC)">
                             <DxFormLayoutItem Caption="The Proposed Change Impact To:" ColSpanMd="12">

                             </DxFormLayoutItem>

                             <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
                                      <DxCheckBox @bind-Checked="@Data.IsAnalyticalInstrument" LabelPosition="LabelPosition.Right">Analytical Instrument</DxCheckBox>
                              </DxFormLayoutItem>

                             <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
               
                                <DxCheckBox @bind-Checked="@Data.IsValidation" LabelPosition="LabelPosition.Right">Validation/Qualification</DxCheckBox>
                             </DxFormLayoutItem>
                              <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
                                      <DxCheckBox @bind-Checked="@Data.IsEnvironmentalMonitoring" LabelPosition="LabelPosition.Right">Environmental Monitoring</DxCheckBox>
                              </DxFormLayoutItem>

                             <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
               
                                <DxCheckBox @bind-Checked="@Data.IsRawMeterialSpec" LabelPosition="LabelPosition.Right">Raw Meterial Spec</DxCheckBox>
                             </DxFormLayoutItem>
                             <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
                                      <DxCheckBox @bind-Checked="@Data.IsFinishedProductSpec" LabelPosition="LabelPosition.Right">Finished Product Spec</DxCheckBox>
                              </DxFormLayoutItem>

                             <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
               
                                <DxCheckBox @bind-Checked="@Data.IsPackagingMaterialSpec" LabelPosition="LabelPosition.Right">Packaging Material Spec</DxCheckBox>
                             </DxFormLayoutItem>
                              <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
                                      <DxCheckBox @bind-Checked="@Data.IsCalibration" LabelPosition="LabelPosition.Right">Calibration</DxCheckBox>
                              </DxFormLayoutItem>

                               <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
                                      <DxCheckBox @bind-Checked="@Data.IsAnalyticalTestMethod" LabelPosition="LabelPosition.Right">Analytical Test Method</DxCheckBox>
                              </DxFormLayoutItem>
                             <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
               
                                <DxCheckBox @bind-Checked="@Data.IsSamplingMethod" LabelPosition="LabelPosition.Right">Sampling Method</DxCheckBox>
                             </DxFormLayoutItem>
                               <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
                                      <DxCheckBox @bind-Checked="@Data.EvaluationIsVendor" LabelPosition="LabelPosition.Right">Vendor</DxCheckBox>
                              </DxFormLayoutItem>

                             <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
               
                                <DxCheckBox @bind-Checked="@Data.IsStabilityStudy" LabelPosition="LabelPosition.Right">Stability Study</DxCheckBox>
                             </DxFormLayoutItem>
                              <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
                                      <DxCheckBox @bind-Checked="@Data.IsInProcess" LabelPosition="LabelPosition.Right">In Process</DxCheckBox>
                              </DxFormLayoutItem>

                           
                       
                          <DxFormLayoutItem Caption="Others:"  ColSpanMd="12">
                                      <DxMemo @bind-Text ="@Data.QualityControlOthers"></DxMemo>
                          </DxFormLayoutItem>

                        <DxFormLayoutItem Caption="Details:" ColSpanMd="12">
                             <DxMemo @bind-Text ="@Data.QualityControlDetails"></DxMemo>
                        </DxFormLayoutItem>

                        <DxFormLayoutItem Caption="Evaluated By:" ColSpanMd="6">
                           <DxComboBox Data="@applicationUsers"
                            NullText="Select Verified By..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="UserName"
                            ValueFieldName="UserID"
                            @bind-Value="Data.QualityControlEvaluatedBy"
                            ShowValidationIcon="true">
                          </DxComboBox>

                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Date:" ColSpanMd="6">
                             <DxDateEdit @bind-Date="@Data.QualityControlDate"></DxDateEdit>

                        </DxFormLayoutItem>
                    </DxFormLayoutTabPage>

                    <DxFormLayoutTabPage Caption="PRODUCTION">
                        <DxFormLayoutItem Caption="The Proposed Change Impact To:" ColSpanMd="12">

                        </DxFormLayoutItem>

                        <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
                            <DxCheckBox @bind-Checked="@Data.IsProductionProcess" LabelPosition="LabelPosition.Right">Process/Procedure</DxCheckBox>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
                            <DxCheckBox @bind-Checked="@Data.IsProductionValidation" LabelPosition="LabelPosition.Right">Validation/Qualification</DxCheckBox>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
                            <DxCheckBox @bind-Checked="@Data.EvaluationIsControlParameter" LabelPosition="LabelPosition.Right">Control Parameter</DxCheckBox>
                        </DxFormLayoutItem>



                        <DxFormLayoutItem Caption="Others:" ColSpanMd="12">

                            <DxMemo @bind-Text="@Data.ProductionOthers"></DxMemo>
                        </DxFormLayoutItem>

                       
                        <DxFormLayoutItem Caption="Details:" ColSpanMd="12">
                            <DxMemo @bind-Text="@Data.ProductionDetails"></DxMemo>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Evaluated By:" ColSpanMd="6">
                            <DxComboBox Data="@applicationUsers"
                                        NullText="Select Verified By..."
                                        FilteringMode="DataGridFilteringMode.Contains"
                                        TextFieldName="UserName"
                                        ValueFieldName="UserID"
                                        @bind-Value="Data.ProductionEvaluatedBy"
                                        ShowValidationIcon="true">
                            </DxComboBox>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Date:" ColSpanMd="6">
                             <DxDateEdit @bind-Date="@Data.ProductionDate"></DxDateEdit>
                        </DxFormLayoutItem>
                        </DxFormLayoutTabPage>

                    <DxFormLayoutTabPage Caption="ENGINEERING & MAINTENANCE">
                        <DxFormLayoutItem Caption="The Proposed Change Impact To:" ColSpanMd="12">

                        </DxFormLayoutItem>

                        <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
                            <DxCheckBox @bind-Checked="@Data.IsPiping" LabelPosition="LabelPosition.Right">Piping/Duct/Facility Layout</DxCheckBox>
                        </DxFormLayoutItem>

                        <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">

                            <DxCheckBox @bind-Checked="@Data.EvaluationIsEquipment" LabelPosition="LabelPosition.Right">Equipment</DxCheckBox>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
                            <DxCheckBox @bind-Checked="@Data.IsEngineeringCalibration" LabelPosition="LabelPosition.Right">Calibration</DxCheckBox>
                        </DxFormLayoutItem>

                        <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">

                            <DxCheckBox @bind-Checked="@Data.IsPreventiveMaintenance" LabelPosition="LabelPosition.Right">Preventive Maintenance</DxCheckBox>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
                            <DxCheckBox @bind-Checked="@Data.IsUtilityParameter" LabelPosition="LabelPosition.Right">Utility Parameter</DxCheckBox>
                        </DxFormLayoutItem>

                        <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">

                            <DxCheckBox @bind-Checked="@Data.IsEngineeringFacility" LabelPosition="LabelPosition.Right">Facility</DxCheckBox>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
                            <DxCheckBox @bind-Checked="@Data.IsQualificationOfEquipment" LabelPosition="LabelPosition.Right">Qualification Of Equipment</DxCheckBox>
                        </DxFormLayoutItem>

                        <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
                            <DxCheckBox @bind-Checked="@Data.IsQualificationOfUtility" LabelPosition="LabelPosition.Right">Qualification Of Utility</DxCheckBox>
                        </DxFormLayoutItem>
                         <DxFormLayoutItem Caption="Others:" ColSpanMd="12">
                             <DxMemo @bind-Text ="@Data.EngineeringOthers" Rows ="5"></DxMemo>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Details:" ColSpanMd="12">
                            <DxMemo @bind-Text="@Data.EngineeringDetails" Rows="5"></DxMemo>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Evaluated By:" ColSpanMd="6">
                            <DxComboBox Data="@applicationUsers"
                                        NullText="Select Verified By..."
                                        FilteringMode="DataGridFilteringMode.Contains"
                                        TextFieldName="UserName"
                                        ValueFieldName="UserID"
                                        @bind-Value="Data.EngineeringEvaluatedBy"
                                        ShowValidationIcon="true">
                            </DxComboBox>

                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Date:" ColSpanMd="6">
                            <DxDateEdit @bind-Date="@Data.EngineeringMaintenanceDate"></DxDateEdit>

                        </DxFormLayoutItem>
                     </DxFormLayoutTabPage>
                    <DxFormLayoutTabPage Caption="QUALITY ASSURANCE(QA)">
                        <DxFormLayoutItem Caption="The Proposed Change Impact To:" ColSpanMd="12">

                        </DxFormLayoutItem>
                          <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
                            <DxCheckBox @bind-Checked="@Data.IsQAQualification" LabelPosition="LabelPosition.Right">Qualification</DxCheckBox>
                        </DxFormLayoutItem>

                        <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">

                            <DxCheckBox @bind-Checked="@Data.IsQAValidation" LabelPosition="LabelPosition.Right">Validation</DxCheckBox>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
                            <DxCheckBox @bind-Checked="@Data.IsQAVendor" LabelPosition="LabelPosition.Right">Vendor</DxCheckBox>
                        </DxFormLayoutItem>

                          <DxFormLayoutItem Caption="Others:" ColSpanMd="12">
                             <DxMemo @bind-Text ="@Data.QAOthers" Rows ="5"></DxMemo>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Details:" ColSpanMd="12">
                             <DxMemo @bind-Text ="@Data.QADetails" Rows ="5"></DxMemo>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Evaluated By:" ColSpanMd="6">
                             <DxComboBox Data="@applicationUsers"
                                        NullText="Select Verified By..."
                                        FilteringMode="DataGridFilteringMode.Contains"
                                        TextFieldName="UserName"
                                        ValueFieldName="UserID"
                                        @bind-Value="Data.QAEvaluatedBy"
                                        ShowValidationIcon="true">
                            </DxComboBox>

                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Date:" ColSpanMd="6">

                            <DxDateEdit @bind-Date="@Data.QADate"></DxDateEdit>
                        </DxFormLayoutItem>
                    </DxFormLayoutTabPage>

                    <DxFormLayoutTabPage Caption="STORE">
                        <DxFormLayoutItem Caption="The Proposed Change Impact To:" ColSpanMd="12">

                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
                            <DxCheckBox @bind-Checked="@Data.IsStoreRawMaterial" LabelPosition="LabelPosition.Right">Raw Material</DxCheckBox>
                        </DxFormLayoutItem>

                        <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">

                            <DxCheckBox @bind-Checked="@Data.IsStorePackagingMaterial" LabelPosition="LabelPosition.Right">Packaging Material</DxCheckBox>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
                            <DxCheckBox @bind-Checked="@Data.IsStoreLabel" LabelPosition="LabelPosition.Right">Label/Leaflet</DxCheckBox>
                        </DxFormLayoutItem>

                        <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">

                            <DxCheckBox @bind-Checked="@Data.IsStorageCondition" LabelPosition="LabelPosition.Right">Storage Condition</DxCheckBox>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
                            <DxCheckBox @bind-Checked="@Data.IsStoreFinishProduct" LabelPosition="LabelPosition.Right">Finish Product</DxCheckBox>
                        </DxFormLayoutItem>
                         <DxFormLayoutItem Caption="Others:" ColSpanMd="12">
                             <DxMemo @bind-Text ="@Data.StoreOthers" Rows ="5"></DxMemo>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Details:" ColSpanMd="12">
                             <DxMemo @bind-Text ="@Data.StoreDetails" Rows ="5"></DxMemo>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Evaluated By:" ColSpanMd="6">

                             <DxComboBox Data="@applicationUsers"
                                        NullText="Select Verified By..."
                                        FilteringMode="DataGridFilteringMode.Contains"
                                        TextFieldName="UserName"
                                        ValueFieldName="UserID"
                                        @bind-Value="Data.StoreEvaluatedBy"
                                        ShowValidationIcon="true">
                            </DxComboBox>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Date:" ColSpanMd="6">

                             <DxDateEdit @bind-Date="@Data.StoreDate"></DxDateEdit>
                        </DxFormLayoutItem>
                    </DxFormLayoutTabPage>

                    <DxFormLayoutTabPage Caption="OTHERS">
                        <DxFormLayoutItem Caption="The Proposed Change Impact To:" ColSpanMd="12">
                            <DxMemo @bind-Text="@Data.ProposedChangeImpactTo" Rows="5"></DxMemo>
                            
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Details:" ColSpanMd="12">
                            <DxMemo @bind-Text="@Data.OthersDetails" Rows="5"></DxMemo>
                            
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Evaluated By:" ColSpanMd="6">
                            <DxComboBox Data="@applicationUsers"
                                        NullText="Select Verified By..."
                                        FilteringMode="DataGridFilteringMode.Contains"
                                        TextFieldName="UserName"
                                        ValueFieldName="UserID"
                                       @bind-Value="Data.OthersEvaluatedBy"
                                        ShowValidationIcon="true">
                            </DxComboBox>

                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Date:" ColSpanMd="6">
                            <DxDateEdit @bind-Date="@Data.OthersDate"></DxDateEdit>

                        </DxFormLayoutItem>

                    </DxFormLayoutTabPage>

                </DxFormLayoutTabPages>
               
            </DxFormLayoutGroup>

        </DxFormLayoutGroup>
  

        <DxFormLayoutGroup ColSpanMd="12" Caption="SECTION C:CHANGE APPROVAL(To be filled by QA)" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.End" Expanded="false" AnimationType="LayoutAnimationType.Slide">
            <DxFormLayoutItem Caption="Change Approval:" ColSpanMd="12">
                <DxCheckBox @bind-Checked ="@Data.IsApproved" LabelPosition="LabelPosition.Right"> Approved</DxCheckBox>
                <DxCheckBox @bind-Checked="@Data.IsNotApproved" LabelPosition="LabelPosition.Right"> Not Approved</DxCheckBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Comments(if Any):" ColSpanMd="12">
                <DxMemo @bind-Text="@Data.ApprovalComments" Rows="5"></DxMemo>

            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Verified By(Pharmacist):" ColSpanMd="6">
                <DxComboBox Data="@applicationUsers"
                            NullText="Select Verified By..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="UserName"
                            ValueFieldName="UserID"
                            @bind-Value="Data.VerifiedBy"
                            ShowValidationIcon="true">
                </DxComboBox>

            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Date:" ColSpanMd="6">
                <DxDateEdit @bind-Date="@Data.ApprovalDate"></DxDateEdit>

            </DxFormLayoutItem>
         
        </DxFormLayoutGroup>
  

        <DxFormLayoutGroup ColSpanMd="12" Caption="SECTION D:CHANGE IMPLEMENTATION(* Attach Document Copy)" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.End" Expanded="false" AnimationType="LayoutAnimationType.Slide">

         
            <DxFormLayoutTabPages >
                 <DxFormLayoutTabPage Caption="Details">

                   @*  <div class="card w-100" style="margin-bottom:10px;">
                            <div class="card-body p-0">
                                <DxMenu CollapseItemsToHamburgerMenu="true"
                                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                                        DisplayMode="MenuDisplayMode.Desktop">
                                    <Items>
               
                                        <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@AddEdit/>
                
                                    </Items>
                                </DxMenu>
                            </div>
                    </div>*@
                      <DxGrid @ref="Grid"
                            Data="_CCFDImplementation"
                        PageSize="12"
                        ValidationEnabled="false"
                            CustomizeElement="Grid_CustomizeElement"
                        EditMode="GridEditMode.EditForm"
                            EditModelSaving="@Grid_EditModelSaving"
                       EditorRenderMode="GridEditorRenderMode.Integrated"
                            RowDoubleClick="OnRowDoubleClick">
                        <Columns>
                            <DxGridDataColumn FieldName="Value" Caption="Class Of Document" MinWidth="80" />
                            <DxGridDataColumn FieldName="IsRequired" MinWidth="80" />
                            <DxGridDataColumn FieldName="ResponsibiltyTo" MinWidth="80" />
                            <DxGridDataColumn FieldName="DoneBy" MinWidth="100" />
                            <DxGridDataColumn FieldName="DoneByDate" MinWidth="120" />
     
                        </Columns>
                              <EditFormTemplate Context="EditFormContext1">
                                   @{
                                       var implementation = (View_GetCCFImplementation)EditFormContext1.EditModel;
                                    }
                                    <DxFormLayout CssClass="w-100">
                                        <DxFormLayoutItem Caption="" ColSpanMd="6">
                                         <DxCheckBox @bind-Checked ="@implementation.IsRequired" LabelPosition="LabelPosition.Right"> Approved</DxCheckBox>
                                        </DxFormLayoutItem>
                                        <DxFormLayoutItem Caption="Responsibilty To:" ColSpanMd="6">
                                              <DxComboBox Data="@applicationUsers"
                                                        NullText="Select Responsibilty To..."
                                                        FilteringMode="DataGridFilteringMode.Contains"
                                                        TextFieldName="UserName"
                                                        ValueFieldName="UserID"
                                                        @bind-Value="implementation.ResponsibiltyTo"
                                                        ShowValidationIcon="true">
                                            </DxComboBox>
                                        </DxFormLayoutItem>
                                        <DxFormLayoutItem Caption="Done By:" ColSpanMd="6">
                                                <DxComboBox Data="@applicationUsers"
                                                        NullText="Select Done By..."
                                                        FilteringMode="DataGridFilteringMode.Contains"
                                                        TextFieldName="UserName"
                                                        ValueFieldName="UserID"
                                                        @bind-Value="implementation.DoneBy"
                                                        ShowValidationIcon="true">
                                            </DxComboBox>
                                        </DxFormLayoutItem>
                                        <DxFormLayoutItem Caption="Done By Date:" ColSpanMd="6">
                                            <DxDateEdit @bind-Date ="implementation.DoneByDate"  Mask="dd MMMM yyyy"/>
                                        </DxFormLayoutItem>
           
                                    </DxFormLayout>
                                    </EditFormTemplate>
                        </DxGrid>
                
                </DxFormLayoutTabPage>
                <DxFormLayoutTabPage Caption="DISCONTINUE OF IMPLEMENTATION (if Applicable)">

                    <DxFormLayoutItem Caption="HOD Comments:" ColSpanMd="12">
                          <DxMemo @bind-Text="@Data.HODComments" Rows="5"></DxMemo>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="HOD Signature:" ColSpanMd="6">
                        <DxMemo @bind-Text="@Data.HODSignature" Rows="5"></DxMemo>
                    </DxFormLayoutItem>
                   
                    <DxFormLayoutItem Caption="Date:" ColSpanMd="6">
                        <DxDateEdit @bind-Date="@Data.HODDate"></DxDateEdit>

                    </DxFormLayoutItem>
                </DxFormLayoutTabPage>

                <DxFormLayoutTabPage Caption="QA VERIFICATION">
                    <DxFormLayoutItem Caption="Status:" ColSpanMd="12">

                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">

                        <DxCheckBox @bind-Checked="@Data.ImplementationIsAcceptable" LabelPosition="LabelPosition.Right">Acceptable</DxCheckBox>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
                        <DxCheckBox @bind-Checked="@Data.ImplementationIsNotAcceptable" LabelPosition="LabelPosition.Right">NotAcceptable</DxCheckBox>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Verified By:" ColSpanMd="6">
                        <DxComboBox Data="@applicationUsers"
                                    NullText="Select Verified By..."
                                    FilteringMode="DataGridFilteringMode.Contains"
                                    TextFieldName="UserName"
                                    ValueFieldName="UserID"
                                    @bind-Value="Data.ImplementationVerifiedBy"
                                    ShowValidationIcon="true">
                        </DxComboBox>

                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Date:" ColSpanMd="6">

                        <DxDateEdit @bind-Date="@Data.VerifiedDate"></DxDateEdit>
                    </DxFormLayoutItem>
                </DxFormLayoutTabPage>

            </DxFormLayoutTabPages>
        </DxFormLayoutGroup>
  

        <DxFormLayoutGroup ColSpanMd="12" Caption="SECTION E:CHANGE CLOSURE(To be filled By QA)" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.End" Expanded="false" AnimationType="LayoutAnimationType.Slide">

            <DxFormLayoutItem Caption="All Completed:" ColSpanMd="12">

             </DxFormLayoutItem>
                  <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">

                            <DxCheckBox @bind-Checked="@Data.IsSatisfactory" LabelPosition="LabelPosition.Right">Satisfactory</DxCheckBox>
                  </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanLg="4" ColSpanMd="6">
                            <DxCheckBox @bind-Checked="@Data.IsNotSatisfactory" LabelPosition="LabelPosition.Right">Not Satisfactory</DxCheckBox>
                        </DxFormLayoutItem>

          
            <DxFormLayoutItem Caption="Activities Found Comments(if Any):" ColSpanMd="12">

                <DxMemo @bind-Text="@Data.ClosureComments" Rows="5"></DxMemo>

            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Closed By(Pharmacist):" ColSpanMd="6">
                <DxComboBox Data="@applicationUsers"
                            NullText="Select Closed By..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="UserName"
                            ValueFieldName="UserID"
                            @bind-Value="Data.ClosedBy"
                            ShowValidationIcon="true">
                </DxComboBox>

            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Date:" ColSpanMd="6">
                <DxDateEdit @bind-Date="@Data.Date"></DxDateEdit>

            </DxFormLayoutItem>
            <DxFormLayoutGroup Caption="*To be filled Completed Activities Not Satisfactory initially" ColSpanMd="12">
                <DxFormLayoutItem Caption="All Completed:" ColSpanMd="12">
                    <DxCheckBox @bind-Checked="@Data.IsSatisfactoryForNotSatisfactory" LabelPosition="LabelPosition.Right">Satisfactory</DxCheckBox>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Activities Found Closed By(Pharmacist):" ColSpanMd="6">
                    <DxComboBox Data="@applicationUsers"
                            NullText="Select Closed By..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="UserName"
                            ValueFieldName="UserID"
                    @bind-Value="Data.NotSatisfactoryClosedBy"
                            ShowValidationIcon="true">
                </DxComboBox>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Date:" ColSpanMd="6">
                    <DxDateEdit @bind-Date="@Data.NotSatisfactoryDate"></DxDateEdit>
                </DxFormLayoutItem>
            </DxFormLayoutGroup>
        </DxFormLayoutGroup>
    </DxFormLayout>
</EditForm>
@code {
    private string MyID = "myForm";
    int ActiveTabIndex { get; set; } = 1;
    CCFInformationModels Data = new CCFInformationModels();
    IGrid Grid { get; set; }
    private List<ViewDepartment> _departmentItems;
    private List<ApplicationUser> applicationUsers;
    private List<View_GetCCFImplementation> _CCFDImplementation;
    private View_GetCCFImplementation _selectedItems;
    public ApplicationUser? applicationUser { get; private set; }
    protected override async Task OnInitializedAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _departmentItems = await Mediator.Send(new GetAllDepartmentQuery());
        applicationUsers = await Mediator.Send(new GetAllApplicationUserQuery());

        await UpdateDataAsync();
    }
    async Task UpdateDataAsync()
    {
        _CCFDImplementation = await Mediator.Send(new GetAllImplementationQuery());
        //foreach (var item in _CCFDImplementation)
        //{
        //    item.IsRequired = false;
        //    item.DoneBy = null;
        //    item.DoneByDate = null;
        //    item.ResponsibiltyTo = null;
        //    item.ApplicationMasterDetailID = 0;
        //    item.ApplicationMasterID = 0;
        //}
        //_CCFDImplementation[0].IsRequired = false;
        //  _CCFDImplementation[0].DoneBy = null;
        //    _CCFDImplementation[0].DoneByDate = null;
        //      _CCFDImplementation[0].ResponsibiltyTo = null;
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
    }
    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        if (e.IsNew)
        {
            var newEmployee = (CCFInformationModels)e.EditModel;
           
        }
    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editModel = (View_GetCCFImplementation)e.EditModel;
        if (editModel.ApplicationMasterDetailID == _selectedItems.ApplicationMasterDetailID)
        {
            var UpdateReq = new SaveImplementationQuery
            {
                
                ClassOFDocumentID = _selectedItems.ApplicationMasterDetailID,
                IsRequired = editModel.IsRequired,
                DoneBy = editModel.DoneBy,
                DoneByDate = editModel.DoneByDate,
                ResponsibiltyTo = editModel.ResponsibiltyTo,
                 AddedDate = DateTime.Now,
                  SessionId = Guid.NewGuid(),
                   AddedByUserID= applicationUser.UserID,
                StatusCodeID = 1,
            };
               var ans = await Mediator.Send(UpdateReq);
        }
        else
        {
            var UpdateReq = new EditImplementationQuery
            {
                
                ClassOFDocumentID = _selectedItems.ApplicationMasterDetailID,
                IsRequired = editModel.IsRequired,
                DoneBy = editModel.DoneBy,
                DoneByDate = editModel.DoneByDate,
                ResponsibiltyTo = editModel.ResponsibiltyTo,
                 AddedDate = DateTime.Now,
                  SessionId = Guid.NewGuid(),
                   AddedByUserID= applicationUser.UserID,
                StatusCodeID = 1,
            };

        var ans = await Mediator.Send(UpdateReq);
        toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
        }
       
      //  _CCFDImplementation = await Mediator.Send(new GetAllImplementationSaveQuery(editModel.CCFDImplementationDetailsID));

    }
   
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {


        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "ApplicationMasterDetailID");
        _selectedItems = _CCFDImplementation.FirstOrDefault(f => f.ApplicationMasterDetailID == (long?)UniqueId);
        Grid.StartEditDataItemAsync(_selectedItems);
    }
    async void HandleValidSubmit()
    {
        var createReq = new CreateCCFInformationModels
                {
                    IsInternalChanges = Data.IsInternalChanges,
                    IsAuthorityDirectedChanges = Data.IsAuthorityDirectedChanges,
                    PIC = Data.PIC,
                    DepartmentID = Data.DepartmentID,
                    PIA  = Data.PIA ,
                    IsSiteTransfer = Data.IsSiteTransfer,
                    IsProduct = Data.IsProduct,
                    IsEquipment = Data.IsEquipment,
                    IsComposition = Data.IsComposition,                
                    StatusCodeID = 1,
                    AddedByUserID = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    SessionId = Guid.NewGuid(),
                   
                    IsFacility = Data.IsFacility,
                    IsLayout = Data.IsLayout,
                    IsDocument = Data.IsDocument,
                    IsProcess = Data.IsProcess,
                    IsControlParameter = Data.IsControlParameter,
                    IsBatchSize = Data.IsBatchSize,

                    IsHoldingTime = Data.IsHoldingTime,
                    IsRawMeterial = Data.IsRawMeterial,
                    IsArtwork = Data.IsArtwork,
                    IsPackagingMaterial = Data.IsPackagingMaterial,
                    IsVendor  = Data.IsVendor ,
                    IsShelfLife = Data.IsShelfLife,
                    IsRegulatory = Data.IsRegulatory,
                    IsReTestPeriod = Data.IsReTestPeriod,
                    Others = Data.Others,                
                    Justification = Data.Justification,
                    DescriptionOfProposedChange  = Data.DescriptionOfProposedChange ,
                    ProposedImplementationAction = Data.ProposedImplementationAction,
                    RelatedDeviation = Data.RelatedDeviation,
                   
                    IsAcceptable = Data.IsAcceptable,
                    IsNotAcceptable = Data.IsNotAcceptable,
                    IsMinor = Data.IsMinor,
                    IsMajor = Data.IsMajor,
                    IsCritical = Data.IsCritical,
                    Comments = Data.Comments,


                     IsProduction  = Data.IsProduction ,
                    IsEAndM = Data.IsEAndM,
                    IsRequlatory = Data.IsRequlatory,
                    IsQA = Data.IsQA,
                    IsQC = Data.IsQC,
                    IsStore = Data.IsStore,

                    RelatedDeparmentOthers = Data.RelatedDeparmentOthers,
                    EvaluatedBy = Data.EvaluatedBy,
                  //  EvaluatedDate = Data.EvaluatedDate,
                    IsRequlatoryApproval = Data.IsRequlatoryApproval,
                    IsNotificationRequired  = Data.IsNotificationRequired ,
                    RegulatoryOthers = Data.RegulatoryOthers,
                    RegulatoryDetails = Data.RegulatoryDetails,
                    RequlatoryEvaluatedBy = Data.RequlatoryEvaluatedBy,
                    RegulatoryDate = Data.RegulatoryDate,                
                    IsAnalyticalInstrument = Data.IsAnalyticalInstrument,
                    IsValidation  = Data.IsValidation ,
                    IsEnvironmentalMonitoring = Data.IsEnvironmentalMonitoring,
                    IsRawMeterialSpec = Data.IsRawMeterialSpec,
                   
                    IsFinishedProductSpec = Data.IsFinishedProductSpec,
                    IsPackagingMaterialSpec = Data.IsPackagingMaterialSpec,
                    IsCalibration = Data.IsCalibration,
                    IsAnalyticalTestMethod = Data.IsAnalyticalTestMethod,
                    IsSamplingMethod = Data.IsSamplingMethod,
                    EvaluationIsVendor = Data.EvaluationIsVendor,




                       IsStabilityStudy  = Data.IsStabilityStudy ,
                    IsInProcess = Data.IsInProcess,
                    QualityControlOthers = Data.QualityControlOthers,
                    QualityControlDetails = Data.QualityControlDetails,
                    QualityControlEvaluatedBy = Data.QualityControlEvaluatedBy,
                    QualityControlDate = Data.QualityControlDate,

                    IsProductionProcess = Data.IsProductionProcess,
                    IsProductionValidation = Data.IsProductionValidation,
                    EvaluationIsControlParameter = Data.EvaluationIsControlParameter,
                    ProductionOthers = Data.ProductionOthers,
                    ProductionEvaluatedBy  = Data.ProductionEvaluatedBy ,
                    ProductionDate = Data.ProductionDate,
                    IsPiping = Data.IsPiping,
                    EvaluationIsEquipment = Data.EvaluationIsEquipment,
                    IsEngineeringCalibration = Data.IsEngineeringCalibration,                
                    IsPreventiveMaintenance = Data.IsPreventiveMaintenance,
                    IsUtilityParameter  = Data.IsUtilityParameter ,
                    IsEngineeringFacility = Data.IsEngineeringFacility,
                    IsQualificationOfEquipment = Data.IsQualificationOfEquipment,
                   
                    IsQualificationOfUtility  = Data.IsQualificationOfUtility ,
                    EngineeringOthers = Data.EngineeringOthers,
                   EngineeringDetails = Data.EngineeringDetails,
                    EngineeringEvaluatedBy  = Data.EngineeringEvaluatedBy ,
                    EngineeringMaintenanceDate = Data.EngineeringMaintenanceDate,
                    IsQAQualification = Data.IsQAQualification,

                     IsQAValidation = Data.IsQAValidation,
                    IsQAVendor = Data.IsQAVendor,
                    QAOthers = Data.QAOthers,
                    QADetails = Data.QADetails,
                    QAEvaluatedBy  = Data.QAEvaluatedBy ,
                    QADate = Data.QADate,
                    IsStoreRawMaterial = Data.IsStoreRawMaterial,
                    IsStorePackagingMaterial = Data.IsStorePackagingMaterial,
                    IsStoreLabel = Data.IsStoreLabel,                
                    IsStorageCondition = Data.IsStorageCondition,
                IsStoreFinishProduct = Data.IsStoreFinishProduct,
                 
                    StoreOthers  = Data.StoreOthers ,
                   
                    StoreDetails  = Data.StoreDetails ,
                    StoreEvaluatedBy  = Data.StoreEvaluatedBy ,
                   StoreDate = Data.StoreDate,
                    ProposedChangeImpactTo  = Data.ProposedChangeImpactTo ,
                    OthersDetails = Data.OthersDetails,
                    OthersEvaluatedBy = Data.OthersEvaluatedBy,

                       OthersDate = Data.OthersDate,
                    IsApproved = Data.IsApproved,
                    IsNotApproved = Data.IsNotApproved,
                    ApprovalComments = Data.ApprovalComments,
                    VerifiedBy  = Data.VerifiedBy ,
                    ApprovalDate = Data.ApprovalDate,
                    HODComments = Data.HODComments,
                    HODSignature = Data.HODSignature,
                    HODDate = Data.HODDate,                
                    ImplementationIsAcceptable = Data.ImplementationIsAcceptable,
                    ImplementationIsNotAcceptable   = Data.ImplementationIsNotAcceptable  ,
                    ImplementationVerifiedBy = Data.ImplementationVerifiedBy,
                    VerifiedDate  = Data.VerifiedDate ,
                   
                    IsSatisfactory  = Data.IsSatisfactory ,
                    IsNotSatisfactory  = Data.IsNotSatisfactory ,
                   ClosureComments = Data.ClosureComments,
                    ClosedBy  = Data.ClosedBy ,
                    Date = Data.Date,
                    IsSatisfactoryForNotSatisfactory = Data.IsSatisfactoryForNotSatisfactory,
                     NotSatisfactoryClosedBy = Data.NotSatisfactoryClosedBy,
                    NotSatisfactoryDate = Data.NotSatisfactoryDate
                };
          
                //_sessionId = createReq.SessionId;
                var result = await Mediator.Send(createReq);
            toastService.ShowToast("The Form Submitted Successfully.", AC.SD.Core.Services.ToastLevel.Error);
        await JSRuntime.InvokeAsync<string>("ReloadUrl");
    }
}
