@page "/syrup-Stepper4"
@using Application.Queries;
@using MediatR
@using System.ComponentModel;
@using global::Core.Entities.Views;
@using global::Core.Entities;
@inject IMediator Mediator
@using DevExpress.Export
@using Application.Response;
@using global::Core.EntityModels
@inject IJSRuntime jsRuntime
@using global::Core.Repositories.Query;
@using static global::Core.EntityModels.SyrupPlanning
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject AC.SD.Core.Services.ToastService toastService
@inject NavigationManager NavigationManager

<div class="card" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <div class="row">
            <div>
                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Desktop">
                    <Items>
                        <DxMenuItem Text="Edit"
                                    Enabled="@(_selectedItems is not null)"
                                    Click="@(() => { if (_selectedItems is not null) OpenEdit(_selectedItems.ID); })" />
                    </Items>
                </DxMenu>
            </div>
        </div>
    </div>
</div>
<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">

    <DxGrid @ref="Grid"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ShowGroupPanel="true"
            ShowGroupedColumns="true"
            ShowSearchBox="true"
            Data="_SyrupFillingList"
            KeyFieldName="ID"
            TextWrapEnabled="false"
            CustomizeElement="Grid_CustomizeElement"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            SelectionMode="GridSelectionMode.Single"
            ValidationEnabled="true"
            AutoExpandAllGroupRows="true"
            CssClass="ch-360 " style="height: calc(100vh - 345px);"
            FocusedRowEnabled="true"
            RowClick="OnRowClick"
            RowDoubleClick="OnRowDoubleClick"
            CustomizeEditModel="Grid_CustomizeEditModel"
            EditMode="GridEditMode.EditForm"
            EditModelSaving="@OnEditModelSaving"
            SelectedDataItemsChanged="@SelectedDataItemsChanged"
            VirtualScrollingEnabled="true"
            AllowSelectRowByClick="true">
        <Columns>
            <DxGridDataColumn FieldName="ProfileNo" Caption="Profile No" />
            <DxGridDataColumn FieldName="PrimaryFillingMachine" Caption="Primary filling machine" />
            <DxGridDataColumn FieldName="TypeOfPlanningProcess" Caption="Type of Planning Process" />
            <DxGridDataColumn FieldName="FillingHours" Caption="1. Filling/Hours" />
            <DxGridDataColumn FieldName="FillingManpower" Caption="1. Filling/Manpower" />
            <DxGridDataColumn FieldName="ChangePackingFillingHours" Caption="Change Packing Filling/Hours" />
            <DxGridDataColumn FieldName="ModifiedBy" Caption="Modified By" />
            <DxGridDataColumn FieldName="ModifiedDate" Caption="Modified Date" DisplayFormat="dd-MMM-yyyy hh:mm tt" />
        </Columns>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="ProfileNo" />
        </TotalSummary>
    </DxGrid>
</DxLoadingPanel>



<DxPopup @bind-Visible="EditPopupVisible"
         HeaderText="Production Timing – Syrup"
         Width="1100px"
         CloseOnOutsideClick="false"
         ShowCloseButton="true">
    <BodyTemplate Context="popupCtx">
        <div style="padding:10px;">
            <EditForm Model="@EditVM" OnValidSubmit="@SaveAsync" Context="formCtx">
                <DataAnnotationsValidator />

                <DxFormLayout>
                    <!-- 1. Primary Packing -->
                    <DxFormLayoutGroup Caption="1. Primary Packing" ColSpanMd="12">
                        <DxFormLayoutItem Caption="Process Name" ColSpanMd="6">
                            <ChildContent Context="itemCtx">
                                <DxComboBox Data="@ProcessNames"
                                            @bind-Value="EditVM.ProcessName_Primary"
                                            AllowUserInput="false" />
                            </ChildContent>
                        </DxFormLayoutItem>

                        <DxFormLayoutItem Caption="Next Process Name" ColSpanMd="6">
                            <ChildContent Context="itemCtx">
                                <DxComboBox Data="@ProcessNames"
                                            @bind-Value="EditVM.NextProcessName_Primary"
                                            AllowUserInput="false" />
                            </ChildContent>
                        </DxFormLayoutItem>

                        <DxFormLayoutItem Caption="Type of planning" ColSpanMd="6">
                            <ChildContent Context="itemCtx">
                                <DxComboBox Data="@PlanningTypes"
                                            @bind-Value="EditVM.PlanningType_Primary"
                                            AllowUserInput="false" />
                            </ChildContent>
                        </DxFormLayoutItem>
                    </DxFormLayoutGroup>

                    <!-- 2. Machine Filling -->
                    <DxFormLayoutGroup Caption="2. Machine Filling" ColSpanMd="12">
                        <DxFormLayoutItem Caption="Primary filling machine" ColSpanMd="6">
                            <ChildContent Context="itemCtx">
                                <DxComboBox Data="@Machines"
                                            @bind-Value="EditVM.PrimaryFillingMachine"
                                            AllowUserInput="false" />
                            </ChildContent>
                        </DxFormLayoutItem>

                        <DxFormLayoutItem Caption="1. Filling/Hours" ColSpanMd="6">
                            <ChildContent Context="itemCtx">
                                <DxSpinEdit @bind-Value="EditVM.FillingHours_Level1" Increment="0.1M" />
                            </ChildContent>
                        </DxFormLayoutItem>

                        <DxFormLayoutItem Caption="1. Filling Speed/bottle/minutes" ColSpanMd="6">
                            <ChildContent Context="itemCtx">
                                <DxSpinEdit @bind-Value="EditVM.Speed_BottlePerMinute" Increment="1" />
                            </ChildContent>
                        </DxFormLayoutItem>

                        <DxFormLayoutItem Caption="1. Filling/Manpower" ColSpanMd="6">
                            <ChildContent Context="itemCtx">
                                <DxSpinEdit @bind-Value="EditVM.FillingManpower_Level1" Increment="1" />
                            </ChildContent>
                        </DxFormLayoutItem>

                        <DxFormLayoutItem Caption="Change Packing Filling/Hours" ColSpanMd="6">
                            <ChildContent Context="itemCtx">
                                <DxSpinEdit @bind-Value="EditVM.ChangePackingFillingHours" Increment="0.1M" />
                            </ChildContent>
                        </DxFormLayoutItem>

                        <DxFormLayoutItem Caption="Level 2/Hours" ColSpanMd="6">
                            <ChildContent Context="itemCtx">
                                <DxSpinEdit @bind-Value="EditVM.FillingHours_Level2" Increment="0.1M" />
                            </ChildContent>
                        </DxFormLayoutItem>

                        <DxFormLayoutItem Caption="Level 2/Manpower" ColSpanMd="6">
                            <ChildContent Context="itemCtx">
                                <DxSpinEdit @bind-Value="EditVM.FillingManpower_Level2" Increment="1" />
                            </ChildContent>
                        </DxFormLayoutItem>
                    </DxFormLayoutGroup>

                    <!-- 4. Secondary Packing -->
                    <DxFormLayoutGroup Caption="4. Secondary Packing" ColSpanMd="12">
                        <DxFormLayoutItem Caption="Secondary Packing same as Primary time?" ColSpanMd="6">
                            <ChildContent Context="itemCtx">
                                <DxCheckBox @bind-Checked="EditVM.SecondarySameAsPrimaryTime" />
                            </ChildContent>
                        </DxFormLayoutItem>

                        <DxFormLayoutItem Caption="Secondary Packing /Hours" ColSpanMd="6">
                            <ChildContent Context="itemCtx">
                                <DxSpinEdit @bind-Value="EditVM.SecondaryPackingHours" Increment="0.1M" />
                            </ChildContent>
                        </DxFormLayoutItem>

                        <DxFormLayoutItem Caption="No of Manpower" ColSpanMd="6">
                            <ChildContent Context="itemCtx">
                                <DxSpinEdit @bind-Value="EditVM.SecondaryManpower" Increment="1" />
                            </ChildContent>
                        </DxFormLayoutItem>

                        <DxFormLayoutItem Caption="Process Name" ColSpanMd="6">
                            <ChildContent Context="itemCtx">
                                <DxComboBox Data="@ProcessNames"
                                            @bind-Value="EditVM.ProcessName_Secondary"
                                            AllowUserInput="false" />
                            </ChildContent>
                        </DxFormLayoutItem>

                        <DxFormLayoutItem Caption="Next process Name" ColSpanMd="6">
                            <ChildContent Context="itemCtx">
                                <DxComboBox Data="@ProcessNames"
                                            @bind-Value="EditVM.NextProcessName_Secondary"
                                            AllowUserInput="false" />
                            </ChildContent>
                        </DxFormLayoutItem>

                        <DxFormLayoutItem Caption="Require offline packing" ColSpanMd="6">
                            <DxRadioGroup Items="@RadioButtonOptions"
                                          Value="@EditVM.RequireOfflinePacking"
                                          ValueExpression="@(() => EditVM.RequireOfflinePacking)"
                                          ValueChanged="@((string value) => OnChangeRequireOfflinePacking(value))"
                                          Layout="RadioGroupLayout.Horizontal"
                                          CssClass="dx-demo-radio-group" />
                        </DxFormLayoutItem>
                    </DxFormLayoutGroup>
                </DxFormLayout>

                <div class="mt-3">
                    <DxButton Text="Save" RenderStyle="ButtonRenderStyle.Primary" SubmitFormOnClick="true" />
                    <DxButton Text="Cancel" CssClass="ml-2" Click="@(() => EditPopupVisible = false)" />
                </div>
            </EditForm>
        </div>
    </BodyTemplate>
</DxPopup>

@code {
    IEnumerable<string> RadioButtonOptions = new[] { "Yes", "No" };
    bool ExportSelectedRowsOnly { get; set; }
    bool AuditLogPopUp { get; set; } = false;
    bool PanelVisible { get; set; } = true;
    bool PopupVisible { get; set; } = false;
    DxPopup? popup;
    SyrupFilling Datas = new SyrupFilling();
    private List<SyrupFilling> _SyrupFillingList;
    private SyrupFilling _selectedItems;
    IGrid Grid { get; set; }
    string permission = "";
    bool EditEnabled { get; set; } = false;
    bool DeleteEnabled { get; set; } = false;
    bool AddPopup { get; set; } = false;
    bool AttachmentPopUp { get; set; } = false;
    bool Blukdeletepopup { get; set; } = false;
    IReadOnlyList<object> SelectedDataItems { get; set; }
    bool EditPopupVisible { get; set; }
    SyrupPlanningEditVM EditVM { get; set; } = new();

    public ApplicationUser? applicationUser { get; private set; }

    void OnChangeRequireOfflinePacking(string value)
    {
        EditVM.RequireOfflinePacking = value;
    }

    // Lookups (replace with your queries later)
    readonly List<string> ProcessNames = new()
    {
        "Syrup - Primary Packing",
        "Syrup - Secondary packing (120Ml)",
        "Syrup - Machine Filling"
    };
    readonly List<string> PlanningTypes = new() { "BMP - Machine Filling", "Manual Filling" };
    readonly List<string> Machines = new() { "Filling Machine A", "Filling Machine B", "Filling Machine C" };

    public class SyrupPlanningEditVM
    {
        public long ID { get; set; }
        public string? ProfileNo { get; set; }

        // Primary Packing
        public string? ProcessName_Primary { get; set; }
        public string? NextProcessName_Primary { get; set; }
        public string? PlanningType_Primary { get; set; }

        // Machine Filling
        public string? PrimaryFillingMachine { get; set; }
        public decimal? FillingHours_Level1 { get; set; }
        public int? FillingManpower_Level1 { get; set; }
        public decimal? Speed_BottlePerMinute { get; set; }
        public decimal? ChangePackingFillingHours { get; set; }
        public decimal? FillingHours_Level2 { get; set; }
        public int? FillingManpower_Level2 { get; set; }

        // Secondary Packing
        public bool SecondarySameAsPrimaryTime { get; set; }
        public decimal? SecondaryPackingHours { get; set; }
        public int? SecondaryManpower { get; set; }
        public string? ProcessName_Secondary { get; set; }
        public string? NextProcessName_Secondary { get; set; }
        public string RequireOfflinePacking { get; set; }
    }

    void OpenEdit(long id)
    {
        var row = _SyrupFillingList.FirstOrDefault(x => x.ID == id);
        if (row is null) return;

        EditVM = new SyrupPlanningEditVM
        {
            ID = row.ID,
            ProfileNo = row.ProfileNo,
            ProcessName_Primary = row.ProcessName,
            NextProcessName_Primary = "Syrup - Secondary packing (120Ml)",
            PlanningType_Primary = "BMP - Machine Filling",
            PrimaryFillingMachine = row.PrimaryFillingMachine,
            ProcessName_Secondary = "Syrup - Secondary packing (120Ml)"
        };

        EditPopupVisible = true;
        StateHasChanged();
    }
    async Task SaveAsync()
    {
        EditPopupVisible = false;
        await InvokeAsync(StateHasChanged);
    }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Grid.AutoFitColumnWidths();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        await UpdateDataAsync();
    }

    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
            e.CssClass += "non-selectable-row";
        }
    }
    async Task UpdateDataAsync()
    {
        PanelVisible = true;
        _SyrupFillingList = await Mediator.Send(new GetSyrupFillingListQuery());
        EditEnabled = false;
        DeleteEnabled = false;
        if (_SyrupFillingList.Count > 0)
        {
            _selectedItems = _SyrupFillingList.FirstOrDefault();
            Grid.ClearSelection();
            PanelVisible = false;
        }
        PanelVisible = false;
        StateHasChanged();
    }

    void OnRowClick(GridRowClickEventArgs e)
    {
        //var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "ID");
        //_selectedItems = _SyrupFillingList.FirstOrDefault(f => f.ID == (long?)UniqueId);

        var id = (long?)e.Grid.GetRowValue(e.VisibleIndex, "ID");
        if (id.HasValue)
            _selectedItems = _SyrupFillingList.FirstOrDefault(x => x.ID == id.Value);
    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        var id = (long?)e.Grid.GetRowValue(e.VisibleIndex, "ID");
        if (id.HasValue) OpenEdit(id.Value);
    }
    void addNew()
    {
        Grid.StartEditNewRowAsync();

    }
    async Task ExportXlsx_Click()
    {
        await Grid.ExportToXlsxAsync("Dist. Items", new GridXlExportOptions()
        {
            ExportSelectedRowsOnly = ExportSelectedRowsOnly
        });
    }
    async Task Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        var navitems = (SyrupFilling)e.EditModel;
        if (e.IsNew)
        {
            //navitems.StatusCodeID = 1;
        }
        else
        {
            // navitems.StatusCodeID = navitems.StatusCodeID > 0 ? navitems.StatusCodeID : 1;
        }
    }
    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems; EditEnabled = false; DeleteEnabled = false;
        if (SelectedDataItems.Count > 0)
        {
            if (SelectedDataItems.Count > 1)
            {
                EditEnabled = false; DeleteEnabled = true;
            }
            else
            {
                EditEnabled = true; DeleteEnabled = true;
            }
        }
    }
    async Task OnEditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editModel = (SyrupFilling)e.EditModel;
    }
}