@using Application.Queries;
@using MediatR;
@using global::Core.Entities;
@using global::Core.Entities.Views;
@using global::Core.EntityModels;
@using global::Core.Repositories.Query;
@inject IMediator Mediator
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject NavigationManager NavigationManager
@inject AC.SD.Core.Services.ToastService toastService
@using BlazorBarcodeScanner.ZXing.JS
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration
@inject IJSRuntime jsRuntime
@inject ClipboardService ClipboardService
@implements IDisposable
<style scoped>
    .zxing-video-container > video {
        width: 100%;
        height: auto;
    }
</style>
<div class="col-md-12">
    <div class="card-body p-0">
        <div class="row">
            <div class="">
                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Auto">
                    <Items>
                        <DxMenuItem Text="Back" IconCssClass="fas fa-reply" Click="@onBack" />
                        <DxMenuItem Text="Add New" IconCssClass="fas fa-add" Click="@addNewProductionForm" />
                        <DxMenuItem Text="Save" IconCssClass="fas fa-save" Click="@SubmitProductionFormExternally" />
                        <DxMenuItem Text="Upload" IconCssClass="fa fa-cloud-upload" Click="@uploadFiles" Enabled="@uploadEnabled" />
                    </Items>
                </DxMenu>
            </div>
        </div>
    </div>
    <div style="border: 1px solid #b2afaf;  margin-bottom: 10px; padding:10px;">
        <div class="mini-menu-bar-top">
            <div class="mini-menu-bar-heading">
            </div>

            <div>
                <div class="views-accordion">
                    <EditForm EditContext="this._editContext" Context="EditFormContext" OnValidSubmit="@HandleProductionFormValidSubmit">
                        <DataAnnotationsValidator />
                        <DxFormLayout CssClass="w-100">
                            <DxFormLayoutItem Caption="User Name" ColSpanMd="6">
                                <DxTextBox @bind-Text="@Data.AddedBy" ShowValidationIcon="true" Enabled=false />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Date" ColSpanMd="6">
                                <DxDateEdit NullText="Date" @bind-Date="@Data.AddedDate" Enabled=false />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Company" ColSpanMd="6">

                                <DxComboBox Data="@_plantItems"
                                            NullText="Select Company..."
                                            SelectedItemChanged="@((ViewPlants plant) => SelectedItemPlantChanged(plant,"Add"))"
                                            FilteringMode="DataGridFilteringMode.Contains"
                                            ListRenderMode="ListRenderMode.Virtual"
                                            TextFieldName="Description"
                                            ClearButtonDisplayMode=DataEditorClearButtonDisplayMode.Auto
                                            ValueFieldName="PlantID"
                                @bind-Value="Data.CompanyID"
                                            ShowValidationIcon="true">

                                </DxComboBox>
                                <ValidationMessage For="@(() => Data.CompanyID)" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Location" ColSpanMd="6">
                                <DxComboBox Data="@_productionActivities"
                                            NullText="Select Loctaion..."
                                            SelectedItemChanged="@((ProductionActivityApp loc) => SelectedItemloc(loc))"
                                            FilteringMode="DataGridFilteringMode.Contains"
                                            TextFieldName="DeropdownName"
                                            ValueFieldName="ICTMasterID"
                                            ListRenderMode="ListRenderMode.Virtual"
                                            ClearButtonDisplayMode=DataEditorClearButtonDisplayMode.Auto
                                @bind-Value="Data.LocationID"
                                            ShowValidationIcon="true">
                                    <Buttons>
                                        <DxEditorButton IconCssClass="fa fa-qrcode"
                                                        Tooltip="Scan Location"
                                                        Click="@(_ => OnButtonClick())" />
                                    </Buttons>
                                </DxComboBox>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Ticket No" ColSpanMd="6">
                                <DxComboBox Data="@_ponumberActivities"
                                            NullText="Select Ticket No..."
                                            SelectedItemChanged="@((NavprodOrderLineModel prod) => SelectedItemprod(prod?.ProdOrderNo))"
                                            FilteringMode="DataGridFilteringMode.Contains"
                                            TextFieldName="Name"
                                            ValueFieldName="ProdOrderNo"
                                            ClearButtonDisplayMode=DataEditorClearButtonDisplayMode.Auto
                                            ListRenderMode="ListRenderMode.Virtual"
                                @bind-Value="Data.ProdOrderNo"
                                            ShowValidationIcon="true">
                                    <Buttons>
                                        <DxEditorButton IconCssClass="fa fa-qrcode"
                                                        Tooltip="Scan Ticket No"
                                                        Click="@(_ => OnButtonTicketNoClick())" />
                                    </Buttons>
                                </DxComboBox>
                                <ValidationMessage For="@(() => Data.ProdOrderNo)" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Profile" ColSpanMd="6">
                                <DxComboBox Data="@_documentProfileNoList"
                                            NullText="Select Profile..."
                                            ListRenderMode="ListRenderMode.Virtual"
                                            FilteringMode="DataGridFilteringMode.Contains"
                                            TextFieldName="Name"
                                            ValueFieldName="ProfileID"
                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                @bind-Value="@Data.ProfileId" ShowValidationIcon="true">
                                    <Columns>
                                        <DxListEditorColumn FieldName="@nameof(DocumentProfileNoSeriesModel.Name)"
                                                            Caption="Name"
                                                            Width="180px" />
                                        <DxListEditorColumn FieldName="@nameof(DocumentProfileNoSeriesModel.Description)"
                                                            Caption="Description" />
                                        <DxListEditorColumn FieldName="@nameof(DocumentProfileNoSeriesModel.Abbreviation)"
                                                            Caption="Abbreviation" />
                                        <DxListEditorColumn FieldName="@nameof(DocumentProfileNoSeriesModel.SampleDocumentNo)"
                                                            Caption="Sample Document No" />
                                    </Columns>
                                </DxComboBox>
                                <ValidationMessage For="@(() => Data.ProfileId)" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Profile No" ColSpanMd="6">
                                <DxTextBox @bind-Text="@Data.ProfileNo" ShowValidationIcon="true" Enabled="false" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Machine Name" ColSpanMd="6">
                                <DxTextBox @bind-Text="@Data.MachineName" ShowValidationIcon="true" />
                                <ValidationMessage For="@(() => Data.MachineName)" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Reporting Personal" ColSpanMd="6">
                                <DxComboBox Data="@_usersList"
                                            NullText="Select Reporting Personal..."
                                            FilteringMode="DataGridFilteringMode.Contains"
                                            ValueFieldName="UserID"
                                            TextFieldName="FirstName"
                                @bind-Value="Data.ReportingPersonal"
                                            EditFormat="{0}-{1}-{3}"
                                            ShowValidationIcon="true">
                                    <Columns>
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.FirstName)" Caption="FirstName" />
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.LastName)" Caption="Last Name" />
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.NickName)" Caption="Nick Name" />
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.DesignationName)" Caption="Designation" />
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.CompanyName)" Caption="Company" Width="100px" />
                                    </Columns>
                                </DxComboBox>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Detected By" ColSpanMd="6">
                                <DxComboBox Data="@_usersList"
                                            NullText="Select Detected By..."
                                            FilteringMode="DataGridFilteringMode.Contains"
                                            ValueFieldName="UserID"
                                            TextFieldName="FirstName"
                                @bind-Value="Data.DetectedBy"
                                            EditFormat="{0}-{1}-{3}"
                                            ShowValidationIcon="true">
                                    <Columns>
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.FirstName)" Caption="FirstName" />
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.LastName)" Caption="Last Name" />
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.NickName)" Caption="Nick Name" />
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.DesignationName)" Caption="Designation" />
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.CompanyName)" Caption="Company" Width="100px" />
                                    </Columns>
                                </DxComboBox>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Fixed Asset No" ColSpanMd="6">
                                <DxTextBox @bind-Text="@Data.FixedAssetNo" ShowValidationIcon="true" />
                            </DxFormLayoutItem>

                            <DxFormLayoutItem Caption="Activity Status:" ColSpanMd="6">
                                <DxComboBox Data="@_ActivityStatusItem"
                                            NullText="Select Activity Status..."
                                            FilteringMode="DataGridFilteringMode.Contains"
                                            TextFieldName="Value"
                                            ValueFieldName="ApplicationMasterDetailID"
                                @bind-Value="Data.ActivityStatusId"
                                            ShowValidationIcon="true">
                                    _departmentItems
                                </DxComboBox>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Issue Related" ColSpanMd="12">
                                <DxTagBox NullText="Select Issue Related..."
                                          Data="@_ActivityMaster"
                                          ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                          TextFieldName="Value"
                                          ValueFieldName="ApplicationMasterDetailID"
                                @bind-Values="@Data.ActivityIssueRelateIds"
                                          CssClass="cw-480" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Department" ColSpanMd="12">
                                <DxTagBox Data="_departmentItems"
                                @bind-Values="Data.DepartmentIds"
                                          NullText="Select Department..."
                                          ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                          ValueFieldName="DepartmentId"
                                          TextFieldName="DepartmentDrop"
                                          FilteringMode="DataGridFilteringMode.Contains"
                                          ListRenderMode="ListRenderMode.Virtual">
                                    <DxListEditorColumn FieldName="@nameof(ViewDepartment.DepartmentCode)" Caption="Code" />
                                    <DxListEditorColumn FieldName="@nameof(ViewDepartment.DepartmentName)" Caption="Department Name" />
                                    <DxListEditorColumn FieldName="@nameof(ViewDepartment.Description)" Caption="Description" />
                                    <DxListEditorColumn FieldName="@nameof(ViewDepartment.Division)" Caption="Division" />
                                </DxTagBox>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Comment:" ColSpanMd="12">
                                <DxMemo @bind-Text="Data.Comment" Rows="5" />
                            </DxFormLayoutItem>
                        </DxFormLayout>

                    </EditForm>

                </div>
            </div>
        </div>
    </div>
</div>
<DxPopup @bind-Visible="@PopupLocationScanVisible"
         CssClass="popup-demo-events"
         ShowFooter="true" HeaderText="Scan Location" CloseOnEscape="false" ShowCloseButton="false" MinWidth="300" MinHeight="200" MaxWidth="400" MaxHeight="800" CloseOnOutsideClick="false">
    <BodyContentTemplate>
        <BlazorBarcodeScanner.ZXing.JS.BarcodeReader @ref="_reader"
                                                     StartCameraAutomatically="true"
                                                     Title="" ShowStop="false" ShowStart="false" ShowReset="false" ShowToggleTorch="false" ShowVideoDeviceList="false" ShowResult="false" FullWidthVideo="true"
                                                     OnBarcodeReceived="LocationReceivedBarcodeText" />
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => CloseLocationPopup())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@PopupProductionNoScanVisible"
         CssClass="popup-demo-events"
         ShowFooter="true" HeaderText="Scan Ticket No" CloseOnEscape="false" ShowCloseButton="false" MinWidth="300" MinHeight="200" MaxWidth="400" MaxHeight="800" CloseOnOutsideClick="false">
    <BodyContentTemplate>
        <BlazorBarcodeScanner.ZXing.JS.BarcodeReader @ref="_ticketNoReader"
                                                     StartCameraAutomatically="true"
                                                     Title="" ShowStop="false" ShowStart="false" ShowReset="false" ShowToggleTorch="false" ShowVideoDeviceList="false" ShowResult="false" FullWidthVideo="true"
                                                     OnBarcodeReceived="TicketNoReceivedBarcodeText" />
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => CloseTicketNoPopup())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@PopupUpload"
         HeaderText="Upload Documents"
         CloseOnOutsideClick="false"
         ShowCloseButton="false"
         ShowFooter="false"
         MinWidth="300" MinHeight="500" MaxWidth="1000px" MaxHeight="12000px">
    <BodyContentTemplate>
        <UploadProductionActivityFilesIpirs _applicationUser="@applicationUser" UploadSessionId="@UploadSessionId" FileProfileTypeId="@FileProfileTypeId" RevokeUploadBack="BackUploadUploads"></UploadProductionActivityFilesIpirs>

    </BodyContentTemplate>
</DxPopup>
@code {
    bool PopupLocationScanVisible { get; set; } = false;
    bool PopupProductionNoScanVisible { get; set; } = false;
    long? CompanyID;
    string? NAVProdOrderno;
    long? LocationID;
    EditContext _editContext;
    private BarcodeReader _reader; private BarcodeReader _ticketNoReader;
    private List<ViewPlants> _plantItems;
    private List<ProductionActivityApp> _productionActivities;
    private List<ViewDepartment> _departmentItems;
    private List<NavprodOrderLineModel> _ponumberActivities;
    private List<NavprodOrderLineModel> _poOrderDetails;
    IpirApp Data = new IpirApp();
    public ApplicationUser applicationUser { get; private set; }
    private List<ProductActivityAppModel> _AppLines;
    private string? DocumentViewUrl;
    private string? ServerUrl;
    private string? LocationName; private string? TicketNo;
    public List<DocumentProfileNoSeriesModel> _documentProfileNoList { get; set; }
    [Parameter]
    public IpirApp _selectedEditItems { get; set; }
    [Parameter]
    public Action RevokeBack { get; set; }
    bool PopupUpload { get; set; } = false;
    public long? FileProfileTypeId { get; set; }
    public long? IpirAppId { get; set; }
    public Guid? UploadSessionId { get; set; }
    bool uploadEnabled { get; set; } = false;
    private List<View_ApplicationMasterDetail> _ActivityStatusItem;
    private List<View_ApplicationMasterDetail> _ActivityMaster;
    private List<ViewEmployee>? _usersList;
    protected override async Task OnInitializedAsync()
    {
        DocumentViewUrl = Configuration["DocumentsUrl:DocumentViewer"];
        ServerUrl = Configuration["DocumentsUrl:ServerUrl"];
        _editContext = new EditContext(Data);
        _plantItems = await Mediator.Send(new GetAllPlantQuery());
        _documentProfileNoList = await Mediator.Send(new GetDocumentProfiles());
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _ActivityStatusItem = await Mediator.Send(new GetAllApplicationMasterDetailQuery(341));
        _ActivityMaster = await Mediator.Send(new GetAllApplicationMasterDetailQuery(340));
        _usersList = await Mediator.Send(new GetAllEmployeeQuery());
        Data.AddedDate = DateTime.Now; Data.ModifiedDate = DateTime.Now;
        Data.AddedBy = applicationUser.UserName;
        Data.AddedByUserID = applicationUser.UserID;
        Data.ModifiedByUserID = applicationUser.UserID;
        if (_selectedEditItems != null)
        {
            IpirAppId = _selectedEditItems.IpirAppId;
            Data.AddedDate = _selectedEditItems.AddedDate;
            Data.AddedByUserID = _selectedEditItems.AddedByUserID;
            Data.ModifiedByUserID = applicationUser.UserID;
            Data.ModifiedDate = DateTime.Now;
            Data.IpirAppId = _selectedEditItems.IpirAppId;
            Data.Comment = _selectedEditItems.Comment;
            Data.LocationID = _selectedEditItems.LocationID;
            Data.CompanyID = _selectedEditItems.CompanyID;
            Data.ProdOrderNo = _selectedEditItems.ProdOrderNo;
            Data.ProfileId = _selectedEditItems.ProfileId;
            Data.ProfileNo = _selectedEditItems.ProfileNo;
            Data.FixedAssetNo = _selectedEditItems.FixedAssetNo;
            Data.ReportingPersonal = _selectedEditItems.ReportingPersonal;
            Data.SessionID = _selectedEditItems.SessionID;
            Data.ActivityIssueRelateIds = _selectedEditItems.ActivityIssueRelateIds;
            Data.DetectedBy = _selectedEditItems.DetectedBy;
            Data.MachineName = _selectedEditItems.MachineName;
            Data.ActivityStatusId = _selectedEditItems.ActivityStatusId;
            UploadSessionId = _selectedEditItems.SessionID;
            LocationID = Data.LocationID; Data.DepartmentIds = _selectedEditItems.DepartmentIds;
            uploadEnabled = true;
            if (_selectedEditItems.IsDocuments > 0)
            {
                uploadEnabled = false;
            }
            if (_plantItems.Count > 0)
            {
                var _plantItem = _plantItems.FirstOrDefault(f => f.PlantID == Data.CompanyID);
                if (_plantItem != null)
                {
                    await SelectedItemPlantChanged(_plantItem, "Edit");
                }
            }
        }
        StateHasChanged();
    }
    async Task getBySessionId()
    {
        var datas = await Mediator.Send(new GetAllIpirAppOneQuery(_selectedEditItems.SessionID));
        uploadEnabled = true;
        if (datas.IsDocuments > 0)
        {
            uploadEnabled = false;
        }
        StateHasChanged();
    }
    async Task SelectedItemloc(ProductionActivityApp loc)
    {
        LocationID = 0; _editContext = new EditContext(Data);
        if (loc != null && loc.ICTMasterID > 0)
        {
            LocationID = loc.ICTMasterID;
        }
        StateHasChanged();
    }
    async Task SelectedItemPlantChanged(ViewPlants PlantsData, string Type)
    {
        _productionActivities = new List<ProductionActivityApp>();
        _ponumberActivities = new List<NavprodOrderLineModel>(); _departmentItems = new List<ViewDepartment>();
        _AppLines = new List<ProductActivityAppModel>(); _poOrderDetails = new List<NavprodOrderLineModel>();
        if (Type != "Edit")
        {
            NAVProdOrderno = string.Empty; CompanyID = 0; Data.CompanyID = null; Data.LocationID = null; Data.ProdOrderNo = null; LocationID = 0; Data.DepartmentIds = new List<long?>();
        }
        if (PlantsData != null && PlantsData.PlantID > 0)
        {
            CompanyID = PlantsData.PlantID;
            Data.CompanyID = CompanyID;
            _departmentItems = await Mediator.Send(new GetDepartmentByCompany(CompanyID));
            _productionActivities = await Mediator.Send(new GetAllProductionActivityAppQuery(CompanyID));
            _ponumberActivities = await Mediator.Send(new GetAllProductionActivityPONumberAppQuery(CompanyID));
        }
    }
    async Task SelectedLoadItemPlantChanged(long? companyId, long? locationID)
    {
        _productionActivities = new List<ProductionActivityApp>();
        _ponumberActivities = new List<NavprodOrderLineModel>(); _departmentItems = new List<ViewDepartment>();
        _AppLines = new List<ProductActivityAppModel>(); _poOrderDetails = new List<NavprodOrderLineModel>();
        NAVProdOrderno = string.Empty; CompanyID = 0; Data.CompanyID = null; Data.LocationID = null; Data.ProdOrderNo = null; LocationID = 0;
        if (locationID > 0)
        {
            Data.LocationID = locationID; LocationID = locationID;
        }
        if (companyId > 0)
        {
            CompanyID = companyId;
            Data.CompanyID = companyId;
            _departmentItems = await Mediator.Send(new GetDepartmentByCompany(CompanyID));
            _productionActivities = await Mediator.Send(new GetAllProductionActivityAppQuery(CompanyID));
            _ponumberActivities = await Mediator.Send(new GetAllProductionActivityPONumberAppQuery(CompanyID));
        }
        StateHasChanged();
    }

    async void SelectedItemprod(string? NAVProdOrder)
    {

        NAVProdOrderno = string.Empty;
        if (!string.IsNullOrEmpty(NAVProdOrder))
        {
            NAVProdOrderno = NAVProdOrder;
        }
        else
        {
            _AppLines = new List<ProductActivityAppModel>(); _poOrderDetails = new List<NavprodOrderLineModel>();
        }
        StateHasChanged();
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    void onBack()
    {
        RevokeBack?.Invoke();
    }
    void OnButtonClick()
    {
        PopupLocationScanVisible = true;
    }
    void CloseLocationPopup()
    {
        PopupLocationScanVisible = false;
        _reader.StopDecoding();
    }
    void CloseTicketNoPopup()
    {
        PopupProductionNoScanVisible = false;
        _ticketNoReader.StopDecoding();
    }
    void OnButtonTicketNoClick()
    {
        PopupProductionNoScanVisible = true;
    }
    async Task LocationReceivedBarcodeText(BarcodeReceivedEventArgs args)
    {
        LocationName = args.BarcodeText; LocationID = 0;
        if (!string.IsNullOrEmpty(LocationName))
        {
            var result = await Mediator.Send(new GetAllProductionActivityLocationAppQuery(LocationName));
            if (result != null && result.ICTMasterID > 0 && result.CompanyID > 0)
            {
                await SelectedLoadItemPlantChanged(result.CompanyID, result.ICTMasterID);
                toastService.ShowToast("Location Found Successfully", AC.SD.Core.Services.ToastLevel.Success);
                CloseLocationPopup();
            }
            else
            {
                toastService.ShowToast("Location Not Found", AC.SD.Core.Services.ToastLevel.Error);
            }
        }
        else
        {
            toastService.ShowToast("Location Not Found", AC.SD.Core.Services.ToastLevel.Error);
        }
        StateHasChanged();
    }
    void TicketNoReceivedBarcodeText(BarcodeReceivedEventArgs args)
    {
        TicketNo = args.BarcodeText; LocationID = 0;
        if (!string.IsNullOrEmpty(TicketNo))
        {
            var ticketNo = TicketNo.Split("~");
            if (ticketNo.Length > 0)
            {
                var exists = ticketNo.ElementAtOrDefault(5) != null;
                if (exists == true)
                {
                    var poNo = _ponumberActivities.Where(w => w.ProdOrderNo != null).FirstOrDefault(f => f.ProdOrderNo.ToLower() == ticketNo[5].ToLower());
                    if (poNo != null)
                    {
                        Data.ProdOrderNo = poNo.ProdOrderNo; NAVProdOrderno = poNo.ProdOrderNo;
                        toastService.ShowToast("TicketNo Found Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        CloseTicketNoPopup();
                    }
                    else
                    {
                        toastService.ShowToast("TicketNo Not Found", AC.SD.Core.Services.ToastLevel.Error);
                    }
                }
                else
                {
                    toastService.ShowToast("Invaild TicketNo", AC.SD.Core.Services.ToastLevel.Error);
                }
            }
            else
            {
                toastService.ShowToast("TicketNo Not Found", AC.SD.Core.Services.ToastLevel.Error);
            }
        }
        else
        {
            toastService.ShowToast("TicketNo Not Found", AC.SD.Core.Services.ToastLevel.Error);
        }
        StateHasChanged();
    }
    void addNewProductionForm()
    {
        _editContext = new EditContext(Data);

        Data.AddedDate = DateTime.Now;
        Data.AddedBy = applicationUser.UserName;
        Data.AddedByUserID = applicationUser.UserID;
        Data.ModifiedByUserID = applicationUser.UserID; Data.ModifiedDate = DateTime.Now;
        Data.CompanyID = null; Data.LocationID = null; Data.BatchNo = null; Data.ProdOrderNo = null; Data.NavprodOrderLineID = null;
        Data.ProfileId = null; Data.ProfileNo = null; Data.Comment = null; Data.FixedAssetNo = null; Data.ReportingPersonal = null;
        UploadSessionId = null; Data.IpirAppId = 0; IpirAppId = null;
        Data.ActivityIssueRelateIds = new List<long?>();
        Data.DetectedBy = null;
        Data.ActivityStatusId = null; Data.DepartmentIds = new List<long?>();
        _productionActivities = new List<ProductionActivityApp>();
        _ponumberActivities = new List<NavprodOrderLineModel>(); _departmentItems = new List<ViewDepartment>();
        _AppLines = new List<ProductActivityAppModel>(); _poOrderDetails = new List<NavprodOrderLineModel>();
        StateHasChanged();
    }
    private async Task SubmitProductionFormExternally()
    {
        if (_editContext.Validate())
        {
            await this.HandleProductionFormValidSubmit();
        }
    }
    async Task HandleProductionFormValidSubmit()
    {
        if (Data.SessionID == null)
        {
            Data.SessionID = Guid.NewGuid();
        }
        Data.StatusCodeID = 1;
        var result = await Mediator.Send(new InsertOrUpdateIpirApp(Data));
        UploadSessionId = Data.SessionID;
        uploadEnabled = true;
        if (IpirAppId > 0)
        {
            IpirAppId = result.IpirAppId;
            Data.IpirAppId = result.IpirAppId;
            Data.ProfileNo = result.ProfileNo;
            toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
        }
        else
        {
            IpirAppId = result.IpirAppId;
            Data.IpirAppId = result.IpirAppId;
            Data.ProfileNo = result.ProfileNo;
            toastService.ShowToast("Record Save Successfully", AC.SD.Core.Services.ToastLevel.Success);
        }
        // addNewProductionForm();
        StateHasChanged();
    }
    void uploadFiles()
    {
        PopupUpload = true;
    }
    void BackUploadUploads()
    {
        PopupUpload = false;
        InvokeAsync(getBySessionId);
        StateHasChanged();
    }
    public void Dispose()
    {
        System.GC.Collect();
        GC.SuppressFinalize(this);
    }
}


