@page "/IpirApp"
@page "/IpirApp/{SessionId:guid}"
@using global::Core.Entities.Views;

@inject IMediator Mediator
@using Application.Queries;
@using MediatR
@using global::Core.Entities;
@using global::Core.EntityModels;
@using global::Core.Repositories.Query;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration
@inject ClipboardService ClipboardService
@inject IJSRuntime jsRuntime
@implements IAsyncDisposable


<div class="card" style="margin-bottom:10px; margin-top: 10px; margin-right:-12px;">
    <div class="card-body p-0">
        <div class="row">
            <div class="">
                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Auto">
                    <Items>
                        @* <DxMenuItem Text="Add New" IconCssClass="fas fa-add" Click="@addNewForm" Enabled="@addEnabled" /> *@

                     

                        <DxMenuItem Text="More" Position="ItemPosition.End" IconCssClass="fa fa-ellipsis-v" style="@isVisibleMore">
                            <Items>
                                <DxMenuItem Text="Add Supervisor" IconCssClass="fas fa-add" Click="@editForm" Visible="@AddSuperEnabled" />
                                <DxMenuItem Text="Update to DMS Folder" IconCssClass="fas fa-pencil" Click="@OnUpdateDMS" Visible="@DMSUpdateEnabled" />
                                <DxMenuItem Text="Copy Link" Click="onCopy" IconCssClass="fa fa-link" Visible="CopyLinkEnabled" />
                                <DxMenuItem Text="CheckOut" Click="onCheckOut" IconCssClass="fa fa-check-square" Visible="CheckOutEnabled" />
                                <DxMenuItem Text="CheckIn" Click="onCheckin" IconCssClass="fa fa-check-circle" Visible="CheckInEnabled" />
                                <DxMenuItem Text="View File" Click="onView" IconCssClass="fa fa-eye" Visible="viewEnabled" />
                               <DxMenuItem Text="Edit" IconCssClass="fas fa-pencil" Click="@editForm" Visible="@EditEnabled" />
                               @*  <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@deleteForm" Visible="@DeleteEnabled" /> *@
                               <DxMenuItem Text="Upload" IconCssClass="fa fa-cloud-upload" Click="@uploadFiles" Visible="@uploadEnabled" /> 
                                <DxMenuItem Text="Supporting Documents" Click="onSupportingDocuments" IconCssClass="fa fa-adjust" Visible="SupportDocEnabled" />
                                <DxMenuItem Text="Check By" IconCssClass="fa fa-envelope" Click="onIsChecker" Visible="IsChecker" />
                                <DxMenuItem Text="Deviation Form" IconCssClass="fa fa-wpforms" Click="@(_ => OnClickDynamicFormOpen("Deviation"))" Visible="IsDeviationForm" />
                                <DxMenuItem Text="Change Control Form" IconCssClass="fa fa-wpforms" Click="@(_ => OnClickDynamicFormOpen("Change Control"))" Visible="IsChangeControlForm" />
                                <DxMenuItem Text="Work Order Form" IconCssClass="fa fa-wpforms" Click="@(_ => OnClickDynamicFormOpen("Work Order"))" Visible="IsWorkOrderForm" />
                            </Items>
                        </DxMenuItem>
                    </Items>
                </DxMenu>
            </div>
        </div>
    </div>
</div>
<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">
    <DxGrid @ref="Grid" Data="@_dynamicForm" EditMode="GridEditMode.EditForm" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            PageSizeSelectorVisible="true" VirtualScrollingEnabled="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            style="height: calc(100vh - 220px);"
            CssClass="ch-360"
            FocusedRowEnabled="true"
            KeyFieldName="IpirAppId"
            AllowSelectRowByClick="true"
            RowClick="OnRowclick"
            CustomizeElement="Grid_CustomizeElement"
            AutoExpandAllGroupRows="true"
            SelectionMode="GridSelectionMode.Multiple"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            RowDoubleClick="OnRowDoubleClick">

        <Columns>
            <DxGridDataColumn Caption="" MinWidth="180">
                <CellDisplayTemplate>
                    @{
                        var item = (IpirApp)context.DataItem;
                    }
                    @if (item.DocumentID > 0)
                    {
                        @if (item.IsLocked == true)
                        {
                            <i class="fa fa-lock" aria-hidden="true" style="padding:5px;margin-right: 5px;" title="@item.LockedByUser"></i>
                        }
                        else
                        {
                            <i class="fa fa-lock-open" aria-hidden="true" style="padding:5px;margin-right: 5px;"></i>
                        }

                        <i class="fa fa-paperclip" aria-hidden="true" style="padding:5px;margin-right: 5px;color:black" title="@item.FileName"></i>
                    }
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn Caption="Name" FieldName="FileName" MinWidth="180" />
            <DxGridDataColumn FieldName="ProfileNo" MinWidth="150" Caption="Profile No" />
            <DxGridDataColumn FieldName="ProdOrderNoDescription" Caption="Prod OrderNo" MinWidth="180" />
            <DxGridDataColumn FieldName="CompanyName" Caption="Company" MinWidth="180" />
            <DxGridDataColumn FieldName="LocationName" Caption="Location" MinWidth="180" />
            <DxGridDataColumn FieldName="MachineName" Caption="Machine" MinWidth="180" />
            <DxGridDataColumn FieldName="ReportingPersonalName" Caption="Reporting Personal" MinWidth="180" Visible="false"/>
            <DxGridDataColumn FieldName="DetectedByName" Caption="Detected By" MinWidth="180" />
            <DxGridDataColumn FieldName="Subject" Caption="Subject Name" MinWidth="180" />
            <DxGridDataColumn FieldName="StatusName" Caption="Status" MinWidth="180" />
            <DxGridDataColumn FieldName="AddedDate" Caption="Date" MinWidth="180" >
                <CellDisplayTemplate>
                    @{
                        var item = (IpirApp)context.DataItem;
                    }
                    @Application.Common.Helper.Helper.FormatDateTime(item.AddedDate)
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="AddedBy" Caption="Added By" MinWidth="180" />
        </Columns>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="FileName" />
        </TotalSummary>
    </DxGrid>
</DxLoadingPanel>
<DxPopup @bind-Visible="@AddPopup"
         ShowFooter="false"
         HeaderText="Add Ipir"
         Closed="EulaPopupClosed"
         CloseOnOutsideClick="false"
         MinWidth="300" MinHeight="200" MaxWidth="1000px" MaxHeight="800"
         CloseOnEscape="true" ShowCloseButton="true">
    <BodyContentTemplate>
        <IpirApps @ref="RefToDoLeftNotes" RevokeBack="ClosePopup" _selectedEditItems="@_selectedEditItems"></IpirApps>

    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => ClosePopup())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@UpdateProfilePopup"
         ShowFooter="false"
         HeaderText="Update DMS Folder"
         Closed="EulaPopupClosed"
         CloseOnOutsideClick="false"
         MinWidth="300" MinHeight="200" MaxWidth="1000px" MaxHeight="800"
         CloseOnEscape="true" ShowCloseButton="true">
    <BodyContentTemplate>
        <UpdateProfilePage @ref="Refprofilepage" RevokeBack="CloseUpdatePopup" _selectedEditItems="@_selectedEditItems" _applicationUser="@applicationUser"></UpdateProfilePage>

    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => ClosePopup())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@PopupUpload"
         HeaderText="Upload Documents"
         CloseOnOutsideClick="false"
         ShowCloseButton="true"
         ShowFooter="false"
         MinWidth="300" MinHeight="500" MaxWidth="1000px" MaxHeight="12000px">
    <BodyContentTemplate>
        <UploadProductionActivityFilesIpirs _applicationUser="@applicationUser" UploadSessionId="@UploadSessionId" FileProfileTypeId="@FileProfileTypeId" RevokeUploadBack="BackUploadUpload"></UploadProductionActivityFilesIpirs>

    </BodyContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@SupportingDocumentsPopup"
         ShowFooter="true"
         HeaderText="Supporting Documents"
         CloseOnOutsideClick="false" ShowCloseButton="true"
         MinWidth="300" MinHeight="200" MaxWidth="1000px" MaxHeight="800">
    <BodyContentTemplate>
        <SupportingDocumentsIpirApps selectedFiles="@_selectedItems"></SupportingDocumentsIpirApps>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => BackUploadUpload())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="Delete"
         Closed="EulaPopupClosed"
         ShowCloseButton="true"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete?
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="deleteFileProfileTypes" />

    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@IsCheckerPopUp"
         ShowFooter="false"
         HeaderText="Check By"
         CloseOnOutsideClick="false"
         ShowCloseButton="true"
         CloseOnEscape="false"
         MinWidth="300" MinHeight="200" MaxWidth="1200px" MaxHeight="800">
    <BodyContentTemplate>
        <UpdateActivityCheckersIpir selectedFiles="@_selectedItems" applicationUser="@applicationUser" RevokeBack="BackUploadUpload"></UpdateActivityCheckersIpir>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => BackUploadUpload())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@PopupCheckInUpload"
         HeaderText="Upload Documents"
         CloseOnOutsideClick="false"
         ShowCloseButton="true"
         ShowFooter="false"
         MinWidth="300" MinHeight="200" MaxWidth="1000px" MaxHeight="800">
    <BodyContentTemplate>
        <AC.SD.Core.Pages.DMS.UploadDocumentUpdateFiles FolderPathLists="@FolderPathLists" selectedItems="@_selectedDocItems" applicationUser="@applicationUser" FileProfileSessionId="@FileProfileSessionId" RevokeBack="BackUploadUpload"></AC.SD.Core.Pages.DMS.UploadDocumentUpdateFiles>
    </BodyContentTemplate>
</DxPopup>
@code {
    bool UpdateProfilePopup { get; set; } = false;
    bool AddSuperEnabled { get; set; } = false;
    [Parameter]
    public Guid? SessionId { get; set; }
    public string isVisibleMore { get; set; } = "display:none;";
    List<DocumentsModel> FolderPathLists = new List<DocumentsModel>();
    private DocumentsModel? _selectedDocItems;
    private IpirApps? RefToDoLeftNotes { get; set; }
    private UpdateProfilePage? Refprofilepage { get; set; }
    bool createEmailpopup { get; set; } = false;
    bool emailEnabled { get; set; } = false;
    IGrid Grid { get; set; }
    bool PanelVisible { get; set; }
    private List<IpirApp> _dynamicForm;
    public Guid? FileProfileSessionId { get; set; }
    DocumentsModel _documentsItems = new DocumentsModel();
    DocumentsModel selectedFiles = new DocumentsModel();
    public ApplicationUser? applicationUser { get; private set; }
    private IpirApp _selectedItems; private IpirApp _selectedEditItems;
    bool DMSUpdateEnabled { get; set; } = false;
    bool EditEnabled { get; set; } = false; bool addEnabled { get; set; } = false;
    bool DeleteEnabled { get; set; } = false; bool uploadEnabled { get; set; } = false;
    bool Blukdeletepopup { get; set; } = false; bool AddPopup { get; set; } = false; bool PopupUpload { get; set; } = false;
    public long? FileProfileTypeId { get; set; }
    bool PopupCheckInUpload { get; set; } = false;
    public Guid? UploadSessionId { get; set; }
    public bool IsChecker { get; set; } = false; public bool IsCheckerPopUp { get; set; } = false;
    public bool SupportingDocumentsPopup { get; set; } = false; bool SupportDocEnabled { get; set; } = false;
    public bool CheckOutEnabled { get; set; } = false;
    public bool CheckInEnabled { get; set; } = false;
    public bool viewEnabled { get; set; } = false;
    public bool CopyLinkEnabled { get; set; } = false;
    private string? DocumentViewUrl; public bool IsDeviationForm { get; set; } = false; public bool IsChangeControlForm { get; set; } = false; public bool IsWorkOrderForm { get; set; } = false;
    private string? ServerUrl; public List<DocumentsModel> fileProfileTypeDocumentsAll { get; set; }
    protected override async Task OnInitializedAsync()
    {
        DocumentViewUrl = Configuration["DocumentsUrl:DocumentViewer"];
        ServerUrl = Configuration["DocumentsUrl:ServerUrl"];
        fileProfileTypeDocumentsAll = await Mediator.Send(new GetAllfileprofiletypeListQuery());
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        await UpdateDataAsync();
    }
    async Task UpdateDataAsync()
    {
        isVisibleMore = "display:none;";
        EditEnabled = false; DeleteEnabled = false; emailEnabled = false; addEnabled = true; uploadEnabled = false; SupportDocEnabled = false; IsChecker = false;
        CheckOutEnabled = false; CheckInEnabled = false; CopyLinkEnabled = false;
        viewEnabled = false; IsDeviationForm = false; IsChangeControlForm = false; IsWorkOrderForm = false; DMSUpdateEnabled = false;
        _dynamicForm = await Mediator.Send(new GetAllIpirAppQuery());
        PanelVisible = true;
        if (_dynamicForm != null && _dynamicForm.Count > 0)
        {
            EditEnabled = true; DeleteEnabled = true; emailEnabled = true; uploadEnabled = true; SupportDocEnabled = true; IsChecker = true;
            if (SessionId != null)
            {
                var items = _dynamicForm.Where(f => f.SessionID == SessionId).ToList();
                if (items != null && items.Count > 0)
                {
                    _dynamicForm = items;
                    _selectedItems = items.FirstOrDefault();
                    loadSelectedItems();
                }
                else
                {
                    _selectedItems = _dynamicForm.FirstOrDefault();
                    loadSelectedItems();
                }
            }
            else
            {
                _selectedItems = _dynamicForm.FirstOrDefault();
                loadSelectedItems();
            }

        }
        PanelVisible = false;
        StateHasChanged();
    }
    void loadSelectedItems()
    {
        IsDeviationForm = false; IsChangeControlForm = false; IsWorkOrderForm = false;
        if (_selectedItems != null)
        {
            isVisibleMore = "";
            UploadSessionId = _selectedItems.SessionID;
            if (_selectedItems.IsDocuments > 0)
            {
                uploadEnabled = false; viewEnabled = true; CopyLinkEnabled = true; DMSUpdateEnabled = true;
            }
            if (_selectedItems.FileProfileTypeId > 0)
            {
                FileProfileSessionId = fileProfileTypeDocumentsAll.FirstOrDefault(f => f.FileProfileTypeId == _selectedItems.FileProfileTypeId)?.SessionID;
            }
            if (_selectedItems.IsLocked == true)
            {
                CheckOutEnabled = false;
                CheckInEnabled = true; CopyLinkEnabled = false;
                EditEnabled = false; DeleteEnabled = false; IsDeviationForm = false; IsChangeControlForm = false; IsWorkOrderForm = false;
                viewEnabled = false; SupportDocEnabled = false; IsChecker = false;DMSUpdateEnabled = false;
            }
            else
            {
                if (_selectedItems.IsDocuments > 0)
                {
                    CheckOutEnabled = true;
                }
                CheckInEnabled = false;
                if (_selectedItems.ActivityIssueRelates != null && _selectedItems.ActivityIssueRelates.Count() > 0)
                {
                    var IsDeviationFormEnable = _selectedItems.ActivityIssueRelates.FirstOrDefault(f => f.IssueRelateName != null && "Deviation".ToLower().Contains(f.IssueRelateName.ToLower()));
                    if (IsDeviationFormEnable != null)
                    {
                        IsDeviationForm = true;
                    }
                    var IsChangeControlFormEnable = _selectedItems.ActivityIssueRelates.FirstOrDefault(f => f.IssueRelateName != null && "Change Control".ToLower().Contains(f.IssueRelateName.ToLower()));
                    if (IsChangeControlFormEnable != null)
                    {
                        IsChangeControlForm = true;
                    }
                    var IsWorkOrderFormEnable = _selectedItems.ActivityIssueRelates.FirstOrDefault(f => f.IssueRelateName != null && "Work Order".ToLower().Contains(f.IssueRelateName.ToLower()));
                    if (IsWorkOrderFormEnable != null)
                    {
                        IsWorkOrderForm = true;
                    }
                }
            }
            Grid.ClearSelection();
            Grid.Reload();
            Grid.SetFocusedRowIndex(0);
            StateHasChanged();
        }
    }
    async Task OnClickDynamicFormOpen(string? Type)
    {
        if (Type == "Deviation")
        {
            var IsDeviationFormEnable = _selectedItems.ActivityIssueRelates.FirstOrDefault(f => f.IssueRelateName != null && "Deviation".ToLower().Contains(f.IssueRelateName.ToLower()));
            if (IsDeviationFormEnable != null)
            {
                var resultData = await Mediator.Send(new GetIpirAppIssueDepByDynamicForm(IsDeviationFormEnable.IpirAppIssueDepId));
                if (resultData.DynamicFormDataId > 0)
                {
                    var url = NavigationManager.BaseUri + "DynamicMasterSetupList/dynamicForms/" + resultData.DynamicFormSessionId + "/" + resultData.DynamicFormDataSessionId + "/?SessionId=" + _selectedItems.SessionID + "&&Type=" + IsDeviationFormEnable.ActivityInfoIssueId;
                    await JSRuntime.InvokeVoidAsync("window.open", url, "_blank");
                }
                else
                {

                    var result = await Mediator.Send(new GetDynamicFormScreenNameCheckValidation("Deviationtrackingflow"));
                    if (result != null && result.ID > 0)
                    {
                        var url = NavigationManager.BaseUri + "DynamicMasterSetupList/dynamicForms/" + result.SessionID + "/?SessionId=" + _selectedItems.SessionID + "&&Type=" + IsDeviationFormEnable.ActivityInfoIssueId;
                        await JSRuntime.InvokeVoidAsync("window.open", url, "_blank");
                    }
                }
            }
        }
        if (Type == "Change Control")
        {
            var IsChangeControlFormEnable = _selectedItems.ActivityIssueRelates.FirstOrDefault(f => f.IssueRelateName != null && "Change Control".ToLower().Contains(f.IssueRelateName.ToLower()));
            if (IsChangeControlFormEnable != null)
            {
                var resultData = await Mediator.Send(new GetIpirAppIssueDepByDynamicForm(IsChangeControlFormEnable.IpirAppIssueDepId));
                if (resultData.DynamicFormDataId > 0)
                {
                    var url = NavigationManager.BaseUri + "DynamicMasterSetupList/dynamicForms/" + resultData.DynamicFormSessionId + "/" + resultData.DynamicFormDataSessionId + "/?SessionId=" + _selectedItems.SessionID + "&&Type=" + IsChangeControlFormEnable.ActivityInfoIssueId;
                    await JSRuntime.InvokeVoidAsync("window.open", url, "_blank");
                }
                else
                {
                    var result = await Mediator.Send(new GetDynamicFormScreenNameCheckValidation("ChangeControl"));
                    if (result != null && result.ID > 0)
                    {
                        var url = NavigationManager.BaseUri + "DynamicMasterSetupList/dynamicForms/" + result.SessionID + "/?SessionId=" + _selectedItems.SessionID + "&&Type=" + IsChangeControlFormEnable.ActivityInfoIssueId;
                        await JSRuntime.InvokeVoidAsync("window.open", url, "_blank");
                    }
                }
            }
        }
        if (Type == "Work Order")
        {
            var IsWorkOrderFormEnable = _selectedItems.ActivityIssueRelates.FirstOrDefault(f => f.IssueRelateName != null && "Work Order".ToLower().Contains(f.IssueRelateName.ToLower()));
            if (IsWorkOrderFormEnable != null)
            {
                var resultData = await Mediator.Send(new GetIpirAppIssueDepByDynamicForm(IsWorkOrderFormEnable.IpirAppIssueDepId));
                if (resultData.DynamicFormDataId > 0)
                {
                    var url = NavigationManager.BaseUri + "DynamicMasterSetupList/dynamicForms/" + resultData.DynamicFormSessionId + "/" + resultData.DynamicFormDataSessionId + "/?SessionId=" + _selectedItems.SessionID + "&&Type=" + IsWorkOrderFormEnable.ActivityInfoIssueId;
                    await JSRuntime.InvokeVoidAsync("window.open", url, "_blank");
                }
                else
                {
                    var result = await Mediator.Send(new GetDynamicFormScreenNameCheckValidation("WorkOrderforQC"));
                    if (result != null && result.ID > 0)
                    {
                        var url = NavigationManager.BaseUri + "DynamicMasterSetupList/dynamicForms/" + result.SessionID + "/?SessionId=" + _selectedItems.SessionID + "&&Type=" + IsWorkOrderFormEnable.ActivityInfoIssueId;
                        await JSRuntime.InvokeVoidAsync("window.open", url, "_blank");
                    }
                }
            }
        }
    }
    void CloseUpdatePopup()
    {
        UpdateProfilePopup = false;
        StateHasChanged();
    }
    async void ClosePopup()
    {
        AddPopup = false;
        AddSuperEnabled = false;
        await UpdateDataAsync();
        // InvokeAsync(UpdateDataAsync);
        StateHasChanged();
    }
    void onIsChecker()
    {
        IsCheckerPopUp = true;
    }
    void addNewForm()
    {
        _selectedEditItems = null;
        AddPopup = true;
    }
    void EulaPopupClosed()
    {
        Blukdeletepopup = false;
        AddPopup = false;
    }
    async Task deleteFileProfileTypes()
    {
        if (_selectedItems != null)
        {
            Blukdeletepopup = false;
            await Mediator.Send(new DeleteIpirApp(_selectedItems));
            toastService.ShowToast("Record Deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();
        }
    }
    void editForm()
    {
        _selectedEditItems = _selectedItems;
        AddPopup = true;
    }
    void deleteForm()
    {
        Blukdeletepopup = true;
    }
    void uploadFiles()
    {
        PopupUpload = true;
    }
    void onSupportingDocuments()
    {
        SupportingDocumentsPopup = true;
    }
    void BackUploadUpload()
    {
        IsCheckerPopUp = false; PopupCheckInUpload = false;
        PopupUpload = false; SupportingDocumentsPopup = false;
        InvokeAsync(UpdateDataAsync);
        StateHasChanged();
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
    }
    void OnRowclick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "IpirAppId");
        _selectedItems = _dynamicForm.FirstOrDefault(f => f.IpirAppId == (long?)UniqueId);
        UploadSessionId = _selectedItems.SessionID;

        uploadEnabled = true; isVisibleMore = ""; IsChecker = true;
        DeleteEnabled = true; emailEnabled = true; SupportDocEnabled = true; viewEnabled = false; CopyLinkEnabled = false; IsDeviationForm = false; IsChangeControlForm = false; IsWorkOrderForm = false; DMSUpdateEnabled = false;
        if(_selectedItems.ActivityStatusId > 0 )
        {
            AddSuperEnabled = false;
            EditEnabled = true;
        }
        else
        {
            AddSuperEnabled = true;
            EditEnabled = false;
        }
        if (_selectedItems.IsDocuments > 0)
        {
            uploadEnabled = false; viewEnabled = true; CopyLinkEnabled = true; DMSUpdateEnabled = true;
        }
        if (_selectedItems.FileProfileTypeId > 0)
        {
            FileProfileSessionId = fileProfileTypeDocumentsAll.FirstOrDefault(f => f.FileProfileTypeId == _selectedItems.FileProfileTypeId)?.SessionID;
        }
        if (_selectedItems.IsLocked == true)
        {
            CheckOutEnabled = false;
            CheckInEnabled = true; CopyLinkEnabled = false;
            EditEnabled = false; DeleteEnabled = false; IsDeviationForm = false; IsChangeControlForm = false; IsWorkOrderForm = false;
            viewEnabled = false; SupportDocEnabled = false; IsChecker = false; DMSUpdateEnabled = false;
        }
        else
        {
            if (_selectedItems.IsDocuments > 0)
            {
                CheckOutEnabled = true;
            }
            CheckInEnabled = false;
            IsDeviationForm = false; IsChangeControlForm = false; IsWorkOrderForm = false;
            if (_selectedItems.ActivityIssueRelates != null && _selectedItems.ActivityIssueRelates.Count() > 0)
            {
                var IsDeviationFormEnable = _selectedItems.ActivityIssueRelates.FirstOrDefault(f => f.IssueRelateName != null && "Deviation".ToLower().Contains(f.IssueRelateName.ToLower()));
                if (IsDeviationFormEnable != null)
                {
                    IsDeviationForm = true;
                }
                var IsChangeControlFormEnable = _selectedItems.ActivityIssueRelates.FirstOrDefault(f => f.IssueRelateName != null && "Change Control".ToLower().Contains(f.IssueRelateName.ToLower()));
                if (IsChangeControlFormEnable != null)
                {
                    IsChangeControlForm = true;
                }
                var IsWorkOrderFormEnable = _selectedItems.ActivityIssueRelates.FirstOrDefault(f => f.IssueRelateName != null && "Work Order".ToLower().Contains(f.IssueRelateName.ToLower()));
                if (IsWorkOrderFormEnable != null)
                {
                    IsWorkOrderForm = true;
                }
            }
        }
    }

    async void onView()
    {
        if (_selectedItems != null && _selectedItems.DocumentID > 0 && _selectedItems.FilePath != null)
        {
            if (_selectedItems.IsNewPath == true)
            {
                var url = DocumentViewUrl + "?url=" + _selectedItems.UniqueSessionId;
                await OpenDocumentPreview(url);
            }
            else
            {
                var url = DocumentViewUrl + "?url=" + _selectedItems.UniqueSessionId;
                await OpenDocumentPreview(url);
            }

        }
    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowclick(e);
    }
    private async Task OpenDocumentPreview(string url)
    {
        await jsRuntime.InvokeVoidAsync("window.open", url, "_blank");
    }
    async Task Download()
    {
        if (_selectedItems != null && _selectedItems.DocumentID > 0 && _selectedItems.FilePath != null)
        {
            var response = await Mediator.Send(new GetFileDownload(_selectedItems.DocumentID));
            if (response.StatusCodeID == 0)
            {
                toastService.ShowToast("File Not Exits", AC.SD.Core.Services.ToastLevel.Error);
            }
            else
            {
                await jsRuntime.InvokeVoidAsync("downloadFile", _selectedItems.FileName, response.ImageData, "");
            }
        }
    }
    async Task onCheckOut()
    {
        if (_selectedItems != null && _selectedItems.DocumentID > 0)
        {
            _documentsItems.DocumentID = _selectedItems.DocumentID.Value;
            _selectedItems.IsLocked = true;
            _selectedItems.LockedByUserId = applicationUser.UserID;
            _selectedItems.LockedByUser = applicationUser.UserName;
            await Mediator.Send(new GetFileProfileTypeCheckOut(_documentsItems));
            _selectedItems.IsLocked = true;
            _selectedItems.LockedByUserId = applicationUser.UserID;
            _selectedItems.LockedByUser = applicationUser.UserName;
            loadSelectedItems();
            await Download();
        }
    }
    private async Task OnUpdateDMS()
    {
        _selectedEditItems = _selectedItems;
        UpdateProfilePopup = true;
    }
    private async Task onCopy()
    {

        if (_selectedItems != null && _selectedItems.DocumentID > 0 && _selectedItems.FilePath != null)
        {
            if (_selectedItems.IsNewPath == true)
            {
                var url = DocumentViewUrl + "?url=" + _selectedItems.UniqueSessionId;
                await ClipboardService.WriteTextAsync(url);
                toastService.ShowToast("Copied", AC.SD.Core.Services.ToastLevel.Info);
            }
            else
            {
                var url = DocumentViewUrl + "?url=" + _selectedItems.UniqueSessionId;
                await ClipboardService.WriteTextAsync(url);
                toastService.ShowToast("Copied", AC.SD.Core.Services.ToastLevel.Info);
            }
        }
    }
    void onCheckin()
    {
        FolderPathLists = new List<DocumentsModel>(); _selectedDocItems = new DocumentsModel();
        if (_selectedItems != null && _selectedItems.FileProfileTypeId > 0)
        {
            var fileType = fileProfileTypeDocumentsAll.Where(w => w.FileProfileTypeId == _selectedItems.FileProfileTypeId).FirstOrDefault();
            FolderPathLists = GetAllFileProfileTypeName(fileProfileTypeDocumentsAll, fileType, FolderPathLists);
            FolderPathLists.Add(fileType);
            _selectedDocItems.FileName = _selectedItems.FileName;
            _selectedDocItems.DocumentID = _selectedItems.DocumentId.Value;
            _selectedDocItems.Extension = _selectedItems.FileName != null ? _selectedItems.FileName?.Split(".").Last() : "";
            _selectedDocItems.ContentType = _selectedItems.ContentType;
            _selectedDocItems.IsExpiryDate = fileType.IsExpiryDate;
            _selectedDocItems.DocumentParentId = _selectedItems.DocumentParentId;
            _selectedDocItems.ProfileID = fileType.ProfileID;
            _selectedDocItems.SessionID = _selectedItems.SessionID;
            _selectedDocItems.ProfileNo = _selectedItems.ProfileNo;
            _selectedDocItems.FileProfileTypeId = _selectedItems.FileProfileTypeId;
            PopupCheckInUpload = true;
        }

    }
    private List<DocumentsModel> GetAllFileProfileTypeName(List<DocumentsModel> foldersListItems, DocumentsModel s, List<DocumentsModel> foldersModel)
    {
        if (s.ParentId != null)
        {
            var items = foldersListItems.FirstOrDefault(f => f.FileProfileTypeId == s.ParentId);
            GetAllFileProfileTypeName(foldersListItems, items, foldersModel);
            foldersModel.Add(items);
        }
        return foldersModel;
    }
    public async ValueTask DisposeAsync()
    {
        if (_dynamicForm != null)
        {
            _dynamicForm.Clear();
            _dynamicForm = null;
        }
        if (fileProfileTypeDocumentsAll != null)
        {
            fileProfileTypeDocumentsAll.Clear();
            fileProfileTypeDocumentsAll = null;
        }
        FolderPathLists = null;
        _selectedDocItems = null;
        _documentsItems = null;
        selectedFiles = null;
        _selectedItems = null;
        _selectedEditItems = null;
        RefToDoLeftNotes?.DisposeAsync();
    }
    // public void Dispose()
    // {
    //     System.GC.Collect();
    //     GC.SuppressFinalize(this);
    // }
}
