@using Application.Queries;
@using MediatR;
@using Newtonsoft.Json;
@using global::Core.Entities;
@using global::Core.EntityModels;
@using global::Core.Entities.Views;
@using global::Core.Repositories.Query;
@inject IMediator Mediator
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject IJSRuntime JSRuntime;
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration
@inject ClipboardService ClipboardService
@inject IJSRuntime jsRuntime
@inject AC.SD.Core.Services.ToastService toastService
@inject NavigationManager Navigator
@implements IAsyncDisposable
<style>
    .dxuc-file-list-view {
        padding: 20px;
    }

    .dxuc-upload-icon {
        display: none; /* or any other style to disable or hide the icon */
    }
</style>

<div class="card" style="margin-bottom:10px; margin-top: 10px; margin-right:1px;">
    <div class="card-body p-0">
        <div class="row">
            <div class="">

                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Desktop">
                    <Items>
                        <DxMenuItem Text="Back" IconCssClass="fas fa-reply" Click="@onBack" />
                        <DxMenuItem Text="Update" IconCssClass="fas fa-pencil" Click="SubmitFormExternally" />
                    </Items>
                </DxMenu>

            </div>
        </div>
    </div>
</div>
  <div style="border: 1px solid #b2afaf;  margin-bottom: 10px; padding:10px;">
        <div class="mini-menu-bar-top">
            <div class="mini-menu-bar-heading">
            </div>

                <div class="views-accordion">
            <EditForm EditContext="this._editContext" Context="EditFormContext" OnValidSubmit="HandleValidSubmit">
                <DxFormLayout CssClass="w-100">
                    <DataAnnotationsValidator />
                  
                   
                    <DxFormLayoutItem Caption="File ProfileType" ColSpanMd="10">
                        <DxTextBox @bind-Text=@FileprofiletypeName>
                            <Buttons>
                                <DxEditorButton IconCssClass="fa fa-add" Id=@($"flyout-overview-target-container-FileProfileTypeOpen")
                                                Tooltip="Select File ProfileType"
                                                Click="@(_ => OnButtonFileProfileTypeClick())" />
                            </Buttons>
                        </DxTextBox>
                        <DxSpinEdit @bind-Value="@Data.FileProfileTypeId" ShowValidationIcon="true" style="display:none;" />
                        <ValidationMessage For="@(() => Data.FileProfileTypeId)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Company" ColSpanMd="6">
                        <DxComboBox Data="@_plantItems"
                                    NullText="Select Company..."
                                    ListRenderMode="ListRenderMode.Virtual"
                                    SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    TextFieldName="PlantCode"
                                    ValueFieldName="PlantID"
                                    ValueChanged="@((long? plantSelect) => SelectedItemChanged(plantSelect))"
                                    Enabled="isPlant"
                                    ValueExpression="@(() => Data.PlantId )"
                                    Value="@Data.PlantId"
                                    ShowValidationIcon="true">
                            <Columns>
                                <DxListEditorColumn FieldName="@nameof(ViewPlants.PlantCode)"
                                                    Caption="Plant Code"
                                                    Width="180px" />
                                <DxListEditorColumn FieldName="@nameof(ViewPlants.Description)"
                                                    Caption="Description" />
                                <DxListEditorColumn FieldName="@nameof(ViewPlants.NavCompanyName)"
                                                    Caption="Nav Company" />
                            </Columns>
                        </DxComboBox>
                        <ValidationMessage For="@(() => Data.PlantId)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Division" ColSpanMd="6">
                        <DxComboBox Data="@_divisionItems"
                                    NullText="Select Division..."
                                    ListRenderMode="ListRenderMode.Virtual"
                                    SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    TextFieldName="Name"
                                    ValueFieldName="DivisionID"
                                    Enabled="isDivision"
                                    ValueChanged="@((long? plantSelect) => SelectedItemDivisionChanged(plantSelect))"
                                    ValueExpression="@(() => Data.DivisionId )"
                                    Value="@Data.DivisionId"
                                    ShowValidationIcon="true">
                            <Columns>
                                <DxListEditorColumn FieldName="@nameof(ViewDivision.Name)"
                                                    Caption="Name"
                                                    Width="180px" />
                                <DxListEditorColumn FieldName="@nameof(ViewDivision.Code)"
                                                    Caption="Code" />
                                <DxListEditorColumn FieldName="@nameof(ViewDivision.Description)"
                                                    Caption="Description" />
                            </Columns>
                        </DxComboBox>
                        <ValidationMessage For="@(() => Data.DivisionId)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Department" ColSpanMd="6">
                        <DxComboBox Data="@_departmentItems"
                                    NullText="Select Department..."
                                    ListRenderMode="ListRenderMode.Virtual"
                                    SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    TextFieldName="DepartmentName"
                                    ValueFieldName="DepartmentId"
                                    Enabled="isDepartment"
                                    ValueChanged="@((long? plantSelect) => SelectedItemDepartementChanged(plantSelect))"
                                    ValueExpression="@(() => Data.DepartmentId )"
                                    Value="@Data.DepartmentId"
                                    ShowValidationIcon="true">
                            <Columns>
                                <DxListEditorColumn FieldName="@nameof(ViewDepartment.DepartmentName)"
                                                    Caption="Name"
                                                    Width="180px" />
                                <DxListEditorColumn FieldName="@nameof(ViewDepartment.DepartmentCode)"
                                                    Caption="Code" />
                                <DxListEditorColumn FieldName="@nameof(ViewDepartment.Description)"
                                                    Caption="Description" />
                            </Columns>
                        </DxComboBox>
                        <ValidationMessage For="@(() => Data.DepartmentId)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Section" ColSpanMd="6">
                        <DxComboBox Data="@_sectionItems"
                                    NullText="Select Section..."
                                    ListRenderMode="ListRenderMode.Virtual"
                                    SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    TextFieldName="SectionName"
                                    ValueFieldName="SectionId"
                                    Enabled="isSection"
                                    ValueChanged="@((long? plantSelect) => SelectedItemSectionChanged(plantSelect))"
                                    ValueExpression="@(() => Data.SectionId )"
                                    Value="@Data.SectionId"
                                    ShowValidationIcon="true">
                            <Columns>
                                <DxListEditorColumn FieldName="@nameof(ViewSection.SectionName)"
                                                    Caption="Name"
                                                    Width="180px" />
                                <DxListEditorColumn FieldName="@nameof(ViewSection.SectionCode)"
                                                    Caption="Code" />
                                <DxListEditorColumn FieldName="@nameof(ViewSection.Description)"
                                                    Caption="Description" />
                            </Columns>
                        </DxComboBox>
                        <ValidationMessage For="@(() => Data.SectionId)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="SubSection" ColSpanMd="6">
                        <DxComboBox Data="@_subSectionItems"
                                    NullText="Select SubSection..."
                                    ListRenderMode="ListRenderMode.Virtual"
                                    SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    TextFieldName="SubSectionName"
                                    ValueFieldName="SubSectionId"
                                    Enabled="isSubSection"
                                    @bind-Value="@Data.SubSectionId" ShowValidationIcon="true">
                            <Columns>
                                <DxListEditorColumn FieldName="@nameof(ViewSubSection.SubSectionName)"
                                                    Caption="Name"
                                                    Width="180px" />
                                <DxListEditorColumn FieldName="@nameof(ViewSubSection.SubSectionCode)"
                                                    Caption="Code" />
                                <DxListEditorColumn FieldName="@nameof(ViewSubSection.Description)"
                                                    Caption="Description" />
                            </Columns>
                        </DxComboBox>
                        <ValidationMessage For="@(() => Data.SubSectionId)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Expiry Date:" ColSpanMd="6" Visible="@isExpiryDate">
                        <DxDateEdit NullText="Select a Expiry Date..." MinDate="DateTime.Now" @bind-Date="@Data.ExpiryDate" CssClass="cw-320" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Description" ColSpanMd="6">
                        <DxMemo @bind-Text="@Data.Description" Rows="5" ShowValidationIcon="true" />
                    </DxFormLayoutItem>

                </DxFormLayout>
            </EditForm>
          
        </div>
    </div>
</div>
<DxFlyout @bind-IsOpen=IsFileProfileTypeOpen
          PositionTarget=@($"#flyout-overview-target-container-FileProfileTypeOpen")
          RestrictionTarget="#Navigation-Flyout-Customization"
          AnimationType="FlyoutAnimationType.Fade"
          HeaderVisible="true"
          HeaderText="Select FileProfile Type"
          FooterVisible="true"
          FooterCssClass="custom-flyout-footer"
          MinWidth="300" MinHeight="200" MaxWidth="1000px" MaxHeight="800"
          CloseOnOutsideClick="false"
          PreventCloseOnPositionTargetClick="true">
    <BodyContentTemplate Context="PopupContext">
        <DxFormLayout CssClass="w-100" style="height: calc(100vh - 250px);overflow:auto;overflow-x:hidden;">
            <DxFormLayoutItem Caption="">
                <DxTreeView @ref="_treeView"
                            @bind-FilterString="FilterString"
                            Data="@fileProfileTypeDocumentsAll"
                            AllowSelectNodes="true"
                            AfterExpand="@AfterExpand"
                            SelectionChanged="@SelectionChanged">
                    <DataMappings>
                        <DxTreeViewDataMapping Text="FileName"
                                               Key="DocumentID"
                                               ParentKey="ParentId" />
                    </DataMappings>
                </DxTreeView>
            </DxFormLayoutItem>

        </DxFormLayout>
    </BodyContentTemplate>
    <FooterContentTemplate>
        <div class="w-100">
            <div class="custom-flyout-footer">
                <DxButton CssClass="popup-button" RenderStyle="ButtonRenderStyle.Primary" Text="Close" Click=@(()=> IsFileProfileTypeOpen = false) />
            </div>
        </div>
    </FooterContentTemplate>
</DxFlyout>

@code {
    IEnumerable<string> TemplateUploadOptions = new[] { "Files", "Images" };
    private UploadFileImagesToPdfIpirs refUploadFileImagesToPdf;
    public DocumentsModel selectedFiles { get; set; }
    [Parameter]
    public ApplicationUser _applicationUser { get; set; }
    [Parameter]
    public IpirApp _selectedEditItems { get; set; }
    [Parameter]
    public Action RevokeBack { get; set; }
    bool isTemplateUploadTypeImages { get; set; } = false;
    EditContext _editContext;
    public FileProfileTypeModel fileProfileTypeModels { get; set; }
    private DxTreeView _treeView;
    string FilterString { get; set; }
    public string FileprofiletypeName { get; set; }
    public bool Uploadloading { get; set; } = true;
    public bool IsFileProfileTypeOpen { get; set; }
    string Message = "Upload";
    public bool IsFileProfileTypeShow { get; set; } = false;
    private List<ViewPlants>? _plantItems;
    private List<ViewDivision>? _divisionItems;
    private List<ViewDepartment>? _departmentItems;
    private List<ViewSection>? _sectionItems;
    private List<ViewSubSection>? _subSectionItems;
    bool AttachmentUploadVisible { get; set; } = false;
    DocumentsUploadModel Data = new DocumentsUploadModel();
    public List<DocumentsUploadModel> TempSetIds = new List<DocumentsUploadModel>();
    private List<UploadFileInfo> SuccessFiles { get; set; } = new List<UploadFileInfo>();
    private List<UploadFileInfo> FailedFiles { get; set; } = new List<UploadFileInfo>();
    public DocumentProfileNoSeriesModel documentProfileNoSeriesData { get; set; }
    private DxUpload uploadComponent;
    string MyError { get; set; }
    string MyMessage { get; set; }
    private List<UploadFileInfo> SelectedFiles { get; set; } = new List<UploadFileInfo>();
    bool isExpiryDate { get; set; } = false;
    bool isPlant { get; set; } = false;
    bool isDivision { get; set; } = false; bool isDepartment { get; set; } = false;
    bool isSection { get; set; } = false; bool isSubSection { get; set; } = false;
    int SelectedFilesCount { get; set; }
    int CurrentUplodCount { get; set; }
    int SuccessUplodCount { get; set; } = 0; int FailureUplodCount { get; set; } = 0;
    bool isFilesUpload { get; set; } = false; bool isImageUpload { get; set; } = false;
    string? TabType { get; set; } = "Files"; public bool failedDocumentPopup { get; set; } = false;
    string? fileUploadStyle { get; set; } = "padding:5px;"; string? imageUploadStyle { get; set; } = "display:none;";
    public List<DocumentsModel> fileProfileTypeDocumentsAll { get; set; }
    public List<string?> documentsFiles { get; set; } = new List<string?>();
    bool? IsDuplicateUpload { get; set; } = false;
    public Guid? DocSessionId { get; set; }


    protected override async Task OnInitializedAsync()
    {
        _editContext = new EditContext(Data);
        Data.TemplateUploadType = "Files";

        isFilesUpload = true;
        fileProfileTypeDocumentsAll = await Mediator.Send(new GetAllfileprofiletypeListQuery());
        await loadFileDataFirst();
    }
    public async Task loadFileDataFirst()
    {
        _editContext = new EditContext(Data);

    }



    private List<FileProfileTypeModel> GetFileProfileTypePath(List<DocumentsModel> foldersListItem, long? id)
    {
        var foldersListItems = foldersListItem.Where(t => t.FileProfileTypeId == id).ToList();
        FileProfileTypeModel fileprofile = new FileProfileTypeModel();
        List<FileProfileTypeModel> foldersList = new List<FileProfileTypeModel>();
        if (foldersListItems != null && foldersListItems.Count > 0)
        {
            foldersListItems.ForEach(s =>
            {
                List<string> FolderPathLists = new List<string>();
                FileProfileTypeModel fileProfileTypeModel = new FileProfileTypeModel();
                fileProfileTypeModel.FileProfileTypeId = s.FileProfileTypeId.Value;
                fileProfileTypeModel.Name = s.FileName;
                fileProfileTypeModel.IsDuplicateUpload = s.IsDuplicateUpload;
                fileprofile = GetProfileTypeName(foldersListItem, s, FolderPathLists, fileprofile);
                FolderPathLists.Add(s.FileName);
                fileProfileTypeModel.FileProfileTypeParentId = fileprofile.ParentId;
                fileProfileTypeModel.FileProfilePath = string.Join(" / ", FolderPathLists);
                foldersList.Add(fileProfileTypeModel);
            });
        }
        return foldersList;
    }
    private FileProfileTypeModel GetProfileTypeName(List<DocumentsModel> foldersListItems, DocumentsModel s, List<string> foldersModel, FileProfileTypeModel fileProfileTypeModel)
    {
        if (s != null)
        {
            if (s.ParentId != null)
            {
                var items = foldersListItems.FirstOrDefault(f => f.FileProfileTypeId == s.ParentId);
                GetProfileTypeName(foldersListItems, items, foldersModel, fileProfileTypeModel);
                foldersModel.Add(items.FileName);
            }
            else if (s.ParentId == null)
            {
                fileProfileTypeModel.ParentId = foldersListItems.FirstOrDefault(f => f.FileProfileTypeId == s.FileProfileTypeId)?.FileProfileTypeId;
            }
        }
        return fileProfileTypeModel;
    }
    private void AfterExpand(TreeViewNodeEventArgs e)
    {
        if (!e.CausedByAPI)
        {
            _treeView.ExpandAll();
        }
    }
    async Task SelectionChanged(TreeViewNodeEventArgs e)
    {
        if (e.NodeInfo?.DataItem != null)
        {
            IsFileProfileTypeOpen = false;
            var nodeName = e.NodeInfo.DataItem as DocumentsModel;
            Data.FileProfileTypeId = nodeName.FileProfileTypeId;

            Data.SessionId = nodeName.SessionID;
            var lists = GetFileProfileTypePath(fileProfileTypeDocumentsAll, Data.FileProfileTypeId);
            FileprofiletypeName = lists.FirstOrDefault()?.FileProfilePath;
            IsDuplicateUpload = lists.FirstOrDefault()?.IsDuplicateUpload;
            await loadData(nodeName, "No");

        }
        StateHasChanged();
    }
    public async Task loadData(DocumentsModel _selectedFiles, string uploadClear)
    {
        _editContext = new EditContext(Data);
        IsFileProfileTypeShow = false;
        isPlant = false;
        isDivision = false; isDepartment = false;
        isSection = false; isSubSection = false;
        Data.PlantId = 0; Data.DepartmentId = 0;
        Data.DivisionId = 0; Data.SectionId = 0; Data.SubSectionId = 0; IsDuplicateUpload = false;
        TempSetIds = new List<DocumentsUploadModel>();
        Uploadloading = true;
        Message = "Upload";
        if (uploadClear == "No")
        {
            if (SelectedFilesCount > 0)
            {

            }
            else
            {
                //  uploadComponent.RemoveAllFiles();
                CurrentUplodCount = 0;
                SelectedFilesCount = 0;
                SelectedFiles = new List<UploadFileInfo>();
            }
        }
        else
        {
            // uploadComponent.RemoveAllFiles();
            CurrentUplodCount = 0;
            SelectedFilesCount = 0;
            SelectedFiles = new List<UploadFileInfo>();
        }
        MyError = ""; MyMessage = ""; FileprofiletypeName = "";
        if (_selectedFiles != null && _selectedFiles.ProfileID > 0)
        {
            selectedFiles = _selectedFiles;
            documentProfileNoSeriesData = await Mediator.Send(new GetDocumentProfileNoSeriesById(selectedFiles.ProfileID));

            if (documentProfileNoSeriesData != null)
            {
                if (!string.IsNullOrEmpty(documentProfileNoSeriesData.Abbreviation1))
                {
                    dynamic? abbreviation = JsonConvert.DeserializeObject(documentProfileNoSeriesData.Abbreviation1);
                    if (abbreviation != null)
                    {
                        foreach (var item in abbreviation)
                        {
                            var itemsId = item.Id;
                            if (itemsId == 1)
                            {
                                isPlant = true;
                                Data.PlantId = null;
                            }
                            if (itemsId == 2)
                            {
                                isDepartment = true; isDivision = true;
                                Data.DepartmentId = null;
                                Data.DivisionId = null;
                            }
                            if (itemsId == 3)
                            {
                                isSection = true;
                                Data.SectionId = null;
                            }
                            if (itemsId == 4)
                            {
                                isSubSection = true;
                                Data.SubSectionId = null;
                            }
                        }
                    }
                }
            }
            if (selectedFiles.IsExpiryDate == true)
            {
                isExpiryDate = true;
            }
            DocSessionId = selectedFiles.SessionID;
            Data.UserSession = _applicationUser.SessionId;
            Data.UserId = _applicationUser.UserID;
            Data.ProfileId = selectedFiles.ProfileID;
            Data.FileProfileTypeId = selectedFiles.FileProfileTypeId;
            var lists = GetFileProfileTypePath(fileProfileTypeDocumentsAll, Data.FileProfileTypeId);
            FileprofiletypeName = lists.FirstOrDefault()?.FileProfilePath;
            IsDuplicateUpload = lists.FirstOrDefault()?.IsDuplicateUpload;
        }
        _plantItems = await Mediator.Send(new GetAllPlantQuery());
        await SelectedItemChanged(Data.PlantId);
        await SelectedItemDivisionChanged(Data.DivisionId);
        await SelectedItemDepartementChanged(Data.DepartmentId);
        await SelectedItemSectionChanged(Data.SectionId);
        StateHasChanged();
    }
    void OnButtonFileProfileTypeClick()
    {
        IsFileProfileTypeOpen = true;
    }


    void onBack()
    {
        RevokeBack?.Invoke();
    }

    async Task SelectedItemChanged(long? plantID)
    {
        Data.PlantId = plantID;
        _divisionItems = new List<ViewDivision>();
        _departmentItems = new List<ViewDepartment>();
        _sectionItems = new List<ViewSection>();
        _subSectionItems = new List<ViewSubSection>();
        if (plantID > 0)
        {
            _divisionItems = await Mediator.Send(new GetDivisionByCompany(plantID));
        }
    }
    async Task SelectedItemDivisionChanged(long? divisionId)
    {
        Data.DivisionId = divisionId;
        _departmentItems = new List<ViewDepartment>();
        _sectionItems = new List<ViewSection>();
        _subSectionItems = new List<ViewSubSection>();
        if (divisionId > 0)
        {
            _departmentItems = await Mediator.Send(new GetDepartmentByDivision(divisionId));
        }
    }
    async Task SelectedItemDepartementChanged(long? departmentId)
    {
        Data.DepartmentId = departmentId;
        _sectionItems = new List<ViewSection>();
        _subSectionItems = new List<ViewSubSection>();
        if (departmentId > 0)
        {
            _sectionItems = await Mediator.Send(new GetSectionByDepartment(departmentId));
        }
    }
    async Task SelectedItemSectionChanged(long? sectionId)
    {
        Data.SectionId = sectionId;
        _subSectionItems = new List<ViewSubSection>();
        if (sectionId > 0)
        {
            _subSectionItems = await Mediator.Send(new GetSubSectionBySection(sectionId));
        }
    }


    async Task SubmitFormExternally()
    {
        if (_editContext.Validate())
        {
            await this.HandleValidSubmit();
        }
    }
    async Task HandleValidSubmit()
    {
        Data.UserSession = _selectedEditItems.SessionID;
        Data.UserId = _applicationUser.UserID;
        var result = await Mediator.Send(new UpdateDocument(Data));
        toastService.ShowToast("Profile Updated Successfully!", AC.SD.Core.Services.ToastLevel.Success);

        RevokeBack?.Invoke();
    }
   
    public async ValueTask DisposeAsync()
    {
        _subSectionItems?.Clear();
        _plantItems?.Clear();
        _divisionItems?.Clear();
        _divisionItems?.Clear();
        _departmentItems?.Clear();
        _sectionItems?.Clear();
        fileProfileTypeDocumentsAll?.Clear();

        fileProfileTypeModels = null;
        Data = null;
        TempSetIds = null;
        SuccessFiles = null;
        FailedFiles = null;
        documentProfileNoSeriesData = null;
        SelectedFiles = null;

        refUploadFileImagesToPdf?.DisposeAsync();
        // System.GC.Collect();
        // GC.SuppressFinalize(this);
    }
}
