@page "/ProductionTimeSheet"
@using Application.Queries;
@using MediatR;
@using global::Core.Entities;
@using global::Core.Entities.Views;
@using global::Core.EntityModels;
@using global::Core.Repositories.Query;
@inject IMediator Mediator
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject NavigationManager NavigationManager
@inject AC.SD.Core.Services.ToastService toastService
@using BlazorBarcodeScanner.ZXing.JS
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration
@inject IJSRuntime jsRuntime
@inject ClipboardService ClipboardService
@implements IAsyncDisposable
<style scoped>
    .zxing-video-container > video {
        width: 100%;
        height: auto;
    }
</style>
<div class="col-md-12">
    <div style="border: 1px solid #b2afaf;  margin-bottom: 10px; padding:10px;">
        <div class="mini-menu-bar-top">
            <div class="mini-menu-bar-heading">
            </div>

            <div>
                <div class="views-accordion">
                    <EditForm EditContext="this._editContext" Context="EditFormContext" OnValidSubmit="@addNew">
                        <DataAnnotationsValidator />
                        <DxFormLayout CssClass="w-100">
                            <DxFormLayoutItem Caption="Company" ColSpanMd="4">

                                <DxComboBox Data="@_plantItems"
                                            NullText="Select Company..."
                                            ValueChanged="@((long? plant) => SelectedItemPlantChanged(plant))"
                                            SearchMode="ListSearchMode.AutoSearch"
                                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                                            ListRenderMode="ListRenderMode.Virtual"
                                            TextFieldName="Description"
                                            ClearButtonDisplayMode=DataEditorClearButtonDisplayMode.Auto
                                            ValueFieldName="PlantID"
                                            Value="@Data.CompanyID"
                                            ValueExpression="@(() => Data.CompanyID )"
                                            ShowValidationIcon="true">

                                </DxComboBox>
                                <ValidationMessage For="@(() => Data.CompanyID)" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Location" ColSpanMd="4">
                                <DxComboBox Data="@_productionActivities"
                                            NullText="Select Loctaion..."
                                            ValueChanged="@((long? loc) => SelectedItemloc(loc))"
                                            SearchMode="ListSearchMode.AutoSearch"
                                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                                            TextFieldName="DeropdownName"
                                            ValueFieldName="ICTMasterID"
                                            ListRenderMode="ListRenderMode.Virtual"
                                            ClearButtonDisplayMode=DataEditorClearButtonDisplayMode.Auto
                                            Value="@Data.LocationID"
                                            ValueExpression="@(() => Data.LocationID )"
                                            ShowValidationIcon="true">
                                    <Buttons>
                                        <DxEditorButton IconCssClass="fa fa-qrcode"
                                                        Tooltip="Scan Location"
                                                        Click="@(_ => OnButtonClick())" />
                                    </Buttons>
                                </DxComboBox>
                            </DxFormLayoutItem>
                            @* @*  <DxFormLayoutItem Caption="Ticket No" ColSpanMd="4">
                            <DxTextBox @bind-Text="@Data.TicketNo" spellcheck="true" ShowValidationIcon="true" NullText="Ticket No" >
                            <Buttons>
                            <DxEditorButton IconCssClass="fa fa-qrcode"
                            Tooltip="Scan Ticket No"
                            Click="@(_ => OnButtonTicketNoClick())" />
                            </Buttons>
                            </DxTextBox>
                            <DxComboBox Data="@_ponumberActivities"
                            NullText="Select Ticket No..."
                            SelectedItemChanged="@((NavprodOrderLineModel prod) => SelectedItemprod(prod?.ProdOrderNo))"
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="Name"
                            ValueFieldName="ProdOrderNo"
                            ClearButtonDisplayMode=DataEditorClearButtonDisplayMode.Auto
                            ListRenderMode="ListRenderMode.Virtual"
                            @bind-Value="Data.ProdOrderNo"
                            ShowValidationIcon="true">
                            <Buttons>
                            <DxEditorButton IconCssClass="fa fa-qrcode"
                            Tooltip="Scan Ticket No"
                            Click="@(_ => OnButtonTicketNoClick())" />
                            </Buttons>
                            </DxComboBox>
                            <ValidationMessage For="@(() => Data.ProdOrderNo)" />
                            </DxFormLayoutItem>  *@
                            <DxFormLayoutItem Caption="Lot No" ColSpanMd="4">
                                <DxTextBox Text="@Data.LotNo" spellcheck="true" ShowValidationIcon="true" NullText="Lot No" TextExpression="@(() => Data.LotNo )" TextChanged="@((newValue) => OnTextChanged(newValue))">
                                    <Buttons>
                                        <DxEditorButton IconCssClass="fa fa-qrcode"
                                                        Tooltip="Scan Ticket No"
                                                        Click="@(_ => OnButtonTicketNoClick())" />
                                    </Buttons>
                                </DxTextBox>

                                <ValidationMessage For="@(() => Data.LotNo)" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Item Name" ColSpanMd="4">
                                <DxTextBox Text="@Data.ItemName" spellcheck="true" ShowValidationIcon="true" NullText="Item Name" TextExpression="@(() => Data.ItemName )" TextChanged="@((newValue) => OnItemNameChanged(newValue))" />
                                <ValidationMessage For="@(() => Data.ItemName)" />
                            </DxFormLayoutItem>
                            @*   <DxFormLayoutItem ColSpanMd="4">
                            <DxButton IconCssClass="fa fa-filter" Text="Search" RenderStyle="ButtonRenderStyle.Secondary"
                            Click="@(_ => onLoadDataList())" />

                            </DxFormLayoutItem> *@
                        </DxFormLayout>

                    </EditForm>

                </div>
            </div>
        </div>
    </div>
    <div style="height:calc(100vh - 195px);border: 1px solid #b2afaf;padding:10px;">


        <div class="mini-menu-bar-top">
            <div class="mini-menu-bar-heading">
            </div>

            <div>
                <div class="views-accordion">
                    <DxTabs RenderMode="TabsRenderMode.AllTabs" TabsPosition="TabsPosition.Top" ActiveTabIndex="ActiveTabIndex">
                        <DxTabPage Text="Production Routine Details">


                            <div class="card w-100 tooltips" style="margin-bottom:10px;">
                                <div class="card-body p-0 tooltiptops">
                                    <div class="row">
                                        <div class="">
                                            <DxMenu CollapseItemsToHamburgerMenu="true"
                                                    CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                                                    DisplayMode="MenuDisplayMode.Desktop">
                                                <Items>
                                                    <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addvalidate" />
                                                    <DxMenuItem Text="Upload" IconCssClass="fa fa-cloud-upload" Click="@addUploadFilesPopup" Enabled="@uploadEnabled" />
                                                    <DxMenuItem Text="More" Position="ItemPosition.End" IconCssClass="fa fa-ellipsis-v" style="@isVisibleMore">
                                                        <Items>
                                                            <DxMenuItem Text="Edit Details" Click="addEdit" IconCssClass="fa fa-pencil" Visible="EditEnabled" />
                                                            <DxMenuItem Text="Download" Click="Download" IconCssClass="fa fa-cloud-download" Visible="DownloadEnabled" />
                                                            <DxMenuItem Text="Delete" Click="onDeleteDocument" IconCssClass="fa fa-remove" Visible="DeleteEnabled" />
                                                            <DxMenuItem Text="History" Click="onHistory" IconCssClass="fa fa-history" Visible="HistoryEnabled" />
                                                            <DxMenuItem Text="CheckOut" Click="onCheckOut" IconCssClass="fa fa-check-square" Visible="CheckOutEnabled" />
                                                            <DxMenuItem Text="CheckIn" Click="onCheckin" IconCssClass="fa fa-check-circle" Visible="CheckInEnabled" />
                                                            <DxMenuItem Text="View File" Click="onView" IconCssClass="fa fa-eye" Visible="viewEnabled" />
                                                            <DxMenuItem Text="Notify" IconCssClass="fa fa-bell" Visible="NotifyEnabled" />
                                                            <DxMenuItem Text="Copy Link" Click="onCopy" IconCssClass="fa fa-link" Visible="CopyLinkEnabled" />
                                                            <DxMenuItem Text="Mail" IconCssClass="fa fa-envelope" Click="onEmailOpen" Visible="MailEnabled" />
                                                            <DxMenuItem Text="Supporting Documents" Click="onSupportingDocuments" IconCssClass="fa fa-adjust" Visible="SupportDocEnabled" />
                                                            <DxMenuItem Text="Non compliance" Click="@(_ => onOperators("NonCompliance","Non-Compliance"))" IconCssClass="fa fa-gavel" Visible="NonComplianceEnabled" />
                                                            <DxMenuItem Text="Operator" Click="@(_ => onOperators("RestrictOperator","Operator"))" IconCssClass="fa fa-tasks" Visible="OperatorEnabled" />

                                                        </Items>
                                                    </DxMenuItem>
                                                </Items>
                                            </DxMenu>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <DxLoadingPanel @bind-Visible="PanelVisible"
                                            IsContentBlocked="true"
                                            ApplyBackgroundShading="true"
                                            IndicatorAreaVisible="false"
                                            Text="Fetching Data...">
                                <DxGrid @ref="AppLine"
                                        Data="_AppLines" VirtualScrollingEnabled="true"
                                        KeyFieldName="ProductionActivityRoutineAppLineId"
                                        EditMode="GridEditMode.EditForm"
                                        SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
                                        ColumnResizeMode="GridColumnResizeMode.NextColumn"
                                        FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                        ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
                                        PagerNavigationMode="PagerNavigationMode.InputBox"
                                        PageSizeSelectorVisible="true"
                                        PageSizeSelectorAllRowsItemVisible="true"
                                        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                                        PageSize="20" CustomizeElement="Grid_CustomizeElement"
                                        RowClick="OnRowClick"
                                        FocusedRowEnabled="true"
                                        AllowSelectRowByClick="true"
                                        SelectionMode="GridSelectionMode.Single"
                                        CssClass="ch-360"
                                        style="height: calc(100vh - 300px);">
                                    <Columns>
                                        <DxGridDataColumn Caption="" MinWidth="180">
                                            <CellDisplayTemplate>
                                                @{
                                                    var item = (ProductionActivityRoutineAppModel)context.DataItem;
                                                }
                                                <i class="fa fa-eye" aria-hidden="true" style="margin-right: 5px;cursor:pointer;color:green" id=@($"flyout-overview-target-container-Description-{item.ProductionActivityRoutineAppLineId}") onclick="@(() => OnButtonDescriptionClick(item))" title="@item.LineComment"></i>
                                                @if (item.IsLocked == true)
                                                {
                                                    <i class="fa fa-lock" aria-hidden="true" style="padding:5px;margin-right: 5px;" title="@item.LockedByUser"></i>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-lock-open" aria-hidden="true" style="padding:5px;margin-right: 5px;"></i>
                                                }
                                                @if (item.DocumentID > 0)
                                                {
                                                    <i class="fa fa-paperclip" aria-hidden="true" style="padding:5px;margin-right: 5px;color:black" title="@item.FileName"></i>
                                                }
                                            </CellDisplayTemplate>
                                        </DxGridDataColumn>
                                        <DxGridDataColumn Caption="Name" FieldName="FileName" MinWidth="180">
                                        </DxGridDataColumn>
                                        <DxGridDataColumn Caption="Type" FieldName="Type" MinWidth="180" />
                                        <DxGridDataColumn Caption="ProfileNo" FieldName="ActivityProfileNo" MinWidth="180" />
                                        <DxGridDataColumn Caption="Date" FieldName="AddedDate" MinWidth="180" />
                                        <DxGridDataColumn Caption="Routine" FieldName="ManufacturingProcessChild" MinWidth="180" />
                                        <DxGridDataColumn Caption="Category" FieldName="ProdActivityCategoryChild" MinWidth="180" />
                                        <DxGridDataColumn Caption="Action List" FieldName="ProdActivityActionChild" MinWidth="180" />
                                        <DxGridDataColumn Caption="Comment" FieldName="LineComment" MinWidth="180">
                                            <CellDisplayTemplate>
                                                @{
                                                    var item = (ProductionActivityRoutineAppModel)context.DataItem;
                                                    var comments = string.IsNullOrEmpty(item.LineComment) ? "" : (item.LineComment.Length > 50 ? (new string(item.LineComment.Take(50).ToArray())) : item.LineComment);
                                                }
                                                @* <i class="fa fa-pencil" aria-hidden="true" style="margin-right: 5px;cursor:pointer;" id=@($"flyout-overview-target-container-Description-{item.ProductionActivityRoutineAppLineId}") onclick="@(() => OnButtonDescriptionClick(item))" title="@item.LineComment"></i>
                                                *@
                                                <span title="@item.LineComment">@comments</span>
                                            </CellDisplayTemplate>
                                        </DxGridDataColumn>
                                        <DxGridDataColumn Caption="Result" FieldName="ProdActivityResult" MinWidth="180" />
                                        <DxGridDataColumn Caption="Modified By" FieldName="ModifiedByUser" MinWidth="180" />
                                        <DxGridDataColumn Caption="Modified Date" FieldName="ModifiedDate" MinWidth="180" />
                                    </Columns>
                                    <TotalSummary>
                                        <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="FileName" />
                                    </TotalSummary>

                                </DxGrid>
                            </DxLoadingPanel>
                        </DxTabPage>
                        <DxTabPage Text="Production Order Details">
                            <DxGrid @ref="_PoAppLine"
                                    Data="_poOrderDetails"
                                    KeyFieldName="NavprodOrderLineId"
                                    EditMode="GridEditMode.EditForm"
                                    SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
                                    ColumnResizeMode="GridColumnResizeMode.NextColumn"
                                    FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                    ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
                                    PagerNavigationMode="PagerNavigationMode.InputBox"
                                    PageSizeSelectorVisible="true"
                                    PageSizeSelectorAllRowsItemVisible="true"
                                    PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                                    PageSize="20"
                                    CssClass="ch-360"
                                    style="height: calc(100vh - 300px);">
                                <Columns>
                                    <DxGridDataColumn Caption="Prod.Order No" FieldName="ProdOrderNo" MinWidth="180" />
                                    <DxGridDataColumn Caption="Item No" FieldName="ItemNo" MinWidth="180" />
                                    <DxGridDataColumn Caption="Description" FieldName="Name" MinWidth="180" />
                                    <DxGridDataColumn Caption="For" FieldName="InternalRef" MinWidth="180" />
                                    <DxGridDataColumn Caption="Qty" FieldName="OutputQty" MinWidth="180" />
                                    <DxGridDataColumn Caption="Uom" FieldName="Uom" MinWidth="180" />
                                    <DxGridDataColumn Caption="Status" FieldName="Status" MinWidth="180" />
                                </Columns>
                                <TotalSummary>
                                    <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="ProdOrderNo" />
                                </TotalSummary>

                            </DxGrid>
                        </DxTabPage>
                    </DxTabs>


                </div>
            </div>
        </div>

    </div>
</div>

<DxPopup @bind-Visible="@AddPopup"
         ShowFooter="true"
         HeaderText="Add Activity"
         Closed="EulaPopupClosed"
         CloseOnOutsideClick="false"
         MinWidth="300" MinHeight="200" MaxWidth="1000px" MaxHeight="800"
         CloseOnEscape="false" ShowCloseButton="false">
    <BodyContentTemplate>
        <AddTimeSheetPopupApp ParentData="@Data" @ref="RefToDoLeftNotes" RevokeBack="ClosePopup" _selectedEditItems="@_selectedEditItems" _poOrderDetails="@_poOrderDetails"></AddTimeSheetPopupApp>

    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => ClosePopup())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@PopupLocationScanVisible"
         CssClass="popup-demo-events"
         ShowFooter="true" HeaderText="Scan Location" CloseOnEscape="false" ShowCloseButton="false" MinWidth="300" MinHeight="200" MaxWidth="400" MaxHeight="800" CloseOnOutsideClick="false">
    <BodyContentTemplate>
        <BlazorBarcodeScanner.ZXing.JS.BarcodeReader @ref="_reader"
                                                     StartCameraAutomatically="true"
                                                     Title="" ShowStart="false" ShowReset="false" ShowToggleTorch="false" ShowVideoDeviceList="false" ShowResult="false" FullWidthVideo="true"
                                                     OnBarcodeReceived="LocationReceivedBarcodeText" />
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => CloseLocationPopup())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@PopupProductionNoScanVisible"
         CssClass="popup-demo-events"
         ShowFooter="true" HeaderText="Scan Ticket No" CloseOnEscape="false" ShowCloseButton="false" MinWidth="300" MinHeight="200" MaxWidth="400" MaxHeight="800" CloseOnOutsideClick="false">
    <BodyContentTemplate>
        <BlazorBarcodeScanner.ZXing.JS.BarcodeReader @ref="_ticketNoReader"
                                                     StartCameraAutomatically="true"
                                                     Title="" ShowStart="false" ShowReset="false" ShowToggleTorch="false" ShowVideoDeviceList="false" ShowResult="false" FullWidthVideo="true"
                                                     OnBarcodeReceived="TicketNoReceivedBarcodeText" />
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => CloseTicketNoPopup())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@PopupFormUpload"
         HeaderText="Upload Documents"
         CloseOnOutsideClick="false"
         ShowCloseButton="false"
         ShowFooter="false"
         CloseOnEscape="false"
         MinWidth="300" MinHeight="500" MaxWidth="1000px" MaxHeight="12000px">
    <BodyContentTemplate>
        <UploadProductionTimeSheetFiles _applicationUser="@applicationUser" UploadSessionId="@UploadSessionId" FileProfileTypeId="@FileProfileTypeId" RevokeUploadBack="BackUpload"></UploadProductionTimeSheetFiles>
    </BodyContentTemplate>
</DxPopup>
<DxFlyout @bind-IsOpen=IsDescriptionOpen
          PositionTarget=@($"#flyout-overview-target-container-Description-{_selectedDescriptionItems?.ProductionActivityRoutineAppLineId}")
          RestrictionTarget="#Navigation-Flyout-Customization"
          AnimationType="FlyoutAnimationType.Fade"
          PreventCloseOnPositionTargetClick="true"
          HeaderVisible="true"
          HeaderText="Update Description"
          FooterVisible="true"
          CloseOnOutsideClick="false"
          FooterCssClass="custom-flyout-footer"
          MinWidth="500" MinHeight="200" MaxWidth="1000px" MaxHeight="800"
          Position=@(FlyoutPosition.BottomStart | FlyoutPosition.TopStart)>
    <BodyContentTemplate Context="PopupContext">
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="Comment:" ColSpanMd="12">
                <DxMemo @bind-Text="@_selectedDescriptionItems.LineComment" CssClass="cw-480" Rows="5" />
            </DxFormLayoutItem>
        </DxFormLayout>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="Close" Click=@(()=> IsDescriptionOpen = false) />
        <DxButton RenderStyle="ButtonRenderStyle.Success" Text="Update" Click=@(()=> OnUpdateDescription()) />
    </FooterContentTemplate>
</DxFlyout>
<DxPopup @bind-Visible="@PopupUpload"
         HeaderText="Upload Documents"
         CloseOnOutsideClick="false"
         ShowCloseButton="false"
         ShowFooter="false"
         MinWidth="300" MinHeight="200" MaxWidth="1000px" MaxHeight="800">
    <BodyContentTemplate>
        <AC.SD.Core.Pages.DMS.UploadDocumentUpdateFiles FolderPathLists="@FolderPathLists" selectedItems="@_selectedDocItems" applicationUser="@applicationUser" FileProfileSessionId="@FileProfileSessionId" RevokeBack="CloseUploadPopup"></AC.SD.Core.Pages.DMS.UploadDocumentUpdateFiles>
    </BodyContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@PopupVisible"
         ShowFooter="true"
         HeaderText="Document History"
         CloseOnOutsideClick="false"
         MinWidth="300" MinHeight="200" MaxWidth="1000px" MaxHeight="800">
    <BodyContentTemplate>
        <AC.SD.Core.Pages.DMS.HistoryPopup selectedFiles="@selectedFiles"></AC.SD.Core.Pages.DMS.HistoryPopup>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => CloseHistoryPopup())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@BlukdeleteDocument"
         ShowFooter="true"
         HeaderText="Delete"
         Closed="EulaPopupDocumentClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete this Document
        </p>
        <strong>@DeleteDocumentName</strong>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="onDeleteProductionActivityAppLine" />

    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@SupportingDocumentsPopup"
         ShowFooter="true"
         HeaderText="Supporting Documents"
         CloseOnOutsideClick="false"
         MinWidth="300" MinHeight="200" MaxWidth="1000px" MaxHeight="800">
    <BodyContentTemplate>
        <RoutineSupportingDocuments selectedFiles="@_selectedItems"></RoutineSupportingDocuments>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => CloseHistoryPopup())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@OperatorsPopup"
         ShowFooter="true"
         HeaderText="@OperatorsNonCom"
         CloseOnOutsideClick="false"
         MinWidth="300" MinHeight="200" MaxWidth="1000px" MaxHeight="800">
    <BodyContentTemplate>
        <RoutineOpeartors Type="Production Routine" ActionType="@ActionType" selectedFiles="@_selectedItems"></RoutineOpeartors>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => CloseHistoryPopup())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@ActivityEmailPopup"
         ShowFooter="false"
         HeaderText="Activity Email"
         CloseOnOutsideClick="false"
         ShowCloseButton="false"
         CloseOnEscape="false"
         MinWidth="300" MinHeight="200" MaxWidth="1200px" MaxHeight="800">
    <BodyContentTemplate>
        <TimeSheetEmails selectedFiles="@_selectedItems" applicationUser="@applicationUser" RevokeBack="CloseHistoryPopup"></TimeSheetEmails>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => CloseHistoryPopup())" />
    </FooterContentTemplate>
</DxPopup>
@code {
    ActivityEmailTopicsModel ActivityEmailTopics = new ActivityEmailTopicsModel();
    bool ActivityEmailPopup { get; set; } = false;
    bool OperatorsPopup { get; set; } = false;
    bool BlukdeleteDocument { get; set; } = false;
    public string DeleteDocumentName { get; set; }
    public bool PopupVisible { get; set; } = false;
    private DocumentsModel? _selectedDocItems;
    public long? FileProfileTypeId { get; set; }
    public Guid? FileProfileSessionId { get; set; }
    public Guid? UploadSessionId { get; set; }
    int ActiveTabIndex { get; set; } = 0;
    long? CompanyID;
    string? NAVProdOrderno;
    long? LocationID;
    EditContext _editContext;
    bool PopupFormUpload { get; set; } = false;
    public string? OperatorsNonCom { get; set; } = "";
    public string? ActionType { get; set; } = "";
    private List<ViewPlants> _plantItems;
    private List<ProductionActivityApp> _productionActivities;
    private List<NavprodOrderLineModel> _ponumberActivities;
    private List<NavprodOrderLineModel> _poOrderDetails;
    ProductionActivityRoutineAppModel Data = new ProductionActivityRoutineAppModel();
    public ApplicationUser applicationUser { get; private set; }
    IGrid? AppLine { get; set; }
    IGrid? _PoAppLine { get; set; }
    private List<ProductionActivityRoutineAppModel> _AppLines;
    bool AddPopup { get; set; } = false; bool PanelVisible { get; set; } = false;
    bool PopupLocationScanVisible { get; set; } = false;
    bool PopupProductionNoScanVisible { get; set; } = false;
    private AddTimeSheetPopupApp? RefToDoLeftNotes { get; set; }
    private BarcodeReader _reader; private BarcodeReader _ticketNoReader;
    private string? LocationName; private string? TicketNo;
    private ProductionActivityRoutineAppModel? _selectedItems;
    private ProductionActivityRoutineAppModel? _selectedEditItems;
    bool uploadEnabled { get; set; } = false;
    ProductionActivityRoutineAppModel _selectedDescriptionItems = new ProductionActivityRoutineAppModel();
    bool IsDescriptionOpen { get; set; } = false;
    private string? DocumentViewUrl;
    private string? ServerUrl;
    DocumentsModel _documentsItems = new DocumentsModel();
    DocumentsModel selectedFiles = new DocumentsModel();
    public bool PopupUpload { get; set; } = false;
    public bool SupportingDocumentsPopup { get; set; } = false;
    public List<DocumentsModel> fileProfileTypeDocumentsAll { get; set; }
    public string isVisibleMore { get; set; } = "display:none;";
    List<DocumentsModel> FolderPathLists = new List<DocumentsModel>();
    public bool EditEnabled { get; set; } = false;
    public bool DownloadEnabled { get; set; } = false;
    public bool DeleteEnabled { get; set; } = false;
    public bool HistoryEnabled { get; set; } = false;
    public bool CheckOutEnabled { get; set; } = false;
    public bool CheckInEnabled { get; set; } = false;
    public bool viewEnabled { get; set; } = false;
    public bool NotifyEnabled { get; set; } = false;
    public bool CopyLinkEnabled { get; set; } = false;
    public bool MailEnabled { get; set; } = false;
    public bool SupportDocEnabled { get; set; } = false;
    public bool NonComplianceEnabled { get; set; } = false;
    public bool OperatorEnabled { get; set; } = false;
    ProductionActivityRoutineAppModel FilterData = new ProductionActivityRoutineAppModel();
    protected override async Task OnInitializedAsync()
    {
        DocumentViewUrl = Configuration["DocumentsUrl:DocumentViewer"];
        ServerUrl = Configuration["DocumentsUrl:ServerUrl"];
        UploadSessionId = null; FileProfileTypeId = null;
        _editContext = new EditContext(Data);
        _plantItems = await Mediator.Send(new GetAllPlantQuery());
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        fileProfileTypeDocumentsAll = await Mediator.Send(new GetAllfileprofiletypeListQuery());
    }
    async void OnTextChanged(string newValue)
    {
        Data.LotNo = newValue;
        await onLoadDataList();
    }
    async void OnItemNameChanged(string newValue)
    {
        Data.ItemName = newValue;
        await onLoadDataList();
    }
    async Task SelectedItemloc(long? loc)
    {
        Data.LocationID = loc;
        LocationID = 0; _editContext = new EditContext(Data);
        if (loc != null && loc > 0)
        {
            LocationID = loc;
        }
        await onLoadDataList();
        StateHasChanged();
    }
    async Task onLoadDataList()
    {
        isVisibleMore = "display:none;";
        EditEnabled = false; DownloadEnabled = false; DeleteEnabled = false;
        HistoryEnabled = false; CheckOutEnabled = false; CheckInEnabled = false;
        viewEnabled = false; NotifyEnabled = false; CopyLinkEnabled = false; MailEnabled = false; SupportDocEnabled = false;
        NonComplianceEnabled = false; OperatorEnabled = false;
        _AppLines = new List<ProductionActivityRoutineAppModel>(); _poOrderDetails = new List<NavprodOrderLineModel>();
        PanelVisible = true; ActiveTabIndex = 0; uploadEnabled = false;
        FilterData = new ProductionActivityRoutineAppModel();
        // if (CompanyID > 0 && !string.IsNullOrEmpty(NAVProdOrderno))
        // if (CompanyID > 0 && !string.IsNullOrEmpty(Data.LotNo) && !string.IsNullOrEmpty(Data.ItemName))
        if (CompanyID > 0)
        {
            FilterData.CompanyId = CompanyID;
            FilterData.LotNo = Data.LotNo;
            FilterData.ItemName = Data.ItemName;
            FilterData.AddedByUserID = applicationUser.UserID;
            FilterData.GetTypes = "User";
            FilterData.LocationId = LocationID;
            FilterData.TimeSheetAction = true;
            FilterData.ActionType = "TimeSheet";
            _AppLines = await Mediator.Send(new GetAllProductionActivityRoutineAppLineQuery(FilterData));
            _poOrderDetails = await Mediator.Send(new GetAllNavprodOrderLine(CompanyID, Data.LotNo));
            if (_AppLines.Count() > 0)
            {
                _selectedItems = _AppLines.FirstOrDefault();
                isVisibleMore = "";
                if (_selectedItems != null)
                {
                    if (_selectedItems.FileProfileTypeId > 0)
                    {
                        FileProfileSessionId = fileProfileTypeDocumentsAll.FirstOrDefault(f => f.FileProfileTypeId == _selectedItems.FileProfileTypeId)?.SessionID;
                    }
                    if (_selectedItems.DocumentID > 0)
                    {
                        uploadEnabled = false;
                    }
                    else
                    {
                        uploadEnabled = true;
                        UploadSessionId = _selectedItems.LineSessionId;
                        FileProfileTypeId = _selectedItems.LocationToSaveId;

                    }
                    await permissinSetMainProfile();
                }
            }
            PanelVisible = false;
        }
        PanelVisible = false;
        StateHasChanged();
    }
    async Task permissinSetMainProfile()
    {
        isVisibleMore = "display:none;";
        EditEnabled = false; DownloadEnabled = false; DeleteEnabled = false;
        HistoryEnabled = false; CheckOutEnabled = false; CheckInEnabled = false;
        viewEnabled = false; NotifyEnabled = false; CopyLinkEnabled = false; MailEnabled = false; SupportDocEnabled = false;
        NonComplianceEnabled = false; OperatorEnabled = false;
        if (_selectedItems != null)
        {
            if (applicationUser.UserID == _selectedItems.AddedByUserID)
            {
                isVisibleMore = "";
                EditEnabled = true; DeleteEnabled = true;
                NotifyEnabled = true; MailEnabled = true; SupportDocEnabled = true;
                NonComplianceEnabled = true; OperatorEnabled = true;
                if (_selectedItems.DocumentID > 0)
                {
                    CheckOutEnabled = true; CheckInEnabled = false;
                    DownloadEnabled = true; CopyLinkEnabled = true; HistoryEnabled = true; viewEnabled = true;

                    if (_selectedItems.IsLocked == true)
                    {
                        CheckOutEnabled = false;
                        CheckInEnabled = true;
                        EditEnabled = false; DownloadEnabled = false; DeleteEnabled = false;
                        HistoryEnabled = false;
                        viewEnabled = false; NotifyEnabled = false; CopyLinkEnabled = false; MailEnabled = false; SupportDocEnabled = false;
                        NonComplianceEnabled = false; OperatorEnabled = false;
                    }

                }
            }
            else
            {
                if (_selectedItems.ResponsibilityUsers.Count() == 0 || _selectedItems.ResponsibilityUsers.Contains(applicationUser.UserID))
                {
                    var documentPermissionModels = await Mediator.Send(new GetDocumentUserRoleByUserID(_selectedItems.FileProfileTypeId, applicationUser.UserID, _selectedItems.DocumentID));
                    if (documentPermissionModels != null)
                    {
                        if (documentPermissionModels.IsPermissionExits == true)
                        {
                            isVisibleMore = "";
                            EditEnabled = true; DownloadEnabled = true; DeleteEnabled = true;
                            HistoryEnabled = true; CheckOutEnabled = true; CheckInEnabled = false;
                            viewEnabled = true; NotifyEnabled = true; CopyLinkEnabled = true; MailEnabled = true; SupportDocEnabled = true;
                            NonComplianceEnabled = true; OperatorEnabled = true;
                            if (_selectedItems.DocumentID > 0)
                            {
                                CheckOutEnabled = true; CheckInEnabled = false;
                                DownloadEnabled = true; CopyLinkEnabled = true; HistoryEnabled = true; viewEnabled = true;

                                if (_selectedItems.IsLocked == true)
                                {
                                    CheckOutEnabled = false;
                                    CheckInEnabled = true;
                                    EditEnabled = false; DownloadEnabled = false; DeleteEnabled = false;
                                    HistoryEnabled = false;
                                    viewEnabled = false; NotifyEnabled = false; CopyLinkEnabled = false; MailEnabled = false; SupportDocEnabled = false;
                                    NonComplianceEnabled = false; OperatorEnabled = false;
                                }
                            }
                        }
                        else
                        {

                            if (_selectedItems.IsLocked == true)
                            {
                                CheckOutEnabled = false;
                                CheckInEnabled = true;
                                EditEnabled = false; DownloadEnabled = false; DeleteEnabled = false;
                                HistoryEnabled = false;
                                viewEnabled = false; NotifyEnabled = false; CopyLinkEnabled = false; MailEnabled = false; SupportDocEnabled = false;
                                NonComplianceEnabled = false; OperatorEnabled = false;
                            }
                            else
                            {
                                MailEnabled = true;
                                if (documentPermissionModels.IsDelete == true)
                                {
                                    DeleteEnabled = true;
                                }
                                if (_selectedItems.DocumentID > 0)
                                {

                                    if (documentPermissionModels.IsEdit == true)
                                    {
                                        DownloadEnabled = true;
                                    }
                                    if (documentPermissionModels.IsRead == true)
                                    {
                                        viewEnabled = true;
                                    }
                                    if (documentPermissionModels.IsListVersion == true)
                                    {
                                        HistoryEnabled = true;
                                    }
                                    if (documentPermissionModels.IsCopy == true)
                                    {
                                        CopyLinkEnabled = true;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        StateHasChanged();
    }
    async Task SelectedItemPlantChanged(long? PlantsData)
    {
        Data.CompanyID = PlantsData;
        _productionActivities = new List<ProductionActivityApp>();
        _ponumberActivities = new List<NavprodOrderLineModel>();
        _AppLines = new List<ProductionActivityRoutineAppModel>(); ActiveTabIndex = 0; _poOrderDetails = new List<NavprodOrderLineModel>();
        NAVProdOrderno = string.Empty; CompanyID = 0; Data.CompanyID = null; Data.LocationID = null; Data.ProdOrderNo = null; LocationID = 0;
        if (PlantsData > 0)
        {
            CompanyID = PlantsData;
            Data.CompanyID = CompanyID;
            _productionActivities = await Mediator.Send(new GetAllProductionActivityAppQuery(CompanyID));
            _ponumberActivities = await Mediator.Send(new GetAllProductionActivityPONumberAppQuery(CompanyID));

            await onLoadDataList();
        }

        StateHasChanged();
    }
    async Task SelectedLoadItemPlantChanged(long? companyId, long? locationID)
    {
        _productionActivities = new List<ProductionActivityApp>();
        _ponumberActivities = new List<NavprodOrderLineModel>();
        _AppLines = new List<ProductionActivityRoutineAppModel>(); ActiveTabIndex = 0; _poOrderDetails = new List<NavprodOrderLineModel>();
        NAVProdOrderno = string.Empty; CompanyID = 0; Data.CompanyID = null; Data.LocationID = null; Data.ProdOrderNo = null; LocationID = 0;
        if (locationID > 0)
        {
            Data.LocationID = locationID; LocationID = locationID;
        }
        if (companyId > 0)
        {
            CompanyID = companyId;
            Data.CompanyID = companyId;
            _productionActivities = await Mediator.Send(new GetAllProductionActivityAppQuery(CompanyID));
            _ponumberActivities = await Mediator.Send(new GetAllProductionActivityPONumberAppQuery(CompanyID));
        }
        StateHasChanged();
    }

    async void SelectedItemprod(string? NAVProdOrder)
    {

        NAVProdOrderno = string.Empty;
        if (!string.IsNullOrEmpty(NAVProdOrder))
        {
            NAVProdOrderno = NAVProdOrder;
            await onLoadDataList();
        }
        else
        {
            _AppLines = new List<ProductionActivityRoutineAppModel>(); _poOrderDetails = new List<NavprodOrderLineModel>();
        }
        StateHasChanged();
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    async Task OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "ProductionActivityRoutineAppLineId");
        _selectedItems = _AppLines.FirstOrDefault(f => f.ProductionActivityRoutineAppLineId == (long?)UniqueId);
        UploadSessionId = null; FileProfileTypeId = null; uploadEnabled = false;
        if (_selectedItems != null)
        {
            if (_selectedItems.FileProfileTypeId > 0)
            {
                FileProfileSessionId = fileProfileTypeDocumentsAll.FirstOrDefault(f => f.FileProfileTypeId == _selectedItems.FileProfileTypeId)?.SessionID;
            }
            if (_selectedItems.DocumentID > 0)
            {
                uploadEnabled = false;
            }
            else
            {
                uploadEnabled = true;
                UploadSessionId = _selectedItems.LineSessionId;
                FileProfileTypeId = _selectedItems.LocationToSaveId;

            }
            await permissinSetMainProfile();
        }
        StateHasChanged();
    }
    void ClosePopup()
    {
        AddPopup = false;
        InvokeAsync(onLoadDataList);
    }
    void addNew()
    {
        _editContext.Validate();
    }
    void addvalidate()
    {
        addNew();
        //if (CompanyID > 0 && !string.IsNullOrEmpty(NAVProdOrderno))
        if (CompanyID > 0)
        {
            _selectedEditItems = null;
            AddPopup = true;
        }
    }
    void addEdit()
    {
        addNew();
        //if (CompanyID > 0 && !string.IsNullOrEmpty(NAVProdOrderno))
        if (CompanyID > 0)
        {
            _selectedEditItems = _selectedItems;
            AddPopup = true;
        }

    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        AddPopup = false;
    }
    void OnButtonClick()
    {
        PopupLocationScanVisible = true;
    }
    void CloseLocationPopup()
    {
        PopupLocationScanVisible = false;
        _reader.StopDecoding();
    }
    void CloseTicketNoPopup()
    {
        PopupProductionNoScanVisible = false;
        _ticketNoReader.StopDecoding();
    }
    void OnButtonTicketNoClick()
    {
        PopupProductionNoScanVisible = true;
    }
    async Task LocationReceivedBarcodeText(BarcodeReceivedEventArgs args)
    {
        LocationName = args.BarcodeText; LocationID = 0;
        if (!string.IsNullOrEmpty(LocationName))
        {
            var result = await Mediator.Send(new GetAllProductionActivityLocationAppQuery(LocationName));
            if (result != null && result.ICTMasterID > 0 && result.CompanyID > 0)
            {
                await SelectedLoadItemPlantChanged(result.CompanyID, result.ICTMasterID);
                toastService.ShowToast("Location Found Successfully", AC.SD.Core.Services.ToastLevel.Success);
                CloseLocationPopup();
            }
            else
            {
                toastService.ShowToast("Location Not Found", AC.SD.Core.Services.ToastLevel.Error);
            }
        }
        else
        {
            toastService.ShowToast("Location Not Found", AC.SD.Core.Services.ToastLevel.Error);
        }
        StateHasChanged();
    }
    async Task TicketNoReceivedBarcodeText(BarcodeReceivedEventArgs args)
    {
        TicketNo = args.BarcodeText; LocationID = 0;
        if (!string.IsNullOrEmpty(TicketNo))
        {
            var ticketNo = TicketNo.Split("~");
            if (ticketNo.Length > 0)
            {
                var exists = ticketNo.ElementAtOrDefault(1) != null;
                if (exists == true)
                {


                    Data.ItemName = ticketNo[0];
                    Data.LotNo = ticketNo[1];
                    // var poNo = _ponumberActivities.Where(w => w.ProdOrderNo != null).FirstOrDefault(f => f.ProdOrderNo.ToLower() == ticketNo[5].ToLower());
                    // if (poNo != null)
                    // {
                    //     Data.ProdOrderNo = poNo.ProdOrderNo; NAVProdOrderno = poNo.ProdOrderNo;
                    //     toastService.ShowToast("TicketNo Found Successfully", AC.SD.Core.Services.ToastLevel.Success);
                    //     CloseTicketNoPopup();
                    //     await onLoadDataList();
                    // }
                    // else
                    // {
                    //     toastService.ShowToast("TicketNo Not Found", AC.SD.Core.Services.ToastLevel.Error);
                    // }
                }
                else
                {
                    toastService.ShowToast("Invaild TicketNo", AC.SD.Core.Services.ToastLevel.Error);
                }
            }
            else
            {
                toastService.ShowToast("TicketNo Not Found", AC.SD.Core.Services.ToastLevel.Error);
            }
        }
        else
        {
            toastService.ShowToast("TicketNo Not Found", AC.SD.Core.Services.ToastLevel.Error);
        }

        StateHasChanged();
        await onLoadDataList();
    }
    void addUploadFilesPopup()
    {
        PopupFormUpload = true;
    }
    void BackUpload()
    {
        PopupFormUpload = false;
        ClosePopup();
        StateHasChanged();

    }
    void OnButtonDescriptionClick(ProductionActivityRoutineAppModel items)
    {
        IsDescriptionOpen = true;
        _selectedDescriptionItems = new ProductionActivityRoutineAppModel();
        _selectedDescriptionItems.ProductionActivityRoutineAppLineId = items.ProductionActivityRoutineAppLineId;
        _selectedDescriptionItems.LineComment = items.LineComment;
        _selectedDescriptionItems.ModifiedDate = DateTime.Now;
        _selectedDescriptionItems.ModifiedByUserID = applicationUser.UserID;
    }
    async Task OnUpdateDescription()
    {
        await Mediator.Send(new GetUpdateproductActivityRoutineAppLineCommentField(_selectedDescriptionItems));
        toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
        IsDescriptionOpen = false;
        await onLoadDataList();

    }
    async void onView()
    {
        if (_selectedItems != null && _selectedItems.DocumentID > 0 && _selectedItems.FilePath != null)
        {
            if (_selectedItems.IsNewPath == true)
            {
                var url = DocumentViewUrl + "?url=" + _selectedItems.UniqueSessionId;
                await OpenDocumentPreview(url);
            }
            else
            {
                var url = DocumentViewUrl + "?url=" + _selectedItems.UniqueSessionId;
                await OpenDocumentPreview(url);
            }

        }
    }
    private async Task OpenDocumentPreview(string url)
    {
        await jsRuntime.InvokeVoidAsync("window.open", url, "_blank");
    }
    async Task Download()
    {
        if (_selectedItems != null && _selectedItems.DocumentID > 0 && _selectedItems.FilePath != null)
        {
            var response = await Mediator.Send(new GetFileDownload(_selectedItems.DocumentID));
            if (response.StatusCodeID == 0)
            {
                toastService.ShowToast("File Not Exits", AC.SD.Core.Services.ToastLevel.Error);
            }
            else
            {
                await jsRuntime.InvokeVoidAsync("downloadFile", _selectedItems.FileName, response.ImageData, "");
            }
        }
    }
    async Task onCheckOut()
    {
        if (_selectedItems != null && _selectedItems.DocumentID > 0)
        {
            _documentsItems.DocumentID = _selectedItems.DocumentID.Value;
            _selectedItems.IsLocked = true;
            _selectedItems.LockedByUserId = applicationUser.UserID;
            _selectedItems.LockedByUser = applicationUser.UserName;
            await Mediator.Send(new GetFileProfileTypeCheckOut(_documentsItems));
            _selectedItems.IsLocked = true;
            _selectedItems.LockedByUserId = applicationUser.UserID;
            _selectedItems.LockedByUser = applicationUser.UserName;
            await permissinSetMainProfile();
            await Download();
        }
    }
    private async Task onCopy()
    {

        if (_selectedItems != null && _selectedItems.DocumentID > 0 && _selectedItems.FilePath != null)
        {
            if (_selectedItems.IsNewPath == true)
            {
                var url = DocumentViewUrl + "?url=" + _selectedItems.UniqueSessionId;
                await ClipboardService.WriteTextAsync(url);
                toastService.ShowToast("Copied", AC.SD.Core.Services.ToastLevel.Info);
            }
            else
            {
                var url = DocumentViewUrl + "?url=" + _selectedItems.UniqueSessionId;
                await ClipboardService.WriteTextAsync(url);
                toastService.ShowToast("Copied", AC.SD.Core.Services.ToastLevel.Info);
            }
        }
    }
    void onCheckin()
    {
        FolderPathLists = new List<DocumentsModel>(); _selectedDocItems = new DocumentsModel();
        if (_selectedItems != null && _selectedItems.FileProfileTypeId > 0)
        {
            var fileType = fileProfileTypeDocumentsAll.Where(w => w.FileProfileTypeId == _selectedItems.FileProfileTypeId).FirstOrDefault();
            FolderPathLists = GetAllFileProfileTypeName(fileProfileTypeDocumentsAll, fileType, FolderPathLists);
            FolderPathLists.Add(fileType);
            _selectedDocItems.FileName = _selectedItems.FileName;
            _selectedDocItems.DocumentID = _selectedItems.DocumentId.Value;
            _selectedDocItems.Extension = _selectedItems.FileName != null ? _selectedItems.FileName?.Split(".").Last() : "";
            _selectedDocItems.ContentType = _selectedItems.ContentType;
            _selectedDocItems.IsExpiryDate = fileType.IsExpiryDate;
            _selectedDocItems.DocumentParentId = _selectedItems.DocumentParentId;
            _selectedDocItems.ProfileID = fileType.ProfileID;
            _selectedDocItems.SessionID = _selectedItems.LineSessionId;
            _selectedDocItems.ProfileNo = _selectedItems.ProfileNo;
            _selectedDocItems.FileProfileTypeId = _selectedItems.FileProfileTypeId;
            PopupUpload = true;
        }

    }
    void CloseUploadPopup()
    {
        PopupUpload = false;
        InvokeAsync(onLoadDataList);
        StateHasChanged();
    }
    void onHistory()
    {
        if (_selectedItems != null && _selectedItems.DocumentID > 0)
        {
            selectedFiles.DocumentID = _selectedItems.DocumentID.Value;
            selectedFiles.Type = "Document";
            selectedFiles.DocumentID = _selectedItems.DocumentID.Value;
            selectedFiles.FilterProfileTypeId = _selectedItems.FileProfileTypeId;
            selectedFiles.DocumentParentId = _selectedItems.DocumentParentId;
            selectedFiles.SessionID = _selectedItems.LineSessionId;
            PopupVisible = true;
        }

    }
    async void CloseHistoryPopup()
    {
        ActivityEmailPopup = false;
        PopupVisible = false;
        SupportingDocumentsPopup = false;
        OperatorsPopup = false;
        await onLoadDataList();
        // InvokeAsync(onLoadDataList);
        StateHasChanged();
    }
    private List<DocumentsModel> GetAllFileProfileTypeName(List<DocumentsModel> foldersListItems, DocumentsModel s, List<DocumentsModel> foldersModel)
    {
        if (s.ParentId != null)
        {
            var items = foldersListItems.FirstOrDefault(f => f.FileProfileTypeId == s.ParentId);
            GetAllFileProfileTypeName(foldersListItems, items, foldersModel);
            foldersModel.Add(items);
        }
        return foldersModel;
    }
    void onDeleteDocument()
    {
        DeleteDocumentName = _selectedItems.FileName;
        BlukdeleteDocument = true;
    }
    void EulaPopupDocumentClosed(PopupClosedEventArgs args)
    {
        BlukdeleteDocument = false;
    }
    async Task onDeleteProductionActivityAppLine()
    {
        try
        {
            if (_selectedItems != null && _selectedItems.ProductionActivityRoutineAppLineId > 0)
            {
                BlukdeleteDocument = false;
                await Mediator.Send(new DeleteproductActivityRoutineAppLine(_selectedItems));
                toastService.ShowToast("Record Deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                await onLoadDataList();
            }
        }
        catch (Exception ex)
        {

        }
    }
    void onSupportingDocuments()
    {
        SupportingDocumentsPopup = true;
    }
    void onOperators(string? actionType, string? typeFrom)
    {
        OperatorsNonCom = typeFrom;
        ActionType = actionType;
        OperatorsPopup = true;
        StateHasChanged();
    }
    void onCloseOperators()
    {
        OperatorsPopup = false;
        StateHasChanged();
    }
    async Task onEmailOpen()
    {
        if (_selectedItems != null)
        {
            if (_selectedItems.IsEmailCreated == true && _selectedItems.IsPartialEmailCreated == true)
            {
                var url = NavigationManager.BaseUri + "ViewEmail/" + _selectedItems.EmailSessionId;
                await jsRuntime.InvokeVoidAsync("window.open", url, "_blank");
            }
            else if (_selectedItems.IsEmailCreated == false && _selectedItems.IsPartialEmailCreated == true)
            {
                var url = NavigationManager.BaseUri + "CreateEmail/" + _selectedItems.EmailActivitySessionId;
                await jsRuntime.InvokeVoidAsync("window.open", url, "_blank");
            }
            else
            {
                ActivityEmailTopics.SubjectName = _selectedItems.ProdOrderNoDesc;
                ActivityEmailTopics.ManufacturingProcessId = _selectedItems.ManufacturingProcessChildId;
                ActivityEmailTopics.CategoryActionId = _selectedItems.ProdActivityCategoryChildId;
                ActivityEmailTopics.ActivityType = "RoutineActivity";
                ActivityEmailTopics.ActionId = _selectedItems.ProdActivityActionChildD;
                ActivityEmailTopics.IsDraft = false;
                ActivityEmailTopics.SessionId = Guid.NewGuid();
                ActivityEmailTopics.StatusCodeId = 1;
                ActivityEmailTopics.AddedByUserID = applicationUser.UserID;
                ActivityEmailTopics.ModifiedByUserId = applicationUser.UserID;
                ActivityEmailTopics.AddedDate = DateTime.Now;
                ActivityEmailTopics.ModifiedDate = DateTime.Now;
                ActivityEmailTopics.ActivityMasterId = _selectedItems.ProductionActivityRoutineAppLineId;
                ActivityEmailTopics.DocumentSessionId = _selectedItems.LineSessionId;
                ActivityEmailTopics.Comment = _selectedItems.LineComment;
                ActivityEmailTopics.BackURL = "/ProductionRoutineTimeSheet/" + _selectedItems.LineSessionId;
                var request = await Mediator.Send(new InserProductionActivityEmail(ActivityEmailTopics));
                if (request.ActivityEmailTopicID > 0)
                {
                    toastService.ShowToast("Record Save Successfully", AC.SD.Core.Services.ToastLevel.Success);
                    var url = NavigationManager.BaseUri + "CreateEmail/" + ActivityEmailTopics.SessionId;
                    await jsRuntime.InvokeVoidAsync("window.open", url, "_blank");
                }
                // ActivityEmailPopup = true;
            }
        }
    }
    public async ValueTask DisposeAsync()
    {
        if (_AppLines != null)
        {
            _AppLines.Clear();
            _AppLines = null;
        }
        if (_poOrderDetails != null)
        {
            _poOrderDetails.Clear();
            _poOrderDetails = null;
        }
        if (_plantItems != null)
        {
            _plantItems.Clear();
            _plantItems = null;
        }
        if (_productionActivities != null)
        {
            _productionActivities.Clear();
            _productionActivities = null;
        }
        if (_ponumberActivities != null)
        {
            _ponumberActivities.Clear();
            _ponumberActivities = null;
        }
        if (fileProfileTypeDocumentsAll != null)
        {
            fileProfileTypeDocumentsAll.Clear();
            fileProfileTypeDocumentsAll = null;
        }
        FilterData = null;
        FolderPathLists = null;
        selectedFiles = null;
        _documentsItems = null;
        _selectedEditItems = null;
        _selectedItems = null;
        _selectedDocItems = null;
        Data = new ProductionActivityRoutineAppModel();
        _selectedDescriptionItems = new ProductionActivityRoutineAppModel();

        RefToDoLeftNotes?.DisposeAsync();
    }
    // public void Dispose()
    // {
    //     System.GC.Collect();
    //     GC.SuppressFinalize(this);
    // }
}


