@using global::Core.Entities.Views;
@using global::Core.Entities;
@using Application.Queries;
@using MediatR
@inject IMediator Mediator
@using global::Core.EntityModels;
@inject AC.SD.Core.Services.ToastService toastService
@implements IAsyncDisposable
@inject IJSRuntime JS;
@inject NavigationManager NavigationManager
<div class="card w-100" style="margin-bottom:10px; margin-top:10px">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Transfer" IconCssClass="fa fa-exchange" Click="@updateDynamicFormSecurity" Enabled="@updateDynamicFormSecurityEnabled" />
                <DxMenuItem Text="Unlock" IconCssClass="fa fa-unlock" Click="@deleteUserGroupDelete" Enabled="@DeleteUserGroupEnabled" />
                <DxMenuItem Text="Form" IconCssClass="fa fa-wpforms" Click="@OpenNewForm" Enabled="@EditFormEnabled" />
            </Items>
        </DxMenu>
    </div>
</div>
<DxLoadingPanel @bind-Visible="PanelDynamicFormSecurityVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">

    <DxGrid @ref="TransferDynamicFormSectionSecurityGrid" FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            Data="dynamicFormWorkFlowApprovalItems"
            ShowGroupPanel="true" ShowGroupedColumns="true"
            KeyFieldName="DynamicFormDataSectionLockId"
            ShowSearchBox="true"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            VirtualScrollingEnabled="true"
            RowClick="OnRowclick"
            SelectionMode="GridSelectionMode.Multiple"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            AutoExpandAllGroupRows="true"
            CssClass="ch-360"
            style="height: calc(100vh - 420px);"
            FocusedRowEnabled="true"
            SelectedDataItemsChanged="@SelectedDynamicFormSecurityDataItemsChanged"
            AllowSelectRowByClick="true">
        <Columns>
            <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
            <DxGridDataColumn FieldName="DynamicFormDataSectionLockId" Visible="false" />
            <DxGridDataColumn FieldName="Name" Caption="Form Name" MinWidth="100" />
            <DxGridDataColumn FieldName="SectionName" Caption="Section Name" MinWidth="100" />
            <DxGridDataColumn FieldName="ProfileNo" Caption="Profile No" MinWidth="100" />
            <DxGridDataColumn FieldName="LockedUser" Caption="Locked User" MinWidth="100" />
            <DxGridCommandColumn Width="160px" Visible="false" />
        </Columns>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="Name" />
        </TotalSummary>
    </DxGrid>
</DxLoadingPanel>
<DxPopup @bind-Visible="@BlukdeleteUserGroupPopup"
         ShowFooter="true"
         HeaderText="CRT"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to Unlock?
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>
@code {

    [Parameter]
    public ResetPermissionModel? Data { get; set; }
    public List<DynamicFormDataSectionLock> dynamicFormWorkFlowApprovalItems { get; set; }
    bool PanelDynamicFormSecurityVisible { get; set; }
    IGrid? TransferDynamicFormSectionSecurityGrid { get; set; }
    bool updateDynamicFormSecurityEnabled { get; set; } = false; bool EditFormEnabled { get; set; } = false; bool DeleteUserGroupEnabled { get; set; } = false;
    IReadOnlyList<object> SelectedDynamicFormSecurityDataItems { get; set; }
    private DynamicFormDataSectionLock _selectedItems;bool BlukdeleteUserGroupPopup { get; set; } = false;
    protected override async Task OnInitializedAsync()
    {
        await loadDynamicFormDataSectionLocks();
    }

    public async Task loadDynamicFormDataSectionLock(ResetPermissionModel data)
    {
        Data = data;
        await loadDynamicFormDataSectionLocks();
    }
    async Task loadDynamicFormDataSectionLocks()
    {
        try
        {
            updateDynamicFormSecurityEnabled = false; EditFormEnabled = false; DeleteUserGroupEnabled = false;
            PanelDynamicFormSecurityVisible = true;
            dynamicFormWorkFlowApprovalItems = await Mediator.Send(new GetTransferDynamicFormDataSectionLock(Data.FromUserId));
            if (dynamicFormWorkFlowApprovalItems != null && dynamicFormWorkFlowApprovalItems.Count > 0)
            {
                updateDynamicFormSecurityEnabled = true; EditFormEnabled = true; DeleteUserGroupEnabled = true;
                _selectedItems = dynamicFormWorkFlowApprovalItems.FirstOrDefault();
                TransferDynamicFormSectionSecurityGrid?.SetFocusedRowIndex(0);
            }
            PanelDynamicFormSecurityVisible = false;
            StateHasChanged();
        }
        catch (Exception ex)
        {

        }
    }
    async Task OpenNewForm()
    {
        if (_selectedItems != null)
        {
            var url = NavigationManager.BaseUri + "DynamicMasterSetupList/dynamicForms/" + _selectedItems.FormSessionId + "/" + _selectedItems.FormDataSessionId;
            await JS.InvokeVoidAsync("window.open", url, "_blank");
        }
    }
    void OnRowclick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "DynamicFormDataSectionLockId");
        _selectedItems = dynamicFormWorkFlowApprovalItems.FirstOrDefault(f => f.DynamicFormDataSectionLockId == (long?)UniqueId);
        updateDynamicFormSecurityEnabled = true; EditFormEnabled = true; DeleteUserGroupEnabled = true;
    }
    void SelectedDynamicFormSecurityDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDynamicFormSecurityDataItems = SelectedToItems;
        if (SelectedDynamicFormSecurityDataItems.Count > 1)
        {
            EditFormEnabled = false;
        }
        else
        {
            if (SelectedDynamicFormSecurityDataItems.Count == 1)
            {
                foreach (object item in SelectedDynamicFormSecurityDataItems)
                {
                    if (item is DynamicFormDataSectionLock dataselectItems)
                    {
                        _selectedItems = (DynamicFormDataSectionLock)item;
                    }
                }
            }
            EditFormEnabled = true;
        }

    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDynamicFormSecurityDataItems = null;
        BlukdeleteUserGroupPopup = false;
    }
    async Task updateDynamicFormSecurity()
    {
        List<long?> ids = new List<long?>();
        try
        {
            if (SelectedDynamicFormSecurityDataItems != null)
            {
                foreach (object item in SelectedDynamicFormSecurityDataItems)
                {
                    if (item is DynamicFormDataSectionLock dataItem)
                    {
                        ids.Add(dataItem.DynamicFormDataSectionLockId);
                    }

                }
                if (Data.ToUserId > 0)
                {
                    if (ids != null && ids.Count > 0)
                    {
                        var request = new UpdateTransferDynamicFormDataSectionLock(ids, Data.ToUserId);
                        await Mediator.Send(request);
                        toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        await loadDynamicFormDataSectionLocks();
                        TransferDynamicFormSectionSecurityGrid?.ClearSelection();
                        TransferDynamicFormSectionSecurityGrid.SetFocusedRowIndex(0);
                        StateHasChanged();
                    }
                }
                else
                {
                    toastService.ShowToast("Must Select To User", AC.SD.Core.Services.ToastLevel.Warning);
                }
            }
        }
        catch (Exception eq)
        {
            // toastService.ShowToast("Err", AC.SD.Core.Services.ToastLevel.Error);
        }
    }
    void deleteUserGroupDelete()
    {
        BlukdeleteUserGroupPopup = true;
    }
    async Task bulkDelete()
    {
        List<long?> ids = new List<long?>();
        try
        {
            if (SelectedDynamicFormSecurityDataItems != null)
            {
                foreach (object item in SelectedDynamicFormSecurityDataItems)
                {
                    if (item is DynamicFormDataSectionLock dataItem)
                    {
                        ids.Add(dataItem.DynamicFormDataSectionLockId);
                    }

                }
                if (ids != null && ids.Count > 0)
                {
                    var request = new UpdateTransferDynamicFormDataSectionLockLock(ids);
                    await Mediator.Send(request);
                    BlukdeleteUserGroupPopup = false;
                    toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
                    await loadDynamicFormDataSectionLocks();
                    TransferDynamicFormSectionSecurityGrid?.ClearSelection();
                    TransferDynamicFormSectionSecurityGrid.SetFocusedRowIndex(0);
                }
            }
        }
        catch (Exception eq)
        {
            BlukdeleteUserGroupPopup = false;
            toastService.ShowToast("The Selected Record Do not deleted", AC.SD.Core.Services.ToastLevel.Error);
        }
    }
    public async ValueTask DisposeAsync()
    {
        dynamicFormWorkFlowApprovalItems?.Clear();
        SelectedDynamicFormSecurityDataItems = null;
        _selectedItems = null;
    }
}
