@using Application.Commands;
@using Application.Common.Helper;
@using Application.Queries;
@using Application.Response;
@using Microsoft.AspNetCore.Http;
@using global::Core.Repositories.Query;
@using global::Core.Entities;
@using MediatR
@inject IMediator Mediator
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject IJSRuntime JSRuntime;
@page "/AllEmail"
@implements IDisposable;
@inject NavigationManager NavigationManager
@using System.Timers


<div style="text-align:center">@elapsedTime</div>
<DxLoadingPanel @bind-Visible="PanelVisible" IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">
<DxGrid @ref="AllEmailGrid" SearchText="@GridSearchText"
        Data="_emailTopicAll"
        VirtualScrollingEnabled="true"
        AllowSort="false"
        KeyFieldName="ID"
        CustomizeElement="Grid_CustomizeElement"
      
        ValidationEnabled="true"
        AutoExpandAllGroupRows="true"
        CssClass="w-100" style="height: calc(100vh - 262px);"
        RowClick="OnEmailToRowClick"
        ColumnResizeMode="GridColumnResizeMode.NextColumn"        
        AllowSelectRowByClick="true">
    <Columns>
        <DxGridDataColumn FieldName="SessionId" Caption="SessionID" FilterRowValue='@filterrowname' FilterRowEditorVisible="false" FilterRowOperatorType="GridFilterRowOperatorType.Contains" MinWidth="250" Visible=false />
        @* <DxGridDataColumn FieldName="FirstName" FixedPosition="GridColumnFixedPosition.Left" Caption="Name" MinWidth="100" />
        <DxGridDataColumn FieldName="TopicName" Caption="Subject Name" MinWidth="250" />*@
        <DxGridDataColumn FieldName="FirstName" Caption="">
            <CellDisplayTemplate>
                @{
                    var item = (EmailTopics)context.DataItem;
                }
                <div style="width:100%" class="@((item.NotificationCount > 0 ? "markasTextColor" : "unmarkasTextColor"))">
                    <strong>
                        @item.FirstName
                        @if (item.NotificationCount != 0)
                        {
                            <span class="notificationCount">@item.NotificationCount</span>
                        }
                        @if (item.Urgent.GetValueOrDefault(false))
                        {
                            <span class="urgent_icon"><i class="fas fa-bell" aria-hidden="true"></i></span>
                        }

                        @if (item.OnBehalf == applicationUser.UserID)
                        {
                            <span class="onbehalf_icon"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                        }
                        @if (item.IsAllowParticipants.GetValueOrDefault(false))
                        {
                            <span class="primary_color_icon"><i class="fa fa-users" aria-hidden="true"></i></span>
                        }
                    </strong>
                    <div>
                        <span style="float:right; font-size:11px;"> @Application.Common.Helper.Helper.FormatDateTime(item.StartDate)</span>
                        <text>@item.TopicName</text>
                    </div>
                </div>
            </CellDisplayTemplate>
        </DxGridDataColumn>
        @*  <DxGridDataColumn FieldName="NotificationCount" Caption="#" Width="30" />  *@
    </Columns>
    <DetailRowTemplate>
        <SubViewAllEmail @ref=RefSubAssignAll Items="(EmailTopics)context.DataItem" RId="onSubViewEmailClick" />
    </DetailRowTemplate>

</DxGrid>
</DxLoadingPanel>
<div style="text-align:center">
    <button @onclick="LoadMore" class="loadmorebg">Load More</button>
</div> 


@code{
    bool PanelVisible { get; set; }
    private int pageNumber = 1; // Initial page number
    private int pageSize = 15; // Number of records per page
    private List<EmailTopics> emailTopics = new List<EmailTopics>(); // List to hold all fetched records

    private Timer timer;
    public string elapsedTime = "00:00:00";
    private DateTime startTime;

    protected async Task LoadMore()
    {
        PanelVisible = true;
        StartTimer();
        pageNumber++; // Increment page number
        //var additionalTopics = await Mediator.Send(new GetEmailTopicAll(applicationUser.UserID, "NULL", pageNumber, pageSize));
       // await JSRuntime.InvokeAsync<string>("showLoading");
        var additionalTopics = await Mediator.Send(new GetEmailTopicAll(applicationUser.UserID, "NULL",pageNumber,pageSize));
        _emailTopicAll.AddRange(additionalTopics); // Add additional records to the list
        AllEmailGrid.Reload();
        //await JSRuntime.InvokeAsync<string>("hideLoading");
        StateHasChanged();   
        StopTimer();
        PanelVisible = false;
    }
    IGrid? AllEmailGrid { get; set; }
    private SubViewAllEmail? RefSubAssignAll { get; set; }
    private List<EmailTopics>? _emailTopicAll;
    string SelectedGroup = "none";
    string SelectedReplyId = "none";
    public string? filterrowname { get; set; }
    public long RTopicId = 0;
    public ApplicationUser? applicationUser { get; private set; }
    [Parameter]
    public Action<string>? ATopicId { get; set; }
    [Parameter]
    public string? GridSearchText { get; set; }
    [Parameter]
    public Action<string>? SubViewAllTopicId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        StartTimer();
        PanelVisible = true;
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
       // await JSRuntime.InvokeAsync<string>("showLoading");

        _emailTopicAll = await Mediator.Send(new GetEmailTopicAll(applicationUser.UserID,"NULL",pageNumber,pageSize));
       // await JSRuntime.InvokeAsync<string>("hideLoading");
        StopTimer();
        PanelVisible = false;
        //NavigationManager.LocationChanged += OnLocationChanged;
    }
    void OnLocationChanged(object? sender, LocationChangedEventArgs args)
    {
        StateHasChanged();
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
            e.CssClass += "non-selectable-row";
        }       
    }
    void OnEmailToRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "ID");        
        SelectedGroup = UniqueId?.ToString() ?? "none";
        ATopicId?.Invoke(SelectedGroup);        
        StateHasChanged();
    }
    public async Task onAssignAllGridRefresh(long tid)
    {
        if(applicationUser != null)
        {
            _emailTopicAll = await Mediator.Send(new GetEmailTopicAll(applicationUser.UserID, "NULL",pageNumber,pageSize));
        }
        
        if(RefSubAssignAll != null)
        {
            await RefSubAssignAll.onSubAssignAllGridRefresh(tid);
        }
        
    }
    private async void onSubViewEmailClick(string RId)
    {
        SelectedReplyId = RId;
        var conversationList = await Mediator.Send(new GetEmailConversationList(long.Parse(RId)));
        RTopicId = conversationList[0].TopicID;
        SelectedGroup = conversationList[0].TopicID.ToString();
        SubViewAllTopicId?.Invoke(SelectedReplyId);
        //await Task.Delay(1000); // Example asynchronous operation
                                //await LoadReplyData();
        StateHasChanged();
    }
    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
        System.GC.Collect();
        GC.SuppressFinalize(this);
        timer?.Dispose();
    }

    private void StartTimer()
    {
        startTime = DateTime.Now;
        timer = new Timer(1000);
        timer.Elapsed += UpdateElapsedTime;
        timer.Start();
    }

    private void StopTimer()
    {
        timer.Stop();
        timer.Elapsed -= UpdateElapsedTime;
    }

    private void UpdateElapsedTime(object sender, ElapsedEventArgs e)
    {
        var timeSpan = DateTime.Now - startTime;
        elapsedTime = timeSpan.ToString(@"hh\:mm\:ss");        
        InvokeAsync(StateHasChanged);

    }
}