@using Application.Commands;
@using Application.Common.Helper;
@using Application.Queries;
@using Application.Response;
@using Microsoft.AspNetCore.Http;
@using global::Core.Repositories.Query;
@using global::Core.Entities;
@using MediatR
@inject IMediator Mediator
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject IJSRuntime JSRuntime;
@page "/AllEmail"

<DxGrid @ref="AllEmailGrid" SearchText="@GridSearchText"
        Data="_emailTopicAll"
        VirtualScrollingEnabled="true"
        FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
        KeyFieldName="ID"
        CustomizeElement="Grid_CustomizeElement"
        PagerNavigationMode="PagerNavigationMode.InputBox"
        PageSizeSelectorVisible="true"
        PageSizeSelectorAllRowsItemVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20"
        ValidationEnabled="true"
        AutoExpandAllGroupRows="true"
        CssClass="w-100" style="height: calc(100vh - 235px);"
        RowClick="OnEmailToRowClick"
        ColumnResizeMode="GridColumnResizeMode.NextColumn"
        AllowSelectRowByClick="true">
    <Columns>
        <DxGridDataColumn FieldName="SessionId" Caption="SessionID" FilterRowValue='@filterrowname' FilterRowEditorVisible="false" FilterRowOperatorType="GridFilterRowOperatorType.Contains" MinWidth="250" Visible=false />
        @* <DxGridDataColumn FieldName="FirstName" FixedPosition="GridColumnFixedPosition.Left" Caption="Name" MinWidth="100" />
        <DxGridDataColumn FieldName="TopicName" Caption="Subject Name" MinWidth="250" />*@
        <DxGridDataColumn FieldName="FirstName" Caption="">
            <CellDisplayTemplate>
                @{
                    var item = (EmailTopics)context.DataItem;
                }
                <div style="width:100%" class="@((item.NotificationCount > 0 ? "markasTextColor" : "unmarkasTextColor"))">
                    <strong>
                        @item.FirstName
                        @if (item.NotificationCount != 0)
                        {
                            <span class="notificationCount">@item.NotificationCount</span>
                        }
                        @if (item.Urgent.GetValueOrDefault(false))
                        {
                            <span class="urgent_icon"><i class="fas fa-bell" aria-hidden="true"></i></span>
                        }

                        @if (item.OnBehalf == applicationUser.UserID)
                        {
                            <span class="onbehalf_icon"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                        }
                        @if (item.IsAllowParticipants.GetValueOrDefault(false))
                        {
                            <span class="primary_color_icon"><i class="fa fa-users" aria-hidden="true"></i></span>
                        }
                    </strong>
                    <div>
                        <span style="float:right; font-size:11px;"> @Application.Common.Helper.Helper.FormatDateTime(item.StartDate)</span>
                        <text>@item.TopicName</text>
                    </div>
                </div>
            </CellDisplayTemplate>
        </DxGridDataColumn>
        @*  <DxGridDataColumn FieldName="NotificationCount" Caption="#" Width="30" />  *@
    </Columns>
    <DetailRowTemplate>
        <SubViewAllEmail @ref=RefSubAssignAll Items="(EmailTopics)context.DataItem" RId="onSubViewEmailClick" />
    </DetailRowTemplate>
    <TotalSummary>
        <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="ID" />
    </TotalSummary>
</DxGrid>

@code{
    IGrid AllEmailGrid { get; set; }
    private SubViewAllEmail? RefSubAssignAll { get; set; }
    private List<EmailTopics>? _emailTopicAll;
    string SelectedGroup = "none";
    string SelectedReplyId = "none";
    public string filterrowname { get; set; }
    public long RTopicId = 0;
    public ApplicationUser applicationUser { get; private set; }
    [Parameter]
    public Action<string> ATopicId { get; set; }
    [Parameter]
    public string? GridSearchText { get; set; }
    [Parameter]
    public Action<string> SubViewAllTopicId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _emailTopicAll = await Mediator.Send(new GetEmailTopicAll(applicationUser.UserID));
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
            e.CssClass += "non-selectable-row";
        }       
    }
    async Task OnEmailToRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "ID");
        SelectedGroup = UniqueId.ToString();
        ATopicId?.Invoke(SelectedGroup);
        //await LoadData();
        StateHasChanged();
    }
    public async Task onAssignAllGridRefresh(long tid)
    {
        _emailTopicAll = await Mediator.Send(new GetEmailTopicAll(applicationUser.UserID));
        if(RefSubAssignAll != null)
        {
            await RefSubAssignAll.onSubAssignAllGridRefresh(tid);
        }
        
    }
    private async void onSubViewEmailClick(string RId)
    {
        SelectedReplyId = RId;
        var conversationList = await Mediator.Send(new GetEmailConversationList(long.Parse(RId)));
        RTopicId = conversationList[0].TopicID;
        SelectedGroup = conversationList[0].TopicID.ToString();
        SubViewAllTopicId?.Invoke(SelectedReplyId);
        await Task.Delay(1000); // Example asynchronous operation
                                //await LoadReplyData();
        StateHasChanged();
    }
}