@page "/assignToEmail"
@using Application.Queries;
@using global::Core.Entities;
@using global::Core.Repositories.Query;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@using MediatR
@inject IMediator Mediator
@using System.Linq



<DxGrid @ref="TOGrid" SearchText="@GridSearchText" 
        Data="_forumTopicTo"
        VirtualScrollingEnabled="true"
        FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
        KeyFieldName="ID"
        CustomizeElement="Grid_CustomizeElement"
        PagerNavigationMode="PagerNavigationMode.InputBox"
        PageSizeSelectorVisible="true"
        PageSizeSelectorAllRowsItemVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20"
        ValidationEnabled="true"
        AutoExpandAllGroupRows="true"
        CssClass="w-100" style="height: calc(100vh - 235px);"
        RowClick="OnEmailToRowClick"
        ColumnResizeMode="GridColumnResizeMode.NextColumn"
        AllowSelectRowByClick="true">
    <Columns>
        <DxGridDataColumn FieldName="SessionId" Caption="SessionID" FilterRowValue='@filterrowname' FilterRowEditorVisible="false" FilterRowOperatorType="GridFilterRowOperatorType.Contains" MinWidth="250" Visible=false />
        @* <DxGridDataColumn FieldName="FirstName" FixedPosition="GridColumnFixedPosition.Left" Caption="Name" MinWidth="100" />
        <DxGridDataColumn FieldName="TopicName" Caption="Subject Name" MinWidth="250" />*@        
        <DxGridDataColumn FieldName="FirstName" Caption="">
            <CellDisplayTemplate>
                @{
                    var item = (EmailTopics)context.DataItem;
                }
                <div style="width:100%">
                    <strong>
                        @item.FirstName
                        @if (item.PinStatus == "Lock")
                        {
                            <span class="primary_color_icon handline" @onclick="@(() => onUnPin(item.ID))"><i class="fa fa-unlock" aria-hidden="true"></i></span>
                        }
                        else
                        {
                            <span class="primary_color_icon handline" @onclick="@(() => onPin(item.ID))"><i class="fa fa-thumb-tack fa-unlock" aria-hidden="true"></i></span>
                        }

                        @if (item.Urgent.GetValueOrDefault(false))
                        {
                            <span class="urgent_icon"><i class="fas fa-bell" aria-hidden="true"></i></span>
                        }
                        @if (item.IsAllowParticipants.GetValueOrDefault(false))
                        {
                            <span class="primary_color_icon"><i class="fa fa-users" aria-hidden="true"></i></span>
                        }                       
                    </strong>
                    <div>
                        <span style="float:right; font-size:11px;"> @Application.Common.Helper.Helper.FormatDateTime(item.StartDate)</span>
                        <text>@item.TopicName</text>
                    </div>
                </div>
            </CellDisplayTemplate>
        </DxGridDataColumn>       
        <DxGridDataColumn FieldName="PinStatus" Caption=" " SortOrder="GridColumnSortOrder.Ascending" GroupIndex="0" Width="10%">
        <GroupRowTemplate>
                @*<text>@context.DataColumn.FieldName =  @context.GroupValue</text>  *@               
                
                @if ((string)context.GroupValue == "Lock")
                {
                    <text>Focus</text>
                }
            </GroupRowTemplate>
        </DxGridDataColumn>
    </Columns>
    <DetailRowTemplate>
        <SubViewEmail Items="(EmailTopics)context.DataItem" RId="onSubViewEmailClick" />
    </DetailRowTemplate>
    <TotalSummary>
        <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="ID" />
    </TotalSummary>
</DxGrid>


@code {

    IGrid TOGrid { get; set; }
    private List<EmailTopics>? _forumTopicTo;
    public ApplicationUser applicationUser { get; private set; }
    string SelectedGroup = "none";
    public long RTopicId = 0;
    string SelectedReplyId = "none";
    public string filterrowname { get; set; }

    [Parameter]
    public string? GridSearchText { get; set; }

    [Parameter]
    public Action<string> ToTopicId { get; set; }
    [Parameter]
    public Action<string> SubViewToTopicId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _forumTopicTo = await Mediator.Send(new GetEmailTopicTo(applicationUser.UserID));
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
            e.CssClass += "non-selectable-row";
        }

    }   
    async Task onGridRefresh()
    {
        _forumTopicTo = await Mediator.Send(new GetEmailTopicTo(applicationUser.UserID));
    }
    async Task onPin(long Id)
    {           
        var request = await Mediator.Send(new SetPinEmailTopicTo(Id));
        await onGridRefresh();
    }
    async Task onUnPin(long Id)
    {
        var request = await Mediator.Send(new UnSetPinEmailTopicTo(Id));
        await onGridRefresh();
    }
    async Task OnEmailToRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "ID");
        SelectedGroup = UniqueId.ToString();
        ToTopicId?.Invoke(SelectedGroup);
        //await LoadData();
        StateHasChanged();
    }

  
    private async void onSubViewEmailClick(string RId)
    {
        SelectedReplyId = RId;
        var conversationList = await Mediator.Send(new GetEmailConversationList(long.Parse(RId)));
        RTopicId = conversationList[0].TopicID;
        SelectedGroup = conversationList[0].TopicID.ToString();
        SubViewToTopicId?.Invoke(SelectedReplyId);
        await Task.Delay(1000); // Example asynchronous operation
                                //await LoadReplyData();
        StateHasChanged();
    }
}
