@page "/assignToEmail"
@using Application.Queries;
@using global::Core.Entities;
@using global::Core.Repositories.Query;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@using MediatR
@inject IMediator Mediator
@using System.Linq;
@implements IDisposable;
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager
@using System.Timers
<style scoped>  
</style>
<div style="text-align:center">@elapsedTime</div>
<DxLoadingPanel @bind-Visible="PanelVisible" IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">
<DxGrid @ref="TOGrid" SearchText="@GridSearchText" 
        Data="_forumTopicTo"
        VirtualScrollingEnabled="true"   
        AllowSort="false"
        KeyFieldName="ID"
        CustomizeElement="Grid_CustomizeElement"       
       
        ValidationEnabled="true"
        AutoExpandAllGroupRows="true"
        CssClass="w-100" style="height: calc(100vh - 262px);"
        RowClick="OnEmailToRowClick"     
        AllowSelectRowByClick="true" SelectionMode="GridSelectionMode.Multiple"
        SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages" SelectedDataItemsChanged="@SelectedDataItemsChanged">
    <Columns>
        <DxGridDataColumn FieldName="SessionId" Caption="SessionID" FilterRowValue='@filterrowname' FilterRowEditorVisible="false" FilterRowOperatorType="GridFilterRowOperatorType.Contains" MinWidth="250" Visible=false />
        @* <DxGridDataColumn FieldName="FirstName" FixedPosition="GridColumnFixedPosition.Left" Caption="Name" MinWidth="100" />
        <DxGridDataColumn FieldName="TopicName" Caption="Subject Name" MinWidth="250" />*@
        <DxGridSelectionColumn Width="50px" AllowSelectAll="true" />
        <DxGridDataColumn FieldName="FirstName" Caption="First Name">
            <CellDisplayTemplate>
                @{
                    var item = (EmailTopics)context.DataItem;
                }
                <div style="width:100%; padding-right: 6px;" class="@((item.NotificationCount > 0 ? "markasTextColor" : "unmarkasTextColor"))" @oncontextmenu="((e) => { ContextMenu.ShowAsync(e); } )" @oncontextmenu:preventDefault>
                    <strong>
                        @item.FirstName
                        @if(item.NotificationCount !=0)
                        {
                             <span class="notificationCount">@item.NotificationCount</span>
                        }
                       
                        @if (item.PinStatus == "Lock")
                        {
                            <span class="primary_color_icon handline" @onclick="@(() => onUnPin(item.ID))"><i class="fa fa-thumb-tack pinrotated" aria-hidden="true"></i></span>
                        }
                        else
                        {
                            <span class="primary_color_icon handline" @onclick="@(() => onPin(item.ID))"><i class="fa fa-thumb-tack" aria-hidden="true"></i></span>
                        }

                        @if (item.Urgent.GetValueOrDefault(false))
                        {
                            <span class="urgent_icon"><i class="fas fa-bell" aria-hidden="true"></i></span>
                        }
                        @if (item.IsAllowParticipants.GetValueOrDefault(false))
                        {
                            <span class="primary_color_icon"><i class="fa fa-users" aria-hidden="true"></i></span>
                        }                       
                    </strong>
                    <div>
                        <span style="float:right; font-size:11px;"> @Application.Common.Helper.Helper.FormatDateTime(item.StartDate)</span>
                        <text>@item.TopicName</text>
                    </div>                   
                </div>
                <DxContextMenu @ref="@ContextMenu" ItemClick="@OnItemClick">
                    <Items>                        
                        <DxContextMenuItem Text="Focus" IconCssClass="fa fa-thumb-tack"></DxContextMenuItem>                                             
                    </Items>
                </DxContextMenu>
            </CellDisplayTemplate>
        </DxGridDataColumn>       
        <DxGridDataColumn FieldName="PinStatus" Caption=" " Width="10%" Visible=false>
        <GroupRowTemplate>
                @*<text>@context.DataColumn.FieldName =  @context.GroupValue</text>  *@               
                
                @if ((string)context.GroupValue == "Lock")
                {
                    <text>Focused</text>
                }
            </GroupRowTemplate>
        </DxGridDataColumn>
    </Columns>
    <DetailRowTemplate>
        <SubViewEmail @ref=RefSubAssignTo Items="(EmailTopics)context.DataItem" RId="onSubViewEmailClick" />
    </DetailRowTemplate>   
</DxGrid>
</DxLoadingPanel>
<div style="text-align:center">
    <button @onclick="ToLoadMore" class="loadmorebg">Load More</button>
</div>

@code {
    bool PanelVisible { get; set; }
    private Timer timer;
    public string elapsedTime = "00:00:00";
    public string OnElapsedTimeChanged = "00:00:00";
    private DateTime startTime;

    IReadOnlyList<object> SelectedDataItems { get; set; }

    private int pageNumber = 1; // Initial page number
    private int pageSize = 15; // Number of records per page
    DxContextMenu? ContextMenu { get; set; }
    IGrid? TOGrid { get; set; }
    internal List<EmailTopics>? _forumTopicTo;
    public ApplicationUser? applicationUser { get; internal set; }
    string SelectedGroup = "none";
    List<string>? SelectedGroups = new List<string>();
    public long RTopicId = 0;
    string SelectedReplyId = "none";
    public string? filterrowname { get; set; }
    internal SubViewEmail? RefSubAssignTo { get; set; }
    [Parameter]
    public string? Page { get; set; }
    [Parameter]
    public string? GridSearchText { get; set; }
    [Parameter]
    public Action EnableArchiveAll { get; set; }
    [Parameter]
    public Action<string>? ToTopicId { get; set; }
    [Parameter]
    public Action<List<string>>? ToTopicIds { get; set; }
    [Parameter]
    public Action<string>? SubViewToTopicId { get; set; }    
    protected override async Task OnInitializedAsync()
    {
        PanelVisible = true;
        StartTimer();
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        @if (Page == "AssignTo")
        {  
            _forumTopicTo = await Mediator.Send(new GetEmailTopicTo(applicationUser.UserID, "NULL", pageNumber, pageSize));
        }
        StopTimer();
        //NavigationManager.LocationChanged += OnLocationChanged;
        PanelVisible = false;
    }
    protected async Task ToLoadMore()
    {
        PanelVisible = true;
        pageNumber++; // Increment page number                      
        //await JSRuntime.InvokeAsync<string>("showLoading");
       
        @if (Page == "AssignTo")
        {
            var getassigntoEmailTask = Task.Factory.StartNew(() => Mediator.Send(new GetEmailTopicTo(applicationUser.UserID, "NULL", pageNumber, pageSize)));
            await Task.WhenAll(getassigntoEmailTask);            
            _forumTopicTo.AddRange(await getassigntoEmailTask.Result);
            TOGrid.Reload();
        }
        //var additionalTopics = await Mediator.Send(new GetEmailTopicAll(applicationUser.UserID, "NULL", pageNumber, pageSize));             
        //await JSRuntime.InvokeAsync<string>("hideLoading");
        StateHasChanged();
        PanelVisible = false;
        StopTimer();
    }
    void OnLocationChanged(object? sender, LocationChangedEventArgs args)
    {
        StateHasChanged();
    }
    void OnItemClick(ContextMenuItemClickEventArgs args)
    {
        //ClickedItem = args.ItemInfo.Text;
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
            e.CssClass += "non-selectable-row";
        }

    }   
    public async Task onAssignToGridRefresh(long tid)
    {
        if (applicationUser != null)
        {
            PanelVisible = true;
            _forumTopicTo = await Mediator.Send(new GetEmailTopicTo(applicationUser.UserID, "NULL", pageNumber, pageSize));
            PanelVisible = false;
        }

        if(RefSubAssignTo != null)
        {
            await RefSubAssignTo.onSubAssignToGridRefresh(tid);
        }
    }
    async Task onGridRefresh()
    {
        if (applicationUser != null)
        {
            _forumTopicTo = await Mediator.Send(new GetEmailTopicTo(applicationUser.UserID, "NULL", pageNumber, pageSize));
        }

    }
    async Task onPin(long Id)
    {           
        var request = await Mediator.Send(new SetPinEmailTopicTo(Id,applicationUser.UserID));
        await onGridRefresh();
    }
    async Task onUnPin(long Id)
    {
        var request = await Mediator.Send(new UnSetPinEmailTopicTo(Id, applicationUser.UserID));
        await onGridRefresh();
    }
    void OnEmailToRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "ID");        
        SelectedGroup = UniqueId?.ToString() ?? "none";
        ToTopicId?.Invoke(SelectedGroup);        
        StateHasChanged();
    }


    internal async void onSubViewEmailClick(string RId)
    {
        SelectedReplyId = RId;
        var conversationList = await Mediator.Send(new GetEmailConversationList(long.Parse(RId)));
        RTopicId = conversationList[0].TopicID;
        SelectedGroup = conversationList[0].TopicID.ToString();
        SubViewToTopicId?.Invoke(SelectedReplyId);
        //await Task.Delay(1000); // Example asynchronous operation
        //await LoadReplyData();
        StateHasChanged();
    }
    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
        System.GC.Collect();
        GC.SuppressFinalize(this);
        timer?.Dispose();
    }
    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems;
        EnableArchiveAll.Invoke();
    }
    public  async Task GetID()
    {
        foreach (object item in SelectedDataItems)
        {
            if (item is EmailTopics emailTopics)
            {

                SelectedGroups.Add(emailTopics.ID.ToString());


            }

        }

        ToTopicIds?.Invoke(SelectedGroups);

        StateHasChanged();

    }

    private void StartTimer()
    {
        startTime = DateTime.Now;
        timer = new Timer(1000);
        timer.Elapsed += UpdateElapsedTime;
        timer.Start();
    }

    private void StopTimer()
    {
        timer.Stop();
        timer.Elapsed -= UpdateElapsedTime;
    }

    private void UpdateElapsedTime(object sender, ElapsedEventArgs e)
    {
        var timeSpan = DateTime.Now - startTime;
        elapsedTime = timeSpan.ToString(@"hh\:mm\:ss");         
        InvokeAsync(StateHasChanged);
    
    }
}
