@using Application.Commands;
@using Application.Queries;
@using Application.Response;
@using System.Text;
@using global::Core.Repositories.Query;
@using DevExpress.Blazor.ComboBox;
@using DevExpress.Export;
@using MediatR
@inject NavigationManager NavigationManager
@using global::Core.Entities;
@using global::Core.Entities.Views;
@inject IMediator Mediator
@using System.ComponentModel.DataAnnotations
@using DevExpress.Blazor.Internal
@inject IJSRuntime JSRuntime;
@using System.Collections.Generic
@using System.Reflection;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration;
@inject HttpClient httpClient;
@inject AC.SD.Core.Services.ToastService toastService
@using System.IO;
@using System.ComponentModel;
@page "/CreateEmail"
@page "/CreateEmail/{ActiveSessionId}"
<style>
    .txtEditorMsg {
        height: calc(100vh - 477px);
    }
    .dxuc-file-list-view
    {
        padding: 20px;
    }

    .dxuc-upload-icon {
        display: none; /* or any other style to disable or hide the icon */
    }
</style>
<div class="card w-100 tooltips" style="margin-bottom:10px;">
    <div class="card-body p-0 tooltiptops">
        <div class="row">
            <div class="">
                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Desktop">
                    <Items>
                        <DxMenuItem Text="Back" IconCssClass="fa fa-reply" Click="@((e) => onBack())" Enabled = "@BackEnabled" />
                        <DxMenuItem Text="Reset" IconCssClass="fa fa-refresh" Click="@onRestText" />
                       @* <DxMenuItem Text="Draft" IconCssClass="fa fa-save" Enabled="@IsDraftEnabled"  Click="@((e) => addNew(1))" />
                        <DxMenuItem Text="Sent" IconCssClass="fa fa-save" Click="@((e) => addNew(0))" />*@
                    </Items>
                </DxMenu>
            </div>
            <div class="save_hover" @onclick="@(() => addNew(0))" style="float: left; margin-top: -41px; line-height: 38px; margin-left:200px; z-index: 9999; width:100px;">
                <button type="submit" form="@MyID" disabled="@loading" class="btnSubmitForm" style="">
                    @if (loading)
                    {
                        <span class="spinner-border spinner-border-sm mr-1"></span>
                    }
                    <i class="fa fa-save"></i>
                    Sent
                </button>
             </div>
             @if(IsDraftEnabled)
            {
                <div class="save_hover" @onclick="@(() => addNew(1))" style="float: left; margin-top: -41px; line-height: 38px; margin-left: -12px; z-index: 9999; width:100px;">
                    <button type="submit" form="@MyID" disabled="@loading" class="btnSubmitForm" style="">
                        @if (loading)
                        {
                            <span class="spinner-border spinner-border-sm mr-1"></span>
                        }
                        <i class="fab fa-stack-overflow"></i>
                        Draft
                    </button>
                </div>
            }
            
        </div>
    </div>
</div>

@*<div class="g-title">
    <div class="g-left"></div>
   
    <span class=""></span><span class="g-text"></span>
    <div class="g-right">
        <button type="button" CssClass="download-btn"
                IconCssClass="demo-download-icon"
                Text="Free Trial"
                class="btn btn-excel" @onclick="ExportToExcel" title="Export to Excel">
            <i class="fa fa-file-excel-o"></i>Export
        </button>
    </div>
</div>*@

<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">
    <div class="text-center">
       
    </div>
</DxPopup>
@if(isValidateSession)
{
    <div style="color:red; text-align:center;">Invalidate Session or Already Created</div>
    NavigationManager.NavigateTo($"404",forceLoad:true);
}
else
{
    <div class="card cw-480 toolnext">
        <EditForm id="@MyID" @ref="myForm" Model="@Data"
              OnValidSubmit="@HandleValidSubmit"
              OnInvalidSubmit="@HandleInvalidSubmit"
              Context="EditFormContext">
            <DataAnnotationsValidator />
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <DxFormLayout>
                            <DxFormLayoutItem Caption="From" ColSpanMd="12">
                                <DxTextBox @bind-Text="@Data.From" ShowValidationIcon="true" Enabled=false />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="To" ColSpanMd="12">
                                <DxTagBox NullText="Select To..."
                                      Data="_participant"
                                      ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                      ValueFieldName="UserID"
                                      TextFieldName="FirstName"
                                      TagsChanged="@onToChanged"
                                      ListRenderMode="ListRenderMode.Virtual"
                                      @bind-Values="Data.ToIds"
                                      CssClass="cw-480">
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.CompanyName)"
                                            Caption="Company"
                                            Width="100px"/>
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.DesignationName)"
                                            Caption="Designation" />
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.FirstName)"
                                            Caption="First Name" 
                                            Width="100px" />
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.NickName)"
                                            Caption="Nick Name" />
                                </DxTagBox>
                                <ValidationMessage For="@(() => Data.ToIds)" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="CC" ColSpanMd="12">
                                <DxTagBox NullText="Select Cc..."
                                      Data="_participant"
                                      ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                      ListRenderMode="ListRenderMode.Virtual"
                                      ValueFieldName="UserID"
                                      TextFieldName="FirstName"
                                      TagsChanged="@onCcChanged"
                                      @bind-Values="@Data.CCIds"
                                      CssClass="cw-480">
                                           <DxListEditorColumn FieldName="@nameof(ViewEmployee.CompanyName)"
                                            Caption="Company"
                                            Width="100px"/>
                                            <DxListEditorColumn FieldName="@nameof(ViewEmployee.DesignationName)"
                                            Caption="Designation" />
                                            <DxListEditorColumn FieldName="@nameof(ViewEmployee.FirstName)"
                                            Caption="First Name" 
                                            Width="100px" />
                                            <DxListEditorColumn FieldName="@nameof(ViewEmployee.NickName)"
                                            Caption="Nick Name" />
                                </DxTagBox>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="On Behalf of" ColSpanMd="12">
                                <DxComboBox Data="@_Allparticipant"
                                        NullText="Select OnBehalf..."
                                        FilteringMode="DataGridFilteringMode.Contains"
                                        ListRenderMode="ListRenderMode.Virtual"
                                        TextFieldName="FirstName"
                                        ValueFieldName="UserID"
                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                        @bind-Value="@Data.OnBehalf" ShowValidationIcon="true">
                                        <Columns>
                                                 <DxListEditorColumn FieldName="@nameof(ViewEmployee.CompanyName)"
                                            Caption="Company"
                                            Width="100px"/>
                                                <DxListEditorColumn FieldName="@nameof(ViewEmployee.DesignationName)"
                                            Caption="Designation" />
                                                <DxListEditorColumn FieldName="@nameof(ViewEmployee.FirstName)"
                                            Caption="First Name" 
                                            Width="100px" />
                                                <DxListEditorColumn FieldName="@nameof(ViewEmployee.NickName)"
                                            Caption="Nick Name" />
                                        </Columns>
                                        </DxComboBox>
                            </DxFormLayoutItem>


                            <DxFormLayoutItem Caption="Follow" ColSpanMd="3">
                                <DxComboBox Data="@Follow"
                                        NullText="Select Follow..."
                                        @bind-Value="@Data.Follow"
                                        CssClass="cw-480">
                                </DxComboBox>
                                <ValidationMessage For="@(() => Data.Follow)" />
                            </DxFormLayoutItem>

                            <DxFormLayoutItem Caption="" ColSpanMd="1">
                                <DxCheckBox CssClass="w-100"
                                        @bind-Checked="@Data.Urgent"
                                        Alignment="default"
                                        LabelPosition="LabelPosition.Right">
                                    Urgent
                                </DxCheckBox>
                            </DxFormLayoutItem>

                            <DxFormLayoutItem Caption="" CssClass="topoverdue" ColSpanMd="2">
                                <DxCheckBox CssClass="w-100"
                                        @bind-Checked="@Data.OverDue"
                                        Alignment="default"
                                        LabelPosition="LabelPosition.Right">
                                    Allow OverDue
                                </DxCheckBox>
                            </DxFormLayoutItem>

                            <DxFormLayoutItem Caption="" CssClass="topoverdue" ColSpanMd="2">
                                <DxCheckBox CssClass="w-100"
                                        @bind-Checked="@Data.IsAllowParticipants"
                                        Alignment="default"
                                        LabelPosition="LabelPosition.Right">
                                    Allow Participants
                                </DxCheckBox>
                            </DxFormLayoutItem>
                            

                            <DxFormLayoutItem Caption="Subject Name" ColSpanMd="8">
                                <DxTextBox @bind-Text="@Data.TopicName" ShowValidationIcon="true" NullText="Subject Name" />
                                <ValidationMessage For="@(() => Data.TopicName)" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Due Date" ColSpanMd="4">
                                <DxDateEdit @bind-Date="@Data.DueDate" CssClass="cw-320" Mask="dd/MMMM/yyyy" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem ColSpanMd="8">
                                <DxRichEdit DocumentFormat="DocumentFormat.Rtf" @ref="msgrichEdit" CustomizeToolbar=OnCustomizeToolbar DocumentContent="@Data.FileData" BarMode="BarMode.Toolbar" CssClass="w-100 txtEditorMsg" ViewType="ViewType.Simple" />
                                  
                            </DxFormLayoutItem>
                            <DxFormLayoutItem ColSpanMd="4">
                                <DxFormLayout CssClass="w-100 ">
                                    <DxFormLayoutGroup Caption="Attachment" CssClass="txtEditorMsg" ColSpanMd="12">
                                        <div id="attachmentSelectButton" style="height: 33px;" class="btn border-primary btn-primary m-1 handline">Select File</div>
                                        <div class="">
                                            <DxUpload @ref="uploadComponent" Name="files"
                                                  Visible="@AttachmentUploadVisible"
                                                  AcceptedFileTypes=@AcceptedFileTypes
                                                  UploadMode="@UploadMode.OnButtonClick"
                                                  UploadUrl="@GetUploadUrl()"
                                                  AllowMultiFileUpload="true"
                                                  ExternalSelectButtonCssSelector="#attachmentSelectButton"
                                                  SelectedFilesChanged="@AttachmentSelectedFilesChanged"
                                                  FileUploaded="@isUploadSuccess"
                                                  FileUploadError="@OnUploadError">
                                            </DxUpload>
                                            <div class="alert alert-danger @(ErrorVisible? " visible" : " invisible")">@MyError</div>
                                        </div>
                                        <div style="width:100%;">
                                            @if (ActiveSessionId != null)
                                            {
                                                @if (_documentslst != null && _documentslst.Any())
                                                {
                                                    <ul class="d-flex flex-column-reverse todo-list">
                                                        @foreach (var item in _documentslst)
                                                        {

                                                            <li class="doc_lst_view">
                                                                <div class="form-check">
                                                                    <label class="form-check-label">
                                                                        <span style="font-weight: 600; font-size: 14px;">@item.FileName</span>
                                                                        @{
                                                                            string formattedFileSize = FormatFileSize(item.FileSize.Value);
                                                                        }
                                                                        <span style="font-size: 11px;">  @formattedFileSize</span>

                                                                        @* <button class="dxbl-btn fa fa-cloud-download" @onclick="@(() => onDocDownload(item.DocumentId))"> </button>*@

                                                                    </label>
                                                                </div>
                                                            </li>
                                                        }
                                                    </ul>

                                                }
                                            }
                                        </div>
                                    </DxFormLayoutGroup>
                                </DxFormLayout>
                            </DxFormLayoutItem>
                        </DxFormLayout>
                    </div>
                </div>
            </div>
        </EditForm>
       
    </div>
}

<DxPopup @bind-Visible="@MessageVisible" HeaderText="@MessageHeader">
    <BodyTemplate Context="PopupContext">
        <div class="@((MessageHeader == "Error" ? "TxtRed" : "TxtGreen"))" style="text-align:center; padding: 10px; font-size: 15px;">
            <span> @MessageBody</span>
        </div>

    </BodyTemplate>
</DxPopup>



@code {
    bool IsDraftEnabled { get; set; } = false;
    [Parameter]
    public List<string> AcceptedFileTypes { get; set; } = new List<string> { "image/*", "video/*", ".doc", ".docx", ".ppt", ".pptx", ".xls", ".xlsx", ".txt", ".pdf", ".PDF" };
    private DxUpload uploadComponent;
    Guid? _sessionId;
    string MyError { get; set; }
    bool ErrorVisible { get; set; } = false;
    bool isFileUpload = false;
    int draftId = 0;
    private List<UploadFileInfo> SelectedFiles { get; set; } = new List<UploadFileInfo>();
    bool AttachmentUploadVisible { get; set; } = false;
    List<string> Follow { get; set; }
    string SelectedFollow { get; set; }
    private EditForm myForm;
    private string MyID = "myForm";    
    List<int> selectedValues = new List<int>();
    IGrid? Grid { get; set; }
    private bool loading;
    bool MessageVisible { get; set; }
    string styleClass = "";
    string MessageHeader = "Error";
    string MessageBody = "";
    DxRichEdit msgrichEdit { get; set; }
    IEnumerable<GridSelectAllCheckboxMode> SelectAllCheckboxModes { get; } = Enum.GetValues<GridSelectAllCheckboxMode>();
    bool IsOpen { get; set; } = false;
    private string? FileUrl;
    private string? ProductActivityBaseUrl;
    bool BackEnabled { get; set; } = false;


    bool ShowCheckboxes { get; set; } = true;
    string FormSubmitResult = "";
    DxPopup? popup;
    bool PopupVisible { get; set; } = false;
    bool isValidateSession = false;
    private long ActivityEmailTopicId;
    EmailTopics? Data { get; set; } = new EmailTopics();
    IEnumerable<EmailTopics>? _topics;
    private List<ViewEmployee>? _participant;
    private List<ActivityEmailTopics>? activityEmailTopics;
    private List<ViewEmployee>? _Allparticipant;
    long? AppUserId;
    private List<ViewEmployee>? _Toparticipant;
    private List<ViewEmployee>? _CCparticipant;
    IEnumerable<ForumTypes>? _OnBehalf;

    private List<ApplicationUser> _applicationUsers;  

    List<long> participantIds = new List<long>();
    List<long> selectedToIds = new List<long>();
    List<long> SelectedCCIds = new List<long>();

    List<string> sToIds = new List<string>();
    List<string> sCCIds = new List<string>();

    //List<ViewEmployee> ids = new List<ViewEmployee>(); 
    [Parameter]
    public string ActiveSessionId { get; set; }

    public ApplicationUser? applicationUser { get; private set; }

    IReadOnlyList<object>? SelectedDataItems { get; set; }
    IReadOnlyList<object>? SelectedCCItems { get; set; }
    IReadOnlyList<object>? SelectedToItems { get; set; }

    IReadOnlyList<object>? SelectedToDataItems { get; set; }
    IReadOnlyList<object>? SelectedCCDataItems { get; set; }

    private List<Documents>? _documentslst;

    public static string FormatFileSize(long bytes)
    {
        var unit = 1024;
        if (bytes < unit) { return $"{bytes} B"; }

        var exp = (int)(Math.Log(bytes) / Math.Log(unit));
        return $"{bytes / Math.Pow(unit, exp):F2} {("KMGTPE")[exp - 1]}B";
    }
    void onToChanged(IEnumerable<string> newTags)
    {
        sToIds = newTags.ToList();

        List<string> concatList = sToIds.Concat(sCCIds).ToList();

        //_CCparticipant = _Toparticipant.Where(c => !newTags.Contains(c.FirstName)).ToList();
        _participant = _Toparticipant.Where(c => !concatList.Contains(c.FirstName)).ToList();
        var todd = Data.ToIds;
        var ccdd = Data.CCIds;

        //foreach(var itm in Tags)
        //{

        //    _CCparticipant = _Toparticipant.Where(c => c.FirstName != itm).ToList();
        //}       
    }
    public string GetUploadUrl()
    {
        string BaseUrl = Configuration["DocumentsUrl:BaseUrl"];
        string url = BaseUrl + "Upload/UploadDocuments?SessionId=" + _sessionId + "&addedByUserId=" + AppUserId;
        return url.ToString();
    }
    void onloadSession()
    {
        _sessionId = Guid.NewGuid();
    }
    private async Task isUploadSuccess()
    {
        //uploadComponent.RemoveAllFiles();
        //uploadComponent.CancelAllFilesUpload();
        isFileUpload = false;
        //await LoadData();
    }
    void OnUploadError(FileUploadErrorEventArgs e)
    {
        MyError = e.RequestInfo.ResponseText;
        ErrorVisible = true;
        InvokeAsync(StateHasChanged);
    }
    protected async void AttachmentSelectedFilesChanged(IEnumerable<UploadFileInfo> files)
    {
        AttachmentUploadVisible = files.ToList().Count > 0;
        SelectedFiles.AddRange(files);
    }
    void onCcChanged(IEnumerable<string> newTags)
    {
        sCCIds = newTags.ToList();


        List<string> concatList = sCCIds.Concat(sToIds).ToList();

        //_Toparticipant = _CCparticipant.Where(c => !newTags.Contains(c.FirstName)).ToList();
        _participant = _Toparticipant.Where(c => !concatList.Contains(c.FirstName)).ToList();



        //foreach (var itm in Tags)
        //{
        //    _Toparticipant = _CCparticipant.Where(c => c.FirstName != itm).ToList();
        //}
    }
    private async Task SubmitForm()
    {
        //myForm.OnSubmit();    
        // await JSRuntime.InvokeVoidAsync("submitForm", myForm);
        //await JSRuntime.InvokeVoidAsync("submitForm");
        await JSRuntime.InvokeVoidAsync("myInteropFunctions.submitForm");
    }
    private void addNew(int id)
    {
        draftId = id;        
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("eval", @"
                window.submitForm = function () {
                    document.getElementById('myForm').submit();
                };
            ");            
        }
    } 
    async  void OnCustomizeToolbar(IToolbar toolbar)
    {
        BarGroupCollection groups = toolbar.Groups;
        toolbar.Groups.Clear();

        // Inserts the File group at the first position in the group collection
        //toolbar.Groups.Add(0, RichEditToolbarGroupNames.File);
        toolbar.Groups.Add(0, RichEditToolbarGroupNames.Undo);
        toolbar.Groups.Add(1, RichEditToolbarGroupNames.Font);
        toolbar.Groups.Add(2, RichEditToolbarGroupNames.Table);
        toolbar.Groups.Add(2, RichEditToolbarGroupNames.Picture);
        toolbar.Groups.Add(2, RichEditToolbarGroupNames.Paragraph);


        //AddFormattingGroup(groups);


        IBarGroup fontGroup = toolbar.Groups[RichEditToolbarGroupNames.Font];
        //IBarItem fontSizeItem = fontGroup.Items[RichEditBarItemNames.FontSize];

        //// Assuming fontSizeItem has a property to set the font size
        //fontSizeItem  = 18; // Assuming 18 is the desired font size


        //IBarItem fontSizeItem = fontGroup.Items[RichEditBarItemNames.FontSize];
        //if (fontSizeItem.Type == BarItemTypes.ComboBox)
        //{
        //    IBarComboBox fontSizeComboBox = (IBarComboBox)fontSizeItem;
        //    fontSizeComboBox.Items.Clear();
        //    fontSizeComboBox.Items.Add("12", "12");
        //    fontSizeComboBox.Items.Add("14", "14");
        //    fontSizeComboBox.Items.Add("18", "18"); 
        //    fontSizeComboBox.Items.Add("24", "24");
        //    fontSizeComboBox.AllowUserInput = false;
        //    //fontSizeComboBox = 2; // Set the default font size
        //    //int defaultFontSizeIndex = fontSizeComboBox.Items.IndexOf(2);                       
        //}
        //fontSizeItem.Text = "Font Size:";
        //fontSizeItem.Tooltip = "Changes the selected text's font size.";


       

         //AddFormattingGroup(toolbar.Groups);

        IBarGroup undoRedoGroup = toolbar.Groups[0];
        undoRedoGroup.Items.Add(0,RichEditBarItemNames.FullScreen);

        if (ActiveSessionId != null)
        {
            var acttopics = await Mediator.Send(new GetActivityEmailTopics());
            activityEmailTopics = acttopics;
            //string sessionIdString = ActiveSessionId;
            Guid activeSessionId = Guid.Parse(ActiveSessionId);
            var actItem = acttopics.Where(c => c.SessionId == activeSessionId && c.EmailTopicSessionId == null).ToList();



        }
    }

    void AddFormattingGroup(BarGroupCollection groups) {
        IBarGroup formattingGroup = groups.AddCustomGroup();
        formattingGroup.IconCssClass = "tb-icon tb-icon-settings";
        //Adds a custom drop-down item
    }

    //IEnumerable<GridSelectAllCheckboxMode> SelectAllCheckboxModes { get; } = Enum.GetValues<GridSelectAllCheckboxMode>();
    //GridSelectAllCheckboxMode CurrentSelectAllCheckboxMode { get; set; }   

    void OnSelectedDataItemsChanged(IReadOnlyList<object> selectedDataItems)
    {
        SelectedDataItems = selectedDataItems;
        SelectedCCItems = selectedDataItems;
        SelectedToItems = selectedDataItems;
        //onTicketSelectionChanged.InvokeAsync(selectedDataItems);
        // OnSelectedToDataItemsChanged(null);
        //OnSelectedCCDataItemsChanged(null);
    }

    void OnSelectedToDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedToDataItems = SelectedToItems;
        if(SelectedToItems !=null)
        {
            List<object> newList = new List<object>(SelectedDataItems);
            // Remove the selected items from the new list
            newList.RemoveAll(item => SelectedToItems.Contains(item));
            SelectedCCItems = newList;
        }
    }

    void OnSelectedCCDataItemsChanged(IReadOnlyList<object> SelectedCCItems)
    {
        SelectedCCDataItems = SelectedCCItems;
        if(SelectedCCItems != null)
        {
            List<object> newList = new List<object>(SelectedDataItems);
            // Remove the selected items from the new list
            newList.RemoveAll(item => SelectedCCItems.Contains(item));
            SelectedToItems = newList;
        }

    }

    private void OnSelectionChanged(object args)
    {
        var res = args;
        var lst = @SelectedDataItems;

        if(args != null)
        {
            ViewEmployee selectedEmployee = @SelectedDataItems as ViewEmployee;
            if (selectedEmployee != null)
            {
                var lsts = selectedEmployee;
                //ids.Add(selectedEmployee);
                //selectedToIds.Add((long)selectedEmployee.UserID);

            }
        }      
    }
    private void onRestText()
    {
        Data = new EmailTopics();
        SelectedDataItems = null;
        SelectedCCItems = null;
        SelectedToItems = null;        
        SelectedToDataItems = null;       
        participantIds.Clear();
        selectedToIds.Clear();
        SelectedCCIds.Clear();
        Data.From = applicationUser.UserName;
        onloadSession();
        Follow = new List<string>
        {
             "Follow Up","No Follow Up"
        };

        Data.Follow = Follow[1];

    }
    private void onSubmit()
    {

    }



    private void HandleSelectedRowsChanged(IEnumerable<ViewEmployee> selectedRows)
    {
        // Update the selected data items list
        SelectedDataItems = selectedRows.ToList();

        // Perform any necessary logic when the selection changes
        Console.WriteLine($"Selected items count: {SelectedDataItems.Count}");
    }


    protected override async Task OnInitializedAsync() {

        onloadSession();

        FileUrl = Configuration["DocumentsUrl:FileUrl"];
        ProductActivityBaseUrl = Configuration["DocumentsUrl:APP_Product_Activity"];
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        AppUserId = applicationUser.UserID;
        var plist = await Mediator.Send(new GetAllEmployeeListQuery());

        
        Follow = new List<string>
        {
             "Follow Up","No Follow Up"
        };

        Data.Follow = Follow[1];
        Data.Urgent = false;
        Data.OverDue = false;
        Data.IsAllowParticipants = false;

        var topics = await Mediator.Send(new GetAllEmailTopics());
        _topics = topics;
        //var appusers = await Mediator.Send(new GetAllApplicationUserQuery());
        //_participant = appusers;


        _participant = plist.Where(c => c.UserID != applicationUser.UserID).ToList();

        _Allparticipant = plist.Where(c => c.UserID != applicationUser.UserID).ToList();

        _Toparticipant = plist.Where(c => c.UserID != applicationUser.UserID).ToList();
        _CCparticipant = plist.Where(c => c.UserID != applicationUser.UserID).ToList();

        //var topicmodel = await Mediator.Send(new GetListCategory(1));
        //_category = topicmodel;        

        Data.From = applicationUser.UserName;

        if (ActiveSessionId != null)
        {

            BackEnabled = true;
            var acttopics = await Mediator.Send(new GetActivityEmailTopics());

            //string sessionIdString = ActiveSessionId;
            Guid activeSessionId = Guid.Parse(ActiveSessionId);
            var actItem = acttopics.Where(c => c.SessionId == activeSessionId && c.EmailTopicSessionId == null).ToList();

            if(actItem.Count > 0)
            {
                isValidateSession = false;
                //var docId = "70F019EC011241C9807C39BF2BE79136";
                //Guid docSessionId = Guid.Parse(docId);
                if(actItem[0].DocumentSessionId != null)
                {
                    var documentslst = await Mediator.Send(new GetAllCreateEmailDocumentLst(actItem[0].DocumentSessionId.Value));
                    _documentslst = documentslst;
                }

                Data.TopicName = actItem[0].SubjectName;
                if (actItem[0].Comment != null)
                {
                    byte[] array1 = { 123, 92, 114, 116, 102, 49, 92, 100, 101, 102, 102, 48, 123, 92, 102, 111, 110, 116, 116, 98, 108, 123, 92, 102, 48, 32, 67, 97, 108, 105, 98, 114, 105, 59, 125, 125, 123, 92, 99, 111, 108, 111, 114, 116, 98, 108, 32, 59, 92, 114, 101, 100, 48, 92, 103, 114, 101, 101, 110, 48, 92, 98, 108, 117, 101, 50, 53, 53, 32, 59, 125, 123, 92, 42, 92, 100, 101, 102, 99, 104, 112, 32, 92, 102, 115, 50, 50, 125, 123, 92, 115, 116, 121, 108, 101, 115, 104, 101, 101, 116, 32, 123, 92, 113, 108, 92, 102, 115, 50, 50, 32, 78, 111, 114, 109, 97, 108, 59, 125, 123, 92, 42, 92, 99, 115, 49, 92, 102, 115, 50, 50, 32, 68, 101, 102, 97, 117, 108, 116, 32, 80, 97, 114, 97, 103, 114, 97, 112, 104, 32, 70, 111, 110, 116, 59, 125, 123, 92, 42, 92, 99, 115, 50, 92, 117, 108, 92, 102, 115, 50, 50, 92, 99, 102, 49, 32, 72, 121, 112, 101, 114, 108, 105, 110, 107, 59, 125, 123, 92, 42, 92, 116, 115, 51, 92, 116, 115, 114, 111, 119, 100, 92, 102, 115, 50, 50, 92, 113, 108, 92, 116, 115, 118, 101, 114, 116, 97, 108, 116, 92, 99, 108, 116, 120, 108, 114, 116, 98, 32, 78, 111, 114, 109, 97, 108, 32, 84, 97, 98, 108, 101, 59, 125, 125, 123, 92, 42, 92, 108, 105, 115, 116, 111, 118, 101, 114, 114, 105, 100, 101, 116, 97, 98, 108, 101, 125, 123, 92, 105, 110, 102, 111, 125, 92, 110, 111, 117, 105, 99, 111, 109, 112, 97, 116, 92, 115, 112, 108, 121, 116, 119, 110, 105, 110, 101, 92, 104, 116, 109, 97, 117, 116, 115, 112, 92, 101, 120, 112, 115, 104, 114, 116, 110, 92, 115, 112, 108, 116, 112, 103, 112, 97, 114, 92, 100, 101, 102, 116, 97, 98, 55, 50, 48, 92, 115, 101, 99, 116, 100, 92, 109, 97, 114, 103, 108, 115, 120, 110, 49, 52, 52, 48, 92, 109, 97, 114, 103, 114, 115, 120, 110, 49, 52, 52, 48, 92, 109, 97, 114, 103, 116, 115, 120, 110, 49, 52, 52, 48, 92, 109, 97, 114, 103, 98, 115, 120, 110, 49, 52, 52, 48, 92, 104, 101, 97, 100, 101, 114, 121, 55, 50, 48, 92, 102, 111, 111, 116, 101, 114, 121, 55, 50, 48, 92, 112, 103, 119, 115, 120, 110, 49, 50, 50, 52, 48, 92, 112, 103, 104, 115, 120, 110, 49, 53, 56, 52, 48, 92, 99, 111, 108, 115, 49, 92, 99, 111, 108, 115, 120, 55, 50, 48, 92, 112, 97, 114, 100, 92, 112, 108, 97, 105, 110, 92, 113, 108, 123, 92, 102, 115, 50, 50, 92, 99, 102, 48, 32 };


                    byte[] array2 = Encoding.UTF8.GetBytes(actItem[0].Comment);

                    byte[] array3 = array1.Concat(array2).ToArray();

                    byte[] array4 = { 125, 92, 102, 115, 50, 50, 92, 99, 102, 48, 92, 112, 97, 114, 125 };
                    byte[] array5 = array3.Concat(array4).ToArray();


                    Data.FileData = array5;
                }

                ActivityEmailTopicId = actItem[0].ActivityEmailTopicID;
                List<long?> ToidList = actItem[0].ToIds.Split(',').Select(s => long.TryParse(s, out long result) ? result : (long?)null).ToList();
                var filteredToList = plist.Where(c => ToidList.Contains(c.UserID)).ToList();

                //Data.ToIds = filteredToList.Select(s => (long)s.UserID).ToList();
                IEnumerable<string> Totags = filteredToList.Select(s => s.FirstName).ToList();

                List<long?> CCidList = actItem[0].CcIds.Split(',').Select(s => long.TryParse(s, out long result) ? result : (long?)null).ToList();
                var filteredCCList = plist.Where(c => CCidList.Contains(c.UserID)).ToList();

                //Data.CCIds = filteredCCList.Select(s => (long)s.UserID).ToList();
                IEnumerable<string> CCtags = filteredCCList.Select(s => s.FirstName).ToList();            

                Data.ToIds = filteredToList.Select(s => (long)s.UserID).ToList();
                sToIds = Totags.ToList();
                Data.CCIds = filteredCCList.Select(s => (long)s.UserID).ToList();
                sCCIds = CCtags.ToList();
            }
            else
            {
                isValidateSession = true;
            }

        }
        else
        {
            BackEnabled = false;
            IsDraftEnabled = true;
        }


    }   

    async void HandleValidSubmit()
    {        
        await JSRuntime.InvokeAsync<string>("showLoading");
        participantIds.Clear();
        selectedToIds.Clear();
        SelectedCCIds.Clear();

        var lslsl = Data.ToIds;

        //if (@SelectedDataItems == null)
        //{
        //    onShowPopupMessage("Error", "Please Select Participant");
        //    return;
        //}

        //if (SelectedToDataItems == null)
        //{
        //    onShowPopupMessage("Error", "Please Select To");
        //    return;
        //}



        List<string> concatList = sToIds.Concat(sCCIds).ToList();

        foreach (var itm in concatList)
        {
            var ls = _Allparticipant.Where(c => c.FirstName == itm).ToList();

            for(var i=0;i<ls.Count;i++)
            {
                participantIds.Add(ls[i].UserID.Value);
            }          
        }

        participantIds.Add(applicationUser.UserID);

        foreach(var itm in sToIds)
        {
            var ls = _Allparticipant.Where(c => c.FirstName == itm).ToList();

            for (var i = 0; i < ls.Count; i++)
            {
                selectedToIds.Add(ls[i].UserID.Value);
            }
        }

        foreach (var itm in sCCIds)
        {
            var ls = _Allparticipant.Where(c => c.FirstName == itm).ToList();

            for (var i = 0; i < ls.Count; i++)
            {
                SelectedCCIds.Add(ls[i].UserID.Value);
            }
        }



        //if (@SelectedDataItems.Count > 0)
        //{
        //    foreach (object item in SelectedDataItems)
        //    {
        //        if (item is ViewEmployee employee)
        //        {
        //            //ids.Add(employee);
        //            participantIds.Add((long)employee.UserID);
        //        }
        //    }            
        //}    


        //participantIds.Add(applicationUser.UserID);

        //foreach (object item in SelectedToDataItems)
        //{
        //    if (item is ViewEmployee employee)
        //    {               
        //        selectedToIds.Add((long)employee.UserID);
        //    }
        //}
        //if(SelectedCCDataItems !=null)
        //{
        //    foreach (object item in SelectedCCDataItems)
        //    {
        //        if (item is ViewEmployee employee)
        //        {
        //            SelectedCCIds.Add((long)employee.UserID);
        //        }
        //    }
        //}


        byte[] fileContent = await msgrichEdit.ExportDocumentAsync(DocumentFormat.Rtf);

        if (fileContent.Length == 480)
        {
            toastService.ShowToast("Please Enter Messages", AC.SD.Core.Services.ToastLevel.Error);
            await JSRuntime.InvokeAsync<string>("hideLoading");
            loading = false;
            return;
        }

        //var slsls = participantIds.Distinct().ToList();
        string participantidsString = string.Join(",", participantIds); // convert the array to a comma-separated string
        string toidsString = string.Join(",", selectedToIds); // convert the array to a comma-separated string
        string ccidsString = string.Join(",", SelectedCCIds); // convert the array to a comma-separated string

        DateTime? nullableDateTime = DateTime.Now;

        //var ex = _topics.Where(x => x.TicketNo == Data.TicketNo && x.TopicName == Data.TopicName);
        //if (ex.Any())
        //{

            //addNew();
            //onShowPopupMessage("Error", "The Subject Name Already exists.");
            //toastService.ShowToast("The Subject Name Already exists.", AC.SD.Core.Services.ToastLevel.Error);
            //await JSRuntime.InvokeAsync<string>("hideLoading");

            var createReq = new CreateEmailTopics
                {
                    TopicName = Data.TopicName,
                    StartDate = DateTime.Now,
                    OnBehalf = Data.OnBehalf,
                    Follow = Data.Follow,
                    Urgent = Data.Urgent,
                    DueDate = Data.DueDate,
                    OverDue = Data.OverDue,
                    IsAllowParticipants = Data.IsAllowParticipants,
                    FileData = fileContent,
                    StatusCodeID = 1,
                    AddedByUserID = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    // SessionId = Guid.NewGuid(),
                    SessionId = _sessionId,
                    Participants = participantidsString,
                    To = toidsString,
                    CC = ccidsString,
                    ActivityEmailTopicId = ActivityEmailTopicId,
                    isValidateSession = isValidateSession,
                    OnDraft = draftId,
                };
            try
            {
                //_sessionId = createReq.SessionId;
                var result = await Mediator.Send(createReq);
                if (result != null)
                {                    
                    uploadComponent.UploadAllFiles();
                    await Task.Delay(2000); // Delay for 2 seconds

                    //   onShowPopupMessage("success", "Topic have been saved successully");
                    ActivityEmailTopicId = 0;
                    toastService.ShowToast("Topic have been saved successully.", AC.SD.Core.Services.ToastLevel.Success);
                    if (ActiveSessionId != null)
                    {
                        NavigationManager.NavigateTo($"CreateEmail");
                    }
                    else
                    {
                        await JSRuntime.InvokeAsync<string>("ReloadUrl");
                    }



                    onRestText();
                    await JSRuntime.InvokeAsync<string>("hideLoading");
                }
                else
                {
                    onShowPopupMessage("Error", result.ToString());
                    await JSRuntime.InvokeAsync<string>("hideLoading");
                }
            }
            catch (Exception eq)
            {
                onShowPopupMessage("Error", eq.Message);
                await JSRuntime.InvokeAsync<string>("hideLoading");
            }

        
    }
    private async void onShowPopupMessage(string headerText, string bodyText)
    {
        MessageVisible = true;
        MessageBody = bodyText;
        MessageHeader = headerText;
        loading = false;
        StateHasChanged();
    }
    void onClickParticipant()
    {
        //var lst = SelectedDataItems;        
        //PopupVisible = true;
    }
    void HandleInvalidSubmit()
    {
        FormSubmitResult = "";
    }
    async Task ExportToExcel()
    {
        await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = true,

                CustomizeCell = OnCustomizeCell
            });
    }
    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }


    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }

  async void onBack()
    {
        Guid activeSessionId = Guid.Parse(ActiveSessionId);
        var actItem = activityEmailTopics.Where(c => c.SessionId == activeSessionId && c.EmailTopicSessionId == null).ToList();

        var url = ProductActivityBaseUrl + actItem[0].BackURL;
        NavigationManager.NavigateTo(url);

    }



    //private async Task OpenUrlInNewTab(string url)
    //{
    //    await JSRuntime.InvokeVoidAsync("open", url, "_blank");
    //}
    //public async Task onDocDownload(long Id)
    //{
    //    var lst = _documentslst.FirstOrDefault(a => a.DocumentId == Id);


    //    var url = FileUrl + lst.FilePath;
    //    await OpenUrlInNewTab(url);

    //}

}


