@using Application.Commands;
@using Application.Queries;
@using Application.Response;
@using System.Text;
@using global::Core.EntityModels;
@using global::Core.Repositories.Query;
@using DevExpress.Blazor.ComboBox;
@using DevExpress.Export;
@using MediatR
@inject NavigationManager NavigationManager
@using global::Core.Entities;
@using global::Core.Entities.Views;
@inject IMediator Mediator
@using System.ComponentModel.DataAnnotations
@using DevExpress.Blazor.Internal
@inject IJSRuntime JSRuntime;
@using System.Collections.Generic
@using System.Reflection;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration;
@inject HttpClient httpClient;
@inject AC.SD.Core.Services.ToastService toastService
@using System.IO;
@using System.ComponentModel;
@page "/EmailDrafts/EditEmailDraft/{ActiveSessionId}"
@implements IDisposable;

<style scoped>
    .txtEditorMsg {
        height: calc(100vh - 477px);
    }

    .gbtn label {
        display: none;
    }
    .dxuc-file-list-view
    {
        padding: 20px;
    }

    .dxuc-upload-icon {
        display: none; /* or any other style to disable or hide the icon */
    }

    .btnDelete {
        color: red;
        border: none;
        background: none;
        font-size: 14px;
    }
</style>
<div class="card w-100 tooltips" style="margin-bottom:10px;">
    <div class="card-body p-0 tooltiptops">
        <div class="row">
            <div class="">
                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Desktop">
                    <Items>                                           
                        @*<DxMenuItem Text="Reset" IconCssClass="fa fa-refresh" Click="@onRestText" />*@
                        <DxMenuItem Text="Back" IconCssClass="fa fa-reply" Click="@backUrl" />
                       @* <DxMenuItem Text="Draft" IconCssClass="fa fa-save" Enabled="@IsDraftEnabled"  Click="@((e) => addNew(1))" />
                        <DxMenuItem Text="Sent" IconCssClass="fa fa-save" Click="@((e) => addNew(0))" />*@
                    </Items>
                </DxMenu>
            </div>
            <div class="save_hover" @onclick="@(() => addNew(0))" style="float: left; margin-top: -41px; line-height: 38px; margin-left: 107px; z-index: 9999; width:100px;">
                <button type="submit" form="@MyID" disabled="@loading" class="btnSubmitForm" style="">
                    @if (loading)
                    {
                        <span class="spinner-border spinner-border-sm mr-1"></span>
                    }
                    <i class="fa fa-save"></i>
                    Sent
                </button>
             </div>            
            <div class="save_hover" @onclick="@(() => addNew(1))" style="float: left; margin-top: -41px; line-height: 38px; margin-left: -12px; z-index: 9999; width:100px;">
                <button type="submit" form="@MyID" disabled="@loading" class="btnSubmitForm" style="">
                    @if (loading)
                    {
                        <span class="spinner-border spinner-border-sm mr-1"></span>
                    }
                    <i class="fab fa-stack-overflow"></i>
                    Draft
                </button>
            </div>
            
            
        </div>
    </div>
</div>

@*<div class="g-title">
    <div class="g-left"></div>
   
    <span class=""></span><span class="g-text"></span>
    <div class="g-right">
        <button type="button" CssClass="download-btn"
                IconCssClass="demo-download-icon"
                Text="Free Trial"
                class="btn btn-excel" @onclick="ExportToExcel" title="Export to Excel">
            <i class="fa fa-file-excel-o"></i>Export
        </button>
    </div>
</div>*@

<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">
    <div class="text-center">
       
    </div>
</DxPopup>
@if(isValidateSession)
{
    <div style="color:red; text-align:center;">Invalidate Session or Already Created</div>
    NavigationManager.NavigateTo($"404",forceLoad:true);
}
else
{
  <div class="card cw-480 toolnext">
      <EditForm id="@MyID" @ref="myForm" Model="@Data"
              OnValidSubmit="@HandleValidSubmit"
              OnInvalidSubmit="@HandleInvalidSubmit"
              Context="EditFormContext">
            <DataAnnotationsValidator />
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <DxFormLayout CaptionPosition="CaptionPosition.Horizontal" CssClass="w-100">
                            <DxFormLayoutItem Caption="From" ColSpanMd="12">
                                <DxTextBox @bind-Text="@Data.From" ShowValidationIcon="true" Enabled=false />
                            </DxFormLayoutItem>
                            @if (string.IsNullOrEmpty(Data.UserType) || Data.UserType == "Users")
                            {
                                <DxFormLayoutItem Caption="To" ColSpanMd="11">
                                    <DxTagBox NullText="Select To..."
                                              Data="_participant"
                                              ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                              ValueFieldName="UserID"
                                              TextFieldName="Name"
                                              ValuesChanged="@((IEnumerable<long>? values) => onSelectedToItemsChanged(values))"
                                              Values="@Data.ToIds"
                                              ValuesExpression="@(() =>  Data.ToIds )"
                                              ListRenderMode="ListRenderMode.Virtual"
                                              SearchMode="ListSearchMode.AutoSearch"
                                              SearchFilterCondition="ListSearchFilterCondition.Contains"
                                              EditFormat="{0}-{1}"
                                              CssClass="cw-480">
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.Name)"
                                                            Caption="Name" />
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.NickName)"
                                                            Caption="Nick Name" />
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.DesignationName)"
                                                            Caption="DesignationName" />
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.CompanyName)"
                                                            Caption="Company" />
                                    </DxTagBox>
                                    <ValidationMessage For="@(() => Data.ToIds)" />
                                </DxFormLayoutItem>

                                <DxFormLayoutItem Caption=" " ColSpanMd="1" CssClass="gbtn">
                                    <DxButton IconCssClass="fa fa-users" Id=@($"flyout-overview-target-container-user-group-to-info")
                                              Click="@(_ => OnButtonUserGroupToClick())">
                                    </DxButton>
                                </DxFormLayoutItem>
                            }
                            else
                            {
                                <DxFormLayoutItem Caption="To Group" ColSpanMd="11">
                                    <DxTagBox Data="_ToUserGroup"
                                              SearchMode="ListSearchMode.AutoSearch"
                                              SearchFilterCondition="ListSearchFilterCondition.Contains"
                                              NullText="Select To Group..."
                                              ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                              ValueFieldName="UserGroupId"
                                              Values="@TogroupValue"
                                              ValuesExpression="@(() => TogroupValue )"
                                              TextFieldName="Name"
                                              ValuesChanged="@((IEnumerable<UserGroup> values) => onSelectedToUserGroupItemsChanged(values))"
                                              ListRenderMode="ListRenderMode.Virtual"
                                              CssClass="cw-480">
                                        <DxListEditorColumn FieldName="@nameof(UserGroup.Name)" Caption="Name" />
                                        <DxListEditorColumn FieldName="@nameof(UserGroup.Description)" Caption="Description" />

                                    </DxTagBox>
                                    <ValidationMessage For="@(() => Data.ToUserGroupIds)" />
                                </DxFormLayoutItem>
                            }
                            @if (string.IsNullOrEmpty(Data.UserType) || Data.UserType == "Users")
                            {
                                <DxFormLayoutItem Caption="CC" ColSpanMd="11">
                                    <DxTagBox NullText="Select Cc..."
                                              Data="_participant"
                                              ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                              ListRenderMode="ListRenderMode.Virtual"
                                              SearchMode="ListSearchMode.AutoSearch"
                                              SearchFilterCondition="ListSearchFilterCondition.Contains"
                                              ValueFieldName="UserID"
                                              TextFieldName="Name"
                                              ValuesChanged="@((IEnumerable<long>? values) => onSelectedCCItemsChanged(values))"
                                              Values="@Data.CCIds"
                                              ValuesExpression="@(() =>Data.CCIds )"
                                              EditFormat="{0}-{1}"
                                              CssClass="cw-480">
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.Name)"
                                                            Caption="Name" />
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.NickName)"
                                                            Caption="NickName" />
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.DesignationName)"
                                                            Caption="Designation Name" />
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.CompanyName)"
                                                            Caption="Company" />
                                    </DxTagBox>
                                </DxFormLayoutItem>
                                <DxFormLayoutItem Caption=" " ColSpanMd="1" CssClass="gbtn">
                                    <DxButton IconCssClass="fa fa-users" Id=@($"flyout-overview-target-container-user-group-cc-info")
                                              Click="@(_ => OnButtonUserGroupCCClick())">
                                    </DxButton>
                                </DxFormLayoutItem>
                            }
                            else
                            {
                                <DxFormLayoutItem Caption="CC Group" ColSpanMd="11">
                                    <DxTagBox NullText="Select Cc Group..."
                                              Data="_CCUserGroup"
                                              ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                              ListRenderMode="ListRenderMode.Virtual"
                                              Values="@SelectCcGroup"
                                              ValuesExpression="@(() => SelectCcGroup )"
                                              ValueFieldName="UserGroupId"
                                              TextFieldName="Name"
                                              ValuesChanged="@((IEnumerable<UserGroup> values) => onSelectedCCUserGroupItemsChanged(values))"
                                              SearchMode="ListSearchMode.AutoSearch"
                                              SearchFilterCondition="ListSearchFilterCondition.Contains"
                                              CssClass="cw-480">

                                        <DxListEditorColumn FieldName="@nameof(UserGroup.Name)" Caption="Name" />
                                        <DxListEditorColumn FieldName="@nameof(UserGroup.Description)" Caption="Description" />


                                    </DxTagBox>
                                </DxFormLayoutItem>
                            }


                            <DxFormLayoutItem Caption="On Behalf of" ColSpanMd="8">
                                <DxComboBox Data="@_Allparticipant"
                                            NullText="Select OnBehalf..."
                                            AllowUserInput="true"
                                            SearchMode="ListSearchMode.AutoSearch"
                                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                                            ListRenderMode="ListRenderMode.Virtual"
                                            TextFieldName="Name"
                                            ValueFieldName="UserID"
                                            EditFormat="{0}-{1}"
                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                            @bind-Value="@Data.OnBehalf" ShowValidationIcon="true">
                                    <Columns>
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.Name)"
                                                            Caption="Name" />
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.NickName)"
                                                            Caption="Nick Name" />
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.DesignationName)"
                                                            Caption="Designation Name" />
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.CompanyName)"
                                                            Caption="Company" />
                                    </Columns>
                                </DxComboBox>
                            </DxFormLayoutItem>


                             <DxFormLayoutItem Caption="" CssClass="topoverdue" ColSpanMd="4">
                                <DxCheckBox CssClass="w-100"
                                        @bind-Checked="@Data.IsAllowParticipants"
                                        Alignment="default"
                                        LabelPosition="LabelPosition.Right">
                                    Allow Add Participants
                                </DxCheckBox>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Due Date" ColSpanMd="4">
                                <DxDateEdit Date="@Data.DueDate" DateExpression="@(() => Data.DueDate)" CssClass="cw-320" DateChanged="@((DateTime? newValue) => OnDateChanged(newValue))" Mask="dd/MMMM/yyyy" />
                            </DxFormLayoutItem>
                              <DxFormLayoutItem Caption="Extend No Of Day" ColSpanMd="4">
                                <DxSpinEdit @bind-Value="@Data.NoOfDays" MinValue="0"></DxSpinEdit>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="" ColSpanMd="4">
                                <DxCheckBox CssClass="w-100"
                                            @bind-Checked="@Data.IsLockDueDate"
                                            Alignment="default"
                                            Enabled="@LockDueDateEnable"
                                            LabelPosition="LabelPosition.Right">
                                    Lock DueDate
                                </DxCheckBox>
                            </DxFormLayoutItem>
                            
                             <DxFormLayoutItem Caption="Follow" ColSpanMd="4">
                                <DxComboBox Data="@Follow"
                                        NullText="Select Follow..."
                                        @bind-Value="@Data.Follow"
                                        CssClass="cw-480">
                                </DxComboBox>
                                <ValidationMessage For="@(() => Data.Follow)" />
                            </DxFormLayoutItem>
                              <DxFormLayoutItem Caption="" ColSpanMd="2">
                                <DxCheckBox CssClass="w-100"
                                        @bind-Checked="@Data.Urgent"
                                        Alignment="default"
                                        LabelPosition="LabelPosition.Right">
                                    Urgent
                                </DxCheckBox>
                            </DxFormLayoutItem>

                              <DxFormLayoutItem Caption="" CssClass="topoverdue" ColSpanMd="2">
                                <DxCheckBox CssClass="w-100"
                                        @bind-Checked="@Data.NotifyUser"
                                        Alignment="default"
                                        LabelPosition="LabelPosition.Right">
                                    Notify User
                                </DxCheckBox>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="" CssClass="topoverdue" ColSpanMd="4">
                                <DxCheckBox CssClass="w-100"
                                            @bind-Checked="@Data.TagLock"
                                            Alignment="default"
                                            LabelPosition="LabelPosition.Right">
                                    Tag Lock
                                </DxCheckBox>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Subject Name" ColSpanMd="12">
                                <DxTextBox @bind-Text="@Data.TopicName" ShowValidationIcon="true" NullText="Subject Name" />
                                <ValidationMessage For="@(() => Data.TopicName)" />
                            </DxFormLayoutItem>
                           @*  <DxFormLayoutItem Caption="Attachment Email" ColSpanMd="12">
                                <DxTagBox Data="_CopyLinkList"
                                          SearchMode="ListSearchMode.AutoSearch"
                                          SearchFilterCondition="ListSearchFilterCondition.Contains"
                                          NullText="Select Attachment Email"
                                          Values="@Data?.CopyEmailIds"
                                          ValuesExpression="@(() => Data.CopyEmailIds )"
                                          ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                          ValueFieldName="ConversationSessionID"
                                          TextFieldName="CopyEmailName"
                                          ValuesChanged="@((IEnumerable<Guid>? values) => onEmailCopyChanged(values))"
                                          ListRenderMode="ListRenderMode.Virtual"
                                          CssClass="cw-480">

                                    <DxListEditorColumn FieldName="@nameof(EmailTopics.CopyEmailName)" Caption="Name" />



                                </DxTagBox>
                             
                            </DxFormLayoutItem> *@
                              <DxFormLayoutItem ColSpanMd="12">
                                <DxRichEdit DocumentLoaded=OnDocumentLoaded CheckSpelling="true" DocumentFormat="DocumentFormat.Rtf" @ref="msgrichEdit" DocumentContent="@Data.FileData" CustomizeToolbar=OnCustomizeToolbar BarMode="BarMode.Toolbar" CssClass="w-100 txtEditorMsg" ViewType="ViewType.Simple" />

                            </DxFormLayoutItem>
                       </DxFormLayout>
                    </div>
                       <div class="col-md-4">
                        <DxFormLayout CaptionPosition="CaptionPosition.Horizontal" CssClass="w-100">
                            <DxFormLayoutItem Caption="Group" ColSpanMd="12">
                                <DxComboBox Data="@_groupTagItems"
                                            NullText="Select Group..."
                                            AllowUserInput ="true"
                                            ListRenderMode="ListRenderMode.Virtual"
                                    SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                            TextFieldName="Value"
                                            ValueFieldName="ApplicationMasterChildId"
                                            Enabled="@isEnabled"
                                            Value="@selectgrouptagItems"
                                            ValueExpression="@(() => selectgrouptagItems )"
                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                            ValueChanged="@((ApplicationMasterChildModel applicationMasterChildModel) => selectedGroupTagChanged(applicationMasterChildModel))"
                                            ShowValidationIcon="true">
                                </DxComboBox>
                               @*  <DxSpinEdit  @bind-Value="@CategoryData.GroupTag" ShowValidationIcon="true" style="display:none;" /> *@
                                <ValidationMessage For="@(() => CategoryData.GroupTag)" />
                            </DxFormLayoutItem>
                            @* <DxFormLayoutItem Caption="Type" ColSpanMd="12">
                                <DxRadioGroup Items="@UserTypeOptions"
                                              Value="@Data.UserType"
                                              EnabledFieldName="@nameof(Data.UserType)"
                                              ValueExpression="@(() => Data.UserType )"
                                              ValueChanged="@((string value) => OnUserTypeChanged(value))"
                                              Layout="RadioGroupLayout.Horizontal"
                                              CssClass="dx-demo-radio-group" />
                            </DxFormLayoutItem> *@
                            @* <DxFormLayoutItem Caption="Type" ColSpanMd="12">

                                <DxRadioGroup Items="@UserTypeOptions"
                                                Enabled = "false"
                                               Value="@Data.UserType"
                                               EnabledFieldName="@nameof(Data.UserType)"
                                               ValueExpression="@(() => Data.UserType )"                                               
                                               Layout="RadioGroupLayout.Horizontal"
                                               CssClass="dx-demo-radio-group" />
                            </DxFormLayoutItem> *@
                           

                            <DxFormLayoutItem Caption="Category" ColSpanMd="12">
                                <DxComboBox Data="@_categoryTagItems"
                                            NullText="Select Category..."
                                            Enabled="@isEnabled"
                                            SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                     ListRenderMode="ListRenderMode.Virtual"
                                     Value="@selectCategory"
                                            ValueExpression="@(() => selectCategory )"
                                            TextFieldName="Value"
                                            ValueFieldName="ApplicationMasterChildId"
                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                            AllowUserInput ="true"
                                            ValueChanged ="@((ApplicationMasterChildModel applicationMasterChildModel) => selectedCategoryChanged(applicationMasterChildModel))">
                                </DxComboBox>
                                 <DxSpinEdit  @bind-Value="@CategoryData.CategoryTag" ShowValidationIcon="true" style="display:none;" />
                                <ValidationMessage For="@(() => CategoryData.CategoryTag)" />
                            </DxFormLayoutItem>
                            



                            <DxFormLayoutItem Caption="Action" ColSpanMd="12">
                                <DxTagBox Data="@_actionTagItems"
                                          @bind-Values="CategoryData.ActionTagIds"
                                          NullText="Select Action"
                                          Enabled="@isEnabled"
                                          ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                          ValueFieldName="ApplicationMasterChildId"
                                          TextFieldName="Value"
                                          ListRenderMode="ListRenderMode.Virtual"
                                          SearchMode="ListSearchMode.AutoSearch"
                                          SearchFilterCondition="ListSearchFilterCondition.Contains"
                                          CssClass="cw-480">
                                    <DxListEditorColumn FieldName="@nameof(ApplicationMasterChildModel.Value)" Caption="Action" />
                                </DxTagBox>

                               @*  <DxComboBox Data="@_actionTagItems"
                                            NullText="Select Action..."
                                            Enabled="@isEnabled"
                                            AllowUserInput = "true"
                                             ListRenderMode="ListRenderMode.Virtual"
                                            SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                            TextFieldName="Value"
                                            ValueFieldName="ApplicationMasterChildId"
                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                @bind-Value="@CategoryData.ActionTag"
                                @bind-Text = "@Text">
                                </DxComboBox>
                                <ValidationMessage For="@(() => CategoryData.ActionTag)" /> *@
                            </DxFormLayoutItem>



                           
                            <DxFormLayoutItem Caption="Others Tag:" ColSpanMd="12">
                                <DxComboBox Data="@_AllCategory"
                                            
                                            NullText="Select Others Tag..."
                                           ListRenderMode="ListRenderMode.Virtual"
                                    SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    AllowUserInput = "true"
                                            TextFieldName="Name"
                                            ValueFieldName="Name"                                           
                                @bind-Value="@CategoryData.Name"
                                @bind-Text="@OthersTagName" >
                                </DxComboBox>
                                @* <ValidationMessage For="@(() => CategoryData.Name)" /> *@
                            </DxFormLayoutItem>

                            

                          

                            @*<DxFormLayoutItem Caption="" CssClass="topoverdue" ColSpanMd="2">
                                <DxCheckBox CssClass="w-100"
                                        @bind-Checked="@Data.OverDue"
                                        Alignment="default"
                                        LabelPosition="LabelPosition.Right">
                                    Allow OverDue
                                </DxCheckBox>
                            </DxFormLayoutItem>*@

                           

                          

                            <DxFormLayoutItem Caption="User Tag:" ColSpanMd="12">
                               @*  <DxComboBox Data="@_UserTagList"
                                          
                                            NullText="Select User Tag..."
                                           AllowUserInput = "true"
                                           ListRenderMode="ListRenderMode.Virtual"
                                            SearchMode="ListSearchMode.AutoSearch"
                                            SearchFilterCondition="ListSearchFilterCondition.Contains"
                                            TextFieldName="UserTag"
                                            ValueFieldName="UserTag"                                            
                                            @bind-Value="@CategoryData.UserTag"
                                            @bind-Text="@UserTagName">
                                </DxComboBox> *@
                                <DxTagBox Data="_UserTagList"
                                          @bind-Values="CategoryData.UserTagIds"
                                          NullText="Select User Tag"
                                          ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                          ValueFieldName="ID"
                                          TextFieldName="UserTag"
                                          ListRenderMode="ListRenderMode.Virtual"
                                          SearchMode="ListSearchMode.AutoSearch"
                                          SearchFilterCondition="ListSearchFilterCondition.Contains"
                                          CssClass="cw-480">
                                    <DxListEditorColumn FieldName="@nameof(EmailActivityCatgorys.UserTag)" Caption="User Tag" />
                                </DxTagBox>
                                @* <ValidationMessage For="@(() => CategoryData.UserTag)" /> *@
                            </DxFormLayoutItem>



                           
                          
                          
                            <DxFormLayoutItem ColSpanMd="12">
                                <DxFormLayout CssClass="w-100 ">
                                    <DxFormLayoutGroup Caption="Attachment" CssClass="txtEditorMsg" ColSpanMd="12">
                                        <div id="attachmentSelectButton" style="height: 33px;" class="btn border-primary btn-primary m-1 handline">Select File</div>
                                        <div class="" style="overflow:auto; height: calc(100vh - 455px);">
                                            <DxUpload @ref="uploadComponent" Name="files"
                                                      Visible="@AttachmentUploadVisible"
                                                      AcceptedFileTypes=@AcceptedFileTypes
                                                      UploadMode="@UploadMode.OnButtonClick"
                                                      FileUploadStart="OnFileUploadStart"
                                                      ChunkSize="200000"
                                                      AllowMultiFileUpload="true"
                                                      ExternalSelectButtonCssSelector="#attachmentSelectButton"
                                                      SelectedFilesChanged="@AttachmentSelectedFilesChanged"
                                                      FileUploaded="@isUploadSuccess"
                                                      FileUploadProgressChanged="@OnUploadProgressChanged"
                                                      FileUploadStarted="@OnFileUploadStarted"
                                                      FileUploadError="@OnUploadError">
                                            </DxUpload>
                                            <div class="alert alert-danger @(ErrorVisible? " visible" : " invisible")">@MyError</div>
                                        </div>
                                      
                                    </DxFormLayoutGroup>
                                </DxFormLayout>
                            </DxFormLayoutItem>
                        </DxFormLayout>
                    </div>
                              
                   
                </div>
            </div>
           
      </EditForm>
  
        <div style="width:100%">
            @if (ActiveSessionId != null)
            {
                @if (_documentslst != null && _documentslst.Any())
                {
                    <ul class="d-flex flex-column-reverse todo-list">
                        @foreach (var item in _documentslst)
                        {
                            <li class="doc_lst_view">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <span style="font-weight: 600; font-size: 14px;">@item.FileName</span>
                                        @{
                                            string formattedFileSize = FormatFileSize(item.FileSize.Value);
                                        }
                                        <span style="font-size: 11px;">  @formattedFileSize</span>
                                        <button class="dxbl-btn fa fa-eye" @onclick="@(() => onDocDownload(item.DocumentId))"> </button>
                                        <button class="btnDelete fas fa-trash" @onclick="@(() => onDelete(item.DocumentId))"> </button>
                                    </label>
                                </div>
                            </li>
                        }
                    </ul>
                }
            }
        </div>
 </div>
}

<DxPopup @bind-Visible="@MessageVisible" HeaderText="@MessageHeader">
    <BodyTemplate Context="PopupContext">
        <div class="@((MessageHeader == "Error" ? "TxtRed" : "TxtGreen"))" style="text-align:center; padding: 10px; font-size: 15px;">
            <span> @MessageBody</span>
        </div>

    </BodyTemplate>
</DxPopup>

<DxFlyout @bind-IsOpen=IsUserGroupToOpen
          PositionTarget=@($"#flyout-overview-target-container-user-group-to-info")
          RestrictionTarget="#Navigation-Flyout-Customization-To"
          AnimationType="FlyoutAnimationType.Fade"
          PreventCloseOnPositionTargetClick="true"
          FooterVisible="true"
          FooterCssClass="custom-flyout-footer"
          Width="max(25vw, 550px)"
          CloseOnOutsideClick=false
          Position=@(FlyoutPosition.BottomStart | FlyoutPosition.TopStart)>
    <BodyContentTemplate Context="PopupContext">
        <div class="custom-flyout-body" style="width:100%">
            <DxFormLayout>
                <DxFormLayoutItem Caption="To Group" ColSpanMd="12">
                    <DxTagBox Data="_ToUserGroup"
                              
                               SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                              NullText="Select To Group..."
                              ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                              ValueFieldName="UserGroupId"
                              TextFieldName="Name"
                               Values="@TousergroupValue"
                               ValuesExpression="@(() => TousergroupValue )"
                              ValuesChanged="@((IEnumerable<UserGroup> values) => onSelectedToUserGroupItems_New_Changed(values))"
                              ListRenderMode="ListRenderMode.Virtual"
                              CssClass="cw-480">
                        <DxListEditorColumn FieldName="@nameof(UserGroup.Name)" Caption="Name" />
                        <DxListEditorColumn FieldName="@nameof(UserGroup.Description)" Caption="Description" />

                    </DxTagBox>
                </DxFormLayoutItem>
            </DxFormLayout>

        </div>
    </BodyContentTemplate>
    <FooterContentTemplate>
        <div class="w-100">
            <div class="custom-flyout-footer">

                <DxButton CssClass="popup-button" RenderStyle="ButtonRenderStyle.Primary" Text="Close" Click=@(()=> IsUserGroupToOpen = false) />
            </div>
        </div>
    </FooterContentTemplate>
</DxFlyout>

<DxFlyout @bind-IsOpen=IsUserGroupCCOpen
          PositionTarget=@($"#flyout-overview-target-container-user-group-cc-info")
          RestrictionTarget="#Navigation-Flyout-Customization-CC"
          AnimationType="FlyoutAnimationType.Fade"
          PreventCloseOnPositionTargetClick="true"
          FooterVisible="true"
          FooterCssClass="custom-flyout-footer"
          Width="max(25vw, 550px)"
          CloseOnOutsideClick=false
          Position=@(FlyoutPosition.BottomStart | FlyoutPosition.TopStart)>
    <BodyContentTemplate Context="PopupContext">
        <div class="custom-flyout-body" style="width:100%">
            <DxFormLayout>
                <DxFormLayoutItem Caption="CC Group" ColSpanMd="12">
                    <DxTagBox Data="_CCUserGroup"
                             
                               SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    Values="@selectCCUserGroup"
                                    ValuesExpression="@(() => selectCCUserGroup)"
                              NullText="Select To Group..."
                              ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                              ValueFieldName="UserGroupId"
                              TextFieldName="Name"
                              ValuesChanged="@((IEnumerable<UserGroup> values) => onSelectedCCUserGroupItems_New_Changed(values))"
                              ListRenderMode="ListRenderMode.Virtual"
                              CssClass="cw-480">
                        <DxListEditorColumn FieldName="@nameof(UserGroup.Name)" Caption="Name" />
                        <DxListEditorColumn FieldName="@nameof(UserGroup.Description)" Caption="Description" />

                    </DxTagBox>
                </DxFormLayoutItem>
            </DxFormLayout>

        </div>
    </BodyContentTemplate>
    <FooterContentTemplate>
        <div class="w-100">
            <div class="custom-flyout-footer">

                <DxButton CssClass="popup-button" RenderStyle="ButtonRenderStyle.Primary" Text="Close" Click=@(()=> IsUserGroupCCOpen = false) />
            </div>
        </div>
    </FooterContentTemplate>
</DxFlyout>

@code {
    string UserTagName { get; set; }
    string OthersTagName { get; set; }
    IEnumerable<UserGroup> TogroupValue { get; set; }
    IEnumerable<UserGroup> TousergroupValue { get; set; }
    IEnumerable<UserGroup>   selectCCUserGroup   { get; set; }
    ApplicationMasterChildModel selectgrouptagItems {get; set;}
    ApplicationMasterChildModel selectCategory {get; set;}
    IEnumerable<UserGroup>  SelectCcGroup { get; set; }
    bool IsUserGroupToOpen { get; set; } = false;
    bool IsUserGroupCCOpen { get; set; } = false;
    internal List<EmailTopics>? _CopyLinkList;
    async Task OnButtonUserGroupToClick()
    {
        await JSRuntime.InvokeAsync<string>("showLoading");

        _participantUserGroup = await Mediator.Send(new GetAllUserGroups());
        _ToUserGroup = _participantUserGroup;
        //_CCUserGroup = _participantUserGroup;

        Data.ToUserGroupIds = null;
        //Data.CCUserGroupIds = null;

        await JSRuntime.InvokeAsync<string>("hideLoading");

        IsUserGroupToOpen = true;
    }

    async Task OnButtonUserGroupCCClick()
    {
        await JSRuntime.InvokeAsync<string>("showLoading");

        _participantUserGroup = await Mediator.Send(new GetAllUserGroups());
        //_ToUserGroup = _participantUserGroup;
        _CCUserGroup = _participantUserGroup;

        //Data.ToUserGroupIds = null;
        Data.CCUserGroupIds = null;

        await JSRuntime.InvokeAsync<string>("hideLoading");

        IsUserGroupCCOpen = true;
    }

    string selectedValue { get; set; } = "1";
    IEnumerable<string> UserTypeOptions = new[] { "Users", "Group" };
    async void OnUserTypeChanged(string? radioValue)
    {
        Data.UserType = radioValue;


        if (radioValue == "Group")
        {
            await JSRuntime.InvokeAsync<string>("showLoading");

            _participantUserGroup = await Mediator.Send(new GetAllUserGroups());
            _ToUserGroup = _participantUserGroup;
            _CCUserGroup = _participantUserGroup;

            await JSRuntime.InvokeAsync<string>("hideLoading");

            Data.ToIds = null;
            Data.CCIds = null;

            Data.ToUserGroupIds = null;
            Data.ToIds = new List<long> { -1 };

        }
        else
        {
            Data.ToUserGroupIds = null;
            Data.CCUserGroupIds = null;

            Data.ToUserGroupIds = new List<long> { -1 };
            Data.ToIds = null;
        }
        StateHasChanged();
    }
    void onEmailCopyChanged(IEnumerable<Guid>? values)
    {
        if (values != null)
        {
           
            
                Data.CopyEmailIds = values;
           
           
        }
        else
        {
           
           
            Data.CopyEmailIds = null;
        }
       

        StateHasChanged();
    }
    bool LockDueDateEnable = false;
    string isUserType = "Users";
    bool isSending = false;
    private List<EmailActivityCatgorys> _UserTagList;
    private List<EmailActivityCatgorys> _TagEmailList;
    private List<EmailActivityCatgorys> _AllCategory;
    EmailActivityCatgorys? CategoryData { get; set; } = new EmailActivityCatgorys();
    bool isEnabled { get; set; } = true;
    private List<ApplicationMasterChildModel> _groupTagItems;
    string Text = "";
    private List<ApplicationMasterChildModel> _categoryTagItems;
    private List<ApplicationMasterChildModel> _actionTagItems;
    int CurrentUplodCount { get; set; }
    long applicationAddedByUserID { get; set; }
    string MyMessage { get; set; }
    string Message = "Upload";
    int SelectedFilesCount { get; set; }
    private string? FileUrl;
    bool IsDraftEnabled { get; set; } = false;
    [Parameter]    
    public List<string> AcceptedFileTypes { get; set; } = new List<string> { "image/*", "video/*", "audio/*", ".doc", ".docx", ".ppt", ".pptx", ".xls", ".xlsx", ".txt", ".pdf", ".PDF", ".msg", ".MSG", ".eml", ".EML", "Outlook.File.eml.15", ".ai" };
    private DxUpload uploadComponent;
    Guid? _sessionId;
    string MyError { get; set; }
    bool ErrorVisible { get; set; } = false;
    bool isFileUpload = false;
    int draftId = 0;
    private List<UploadFileInfo> SelectedFiles { get; set; } = new List<UploadFileInfo>();
    bool AttachmentUploadVisible { get; set; } = false;
    List<string> Follow { get; set; }
    string SelectedFollow { get; set; }
    private EditForm myForm;
    private string MyID = "myForm";    
    List<int> selectedValues = new List<int>();
    IGrid? Grid { get; set; }
    private bool loading;
    bool MessageVisible { get; set; }
    string styleClass = "";
    string MessageHeader = "Error";
    string MessageBody = "";
    DxRichEdit msgrichEdit { get; set; }
    DxRichEdit msgrichEdit1 { get; set; }
    IEnumerable<GridSelectAllCheckboxMode> SelectAllCheckboxModes { get; } = Enum.GetValues<GridSelectAllCheckboxMode>();
    bool IsOpen { get; set; } = false;

    bool ShowCheckboxes { get; set; } = true;
    string FormSubmitResult = "";
    DxPopup? popup;
    bool PopupVisible { get; set; } = false;
    bool isValidateSession = false;
    private long ActivityEmailTopicId;
    EmailTopics? Data { get; set; } = new EmailTopics();
    IEnumerable<EmailTopics>? _topics;
    private List<ViewEmployee>? _participant;
    private List<ViewEmployee>? _Allparticipant;
    long? AppUserId;
    private List<ViewEmployee>? _Toparticipant;
    private List<ViewEmployee>? _CCparticipant;


    internal List<UserGroup>? _participantUserGroup;
    internal List<UserGroup>? _ToUserGroup;
    internal List<UserGroup>? _CCUserGroup;


    IEnumerable<ForumTypes>? _OnBehalf;
    Documents _documents { get; set; }
    private string? DocumentViewUrl;

    public static string FormatFileSize(long bytes)
    {
        var unit = 1024;
        if (bytes < unit) { return $"{bytes} B"; }

        var exp = (int)(Math.Log(bytes) / Math.Log(unit));
        return $"{bytes / Math.Pow(unit, exp):F2} {("KMGTPE")[exp - 1]}B";
    }
    private List<ApplicationUser> _applicationUsers;  

    List<long> participantIds = new List<long>();
    List<long> selectedToIds = new List<long>();
    List<long> SelectedCCIds = new List<long>();

    List<string> sToIds = new List<string>();
    List<string> sCCIds = new List<string>();

    //List<ViewEmployee> ids = new List<ViewEmployee>(); 
    [Parameter]
    public string ActiveSessionId { get; set; }

    public ApplicationUser? applicationUser { get; private set; }

    IReadOnlyList<object>? SelectedDataItems { get; set; }
    IReadOnlyList<object>? SelectedCCItems { get; set; }
    IReadOnlyList<object>? SelectedToItems { get; set; }

    IReadOnlyList<object>? SelectedToDataItems { get; set; }
    IReadOnlyList<object>? SelectedCCDataItems { get; set; }

    private List<Documents>? _documentslst;
    void onSelectedToUserGroupItems_New_Changed(IEnumerable<UserGroup> values)
    {

        if (values != null)
        {
            Data.ToUserGroupIds = values.Select(s => s.UserGroupId).ToList();
            //var userIds = await Mediator.Send(new GetGroupByUserids(1));
            onToChange_Change(values);

            //_CCUserGroup = _participantUserGroup.Except(values).ToList();
        }
        else
        {

            //_CCUserGroup = _participantUserGroup.ToList();
        }

        IsUserGroupToOpen = false;

        StateHasChanged();
    }
    void onSelectedCCUserGroupItems_New_Changed(IEnumerable<UserGroup> values)
    {

        if (values != null)
        {
            Data.CCUserGroupIds = values.Select(s => s.UserGroupId).ToList();
            //var userIds = await Mediator.Send(new GetGroupByUserids(1));
            onCCChange_Change(values);

            //_CCUserGroup = _participantUserGroup.Except(values).ToList();
        }
        else
        {

            // _CCUserGroup = _participantUserGroup.ToList();
        }

        IsUserGroupCCOpen = false;

        StateHasChanged();
    }
    async Task onToChange_Change(IEnumerable<UserGroup> values)
    {
        var groupid = values.Select(x => x.UserGroupId).LastOrDefault();
        var userIds = await Mediator.Send(new GetGroupByUserids(groupid));
        // var userIdsList = userIds.Select(s=>s.UserID.Value).ToList();

        var userIdsListss = userIds.Where(s => s.UserID.HasValue).Select(s => s.UserID.Value).ToList();
        var userIdsList = userIdsListss.Where(id => id != applicationUser.UserID).ToList();
        if (Data.ToIds == null & Data.CCIds == null)
        {
            Data.ToIds = userIdsList;

            if (_participant != null && userIds != null)
            {
                var emplst = _participant.Where(employee => userIdsList.Contains(employee.UserID.Value)).ToList();
                //onSelectedToItemsChanged(emplst);
            }
            // _CCparticipant = _participant.Except(userIds, new ViewEmployeeComparer()).ToList();

        }
        else
        {
            IEnumerable<long> v1 = new List<long>();
            if (Data.CCIds == null)
            {
                v1 = Data.ToIds.Concat(userIdsList).Distinct();
            }
            else if (Data.ToIds == null)
            {
                var T1 = Data.CCIds.Concat(userIdsList).Distinct();
                v1 = T1.Except(Data.CCIds);
            }
            else
            {
                var L1 = Data.CCIds.Concat(Data.ToIds);
                var L2 = L1.Concat(userIdsList).Distinct();
                v1 = L2.Except(Data.CCIds).Distinct();
            }

            var combinedIds = v1;
            Data.ToIds = combinedIds;

            if (_participant != null && combinedIds != null)
            {
                var emplst1 = _participant.Where(employee => combinedIds.Contains(employee.UserID.Value)).ToList();
                //onSelectedToItemsChanged(emplst1);
            }
        }


        StateHasChanged();
    }
    async Task onCCChange_Change(IEnumerable<UserGroup> values)
    {
        var groupid = values.Select(x => x.UserGroupId).LastOrDefault();
        var userIds = await Mediator.Send(new GetGroupByUserids(groupid));


        var userIdsListss = userIds.Where(s => s.UserID.HasValue).Select(s => s.UserID.Value).ToList();
        var userIdsList = userIdsListss.Where(id => id != applicationUser.UserID).ToList();

        if (Data.CCIds == null && Data.ToIds == null)
        {
            Data.CCIds = userIdsList;

            if (_participant != null && userIds != null)
            {
                var emplst = _participant.Where(employee => userIdsList.Contains(employee.UserID.Value)).ToList();
                //onSelectedCCItemsChanged(emplst);
            }

        }
        else
        {
            IEnumerable<long> v1 = new List<long>();
            if (Data.CCIds == null)
            {
                var T1 = Data.ToIds.Concat(userIdsList).Distinct();
                v1 = T1.Except(Data.ToIds);
            }
            else if (Data.ToIds == null)
            {
                v1 = Data.CCIds.Concat(userIdsList).Distinct();
            }
            else
            {
                var L1 = Data.CCIds.Concat(Data.ToIds);
                var L2 = L1.Concat(userIdsList).Distinct();
                v1 = L2.Except(Data.ToIds).Distinct();
            }

            var combinedIds = v1;
            Data.CCIds = combinedIds;
            if (_participant != null && combinedIds != null)
            {
                var emplst1 = _participant.Where(employee => combinedIds.Contains(employee.UserID.Value)).ToList();
                //onSelectedCCItemsChanged(emplst1);
            }
        }

        StateHasChanged();
    }
    void onSelectedToItemsChanged(IEnumerable<long>? values)
    {

        if (values != null)
        {
            Data.ToIds = values;
            if (Data.CCIds != null)
            {
                var list = Data.CCIds.Where(p => !values.Contains(p)).ToList();
                Data.CCIds = list;
                StateHasChanged();
            }
            // Update _CCparticipant based on selected values from _Toparticipant
            //  _participant = _Toparticipant.Except(values).ToList();
            // if (_Toparticipant != null && values != null)
            // {
            //     _participant = _Toparticipant.Where(p => !values.Contains(p.UserID.Value)).ToList();
            // }
        }
        else
        {
            // Reset _CCparticipant to all participants if nothing is selected in _Toparticipant
            _participant = _Toparticipant.ToList();
            Data.ToIds = null;
        }

    }
    void onSelectedToItemsChangedold(IEnumerable<ViewEmployee> values)
    {

        if (values != null)
        {
            Data.ToIds = values.Select(s => s.UserID.Value).ToList();
            // Update _CCparticipant based on selected values from _Toparticipant
            _participant = _Toparticipant.Except(values).ToList();
        }
        else
        {
            // Reset _CCparticipant to all participants if nothing is selected in _Toparticipant
            _participant = _Toparticipant.ToList();
            Data.ToIds = null;
        }

    }
    // void onToChanged(IEnumerable<string> newTags)
    // {
    //     Data.ToIds = newTags.ToList();
    //     sToIds = newTags.ToList();

    //     List<string> concatList = sToIds.Concat(sCCIds).ToList();


    //     _participant = _Toparticipant.Where(c => !concatList.Contains(c.Name +"-"+ c.NickName)).ToList();
    //     var todd = Data.ToIds;
    //     var ccdd = Data.CCIds;


    // }
    public string GetUploadUrl_old()
    {
        string BaseUrl = Configuration["DocumentsUrl:BaseUrl"];
        string url = BaseUrl + "Upload/UploadDocuments?SessionId=" + _sessionId + "&addedByUserId=" + AppUserId;
        return url.ToString();
    }
    void onloadSession()
    {
        _sessionId = Guid.NewGuid();
    }
    void backUrl()
    {
        NavigationManager.NavigateTo("EmailDrafts");
    }
    private async Task isUploadSuccess_old()
    {
        //uploadComponent.RemoveAllFiles();
        //uploadComponent.CancelAllFilesUpload();
        isFileUpload = false;
        //await LoadData();
    }

    async Task OnFileUploadStart(FileUploadStartEventArgs e)
    {
        Message = "Uploading...";



        var SessionId = _sessionId;
        string BaseUrl = NavigationManager.BaseUri + "api/FileUpload/";
        string url = BaseUrl + "UploadDocumentsBySession?SessionId=" + _sessionId + "&addedByUserId=" + AppUserId +"&IsNewSession=false&SourceFrom=Email";
        e.UploadUrl = url;
    }
    void OnFileUploadStarted(FileUploadEventArgs e)
    {
        MyMessage = "Upload of the " + e.FileInfo.Name + " file was started.";
        toastService.ShowToast(MyMessage, AC.SD.Core.Services.ToastLevel.Info);
        InvokeAsync(StateHasChanged);
    }
    void OnUploadProgressChanged(FileUploadEventArgs e)
    {
        var progress = e.FileInfo.LoadedBytes / e.FileInfo.Size * 100;
    }
    private void isUploadSuccess(FileUploadEventArgs e)
    {
        MyMessage = "Upload of the " + e.FileInfo.Name + " file is Completed.";
        toastService.ShowToast(MyMessage, AC.SD.Core.Services.ToastLevel.Success);
        CurrentUplodCount++;
        var draftIdsss = draftId;
        if (CurrentUplodCount >= SelectedFilesCount)
        {
            Message = "Upload";


            onCompletedUpload();
        }
        InvokeAsync(StateHasChanged);

    }
    void OnUploadError(FileUploadErrorEventArgs e)
    {
        MyError = e.RequestInfo.ResponseText;
        ErrorVisible = true;
        InvokeAsync(StateHasChanged);
    }
    protected async void AttachmentSelectedFilesChanged(IEnumerable<UploadFileInfo> files)
    {
        AttachmentUploadVisible = files.ToList().Count > 0;
        SelectedFiles.AddRange(files);
        SelectedFilesCount = files.ToList().Count; //Count current files
        InvokeAsync(StateHasChanged);
    }
    void onSelectedCCItemsChanged(IEnumerable<long>? values)
    {

        if (values != null)
        {
            Data.CCIds = values;
            if (Data.ToIds != null)
            {
                var list = Data.ToIds.Where(p => !values.Contains(p)).ToList();
                Data.ToIds = list;
                StateHasChanged();
            }
            // Update _Toparticipant based on selected values from _CCparticipant
            // _participant = _Toparticipant.Except(values).ToList();
            // if (_Toparticipant != null && values != null)
            // {
            //     _participant = _Toparticipant.Where(p => !values.Contains(p.UserID.Value)).ToList();
            // }
        }
        else
        {
            // Reset _Toparticipant to all participants if nothing is selected in _CCparticipant
            _participant = _Toparticipant.ToList();
            Data.CCIds = null;
        }


    }
    void onSelectedCCItemsChangedold(IEnumerable<ViewEmployee> values)
    {

        if (values != null)
        {
            Data.CCIds = values.Select(s => s.UserID.Value).ToList();
            // Update _Toparticipant based on selected values from _CCparticipant
            _participant = _Toparticipant.Except(values).ToList();

        }
        else
        {
            // Reset _Toparticipant to all participants if nothing is selected in _CCparticipant
            _participant = _Toparticipant.ToList();
            Data.CCIds = null;
        }


    }
    void OnDateChanged(DateTime? newValue)
    {
        if (newValue != null)
        {
            LockDueDateEnable = true;

        }
        else
        {
            Data.IsLockDueDate = false;
            LockDueDateEnable = false;
        }

        Data.DueDate = newValue;
        StateHasChanged();
    }
    void onCcChanged(IEnumerable<string> newTags)
    {
        sCCIds = newTags.ToList();
        List<string> concatList = sCCIds.Concat(sToIds).ToList();

        //_Toparticipant = _CCparticipant.Where(c => !newTags.Contains(c.FirstName)).ToList();
        _participant = _Toparticipant.Where(c => !concatList.Contains(c.Name +"-"+ c.NickName)).ToList();

    }
    void onSelectedToUserGroupItemsChanged(IEnumerable<UserGroup> values)
    {

        if (values != null)
        {
            Data.ToUserGroupIds = values.Select(s => s.UserGroupId).ToList();
            _CCUserGroup = _participantUserGroup.Except(values).ToList();
        }
        else
        {

            _CCUserGroup = _participantUserGroup.ToList();
        }

        StateHasChanged();
    }
    void onSelectedCCUserGroupItemsChanged(IEnumerable<UserGroup> values)
    {


        if (values != null)
        {
            Data.CCUserGroupIds = values.Select(S => S.UserGroupId).ToList();
            _ToUserGroup = _participantUserGroup.Except(values).ToList();
        }
        else
        {
            _ToUserGroup = _participantUserGroup.ToList();
        }
        StateHasChanged();
    }
    private async Task SubmitForm()
    {        
        await JSRuntime.InvokeVoidAsync("myInteropFunctions.submitForm");
    }
    private void addNew(int id)
    {
        if (Data != null)
        {
            if (Data.ToIds == null)
            {
                Data.ToIds = null;
            }
            else if (Data.ToIds.Count() == 0)
            {
                Data.ToIds = null;
            }
        }

        draftId = id;        
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await msgrichEdit.NewDocumentAsync();

            await JSRuntime.InvokeVoidAsync("eval", @"
                window.submitForm = function () {
                    document.getElementById('myForm').submit();
                };
            ");
        }
    }
    async  void OnCustomizeToolbar(IToolbar toolbar)
    {

        toolbar.Groups.Clear();

        // Inserts the File group at the first position in the group collection
        //toolbar.Groups.Add(0, RichEditToolbarGroupNames.File);
        toolbar.Groups.Add(0, RichEditToolbarGroupNames.Undo);
        toolbar.Groups.Add(1, RichEditToolbarGroupNames.Font);
        toolbar.Groups.Add(2, RichEditToolbarGroupNames.Paragraph);
        toolbar.Groups.Add(3, RichEditToolbarGroupNames.Picture);
        toolbar.Groups.Add(4, RichEditToolbarGroupNames.Table);

        IBarGroup clipboardGroup = toolbar.Groups[1];
        clipboardGroup.Items.Add(5, RichEditBarItemNames.FontUnderline);
        clipboardGroup.Items.Add(6, RichEditBarItemNames.HighlightText);
        clipboardGroup.Items.Add(7, RichEditBarItemNames.ClipboardMenu);
        clipboardGroup.Items.Add(8, RichEditBarItemNames.ClearFormatting);
        clipboardGroup.Items.Add(9, RichEditBarItemNames.FontStrikeout);
        clipboardGroup.Items.Add(10, RichEditBarItemNames.FontScriptMenu);


        IBarGroup replace = toolbar.Groups[4];
        replace.Items.Add(1, RichEditBarItemNames.ChangeCaseMenu);
        replace.Items.Add(2, RichEditBarItemNames.Replace);

        IBarGroup undoRedoGroup = toolbar.Groups[0];
        undoRedoGroup.Items.Add(0,RichEditBarItemNames.FullScreen);


    }

    //IEnumerable<GridSelectAllCheckboxMode> SelectAllCheckboxModes { get; } = Enum.GetValues<GridSelectAllCheckboxMode>();
    //GridSelectAllCheckboxMode CurrentSelectAllCheckboxMode { get; set; }   

    void OnSelectedDataItemsChanged(IReadOnlyList<object> selectedDataItems)
    {
        SelectedDataItems = selectedDataItems;
        SelectedCCItems = selectedDataItems;
        SelectedToItems = selectedDataItems;
        //onTicketSelectionChanged.InvokeAsync(selectedDataItems);
        // OnSelectedToDataItemsChanged(null);
        //OnSelectedCCDataItemsChanged(null);
    }

    void OnSelectedToDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        if(SelectedToItems !=null)
        {

            SelectedToDataItems = SelectedToItems;
            List<object> newList = new List<object>(SelectedDataItems);
            // Remove the selected items from the new list
            newList.RemoveAll(item => SelectedToItems.Contains(item));
            SelectedCCItems = newList;
        }
    }

    void OnSelectedCCDataItemsChanged(IReadOnlyList<object> SelectedCCItems)
    {

        if(SelectedCCItems != null)
        {
            SelectedCCDataItems = SelectedCCItems;
            List<object> newList = new List<object>(SelectedDataItems);
            // Remove the selected items from the new list
            newList.RemoveAll(item => SelectedCCItems.Contains(item));
            SelectedToItems = newList;
        }

    }

    private void OnSelectionChanged(object args)
    {

        if(args != null)
        {
            var res = args;
            var lst = @SelectedDataItems;

            ViewEmployee selectedEmployee = @SelectedDataItems as ViewEmployee;
            if (selectedEmployee != null)
            {
                var lsts = selectedEmployee;
                //ids.Add(selectedEmployee);
                //selectedToIds.Add((long)selectedEmployee.UserID);

            }
        }      
    }
    private void onRestText()
    {
        Data = new EmailTopics();
        SelectedDataItems = null;
        Data.OnBehalf = null;

        SelectedCCItems = null;
        selectCategory = null;
        TogroupValue = null;
        SelectedToItems = null;        
        SelectedToDataItems = null;       
        participantIds.Clear();
        selectedToIds.Clear();
        SelectedCCIds.Clear();
        Data.From = applicationUser.UserName;
        Data.TagLock = false;
        //onloadSession();
        Follow = new List<string>
        {
             "Follow Up","No Follow Up"
        };

        Data.Follow = Follow[1];

    }
    private void onSubmit()
    {

    }



    private void HandleSelectedRowsChanged(IEnumerable<ViewEmployee> selectedRows)
    {
        // Update the selected data items list
        SelectedDataItems = selectedRows.ToList();

        // Perform any necessary logic when the selection changes
        Console.WriteLine($"Selected items count: {SelectedDataItems.Count}");
    }
    async Task OnDocumentLoaded(Document document)
    {
        await document.ChangeDefaultCharacterPropertiesAsync(properties =>
        {
            // properties.FontName = "Times New Roman";
            properties.FontSize = 14;
        });
    }

    protected override async Task OnInitializedAsync()
    {
        _AllCategory = await Mediator.Send(new GetAllEmailActivityCatgorys());
        _CopyLinkList = await Mediator.Send(new GetAllEmailTopicsList(applicationUser.UserID));

        _groupTagItems = await Mediator.Send(new GetAllApplicationMasterChildListQuery("105,108,122"));
        DocumentViewUrl = Configuration["DocumentsUrl:DocumentViewer"];
        FileUrl = Configuration["DocumentsUrl:FileUrl"];
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        AppUserId = applicationUser.UserID;
        _UserTagList = await Mediator.Send(new GetAllUserActivityCatgorys(applicationUser.UserID)); 

        var plist = await Mediator.Send(new GetAllEmployeeListQuery());

        //onloadSession();
        Follow = new List<string>
        {
             "Follow Up","No Follow Up"
        };
        Data.NoOfDays = 0;
        Data.TagLock = false;
        Data.Follow = Follow[1];
        Data.Urgent = false;
        Data.OverDue = false;
        Data.IsAllowParticipants = false;
        Data.NotifyUser = false;

        var topics = await Mediator.Send(new GetAllEmailTopics());
        _topics = topics;
        //var appusers = await Mediator.Send(new GetAllApplicationUserQuery());
        //_participant = appusers;


        _participant = plist.Where(c => c.UserID != applicationUser.UserID).ToList();

        _Allparticipant = plist.Where(c => c.UserID != applicationUser.UserID).ToList();

        _Toparticipant = plist.Where(c => c.UserID != applicationUser.UserID).ToList();
        _CCparticipant = plist.Where(c => c.UserID != applicationUser.UserID).ToList();

        //var topicmodel = await Mediator.Send(new GetListCategory(1));
        //_category = topicmodel;        

        Data.From = applicationUser.UserName;

        if (ActiveSessionId != null)
        {
            var draftItem = await Mediator.Send(new GetListBySession(ActiveSessionId));
            var actItem = draftItem.Where(c => c.OnDraft == 1).ToList();

            if(actItem.Count > 0)
            {
                isValidateSession = false;
                //var docId = "70F019EC011241C9807C39BF2BE79136";
                //Guid docSessionId = Guid.Parse(docId);
                Data.UserType = actItem[0].UserType;     
                //OnUserTypeChanged(actItem[0].UserType);
                if (string.IsNullOrEmpty(actItem[0].UserType) || actItem[0].UserType == "Users")
                {
                    Data.ToUserGroupIds = null;
                    Data.CCUserGroupIds = null;

                    Data.ToUserGroupIds = new List<long> { -1 };
                    Data.ToIds = null;

                    var filteredToList = await Mediator.Send(new GetByIdEmailTopicTo(actItem[0].ID));
                    var filteredCCList = await Mediator.Send(new GetByIdEmailTopicCC(actItem[0].ID));
                    var filteredEmailCopyList = await Mediator.Send(new GetByIdEmailCopy(actItem[0].ID));
                    IEnumerable<string> Totags = filteredToList.Select(s => s.Name + "-" + s.NickName).ToList();
                    IEnumerable<string> CCtags = filteredCCList.Select(s => s.Name + "-" + s.NickName).ToList();

                    Data.ToIds = filteredToList.Select(s => s.UserId.Value).ToList();
                    sToIds = Totags.ToList();
                    Data.CCIds = filteredCCList.Select(s => s.UserId.Value).ToList();
                    Data.CopyEmailIds = filteredEmailCopyList.Select(s => s.EmailConversationsSessionid.Value).ToList();
                    sCCIds = CCtags.ToList();
                }
                else
                {
                    Data.ToIds = null;
                    Data.CCIds = null;

                    Data.ToUserGroupIds = null;
                    Data.ToIds = new List<long> { -1 };
                    Data.CopyEmailIds = null;

                    _participantUserGroup = await Mediator.Send(new GetAllUserGroups());
                    _ToUserGroup = _participantUserGroup;
                    _CCUserGroup = _participantUserGroup;

                    Data.ToUserGroupIds = await Mediator.Send(new GetByIdEmailUserGroupTo(actItem[0].ID));                    
                    Data.CCUserGroupIds = await Mediator.Send(new GetByIdEmailUserGroupCC(actItem[0].ID));

                    _ToUserGroup = _ToUserGroup.Where(c => !Data.CCUserGroupIds.Select(id => (long?)id).Contains(c.UserGroupId)).ToList();
                    _CCUserGroup = _CCUserGroup.Where(c => !Data.ToUserGroupIds.Select(id => (long?)id).Contains(c.UserGroupId)).ToList();

                    //var listCC = await Mediator.Send(new GetAssignCCUserGroup(actItem[0].ID));
                    //Data.CCUserGroupIds = listCC.Select(s => s.GroupId).ToList();

                    //_ToUserGroup = _ToUserGroup.Where(c => !Data.CCUserGroupIds.Select(id => (long?)id).Contains(c.UserGroupId)).ToList();

                    StateHasChanged();
                }

                if(actItem[0].SessionId != null)
                {
                    var documentslst = await Mediator.Send(new GetAllCreateEmailDocumentLst(actItem[0].SessionId.Value));
                    _documentslst = documentslst;
                }
                if (actItem[0].ID != null)
                {
                    var Taglst = await Mediator.Send(new GetAllemailCategory(actItem[0].ID));
                    if(Taglst.Count > 0)
                    {
                        _TagEmailList = Taglst;
                    }

                }

                if(_TagEmailList != null)
                {
                    if (_TagEmailList[0].GroupTag != null)
                    {
                        var lists = new ApplicationMasterChildModel();
                        lists.ApplicationMasterChildId =_TagEmailList[0].GroupTag.Value;
                        selectgrouptagItems = lists;
                        if(CategoryData != null)
                        {
                            CategoryData.CategoryTag = _TagEmailList == null ? null : _TagEmailList[0].CategoryTag;
                        }

                        // selectgrouptagItems = _TagEmailList[0];
                        if (_TagEmailList[0].GroupTag != 0)
                        {
                            GroupTagChangedEdit(_TagEmailList[0].GroupTag);
                        }

                        // if (_TagEmailList[0].ActionTag != 0)
                        // {
                        //    CategoryTagChangeEdit(_TagEmailList[0].CategoryTag);
                        // }

                        var TId = _TagEmailList[0].TopicId;

                        var actionTagMultiple = await Mediator.Send(new GetActionTagMultiple(TId));
                        if (actionTagMultiple.Count > 0)
                        {
                            await CategoryTagChangeEdit(_TagEmailList[0].CategoryTag);

                            if(CategoryData != null)
                            {
                                CategoryData.ActionTagIds = actionTagMultiple.Select(id => (long?)id);
                            }

                        }
                        else
                        {
                            CategoryTagChangeEdit(_TagEmailList[0].CategoryTag);

                            if (CategoryData != null)
                            {
                                CategoryData.ActionTagIds = new List<long?>();
                            }

                        }

                    }
                }


                Data.NoOfDays = actItem[0].NoOfDays;
                Data.TagLock = actItem[0].TagLock ?? false;
                Data.TopicName = actItem[0].TopicName;
                Data.OnBehalf = actItem[0].OnBehalf;
                Data.Urgent = actItem[0].Urgent;
                Data.OverDue = actItem[0].OverDue;
                Data.IsAllowParticipants = actItem[0].IsAllowParticipants;
                Data.NotifyUser = actItem[0].NotifyUser;
                Data.Follow = actItem[0].Follow;
                Data.SessionId = actItem[0].SessionId;
                Data.ID = actItem[0].ID;
                Data.AddedByUserID = actItem[0].AddedByUserID;
                Data.AddedDate = actItem[0].AddedDate;
                Data.StartDate = actItem[0].StartDate;
                Data.DueDate = actItem[0].DueDate;
                CategoryData.GroupTag = _TagEmailList == null ? null : _TagEmailList[0].GroupTag;
                CategoryData.CategoryTag = _TagEmailList == null ? null : _TagEmailList[0].CategoryTag;
                CategoryData.ActionTag = _TagEmailList == null ? null : _TagEmailList[0].ActionTag;
                CategoryData.Name = _TagEmailList == null ? null : _TagEmailList[0].Name;
                Data.IsLockDueDate = actItem[0].IsLockDueDate;
                if(Data.DueDate != null)
                {
                    LockDueDateEnable = true;
                }
                else
                {
                    LockDueDateEnable = false;                   
                }

                if (_TagEmailList != null)
                {
                    var _getUserTag = await Mediator.Send(new GetByUserTage(_TagEmailList[0].TopicId, applicationUser.UserID));

                    //var userTagName = _UserTagList.Where(x => x.UserTagTopicId == _TagEmailList[0].TopicId).ToList();
                    //CategoryData.UserTag = _TagEmailList == null ? null : _TagEmailList[0].UserTag;
                    if (_getUserTag.Count > 0)
                    {
                        CategoryData.UserTag = _getUserTag[0].UserTag;
                        CategoryData.UserTagId = _getUserTag[0].UserTag == null ? 0 : _getUserTag[0].UserTagId;
                        CategoryData.UserTagIds = _getUserTag.Select(f => f.UserTagId).ToList();
                    }
                }

                await msgrichEdit.SaveDocumentAsync();
                using DevExpress.XtraRichEdit.RichEditDocumentServer server = new DevExpress.XtraRichEdit.RichEditDocumentServer();
                byte[] fileContent1 = actItem[0].FileData;
                server.LoadDocument(fileContent1);
                server.Options.Export.Html.EmbedImages = true;
                byte[] fileContents = server.SaveDocument(DevExpress.XtraRichEdit.DocumentFormat.Rtf);              

                Data.FileData = fileContents;                
                _sessionId = actItem[0].SessionId;


            }
            else
            {
                isValidateSession = true;
            }

        }
        else
        {
            IsDraftEnabled = true;
        }

        StateHasChanged();
    }   
    void onCompletedUpload()
    {
       
        ActivityEmailTopicId = 0;
        toastService.ShowToast("Topic have been saved successully.", AC.SD.Core.Services.ToastLevel.Success);
        if (ActiveSessionId != null)
        {
            if (draftId == 0)
            {
                NavigationManager.NavigateTo($"CreateEmail");
            }
            else
            {
                NavigationManager.NavigateTo($"EmailDrafts");
            }
        }
        else
        {
             JSRuntime.InvokeAsync<string>("ReloadUrl");
        }



        onRestText();
       JSRuntime.InvokeAsync<string>("hideLoading");
    }
    async void HandleValidSubmit()
    {      
        isSending = true;
        await JSRuntime.InvokeAsync<string>("showLoading");
        participantIds.Clear();
        selectedToIds.Clear();
        SelectedCCIds.Clear();

        var lslsl = Data.ToIds;     

        if (string.IsNullOrEmpty(Data.UserType) || Data.UserType == "Users")
        {
            if (Data.ToIds.Count() == 0)
            {
                Data.ToIds = null;
                toastService.ShowToast("Please Select To", AC.SD.Core.Services.ToastLevel.Error);
                await JSRuntime.InvokeAsync<string>("hideLoading");
                isSending = false;
                return;
            }
        }
        else
        {
            if (Data.ToUserGroupIds == null)
            {
                toastService.ShowToast("Please Select Assign To Group", AC.SD.Core.Services.ToastLevel.Error);
                loading = false;
                 await JSRuntime.InvokeAsync<string>("hideLoading");
                return;

            }

            if (Data.ToUserGroupIds.Count() == 0)
            {
                toastService.ShowToast("Please Select Assign To Group", AC.SD.Core.Services.ToastLevel.Error);
                loading = false;
                await JSRuntime.InvokeAsync<string>("hideLoading");
                return;
            }
        }
       

        var sToIds = Data.ToIds;
        var sCCIds = Data.CCIds;

        List<long> concatList = null;

        if (sCCIds != null)
        {
            concatList = sToIds.Concat(sCCIds).ToList();
        }
        else
        {
            concatList = sToIds.ToList();
        }

        //concatList = sToIds.Concat(sCCIds).ToList();

        foreach (var itm in concatList)
        {
            var ls = _Allparticipant.Where(c => c.UserID == itm).ToList();

            for (var i = 0; i < ls.Count; i++)
            {
                participantIds.Add(ls[i].UserID.Value);
            }
        }

        participantIds.Add(applicationUser.UserID);

        if (Data.OnBehalf != null)
        {
            participantIds.Add(Data.OnBehalf.Value);
        }

        if (draftId == 0)
        {
            if (Data.OnBehalf != null && Data.Follow == "No Follow Up")
            {
                participantIds.Remove(applicationUser.UserID);
                applicationAddedByUserID = Data.OnBehalf.Value;
                Data.OnBehalf = applicationUser.UserID;
            }
            else
            {
                applicationAddedByUserID = applicationUser.UserID;
            }
        }
        else
        {
            applicationAddedByUserID = applicationUser.UserID;
        }

        foreach (var itm in sToIds)
        {
            var ls = _Allparticipant.Where(c => c.UserID == itm).ToList();

            for (var i = 0; i < ls.Count; i++)
            {
                selectedToIds.Add(ls[i].UserID.Value);
            }
        }
        if (sCCIds != null)
        {
            foreach (var itm in sCCIds)
            {
                var ls = _Allparticipant.Where(c => c.UserID == itm).ToList();

                for (var i = 0; i < ls.Count; i++)
                {
                    SelectedCCIds.Add(ls[i].UserID.Value);
                }
            }
        }



        byte[] fileContent = await msgrichEdit.ExportDocumentAsync(DocumentFormat.Rtf);

        if (fileContent.Length == 480)
        {
            toastService.ShowToast("Please Enter Messages", AC.SD.Core.Services.ToastLevel.Error);
            await JSRuntime.InvokeAsync<string>("hideLoading");
            loading = false;
            return;
        }

        await msgrichEdit.SaveDocumentAsync();
        using DevExpress.XtraRichEdit.RichEditDocumentServer server = new DevExpress.XtraRichEdit.RichEditDocumentServer();
        byte[] fileContent1 = await msgrichEdit.ExportDocumentAsync(DocumentFormat.Rtf);
        server.LoadDocument(fileContent1);
        server.Options.Export.Html.EmbedImages = true;
        byte[] fileContents = server.SaveDocument(DevExpress.XtraRichEdit.DocumentFormat.Html);


        var plistuniquevalue = participantIds.Distinct().ToList();
        string participantidsString = string.Join(",", plistuniquevalue); // convert the array to a comma-separated string
        string toidsString = string.Join(",", selectedToIds); // convert the array to a comma-separated string
        string ccidsString = string.Join(",", SelectedCCIds); // convert the array to a comma-separated string

        DateTime? nullableDateTime = DateTime.Now;



         var susertype = Data.UserType;

        var sToUserGroup = string.Join(",", Data.ToUserGroupIds);
        var sCCUserGroup = "";
        if(Data.CCUserGroupIds != null)
        {
            sCCUserGroup = string.Join(",", Data.CCUserGroupIds);
        }
        else
        {
            sCCUserGroup = "";
        }

        var sParticipantsUserGroup = "";
        if (sCCUserGroup != null || sCCUserGroup != "")
        {
            sParticipantsUserGroup = string.Join(",", sToUserGroup, sCCUserGroup);
        }
        else
        {
            sParticipantsUserGroup = string.Join(",", Data.ToUserGroupIds);            
        }



        var createReq = new EditEmailTopics
                {
                    ID = Data.ID,
                    TopicName = Data.TopicName,
                    StartDate = DateTime.Now,
                    OnBehalf = Data.OnBehalf,
                    Follow = Data.Follow,
                    Urgent = Data.Urgent,
                    DueDate = Data.DueDate,
                    OverDue = Data.OverDue,
                    FileData = fileContents,
                    StatusCodeID = 1,
                    AddedByUserID = applicationAddedByUserID,
                    AddedDate = DateTime.Now,
                    // SessionId = Guid.NewGuid(),
                    SessionId = _sessionId,
                    Participants = participantidsString,
                    To = toidsString,
                    CC = ccidsString,
                    ActivityEmailTopicId = ActivityEmailTopicId,
                    isValidateSession = isValidateSession,
                    OnDraft = draftId,
                    IsAllowParticipants = Data.IsAllowParticipants,
                    NotifyUser = Data.NotifyUser,
                    //actName =CategoryData.Name,
                    GroupTag = CategoryData.GroupTag,
                    ActionTag = CategoryData.ActionTag,
                    ActionTagIds = CategoryData.ActionTagIds,
                UserTagIds = CategoryData.UserTagIds,
                    CategoryTag = CategoryData.CategoryTag,
                    //UserTag = CategoryData.UserTag,
                actName = OthersTagName,
                UserTag = UserTagName,
                    UserTagId = CategoryData.UserTagId,
                UserType = Data.UserType,
                ToUserGroup = sToUserGroup,
                CCUserGroup = sCCUserGroup,
                ParticipantsUserGroup = sParticipantsUserGroup,
                     TagLock = Data.TagLock,
                        NoOfDays = Data.NoOfDays,
                        IsLockDueDate = Data.IsLockDueDate,
                        CopyEmailIds = Data.CopyEmailIds
                };
        try
        {
            //_sessionId = createReq.SessionId;
            var result = await Mediator.Send(createReq);
            if (result != null)
            {  
                 @if (draftId==0)
                {
                    var convlist = await Mediator.Send(new GetEmailFullDiscussionList(result));
                    if (convlist.Count > 0)
                    {
                        string BaseUrl = NavigationManager.BaseUri + "api/Email/";
                        string url = BaseUrl + "SendMessage?id=" + convlist[0].ID;
                        // Make a GET request to the controller action
                        var response = await httpClient.GetAsync(url);
                    }
                   

                }

                if (SelectedFilesCount > 0)
                {
                    uploadComponent.UploadAllFiles();
                }
                else
                {
                    ActivityEmailTopicId = 0;
                    toastService.ShowToast("Topic have been saved successully.", AC.SD.Core.Services.ToastLevel.Success);
                    if (ActiveSessionId != null)
                    {
                        if(draftId == 0)
                        {
                            NavigationManager.NavigateTo($"CreateEmail");
                        }
                        else
                        {
                            NavigationManager.NavigateTo($"EmailDrafts");
                        }

                    }
                    else
                    {
                        await JSRuntime.InvokeAsync<string>("ReloadUrl");
                    }



                    onRestText();
                    await JSRuntime.InvokeAsync<string>("hideLoading");
                }



            }
            else
            {
                onShowPopupMessage("Error", result.ToString());
                await JSRuntime.InvokeAsync<string>("hideLoading");
            }
        }
        catch (Exception eq)
        {
            onShowPopupMessage("Error", eq.Message);
            await JSRuntime.InvokeAsync<string>("hideLoading");
        }


    }
    private async void onShowPopupMessage(string headerText, string bodyText)
    {
        MessageVisible = true;
        MessageBody = bodyText;
        MessageHeader = headerText;
        loading = false;
        StateHasChanged();
    }
    void onClickParticipant()
    {
        //var lst = SelectedDataItems;        
        //PopupVisible = true;
    }
    void HandleInvalidSubmit()
    {
        FormSubmitResult = "";
    }
    async Task ExportToExcel()
    {
        await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = true,

                CustomizeCell = OnCustomizeCell
            });
    }
    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }


    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    private async Task onDelete(long Id)
    {
        var req = new DeleteDocumentFileQuery(Id);
        var ans = Mediator.Send(req);
        await JSRuntime.InvokeAsync<string>("ReloadUrl");

    }
    private async Task OpenUrlInNewTab(string url)
    {
        await JSRuntime.InvokeVoidAsync("open", url, "_blank");
    }
    public async Task onDocDownload(long Id)
    {
        //var lst = _documentslst.FirstOrDefault(a => a.DocumentId == Id);


        //var url = FileUrl + lst.FilePath;
        //await OpenUrlInNewTab(url);
        _documents = _documentslst.FirstOrDefault(a => a.DocumentId == Id);
        //var url = DocumentViewUrl +"?url="+ FileUrl+_documents.FilePath;
        var url = DocumentViewUrl + "?url=" + _documents.UniqueSessionId;
        await OpenDocumentPreview(url);


    }
    private async Task OpenDocumentPreview(string url)
    {
        await JSRuntime.InvokeVoidAsync("window.open", url, "_blank");
    }
    async void selectedGroupTagChanged(ApplicationMasterChildModel applicationMasterChildModel)
    {


        if (applicationMasterChildModel != null)
        {
            selectgrouptagItems = applicationMasterChildModel;
            CategoryData.GroupTag = applicationMasterChildModel.ApplicationMasterChildId;
            GroupTagChanged(applicationMasterChildModel.ApplicationMasterChildId,1);
            //_categoryTagItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(applicationMasterChildModel.ApplicationMasterChildId));
        }
        else
        {
            GroupTagChanged(-1);
            CategoryTagChange(-1);
        }
    }
    async void selectedCategoryChanged(ApplicationMasterChildModel applicationMasterChildModel)
    {

        if (applicationMasterChildModel != null )
        {
            selectCategory = applicationMasterChildModel;
            CategoryData.CategoryTag = applicationMasterChildModel.ApplicationMasterChildId;
            // _actionTagItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(ApplicationMasterChildID));
            CategoryTagChange(applicationMasterChildModel.ApplicationMasterChildId,1);
        }
        else
        {
            CategoryTagChange(-1);
        }
    }
    async void GroupTagChanged(long? ApplicationMasterChildId,int ck = 0)
    {
        if (ApplicationMasterChildId != null && ApplicationMasterChildId != -1)
        {
            if(ck == 1)
            {
                if(CategoryData !=null)
                {
                    CategoryData.ActionTagIds = new List<long?>();
                }                
                _actionTagItems = null;
                
            }

            _categoryTagItems = null;
            _categoryTagItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(ApplicationMasterChildId));

        }
        else
        {
            selectCategory = null;
            CategoryData.GroupTag = null;
            _categoryTagItems = null;
            _actionTagItems = null;            
            CategoryData.ActionTagIds = new List<long?>();
            
        }
        StateHasChanged();
    }
    async void GroupTagChangedEdit(long? ApplicationMasterChildId)
    {
        if (ApplicationMasterChildId != null )
        {
            _categoryTagItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(ApplicationMasterChildId));
            if(_categoryTagItems.Count > 0)
            {
                //selectCategory = _categoryTagItems[0];
                selectCategory = _categoryTagItems.Where(x => x.ApplicationMasterChildId == CategoryData.CategoryTag).SingleOrDefault();
            }
        }

        StateHasChanged();
    }
    async Task CategoryTagChangeEdit(long? ApplicationMasterChildID)
    {
        if (ApplicationMasterChildID != null)
        {
            _actionTagItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(ApplicationMasterChildID));
            if(_actionTagItems.Count >0)
            {
                CategoryData.ActionTag = _actionTagItems[0].ApplicationMasterChildId;
                Text = _actionTagItems[0].Value;
            }


        }

        StateHasChanged();
    }
    async void CategoryTagChange(long? ApplicationMasterChildID, int ck = 0)
    {
        if (ApplicationMasterChildID != null && ApplicationMasterChildID != -1)
        {
            if(ck == 1)
            {
                if(CategoryData !=null)
                {
                    CategoryData.ActionTagIds = new List<long?>();
                }                
                _actionTagItems = null;
                
            }

            _actionTagItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(ApplicationMasterChildID));
        }
        else
        {
            CategoryData.ActionTag = null;
            Text = null;
            CategoryData.CategoryTag = null;
            _actionTagItems = null;
            CategoryData.ActionTagIds = new List<long?>();
        }
        StateHasChanged();
    }
    public void Dispose()
    {
        //System.GC.Collect();
        //GC.SuppressFinalize(this);
    }


}



