@using Application.Commands;
@using Application.Common.Helper;
@using Application.Queries;
@using Application.Response;
@using Markdig;
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json
@using global::Core.Repositories.Query;
@using global::Core.Entities;
@using global::Core.EntityModels;
@using global::Core.Entities.Views;
@using MediatR
@inject IMediator Mediator
@using System.ComponentModel.DataAnnotations
@using DevExpress.Blazor.Internal
@using System.Collections.Generic
@inject ILocalStorageService<ApplicationUser> _localStorageService
@using DevExpress.Blazor.RichEdit
@using DevExpress.Blazor.Office
@using System.Globalization
@using System;
@using Application.Command.Document;
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration
@inject IJSRuntime JSRuntime;
@inject HttpClient httpClient;
@using System.IO;
@using Microsoft.JSInterop;
@using DevExpress.DocumentView;
@inject NavigationManager NavigationManager
@using System.Web;
@inject IToastService ToastService
@inject AC.SD.Core.Services.ToastService toastService
@using System.Text;
@using RtfPipe;
@inject Application.Common.Helper.Helper dateformathelper
@using System.Net.Http;
@using System.Threading.Tasks
@using System.Threading
@using System.Timers;
@inject HttpClient httpClient;
@using Application.Command.ApplicationMasterChilds;
@using Application.Command.ApplicationMasterDetails;
@inject AC.SD.Core.Helpers.TreeGenerateRecursive _treeGenerateRecursive
@implements IDisposable;



<div class="card w-100" style="margin-bottom:10px; margin-top:10px">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>               
                <DxMenuItem Text="Preview" IconCssClass="fa fa-eye" Click="((e) => onPreview(_selectlst.DocumentId))" Enabled=PreviewEnabled />
                <DxMenuItem Text="Progress " IconCssClass="fab fa-stack-overflow" Click="((e) => onStatus(_selectlst.DocumentId))" Enabled=onProgressEnabled />
            </Items>
        </DxMenu>
    </div>
</div>
<DxGrid @ref="Grid" Data="@_topicDocList" EditMode="GridEditMode.EditForm" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
        PagerNavigationMode="PagerNavigationMode.InputBox"
        PageSizeSelectorVisible="true"
        PageSizeSelectorAllRowsItemVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20"
        style="height:calc(100vh - 355px)"
        CssClass="ch-360"
        AutoExpandAllGroupRows="true"
        RowClick="OnRowClick"
        FocusedRowEnabled="true"
        SelectionMode="GridSelectionMode.Multiple"
        SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages">
    <Columns>
        <DxGridDataColumn FieldName="SubjectName" MinWidth="200" FixedPosition="GridColumnFixedPosition.Left" />
        <DxGridDataColumn FieldName="IsLatest" Caption="Latest" Width="80" />
        <DxGridDataColumn FieldName="FileName" MinWidth="200" />
       @*  <DxGridDataColumn FieldName="FileName" MinWidth="200">
            <CellDisplayTemplate>
                @{
                    var item = (Documents)context.DataItem;
                }
                @if (item.IsLatest.GetValueOrDefault(false))
                {
                   <span style="color:orangered;">@item.FileName</span>
                }
                else
                {
                    <span>@item.FileName</span>
                }


            </CellDisplayTemplate>
        </DxGridDataColumn> *@
        <DxGridDataColumn FieldName="AddedBy" MinWidth="200" />
        <DxGridDataColumn FieldName="AddedDate" Width="180px">
            <CellDisplayTemplate>
                @{
                    var item = (Documents)context.DataItem;
                }
                @Application.Common.Helper.Helper.FormatDateTime(item.AddedDate)
            </CellDisplayTemplate>
        </DxGridDataColumn>       
        <DxGridDataColumn FieldName="DocumentId" Caption="Link to DMS" FixedPosition="GridColumnFixedPosition.Left" Width="70">
            <CellDisplayTemplate>
                @{
                    var item = (Documents)context.DataItem;
                }
                @if (item.EmailToDMS > 0)
                {
                    <i class="fa fa-arrow-left" aria-hidden="true" style="margin-right: 5px;cursor:pointer;" onclick="@(() => onBackToDMS(item))" title="Back to DMS"></i>
                }
                else
                {
                    <i class="fa fa-clone" aria-hidden="true" style="margin-right: 5px;cursor:pointer;" id=@($"flyout-overview-target-container-ProfileType-{item.DocumentId}") onclick="@(() => OnButtonDescriptionClick(item))" title="Link to DMS"></i>
                }


            </CellDisplayTemplate>
        </DxGridDataColumn>
    </Columns>
</DxGrid>


<DxFlyout @bind-IsOpen=IsDescriptionOpen
          PositionTarget=@($"#flyout-overview-target-container-ProfileType-{_selectedDocsItems?.DocumentId}")
          RestrictionTarget="#Navigation-Flyout-Customization"
          AnimationType="FlyoutAnimationType.Fade"
          PreventCloseOnPositionTargetClick="true"
          HeaderVisible="true"
          HeaderText="Link to DMS"
          FooterVisible="true"
          CloseOnOutsideClick="false"
          FooterCssClass="custom-flyout-footer"
          Width="max(25vw, 550px)"
          Position=@(FlyoutPosition.BottomStart | FlyoutPosition.TopStart)>
    <BodyContentTemplate Context="PopupContext">
        <EditForm EditContext="this._editContext" Context="EditFormContext" OnValidSubmit="HandleValidSubmit_FileProfileType">
            <DxFormLayout CssClass="w-100">
                <DataAnnotationsValidator />
                <DxFormLayoutItem Caption="" ColSpanMd="12">
                    <DxRadioGroup Items="@FileLinkOptions"
                                  Value="@_dataFileProfileType.Type"
                                  ValueExpression="@(() => _dataFileProfileType.Type )"
                                  ValueChanged="@((string value) => OnFileLinkTypeChanged(value))"
                                  Layout="RadioGroupLayout.Horizontal"
                                  CssClass="dx-demo-radio-group" />
                </DxFormLayoutItem>

                @if (_dataFileProfileType.Type == "Link to DMS")
                {
                    <DxFormLayoutItem Caption="FileProfile Type" ColSpanMd="12">
                        <DxTextBox NullText="Select FileProfile Type" @bind-Text="@LinkFilterFileprofiletypeName" CssClass="cw-480">
                            <Buttons>
                                <DxEditorButton IconCssClass="fa fa-add" Id=@($"flyout-overview-target-container-IsFilterFileProfileTypeDocumentOpen")
                                                Tooltip="Select File ProfileType"
                                                Click="@(_ => OnButtonFileProfileTypeLinDocClick())" />
                            </Buttons>
                        </DxTextBox>
                        <DxSpinEdit @bind-Value="@_dataFileProfileType.FileProfileTypeId" BindValueMode="BindValueMode.OnInput" style="display:none;" />
                        <ValidationMessage For="@(() => _dataFileProfileType.FileProfileTypeId)" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Company" ColSpanMd="12">
                        <DxComboBox Data="@_plantItems"
                                    NullText="Select Company..."
                                    ListRenderMode="ListRenderMode.Virtual"
                                     SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    TextFieldName="PlantCode"
                                    ValueFieldName="PlantID"
                                     Value="@CurrentPlant"
                                     AllowUserInput ="true"
                                    ValueExpression="@(() => CurrentPlant )"
                                    ValueChanged="@((ViewPlants plantSelect) => SelectedItemChanged(plantSelect?.PlantID))"
                                    Enabled="isPlant"
                                    ShowValidationIcon="true">
                            <Columns>
                                <DxListEditorColumn FieldName="@nameof(ViewPlants.PlantCode)"
                                                    Caption="Plant Code"
                                                    Width="180px" />
                                <DxListEditorColumn FieldName="@nameof(ViewPlants.Description)"
                                                    Caption="Description" />
                                <DxListEditorColumn FieldName="@nameof(ViewPlants.NavCompanyName)"
                                                    Caption="Nav Company" />
                            </Columns>
                        </DxComboBox>
                         <DxSpinEdit  @bind-Value="@_dataFileProfileType.PlantId" ShowValidationIcon="true" style="display:none;" />
                        <ValidationMessage For="@(() => _dataFileProfileType.PlantId)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Division" ColSpanMd="12">
                        <DxComboBox Data="@_divisionItems"
                                    NullText="Select Division..."
                                    AllowUserInput = "true"
                                    ListRenderMode="ListRenderMode.Virtual"
                                    SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    TextFieldName="Name"
                                    ValueFieldName="DivisionID"
                                    Enabled="isDivision"
                                     Value="@selectdivision"
                                    ValueExpression="@(() => selectdivision )"
                                    ValueChanged="@((ViewDivision plantSelect) => SelectedItemDivisionChanged(plantSelect?.DivisionID))"
                                    ShowValidationIcon="true">
                            <Columns>
                                <DxListEditorColumn FieldName="@nameof(ViewDivision.Name)"
                                                    Caption="Name"
                                                    Width="180px" />
                                <DxListEditorColumn FieldName="@nameof(ViewDivision.Code)"
                                                    Caption="Code" />
                                <DxListEditorColumn FieldName="@nameof(ViewDivision.Description)"
                                                    Caption="Description" />
                            </Columns>
                        </DxComboBox>
                          <DxSpinEdit  @bind-Value="@_dataFileProfileType.DivisionId" ShowValidationIcon="true" style="display:none;" />
                        <ValidationMessage For="@(() => _dataFileProfileType.DivisionId)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Department" ColSpanMd="12">
                        <DxComboBox Data="@_departmentItems"
                                    NullText="Select Department..."
                                    ListRenderMode="ListRenderMode.Virtual"
                                  AllowUserInput = "true"
                                    TextFieldName="DepartmentName"
                                    ValueFieldName="DepartmentId"
                                    Enabled="isDepartment"
                                      SearchMode="ListSearchMode.AutoSearch"
                                       Value="@selectDepartment"
                                    ValueExpression="@(() => selectDepartment )"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    ValueChanged="@((ViewDepartment plantSelect) => SelectedItemDepartementChanged(plantSelect?.DepartmentId))"
                                    ShowValidationIcon="true">
                            <Columns>
                                <DxListEditorColumn FieldName="@nameof(ViewDepartment.DepartmentName)"
                                                    Caption="Name"
                                                    Width="180px" />
                                <DxListEditorColumn FieldName="@nameof(ViewDepartment.DepartmentCode)"
                                                    Caption="Code" />
                                <DxListEditorColumn FieldName="@nameof(ViewDepartment.Description)"
                                                    Caption="Description" />
                            </Columns>
                        </DxComboBox>
                          <DxSpinEdit  @bind-Value="@_dataFileProfileType.DepartmentId" ShowValidationIcon="true" style="display:none;" />
                        <ValidationMessage For="@(() => _dataFileProfileType.DepartmentId)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Section" ColSpanMd="12">
                        <DxComboBox Data="@_sectionItems"
                                    NullText="Select Section..."
                                    ListRenderMode="ListRenderMode.Virtual"
                                    AllowUserInput ="true"
                                     SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    TextFieldName="SectionName"
                                    ValueFieldName="SectionId"
                                     Value="@selectsection"
                                    ValueExpression="@(() => selectsection )"
                                    Enabled="isSection"
                                    ValueChanged="@((ViewSection plantSelect) => SelectedItemSectionChanged(plantSelect?.SectionId))"
                                    ShowValidationIcon="true">
                            <Columns>
                                <DxListEditorColumn FieldName="@nameof(ViewSection.SectionName)"
                                                    Caption="Name"
                                                    Width="180px" />
                                <DxListEditorColumn FieldName="@nameof(ViewSection.SectionCode)"
                                                    Caption="Code" />
                                <DxListEditorColumn FieldName="@nameof(ViewSection.Description)"
                                                    Caption="Description" />
                            </Columns>
                        </DxComboBox>
                          <DxSpinEdit  @bind-Value="@_dataFileProfileType.SectionId" ShowValidationIcon="true" style="display:none;" />
                        <ValidationMessage For="@(() => _dataFileProfileType.SectionId)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="SubSection" ColSpanMd="12">
                        <DxComboBox Data="@_subSectionItems"
                                    NullText="Select SubSection..."
                                    ListRenderMode="ListRenderMode.Virtual"
                                    AllowUserInput ="true"
                                    SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    TextFieldName="SubSectionName"
                                    ValueFieldName="SubSectionId"
                                    Enabled="isSubSection"
                                    @bind-Value="@_dataFileProfileType.SubSectionId" ShowValidationIcon="true">
                            <Columns>
                                <DxListEditorColumn FieldName="@nameof(ViewSubSection.SubSectionName)"
                                                    Caption="Name"
                                                    Width="180px" />
                                <DxListEditorColumn FieldName="@nameof(ViewSubSection.SubSectionCode)"
                                                    Caption="Code" />
                                <DxListEditorColumn FieldName="@nameof(ViewSubSection.Description)"
                                                    Caption="Description" />
                            </Columns>
                        </DxComboBox>
                        <ValidationMessage For="@(() => _dataFileProfileType.SubSectionId)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Expiry Date:" ColSpanMd="12" Visible="@isExpiryDate">
                        <DxDateEdit NullText="Select a Expiry Date..." MinDate="DateTime.Now" @bind-Date="@_dataFileProfileType.ExpiryDate" CssClass="cw-320" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Description" ColSpanMd="12">
                        <DxMemo @bind-Text="@_dataFileProfileType.Description" Rows="5" ShowValidationIcon="true" />
                    </DxFormLayoutItem>


                }
                else
                {
                    <DxFormLayoutItem Caption="File Replace (Check-In)" ColSpanMd="12">
                        <DxComboBox Data="@_OnFileReplaceList"
                                    NullText="Select File Replace (Check-In)..."
                                    SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    ListRenderMode="ListRenderMode.Virtual"
                                    TextFieldName="FileName"
                                    ValueFieldName="ReplaceDocumentId"
                                    Value="@selectfilereplaceList"
                                    ValueExpression="@(() => selectfilereplaceList )"
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                    ValueChanged="@((Documents documents) => onSelectedFileReplaceChanged(documents))"
                                   ShowValidationIcon="true">
                            <Columns>
                                <DxListEditorColumn FieldName="@nameof(Documents.SubjectName)" Caption="Subject Name" />
                                <DxListEditorColumn FieldName="@nameof(Documents.FileName)" Caption="FileName" />
                                @*<DxListEditorColumn FieldName="@nameof(Documents.AddedBy)" Caption="AddedBy"/>  *@
                            </Columns>
                        </DxComboBox>
                          <DxSpinEdit   @bind-Value="@_dataFileProfileType.ReplaceDocumentId" ShowValidationIcon="true" style="display:none;" />
                        <ValidationMessage For="@(() => _dataFileProfileType.ReplaceDocumentId)" />
                    </DxFormLayoutItem>

                }



            </DxFormLayout>
        </EditForm>


    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="Close" Click=@(()=> IsDescriptionOpen = false) />
        <DxButton RenderStyle="ButtonRenderStyle.Success" Text="Update" Click=@(()=> OnSubmitFileLinked()) />
    </FooterContentTemplate>
</DxFlyout>


<DxFlyout @bind-IsOpen=IsFileProfileTypeFilterDocOpen
          PositionTarget=@($"#flyout-overview-target-container-IsFilterFileProfileTypeDocumentOpen")
          RestrictionTarget="#Navigation-Flyout-Customization"
          AnimationType="FlyoutAnimationType.Fade"
          HeaderVisible="true"
          HeaderText="Select FileProfile Type"
          FooterVisible="true"
          FooterCssClass="custom-flyout-footer"
          Width="max(25vw, 550px)"
          CloseOnOutsideClick="false"
          PreventCloseOnPositionTargetClick="true">
    <BodyContentTemplate Context="PopupContext">
        <DxFormLayout CssClass="w-100" style="height: calc(100vh - 250px);overflow:auto;overflow-x:hidden;">
            <DxFormLayoutItem Caption="" ColSpanMd="12">
               @*  <DxTreeView @ref="_treeFilterDocView"
                            @bind-FilterString="FilterDocumentString"
                            ShowFilterPanel="true"
                            FilterMode="NavigationFilterMode.EntireBranch"
                            AllowSelectNodes="true"
                            SelectionChanged="@FileProfileTypeSelectionChanged"
                            Data="@_selectedTreeItems"
                            LoadChildNodesOnDemand="true">
                    <DataMappings>
                        <DxTreeViewDataMapping Text="FileName"
                                               HasChildren="HasChildren"
                                               Children="Children" />
                    </DataMappings>
                </DxTreeView> *@
                <DxTreeList Data="fileProfileTypeDocumentsAll"
                            @ref="TreeList"
                            VirtualScrollingEnabled="true"
                            ShowFilterRow="true"
                            KeyFieldName="FileProfileTypeId"
                            ParentKeyFieldName="ParentId"
                            ColumnResizeMode="TreeListColumnResizeMode.NextColumn"
                            TextWrapEnabled="false"
                            CssClass="max-h-480"
                            ShowAllRows="true"
                            FocusedRowEnabled="true"
                            RowClick="OnRowTreeClick"
                            SelectionMode="TreeListSelectionMode.Single"
                            FilterTreeMode="TreeListFilterTreeMode.EntireBranch">
                    <Columns>
                        <DxTreeListDataColumn FieldName="FileName" Caption="Name" FilterRowOperatorType="TreeListFilterRowOperatorType.Contains">
                            <EditSettings>
                                <DxTextBoxSettings NullText="Type a search string and enter" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                            </EditSettings>
                        </DxTreeListDataColumn>
                    </Columns>
                </DxTreeList>
            </DxFormLayoutItem>

        </DxFormLayout>
    </BodyContentTemplate>
    <FooterContentTemplate>
        <div class="w-100">
            <div class="custom-flyout-footer">
                <DxButton CssClass="popup-button" RenderStyle="ButtonRenderStyle.Primary" Text="Close" Click=@(()=> IsFileProfileTypeFilterDocOpen = false) />
            </div>
        </div>
    </FooterContentTemplate>
</DxFlyout>


<DxPopup @bind-Visible="@StatusPopupVisible"
         ShowFooter="true"
         HeaderText="CRT"
         Width="700px">
    <BodyContentTemplate>
        <div>
            <TimeLine @ref=RefTimeLineList Tid="@Tid" DocId="@DocId" Cid="@Cid"></TimeLine>
        </div>
    </BodyContentTemplate>
    @* <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="Closed" Click="@((e) => ClosePopUP())" />
    </FooterContentTemplate> *@
</DxPopup>

@code{
    Documents selectfilereplaceList { get; set; }
    ViewSection selectsection {get; set;}
    ViewDepartment selectDepartment { get; set; }
    ViewDivision selectdivision { get; set; }
    ViewPlants CurrentPlant { get; set; }
    private TimeLine? RefTimeLineList { get; set; }
    private List<Documents>? _timeline;
    bool StatusPopupVisible { get; set; } = false;
    void ClosePopUP()
    {
        StatusPopupVisible = false;
    }
    [Parameter]
    public long Tid { get; set; }
    [Parameter]
    public long Cid { get; set; }
    [Parameter]
    public long DocId { get; set; }
    [Parameter]
    public string LeftMenu { get; set; }

    internal List<ViewPlants>? _plantItems;
    internal List<ViewDivision>? _divisionItems;
    internal List<ViewDepartment>? _departmentItems;
    internal List<ViewSection>? _sectionItems;
    internal List<ViewSubSection>? _subSectionItems;
    bool isPlant { get; set; } = false;
    bool isDivision { get; set; } = false; bool isDepartment { get; set; } = false;
    bool isSection { get; set; } = false; bool isSubSection { get; set; } = false;
    bool isExpiryDate { get; set; } = false;
    public DocumentProfileNoSeriesModel? documentProfileNoSeriesData { get; set; }
    string ExtensionsList = "";
    string SeletedExtensions = "";
    string IsUploadExt = ".isUploadCheckOut";


    string SelectedRadioGroupString { get; set; } = "Link to DMS";
    IEnumerable<string> FileLinkOptions = new[] { "Link to DMS", "File Replace(Check-In)" };
    internal List<Documents>? _OnFileReplaceList;
    internal DocumentsModel? _selectedDocumentItems;

    string? LinkFilterFileprofiletypeName { get; set; } = null;
    public bool IsFileProfileTypeFilterDocOpen { get; set; }
    EditContext _editContext;
    internal DxTreeView _treeFilterDocView;
    ITreeList TreeList { get; set; }
    string? FilterDocumentString { get; set; }
    internal Guid? _activityEmailSessionId { get; set; }
    public List<DocumentsModel> fileProfileTypeDocumentsAll { get; set; }
    IEnumerable<DocumentsModel> _selectedTreeItems = new List<DocumentsModel>();
    Documents _selectedDocsItems = new Documents();
    public ApplicationUser applicationUser { get; internal set; }
    public long RTopicId = 0;
    bool PanelVisible { get; set; }
    string SelectedReplyId = "none";
    internal bool loading;
    bool MessageVisible { get; set; }
    string styleClass = "";
    string MessageHeader = "Error";
    string MessageBody = "";

    string SelectedGroup = "none";
    string isLeftMenuvisible = "AssignTo";

    [Parameter]
    public List<string> AcceptedFileTypes { get; set; } = new List<string> { "image/*", "video/*", ".doc", ".docx", ".ppt", ".pptx", ".xls", ".xlsx", ".txt", ".pdf", ".PDF", ".msg", ".ai" };

    void OnButtonFileProfileTypeLinDocClick()
    {
        IsFileProfileTypeFilterDocOpen = true;
    }  

    async Task HandleValidSubmit_FileProfileType()
    {
        if (_dataFileProfileType.Type == "Link to DMS")
        {
            var UpdateReq = new CreateEmailDocFileProfileType
                {
                    FilterProfileTypeId = _dataFileProfileType.FileProfileTypeId,
                    DocumentId = _selectedDocsItems.DocumentId,
                    AddedByUserId = applicationUser.UserID,
                    SessionId = Guid.NewGuid(),
                    AddedDate = DateTime.Now,
                    UploadDate = DateTime.Now
                };
            _activityEmailSessionId = UpdateReq.SessionId;
            var result = await Mediator.Send(UpdateReq);
            if (result > 0)
            {
                var filesessionIds = _activityEmailSessionId;
                _dataFileProfileType.SessionId = filesessionIds;
                _dataFileProfileType.FileSessionId = filesessionIds;
                _dataFileProfileType.SourceFrom = "FileProfile";


                DocumentsUploadModel Datas = new DocumentsUploadModel();

                Datas.DocumentId = result;
                Datas.SessionId = _dataFileProfileType.SessionId;
                Datas.FileSessionId = _dataFileProfileType.FileSessionId;
                Datas.SourceFrom = _dataFileProfileType.SourceFrom;
                Datas.FilePath = _dataFileProfileType.FilePath;
                Datas.Description = _dataFileProfileType.Description;
                Datas.FileProfileTypeId = _dataFileProfileType.FileProfileTypeId;
                Datas.PlantId = _dataFileProfileType.PlantId;
                Datas.DepartmentId = _dataFileProfileType.DepartmentId;
                Datas.SectionId = _dataFileProfileType.SectionId;
                Datas.SubSectionId = _dataFileProfileType.SubSectionId;
                Datas.DivisionId = _dataFileProfileType.DivisionId;
                Datas.ProfileNo = _dataFileProfileType.ProfileNo;
                Datas.ChangeNewFileName = "New File Empty";
                Datas.UserId = applicationUser.UserID;
                Datas.ProfileId = _dataFileProfileType.ProfileId;
                Datas.ExpiryDate = _dataFileProfileType.ExpiryDate;

                var response = await Mediator.Send(new UpdateEmailDocumentBySession(Datas));

                await createActivityTag(LinkFilterFileprofiletypeName);
                onShowPopupMessage("success", "Updated File Profile DMS Successfully");
            }

        }
        else
        {
            ExtensionsList = "";
            CheckExtension();

            if (IsValidFileExtension(ExtensionsList, SeletedExtensions))
            {
                var doclst = await Mediator.Send(new GetByIdDocument(_dataFileProfileType.ReplaceDocumentId));

                if (doclst.IsLocked.GetValueOrDefault(false))
                {
                    toastService.ShowToast("Selected File has been Locked", AC.SD.Core.Services.ToastLevel.Error);
                    return;

                }
                else
                {

                    _selectedDocumentItems = new DocumentsModel();
                    _selectedDocumentItems.DocumentID = doclst.DocumentId;
                    _selectedDocumentItems.DocumentParentId = doclst.DocumentParentId;
                    _selectedDocsItems.DocumentParentId = doclst.DocumentParentId;
                    _selectedDocumentItems.FilterProfileTypeId = doclst.FilterProfileTypeId;
                    _selectedDocumentItems.SessionID = doclst.SessionId;
                    _selectedDocumentItems.ProfileNo = doclst.ProfileNo;
                    _selectedDocumentItems.Description = doclst.FileName;
                    _selectedDocumentItems.FileName = doclst.FileName;

                    if (_selectedDocumentItems != null && _selectedDocumentItems.DocumentID > 0)
                    {

                        var res = await Mediator.Send(new GetFileProfileTypeCheckOut(_selectedDocumentItems));

                        var creReq = new CreateEmailDocFileProfileType
                            {
                                FilterProfileTypeId = doclst.FilterProfileTypeId,
                                DocumentId = _selectedDocsItems.DocumentId,
                                AddedByUserId = applicationUser.UserID,
                                SessionId = Guid.NewGuid(),
                                AddedDate = DateTime.Now,
                                UploadDate = DateTime.Now
                            };
                        _activityEmailSessionId = _selectedDocumentItems.SessionID;
                        var result = await Mediator.Send(creReq);

                        DocumentsUploadModel Data = new DocumentsUploadModel();

                        //var finaldoclst = await Mediator.Send(new GetByIdDocument(result));


                        Data.IsCheckOut = true;
                        Data.DocumentId = result;
                        Data.DocumentParentId = _selectedDocumentItems.DocumentID;
                        Data.DocumentMainParentId = _selectedDocumentItems.DocumentParentId;
                        Data.UserSession = applicationUser.SessionId;
                        Data.UserId = applicationUser.UserID;
                        Data.ProfileId = _selectedDocumentItems.ProfileID;
                        Data.SessionId = _selectedDocumentItems.SessionID;
                        Data.ProfileNo = _selectedDocumentItems.ProfileNo;
                        Data.FileProfileTypeId = _selectedDocumentItems.FileProfileTypeId > 0 ? _selectedDocumentItems.FileProfileTypeId : _selectedDocumentItems.FilterProfileTypeId;
                        Data.UserId = applicationUser.UserID;
                        // Data.FilePath = finaldoclst.FilePath;
                        // Data.FileSessionId = finaldoclst.SessionId;

                        var responsess = await Mediator.Send(new UpdateEmailDocumentBySession(Data));

                        if (doclst.FilterProfileTypeId != null && doclst.FilterProfileTypeId.Value != 0)
                        {
                            var getbackurlSessionid = await Mediator.Send(new GetByFileprofiletypeId(doclst.FilterProfileTypeId));
                            _selectedDocsItems.SessionId = getbackurlSessionid.SessionId;
                        }

                        var emailactivity = CreateEmailActivityEntry(_selectedDocsItems);


                    }
                }
            }
            else
            {
                toastService.ShowToast("Selected File Extension Mismatch", AC.SD.Core.Services.ToastLevel.Error);
                return;
            }


        }



    }
    internal async void onShowPopupMessage(string headerText, string bodyText)
    {
        MessageVisible = true;
        MessageBody = bodyText;
        MessageHeader = headerText;
        loading = false;
        StateHasChanged();
    }
    static bool IsValidFileExtension(string validExtensions, string fileExtension)
    {
        // Split the valid extensions into an array
        string[] validExtensionsArray = validExtensions.Split(',');

        // Check if the given file extension is in the array
        foreach (string ext in validExtensionsArray)
        {
            if (fileExtension.Equals(ext, StringComparison.OrdinalIgnoreCase))
            {
                return true;
            }
        }

        return false;
    }
    void CheckExtension()
    {
        IsUploadExt = "";

        if (!string.IsNullOrEmpty(_selectedDocsItems.Extension))
        {
            var contentType = _selectedDocsItems.ContentType != null ? _selectedDocsItems.ContentType.Split("/").First().ToLower() : "";
            var extenionType = _selectedDocsItems.Extension.ToLower();
            if (extenionType == ".txt")
            {
                AcceptedFileTypes = new List<string>() { ".txt" };
            }
            else if (extenionType == ".pdf")
            {
                AcceptedFileTypes = new List<string>() { ".pdf" };
            }
            else if (extenionType == ".ppt" || extenionType == ".pptx")
            {
                AcceptedFileTypes = new List<string>() { ".ppt", ".pptx" };
            }
            else if (extenionType == ".doc" || extenionType == ".docx")
            {
                AcceptedFileTypes = new List<string>() { ".doc", ".docx" };
            }
            else if (extenionType == ".xls" || extenionType == ".xlsx")
            {
                AcceptedFileTypes = new List<string>() { ".xls", ".xlsx" };
            }
            else
            {
                if (contentType == "image")
                {
                    AcceptedFileTypes = new List<string>() { ".jpg", ".jpeg", ".png", ".gif", ".bmp", ".tiff", ".tif", ".webp", ".svg" };
                }
                else if (contentType == "video")
                {
                    AcceptedFileTypes = new List<string>() { ".mp4", ".avi", ".mkv", ".mov", ".wmv", ".flv", ".webm", ".3gp", ".mpg", "mpeg" };
                }
                else if (contentType == "audio")
                {
                    AcceptedFileTypes = new List<string>() { "audio/*" };
                }
                else
                {
                    IsUploadExt = ".isUploadCheckOut";
                }
            }
        }

        ExtensionsList = string.Join(",", AcceptedFileTypes.ConvertAll(d => d.ToLower()).Distinct().ToList());

        StateHasChanged();

    }
    async Task CreateEmailActivityEntry(Documents documents)
    {
        var Tid = long.Parse(@SelectedGroup);
        var topiclist = await Mediator.Send(new GetListByIdList(Tid));

        string filePath = documents.FileName;
        string subjectName = Path.GetFileNameWithoutExtension(filePath);

        var createReq = new CreateActivityEmail
            {
                SubjectName = subjectName,
                Comment = subjectName,
                ActivityType = "EmailFileProfileType",
                SessionId = _activityEmailSessionId,
                BackURL = documents.SessionId.ToString(),
                DocumentSessionId = _activityEmailSessionId,
                EmailTopicSessionId = topiclist[0].SessionId,
                AddedByUserID = applicationUser.UserID,
                AddedDate = DateTime.Now

            };

        var result = await Mediator.Send(createReq);

        var resultdoc = await Mediator.Send(new UpdateEmailDmsDocId(_selectedDocsItems.DocumentId, result));


        IsDescriptionOpen = false;
        IsFileProfileTypeFilterDocOpen = false;
        FilterDocumentString = null;
        LinkFilterFileprofiletypeName = null;
        _dataFileProfileType.FileProfileTypeId = null;



        if (RTopicId == 0)
        {
            await loadTopicDocList();
        }
        else
        {
            await loadSubTopicDocList();
        }



    }
    async Task createActivityTag(string? tages)
    {
        var Tid = long.Parse(@SelectedGroup);
        var topiclist = await Mediator.Send(new GetListByIdList(Tid));



        string groupTag = "";
        long grouptTagId = 0;
        long catTagId = 0;


        string inputString = tages;
        string[] splitElements = inputString.Split('/');
        foreach (string element in splitElements)
        {
            Console.WriteLine(element.Trim()); // Trim to remove leading and trailing spaces
        }

        List<string> tagStringList = new List<string>();

        for (var j = 0; j < splitElements.Length; j++)
        {
            var ckl = splitElements[j];

            if (j == 0)
            {
                groupTag = ckl; // Assign the first element to groupTag
            }
            else
            {
                tagStringList.Add(ckl); // Add other elements to tagStringList
            }
        }

        string tagString = string.Join("_", tagStringList);

        if (string.IsNullOrEmpty(tagString))
        {
            tagString = groupTag;
        }

        var tagItems = await Mediator.Send(new GetAllApplicationMasterChildListQuery("122"));

        var cktagItem = tagItems.Where(x => x.Value == groupTag).ToList();
        if (cktagItem.Count > 0)
        {
            grouptTagId = cktagItem[0].ApplicationMasterChildId;
        }
        else
        {
            var request = new CreateApplicationMasterChildCommand
                {
                    ApplicationMasterParentId = 122,
                    ParentId = null,
                    Description = groupTag,
                    Value = groupTag,
                    AddedByUserId = applicationUser.UserID,
                    ModifiedByUserId = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    ModifiedDate = DateTime.Now,
                    StatusCodeId = 1,
                    SessionId = Guid.NewGuid(),
                };
            var rlt = await Mediator.Send(request);
            grouptTagId = rlt.ApplicationMasterChildId;
        }

        if (!string.IsNullOrEmpty(tagString))
        {
            var catItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(grouptTagId));

            var ckcatItem = catItems.Where(x => x.Value == tagString).ToList();
            if (ckcatItem.Count > 0)
            {
                catTagId = ckcatItem[0].ApplicationMasterChildId;
            }
            else
            {
                var request = new CreateApplicationMasterChildCommand
                    {
                        ApplicationMasterParentId = 123,
                        ParentId = grouptTagId,
                        Description = tagString,
                        Value = tagString,
                        AddedByUserId = applicationUser.UserID,
                        ModifiedByUserId = applicationUser.UserID,
                        AddedDate = DateTime.Now,
                        ModifiedDate = DateTime.Now,
                        StatusCodeId = 1,
                        SessionId = Guid.NewGuid(),
                    };
                var rlt = await Mediator.Send(request);

                catTagId = rlt.ApplicationMasterChildId;

                await createApplicationMasterChild(124, catTagId, "Review");
                await createApplicationMasterChild(124, catTagId, "Discussion");
            }
        }



        var MainSessionId = _dataFileProfileType.sessionId;
        var doclist = _selectedDocsItems;



        //var items = await Mediator.Send(new GetActivityEmailList(_selectedItems.SessionID.Value));

        //if (items.Count == 0)
        //{
        var sessionId = _selectedDocsItems.ScreenId;
        string filePath = _selectedDocsItems.FileName;
        string subjectName = Path.GetFileNameWithoutExtension(filePath);

        var createReq = new CreateActivityEmail
            {
                SubjectName = subjectName,
                Comment = _selectedDocsItems.Description,
                ActivityType = "EmailFileProfileType",
                SessionId = _activityEmailSessionId,
                BackURL = MainSessionId.ToString(),
                DocumentSessionId = _activityEmailSessionId,
                EmailTopicSessionId = topiclist[0].SessionId,
                AddedByUserID = applicationUser.UserID,
                AddedDate = DateTime.Now,
                ManufacturingProcessId = grouptTagId,
                CategoryActionId = catTagId

            };

        var result = await Mediator.Send(createReq);

        var resultdoc = await Mediator.Send(new UpdateEmailDmsDocId(_selectedDocsItems.DocumentId, result));

        IsDescriptionOpen = false;
        IsFileProfileTypeFilterDocOpen = false;
        FilterDocumentString = null;
        LinkFilterFileprofiletypeName = null;
        _dataFileProfileType.FileProfileTypeId = null;



        if (RTopicId == 0)
        {
            await loadTopicDocList();
        }
        else
        {
            await loadSubTopicDocList();
        }

        //}


    }
    async Task createApplicationMasterChild(long MasterParentId, long ParentId, string notes)
    {

        var request = new CreateApplicationMasterChildCommand
            {
                ApplicationMasterParentId = MasterParentId,
                ParentId = ParentId,
                Description = notes,
                Value = notes,
                AddedByUserId = applicationUser.UserID,
                ModifiedByUserId = applicationUser.UserID,
                AddedDate = DateTime.Now,
                ModifiedDate = DateTime.Now,
                StatusCodeId = 1,
                SessionId = Guid.NewGuid(),
            };
        await Mediator.Send(request);
    }
    async Task OnRowTreeClick(TreeListRowClickEventArgs e)
    {
        _dataFileProfileType.PlantId = 0; _dataFileProfileType.DepartmentId = 0;
        _dataFileProfileType.DivisionId = 0; _dataFileProfileType.SectionId = 0; _dataFileProfileType.SubSectionId = 0;

        var itemId = (long?)e.TreeList.GetRowValue(e.VisibleIndex, "FileProfileTypeId");
        var nodeName = fileProfileTypeDocumentsAll.FirstOrDefault(f => f.FileProfileTypeId == itemId);
        if (nodeName != null)
        {
            var lists = GetFileProfileTypePath(fileProfileTypeDocumentsAll, nodeName.FileProfileTypeId);
            LinkFilterFileprofiletypeName = lists.FirstOrDefault()?.FileProfilePath;
            _dataFileProfileType.FileProfileTypeId = nodeName.FileProfileTypeId;
            _dataFileProfileType.ProfileId = nodeName.ProfileID;
            _dataFileProfileType.sessionId = nodeName.SessionID;

        }
        if (_dataFileProfileType != null && _dataFileProfileType.ProfileId > 0)
        {
            _dataFileProfileType = _dataFileProfileType;

            documentProfileNoSeriesData = await Mediator.Send(new GetDocumentProfileNoSeriesById(_dataFileProfileType.ProfileId));

            dynamic abbreviation = JsonConvert.DeserializeObject(documentProfileNoSeriesData.Abbreviation1);
            if (abbreviation != null)
            {
                foreach (var item in abbreviation)
                {
                    var itemsId = item.Id;
                    if (itemsId == 1)
                    {
                        isPlant = true;
                        _dataFileProfileType.PlantId = null;
                    }
                    if (itemsId == 2)
                    {
                        isDepartment = true; isDivision = true;
                        _dataFileProfileType.DepartmentId = null;
                        _dataFileProfileType.DivisionId = null;
                    }
                    if (itemsId == 3)
                    {
                        isSection = true;
                        _dataFileProfileType.SectionId = null;
                    }
                    if (itemsId == 4)
                    {
                        isSubSection = true;
                        _dataFileProfileType.SubSectionId = null;
                    }
                }
            }
            if (_dataFileProfileType.IsExpiryDate == true)
            {
                isExpiryDate = true;
            }
        }

        IsFileProfileTypeFilterDocOpen = false;
        StateHasChanged();
    }
    protected async Task FileProfileTypeSelectionChanged(TreeViewNodeEventArgs e)
    {
        _dataFileProfileType.PlantId = 0; _dataFileProfileType.DepartmentId = 0;
        _dataFileProfileType.DivisionId = 0; _dataFileProfileType.SectionId = 0; _dataFileProfileType.SubSectionId = 0;


        if (e.NodeInfo?.DataItem != null)
        {
            var nodeName = e.NodeInfo.DataItem as DocumentsModel;
            var ids = nodeName.FileProfileTypeId;
            var lists = GetFileProfileTypePath(fileProfileTypeDocumentsAll, nodeName.FileProfileTypeId);
            LinkFilterFileprofiletypeName = lists.FirstOrDefault()?.FileProfilePath;
            _dataFileProfileType.FileProfileTypeId = nodeName.FileProfileTypeId;
            _dataFileProfileType.ProfileId = nodeName.ProfileID;
            _dataFileProfileType.sessionId = nodeName.SessionID;
        }

        if (_dataFileProfileType != null && _dataFileProfileType.ProfileId > 0)
        {
            _dataFileProfileType = _dataFileProfileType;

            documentProfileNoSeriesData = await Mediator.Send(new GetDocumentProfileNoSeriesById(_dataFileProfileType.ProfileId));

            dynamic abbreviation = JsonConvert.DeserializeObject(documentProfileNoSeriesData.Abbreviation1);
            if (abbreviation != null)
            {
                foreach (var item in abbreviation)
                {
                    var itemsId = item.Id;
                    if (itemsId == 1)
                    {
                        isPlant = true;
                        _dataFileProfileType.PlantId = null;
                    }
                    if (itemsId == 2)
                    {
                        isDepartment = true; isDivision = true;
                        _dataFileProfileType.DepartmentId = null;
                        _dataFileProfileType.DivisionId = null;
                    }
                    if (itemsId == 3)
                    {
                        isSection = true;
                        _dataFileProfileType.SectionId = null;
                    }
                    if (itemsId == 4)
                    {
                        isSubSection = true;
                        _dataFileProfileType.SubSectionId = null;
                    }
                }
            }
            if (_dataFileProfileType.IsExpiryDate == true)
            {
                isExpiryDate = true;
            }
        }

        IsFileProfileTypeFilterDocOpen = false;
        StateHasChanged();
    }
    internal List<FileProfileTypeModel> GetFileProfileTypePath(List<DocumentsModel> foldersListItem, long? id)
    {
        var foldersListItems = foldersListItem.Where(t => t.FileProfileTypeId == id).ToList();
        FileProfileTypeModel fileprofile = new FileProfileTypeModel();
        List<FileProfileTypeModel>
        foldersList = new List<FileProfileTypeModel>
        ();
        if (foldersListItems != null && foldersListItems.Count > 0)
        {
            foldersListItems.ForEach(s =>
            {
                List<string> FolderPathLists = new List<string>();
                FileProfileTypeModel fileProfileTypeModel = new FileProfileTypeModel();
                fileProfileTypeModel.FileProfileTypeId = s.FileProfileTypeId.Value;
                fileProfileTypeModel.Name = s.FileName;
                fileprofile = GetProfileTypeName(foldersListItem, s, FolderPathLists, fileprofile);
                FolderPathLists.Add(s.FileName);
                fileProfileTypeModel.FileProfileTypeParentId = fileprofile.ParentId;
                fileProfileTypeModel.FileProfilePath = string.Join(" / ", FolderPathLists);
                foldersList.Add(fileProfileTypeModel);
            });
        }
        return foldersList;
    }
    internal FileProfileTypeModel GetProfileTypeName(List<DocumentsModel> foldersListItems, DocumentsModel s, List<string> foldersModel, FileProfileTypeModel fileProfileTypeModel)
    {

        if (s.ParentId != null)
        {
            var items = foldersListItems.FirstOrDefault(f => f.FileProfileTypeId == s.ParentId);
            GetProfileTypeName(foldersListItems, items, foldersModel, fileProfileTypeModel);
            foldersModel.Add(items.FileName);
        }
        else if (s.ParentId == null)
        {
            fileProfileTypeModel.ParentId = foldersListItems.FirstOrDefault(f => f.FileProfileTypeId == s.FileProfileTypeId)?.FileProfileTypeId;
        }
        return fileProfileTypeModel;
    }

    internal FileProfileType _dataFileProfileType = new FileProfileType();

    internal class FileProfileType
    {
        [Required(ErrorMessage = "FileProfile is Required")]
        public long? FileProfileTypeId { get; set; }
        public Guid? sessionId { get; set; }
        public string? Type { get; set; }

        [Required(ErrorMessage = "Select File is Required")]
        public long? ReplaceDocumentId { get; set; }


        [Required(ErrorMessage = "Company is Required")]
        public long? PlantId { get; set; } = 0;
        [Required(ErrorMessage = "Department is Required")]
        public long? DepartmentId { get; set; } = 0;
        [Required(ErrorMessage = "Section is Required")]
        public long? SectionId { get; set; } = 0;
        [Required(ErrorMessage = "SubSection is Required")]
        public long? SubSectionId { get; set; } = 0;
        [Required(ErrorMessage = "Division is Required")]
        public long? DivisionId { get; set; } = 0;
        public string? CompanyCode { get; set; }
        public string? SectionName { get; set; }
        public string? SubSectionName { get; set; }
        public string? DepartmentName { get; set; }
        public string? ProfileNo { get; set; }
        public string? Description { get; set; }

        public Guid? SessionId { get; set; }
        public Guid? FileSessionId { get; set; }
        public string? SourceFrom { get; set; }
        public string? FilePath { get; set; }
        public bool? IsExpiryDate { get; set; }
        public long? ProfileId { get; set; }
        public DateTime? ExpiryDate { get; set; }

    }
    void onSelectedFileReplaceChanged(Documents documents)
    {
        selectfilereplaceList = documents;
        if (documents != null)
        {
            _dataFileProfileType.ReplaceDocumentId = documents.ReplaceDocumentId;
            SeletedExtensions = Path.GetExtension(documents.FileName);

            isPlant = false;
            _dataFileProfileType.PlantId = 0;

            isDepartment = false; isDivision = false;
            _dataFileProfileType.DepartmentId = 0;
            _dataFileProfileType.DivisionId = 0;

            isSection = false;
            _dataFileProfileType.SectionId = 0;


            isSubSection = false;
            _dataFileProfileType.SubSectionId = 0;
        }


    }
    void OnFileLinkTypeChanged(string? radioValue)
    {
        _dataFileProfileType.Type = radioValue;

        if (radioValue == "Link to DMS")
        {
            LinkFilterFileprofiletypeName = null;
            //_dataFileProfileType.Description = null;

            _dataFileProfileType.FileProfileTypeId = null;
            _dataFileProfileType.ReplaceDocumentId = 0;

            // isPlant = false;
            // _dataFileProfileType.PlantId = null;

            // isDepartment = false; isDivision = false;
            // _dataFileProfileType.DepartmentId = null;
            // _dataFileProfileType.DivisionId = null;

            // isSection = false;
            // _dataFileProfileType.SectionId = null;

            // isSubSection = false;
            // _dataFileProfileType.SubSectionId = null;

        }

        if (radioValue == "File Replace(Check-In)")
        {
            _dataFileProfileType.FileProfileTypeId = 0;
            _dataFileProfileType.ReplaceDocumentId = null;

            _dataFileProfileType.PlantId = 0; _dataFileProfileType.DepartmentId = 0;
            _dataFileProfileType.DivisionId = 0; _dataFileProfileType.SectionId = 0; _dataFileProfileType.SubSectionId = 0;



        }

        StateHasChanged();
    }
    DxTreeView? treeView;
    IGrid? Grid { get; set; }
    internal Documents? _selectlst;
    internal List<Documents>? _topicDocList;
    bool PreviewEnabled { get; set; } = false;
    bool onProgressEnabled { get; set; } = false;
    bool IsDescriptionOpen { get; set; } = false;
    internal string? BaseUrl;
    internal string? FileUrl;
    internal string? DocumentViewUrl;
    Documents? _documents { get; set; }

    bool IsRenameOpen { get; set; } = false;
    bool IsFilterOpen { get; set; } = false;
    public bool IsExpiryDateOpen { get; set; } = false;
    // Documents _selectedDocsItems = new Documents();
    bool docEnabled { get; set; } = false;

    protected override async Task OnParametersSetAsync()
    {       
        BaseUrl = Configuration["DocumentsUrl:BaseUrl"];
        FileUrl = Configuration["DocumentsUrl:FileUrl"];
        DocumentViewUrl = Configuration["DocumentsUrl:DocumentViewer"];

        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _editContext = new EditContext(_dataFileProfileType);

        isLeftMenuvisible = LeftMenu;

        if(Cid == 0)
        {
            SelectedGroup = Tid.ToString();
            await loadTopicDocList();
        }
        else
        {
            SelectedGroup = Tid.ToString();
            SelectedReplyId = Cid.ToString();
            await loadSubTopicDocList();
        }       
    }

    internal async Task loadTopicDocList()
    {
        if (long.Parse(@SelectedGroup) > 0)
        {
            //await JSRuntime.InvokeAsync<string>("showLoading");
            _topicDocList = await Mediator.Send(new GetEmailTopicDocList(long.Parse(@SelectedGroup), applicationUser.UserID, isLeftMenuvisible));
            //await JSRuntime.InvokeAsync<string>("hideLoading");

            var selectedDocumentIds = _topicDocList.Where(x => x.ReplaceDocumentId != 0).Select(x => x.DocumentId);
            string commaSeparatedIds = string.Join(",", selectedDocumentIds);

            if (!string.IsNullOrEmpty(commaSeparatedIds))
            {
                _OnFileReplaceList = await Mediator.Send(new GetByUniqueDocument(commaSeparatedIds));
            }
            else
            {
                _OnFileReplaceList = new List<Documents>();

            }




            if (_topicDocList.Count > 0)
            {
                _selectlst = _topicDocList.FirstOrDefault();
                //EditEnabled = true;
                //DeleteEnabled = true;
                if (_selectlst.FilterProfileTypeId != null)
                {
                    await CheckDocPermission(_selectlst.FilterProfileTypeId.Value, _selectlst.ReplaceDocumentId);
                }
                else
                {
                    PreviewEnabled = true;
                }

                docEnabled = true;
                if(_selectlst != null)
                {
                    if (_selectlst.EmailToDMS != null)
                    {
                        onProgressEnabled = true;
                    }
                    else
                    {
                        onProgressEnabled = false;
                    }
                }

                StateHasChanged();
            }
            else
            {
                PreviewEnabled = false;
                docEnabled = false;
                onProgressEnabled = false;
            }
        }

    }
    internal async Task loadSubTopicDocList()
    {
        var conId = SelectedReplyId;

        if (long.Parse(@SelectedGroup) > 0)
        {
            //await JSRuntime.InvokeAsync<string>("showLoading");
            _topicDocList = await Mediator.Send(new GetSubEmailTopicDocList(long.Parse(@SelectedReplyId)));


            var selectedDocumentIds = _topicDocList.Where(x => x.ReplaceDocumentId != 0).Select(x => x.DocumentId);
            string commaSeparatedIds = string.Join(",", selectedDocumentIds);

            if (!string.IsNullOrEmpty(commaSeparatedIds))
            {
                _OnFileReplaceList = await Mediator.Send(new GetByUniqueDocument(commaSeparatedIds));
            }
            else
            {
                _OnFileReplaceList = new List<Documents>();

            }




            //_OnFileReplaceList = new List<Documents> { await Mediator.Send(new GetByUniqueDocument(commaSeparatedIds)) };


            //await JSRuntime.InvokeAsync<string>("hideLoading");


            if (_topicDocList.Count > 0)
            {
                _selectlst = _topicDocList.FirstOrDefault();
                //EditEnabled = true;
                //DeleteEnabled = true;
                

                if (_selectlst.FilterProfileTypeId != null)
                {
                    await CheckDocPermission(_selectlst.FilterProfileTypeId.Value, _selectlst.ReplaceDocumentId);
                }
                else
                {
                    PreviewEnabled = true;
                }


                docEnabled = true;
                if (_selectlst != null)
                {
                    if (_selectlst.EmailToDMS != null)
                    {
                        onProgressEnabled = true;
                    }
                    else
                    {
                        onProgressEnabled = false;
                    }
                }
                StateHasChanged();
            }
            else
            {
                onProgressEnabled = false;
                PreviewEnabled = false;
                docEnabled = false;
            }
        }
    }
    async void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "DocumentId");
        _selectlst = _topicDocList.FirstOrDefault(f => f.DocumentId == (long?)UniqueId);

        if (_selectlst != null)
        {
            if (_selectlst.EmailToDMS != null)
            {
                onProgressEnabled = true;
            }
            else
            {
                onProgressEnabled = false;
            }


            if(_selectlst.FilterProfileTypeId != null)
            {
                await CheckDocPermission(_selectlst.FilterProfileTypeId.Value, _selectlst.ReplaceDocumentId);
            }
            else
            {
                PreviewEnabled = true;
            }

        }
        else
        {
            onProgressEnabled = false;
        }


    }
    async Task CheckDocPermission(long FileProfileTypeId, long DocumentID)
    {
        var permissionData = await Mediator.Send(new GetDocumentUserRoleByUserID(FileProfileTypeId, applicationUser.UserID, DocumentID));
        if (permissionData != null)
        {
            if (permissionData.IsPermissionExits == true)
            {                
                PreviewEnabled = true;
            }
            else
            {
                if (permissionData.IsEdit == true)
                {
                    PreviewEnabled = true;
                }
                if (permissionData.IsRead == true)
                {
                    PreviewEnabled = true;
                }
            }
        }  
        else
        {
            PreviewEnabled = false;
        }

        StateHasChanged();
    }

    async Task onBackToDMS(Documents item)
    {
        if (item.EmailToDMS != null)
        {
            await onBackFileProfileType(item.DMSBackUrl);
            //JSRuntime.InvokeAsync<string>("ReloadUrl");
        }
    }
    async Task onBackFileProfileType(string url)
    {
        var urls = BaseUrl + "fileprofiletype/" + url;
        NavigationManager.NavigateTo(urls);
        //JSRuntime.InvokeAsync<string>("ReloadUrl");
    }
    internal void onStatus(long Id)
    {
        DocId = Id;

        if(_topicDocList != null)
        {
            _documents = _topicDocList.FirstOrDefault(a => a.DocumentId == Id);
        }  

        StatusPopupVisible = true;

    }   

    public async Task onPreview(long Id)
    {
        if(_topicDocList != null)
        {
            _documents = _topicDocList.FirstOrDefault(a => a.DocumentId == Id);
        }

        if(_documents != null)
        {
            var url = DocumentViewUrl + "?url=" + _documents.UniqueSessionId;
            await OpenDocumentPreview(url);
        }

    }
    internal async Task OpenDocumentPreview(string url)
    {
        await JSRuntime.InvokeVoidAsync("window.open", url, "_blank");
    }

    async Task OnSubmitFileLinked()
    {
        if (_editContext.Validate())
        {
            await this.HandleValidSubmit_FileProfileType();
        }
    }
    public async Task loadFileProfileDDData()
    {
        _plantItems = await Mediator.Send(new GetAllPlantQuery());
        await SelectedItemChanged(0);
        await SelectedItemDivisionChanged(0);
        await SelectedItemDepartementChanged(0);
        await SelectedItemSectionChanged(0);



        isPlant = false;
        _dataFileProfileType.PlantId = null;

        isDepartment = false; isDivision = false;
        _dataFileProfileType.DepartmentId = null;
        _dataFileProfileType.DivisionId = null;

        isSection = false;
        _dataFileProfileType.SectionId = null;


        isSubSection = false;
        _dataFileProfileType.SubSectionId = null;


        StateHasChanged();
    }
    async Task SelectedItemChanged(long? plantID)
    {
        if (plantID.HasValue)
        {
            if (CurrentPlant == null)
            {
                CurrentPlant = new ViewPlants(); // Assuming Plant is the type of CurrentPlant
            }

            CurrentPlant.PlantID = plantID.Value;
            _dataFileProfileType.PlantId = plantID;
        }


        //CurrentPlant.PlantID = plantID.Value;
        _divisionItems = new List<ViewDivision>();
        _departmentItems = new List<ViewDepartment>();
        _sectionItems = new List<ViewSection>();
        _subSectionItems = new List<ViewSubSection>();
        if (plantID > 0)
        {
            _divisionItems = await Mediator.Send(new GetDivisionByCompany(plantID));

            //  isDepartment = true; isDivision = true;
            // _dataFileProfileType.DepartmentId = null;
            // _dataFileProfileType.DivisionId = null;
        }
    }
    async Task SelectedItemDivisionChanged(long? divisionId)
    {
        if (divisionId.HasValue)
        {
            if (selectdivision == null)
            {
                selectdivision = new ViewDivision();
            }

            selectdivision.DivisionID = divisionId.Value;
            _dataFileProfileType.DivisionId = divisionId;
        }

        _departmentItems = new List<ViewDepartment>();
        _sectionItems = new List<ViewSection>();
        _subSectionItems = new List<ViewSubSection>();
        if (divisionId > 0)
        {
            _departmentItems = await Mediator.Send(new GetDepartmentByDivision(divisionId));

            //  isSection = true;
            // _dataFileProfileType.SectionId = null;

        }
    }
    async Task SelectedItemDepartementChanged(long? departmentId)
    {
        if (departmentId.HasValue)
        {
            if (selectDepartment == null)
            {
                selectDepartment = new ViewDepartment();
            }

            selectDepartment.DepartmentId = departmentId.Value;
            _dataFileProfileType.DepartmentId = departmentId;
        }

        _sectionItems = new List<ViewSection>();
        _subSectionItems = new List<ViewSubSection>();
        if (departmentId > 0)
        {
            _sectionItems = await Mediator.Send(new GetSectionByDepartment(departmentId));

            //  isSubSection = true;
            // _dataFileProfileType.SubSectionId = null;
        }
    }
    async Task SelectedItemSectionChanged(long? sectionId)
    {
        if (sectionId.HasValue)
        {
            if (selectsection == null)
            {
                selectsection = new ViewSection();
            }

            selectsection.SectionId = sectionId.Value;
            _dataFileProfileType.SectionId = sectionId;
        }

        
        _subSectionItems = new List<ViewSubSection>();
        if (sectionId > 0)
        {
            _subSectionItems = await Mediator.Send(new GetSubSectionBySection(sectionId));
        }
    }

    async Task OnButtonDescriptionClick(Documents items)
    {   
        LinkFilterFileprofiletypeName = null;
        _dataFileProfileType.PlantId = null;
        _dataFileProfileType.DepartmentId = null;
        _dataFileProfileType.DivisionId = null;
        _dataFileProfileType.SectionId = null;
        _dataFileProfileType.SubSectionId = null;
        _dataFileProfileType.Description = null;

        OnFileLinkTypeChanged("Link to DMS");

        await loadFileProfileDDData();

        IsExpiryDateOpen = false; IsRenameOpen = false;
        _selectedDocsItems = new Documents();
        _selectedDocsItems.FilterProfileTypeId = items.FilterProfileTypeId;
        _selectedDocsItems.DocumentId = items.DocumentId;
        _selectedDocsItems.Description = items.Description;
        _selectedDocsItems.FileName = items.FileName;
        _selectedDocsItems.ContentType = items.ContentType;
        _selectedDocsItems.Extension = Path.GetExtension(items.FileName);
        _selectedDocsItems.SessionId = items.SessionId;        
        _selectedDocsItems.ModifiedDate = DateTime.Now;
        _selectedDocsItems.ModifiedByUserId = applicationUser.UserID;

        fileProfileTypeDocumentsAll = new List<DocumentsModel>();
        PanelVisible = true;

        fileProfileTypeDocumentsAll = await Mediator.Send(new GetAllfileprofiletypeListQuery());
        // if (fileProfileTypeDocumentsAll.Count() > 0)
        // {
        //     _selectedTreeItems = _treeGenerateRecursive.TreeGenerateRecursives(fileProfileTypeDocumentsAll);
        // }

        IsDescriptionOpen = true;

        StateHasChanged();
    }   
    public void Dispose()
    {
        //System.GC.Collect();
        //GC.SuppressFinalize(this);
    }

}