@using Application.Commands;
@using Application.Common.Helper;
@using Application.Queries;
@using Application.Response;
@using Markdig;
@using Microsoft.AspNetCore.Http;
@using global::Core.Repositories.Query;
@using global::Core.Entities;
@using global::Core.EntityModels;
@using global::Core.Entities.Views;
@using MediatR
@inject IMediator Mediator
@using System.ComponentModel.DataAnnotations
@using DevExpress.Blazor.Internal
@using System.Collections.Generic
@inject ILocalStorageService<ApplicationUser> _localStorageService
@using DevExpress.Blazor.RichEdit
@using DevExpress.Blazor.Office
@using System.Globalization
@using System;
@using Application.Command.Document;
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration
@inject IJSRuntime JSRuntime;
@inject HttpClient httpClient;
@using System.IO;
@using Microsoft.JSInterop;
@using DevExpress.DocumentView;
@inject NavigationManager NavigationManager
@using System.Web;
@inject IToastService ToastService
@inject AC.SD.Core.Services.ToastService toastService
@using System.Text;
@using RtfPipe;
@inject Application.Common.Helper.Helper dateformathelper
@using System.Net.Http;
@using System.Threading.Tasks
@using System.Threading
@using System.Timers;
@using DevExpress.Blazor.RichEdit;
@inject HttpClient httpClient;
@using Application.Command.ApplicationMasterChilds;
@using Application.Command.ApplicationMasterDetails;
<link rel="stylesheet" type="text/css" href="_content/AC.SD.Core/css/forum-mail.css" />
@page "/ViewEmail/EmailPrint/{ConSessionId:guid}"
@page "/ViewEmail/EmailPrint/{TopicSessionId:guid}/{Page}"
@implements IDisposable;

<div id="tableData">
    <div>
        <button class="btn btn-primary" @onclick="PrintPage">Print</button>
        @if (_discussionList != null && _discussionList.Any())
        {
            @foreach (var item in _discussionList)
            {               
                <div class="uk-card uk-card-default uk-margin-medium-bottom uk-overflow-auto" style="margin-right: 10px;">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle uk-grid" uk-grid="">
                            <div class="mailbox-read-info">
                                <h3>@item.Name</h3>
                                
                                @if (item.DueDate != null)
                                {
                                    <div class="mailbox-read-time" style="float:right;">
                                        <div class="" style="margin-top: -21px; margin-right: 16px;"><span style="font-weight:bold;"> Due Date</span> @Application.Common.Helper.Helper.FormatDate(item.DueDate.Value)</div>
                                    </div>
                                }                               
                                @{
                                    dynamicShowSubject = "showOpenSubject_" + item.ID;
                                }
                                <div id="@dynamicShowSubject" class="handline fa fa-ellipsis-v" style="font-size: 18px;    font-weight: bold; float: right; margin-top: -20px;"></div>
                                @if (item.IsAllowParticipants.GetValueOrDefault(false))
                                {
                                    <span class="primary_color_icon" style="margin-top: 5px;"><i class="fa fa-users" aria-hidden="true"></i></span>
                                }
                                @if (item.Urgent.GetValueOrDefault(false))
                                {
                                    <span class="urgent_icon"><i class="fas fa-bell" style="margin-top: 8px;" aria-hidden="true"></i></span>
                                }
                                @if (item.NotifyUser.GetValueOrDefault(false))
                                {
                                    <span class="primary_color_icon"><i class="fa fa-commenting" style="margin-top: 8px;" aria-hidden="true"></i></span>
                                }                               
                                <h5>
                                    From: @item.UserName
                                    @if (item.OnBehalfName != null)
                                    {
                                        <span style="font-weight:bold; font-size:12px; margin-left:10px;">OnBehalf : </span>
                                        <span style="font-size:12px;"> @item.OnBehalfName </span>
                                        @if (item.Follow == "Follow Up")
                                        {
                                            <span class="fa fa-link" style="font-size:12px; margin-left: 10px;color: red;" aria-hidden="true"></span>
                                        }
                                        else
                                        {
                                            <span class="fa fa-chain-broken" style="font-size:12px; margin-left: 10px;" aria-hidden="true"></span>
                                        }
                                    }
                                    <br>

                                    <div class="mailbox-read-time" style="float:right;">
                                        <div class="" style="margin-top: -8px;">@Application.Common.Helper.Helper.FormatDateTime(@item.AddedDate)</div>                                       
                                    </div>
                                    To:
                                    @if (item.AssignToList != null && item.AssignToList.Any())
                                    {
                                        @foreach (var items in item.AssignToList)
                                        {
                                            <span>@items.FirstName ,</span>
                                        }
                                    }
                                    <br>
                                    @if (item.AssignCCList != null && item.AssignCCList.Any())
                                    {
                                        <text>CC:</text>
                                        @foreach (var items in item.AssignCCList)
                                        {
                                            <span>@items.FirstName ,</span>
                                        }
                                    }
                                </h5>
                            </div>
                        </div>
                    </div>
                    @if (!string.IsNullOrEmpty(item.BackURL))
                    {
                        string ActivityTypes = item.ActivityType == "FileProfileType" ? "Sunward Libraries" : "Activity";

                        <div class="replybox" style="min-height:60px;">
                            <div style="font-weight: bold;">
                                @ActivityTypes Comment
                                <div style="float:right; line-height:16px">
                                    @if (item.ActivityType == "FileProfileType")
                                    {
                                        <button type="button" @onclick="@(() => onBackFileProfileType(item.BackURL+"/"+item.DocumentSessionId))" style="border: 1px solid #eeebeb; padding: 1px; border-radius: 5px;" class="">
                                            <i class="fa fa-arrow-left"></i> Back
                                        </button>
                                    }
                                    else if (item.ActivityType == "EmailFileProfileType")
                                    {
                                        <button type="button" @onclick="@(() => onBackFileProfileType(item.BackURL+"/"+item.DocumentSessionId))" style="border: 1px solid #eeebeb; padding: 1px; border-radius: 5px;" class="">
                                            <i class="fa fa-arrow-left"></i> Back
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="button" @onclick="@(() => onBackActivity(item.BackURL))" style="border: 1px solid #eeebeb; padding: 1px; border-radius: 5px;" class="">
                                            <i class="fa fa-arrow-left"></i> Back
                                        </button>

                                    }

                                </div>
                            </div>
                            <text>@item.ActCommentName</text>
                            <div style=" float: right; font-size: 12px;">@item.ActUserName , @item.ActAddedDate</div>
                        </div>

                    }
                    <div class="uk-card-body">

                        <div>
                            @{
                                byte[] htmlBinaryData = item.FileData; // Your HTML binary data
                                string htmlContent = System.Text.Encoding.UTF8.GetString(htmlBinaryData);
                                @((MarkupString)htmlContent)
                            }
                        </div>
                        @* <CopyToClipboardButton Text="htmlContent" />*@
                        @*    <p class="uk-text-success">
                <DxRichEdit DocumentFormat="DocumentFormat.Rtf" ViewType="ViewType.Simple" CssClass="w-100 txtEditorMsg" @ref="richEdit" ReadOnly="true" BarMode=BarMode.None DocumentContent="@item.FileData" />
                </p>*@

                        @if (item.documents.Any())
                        {
                            <div class="uk-card-footer">
                                <div>
                                    <div class="">
                                        @foreach (var attachment in item.documents)
                                        {
                                            <div class="tag handline"><i class="fas fa-file" aria-hidden="true"></i> @attachment.FileName</div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }

                        @* <div class="uk-card-footer">
                <div>
                <div class="accordion-item">
                <div class="accordion-title" @onclick="@(() => ToggleDocItemVisibility(item.ID))"> Attachment </div>

                @if (DocitemVisibility.ContainsKey(item.ID) && DocitemVisibility[item.ID])
                {
                @foreach (var attachment in item.documents)
                {
                <div class="tag"><i class="fas fa-file" aria-hidden="true"></i> @attachment.FileName</div>
                }
                string firststring = "#overviewDemoSelectButton_";
                Guid? secondstring = item.SessionId;
                string extt = firststring + secondstring;

                <div id="overviewDemoSelectButton_@item.SessionId" class="tag fa fa-plus-square"></div>
                <DxUpload @ref="MyUpload" Name="files"
                AcceptedFileTypes=@AcceptedFileTypes
                Visible="@UploadVisible"
                ExternalSelectButtonCssSelector="@extt"
                UploadUrl="@GetDocUploadUrl(@item.SessionId)"
                Id="@extt"
                SelectedFilesChanged="@SelectedFilesChanged1"
                CssClass="w-100"
                FileUploaded="@HandleUploadSuccess">
                </DxUpload>
                }

                </div>
                </div>
                </div>*@
                    </div>

                    @if (item.ReplyConversation.Count() > 0)
                    {
                        <div class="uk-card-footer">
                            <div>
                                <button type="button" style="border: 1px solid #eeebeb; padding: 1px; border-radius: 5px;float: left; margin-right: 10px; padding-right: 10px; padding-left: 10px;" class="">
                                    <i class="fa fa-reply"></i> Reply
                                </button>
                                <p style="color: #5151b3;" class="handline">@item.ReplyConversation.Count() replies </p>
                                @if (@item.ReplyConversation != null && @item.ReplyConversation.Any())
                                {
                                   
                                    @foreach (var items in @item.ReplyConversation)
                                    {
                                        <div class="lstcoversationrply @((items.IsRead.GetValueOrDefault(false) || items.IsRead == null ? "markasread" : "markasunread"))">
                                            <div class="mailbox-read-info" style="border-bottom:1px solid #f4f4f4">
                                                @*<h3>@items.Name</h3>*@
                                                <h5>
                                                    From: @items.UserName
                                                    <br>
                                                    @if (items.IsRead != null)
                                                    {
                                                        @if (items.IsRead.GetValueOrDefault(false))
                                                        {
                                                            <span class="primary_color_icon handline" title="Mark as unread"><i class="fa fa-envelope-open" aria-hidden="true"></i></span>

                                                        }
                                                        else
                                                        {
                                                            <span class="primary_color_icon handline" title="Mark as read"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                                        }

                                                    }

                                                    <span class="mailbox-read-time" style="float:right;">@Application.Common.Helper.Helper.FormatDateTime(@items.AddedDate)</span>
                                                    To:
                                                    @if (items.AssignToList != null && items.AssignToList.Any())
                                                    {
                                                        @foreach (var itms in items.AssignToList)
                                                        {
                                                            <span>@itms.FirstName ,</span>
                                                        }
                                                    }
                                                    <br>

                                                    @if (items.AssignCCList != null && items.AssignCCList.Any())
                                                    {
                                                        <text>CC:</text>
                                                        @foreach (var itm in items.AssignCCList)
                                                        {
                                                            <span>@itm.FirstName ,</span>
                                                        }
                                                    }

                                                   
                                                </h5>
                                            </div>

                                            @{
                                                byte[] htmlBinaryData1 = items.FileData; // Your HTML binary data
                                                string htmlContent1 = System.Text.Encoding.UTF8.GetString(htmlBinaryData1);
                                                //string btxt = Markdown.ToHtml(htmlContent1);
                                                //<CopyToClipboardButton Text="@btxt" />
                                                <div style="padding: 10px;">
                                                    @((MarkupString)htmlContent1)
                                                </div>
                                            }

                                            @if (items.IsMobile == 1)
                                            {
                                                @*<div style="padding: 10px;">@items.Message</div>*@
                                            }
                                            else
                                            {
                                               
                                            }

                                            @if (items.documents != null && items.documents.Any())
                                            {
                                                @foreach (var attachment in items.documents)
                                                {
                                                    <div class="tag handline"><i class="fas fa-file" aria-hidden="true"></i> @attachment.FileName</div>
                                                }
                                            }
                                            @if (items.ReplyConversation != null && items.ReplyConversation.Count() > 0)
                                            {
                                                <div class="uk-card-footer">
                                                    <div>
                                                        <button type="button" style="border: 1px solid #eeebeb; padding: 1px; border-radius: 5px;float: left; margin-right: 10px; padding-right: 10px; padding-left: 10px;" class="">
                                                            <i class="fa fa-reply"></i> Reply
                                                        </button>
                                                        <p style="color: #5151b3;" class="handline">@items.ReplyConversation.Count() replies </p>
                                                        @if (@items.ReplyConversation != null && @items.ReplyConversation.Any())
                                                        {
                                                               
                                                        @foreach (var itm in @items.ReplyConversation)
                                                        {
                                                            <div class="lstcoversationrply">
                                                                <div class="mailbox-read-info" style="border-bottom:1px solid #f4f4f4">
                                                                    <h3>@itm.Name</h3>
                                                                    <h5>

                                                                        From: @itm.UserName
                                                                        <br>
                                                                            <span class="mailbox-read-time" style="float:right;">@Application.Common.Helper.Helper.FormatDateTime(@itm.AddedDate)</span>
                                                                        To:
                                                                        @if (itm.AssignToList != null && itm.AssignToList.Any())
                                                                        {
                                                                            @foreach (var itms in itm.AssignToList)
                                                                            {
                                                                                <span>@itms.FirstName ,</span>
                                                                            }
                                                                        }
                                                                        <br>

                                                                        @if (itm.AssignCCList != null && itm.AssignCCList.Any())
                                                                        {
                                                                            <text>CC:</text>
                                                                            @foreach (var itms in itm.AssignCCList)
                                                                            {
                                                                                <span>@itms.FirstName ,</span>
                                                                            }
                                                                        }
                                                                    </h5>
                                                                </div>                                                                   
                                                                @if (itm.documents != null && itm.documents.Any())
                                                                {
                                                                    @foreach (var attachment in itm.documents)
                                                                    {
                                                                        <div class="tag handline"><i class="fas fa-file" aria-hidden="true"></i> @attachment.FileName</div>
                                                                    }
                                                                }
                                                            </div>
                                                        }
                                                                
                                                        }
                                                    </div>
                                                </div>

                                            }
                                        </div>

                                    }

                                    
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="uk-card-footer">
                            <div>
                                <button type="button" style="border: 1px solid #eeebeb; padding: 1px; border-radius: 5px;float: left; margin-right: 10px; padding-right: 10px; padding-left: 10px;" class="">
                                    <i class="fa fa-reply"></i> Reply
                                </button>
                                <p style="color: #5151b3;" class="handline">0 replies </p>
                            </div>
                        </div>
                    }
                </div>
            }
        }
    </div>    
</div>


@code {
    [Parameter]
    public Guid ConSessionId { get; set; }
    [Parameter]
    public Guid TopicSessionId { get; set; }
    [Parameter]
    public string? Page { get; set; }

    string dynamicShowSubject = "showOpenSubject_";
    public List<EmailConversations>? _discussionList;
    internal List<Documents>? _topicDocList;
    public ApplicationUser? applicationUser { get; internal set; }
    internal string? BaseUrl;
    internal string? ProductActivityBaseUrl;
    internal string? DocumentViewUrl;

    async Task PrintPage()
    {
        //await JSRuntime.InvokeVoidAsync("printPage");
        await JSRuntime.InvokeVoidAsync("printFullPage");
    }
    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += OnLocationChanged;
    }
    void OnLocationChanged(object? sender, LocationChangedEventArgs args)
    {
        StateHasChanged();
    }
    protected override async Task OnParametersSetAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        BaseUrl = Configuration["DocumentsUrl:BaseUrl"];
        ProductActivityBaseUrl = Configuration["DocumentsUrl:APP_Product_Activity"];
        DocumentViewUrl = Configuration["DocumentsUrl:DocumentViewer"];
        
        if (Page != null)
        {
            string sessionidString = TopicSessionId.ToString();
            var lsts = await Mediator.Send(new GetListBySession(sessionidString));
            if (lsts.Count > 0)
            {
                await JSRuntime.InvokeAsync<string>("showLoading");                
                _discussionList = await Mediator.Send(new GetEmailDiscussionList(lsts[0].ID, applicationUser.UserID,Page));
                await JSRuntime.InvokeAsync<string>("hideLoading");
            }
        }
        else
        {
            string sessionidString = ConSessionId.ToString();
            var lsts = await Mediator.Send(new GetListByConversationSession(sessionidString));
            if (lsts.Count > 0)
            {
                await JSRuntime.InvokeAsync<string>("showLoading");
                _discussionList = await Mediator.Send(new GetEmailReplyDiscussionList(lsts[0].ID, applicationUser.UserID));               
                await JSRuntime.InvokeAsync<string>("hideLoading");
            }
        }
       
       
    }

    async void onBackFileProfileType(string url)
    {
        var urls = BaseUrl + "fileprofiletype/" + url;
        NavigationManager.NavigateTo(urls);
        await JSRuntime.InvokeAsync<string>("ReloadUrl");
    }
    internal void onBackActivity(string Url)
    {
        var url = ProductActivityBaseUrl + Url;
        string script = $"window.open('{url}', '_blank');";
        JSRuntime.InvokeVoidAsync("eval", script);        
    }
   
    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
        System.GC.Collect();
        GC.SuppressFinalize(this);
    }

}