@using Application.Queries
@using MediatR
@using global::Core.Entities
@using global::Core.Repositories.Query
@inject IMediator Mediator
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject IToastService ToastService
@inject AC.SD.Core.Services.ToastService toastService
@inject IJSRuntime JSRuntime;
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration
@inject NavigationManager NavigationManager

@if (_discussionList == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
     @if (_discussionList != null && _discussionList.Any())
    {
        @foreach (var item in _discussionList)
        {
            <div>
                <div class="accordion-item">
                    <div class="accordion-header" onclick="toggleAccordion(this)">
                        <div class="sender-info">
                            <div class="avatar-circle bg-a">
                                @(string.IsNullOrEmpty(item.UserName) ? "" : item.UserName.Substring(0, 1))
                            </div>
                            <span class="fromtxt"><strong>From:</strong> @item.UserName</span>
                        </div>
                        <span class="time">@Application.Common.Helper.Helper.FormatDateTime(@item.AddedDate)</span>
                    </div>
                    <div class="accordion-body active1">

                        <div class="email-details" onclick="toggleDetails(this)">
                            Show To/CC
                        </div>
                        <div class="email-details-content">
                            <div>
                                <strong>To:</strong>
                                @if (item.AssignToList != null && item.AssignToList.Any())
                                {
                                    @foreach (var itms in item.AssignToList)
                                    {
                                        <span>@itms.FirstName ,</span>
                                    }
                                }
                                <br>
                            </div>
                            @if (item.AssignCCList != null && item.AssignCCList.Any())
                            {
                                <div>
                                    <strong>Cc:</strong>
                                    @foreach (var itm in item.AssignCCList)
                                    {
                                        <span>@itm.FirstName ,</span>
                                    }
                                </div>
                            }
                        </div>
                        @if (item.DynamicFormEmailSectionName != null)
                        {
                            <div class="replybox" style="min-height:60px;">
                                <div style="font-weight: bold;">
                                    Dynamic form @item.DynamicFormEmailSectionName
                                </div>
                                <text></text>
                                <div style=" float: right; font-size: 12px;">@item.ActUserName , @item.ActAddedDate</div>
                            </div>
                        }

                        @if (!string.IsNullOrEmpty(item.BackURL))
                        {
                            string ActivityTypes = item.ActivityType == "FileProfileType" ? "Sunward Libraries" : item.ActivityType == "DynamicForm" ? item.DynamicFormName : "Activity";
                            @if (item.ActivityType != "EmailFileProfileType")
                            {
                                <div class="replybox" style="min-height:60px;">
                                    <div style="font-weight: bold;">
                                        @ActivityTypes Comment
                                        <div style="float:right; line-height:16px">
                                            @if (item.ActivityType == "FileProfileType")
                                            {
                                                <button type="button" @onclick="@(() => onBackFileProfileType(item.BackURL+"/"+item.DocumentSessionId))" style="border: 1px solid #eeebeb; padding: 1px; border-radius: 5px;" class="">
                                                    <i class="fa fa-arrow-left"></i> Back
                                                </button>
                                            }
                                            else if (item.ActivityType == "EmailFileProfileType")
                                            {
                                                <button type="button" @onclick="@(() => onBackFileProfileType(item.BackURL+"/"+item.DocumentSessionId))" style="border: 1px solid #eeebeb; padding: 1px; border-radius: 5px;" class="">
                                                    <i class="fa fa-arrow-left"></i> Back
                                                </button>
                                            }
                                            else if (item.ActivityType == "DynamicForm")
                                            {
                                                <button type="button" @onclick="@(() => onBackDynamicType(item.BackURL))" style="border: 1px solid #eeebeb; padding: 1px; border-radius: 5px;" class="">
                                                    <i class="fa fa-arrow-left"></i> Back
                                                </button>
                                            }
                                            else
                                            {
                                                <button type="button" @onclick="@(() => onBackActivity(item.BackURL))" style="border: 1px solid #eeebeb; padding: 1px; border-radius: 5px;" class="">
                                                    <i class="fa fa-arrow-left"></i> Back
                                                </button>

                                            }

                                        </div>
                                    </div>
                                    <text>@item.ActCommentName</text>
                                    <div style=" float: right; font-size: 12px;">@item.ActUserName , @item.ActAddedDate</div>
                                </div>

                            }

                        }
                        <div class="">
                            @if (item.CopyLinkEmailIds != null)
                            {
                                dynamicShowDrawer = "ShowOpenDrawer_" + item.ID;

                                <button type="button" id="@dynamicShowDrawer" @onclick="@(() => ToggleInfoclick(item))" style="font-size: 13px;border: 1px solid #eeebeb; padding: 1px; border-radius: 5px;float: right; margin-right: 10px; padding-right: 10px; padding-left: 10px; " class="">
                                    <i class="fa fa-envelope"></i> Attached Email
                                </button>
                            }
                        
                        </div>
                        <div class="email-body">
                            @if (item.FileData == null)
                            {

                                <div class="btn-load" @onclick="() => LoadFileDataAsync(item)">
                                    Load Content
                                </div>


                            }
                            else
                            {

                                byte[] htmlBinaryData1 = item.FileData;
                                string htmlContent1 = System.Text.Encoding.UTF8.GetString(htmlBinaryData1);

                                <div>
                                    @((MarkupString)htmlContent1)
                                </div>
                            }
                        </div>
                        <div class="attachments">
                            <div>
                                @foreach (var attachment in item.documents)
                                {
                                    @*  <strong>Attachments:</strong> *@
                                    <div class="tag handline">
                                        <i class="fas fa-file" aria-hidden="true"></i> @attachment.FileName

                                        @if (attachment.FileName.EndsWith(".wav", StringComparison.OrdinalIgnoreCase))
                                        {
                                            <div class="options">
                                                <div class="play" @onclick="@(() => onPlayAudio(attachment.DocumentID))">
                                                    <i class="fa fa-play" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        }
                                        else if (attachment.IsView)
                                        {
                                            <div class="options">
                                                <div class="download" @onclick="@(() => onDocDownload_old(attachment.DocumentID))">
                                                    <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                                </div>
                                                <div class="preview" @onclick="@(() => onDocDownload(attachment.DocumentID))">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }
    }
}


@code{
    [Parameter]
    public Action? OnCloseRequestMsg { get; set; }

    [Parameter] 
    public long ItemId { get; set; }

    [Parameter]
    public string? Page { get; set; }

    [Parameter]
    public Action<long>? ToggleMainInfo { get; set; }

    private string? BaseUrl;
    private string? ProductActivityBaseUrl;
    public ApplicationUser? applicationUser { get; private set; }
    public List<EmailConversations>? _discussionList;
    private List<Documents>? _topicDocList;   
    private string? DocumentViewUrl;
    string dynamicShowDrawer = "ShowOpenDrawer_";    
   

    protected override async Task OnParametersSetAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        DocumentViewUrl = Configuration["DocumentsUrl:DocumentViewer"];
        ProductActivityBaseUrl = Configuration["DocumentsUrl:APP_Product_Activity"];    
        BaseUrl = Configuration["DocumentsUrl:BaseUrl"];

        if (ItemId > 0)
        {
            _discussionList = await Mediator.Send(new GetEmailReplyDiscussionList(ItemId, applicationUser.UserID));
        }
    }
    private async void onClosed()
    {
        OnCloseRequestMsg?.Invoke();
    }

    private string? audioBase64Source;
    private bool isAudioPopupVisible = false;
    private long? currentAudioId = null;

    public async Task onPlayAudio(long documentId)
    {
        // Close and reset if same audio clicked again
        if (currentAudioId == documentId && isAudioPopupVisible)
        {
            await ResetAudioPlayer();
            return;
        }

        
        var response = await Mediator.Send(new GetFileDownload(documentId));
        if (response.StatusCodeID == 0)
        {
            toastService.ShowToast("Audio not found", AC.SD.Core.Services.ToastLevel.Error);
            return;
        }

        audioBase64Source = $"data:audio/wav;base64,{Convert.ToBase64String(response.ImageData)}";
        currentAudioId = documentId;
        isAudioPopupVisible = true;
    }
       private Task ResetAudioPlayer()
    {
        isAudioPopupVisible = false;
        audioBase64Source = null;
        currentAudioId = null;
        return Task.CompletedTask;
    }
    public async Task onDocDownload_old(long Id)
    {
        _topicDocList = await Mediator.Send(new GetEmailTopicDocList(_discussionList[0].TopicID, applicationUser.UserID, Page));
        var lst =  _topicDocList?.FirstOrDefault(a => a.DocumentId == Id);

       
        var response = await Mediator.Send(new GetFileDownload(Id));
        if (response.StatusCodeID == 0)
        {
            toastService.ShowToast("File Not Exits", AC.SD.Core.Services.ToastLevel.Error);
        }
        else
        {
            //  Trigger file download
            await JSRuntime.InvokeVoidAsync("downloadFile", lst.FileName, response.ImageData, "");
        }


    }
    private async Task LoadFileDataAsync(EmailConversations item)
    {
        if (item.FileData == null)
        {          
            await JSRuntime.InvokeAsync<string>("showLoading");
            item.FileData  = await Mediator.Send(new GetFileData(item.ID));
            await JSRuntime.InvokeAsync<string>("hideLoading");
            StateHasChanged(); 
        }
    }
    public async Task onDocDownload(long Id)
    {
        _topicDocList = await Mediator.Send(new GetEmailTopicDocList(_discussionList[0].TopicID, applicationUser.UserID, Page));
        var lst =  _topicDocList?.FirstOrDefault(a => a.DocumentId == Id);

        if(lst != null)
        {            
            var url = DocumentViewUrl + "?url=" + lst.UniqueSessionId;
            await OpenDocumentPreview(url);
        }

    }
     private async Task OpenDocumentPreview(string url)
    {        
        await JSRuntime.InvokeVoidAsync("window.open", url, "_blank");
    }
    private void ToggleInfoclick(EmailConversations emailConversations) 
    {        
         ToggleMainInfo?.Invoke(emailConversations.ID);   
    }
    async void onBackFileProfileType(string url)
    {
        var urls = BaseUrl + "fileprofiletype/" + url;
        NavigationManager.NavigateTo(urls);
        await JSRuntime.InvokeAsync<string>("ReloadUrl");
    }
    private async void onBackActivity(string Url)
    {
        var url = ProductActivityBaseUrl + Url;
        string script = $"window.open('{url}', '_blank');";
        await JSRuntime.InvokeVoidAsync("eval", script);
        //NavigationManager.NavigateTo(url,true);
    }
    async void onBackDynamicType(string url)
    {
        var urls = BaseUrl + url;
        NavigationManager.NavigateTo(urls);
        await JSRuntime.InvokeAsync<string>("ReloadUrl");
    }

}