@using Application.Commands;
@using Application.Common.Helper;
@using Application.Queries;
@using Application.Response;
@using Microsoft.AspNetCore.Http;
@using global::Core.Repositories.Query;
@using global::Core.Entities;
@using global::Core.EntityModels;
@using global::Core.Entities.Views;
@using MediatR
@inject IMediator Mediator
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject IJSRuntime JSRuntime;
@inject IToastService ToastService
@inject AC.SD.Core.Services.ToastService toastService
@inject NavigationManager NavigationManager
@implements IDisposable;


<div class="d-flex py-2">
    <DxTextBox @bind-Text="MSearchText" style="width: 100%; margin-left: 5px;">
        <Buttons>
            <DxEditorButton IconCssClass="fa fa-filter" Id=@($"flyout-overview-target-container-Filter-info")
                            Tooltip="Filter Info"
                            Click="@(_ => OnSearchInfoClick())" />
        </Buttons>
    </DxTextBox>
    <DxButton Text="Apply" Click="ApplySearch" CssClass="mx-2" />
</div>

<DxGrid @ref="AllEmailGrid" SearchText="@GridSearchText"
        Data="_emailTopicAll"
        AllowSort="false"
        VirtualScrollingEnabled="true"
        KeyFieldName="ID"
        CustomizeElement="Grid_CustomizeElement"
        SelectedDataItemsChanged="@SelectedDataItemsChanged"
        SelectionMode="GridSelectionMode.Multiple"
        SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
        ValidationEnabled="true"
        AutoExpandAllGroupRows="true"
        CssClass="w-100" style="height: calc(100vh - 281px);"
        RowClick="OnEmailToRowClick"
        ColumnResizeMode="GridColumnResizeMode.NextColumn"
        AllowSelectRowByClick="true">
    <Columns>
        <DxGridDataColumn FieldName="SessionId" Caption="SessionID" FilterRowValue='@filterrowname' FilterRowEditorVisible="false" FilterRowOperatorType="GridFilterRowOperatorType.Contains" MinWidth="250" Visible=false />
        <DxGridSelectionColumn Width="50px" AllowSelectAll="true" />
        @* <DxGridDataColumn FieldName="FirstName" FixedPosition="GridColumnFixedPosition.Left" Caption="Name" MinWidth="100" />
        <DxGridDataColumn FieldName="TopicName" Caption="Subject Name" MinWidth="250" />*@
        <DxGridDataColumn FieldName="FirstName" Caption="">
            <CellDisplayTemplate>
                @{
                    var item = (EmailTopics)context.DataItem;
                }
                <div style="width:100%">
                    <strong>
                        @item.FirstName

                        @if (@item.Type == "AssignTo")
                        {
                            <span class="urgent_icon type_color"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                        }

                        @if (@item.Type == "AssignCC")
                        {
                            <span class="urgent_icon type_color"><i class="fa fa-clone" aria-hidden="true"></i></span>
                        }

                        @if (@item.Type == "Participant")
                        {
                            <span class="urgent_icon type_color"><i class="fa fa-paper-plane" aria-hidden="true"></i></span>
                        }

                        @if (@item.Type == "OnBehalf")
                        {
                            <span class="onbehalf_icon type_color"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                        }
                       
                        @if (item.Urgent.GetValueOrDefault(false))
                        {
                            <span class="urgent_icon"><i class="fas fa-bell" aria-hidden="true"></i></span>
                        }

                        @if (item.IsArchive.GetValueOrDefault(false))
                        {
                            <span class="urgent_icon"><i class="fa fa-history" title="Un Archive" alt="Un Archive" @onclick="@((e) => SubmitUnArchived(item.ID))" aria-hidden="true"></i></span>
                        }
                    </strong>
                    <div>
                        <span style="float:right; font-size:11px;"> @Application.Common.Helper.Helper.FormatDateTime(item.StartDate)</span>
                        <text>@item.TopicName</text>
                    </div>
                </div>
            </CellDisplayTemplate>
        </DxGridDataColumn>
        @*  <DxGridDataColumn FieldName="NotificationCount" Caption="#" Width="30" />  *@
    </Columns>
    <DetailRowTemplate>
        <SubViewSearchAll MSearchText ="@MSearchText" Items="(EmailTopics)context.DataItem" RId="onSubViewEmailClick" />
    </DetailRowTemplate>    
</DxGrid>

<DxFlyout @bind-IsOpen=IsSearchInfoOpen
          PositionTarget=@($"#flyout-overview-target-container-Filter-info")
          RestrictionTarget="#Navigation-Flyout-Customization"
          AnimationType="FlyoutAnimationType.Fade"
          PreventCloseOnPositionTargetClick="true"
          FooterVisible="true"
          FooterCssClass="custom-flyout-footer"
          Width="max(25vw, 550px)"
          CloseOnOutsideClick=false
          Position=@(FlyoutPosition.BottomStart | FlyoutPosition.TopStart)>
    <BodyContentTemplate Context="PopupContext">
        <div class="custom-flyout-body" style="width:100%">
             <EditForm Model="@Data" id="@MyID" Context="EditFormContext" OnValidSubmit="@HandleValidSubmit">
                <DxFormLayout CssClass="w-100">
                    <DataAnnotationsValidator />                   
                    <DxFormLayoutItem Caption="From" ColSpanMd="12">
                        <DxTagBox Data="_Allparticipant"
                                  @bind-Values="Data.FromIds"
                                  NullText="Select To..."
                                  ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                  ValueFieldName="UserID"
                                  TextFieldName="Name"                                  
                                  EditFormat="{0}-{1}"
                                  ListRenderMode="ListRenderMode.Virtual"
                                    SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                  CssClass="cw-480">
                            <DxListEditorColumn FieldName="@nameof(ViewEmployee.Name)" Caption="Name" />
                            <DxListEditorColumn FieldName="@nameof(ViewEmployee.NickName)" Caption="Nick Name" />
                            <DxListEditorColumn FieldName="@nameof(ViewEmployee.DesignationName)" Caption="Designation" />
                            <DxListEditorColumn FieldName="@nameof(ViewEmployee.CompanyName)" Caption="Company" Width="100px" />
                        </DxTagBox>
                        <ValidationMessage For="@(() => Data.FromIds)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Subject" ColSpanMd="12">
                        <DxTextBox @bind-Text="@Data.BySubject" ShowValidationIcon="true"/>
                    </DxFormLayoutItem>
                    @*<DxFormLayoutItem Caption="Tag" ColSpanMd="6">
                        <DxTextBox @bind-Text="@Data.ByTag" ShowValidationIcon="true" />
                    </DxFormLayoutItem>   *@  
                    
                    <DxFormLayoutItem Caption="Group" ColSpanMd="12">
                        <DxComboBox Data="@_groupTagItemss"
                                    NullText="Select Group..."
                                    AllowUserInput= "true"
                                     ListRenderMode="ListRenderMode.Virtual"
                                    SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    TextFieldName="Value"
                                    ValueFieldName="Value"
                                    Enabled="@isEnabled"
                                   
                                      Value="@selectGroupItem"
                                    ValueExpression="@(() => selectGroupItem )"
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                    ValueChanged="@((ApplicationMasterChildModel applicationMasterChildModel) => selectedGroupTagChangeddd(applicationMasterChildModel))"
                                    ShowValidationIcon="true">
                        </DxComboBox>
                       @*   <DxSpinEdit  @bind-Value="@Data.GroupTag" ShowValidationIcon="true" style="display:none;" /> *@
                        <ValidationMessage For="@(() => Data.GroupTag)" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Category" ColSpanMd="12">
                        <DxComboBox Data="@_categoryTagItemss"
                                    NullText="Select Category..."
                                    Enabled="@isEnabled"
                                    AllowUserInput= "true"
                                     ListRenderMode="ListRenderMode.Virtual"
                                    SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    TextFieldName="Value"
                                    ValueFieldName="Value"
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                  
                                    Value="@selectCategory"
                                    ValueExpression="@(() => selectCategory )"
                                    ValueChanged="@((ApplicationMasterChildModel applicationMasterChildModel) => selectedCategoryChangedd(applicationMasterChildModel))">
                        </DxComboBox>
                        @*  <DxSpinEdit   @bind-Value="@Data.CategoryTag" ShowValidationIcon="true" style="display:none;" /> *@
                        <ValidationMessage For="@(() => Data.CategoryTag)" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Action" ColSpanMd="12">
                        <DxComboBox Data="@_actionTagItemss"
                                    NullText="Select Action..."
                                    Enabled="@isEnabled"
                                    AllowUserInput = "true"
                                     ListRenderMode="ListRenderMode.Virtual"
                                    SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    TextFieldName="Value"
                                    ValueFieldName="Value"
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                    @bind-Value="@Data.ActionTag">
                        </DxComboBox>
                        <ValidationMessage For="@(() => Data.ActionTag)" />
                    </DxFormLayoutItem>

                    

                    <DxFormLayoutItem Caption="Others Tag:" ColSpanMd="12">
                        <DxComboBox Data="@_AllCategory"
                                    AllowUserInput="true"
                                    NullText="Select Others Tag..."
                                    ListRenderMode="ListRenderMode.Virtual"
                                    SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    TextFieldName="Name"
                                    ValueFieldName="Name"
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                    @bind-Value="@Data.Name"
                                    @bind-Text="@Data.Name" ShowValidationIcon="true">
                        </DxComboBox>
                        <ValidationMessage For="@(() => Data.Name)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="User Tag:" ColSpanMd="12">
                        <DxComboBox Data="@_UserTagList"
                                    AllowUserInput="true"
                                    NullText="Select User Tag..."
                                    ListRenderMode="ListRenderMode.Virtual"
                                    SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    TextFieldName="UserTag"
                                    ValueFieldName="UserTag"
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                    @bind-Value="@Data.UserTag"
                                    @bind-Text="@Data.UserTag" ShowValidationIcon="true">
                        </DxComboBox>
                        <ValidationMessage For="@(() => Data.UserTag)" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="From" ColSpanMd="12">                        
                        @*<DxDateEdit Date="@Date" DateExpression="@(() => Date)" DateChanged="@((DateTime newValue) => OnDateChanged(newValue))" Format="MMMM/yyyy" PickerDisplayMode="@DatePickerDisplayMode.ScrollPicker" ScrollPickerFormat="MMMM yyyy" CssClass="cw-320" ShowValidationIcon="true"></DxDateEdit>*@
                        <DxDateEdit Date="@DateRange" DateExpression="@(() => DateRange)" DateChanged="@((DateTime newValue) => OnDateChanged(newValue))" DisplayFormat="dd-MM-yyyy" CssClass="cw-320" ShowValidationIcon="true"></DxDateEdit>
                        <ValidationMessage For="@(() => Data.FilterFrom)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="To" ColSpanMd="12">
                        <DxDateEdit NullText="Select To Date..." @bind-Date="@Data.FilterTo" DisplayFormat="dd-MM-yyyy" CssClass="cw-320" ShowValidationIcon="true" MinDate="@MinDateFrom" />
                        @*<DxDateEdit NullText="Select To..." @bind-Date="@Data.FilterTo" Format="MMMM/yyyy" PickerDisplayMode="@DatePickerDisplayMode.ScrollPicker" ScrollPickerFormat="MMMM yyyy" CssClass="cw-320" ShowValidationIcon="true" MinDate="@MinFilterFrom" MaxDate="MaxFilterTo" />
                        <ValidationMessage For="@(() => Data.FilterTo)" />*@
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Archive" ColSpanMd="12">
                      <DxCheckBox  @bind-Checked = "@Data.UnArchive"></DxCheckBox>
                        @*<DxDateEdit NullText="Select To..." @bind-Date="@Data.FilterTo" Format="MMMM/yyyy" PickerDisplayMode="@DatePickerDisplayMode.ScrollPicker" ScrollPickerFormat="MMMM yyyy" CssClass="cw-320" ShowValidationIcon="true" MinDate="@MinFilterFrom" MaxDate="MaxFilterTo" />
                        <ValidationMessage For="@(() => Data.FilterTo)" />*@
                    </DxFormLayoutItem>
                </DxFormLayout>
            </EditForm>
        </div>
    </BodyContentTemplate>
    <FooterContentTemplate>
        <div class="w-100">
            <div class="custom-flyout-footer">
                <DxButton CssClass="popup-button" RenderStyle="ButtonRenderStyle.Primary" Text="Close" Click=@(()=> IsSearchInfoOpen = false) />
                <button style="float:right;" type="submit" form="@MyID" disabled="@loading" class="dxbl-btn dxbl-btn-primary popup-button">
                    @if (loading)
                    {
                        <span class="spinner-border spinner-border-sm mr-1"></span>
                    } Apply
                </button>
            </div>
        </div>
    </FooterContentTemplate>
</DxFlyout>

@code {
    ApplicationMasterChildModel selectGroupItem {get;set;}
    ApplicationMasterChildModel selectCategory { get; set; }
    internal EmailSearch Data = new EmailSearch();
    DateTime Date = DateTime.Today;
    internal string MyID = "myid";

    DateTime MinDateFrom;
    DateTime MaxDateTo;
    DateTime DateRange = DateTime.Now.AddYears(-1);
    IReadOnlyList<object> SelectedDataItems { get; set; }
    List<string>? SelectedGroups = new List<string>();
    DateTime MinFilterFrom;
    DateTime MaxFilterTo;
    internal bool loading;
    internal List<ViewEmployee>? _Allparticipant;

    internal List<EmailActivityCatgorys> _UserTagList;
    internal List<EmailActivityCatgorys> _AllCategory;
    internal List<ApplicationMasterChildModel> _groupTagItemss;
    internal List<ApplicationMasterChildModel> _categoryTagItemss;
    internal List<ApplicationMasterChildModel> _actionTagItemss;
    bool isEnabled { get; set; } = true;

    bool IsSearchInfoOpen { get; set; } = false;
    public string? MSearchText { get; set; }
    [Parameter]
    public string? MyDayFilterText { get; set; }
    IGrid AllEmailGrid { get; set; }
    internal List<EmailTopics>? _emailTopicAll;
    string SelectedGroup = "none";
    string SelectedReplyId = "none";
    public string? filterrowname { get; set; }
    public long RTopicId = 0;
    public ApplicationUser? applicationUser { get; internal set; }
    [Parameter]
    public Action<string> ATopicId { get; set; }
    [Parameter]
    public string? GridSearchText { get; set; }
    [Parameter]
    public Action<string>? SubViewAllTopicId { get; set; }
    [Parameter]
    public string? Page { get; set; }
    [Parameter]
    public Action<List<string>>? ToTopicIds { get; set; }
    [Parameter]
    public Action EnableUnArchiveAll { get; set; }
    void selectedGroupTagChangeddd(ApplicationMasterChildModel applicationMasterChildModel)
    {
        selectGroupItem = applicationMasterChildModel;
        if (applicationMasterChildModel != null)
        {
            GroupTagChangedd(applicationMasterChildModel.ApplicationMasterChildId);            
        }
        else
        {
            GroupTagChangedd(-1);
            CategoryTagChanges(-1);
        }

        StateHasChanged();
    }
    async void GroupTagChangedd(long? ApplicationMasterChildId)
    {
        if (ApplicationMasterChildId != null)
        {
            _categoryTagItemss = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(ApplicationMasterChildId));
        }

        StateHasChanged();
    }
    void selectedCategoryChangedd(ApplicationMasterChildModel applicationMasterChildModel)
    {
        selectCategory = applicationMasterChildModel;
        if (applicationMasterChildModel != null)
        {            
            CategoryTagChanges(applicationMasterChildModel.ApplicationMasterChildId);
        }
        else
        {
            CategoryTagChanges(-1);
        }

        StateHasChanged();
    }
    async void CategoryTagChanges(long? ApplicationMasterChildID)
    {
        if (ApplicationMasterChildID != null)
        {
            _actionTagItemss = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(ApplicationMasterChildID));
        }

        StateHasChanged();
    }

    public async Task HandleValidSubmit()
    {
        await JSRuntime.InvokeAsync<string>("showLoading");
        string toidsString = null;
        if(Data.FromIds != null)
        {
            toidsString = string.Join(",", Data.FromIds);
        }

        Data.ByFrom = toidsString;

        var data = Data;

        var request = new GetEmailMasterSearchAll
        {
                UserID = applicationUser.UserID,
                MSearchText = MSearchText,
                ByFrom = Data.ByFrom,
                BySubject = Data.BySubject,
                ByTag = Data.ByTag,
                GroupTag = Data.GroupTag,
                CategoryTag = Data.CategoryTag,
                ActionTag = Data.ActionTag,
                Name = Data.Name,
                UserTag = data.UserTag,
                FilterFrom = Data.FilterFrom,
                FilterTo = Data.FilterTo,
                UnArchive = Data.UnArchive
        };

        _emailTopicAll = await Mediator.Send(request);

        IsSearchInfoOpen = false;
        await JSRuntime.InvokeAsync<string>("hideLoading");
    }

    protected override async Task OnInitializedAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");       

        _Allparticipant = await Mediator.Send(new GetAllEmployeeListQuery());
        _AllCategory = await Mediator.Send(new GetAllEmailActivityCatgorys());  
        _UserTagList = await Mediator.Send(new GetAllUserActivityCatgorys(applicationUser.UserID));
        _groupTagItemss = await Mediator.Send(new GetAllApplicationMasterChildListQuery("105,108,122"));

        Data.FilterTo = DateTime.Today.AddMonths(1);
        var now = DateTime.Now.AddYears(-1);
        DateRange = new DateTime(now.Year, now.Month, 1);
        Data.FilterFrom = DateRange;
        MinDateFrom = DateRange;    
        
        @if(MyDayFilterText != null)
        {
           await loadLibaryList(MyDayFilterText);
        }

        //NavigationManager.LocationChanged += OnLocationChanged;

    }
    void OnLocationChanged(object? sender, LocationChangedEventArgs args)
    {
        StateHasChanged();
    }
    void OnDateChanged(DateTime newValue)
    {
        DateRange = newValue;
        MinDateFrom = newValue;
        Data.FilterFrom = newValue;

        if (DateRange > Data.FilterTo)
        {
            Data.FilterTo = DateRange;
        }

    }
    void OnDateChanged_old(DateTime newValue)
    {
        Date = newValue;
        Data.FilterFrom = Date;
        MinFilterFrom = newValue.AddMonths(1);
        MaxFilterTo = MinFilterFrom.AddMonths(12);
        Data.FilterTo = MaxFilterTo;
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
            e.CssClass += "non-selectable-row";
        }
    }
    void OnEmailToRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "ID");        
        SelectedGroup = UniqueId?.ToString() ?? "none";
        ATopicId?.Invoke(SelectedGroup);        
        StateHasChanged();
    }
    internal async void onSubViewEmailClick(string RId)
    {
        SelectedReplyId = RId;
        var conversationList = await Mediator.Send(new GetEmailConversationList(long.Parse(RId)));
        RTopicId = conversationList[0].TopicID;
        SelectedGroup = conversationList[0].TopicID.ToString();
        SubViewAllTopicId?.Invoke(SelectedReplyId);
        await Task.Delay(1000); // Example asynchronous operation
                                //await LoadReplyData();
        StateHasChanged();
    }
    public async Task loadLibaryList(string txt)
    {
        MSearchText = txt;
       await ApplySearch();
        await InvokeAsync(StateHasChanged);
    }
    public async Task ApplySearch()
    {        
        await JSRuntime.InvokeAsync<string>("showLoading");
        var request = new GetEmailMasterSearchAll
            {
                UserID = applicationUser.UserID,
                MSearchText = MSearchText,
                ByFrom = null,
                BySubject = null,
                ByTag = null,
                FilterFrom = null,
                FilterTo = null,
                UnArchive = false
            };
        _emailTopicAll = await Mediator.Send(request);
        StateHasChanged();
        await JSRuntime.InvokeAsync<string>("hideLoading");
    }
    void OnSearchInfoClick()
    {
        IsSearchInfoOpen = true;
    }
   

    internal async void SubmitUnArchived(long id)
    {

        var UpdateReq = new UpdateTopicUnArchive
            {
                ID = id,
                ModifiedByUserID = applicationUser.UserID,
                ModifiedDate = DateTime.Now
            };
        var result = await Mediator.Send(UpdateReq);
        toastService.ShowToast("UnArchive Updated successfully.", AC.SD.Core.Services.ToastLevel.Success);
        ApplySearch();
    }
    public void Dispose()
    {
        //NavigationManager.LocationChanged -= OnLocationChanged;
        System.GC.Collect();
        GC.SuppressFinalize(this);
    }
    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems;
        EnableUnArchiveAll.Invoke();
    }
    public async Task GetID()
    {
        foreach (object item in SelectedDataItems)
        {
            if (item is EmailTopics emailTopics)
            {

                SelectedGroups.Add(emailTopics.ID.ToString());


            }

        }

       ToTopicIds?.Invoke(SelectedGroups);

        StateHasChanged();

    }
}