@using Application.Queries;
@using global::Core.Repositories.Query;
@using global::Core.Entities;
@using global::Core.Entities.Views;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@using MediatR
@inject IMediator Mediator
@implements IDisposable;
@inject NavigationManager NavigationManager

<style scoped>
    .subviewEmail .dxbl-grid-header-row {
        display: none;
    }

    .dxbl-grid-detail-cell
    {
        padding: 10px 5px 10px 20px !important;
    }
</style>
<DxLoadingPanel @bind-Visible="PanelVisible" IsContentBlocked="true" ApplyBackgroundShading="true" IndicatorAreaVisible="false" Text="Fetching Data...">
    <DxGrid Data="@_forumTopicTo" 
            EditMode="GridEditMode.EditForm"
            ShowAllRows="true"
            KeyFieldName="ReplyId"   
            CssClass="w-100 subviewEmail"
            SelectionMode="GridSelectionMode.Multiple"            
            RowClick="OnEmailAllRowClick"
            AutoExpandAllGroupRows="true"
            AllowSelectRowByClick="true">
        <Columns>           
            <DxGridDataColumn FieldName="FirstName" Caption="">
                <CellDisplayTemplate>
                    @{
                        var item = (EmailTopics)context.DataItem;
                    }                    
                    <div style="width:100%">
                        <strong>
                            @item.FirstName

                            @if (item.DueDate.HasValue)
                            {
                                <span class="showDueDate">(@Application.Common.Helper.Helper.FormatDate(item.DueDate.Value))</span>
                            }
                            @if (item.IsToDoDuDate.GetValueOrDefault(false))
                            {
                                <span class="urgent_icon" title="Todo DueDate"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            }
                            @if (item.NotificationCount != 0)
                            {
                                <span class="notificationCount">@item.NotificationCount</span>
                            }
                            @if (item.Urgent.GetValueOrDefault(false))
                            {
                                <span class="urgent_icon"><i class="fas fa-bell" aria-hidden="true"></i></span>
                            }
                            @if (item.IsAllowParticipants.GetValueOrDefault(false))
                            {
                                <span class="primary_color_icon"><i class="fa fa-users" aria-hidden="true"></i></span>
                            }
                        </strong>
                        <div>
                            <span style="float:right; font-size:11px;"> @Application.Common.Helper.Helper.FormatDateTime(item.StartDate)</span>
                            <text>@item.TopicName</text>
                        </div>
                    </div>
                </CellDisplayTemplate>
            </DxGridDataColumn>
            @*<DxGridDataColumn FieldName="NotificationCount" Caption="#" Width="30" />*@
        </Columns>

    </DxGrid>
</DxLoadingPanel>



@code {
    IGrid? Grid { get; set; }
    bool PanelVisible { get; set; }
    [Parameter]
    public EmailTopics? Items { get; set; }
    internal List<EmailTopics>? _forumTopicTo;
    public ApplicationUser? applicationUser { get; internal set; }
    string SelectedId = "none";
    [Parameter]
    public Action<string>? RId { get; set; }   
    [Parameter]
    public Action<string>? SubViewAllTopicId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        PanelVisible = true;      
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        if(Items != null)
        {
            _forumTopicTo = await Mediator.Send(new GetSubEmailTopicAll(Items.ID, applicationUser.UserID, "NULL"));
        }

        PanelVisible = false;
        NavigationManager.LocationChanged += OnLocationChanged;
    }
    void OnLocationChanged(object? sender, LocationChangedEventArgs args)
    {
        StateHasChanged();
    }
    public async Task onSubAssignAllGridRefresh(long id)
    {
        if (applicationUser != null)
        {
            _forumTopicTo = await Mediator.Send(new GetSubEmailTopicAll(id, applicationUser.UserID, "NULL"));
        }
        
    }
    void OnEmailAllRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "ReplyId");
        SelectedId = UniqueId?.ToString() ?? "none";
        RId?.Invoke(SelectedId);  
        StateHasChanged();
    }
    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
        System.GC.Collect();
        GC.SuppressFinalize(this);
    }
}