@using Application.Queries;
@using global::Core.Repositories.Query;
@using global::Core.Entities;
@using global::Core.Entities.Views;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@using MediatR
@inject IMediator Mediator
@implements IDisposable;
@inject NavigationManager NavigationManager

<style scoped>
    .subviewEmail .dxbl-grid-header-row {
        display: none;
    }

    .dxbl-grid-detail-cell {
        padding: 10px 5px 10px 20px !important; 
    }

    td:has(> .b-grndActive) {
        background-color: #dbdbdb; 
    }




</style>
<DxLoadingPanel @bind-Visible="PanelVisible" IsContentBlocked="true" ApplyBackgroundShading="true" IndicatorAreaVisible="false" Text="Fetching Data...">
    <DxGrid Data="@_forumTopicTo"
            PageSize="20" EditMode="GridEditMode.EditForm"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            KeyFieldName="ReplyId"
            CssClass="w-100 subviewEmail"
            SelectionMode="GridSelectionMode.Multiple"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            RowClick="OnEmailAllRowClick"
            AutoExpandAllGroupRows="true"
            AllowSelectRowByClick="true">
        <Columns>
            <DxGridDataColumn FieldName="FirstName" Caption="">
                <CellDisplayTemplate>
                    @{
                        var item = (EmailTopics)context.DataItem;
                    }
                    <div style="width:100%" class="@(item.TopicName == MSearchText?.Trim() ? "b-grndActive" : "nobg")">
                        <strong>@item.FirstName</strong>
                        @if (item.DueDate.HasValue)
                        {
                            <span class="showDueDate">(@Application.Common.Helper.Helper.FormatDate(item.DueDate.Value))</span>
                        }
                        @if (item.IsToDoDuDate.GetValueOrDefault(false))
                        {
                            <span class="urgent_icon" title="Todo DueDate"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        }
                        @if (item.IsClosed)
                        {                            
                            <span class="primary_color_icon" style="font-size:11px;color:brown;">Closed</span>
                        }
                       
                        <div>
                            <span style="float:right; font-size:11px;"> @Application.Common.Helper.Helper.FormatDateTime(item.StartDate)</span>
                            <text>@item.TopicName</text>
                        </div>
                    </div>
                </CellDisplayTemplate>
            </DxGridDataColumn>
            @*<DxGridDataColumn FieldName="NotificationCount" Caption="#" Width="30" />*@
        </Columns>

    </DxGrid>
</DxLoadingPanel>



@code {
    [Parameter]
    public string? MSearchText { get; set; }
    IGrid? Grid { get; set; }
    bool PanelVisible { get; set; }
    [Parameter]
    public EmailTopics? Items { get; set; }
    internal List<EmailTopics>? _forumTopicTo;
    public ApplicationUser? applicationUser { get; internal set; }
    string SelectedId = "none";
    [Parameter]
    public Action<string>? RId { get; set; }
    [Parameter]
    public Action<string>? SubViewAllTopicId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        PanelVisible = true;
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        if (Items !=null)
        {
            _forumTopicTo = await Mediator.Send(new GetSubEmailTopicAll(Items.ID, applicationUser.UserID, "NULL"));
        }

        PanelVisible = false;
        //NavigationManager.LocationChanged += OnLocationChanged;
    }
    void OnLocationChanged(object? sender, LocationChangedEventArgs args)
    {
        StateHasChanged();
    }

    void OnEmailAllRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "ReplyId");

        SelectedId = UniqueId?.ToString() ?? "none";

        if(SelectedId !=null)
        {
            RId?.Invoke(SelectedId);
        }
        
        StateHasChanged();
    }
    public void Dispose()
    {
        //NavigationManager.LocationChanged -= OnLocationChanged;
        //System.GC.Collect();
        //GC.SuppressFinalize(this);
    }
}