@inject IMediator Mediator
@inject IJSRuntime jsRuntime;
@using Application.Queries;
@using MediatR
@using global::Core.Repositories.Query;
@using global::Core.Entities;
@inject IJSRuntime JSRuntime;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@implements IDisposable;
@inject NavigationManager NavigationManager

<link href="_content/AC.SD.Core/css/todoList.css" rel="stylesheet" />
<div class="page-content page-container" id="page-content">
    <div class="">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12">
                <div class="card px-10">
                    <div class="card-body">

                      <EditForm id="@MyID" @ref="myForm" Model="@Data" OnValidSubmit="@HandleValidSubmit"                           
                              Context="EditFormContext">
                        <DataAnnotationsValidator />      
                         <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                     <DxFormLayout>
                                            <DxFormLayoutItem ColSpanMd="10">
                                                <DxRichEdit DocumentFormat="DocumentFormat.Rtf" @ref="msgrichEdit" CustomizeToolbar=OnCustomizeToolbar DocumentContent="@Data.ToDoName" BarMode="BarMode.Toolbar" CssClass="w-100 txtEditorMsg" ViewType="ViewType.Simple" />

                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem ColSpanMd="1">
                                                <DxButton CssClass="w-100"
                                                          RenderStyle="ButtonRenderStyle.Primary"
                                                          SubmitFormOnClick="true"
                                                          Text="Add" />
                                            </DxFormLayoutItem>
                                     </DxFormLayout>
                                </div>
                            </div>
                         </div>
                        </EditForm>
                        
                        @*<div class="add-items d-flex"> <input type="text" class="form-control todo-list-input" placeholder="What do you need to do today?"> <button class="add btn btn-primary font-weight-bold todo-list-add-btn">Add</button> </div>*@
                      @*  <div class="list-wrapper">

                            @if (_topicToDolist != null && _topicToDolist.Any())
                            {
                                <ul class="d-flex flex-column-reverse todo-list">
                                @foreach (var item in _topicToDolist)
                                    {
                                        <li class="@((item.Iscompleted ? "completed" : "not"))">
                                            <div class="form-check"> <label class="form-check-label" @onclick="@(() => onCompleted(item.ID))">  @item.ToDoName <i class="input-helper"></i></label> </div> <i class="remove mdi mdi-close-circle-outline" @onclick="@(() => onDelete(item.ID))"></i>
                                        </li>
                                    }
                                </ul>
                            }
                           
                        </div>*@
                        <div class="uk-card-body">
                            <p class="uk-text-success">
                               
                            </p>
                           @if (_topicToDolist != null && _topicToDolist.Any())
                           {
                                @foreach (var item in _topicToDolist)
                                {
                                    <DxRichEdit DocumentFormat="DocumentFormat.Rtf" ViewType="ViewType.Simple" CssClass="w-100 txtEditorMsg" @ref="richEdit" ReadOnly="true" BarMode=BarMode.None DocumentContent="@item.ToDoName" />
                                    <i class="remove mdi mdi-close-circle-outline" style="float:right;font-size:17px;" @onclick="@(() => onDelete(item.ID))"></i>
                        
                                   
                                }
                            }
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code{
    DxRichEdit richEdit { get; set; }
    DxRichEdit msgrichEdit { get; set; }
    [Parameter]
    public long Tid { get; set; }
    internal EditForm myForm;
    internal string MyID = "myForm";
    TopicToDoList? Data { get; set; } = new TopicToDoList();
    internal List<TopicToDoList>? _topicToDolist;
    public ApplicationUser? applicationUser { get; internal set; }
    async Task HandleValidSubmit()
    {

        byte[] fileContent = await msgrichEdit.ExportDocumentAsync(DocumentFormat.Rtf);

        if (fileContent.Length == 480)
        {
            toastService.ShowToast("Please Enter Messages", AC.SD.Core.Services.ToastLevel.Error);
            await JSRuntime.InvokeAsync<string>("hideLoading");
            return;
        }

        await JSRuntime.InvokeAsync<string>("showLoading");
        var request = new CreateTopicTodoListQuery
                    {

                        ToDoName = fileContent,
                        AddedDate = DateTime.Now,
                        SessionId = Guid.NewGuid(),
                        Iscompleted = false,
                        TopicId = Tid,
                        StatusCodeID = 1,
                        AddedByUserID = applicationUser.UserID,
                    };

        var result = Mediator.Send(request); 
        await JSRuntime.InvokeAsync<string>("hideLoading");
        /// onRestText();
        await UpdateDataAsync();
        toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);

    }
    async Task UpdateDataAsync()
    {
        await jsRuntime.InvokeAsync<string>("showLoading");        
        _topicToDolist = await Mediator.Send(new GetAllTopicToDoList(applicationUser.UserID));
        await jsRuntime.InvokeAsync<string>("hideLoading");
    }
    internal void onRestText()
    {
        if(Data != null)
        {
            Data.ToDoName = null;
        }        
    }
    internal async Task onCompleted(long id)
    {
        var req = new EditTopicTodoListQuery
            {
                ID = id,
                Iscompleted = true,
            };

        var ans = Mediator.Send(req);

        await UpdateDataAsync();
    }
    internal async Task onDelete(long Id)
    {
        var req = new DeleteTopicToDoListQuery(Id);
        var ans = Mediator.Send(req);
        await UpdateDataAsync();
    }
    
    protected override async Task OnInitializedAsync()
    {
        //NavigationManager.LocationChanged += OnLocationChanged;
        await jsRuntime.InvokeAsync<string>("showLoading");      
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _topicToDolist = await Mediator.Send(new GetAllTopicToDoList(applicationUser.UserID));
        await jsRuntime.InvokeAsync<string>("hideLoading");        
    } 
    void OnLocationChanged(object? sender, LocationChangedEventArgs args)
    {
        StateHasChanged();
    }
    void OnCustomizeToolbar(IToolbar toolbar)
    {

        toolbar.Groups.Clear();

        // Inserts the File group at the first position in the group collection
        //toolbar.Groups.Add(0, RichEditToolbarGroupNames.File);
        toolbar.Groups.Add(0, RichEditToolbarGroupNames.Undo);
        toolbar.Groups.Add(1, RichEditToolbarGroupNames.Font);
        toolbar.Groups.Add(2, RichEditToolbarGroupNames.Table);
        toolbar.Groups.Add(2, RichEditToolbarGroupNames.Picture);
        toolbar.Groups.Add(2, RichEditToolbarGroupNames.Paragraph);

        IBarGroup undoRedoGroup = toolbar.Groups[0];
        undoRedoGroup.Items.Add(0, RichEditBarItemNames.FullScreen);

      
    }
    public void Dispose()
    {
        //NavigationManager.LocationChanged -= OnLocationChanged;
        //System.GC.Collect();
        //GC.SuppressFinalize(this);
    }
}