@using Application.Commands;
@using Application.Queries;
@using Application.Response;
@using MediatR
@using System.Dynamic
@using global::Core.Entities;
@using global::Core.EntityModels;
@inject IMediator Mediator
@using DevExpress.Export
@using global::Core.Repositories.Query;
@inject IJSRuntime jsRuntime;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject NavigationManager NavigationManager
@implements IDisposable;
@inject DataRefreshService RefreshService
@inject IPageContext PageContext

<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
        DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" Enabled="AddEnabled" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled=@DeleteEnabled/>
                @*<DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportToExcel" />*@
            </Items>
        </DxMenu>
    </div>
</div>

<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">
    <div class="text-center">
        <p>@DeleteerrorMessage</p>
        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>


<DxLoadingPanel @bind-Visible="PanelVisible"
IsContentBlocked="true"
ApplyBackgroundShading="true"
IndicatorAreaVisible="false"
Text="Fetching Data...">

    <DxGrid @ref="Grid" Data="@_topicCategorys" EditModelSaving="@OnEditModelSaving" DataItemDeleting="@OnDeleteDataItem" EditMode="GridEditMode.EditForm" ShowGroupPanel="false" ShowGroupedColumns="false" ShowSearchBox="false"
    FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
    ColumnResizeMode="GridColumnResizeMode.NextColumn"
    PagerNavigationMode="PagerNavigationMode.InputBox"
    KeyFieldName="ID"
    PageSizeSelectorVisible="true"
    PageSizeSelectorAllRowsItemVisible="true"
    PageSizeSelectorItems="@(new int[] { 5,10,20 })"
    PageSize="20"           
    CssClass="ch-360"
    style="height:calc(100vh - 350px);min-height:350px !important"
    FocusedRowEnabled="true"
    RowClick="OnRowClick"
    AllowSelectRowByClick="true"
    CustomizeEditModel="Grid_CustomizeEditModel"
    CustomizeElement="Grid_CustomizeElement"
    AutoExpandAllGroupRows="true"
    SelectionMode="GridSelectionMode.Multiple"
    SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
    RowDoubleClick="OnRowDoubleClick" SelectedDataItemsChanged="@SelectedDataItemsChanged">
        <Columns>
            <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
            <DxGridDataColumn FieldName="GroupName" Caption="Group" />
            <DxGridDataColumn FieldName="CategoryName" Caption="Category" />
            <DxGridDataColumn FieldName="ActionTagIds" Caption="Action">
                <CellDisplayTemplate>
                    @{
                        var item = (EmailActivityCatgorys)context.DataItem;
                    }
                    <div style="margin-top: 10px; margin-bottom: 10px;">                       
                        @if (item.ActionNames != null && item.ActionNames.Any())
                        {
                            @foreach (var items in item.ActionNames)
                            {
                                <span class="ptagtodotag">
                                    @items
                                </span>
                            }
                        }
                    </div> 
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="Name" Caption="Others" />

            <DxGridCommandColumn Width="160px" Visible="false" />
        </Columns>

        <EditFormTemplate Context="EditFormContext">
            @{
                //var types = (EmailActivityCatgorys)EditFormContext.EditModel;
                var types = _currentEditModel;
            }
            <DxFormLayout CssClass="w-100">


                <DxFormLayoutItem Caption="Group" ColSpanMd="6">
                    <DxComboBox Data="@_groupTagItems"
                    NullText="Select Group..."
                    ListRenderMode="ListRenderMode.Virtual"
                    SearchMode="ListSearchMode.AutoSearch"
                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                    TextFieldName="Value"
                    ValueFieldName="ApplicationMasterChildId"
                    Enabled="@isEnabled"
                    Value="@selectGroupItems"
                    ValueExpression="@(() => selectGroupItems )"                             
                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                    ValueChanged="@((ApplicationMasterChildModel applicationMasterChildModel) => selectedGroupTagChanged(applicationMasterChildModel))"
                    ShowValidationIcon="true">
                    </DxComboBox>
                    <DxSpinEdit   @bind-Value="@types.GroupTag" ShowValidationIcon="true" style="display:none;" />
                    <ValidationMessage For="@(() => types.GroupTag)" />


                    @* <DxComboBox Data="@_groupTagItems"
                                NullText="Select Group..."
                                ListRenderMode="ListRenderMode.Virtual"
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="Value"
                                ValueFieldName="ApplicationMasterChildId"
                                Value="@selectGroupItems"
                                ValueExpression="@(() => selectGroupItems )"
                                ValueChanged="@((ApplicationMasterChildModel model) => selectedGroupTagChanged(model))"
                                ShowValidationIcon="true">

                        <ItemTemplate Context="data">
                            <div style="display: flex; justify-content: space-between; width: 100%;">
                                <span>@data.Value</span>
                                <span style="color: gray;">@data.Description</span>
                            </div>
                        </ItemTemplate>
                    </DxComboBox> *@



                

@* 
                    <DxDropDownBox @bind-Value="GroupValue"
                    QueryDisplayText="QueryGroupText"
                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                    NullText="Select Group"
                    Enabled="@isEnabled"
                    ShowValidationIcon="true">
                        <DropDownBodyTemplate Context="ddbBodyContext">
                            <DxGrid Data="@_groupTagItems"
                            KeyFieldName="@nameof(ApplicationMasterChildModel.ApplicationMasterChildId)" ShowSearchBox="true"
                            HighlightRowOnHover="true"
                            SearchTextParseMode="GridSearchTextParseMode.GroupWordsByAnd"
                            SelectionMode="GridSelectionMode.Single"
                            AllowSelectRowByClick="true"
                            FocusedRowEnabled="true"
                            TextWrapEnabled="false"
                            CssClass="templateGrid"
                            style="height: calc(100vh - 500px);"                          
                            SelectedDataItem="@(ddbBodyContext.DropDownBox.Value as ApplicationMasterChildModel)"                           
                            SelectedDataItemChanged="item => GridSelectedDataGroupTagItemChanged(item, ddbBodyContext.DropDownBox)">
                                <Columns>                                    
                                    <DxGridDataColumn FieldName="Value" />
                                </Columns>
                            </DxGrid>
                        </DropDownBodyTemplate>
                    </DxDropDownBox>
                    <DxSpinEdit @bind-Value="@types.GroupTag" ShowValidationIcon="true" style="display:none;" />
                    <ValidationMessage For="@(() => types.GroupTag)" /> *@

                </DxFormLayoutItem>

                <DxFormLayoutItem Caption="Category" ColSpanMd="6">
                    <DxComboBox Data="@_categoryTagItems"
                    NullText="Select Category..."
                    Enabled="@isEnabled"
                    ListRenderMode="ListRenderMode.Virtual"
                    SearchMode="ListSearchMode.AutoSearch"
                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                    AllowUserInput = "true"
                    TextFieldName="Value"
                    ValueFieldName="ApplicationMasterChildId"
                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"                              
                    Value="@selectcategory"
                    ValueExpression="@(() => selectcategory )"
                    ValueChanged="@((ApplicationMasterChildModel applicationMasterChildModel) => selectedCategoryChanged(applicationMasterChildModel))">
                    </DxComboBox>
                    <DxSpinEdit   @bind-Value="@types.CategoryTag" ShowValidationIcon="true" style="display:none;" />
                    <ValidationMessage For="@(() => types.CategoryTag)" />
                </DxFormLayoutItem>

                <DxFormLayoutItem Caption="Action" ColSpanMd="12">
                    @* <DxTagBox Data="_actionTagItems"
                              @bind-Values="types.ActionTagIds"
                              NullText="Select Action"
                              ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                              ValueFieldName="ApplicationMasterChildId"
                              TextFieldName="Value"
                              ListRenderMode="ListRenderMode.Virtual"
                              SearchMode="ListSearchMode.AutoSearch"
                              SearchFilterCondition="ListSearchFilterCondition.Contains"
                              CssClass="cw-480">
                        <DxListEditorColumn FieldName="@nameof(ApplicationMasterChildModel.Value)" Caption="Action" />                      
                    </DxTagBox> *@    


                    <DxDropDownBox @bind-Value="ActionValue"
                    QueryDisplayText="QueryActionText"
                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                    NullText="Select Action"                                  
                    ShowValidationIcon="true">
                        <DropDownBodyTemplate Context="ddbBodyContext">
                            <DxGrid Data="@_actionTagItems"
                            KeyFieldName="@nameof(ApplicationMasterChildModel.ApplicationMasterChildId)" ShowSearchBox="true"
                            HighlightRowOnHover="true"
                            SearchTextParseMode="GridSearchTextParseMode.GroupWordsByAnd"
                            SelectionMode="GridSelectionMode.Multiple"
                            AllowSelectRowByClick="true"
                            FocusedRowEnabled="true"
                            TextWrapEnabled="false"
                            CssClass="templateGrid"
                            style="height: calc(100vh - 500px);"
                            SelectedDataItems="@(ddbBodyContext.DropDownBox.Value as List<ApplicationMasterChildModel> )"
                            SelectedDataItemsChanged="item => GridSelectedDataItemChanged(item, ddbBodyContext.DropDownBox)">
                                <Columns>
                                    <DxGridSelectionColumn AllowSelectAll="true" Width="30"></DxGridSelectionColumn>
                                    <DxGridDataColumn FieldName="Value" />                                   
                                </Columns>
                            </DxGrid>
                        </DropDownBodyTemplate>
                    </DxDropDownBox>


                    @*  <DxComboBox Data="@_actionTagItems"
                                NullText="Select Action..."                                
                                SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="Value"
                                ValueFieldName="ApplicationMasterChildId"
                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                @bind-Value="@types.ActionTag">
                    </DxComboBox> 
                    <ValidationMessage For="@(() => types.ActionTag)" /> *@
                </DxFormLayoutItem>


                <DxFormLayoutItem Caption="Others Tag:" ColSpanMd="6">
                    <DxComboBox Data="@_AllCategory"
                    AllowUserInput="true"
                    NullText="Select Others Tag..."
                    ListRenderMode="ListRenderMode.Virtual"
                    SearchMode="ListSearchMode.AutoSearch"
                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                    TextFieldName="Name"
                    ValueFieldName="Name"
                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                    @bind-Value="@Name"
                    @bind-Text="@othersTagName" ShowValidationIcon="true">
                    </DxComboBox>
                    <ValidationMessage For="@(() => types.Name)" />
                </DxFormLayoutItem>

                @* <DxFormLayoutItem Caption="Description:" ColSpanMd="12">
                    <DxTextBox @bind-Text="@types.Description" />
                </DxFormLayoutItem>*@
                <ValidationSummary />
            </DxFormLayout>
        </EditFormTemplate>
    </DxGrid>
</DxLoadingPanel>

<DxPopup @bind-Visible="@Blukdeletepopup"
ShowFooter="true"
HeaderText="CRT"
Closed="EulaPopupClosed"
Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>
@code {
    string othersTagName { get; set; }
    ApplicationMasterChildModel selectGroupItems {get; set;}
    ApplicationMasterChildModel selectcategory { get; set; }
    bool PanelVisible { get; set; }
    Dictionary<long, string>? UsernameIndex { get; set; }
    IReadOnlyList<object>? SelectedDataItems { get; set; }
    private string gridHeight = "calc(100vh - 230px - 143px)";
    private List<EmailActivityCatgorys>? _topicCategorys;
    private List<EmailActivityCatgorys>? _AllCategory;
    IGrid? Grid { get; set; }
    private EmailActivityCatgorys? _selectedItems;
    bool ExportSelectedRowsOnly { get; set; }
    DxPopup? popup;
    bool PopupVisible { get; set; } = false; 
    string? DeleteerrorMessage;  
    string styleClass = "";  
    private bool loading;
    bool Blukdeletepopup { get; set; } = false;
    bool EditEnabled { get; set; } = false;
    bool AddEnabled { get; set; } = false;
    bool DeleteEnabled { get; set; } = false;
    string SelectedGroup = "none";
    [Parameter]
    public long TopicId { get; set; }
    private EmailActivityCatgorys? _selectlst;
    public ApplicationUser? applicationUser { get; private set; }
    [Parameter]
    public Action loadTagsList { get; set; }

    bool isEnabled { get; set; } = true;
    private List<ApplicationMasterChildModel>? _groupTagItems;
    private List<ApplicationMasterChildModel>? _categoryTagItems;
    private List<ApplicationMasterChildModel>? _actionTagItems;
    bool isTagLock { get; set; }
    private EmailActivityCatgorys _currentEditModel;
    string Name;
    object ActionValue { get; set; }
    object GroupValue { get; set; }

    string? QueryActionText(DropDownBoxQueryDisplayTextContext arg)
    {        
        string? returnData = string.Empty;
        if (arg.Value != null)
        {
            List<ApplicationMasterChildModel> collection = (List<ApplicationMasterChildModel>)arg.Value;

            if (collection != null && collection.Count() > 0)
            {
                foreach (var item in collection)
                {
                    dynamic eod = item;
                    returnData += (string)eod.Value + ",";
                }
            }
        }

        return returnData;
    }

    async Task GridSelectedDataItemChanged(IReadOnlyList<object> selectedItems, IDropDownBox dropDownBox)
    {

        List<ApplicationMasterChildModel> selectedAllItems = new List<ApplicationMasterChildModel>();
        if (selectedItems != null)
        {
            foreach (object item in selectedItems)
            {
                if (item is ApplicationMasterChildModel dataselectItems)
                {
                    selectedAllItems.Add(dataselectItems);
                }
            }
        }
        var vids = selectedAllItems.Cast<dynamic>().Select(s => (long?)s.ApplicationMasterChildId).ToList();
        _currentEditModel.ActionTagIds = vids;
        ActionValue = selectedAllItems;
        dropDownBox.BeginUpdate();
        dropDownBox.Value = selectedAllItems;
        dropDownBox.EndUpdate();

    }

    string? QueryGroupText(DropDownBoxQueryDisplayTextContext arg)
    {      
        string? returnData = string.Empty;
        if (arg.Value is ApplicationMasterChildModel value)
        {
            if (value != null)
            {
                _currentEditModel.GroupTag = value.ApplicationMasterChildId;
                returnData = value?.Value;
            }
        }
        InvokeAsync(SelectedItemGroupTagChanged);
        return returnData;



    }
    async Task SelectedItemGroupTagChanged()
    {
        await SelectedItemChanged(_currentEditModel.GroupTag);
    }
    async Task SelectedItemChanged(long? GroupTag)
    {
        //_divisionItems = new List<ViewDivision>();
        //_departmentItems = new List<ViewDepartment>();
        //_sectionItems = new List<ViewSection>();
        //_subSectionItems = new List<ViewSubSection>();
        if (GroupTag > 0)
        {
            await CategoryTagChange(GroupTag);
        }
    }

    async Task GridSelectedDataGroupTagItemChanged(object item, IDropDownBox dropDownBox)
    {
        if (item != null)
        {
            GroupValue = item as ApplicationMasterChildModel;
            selectGroupItems = GroupValue as ApplicationMasterChildModel;

            if (selectGroupItems != null)
            {
                await GroupTagChanged(selectGroupItems.ApplicationMasterChildId, 1);
            }

        }
        else
        {
            await GroupTagChanged(-1);
            await CategoryTagChange(-1);
        }
        dropDownBox.HideDropDown();

    }

    async Task selectedGroupTagChanged(ApplicationMasterChildModel applicationMasterChildModel)
    {

        if (applicationMasterChildModel != null)
        {
            selectGroupItems = applicationMasterChildModel;
            await GroupTagChanged(applicationMasterChildModel.ApplicationMasterChildId,1);
            //_categoryTagItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(applicationMasterChildModel.ApplicationMasterChildId));
        }
        else
        {
            await GroupTagChanged(-1);
            await CategoryTagChange(-1);
        }
    }
    async Task GroupTagChanged(long? ApplicationMasterChildId,int ck = 0)
    {
        if (ApplicationMasterChildId != null && ApplicationMasterChildId != -1 && ApplicationMasterChildId != 0)
        {
            if(ck == 1)
            {
                if (_currentEditModel != null)
                {
                    _currentEditModel.ActionTagIds = new List<long?>();
                    if (_selectedItems != null)
                    {
                        _selectedItems.ActionTagIds = new List<long?>();
                    }

                    _actionTagItems = null;
                }
            }

            _categoryTagItems = null;
            _categoryTagItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(ApplicationMasterChildId));
        }
        else
        {
            selectGroupItems = null;
            _categoryTagItems = null;
            selectcategory = null;
            _actionTagItems = null;
            if (_currentEditModel != null)
            {
                _currentEditModel.ActionTagIds = new List<long?>();
            }
        }

        StateHasChanged();
    }
    async Task selectedCategoryChanged(ApplicationMasterChildModel applicationMasterChildModel)
    {

        if (applicationMasterChildModel != null)
        {
            selectcategory = applicationMasterChildModel;
            // _actionTagItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(ApplicationMasterChildID));
            await CategoryTagChange(applicationMasterChildModel.ApplicationMasterChildId,1);
        }
        else
        {
            await CategoryTagChange(-1);            
        }

        StateHasChanged();
    }
    async Task CategoryTagChange(long? ApplicationMasterChildID,int ck = 0)
    {
        if (ApplicationMasterChildID != null && ApplicationMasterChildID != -1)
        {
            if(ck == 1)
            {
                if (_currentEditModel != null)
                {
                    _currentEditModel.ActionTagIds = new List<long?>();
                    if(_selectedItems != null)
                    {
                        _selectedItems.ActionTagIds = new List<long?>();
                    }

                }
            }

            _actionTagItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(ApplicationMasterChildID));      

            ActionValue = _actionTagItems
              .Where(x => _currentEditModel.ActionTagIds?.Contains(x.ApplicationMasterChildId) == true)
              .ToList();
        }
        else
        {
            selectcategory = null;
            _selectedItems.CategoryTag = null;
            _actionTagItems = null;
            //_selectedItems.ActionTagIds = new List<long?>();    
            if (_currentEditModel != null)
            {                
                _currentEditModel.ActionTagIds = new List<long?>();
            }

        }

        StateHasChanged();
    }


    protected override async Task OnInitializedAsync()
    {
        PageContext.PageName = "TopicTags";
        //NavigationManager.LocationChanged += OnLocationChanged;

        _groupTagItems = await Mediator.Send(new GetAllApplicationMasterChildListQuery("105,108,122"));

        var tId = TopicId;
        PanelVisible = true;       
        _AllCategory = await Mediator.Send(new GetAllEmailActivityCatgorys());
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _topicCategorys = await Mediator.Send(new GetAllTopicCategory(TopicId));       

        var _isTagLock = await Mediator.Send(new GetTagLockInfo(TopicId));

        if (_isTagLock)
        {
            if (_topicCategorys.Count > 0)
            {
                if (_topicCategorys[0].AddedByUserID == applicationUser.UserID)
                {
                    isTagLock = false;
                }
                else
                {
                    isTagLock = _isTagLock;
                }
            }

        }
        else
        {
            isTagLock = _isTagLock;
        }




        if(_topicCategorys.Count > 0)
        {
            if (_topicCategorys[0].IsTagDelete.GetValueOrDefault(false))
            {
                DeleteEnabled = false;
            }

        }


        PanelVisible = false;       

        if (_topicCategorys.Count > 0)
        {
            _selectedItems = _topicCategorys.FirstOrDefault();
            EditEnabled = false;            
            AddEnabled = false;
            StateHasChanged();
        }

        if(_topicCategorys.Count == 0)
        {
            AddEnabled = true;

        }

    }
    void OnLocationChanged(object? sender, LocationChangedEventArgs args)
    {
        StateHasChanged();
    }
    public async Task loadTagList(long tid)
    {
        _topicCategorys = await Mediator.Send(new GetAllTopicCategory(tid));
    }
    public async Task UpdateDataAsync()
    {
        PanelVisible = true;     
        _topicCategorys = await Mediator.Send(new GetAllTopicCategory(TopicId));
        PanelVisible = false;

        if (_topicCategorys.Count == 0)
        {
            AddEnabled = true;

        }


        if (_topicCategorys.Count > 0)
        {
            _selectedItems = _topicCategorys.FirstOrDefault();           
            StateHasChanged();
        }
        loadTagsList?.Invoke();

        StateHasChanged();

    }   
    async Task ExportToExcel()
    {
        if (Grid != null) // Check if the Grid is not null
        {
            if (SelectedDataItems != null)
            {
                await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
                    {
                        ExportSelectedRowsOnly = true,
                        CustomizeCell = OnCustomizeCell
                    });
            }
            else
            {
                await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
                    {
                        ExportSelectedRowsOnly = false,
                        CustomizeCell = OnCustomizeCell
                    });
            }
        }
        // Optionally, handle the case where Grid is null
        else
        {
            // Handle the null case if needed
        }
    }

    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }


    async Task OnEditModelSaving(GridEditModelSavingEventArgs e)
    {       
        var editModel = (EmailActivityCatgorys)e.EditModel;
        if(selectGroupItems != null)
        {
            editModel.GroupTag = selectGroupItems.ApplicationMasterChildId;
        }
        else
        {
            editModel.GroupTag = null;
        }

        if (selectcategory != null)
        {
            editModel.CategoryTag = selectcategory.ApplicationMasterChildId;
        }
        else
        {
            editModel.CategoryTag = null;
        }
        if (e.IsNew)
        {
            var ex = _topicCategorys.Where(x => x.Name == editModel.Name);
            if (ex.Any())
            {               
                toastService.ShowToast("The entered value Already exists Others Tag.", AC.SD.Core.Services.ToastLevel.Error);
            }
            else
            {
                if (_topicCategorys.Count > 0)
                {
                    toastService.ShowToast("Applicable Total 1 Records Only .", AC.SD.Core.Services.ToastLevel.Info);
                    return;
                }

                var createReq = new CreateEmailActivityCatgorysQuery
                    {
                        GroupTag = editModel.GroupTag,
                        CategoryTag = editModel.CategoryTag,
                        ActionTag = editModel.ActionTag,
                        ActionTagIds = editModel.ActionTagIds,
                    //Name = editModel.Name,
                        Name = othersTagName,
                        TopicId = TopicId,
                        Description = editModel.Description,
                        StatusCodeID = 1,
                        AddedByUserID = applicationUser.UserID,
                        ModifiedByUserID = applicationUser.UserID,
                        AddedDate = DateTime.Now,
                        ModifiedDate = DateTime.Now,
                        SessionId = Guid.NewGuid()
                    };

                try
                {
                    var result = await Mediator.Send(createReq);
                    toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);                    
                }
                catch (Exception eq)
                {
                    toastService.ShowToast(eq.Message, AC.SD.Core.Services.ToastLevel.Error);
                }

                await UpdateDataAsync();
            }
        }
        else
        {
            var ex = _topicCategorys.Where(x => x.Name == editModel.Name && x.ID != editModel.ID);
            if (ex.Any())
            {
                toastService.ShowToast("The entered value Already exists.", AC.SD.Core.Services.ToastLevel.Error);                
            }
            else
            {
                var UpdateReq = new EditTopicCategoryQery
                    {
                        ID = editModel.ID,
                        TopicId = TopicId,
                    //Name = editModel.Name,
                        Name = othersTagName,
                        GroupTag = editModel.GroupTag,
                        CategoryTag = editModel.CategoryTag,
                        ActionTag = editModel.ActionTag,
                        Description = editModel.Description,
                        AddedByUserID = editModel.AddedByUserID,
                        StatusCodeID = editModel.StatusCodeID,
                        ModifiedByUserID = applicationUser.UserID,
                        ModifiedDate = DateTime.Now,
                        AddedDate = editModel.AddedDate,
                        ActionTagIds = editModel.ActionTagIds,
                        SessionId = editModel.SessionId,

                    };

                var ans = await Mediator.Send(UpdateReq);
                toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
                await UpdateDataAsync();

            }

        }

    }

    async void ClosePopup()
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
        await UpdateDataAsync();
    }
    async void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
        await UpdateDataAsync();
    }
    async Task OnDeleteDataItem(GridDataItemDeletingEventArgs e)
    {

        var editModel = (EmailActivityCatgorys)e.DataItem;       

        var request = new DeleteForumTypeCommand(editModel.ID);
        await Mediator.Send(request);
        await UpdateDataAsync();
        if (Grid != null)
        {
            Grid.SetFocusedRowIndex(0);
        }       

    }
    async Task Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    { 
        _currentEditModel = (EmailActivityCatgorys)e.EditModel;

        if (e.IsNew)
        {

        }
        else
        {

            var editModel = (EmailActivityCatgorys)e.EditModel;             

            if (string.IsNullOrEmpty(editModel.ActivityType))
            {
                isEnabled = true;
            }
            else if (editModel.ActivityType == "Email")
            {
                isEnabled = true;
            }
            else
            {
                isEnabled = false;
            }


            if(editModel.GroupTag != null || editModel.GroupTag > 0)
            {
                GroupValue = _groupTagItems.FirstOrDefault(x => x.ApplicationMasterChildId == editModel.GroupTag);
                 selectGroupItems = GroupValue as ApplicationMasterChildModel;

            }

            await GroupTagChanged(editModel.GroupTag);            
            await CategoryTagChange(editModel.CategoryTag);
        }
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
    }   

    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "ID");
        _selectedItems = _topicCategorys.FirstOrDefault(f => f.ID == (long?)UniqueId);

        if(isTagLock)
        {
            EditEnabled = false;
            AddEnabled = false;
            DeleteEnabled = false;            
        }
        else
        {
            if (_selectedItems.IsTagDelete.GetValueOrDefault(false))
            {
                DeleteEnabled = false;
            }
            else
            {
                DeleteEnabled = true;
            }

            EditEnabled = true;

        }


        StateHasChanged();
    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        if (isTagLock)
        {
            EditEnabled = false;
            AddEnabled = false;
            DeleteEnabled = false;
        }   
        else
        {
            OnRowClick(e);
            addEdit();
        }

    }
    void addNew()
    {
        _selectedItems = null;
        selectcategory = null;
        selectGroupItems = null;
        _categoryTagItems = null;    
        _actionTagItems = null;
        othersTagName = "";

        if (Grid != null)
        {
            Grid.StartEditNewRowAsync();
        }

    }
    async Task addEdit()
    {        
        _AllCategory = await Mediator.Send(new GetAllEmailActivityCatgorys());

        if (Grid != null)
        {
            if (_selectedItems.GroupTag != null && _selectedItems.GroupTag != 0)
            {
                var tag = new ApplicationMasterChildModel();
                tag.ApplicationMasterChildId = _selectedItems.GroupTag.Value;
                selectGroupItems = tag;


                // selectgrouptagItems = _TagEmailList[0];
                if (_selectedItems.CategoryTag != null && _selectedItems.CategoryTag != 0)
                {
                    await  GroupTagChangedEdit(_selectedItems.GroupTag);
                }

                if (_selectedItems.ActionTag != null && _selectedItems.ActionTag != 0)
                {
                    await CategoryTagChangeEdit(_selectedItems.CategoryTag);
                }

            }

            var actionTagMultiple = await Mediator.Send(new GetActionTagMultiple(TopicId));
            if (actionTagMultiple.Count > 0)
            {
                _selectedItems.ActionTagIds = actionTagMultiple.Select(id => (long?)id);
                //_currentEditModel.ActionTagIds = actionTagMultiple.Select(id => (long?)id);
            }
            else
            {
                _selectedItems.ActionTagIds = new List<long?>();
                //_currentEditModel.ActionTagIds = new List<long?>();
            }

            Name = _selectedItems?.Name;
            Grid.StartEditDataItemAsync(_selectedItems);


        }
        StateHasChanged();

    }
    void addDelete()
    {
        Blukdeletepopup = true;      
    }
    async Task bulkDelete()
    {
        try
        {
            if (SelectedDataItems != null)
            {
                foreach (object item in SelectedDataItems)
                {

                    if (item is EmailActivityCatgorys emailActivityCatgorys)
                    {
                        var request = new DeleteTopicCategoryQery(emailActivityCatgorys.ID,emailActivityCatgorys.TopicId);
                        await Mediator.Send(request);
                        Blukdeletepopup = false;
                        AddEnabled=true;
                        DeleteEnabled=false;
                        EditEnabled = false;
                        toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);

                        if (Grid != null)
                        {
                            Grid.SetFocusedRowIndex(0);
                        }
                    }

                }
            }
        }
        catch (Exception eq)
        {
            DeleteerrorMessage = eq.Message;
            PopupVisible = true;
        }

        await UpdateDataAsync();


    }
    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems;
        if(isTagLock)
        {
            EditEnabled = false;
            AddEnabled = false;
            DeleteEnabled = false;

        }
        else
        {
            if (SelectedDataItems.Count > 1)
            {
                EditEnabled = false;

            }
            else
            {
                EditEnabled = true;

            }
        }



    }
    public void Dispose()
    {
        //NavigationManager.LocationChanged -= OnLocationChanged;
        //System.GC.Collect();
        //GC.SuppressFinalize(this);
    }

    async Task GroupTagChangedEdit(long? ApplicationMasterChildId)
    {
        if (ApplicationMasterChildId != null)
        {
            _categoryTagItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(ApplicationMasterChildId));
            if (_categoryTagItems.Count > 0)
            {
                if(_selectedItems.CategoryTag != null)
                {
                    selectcategory = _categoryTagItems.Where(x => x.ApplicationMasterChildId == _selectedItems.CategoryTag).SingleOrDefault();
                }

            }
        }

        StateHasChanged();
    }
    async Task CategoryTagChangeEdit(long? ApplicationMasterChildID)
    {
        if (ApplicationMasterChildID != null)
        {
            _actionTagItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(ApplicationMasterChildID));            
            if (_actionTagItems.Count > 0)
            {
                if(_selectedItems.ActionTag != null)
                {
                    //_selectedItems.ActionTag = _actionTagItems[0].ApplicationMasterChildId;
                   
                    _selectedItems.ActionTag = _actionTagItems.Where(x => x.ApplicationMasterChildId == _selectedItems.ActionTag.Value).Select(x => x.ApplicationMasterChildId).SingleOrDefault();
                }
                           
            }
        }
        
        StateHasChanged();
    }
}
