@using Application.Queries;
@using MediatR
@using System.ComponentModel;
@using global::Core.Entities.Views;
@using global::Core.Entities;
@inject IMediator Mediator
@using DevExpress.Export
@using Application.Response;
@using global::Core.EntityModels
@inject IJSRuntime jsRuntime
@using global::Core.Repositories.Query;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject AC.SD.Core.Services.ToastService toastService

@inject NavigationManager NavigationManager


<div class="card" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <div class="row">
            <div class="">
                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Auto">
                    <Items>
                        <DxMenuItem Text="Back" Position="ItemPosition.Start" IconCssClass="fa fa-reply" Click="onBack" />
                        <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" />
                        <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="EditEnabled" />
                        <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />

                    </Items>
                </DxMenu>
            </div>
        </div>
    </div>
</div>

<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">

    <DxGrid @ref="Grid" FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            Data="_quotationHistoryItems"
            KeyFieldName="PackingMethodId"
            CustomizeElement="Grid_CustomizeElement"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            SelectionMode="GridSelectionMode.Single"
            ValidationEnabled="true"
            AutoExpandAllGroupRows="true"
            CssClass="ch-360 " style="height: calc(100vh - 220px);"
            FocusedRowEnabled="true"
            RowClick="OnRowClick"
            RowDoubleClick="OnRowDoubleClick"
            CustomizeEditModel="Grid_CustomizeEditModel"
            EditMode="GridEditMode.EditForm"
            EditModelSaving="@OnEditModelSaving"
            SelectedDataItemsChanged="@SelectedDataItemsChanged"
            VirtualScrollingEnabled="true"
            AllowSelectRowByClick="true">
        <Columns>
            <DxGridDataColumn FieldName="NoOfUnitsPerShipperCarton" Caption="No of units per shipper carton" />
            <DxGridDataColumn FieldName="PalletSizeName" Caption="Pallet Size" MinWidth="80" />
            <DxGridDataColumn FieldName="NoOfShipperCartorPerPallet" Caption="No of shipper carton per pallet" />
            <DxGridDataColumn FieldName="AddedByUser" Caption="Added By" />
            <DxGridDataColumn FieldName="AddedDate" Caption="Added Date">
                <CellDisplayTemplate>
                    @{
                        var item = (NavPackingMethodModel)context.DataItem;
                        var startDate = string.Empty;
                        if (item.AddedDate != DateTime.MinValue)
                        {
                            startDate = item.AddedDate?.ToString("dd-MMM-yyyy");
                        }
                    }
                    @startDate
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="ModifiedByUser" Caption="Modified By" />
            <DxGridDataColumn FieldName="ModifiedDate" Caption="Modified Date">
                <CellDisplayTemplate>
                    @{
                        var item = (NavPackingMethodModel)context.DataItem;
                        var startDate = string.Empty;
                        if (item.ModifiedDate != DateTime.MinValue)
                        {
                            startDate = item.ModifiedDate?.ToString("dd-MMM-yyyy");
                        }
                    }
                    @startDate
                </CellDisplayTemplate>
            </DxGridDataColumn>
        </Columns>
        <EditFormTemplate Context="EditFormContext">
            @{
                var types = (NavPackingMethodModel)EditFormContext.EditModel;
            }
            <DxFormLayout CssClass="w-100">
                <DxFormLayoutItem Caption="Pallet Size" ColSpanMd="6">
                    <DxComboBox Data="@_view_ApplicationMasterDetails"
                                NullText="Select Pallet Size..."
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="Value"
                                ValueFieldName="ApplicationMasterDetailID"
                                @bind-Value="@types.PalletSize" />
                    <ValidationMessage For="@(() => types.PalletSize)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="No of units per shipper carton" ColSpanMd="6">
                    <DxSpinEdit @bind-Value="@types.NoOfUnitsPerShipperCarton" ShowValidationIcon="true" />
                    <ValidationMessage For="@(() => types.NoOfUnitsPerShipperCarton)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Quantity" ColSpanMd="6">
                    <DxSpinEdit @bind-Value="@types.NoOfShipperCartorPerPallet" ShowValidationIcon="true" />
                    <ValidationMessage For="@(() => types.NoOfShipperCartorPerPallet)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Status" ColSpanMd="6">
                    <DxComboBox Data="@_stausItems"
                                NullText="Select Status..."
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="CodeValue"
                                ValueFieldName="CodeId"
                                @bind-Value="@types.StatusCodeID"
                                ShowValidationIcon="true">
                    </DxComboBox>
                    <ValidationMessage For="@(() => types.StatusCodeID)" />
                </DxFormLayoutItem>
            </DxFormLayout>
        </EditFormTemplate>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="CompanyName" />
        </TotalSummary>
    </DxGrid>
</DxLoadingPanel>
<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="Delete"
         ShowCloseButton="true"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>
@code {
    bool AuditLogPopUp { get; set; } = false;
    private List<View_NavItems>? _AllNavitems;
    bool PanelVisible { get; set; } = true;
    bool PopupVisible { get; set; } = false;
    DxPopup? popup;
    private List<NavPackingMethodModel> _quotationHistoryItems;
    private NavPackingMethodModel? _selectedItems;
    [Parameter]
    public View_NavItems aCEntryModelItem { get; set; }
    [Parameter]
    public Action RevokeBack { get; set; }
    IGrid Grid { get; set; }
    string permission = "";
    bool EditEnabled { get; set; } = false;
    bool DeleteEnabled { get; set; } = false;
    bool AddPopup { get; set; } = false;
    bool Blukdeletepopup { get; set; } = false;
    IReadOnlyList<object> SelectedDataItems { get; set; }
    public ApplicationUser? applicationUser { get; private set; }
    private List<View_ApplicationMasterDetail> _view_ApplicationMasterDetails; private List<CodeMaster> _stausItems;
    protected override async Task OnInitializedAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _view_ApplicationMasterDetails = await Mediator.Send(new GetAllApplicationMasterDetailQuery(274));
        _stausItems = await Mediator.Send(new GetAllCodeMasterQuery("Status"));
        if (_stausItems != null && _stausItems.Count() > 0)
        {
            List<int?> codeIds = new List<int?>() { 1, 2 };
            _stausItems = _stausItems.Where(w => codeIds.Contains(w.CodeId)).ToList();
        }
        await UpdateDataAsync();
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
            e.CssClass += "non-selectable-row";
        }
    }
    async Task UpdateDataAsync()
    {
        _selectedItems = null; _quotationHistoryItems = new List<NavPackingMethodModel>();
        EditEnabled = false; DeleteEnabled = false;
        if (aCEntryModelItem != null && aCEntryModelItem.ItemId > 0)
        {
            _quotationHistoryItems = await Mediator.Send(new GetNavPackingMethodLines(aCEntryModelItem?.ItemId));
            PanelVisible = true;

            if (_quotationHistoryItems.Count > 0)
            {
                _selectedItems = _quotationHistoryItems.FirstOrDefault();
                Grid.ClearSelection();
                PanelVisible = false;
            }
        }
        PanelVisible = false;
        StateHasChanged();
    }

    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "PackingMethodId");
        _selectedItems = _quotationHistoryItems.FirstOrDefault(f => f.PackingMethodId == (long?)UniqueId);
        StateHasChanged();
    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addEdit();
    }
    void addNew()
    {
        Grid.StartEditNewRowAsync();

    }
    async Task Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        var navitems = (NavPackingMethodModel)e.EditModel;
        if (e.IsNew)
        {
            navitems.StatusCodeID = 1;
        }
        else
        {
            navitems.StatusCodeID = navitems.StatusCodeID > 0 ? navitems.StatusCodeID : 1;
        }
    }
    void addEdit()
    {
        if (SelectedDataItems != null)
        {
            if (SelectedDataItems.Count == 1)
            {
                foreach (object item in SelectedDataItems)
                {
                    if (item is NavPackingMethodModel dataselectItems)
                    {
                        _selectedItems = dataselectItems;
                        Grid.StartEditDataItemAsync(_selectedItems);
                    }
                }
            }
            else
            {
                Grid.StartEditDataItemAsync(_selectedItems);
            }
        }
    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDataItems = null;
        AddPopup = false;
    }
    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems; EditEnabled = false; DeleteEnabled = false;
        if (SelectedDataItems.Count > 0)
        {
            if (SelectedDataItems.Count > 1)
            {
                EditEnabled = false; DeleteEnabled = true;
            }
            else
            {
                EditEnabled = true; DeleteEnabled = true;
            }
        }
    }
    async Task bulkDelete()
    {
        try
        {
            if (SelectedDataItems != null)
            {
                foreach (object item in SelectedDataItems)
                {
                    if (item is NavPackingMethodModel datas)
                    {
                        var request = new DeleteNavPackingMethod(datas);
                        await Mediator.Send(request);
                        Blukdeletepopup = false;
                        toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        await UpdateDataAsync();
                        Grid.SetFocusedRowIndex(0);
                    }
                }
            }
        }
        catch (Exception eq)
        {
            Blukdeletepopup = false;
            toastService.ShowToast("The Selected Record Do not deleted", AC.SD.Core.Services.ToastLevel.Error);
        }
    }
    async Task OnEditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editModel = (NavPackingMethodModel)e.EditModel;
        if (e.IsNew)
        {
            var createReq = new InsertOrUpdateNavPackingMethod
                {
                    PackingMethodId=editModel.PackingMethodId,
                    ItemId = aCEntryModelItem.ItemId,
                    PalletSize = editModel.PalletSize,
                    NoOfShipperCartorPerPallet = editModel.NoOfShipperCartorPerPallet,
                    NoOfUnitsPerShipperCarton = editModel.NoOfUnitsPerShipperCarton,
                    SessionId = editModel.SessionId == null ? Guid.NewGuid() : editModel.SessionId,
                    AddedByUserID = editModel.AddedByUserID == null ? applicationUser?.UserID : editModel.AddedByUserID,
                    ModifiedByUserID = applicationUser?.UserID,
                    ModifiedDate = DateTime.Now,
                    StatusCodeID = editModel.StatusCodeID,
                    AddedDate = editModel.AddedDate == null ? DateTime.Now : editModel.AddedDate,
                };

            try
            {
                var result = await Mediator.Send(createReq);
                toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            }
            catch (Exception eq)
            {
                PopupVisible = true;

            }
            await UpdateDataAsync();


        }
        else
        {
            var UpdateReq = new InsertOrUpdateNavPackingMethod
                {
                    PackingMethodId = editModel.PackingMethodId,
                    ItemId = aCEntryModelItem.ItemId,
                    PalletSize = editModel.PalletSize,
                    NoOfShipperCartorPerPallet = editModel.NoOfShipperCartorPerPallet,
                    NoOfUnitsPerShipperCarton = editModel.NoOfUnitsPerShipperCarton,
                    SessionId = editModel.SessionId == null ? Guid.NewGuid() : editModel.SessionId,
                    AddedByUserID = editModel.AddedByUserID == null ? applicationUser?.UserID : editModel.AddedByUserID,
                    ModifiedByUserID = editModel.ModifiedByUserID == null ? applicationUser?.UserID : editModel.ModifiedByUserID,
                    ModifiedDate = DateTime.Now,
                    StatusCodeID = editModel.StatusCodeID,
                    AddedDate = DateTime.Now,
                };
            var ans = await Mediator.Send(UpdateReq);
            toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();

        }

    }
    void onBack()
    {
        RevokeBack.Invoke();
    }
}