@using Application.Command.SalesOrderMasterPricingLineSellingMethods;
@using Application.Command.SalesOrderMasterPricingLine;
@using Application.Command.SoSalesOrderLine;
@using Application.Commands;
@using Application.Queries;
@using Application.Response;
@using MediatR
@using global::Core.Entities;
@using global::Core.Entities.Views;
@inject IMediator Mediator
@using DevExpress.Export
@using global::Core.Repositories.Query;
@inject IJSRuntime jsRuntime;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService


<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" Enabled="@AddEnabled" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
                <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportToExcel" />
            </Items>
        </DxMenu>
    </div>
</div>


<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">
    <div class="text-center">
        <p>@errorMessage</p>
        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>
<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">
    <div class="text-center">
        <p>@DeleteerrorMessage</p>
        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>

<DxPopup @bind-Visible="@MessageVisible" HeaderText="@MessageHeader">
    <BodyTemplate Context="PopupContext">
        <div class="@((MessageHeader == "Error" ? "TxtRed" : "TxtGreen"))" style="text-align:center; padding: 10px; font-size: 15px;">
            <span> @MessageBody</span>
        </div>
    </BodyTemplate>
</DxPopup>

<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">

    <DxGrid @ref="SMGrid" Data="@_addIitemPriceLineSellingMethod" EditModelSaving="@OnEditModelSaving" DataItemDeleting="@OnDeleteDataItem" EditMode="GridEditMode.EditForm" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            KeyFieldName="SalesOrderMasterPricingLineSellingMethodId"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            CssClass="ch-360"
            FocusedRowEnabled="true"
            RowClick="OnRowClick"
            AllowSelectRowByClick="true"
            CustomizeElement="Grid_CustomizeElement"
            CustomizeEditModel="Grid_CustomizeEditModel"
            AutoExpandAllGroupRows="true"
            SelectionMode="GridSelectionMode.Multiple"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            RowDoubleClick="OnRowDoubleClick" SelectedDataItemsChanged="@SelectedDataItemsChanged">


        <Columns>
            <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
            <DxGridDataColumn FieldName="SalesOrderMasterPricingLineId" Visible="false" />
            @if (sellingMethodsName == "tier")
            {
                <DxGridDataColumn FieldName="TierFromQty" SortIndex="0" SortOrder="GridColumnSortOrder.Ascending" Caption="Tier Qty">
                    <CellDisplayTemplate>
                        @{
                            var item = (SalesOrderMasterPricingLineSellingMethod)context.DataItem;
                        }
                        @(item.TierFromQty + (item.TierToQty > 0 ? ("-" + item.TierToQty) : " - No Limit Qty"))
                    </CellDisplayTemplate>
                </DxGridDataColumn>
                <DxGridDataColumn FieldName="TierPrice" />
            }
            else
            {
                <DxGridDataColumn FieldName="BounsQty" SortIndex="0" SortOrder="GridColumnSortOrder.Ascending" >
                    <CellDisplayTemplate>
                        @{
                            var item = (SalesOrderMasterPricingLineSellingMethod)context.DataItem;
                        }
                        @(item.BounsQty + (item.BounsToQty > 0 ? ("-" + item.BounsToQty) : " - No Limit Qty"))
                    </CellDisplayTemplate>
                    </DxGridDataColumn>
                <DxGridDataColumn FieldName="BounsFocQty" Caption="Bouns Foc Qty" />
            }

            <DxGridCommandColumn Width="160px" Visible="false" />
        </Columns>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="SalesOrderMasterPricingLineSellingMethodId" />
        </TotalSummary>
        @*  @bind-SelectedDataItems="SelectedDataItems"*@
        <EditFormTemplate Context="EditFormContext">
            @{
                var types = (SalesOrderMasterPricingLineSellingMethod)EditFormContext.EditModel;
            }
            <DxFormLayout CssClass="w-100">

                @if (sellingMethodsName == "tier")
                {
                    <DxFormLayoutItem Caption="Tier Qty:" ColSpanMd="3">
                        <DxSpinEdit @bind-Value="@types.TierFromQty" ShowSpinButtons="false" ShowValidationIcon="true" />
                        <ValidationMessage For="@(() => types.TierFromQty)" />
                    </DxFormLayoutItem>
                    @* <DxFormLayoutItem Caption="Tier To Qty:" ColSpanMd="3">
                <DxSpinEdit @bind-Value="@types.TierToQty" ShowSpinButtons="false" ShowValidationIcon="true" />
                <ValidationMessage For="@(() => types.TierToQty)" />
                </DxFormLayoutItem>*@
                    <DxFormLayoutItem Caption="Tier Price:" ColSpanMd="3">
                        <DxSpinEdit @bind-Value="@types.TierPrice" ShowSpinButtons="false" ShowValidationIcon="true" />
                        <ValidationMessage For="@(() => types.TierPrice)" />
                    </DxFormLayoutItem>
                }
                @if (sellingMethodsName == "bonus")
                {
                    <DxFormLayoutItem Caption="Bouns Qty:" ColSpanMd="3">
                        <DxSpinEdit @bind-Value="@types.BounsQty" ShowSpinButtons="false" ShowValidationIcon="true" />
                        <ValidationMessage For="@(() => types.BounsQty)" />
                    </DxFormLayoutItem>
                    @* <DxFormLayoutItem Caption="Bouns Price:" ColSpanMd="3">
                <DxSpinEdit @bind-Value="@types.BounsPrice" />
                </DxFormLayoutItem>*@
                    <DxFormLayoutItem Caption="Bouns Foc Qty:" ColSpanMd="3">
                        <DxSpinEdit @bind-Value="@types.BounsFocQty" ShowSpinButtons="false" ShowValidationIcon="true" />
                        <ValidationMessage For="@(() => types.BounsFocQty)" />
                    </DxFormLayoutItem>
                }

                <ValidationSummary />
            </DxFormLayout>
        </EditFormTemplate>

    </DxGrid>
</DxLoadingPanel>

<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="CRT"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>

@code {
    [Parameter]
    public View_SalesOrderMasterPricingLine Items { get; set; }


    public long? SalesOrderMasterPricingId { get; set; }

    private string TextValue { get; set; }
    private string No { get; set; }
    private string Description { get; set; }
    private string Description2 { get; set; }
    private string BaseUnitofMeasure { get; set; }
    List<string> TierQtyTypeList = new List<string>() { "≥", ">" };
    private List<View_NavItems>? _AllNavitems;
    private List<View_ApplicationMasterDetail> _viewSalesPricingAllowItems;
    private List<View_ApplicationMasterDetail> _viewSellingMethodItems;

    bool PanelVisible { get; set; }
    Dictionary<long, string>? UsernameIndex { get; set; }
    IReadOnlyList<object> SelectedDataItems { get; set; }
    private string gridHeight = "calc(100vh - 230px - 143px)";
    private List<SalesOrderMasterPricingLineSellingMethod>? _addIitemPriceLineSellingMethod;
    IGrid? SMGrid { get; set; }
    private SalesOrderMasterPricingLineSellingMethod _selectedItems;
    //bool EditEnabled { get; set; } = true;
    bool DeleteEnabled { get; set; } = false;
    bool ExportSelectedRowsOnly { get; set; }
    DxPopup? popup;
    bool PopupVisible { get; set; } = false;
    string? errorMessage;
    string? DeleteerrorMessage;
    bool MessageVisible { get; set; }
    string styleClass = "";
    string sellingMethodsName = "";
    string MessageHeader = "Error";
    string MessageBody = "";
    private bool loading;
    bool Blukdeletepopup { get; set; } = false;
    bool EditEnabled { get; set; } = false;
    bool AddEnabled { get; set; } = false;
    string SelectedGroup = "none";
    private SalesOrderMasterPricingLineSellingMethod _selectlst;
    public ApplicationUser? applicationUser { get; private set; }

    protected override async Task OnInitializedAsync()
    {
        if (Items.SellingMethodName != null)
        {
            sellingMethodsName = Items.SellingMethodName.ToLower();
        }

        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        SalesOrderMasterPricingId = Items.SalesOrderMasterPricingLineId;
        await UpdateDataAsync();
    }
    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        var navitems = (SalesOrderMasterPricingLineSellingMethod)e.EditModel;
        if (e.IsNew)
        {
            if (Items.SellingMethodName.ToLower() == "tier")
            {
                navitems.BounsFocQty = 0;
                navitems.BounsQty = 0;
            }
            if (Items.SellingMethodName.ToLower() == "bonus")
            {
                navitems.TierFromQty = 0;
                navitems.TierToQty = 0;
                navitems.TierPrice = 0;
            }
        }
    }
    async Task UpdateDataAsync()
    {
        PanelVisible = true;
        if (SalesOrderMasterPricingId > 0)
        {
            if (Items.SellingMethodId > 0)
            {
                AddEnabled = true;
            }
            _addIitemPriceLineSellingMethod = await Mediator.Send(new GetAllSOMPricingLineSellingMethodQuery(SalesOrderMasterPricingId.Value, sellingMethodsName));

            if (_addIitemPriceLineSellingMethod.Count > 0)
            {
                _selectedItems = _addIitemPriceLineSellingMethod.FirstOrDefault();

                if (SelectedDataItems != null)
                {
                    if (Items.SellingMethodName.ToLower() == "tier")
                    {
                        _selectedItems.BounsFocQty = 0;
                        _selectedItems.BounsQty = 0;
                    }
                    if (Items.SellingMethodName.ToLower() == "bonus")
                    {
                        _selectedItems.TierFromQty = 0;
                        _selectedItems.TierToQty = 0;
                        _selectedItems.TierPrice = 0;
                    }
                    EditEnabled = true;
                    DeleteEnabled = true;

                    StateHasChanged();
                }
            }
        }
        PanelVisible = false;
        StateHasChanged();
    }
    async Task ExportToExcel()
    {
        await SMGrid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = true,

                CustomizeCell = OnCustomizeCell
            });

    }


    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }

    async Task OnEditModelSaving(GridEditModelSavingEventArgs e)
    {

        var editModel = (SalesOrderMasterPricingLineSellingMethod)e.EditModel;

        if (e.IsNew)
        {


            var createReq = new CreateSalesOrderMasterPricingLineSellingMethodCommand
                {
                    SalesOrderMasterPricingLineId = Items.SalesOrderMasterPricingLineId,
                    TierPrice = editModel.TierPrice,
                    TierFromQty = editModel.TierFromQty > 0 ? editModel.TierFromQty : null,
                    TierToQty = editModel.TierToQty > 0 ? editModel.TierToQty : null,
                    BounsQty = editModel.BounsQty > 0 ? editModel.BounsQty : null,
                    BounsPrice = editModel.BounsPrice,
                    BounsFocQty = editModel.BounsFocQty > 0 ? editModel.BounsFocQty : null,
                };

            try
            {
                var result = await Mediator.Send(createReq);
                toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            }
            catch (Exception eq)
            {

                errorMessage = eq.Message;
                PopupVisible = true;

            }

            await UpdateDataAsync();


        }
        else
        {
            var UpdateReq = new EditSalesOrderMasterPricingLineSellingMethodCommand
                {
                    SalesOrderMasterPricingLineSellingMethodId = editModel.SalesOrderMasterPricingLineSellingMethodId,
                    SalesOrderMasterPricingLineId = Items.SalesOrderMasterPricingLineId,
                    TierPrice = editModel.TierPrice,
                    TierFromQty = editModel.TierFromQty > 0 ? editModel.TierFromQty : null,
                    TierToQty = editModel.TierToQty > 0 ? editModel.TierToQty : null,
                    BounsQty = editModel.BounsQty > 0 ? editModel.BounsQty : null,
                    BounsPrice = editModel.BounsPrice,
                    BounsFocQty = editModel.BounsFocQty > 0 ? editModel.BounsFocQty : null,

                };

            var ans = await Mediator.Send(UpdateReq);
            toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();

        }

    }
    private async void onShowPopupMessage(string headerText, string bodyText)
    {

        MessageVisible = true;
        MessageBody = bodyText;
        MessageHeader = headerText;
        loading = false;
        StateHasChanged();
    }
    async void ClosePopup()
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
        await UpdateDataAsync();
    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
        UpdateDataAsync();
    }
    async Task OnDeleteDataItem(GridDataItemDeletingEventArgs e)
    {

        var editModel = (SalesOrderMasterPricingLineSellingMethod)e.DataItem;

        //  string result = string.Empty;
        //  result = await Mediator.Send(new DeleteForumTypeCommand(editModel.ID));
        // Console.WriteLine(result);
        // await UpdateDataAsync();

        var request = new DeleteSalesOrderMasterPricingLineSellingMethodCommand(editModel.SalesOrderMasterPricingLineSellingMethodId);
        await Mediator.Send(request);
        await UpdateDataAsync();
        SMGrid.SetFocusedRowIndex(0);

    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    void Onclick(DataGridSelection<SalesOrderMasterPricingLineSellingMethod> e)
    {



    }

    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "SalesOrderMasterPricingLineSellingMethodId");
        _selectedItems = _addIitemPriceLineSellingMethod.FirstOrDefault(f => f.SalesOrderMasterPricingLineSellingMethodId == (long?)UniqueId);
        if (Items.SellingMethodName.ToLower() == "tier")
        {
            _selectedItems.BounsFocQty = 0;
            _selectedItems.BounsQty = 0;
        }
        if (Items.SellingMethodName.ToLower() == "bonus")
        {
            _selectedItems.TierFromQty = 0;
            _selectedItems.TierToQty = 0;
            _selectedItems.TierPrice = 0;
        }
        StateHasChanged();

    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addEdit();
    }
    void addNew()
    {
        SMGrid.StartEditNewRowAsync();

    }
    void addEdit()
    {


        if (SelectedDataItems.Count == 1)
        {

            foreach (object item in SelectedDataItems)
            {

                if (item is SalesOrderMasterPricingLineSellingMethod SalesOrderMasterPricingLineSellingMethod)
                {

                    _selectlst = _addIitemPriceLineSellingMethod.FirstOrDefault(f => f.SalesOrderMasterPricingLineSellingMethodId == SalesOrderMasterPricingLineSellingMethod.SalesOrderMasterPricingLineSellingMethodId);


                }
            }
            SMGrid.StartEditDataItemAsync(_selectlst);
        }
        else
        {
            SMGrid.StartEditDataItemAsync(_selectedItems);
        }

        //SMGrid.SelectDataItems(SelectedDataItems);


    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    async Task bulkDelete()
    {
        try
        {
            if (SelectedDataItems != null)
            {
                foreach (object item in SelectedDataItems)
                {

                    if (item is SalesOrderMasterPricingLineSellingMethod SalesOrderMasterPricingLineSellingMethod)
                    {

                        var request = new DeleteSalesOrderMasterPricingLineSellingMethodCommand(SalesOrderMasterPricingLineSellingMethod.SalesOrderMasterPricingLineSellingMethodId);
                        await Mediator.Send(request);
                        Blukdeletepopup = false;
                        toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        SMGrid.SetFocusedRowIndex(0);
                    }

                }
            }
        }
        catch (Exception eq)
        {
            DeleteerrorMessage = eq.Message;
            PopupVisible = true;
        }

        await UpdateDataAsync();


    }
    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems;

        if (SelectedDataItems.Count > 1)
        {
            EditEnabled = false;
            DeleteEnabled = false;
        }
        else
        {
            EditEnabled = true;

            DeleteEnabled = true;
        }

    }
}
