@using Application.Queries;
@using MediatR;
@inject IMediator Mediator
@using global::Core.Entities;
@using global::Core.Entities.Views;
@using global::Core.EntityModels;
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration
@using global::Core.Repositories.Query;
@inject AC.SD.Core.Services.ToastService toastService
@inject NavigationManager NavigationManager
@inject ILocalStorageService<ApplicationUser> _localStorageService
@page "/fileprofiletype/AddFileProfileTypes"
@page "/fileprofiletype/AddFileProfileTypes/{Type}"
@page "/fileprofiletype/AddFileProfileTypes/{Type}/{SessionId:guid}"
<div class="card" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <div class="row">
            <div class="">
                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Desktop">
                    <Items>
                        <DxMenuItem Text="Back" IconCssClass="fa fa-reply" Click="@backUrl" />
                        <DxMenuItem Text="Save" IconCssClass="fa fa-save" Click="@onsubmitClick" Enabled="isSaveEnabled" />
                    </Items>
                </DxMenu>
            </div>
            @*   <div class="save_hover" style="@IsdisplayButton">
            <button type="submit" form="@MyID" disabled="@loading" class="btnSubmitForm" onclick="@onsubmitClick">
            @if (loading)
            {
            <span class="spinner-border spinner-border-sm mr-1"></span>
            }
            <i class="fa fa-save"></i>
            Save
            </button>
            </div> *@
        </div>
    </div>
</div>

<DxMenu Data="@FolderPathLists" ItemClick="OnItemClick"
        DisplayMode="MenuDisplayMode.Auto">
    <DataMappings>
        <DxMenuDataMapping Text="FileName" IconCssClass="fa fa-angle-double-right"
                           Children="Children"
                           BeginGroup="BeginGroup"
                           CssClass="CssClass"
                           Enabled="Enabled" />
    </DataMappings>
</DxMenu>
<div class="row align-items-end" style="border-top: 1px solid #d5d4d4; margin-top:10px;">
    <div class="cw-480 ch-220" style="margin-top:10px;">
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutTabPages @bind-ActiveTabIndex="@ActiveTabIndex" RenderMode="TabsRenderMode.OnDemand" TabClick="OnTabClick">
                <DxFormLayoutTabPage Caption="Sunward Libraries" Visible="isEditProfileType">
                    <AddOrEditFileProfileType @ref="refAddOrEditFileProfileType" SessionId="@SessionId" Type="@Type"></AddOrEditFileProfileType>
                </DxFormLayoutTabPage>
                <DxFormLayoutTabPage Caption="Security Access" Visible=@IsGrantAdminPermission>
                    <FileProfileTypeSecurity fileProfileTypeDocumentsAlls="@fileProfileTypeDocumentsAll" FileProfileTypeId="@FileProfileTypeId"></FileProfileTypeSecurity>
                </DxFormLayoutTabPage>
                @* <DxFormLayoutTabPage Caption="Upload Details Form" Visible=@IsFileProfileTypeId>
                <UploadDetailsSetUpForm FileProfileTypeId="@FileProfileTypeId"></UploadDetailsSetUpForm>
                </DxFormLayoutTabPage> *@
            </DxFormLayoutTabPages>
        </DxFormLayout>
    </div>
</div>

@code {

    [Parameter]
    public Guid? SessionId { get; set; }
    [Parameter]
    public string Type { get; set; }
    private AddOrEditFileProfileType? refAddOrEditFileProfileType;
    private FileProfileTypeSecurity? refFileProfileTypeSecurity;
    int ActiveTabIndex { get; set; } = 0;
    public ApplicationUser _applicationUser { get; private set; }
    private bool loading;
    bool IsFileProfileTypeId { get; set; } = false;
    bool isEditProfileType { get; set; } = true;
    bool IsGrantAdminPermission { get; set; } = false;
    bool isSaveEnabled { get; set; } = true;
    private string MyID = "myid";
    List<DocumentsModel> FolderPathLists = new List<DocumentsModel>();
    public List<DocumentsModel> fileProfileTypeDocumentsAll { get; set; }
    public long? FileProfileTypeId { get; set; }
    private OpenAccessUserLink _openAccessUserLink { get; set; }
    string IsdisplayButton = "float: left; margin-top: -41px; line-height: 38px; margin-left: 104px; z-index: 9999; width:100px;";
    protected override async Task OnInitializedAsync()
    {
        _applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");

    }
    protected override async Task OnParametersSetAsync()
    {
        isEditProfileType = true; isSaveEnabled = true;
        fileProfileTypeDocumentsAll = await Mediator.Send(new GetAllfileprofiletypeListQuery());
        FolderPathLists = new List<DocumentsModel>();
        DocumentsModel dc = new DocumentsModel();
        dc.FileName = "Main";
        FolderPathLists.Add(dc);
        FileProfileTypeId = fileProfileTypeDocumentsAll.FirstOrDefault(f => f.SessionID == SessionId)?.FileProfileTypeId;
        if (Type == "Edit")
        {
            IsFileProfileTypeId = true;
        }
        if (FileProfileTypeId > 0)
        {
            isEditProfileType = false; isSaveEnabled = false; IsGrantAdminPermission = false;
            var fileType = fileProfileTypeDocumentsAll.Where(w => w.FileProfileTypeId == FileProfileTypeId).FirstOrDefault();
            if (fileType != null)
            {
                _openAccessUserLink = await Mediator.Send(new GetDMSAccessByUser(_applicationUser.UserID));
                if (_openAccessUserLink != null)
                {
                    if (_openAccessUserLink.IsDmsCreateMainFolder == true)
                    {
                        isSaveEnabled = true; isEditProfileType = true;
                    }
                    if (_openAccessUserLink.IsDmsAccess == true)
                    {
                        isSaveEnabled = true; isEditProfileType = true; IsGrantAdminPermission = true;
                    }
                    else
                    {
                        await onCheckPermission(fileType);
                    }
                }
                else
                {
                    await onCheckPermission(fileType);
                }
                FolderPathLists = GetAllFileProfileTypeName(fileProfileTypeDocumentsAll, fileType, FolderPathLists);
                FolderPathLists.Add(fileType);
            }
        }

        base.OnParametersSet();
    }
    void OnItemClick(MenuItemClickEventArgs e)
    {
        var data = (DocumentsModel)e.ItemInfo.Data;
        if (data.FileProfileTypeId > 0)
        {
            openFileProfileLink(data);
        }
        else
        {
            openFileProfileMainLink();
        }
    }
    async Task onCheckPermission(DocumentsModel fileType)
    {
        isEditProfileType = false; isSaveEnabled = false; IsGrantAdminPermission = false;
        var documentPermissionModels = await Mediator.Send(new GetDocumentUserRoleByUserID(FileProfileTypeId, _applicationUser.UserID));
        if (Type == "Add")
        {
            if (fileType.AddedByUserID == _applicationUser.UserID)
            {
                isSaveEnabled = true;
                isEditProfileType = true;
            }
            else
            {
                if (documentPermissionModels != null)
                {
                    if (documentPermissionModels.IsCreateFolder == true)
                    {
                        isSaveEnabled = true;
                        isEditProfileType = true;
                    }

                }
                else
                {
                    //isSaveEnabled = true;
                    //isEditProfileType = true;
                }
            }
        }
        if (Type == "Edit")
        {
            if (fileType.AddedByUserID == _applicationUser.UserID)
            {
                isSaveEnabled = true;
                isEditProfileType = true;
                IsGrantAdminPermission = true;
            }
            else
            {
                if (documentPermissionModels != null)
                {
                    if (documentPermissionModels.IsEditFolder == true)
                    {
                        isSaveEnabled = true;
                        isEditProfileType = true;

                    }
                    if (documentPermissionModels.IsGrantAdminPermission == true)
                    {
                        IsGrantAdminPermission = true;
                    }
                }
                else
                {
                    //isSaveEnabled = true;
                    //isEditProfileType = true;
                    //IsGrantAdminPermission = true;
                }

            }
        }
    }
    private List<DocumentsModel> GetAllFileProfileTypeName(List<DocumentsModel> foldersListItems, DocumentsModel s, List<DocumentsModel> foldersModel)
    {
        if (s.ParentId != null)
        {
            var items = foldersListItems.FirstOrDefault(f => f.FileProfileTypeId == s.ParentId);
            GetAllFileProfileTypeName(foldersListItems, items, foldersModel);
            foldersModel.Add(items);
        }
        return foldersModel;
    }
    void OnTabClick(TabClickEventArgs e)
    {
        isSaveEnabled = false;
        if (e.TabIndex == 0)
        {
            isSaveEnabled = true;
        }
        else
        {
            isSaveEnabled = false;
        }
        StateHasChanged();
    }
    void backUrl()
    {
        NavigationManager.NavigateTo("fileprofiletype/" + SessionId);
    }
    async Task onsubmitClick()
    {
        await refAddOrEditFileProfileType.onsubmitClick();
    }
    public void openFileProfileLink(DocumentsModel documentsModel)
    {
        NavigationManager.NavigateTo("fileprofiletype/" + documentsModel.SessionID);
    }
    public void openFileProfileMainLink()
    {
        NavigationManager.NavigateTo("fileprofiletype");
    }
}
