@using Application.Queries;
@using MediatR;
@inject IMediator Mediator
@using global::Core.Entities;
@using global::Core.Entities.Views;
@using global::Core.EntityModels;
@using Microsoft.Extensions.Configuration;
@using global::Core.Repositories.Query;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject NavigationManager NavigationManager
@implements IDisposable
<div class="" style="margin-top: 10px;margin-left: 11px;">
    <div class="row align-items-start" style="overflow: auto; border: 1px solid #d5d4d4;padding:10px;">
        <div class="cw-480" style="margin-top:10px;">
            <EditForm EditContext="this._editContext" Context="EditFormContext" OnValidSubmit="HandleValidSubmit">
                <DxFormLayout CssClass="w-100">
                    <DataAnnotationsValidator />
                    <DxFormLayoutItem Caption="Profile" ColSpanMd="6">
                        <DxComboBox Data="@_documentProfileNoList"
                                    NullText="Select Profile..."
                                    ListRenderMode="ListRenderMode.Virtual"
                                    FilteringMode="DataGridFilteringMode.Contains"
                                    TextFieldName="Name"
                                    ValueFieldName="ProfileID"
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                        @bind-Value="@Data.ProfileId" ShowValidationIcon="true">
                            <Columns>
                                <DxListEditorColumn FieldName="@nameof(DocumentProfileNoSeriesModel.Name)"
                                                    Caption="Name"
                                                    Width="180px" />
                                <DxListEditorColumn FieldName="@nameof(DocumentProfileNoSeriesModel.Description)"
                                                    Caption="Description" />
                                <DxListEditorColumn FieldName="@nameof(DocumentProfileNoSeriesModel.Abbreviation)"
                                                    Caption="Abbreviation" />
                            </Columns>
                        </DxComboBox>
                        <ValidationMessage For="@(() => Data.ProfileId)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Name" ColSpanMd="6">
                        <DxTextBox @bind-Text="@Data.Name" ShowValidationIcon="true" />
                        <ValidationMessage For="@(() => Data.Name)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Enable Expiry Date" ColSpanMd="6">
                        <DxCheckBox @bind-Checked="@Data.IsExpiryDate" />
                    </DxFormLayoutItem>
                     <DxFormLayoutItem Caption="Upload Duplicate Document" ColSpanMd="6">
                    <DxCheckBox @bind-Checked="@Data.IsDuplicateUpload" />
                    </DxFormLayoutItem>
                    @*  <DxFormLayoutItem Caption="Enable Create Task" ColSpanMd="6">
                    <DxCheckBox @bind-Checked="@Data.IsEnableCreateTask" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Create By Year" ColSpanMd="6">
                    <DxCheckBox @bind-Checked="@Data.IsCreateByYear" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Create By Month" ColSpanMd="6">
                    <DxCheckBox @bind-Checked="@Data.IsCreateByMonth" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Allow Mobile Upload" ColSpanMd="6">
                    <DxCheckBox @bind-Checked="@Data.IsAllowMobileUpload" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Is Hidden" ColSpanMd="6">
                    <DxCheckBox @bind-Checked="@Data.IsHidden" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Hints" ColSpanMd="6">
                    <DxTextBox @bind-Text="@Data.Hints" ShowValidationIcon="true" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Profile Info" ColSpanMd="6">
                    <DxTextBox @bind-Text="@Data.ProfileInfo" ShowValidationIcon="true" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Is Template Case No" ColSpanMd="6">
                    <DxCheckBox @bind-Checked="@Data.IsTemplateCaseNo" />
                    </DxFormLayoutItem>*@
                    <DxFormLayoutItem Caption="Archive Duration Type" ColSpanMd="6">
                        <DxComboBox Data="@_shelfLifeDurationItems"
                                    NullText="Select Archive Duration Type..."
                                    ListRenderMode="ListRenderMode.Virtual"
                                    FilteringMode="DataGridFilteringMode.Contains"
                                    TextFieldName="CodeValue"
                                    ValueFieldName="CodeId"
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                        @bind-Value="@Data.ShelfLifeDurationId" ShowValidationIcon="true">
                        </DxComboBox>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Archive Duration" ColSpanMd="6">
                        <DxSpinEdit @bind-Value="@Data.ShelfLifeDuration" ShowSpinButtons="false" MinValue="1" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Dynamic Form" ColSpanMd="6" >
                        <DxComboBox Data="@_dynamicForm"
                                    NullText="Select Dynamic Form..."
                                    ListRenderMode="ListRenderMode.Virtual"
                                    FilteringMode="DataGridFilteringMode.Contains"
                                    TextFieldName="Name"
                                    ValueFieldName="ID"
                                    Enabled="isDynamicForm"
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                        @bind-Value="@Data.DynamicFormId" ShowValidationIcon="true">
                            <Columns>
                                <DxListEditorColumn FieldName="@nameof(DynamicForm.Name)"
                                                    Caption="Name"
                                                    Width="180px" />
                                <DxListEditorColumn FieldName="@nameof(DynamicForm.ScreenID)"
                                                    Caption="Screen Name" />
                                <DxListEditorColumn FieldName="@nameof(DynamicForm.ModifiedBy)"
                                                    Caption="Modified By" />
                                <DxListEditorColumn FieldName="@nameof(DynamicForm.ModifiedDate)"
                                                    Caption="Modified Date" />
                            </Columns>
                        </DxComboBox>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Description" ColSpanMd="12">
                        <DxMemo @bind-Text="@Data.Description" Rows="5" ShowValidationIcon="true" />
                    </DxFormLayoutItem>

                </DxFormLayout>
            </EditForm>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public Guid? SessionId { get; set; }
    [Parameter]
    public string Type { get; set; }
    EditContext _editContext;
    public ApplicationUser _applicationUser { get; private set; }
    private bool loading;
    private List<DynamicForm> _dynamicForm;
    private string MyID = "myid";
    public FileProfileTypeModel _fileProfileTypeData { get; private set; }
    FileProfileTypeModel Data = new FileProfileTypeModel();
    public List<CodeMaster> _shelfLifeDurationItems { get; set; }
    public List<DocumentProfileNoSeriesModel> _documentProfileNoList { get; set; }
    public long? FileProfileTypeId { get; set; }
    bool isDynamicForm { get; set; } = true;
    protected override async Task OnInitializedAsync()
    {
        isDynamicForm = true;
        _editContext = new EditContext(Data);
        _applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _documentProfileNoList = await Mediator.Send(new GetDocumentProfiles());
        _shelfLifeDurationItems = await Mediator.Send(new GetAllCodeMasterQuery("RecurrenceType"));
        _dynamicForm = await Mediator.Send(new GetAllDynamicForm());
        _fileProfileTypeData = await Mediator.Send(new GetFileProfileTypeBySession(SessionId));
        if (Type == "Add")
        {
            if (_fileProfileTypeData != null)
            {
                Data.ParentId = _fileProfileTypeData.FileProfileTypeId;
            }
        }
        else
        {
            if (_fileProfileTypeData != null)
            {
                Data.FileProfileTypeId = _fileProfileTypeData.FileProfileTypeId;
                Data.Name = _fileProfileTypeData.Name;
                Data.ProfileId = _fileProfileTypeData.ProfileId;
                Data.ParentId = _fileProfileTypeData.ParentId;
                Data.StatusCodeID = _fileProfileTypeData.StatusCodeID == null ? 1 : _fileProfileTypeData.StatusCodeID;
                Data.AddedDate = _fileProfileTypeData.AddedDate;
                Data.AddedByUserID = _fileProfileTypeData.AddedByUserID;
                Data.ModifiedDate = _fileProfileTypeData.ModifiedDate;
                Data.ModifiedByUserID = _fileProfileTypeData.ModifiedByUserID;
                Data.Description = _fileProfileTypeData.Description;
                Data.IsExpiryDate = _fileProfileTypeData.IsExpiryDate;
                Data.IsAllowMobileUpload = _fileProfileTypeData.IsAllowMobileUpload;
                Data.IsDocumentAccess = _fileProfileTypeData.IsDocumentAccess;
                Data.ShelfLifeDuration = _fileProfileTypeData.ShelfLifeDuration;
                Data.ShelfLifeDurationId = _fileProfileTypeData.ShelfLifeDurationId;
                Data.Hints = _fileProfileTypeData.Hints;
                Data.IsEnableCreateTask = _fileProfileTypeData.IsEnableCreateTask;
                Data.IsCreateByYear = _fileProfileTypeData.IsCreateByYear;
                Data.IsCreateByMonth = _fileProfileTypeData.IsCreateByMonth;
                Data.IsHidden = _fileProfileTypeData.IsHidden;
                Data.ProfileInfo = _fileProfileTypeData.ProfileInfo;
                Data.IsTemplateCaseNo = _fileProfileTypeData.IsTemplateCaseNo;
                Data.TemplateTestCaseId = _fileProfileTypeData.TemplateTestCaseId;
                Data.SessionId = _fileProfileTypeData.SessionId;
                Data.DynamicFormId = _fileProfileTypeData.DynamicFormId;
                Data.IsDuplicateUpload = _fileProfileTypeData.IsDuplicateUpload;
                if(_fileProfileTypeData.DynamicFormId>0 && _fileProfileTypeData.IsdynamicFormExits>0)
                {
                    isDynamicForm = false;
                }
            }
        }
        StateHasChanged();
    }
    public async Task onsubmitClick()
    {
        if (_editContext.Validate())
        {
            await this.HandleValidSubmit();
        }
    }
    public async Task HandleValidSubmit()
    {
        loading = true;
        Data.AddedByUserID = Data.FileProfileTypeId > 0 ? Data.AddedByUserID : _applicationUser.UserID;
        Data.AddedDate = Data.FileProfileTypeId > 0 ? Data.AddedDate : DateTime.Now;
        Data.ModifiedByUserID = _applicationUser.UserID;
        Data.ModifiedDate = DateTime.Now;
        var fileProfileTypeId = Data.FileProfileTypeId;
        var response = await Mediator.Send(new InsertOrUpdateFileProfileType(Data));
        if (fileProfileTypeId > 0)
        {
            if (response.FileProfileTypeId > 0)
            {
                toastService.ShowToast("Record updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
                loading = false;
                Data.FileProfileTypeId = response.FileProfileTypeId;
                Data.SessionId = response.SessionId;
                SessionId = response.SessionId;
                NavigationManager.NavigateTo("fileprofiletype/AddFileProfileTypes/Edit/" + SessionId);
                StateHasChanged();
            }
        }
        else
        {
            if (response.FileProfileTypeId > 0)
            {
                toastService.ShowToast("Record added Successfully", AC.SD.Core.Services.ToastLevel.Success);
                loading = false;
                Data.FileProfileTypeId = response.FileProfileTypeId;
                Data.SessionId = response.SessionId;
                SessionId = response.SessionId;
                NavigationManager.NavigateTo("fileprofiletype/AddFileProfileTypes/Edit/" + SessionId);
                StateHasChanged();
            }
        }
    }
    public void Dispose()
    {
        System.GC.Collect();
        GC.SuppressFinalize(this);
    }
}
