@using Application.Queries;
@using MediatR;
@using global::Core.Entities;
@using global::Core.EntityModels;
@using global::Core.Entities.Views;
@using global::Core.Repositories.Query;
@inject IMediator Mediator
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject IJSRuntime jsRuntime
@inject AC.SD.Core.Services.ToastService toastService
@inject NavigationManager Navigator
@implements IAsyncDisposable
<div class="card w-100" style="margin-bottom:10px; margin-top:10px">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Back" IconCssClass="fa fa-reply" Click="@onBack" />
                <DxMenuItem Text="Save" IconCssClass="fa fa-save" Click="@savePermission" />
            </Items>
        </DxMenu>
    </div>
</div>
<DxFormLayout CssClass="w-100">
    <DxFormLayoutGroup Caption="Folder Permission" ColSpanMd="12">
        <DxFormLayoutItem Caption="Create Folder" ColSpanMd="6">
            <DxCheckBox @bind-Checked="@documentPermission.IsCreateFolder" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Edit Folder" ColSpanMd="6">
            <DxCheckBox @bind-Checked="@documentPermission.IsEditFolder" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Delete Folder" ColSpanMd="6">
            <DxCheckBox @bind-Checked="@documentPermission.IsDeleteFolder" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Grand Security Permission" ColSpanMd="6">
            <DxCheckBox @bind-Checked="@documentPermission.IsGrantAdminPermission" />
        </DxFormLayoutItem>
    </DxFormLayoutGroup>
    <DxFormLayoutGroup Caption="Document Permission" ColSpanMd="12">


        <DxFormLayoutItem Caption="Create Document" ColSpanMd="6">
            <DxCheckBox @bind-Checked="@documentPermission.IsCreateDocument" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Reserve Profile Number Series" ColSpanMd="6">
            <DxCheckBox @bind-Checked="@documentPermission.IsReserveProfileNumber" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Read" ColSpanMd="6">
            <DxCheckBox @bind-Checked="@documentPermission.IsRead" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Download" ColSpanMd="6">
            <DxCheckBox @bind-Checked="@documentPermission.IsEdit" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Rename" ColSpanMd="6">
            <DxCheckBox @bind-Checked="@documentPermission.IsRename" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Check Out" ColSpanMd="6">
            <DxCheckBox @bind-Checked="@documentPermission.IsUpdateDocument" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Copy Link" ColSpanMd="6">
            <DxCheckBox @bind-Checked="@documentPermission.IsCopy" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Share" ColSpanMd="6">
            <DxCheckBox @bind-Checked="@documentPermission.IsShare" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Move" ColSpanMd="6">
            <DxCheckBox @bind-Checked="@documentPermission.IsMove" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Delete" ColSpanMd="6">
            <DxCheckBox @bind-Checked="@documentPermission.IsDelete" />
        </DxFormLayoutItem>
        @*  <DxFormLayoutItem Caption="Email" ColSpanMd="6">
        <DxCheckBox @bind-Checked="@documentPermission.IsSendEmail" />
        </DxFormLayoutItem> *@
        <DxFormLayoutItem Caption="History" ColSpanMd="6">
            <DxCheckBox @bind-Checked="@documentPermission.IsListVersion" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Enable Info" ColSpanMd="6">
            <DxCheckBox @bind-Checked="@documentPermission.IsEnableProfileTypeInfo" />
        </DxFormLayoutItem>
        @*  <DxFormLayoutItem Caption="Invitation" ColSpanMd="6">
        <DxCheckBox @bind-Checked="@documentPermission.IsInvitation" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Document Notes" ColSpanMd="6">
        <DxCheckBox @bind-Checked="@documentPermission.IsDiscussion" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Enable Document Status" ColSpanMd="6">
        <DxCheckBox @bind-Checked="@documentPermission.IsDocumentAccess" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Enable Create Task" ColSpanMd="6">
        <DxCheckBox @bind-Checked="@documentPermission.IsCreateTask" />
        </DxFormLayoutItem> *@
    </DxFormLayoutGroup>
</DxFormLayout>
@code {
    [Parameter]
    public long? DocumentRoleId { get; set; }
    [Parameter]
    public ApplicationUser applicationUser { get; set; }
    DocumentPermission documentPermission = new DocumentPermission();
    [Parameter]
    public Action RevokeBack { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await loadDataList();
    }
    async Task loadDataList()
    {
        documentPermission = new DocumentPermission();
        if (DocumentRoleId > 0)
        {
            var permissions = await Mediator.Send(new GetDocumentPermissionData(DocumentRoleId));
            documentPermission.DocumentRoleId = DocumentRoleId;
            if (permissions != null)
            {
                documentPermission = permissions;
            }
        }
    }
    public async Task savePermission()
    {
        if (DocumentRoleId > 0)
        {
            documentPermission.StatusCodeId = documentPermission.StatusCodeId == null ? 1 : documentPermission.StatusCodeId;
            documentPermission.AddedByUserId = documentPermission.AddedByUserId == null ? applicationUser.UserID : documentPermission.AddedByUserId;
            documentPermission.ModifiedByUserId = documentPermission.ModifiedByUserId == null ? applicationUser.UserID : documentPermission.ModifiedByUserId;
            documentPermission.AddedDate = documentPermission.AddedDate == null ? DateTime.Now : documentPermission.AddedDate;
            documentPermission.ModifiedDate = documentPermission.ModifiedDate == null ? DateTime.Now : documentPermission.ModifiedDate;
            var request = new InsertOrUpdateDocumentPermission(documentPermission);
            var response = await Mediator.Send(request);
            if (response.DocumentPermissionId > 0)
            {
                await loadDataList();
                toastService.ShowToast("Record Added Successfully", AC.SD.Core.Services.ToastLevel.Success);
            }
        }
    }
    void onBack()
    {
        ClearData();
        RevokeBack?.Invoke();
    }
    public void ClearData()
    {
        documentPermission = new DocumentPermission();
        StateHasChanged();
    }
    public async ValueTask DisposeAsync()
    {
        //ystem.GC.Collect();
        ClearData();
        //GC.SuppressFinalize(this);
    }
}
