@using global::Core.EntityModels;
@using global::Core.Entities;
@using MediatR;
@inject IMediator Mediator
@using Application.Queries;
@inject AC.SD.Core.Services.ToastService toastService
@implements IDisposable

<div class="card w-100" style="margin-bottom:10px; margin-top:10px">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Update Role" IconCssClass="fa fa-pencil" Click="@onUpdateClick" Id=@($"flyout-overview-target-container-FilterDocuments-{TypeRole}") Enabled="@updateEnabled" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
            </Items>
        </DxMenu>
    </div>
</div>
<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">

    <DxGrid @ref="SMGrid" FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            Data="_documentUserRoleLists"
            ShowGroupPanel="true" ShowGroupedColumns="true"
            KeyFieldName="DocumentUserRoleID"
            ShowSearchBox="true"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            SelectionMode="GridSelectionMode.Multiple"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            AutoExpandAllGroupRows="true"
            CssClass="ch-360"
            style="height: calc(100vh - 420px);"
            FocusedRowEnabled="true"
            RowClick="OnRowClick"
            SelectedDataItemsChanged="@SelectedDataItemsChanged"
            AllowSelectRowByClick="true">
        <Columns>
            <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
            <DxGridDataColumn FieldName="DocumentUserRoleID" Visible="false" />
            <DxGridDataColumn FieldName="FullName" Caption="Name" MinWidth="170" />
            <DxGridDataColumn FieldName="DocumentRoleName" Caption="Role" MinWidth="170" />
            <DxGridDataColumn FieldName="DepartmentName" Caption="Department" MinWidth="170" />
            <DxGridDataColumn FieldName="DesignationName" Caption="Designation" MinWidth="170" />
            <DxGridCommandColumn Width="160px" Visible="false" />
        </Columns>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="DocumentRoleName" />
        </TotalSummary>
    </DxGrid>
</DxLoadingPanel>
<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="CRT"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @ref="popup" HeaderText="Delete User Role" ShowCloseButton="true" @bind-Visible="@PopupVisible">


    <div class="text-center">
        <p>@DeleteerrorMessage</p>

        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>


</DxPopup>
<DxFlyout @bind-IsOpen=IsFilterOpen
          PositionTarget=@($"#flyout-overview-target-container-FilterDocuments-{TypeRole}")
          RestrictionTarget="#Navigation-Flyout-Customization"
          AnimationType="FlyoutAnimationType.Fade"
          HeaderVisible="true"
          HeaderText="Update Role"
          FooterVisible="true"
          FooterCssClass="custom-flyout-footer"
          CloseOnOutsideClick="false"
          MinWidth="500" MinHeight="200" MaxWidth="1000px" MaxHeight="800"
          PreventCloseOnPositionTargetClick="true">
    <BodyContentTemplate Context="PopupContext">
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="User Role" ColSpanMd="6">
                <DxComboBox Data="@_documentRoleList"
                            NullText="Select User Role..."
                            ListRenderMode="ListRenderMode.Virtual"
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="DocumentRoleName"
                            ValueFieldName="DocumentRoleId"
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                @bind-Value="@documentUserRoleModel.RoleID" ShowValidationIcon="true">
                </DxComboBox>
            </DxFormLayoutItem>
        </DxFormLayout>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Success" Text="Update" Click=@(()=> OnUpdateRoleDocuments()) />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click=@(()=> IsFilterOpen=false) />

    </FooterContentTemplate>
</DxFlyout>
@code {
    bool IsFilterOpen { get; set; } = false;
    IGrid? SMGrid { get; set; }
    bool DeleteEnabled { get; set; } = false;
    bool updateEnabled { get; set; } = false;
    [Parameter]
    public long? FileProfileTypeId { get; set; }
    [Parameter]
    public string? TypeRole { get; set; }
    public List<DocumentUserRoleModel> _documentUserRoleLists { get; set; }
    IReadOnlyList<object> SelectedDataItems { get; set; }
    bool PanelVisible { get; set; }
    bool Blukdeletepopup { get; set; } = false;
    string? DeleteerrorMessage;

    bool PopupVisible { get; set; } = false;
    private DocumentUserRoleModel _selectedItems;
    DocumentUserRoleModel documentUserRoleModel = new DocumentUserRoleModel();
    DxPopup? popup;
    public List<DocumentRole> _documentRoleList { get; set; }
    protected override async Task OnInitializedAsync()
    {
        _documentRoleList = await Mediator.Send(new GetDocumentRoles());
        await loadData(FileProfileTypeId);
    }
    public async Task loadData(long? fileProfileTypeId)
    {
        DeleteEnabled = false; updateEnabled = false;
        _documentUserRoleLists = new List<DocumentUserRoleModel>();
        if (fileProfileTypeId > 0)
        {
            _documentUserRoleLists = await Mediator.Send(new GetDocumentUserRoleList(fileProfileTypeId));
            if (_documentUserRoleLists.Count > 0)
            {
                _selectedItems = _documentUserRoleLists.FirstOrDefault();
                DeleteEnabled = true; updateEnabled = true;
            }
        }
        StateHasChanged();
    }
    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems;
        if (SelectedDataItems.Count > 1)
        {
            updateEnabled = false;

        }
        else
        {
            if (SelectedDataItems.Count == 1)
            {

                foreach (object item in SelectedDataItems)
                {
                    if (item is DocumentUserRoleModel dataselectItems)
                    {
                        _selectedItems = (DocumentUserRoleModel)item;
                    }
                }
            }
            updateEnabled = true;

        }
    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    async void ClosePopup()
    {
        PopupVisible = false;
        await loadData(FileProfileTypeId);
    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "DocumentUserRoleID");
        _selectedItems = _documentUserRoleLists.FirstOrDefault(f => f.DocumentUserRoleID == (long?)UniqueId);
        StateHasChanged();
    }
    void onUpdateClick()
    {
        IsFilterOpen = true;
        documentUserRoleModel = new DocumentUserRoleModel();
        documentUserRoleModel.RoleID = _selectedItems.RoleID;
        documentUserRoleModel.DocumentUserRoleID = _selectedItems.DocumentUserRoleID;
    }
    async Task OnUpdateRoleDocuments()
    {
        if (documentUserRoleModel.RoleID > 0)
        {
            await Mediator.Send(new UpdateDocumentUserRole(documentUserRoleModel));
            await loadData(FileProfileTypeId);
            toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            IsFilterOpen = false;
        }
    }
    async Task bulkDelete()
    {
        try
        {

            if (SelectedDataItems != null)
            {
                foreach (object item in SelectedDataItems)
                {

                    if (item is DocumentUserRoleModel dataItem)
                    {
                        var request = new DeleteDocumentUserRole(dataItem);
                        await Mediator.Send(request);
                        Blukdeletepopup = false;
                        toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        await loadData(FileProfileTypeId);
                        SMGrid.SetFocusedRowIndex(0);
                    }

                }
            }
        }
        catch (Exception eq)
        {
            //DeleteerrorMessage = eq.Message;
            //PopupVisible = true;
            Blukdeletepopup = false;
            toastService.ShowToast("The Selected Record Do not deleted", AC.SD.Core.Services.ToastLevel.Error);
        }
    }
    public void Dispose()
    {
        System.GC.Collect();
        GC.SuppressFinalize(this);
    }
}
