@using Application.Queries;
@using MediatR;
@inject IMediator Mediator
@using global::Core.Entities;
@using global::Core.Entities.Views;
@using global::Core.EntityModels;
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration
@using global::Core.Repositories.Query;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@implements IDisposable
@using System.Collections
<div style="width:100%;">
    <DxTabs RenderMode="TabsRenderMode.OnDemand" @bind-ActiveTabIndex="@ActiveTabSecIndex" TabsPosition="TabsPosition.Top" TabClick="OnTabClick">
        <DxTabPage Text="User" TabIconCssClass="tabs-icon-home tabs-icon">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <EditForm EditContext="this._editContext" id="User1"
                                  OnValidSubmit="@HandleValidSubmit"
                                  OnInvalidSubmit="@HandleInvalidSubmit"
                                  Context="EditFormContext">
                            <DataAnnotationsValidator />
                            <DxFormLayout>
                                <DxFormLayoutItem Caption="User Role" ColSpanMd="4">
                                    <DxComboBox Data="@_documentRoleList"
                                                NullText="Select User Role..."
                                                FilteringMode="DataGridFilteringMode.Contains"
                                                TextFieldName="DocumentRoleName"
                                                ValueFieldName="DocumentRoleId"
                                    @bind-Value="@Data.RoleID"
                                                SelectedItemChanged="@((DocumentRole depSelect) => SelectedItemRoleChanged(depSelect))"
                                                ShowValidationIcon="true">
                                        <Buttons>
                                            <DxEditorButton IconCssClass="fa fa-eye" Id=@($"flyout-overview-target-container-User")
                                                            Tooltip="Role Permission"
                                                            Click="@(_ => OnButtonClick())" />
                                        </Buttons>
                                    </DxComboBox>
                                    <ValidationMessage For="@(() => Data.RoleID)" />
                                </DxFormLayoutItem>
                                <DxFormLayoutItem Caption="Users" ColSpanMd="7">
                                    <DxTagBox Data="_usersList"
                                    @bind-Values="Data.SelectUserIDs"
                                              NullText="Select To..."
                                              ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                              ValueFieldName="UserID"
                                              TextFieldName="FirstName"
                                              FilteringMode="DataGridFilteringMode.Contains"
                                              EditFormat="{0}-{1}-{3}"
                                              SelectedItemsChanged="@((IEnumerable<ViewEmployee> values) => onSelectedUserItemsChanged(values))"
                                              ListRenderMode="ListRenderMode.Virtual">
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.FirstName)" Caption="FirstName" />
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.LastName)" Caption="Last Name" />
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.NickName)" Caption="Nick Name" />
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.DesignationName)" Caption="Designation" />
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.CompanyName)" Caption="Company" Width="100px" />
                                    </DxTagBox>
                                </DxFormLayoutItem>

                            </DxFormLayout>
                        </EditForm>

                    </div>
                </div>
            </div>

        </DxTabPage>
        <DxTabPage Text="User Group" TabIconCssClass="tabs-icon-products tabs-icon">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <EditForm EditContext="this._editContext" id="User2"
                                  OnValidSubmit="@HandleValidSubmit"
                                  OnInvalidSubmit="@HandleInvalidSubmit"
                                  Context="EditFormContext">
                            <DataAnnotationsValidator />
                            <DxFormLayout>
                                <DxFormLayoutItem Caption="User Role" ColSpanMd="4">
                                    <DxComboBox Data="@_documentRoleList"
                                                NullText="Select User Role..."
                                                FilteringMode="DataGridFilteringMode.Contains"
                                                TextFieldName="DocumentRoleName"
                                                ValueFieldName="DocumentRoleId"
                                    @bind-Value="@Data.UserGroupRoleID"
                                                SelectedItemChanged="@((DocumentRole depSelect) => SelectedItemRoleChanged(depSelect))"
                                                ShowValidationIcon="true">
                                        <Buttons>
                                            <DxEditorButton IconCssClass="fa fa-eye" Id=@($"flyout-overview-target-container-UserGroup")
                                                            Tooltip="Role Permission"
                                                            Click="@(_ => OnUserGroupButtonClick())"></DxEditorButton>
                                        </Buttons>
                                    </DxComboBox>
                                    <ValidationMessage For="@(() => Data.UserGroupRoleID)" />
                                </DxFormLayoutItem>
                                <DxFormLayoutItem Caption="User Group" ColSpanMd="7">
                                    <DxTagBox Data="_userGroupsList"
                                    @bind-Values="Data.SelectUserGroupIDs"
                                              NullText="Select To..."
                                              ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                              ValueFieldName="UserGroupId"
                                              TextFieldName="Name"
                                              SelectedItemsChanged="@((IEnumerable<UserGroup> values) => onSelectedUserGroupItemsChanged(values))"
                                              ListRenderMode="ListRenderMode.Virtual">
                                        <DxListEditorColumn FieldName="@nameof(UserGroup.Name)" Caption="Name" />
                                        <DxListEditorColumn FieldName="@nameof(UserGroup.Description)" Caption="Description" />
                                    </DxTagBox>
                                </DxFormLayoutItem>
                                @*  <DxFormLayoutItem Caption="Sunward Libraries" ColSpanMd="10">
                                <DxTextBox NullText="Select Sunward Libraries..." @bind-Text="@LinkFilterFileprofiletypeName" CssClass="cw-480">
                                <Buttons>
                                <DxEditorButton IconCssClass="fa fa-add" Id=@($"flyout-overview-target-container-IsFilterFileProfileTypeDocumentOpen-UserGroup")
                                Tooltip="Select File ProfileType"
                                Click="@(_ => OnButtonFileProfileTypeLinDocClick())"></DxEditorButton>
                                <DxEditorButton IconCssClass="fa fa-remove"
                                Tooltip="Clear"
                                Click="@(_ => OnButtonFileProfileTypeLinDocClearClick())"></DxEditorButton>
                                </Buttons>
                                </DxTextBox>
                                </DxFormLayoutItem>
                                <DxFormLayoutItem ColSpanMd="2">
                                <DxButton SubmitFormOnClick="true"
                                Text="Save"
                                style="margin-bottom: 20px;"
                                RenderStyle="ButtonRenderStyle.Primary" />
                                </DxFormLayoutItem> *@
                            </DxFormLayout>
                        </EditForm>
                    </div>

                </div>
            </div>
        </DxTabPage>
        <DxTabPage Text="Level" TabIconCssClass="tabs-icon-support tabs-icon">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">

                        <EditForm EditContext="this._editContext" id="User3"
                                  OnValidSubmit="@HandleValidSubmit"
                                  OnInvalidSubmit="@HandleInvalidSubmit"
                                  Context="EditFormContext">
                            <DataAnnotationsValidator />
                            <DxFormLayout>
                                <DxFormLayoutItem Caption="User Role" ColSpanMd="4">
                                    <DxComboBox Data="@_documentRoleList"
                                                NullText="Select User Role..."
                                                FilteringMode="DataGridFilteringMode.Contains"
                                                TextFieldName="DocumentRoleName"
                                                ValueFieldName="DocumentRoleId"
                                    @bind-Value="@Data.LevelRoleID"
                                                SelectedItemChanged="@((DocumentRole depSelect) => SelectedItemRoleChanged(depSelect))"
                                                ShowValidationIcon="true">
                                        <Buttons>
                                            <DxEditorButton IconCssClass="fa fa-eye" Id=@($"flyout-overview-target-container-Level")
                                                            Tooltip="Role Permission"
                                                            Click="@(_ => OnLevelButtonClick())" />
                                        </Buttons>
                                    </DxComboBox>
                                    <ValidationMessage For="@(() => Data.LevelRoleID)" />
                                </DxFormLayoutItem>
                                <DxFormLayoutItem Caption="Level Master" ColSpanMd="6">
                                    <DxTagBox Data="_levelMasterLists"
                                    @bind-Values="Data.SelectLevelMasterIDs"
                                              NullText="Select To..."
                                              ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                              ValueFieldName="LevelID"
                                              TextFieldName="Name"
                                              SelectedItemsChanged="@((IEnumerable<ViewLevel> values) => onSelectedLevelItemsChanged(values))"
                                              ListRenderMode="ListRenderMode.Virtual">
                                        <DxListEditorColumn FieldName="@nameof(ViewLevel.Name)" Caption="Name" />
                                        <DxListEditorColumn FieldName="@nameof(ViewLevel.DivisionName)" Caption="Division Name" />
                                    </DxTagBox>
                                </DxFormLayoutItem>
                                @* <DxFormLayoutItem Caption="Sunward Libraries" ColSpanMd="10">
                                <DxTextBox NullText="Select Sunward Libraries..." @bind-Text="@LinkFilterFileprofiletypeName" CssClass="cw-480">
                                <Buttons>
                                <DxEditorButton IconCssClass="fa fa-add" Id=@($"flyout-overview-target-container-IsFilterFileProfileTypeDocumentOpen-Level")
                                Tooltip="Select File ProfileType"
                                Click="@(_ => OnButtonFileProfileTypeLinDocClick())"></DxEditorButton>
                                <DxEditorButton IconCssClass="fa fa-remove"
                                Tooltip="Clear"
                                Click="@(_ => OnButtonFileProfileTypeLinDocClearClick())"></DxEditorButton>
                                </Buttons>
                                </DxTextBox>
                                </DxFormLayoutItem>
                                <DxFormLayoutItem ColSpanMd="2">
                                <DxButton SubmitFormOnClick="true"
                                Text="Save"
                                style="margin-bottom: 20px;"
                                RenderStyle="ButtonRenderStyle.Primary" />
                                </DxFormLayoutItem> *@
                            </DxFormLayout>

                        </EditForm>

                    </div>

                </div>
            </div>
        </DxTabPage>
    </DxTabs>
    <DxFormLayout>
        <DxFormLayoutItem Caption="Sunward Libraries" ColSpanMd="6">
            <DxTextBox NullText="Select Sunward Libraries..." @bind-Text="@LinkFilterFileprofiletypeName" CssClass="cw-480">
                <Buttons>
                    <DxEditorButton IconCssClass="fa fa-add" Id=@($"flyout-overview-target-container-IsFilterFileProfileTypeDocumentOpen-User")
                                    Tooltip="Select Sunward Libraries"
                                    Click="@(_ => OnButtonFileProfileTypeLinDocClick())"></DxEditorButton>
                    <DxEditorButton IconCssClass="fa fa-remove"
                                    Tooltip="Clear"
                                    Click="@(_ => OnButtonFileProfileTypeLinDocClearClick())"></DxEditorButton>
                </Buttons>
            </DxTextBox>
        </DxFormLayoutItem>
        <DxFormLayoutItem ColSpanMd="2">
            <DxButton Click="@SubmitFormExternally" Enabled="saveEnabled"
                      Text="Save"
                      style="margin-bottom: 20px;"
                      RenderStyle="ButtonRenderStyle.Primary" />
        </DxFormLayoutItem>
    </DxFormLayout>
    <div class="col-md-12">
        <DocumentUserRoleLists @ref="refDocumentUserRoleListsUser" TypeRole="Users" FileProfileTypeId="@FileProfileTypeId"></DocumentUserRoleLists>
    </div>
</div>
<DxFlyout @bind-IsOpen=IsOpen
          PositionTarget=@($"#flyout-overview-target-container-User")
          RestrictionTarget="#Navigation-Flyout-Customization"
          AnimationType="FlyoutAnimationType.Fade"
          PreventCloseOnPositionTargetClick="true"
          FooterVisible="true"
          CloseOnOutsideClick=true
          FooterCssClass="custom-flyout-footer"
          MinWidth="600" MinHeight="200" MaxWidth="1000px" MaxHeight="800"
          Position=@(FlyoutPosition.BottomStart | FlyoutPosition.TopStart)>
    <BodyContentTemplate Context="PopupContext">
        <div class="custom-flyout-body" style="width:100%">
            <DocumentPermissionDataView documentPermissionData="@documentPermissionData"></DocumentPermissionDataView>
        </div>
    </BodyContentTemplate>
    <FooterContentTemplate>
        <div class="w-100">
            <div class="custom-flyout-footer">
                <DxButton CssClass="popup-button" RenderStyle="ButtonRenderStyle.Primary" Text="Close" Click=@(()=> IsOpen = false) />
            </div>
        </div>
    </FooterContentTemplate>
</DxFlyout>
<DxFlyout @bind-IsOpen=IsOpenUserGroup
          PositionTarget=@($"#flyout-overview-target-container-UserGroup")
          RestrictionTarget="#Navigation-Flyout-Customization"
          AnimationType="FlyoutAnimationType.Fade"
          PreventCloseOnPositionTargetClick="true"
          FooterVisible="true"
          CloseOnOutsideClick=true
          FooterCssClass="custom-flyout-footer"
          MinWidth="600" MinHeight="200" MaxWidth="1000px" MaxHeight="800"
          Position=@(FlyoutPosition.BottomStart | FlyoutPosition.TopStart)>
    <BodyContentTemplate Context="PopupContext">
        <div class="custom-flyout-body" style="width:100%">
            <DocumentPermissionDataView documentPermissionData="@documentPermissionData"></DocumentPermissionDataView>
        </div>
    </BodyContentTemplate>
    <FooterContentTemplate>
        <div class="w-100">
            <div class="custom-flyout-footer">
                <DxButton CssClass="popup-button" RenderStyle="ButtonRenderStyle.Primary" Text="Close" Click=@(()=> IsOpenUserGroup = false) />
            </div>
        </div>
    </FooterContentTemplate>
</DxFlyout>
<DxFlyout @bind-IsOpen=IsOpenLevel
          PositionTarget=@($"#flyout-overview-target-container-Level")
          RestrictionTarget="#Navigation-Flyout-Customization"
          AnimationType="FlyoutAnimationType.Fade"
          PreventCloseOnPositionTargetClick="true"
          FooterVisible="true"
          CloseOnOutsideClick=true
          FooterCssClass="custom-flyout-footer"
          MinWidth="600" MinHeight="200" MaxWidth="1000px" MaxHeight="800"
          Position=@(FlyoutPosition.BottomStart | FlyoutPosition.TopStart)>
    <BodyContentTemplate Context="PopupContext">
        <div class="custom-flyout-body" style="width:100%">
            <DocumentPermissionDataView documentPermissionData="@documentPermissionData"></DocumentPermissionDataView>
        </div>
    </BodyContentTemplate>
    <FooterContentTemplate>
        <div class="w-100">
            <div class="custom-flyout-footer">
                <DxButton CssClass="popup-button" RenderStyle="ButtonRenderStyle.Primary" Text="Close" Click=@(()=> IsOpenLevel = false) />
            </div>
        </div>
    </FooterContentTemplate>
</DxFlyout>
<DxFlyout @bind-IsOpen=IsFileProfileTypeFilterDocOpen
          PositionTarget=@($"#flyout-overview-target-container-IsFilterFileProfileTypeDocumentOpen-User")
          RestrictionTarget="#Navigation-Flyout-Customization"
          AnimationType="FlyoutAnimationType.Fade"
          HeaderVisible="true"
          HeaderText="Select Sunward Libraries"
          FooterVisible="false"
          FooterCssClass="custom-flyout-footer"
          MinWidth="600" MinHeight="200" MaxWidth="1000px" MaxHeight="800"
          CloseOnOutsideClick="false"
          PreventCloseOnPositionTargetClick="true">
    <BodyContentTemplate Context="PopupContext">
        <div class="card w-100 tooltips" style="margin-bottom:10px;">
            <div class="card-body p-0 tooltiptops">
                <div class="row">
                    <div class="">
                        <DxMenu CollapseItemsToHamburgerMenu="true"
                                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                                DisplayMode="MenuDisplayMode.Auto">
                            <Items>
                                <DxMenuItem Text="Close" IconCssClass="fa fa-reply" Click=@(()=> IsFileProfileTypeFilterDocOpen = false) />
                                <DxMenuItem Text="Expand All" IconCssClass="fa fa-expand" Click=@expandTreeAll />
                                @*  <DxMenuItem Text="Save Permission" IconCssClass="fa fa-save" Click="@SubmitFormExternally" /> *@
                            </Items>
                        </DxMenu>
                    </div>
                </div>
            </div>
        </div>
        <DxFormLayout CssClass="w-100" style="height: calc(100vh - 250px);overflow:auto;overflow-x:hidden;">
            <DxFormLayoutItem Caption="">
                <DxTreeView @ref="_treeFilterDocView"
                @bind-FilterString="FilterDocumentString"
                            ShowFilterPanel="true"
                            FilterMode="NavigationFilterMode.EntireBranch"
                            Data="@fileProfileTypeDocuments"
                            CheckMode="TreeViewCheckMode.Recursive"
                            CheckAllVisible="true"
                            CheckedChanged="CheckedChanged"
                            CheckNodeByClick="true"
                            AnimationType="LayoutAnimationType.Slide"
                            CssClass="h-300">
                    <DataMappings>
                        <DxTreeViewDataMapping Text="FileName"
                                               Key="DocumentID"
                                               ParentKey="ParentId"
                                               IconCssClass="IconCssClass"
                                               
                                               Checked="Checked" />
                    </DataMappings>
                </DxTreeView>
            </DxFormLayoutItem>

        </DxFormLayout>
    </BodyContentTemplate>
</DxFlyout>
@code {
    EditContext _editContext;
    string? LinkFilterFileprofiletypeName { get; set; } = string.Empty;
    private DocumentUserRoleLists? refDocumentUserRoleListsUser;
    [Parameter]
    public long? FileProfileTypeId { get; set; }
    [Parameter]
    public IEnumerable fileProfileTypeDocumentsAlls { get; set; }
    public ApplicationUser _applicationUser { get; private set; }
    private List<UserGroup> _userGroupsList { get; set; }
    public List<DocumentRole> _documentRoleList { get; set; }
    public List<ViewLevel> _levelMasterLists { get; set; }
    private List<ViewEmployee>? _usersList;
    DocumentUserRoleModel Data = new DocumentUserRoleModel();
    bool IsOpen { get; set; } = false;
    bool IsOpenUserGroup { get; set; } = false;
    bool IsOpenLevel { get; set; } = false;
    public DocumentPermissionModel? documentPermissionData { get; set; }
    int ActiveTabSecIndex { get; set; } = 0;
    public List<DocumentsModel> fileProfileTypeDocumentsAll { get; set; }
    public List<DocumentsModel> fileProfileTypeDocuments { get; set; }
    private DxTreeView _treeFilterDocView;
    public bool IsFileProfileTypeFilterDocOpen { get; set; }
    string? FilterDocumentString { get; set; }
    bool saveEnabled { get; set; } = true;
    protected override async Task OnInitializedAsync()
    {
        _editContext = new EditContext(Data);
        Data.FileProfileTypeId = FileProfileTypeId;
        // fileProfileTypeDocumentsAll = fileProfileTypeDocumentsAlls.Cast<DocumentsModel>().ToList();
        fileProfileTypeDocumentsAll = await Mediator.Send(new GetAllfileprofiletypeListQuery());
        //_treeFilterDocView.ExpandAll();
        _applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _userGroupsList = await Mediator.Send(new GetUserGroups());
        _documentRoleList = await Mediator.Send(new GetDocumentRoles());
        _levelMasterLists = await Mediator.Send(new GetAllLevelMasterQuery());
        _usersList = await Mediator.Send(new GetAllEmployeeQuery());
        Data.Type = "User";
        Data.UserGroupRoleID = Data.UserGroupRoleID > 0 ? Data.UserGroupRoleID : _documentRoleList.FirstOrDefault()?.DocumentRoleId;
        Data.LevelRoleID = Data.UserGroupRoleID > 0 ? Data.UserGroupRoleID : _documentRoleList.FirstOrDefault()?.DocumentRoleId;
        fileProfileTypeDocuments = GetChild(FileProfileTypeId).ToList();
    }
    protected void SelectionChanged(TreeViewNodeEventArgs e)
    {
        if (e.NodeInfo?.DataItem != null)
        {
            var nodeName = e.NodeInfo.DataItem as DocumentsModel;
            var lists = GetFileProfileTypePath(fileProfileTypeDocumentsAll, nodeName.FileProfileTypeId);
            LinkFilterFileprofiletypeName = lists.FirstOrDefault()?.FileProfilePath;
            Data.SelectFileProfileTypeId = lists.FirstOrDefault()?.FileProfileTypeId;
        }
        StateHasChanged();
    }
    void CheckedChanged(TreeViewCheckedChangedEventArgs e)
    {
        LinkFilterFileprofiletypeName = string.Empty;
        Data.FileProfileTypeIds = new List<long?>();
        if (e.CheckedItems != null)
        {
            e.CheckedItems.ToList().ForEach(s =>
            {
                var nodeName = s.DataItem as DocumentsModel;
                if (nodeName != null)
                {
                    Data.FileProfileTypeIds.Add(nodeName.FileProfileTypeId);
                    LinkFilterFileprofiletypeName += nodeName.FileName + ",";
                }
            });
        }
        LinkFilterFileprofiletypeName = LinkFilterFileprofiletypeName.TrimEnd(',');
    }
    void OnButtonFileProfileTypeLinDocClearClick()
    {
        Data.FileProfileTypeIds = new List<long?>();
        LinkFilterFileprofiletypeName = string.Empty;
        Data.SelectFileProfileTypeId = null;
        IsFileProfileTypeFilterDocOpen = false;
        if (fileProfileTypeDocuments != null && fileProfileTypeDocuments.Count() > 0)
        {
            fileProfileTypeDocuments.ForEach(s =>
            {
                s.Checked = false;
            });
        }
    }
    void expandTreeAll()
    {
        _treeFilterDocView.ExpandAll();
    }
    void OnButtonFileProfileTypeLinDocClick()
    {
        // _treeFilterDocView.ExpandAll();
        if (Data.FileProfileTypeIds.Count > 0)
        {
            if (fileProfileTypeDocuments != null && fileProfileTypeDocuments.Count() > 0)
            {
                fileProfileTypeDocuments.ForEach(s =>
                {
                    var valueExits = Data.FileProfileTypeIds.Where(a => s.DocumentID == a).Count();
                    if (valueExits > 0)
                    {
                        s.Checked = true;
                    }
                    else
                    {
                        s.Checked = false;
                    }
                });
            }
        }
        StateHasChanged();
        IsFileProfileTypeFilterDocOpen = true;
    }
    async void OnTabClick(TabClickEventArgs e)
    {
        IsFileProfileTypeFilterDocOpen = false;
        if (e.TabIndex == 0)
        {
            Data.RoleID = Data.RoleID > 0 ? Data.RoleID : null;
            // Data.RoleID =null;
            Data.UserGroupRoleID = Data.UserGroupRoleID > 0 ? Data.UserGroupRoleID : _documentRoleList.FirstOrDefault()?.DocumentRoleId;
            Data.LevelRoleID = Data.LevelRoleID > 0 ? Data.LevelRoleID : _documentRoleList.FirstOrDefault()?.DocumentRoleId;
            Data.Type = "User";
            await OnSelectRoleItems(Data.RoleID, "No");
        }
        if (e.TabIndex == 1)
        {
            Data.UserGroupRoleID = Data.UserGroupRoleID > 0 ? Data.UserGroupRoleID : null;
            //Data.UserGroupRoleID = null;
            Data.RoleID = Data.RoleID > 0 ? Data.RoleID : _documentRoleList.FirstOrDefault()?.DocumentRoleId;
            Data.LevelRoleID = Data.LevelRoleID > 0 ? Data.LevelRoleID : _documentRoleList.FirstOrDefault()?.DocumentRoleId;
            Data.Type = "UserGroup";
            await OnSelectRoleItems(Data.UserGroupRoleID, "No");
        }
        if (e.TabIndex == 2)
        {
            Data.LevelRoleID = Data.LevelRoleID > 0 ? Data.LevelRoleID : null;
            //Data.LevelRoleID = null;
            Data.UserGroupRoleID = Data.UserGroupRoleID > 0 ? Data.UserGroupRoleID : _documentRoleList.FirstOrDefault()?.DocumentRoleId;
            Data.RoleID = Data.RoleID > 0 ? Data.RoleID : _documentRoleList.FirstOrDefault()?.DocumentRoleId;
            Data.Type = "Level";
            await OnSelectRoleItems(Data.LevelRoleID, "No");
        }
        await refDocumentUserRoleListsUser.loadData(FileProfileTypeId);
        StateHasChanged();
    }
    void onSelectedUserItemsChanged(IEnumerable<ViewEmployee> values)
    {
        ActiveTabSecIndex = 0;
        StateHasChanged();
    }
    void onSelectedUserGroupItemsChanged(IEnumerable<UserGroup> values)
    {
        ActiveTabSecIndex = 1;
        StateHasChanged();
    }
    void onSelectedLevelItemsChanged(IEnumerable<ViewLevel> values)
    {
        ActiveTabSecIndex = 2;
        StateHasChanged();
    }
    public async Task SubmitFormExternally()
    {
        if (_editContext.Validate())
        {
            await this.HandleValidSubmit();
        }
    }
    async Task HandleValidSubmit()
    {
        saveEnabled = false;
        var response = await Mediator.Send(new InsertFileProfileTypeAccess(Data));
        if (!string.IsNullOrEmpty(response.Type))
        {
            saveEnabled = true;
            toastService.ShowToast("Record Added Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await refDocumentUserRoleListsUser.loadData(FileProfileTypeId);
        }
        StateHasChanged();
    }
    void HandleInvalidSubmit()
    {
    }
    async Task SelectedItemRoleChanged(DocumentRole documentRole)
    {
        if (documentRole != null && documentRole.DocumentRoleId > 0)
        {
            await OnSelectRoleItems(documentRole.DocumentRoleId, "Yes");
        }
    }
    async Task OnSelectRoleItems(long? documentRoleId, string types)
    {
        documentPermissionData = await Mediator.Send(new GetDocumentPermissionByRoleID(documentRoleId));
    }
    void OnUserGroupButtonClick()
    {
        IsOpenUserGroup = true;
    }
    void OnButtonClick()
    {
        IsOpen = true;
    }
    void OnLevelButtonClick()
    {
        IsOpenLevel = true;
    }
    public IEnumerable<DocumentsModel> GetChild(long? id)
    {
        var locations = fileProfileTypeDocumentsAll.Where(x => x.ParentId == id || x.FileProfileTypeId == id).ToList();

        var child = locations.AsEnumerable().Union(fileProfileTypeDocumentsAll.AsEnumerable().Where(x => x.ParentId == id).SelectMany(y => GetChild(y.FileProfileTypeId))).ToList();
        return child;
    }
    private List<FileProfileTypeModel>
       GetFileProfileTypePath(List<DocumentsModel>
           foldersListItem, long? id)
    {
        var foldersListItems = foldersListItem.Where(t => t.FileProfileTypeId == id).ToList();
        FileProfileTypeModel fileprofile = new FileProfileTypeModel();
        List<FileProfileTypeModel>
            foldersList = new List<FileProfileTypeModel>
                ();
        if (foldersListItems != null && foldersListItems.Count > 0)
        {
            foldersListItems.ForEach(s =>
            {
                List<string>
                                    FolderPathLists = new List<string>
                                        ();
                FileProfileTypeModel fileProfileTypeModel = new FileProfileTypeModel();
                fileProfileTypeModel.FileProfileTypeId = s.FileProfileTypeId.Value;
                fileProfileTypeModel.Name = s.FileName;
                fileprofile = GetProfileTypeName(foldersListItem, s, FolderPathLists, fileprofile);
                FolderPathLists.Add(s.FileName);
                fileProfileTypeModel.FileProfileTypeParentId = fileprofile.ParentId;
                fileProfileTypeModel.FileProfilePath = string.Join(" / ", FolderPathLists);
                foldersList.Add(fileProfileTypeModel);
            });
        }
        return foldersList;
    }
    private FileProfileTypeModel GetProfileTypeName(List<DocumentsModel>
        foldersListItems, DocumentsModel s, List<string>
            foldersModel, FileProfileTypeModel fileProfileTypeModel)
    {

        if (s.ParentId != null)
        {
            var items = foldersListItems.FirstOrDefault(f => f.FileProfileTypeId == s.ParentId);
            GetProfileTypeName(foldersListItems, items, foldersModel, fileProfileTypeModel);
            foldersModel.Add(items.FileName);
        }
        else if (s.ParentId == null)
        {
            fileProfileTypeModel.ParentId = foldersListItems.FirstOrDefault(f => f.FileProfileTypeId == s.FileProfileTypeId)?.FileProfileTypeId;
        }
        return fileProfileTypeModel;
    }
    public void Dispose()
    {
        GC.SuppressFinalize(this);
    }
}
