@page "/fileprofiletype"
@page "/fileprofiletype/{SessionId:guid}"
@page "/fileprofiletype/{SessionId:guid}/{DocSessionId:guid}"
@using Application.Queries;
@using MediatR;
@inject IMediator Mediator
@using global::Core.Entities;
@using global::Core.Entities.Views;
@using global::Core.EntityModels;
@inject IJSRuntime jsRuntime
@inject NavigationManager NavigationManager
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration
@inject ClipboardService ClipboardService
@using global::Core.Repositories.Query;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
<style>
    .dxbl-wait-indicator {
    --dxbl-wait-indicator-color: white;
}
 .dxbl-btn.dxbl-lg {
    --dxbl-btn-line-height: 1.5rem;
}
</style>
<div class="menu-bar-content-container col-md-12">
    <div class="card w-100" style="margin-bottom:1px;">



        <div class="card-body p-0" style="@onShowMain">

            <DxMenu CollapseItemsToHamburgerMenu="true"
                    CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                    DisplayMode="MenuDisplayMode.Desktop">

                <Items>
                    <DxMenuItem Position="ItemPosition.Start" IconCssClass="fa fa-reply " Click="onBack" />
                    <DxMenuItem Text="Profile Type" Position="ItemPosition.Start" >
                        <Items>
                            <DxMenuItem Text="Add New" IconCssClass="fa fa-add" Click="onAddFileProfileType" />
                            <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@onEditFileProfileType"/>
                                </Items>
                    </DxMenuItem>
                    <DxMenuItem Position="ItemPosition.End" IconCssClass="fa fa-shield" Click="OnSecurity" Enabled="@securityEnabled" />
                    <DxMenuItem Position="ItemPosition.End" IconCssClass="fa fa-file-excel" Click="onDownload" Enabled="@ondownloadEnabled" />
                    <DxMenuItem Position="ItemPosition.End" IconCssClass="fa fa-ellipsis-v" Click="onmore" Enabled="@moreEnabled" style="@isVisibleParentMore">
                        <Items>
                            <DxMenuItem Text="Upload" IconCssClass="fa fa-cloud-upload" Click="onUploadFileProfileType" />
                                </Items>
                    </DxMenuItem>
                    <DxMenuItem Position="ItemPosition.End" IconCssClass="fa fa-info-circle " Click="onInfo" Enabled=@informationEnabled />

                    <DxMenuItem Text="More" Position="ItemPosition.End" IconCssClass="fa fa-ellipsis-v" style="@isVisibleMore">
                        <Items>
                            <DxMenuItem Text="Download" IconCssClass="fa fa-cloud-download" Click="Download" Visible="@DownloadEnabled" />
                            <DxMenuItem Text="Upload" IconCssClass="fa fa-cloud-upload" Click="onUpload" Visible="@uploadEnabled"/>
                               
                            <DxMenuItem Text="View File" IconCssClass="fa fa-eye" Click="onView" Visible="@viewfileEnabled" />
                            <DxMenuItem Text="Copy Link" IconCssClass="fa fa-clone" Click="onCopy" Visible="@copylinkEnabled" />
                             <DxMenuItem Text="Rename" IconCssClass="fa fa-pencil" Click="onRename" Visible="@renameEnabled" >
                                
                             </DxMenuItem>
                            <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="onDelete" Visible="@deleteEnabled" />
                            <DxMenuItem Text="History" IconCssClass="fa fa-history" Click="onHistory" Visible="@historyEnabled" />
                            <DxMenuItem Text="Check Out" IconCssClass="fa fa-check-square" Click="onCheckOut" Visible="@checkoutEnabled" />
                            <DxMenuItem Text="Check In" IconCssClass="fa fa-check-circle" Visible="@checkInEnabled" Click="onCheckin">
                               
                            </DxMenuItem>
                            <DxMenuItem Text="Notify" IconCssClass="fa fa-comment" Click="onNotify" Visible="@NotifyEnabled" />
                            <DxMenuItem Text="Share" IconCssClass="fa fa-share-square" Click="onShare" Visible="@shareEnabled" />
                            <DxMenuItem Text="Link Document" IconCssClass="fa fa-link" Click="onLinkDocuments" Visible="@linkdownloadEnabled" />
                            <DxMenuItem Text="Form Details" IconCssClass="fa fa-info-circle" Click="onFormDetails" Visible="@formdetailsEnabled" />
                            <DxMenuItem Text="View Parent Documents" IconCssClass="fa fa-paperclip" Click="onViewparentDocuments" Visible="@viewParentEnabled" />
                           
                            <DxMenuItem Text="Relese For Wiki" IconCssClass="fa fa-paperclip" Click="onReleaseforwiki" Visible="@releasewikiEnabled" />
                        </Items>
                    </DxMenuItem>

                </Items>
            </DxMenu>

        </div>


    </div>
</div>
<div class="demo-breadcrumbs-container theme-blazing-berry">
    <div class="breadcrumb">
        <div class="demo-breadcrumbs sidebar-hidden">
            <!--!-->

            <div class="items">
                <a href="javascript:void(0);" onclick="@(() => openFileProfileMainLink())">Main</a>
                @if (FolderPathLists.Count > 0)
                {
                    <span class="separator"></span>
                    @foreach (var item in FolderPathLists)
                    {
                        var names = item.FileName.Length > 20 ? item.FileName.Substring(0, 20) + "..." : item.FileName;
                        if (FolderPathLists.IndexOf(item) == FolderPathLists.Count - 1)
                        {
                            <span title="@item.FileName">@names</span>
                        }
                        else
                        {
                            <a href="javascript:void(0);" title="@item.FileName" onclick="@(() => openFileProfileLink(item))">@names</a>
                        }
                        <span class="separator"></span>
                    }
                }
            </div>
        </div>
    </div>
</div>
<div style="@onShowMain">
<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">
    <DxGrid @ref="Grid"
            Data="fileProfileTypeDocuments"
            KeyFieldName="UniqueNo"
            EditMode="GridEditMode.EditForm"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            EditorRenderMode="GridEditorRenderMode.Integrated"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            CustomizeCellDisplayText="Grid_CustomizeCellDisplayText"
            PageSize="20" CustomizeElement="Grid_CustomizeElement" ValidationEnabled="false"
            RowClick="OnRowClick"
            RowDoubleClick="OnRowDoubleClick"
            FocusedRowEnabled="true"
            AllowSelectRowByClick="true"
            CustomizeSummaryDisplayText="Grid_CustomizeSummaryDisplayText"
            SelectionMode="GridSelectionMode.Single"
            CssClass="w-100"
            TextWrapEnabled="false"
            style="height: calc(100vh - 250px);"
            >
        <Columns>
@*            <DxGridSelectionColumn FixedPosition="GridColumnFixedPosition.Left" Width="60px" />
*@            <DxGridDataColumn FieldName="UniqueNo"  Visible="false" />
            <DxGridDataColumn FieldName="FileName" FixedPosition="GridColumnFixedPosition.Left" Caption="Name" MinWidth="270">
                <CellDisplayTemplate>

                    @{
                        var item = (DocumentsModel)context.DataItem;
                        var contentType = item.ContentType!=null?item.ContentType.Split("/").First().ToLower():"";
                    }
                    @if (item.Type == "Document")
                    {
                        @if(item.Extension=="xlsx" || item.Extension=="xls")
                        {
                            <i class="fa fa-file-excel" aria-hidden="true" style="margin-right: 5px;" title="@item.FileName"></i>
                        }
                        else if(item.Extension=="ppt" || item.Extension=="pptx")
                        {
                            <i class="fa fa-file-powerpoint" aria-hidden="true" style="margin-right: 5px;" title="@item.FileName"></i>
                        }
                        else if(item.Extension=="doc" || item.Extension=="docx")
                        {
                            <i class="fa fa-file-word" aria-hidden="true" style="margin-right: 5px;" title="@item.FileName"></i>
                        }
                        else if(item.Extension=="pdf")
                        {
                            <i class="fa fa-file-pdf" aria-hidden="true" style="margin-right: 5px;" title="@item.FileName"></i>
                        }
                        else if(item.Extension=="txt")
                        {
                            <i class="fa fa-file-text" aria-hidden="true" style="margin-right: 5px;" title="@item.FileName"></i>
                        }
                        else
                        {
                            if (contentType == "image")
                            {
                                <i class="fa fa-file-image" aria-hidden="true" style="margin-right: 5px;" title="@item.FileName"></i>
                            }
                            else if (contentType == "video")
                            {
                                <i class="fa fa-file-video" aria-hidden="true" style="margin-right: 5px;" title="@item.FileName"></i>
                            }
                            else
                            {
                                <i class="fa fa-file" aria-hidden="true" style="margin-right: 5px;" title="@item.FileName"></i>
                            }
                        }
                        @if (item.IsLocked == true)
                        {
                            <i class="fa fa-lock" aria-hidden="true" style="margin-right: 5px;" title="@item.LockedByUser"></i>
                        }
                        
                    }
                    else
                    {
                        <i class="fa fa-folder" aria-hidden="true" style="margin-right: 5px;" title="@item.FileName"></i>
                    }
                    <span id=@($"flyout-overview-target-container-RenameFilename-{item.DocumentID}")>@item.FileName</span>
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="ProfileNo" FixedPosition="GridColumnFixedPosition.Left" Caption="Profile" MinWidth="170" />
            <DxGridDataColumn FieldName="FileSizes" FixedPosition="GridColumnFixedPosition.Left" Caption="File Size"MinWidth="170">
                <CellDisplayTemplate>
                    @{
                        var item = (DocumentsModel)context.DataItem;
                    }

                    @(item.FileSizes + (!string.IsNullOrEmpty(item.FileCounts) ? ("," + item.FileCounts) : ""))
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="Description" FixedPosition="GridColumnFixedPosition.Left" MinWidth="200">
                <CellDisplayTemplate>
                    @{
                        var item = (DocumentsModel)context.DataItem;
                    }
                    <i class="fa fa-pencil" aria-hidden="true" style="margin-right: 5px;cursor:pointer;" id=@($"flyout-overview-target-container-Description-{item.DocumentID}") onclick="@(() => OnButtonDescriptionClick(item))" title="@item.Description"></i>
                    <span title="@item.Description">@item.Description</span
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="ExpiryDate" MinWidth="170" FixedPosition="GridColumnFixedPosition.Left">
                <CellDisplayTemplate>
                    @{
                        var item = (DocumentsModel)context.DataItem;
                        var expiryDate= (item.ExpiryDate!= null ? Application.Common.Helper.Helper.FormatDate(item.ExpiryDate.Value) : null);
                    }
                    @if (item.Type == "Document")
                    {
                        <i class="fa fa-pencil" aria-hidden="true" style="margin-right: 5px;cursor:pointer;" id=@($"flyout-overview-target-container-ExpiryDate-{item.DocumentID}") onclick="@(() => OnButtonExpiryDateClick(item))" title="@expiryDate"></i>
                       @expiryDate
                    }
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="AddedBy" Caption="AddedBy"  MinWidth="170" />
            <DxGridDataColumn FieldName="AddedDate"   Caption="Added" MinWidth="170" />
            <DxGridDataColumn FieldName="ModifiedBy"  Caption="ModifiedBy" MinWidth="170" />
            <DxGridDataColumn FieldName="ModifiedDate" Caption="Modified" MinWidth="170" />
        </Columns>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="ProfileNo" />
        </TotalSummary>
    </DxGrid>
</DxLoadingPanel>
</div>
<DxPopup @bind-Visible="@PopupVisible"
         ShowFooter="true"
         HeaderText="Document History"
         CloseOnOutsideClick="false"
         Width="1000px">
    <BodyContentTemplate>
        <HistoryPopup selectedFiles="@selectedFiles"></HistoryPopup>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => ClosePopup())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@PopupVisibleLinkDocument"
         ShowFooter="true"
         HeaderText="Link Documents"
         CloseOnOutsideClick="false"
         Width="1000px">
    <BodyContentTemplate>
        <LinkDocumentsList selectedFiles="@selectedFiles"></LinkDocumentsList>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => CloseLinkDocumentPopup())" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@PopupVisibleLinkParentDocument"
         ShowFooter="true"
         HeaderText="Parent Documents"
         CloseOnOutsideClick="false"
         ShowCloseButton="false"
         Width="1000px">
    <BodyContentTemplate>
        <ParentLinkDocuments ParentSelectedFiles="@_selectedItems" LinkProfileSelectedFiles="@LinkProfileSelectedFiles" LinkType="Profile Type"></ParentLinkDocuments>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => CloseLinkParentDocumentPopup())" />
    </FooterContentTemplate>
</DxPopup>
<DxFlyout @bind-IsOpen=IsDescriptionOpen
          PositionTarget=@($"#flyout-overview-target-container-Description-{_selectedDescriptionItems?.DocumentID}")
          RestrictionTarget="#Navigation-Flyout-Customization"
          AnimationType="FlyoutAnimationType.Fade"
          PreventCloseOnPositionTargetClick="true"
          HeaderVisible="true"
          HeaderText="Update Description"
          FooterVisible="true"
          FooterCssClass="custom-flyout-footer"
          Width="max(25vw, 550px)"
          Position=@(FlyoutPosition.BottomStart | FlyoutPosition.TopStart)>
    <BodyContentTemplate Context="PopupContext">
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="Description:" ColSpanMd="12">
                <DxMemo @bind-Text="@_selectedDescriptionItems.Description" CssClass="cw-480" Rows="5" />
            </DxFormLayoutItem>
        </DxFormLayout>
    </BodyContentTemplate>
    <FooterContentTemplate>
        <div class="w-100">
            <div class="custom-flyout-footer">
                <DxButton CssClass="popup-button" RenderStyle="ButtonRenderStyle.Success" Text="Update" Click=@(()=> OnUpdateDescription()) />
                <DxButton CssClass="popup-button" RenderStyle="ButtonRenderStyle.Primary" Text="Close" Click=@(()=> IsDescriptionOpen = false) />
            </div>
        </div>
    </FooterContentTemplate>
</DxFlyout>
<DxFlyout @bind-IsOpen=IsExpiryDateOpen
          PositionTarget=@($"#flyout-overview-target-container-ExpiryDate-{_selectedDescriptionItems?.DocumentID}")
          RestrictionTarget="#Navigation-Flyout-Customization"
          AnimationType="FlyoutAnimationType.Fade"
          PreventCloseOnPositionTargetClick="true"
          FooterVisible="true"
          HeaderVisible="true"
           HeaderText="Update Expiry Date"
          FooterCssClass="custom-flyout-footer"
          Width="max(25vw, 550px)"
          Position=@(FlyoutPosition.BottomStart | FlyoutPosition.TopStart)>
    <BodyContentTemplate Context="PopupContext">
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="Expiry Date:" ColSpanMd="12">
                <DxDateEdit NullText="Select a Expiry Date..." @bind-Date="@_selectedDescriptionItems.ExpiryDate" CssClass="cw-320" />
            </DxFormLayoutItem>
        </DxFormLayout>
    </BodyContentTemplate>
    <FooterContentTemplate>
        <div class="w-100">
            <div class="custom-flyout-footer">
                <DxButton CssClass="popup-button" RenderStyle="ButtonRenderStyle.Success" Text="Update" Click=@(()=> OnUpdateExpiryDate()) />
                <DxButton CssClass="popup-button" RenderStyle="ButtonRenderStyle.Primary" Text="Close" Click=@(()=> IsExpiryDateOpen = false) />
            </div>
        </div>
    </FooterContentTemplate>
</DxFlyout>
<DxFlyout
    @bind-IsOpen=IsRenameOpen
    PositionTarget=@($"#flyout-overview-target-container-RenameFilename-{_selectedDescriptionItems?.DocumentID}")
    RestrictionTarget="#Navigation-Flyout-Customization"
     AnimationType="FlyoutAnimationType.Fade"
    HeaderVisible="true"
    HeaderText="Rename Document"
    FooterVisible="true"
    FooterCssClass="custom-flyout-footer"
    Width="max(25vw, 550px)"
    PreventCloseOnPositionTargetClick="true"
   >
   <BodyContentTemplate Context="PopupContext">
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="Document Name:" ColSpanMd="9">
               <DxTextBox @bind-Text="@NewRename" CssClass="cw-480" />
            </DxFormLayoutItem>
             <DxFormLayoutItem Caption="" ColSpanMd="3">
               <DxTextBox @bind-Text="@_selectedDescriptionItems.Extension" CssClass="cw-480"  Enabled="false"/>
            </DxFormLayoutItem>
        </DxFormLayout>
    </BodyContentTemplate>
    <FooterContentTemplate>
        <div class="w-100">
            <div class="custom-flyout-footer">
                <DxButton CssClass="popup-button" RenderStyle="ButtonRenderStyle.Success" Text="Update" Click=@(()=> OnUpdateDocumentRename()) />
                <DxButton CssClass="popup-button" RenderStyle="ButtonRenderStyle.Primary" Text="Close" Click=@(()=> IsRenameOpen = false) />
            </div>
        </div>
    </FooterContentTemplate>
</DxFlyout>
<DxPopup @bind-Visible="@PopupVisibleSecurityAccess"
         ShowFooter="true"
         HeaderText="Security Access"
         CloseOnOutsideClick="false"
         ShowCloseButton="false"
         Width="1000px">
    <BodyContentTemplate>
        <ParentLinkDocuments ParentSelectedFiles="@_selectedItems" LinkProfileSelectedFiles="@LinkProfileSelectedFiles" LinkType="Profile Type"></ParentLinkDocuments>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => CloseSecurityAccessPopup())" />
    </FooterContentTemplate>
</DxPopup>
<div style="@onUploadVisible">

<UploadDoumentFiles @ref="refUploadDoumentFiles" UploadDocFormID="UploadDocFormID"   RevokeBack="BackUpload"></UploadDoumentFiles>

</div>
 <DxPopup @bind-Visible="@PopupUpload"
         HeaderText="Upload Documents"
         CloseOnOutsideClick="false"
         ShowCloseButton="false"
         ShowFooter ="false"
         Width="1000px">
     <BodyContentTemplate> 
        <UploadDocumentUpdateFiles @ref="refUploadDocumentUpdateFiles"  selectedItems="@_selectedItems" applicationUser="@applicationUser" FileProfileSessionId="@SessionId" RevokeBack="BackUpload"></UploadDocumentUpdateFiles>
     </BodyContentTemplate> 
 </DxPopup> 
@code {
    private UploadDoumentFiles refUploadDoumentFiles;
    private UploadDocumentUpdateFiles refUploadDocumentUpdateFiles;
    IGrid Grid { get; set; }
    [Parameter]
    public Guid? SessionId { get; set; }
    [Parameter]
    public Guid? DocSessionId { get; set; }
    bool IsDescriptionOpen { get; set; } = false;
    bool IsRenameOpen { get; set; } = false;
    public bool PopupUpload { get; set; } = false;
    public bool PopupVisible { get; set; } = false;
    public bool PopupVisibleLinkDocument { get; set; } = false;
    public bool PopupVisibleSecurityAccess { get; set; } = false;
    public bool IsExpiryDateOpen { get; set; } = false;
    public bool loading { get; set; } = false;
    string onShowMain = "";
    string onUploadVisible = "display:none;";
    public DocumentsModel selectedFiles { get; set; }
    public long? FileProfileTypeId { get; set; }
    private List<DocumentsModel> fileProfileTypeDocuments { get; set; }
    public List<DocumentsModel> fileProfileTypeDocumentsAll { get; set; }
    private DocumentTypeModel _fileProfileselectedlstItems { get; set; }
    bool PanelVisible { get; set; }
    DocumentLinkModel LinkProfileSelectedFiles = new DocumentLinkModel();
    List<DocumentsModel> FolderPathLists = new List<DocumentsModel>();
    private DocumentsModel _selectedItems;
    private DocumentsModel _ParentselectedItems;
    DocumentsModel _selectedDescriptionItems=new DocumentsModel();
    public string Name;
    public Guid? SelectSessionId { get; set; }
    public string isVisibleParentMore { get; set; } = "display:none;";
    public string isVisibleMore { get; set; } = "display:none;";
    public bool DownloadEnabled { get; set; } = false;
    public bool uploadEnabled { get; set; } = false;
    public bool copylinkEnabled { get; set; } = false;
    public bool deleteEnabled { get; set; } = false;
    public bool viewfileEnabled { get; set; } = false;
    public bool historyEnabled { get; set; } = false;
    public bool checkoutEnabled { get; set; } = false;
    public bool checkInEnabled { get; set; } = false;
    public bool NotifyEnabled { get; set; } = false;
    public bool shareEnabled { get; set; } = false;
    public bool formdetailsEnabled { get; set; } = false;
    public bool linkdownloadEnabled { get; set; } = false;
    public bool viewParentEnabled { get; set; } = false;
    public bool renameEnabled { get; set; } = false;
    public bool releasewikiEnabled { get; set; } = false;
    public bool ondownloadEnabled { get; set; } = false;
    public bool securityEnabled { get; set; } = false;
    public bool moreEnabled { get; set; } = false;
    public bool informationEnabled { get; set; } = false;
    public ApplicationUser applicationUser { get; private set; }
    public bool PopupVisibleLinkParentDocument { get; set; } = false;
    public string? NewRename { get; set; }
    private string? DocumentViewUrl;
    private string? ServerUrl;
    private string? FileUrl;
    protected override async Task OnInitializedAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        DocumentViewUrl = Configuration["DocumentsUrl:DocumentViewer"];
        ServerUrl = Configuration["DocumentsUrl:ServerUrl"];
        FileUrl = Configuration["DocumentsUrl:FileUrl"];

    }
    protected override async Task OnParametersSetAsync()
    {
        fileProfileTypeDocumentsAll = await Mediator.Send(new GetAllfileprofiletypeListQuery());
        isVisibleMore = "display:none;";isVisibleParentMore = "display:none;";
        ondownloadEnabled = false; moreEnabled = false; informationEnabled = false; securityEnabled = false;

        FolderPathLists = new List<DocumentsModel>();
        FileProfileTypeId = fileProfileTypeDocumentsAll.FirstOrDefault(f => f.SessionID == SessionId)?.FileProfileTypeId;

        if (FileProfileTypeId > 0)
        {
            var fileType = fileProfileTypeDocumentsAll.Where(w => w.FileProfileTypeId == FileProfileTypeId).FirstOrDefault();
            if (fileType != null)
            {
                isVisibleParentMore = "";
                _ParentselectedItems = fileType;
                Name = fileType.FileName;
                FolderPathLists = GetAllFileProfileTypeName(fileProfileTypeDocumentsAll, fileType, FolderPathLists);
                FolderPathLists.Add(fileType);
            }
        }
        await loadFileProfileData();
        base.OnParametersSet();
    }
    async Task loadFileProfileData()
    {
        if (FileProfileTypeId == null && SessionId != null)
        {
            NavigationManager.NavigateTo("fileprofiletype");
        }
        else
        {
            PanelVisible = true;
            _fileProfileselectedlstItems = await Mediator.Send(new GetAllSelectedfileprofiletypeQuery(FileProfileTypeId));
            fileProfileTypeDocuments = _fileProfileselectedlstItems.DocumentsData;
            if (DocSessionId != null)
            {
                fileProfileTypeDocuments = fileProfileTypeDocuments.Where(w => w.SessionID == DocSessionId).ToList();
            }
            if (fileProfileTypeDocuments.Count > 0)
            {

                _selectedItems = fileProfileTypeDocuments.FirstOrDefault();

                permissionEnabled();
                Grid.SetFocusedRowIndex(0);
            }
            else
            {
                PermiisionMain();
            }
            PanelVisible = false;
            StateHasChanged();
        }
    }
    void PermiisionMain()
    {
        isVisibleMore = "display:none;";
        DownloadEnabled = false; uploadEnabled = false; copylinkEnabled = false; viewfileEnabled = false;
        deleteEnabled = false; historyEnabled = false; checkoutEnabled = false; checkInEnabled = false;
        shareEnabled = false; NotifyEnabled = false; formdetailsEnabled = false; linkdownloadEnabled = false; formdetailsEnabled = false;
        renameEnabled = false; releasewikiEnabled = false; viewParentEnabled = false;
        if (_selectedItems != null || FileProfileTypeId>0)
        {
            ondownloadEnabled = true;
            moreEnabled = true;
            informationEnabled = true;
            securityEnabled = true;
        }
    }

    public void permissionEnabled()
    {
        PermiisionMain();
        var permissionData = _selectedItems.DocumentPermissionData;
        if (_selectedItems != null && _selectedItems.FilterProfileTypeId > 0)
        {
            isVisibleMore = "";
            ondownloadEnabled = true; moreEnabled = true; informationEnabled = true; securityEnabled = true; DownloadEnabled = false;
            uploadEnabled = false; copylinkEnabled = false; viewfileEnabled = false; deleteEnabled = false; historyEnabled = false;
            checkoutEnabled = false; checkInEnabled = false; shareEnabled = false; NotifyEnabled = false;
            linkdownloadEnabled = false; formdetailsEnabled = false; renameEnabled = false; releasewikiEnabled = false; viewParentEnabled = false;

            if (_selectedItems.IsLocked == true)
            {
                uploadEnabled = false; deleteEnabled = false; DownloadEnabled = true;
                viewfileEnabled = true; historyEnabled = true; checkoutEnabled = false; checkInEnabled = true;
                NotifyEnabled = true; releasewikiEnabled = true; copylinkEnabled = true;viewParentEnabled = true;
                linkdownloadEnabled = true; shareEnabled = true;formdetailsEnabled = true;
            }
            else
            {
                if (applicationUser.UserID == _selectedItems.AddedByUserID)
                {
                    uploadEnabled = true; DownloadEnabled = true; copylinkEnabled = true; viewfileEnabled = true; deleteEnabled = true; historyEnabled = true;
                    checkoutEnabled = true; checkInEnabled = false; shareEnabled = true; NotifyEnabled = true; formdetailsEnabled = true; linkdownloadEnabled = true;
                    renameEnabled = true; releasewikiEnabled = true; viewParentEnabled = true;
                    if (_selectedItems.IsLocked == true)
                    {
                        checkoutEnabled = false;
                        checkInEnabled = true;
                    }
                }
                else
                {
                    NotifyEnabled = true;
                    if (permissionData != null)
                    {
                        if (permissionData.IsUpdateDocument == true)
                        {
                            uploadEnabled = true; checkoutEnabled = true; checkInEnabled = false; releasewikiEnabled = true;
                            linkdownloadEnabled = true; formdetailsEnabled = true; viewParentEnabled = true;
                        }
                        if (permissionData.IsDelete == true)
                        {
                            deleteEnabled = true;
                        }
                        if (permissionData.IsRead == true)
                        {
                            DownloadEnabled = true; viewfileEnabled = true;
                        }
                        if (permissionData.IsListVersion == true)
                        {
                            historyEnabled = true;
                        }
                        if (permissionData.IsCopy == true)
                        {
                            copylinkEnabled = true;
                        }
                        if (permissionData.IsRename == true)
                        {
                            renameEnabled = true;
                        }
                        if (permissionData.IsShare == true)
                        {
                            shareEnabled = true;
                        }
                    }
                    if (_selectedItems.IsLocked == true)
                    {
                        checkoutEnabled = false;
                        checkInEnabled = true;
                    }
                }
            }

        }
        StateHasChanged();
    }
    private List<DocumentsModel> GetAllFileProfileTypeName(List<DocumentsModel> foldersListItems, DocumentsModel s, List<DocumentsModel> foldersModel)
    {
        if (s.ParentId != null)
        {
            var items = foldersListItems.FirstOrDefault(f => f.FileProfileTypeId == s.ParentId);
            GetAllFileProfileTypeName(foldersListItems, items, foldersModel);
            foldersModel.Add(items);
        }
        return foldersModel;
    }
    public void openFileProfileLink(DocumentsModel documentsModel)
    {
        onShowMain = "";
        onUploadVisible = "display:none;";
        StateHasChanged();
        NavigationManager.NavigateTo("fileprofiletype/" + documentsModel.SessionID);
    }
    public void openFileProfileMainLink()
    { 
        onShowMain = "";
        onUploadVisible = "display:none;";
        StateHasChanged();
        NavigationManager.NavigateTo("fileprofiletype");
    }
    void onCopyLink()
    {

    }
    void onReserveNumberSeries()
    {

    }
    async Task OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "UniqueNo");
        _selectedItems = fileProfileTypeDocuments.FirstOrDefault(f => f.UniqueNo == (long?)UniqueId);
        if (_selectedItems != null)
        {
            permissionEnabled();
        }
        StateHasChanged();
    }
    async Task OnRowDoubleClick(GridRowClickEventArgs e)
    {
        if (_selectedItems != null && _selectedItems.FileProfileTypeId > 0)
        {
            NavigationManager.NavigateTo($"fileprofiletype/" + _selectedItems.SessionID);
        }
        else
        {
            await OnRowClick(e);
        }
    }
    void Grid_CustomizeCellDisplayText(GridCustomizeCellDisplayTextEventArgs e)
    {
        if (e.FieldName == "FileSizes")
        {
            var dataItems = (DocumentsModel)e.DataItem;
            if (dataItems.FileProfileTypeId > 0)
            {
                // var resp = await Mediator.Send(new GetAllSelectedFileCountQuery(dataItems.FileProfileTypeId.Value));
                //e.DisplayText = "Test";
            }
        }
    }
    void Grid_CustomizeSummaryDisplayText(GridCustomizeSummaryDisplayTextEventArgs e)
    {
        if (e.Item.Name == "Custom")
            e.DisplayText = string.Format("Sum of Selected: {0:c}", e.Value);
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
        //if (e.ElementType == GridElementType.DataCell)
        //{
        //    var dataColumn = (IGridDataColumn)e.Column;
        //    switch (dataColumn.FieldName)
        //    {
        //        case "FileSizes":
        //            var FileProfileTypeIds = e.Grid.GetRowValue(e.VisibleIndex, "FileProfileTypeId");
        //            break;
        //    }
        //}
        //if (e.ElementType == GridElementType.HeaderCell)
        //{
        //    e.Style = "background-color: rgba(0, 0, 0, 0.08)";
        //    e.CssClass = "header-bold";
        //}
    }
    void onAddFileProfileType()
    {
        NavigationManager.NavigateTo($"AddFileProfileTypes/Add/"+SessionId);
    }
    void onEditFileProfileType()
    {
        SelectSessionId = null;
        if(SessionId==null)
        {
            if (_selectedItems != null)
            {
                SelectSessionId = _selectedItems.SessionID;
            }
        }
        else
        {
            if (_selectedItems != null)
            {
                if (_selectedItems.FileProfileTypeId == null)
                {
                    SelectSessionId=fileProfileTypeDocumentsAll.FirstOrDefault(f => f.FileProfileTypeId == _selectedItems.FilterProfileTypeId)?.SessionID;
                }
                else
                {
                    SelectSessionId = _selectedItems.SessionID;
                }
            }
            else
            {
                SelectSessionId = SessionId;
            }
        }
        NavigationManager.NavigateTo($"AddFileProfileTypes/Edit/"+SelectSessionId);

    }
    void onBack()
    {
        NavigationManager.NavigateTo($"fileprofiletype");
    }
    private async Task onCopy()
    {
        if (_selectedItems != null && _selectedItems.DocumentID > 0 && _selectedItems.FilePath != null)
        {
            if(_selectedItems.IsNewPath==true)
            {
                var url = DocumentViewUrl + "?url=" + FileUrl + _selectedItems.FilePath;
                await ClipboardService.WriteTextAsync(url);
                toastService.ShowToast("Copied", AC.SD.Core.Services.ToastLevel.Info);
            }
            else
            {
                var url = DocumentViewUrl + "?url=" + ServerUrl + _selectedItems.FilePath;
                await ClipboardService.WriteTextAsync(url);
                toastService.ShowToast("Copied", AC.SD.Core.Services.ToastLevel.Info);
            }
        }
    }
    private void LoadFiles(InputFileChangeEventArgs e)
    {

    }
    void OnSecurity()
    {
        PopupVisibleSecurityAccess = true;
    }
    void onDownload()
    {

    }
    void onmore()
    {

    }
    void onInfo()
    {

    }
    async Task Download()
    {
        if (_selectedItems != null && _selectedItems.DocumentID > 0 && _selectedItems.FilePath != null)
        {
            var response = await Mediator.Send(new GetFileDownload(_selectedItems.DocumentID));
            if (response.StatusCodeID == 0)
            {
                toastService.ShowToast("File Not Exits", AC.SD.Core.Services.ToastLevel.Error);
            }
            else
            {
                //  Trigger file download
                await jsRuntime.InvokeVoidAsync("downloadFile", _selectedItems.FileName, response.ImageData, "");
            }
        }
    }
    async Task CloseUploadPopup()
    {
        PopupUpload = false;
        await loadFileProfileData();
    }
    async Task onUploadFileProfileType()
    {
        await refUploadDoumentFiles.loadData(_ParentselectedItems,applicationUser);
        onShowMain = "display:none;";
        onUploadVisible = "";
        StateHasChanged();
    }
    void onUpload()
    {
        PopupUpload = true;
    }
    async void onView()
    {
        if (_selectedItems != null && _selectedItems.DocumentID > 0 && _selectedItems.FilePath != null)
        {
            if(_selectedItems.IsNewPath==true)
            {
                 var url = DocumentViewUrl + "?url=" + FileUrl + _selectedItems.FilePath;
                await OpenDocumentPreview(url);
            }
            else
            {
                var url = DocumentViewUrl + "?url=" + ServerUrl + _selectedItems.FilePath;
                await OpenDocumentPreview(url);
            }

        }
    }
    private async Task OpenDocumentPreview(string url)
    {
        await jsRuntime.InvokeVoidAsync("window.open", url, "_blank");
    }
    async Task onDelete()
    {
        if (_selectedItems != null && _selectedItems.DocumentID > 0)
        {
            await Mediator.Send(new GetFileProfileTypeDelete(_selectedItems));
            await loadFileProfileData();
        }
    }
    async Task onHistory()
    {
        if (_selectedItems != null && _selectedItems.DocumentID > 0)
        {
            selectedFiles = _selectedItems;
            PopupVisible = true;
        }

    }
    async Task onCheckOut()
    {
        if (_selectedItems != null && _selectedItems.DocumentID > 0)
        {

            await Mediator.Send(new GetFileProfileTypeCheckOut(_selectedItems));
            //await loadFileProfileData();
            _selectedItems.IsLocked=true;
            _selectedItems.LockedByUserId=applicationUser.UserID;
            _selectedItems.LockedByUser = applicationUser.UserName;
            permissionEnabled();
            await Download();
        }
    }
    void onCheckin()
    {
        PopupUpload = true;
    }
    void onNotify()
    {

    }
    void onShare()
    {

    }
    async Task onLinkDocuments()
    {
        if (_selectedItems != null && _selectedItems.DocumentID > 0)
        {
            selectedFiles = _selectedItems;
            PopupVisibleLinkDocument = true;
        }
    }

    void onFormDetails()
    {

    }
    async Task CloseLinkParentDocumentPopup()
    {
        PopupVisibleLinkParentDocument = false;
    }
    void onViewparentDocuments()
    {
        LinkProfileSelectedFiles.DocumentLinkId = 0;
        LinkProfileSelectedFiles.LinkDocumentId = _selectedItems.DocumentID;
        LinkProfileSelectedFiles.DocumentID = _selectedItems.DocumentID;
        PopupVisibleLinkParentDocument = true;
    }
    void onRename()
    {
        OnButtonRenameDescriptionClick();
    }
    void onReleaseforwiki()
    {

    }
    void ClosePopup()
    {
        PopupVisible = false;
    }
    void CloseLinkDocumentPopup()
    {
        PopupVisibleLinkDocument = false;
    }
    void OnButtonDescriptionClick(DocumentsModel items)
    {
        IsDescriptionOpen = true;
        _selectedDescriptionItems = new DocumentsModel();
        _selectedDescriptionItems = items;
    }
    async Task OnUpdateDescription()
    {
        await Mediator.Send(new GetUpdateDescriptionField(_selectedDescriptionItems));
        await loadFileProfileData();
        toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
        IsDescriptionOpen = false;
    }
    void OnButtonExpiryDateClick(DocumentsModel items)
    {
        IsExpiryDateOpen = true;
        _selectedDescriptionItems = new DocumentsModel();
        _selectedDescriptionItems = items;
    }
    void OnButtonRenameDescriptionClick()
    {
        IsRenameOpen = true;
        _selectedDescriptionItems = new DocumentsModel();
        _selectedDescriptionItems = _selectedItems;
        if (!string.IsNullOrEmpty(_selectedDescriptionItems.FileName))
        {
            NewRename = _selectedDescriptionItems.FileName.Remove(_selectedDescriptionItems.FileName.LastIndexOf("."));
        }
    }
    async Task OnUpdateExpiryDate()
    {
        await Mediator.Send(new GetUpdateExpiryDateField(_selectedDescriptionItems));
        await loadFileProfileData();
        toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
        IsExpiryDateOpen = false;
    }
    async Task OnUpdateDocumentRename()
    {
        var NewName =NewRename != null ? NewRename.Trim() : "";
        if (!string.IsNullOrEmpty(NewName))
        {
            _selectedDescriptionItems.FileName = NewRename + "." + _selectedDescriptionItems.Extension;
            await Mediator.Send(new GetUpdateDocumentRename(_selectedDescriptionItems));
            await loadFileProfileData();
            toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            IsRenameOpen = false;
        }
    }
    void CloseSecurityAccessPopup()
    {
        PopupVisibleSecurityAccess = false;
    }
    async void BackUpload()
    {
        onShowMain = "";
        onUploadVisible = "display:none;";
        PopupUpload = false;
        await loadFileProfileData();
        StateHasChanged();

    }
}
