@page "/fileprofiletype"
@page "/fileprofiletype/{SessionId:guid}"
@using Application.Queries;
@using MediatR;
@inject IMediator Mediator
@using global::Core.Entities;
@using global::Core.Entities.Views;
@using global::Core.EntityModels;
@inject IJSRuntime jsRuntime
@inject NavigationManager NavigationManager
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration
@inject ClipboardService ClipboardService
@using global::Core.Repositories.Query;
@inject ILocalStorageService<ApplicationUser> _localStorageService
<div class="menu-bar-content-container col-md-12">
    <div class="card w-100" style="margin-bottom:1px;">



        <div class="card-body p-0">

            <DxMenu CollapseItemsToHamburgerMenu="true"
                    CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                    DisplayMode="MenuDisplayMode.Desktop">

                <Items>
                    <DxMenuItem Position="ItemPosition.Start" IconCssClass="fa fa-reply " Click="onBack" />
                    <DxMenuItem Position="ItemPosition.End" IconCssClass="fa fa-shield" Click="OnSecurity" Enabled="@securityEnabled" />
                    <DxMenuItem Position="ItemPosition.End" IconCssClass="fa fa-file-excel" Click="onDownload" Enabled="@ondownloadEnabled" />
                    <DxMenuItem Position="ItemPosition.End" IconCssClass="fa fa-ellipsis-v" Click="onmore" Enabled="@moreEnabled" />
                    <DxMenuItem Position="ItemPosition.End" IconCssClass="fa fa-info-circle " Click="onInfo" Enabled=@informationEnabled />

                    <DxMenuItem Text="More" Position="ItemPosition.End" IconCssClass="fa fa-ellipsis-v" style="@isVisibleMore">
                        <Items>
                            <DxMenuItem Text="Download" IconCssClass="fa fa-cloud-download" Click="Download" Enabled="@DownloadEnabled" />
                            <DxMenuItem Text="Upload" IconCssClass="fa fa-cloud-upload" Enabled="@uploadEnabled">
                                <TextTemplate>
                                    <label for="input-file" style="cursor:pointer;">
                                        Upload
                                    </label>
                                </TextTemplate>
                            </DxMenuItem>
                            <DxMenuItem Text="View File" IconCssClass="fa fa-eye" Click="onView" Enabled="@viewfileEnabled" />
                            <DxMenuItem Text="Copy Link" IconCssClass="fa fa-clone" Click="onCopy" Enabled="@copylinkEnabled" />


                            <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="onDelete" Enabled="@deleteEnabled" />
                            <DxMenuItem Text="History" IconCssClass="fa fa-history" Click="onHistory" Enabled="@historyEnabled" />
                            <DxMenuItem Text="Check Out" IconCssClass="fa fa-check-square" Click="onCheckOut" Enabled="@checkoutEnabled" />
                            <DxMenuItem Text="Check In" IconCssClass="fa fa-check-circle" Enabled="@checkInEnabled">
                                <TextTemplate>
                                    <label for="input-file" style="cursor:pointer;">
                                        Check In
                                    </label>
                                </TextTemplate>
                            </DxMenuItem>
                            <DxMenuItem Text="Notify" IconCssClass="fa fa-comment" Click="onNotify" Enabled="@NotifyEnabled" />
                            <DxMenuItem Text="Share" IconCssClass="fa fa-share-square" Click="onShare" Enabled="@shareEnabled" />
                            <DxMenuItem Text="Link Document" IconCssClass="fa fa-link" Click="onLinkDownload" Enabled="@linkdownloadEnabled" />
                            <DxMenuItem Text="Form Details" IconCssClass="fa fa-info-circle" Click="onFormDetails" Enabled="@formdetailsEnabled" />
                            <DxMenuItem Text="View Parent Documents" IconCssClass="fa fa-paperclip" Click="onViewparentDocuments" Enabled="@viewParentEnabled" />
                            <DxMenuItem Text="Rename" IconCssClass="fa fa-pencil" Click="onRename" Enabled="@renameEnabled" />
                            <DxMenuItem Text="Relese For Wiki" IconCssClass="fa fa-paperclip" Click="onReleaseforwiki" Enabled="@releasewikiEnabled" />
                        </Items>
                    </DxMenuItem>

                </Items>
            </DxMenu>

        </div>


    </div>
</div>
<div class="demo-breadcrumbs-container theme-blazing-berry">
    <div class="breadcrumb">
        <div class="demo-breadcrumbs sidebar-hidden">
            <!--!-->

            <div class="items">
                <a href="javascript:void(0);" onclick="@(() => openFileProfileMainLink())">Main</a>
                @if (FolderPathLists.Count > 0)
                {
                    <span class="separator"></span>
                    @foreach (var item in FolderPathLists)
                    {
                        var names = item.FileName.Length > 20 ? item.FileName.Substring(0, 20) + "..." : item.FileName;
                        if (FolderPathLists.IndexOf(item) == FolderPathLists.Count - 1)
                        {
                            <span title="@item.FileName">@names</span>
                        }
                        else
                        {
                            <a href="javascript:void(0);" title="@item.FileName" onclick="@(() => openFileProfileLink(item))">@names</a>
                        }
                        <span class="separator"></span>
                    }
                }
            </div>
        </div>
    </div>
</div>

<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">
    <DxGrid @ref="Grid"
            Data="fileProfileTypeDocuments"
            KeyFieldName="DocumentID"
            EditMode="GridEditMode.EditForm"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            EditorRenderMode="GridEditorRenderMode.Integrated"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            CustomizeCellDisplayText="Grid_CustomizeCellDisplayText"
            PageSize="20" CustomizeElement="Grid_CustomizeElement" ValidationEnabled="false"
            RowClick="OnRowClick"
            RowDoubleClick="OnRowDoubleClick"
            FocusedRowEnabled="true"
            AllowSelectRowByClick="true"
            CustomizeSummaryDisplayText="Grid_CustomizeSummaryDisplayText"
            SelectionMode="GridSelectionMode.Single"
            CssClass="ch-360"
            style="height: calc(100vh - 250px);">
        <Columns>
            <DxGridDataColumn FieldName="DocumentID" Visible="false" />
            <DxGridDataColumn FieldName="FileName" Caption="Name" MinWidth="80">
                <CellDisplayTemplate>

                    @{
                        var item = (DocumentsModel)context.DataItem;
                    }
                    @if (item.Type == "Document")
                    {
                        @if (item.IsLocked == true)
                        {
                            <i class="fa fa-lock" aria-hidden="true" style="margin-right: 5px;"></i>
                        }
                    }
                    else
                    {
                        <i class="fa fa-folder" aria-hidden="true" style="margin-right: 5px;"></i>
                    }
                    @item.FileName
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="ProfileNo" Caption="Profile" MinWidth="80" />
            <DxGridDataColumn FieldName="FileSizes" Caption="File Size" MinWidth="40">
                <CellDisplayTemplate>
                    @{
                        var item = (DocumentsModel)context.DataItem;
                    }

                    @(item.FileSizes + (!string.IsNullOrEmpty(item.FileCounts) ? ("," + item.FileCounts) : ""))
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="Description" MinWidth="80" />
            <DxGridDataColumn FieldName="AddedByUser" Caption="ModifiedBy" MinWidth="40" />
            <DxGridDataColumn FieldName="AddedDate" Caption="Modified" MinWidth="40" />
        </Columns>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="ProfileNo" />
        </TotalSummary>
    </DxGrid>
</DxLoadingPanel>
<DxPopup @bind-Visible="@PopupVisible"
         ShowFooter="true"
         HeaderText="CRT"
         Width="1000px">
    <BodyContentTemplate>
        <HistoryPopup selectedFiles="@selectedFiles"></HistoryPopup>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => ClosePopup())" />
    </FooterContentTemplate>
</DxPopup>
@code {
    IGrid Grid { get; set; }
    [Parameter]
    public Guid? SessionId { get; set; }
    public bool PopupVisible { get; set; } = false;
    public DocumentsModel selectedFiles { get; set; }
    public long? FileProfileTypeId { get; set; }
    private List<DocumentsModel> fileProfileTypeDocuments { get; set; }
    private List<DocumentsModel> fileProfileTypeDocumentsAll { get; set; }
    private DocumentTypeModel _fileProfileselectedlstItems { get; set; }
    bool PanelVisible { get; set; }
    List<DocumentsModel> FolderPathLists = new List<DocumentsModel>();
    private DocumentsModel _selectedItems;
    public string Name;
    public string isVisibleMore { get; set; } = "display:none;";
    public bool DownloadEnabled { get; set; } = false;
    public bool uploadEnabled { get; set; } = false;
    public bool copylinkEnabled { get; set; } = false;
    public bool deleteEnabled { get; set; } = false;
    public bool viewfileEnabled { get; set; } = false;
    public bool historyEnabled { get; set; } = false;
    public bool checkoutEnabled { get; set; } = false;
    public bool checkInEnabled { get; set; } = false;
    public bool NotifyEnabled { get; set; } = false;
    public bool shareEnabled { get; set; } = false;
    public bool formdetailsEnabled { get; set; } = false;
    public bool linkdownloadEnabled { get; set; } = false;
    public bool viewParentEnabled { get; set; } = false;
    public bool renameEnabled { get; set; } = false;
    public bool releasewikiEnabled { get; set; } = false;
    public bool ondownloadEnabled { get; set; } = false;
    public bool securityEnabled { get; set; } = false;
    public bool moreEnabled { get; set; } = false;
    public bool informationEnabled { get; set; } = false;
    public ApplicationUser applicationUser { get; private set; }
    private string? DocumentViewUrl;
    private string? ServerUrl;
    protected override async Task OnInitializedAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        DocumentViewUrl = Configuration["DocumentsUrl:DocumentViewer"];
        ServerUrl = Configuration["DocumentsUrl:ServerUrl"];
        fileProfileTypeDocumentsAll = await Mediator.Send(new GetAllfileprofiletypeListQuery());
    }
    protected override async Task OnParametersSetAsync()
    {
        isVisibleMore = "display:none;";
        ondownloadEnabled = false; moreEnabled = false; informationEnabled = false; securityEnabled = false;

        FolderPathLists = new List<DocumentsModel>();
        FileProfileTypeId = fileProfileTypeDocumentsAll.FirstOrDefault(f => f.SessionID == SessionId)?.FileProfileTypeId;

        if (FileProfileTypeId > 0)
        {
            var fileType = fileProfileTypeDocumentsAll.Where(w => w.FileProfileTypeId == FileProfileTypeId).FirstOrDefault();
            if (fileType != null)
            {

                FolderPathLists = GetAllFileProfileTypeName(fileProfileTypeDocumentsAll, fileType, FolderPathLists);
                FolderPathLists.Add(fileType);
            }
        }
        await loadFileProfileData();
        base.OnParametersSet();
    }
    async Task loadFileProfileData()
    {
        PanelVisible = true;
        _fileProfileselectedlstItems = await Mediator.Send(new GetAllSelectedfileprofiletypeQuery(FileProfileTypeId));
        fileProfileTypeDocuments = _fileProfileselectedlstItems.DocumentsData;

        if (fileProfileTypeDocuments.Count > 0)
        {
            _selectedItems = fileProfileTypeDocuments.FirstOrDefault();
            permissionEnabled();
            Grid.SetFocusedRowIndex(0);
        }
        else
        {
            PermiisionMain();
        }
        PanelVisible = false;
        StateHasChanged();
    }
    void PermiisionMain()
    {
        isVisibleMore = "display:none;";
        DownloadEnabled = false; uploadEnabled = false; copylinkEnabled = false; viewfileEnabled = false;
        deleteEnabled = false; historyEnabled = false; checkoutEnabled = false; checkInEnabled = false;
        shareEnabled = false; NotifyEnabled = false; formdetailsEnabled = false; linkdownloadEnabled = false; formdetailsEnabled = false;
        renameEnabled = false; releasewikiEnabled = false; viewParentEnabled = false;
        if (_selectedItems != null)
        {
            ondownloadEnabled = true;
            moreEnabled = true;
            informationEnabled = true;
            securityEnabled = true;
        }
    }

    public void permissionEnabled()
    {
        PermiisionMain();
        var permissionData = _selectedItems.DocumentPermissionData;
        if (_selectedItems != null && _selectedItems.FilterProfileTypeId > 0)
        {
            isVisibleMore = "";
            ondownloadEnabled = true; moreEnabled = true; informationEnabled = true; securityEnabled = true; DownloadEnabled = false;
            uploadEnabled = false; copylinkEnabled = false; viewfileEnabled = false; deleteEnabled = false; historyEnabled = false;
            checkoutEnabled = false; checkInEnabled = false; shareEnabled = false; NotifyEnabled = false;
            linkdownloadEnabled = false; formdetailsEnabled = false; renameEnabled = false; releasewikiEnabled = false; viewParentEnabled = false;

            if (_selectedItems.IsLocked == true)
            {
                uploadEnabled = false; deleteEnabled = false; DownloadEnabled = false;
                viewfileEnabled = false; historyEnabled = false; checkoutEnabled = false; checkInEnabled = true;
                NotifyEnabled = false; releasewikiEnabled = false; copylinkEnabled = false;
            }
            else
            {
                if (applicationUser.UserID == _selectedItems.AddedByUserID)
                {
                    uploadEnabled = true; DownloadEnabled = true; copylinkEnabled = true; viewfileEnabled = true; deleteEnabled = true; historyEnabled = true;
                    checkoutEnabled = true; checkInEnabled = false; shareEnabled = true; NotifyEnabled = true; formdetailsEnabled = true; linkdownloadEnabled = true;
                    renameEnabled = true; releasewikiEnabled = true; viewParentEnabled = true;
                    if (_selectedItems.IsLocked == true)
                    {
                        checkoutEnabled = false;
                        checkInEnabled = true;
                    }
                }
                else
                {
                    NotifyEnabled = true;
                    if (permissionData != null)
                    {
                        if (permissionData.IsUpdateDocument == true)
                        {
                            uploadEnabled = true; checkoutEnabled = true; checkInEnabled = false; releasewikiEnabled = true;
                            linkdownloadEnabled = true; formdetailsEnabled = true; viewParentEnabled = true;
                        }
                        if (permissionData.IsDelete == true)
                        {
                            deleteEnabled = true;
                        }
                        if (permissionData.IsRead == true)
                        {
                            DownloadEnabled = true; viewfileEnabled = true;
                        }
                        if (permissionData.IsListVersion == true)
                        {
                            historyEnabled = true;
                        }
                        if (permissionData.IsCopy == true)
                        {
                            copylinkEnabled = true;
                        }
                        if (permissionData.IsRename == true)
                        {
                            renameEnabled = true;
                        }
                        if (permissionData.IsShare == true)
                        {
                            shareEnabled = true;
                        }
                    }
                    if (_selectedItems.IsLocked == true)
                    {
                        checkoutEnabled = false;
                        checkInEnabled = true;
                    }
                }
            }

        }
        StateHasChanged();
    }
    private List<DocumentsModel> GetAllFileProfileTypeName(List<DocumentsModel> foldersListItems, DocumentsModel s, List<DocumentsModel> foldersModel)
    {
        if (s.ParentId != null)
        {
            var items = foldersListItems.FirstOrDefault(f => f.FileProfileTypeId == s.ParentId);
            GetAllFileProfileTypeName(foldersListItems, items, foldersModel);
            foldersModel.Add(items);
        }
        return foldersModel;
    }
    public void openFileProfileLink(DocumentsModel documentsModel)
    {
        NavigationManager.NavigateTo("fileprofiletype/" + documentsModel.SessionID);
    }
    public void openFileProfileMainLink()
    {
        NavigationManager.NavigateTo("fileprofiletype");
    }
    void onCopyLink()
    {

    }
    void onReserveNumberSeries()
    {

    }
    async Task OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "DocumentID");
        _selectedItems = fileProfileTypeDocuments.FirstOrDefault(f => f.DocumentID == (long?)UniqueId);
        permissionEnabled();
        StateHasChanged();
    }
    async Task OnRowDoubleClick(GridRowClickEventArgs e)
    {
        if (_selectedItems.FileProfileTypeId > 0)
        {
            NavigationManager.NavigateTo($"fileprofiletype/" + _selectedItems.SessionID);
        }
        else
        {
            await OnRowClick(e);
        }
    }
    void Grid_CustomizeCellDisplayText(GridCustomizeCellDisplayTextEventArgs e)
    {
        if (e.FieldName == "FileSizes")
        {
            var dataItems = (DocumentsModel)e.DataItem;
            if (dataItems.FileProfileTypeId > 0)
            {
                // var resp = await Mediator.Send(new GetAllSelectedFileCountQuery(dataItems.FileProfileTypeId.Value));
                //e.DisplayText = "Test";
            }
        }
    }
    void Grid_CustomizeSummaryDisplayText(GridCustomizeSummaryDisplayTextEventArgs e)
    {
        if (e.Item.Name == "Custom")
            e.DisplayText = string.Format("Sum of Selected: {0:c}", e.Value);
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
        //if (e.ElementType == GridElementType.DataCell)
        //{
        //    var dataColumn = (IGridDataColumn)e.Column;
        //    switch (dataColumn.FieldName)
        //    {
        //        case "FileSizes":
        //            var FileProfileTypeIds = e.Grid.GetRowValue(e.VisibleIndex, "FileProfileTypeId");
        //            break;
        //    }
        //}
        if (e.ElementType == GridElementType.HeaderCell)
        {
            e.Style = "background-color: rgba(0, 0, 0, 0.08)";
            e.CssClass = "header-bold";
        }
    }
    void onBack()
    {
        NavigationManager.NavigateTo($"fileprofiletype");
    }


    private async Task onCopy()
    {
        if (_selectedItems.DocumentID > 0)
        {
            var url = DocumentViewUrl + "?url=" + ServerUrl + _selectedItems.FilePath;
            await ClipboardService.WriteTextAsync(url);

        }
    }
    private void LoadFiles(InputFileChangeEventArgs e)
    {

    }
    void OnSecurity()
    {

    }
    void onDownload()
    {

    }
    void onmore()
    {

    }
    void onInfo()
    {

    }
    async Task Download()
    {
        if (_selectedItems.DocumentID > 0 && _selectedItems.FilePath != null)
        {
            var response = await Mediator.Send(new GetFileDownload(_selectedItems));
            //  Trigger file download
            await jsRuntime.InvokeVoidAsync("downloadFile", _selectedItems.FileName, response.ImageData, "");
        }
    }
    void onUpload()
    {

    }
    async void onView()
    {
        if (_selectedItems.DocumentID > 0 && _selectedItems.FilePath != null)
        {
            var url = DocumentViewUrl + "?url=" + ServerUrl + _selectedItems.FilePath;
            await OpenDocumentPreview(url);
        }
    }
    private async Task OpenDocumentPreview(string url)
    {
        await jsRuntime.InvokeVoidAsync("window.open", url, "_blank");
    }
    async Task onDelete()
    {
        if (_selectedItems.DocumentID > 0)
        {
            await Mediator.Send(new GetFileProfileTypeDelete(_selectedItems));
            await loadFileProfileData();
        }
    }
    async Task onHistory()
    {
        selectedFiles = _selectedItems;
        PopupVisible = true;

    }
    async Task onCheckOut()
    {
        if (_selectedItems.DocumentID > 0)
        {
            await Mediator.Send(new GetFileProfileTypeCheckOut(_selectedItems));
            await loadFileProfileData();
            await Download();
        }
    }
    async Task onCheckin()
    {

    }
    void onNotify()
    {

    }
    void onShare()
    {

    }
    void onLinkDownload()
    {

    }
    void onFormDetails()
    {

    }
    void onViewparentDocuments()
    {

    }
    void onRename()
    {

    }
    void onReleaseforwiki()
    {

    }
    void ClosePopup()
    {
        PopupVisible = false;
    }
}
