@page "/fileProfileTypeTreeView"
@page "/fileProfileTypeTreeView/{FileProfileTypeId}"
@using Application.Queries;
@using global::Core.Entities;
@using MediatR
@using global::Core.Entities.Views;
@inject IMediator Mediator
 
  
@*  <div class="main-container">

    <div class="content-container row">
      

      <div class=" col-md-4">
                <div class="mini-menu-bar-top" style="height: calc(100vh - 200px);">
                <div class="mini-menu-bar-heading">
                        <div class="files-title">Application Permission </div>
                  

                </div>
                <div>
                    <div class="views-accordion">
                             <DxTreeView Data="@_TreeData"
                            @bind-FilterString="FilterString"
                                            FilterMinLength="2"
                                            ShowFilterPanel="true"
                                            FilterMode="FilterMode"
                                            AllowSelectNodes="true"
                                            LoadChildNodesOnDemand=false  SelectionChanged="@SelectionChanged"
                                            AnimationType="LayoutAnimationType.Slide">
                                            <DataMappings>
                                            <DxTreeViewDataMapping Children="Children" CssClass="CssClass" Text="Label" Name="ParentID" />
                                            </DataMappings>
                                </DxTreeView>
                    </div>
                </div>
            </div>
             <div class="menu-bar-content-container col-md-7">
                    <div class="content-padding-20">
                        <div class="menu-bar-content-container-heading">
                            <div class="heading-icon-text">
                                <div class="mb-cc-text">
                                    <div class="card w-100">
                                        <div class="card-body p-0">

                                        <DxGrid @ref="Grid"
                                                Data="_fileProfileselectedlst"
                                                KeyFieldName="FileProfileTypeId"
                                                EditMode="GridEditMode.EditForm" 
                                                SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
                                                EditorRenderMode="GridEditorRenderMode.Integrated"
                                                ColumnResizeMode="GridColumnResizeMode.NextColumn"
                                                FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                                ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
                                                PagerNavigationMode="PagerNavigationMode.InputBox" 
                                                PageSizeSelectorVisible="true"
                                                PageSizeSelectorAllRowsItemVisible="true"
                                                PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                                                PageSize="20"  CustomizeElement="Grid_CustomizeElement"    ValidationEnabled="false"                                            F

                                                FocusedRowEnabled="false"
                                                AllowSelectRowByClick="true"
                                                SelectionMode="GridSelectionMode.Single"
                                                CssClass="ch-360"
                                                style="height: calc(100vh - 220px);">
                                            <Columns>

                                                <DxGridDataColumn FieldName="DocumentName" Caption="File Name"  MinWidth="80" />
                                                <DxGridDataColumn FieldName="FileProfileTypeName"  Caption="Profile Type Name" MinWidth="80" />
                                                 <DxGridDataColumn FieldName="ProfileNo" Caption="Profile No" MinWidth="80" />
                                                  <DxGridDataColumn FieldName="DocFileSize" Caption="Size(KB)" MinWidth="80" />
                                                    <DxGridDataColumn FieldName="DocumentDescription" Caption="Description" MinWidth="80" />
                                                      <DxGridDataColumn FieldName="ExpiryDate" Caption="Expiry Date" MinWidth="80" />
                                                      <DxGridDataColumn FieldName="ModifiedBy" Caption="Modified By" MinWidth="80" />
                                                      <DxGridDataColumn FieldName="ModifiedDate" Caption="Modified Date" MinWidth="80" />
                                            </Columns>

                                        </DxGrid>
                                        </div>
                                    </div>
                                </div>

                            </div>
                         </div>
                    </div>
                 </div>

       
      </div>
     </div>
  </div>*@




  
<div class="">
    <div class="main-container row" style="border: 1px solid #b2afaf;  margin-bottom:10px;">
        
            <div class="mini-menu-bar col-md-3" >
                 <div class="" style="margin-top:10px;">
                <div class="mini-menu-bar-top">
                    <div class="mini-menu-bar-heading">
                        <div class="files-title"></div>
                    </div> 
                    <div>
                        <div class="views-accordion">
                            <DxTreeView Data="@_TreeData"
                            @bind-FilterString="FilterString"
                                            FilterMinLength="2"
                                            ShowFilterPanel="true"
                                            FilterMode="FilterMode"
                                            AllowSelectNodes="true"
                                            LoadChildNodesOnDemand=false  SelectionChanged="@SelectionChanged"
                                            AnimationType="LayoutAnimationType.Slide">
                                            <DataMappings>
                                            <DxTreeViewDataMapping Children="Children" CssClass="CssClass" Text="Label" Name="ParentID" />
                                            </DataMappings>
                                </DxTreeView>
                        </div>
                    </div>
                </div>
                  </div>
                 </div>
                  


                          
            <div class="col-md-9">
               
                 
                    <div class="" style="margin-top:10px;  margin-bottom:10px;">
                      
                           <DxGrid @ref="Grid"
                                                Data="_fileProfileselectedlst"
                                                KeyFieldName="FileProfileTypeId"
                                                EditMode="GridEditMode.EditForm" 
                                                SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
                                                EditorRenderMode="GridEditorRenderMode.Integrated"
                                                ColumnResizeMode="GridColumnResizeMode.NextColumn"
                                                FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                                ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
                                                PagerNavigationMode="PagerNavigationMode.InputBox" 
                                                PageSizeSelectorVisible="true"
                                                PageSizeSelectorAllRowsItemVisible="true"
                                                PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                                                PageSize="20"  CustomizeElement="Grid_CustomizeElement"    ValidationEnabled="false"                                            F

                                                FocusedRowEnabled="false"
                                                AllowSelectRowByClick="true"
                                                SelectionMode="GridSelectionMode.Single"
                                                CssClass="ch-360"
                                                style="height: calc(100vh - 200px);">
                                            <Columns>

                                                <DxGridDataColumn FieldName="DocumentName" Caption="File Name"  MinWidth="80" />
                                                <DxGridDataColumn FieldName="FileProfileTypeName"  Caption="Profile Type Name" MinWidth="80" />
                                                 <DxGridDataColumn FieldName="ProfileNo" Caption="Profile No" MinWidth="80" />
                                                  <DxGridDataColumn FieldName="DocFileSize" Caption="Size(KB)" MinWidth="80" />
                                                    <DxGridDataColumn FieldName="DocumentDescription" Caption="Description" MinWidth="80" />
                                                      <DxGridDataColumn FieldName="ExpiryDate" Caption="Expiry Date" MinWidth="80" />
                                                      <DxGridDataColumn FieldName="ModifiedBy" Caption="Modified By" MinWidth="80" />
                                                      <DxGridDataColumn FieldName="ModifiedDate" Caption="Modified Date" MinWidth="80" />
                                                       
                        
                                            </Columns>

                                        </DxGrid>
                                </div>
                            </div>
                        </div>
                    </div>
            
        

@code {
    IGrid Grid { get; set; }
    [Parameter]
    public string FileProfileTypeId { get; set; }
    DxTreeView treeview;
    private List<Fileprofiletype> _TreeData { get; set; }
    private List<view_GetFileProfileTypeDocument> _fileProfileselectedlst { get; set; }
    string FilterString { get; set; }
    string SelectedGroup = "none";
    NavigationFilterMode FilterMode { get; set; } = NavigationFilterMode.EntireBranch;
    bool PanelVisible { get; set; }

    protected override async Task OnInitializedAsync()
    {

        _TreeData = await Mediator.Send(new GetAllfileprofiletypeQuery(long.Parse(FileProfileTypeId)));
      
    }
    private async Task SelectionChanged(TreeViewNodeEventArgs e)
    {
        var list = (Fileprofiletype)e.NodeInfo.DataItem;
      
        _fileProfileselectedlst = await Mediator.Send(new GetAllSelectedfileprofiletypeQuery(list.FileProfileTypeId));

    }

    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
        if (e.ElementType == GridElementType.HeaderCell)
        {
            e.Style = "background-color: rgba(0, 0, 0, 0.08)";
            e.CssClass = "header-bold";
        }
    }
 }
