@page "/fileprofiletype/uploadDynamicForm/{MainSessionId:guid}"
@page "/fileprofiletype/uploadDynamicForm/{MainSessionId:guid}/{SessionIds:guid}"
@using System.ComponentModel.DataAnnotations;
@using Newtonsoft.Json.Linq;
@using global::Core.AttributeDynamicData;
@using global::Core.Entities.Views;
@using global::Core.Entities;
@using Application.Queries;
@inject IMediator Mediator
@using MediatR
@using global::Core.EntityModels;
@using global::Core.Repositories.Query;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager
@using global::Core.Helpers;
@using System.Reflection;
@using System.Linq.Expressions;
@using Newtonsoft.Json;
@using System.Collections
@implements IDisposable
<div class="card cw-480">
    <div class="card-header text-center py-3">
        <h4>@_dynamicform?.Name</h4>
        @*  <p class="tm-8 mb-0 fw-normal fs-825">
        Create a new account to see it in action
        </p> *@
    </div>
        <div class="card" style="margin-top: 5px;padding: 5px;">
            <div class="card-body p-0">
                <div class="row">
                    <div class="">
                        @if (isApprovalEnabled == true)
                        {
                            <DxMenu CollapseItemsToHamburgerMenu="true"
                                    CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                                    DisplayMode="MenuDisplayMode.Desktop">
                                <Items>
                                    <DxMenuItem Text="Back" IconCssClass="fa fa-reply" Click="@backUrl" />
                                    <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" />

                                    <DxMenuItem Text="Save">
                                        <Items>
                                            <DxMenuItem Text="Save/Before Approval" IconCssClass="fa fa-save" Click="SubmitFormExternally" Enabled=@isVisibleButton />
                                            <DxMenuItem Text="Send Approval" IconCssClass="fa fa-plus-circle" Click="SubmitApproveFormExternally" Enabled="IsSendApprovalVisible" />
                                        </Items>
                                    </DxMenuItem>
                                    <DxMenuItem Text="Approval" id=@($"flyout-overview-target-container-Description")>
                                        <Items>
                                            <DxMenuItem Text="@ApproveName" IconCssClass="fa fa-check" Click="onClickApprove" Enabled=@IsApprovalApproved />
                                            <DxMenuItem Text="@RejectName" IconCssClass="fa fa-ban" Click="onClickReject" Enabled="IsApprovalRejected" />
                                        </Items>
                                    </DxMenuItem>
                                    <DxMenuItem Text="Upload" IconCssClass="fa fa-cloud-upload" Click="@addUploadDocument" Enabled=@IsUploadEnabled />
                                </Items>
                            </DxMenu>
                        }
                        else
                        {
                            <DxMenu CollapseItemsToHamburgerMenu="true"
                                    CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                                    DisplayMode="MenuDisplayMode.Desktop">
                                <Items>
                                    <DxMenuItem Text="Back" IconCssClass="fa fa-reply" Click="@backUrl" />
                                    <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" />
                                    <DxMenuItem Text="Save" IconCssClass="fa fa-save" Click="@SubmitFormExternally" />
                                    <DxMenuItem Text="Upload" IconCssClass="fa fa-cloud-upload" Click="@addUploadDocument" Enabled=@IsUploadEnabled />
                                </Items>
                            </DxMenu>
                        }
                    </div>

                </div>
            </div>
        </div>
    <div class="demo-breadcrumbs-container theme-blazing-berry">
        <div class="breadcrumb">
            <div class="demo-breadcrumbs sidebar-hidden">
                <!--!-->

                <div class="items">
                    <a href="javascript:void(0);" onclick="@(() => openFileProfileMainLink())">Main</a>
                    @if (FolderPathLists.Count > 0)
                    {
                        <span class="separator"></span>
                        @foreach (var item in FolderPathLists)
                        {
                            var names = item.FileName.Length > 20 ? item.FileName.Substring(0, 20) + "..." : item.FileName;
                            if (FolderPathLists.IndexOf(item) == FolderPathLists.Count - 1)
                            {
                                <span title="@item.FileName">@names</span>
                            }
                            else
                            {
                                <a href="javascript:void(0);" title="@item.FileName" onclick="@(() => openFileProfileLink(item))">@names</a>
                            }
                            <span class="separator"></span>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <EditForm EditContext="this._editContext" Context="EditFormContext" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <DxTabs RenderMode="TabsRenderMode.OnDemand" @bind-ActiveTabIndex="@ActiveTabIndex" TabClick="OnTabClick">
            <DxTabPage Text="Form">
                <div class="card-body" style="margin-top:5px;">
                    @CreateEditFormFields()
                </div>
            </DxTabPage>
            @*  <DxTabPage Text="Approval" Visible="@isApproval"> *@
            <DxTabPage Text="Approval" Visible="@isApproval">
                <DxGrid Data="_dynamicFormApprovedList" style="padding:10px;"
                        KeyFieldName="DynamicFormApprovedId">
                    <Columns>
                        <DxGridDataColumn FieldName="ApprovalUser" Caption="User" />
                        <DxGridDataColumn FieldName="ApprovedStatus" Caption="Status" />
                        <DxGridDataColumn FieldName="ApprovedDescription" Caption="Description" />
                        <DxGridDataColumn FieldName="ApprovedByUser" Caption="Added By" />
                        <DxGridDataColumn FieldName="ApprovedDate" Caption="Added Date" />
                    </Columns>
                </DxGrid>
                @*  <DxFormLayout CssClass="w-100" style="padding:10px;">
                <DxFormLayoutItem Caption="" ColSpanMd="12">
                <DxCheckBox @bind-Checked="dynamicFormApproval.IsApproved" LabelPosition="LabelPosition.Right" Enabled="@isApproved">Approved</DxCheckBox>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Description" ColSpanMd="12">
                <DxMemo @bind-Text="@dynamicFormApproval.ApprovedDescription" Rows="5" ShowValidationIcon="true" Enabled="@isApproved" />
                </DxFormLayoutItem>
                </DxFormLayout> *@
            </DxTabPage>
        </DxTabs>
    </EditForm>
</div>
<DxPopup @bind-Visible="@isApprovedPopup"
         ShowFooter="true"
         HeaderText="Approved From"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Are you sure want to Approved?
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="HandleFormValidSubmit" />
    </FooterContentTemplate>
</DxPopup>
<DxFlyout @bind-IsOpen=IsDescriptionOpen
          PositionTarget=@($"#flyout-overview-target-container-Description")
          RestrictionTarget="#Navigation-Flyout-Customization"
          AnimationType="FlyoutAnimationType.Fade"
          PreventCloseOnPositionTargetClick="true"
          HeaderVisible="true"
          HeaderText=@($"{ApproveRejectName} Description")
          FooterVisible="true"
          CloseOnOutsideClick="false"
          FooterCssClass="custom-flyout-footer"
          MinWidth="500" MinHeight="200" MaxWidth="1000px" MaxHeight="800"
          Position=@(FlyoutPosition.BottomStart | FlyoutPosition.TopStart)>
    <BodyContentTemplate Context="PopupContext">
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="" ColSpanMd="12">
                <DxMemo @bind-Text="@dynamicFormApproval.ApprovedDescription" CssClass="cw-480" Rows="5" />
            </DxFormLayoutItem>
        </DxFormLayout>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="Close" Click=@(()=> IsDescriptionOpen = false) />
        <DxButton RenderStyle="ButtonRenderStyle.Success" Text="@ApproveRejectName" Click=@(()=> OnUpdateDescription()) />
    </FooterContentTemplate>
</DxFlyout>
<DxPopup @bind-Visible="@PopupUpload"
         HeaderText="Upload Documents"
         CloseOnOutsideClick="false"
         ShowCloseButton="false"
         ShowFooter="false"
         MinWidth="300" MinHeight="200" MaxWidth="1000px" MaxHeight="800">
    <BodyContentTemplate>
        <UploadDoumentDMSDynamicFiles _applicationUser="@applicationUser" _dynamicformData="@_dynamicformData" FileProfileTypeId="@FileProfileTypeId" RevokeBack="BackUpload"></UploadDoumentDMSDynamicFiles>

    </BodyContentTemplate>
</DxPopup>
@code {
    [Parameter]
    public Guid? MainSessionId { get; set; }
    public ApplicationUser applicationUser { get; set; }
    EditContext _editContext;
    [Parameter]
    public Guid? SessionIds { get; set; }
    public Guid? SessionId { get; set; }
    private DocumentsModel _ParentselectedItems;
    List<DocumentsModel> FolderPathLists = new List<DocumentsModel>();
    public int ActiveTabIndex { get; set; } = 0;
    private bool loading;
    public bool IsDescriptionOpen { get; set; } = false;
    private DynamicForm _dynamicform;
    private DynamicFormData _dynamicformData;
    private string MyID = Guid.NewGuid().ToString();
    private AttributeHeaderListModel _AttributeHeader;
    Object Data { get; set; } = new Object();
    DynamicFormData dynamicFormData = new DynamicFormData();
    public long? dynamicFormDataId { get; set; }
    bool isApproval { get; set; } = false; bool PopupUpload { get; set; } = false;
    bool isApprovedPopup { get; set; } = false;
    bool isApproved { get; set; } = true;
    bool isVisibleButton { get; set; } = true;
    bool IsSendApproval { get; set; } = false;
    bool IsSendApprovalVisible { get; set; } = true;
    bool IsApprovalApproved { get; set; } = false;
    bool IsApprovalRejected { get; set; } = false; bool IsUploadEnabled { get; set; } = false;
    bool IsSave { get; set; } = true; bool IsApprovalSave { get; set; } = true;
    string? ApproveName { get; set; } = "Approve";
    string? RejectName { get; set; } = "Reject";
    string? ApproveRejectName { get; set; } = "Approve";
    private DynamicFormApproved dynamicFormApproval = new DynamicFormApproved();
    private List<DynamicFormApproved>? _dynamicFormApprovedList;
    public long? FileProfileTypeId { get; set; }
    int isRequiredCount { get; set; } = 0;
    bool? isSubmit { get; set; } = false;
    Dictionary<string, string> dic = new Dictionary<string, string>();
    bool isApprovalEnabled { get; set; } = false;
    public List<DocumentsModel> fileProfileTypeDocumentsAll { get; set; }
    // bool isApproved { get; set; } = true;
    protected override async Task OnInitializedAsync()
    {
        _editContext = new EditContext(Data);
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        fileProfileTypeDocumentsAll = await Mediator.Send(new GetAllfileprofiletypeListQuery());

    }
    protected override async Task OnParametersSetAsync()
    {
        FolderPathLists = new List<DocumentsModel>();
        FileProfileTypeId = fileProfileTypeDocumentsAll.FirstOrDefault(f => f.SessionID == MainSessionId)?.FileProfileTypeId;
        if (FileProfileTypeId > 0)
        {
            var fileType = fileProfileTypeDocumentsAll.Where(w => w.FileProfileTypeId == FileProfileTypeId).FirstOrDefault();
            if (fileType != null)
            {
                _ParentselectedItems = fileType;
                if (fileType != null)
                {
                    FolderPathLists = GetAllFileProfileTypeName(fileProfileTypeDocumentsAll, fileType, FolderPathLists);
                    FolderPathLists.Add(fileType);
                    _dynamicform = await Mediator.Send(new GetDynamicFormById(_ParentselectedItems.DynamicFormId));
                    if (_dynamicform != null)
                    {
                        SessionId = _dynamicform.SessionID;
                        await loadDynamicForm();
                    }
                }
            }
        }
        base.OnParametersSet();
    }
    private List<DocumentsModel> GetAllFileProfileTypeName(List<DocumentsModel> foldersListItems, DocumentsModel s, List<DocumentsModel> foldersModel)
    {
        if (s.ParentId != null)
        {
            var items = foldersListItems.FirstOrDefault(f => f.FileProfileTypeId == s.ParentId);
            GetAllFileProfileTypeName(foldersListItems, items, foldersModel);
            foldersModel.Add(items);
        }
        return foldersModel;
    }
    public void openFileProfileMainLink()
    {
        NavigationManager.NavigateTo("fileprofiletype");
    }
    public void openFileProfileLink(DocumentsModel documentsModel)
    {
        NavigationManager.NavigateTo("fileprofiletype/" + documentsModel.SessionID);
    }
    async Task loadDynamicForm()
    {
        isApproval = false; isApproved = true; IsSendApproval = false; IsSendApprovalVisible = false; ApproveRejectName = "Approve";
        IsApprovalApproved = false; IsApprovalRejected = false; IsApprovalSave = false; IsDescriptionOpen = false; isSubmit = false;
        dynamicFormApproval = new DynamicFormApproved(); dynamicFormData = new DynamicFormData(); isApprovalEnabled = false;
        _dynamicformData = null; isVisibleButton = true; IsSave = true; IsUploadEnabled = false;
        if (SessionId != null)
        {
            if (_dynamicform != null)
            {
                if (_dynamicform.IsApproval == true)
                {
                    isApprovalEnabled = true;
                    StateHasChanged();
                }
                if (SessionIds != null)
                {
                    _dynamicformData = await Mediator.Send(new GetDynamicFormDataBySessionId(SessionIds));
                    if (_dynamicformData != null)
                    {
                        IsUploadEnabled = true;
                        if (_dynamicformData.isDocuments > 0)
                        {
                            IsUploadEnabled = false;
                        }
                        if (_dynamicform.IsApproval == true)
                        {
                            IsSendApproval = _dynamicformData.IsSendApproval == true ? true : false;
                            if (_dynamicformData.IsApproval == true)
                            {
                                if (_dynamicformData.IsSendApproval == true)
                                {
                                    IsSendApprovalVisible = false; IsApprovalSave = false;
                                    isVisibleButton = false; IsSave = false;
                                    if (_dynamicformData.isDocuments > 0)
                                    {
                                        IsUploadEnabled = false;
                                    }
                                }
                                else
                                {
                                    IsSendApprovalVisible = true; IsApprovalSave = true;
                                }
                            }
                            _dynamicFormApprovedList = await Mediator.Send(new GetDynamicFormApprovedList(_dynamicformData.DynamicFormDataId));
                            CheckApproval();
                        }

                    }
                }
                else
                {
                    if (_dynamicform.IsApproval == true && _dynamicform.DynamicFormApproval != null && _dynamicform.DynamicFormApproval.Count > 0)
                    {
                        var isNotApproved = _dynamicform.DynamicFormApproval.OrderBy(o => o.SortOrderBy).FirstOrDefault(f => f.ApprovalUserId == applicationUser.UserID)?.ApprovalUserId;
                        if (isNotApproved == applicationUser.UserID)
                        {
                            isApproval = false;
                        }
                    }
                }

            }

            if (_dynamicform != null)
            {
                var screenId = _dynamicform.ScreenID.Replace(" ", "_");
                _AttributeHeader = await Mediator.Send(new GetAllAttributeNameList(_dynamicform, applicationUser.UserID));
                if (_AttributeHeader.DynamicFormSectionAttribute != null && _AttributeHeader.DynamicFormSectionAttribute.Count > 0)
                {
                    Type[] typesList = _AttributeHeader.DynamicFormSectionAttribute.Select(s => s.DataType).ToArray();
                    string[] objectNameList = _AttributeHeader.DynamicFormSectionAttribute.Select(s => s.DynamicAttributeName).ToArray();
                    MyClassBuilder MCB = new MyClassBuilder(screenId);
                    var myclass = MCB.CreateObject(objectNameList, typesList);
                    Data = myclass;
                    if (_dynamicformData != null)
                    {
                        dynamicFormData.DynamicFormDataId = _dynamicformData.DynamicFormDataId;
                        dynamicFormData.SessionId = _dynamicformData.SessionId;
                        dynamicFormData.AddedDate = _dynamicformData.AddedDate;
                        dynamicFormData.AddedByUserID = _dynamicformData.AddedByUserID;
                        dynamicFormData.DynamicFormCurrentItem = _dynamicformData.DynamicFormItem;
                        dynamicFormData.DynamicFormId = _dynamicformData.DynamicFormId;
                        if (!string.IsNullOrEmpty(_dynamicformData.DynamicFormItem))
                        {
                            if (IsValidJson(_dynamicformData.DynamicFormItem))
                            {
                                dynamic jsonObj = JsonConvert.DeserializeObject(_dynamicformData.DynamicFormItem);
                                _AttributeHeader.DynamicFormSectionAttribute.ForEach(a =>
                                {
                                    var Names = jsonObj.ContainsKey(a.DynamicAttributeName);
                                    if (Names == true)
                                    {
                                        //var valueType = jsonObj[a.DynamicAttributeName].Type;
                                        var itemValue = jsonObj[a.DynamicAttributeName];
                                        if (itemValue is JArray)
                                        {
                                            var values = (JArray)itemValue;
                                            List<long?> listData = values.ToObject<List<long?>>();
                                            Data.GetType().GetProperty(a.DynamicAttributeName).SetValue(Data, listData);
                                        }
                                        else if (a.ControlType == "ListBox" && a.IsMultiple == false)
                                        {
                                            long? values = itemValue == null ? null : (long)itemValue;
                                            Data.GetType().GetProperty(a.DynamicAttributeName).SetValue(Data, values);
                                        }
                                        else
                                        {

                                            if (a.ControlType == "TextBox" || a.ControlType == "Memo")
                                            {
                                                var values = (string)itemValue;
                                                Data.GetType().GetProperty(a.DynamicAttributeName).SetValue(Data, values);
                                            }
                                            else if (a.ControlType == "ComboBox" || a.ControlType == "Radio" || a.ControlType == "RadioGroup")
                                            {
                                                long? values = itemValue == null ? null : (long)itemValue;
                                                Data.GetType().GetProperty(a.DynamicAttributeName).SetValue(Data, values);
                                            }
                                            else if (a.ControlType == "CheckBox")
                                            {
                                                bool? values = itemValue == null ? false : (bool)itemValue;
                                                Data.GetType().GetProperty(a.DynamicAttributeName).SetValue(Data, values);
                                            }
                                            else if (a.ControlType == "DateEdit")
                                            {
                                                DateTime? values = itemValue == null ? null : (DateTime)itemValue;
                                                Data.GetType().GetProperty(a.DynamicAttributeName).SetValue(Data, values);
                                            }
                                            else if (a.ControlType == "TimeEdit")
                                            {
                                                TimeSpan? values = itemValue == null ? null : (TimeSpan)itemValue;
                                                Data.GetType().GetProperty(a.DynamicAttributeName).SetValue(Data, values);
                                            }

                                            else if (a.ControlType == "SpinEdit")
                                            {
                                                if (a.IsSpinEditType == "decimal")
                                                {
                                                    decimal? values = itemValue == null ? null : (decimal)itemValue;
                                                    Data.GetType().GetProperty(a.DynamicAttributeName).SetValue(Data, values);
                                                }
                                                else
                                                {
                                                    int? values = itemValue == null ? null : (int)itemValue;
                                                    Data.GetType().GetProperty(a.DynamicAttributeName).SetValue(Data, values);
                                                }
                                            }
                                        }
                                    }
                                });
                            }
                        }
                    }
                }
            }
        }
        StateHasChanged();
    }
    void CheckApproval()
    {
        if (_dynamicFormApprovedList != null && _dynamicFormApprovedList.Count > 0)
        {
            var notApproved = _dynamicFormApprovedList.Where(z => z.IsApproved != true).OrderBy(o => o.DynamicFormApprovedId).ToList();
            var isApprovedListData = _dynamicFormApprovedList.Where(z => z.IsApproved == true).OrderBy(o => o.DynamicFormApprovedId).ToList();
            var isNotApproved = notApproved.OrderBy(o => o.DynamicFormApprovedId).FirstOrDefault()?.UserId;
            if (isNotApproved == applicationUser.UserID)
            {
                var UserApproveData = notApproved.FirstOrDefault(a => a.UserId == applicationUser.UserID);
                if (UserApproveData != null)
                {
                    dynamicFormApproval.ApprovedDescription = UserApproveData?.ApprovedDescription;
                    dynamicFormApproval.DynamicFormApprovalId = UserApproveData?.DynamicFormApprovalId;
                    dynamicFormApproval.DynamicFormApprovedId = UserApproveData.DynamicFormApprovedId;
                    dynamicFormApproval.DynamicFormDataId = UserApproveData.DynamicFormDataId;
                    if (IsSendApproval == true)
                    {
                        if (UserApproveData.IsApproved == false)
                        {
                            IsApprovalApproved = true;
                            IsApprovalRejected = false;
                        }
                        else if (UserApproveData.IsApproved == true)
                        {
                            IsApprovalApproved = false;
                            IsApprovalRejected = true;
                        }
                        else
                        {
                            IsApprovalApproved = true;
                            IsApprovalRejected = true;
                        }

                    }
                }
                else
                {
                    isVisibleButton = false; IsSave = false;
                    isApproval = true;
                }
            }
            else
            {
                var isnotApproved = notApproved.FirstOrDefault(f => f.IsApproved == null);
                if (isnotApproved != null)
                {
                    isApproval = false;
                    var appList = _dynamicFormApprovedList.Where(z => z.UserId == applicationUser.UserID).FirstOrDefault();
                    if (appList != null)
                    {
                        isApproval = true;
                    }
                    else
                    {
                        var approvedPending = _dynamicFormApprovedList.Where(w => w.IsApproved == null).ToList();
                        var approved = _dynamicFormApprovedList.Where(w => w.IsApproved == true).ToList();
                        var appPre = 0;
                        if (approvedPending != null && approvedPending.Count > 0)
                        {
                            if (approved != null && approved.Count() > 0)
                            {
                                var isapproved = approved.OrderByDescending(o => o.DynamicFormApprovedId).FirstOrDefault(w => w.IsApproved == true);
                                if (isapproved != null)
                                {
                                    appPre = 1;
                                }
                            }
                            var isapprovedPending = approvedPending.OrderBy(o => o.DynamicFormApprovedId).FirstOrDefault(w => w.IsApproved == null);
                            if (isapprovedPending != null)
                            {

                                if (appPre == 1)
                                {
                                    // isVisibleButton = "display:none;"; IsSave = false;
                                }
                            }
                        }
                    }
                }
                else
                {
                    isVisibleButton = false; IsSave = false;
                    isApproval = false;
                }
            }
            var isApprovedAs = isApprovedListData.FirstOrDefault(f => f.UserId == applicationUser.UserID);
            if (isApprovedAs != null)
            {
                isVisibleButton = false; IsSave = false;
                isApproval = true;
            }
            else
            {
                var rejectedStatus = _dynamicFormApprovedList.Where(z => z.IsApproved == false).FirstOrDefault();
                if (rejectedStatus != null)
                {
                    if (rejectedStatus.UserId != applicationUser.UserID)
                    {
                        isVisibleButton = false; IsSave = false;
                    }
                    var appList = _dynamicFormApprovedList.Where(z => z.UserId == applicationUser.UserID).FirstOrDefault();
                    if (appList != null)
                    {
                        isApproval = true; isVisibleButton = false; IsSave = false;
                    }
                }
                else
                {
                    var appList = _dynamicFormApprovedList.Where(z => z.UserId == applicationUser.UserID).FirstOrDefault();
                    if (appList != null)
                    {
                        isApproval = true; isVisibleButton = false; IsSave = false;
                    }
                }
            }
        }
    }
    void onClickApprove()
    {
        ApproveRejectName = "Approve";
        IsDescriptionOpen = true;
        dynamicFormApproval.IsApproved = true;
    }
    void onClickReject()
    {
        ApproveRejectName = "Reject";
        IsDescriptionOpen = true;
        dynamicFormApproval.IsApproved = false;
    }
    async Task OnUpdateDescription()
    {
        await UpdateStatusApproval();
        IsDescriptionOpen = false;
    }
    async Task UpdateStatusApproval()
    {
        dynamicFormApproval.ApprovedByUserId = applicationUser.UserID;
        dynamicFormApproval.ApprovedDate = DateTime.Now;
        var response = await Mediator.Send(new UpdateDynamicFormApprovedByStaus(dynamicFormApproval));
        if (response != null)
        {
            if (response.IsApproved == true)
            {
                toastService.ShowToast("Satus Approved Successfully", AC.SD.Core.Services.ToastLevel.Success);
            }
            if (response.IsApproved == false)
            {
                toastService.ShowToast("Satus Rejected Successfully", AC.SD.Core.Services.ToastLevel.Success);
            }
            dynamicFormApproval = new DynamicFormApproved();
            await loadDynamicForm();
        }
    }
    void OnTabClick(TabClickEventArgs e)
    {
    }
    private static bool IsValidJson(string strInput)
    {
        if (string.IsNullOrWhiteSpace(strInput)) { return false; }
        strInput = strInput.Trim();
        if ((strInput.StartsWith("{") && strInput.EndsWith("}")) || //For object
            (strInput.StartsWith("[") && strInput.EndsWith("]"))) //For array
        {
            try
            {
                var obj = JToken.Parse(strInput);
                return true;
            }
            catch (JsonReaderException jex)
            {
                //Exception in parsing json
                return false;
            }
            catch (Exception ex) //some other exception
            {
                return false;
            }
        }
        else
        {
            return false;
        }
    }
    void backUrl()
    {
        NavigationManager.NavigateTo("fileprofiletype/" + MainSessionId);
    }
    void ResetForm()
    {

    }
    async void addNew()
    {
        if (SessionIds != null)
        {
            NavigationManager.NavigateTo("fileprofiletype/uploadDynamicForm/" + MainSessionId);
        }
        else
        {
            await loadDynamicForm();
        }
    }
    private async Task SubmitApproveFormExternally()
    {
        if (_editContext.Validate())
        {
            IsSendApproval = true;

            await this.HandleValidSubmit();
        }
    }

    private async Task SubmitFormExternally()
    {
        if (_editContext.Validate())
        {
            if (IsSendApproval != true)
            {
                IsSendApproval = false;
            }
            await this.HandleValidSubmit();
        }
    }
    async Task HandleFormValidSubmit()
    {
        isSubmit = true;
        if (isRequiredCount == 0)
        {
            if (IsSave == true || IsApprovalSave == true)
            {
                var datas = Data;
                string strJson = JsonConvert.SerializeObject(datas);
                loading = true;
                dynamicFormData.DynamicFormId = _dynamicform.ID;
                if (dynamicFormData.DynamicFormDataId > 0)
                {
                    var editReq = new InsertOrUpdateDynamicFormData
                        {
                            DynamicFormDataId = dynamicFormData.DynamicFormDataId,
                            DynamicFormId = _dynamicform.ID,
                            DynamicFormItem = strJson,
                            SessionId = dynamicFormData.SessionId,
                            ModifiedByUserID = applicationUser.UserID,
                            AddedByUserID = dynamicFormData.AddedByUserID,
                            ModifiedDate = DateTime.Now,
                            StatusCodeID = 1,
                            AddedDate = dynamicFormData.AddedDate,
                            AttributeHeader = _AttributeHeader,
                            ObjectData = Data,
                            IsSendApproval = IsSendApproval,
                            FileProfileSessionID=MainSessionId,
                        };

                    var result = await Mediator.Send(editReq);
                    if (result.DynamicFormDataId > 0)
                    {
                        IsUploadEnabled = true;
                        if (IsSendApproval == true)
                        {
                            if (_dynamicFormApprovedList == null)
                            {
                                await InsertOrUpdateDynamicFormApprovedData(dynamicFormData);
                                await loadDynamicForm();
                            }
                            else
                            {
                                if (_dynamicFormApprovedList.Count == 0)
                                {
                                    await InsertOrUpdateDynamicFormApprovedData(dynamicFormData);
                                    await loadDynamicForm();
                                }
                            }
                        }
                        toastService.ShowToast("Record updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        loading = false;
                        //await onApproved();
                    }
                    StateHasChanged();
                }
                else
                {
                    var createReq = new InsertOrUpdateDynamicFormData
                        {
                            DynamicFormItem = strJson,
                            DynamicFormId = _dynamicform.ID,
                            SessionId = Guid.NewGuid(),
                            AddedByUserID = applicationUser.UserID,
                            ModifiedByUserID = applicationUser.UserID,
                            ModifiedDate = DateTime.Now,
                            StatusCodeID = 1,
                            AddedDate = DateTime.Now,
                            AttributeHeader = _AttributeHeader,
                            ObjectData = Data,
                            IsSendApproval = IsSendApproval,
                            FileProfileSessionID = MainSessionId,
                        };
                    var result = await Mediator.Send(createReq);
                    if (result.DynamicFormDataId > 0)
                    {
                        IsUploadEnabled = true;
                        toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        dynamicFormDataId = result.DynamicFormDataId;
                        dynamicFormData.DynamicFormDataId = dynamicFormDataId.Value;
                        if (IsSendApproval == true)
                        {
                            if (_dynamicFormApprovedList == null)
                            {
                                await InsertOrUpdateDynamicFormApprovedData(dynamicFormData);
                                await loadDynamicForm();
                            }
                            else
                            {
                                if (_dynamicFormApprovedList.Count == 0)
                                {
                                    await InsertOrUpdateDynamicFormApprovedData(dynamicFormData);
                                    await loadDynamicForm();
                                }
                            }
                        }
                        loading = false;
                        // await onApproved();
                    }
                    loading = false;
                    NavigationManager.NavigateTo("fileprofiletype/uploadDynamicForm/" + MainSessionId + "/" + createReq.SessionId);
                    StateHasChanged();
                }
            }
        }
        else
        {
            toastService.ShowToast("Validation error occured.Please check the required field values!.", AC.SD.Core.Services.ToastLevel.Warning);
        }
    }

    async Task InsertOrUpdateDynamicFormApprovedData(DynamicFormData dynamicFormData)
    {
        var response = await Mediator.Send(new InsertOrUpdateDynamicFormApproved(dynamicFormData));
    }
    async Task HandleValidSubmit()
    {

        if (isApproval == true && dynamicFormApproval.IsApproved == true)
        {
            isApprovedPopup = true;
        }
        else
        {
            await HandleFormValidSubmit();
        }
    }
    async Task onApproved()
    {
        if (isApproval == true)
        {
            if (dynamicFormApproval.IsApproved == true)
            {
                var createReq = new InsertDynamicFormApproved
                    {
                        DynamicFormId = _dynamicform.ID,
                        DynamicFormDataId = dynamicFormData.DynamicFormDataId,
                        DynamicFormApprovedId = dynamicFormApproval.DynamicFormApprovedId,
                        DynamicFormApprovalId = dynamicFormApproval.DynamicFormApprovalId,
                        ApprovedDescription = dynamicFormApproval.ApprovedDescription,
                        IsApproved = dynamicFormApproval.IsApproved,
                    };
                var result = await Mediator.Send(createReq);
                if (result.DynamicFormApprovedId > 0)
                {
                    dynamicFormApproval.DynamicFormApprovedId = result.DynamicFormApprovedId;
                    isApprovedPopup = false;

                    isApproved = false; isVisibleButton = false;
                }
            }
        }
    }
    async Task OnApprovedForm()
    {
        await HandleFormValidSubmit();
    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        isApprovedPopup = false;
    }
    void addUploadDocument()
    {
        PopupUpload = true;
    }
    void BackUpload()
    {
        InvokeAsync(loadDynamicForm);
        PopupUpload = false;
        StateHasChanged();

    }
    public void Dispose()
    {
        System.GC.Collect();
        GC.SuppressFinalize(this);
    }
    public RenderFragment CreateEditFormFields() => formLayoutBuilder =>
    {
        isRequiredCount = 0;
        var _AttributeHeaders = _AttributeHeader;
        var propertyList = Data.GetType().GetProperties(); int i = 0; int k = 0;
        if (_AttributeHeader != null && _AttributeHeader.DynamicFormSection != null && _AttributeHeader.DynamicFormSectionAttribute.Count > 0)
        {

            _AttributeHeader.DynamicFormSection.ForEach(a =>
            {
                var isReadonly = false;
                var isVisible = false;
                if (isApproval == false)
                {
                    if (a.IsPermissionCount == 0 && a.IsLoginUsers == 0)
                    {
                        isVisible = true; isReadonly = true;
                    }
                    else
                    {
                        if (a.IsPermissionCount > 0)
                        {
                            if (a.IsVisible == true)
                            {
                                if (a.IsLoginUsers > 0)
                                {
                                    isVisible = true;
                                    if (a.IsReadWrite == true)
                                    {
                                        isReadonly = true;
                                    }
                                    if (a.IsReadOnly == true)
                                    {
                                        isReadonly = false;
                                    }
                                }
                            }
                        }
                        else
                        {
                            isVisible = true; isReadonly = true;
                        }
                    }
                }
                else
                {
                    isVisible = true; isReadonly = true;
                }
                formLayoutBuilder.OpenComponent<DxFormLayout>(i);

                formLayoutBuilder.AddAttribute(1, "ChildContent", (RenderFragment)((layoutItemBuilder) =>
            {
                layoutItemBuilder.OpenComponent<DxFormLayoutGroup>(i + 1);
                layoutItemBuilder.AddAttribute(i + 1, "ExpandButtonDisplayMode", GroupExpandButtonDisplayMode.End);
                layoutItemBuilder.AddAttribute(i + 1, "Expanded", k == 0 ? true : false);
                layoutItemBuilder.AddAttribute(i + 1, "AnimationType", LayoutAnimationType.Slide);
                layoutItemBuilder.AddAttribute(i + 1, "Caption", a.SectionName);
                layoutItemBuilder.AddAttribute(i + 1, "Visible", isVisible);
                layoutItemBuilder.AddAttribute(1, "ChildContent", (RenderFragment)((itemBuilder) =>
                {
                    var dynamicFormSectionAttributeData = _AttributeHeader.DynamicFormSectionAttribute.Where(w => w.DynamicFormSectionId == a.DynamicFormSectionId).OrderBy(o => o.SortOrderBy).ToList();
                    if (dynamicFormSectionAttributeData != null && dynamicFormSectionAttributeData.Count > 0)
                    {
                        dynamicFormSectionAttributeData.ForEach(s =>
        {

            var property = Data.GetType().GetProperty(s.DynamicAttributeName);
            var valueData = property.GetValue(Data);
            var propertyType = Nullable.GetUnderlyingType(property.PropertyType) ?? property.PropertyType;
            var dataLists = _AttributeHeader.AttributeDetails.Where(x => x.AttributeID == s.AttributeId).ToList();
            List<AttributeDetails> attributeDetailss = dataLists != null && dataLists.Count > 0 ? dataLists : new List<AttributeDetails>();
            itemBuilder.OpenComponent<DxFormLayoutItem>(i++);

            itemBuilder.AddAttribute(i++, "Caption", s.DisplayName);
            itemBuilder.AddAttribute(i++, "ColSpanMd", s.ColSpan);
            var access = Expression.Property(Expression.Constant(Data), s.DynamicAttributeName);
            var lambda = Expression.Lambda(typeof(Func<>).MakeGenericType(s.DataType), access);

            itemBuilder.AddAttribute(i++, "Template", (RenderFragment<Object>)((context) => ((editor) =>
                     {
                         var j = 0;
                         if (s.ControlType == "TextBox")
                         {
                             editor.OpenComponent<DxTextBox>(j + 1);
                             editor.AddAttribute(j + 1, "Text", valueData);
                             editor.AddAttribute(j + 1, "TextExpression", lambda);
                             editor.AddAttribute(j + 1, "Enabled", isReadonly);
                             editor.AddAttribute(j + 1, "ClearButtonDisplayMode", DataEditorClearButtonDisplayMode.Auto);
                             editor.AddAttribute(j + 1, "TextChanged", EventCallback.Factory.Create<System.String>(this, str => { property.SetValue(Data, str); }));
                             if (s.IsRequired == true)
                             {
                                 if (string.IsNullOrEmpty((string)valueData))
                                 {
                                     isRequiredCount += 1;
                                     if (isSubmit == true)
                                     {
                                         editor.AddAttribute(j + 1, "style", "border-color:red;");
                                     }
                                 }
                             }
                             editor.CloseComponent();
                             if (s.IsRequired == true)
                             {
                                 if (string.IsNullOrEmpty((string)valueData) && isSubmit == true)
                                 {
                                     editor.OpenElement(j + 1, "span");
                                     editor.AddAttribute(j + 1, "class", "text-danger");
                                     editor.AddContent(j + 1, !string.IsNullOrEmpty(s.RequiredMessage) ? s.RequiredMessage : "This field is Required");
                                     editor.CloseElement();
                                 }
                             }
                         }
                         else if (s.ControlType == "DateEdit")
                         {
                             var value1 = property.GetValue(Data);
                             editor.OpenComponent<DxDateEdit<DateTime?>>(j);
                             editor.AddAttribute(j + 1, "Date", valueData);
                             editor.AddAttribute(j + 1, "DateExpression", lambda);
                             editor.AddAttribute(j + 1, "Enabled", isReadonly);
                             editor.AddAttribute(j + 1, "ClearButtonDisplayMode", DataEditorClearButtonDisplayMode.Auto);
                             editor.AddAttribute(j + 1, "DateChanged", EventCallback.Factory.Create<System.DateTime?>(this, str => { property.SetValue(Data, str); }));
                             if (s.IsRequired == true)
                             {
                                 if (valueData == null)
                                 {
                                     isRequiredCount += 1;
                                     if (isSubmit == true)
                                     {
                                         editor.AddAttribute(j + 1, "style", "border-color:red;");
                                     }
                                 }
                             }
                             editor.CloseComponent();
                             if (s.IsRequired == true)
                             {
                                 if (valueData == null && isSubmit == true)
                                 {
                                     editor.OpenElement(j + 1, "span");
                                     editor.AddAttribute(j + 1, "class", "text-danger");
                                     editor.AddContent(j + 1, !string.IsNullOrEmpty(s.RequiredMessage) ? s.RequiredMessage : "This field is Required");
                                     editor.CloseElement();
                                 }
                             }
                         }
                         else if (s.ControlType == "TimeEdit")
                         {
                             editor.OpenComponent<DxTimeEdit<TimeSpan?>>(j);
                             editor.AddAttribute(j + 1, "Time", valueData);
                             editor.AddAttribute(j + 1, "TimeExpression", lambda);
                             editor.AddAttribute(j + 1, "Enabled", isReadonly);
                             editor.AddAttribute(j + 1, "ClearButtonDisplayMode", DataEditorClearButtonDisplayMode.Auto);
                             editor.AddAttribute(j + 1, "TimeChanged", EventCallback.Factory.Create<System.TimeSpan?>(this, str => { property.SetValue(Data, str); }));
                             if (s.IsRequired == true)
                             {
                                 if (valueData == null)
                                 {
                                     isRequiredCount += 1;
                                     if (isSubmit == true)
                                     {
                                         editor.AddAttribute(j + 1, "style", "border-color:red;");
                                     }
                                 }
                             }
                             editor.CloseComponent();
                             if (s.IsRequired == true)
                             {
                                 if (valueData == null && isSubmit == true)
                                 {
                                     editor.OpenElement(j + 1, "span");
                                     editor.AddAttribute(j + 1, "class", "text-danger");
                                     editor.AddContent(j + 1, !string.IsNullOrEmpty(s.RequiredMessage) ? s.RequiredMessage : "This field is Required");
                                     editor.CloseElement();
                                 }
                             }
                         }
                         else if (s.ControlType == "Memo")
                         {
                             editor.OpenComponent<DxMemo>(j);
                             editor.AddAttribute(j + 1, "Text", valueData);
                             editor.AddAttribute(j + 1, "TextExpression", lambda);
                             editor.AddAttribute(j + 1, "Rows", 5);
                             editor.AddAttribute(j + 1, "Enabled", isReadonly);
                             editor.AddAttribute(j + 1, "ClearButtonDisplayMode", DataEditorClearButtonDisplayMode.Auto);
                             editor.AddAttribute(j + 1, "TextChanged", EventCallback.Factory.Create<System.String>(this, str => { property.SetValue(Data, str); }));
                             if (s.IsRequired == true)
                             {
                                 if (string.IsNullOrEmpty((string)valueData))
                                 {
                                     isRequiredCount += 1;
                                     if (isSubmit == true)
                                     {
                                         editor.AddAttribute(j + 1, "style", "border-color:red;");
                                     }
                                 }
                             }
                             editor.CloseComponent();
                             if (s.IsRequired == true)
                             {
                                 if (string.IsNullOrEmpty((string)valueData) && isSubmit == true)
                                 {
                                     editor.OpenElement(j + 1, "span");
                                     editor.AddAttribute(j + 1, "class", "text-danger");
                                     editor.AddContent(j + 1, !string.IsNullOrEmpty(s.RequiredMessage) ? s.RequiredMessage : "This field is Required");
                                     editor.CloseElement();
                                 }
                             }
                         }
                         else if (s.ControlType == "SpinEdit")
                         {
                             if (propertyType.Name == "Int32")
                             {
                                 editor.OpenComponent<DxSpinEdit<int?>>(j);
                                 editor.AddAttribute(j + 1, "Value", valueData);
                                 editor.AddAttribute(j + 1, "MinValue", 0);
                                 editor.AddAttribute(j + 1, "Enabled", isReadonly);
                                 editor.AddAttribute(j + 1, "BindValueMode", BindValueMode.OnInput);
                                 editor.AddAttribute(j + 1, "ClearButtonDisplayMode", DataEditorClearButtonDisplayMode.Auto);
                                 editor.AddAttribute(j + 1, "ValueChanged", EventCallback.Factory.Create<int?>(this, str => { property.SetValue(Data, str); }));
                             }
                             if (propertyType.Name == "Decimal")
                             {
                                 editor.OpenComponent<DxSpinEdit<decimal?>>(j);
                                 editor.AddAttribute(j + 1, "Value", valueData);
                                 editor.AddAttribute(j + 1, "Increment", 0.1M);
                                 editor.AddAttribute(j + 1, "Enabled", isReadonly);
                                 editor.AddAttribute(j + 1, "MinValue", 0M);
                                 editor.AddAttribute(j + 1, "ClearButtonDisplayMode", DataEditorClearButtonDisplayMode.Auto);
                                 editor.AddAttribute(j + 1, "ValueChanged", EventCallback.Factory.Create<decimal?>(this, str => { property.SetValue(Data, str); }));
                             }
                             if (s.IsRequired == true)
                             {
                                 if (valueData == null)
                                 {
                                     isRequiredCount += 1;
                                     if (isSubmit == true)
                                     {
                                         editor.AddAttribute(j + 1, "style", "border-color:red;");
                                     }
                                 }
                             }
                             editor.AddAttribute(j + 1, "ValueExpression", lambda);
                             editor.CloseComponent();
                             if (s.IsRequired == true)
                             {
                                 if (valueData == null && isSubmit == true)
                                 {
                                     editor.OpenElement(j + 1, "span");
                                     editor.AddAttribute(j + 1, "class", "text-danger");
                                     editor.AddContent(j + 1, !string.IsNullOrEmpty(s.RequiredMessage) ? s.RequiredMessage : "This field is Required");
                                     editor.CloseElement();
                                 }
                             }
                         }
                         else if (s.ControlType == "CheckBox")
                         {
                             editor.OpenComponent<DxCheckBox<bool?>>(j);
                             editor.AddAttribute(j + 1, "Checked", valueData ?? false);
                             editor.AddAttribute(j + 1, "CheckedExpression", lambda);
                             editor.AddAttribute(j + 1, "Enabled", isReadonly);
                             //editor.AddAttribute(j+1, "LabelPosition", LabelPosition.Right);
                             editor.AddAttribute(j + 1, "CheckedChanged", EventCallback.Factory.Create<bool?>(this, str => { property.SetValue(Data, str); }));
                             if (s.IsRequired == true)
                             {
                                 if (valueData == null || (bool)valueData == false)
                                 {
                                     isRequiredCount += 1;
                                     if (isSubmit == true)
                                     {
                                         editor.AddAttribute(j + 1, "style", "border-color:red;");
                                     }
                                 }
                             }
                             editor.CloseComponent();
                             if (s.IsRequired == true)
                             {
                                 if (valueData == null || (bool)valueData == false && isSubmit == true)
                                 {
                                     editor.OpenElement(j + 1, "span");
                                     editor.AddAttribute(j + 1, "class", "text-danger");
                                     editor.AddContent(j + 1, !string.IsNullOrEmpty(s.RequiredMessage) ? s.RequiredMessage : "This field is Required");
                                     editor.CloseElement();
                                 }
                             }
                         }
                         else if (s.ControlType == "RadioGroup")
                         {
                             editor.OpenComponent<DxRadioGroup<AttributeDetails, long?>>(j);
                             editor.AddAttribute(j + 1, "Items", attributeDetailss);
                             editor.AddAttribute(j + 1, "TextFieldName", "AttributeDetailName");
                             editor.AddAttribute(j + 1, "ValueFieldName", "AttributeDetailID");
                             editor.AddAttribute(j + 1, "Value", valueData);
                             editor.AddAttribute(j + 1, "Enabled", isReadonly);
                             editor.AddAttribute(j + 1, "ValueExpression", lambda);
                             editor.AddAttribute(j + 1, "ValueChanged", EventCallback.Factory.Create<long?>(this, str => { property.SetValue(Data, str); }));

                             if (s.IsRequired == true)
                             {
                                 if (valueData == null)
                                 {
                                     isRequiredCount += 1;
                                     if (isSubmit == true)
                                     {
                                         editor.AddAttribute(j + 1, "style", "color:red;");
                                     }
                                 }
                             }
                             editor.CloseComponent();
                             if (s.IsRequired == true)
                             {
                                 if (valueData == null && isSubmit == true)
                                 {
                                     editor.OpenElement(j + 1, "span");
                                     editor.AddAttribute(j + 1, "class", "text-danger");
                                     editor.AddContent(j + 1, !string.IsNullOrEmpty(s.RequiredMessage) ? s.RequiredMessage : "This field is Required");
                                     editor.CloseElement();
                                 }
                             }
                         }
                         else if (s.ControlType == "Radio")
                         {
                             editor.OpenComponent<DxRadioGroup<AttributeDetails, long?>>(j);
                             editor.AddAttribute(j + 1, "Items", attributeDetailss);
                             editor.AddAttribute(j + 1, "TextFieldName", "AttributeDetailName");
                             editor.AddAttribute(j + 1, "ValueFieldName", "AttributeDetailID");
                             editor.AddAttribute(j + 1, "Value", valueData);
                             editor.AddAttribute(j + 1, "Enabled", isReadonly);
                             editor.AddAttribute(j + 1, "ValueExpression", lambda);
                             editor.AddAttribute(j + 1, "ValueChanged", EventCallback.Factory.Create<long?>(this, str => { property.SetValue(Data, str); }));
                             if (s.IsRequired == true)
                             {
                                 if (valueData == null)
                                 {
                                     isRequiredCount += 1;
                                     if (isSubmit == true)
                                     {
                                         editor.AddAttribute(j + 1, "style", "color:red;");
                                     }
                                 }
                             }
                             editor.CloseComponent();
                             if (s.IsRequired == true)
                             {
                                 if (valueData == null && isSubmit == true)
                                 {
                                     editor.OpenElement(j + 1, "span");
                                     editor.AddAttribute(j + 1, "class", "text-danger");
                                     editor.AddContent(j + 1, !string.IsNullOrEmpty(s.RequiredMessage) ? s.RequiredMessage : "This field is Required");
                                     editor.CloseElement();
                                 }
                             }
                         }
                         else if (s.ControlType == "ComboBox")
                         {
                             editor.OpenComponent<DxComboBox<AttributeDetails, long?>>(j);
                             editor.AddAttribute(j + 1, "Data", attributeDetailss);
                             editor.AddAttribute(j + 1, "TextFieldName", "AttributeDetailName");
                             editor.AddAttribute(j + 1, "ValueFieldName", "AttributeDetailID");
                             editor.AddAttribute(j + 1, "ListRenderMode", ListRenderMode.Virtual);
                             editor.AddAttribute(j + 1, "FilteringMode", DataGridFilteringMode.Contains);
                             editor.AddAttribute(j + 1, "ClearButtonDisplayMode", DataEditorClearButtonDisplayMode.Auto);
                             editor.AddAttribute(j + 1, "Value", valueData);
                             editor.AddAttribute(j + 1, "Enabled", isReadonly);
                             editor.AddAttribute(j + 1, "ValueExpression", lambda);
                             editor.AddAttribute(j + 1, "ValueChanged", EventCallback.Factory.Create<long?>(this, str => { property.SetValue(Data, str); }));
                             if (s.IsRequired == true)
                             {
                                 if (valueData == null)
                                 {
                                     isRequiredCount += 1;
                                     if (isSubmit == true)
                                     {
                                         editor.AddAttribute(j + 1, "style", "border-color:red;");
                                     }
                                 }
                             }
                             editor.AddAttribute(j + 1, "ChildContent", (RenderFragment)((layoutItemBuilders) =>
                             {
                                 layoutItemBuilders.OpenComponent<DxListEditorColumn>(j + 1);
                                 layoutItemBuilders.AddAttribute(j + 1, "FieldName", "AttributeDetailName");
                                 layoutItemBuilders.AddAttribute(j + 1, "Caption", "Name");
                                 layoutItemBuilders.CloseComponent();
                                 layoutItemBuilders.OpenComponent<DxListEditorColumn>(j + 1);
                                 layoutItemBuilders.AddAttribute(j + 1, "FieldName", "Description");
                                 layoutItemBuilders.AddAttribute(j + 1, "Caption", "Description");
                                 layoutItemBuilders.CloseComponent();
                             }));
                             editor.CloseComponent();
                             if (s.IsRequired == true)
                             {
                                 if (valueData == null && isSubmit == true)
                                 {
                                     editor.OpenElement(j + 1, "span");
                                     editor.AddAttribute(j + 1, "class", "text-danger");
                                     editor.AddContent(j + 1, !string.IsNullOrEmpty(s.RequiredMessage) ? s.RequiredMessage : "This field is Required");
                                     editor.CloseElement();
                                 }
                             }
                         }
                         else if (s.ControlType == "TagBox")
                         {
                             editor.OpenComponent<DxTagBox<AttributeDetails, long?>>(j);
                             editor.AddAttribute(j + 1, "Data", attributeDetailss);
                             editor.AddAttribute(j + 1, "TextFieldName", "AttributeDetailName");
                             editor.AddAttribute(j + 1, "ValueFieldName", "AttributeDetailID");
                             editor.AddAttribute(j + 1, "ListRenderMode", ListRenderMode.Virtual);
                             editor.AddAttribute(j + 1, "FilteringMode", DataGridFilteringMode.Contains);
                             editor.AddAttribute(j + 1, "ClearButtonDisplayMode", DataEditorClearButtonDisplayMode.Auto);
                             editor.AddAttribute(j + 1, "Values", valueData);
                             editor.AddAttribute(j + 1, "ValuesExpression", lambda);
                             editor.AddAttribute(j + 1, "Enabled", isReadonly);
                             editor.AddAttribute(j + 1, "ValuesChanged", EventCallback.Factory.Create<IEnumerable<long?>>(this, str => { property.SetValue(Data, str); }));
                             if (s.IsRequired == true)
                             {
                                 if (valueData == null)
                                 {
                                     isRequiredCount += 1;
                                     if (isSubmit == true)
                                     {
                                         editor.AddAttribute(j + 1, "style", "border-color:red;");
                                     }
                                 }
                                 else
                                 {
                                     IEnumerable<long?> valueDatas = (IEnumerable<long?>)valueData;
                                     List<long?> listData = valueDatas.ToList();
                                     if (listData.Count() == 0)
                                     {
                                         isRequiredCount += 1;
                                         if (isSubmit == true)
                                         {
                                             editor.AddAttribute(j + 1, "style", "border-color:red;");
                                         }
                                     }
                                 }
                             }
                             editor.AddAttribute(j + 1, "ChildContent", (RenderFragment)((layoutItemBuilders) =>
                             {
                                 layoutItemBuilders.OpenComponent<DxListEditorColumn>(j + 1);
                                 layoutItemBuilders.AddAttribute(j + 1, "FieldName", "AttributeDetailName");
                                 layoutItemBuilders.AddAttribute(j + 1, "Caption", "Name");
                                 layoutItemBuilders.CloseComponent();
                                 layoutItemBuilders.OpenComponent<DxListEditorColumn>(j + 1);
                                 layoutItemBuilders.AddAttribute(j + 1, "FieldName", "Description");
                                 layoutItemBuilders.AddAttribute(j + 1, "Caption", "Description");
                                 layoutItemBuilders.CloseComponent();
                             }));
                             editor.CloseComponent();
                             if (s.IsRequired == true)
                             {
                                 if (valueData == null && isSubmit == true)
                                 {
                                     editor.OpenElement(j + 1, "span");
                                     editor.AddAttribute(j + 1, "class", "text-danger");
                                     editor.AddContent(j + 1, !string.IsNullOrEmpty(s.RequiredMessage) ? s.RequiredMessage : "This field is Required");
                                     editor.CloseElement();
                                 }
                                 else
                                 {
                                     IEnumerable<long?> valueDatas = (IEnumerable<long?>)valueData;
                                     List<long?> listData = valueDatas.ToList();
                                     if (listData.Count() == 0 && isSubmit == true)
                                     {
                                         editor.OpenElement(j + 1, "span");
                                         editor.AddAttribute(j + 1, "class", "text-danger");
                                         editor.AddContent(j + 1, !string.IsNullOrEmpty(s.RequiredMessage) ? s.RequiredMessage : "This field is Required");
                                         editor.CloseElement();
                                     }
                                 }
                             }
                         }
                         else if (s.ControlType == "ListBox")
                         {
                             editor.OpenComponent<DxListBox<AttributeDetails, long?>>(j);
                             editor.AddAttribute(j + 1, "Data", attributeDetailss);
                             editor.AddAttribute(j + 1, "TextFieldName", "AttributeDetailName");
                             editor.AddAttribute(j + 1, "ValueFieldName", "AttributeDetailID");
                             editor.AddAttribute(j + 1, "Enabled", isReadonly);
                             editor.AddAttribute(j + 1, "ListRenderMode", ListRenderMode.Virtual);
                             editor.AddAttribute(j + 1, "ShowCheckboxes", true);
                             if (s.IsRequired == true)
                             {
                                 if (valueData == null)
                                 {
                                     isRequiredCount += 1;
                                     if (isSubmit == true)
                                     {
                                         editor.AddAttribute(j + 1, "style", "border-color:red;");
                                     }
                                 }
                                 else
                                 {
                                     if (s.IsMultiple == true)
                                     {
                                         IEnumerable<long?> valueDatas = (IEnumerable<long?>)valueData;
                                         List<long?> listData = valueDatas.ToList();
                                         if (listData.Count() == 0)
                                         {
                                             isRequiredCount += 1;
                                             if (isSubmit == true)
                                             {
                                                 editor.AddAttribute(j + 1, "style", "border-color:red;");
                                             }
                                         }
                                     }
                                 }
                             }
                             if (s.IsMultiple == true)
                             {
                                 editor.AddAttribute(j + 1, "Values", valueData);
                                 editor.AddAttribute(j + 1, "ValuesExpression", lambda);
                                 editor.AddAttribute(j + 1, "SelectionMode", ListBoxSelectionMode.Multiple);
                                 editor.AddAttribute(j + 1, "ValuesChanged", EventCallback.Factory.Create<IEnumerable<long?>>(this, str => { property.SetValue(Data, str); }));
                             }
                             else
                             {
                                 editor.AddAttribute(j + 1, "Value", valueData);
                                 editor.AddAttribute(j + 1, "ValueExpression", lambda);
                                 editor.AddAttribute(j + 1, "SelectionMode", ListBoxSelectionMode.Single);
                                 editor.AddAttribute(j + 1, "ValueChanged", EventCallback.Factory.Create<long?>(this, str => { property.SetValue(Data, str); }));
                             }
                             editor.CloseComponent();
                             if (s.IsRequired == true)
                             {
                                 if (valueData == null && isSubmit == true)
                                 {
                                     editor.OpenElement(j + 1, "span");
                                     editor.AddAttribute(j + 1, "class", "text-danger");
                                     editor.AddContent(j + 1, !string.IsNullOrEmpty(s.RequiredMessage) ? s.RequiredMessage : "This field is Required");
                                     editor.CloseElement();
                                 }
                                 else
                                 {
                                     if (s.IsMultiple == true)
                                     {
                                         IEnumerable<long?> valueDatas = (IEnumerable<long?>)valueData;
                                         List<long?> listData = valueDatas.ToList();
                                         if (listData.Count() == 0 && isSubmit == true)
                                         {
                                             editor.OpenElement(j + 1, "span");
                                             editor.AddAttribute(j + 1, "class", "text-danger");
                                             editor.AddContent(j + 1, !string.IsNullOrEmpty(s.RequiredMessage) ? s.RequiredMessage : "This field is Required");
                                             editor.CloseElement();
                                         }
                                     }
                                 }
                             }

                         }
                     })));
            itemBuilder.CloseComponent();
            k++;
        });
                    }
                    itemBuilder.OpenComponent<DxFormLayoutItem>(i++);
                    itemBuilder.CloseComponent();

                }));

                layoutItemBuilder.CloseComponent();
            }));

                formLayoutBuilder.CloseComponent();
            });

        }
    };
}
