@using Application.Queries;
@using MediatR;
@using Newtonsoft.Json;
@using global::Core.Entities;
@using global::Core.EntityModels;
@using global::Core.Entities.Views;
@using global::Core.Repositories.Query;
@inject IMediator Mediator
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject IJSRuntime JSRuntime;
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration
@inject ClipboardService ClipboardService
@inject IJSRuntime jsRuntime
@inject AC.SD.Core.Services.ToastService toastService
@inject AC.SD.Core.Helpers.TreeGenerateRecursive _treeGenerateRecursive
@inject NavigationManager Navigator
@implements IAsyncDisposable
<style>
    .dxuc-file-list-view {
        padding: 20px;
    }

    .dxuc-upload-icon {
        display: none; /* or any other style to disable or hide the icon */
    }
</style>
<div class="card" style="margin-bottom:10px; margin-top: 10px; margin-right:-12px;">
    <div class="card-body p-0">
        <div class="row">
            <div class="">
                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Desktop">
                    <Items>
                        <DxMenuItem Text="Back" IconCssClass="fa fa-reply" Click="@backUrl" />
                        <DxMenuItem Text="Select File" IconCssClass="fa fa-file" id="attachmentSelectButton" />
                        <DxMenuItem Text="@Message" IconCssClass="fa fa-upload" Click="SubmitFormExternally" />
                    </Items>
                </DxMenu>
            </div>
        </div>
    </div>
</div>


<div class="" style="margin-left:10px;">
    <div class="row align-items-start" style="overflow: auto; border: 1px solid #d5d4d4;">
        <div class="cw-480" style="margin-top:10px;">
            <EditForm EditContext="this._editContext" Context="EditFormContext" OnValidSubmit="HandleValidSubmit">
                <DxFormLayout CssClass="w-100">
                    <DataAnnotationsValidator />
                    <DxFormLayoutItem Caption="SW Library" ColSpanMd="10">
                        <DxTextBox @bind-Text=@FileprofiletypeName>
                            <Buttons>
                                <DxEditorButton IconCssClass="fa fa-add" Id=@($"flyout-overview-target-container-FileProfileTypeOpen")
                                                Tooltip="SW Library"
                                                Click="@(_ => OnButtonFileProfileTypeClick())" />
                            </Buttons>
                        </DxTextBox>
                        <DxSpinEdit @bind-Value="@Data.FileProfileTypeId" ShowValidationIcon="true" style="display:none;" />
                        <ValidationMessage For="@(() => Data.FileProfileTypeId)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Section Name" ColSpanMd="6">
                        <DxComboBox Data="@_dynamicFormSectionList"
                                    NullText="Select Section..."
                                    ListRenderMode="ListRenderMode.Virtual"
                                    SearchMode="ListSearchMode.AutoSearch"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    TextFieldName="SectionName"
                                    ValueFieldName="DynamicFormSectionId"
                                    Value="@Data.DynamicFormSectionId"
                                    ValueExpression="@(() => Data.DynamicFormSectionId )"
                                    ValueChanged="@((long? plantSelect) => SelectedItemDynamicSectionChanged(plantSelect))"
                                    ShowValidationIcon="true">
                            <Columns>
                                <DxListEditorColumn FieldName="@nameof(DynamicFormSection.SectionName)"
                                                    Caption="Section Name"
                                                    Width="180px" />
                                <DxListEditorColumn FieldName="@nameof(DynamicFormSection.IsFileExits)"
                                                    Caption="Section File Exits" />
                                <DxListEditorColumn FieldName="@nameof(DynamicFormSection.FileProfileName)"
                                                    Caption="SW Library Name" />
                                <DxListEditorColumn FieldName="@nameof(DynamicFormSection.FileName)"
                                                    Caption="File Name" />
                                <DxListEditorColumn FieldName="@nameof(DynamicFormSection.Instruction)"
                                                    Caption="Instruction" />

                            </Columns>
                            <Buttons>
                                <DxEditorButton IconCssClass="fa fa-file"
                                                Tooltip="Go To SW Library"
                                                Click="@(_ => OnButtonFileProfileTypeGoDocClick())" />
                            </Buttons>
                        </DxComboBox>
                        <ValidationMessage For="@(() => Data.DynamicFormSectionId)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Company" ColSpanMd="6">

                        <DxDropDownBox @bind-Value="PlantValue"
                                       QueryDisplayText="QueryPlantText"
                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                       NullText="Select a Company..."
                                       Enabled="isPlant"
                                       ShowValidationIcon="true">
                            <DropDownBodyTemplate Context="ddbBodyContext">
                                <DxGrid Data="@_plantItems"
                                        KeyFieldName="@nameof(ViewPlants.PlantID)" ShowSearchBox="true"
                                        HighlightRowOnHover="true"
                                        SearchTextParseMode="GridSearchTextParseMode.GroupWordsByAnd"
                                        SelectionMode="GridSelectionMode.Single"
                                        AllowSelectRowByClick="true"
                                        FocusedRowEnabled="true"
                                        TextWrapEnabled="false"
                                        CssClass="templateGrid"
                                        SelectedDataItem="@(ddbBodyContext.DropDownBox.Value as ViewPlants)"
                                        SelectedDataItemChanged="item => GridSelectedDataItemChanged(item, ddbBodyContext.DropDownBox)">
                                    <Columns>
                                        <DxGridDataColumn FieldName="PlantCode" />
                                        <DxGridDataColumn FieldName="Description" />
                                        <DxGridDataColumn FieldName="NavCompanyName" />
                                    </Columns>
                                </DxGrid>
                            </DropDownBodyTemplate>
                        </DxDropDownBox>
                        <DxSpinEdit @bind-Value="@Data.PlantId" ShowValidationIcon="true" style="display:none;" />
                        <ValidationMessage For="@(() => Data.PlantId)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Division" ColSpanMd="6">

                        <DxDropDownBox @bind-Value="DivisionValue"
                                       QueryDisplayText="QueryDivisionText"
                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                       NullText="Select a Division..."
                                       Enabled="isDivision"
                                       ShowValidationIcon="true">
                            <DropDownBodyTemplate Context="ddbBodyContext">
                                <DxGrid Data="@_divisionItems"
                                        KeyFieldName="@nameof(ViewDivision.DivisionID)" ShowSearchBox="true"
                                        HighlightRowOnHover="true"
                                        SearchTextParseMode="GridSearchTextParseMode.GroupWordsByAnd"
                                        SelectionMode="GridSelectionMode.Single"
                                        AllowSelectRowByClick="true"
                                        FocusedRowEnabled="true"
                                        TextWrapEnabled="false"
                                        CssClass="templateGrid"
                                        SelectedDataItem="@(ddbBodyContext.DropDownBox.Value as ViewDivision)"
                                        SelectedDataItemChanged="item => GridDivisionSelectedDataItemChanged(item, ddbBodyContext.DropDownBox)">
                                    <Columns>
                                        <DxGridDataColumn FieldName="@nameof(ViewDivision.Name)" Caption="Name" />
                                        <DxGridDataColumn FieldName="@nameof(ViewDivision.Code)" Caption="Code" />
                                        <DxGridDataColumn FieldName="@nameof(ViewDivision.Description)" Caption="Description" />
                                    </Columns>
                                </DxGrid>
                            </DropDownBodyTemplate>
                        </DxDropDownBox>
                        <DxSpinEdit @bind-Value="@Data.DivisionId" ShowValidationIcon="true" style="display:none;" />
                        <ValidationMessage For="@(() => Data.DivisionId)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Department" ColSpanMd="6">

                        <DxDropDownBox @bind-Value="DepartmentValue"
                                       QueryDisplayText="QueryDepartmentText"
                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                       NullText="Select a Department..."
                                       Enabled="isDepartment"
                                       ShowValidationIcon="true">
                            <DropDownBodyTemplate Context="ddbBodyContext">
                                <DxGrid Data="@_departmentItems"
                                        KeyFieldName="@nameof(ViewDepartment.DepartmentId)" ShowSearchBox="true"
                                        HighlightRowOnHover="true"
                                        SearchTextParseMode="GridSearchTextParseMode.GroupWordsByAnd"
                                        SelectionMode="GridSelectionMode.Single"
                                        AllowSelectRowByClick="true"
                                        FocusedRowEnabled="true"
                                        TextWrapEnabled="false"
                                        CssClass="templateGrid"
                                        SelectedDataItem="@(ddbBodyContext.DropDownBox.Value as ViewDepartment)"
                                        SelectedDataItemChanged="item => GridDepartmentSelectedDataItemChanged(item, ddbBodyContext.DropDownBox)">
                                    <Columns>
                                        <DxGridDataColumn FieldName="@nameof(ViewDepartment.DepartmentName)" Caption="Name" />
                                        <DxGridDataColumn FieldName="@nameof(ViewDepartment.DepartmentCode)" Caption="Code" />
                                        <DxGridDataColumn FieldName="@nameof(ViewDepartment.Description)" Caption="Description" />
                                    </Columns>
                                </DxGrid>
                            </DropDownBodyTemplate>
                        </DxDropDownBox>
                        <DxSpinEdit @bind-Value="@Data.DepartmentId" ShowValidationIcon="true" style="display:none;" />
                        <ValidationMessage For="@(() => Data.DepartmentId)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Section" ColSpanMd="6">

                        <DxDropDownBox @bind-Value="SectionValue"
                                       QueryDisplayText="QuerySectionText"
                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                       NullText="Select a Section..."
                                       Enabled="isSection"
                                       ShowValidationIcon="true">
                            <DropDownBodyTemplate Context="ddbBodyContext">
                                <DxGrid Data="@_sectionItems"
                                        KeyFieldName="@nameof(ViewSection.SectionId)" ShowSearchBox="true"
                                        HighlightRowOnHover="true"
                                        SearchTextParseMode="GridSearchTextParseMode.GroupWordsByAnd"
                                        SelectionMode="GridSelectionMode.Single"
                                        AllowSelectRowByClick="true"
                                        FocusedRowEnabled="true"
                                        TextWrapEnabled="false"
                                        CssClass="templateGrid"
                                        SelectedDataItem="@(ddbBodyContext.DropDownBox.Value as ViewSection)"
                                        SelectedDataItemChanged="item => GridSectionSelectedDataItemChanged(item, ddbBodyContext.DropDownBox)">
                                    <Columns>
                                        <DxGridDataColumn FieldName="@nameof(ViewSection.SectionName)" Caption="Name" />
                                        <DxGridDataColumn FieldName="@nameof(ViewSection.SectionCode)" Caption="Code" />
                                        <DxGridDataColumn FieldName="@nameof(ViewSection.Description)" Caption="Description" />
                                    </Columns>
                                </DxGrid>
                            </DropDownBodyTemplate>
                        </DxDropDownBox>
                        <DxSpinEdit @bind-Value="@Data.SectionId" ShowValidationIcon="true" style="display:none;" />
                        <ValidationMessage For="@(() => Data.SectionId)" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="SubSection" ColSpanMd="6">

                        <DxDropDownBox @bind-Value="SubSectionValue"
                                       QueryDisplayText="QuerySubSectionText"
                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                       NullText="Select a Sub Section..."
                                       Enabled="isSubSection"
                                       ShowValidationIcon="true">
                            <DropDownBodyTemplate Context="ddbBodyContext">
                                <DxGrid Data="@_subSectionItems"
                                        KeyFieldName="@nameof(ViewSubSection.SubSectionId)" ShowSearchBox="true"
                                        HighlightRowOnHover="true"
                                        SearchTextParseMode="GridSearchTextParseMode.GroupWordsByAnd"
                                        SelectionMode="GridSelectionMode.Single"
                                        AllowSelectRowByClick="true"
                                        FocusedRowEnabled="true"
                                        TextWrapEnabled="false"
                                        CssClass="templateGrid"
                                        SelectedDataItem="@(ddbBodyContext.DropDownBox.Value as ViewSubSection)"
                                        SelectedDataItemChanged="item => GridSubSectionSelectedDataItemChanged(item, ddbBodyContext.DropDownBox)">
                                    <Columns>
                                        <DxGridDataColumn FieldName="@nameof(ViewSubSection.SubSectionName)" Caption="Name" />
                                        <DxGridDataColumn FieldName="@nameof(ViewSubSection.SubSectionCode)" Caption="Code" />
                                        <DxGridDataColumn FieldName="@nameof(ViewSubSection.Description)" Caption="Description" />
                                    </Columns>
                                </DxGrid>
                            </DropDownBodyTemplate>
                        </DxDropDownBox>
                        <DxSpinEdit @bind-Value="@Data.SubSectionId" ShowValidationIcon="true" style="display:none;" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Expiry Date:" ColSpanMd="6" Visible="@isExpiryDate">
                        <DxDateEdit NullText="Select a Expiry Date..." MinDate="DateTime.Now" @bind-Date="@Data.ExpiryDate" CssClass="cw-320" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Description" ColSpanMd="6">
                        <DxMemo @bind-Text="@Data.Description" Rows="5" ShowValidationIcon="true" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="" ColSpanMd="12">

                        <div class="" style="height: calc(100vh - 565px);overflow: auto;overflow-x: hidden;">
                            <DxUpload @ref="uploadComponent" Name="files"
                                      Visible="@AttachmentUploadVisible"
                                      AcceptedFileTypes=@AcceptedFileTypes
                                      ChunkSize="200000"
                                      UploadMode="@UploadMode.OnButtonClick"
                                      FileUploadStart="OnFileUploadStart"
                                      AllowMultiFileUpload="false"
                                      ExternalSelectButtonCssSelector="#attachmentSelectButton"
                                      SelectedFilesChanged="@AttachmentSelectedFilesChanged"
                                      FileUploaded="@isUploadSuccess"
                                      FileUploadProgressChanged="@OnUploadProgressChanged"
                                      FileUploadStarted="@OnFileUploadStarted"
                                      FileUploadError="@OnUploadError">
                            </DxUpload>

                        </div>
                    </DxFormLayoutItem>
                </DxFormLayout>
            </EditForm>
        </div>
    </div>
</div>
<DxFlyout @bind-IsOpen=IsFileProfileTypeOpen
          PositionTarget=@($"#flyout-overview-target-container-FileProfileTypeOpen")
          RestrictionTarget="#Navigation-Flyout-Customization"
          AnimationType="FlyoutAnimationType.Fade"
          HeaderVisible="true"
          HeaderText="Select SW Library"
          FooterVisible="true"
          FooterCssClass="custom-flyout-footer"
          Width="max(25vw, 550px)"
          CloseOnOutsideClick="false"
          PreventCloseOnPositionTargetClick="true">
    <BodyContentTemplate Context="PopupContext">
        <DxFormLayout CssClass="w-100" style="height: calc(100vh - 250px);overflow:auto;overflow-x:hidden;">
            <DxFormLayoutItem Caption="" ColSpanMd="12">
               @*   <DxTreeView @ref="_treeView"
                             @bind-FilterString="FilterString"
                             AllowSelectNodes="true"
                             AfterExpand="@AfterExpand"
                             SelectionChanged="@SelectionChanged" Data="@_selectedTreeItems"
                             LoadChildNodesOnDemand="true">
                     <DataMappings>
                         <DxTreeViewDataMapping Text="FileName"
                                                HasChildren="HasChildren"
                                                Children="Children" />
                     </DataMappings>
                 </DxTreeView> *@
                <DxTreeList Data="fileProfileTypeDocumentsAll"
                            VirtualScrollingEnabled="true"
                            ShowFilterRow="true"
                            KeyFieldName="FileProfileTypeId"
                            ParentKeyFieldName="ParentId"
                            ColumnResizeMode="TreeListColumnResizeMode.NextColumn"
                            TextWrapEnabled="false"
                            CssClass="max-h-480"
                            ShowAllRows="true"
                            FocusedRowEnabled="true"
                            RowClick="OnRowTreeClick"
                            SelectionMode="TreeListSelectionMode.Single"
                            FilterTreeMode="TreeListFilterTreeMode.EntireBranch">
                    <Columns>
                        <DxTreeListDataColumn FieldName="FileName" Caption="Name" FilterRowOperatorType="TreeListFilterRowOperatorType.Contains">
                            <EditSettings>
                                <DxTextBoxSettings NullText="Type a search string and enter" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                            </EditSettings>
                        </DxTreeListDataColumn>
                    </Columns>
                </DxTreeList>
            </DxFormLayoutItem>

        </DxFormLayout>
    </BodyContentTemplate>
    <FooterContentTemplate>
        <div class="w-100">
            <div class="custom-flyout-footer">
                <DxButton CssClass="popup-button" RenderStyle="ButtonRenderStyle.Primary" Text="Close" Click=@(()=> IsFileProfileTypeOpen = false) />
            </div>
        </div>
    </FooterContentTemplate>
</DxFlyout>
@code {
    object PlantValue { get; set; }
    object DivisionValue { get; set; }
    object DepartmentValue { get; set; }
    object SectionValue { get; set; }
    object SubSectionValue { get; set; }
    public DocumentsModel selectedFiles { get; set; }
    [Parameter]
    public ApplicationUser _applicationUser { get; set; }
    [Parameter]
    public DynamicFormData _dynamicformData { get; set; }
    [Parameter]
    public long? FileProfileTypeId { get; set; }
    [Parameter]
    public Action RevokeBack { get; set; }
    EditContext _editContext;
    public FileProfileTypeModel fileProfileTypeModels { get; set; }
    private DxTreeView _treeView;
    string FilterString { get; set; }
    public string FileprofiletypeName { get; set; }
    public bool loading { get; set; } = false;
    public bool IsFileProfileTypeOpen { get; set; }
    string Message = "Upload";
    public bool IsFileProfileTypeShow { get; set; } = false;
    private List<ViewPlants>? _plantItems;
    private List<ViewDivision>? _divisionItems;
    private List<ViewDepartment>? _departmentItems;
    private List<ViewSection>? _sectionItems;
    private List<ViewSubSection>? _subSectionItems;
    bool AttachmentUploadVisible { get; set; } = false;
    DocumentsUploadModel Data = new DocumentsUploadModel();
    public List<DocumentsUploadModel> TempSetIds = new List<DocumentsUploadModel>();
    public DocumentProfileNoSeriesModel documentProfileNoSeriesData { get; set; }
    private DxUpload uploadComponent;
    string MyError { get; set; }
    string MyMessage { get; set; }
    private List<UploadFileInfo> SelectedFiles { get; set; } = new List<UploadFileInfo>();
    bool isExpiryDate { get; set; } = false;
    bool isPlant { get; set; } = false;
    bool isDivision { get; set; } = false; bool isDepartment { get; set; } = false;
    bool isSection { get; set; } = false; bool isSubSection { get; set; } = false;
    int SelectedFilesCount { get; set; }
    int CurrentUplodCount { get; set; }
    public List<DocumentsModel> fileProfileTypeDocumentsAll { get; set; }
    public List<DynamicFormSection> _dynamicFormSectionList { get; set; }
    IEnumerable<DocumentsModel> _selectedTreeItems = new List<DocumentsModel>();
    DynamicFormSection dynamicFormSection1 = new DynamicFormSection();
    public List<string> AcceptedFileTypes { get; set; } = new List<string> { "image/*", "video/*", ".doc", ".docx", ".ppt", ".pptx", ".xls", ".xlsx", ".txt", ".pdf", ".PDF", ".txt", ".TXT", ".msg", ".MSG", ".eml", ".EML", "Outlook.File.eml.15", "audio/*" };
    protected override async Task OnInitializedAsync()
    {
        _editContext = new EditContext(Data);
        _dynamicFormSectionList = await Mediator.Send(new GetDynamicFormSectionById(_dynamicformData.DynamicFormId, _applicationUser.UserID, _dynamicformData.DynamicFormDataId));
        fileProfileTypeDocumentsAll = await Mediator.Send(new GetAllfileprofiletypeListQuery());
        // if (fileProfileTypeDocumentsAll.Count() > 0)
        // {
        //     _selectedTreeItems = _treeGenerateRecursive.TreeGenerateRecursives(fileProfileTypeDocumentsAll);
        // }
        if (fileProfileTypeDocumentsAll != null && FileProfileTypeId > 0)
        {
            var Datas = fileProfileTypeDocumentsAll.FirstOrDefault(f => f.FileProfileTypeId == FileProfileTypeId);
            if (Datas != null)
            {
                await loadData(Datas);
            }
        }
        if (_dynamicFormSectionList != null && _dynamicFormSectionList.Count > 0)
        {
            Data.DynamicFormSectionId = null;
        }
    }
    public async Task loadData(DocumentsModel _selectedFiles)
    {
        dynamicFormSection1 = new DynamicFormSection();
        IsFileProfileTypeShow = false; PlantValue = null;
        isPlant = false;
        isDivision = false; isDepartment = false;
        isSection = false; isSubSection = false;
        Data.PlantId = 0; Data.DepartmentId = 0;
        Data.DivisionId = 0; Data.SectionId = 0; Data.SubSectionId = 0;
        TempSetIds = new List<DocumentsUploadModel>();
        loading = false;
        Message = "Upload";
        uploadComponent.RemoveAllFiles();
        CurrentUplodCount = 0;
        SelectedFilesCount = 0;
        SelectedFiles = new List<UploadFileInfo>();
        MyError = ""; MyMessage = ""; FileprofiletypeName = ""; Data.DynamicFormSectionId = 0;
        if (_dynamicFormSectionList != null && _dynamicFormSectionList.Count > 0)
        {
            Data.DynamicFormSectionId = null;
        }
        if (_selectedFiles != null && _selectedFiles.ProfileID > 0)
        {
            selectedFiles = _selectedFiles;
            documentProfileNoSeriesData = await Mediator.Send(new GetDocumentProfileNoSeriesById(selectedFiles.ProfileID));

            dynamic abbreviation = JsonConvert.DeserializeObject(documentProfileNoSeriesData.Abbreviation1);
            if (abbreviation != null)
            {
                foreach (var item in abbreviation)
                {
                    var itemsId = item.Id;
                    if (itemsId == 1)
                    {
                        isPlant = true;
                        Data.PlantId = null;
                    }
                    if (itemsId == 2)
                    {
                        isDepartment = true; isDivision = true;
                        Data.DepartmentId = null;
                        Data.DivisionId = null;
                    }
                    if (itemsId == 3)
                    {
                        isSection = true;
                        Data.SectionId = null;
                    }
                    if (itemsId == 4)
                    {
                        isSubSection = true;
                        Data.SubSectionId = null;
                    }
                }
            }
            if (selectedFiles.IsExpiryDate == true)
            {
                isExpiryDate = true;
            }
            Data.UserSession = _applicationUser.SessionId;
            Data.UserId = _applicationUser.UserID;
            Data.ProfileId = selectedFiles.ProfileID;
            Data.FileProfileTypeId = selectedFiles.FileProfileTypeId > 0 ? selectedFiles.FileProfileTypeId : selectedFiles.FilterProfileTypeId;
            var lists = GetFileProfileTypePath(fileProfileTypeDocumentsAll, Data.FileProfileTypeId);
            FileprofiletypeName = lists.FirstOrDefault()?.FileProfilePath;
        }
        _plantItems = await Mediator.Send(new GetAllPlantQuery());
        await SelectedItemChanged(0);
        await SelectedItemDivisionChanged(0);
        await SelectedItemDepartementChanged(0);
        await SelectedItemSectionChanged(0);
        StateHasChanged();
    }
    private List<FileProfileTypeModel> GetFileProfileTypePath(List<DocumentsModel> foldersListItem, long? id)
    {
        var foldersListItems = foldersListItem.Where(t => t.FileProfileTypeId == id).ToList();
        FileProfileTypeModel fileprofile = new FileProfileTypeModel();
        List<FileProfileTypeModel> foldersList = new List<FileProfileTypeModel>();
        if (foldersListItems != null && foldersListItems.Count > 0)
        {
            foldersListItems.ForEach(s =>
            {
                List<string> FolderPathLists = new List<string>();
                FileProfileTypeModel fileProfileTypeModel = new FileProfileTypeModel();
                fileProfileTypeModel.FileProfileTypeId = s.FileProfileTypeId.Value;
                fileProfileTypeModel.Name = s.FileName;
                fileprofile = GetProfileTypeName(foldersListItem, s, FolderPathLists, fileprofile);
                FolderPathLists.Add(s.FileName);
                fileProfileTypeModel.FileProfileTypeParentId = fileprofile.ParentId;
                fileProfileTypeModel.FileProfilePath = string.Join(" / ", FolderPathLists);
                foldersList.Add(fileProfileTypeModel);
            });
        }
        return foldersList;
    }
    private FileProfileTypeModel GetProfileTypeName(List<DocumentsModel> foldersListItems, DocumentsModel s, List<string> foldersModel, FileProfileTypeModel fileProfileTypeModel)
    {

        if (s.ParentId != null)
        {
            var items = foldersListItems.FirstOrDefault(f => f.FileProfileTypeId == s.ParentId);
            GetProfileTypeName(foldersListItems, items, foldersModel, fileProfileTypeModel);
            foldersModel.Add(items.FileName);
        }
        else if (s.ParentId == null)
        {
            fileProfileTypeModel.ParentId = foldersListItems.FirstOrDefault(f => f.FileProfileTypeId == s.FileProfileTypeId)?.FileProfileTypeId;
        }
        return fileProfileTypeModel;
    }
    private void AfterExpand(TreeViewNodeEventArgs e)
    {
        if (!e.CausedByAPI)
        {
            _treeView.ExpandAll();
        }
    }
    async void OnRowTreeClick(TreeListRowClickEventArgs e)
    {
        var itemId = (long?)e.TreeList.GetRowValue(e.VisibleIndex, "FileProfileTypeId");
        var nodeName = fileProfileTypeDocumentsAll.FirstOrDefault(f => f.FileProfileTypeId == itemId);
        if (nodeName != null)
        {
            Data.FileProfileTypeId = nodeName.FileProfileTypeId;
            var lists = GetFileProfileTypePath(fileProfileTypeDocumentsAll, Data.FileProfileTypeId);
            FileprofiletypeName = lists.FirstOrDefault()?.FileProfilePath;
            await loadData(nodeName);
            IsFileProfileTypeOpen = false;

        }
        StateHasChanged();
    }
    protected async void SelectionChanged(TreeViewNodeEventArgs e)
    {
        if (e.NodeInfo?.DataItem != null)
        {
            var nodeName = e.NodeInfo.DataItem as DocumentsModel;
            Data.FileProfileTypeId = nodeName.FileProfileTypeId;
            var lists = GetFileProfileTypePath(fileProfileTypeDocumentsAll, Data.FileProfileTypeId);
            FileprofiletypeName = lists.FirstOrDefault()?.FileProfilePath;
            await loadData(nodeName);
            IsFileProfileTypeOpen = false;
        }

        StateHasChanged();
    }
    void OnButtonFileProfileTypeClick()
    {
        //_treeView.CollapseAll();
        IsFileProfileTypeOpen = true;
    }
    void backUrl()
    {
        ClearDAta();
        RevokeBack?.Invoke();
    }
    void OnFileUploadStart(FileUploadStartEventArgs e)
    {
        Message = "Uploading...";
        loading = true;
        var SessionId = new Guid(e.FileInfo.Guid);
        DocumentsUploadModel TempSetId = new DocumentsUploadModel();
        TempSetId.SessionId = SessionId;
        TempSetIds.Add(TempSetId);
        string BaseUrl = Navigator.BaseUri + "api/FileUpload/";
        string url = BaseUrl + "UploadDocumentsBySession?SessionId=" + SessionId + "&addedByUserId=" + _applicationUser.UserID + "&IsFileSession=true&SourceFrom=FileProfile";
        e.UploadUrl = url;
    }
    async Task isUploadSuccess(FileUploadEventArgs e)
    {

        CurrentUplodCount++;
        var filesessionIds = new Guid(e.FileInfo.Guid);
        Data.SessionId = filesessionIds;
        Data.FileSessionId = filesessionIds;
        Data.SourceFrom = "FileProfile";
        var ext = e.FileInfo.Name.Split(".").Last();
        Data.FilePath = @"Documents\" + filesessionIds + @"\" + filesessionIds + "." + ext;
        var response = await Mediator.Send(new UpdateCreateDocumentBySession(Data));
        MyMessage = "Upload of the " + e.FileInfo.Name + " file is Completed.";
        toastService.ShowToast(MyMessage, AC.SD.Core.Services.ToastLevel.Success);
        if (CurrentUplodCount >= SelectedFilesCount)
        {
            Message = "Upload";
            loading = false;
            if (_dynamicFormSectionList != null && _dynamicFormSectionList.Count > 0 && Data.DynamicFormSectionId != null)
            {
                DynamicFormDataUpload dynamicFormDataUpload = new DynamicFormDataUpload();
                dynamicFormDataUpload.DynamicFormDataId = _dynamicformData.DynamicFormDataId;
                dynamicFormDataUpload.DynamicFormSectionId = Data.DynamicFormSectionId > 0 ? Data.DynamicFormSectionId : null;
                dynamicFormDataUpload.AddedByUserId = _applicationUser.UserID;
                dynamicFormDataUpload.ModifiedByUserId = _applicationUser.UserID;
                dynamicFormDataUpload.SessionId = filesessionIds;
                dynamicFormDataUpload.AddedDate = DateTime.Now;
                dynamicFormDataUpload.ModifiedDate = DateTime.Now;
                dynamicFormDataUpload.StatusCodeId = 1;
                var responses = await Mediator.Send(new InsertDynamicFormDataUpload(dynamicFormDataUpload));
                backUrl();
            }
            else
            {
                backUrl();
            }
        }

    }
    void OnUploadError(FileUploadErrorEventArgs e)
    {
        MyError = e.RequestInfo.ResponseText;
        toastService.ShowToast(MyError, AC.SD.Core.Services.ToastLevel.Error);
        Message = "Upload";
        loading = false;
        InvokeAsync(StateHasChanged);
    }
    void OnFileUploadStarted(FileUploadEventArgs e)
    {
        MyMessage = "Upload of the " + e.FileInfo.Name + " file was started.";
        toastService.ShowToast(MyMessage, AC.SD.Core.Services.ToastLevel.Info);
        InvokeAsync(StateHasChanged);
    }
    void OnUploadProgressChanged(FileUploadEventArgs e)
    {
        // var progress = e.FileInfo.LoadedBytes / e.FileInfo.Size * 100;
    }
    void SelectedItemDynamicSectionChanged(long? dynamicFormSectionId)
    {
        Data.DynamicFormSectionId = dynamicFormSectionId;
        dynamicFormSection1 = new DynamicFormSection();
        var dynamicFormSection = _dynamicFormSectionList != null && dynamicFormSectionId > 0 ? _dynamicFormSectionList.FirstOrDefault(f => f.DynamicFormSectionId == dynamicFormSectionId) : null;
        if (dynamicFormSection != null)
        {
            if (dynamicFormSection.DynamicFormDataUploadId > 0)
            {
                dynamicFormSection1 = dynamicFormSection;
                var MyMessage = "This Section File Already Exits.";
                toastService.ShowToast(MyMessage, AC.SD.Core.Services.ToastLevel.Error);
            }
        }
        StateHasChanged();
    }
    async Task OnButtonFileProfileTypeGoDocClick()
    {
        if (dynamicFormSection1 != null)
        {
            if (dynamicFormSection1.DynamicFormDataUploadId > 0 && dynamicFormSection1.UploadSessionID != null && dynamicFormSection1.FileProfileSessionID != null && dynamicFormSection1.IsFileExits == "Yes")
            {
                var url = Navigator.BaseUri.ToString() + "fileprofiletype/" + dynamicFormSection1.FileProfileSessionID + "/" + dynamicFormSection1.UploadSessionID;
                await jsRuntime.InvokeVoidAsync("window.open", url, "_blank");
            }
        }
    }
    string? QueryPlantText(DropDownBoxQueryDisplayTextContext arg)
    {
        Data.PlantId = isPlant == false ? 0 : null;
        Data.DivisionId = isDivision == false ? 0 : null;
        Data.DepartmentId = isDepartment == false ? 0 : null;
        Data.SectionId = isSection == false ? 0 : null;
        Data.SubSectionId = isSubSection == false ? 0 : null;
        DivisionValue = null; DepartmentValue = null; SectionValue = null; SubSectionValue = null;
        string? returnData = string.Empty;
        if (arg.Value is ViewPlants value)
        {
            if (value != null)
            {
                Data.PlantId = value.PlantID;
                returnData = value?.PlantCode;
            }
        }
        InvokeAsync(SelectedItemPlantChanged);
        return returnData;
    }
    async Task SelectedItemPlantChanged()
    {
        await SelectedItemChanged(Data.PlantId);
    }
    void GridSelectedDataItemChanged(object item, IDropDownBox dropDownBox)
    {
        if (item != null)
        {
            PlantValue = item as ViewPlants;
        }
        dropDownBox.HideDropDown();
    }
    async Task SelectedItemChanged(long? plantID)
    {
        _divisionItems = new List<ViewDivision>();
        _departmentItems = new List<ViewDepartment>();
        _sectionItems = new List<ViewSection>();
        _subSectionItems = new List<ViewSubSection>();
        if (plantID > 0)
        {
            _divisionItems = await Mediator.Send(new GetDivisionByCompany(plantID));
        }
    }
    void GridDivisionSelectedDataItemChanged(object item, IDropDownBox dropDownBox)
    {
        if (item != null)
        {
            DivisionValue = item as ViewDivision;
        }
        dropDownBox.HideDropDown();
    }
    string? QueryDivisionText(DropDownBoxQueryDisplayTextContext arg)
    {
        Data.DivisionId = isDivision == false ? 0 : null;
        Data.DepartmentId = isDepartment == false ? 0 : null;
        Data.SectionId = isSection == false ? 0 : null;
        Data.SubSectionId = isSubSection == false ? 0 : null;
        string? returnData = string.Empty; DepartmentValue = null; SectionValue = null; SubSectionValue = null;
        if (arg.Value is ViewDivision value)
        {
            if (value != null)
            {
                Data.DivisionId = value.DivisionID;
                returnData = value?.Name;
            }
        }
        InvokeAsync(SelectedItemDivisionChangeds);
        return returnData;
    }
    async Task SelectedItemDivisionChangeds()
    {
        await SelectedItemDivisionChanged(Data.DivisionId);
    }
    async Task SelectedItemDivisionChanged(long? divisionId)
    {
        _departmentItems = new List<ViewDepartment>();
        _sectionItems = new List<ViewSection>();
        _subSectionItems = new List<ViewSubSection>();
        if (divisionId > 0)
        {
            _departmentItems = await Mediator.Send(new GetDepartmentByDivision(divisionId));
        }
    }
    void GridDepartmentSelectedDataItemChanged(object item, IDropDownBox dropDownBox)
    {
        if (item != null)
        {
            DepartmentValue = item as ViewDepartment;
        }
        dropDownBox.HideDropDown();
    }
    string? QueryDepartmentText(DropDownBoxQueryDisplayTextContext arg)
    {

        Data.DepartmentId = isDepartment == false ? 0 : null;
        Data.SectionId = isSection == false ? 0 : null;
        Data.SubSectionId = isSubSection == false ? 0 : null;
        string? returnData = string.Empty; SectionValue = null; SubSectionValue = null;
        if (arg.Value is ViewDepartment value)
        {
            if (value != null)
            {
                Data.DepartmentId = value.DepartmentId;
                returnData = value?.DepartmentName;
            }
        }
        InvokeAsync(SelectedItemDepartementChangeds);
        return returnData;
    }
    async Task SelectedItemDepartementChangeds()
    {
        await SelectedItemDepartementChanged(Data.DepartmentId);
    }
    async Task SelectedItemDepartementChanged(long? departmentId)
    {
        _sectionItems = new List<ViewSection>();
        _subSectionItems = new List<ViewSubSection>();
        if (departmentId > 0)
        {
            _sectionItems = await Mediator.Send(new GetSectionByDepartment(departmentId));
        }
    }
    void GridSectionSelectedDataItemChanged(object item, IDropDownBox dropDownBox)
    {
        if (item != null)
        {
            SectionValue = item as ViewSection;
        }
        dropDownBox.HideDropDown();
    }
    string? QuerySectionText(DropDownBoxQueryDisplayTextContext arg)
    {
        Data.SectionId = isSection == false ? 0 : null;
        Data.SubSectionId = isSubSection == false ? 0 : null;
        SubSectionValue = null;
        string? returnData = string.Empty;
        if (arg.Value is ViewSection value)
        {
            if (value != null)
            {
                Data.SectionId = value.SectionId;
                returnData = value?.SectionName;
            }
        }
        InvokeAsync(SelectedItemSectionChangeds);
        return returnData;
    }
    async Task SelectedItemSectionChangeds()
    {
        await SelectedItemSectionChanged(Data.SectionId);
    }
    async Task SelectedItemSectionChanged(long? sectionId)
    {
        _subSectionItems = new List<ViewSubSection>();
        if (sectionId > 0)
        {
            _subSectionItems = await Mediator.Send(new GetSubSectionBySection(sectionId));
        }
    }
    string? QuerySubSectionText(DropDownBoxQueryDisplayTextContext arg)
    {
        Data.SubSectionId = isSubSection == false ? 0 : null;
        string? returnData = string.Empty;
        if (arg.Value is ViewSubSection value)
        {
            if (value != null)
            {
                Data.SubSectionId = value.SubSectionId;
                returnData = value?.SubSectionName;
            }
        }
        return returnData;
    }
    void GridSubSectionSelectedDataItemChanged(object item, IDropDownBox dropDownBox)
    {
        if (item != null)
        {
            SubSectionValue = item as ViewSubSection;
        }
        dropDownBox.HideDropDown();
    }
    void AttachmentSelectedFilesChanged(IEnumerable<UploadFileInfo> files)
    {
        AttachmentUploadVisible = files.ToList().Count > 0;
        SelectedFiles.AddRange(files);
        SelectedFilesCount = files.ToList().Count; //Count current files
        if (SelectedFilesCount > 0)
        {
            if (SelectedFilesCount == 1)
            {

            }
            else
            {
                var MyMessage = "Upload Only One File Allowed. Remove Another Files.";
                toastService.ShowToast(MyMessage, AC.SD.Core.Services.ToastLevel.Error);
            }
        }
        InvokeAsync(StateHasChanged);
    }

    public void onsubmitUploadFromClick()
    {
    }
    void SubmitFormExternally()
    {
        if (dynamicFormSection1 != null && dynamicFormSection1.DynamicFormDataUploadId > 0)
        {
            var MyMessage = "This Section File Already Exits.";
            toastService.ShowToast(MyMessage, AC.SD.Core.Services.ToastLevel.Error);
        }
        else
        {
            if (_editContext.Validate())
            {
                this.HandleValidSubmit();
            }
        }
    }
    void HandleValidSubmit()
    {
        if (SelectedFilesCount > 0)
        {
            if (SelectedFilesCount == 1)
            {
                uploadComponent.UploadAllFiles();

            }
            else
            {
                var MyMessage = "Upload Only One File Allowed. Remove Another Files.";
                toastService.ShowToast(MyMessage, AC.SD.Core.Services.ToastLevel.Error);
            }
        }
        else
        {
            var MyMessage = "Must File Select";
            toastService.ShowToast(MyMessage, AC.SD.Core.Services.ToastLevel.Error);
        }
    }
    public void ClearDAta()
    {
        PlantValue = null;
        DivisionValue = null;
        DepartmentValue = null;
        SectionValue = null;
        SubSectionValue = null;
        selectedFiles = null;
        _dynamicformData = null;
        fileProfileTypeModels = null;
        _plantItems?.Clear();
        _divisionItems?.Clear();
        _departmentItems?.Clear();
        _sectionItems?.Clear();
        _subSectionItems?.Clear();
        Data = new DocumentsUploadModel();
        TempSetIds?.Clear();
        documentProfileNoSeriesData = null;
        SelectedFiles?.Clear();
        fileProfileTypeDocumentsAll?.Clear();
        _dynamicFormSectionList?.Clear();
        _selectedTreeItems = null;
        dynamicFormSection1 = new DynamicFormSection();
        AcceptedFileTypes?.Clear();
    }
    public async ValueTask DisposeAsync()
    {
        //System.GC.Collect();
        ClearDAta();
        //GC.SuppressFinalize(this);
    }
}
