@using Application.Queries;
@using MediatR;
@using Newtonsoft.Json;
@using global::Core.Entities;
@using global::Core.EntityModels;
@using global::Core.Entities.Views;
@using global::Core.Repositories.Query;
@inject IMediator Mediator
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject IJSRuntime JSRuntime;
@inject IJSRuntime jsRuntime
@inject AC.SD.Core.Services.ToastService toastService
@inject NavigationManager Navigator
@using System.Collections
@implements IDisposable
<style>
    .dxuc-file-list-view {
        padding: 20px;
    }

    .dxuc-upload-icon {
        display: none; /* or any other style to disable or hide the icon */
    }

    .isUploadCheckOut {
        display: none;
    }
</style>
<div class="card" style="margin-bottom:10px; margin-top: 10px; margin-right:-12px;">
    <div class="card-body p-0">
        <div class="row">
            <div class="">
                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Desktop">
                    <Items>
                        <DxMenuItem Text="Back" IconCssClass="fa fa-reply" Click="@backUrl" />
                        <DxMenuItem Text="Select File" IconCssClass="fa fa-paperclip" id="attachmentCheckInSelectButton"  Click="onGetExitingFile" Enabled="@checkInloading" />
                        <DxMenuItem Text="@Message" IconCssClass="fa fa-upload" Click="@onSubmitCheckInUploadFormClick" Enabled="@checkInloading" />
                    </Items>
                </DxMenu>
            </div>

        </div>
    </div>
</div>
<DxMenu Data="@FolderPathListsItems"
        DisplayMode="MenuDisplayMode.Auto">
    <DataMappings>
        <DxMenuDataMapping Text="FileName" IconCssClass="fa fa-angle-double-right"
                           Children="Children"
                           BeginGroup="BeginGroup"
                           CssClass="CssClass"
                           Enabled="Enabled" />
    </DataMappings>
</DxMenu>
<div class="card w-100" style="margin-bottom:10px; margin-top:10px">
    <div class="card-body p-0">
        <div class="row">
            <div class="col-md-6">
                <span style="font-weight: bold;padding: 10px;line-height: 30px;color:green;">Document Name:  @selectedItems.FileName</span>
            </div>
            <div class="col-md-6">
                <span style="font-weight: bold;padding: 10px;line-height: 30px;color:green;">Allowed FileExtensions:  @ExtensionsList</span>
            </div>
        </div>
    </div>
</div>
<div class="" style="margin-left:10px;">
    <div class="row align-items-start" style="overflow: auto; border: 1px solid #d5d4d4;">
        <div class="cw-480" style="margin-top:10px;">
            <EditForm EditContext="this._editContext" Context="EditFormContext"  OnValidSubmit="@HandleValidCheckInSubmit">
                <DxFormLayout CssClass="w-100">
                    <DataAnnotationsValidator />
                    <DxFormLayoutItem Caption="Expiry Date:" ColSpanMd="6" Visible="@isExpiryDate">
                        <DxDateEdit NullText="Select a Expiry Date..." MinDate="DateTime.Now" @bind-Date="@Data.ExpiryDate" CssClass="cw-320" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Description" ColSpanMd="6">
                        <DxMemo @bind-Text="@Data.Description" Rows="5" ShowValidationIcon="true" />
                    </DxFormLayoutItem>
                </DxFormLayout>
            </EditForm>
                   @*  <DxFormLayoutItem Caption="" ColSpanMd="12"> *@

                        <div class="" style="height: calc(100vh - 565px);overflow: auto;overflow-x: hidden;">
                            <DxUpload @ref="uploadCheckInComponent" Name="files"
                                      Visible="@AttachmentCheckInUploadVisible"
                                      AcceptedFileTypes=@AcceptedFileTypes
                                      ChunkSize="200000"
                                      UploadMode="@UploadMode.OnButtonClick"
                                      FileUploadStart="OnFileUploadStart"
                                      AllowMultiFileUpload="false"
                                      ExternalSelectButtonCssSelector="#attachmentCheckInSelectButton"
                                      SelectedFilesChanged="@AttachmentSelectedFilesChanged"
                                      FileUploaded="@isUploadSuccess"
                                      FileUploadProgressChanged="@OnUploadProgressChanged"
                                      FileUploadStarted="@OnFileUploadStarted"
                                      FileUploadError="@OnUploadError">
                            </DxUpload>

                        </div>
                   @*  </DxFormLayoutItem> *@
               
        </div>
    </div>
</div>
@code {
    EditContext _editContext;
    [Parameter]
    public DocumentsModel selectedItems { get; set; }
    [Parameter]
    public Guid? FileProfileSessionId { get; set; }
    [Parameter]
    public ApplicationUser applicationUser { get; set; }
    [Parameter]
    public IEnumerable FolderPathLists { get; set; }
    List<DocumentsModel> FolderPathListsItems = new List<DocumentsModel>();
    string UploadDocFormID = "UploadDocCheckInForm";
    public bool checkInloading { get; set; } = true;
    string Message = "Upload";
    [Parameter]
    public Action RevokeBack { get; set; }
    string IsUploadExt = ".isUploadCheckOut";
    bool isExpiryDate { get; set; } = false;
    DocumentsUploadModel Data = new DocumentsUploadModel();
    bool AttachmentCheckInUploadVisible { get; set; } = false;
    private List<UploadFileInfo> SelectedFiles { get; set; } = new List<UploadFileInfo>();
    private DxUpload uploadCheckInComponent;
    public List<string> AcceptedFileTypes { get; set; } = new List<string> { "image/*", "video/*", ".doc", ".docx", ".ppt", ".pptx", ".xls", ".xlsx", ".txt", ".pdf", ".PDF", ".txt", ".TXT" };
    string ExtensionsList = "";
    int SelectedFilesCount { get; set; }
    int CurrentUplodCount { get; set; }
    bool? IsDuplicateUpload { get; set; } = false;
    public List<string?> documentsFiles { get; set; } = new List<string?>();
    public List<DocumentsUploadModel> TempSetIds = new List<DocumentsUploadModel>();
    protected override async Task OnInitializedAsync()
    {
        FolderPathListsItems = FolderPathLists.Cast<DocumentsModel>().ToList();
        _editContext = new EditContext(Data);
        IsUploadExt = ""; IsDuplicateUpload = false;
        if (selectedItems != null)
        {
            //AcceptedFileTypes = new List<string>();
            if (!string.IsNullOrEmpty(selectedItems.Extension))
            {
                var contentType = selectedItems.ContentType != null ? selectedItems.ContentType.Split("/").First().ToLower() : "";
                var extenionType = selectedItems.Extension.ToLower();
                if (extenionType == "txt")
                {
                    AcceptedFileTypes = new List<string>() { ".txt" };
                }
                else if (extenionType == "pdf")
                {
                    AcceptedFileTypes = new List<string>() { ".pdf" };
                }
                else if (extenionType == "ppt" || extenionType == "pptx")
                {
                    AcceptedFileTypes = new List<string>() { ".ppt", "pptx" };
                }
                else if (extenionType == "doc" || extenionType == "docx")
                {
                    AcceptedFileTypes = new List<string>() { ".doc", ".docx" };
                }
                else if (extenionType == "xls" || extenionType == "xlsx")
                {
                    AcceptedFileTypes = new List<string>() { ".xls", ".xlsx" };
                }
                else
                {
                    if (contentType == "image")
                    {
                        AcceptedFileTypes = new List<string>() { "image/*" };
                    }
                    else if (contentType == "video")
                    {
                        AcceptedFileTypes = new List<string>() { "video/*" };
                    }
                    else
                    {
                        IsUploadExt = ".isUploadCheckOut";
                    }
                }
            }
            if (selectedItems.IsExpiryDate == true)
            {
                isExpiryDate = true;
            }
            ExtensionsList = string.Join(",", AcceptedFileTypes.ConvertAll(d => d.ToLower()).Distinct().ToList());

            Data.IsCheckOut = true;
            Data.DocumentParentId = selectedItems.DocumentID;
            Data.DocumentMainParentId = selectedItems.DocumentParentId;
            Data.UserSession = applicationUser.SessionId;
            Data.UserId = applicationUser.UserID;
            Data.ProfileId = selectedItems.ProfileID;
            Data.SessionId = selectedItems.SessionId;
            Data.ProfileNo = selectedItems.ProfileNo;
            Data.FileProfileTypeId = selectedItems.FileProfileTypeId > 0 ? selectedItems.FileProfileTypeId : selectedItems.FilterProfileTypeId;
            StateHasChanged();
        }
    }
    void OnFileUploadStart(FileUploadStartEventArgs e)
    {
        if (SelectedFilesCount > 0)
        {
            if (SelectedFilesCount == 1)
            {
                Message = "Uploading...";
                checkInloading = false;
                string BaseUrl = Navigator.BaseUri + "api/FileUpload/";
                string url = BaseUrl + "UploadDocumentsBySession?SessionId=" + FileProfileSessionId + "&addedByUserId=" + applicationUser.UserID + "&IsNewSession=true&SourceFrom=FileProfile";
                e.UploadUrl = url;
            }
            else
            {
                var MyMessage = "Upload Only One File Allowed. Remove Another Files.";
                toastService.ShowToast(MyMessage, AC.SD.Core.Services.ToastLevel.Error);
            }
        }
    }
    async Task onGetExitingFile()
    {
        DocumentSearchModel documentSearchModels = new DocumentSearchModel();
        documentSearchModels.FileProfileTypeId = Data.FileProfileTypeId;
        List<long?> list1 = new List<long?>();
        list1.Add(Data.FileProfileTypeId);
        documentSearchModels.FileProfileTypeIds = list1;
        var docList = await Mediator.Send(new GetAllSelectedfileprofiletypesQuery(documentSearchModels));
        if (docList != null && docList.Count() > 0)
        {
            documentsFiles.AddRange(docList.Select(s => s.FileName).Distinct().ToList());
        }

    }
    void AttachmentSelectedFilesChanged(IEnumerable<UploadFileInfo> files)
    {
        var MyMessagess = string.Empty;
        if (files != null && files.ToList().Count() > 0)
        {
            if (IsDuplicateUpload == false)
            {
                files.ToList().ForEach(s =>
                {
                    if (documentsFiles.Contains(s.Name))
                    {
                        MyMessagess += s.Name + " file was Removed.\n\r";

                        uploadCheckInComponent.RemoveFile(s);
                    }
                });
            }
            AttachmentCheckInUploadVisible = files.ToList().Count > 0;
            SelectedFiles.AddRange(files);
            SelectedFilesCount = files.ToList().Count; //Count current files
            if (SelectedFilesCount > 0)
            {
                if (SelectedFilesCount == 1)
                {

                }
                else
                {
                    var MyMessage = "Upload Only One File Allowed. Remove Another Files.";
                    toastService.ShowToast(MyMessage, AC.SD.Core.Services.ToastLevel.Error);
                }
            }
            if (!string.IsNullOrEmpty(MyMessagess))
            {
                var msg = "File Already Exits." + MyMessagess;
                toastService.ShowToast(msg, AC.SD.Core.Services.ToastLevel.Error);
            }
        }

        InvokeAsync(StateHasChanged);
    }
    void OnFileUploadStarted(FileUploadEventArgs e)
    {
        var MyMessage = "Upload of the " + e.FileInfo.Name + " file was started.";
        toastService.ShowToast(MyMessage, AC.SD.Core.Services.ToastLevel.Info);
        InvokeAsync(StateHasChanged);
    }
    async Task isUploadSuccess(FileUploadEventArgs e)
    {
        CurrentUplodCount++;
        var filesessionIds = new Guid(e.FileInfo.Guid);
        var ext = e.FileInfo.Name.Split(".").Last();
        Data.FilePath = @"Documents\" + FileProfileSessionId + @"\" + filesessionIds + "." + ext;
        Data.FileSessionId = FileProfileSessionId;
        // Data.SourceFrom = "FileProfile";
        var response = await Mediator.Send(new UpdateCreateDocumentBySession(Data));
        if (response.SessionId != null)
        {
            var MyMessage = "Upload of the " + e.FileInfo.Name + " file is Completed.";
            toastService.ShowToast(MyMessage, AC.SD.Core.Services.ToastLevel.Success);
            Message = "Upload";
            checkInloading = true;
            backUrl();
        }

    }
    void OnUploadError(FileUploadErrorEventArgs e)
    {
        var MyError = e.RequestInfo.ResponseText;
        toastService.ShowToast(MyError, AC.SD.Core.Services.ToastLevel.Error);
        Message = "Upload";
        checkInloading = true;
        InvokeAsync(StateHasChanged);
    }
    void OnUploadProgressChanged(FileUploadEventArgs e)
    {
        var progress = e.FileInfo.LoadedBytes / e.FileInfo.Size * 100;
    }
    void backUrl()
    {
        RevokeBack?.Invoke();
    }
    void onSubmitCheckInUploadFormClick()
    {
        if (_editContext.Validate())
        {
            if (SelectedFilesCount > 0)
            {
                if (SelectedFilesCount == 1)
                {
                    this.HandleValidCheckInSubmit();
                }
                else
                {
                    var MyMessage = "Upload Only One File Allowed. Remove Another Files.";
                    toastService.ShowToast(MyMessage, AC.SD.Core.Services.ToastLevel.Error);
                }
            }
        }

    }
    void HandleValidCheckInSubmit()
    {
        uploadCheckInComponent.UploadAllFiles();
    }
    public void Dispose()
    {
        System.GC.Collect();
        GC.SuppressFinalize(this);
    }
}
