@using Application.Command.ApplicationMasterDetails;
@using Application.Queries;
@using MediatR
@using System.Threading
@using global::Core.Entities;
@inject IMediator Mediator
@using DevExpress.Export
@using global::Core.EntityModels;
@using global::Core.Entities.Views;
@inject AC.SD.Core.Services.ToastService toastService
@inject IJSRuntime jsRuntime
@using global::Core.Repositories.Query;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@page "/applicationmaster"
@implements IAsyncDisposable;

<div class="main-container">

    <div class="content-container row">

        <div class="menu-bar-content-container col-md-6">
            <div class="content-padding-20">
                <div class="menu-bar-content-container-heading">
                    <div class="heading-icon-text">
                        <div class="mb-cc-text">
                            <div class="card w-100">
                                <div class="card-body p-0">
                                    <DxMenu CollapseItemsToHamburgerMenu="true"
                                            CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                                            DisplayMode="MenuDisplayMode.Desktop">
                                        <Items>
                                            <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addMasterNew" Enabled="@AddMasterEnabled" />
                                            <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addMasterEdit" Enabled="@EditMasterEnabled" />
                                            <DxMenuItem Text="Access Permission" IconCssClass="fa fa-user-lock" Click="@addPermission" Enabled="@EditPermissionEnabled" />
                                        </Items>
                                    </DxMenu>
                                    <DxLoadingPanel @bind-Visible="PanelVisible"
                                                    IsContentBlocked="true"
                                                    ApplyBackgroundShading="true"
                                                    IndicatorAreaVisible="false"
                                                    Text="Fetching Data...">

                                        <DxGrid @ref="MasterGrid" Data="@_applicationMasterItems"
                                                EditMode="GridEditMode.EditForm"
                                                ShowGroupPanel="true"
                                                ShowGroupedColumns="true"
                                                ShowSearchBox="true"
                                                FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                                ColumnResizeMode="GridColumnResizeMode.NextColumn"
                                                PagerNavigationMode="PagerNavigationMode.InputBox"
                                                KeyFieldName="ApplicationMasterId"
                                                PageSizeSelectorVisible="true"
                                                PageSizeSelectorAllRowsItemVisible="false"
                                                PageSizeSelectorItems="@(new int[] { 5,10,20,30,50,100 })"
                                                PageSize="20"
                                                style="height: calc(100vh - 180px);"
                                                CssClass="ch-360"
                                                AllowSelectRowByClick="true"
                                                CustomizeElement="Grid_CustomizeElement"
                                                AutoExpandAllGroupRows="true"
                                                SelectionMode="GridSelectionMode.Single"
                                                SelectedDataItemsChanged="@SelectedDataItemsChanged"
                                                CustomizeEditModel="Grid_CustomizeMasterEditModel"
                                                EditModelSaving="Grid_EditModelMasterSaving"
                                                RowDoubleClick="OnRowMasterDoubleClick"
                                                SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages">
                                            <Columns>
                                                <DxGridSelectionColumn AllowSelectAll="false" Width="60px" />
                                                <DxGridDataColumn FieldName="ApplicationMasterId" Visible="false" />
                                                <DxGridDataColumn FieldName="ApplicationMasterCodeId" Visible="false" />
                                                <DxGridDataColumn FieldName="ApplicationMasterName" Caption="Master Name" />
                                                <DxGridDataColumn FieldName="ApplicationMasterDescription" Caption="Description" />
                                            </Columns>
                                            <EditFormTemplate Context="EditFormContext">
                                                @{
                                                    var plant = (global::Core.Entities.ApplicationMaster)EditFormContext.EditModel;
                                                }
                                                <DxFormLayout CssClass="w-100">
                                                    <DxFormLayoutItem Caption="Name" ColSpanMd="12">
                                                        <DxTextBox @bind-Text="@plant.ApplicationMasterName" ShowValidationIcon="true" />
                                                        <ValidationMessage For="@(() => plant.ApplicationMasterName)" />
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem Caption="Description" ColSpanMd="12">
                                                        <DxMemo @bind-Text="@plant.ApplicationMasterDescription" Rows="5" ShowValidationIcon="true" />
                                                        <ValidationMessage For="@(() => plant.ApplicationMasterDescription)" />
                                                    </DxFormLayoutItem>

                                                </DxFormLayout>
                                            </EditFormTemplate>
                                            <TotalSummary>
                                                <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="ApplicationMasterName" />
                                            </TotalSummary>
                                        </DxGrid>

                                    </DxLoadingPanel>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="menu-bar-content-container col-md-6">
            <div class="content-padding-20">
                <div class="menu-bar-content-container-heading">
                    <div class="heading-icon-text">
                        <div class="mb-cc-text">
                            <div class="card w-100">
                                <div class="card-body p-0">
                                    <div class="card w-100" style="margin-bottom:10px; margin-top:10px">
                                        <div class="card-body p-0">
                                            <DxMenu CollapseItemsToHamburgerMenu="true"
                                                    CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                                                    DisplayMode="MenuDisplayMode.Desktop">
                                                <Items>
                                                    <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" Enabled="@AddEnabled" />
                                                    <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                                                    <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
                                                    <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportToExcel" />
                                                </Items>
                                            </DxMenu>
                                        </div>
                                    </div>
                                    <DxLoadingPanel @bind-Visible="PanelVisibleMastersDetails"
                                                    IsContentBlocked="true"
                                                    ApplyBackgroundShading="true"
                                                    IndicatorAreaVisible="false"
                                                    Text="Fetching Data...">

                                        <DxGrid @ref="Grid" Data="@_applicationMasterDetails"
                                                EditMode="GridEditMode.EditForm"
                                                ShowGroupPanel="true"
                                                ShowGroupedColumns="true"
                                                ShowSearchBox="true"
                                                FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                                ColumnResizeMode="GridColumnResizeMode.NextColumn"
                                                PagerNavigationMode="PagerNavigationMode.InputBox"
                                                KeyFieldName="ApplicationMasterDetailID"
                                                PageSizeSelectorVisible="true"
                                                PageSizeSelectorAllRowsItemVisible="false"
                                                PageSizeSelectorItems="@(new int[] { 5,10,20,30,50,100 })"
                                                PageSize="20"
                                                style="height: calc(100vh - 240px);"
                                                CssClass="ch-360"
                                                AllowSelectRowByClick="true"
                                                EditModelSaving="Grid_EditModelSaving"
                                                DataItemDeleting="Grid_DataItemDeleting"
                                                CustomizeEditModel="Grid_CustomizeEditModel"
                                                CustomizeElement="Grid_CustomizeElement"
                                                AutoExpandAllGroupRows="true"
                                                SelectedDataItemsChanged="@SelectedDataItemsChanged"
                                                FocusedRowEnabled="true"
                                                RowDoubleClick="OnRowDoubleClick"
                                                RowClick="OnRowClick"
                                                SelectionMode="GridSelectionMode.Multiple"
                                                SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages">
                                            <Columns>
                                                <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
                                                <DxGridDataColumn FieldName="ApplicationMasterDetailID" Visible="false" />
                                                <DxGridDataColumn FieldName="Value" Caption="Name" />
                                                <DxGridDataColumn FieldName="Description" Caption="Description" />
                                            </Columns>
                                            <EditFormTemplate Context="EditFormContext">
                                                @{
                                                    var plant = (View_ApplicationMasterDetail)EditFormContext.EditModel;
                                                }
                                                <DxFormLayout CssClass="w-100">
                                                    <DxFormLayoutItem Caption="Name" ColSpanMd="12">
                                                        <DxTextBox @bind-Text="@plant.Value" ShowValidationIcon="true" />
                                                        <ValidationMessage For="@(() => plant.Value)" />
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem Caption="Description" ColSpanMd="12">
                                                        <DxMemo @bind-Text="@plant.Description" Rows="5" ShowValidationIcon="true" />
                                                        <ValidationMessage For="@(() => plant.Description)" />
                                                    </DxFormLayoutItem>

                                                </DxFormLayout>
                                            </EditFormTemplate>
                                            <TotalSummary>
                                                <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="Value" />
                                            </TotalSummary>
                                        </DxGrid>

                                    </DxLoadingPanel>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="CRT"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">


    <div class="text-center">
        <p>@DeleteerrorMessage</p>

        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>


</DxPopup>
<DxPopup @bind-Visible="@addPermissionEnabled"
         ShowFooter="true"
         HeaderText="Add Permission Control"
         CloseOnOutsideClick="false"
         Closed="EulaPermissionClosed"
         ShowCloseButton="true"
         Width="1000px">
    <BodyContentTemplate>
        <ApplicationMasterPermissions SelectedItems="@_selectItems" AccessTypeFrom="AppMaster" applicationUser="@applicationUser"></ApplicationMasterPermissions>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => CloseAddPermissionEnabled())" />
    </FooterContentTemplate>
</DxPopup>
@code {
    IGrid? MasterGrid { get; set; }
    IGrid? Grid { get; set; }
    private List<global::Core.Entities.ApplicationMaster> _applicationMasterItems;
    private List<View_ApplicationMasterDetail> _applicationMasterDetails { get; set; }
    bool PanelVisible { get; set; }
    bool PanelVisibleMastersDetails { get; set; }
    private View_ApplicationMasterDetail? _selectedItems;
    IReadOnlyList<object> SelectedDataItems { get; set; }
    private global::Core.Entities.ApplicationMaster _selectItems;
    private View_ApplicationMasterDetail _selectlst;
    bool AddEnabled { get; set; } = false;
    bool EditEnabled { get; set; } = false;
    bool DeleteEnabled { get; set; } = false;
    bool Blukdeletepopup { get; set; } = false;
    DxPopup? popup;
    public ApplicationUser applicationUser { get; private set; }
    bool PopupVisible { get; set; } = false;
    string? DeleteerrorMessage;
    bool AddMasterEnabled { get; set; } = false;
    bool EditMasterEnabled { get; set; } = false; bool EditPermissionEnabled { get; set; } = false;
    bool addPermissionEnabled { get; set; } = false;
    private List<OpenAccessUserLink> _openAccessUserLink { get; set; }
    private List<ApplicationMasterAccess> _applicationMasterAccess { get; set; }
    protected override async Task OnInitializedAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        await loadMAsterItems();
    }
    async Task loadMAsterItems()
    {
        PanelVisible = true; AddMasterEnabled = true; EditMasterEnabled = false; AddEnabled = false; EditEnabled = false; EditPermissionEnabled = false;
        DeleteEnabled = false; _applicationMasterAccess = new List<ApplicationMasterAccess>();
        _openAccessUserLink = await Mediator.Send(new GetDocumentAccessTypeQuery("GeneralAccess"));
        _applicationMasterDetails = new List<View_ApplicationMasterDetail>();
        _applicationMasterItems = await Mediator.Send(new GetAllApplicationMasterQuery());
        if (_applicationMasterItems != null && _applicationMasterItems.Count() > 0)
        {
            _selectItems = _applicationMasterItems.FirstOrDefault();
            MasterGrid.ClearSelection();
        }
        // if (_openAccessUserLink != null && _openAccessUserLink.Count() > 0)
        // {
        //     AddMasterEnabled = false;
        //     var userExits = _openAccessUserLink.FirstOrDefault(f => f.UserId == applicationUser.UserID);
        //     if (userExits != null)
        //     {
        //         if (userExits.IsAdd == true)
        //         {
        //             AddMasterEnabled = true;
        //         }
        //     }
        // }
        PanelVisible = false;
        StateHasChanged();
    }
    async void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        _applicationMasterAccess = new List<ApplicationMasterAccess>();
        SelectedDataItems = SelectedToItems;
        if (SelectedDataItems != null)
        {
            foreach (object item in SelectedDataItems)
            {
                if (item is global::Core.Entities.ApplicationMaster masterData)
                {
                    AddEnabled = true; EditMasterEnabled = true; EditPermissionEnabled = true;
                    _selectItems = masterData;
                    // if (_openAccessUserLink != null && _openAccessUserLink.Count() > 0)
                    // {
                    //     EditMasterEnabled = false; EditPermissionEnabled = false;
                    //     var userExits = _openAccessUserLink.FirstOrDefault(f => f.UserId == applicationUser.UserID);
                    //     if (userExits != null)
                    //     {
                    //         if (userExits.IsEdit == true)
                    //         {
                    //             EditMasterEnabled = true;
                    //         }
                    //         if (userExits.IsPermission == true)
                    //         {
                    //             EditPermissionEnabled = true;
                    //         }
                    //     }
                    // }
                    _applicationMasterAccess = await Mediator.Send(new GetApplicationMasterAccessSecurityByMaster(masterData.ApplicationMasterId, "AppMaster"));
                    await UpdateDataAsync();
                }
            }
        }
    }
    async Task UpdateDataAsync()
    {
        ClearList();
        EditEnabled = false;
        DeleteEnabled = false;
        PanelVisibleMastersDetails = true;
        _applicationMasterDetails = await Mediator.Send(new GetAllApplicationMasterDetailQuery(_selectItems.ApplicationMasterCodeId));
        for (int i = 0; i < _applicationMasterDetails.Count; i++)
        {
            _applicationMasterDetails[i].Index = i + 1;
        }
        PanelVisibleMastersDetails = false;
        if (_applicationMasterDetails.Count > 0)
        {
            _selectedItems = _applicationMasterDetails.FirstOrDefault();
            EditEnabled = true;
            DeleteEnabled = true;
            Grid.SetFocusedRowIndex(0);
        }
        if (_applicationMasterAccess != null && _applicationMasterAccess.Count() > 0)
        {
            EditEnabled = false;
            DeleteEnabled = false;AddEnabled = false;
            var userExits = _applicationMasterAccess.FirstOrDefault(f => f.UserId == applicationUser.UserID);
            if (userExits != null)
            {
                EditEnabled = true;
                DeleteEnabled = true; AddEnabled = true;
            }
        }
       
        StateHasChanged();

    }
    async Task EulaPermissionClosed(PopupClosedEventArgs args)
    {
        await loadMAsterItems();
        addPermissionEnabled = false;
    }
    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        if (e.IsNew)
        {
            var newplant = (View_ApplicationMasterDetail)e.EditModel;
            newplant.ApplicationMasterID = _selectItems.ApplicationMasterId;
            newplant.Description = "";
            newplant.Value = "";
        }
    }

    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editablePlant = (View_ApplicationMasterDetail)e.EditModel;
        if (e.IsNew)
        {
            var request = new CreateApplicationMasterDetailCommand
                {
                    ApplicationMasterId = _selectItems.ApplicationMasterId,
                    Description = editablePlant.Description,
                    Value = editablePlant.Value,
                    AddedByUserId = applicationUser.UserID,
                    ModifiedByUserId = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    ModifiedDate = DateTime.Now,
                    StatusCodeId = 1,
                    ProfileId = editablePlant.ProfileId,
                    FileProfileTypeId = editablePlant.FileProfileTypeId
                };
            await Mediator.Send(request);
            toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();

        }
        else
        {
            await UpdatePlantAsync(editablePlant);
        }

    }
    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        var editablePlant = (View_ApplicationMasterDetail)e.DataItem;
        var request = new DeleteApplicationMasterDetailCommand(editablePlant.ApplicationMasterDetailID);
        await Mediator.Send(request);
        await UpdateDataAsync();
        Grid.SetFocusedRowIndex(0);
    }
    async Task UpdatePlantAsync(View_ApplicationMasterDetail editablePlant)
    {
        var request = new EditApplicationMasterDetailCommand
            {
                ApplicationMasterDetailId = editablePlant.ApplicationMasterDetailID,
                ApplicationMasterId = editablePlant.ApplicationMasterID.Value,
                Description = editablePlant.Description,
                Value = editablePlant.Value,
                ModifiedDate = DateTime.Now,
                ModifiedByUserId = applicationUser.UserID,
                AddedDate = editablePlant.AddedDate,
                AddedByUserId = editablePlant.AddedByUserId,
                ProfileId = editablePlant.ProfileId,
                FileProfileTypeId = editablePlant.FileProfileTypeId,
                StatusCodeId = editablePlant.StatusCodeId,
            };
        await Mediator.Send(request);
        toastService.ShowToast("Record updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
        await UpdateDataAsync();
    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "ApplicationMasterDetailID");
        _selectedItems = _applicationMasterDetails.FirstOrDefault(f => f.ApplicationMasterDetailID == (long?)UniqueId);
        StateHasChanged();
    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addEdit();
    }
    void addNew()
    {
        Grid.StartEditNewRowAsync();

    }
    async void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
        await UpdateDataAsync();
    }
    async void ClosePopup()
    {
        PopupVisible = false;
        await UpdateDataAsync();
    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    void addEdit()
    {
        if (EditEnabled == true)
        {
            Grid.StartEditDataItemAsync(_selectedItems);
        }
    }
    async Task bulkDelete()
    {
        try
        {

            if (SelectedDataItems != null)
            {
                foreach (object item in SelectedDataItems)
                {

                    if (item is View_ApplicationMasterDetail plants)
                    {
                        var request = new DeleteApplicationMasterDetailCommand(plants.ApplicationMasterDetailID);
                        await Mediator.Send(request);
                        Blukdeletepopup = false;
                        toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        await UpdateDataAsync();
                        Grid.SetFocusedRowIndex(0);
                    }

                }
            }
        }
        catch (Exception eq)
        {
            DeleteerrorMessage = eq.Message;
            PopupVisible = true;
        }
        //await UpdateDataAsync();
    }
    async Task ExportToExcel()
    {
        await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = true,
                CustomizeCell = OnCustomizeCell
            });
    }
    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    void addMasterNew()
    {
        MasterGrid.StartEditNewRowAsync();
    }
    void addMasterEdit()
    {
        if (EditMasterEnabled == true)
        {
            MasterGrid.StartEditDataItemAsync(_selectItems);
        }
    }
    void OnRowMasterDoubleClick()
    {
        addMasterEdit();
    }
    void Grid_CustomizeMasterEditModel(GridCustomizeEditModelEventArgs e)
    {
        if (e.IsNew)
        {
            var newplant = (global::Core.Entities.ApplicationMaster)e.EditModel;
            newplant.ApplicationMasterName = "";
            newplant.ApplicationMasterDescription = "";
        }
    }
    async Task Grid_EditModelMasterSaving(GridEditModelSavingEventArgs e)
    {
        var editablePlant = (global::Core.Entities.ApplicationMaster)e.EditModel;
        if (e.IsNew)
        {
            var request = new InsertApplicationMaster
                {
                    ApplicationMasterCodeId = editablePlant.ApplicationMasterCodeId,
                    ApplicationMasterDescription = editablePlant.ApplicationMasterDescription,
                    ApplicationMasterName = editablePlant.ApplicationMasterName,
                };
            await Mediator.Send(request);
            toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await loadMAsterItems();
        }
        else
        {
            var request = new InsertApplicationMaster
                {
                    ApplicationMasterId = editablePlant.ApplicationMasterId,
                    ApplicationMasterCodeId = editablePlant.ApplicationMasterCodeId,
                    ApplicationMasterDescription = editablePlant.ApplicationMasterDescription,
                    ApplicationMasterName = editablePlant.ApplicationMasterName,
                };
            await Mediator.Send(request);
            toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await loadMAsterItems();
        }

    }
    void addPermission()
    {
        addPermissionEnabled = true;
    }
    async Task CloseAddPermissionEnabled()
    {
        await loadMAsterItems();
        addPermissionEnabled = false;
    }
    public async ValueTask DisposeAsync()
    {
       if(_applicationMasterItems != null)
       {
            _applicationMasterItems.Clear();
            _applicationMasterItems = null;
          //  GC.Collect();
          //GC.SuppressFinalize(this);
       }

       
    }
    private void ClearList()
    {
        if (_applicationMasterDetails != null)
        {
            _applicationMasterDetails.Clear();
            _applicationMasterDetails = null;

            // Optionally, force garbage collection
            // GC.Collect();
            // GC.WaitForPendingFinalizers();
            // GC.Collect();
        }
    }
}
