@using global::Core.Entities;
@using global::Core.Entities.Views;
@using Application.Queries;
@using MediatR
@inject IMediator Mediator
@inject AC.SD.Core.Services.ToastService toastService
@implements IDisposable
<div style="width:100%;">
    <DxTabs RenderMode="TabsRenderMode.AllTabs" @bind-ActiveTabIndex="@ActiveTabSecIndex" TabsPosition="TabsPosition.Top" TabClick="OnTabClick">
        <DxTabPage Text="User" TabIconCssClass="tabs-icon-home tabs-icon">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <EditForm Model="@Data" id="User1"
                                  OnValidSubmit="@HandleValidSubmit"
                                  OnInvalidSubmit="@HandleInvalidSubmit"
                                  Context="EditFormContext">
                            <DataAnnotationsValidator />
                            <DxFormLayout>
                                <DxFormLayoutItem Caption="Users" ColSpanMd="10">
                                    <DxTagBox Data="_usersList"
                                    @bind-Values="Data.SelectUserIDs"
                                              NullText="Select To..."
                                              ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                              ValueFieldName="UserID"
                                              TextFieldName="FirstName"
                                              FilteringMode="DataGridFilteringMode.Contains"
                                              EditFormat="{0}-{1}"
                                              SelectedItemsChanged="@((IEnumerable<ViewEmployee> values) => onSelectedUserItemsChanged(values))"
                                              ListRenderMode="ListRenderMode.Virtual">
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.FirstName)" Caption="FirstName" />
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.LastName)" Caption="Last Name" />
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.NickName)" Caption="Nick Name" />
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.DesignationName)" Caption="Designation" />
                                        <DxListEditorColumn FieldName="@nameof(ViewEmployee.CompanyName)" Caption="Company" Width="100px" />
                                    </DxTagBox>
                                </DxFormLayoutItem>
                                <DxFormLayoutItem ColSpanMd="2">
                                    <DxButton SubmitFormOnClick="true"
                                              Text="Save"
                                              style="margin-bottom: 20px;"
                                              RenderStyle="ButtonRenderStyle.Primary" />
                                </DxFormLayoutItem>
                            </DxFormLayout>
                        </EditForm>
                    </div>
                </div>
            </div>

        </DxTabPage>
        <DxTabPage Text="User Group" TabIconCssClass="tabs-icon-products tabs-icon">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <EditForm Model="@Data" id="User2"
                                  OnValidSubmit="@HandleValidSubmit"
                                  OnInvalidSubmit="@HandleInvalidSubmit"
                                  Context="EditFormContext">
                            <DataAnnotationsValidator />
                            <DxFormLayout>
                                <DxFormLayoutItem Caption="User Group" ColSpanMd="10">
                                    <DxTagBox Data="_userGroupsList"
                                    @bind-Values="Data.SelectUserGroupIDs"
                                              NullText="Select To..."
                                              ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                              ValueFieldName="UserGroupId"
                                              TextFieldName="Name"
                                              SelectedItemsChanged="@((IEnumerable<UserGroup> values) => onSelectedUserGroupItemsChanged(values))"
                                              ListRenderMode="ListRenderMode.Virtual">
                                        <DxListEditorColumn FieldName="@nameof(UserGroup.Name)" Caption="Name" />
                                        <DxListEditorColumn FieldName="@nameof(UserGroup.Description)" Caption="Description" />
                                    </DxTagBox>
                                </DxFormLayoutItem>
                                <DxFormLayoutItem ColSpanMd="2">
                                    <DxButton SubmitFormOnClick="true"
                                              Text="Save"
                                              style="margin-bottom: 20px;"
                                              RenderStyle="ButtonRenderStyle.Primary" />
                                </DxFormLayoutItem>
                            </DxFormLayout>
                        </EditForm>
                    </div>

                </div>
            </div>
        </DxTabPage>
        <DxTabPage Text="Level" TabIconCssClass="tabs-icon-support tabs-icon">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">

                        <EditForm Model="@Data" id="User3"
                                  OnValidSubmit="@HandleValidSubmit"
                                  OnInvalidSubmit="@HandleInvalidSubmit"
                                  Context="EditFormContext">
                            <DataAnnotationsValidator />
                            <DxFormLayout>
                                <DxFormLayoutItem Caption="Level Master" ColSpanMd="10">
                                    <DxTagBox Data="_levelMasterLists"
                                    @bind-Values="Data.SelectLevelMasterIDs"
                                              NullText="Select To..."
                                              ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                              ValueFieldName="LevelID"
                                              TextFieldName="Name"
                                              SelectedItemsChanged="@((IEnumerable<ViewLevel> values) => onSelectedLevelItemsChanged(values))"
                                              ListRenderMode="ListRenderMode.Virtual">
                                        <DxListEditorColumn FieldName="@nameof(ViewLevel.Name)" Caption="Name" />
                                        <DxListEditorColumn FieldName="@nameof(ViewLevel.DivisionName)" Caption="Division Name" />
                                    </DxTagBox>
                                </DxFormLayoutItem>
                                <DxFormLayoutItem ColSpanMd="2">
                                    <DxButton SubmitFormOnClick="true"
                                              Text="Save"
                                              style="margin-bottom: 20px;"
                                              RenderStyle="ButtonRenderStyle.Primary" />
                                </DxFormLayoutItem>
                            </DxFormLayout>

                        </EditForm>

                    </div>

                </div>
            </div>
        </DxTabPage>
    </DxTabs>
    <div class="col-md-12">
        <ApplicationMasterPermissionLists @ref="refDocumentUserRoleListsLevel" AccessTypeFrom="@AccessTypeFrom" ApplicationMasterId="@ApplicationMasterId"></ApplicationMasterPermissionLists>
    </div>
</div>
@code {
    private ApplicationMasterPermissionLists? refDocumentUserRoleListsLevel;
    [Parameter]
    public global::Core.Entities.ApplicationMaster SelectedItems { get; set; }
    [Parameter]
    public ApplicationUser applicationUser { get; set; }
    [Parameter]
    public string? AccessTypeFrom { get; set; }
    public long ApplicationMasterId { get; set; }
    private bool loading;
    private string MyID = "myidPerSection";
    ApplicationMasterAccess Data = new ApplicationMasterAccess();
    private List<ViewEmployee>? _usersList { get; set; }
    private List<UserGroup> _userGroupsList { get; set; }
    public List<ViewLevel> _levelMasterLists { get; set; }
    int ActiveTabSecIndex { get; set; } = 0;
    protected override async Task OnInitializedAsync()
    {
        Data.ApplicationMasterId = SelectedItems.ApplicationMasterId;
        ApplicationMasterId = SelectedItems.ApplicationMasterId;
        _userGroupsList = await Mediator.Send(new GetUserGroups());
        _levelMasterLists = await Mediator.Send(new GetAllLevelMasterQuery());
        Data.UserType = "User";
        Data.AccessTypeFrom = AccessTypeFrom;
        _usersList = await Mediator.Send(new GetAllEmployeeQuery());
    }
    async Task OnTabClick(TabClickEventArgs e)
    {
        if (e.TabIndex == 0)
        {
            Data.UserType = "User";
        }
        if (e.TabIndex == 1)
        {
            Data.UserType = "UserGroup";
        }
        if (e.TabIndex == 2)
        {
            Data.UserType = "Level";
        }
        await refDocumentUserRoleListsLevel.loadData(ApplicationMasterId);


        StateHasChanged();
    }
    void onSelectedUserItemsChanged(IEnumerable<ViewEmployee> values)
    {
        ActiveTabSecIndex = 0;
        StateHasChanged();
    }
    void onSelectedUserGroupItemsChanged(IEnumerable<UserGroup> values)
    {
        ActiveTabSecIndex = 1;
        StateHasChanged();
    }
    void onSelectedLevelItemsChanged(IEnumerable<ViewLevel> values)
    {
        ActiveTabSecIndex = 2;
        StateHasChanged();
    }
    async Task HandleValidSubmit()
    {
        var userCount = Data.SelectUserIDs == null ? 0 : Data.SelectUserIDs.Count();
        var userGroupCount = Data.SelectUserGroupIDs == null ? 0 : Data.SelectUserGroupIDs.Count();
        var levelCount = Data.SelectLevelMasterIDs == null ? 0 : Data.SelectLevelMasterIDs.Count();
            loading = true;
        var response = await Mediator.Send(new InsertApplicationMasterAccessSecurity(Data));
        if (response.ApplicationMasterId > 0)
            {
                Data.SelectUserIDs = null; Data.SelectLevelMasterIDs = null; Data.SelectUserGroupIDs = null;
                toastService.ShowToast("Record Added Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await refDocumentUserRoleListsLevel.loadData(ApplicationMasterId);
                loading = false;
            }
        
    }
    void HandleInvalidSubmit()
    {
    }
    public void Dispose()
    {
        System.GC.Collect();
        GC.SuppressFinalize(this);
    }
}
