@using Application.Command.ApplicationMasterChilds;
@using Application.Command.ApplicationMasterDetails;
@using Application.Queries;
@using MediatR
@using global::Core.Entities;
@inject IMediator Mediator
@using DevExpress.Export
@using global::Core.EntityModels;
@using global::Core.Entities.Views;
@inject AC.SD.Core.Services.ToastService toastService
@inject IJSRuntime jsRuntime
@using global::Core.Repositories.Query;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@page "/applicationmasterparent"
@implements IAsyncDisposable;

<div class="main-container">

    <div class="content-container row">

        <div class="menu-bar-content-container col-md-6">
            <div class="content-padding-20">
                <div class="menu-bar-content-container-heading">
                    <div class="heading-icon-text">
                        <div class="mb-cc-text">
                            <div class="card w-100">
                                <div class="card-body p-0">
                                    <DxMenu CollapseItemsToHamburgerMenu="true"
                                            CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                                            DisplayMode="MenuDisplayMode.Desktop">
                                        <Items>
                                            <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addMasterNew" Enabled="@AddMasterEnabled" />
                                            <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addMasterEdit" Enabled="@EditMasterEnabled" />
                                            <DxMenuItem Text="Access Permission" IconCssClass="fa fa-user-lock" Click="@addPermission" Enabled="@EditPermissionEnabled" />
                                        </Items>
                                    </DxMenu>
                                    <DxLoadingPanel @bind-Visible="PanelVisible"
                                                    IsContentBlocked="true"
                                                    ApplyBackgroundShading="true"
                                                    IndicatorAreaVisible="false"
                                                    Text="Fetching Data...">

                                        <DxGrid @ref="MasterGrid" Data="@_applicationMasterItems"
                                                EditMode="GridEditMode.EditForm"
                                                ShowGroupPanel="true"
                                                ShowGroupedColumns="true"
                                                ShowSearchBox="true"
                                                FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                                ColumnResizeMode="GridColumnResizeMode.NextColumn"
                                                PagerNavigationMode="PagerNavigationMode.InputBox"
                                                KeyFieldName="ApplicationMasterParentId"
                                                PageSizeSelectorVisible="true"
                                                PageSizeSelectorAllRowsItemVisible="false"
                                                PageSizeSelectorItems="@(new int[] { 5,10,20,30,50,100 })"
                                                PageSize="20"
                                                style="height: calc(100vh - 180px);"
                                                CssClass="ch-360"
                                                AllowSelectRowByClick="true"
                                                CustomizeElement="Grid_CustomizeElement"
                                                EditModelSaving="Grid_EditModelMasterSaving"
                                                CustomizeEditModel="Grid_CustomizeMasterEditModel"
                                                RowDoubleClick="OnRowMasterDoubleClick"
                                                AutoExpandAllGroupRows="true"
                                                SelectionMode="GridSelectionMode.Single"
                                                SelectedDataItemsChanged="@SelectedDataItemsChanged"
                                                SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages">
                                            <Columns>
                                                <DxGridSelectionColumn AllowSelectAll="false" Width="60px" />
                                                <DxGridDataColumn FieldName="ApplicationMasterParentId" Visible="false" />
                                                <DxGridDataColumn FieldName="ApplicationMasterParentCodeId" Visible="false" />
                                                <DxGridDataColumn FieldName="ApplicationMasterName" Caption="Master Name" />
                                                <DxGridDataColumn FieldName="Description" Caption="Description" />
                                            </Columns>
                                            <EditFormTemplate Context="EditFormContext">
                                                @{
                                                    var plant = (ApplicationMasterParent)EditFormContext.EditModel;
                                                }
                                                <DxFormLayout CssClass="w-100">
                                                    <DxFormLayoutItem Caption="Parent Name" ColSpanMd="6">
                                                        <DxTextBox @bind-Text="@plant.ApplicationMasterName" ShowValidationIcon="true" />
                                                        <ValidationMessage For="@(() => plant.ApplicationMasterName)" />
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem Caption="Description" ColSpanMd="6">
                                                        <DxMemo @bind-Text="@plant.Description" Rows="5" ShowValidationIcon="true" />
                                                        <ValidationMessage For="@(() => plant.Description)" />
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem Caption="Child Name" ColSpanMd="6">
                                                        <DxTextBox @bind-Text="@plant.ApplicationMasterName2" ShowValidationIcon="true" />
                                                        <ValidationMessage For="@(() => plant.ApplicationMasterName2)" />
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem Caption="Description" ColSpanMd="6">
                                                        <DxMemo @bind-Text="@plant.Description2" Rows="5" ShowValidationIcon="true" />
                                                        <ValidationMessage For="@(() => plant.Description2)" />
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem Caption="Sub Child Name" ColSpanMd="6">
                                                        <DxTextBox @bind-Text="@plant.ApplicationMasterName3" ShowValidationIcon="true" />
                                                        <ValidationMessage For="@(() => plant.ApplicationMasterName3)" />
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem Caption="Description" ColSpanMd="6">
                                                        <DxMemo @bind-Text="@plant.Description3" Rows="5" ShowValidationIcon="true" />
                                                        <ValidationMessage For="@(() => plant.Description3)" />
                                                    </DxFormLayoutItem>
                                                </DxFormLayout>
                                            </EditFormTemplate>
                                            <TotalSummary>
                                                <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="ApplicationMasterName" />
                                            </TotalSummary>
                                        </DxGrid>

                                    </DxLoadingPanel>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="menu-bar-content-container col-md-6">
            <div class="content-padding-20">
                <div class="menu-bar-content-container-heading">
                    <div class="heading-icon-text">
                        <div class="mb-cc-text">
                            <div class="card w-100">
                                <div class="card-body p-0">
                                    <DxTabs RenderMode="TabsRenderMode.OnDemand" @bind-ActiveTabIndex="@ActiveTabIndex" TabClick="OnTabClick">
                                        <DxTabPage Text="@DisplayMainParent">
                                            <div class="card w-100" style="margin-bottom:10px; margin-top:10px">
                                                <div class="card-body p-0">
                                                    <DxMenu Orientation="Orientation.Horizontal"
                                                            DisplayMode="MenuDisplayMode.Desktop">
                                                        <Items>
                                                            <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" Enabled="@AddEnabled" />
                                                            <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                                                            <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
                                                            <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportToExcel" />
                                                            <DxMenuItem Text="@DisplayParent" IconCssClass="fa fa-add" Click="@addEditNewChild" Visible="@EditNewChildEnabled" />

                                                        </Items>
                                                    </DxMenu>
                                                </div>
                                            </div>
                                            <DxLoadingPanel @bind-Visible="PanelVisibleMastersDetails"
                                                            IsContentBlocked="true"
                                                            ApplyBackgroundShading="true"
                                                            IndicatorAreaVisible="false"
                                                            Text="Fetching Data...">

                                                <DxGrid @ref="Grid" Data="@_applicationMasterDetails"
                                                        EditMode="GridEditMode.EditForm"
                                                        ShowGroupPanel="true"
                                                        ShowGroupedColumns="true"
                                                        ShowSearchBox="true"
                                                        FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                                        ColumnResizeMode="GridColumnResizeMode.NextColumn"
                                                        PagerNavigationMode="PagerNavigationMode.InputBox"
                                                        KeyFieldName="ApplicationMasterChildId"
                                                        PageSizeSelectorVisible="true"
                                                        PageSizeSelectorAllRowsItemVisible="false"
                                                        PageSizeSelectorItems="@(new int[] { 5,10,20,30,50,100 })"
                                                        PageSize="20"
                                                        style="height: calc(100vh - 300px);"
                                                        CssClass="ch-360"
                                                        AllowSelectRowByClick="true"
                                                        EditModelSaving="Grid_EditModelSaving"
                                                        DataItemDeleting="Grid_DataItemDeleting"
                                                        CustomizeEditModel="Grid_CustomizeEditModel"
                                                        CustomizeElement="Grid_CustomizeElement"
                                                        AutoExpandAllGroupRows="true"
                                                        SelectedDataItemsChanged="@SelectedMasterDataItemsChanged"
                                                        FocusedRowEnabled="true"
                                                        RowDoubleClick="OnRowDoubleClick"
                                                        RowClick="OnRowClick"
                                                        SelectionMode="GridSelectionMode.Multiple"
                                                        SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages">
                                                    <Columns>
                                                        <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
                                                        <DxGridDataColumn FieldName="ApplicationMasterChildId" Visible="false" />
                                                        <DxGridDataColumn FieldName="Value" Caption="Name" />
                                                        <DxGridDataColumn FieldName="Description" Caption="Description" />
                                                    </Columns>
                                                    <EditFormTemplate Context="EditFormContext">
                                                        @{
                                                            var plant = (ApplicationMasterChildModel)EditFormContext.EditModel;
                                                        }
                                                        <DxFormLayout CssClass="w-100">
                                                            <DxFormLayoutItem Caption="Name" ColSpanMd="12">
                                                                <DxTextBox @bind-Text="@plant.Value" ShowValidationIcon="true" />
                                                                <ValidationMessage For="@(() => plant.Value)" />
                                                            </DxFormLayoutItem>
                                                            <DxFormLayoutItem Caption="Description" ColSpanMd="12">
                                                                <DxMemo @bind-Text="@plant.Description" Rows="5" ShowValidationIcon="true" />
                                                                <ValidationMessage For="@(() => plant.Description)" />
                                                            </DxFormLayoutItem>

                                                        </DxFormLayout>
                                                    </EditFormTemplate>
                                                    <TotalSummary>
                                                        <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="Value" />
                                                    </TotalSummary>
                                                </DxGrid>

                                            </DxLoadingPanel>
                                        </DxTabPage>
                                        <DxTabPage Text="@DisplayParent" Enabled="@childTabEnabled">
                                            <div class="card w-100" style="margin-bottom:10px;margin-top:10px;">
                                                <div class="card-body p-0">
                                                    <DxMenu Orientation="Orientation.Horizontal"
                                                            DisplayMode="MenuDisplayMode.Desktop">
                                                        <Items>
                                                            <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNewChild" />
                                                            <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEditChild" Enabled="@EditChildEnabled" />
                                                            <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDeleteChild" Enabled="@DeleteChildEnabled" />
                                                            <DxMenuItem Text="@DisplayChild" IconCssClass="fa fa-add" Click="@addEditNewChildChild" Visible="@EditNewChildChildEnabled" />

                                                        </Items>
                                                    </DxMenu>
                                                </div>
                                            </div>
                                            <span style="text-align: center;padding: 5px;font-weight: bold;font-size: 15px;">@ChildHeaderName</span>
                                            <DxGrid @ref="GridChild"
                                                    Data="_applicationChildItems"
                                                    KeyFieldName="ApplicationMasterChildId"
                                                    EditModelSaving="Grid_EditModelSavingChild"
                                                    DataItemDeleting="Grid_DataItemDeletingChild"
                                                    CustomizeEditModel="Grid_CustomizeEditModelChild"
                                                    ShowSearchBox="true"
                                                    PagerNavigationMode="PagerNavigationMode.InputBox"
                                                    PageSizeSelectorVisible="true"
                                                    PageSizeSelectorAllRowsItemVisible="true"
                                                    PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                                                    PageSize="20"
                                                    SelectionMode="GridSelectionMode.Multiple"
                                                    SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
                                                    ValidationEnabled="true"
                                                    AutoExpandAllGroupRows="true"
                                                    CustomizeElement="Grid_CustomizeElement"
                                                    FocusedRowEnabled="true"
                                                    RowClick="OnRowChildClick"
                                                    SelectedDataItemsChanged="SelectedMasterChildDataItemsChanged"
                                                    style="height: calc(100vh - 300px);"
                                                    RowDoubleClick="OnRowChildDoubleClick"
                                                    AllowSelectRowByClick="true"
                                                    CssClass="ch-360">
                                                <Columns>
                                                    <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
                                                    <DxGridDataColumn FieldName="ApplicationMasterChildId" Visible="false" />
                                                    <DxGridDataColumn FieldName="Value" Caption="Name" />
                                                    <DxGridDataColumn FieldName="Description" Caption="Description" />
                                                </Columns>
                                                <EditFormTemplate Context="EditFormContext">
                                                    @{
                                                        var childData = (ApplicationMasterChildModel)EditFormContext.EditModel;
                                                    }
                                                    <DxFormLayout CssClass="w-100">
                                                        <DxFormLayoutItem Caption="Name" ColSpanMd="12">
                                                            <DxTextBox @bind-Text="@childData.Value" ShowValidationIcon="true" />
                                                            <ValidationMessage For="@(() => childData.Value)" />
                                                        </DxFormLayoutItem>
                                                        <DxFormLayoutItem Caption="Description" ColSpanMd="12">
                                                            <DxMemo @bind-Text="@childData.Description" Rows="5" ShowValidationIcon="true" />
                                                            <ValidationMessage For="@(() => childData.Description)" />
                                                        </DxFormLayoutItem>

                                                    </DxFormLayout>
                                                </EditFormTemplate>
                                                <TotalSummary>
                                                    <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="Value" />
                                                </TotalSummary>
                                            </DxGrid>
                                        </DxTabPage>
                                        <DxTabPage Text="@DisplayChild" Enabled="@childChildTabEnabled">
                                            <div class="card w-100" style="margin-bottom:10px;margin-top:10px;">
                                                <div class="card-body p-0">
                                                    <DxMenu Orientation="Orientation.Horizontal"
                                                            DisplayMode="MenuDisplayMode.Desktop">
                                                        <Items>
                                                            <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNewChildChild" />
                                                            <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEditChildChild" Enabled="@EditChildChildEnabled" />
                                                            <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDeleteChildChild" Enabled="@DeleteChildChildEnabled" />
                                                        </Items>
                                                    </DxMenu>
                                                </div>
                                            </div>
                                            <span style="text-align: center;padding: 5px;font-weight: bold;font-size: 15px;">@ChildChildHeaderName</span>
                                            <DxGrid @ref="GridChildChild"
                                                    Data="_applicationChildChildItems"
                                                    KeyFieldName="ApplicationMasterChildId"
                                                    EditModelSaving="Grid_EditModelSavingChildChild"
                                                    DataItemDeleting="Grid_DataItemDeletingChildChild"
                                                    CustomizeEditModel="Grid_CustomizeEditModelChildChild"
                                                    ShowSearchBox="true"
                                                    PagerNavigationMode="PagerNavigationMode.InputBox"
                                                    PageSizeSelectorVisible="true"
                                                    PageSizeSelectorAllRowsItemVisible="true"
                                                    PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                                                    PageSize="20"
                                                    SelectionMode="GridSelectionMode.Multiple"
                                                    SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
                                                    ValidationEnabled="true"
                                                    AutoExpandAllGroupRows="true"
                                                    CustomizeElement="Grid_CustomizeElement"
                                                    FocusedRowEnabled="true"
                                                    RowClick="OnRowChildChildClick"
                                                    SelectedDataItemsChanged="SelectedMasterChildChildDataItemsChanged"
                                                    style="height: calc(100vh - 300px);"
                                                    RowDoubleClick="OnRowChildChildDoubleClick"
                                                    AllowSelectRowByClick="true"
                                                    CssClass="ch-360">
                                                <Columns>
                                                    <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
                                                    <DxGridDataColumn FieldName="ApplicationMasterChildId" Visible="false" />
                                                    <DxGridDataColumn FieldName="Value" Caption="Name" />
                                                    <DxGridDataColumn FieldName="Description" Caption="Description" />
                                                </Columns>
                                                <EditFormTemplate Context="EditFormContext">
                                                    @{
                                                        var childChildData = (ApplicationMasterChildModel)EditFormContext.EditModel;
                                                    }
                                                    <DxFormLayout CssClass="w-100">
                                                        <DxFormLayoutItem Caption="Name" ColSpanMd="12">
                                                            <DxTextBox @bind-Text="@childChildData.Value" ShowValidationIcon="true" />
                                                            <ValidationMessage For="@(() => childChildData.Value)" />
                                                        </DxFormLayoutItem>
                                                        <DxFormLayoutItem Caption="Description" ColSpanMd="12">
                                                            <DxMemo @bind-Text="@childChildData.Description" Rows="5" ShowValidationIcon="true" />
                                                            <ValidationMessage For="@(() => childChildData.Description)" />
                                                        </DxFormLayoutItem>

                                                    </DxFormLayout>
                                                </EditFormTemplate>
                                                <TotalSummary>
                                                    <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="Value" />
                                                </TotalSummary>
                                            </DxGrid>
                                        </DxTabPage>
                                    </DxTabs>
                                    <div style="display:none;">
                                    <DxGrid @ref="GridNestedChild"
                                            Data="_NestedApplicationChildItems"
                                            EditMode="GridEditMode.EditForm"
                                            ShowGroupPanel="true"
                                            ShowGroupedColumns="true"
                                            ShowSearchBox="true"
                                            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                            ColumnResizeMode="GridColumnResizeMode.NextColumn"
                                            PagerNavigationMode="PagerNavigationMode.InputBox"
                                            KeyFieldName="ApplicationMasterChildId"
                                            PageSizeSelectorVisible="true"
                                            PageSizeSelectorAllRowsItemVisible="false"
                                            PageSizeSelectorItems="@(new int[] { 5,10,20,30,50,100 })"
                                            PageSize="20"
                                            style="height: calc(100vh - 300px);"
                                            CssClass="ch-360"
                                            AllowSelectRowByClick="true"
                                            CustomizeElement="Grid_CustomizeElement"
                                            AutoExpandAllGroupRows="true"
                                            FocusedRowEnabled="true"
                                            SelectionMode="GridSelectionMode.Single"
                                            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages">
                                        <Columns>
                                            <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
                                            <DxGridDataColumn FieldName="ApplicationMasterChildId" Visible="false" />
                                            <DxGridDataColumn FieldName="ApplicationMasterName" GroupIndex="0" Caption="Master Name" />
                                            <DxGridDataColumn FieldName="ParentName" GroupIndex="0" Caption="Parent Name" />
                                            <DxGridDataColumn FieldName="Value" Caption="Name" />
                                            <DxGridDataColumn FieldName="Description" Caption="Description" />
                                        </Columns>
                                              @* <DetailRowTemplate>
                                                 <ApplicationMasterParentNested Items="(ApplicationMasterChildModel)context.DataItem" />
                                             </DetailRowTemplate> *@
                                       @*   <TotalSummary>
                                             <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="Value" />
                                         </TotalSummary> *@
                                    </DxGrid>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="CRT"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">


    <div class="text-center">
        <p>@DeleteerrorMessage</p>

        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>



@*<DxPopup @bind-Visible="@ChildPopupVisible"
         CloseOnOutsideClick="false"
         HeaderText="@ChildHeaderName"
         ShowFooter="false">
    <BodyTemplate Context="PopupContext">


    </BodyTemplate>
</DxPopup>*@
<DxPopup @bind-Visible="@BlukDeleteChildPopup"
         ShowFooter="true"
         HeaderText="CRT"
         Closed="EulaChildClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkChildDelete" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @ref="Childpopup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@ChildPopupClose">


    <div class="text-center">
        <p>@DeleteerrorMessage</p>

        <DxButton Text="OK" Click="@(() => CloseChildPopup())" />
    </div>
</DxPopup>



@*<DxPopup @bind-Visible="@ChildChildPopupVisible"
         CloseOnOutsideClick="false"
         HeaderText="@ChildChildHeaderName"
         ShowFooter="false">
    <BodyTemplate Context="PopupContext">


    </BodyTemplate>
</DxPopup>*@

<DxPopup @bind-Visible="@BlukDeleteChildChildPopup"
         ShowFooter="true"
         HeaderText="CRT"
         Closed="EulaChildChildClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkChildChildDelete" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @ref="ChildChildpopup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@ChildChildPopupClose">


    <div class="text-center">
        <p>@DeleteerrorMessage</p>

        <DxButton Text="OK" Click="@(() => CloseChildChildPopup())" />
    </div>
</DxPopup>
<DxPopup @bind-Visible="@addPermissionEnabled"
         ShowFooter="true"
         HeaderText="Add Permission Control"
         Closed="EulaPermissionClosed"
         CloseOnOutsideClick="false"
         ShowCloseButton="true"
         Width="1000px">
    <BodyContentTemplate>
        <ApplicationMasterPermissions ApplicationMasterParent="@_selectItems" AccessTypeFrom="AppMasterParent" applicationUser="@applicationUser"></ApplicationMasterPermissions>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Close" Click="@(() => CloseAddPermissionEnabled())" />
    </FooterContentTemplate>
</DxPopup>
@code {
    bool ExportSelectedRowsOnly { get; set; }
    public int ActiveTabIndex { get; set; } = 0;
    IGrid? GridNestedChild { get; set; }
    IGrid? MasterGrid { get; set; }
    IGrid? Grid { get; set; }
    IGrid? GridChild { get; set; }
    IGrid? GridChildChild { get; set; }
    bool isParentFlag { get; set; } = false;
    private List<ApplicationMasterParent> _applicationMasterItems;
    private List<ApplicationMasterParent> _applicationMasterAllItems;
    private List<ApplicationMasterChildModel> _applicationMasterDetails { get; set; }
    private List<ApplicationMasterChildModel> _applicationChildItems { get; set; }
    private List<ApplicationMasterChildModel> _applicationChildChildItems { get; set; }
    private List<ApplicationMasterChildModel> _NestedApplicationChildItems { get; set; }
    bool PanelVisible { get; set; }
    bool PanelVisibleMastersDetails { get; set; }
    private ApplicationMasterChildModel? _selectedItems;
    IReadOnlyList<object> SelectedDataItems { get; set; }
    private ApplicationMasterParent _selectItems;
    bool AddEnabled { get; set; } = false;
    bool EditEnabled { get; set; } = false;
    bool EditNewChildEnabled { get; set; } = false;
    bool DeleteEnabled { get; set; } = false;
    bool Blukdeletepopup { get; set; } = false;
    bool childTabEnabled { get; set; } = false;
    bool childChildTabEnabled { get; set; } = false;
    DxPopup? popup;
    public string DisplayMainParent { get; set; }
    public string DisplayParent { get; set; }
    IReadOnlyList<object> SelectedMasterDataItems { get; set; }
    public ApplicationUser applicationUser { get; private set; }
    bool PopupVisible { get; set; } = false;
    string? DeleteerrorMessage;
    public string ChildHeaderName { get; set; }
    bool ChildPopupVisible { get; set; }
    bool ChildPopupClose { get; set; }
    bool EditChildEnabled { get; set; } = false;
    bool DeleteChildEnabled { get; set; } = false;
    private ApplicationMasterChildModel? _selectedChildItems;
    IReadOnlyList<object> SelectedMasterChildDataItems { get; set; }
    bool BlukDeleteChildPopup { get; set; } = false;
    DxPopup? Childpopup;
    bool EditNewChildChildEnabled { get; set; } = false;
    public string DisplayChild { get; set; }
    public long? ParentChildId { get; set; }
    public long? ParentChildChildId { get; set; }
    public string ChildChildHeaderName { get; set; }
    bool ChildChildPopupVisible { get; set; }
    bool ChildChildPopupClose { get; set; }
    bool EditChildChildEnabled { get; set; } = false;
    bool DeleteChildChildEnabled { get; set; } = false;
    private ApplicationMasterChildModel? _selectedChildChildItems;
    IReadOnlyList<object> SelectedMasterChildChildDataItems { get; set; }
    bool BlukDeleteChildChildPopup { get; set; } = false;
    DxPopup? ChildChildpopup;
    bool AddMasterEnabled { get; set; } = false;
    bool EditMasterEnabled { get; set; } = false;
    private List<OpenAccessUserLink> _openAccessUserLink { get; set; }
    bool addPermissionEnabled { get; set; } = false;
    private List<ApplicationMasterAccess> _applicationMasterAccess { get; set; }
    bool EditPermissionEnabled { get; set; } = false;
    protected override async Task OnInitializedAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        await loadMAsterItems();
    }
    async Task loadMAsterItems()
    {
        _applicationMasterItems = await Mediator.Send(new GetAllApplicationMasterParentQuery()); _applicationMasterAccess = new List<ApplicationMasterAccess>();
        DisplayParent = ""; EditPermissionEnabled = false;
        ChildHeaderName = ""; ActiveTabIndex = 0;
        EditChildEnabled = false;
        DeleteChildEnabled = false;
        EditChildChildEnabled = false;
        DeleteChildEnabled = false;
        childTabEnabled = false;
        childChildTabEnabled = false;
        _applicationChildItems = new List<ApplicationMasterChildModel>();
        _applicationChildChildItems = new List<ApplicationMasterChildModel>();
        PanelVisible = true; AddMasterEnabled = true; EditMasterEnabled = false; AddEnabled = false; EditEnabled = false;
        DeleteEnabled = false;
        _openAccessUserLink = await Mediator.Send(new GetDocumentAccessTypeQuery("GeneralAccess"));
        _applicationMasterAllItems = await Mediator.Send(new GetAllApplicationMasterParentAllQuery());
        if (_applicationMasterAllItems != null && _applicationMasterAllItems.Count() > 0)
        {
            _selectItems = _applicationMasterAllItems.FirstOrDefault();
            MasterGrid.ClearSelection();
        }
        // if (_openAccessUserLink != null && _openAccessUserLink.Count() > 0)
        // {
        //     AddMasterEnabled = false;
        //     var userExits = _openAccessUserLink.FirstOrDefault(f => f.UserId == applicationUser.UserID);
        //     if (userExits != null)
        //     {
        //         if (userExits.IsAdd == true)
        //         {
        //             AddMasterEnabled = true;
        //         }
        //     }
        // }
        PanelVisible = false;
        StateHasChanged();
    }
    async Task OnTabClick(TabClickEventArgs e)
    {
        if (e.TabIndex == 0)
        {
            childTabEnabled = false;
            childChildTabEnabled = false;
            await UpdateDataAsync();
        }
        if (e.TabIndex == 1)
        {
            childChildTabEnabled = false;
        }
    }
    void addPermission()
    {
        addPermissionEnabled = true;
    }
    async Task EulaPermissionClosed(PopupClosedEventArgs args)
    {
        await loadMAsterItems();
        addPermissionEnabled = false;
    }
    async Task CloseAddPermissionEnabled()
    {
        await loadMAsterItems();
        addPermissionEnabled = false;
    }
    async void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        DisplayParent = ""; EditPermissionEnabled = true;
        ChildHeaderName = "";
        SelectedDataItems = SelectedToItems;
        ActiveTabIndex = 0;
        EditChildEnabled = false;
        DeleteChildEnabled = false;
        EditChildChildEnabled = false;
        DeleteChildEnabled = false;
        childTabEnabled = false;
        childChildTabEnabled = false;
        _applicationChildItems = new List<ApplicationMasterChildModel>();
        _applicationChildChildItems = new List<ApplicationMasterChildModel>();
        if (SelectedDataItems != null)
        {
            isParentFlag = true;
            foreach (object item in SelectedDataItems)
            {
                if (item is ApplicationMasterParent masterData)
                {
                    AddEnabled = true; EditMasterEnabled = true;
                    // if (_openAccessUserLink != null && _openAccessUserLink.Count() > 0)
                    //{
                    // EditMasterEnabled = false;
                    // var userExits = _openAccessUserLink.FirstOrDefault(f => f.UserId == applicationUser.UserID);
                    // if (userExits != null)
                    // {
                    // if (userExits.IsEdit == true)
                    // {
                    //     EditMasterEnabled = true;
                    //}
                    //}
                    // }
                    _applicationMasterAccess = await Mediator.Send(new GetApplicationMasterAccessSecurityByMaster(masterData.ApplicationMasterParentCodeId, "AppMasterParent"));
                    _selectItems = masterData;
                    var nameList = _applicationMasterAllItems.FirstOrDefault(x => x.ParentId == masterData.ApplicationMasterParentCodeId);
                    if (nameList != null)
                    {
                        var nameListChild = _applicationMasterAllItems.FirstOrDefault(x => x.ParentId == nameList.ApplicationMasterParentCodeId);
                        if (nameList != null)
                        {
                            ParentChildId = nameList.ApplicationMasterParentCodeId;
                            DisplayMainParent = _selectItems?.ApplicationMasterName;
                            DisplayParent = nameList?.ApplicationMasterName;
                            DisplayChild = nameListChild?.ApplicationMasterName;
                        }
                    }
                    await UpdateDataAsync();
                    _NestedApplicationChildItems = await Mediator.Send(new GetAllApplicationMasterChildNestedQuery(masterData.ApplicationMasterParentCodeId));
                    StateHasChanged();
                }

            }
        }
    }
    async Task UpdateDataAsync()
    {
        ClearList();
        EditEnabled = false;
        EditNewChildEnabled = false;
        DeleteEnabled = false;
        PanelVisibleMastersDetails = true;
        _applicationMasterDetails = await Mediator.Send(new GetAllApplicationMasterChildQuery("'" + _selectItems.ApplicationMasterParentCodeId + "'"));
        for (int i = 0; i < _applicationMasterDetails.Count; i++)
        {
            _applicationMasterDetails[i].Index = i + 1;
        }
        PanelVisibleMastersDetails = false;
        if (_applicationMasterDetails.Count > 0)
        {
            _selectedItems = _applicationMasterDetails.FirstOrDefault();
            EditEnabled = true; EditNewChildEnabled = true; DeleteEnabled = true;
            Grid.SetFocusedRowIndex(0);
        }
        if (_applicationMasterAccess != null && _applicationMasterAccess.Count() > 0)
        {
            EditEnabled = false;
            DeleteEnabled = false; AddEnabled = false;
            var userExits = _applicationMasterAccess.FirstOrDefault(f => f.UserId == applicationUser.UserID);
            if (userExits != null)
            {
                EditEnabled = true;
                DeleteEnabled = true; AddEnabled = true;
            }
        }
        StateHasChanged();

    }
    void Grid_CustomizeMasterEditModel(GridCustomizeEditModelEventArgs e)
    {
        var newplant = (ApplicationMasterParent)e.EditModel;
        if (e.IsNew)
        {
            newplant.ApplicationMasterName = "";
            newplant.Description = "";
            newplant.ApplicationMasterName2 = "";
            newplant.Description2 = "";
            newplant.ApplicationMasterName3 = "";
            newplant.Description3 = "";
        }
        else
        {
            newplant.ApplicationMasterName = newplant.ApplicationMasterName;
            newplant.Description = newplant.Description;
            newplant.ApplicationMasterParentCodeId = newplant.ApplicationMasterParentCodeId;
            var nameListChild = _applicationMasterAllItems.FirstOrDefault(x => x.ParentId == newplant.ApplicationMasterParentCodeId);
            newplant.ApplicationMasterName2 = nameListChild?.ApplicationMasterName;
            newplant.Description2 = nameListChild?.Description;
            newplant.ApplicationMasterParentCodeId2 = nameListChild?.ApplicationMasterParentCodeId;
            if (newplant.ApplicationMasterParentCodeId2 > 0)
            {
                var nameListChildChild = _applicationMasterAllItems.FirstOrDefault(x => x.ParentId == newplant.ApplicationMasterParentCodeId2);
                if (nameListChildChild != null)
                {
                    newplant.ApplicationMasterName3 = nameListChildChild?.ApplicationMasterName;
                    newplant.Description3 = nameListChildChild?.Description;
                    newplant.ApplicationMasterParentCodeId3 = nameListChildChild?.ApplicationMasterParentCodeId;
                }
            }
        }
    }
    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        if (e.IsNew)
        {
            var newplant = (ApplicationMasterChildModel)e.EditModel;
            newplant.ApplicationMasterParentId = _selectItems.ApplicationMasterParentId;
            newplant.Description = "";
            newplant.Value = "";
        }
    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editablePlant = (ApplicationMasterChildModel)e.EditModel;
        if (e.IsNew)
        {
            var request = new CreateApplicationMasterChildCommand
                {
                    ApplicationMasterParentId = _selectItems.ApplicationMasterParentCodeId,
                    ParentId = editablePlant.ParentId,
                    Description = editablePlant.Description,
                    Value = editablePlant.Value,
                    AddedByUserId = applicationUser.UserID,
                    ModifiedByUserId = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    ModifiedDate = DateTime.Now,
                    StatusCodeId = 1,
                    SessionId = Guid.NewGuid(),
                };
            await Mediator.Send(request);
            toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();

        }
        else
        {
            await UpdatePlantAsync(editablePlant);
        }

    }
    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        var editablePlant = (ApplicationMasterChildModel)e.DataItem;
        var request = new DeleteApplicationMasterChildCommand(editablePlant.ApplicationMasterChildId);
        await Mediator.Send(request);
        await UpdateDataAsync();
        Grid.SetFocusedRowIndex(0);
    }
    async Task UpdatePlantAsync(ApplicationMasterChildModel editablePlant)
    {
        var request = new EditApplicationMasterChildCommand
            {
                ApplicationMasterChildId = editablePlant.ApplicationMasterChildId,
                ApplicationMasterParentId = editablePlant.ApplicationMasterParentId.Value,
                Description = editablePlant.Description,
                Value = editablePlant.Value,
                ParentId = editablePlant.ParentId,
                ModifiedDate = DateTime.Now,
                ModifiedByUserId = applicationUser.UserID,
                AddedDate = editablePlant.AddedDate,
                AddedByUserId = editablePlant.AddedByUserId,
                SessionId = editablePlant.SessionId,
                StatusCodeId = editablePlant.StatusCodeId,
            };
        await Mediator.Send(request);
        toastService.ShowToast("Record updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
        await UpdateDataAsync();
    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "ApplicationMasterChildId");
        _selectedItems = _applicationMasterDetails.FirstOrDefault(f => f.ApplicationMasterChildId == (long?)UniqueId);

        StateHasChanged();
    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addEdit();
    }
    void addNew()
    {
        Grid.StartEditNewRowAsync();

    }
    async void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedMasterDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
        await UpdateDataAsync();
    }
    async void ClosePopup()
    {
        PopupVisible = false;
        await UpdateDataAsync();
    }
    void SelectedMasterDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedMasterDataItems = SelectedToItems;
        if (SelectedMasterDataItems.Count > 1)
        {
            EditNewChildEnabled = false;
            EditEnabled = false;
        }
        else
        {
            EditNewChildEnabled = true; EditEnabled = true;
        }
    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    void addEdit()
    {
        if (EditEnabled == true)
        {
            Grid.StartEditDataItemAsync(_selectedItems);
        }
    }

    async Task bulkDelete()
    {
        try
        {
            if (SelectedMasterDataItems != null)
            {
                foreach (object item in SelectedMasterDataItems)
                {
                    if (item is ApplicationMasterChildModel mastersData)
                    {
                        var request = new DeleteApplicationMasterChildCommand(mastersData.ApplicationMasterChildId);
                        await Mediator.Send(request);
                        Blukdeletepopup = false;
                        toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        await UpdateDataAsync();
                        Grid.SetFocusedRowIndex(0);
                    }
                }
            }
        }
        catch (Exception eq)
        {
            DeleteerrorMessage = eq.Message;
            PopupVisible = true;
        }
        SelectedMasterDataItems = null;
    }
    async Task ExportToExcel()
    {
        if(GridNestedChild!=null)
        {
            await GridNestedChild.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {
                    ExportSelectedRowsOnly = ExportSelectedRowsOnly,
            });
        }
    }
    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }








    void SelectedMasterChildDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedMasterChildDataItems = SelectedToItems;
        if (SelectedMasterChildDataItems.Count > 1)
        {
            EditChildEnabled = false;
        }
        else
        {
            EditChildEnabled = true;
        }
    }
    async Task bulkChildDelete()
    {
        try
        {
            if (SelectedMasterChildDataItems != null)
            {
                foreach (object item in SelectedMasterChildDataItems)
                {
                    if (item is ApplicationMasterChildModel mastersData)
                    {
                        var request = new DeleteApplicationMasterChildCommand(mastersData.ApplicationMasterChildId);
                        await Mediator.Send(request);
                        BlukDeleteChildPopup = false;
                        toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        await UpdateDataChildAsync();
                        GridChild.SetFocusedRowIndex(0);
                    }
                }
            }
        }
        catch (Exception eq)
        {
            DeleteerrorMessage = eq.Message;
            ChildPopupClose = true;
        }
        SelectedMasterChildDataItems = null;
    }
    async void EulaChildClosed(PopupClosedEventArgs args)
    {
        SelectedMasterChildDataItems = null;
        BlukDeleteChildPopup = false;
        ChildPopupClose = false;
        await UpdateDataChildAsync();
    }
    async void CloseChildPopup()
    {
        ChildPopupClose = false;
        await UpdateDataChildAsync();
    }
    async void addEditNewChild()
    {
        if (_selectedItems != null)
        {
            ChildHeaderName = _selectedItems.Value + " List";
            var codeId = _applicationMasterAllItems.FirstOrDefault(x => x.ParentId == _selectedItems.ApplicationMasterParentId)?.ApplicationMasterParentCodeId;
            var nameList = _applicationMasterAllItems.FirstOrDefault(x => x.ParentId == codeId);
            EditNewChildChildEnabled = false;
            DisplayChild = "";
            if (nameList != null)
            {
                EditNewChildChildEnabled = true;
                DisplayChild = nameList.ApplicationMasterName;
                StateHasChanged();
            }
            StateHasChanged();
            ChildPopupVisible = true;
            childTabEnabled = true;
            childChildTabEnabled = false;
            ActiveTabIndex = 1;
            await UpdateDataChildAsync();
        }
    }
    async Task UpdateDataChildAsync()
    {

        _applicationChildItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(_selectedItems.ApplicationMasterChildId));

        if (_applicationChildItems.Count > 0)
        {
            _selectedChildItems = _applicationChildItems.FirstOrDefault();
            EditChildEnabled = true;
            DeleteChildEnabled = true;
        }
        else
        {
            _selectedChildItems = null;
        }
        StateHasChanged();
    }
    void addNewChild()
    {
        GridChild.StartEditNewRowAsync();
    }
    void addEditChild()
    {
        if (EditChildEnabled == true)
        {
            GridChild.StartEditDataItemAsync(_selectedChildItems);
        }
    }
    void addDeleteChild()
    {
        BlukDeleteChildPopup = true;
    }
    void Grid_CustomizeEditModelChild(GridCustomizeEditModelEventArgs e)
    {

    }
    async Task Grid_EditModelSavingChild(GridEditModelSavingEventArgs e)
    {
        var editablePlant = (ApplicationMasterChildModel)e.EditModel;
        if (e.IsNew)
        {
            var request = new CreateApplicationMasterChildCommand
                {
                    ApplicationMasterParentId = ParentChildId,
                    ParentId = _selectedItems.ApplicationMasterChildId,
                    Description = editablePlant.Description,
                    Value = editablePlant.Value,
                    AddedByUserId = applicationUser.UserID,
                    ModifiedByUserId = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    ModifiedDate = DateTime.Now,
                    StatusCodeId = 1,
                    SessionId = Guid.NewGuid(),
                };
            await Mediator.Send(request);
            toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataChildAsync();

        }
        else
        {
            await UpdateChildAsync(editablePlant);
        }

    }
    async Task UpdateChildAsync(ApplicationMasterChildModel editablePlant)
    {
        var request = new EditApplicationMasterChildCommand
            {
                ApplicationMasterChildId = editablePlant.ApplicationMasterChildId,
                ApplicationMasterParentId = editablePlant.ApplicationMasterParentId.Value,
                Description = editablePlant.Description,
                Value = editablePlant.Value,
                ParentId = editablePlant.ParentId,
                ModifiedDate = DateTime.Now,
                ModifiedByUserId = applicationUser.UserID,
                AddedDate = editablePlant.AddedDate,
                AddedByUserId = editablePlant.AddedByUserId,
                SessionId = editablePlant.SessionId,
                StatusCodeId = editablePlant.StatusCodeId,
            };
        await Mediator.Send(request);
        toastService.ShowToast("Record updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
        await UpdateDataChildAsync();
    }
    async Task Grid_DataItemDeletingChild(GridDataItemDeletingEventArgs e)
    {
        var editablePlant = (ApplicationMasterChildModel)e.DataItem;
        var request = new DeleteApplicationMasterChildCommand(editablePlant.ApplicationMasterChildId);
        await Mediator.Send(request);
        await UpdateDataChildAsync();
        GridChildChild.SetFocusedRowIndex(0);
    }
    void OnRowChildClick(GridRowClickEventArgs e)
    {
        var UniqueIds = e.Grid.GetRowValue(e.VisibleIndex, "ApplicationMasterChildId");
        _selectedChildItems = _applicationChildItems.FirstOrDefault(f => f.ApplicationMasterChildId == (long?)UniqueIds);
        StateHasChanged();
    }
    void OnRowChildDoubleClick(GridRowClickEventArgs e)
    {
        OnRowChildClick(e);
        addEditChild();
    }






    void SelectedMasterChildChildDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {

        SelectedMasterChildChildDataItems = SelectedToItems;
        if (SelectedMasterChildChildDataItems.Count > 1)
        {
            EditChildChildEnabled = false;
        }
        else
        {
            EditChildChildEnabled = true;
        }
    }
    async Task bulkChildChildDelete()
    {
        try
        {
            if (SelectedMasterChildChildDataItems != null)
            {
                foreach (object item in SelectedMasterChildChildDataItems)
                {
                    if (item is ApplicationMasterChildModel mastersData)
                    {
                        var request = new DeleteApplicationMasterChildCommand(mastersData.ApplicationMasterChildId);
                        await Mediator.Send(request);
                        BlukDeleteChildChildPopup = false;
                        toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        await UpdateDataChildChildAsync();
                        GridChildChild.SetFocusedRowIndex(0);
                    }
                }
            }
        }
        catch (Exception eq)
        {
            DeleteerrorMessage = eq.Message;
            ChildChildPopupClose = true;
        }
        SelectedMasterChildChildDataItems = null;
    }
    async void EulaChildChildClosed(PopupClosedEventArgs args)
    {
        SelectedMasterChildChildDataItems = null;
        BlukDeleteChildChildPopup = false;
        ChildChildPopupClose = false;
        await UpdateDataChildChildAsync();
    }
    async void CloseChildChildPopup()
    {
        ChildChildPopupClose = false;
        await UpdateDataChildChildAsync();
    }
    async void addEditNewChildChild()
    {
        ChildChildHeaderName = _selectedChildItems.Value + " List";
        var nameList = _applicationMasterAllItems.FirstOrDefault(x => x.ParentId == _selectedChildItems.ApplicationMasterParentId);
        ParentChildChildId = nameList.ApplicationMasterParentCodeId;
        StateHasChanged();
        ChildChildPopupVisible = true;
        childChildTabEnabled = true;
        ActiveTabIndex = 2;
        await UpdateDataChildChildAsync();
    }
    async Task UpdateDataChildChildAsync()
    {

        _applicationChildChildItems = await Mediator.Send(new GetAllApplicationMasterChildByIdQuery(_selectedChildItems.ApplicationMasterChildId));

        if (_applicationChildChildItems.Count > 0)
        {
            _selectedChildChildItems = _applicationChildChildItems.FirstOrDefault();
            EditChildChildEnabled = true;
            DeleteChildChildEnabled = true;
        }
        else
        {
            _selectedChildChildItems = new ApplicationMasterChildModel();
        }
        StateHasChanged();
    }
    void addNewChildChild()
    {
        GridChildChild.StartEditNewRowAsync();
    }
    void addEditChildChild()
    {
        if (EditChildChildEnabled == true)
        {
            GridChildChild.StartEditDataItemAsync(_selectedChildChildItems);
        }
    }
    void addDeleteChildChild()
    {
        BlukDeleteChildChildPopup = true;
    }
    void Grid_CustomizeEditModelChildChild(GridCustomizeEditModelEventArgs e)
    {

    }
    async Task Grid_EditModelSavingChildChild(GridEditModelSavingEventArgs e)
    {
        var editablePlant = (ApplicationMasterChildModel)e.EditModel;
        if (e.IsNew)
        {
            var request = new CreateApplicationMasterChildCommand
                {
                    ApplicationMasterParentId = ParentChildChildId,
                    ParentId = _selectedChildItems.ApplicationMasterChildId,
                    Description = editablePlant.Description,
                    Value = editablePlant.Value,
                    AddedByUserId = applicationUser.UserID,
                    ModifiedByUserId = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    ModifiedDate = DateTime.Now,
                    StatusCodeId = 1,
                    SessionId = Guid.NewGuid(),
                };
            await Mediator.Send(request);
            toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataChildChildAsync();

        }
        else
        {
            await UpdateChildChildAsync(editablePlant);
        }

    }
    async Task UpdateChildChildAsync(ApplicationMasterChildModel editablePlant)
    {
        var request = new EditApplicationMasterChildCommand
            {
                ApplicationMasterChildId = editablePlant.ApplicationMasterChildId,
                ApplicationMasterParentId = editablePlant.ApplicationMasterParentId.Value,
                Description = editablePlant.Description,
                Value = editablePlant.Value,
                ParentId = editablePlant.ParentId,
                ModifiedDate = DateTime.Now,
                ModifiedByUserId = applicationUser.UserID,
                AddedDate = editablePlant.AddedDate,
                AddedByUserId = editablePlant.AddedByUserId,
                SessionId = editablePlant.SessionId,
                StatusCodeId = editablePlant.StatusCodeId,
            };
        await Mediator.Send(request);
        toastService.ShowToast("Record updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
        await UpdateDataChildChildAsync();
    }
    async Task Grid_DataItemDeletingChildChild(GridDataItemDeletingEventArgs e)
    {
        var editablePlant = (ApplicationMasterChildModel)e.DataItem;
        var request = new DeleteApplicationMasterChildCommand(editablePlant.ApplicationMasterChildId);
        await Mediator.Send(request);
        await UpdateDataChildChildAsync();
        GridChildChild.SetFocusedRowIndex(0);
    }
    void OnRowChildChildClick(GridRowClickEventArgs e)
    {
        var UniqueIds = e.Grid.GetRowValue(e.VisibleIndex, "ApplicationMasterChildId");
        _selectedChildChildItems = _applicationChildChildItems.FirstOrDefault(f => f.ApplicationMasterChildId == (long?)UniqueIds);
        StateHasChanged();
    }
    void OnRowChildChildDoubleClick(GridRowClickEventArgs e)
    {
        OnRowChildChildClick(e);
        addEditChildChild();
    }
    void addMasterNew()
    {
        MasterGrid.StartEditNewRowAsync();
    }
    void addMasterEdit()
    {
        if (EditMasterEnabled == true)
        {
            MasterGrid.StartEditDataItemAsync(_selectItems);
        }
    }
    void OnRowMasterDoubleClick()
    {
        addMasterEdit();
    }
    async Task Grid_EditModelMasterSaving(GridEditModelSavingEventArgs e)
    {
        var editablePlant = (ApplicationMasterParent)e.EditModel;
        if (e.IsNew)
        {
            var request = new InsertApplicationMasterParent
                {
                    ApplicationMasterParentId = editablePlant.ApplicationMasterParentId,
                    ApplicationMasterParentCodeId = editablePlant.ApplicationMasterParentCodeId,
                    Description = editablePlant.Description,
                    ApplicationMasterName = editablePlant.ApplicationMasterName,
                    ApplicationMasterParentCodeId2 = editablePlant.ApplicationMasterParentCodeId2,
                    Description2 = editablePlant.Description2,
                    ApplicationMasterName2 = editablePlant.ApplicationMasterName2,
                    ApplicationMasterParentCodeId3 = editablePlant.ApplicationMasterParentCodeId3,
                    Description3 = editablePlant.Description3,
                    ApplicationMasterName3 = editablePlant.ApplicationMasterName3,
                };
            await Mediator.Send(request);
            toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await loadMAsterItems();
        }
        else
        {
            var request = new InsertApplicationMasterParent
                {
                    ApplicationMasterParentId = editablePlant.ApplicationMasterParentId,
                    ApplicationMasterParentCodeId = editablePlant.ApplicationMasterParentCodeId,
                    Description = editablePlant.Description,
                    ApplicationMasterName = editablePlant.ApplicationMasterName,
                    ApplicationMasterParentCodeId2 = editablePlant.ApplicationMasterParentCodeId2,
                    Description2 = editablePlant.Description2,
                    ApplicationMasterName2 = editablePlant.ApplicationMasterName2,
                    ApplicationMasterParentCodeId3 = editablePlant.ApplicationMasterParentCodeId3,
                    Description3 = editablePlant.Description3,
                    ApplicationMasterName3 = editablePlant.ApplicationMasterName3,
                };
            await Mediator.Send(request);
            toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await loadMAsterItems();
        }

    }
    public async ValueTask DisposeAsync()
    {
        if (_applicationMasterItems != null)
        {
            _applicationMasterItems.Clear();
            _applicationMasterItems = null;
        }
        if (_applicationMasterAllItems != null)
        {
            _applicationMasterAllItems.Clear();
            _applicationMasterAllItems = null;
        }
        if (_openAccessUserLink != null)
        {
            _openAccessUserLink.Clear();
            _openAccessUserLink = null;
        }

        if (_applicationMasterAccess != null)
        {
            _applicationMasterAccess.Clear();
            _applicationMasterAccess = null;
        }

        _selectedItems = null;
        SelectedDataItems = null;
        _selectItems = null;
        _selectedChildItems = null;
        SelectedMasterDataItems = null;
        SelectedMasterChildDataItems = null;
        _selectedChildChildItems = null;
        SelectedMasterChildChildDataItems = null;

    }
    private void ClearList()
    {
        if (_applicationMasterDetails != null)
        {
            _applicationMasterDetails.Clear();
            _applicationMasterDetails = null;

        }
        if (_applicationChildItems != null)
        {
            _applicationChildItems.Clear();
            _applicationChildItems = null;

        }
        if (_applicationChildChildItems != null)
        {
            _applicationChildChildItems.Clear();
            _applicationChildChildItems = null;
        }


        // GC.Collect();
        // GC.WaitForPendingFinalizers();
        // GC.Collect();
    }
}
