
@page "/AppointmentList"
@using System.ComponentModel.DataAnnotations
@using Application.Queries
@using Google.Api
@using Newtonsoft.Json
@using global::Core.Entities
@using global::Core.Entities.Views
@using global::Core.EntityModels
@using MediatR;
@using global::Core.Repositories.Query
@inject IMediator Mediator
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject AC.SD.Core.Services.ToastService toastService
@inject IJSRuntime jsRuntime

<style>
    .list-container {
        display: flex;
        flex-direction: column;
        gap: 10px; /* Space between items */
        width: 100%;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .list-item {
        padding: 10px;
        background-color: #e0f7fa;
        border: 1px solid #b2ebf2;
        border-radius: 3px;
        text-align: center;
        transition: transform 0.2s;
    }

        .list-item:hover {
            transform: translateY(-3px);
            background-color: #b2ebf2;
            cursor: pointer;
        }
</style>
<DxScheduler @ref="Scheduler"
             @bind-StartDate="@StartDate" DataStorage="@DataStorage"
             @bind-ActiveViewType="@ActiveViewType"
             AppointmentFormShowing="OnAppointmentFormShowing"
             ValidateEditForm="true" CssClass="demo-sc-size"
             @bind-AppointmentFormMode="@AppointmentFormMode"
             AppointmentInserting="AppointmentInserting"
             AppointmentRemoving="AppointmentRemoving"
             AppointmentUpdating="AppointmentUpdating">
    <Views>
        <DxSchedulerWorkWeekView VisibleTime="@(new DxSchedulerTimeSpanRange(TimeSpan.FromHours(8), TimeSpan.FromHours(19)))">
           
            <VerticalAppointmentTemplate>
         
                    <div class="card demo-apt-bg dxbl-purple-color"></div>
                    <div class="card demo-sc-apt-content text-white">
                        <div class="card demo-sc-status-container">
                            <div class="card demo-apt-status dxbl-purple-color"></div>
                        </div>
                        <div class="demo-apt-subject">
                            @context.Appointment.Subject
                        </div>
                    </div>
             
            </VerticalAppointmentTemplate>
        </DxSchedulerWorkWeekView>
    </Views>
    <AppointmentTooltipTemplate>
        <span class=" dxsc-subject" style="vertical-align: middle;">
            <p> <i class="fa fa-circle" style="margin-right: 10px;"></i>  @context.Appointment.Subject</p>
        </span>

        <span style="vertical-align: middle;">
            <p <i class="dx-icon-time dx-icon" style="margin-right: 10px;"></i> @context.Appointment.Start.ToString("ddd MMM dd"), @context.Appointment.Start.ToShortTimeString() - @context.Appointment.End.ToShortTimeString()</p>
        </span>
        @{

            var location = context.Appointment.Location;
            var Users = context.Appointment.Id;
        }
        @if (location != "")
        {
            <span style="vertical-align: middle;">
                <p><i class="fas fa-map-marker-alt" style="margin-right: 10px;"></i> @context.Appointment.Location</p>
            </span>

        }
        @if (Users != null)
        {
            string s = JsonConvert.SerializeObject(Users);
            <DxButton id="showUserMultiple" @onclick="@(() => OnClick(long.Parse(s)))" RenderStyleMode="ButtonRenderStyleMode.Text" RenderStyle="ButtonRenderStyle.Link"
                      Text="Participants"   >
               
             </DxButton> 
        @*   <button></button>
            <span id="showUserMultiple" class="handline tagbg more-dots" @onclick="() => OnClick(long.Parse(s))">UserList</span> *@
           
         @*    <span style="vertical-align: middle;">
                <p><i class="fas fa-map-marker-alt" style="margin-right: 10px;"></i> @context.Appointment.CustomFields["userIds"]</p>
            </span> *@

        }

    </AppointmentTooltipTemplate>
    <AppointmentFormHeaderTemplate>
        <div class="popup-text-header">@context.Subject</div>
        <DxSchedulerSaveAppointmentChangesButton></DxSchedulerSaveAppointmentChangesButton>
        <DxSchedulerDeleteAppointmentButton Text="@null"></DxSchedulerDeleteAppointmentButton>
        <DxSchedulerDiscardAppointmentChangesButton></DxSchedulerDiscardAppointmentChangesButton>
        @if (AppointmentFormMode == SchedulerAppointmentFormMode.Both)
        {
            <DxButton Click="@(() => Scheduler.ShowAppointmentEditFormAsync(true))"
                      IconCssClass="btn-icon-back"
                      RenderStyle="ButtonRenderStyle.None"
                      CssClass="dxbl-btn-tool">
            </DxButton>
        }
    </AppointmentFormHeaderTemplate>
    <AppointmentFormLayout Context="formInfo">
        <DxSchedulerSubjectFormLayoutItem></DxSchedulerSubjectFormLayoutItem>
        <DxSchedulerAllDayFormLayoutItem></DxSchedulerAllDayFormLayoutItem>
        <DxSchedulerStartDateFormLayoutItem></DxSchedulerStartDateFormLayoutItem>
        <DxSchedulerStartTimeFormLayoutItem></DxSchedulerStartTimeFormLayoutItem>
        <DxSchedulerEndDateFormLayoutItem></DxSchedulerEndDateFormLayoutItem>
        <DxSchedulerEndTimeFormLayoutItem></DxSchedulerEndTimeFormLayoutItem>
        <DxSchedulerLocationFormLayoutItem></DxSchedulerLocationFormLayoutItem>
        <DxSchedulerDescriptionFormLayoutItem></DxSchedulerDescriptionFormLayoutItem>
        
        <DxSchedulerCustomFormLayoutItem ColSpanMd="12">
            <Template>
                  <div style="margin-left: 25px; margin-top: 14px;">Users
                    <DxTagBox Data="_Toparticipant"
                              @bind-Values="CategoryData.userIds"
                              NullText="Select User"
                              ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                              ValueFieldName="UserID"
                              TextFieldName="Name"
                              ListRenderMode="ListRenderMode.Virtual"
                              SearchMode="ListSearchMode.AutoSearch"
                              SearchFilterCondition="ListSearchFilterCondition.Contains"
                              CssClass="cw-480" />
                </div>
            </Template>
        </DxSchedulerCustomFormLayoutItem>
    </AppointmentFormLayout>
    <AppointmentCompactFormHeaderTemplate>
        <div class="popup-text-header">@context.Subject</div>
        <DxSchedulerSaveAppointmentChangesButton></DxSchedulerSaveAppointmentChangesButton>
        <DxSchedulerDeleteAppointmentButton Text="@null"></DxSchedulerDeleteAppointmentButton>
        <DxSchedulerDiscardAppointmentChangesButton></DxSchedulerDiscardAppointmentChangesButton>
        @if (AppointmentFormMode == SchedulerAppointmentFormMode.Both)
        {
            <DxSchedulerShowAppointmentEditFormButton></DxSchedulerShowAppointmentEditFormButton>
        }
    </AppointmentCompactFormHeaderTemplate>
    <AppointmentCompactFormLayout Context="formInfo">
        <DxSchedulerCustomFormLayoutItem ColSpanMd="12">
            <Template>
                <div style="margin-left:25px; margin-top: 14px; margin-right: 10px;">
                    Invite User

                    <DxTextBox @bind-Text="applicationUser.UserName" ReadOnly="true"></DxTextBox>

                </div>
            </Template>
        </DxSchedulerCustomFormLayoutItem>
        <DxSchedulerSubjectFormLayoutItem></DxSchedulerSubjectFormLayoutItem>
        <DxSchedulerAllDayFormLayoutItem></DxSchedulerAllDayFormLayoutItem>
        <DxSchedulerStartDateFormLayoutItem></DxSchedulerStartDateFormLayoutItem>
        <DxSchedulerStartTimeFormLayoutItem></DxSchedulerStartTimeFormLayoutItem>
        <DxSchedulerEndDateFormLayoutItem></DxSchedulerEndDateFormLayoutItem>
        <DxSchedulerEndTimeFormLayoutItem></DxSchedulerEndTimeFormLayoutItem>
        <DxSchedulerLocationFormLayoutItem></DxSchedulerLocationFormLayoutItem>
        <DxSchedulerDescriptionFormLayoutItem></DxSchedulerDescriptionFormLayoutItem>
       
        <DxSchedulerCustomFormLayoutItem ColSpanMd="12">
            <Template>
                <div style="margin-left: 25px; margin-top: 14px;">
                    Users
                   
                    <DxTagBox Data="_Toparticipant"
                              @bind-Values="CategoryData.userIds"
                                          NullText="Select User"
                                          ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                              ValueFieldName="UserID"
                              TextFieldName="Name"
                                          ListRenderMode="ListRenderMode.Virtual"
                                          SearchMode="ListSearchMode.AutoSearch"
                                          SearchFilterCondition="ListSearchFilterCondition.Contains"
                                          CssClass="cw-480"/>
                   
                </div>
            </Template>
        </DxSchedulerCustomFormLayoutItem>
        <DxSchedulerCustomFormLayoutItem ColSpanMd="12">
            <Template>
                <ValidationSummary />
            </Template>
        </DxSchedulerCustomFormLayoutItem>
    </AppointmentCompactFormLayout>
</DxScheduler>
<DxFlyout @bind-IsOpen="@IsUserslist"
          PositionTarget=@($"#showUserMultiple")
          Position="FlyoutPosition.Bottom"
          CloseOnOutsideClick="true"
          FooterVisible="false">
    <BodyTextTemplate >
        <div style="width:350px;">
            @if (Userlist.Count > 0)
            {
                @foreach (var Tagitem in Userlist)
                {

                    @if (Tagitem.UserName != null)
                    {
                        <div class="list-container">

                            <div class="list-item"> @Tagitem.UserName</div>
                            
                        </div>
                    }
                }
            }
        </div>
    </BodyTextTemplate>
    <FooterTextTemplate Context="UserlistContext">
        <DxButton Text="close" Click="@UserlistContext.CloseCallback" />
    </FooterTextTemplate>
</DxFlyout>
@code {
    private List<Appointment> appointmentslist;
    private List<Appointment> Userlist;
    bool IsUserslist { get; set; } = false;
    public ApplicationUser? applicationUser { get; private set; }
    //  EmailTopics? Data { get; set; } = new EmailTopics();
    internal List<ViewEmployee>? _Toparticipant;
    // public ApplicationUser? applicationUser { get; private set; }
    // internal List<ViewEmployee>? _participant = new List<ViewEmployee>();
    // Appointment? Data { get; set; } = new Appointment();
    Appointment? CategoryData { get; set; } = new Appointment();
    DxScheduler Scheduler { get; set; }
    SchedulerAppointmentFormMode AppointmentFormMode { get; set; } = SchedulerAppointmentFormMode.Both;
    List<SchedulerAppointmentFormMode> EditModes = Enum.GetValues(typeof(SchedulerAppointmentFormMode))
        .OfType<SchedulerAppointmentFormMode>()
        .ToList();
    DateTime StartDate { get; set; } = DateTime.Today;
    SchedulerViewType ActiveViewType { get; set; } = SchedulerViewType.WorkWeek;
    //  public IEnumerable<long>? Ids { get; set; } = null;
    public List<long> Ids = new List<long> { };
    protected override async Task OnInitializedAsync()
    {

        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        var plist = await Mediator.Send(new GetAllEmployeeListQuery());
        _Toparticipant = plist.Where(c => c.UserID != applicationUser.UserID).ToList();

        await UpdateDataAsync();
    }
    public async Task UpdateDataAsync()
    {
        appointmentslist = await Mediator.Send(new GetSchedulerList());
        DataStorage.AppointmentsSource = appointmentslist.ToList();
    }

    public class CustomAppointmentFormInfo : SchedulerAppointmentFormInfo
    {
        public CustomAppointmentFormInfo(DxSchedulerAppointmentItem AppointmentItem, DxSchedulerDataStorage DataStorage, DxScheduler scheduler) : base(AppointmentItem, DataStorage, scheduler) { }
        [Required]
        public override string Subject
        {
            get { return base.Subject; }
            set { base.Subject = value; }
        }
        // [Required]
        //   public IEnumerable<long>? userIds
        //   {
        //       get { return userIds(CustomFields); }
        //       set { CustomFields["userIds"] = value; }
        //   }
    }

    async void OnAppointmentFormShowing(SchedulerAppointmentFormEventArgs args)
    {
        string s = JsonConvert.SerializeObject(args.Appointment.Id);
        var ID = long.Parse(s);
        if (ID > 0)
        {
            var Userlist = await Mediator.Send(new GetUserListQuery(ID));
            foreach (var item in Userlist)
            {

                Ids.Add(item.UserID.Value);
            }
             CategoryData.userIds = Ids;
        }
        args.FormInfo = new CustomAppointmentFormInfo(args.Appointment, DataStorage, Scheduler);

    }

    //static IEnumerable<long>? userIds(DxExpandoDictionaryObject customFields) => (IEnumerable<long>?)customFields["userIds"];

    DxSchedulerDataStorage DataStorage = new DxSchedulerDataStorage()
        {       

         //   AppointmentsSource = appointmentslist.GetAppointments(),
            AppointmentMappings = new DxSchedulerAppointmentMappings()
            {
                Id = "ID",
                Type = "AppointmentType",
                Start = "StartDate",
                End = "EndDate",
                Subject = "Caption",
                AllDay = "AllDay",
                LabelId = "Label",
                StatusId = "Status",
                Location = "Location",
                Description = "Description",
                RecurrenceInfo = "Recurrence",
                ResourceId = "ResourceId",


                CustomFieldMappings = new List<DxSchedulerCustomFieldMapping> {
                  new DxSchedulerCustomFieldMapping{ Name = "StatusType", Mapping = "StatusType" },

                  new DxSchedulerCustomFieldMapping { Name = "userIds", Mapping = "userIds" }
            }
            },
            // ResourcesSource = ResourceCollection.GetResourcesForGrouping(),
            // ResourceMappings = new DxSchedulerResourceMappings()
            // {
            //     Id = "Id",
            //     Caption = "Name",
            //     BackgroundCssClass = "BackgroundCss",
            //     TextCssClass = "TextCss"
            // }

        };


    async Task AppointmentInserting(SchedulerAppointmentOperationEventArgs e)
    {
        Appointment insertedItem = e.Appointment.SourceObject as Appointment;

        if (insertedItem != null)
        {
            var InsertReq = new AddAppointment
                {
                    ID=insertedItem.ID,
                    AppointmentType = insertedItem.AppointmentType,
                    StartDate = insertedItem.StartDate,
                    EndDate = insertedItem.EndDate,
                    Caption = insertedItem.Caption,
                    Label = insertedItem.Label,
                    Status = insertedItem.Status,
                    AllDay = insertedItem.AllDay,
                    Location = insertedItem.Location,
                    Description = insertedItem.Description,
                    Recurrence = insertedItem.Recurrence,
                    AddedByUserID = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    userIds=CategoryData?.userIds,


                };

            var ans = await Mediator.Send(InsertReq);
            toastService.ShowToast("Record Insert Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await jsRuntime.InvokeVoidAsync("location.reload");
            
        }

    }
    async Task AppointmentRemoving(SchedulerAppointmentOperationEventArgs e)
    {
        if (e.Appointment.Id != null)
        {
            var ans = await Mediator.Send(new DeleteAppointment((long)e.Appointment.Id));
            toastService.ShowToast("Record Deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();
        }

    }
    async Task AppointmentUpdating(SchedulerAppointmentOperationEventArgs e)
    {

        var appointment = e.Appointment.SourceObject as Appointment;

        if (appointment != null)
        {
           
                if (e.Appointment != null && e.Appointment.Id != null)
                {
                    var InsertReq = new EditAppointment
                        {
                            ID = (long)e.Appointment.Id,
                            StartDate = e.Appointment.Start,
                            EndDate = e.Appointment.End,
                            Caption = e.Appointment.Subject,
                            Label = (int)e.Appointment.LabelId,
                            Status = (int)e.Appointment.StatusId,
                            AllDay = e.Appointment.AllDay,
                            Location = e.Appointment.Location,
                            Description = e.Appointment.Description,
                            userIds =CategoryData.userIds,
                        AddedByUserID = applicationUser.UserID,
                        AddedDate = DateTime.Now,
                        };

                    var ans = await Mediator.Send(InsertReq);
                    toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
                }
            
        }
        await UpdateDataAsync();

    }
    async void OnClick(long appointmentID)
    {

        Userlist = await Mediator.Send(new GetUserListQuery(appointmentID));
        IsUserslist = true;
        StateHasChanged();
    }
}