
@page "/AppointmentList"
@using System.ComponentModel.DataAnnotations
@using Application.Queries
@using Google.Api
@using global::Core.Entities
@using global::Core.Entities.Views
@using global::Core.EntityModels
@using MediatR;
@using global::Core.Repositories.Query
@inject IMediator Mediator
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject AC.SD.Core.Services.ToastService toastService

<DxScheduler @ref="Scheduler"
             @bind-StartDate="@StartDate" DataStorage="@DataStorage"
             @bind-ActiveViewType="@ActiveViewType"
             AppointmentFormShowing="OnAppointmentFormShowing"
             ValidateEditForm="true" CssClass="demo-sc-size"
             @bind-AppointmentFormMode="@AppointmentFormMode"
             AppointmentInserting="AppointmentInserting">
    <Views>
        <DxSchedulerWorkWeekView VisibleTime="@(new DxSchedulerTimeSpanRange(TimeSpan.FromHours(8), TimeSpan.FromHours(19)))">
           
            <VerticalAppointmentTemplate>
         
                    <div class="card demo-apt-bg dxbl-purple-color"></div>
                    <div class="card demo-sc-apt-content text-white">
                        <div class="card demo-sc-status-container">
                            <div class="card demo-apt-status dxbl-purple-color"></div>
                        </div>
                        <div class="demo-apt-subject">
                            @context.Appointment.Subject
                        </div>
                    </div>
             
            </VerticalAppointmentTemplate>
        </DxSchedulerWorkWeekView>
    </Views>

    <AppointmentFormHeaderTemplate>
        <div class="popup-text-header">@context.Subject</div>
        <DxSchedulerSaveAppointmentChangesButton></DxSchedulerSaveAppointmentChangesButton>
        <DxSchedulerDeleteAppointmentButton Text="@null"></DxSchedulerDeleteAppointmentButton>
        <DxSchedulerDiscardAppointmentChangesButton></DxSchedulerDiscardAppointmentChangesButton>
        @if (AppointmentFormMode == SchedulerAppointmentFormMode.Both)
        {
            <DxButton Click="@(() => Scheduler.ShowAppointmentEditFormAsync(true))"
                      IconCssClass="btn-icon-back"
                      RenderStyle="ButtonRenderStyle.None"
                      CssClass="dxbl-btn-tool">
            </DxButton>
        }
    </AppointmentFormHeaderTemplate>
    <AppointmentFormLayout Context="formInfo">
        <DxSchedulerSubjectFormLayoutItem></DxSchedulerSubjectFormLayoutItem>
        <DxSchedulerAllDayFormLayoutItem></DxSchedulerAllDayFormLayoutItem>
        <DxSchedulerStartDateFormLayoutItem></DxSchedulerStartDateFormLayoutItem>
        <DxSchedulerStartTimeFormLayoutItem></DxSchedulerStartTimeFormLayoutItem>
        <DxSchedulerEndDateFormLayoutItem></DxSchedulerEndDateFormLayoutItem>
        <DxSchedulerEndTimeFormLayoutItem></DxSchedulerEndTimeFormLayoutItem>
        <DxSchedulerLocationFormLayoutItem></DxSchedulerLocationFormLayoutItem>
        <DxSchedulerDescriptionFormLayoutItem></DxSchedulerDescriptionFormLayoutItem>
        
        <DxSchedulerCustomFormLayoutItem ColSpanMd="12">
            <Template>
                  <div style="margin-left: auto; margin-top: 14px;">Users
               @*    <DxTagBox Data="_Toparticipant"
                                              SearchMode="ListSearchMode.AutoSearch"
                                              SearchFilterCondition="ListSearchFilterCondition.Contains"
                                              NullText="Select To..."
                                              Values="@Data.userIds"
                                              ValuesExpression="@(() => Data.userIds )"
                                              ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                              ValueFieldName="UserID"
                                              TextFieldName="Name"
                                            
                                              ListRenderMode="ListRenderMode.Virtual"
                                              CssClass="cw-480"/> *@
                    <DxTagBox Data="_Toparticipant"
                              @bind-Values="CategoryData.userIds"
                              NullText="Select Action"
                              ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                              ValueFieldName="UserID"
                              TextFieldName="Name"
                              ListRenderMode="ListRenderMode.Virtual"
                              SearchMode="ListSearchMode.AutoSearch"
                              SearchFilterCondition="ListSearchFilterCondition.Contains"
                              CssClass="cw-480" />
                </div>
            </Template>
        </DxSchedulerCustomFormLayoutItem>
    </AppointmentFormLayout>
    <AppointmentCompactFormHeaderTemplate>
        <div class="popup-text-header">@context.Subject</div>
        <DxSchedulerSaveAppointmentChangesButton></DxSchedulerSaveAppointmentChangesButton>
        <DxSchedulerDeleteAppointmentButton Text="@null"></DxSchedulerDeleteAppointmentButton>
        <DxSchedulerDiscardAppointmentChangesButton></DxSchedulerDiscardAppointmentChangesButton>
        @if (AppointmentFormMode == SchedulerAppointmentFormMode.Both)
        {
            <DxSchedulerShowAppointmentEditFormButton></DxSchedulerShowAppointmentEditFormButton>
        }
    </AppointmentCompactFormHeaderTemplate>
    <AppointmentCompactFormLayout Context="formInfo">
        <DxSchedulerSubjectFormLayoutItem></DxSchedulerSubjectFormLayoutItem>
        <DxSchedulerAllDayFormLayoutItem></DxSchedulerAllDayFormLayoutItem>
        <DxSchedulerStartDateFormLayoutItem></DxSchedulerStartDateFormLayoutItem>
        <DxSchedulerStartTimeFormLayoutItem></DxSchedulerStartTimeFormLayoutItem>
        <DxSchedulerEndDateFormLayoutItem></DxSchedulerEndDateFormLayoutItem>
        <DxSchedulerEndTimeFormLayoutItem></DxSchedulerEndTimeFormLayoutItem>

       
        <DxSchedulerCustomFormLayoutItem ColSpanMd="12">
            <Template>
                <div style="margin-left: auto; margin-top: 14px;">
                    Users
                  @*   <DxTagBox Data="_Toparticipant"
                                              SearchMode="ListSearchMode.AutoSearch"
                                              SearchFilterCondition="ListSearchFilterCondition.Contains"
                                              NullText="Select To..."
                              Values="@Data.userIds"
                              ValuesExpression="@(() => Data.userIds )"
                                              ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                              ValueFieldName="UserID"
                                              TextFieldName="Name"
                                            
                                              ListRenderMode="ListRenderMode.Virtual"
                                              CssClass="cw-480"/> *@
                    <DxTagBox Data="_Toparticipant"
                              @bind-Values="CategoryData.userIds"
                                          NullText="Select Action"
                                          ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                              ValueFieldName="UserID"
                              TextFieldName="Name"
                                          ListRenderMode="ListRenderMode.Virtual"
                                          SearchMode="ListSearchMode.AutoSearch"
                                          SearchFilterCondition="ListSearchFilterCondition.Contains"
                                          CssClass="cw-480"/>
                 
                </div>
            </Template>
        </DxSchedulerCustomFormLayoutItem>
    </AppointmentCompactFormLayout>
</DxScheduler>

@code {
    private List<Appointment> appointmentslist;
   
    public ApplicationUser? applicationUser { get; private set; }
    //  EmailTopics? Data { get; set; } = new EmailTopics();
    internal List<ViewEmployee>? _Toparticipant;
    // public ApplicationUser? applicationUser { get; private set; }
    // internal List<ViewEmployee>? _participant = new List<ViewEmployee>();
    // Appointment? Data { get; set; } = new Appointment();
    Appointment? CategoryData { get; set; } = new Appointment();
    DxScheduler Scheduler { get; set; }
    SchedulerAppointmentFormMode AppointmentFormMode { get; set; } = SchedulerAppointmentFormMode.Both;
    List<SchedulerAppointmentFormMode> EditModes = Enum.GetValues(typeof(SchedulerAppointmentFormMode))
        .OfType<SchedulerAppointmentFormMode>()
        .ToList();
    DateTime StartDate { get; set; } = DateTime.Today;
    SchedulerViewType ActiveViewType { get; set; } = SchedulerViewType.WorkWeek;


    protected override async Task OnInitializedAsync()
    {

        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        var plist = await Mediator.Send(new GetAllEmployeeListQuery());
        _Toparticipant = plist.Where(c => c.UserID != applicationUser.UserID).ToList();

        appointmentslist = await Mediator.Send(new GetSchedulerList());
    }
      

    public class CustomAppointmentFormInfo : SchedulerAppointmentFormInfo
    {
        public CustomAppointmentFormInfo(DxSchedulerAppointmentItem AppointmentItem, DxSchedulerDataStorage DataStorage, DxScheduler scheduler) : base(AppointmentItem, DataStorage, scheduler) { }
        [Required]
        public override string Subject
        {
            get { return base.Subject; }
            set { base.Subject = value; }
        }
      
        public long userIds
        {
            get { return userIds(CustomFields); }
            set { CustomFields["userIds"] = value; }
        }
    }
 
    void OnAppointmentFormShowing(SchedulerAppointmentFormEventArgs args)
    {
        args.FormInfo = new CustomAppointmentFormInfo(args.Appointment, DataStorage, Scheduler);
       
    }
  
    static long userIds(DxExpandoDictionaryObject customFields) => (long)customFields["userIds"];

    DxSchedulerDataStorage DataStorage = new DxSchedulerDataStorage()
        {       
         
         //   AppointmentsSource = appointmentslist.GetAppointments(),
            AppointmentMappings = new DxSchedulerAppointmentMappings()
            {
                Id = "ID",
                Type = "AppointmentType",
                Start = "StartDate",
                End = "EndDate",
                Subject = "Caption",
                AllDay = "AllDay",
                LabelId = "Label",
                StatusId = "Status",
                Location = "Location",
                Description = "Description",
                RecurrenceInfo = "Recurrence",
                ResourceId = "ResourceId",
              
             
                CustomFieldMappings = new List<DxSchedulerCustomFieldMapping> {
                  new DxSchedulerCustomFieldMapping{ Name = "StatusType", Mapping = "StatusType" },
               
                  new DxSchedulerCustomFieldMapping { Name = "userIds", Mapping = "userIds" }
            }
            },
            // ResourcesSource = ResourceCollection.GetResourcesForGrouping(),
            // ResourceMappings = new DxSchedulerResourceMappings()
            // {
            //     Id = "Id",
            //     Caption = "Name",
            //     BackgroundCssClass = "BackgroundCss",
            //     TextCssClass = "TextCss"
            // }
          
        };


    async Task AppointmentInserting(SchedulerAppointmentOperationEventArgs e)
    {
        Appointment insertedItem = e.Appointment.SourceObject as Appointment;

        if (insertedItem != null)
        {
            var InsertReq = new AddAppointment
                {
                    ID=insertedItem.ID,
                    AppointmentType = insertedItem.AppointmentType,
                    StartDate = insertedItem.StartDate,
                    EndDate = insertedItem.EndDate,
                    Caption = insertedItem.Caption,
                    Label = insertedItem.Label,
                    Status = insertedItem.Status,
                    AllDay = insertedItem.AllDay,
                    Location = insertedItem.Location,
                    Description = insertedItem.Description,
                    Recurrence = insertedItem.Recurrence,
                    AddedByUserID = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    userIds=CategoryData?.userIds,


                };

            var ans = await Mediator.Send(InsertReq);
            toastService.ShowToast("Record Insert Successfully", AC.SD.Core.Services.ToastLevel.Success);
            //await UpdateDataAsync();
        }

}
}