
@page "/AppointmentList"
@using System.ComponentModel.DataAnnotations
@using Application.Queries
@using Google.Api
@using Newtonsoft.Json
@using System.Globalization
@using global::Core.Entities
@using global::Core.Entities.Views
@using global::Core.EntityModels
@using MediatR;
@using global::Core.Repositories.Query
@inject IMediator Mediator
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject AC.SD.Core.Services.ToastService toastService
@inject IJSRuntime jsRuntime
@inject NavigationManager NavigationManager
@inject HttpClient httpClient;
@inject DataRefreshService RefreshService
@inject IJSRuntime JSRuntime;


<style scoped>
    .list-container {
        display: flex;
        flex-direction: column;
        gap: 10px; /* Space between items */
        width: 100%;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .list-item {
        padding: 10px;
        background-color: #e0f7fa;
        border: 1px solid #b2ebf2;
        border-radius: 3px;
        text-align: center;
        transition: transform 0.2s;
    }

        .list-item:hover {
            transform: translateY(-3px);
            background-color: #b2ebf2;
            cursor: pointer;
        }
        .dxbl-apt-edit-compact-dialog-header
        {
            display:block !important;
            text-align: right;
        }

</style>
<DxScheduler @ref="Scheduler"
             @bind-StartDate="@StartDate" DataStorage="@DataStorage"
             AllowDeleteAppointment="@AllowDeleteAppointment"
             AllowEditAppointment="@AllowEditAppointment"
             AppointmentFormShowing="OnAppointmentFormShowing"
             ValidateEditForm="true" CssClass="demo-sc-size"
             @bind-AppointmentFormMode="@AppointmentFormMode"
             AllowDragAppointment="false"
             AllowResizeAppointment="false"
             AppointmentTooltipShowing="OnAppointmentTooltipShowing"
             AppointmentInserting="AppointmentInserting"
             AppointmentRemoving="AppointmentRemoving"
             AppointmentUpdating="AppointmentUpdating">
    <Views>
        <DxSchedulerDayView DayCount = "3"   ShowWorkTimeOnly ="false" VisibleTime="@(new DxSchedulerTimeSpanRange(TimeSpan.FromHours(8), TimeSpan.FromHours(19)))">
        </DxSchedulerDayView>
    </Views>
    <AppointmentTooltipTemplate>
        <span class=" dxsc-subject" style="vertical-align: middle;">
            <p> <i class="fa fa-circle" style="margin-right: 10px;"></i>  @context.Appointment.Subject</p>
        </span>
        <span class=" dxsc-subject" style="vertical-align: middle;">
            <p> <i class="fa fa-circle" style="margin-right: 10px;"></i>  @context.Appointment.Description</p>
        </span>
        <span style="vertical-align: middle;">
            <p <i class="dx-icon-time dx-icon" style="margin-right: 10px;"></i> @context.Appointment.Start.ToString("ddd MMM dd"), @context.Appointment.Start.ToShortTimeString() - @context.Appointment.End.ToShortTimeString()</p>
        </span>
        @{

            var location = context.Appointment.Location;
            var Users = context.Appointment.Id;
          
        }
        @if (location != "")
        {
            <span style="vertical-align: middle;">
                <p><i class="fas fa-map-marker-alt" style="margin-right: 10px;"></i> @context.Appointment.Location</p>
            </span>

        }
        @if (Users != null)
        {
            string s = JsonConvert.SerializeObject(Users);
            <div class="sc-tooltip-bottom-container">
                        <DxButton id="showUserMultiple" @onclick="@(() => OnClick(long.Parse(s)))" RenderStyleMode="ButtonRenderStyleMode.Text" RenderStyle="ButtonRenderStyle.Link"
                                  Text="Participants" >
               
                         </DxButton>
          @*   </div>
            <div class="sc-tooltip-bottom-container"> *@
                        <DxButton  @onclick="@(() => OnAcceptClick(long.Parse(s)))" RenderStyleMode="ButtonRenderStyleMode.Text" RenderStyle="ButtonRenderStyle.Link" Visible="@AcceptVisible"
                                  Text="Accept" IconCssClass="fa fa-thumbs-up" style="color:green;" >

                        </DxButton>
                        <DxButton @onclick="@(() => OnRejectClick(long.Parse(s)))" RenderStyleMode="ButtonRenderStyleMode.Text" RenderStyle="ButtonRenderStyle.Link" Visible="@RejectVisible"
                          Text="Reject" IconCssClass="fa fa-thumbs-down" style="color:red;">

                        </DxButton>
               </div>
      

        }

    </AppointmentTooltipTemplate>
 
    <AppointmentCompactFormHeaderTemplate>
    
        <DxSchedulerSaveAppointmentChangesButton ></DxSchedulerSaveAppointmentChangesButton>
        <DxSchedulerDeleteAppointmentButton Text="@null" ></DxSchedulerDeleteAppointmentButton>
        <DxSchedulerDiscardAppointmentChangesButton ></DxSchedulerDiscardAppointmentChangesButton>
        @if (AppointmentFormMode == SchedulerAppointmentFormMode.Both)
        {
            <DxSchedulerShowAppointmentEditFormButton></DxSchedulerShowAppointmentEditFormButton>
        }
    </AppointmentCompactFormHeaderTemplate>
    <AppointmentCompactFormLayout Context="formInfo">
        <DxSchedulerCustomFormLayoutItem ColSpanMd="12">
            <Template>
                <div style="margin-left:25px; margin-top: 14px; margin-right: 10px;">
                    Invite User

                    <DxTextBox @bind-Text="applicationUser.UserName" ReadOnly="true"></DxTextBox>

                </div>
            </Template>
        </DxSchedulerCustomFormLayoutItem>
        <DxSchedulerSubjectFormLayoutItem></DxSchedulerSubjectFormLayoutItem>
     @*    <DxSchedulerAllDayFormLayoutItem></DxSchedulerAllDayFormLayoutItem> *@
        <DxSchedulerStartDateFormLayoutItem></DxSchedulerStartDateFormLayoutItem>
        <DxSchedulerStartTimeFormLayoutItem></DxSchedulerStartTimeFormLayoutItem>
        <DxSchedulerEndDateFormLayoutItem></DxSchedulerEndDateFormLayoutItem>
        <DxSchedulerEndTimeFormLayoutItem></DxSchedulerEndTimeFormLayoutItem>
     @*    <DxSchedulerLocationFormLayoutItem></DxSchedulerLocationFormLayoutItem> *@
        <DxSchedulerDescriptionFormLayoutItem></DxSchedulerDescriptionFormLayoutItem>
        <DxSchedulerLabelFormLayoutItem></DxSchedulerLabelFormLayoutItem>
        <DxSchedulerStatusFormLayoutItem></DxSchedulerStatusFormLayoutItem>
        <DxSchedulerCustomFormLayoutItem ColSpanMd="12">
            <Template>
                <div style="margin-left: 25px; margin-top: 14px;">
                    Users
                   
                    <DxTagBox Data="_Toparticipant"
                              @bind-Values="CategoryData.userIds"
                                          NullText="Select User"
                                          ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                              ValueFieldName="UserID"
                              TextFieldName="Name"
                                          ListRenderMode="ListRenderMode.Virtual"
                                          SearchMode="ListSearchMode.AutoSearch"
                                          SearchFilterCondition="ListSearchFilterCondition.Contains"
                                          CssClass="cw-480"/>
                   
                </div>
            </Template>
        </DxSchedulerCustomFormLayoutItem>
          <DxSchedulerCustomFormLayoutItem ColSpanMd="12">
               <Template>
                    <div style="margin-left: 25px; margin-top: 14px;">
                    Email Subject Name
                    <DxTagBox Data="_CopyLinkList"
                              SearchMode="ListSearchMode.AutoSearch"
                              SearchFilterCondition="ListSearchFilterCondition.Contains"
                              NullText="Select Email Subject Name"
                              @bind-Values="CategoryData.CopyEmailIds" 
                            
                              ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                              ValueFieldName="ConversationID"
                              TextFieldName="CopyEmailName"
                            
                              ListRenderMode="ListRenderMode.Virtual"
                              CssClass="cw-480">

                     @*    <DxListEditorColumn FieldName="@nameof(EmailTopics.CopyEmailName)" Caption="Name" /> *@



                    </DxTagBox>

                </div>
            </Template>
        </DxSchedulerCustomFormLayoutItem>
        <DxSchedulerCustomFormLayoutItem ColSpanMd="12">
            <Template>
                <ValidationSummary />
            </Template>
        </DxSchedulerCustomFormLayoutItem>
    </AppointmentCompactFormLayout>
</DxScheduler>
<DxFlyout @bind-IsOpen="@IsUserslist"
          PositionTarget=@($"#showUserMultiple")
          Position="FlyoutPosition.Bottom"
          CloseOnOutsideClick="true"
          FooterVisible="false">
    <BodyTextTemplate >
        <div style="width:350px;">
            @if (Userlist.Count > 0)
            {

                @foreach (var Tagitem in Userlist)
                {

                    @if (Tagitem.UserName != null)
                    {
                        <div class="list-container">

                            <div class="list-item"> @Tagitem.UserName
                                @if (Tagitem.IsAccepted == true)
                                {
                                    <i class="fa fa-thumbs-up" style="margin-top:5px; color:green; float:right;"></i>
                                }
                                else
                                {
                                    <i class="fa fa-thumbs-down" style="margin-top:5px; color:red; float:right;"></i>
                                }

                                </div>
                            
                        </div>
                    }
                }
               
            }
             
        </div>
     
    </BodyTextTemplate>
    <FooterTextTemplate Context="UserlistContext">
        <DxButton Text="close" Click="@UserlistContext.CloseCallback" />
    </FooterTextTemplate>
</DxFlyout>
@code {
    bool RejectVisible { get; set; }= false;
    bool AcceptVisible { get; set; } = false;
    bool AllowEditAppointment { get; set; } = false;
    bool AllowDeleteAppointment { get; set; } = false;
    private List<Appointment> appointmentslist;
    private List<Appointment> Userlist;
    bool IsUserslist { get; set; } = false;
    public ApplicationUser? applicationUser { get; private set; }
    private Appointment SelectedEditList;
    internal List<ViewEmployee>? _Toparticipant;
    internal List<EmailTopics>? _CopyLinkList;
    Appointment? CategoryData { get; set; } = new Appointment();
    DxScheduler Scheduler { get; set; }
    SchedulerAppointmentFormMode AppointmentFormMode { get; set; } = SchedulerAppointmentFormMode.CompactEditForm;
    List<SchedulerAppointmentFormMode> EditModes = Enum.GetValues(typeof(SchedulerAppointmentFormMode))
        .OfType<SchedulerAppointmentFormMode>()
        .ToList();
    DateTime StartDate { get; set; } = DateTime.Today;
    SchedulerViewType ActiveViewType { get; set; } = SchedulerViewType.Week;
    //  public IEnumerable<long>? Ids { get; set; } = null;
    public List<long> Ids = new List<long> { };
    public List<long> EmailIds = new List<long> { };
    DxSchedulerTimeSpanRange WorkTime = new DxSchedulerTimeSpanRange(TimeSpan.FromHours(9), TimeSpan.FromHours(18));
    bool IsInWorkTime(DxSchedulerAppointmentItem apt) =>
      apt.AllDay
      || IsWorkingDay(apt.Start)
      && IsWorkingDay(apt.End)
      && apt.Start - apt.Start.Date >= WorkTime.Start
      && WorkTime.End >= apt.End - apt.End.Date;
    static bool IsWorkingDay(DateTime time) =>
        time.DayOfWeek != DayOfWeek.Saturday &&
        time.DayOfWeek != DayOfWeek.Sunday;
    protected override async Task OnInitializedAsync()
    {

        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");

        var plist = await Mediator.Send(new GetAllEmployeeListQuery());
        _Toparticipant = plist.Where(c => c.UserID != applicationUser.UserID).ToList();
        _CopyLinkList = await Mediator.Send(new GetAllEmailTopicsList(applicationUser.UserID));

        await UpdateDataAsync();
    }
    public async Task UpdateDataAsync()
    {
        appointmentslist = await Mediator.Send(new GetSchedulerList(applicationUser.UserID));

        DataStorage.AppointmentsSource = appointmentslist.ToList();

        await RefreshService.RequestRefreshAsync();
        StateHasChanged();
    }

    public class CustomAppointmentFormInfo : SchedulerAppointmentFormInfo
    {
        public CustomAppointmentFormInfo(DxSchedulerAppointmentItem AppointmentItem, DxSchedulerDataStorage DataStorage, DxScheduler scheduler) : base(AppointmentItem, DataStorage, scheduler) { }
        [Required]
        public override string Subject
        {
            get { return base.Subject; }
            set { base.Subject = value; }
        }
        // [Required]
        //   public IEnumerable<long>? userIds
        //   {
        //       get { return userIds(CustomFields); }
        //       set { CustomFields["userIds"] = value; }
        //   }
    }

    async void OnAppointmentFormShowing(SchedulerAppointmentFormEventArgs args)
    {

        //  await jsRuntime.InvokeVoidAsync("location.reload");
        string s = JsonConvert.SerializeObject(args.Appointment.Id);
        var ID = long.Parse(s);
        Ids = new List<long> { };
        EmailIds = new List<long> { };
        CategoryData.userIds = null;
        CategoryData.CopyEmailIds = null;
        string startdate = args.Appointment.Start.ToString();
        DateTime convertedDate;

        convertedDate = Convert.ToDateTime(startdate);
        //  DateTime dateValue = Convert.ToDateTime(args.Appointment.Start,);
        var today = DateTime.Now;


        if (ID > 0)
        {


            var list = new Appointment();
            list.ID = ID;
            list.Caption = args.Appointment.Subject;
            list.Description = args.Appointment.Description;
            list.StartDate = args.Appointment.Start;
            list.EndDate = args.Appointment.End;
            list.Label = (int)args.Appointment.LabelId;
            list.Status = (int)args.Appointment.StatusId;
            SelectedEditList = list;
            var Userlist = await Mediator.Send(new GetUserListQuery(ID));
            if(Userlist != null)
            {
                foreach (var item in Userlist)
                {

                    Ids.Add(item.UserID.Value);
                }
                CategoryData.userIds = Ids;
            }

            var Emaillist = await Mediator.Send(new GetEmailTopicListQuery(ID));
            if(Emaillist != null)
            {
                foreach (var item in Emaillist)
                {
                    if(item.ConversationId != null)
                    {
                        EmailIds.Add(item.ConversationId.Value);
                    }
                  
                }
                CategoryData.CopyEmailIds = EmailIds;
            }
            
            args.FormInfo = new CustomAppointmentFormInfo(args.Appointment, DataStorage, Scheduler);

        }

        else if(today > convertedDate)
        {
            args.Cancel = true;
            toastService.ShowToast("Selected Date is Invalid.", AC.SD.Core.Services.ToastLevel.Error);
        }


    }



    DxSchedulerDataStorage DataStorage = new DxSchedulerDataStorage()
        {       


            AppointmentMappings = new DxSchedulerAppointmentMappings()
            {
                Id = "ID",
                Type = "AppointmentType",
                Start = "StartDate",
                End = "EndDate",
                Subject = "Caption",
                AllDay = "AllDay",
                LabelId = "Label",
                StatusId = "Status",
                Location = "Location",
                Description = "Description",
                RecurrenceInfo = "Recurrence",
                ResourceId = "ResourceId",


                CustomFieldMappings = new List<DxSchedulerCustomFieldMapping> {
                  new DxSchedulerCustomFieldMapping{ Name = "StatusType", Mapping = "StatusType" },

                  new DxSchedulerCustomFieldMapping { Name = "userIds", Mapping = "userIds" },
                   new DxSchedulerCustomFieldMapping { Name = "CopyEmailIds", Mapping = "CopyEmailIds" }
            }
            },


        };


    async Task AppointmentInserting(SchedulerAppointmentOperationEventArgs e)
    {
        Appointment insertedItem = e.Appointment.SourceObject as Appointment;
        await JSRuntime.InvokeAsync<string>("showLoading");

        if (insertedItem != null)
        {
            var InsertReq = new AddAppointment
                {
                    ID=insertedItem.ID,
                    AppointmentType = insertedItem.AppointmentType,
                    StartDate = insertedItem.StartDate,
                    EndDate = insertedItem.EndDate,
                    Caption = insertedItem.Caption,
                    Label = insertedItem.Label,
                    Status = insertedItem.Status,
                    AllDay = insertedItem.AllDay,
                    Location = insertedItem.Location,
                    Description = insertedItem.Description,
                    Recurrence = insertedItem.Recurrence,
                    AddedByUserID = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    userIds=CategoryData?.userIds, 
                    CopyEmailIds = CategoryData?.CopyEmailIds

                };

            var ans = await Mediator.Send(InsertReq);

            if (ans != null)
            {
                string BaseUrl = NavigationManager.BaseUri + "api/Email/";
                string url = BaseUrl + "SendToAppointmentSchedulerMessage?id=" + ans;
                // Make a GET request to the controller action
                var response = await httpClient.GetAsync(url);
            }

            toastService.ShowToast("Record Insert Successfully", AC.SD.Core.Services.ToastLevel.Success);
            
            
            await RefreshService.RequestRefreshAsync();
            await jsRuntime.InvokeVoidAsync("location.reload");
        }
         await JSRuntime.InvokeAsync<string>("hideLoading");

    }
    async Task AppointmentRemoving(SchedulerAppointmentOperationEventArgs e)
    {
        if (e.Appointment.Id != null)
        {
            var id = e.Appointment.Id;

            string BaseUrl = NavigationManager.BaseUri + "api/Email/";
            string url = BaseUrl + "SendToAppointmentDeleteNotification?id=" + id;
            // Make a GET request to the controller action
            var response = await httpClient.GetAsync(url);
            var ans = await Mediator.Send(new DeleteAppointment((long)e.Appointment.Id));
            toastService.ShowToast("Record Deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();
        }

    }
    async Task AppointmentUpdating(SchedulerAppointmentOperationEventArgs e)
    {

        var appointment = e.Appointment.SourceObject as Appointment;
         await JSRuntime.InvokeAsync<string>("showLoading");
        if (appointment != null)
        {

            if (e.Appointment != null && e.Appointment.Id != null)
            {
                var InsertReq = new EditAppointment
                        {
                            ID = (long)e.Appointment.Id,
                            StartDate = e.Appointment.Start,
                            EndDate = e.Appointment.End,
                            Caption = e.Appointment.Subject,
                            Label = (int)e.Appointment.LabelId,
                            Status = (int)e.Appointment.StatusId,
                            AllDay = e.Appointment.AllDay,
                            Location = e.Appointment.Location,
                            Description = e.Appointment.Description,
                            userIds =CategoryData.userIds,
                            CopyEmailIds = CategoryData.CopyEmailIds,
                        AddedByUserID = applicationUser.UserID,
                        AddedDate = DateTime.Now,
                        };

                var ans = await Mediator.Send(InsertReq);
                if (SelectedEditList.Caption != appointment.Caption || SelectedEditList.Description != appointment.Description || SelectedEditList.StartDate != appointment.StartDate || SelectedEditList.EndDate != appointment.EndDate || SelectedEditList.userIds != appointment.userIds || SelectedEditList.CopyEmailIds != appointment.CopyEmailIds)
                {
                    if (ans != null)
                    {
                        string BaseUrl = NavigationManager.BaseUri + "api/Email/";
                        string url = BaseUrl + "SendToAppointmentSchedulerMessage?id=" + ans;
                        // Make a GET request to the controller action
                        var response = await httpClient.GetAsync(url);
                    }
                }
                toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            }

        }
        await UpdateDataAsync();
         await JSRuntime.InvokeAsync<string>("hideLoading");
    }
    async void OnAcceptClick(long ID)
    {
        var result = await Mediator.Send(new UpdateAccept(applicationUser.UserID,true,ID));
        await acceptvisiblefalse(ID);
        await RefreshService.RequestRefreshAsync();
        toastService.ShowToast("Appointment Accepted Successfully", AC.SD.Core.Services.ToastLevel.Success);
    }
    async void OnRejectClick(long ID)
    {
        var result = await Mediator.Send(new UpdateAccept(applicationUser.UserID, false,ID));
        await acceptvisiblefalse(ID);
        toastService.ShowToast("Appointment Rejected Successfully", AC.SD.Core.Services.ToastLevel.Success);
    }
    async void OnClick(long appointmentID)
    {

        Userlist = await Mediator.Send(new GetUserListQuery(appointmentID));
        IsUserslist = true;
        StateHasChanged();
    }
    async void OnAppointmentTooltipShowing(SchedulerAppointmentOperationEventArgs args)
    {

        string Appointmentid = JsonConvert.SerializeObject(args.Appointment.Id);
        var appointmentID = long.Parse(Appointmentid);

        var Userlist = await Mediator.Send(new GetCreatedUserQuery(appointmentID, applicationUser.UserID));
        if (Userlist.Count > 0)
        {
            AllowDeleteAppointment = true;
            AllowEditAppointment = true;
            RejectVisible = false;
            AcceptVisible = false;
        }

        else
        {
            AllowDeleteAppointment = false;
            AllowEditAppointment = false;
            await acceptvisible(appointmentID);


        }

        StateHasChanged();
    }
    async Task acceptvisible(long ID)
    {
        var list = await Mediator.Send(new GetUserQuery(ID, applicationUser.UserID));
        if (list.Count > 0)
        {
            if (list[0].IsAccepted == true || list[0].IsAccepted == false)
            {
                RejectVisible = false;
                AcceptVisible = false;
            }
            else
            {
                RejectVisible = true;
                AcceptVisible = true;
            }
        }
        else
        {
            RejectVisible = false;
            AcceptVisible = false;
        }

      
        StateHasChanged();
    }

    async Task acceptvisiblefalse(long ID)
    {

        RejectVisible = false;
        AcceptVisible = false;
        StateHasChanged();
    }
}