@using Application.Command.Departments;
@using Application.Commands;
@using Application.Queries;
@using MediatR
@using global::Core.Entities.Views;
@using global::Core.Entities;
@inject IMediator Mediator
@using DevExpress.Export
@using Application.Response;
@inject IJSRuntime jsRuntime
@using global::Core.Repositories.Query;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject AC.SD.Core.Services.ToastService toastService
@inject NavigationManager NavigationManager

@page "/Department"


<div class="card w-100" style="margin-bottom:10px; margin-top:10px">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
                <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportToExcel" />
                <DxMenuItem Text="Add Section" IconCssClass="fa fa-add" Click="@AddSection" />
                <DxMenuItem Text="Reset Division" IconCssClass="fa fa-refresh" Click="@ResetDivision" Enabled="@isDivisionEnabled" />
            </Items>
        </DxMenu>
    </div>
</div>

  @if (Type == "Division")
    {
    <div style="" class="breadcrumb card-body  bradcrumb-txt">

        <div class="items">@plantcode<span class="separator-txt fa fa-caret-right"></span>@Name</div>
    </div>
    }


    <DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data..."
               >

<DxGrid @ref="Grid" 
     ColumnResizeMode="GridColumnResizeMode.NextColumn"
        FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always" ShowGroupPanel="true" ShowGroupedColumns="true" 
        Data="_departmentItems"
        KeyFieldName="DepartmentId"
        EditModelSaving="Grid_EditModelSaving"
        DataItemDeleting="Grid_DataItemDeleting"
        CustomizeEditModel="Grid_CustomizeEditModel"
        CustomizeElement="Grid_CustomizeElement"
        ShowSearchBox="true"
        PagerNavigationMode="PagerNavigationMode.InputBox"
        PageSizeSelectorVisible="true"
        PageSizeSelectorAllRowsItemVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20"
        SelectionMode="GridSelectionMode.Multiple"
        SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
        AutoExpandAllGroupRows="true"
        CssClass="ch-360  " style="height: calc(100vh - 270px);"
        FocusedRowEnabled="true"
        RowClick="OnRowClick"
        SelectedDataItemsChanged="@SelectedDataItemsChanged"
        RowDoubleClick="OnRowDoubleClick"
        AllowSelectRowByClick="true">
    <Columns>
        <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
        <DxGridDataColumn FieldName="DepartmentId" MinWidth="80" Visible="false" />
            <DxGridDataColumn FieldName="Index" Visible="false" Caption="#" Width="35px"></DxGridDataColumn>
        <DxGridDataColumn FieldName="PlantCode" Caption="Company Code" MinWidth="80" />
        <DxGridDataColumn FieldName="Division" MinWidth="80" />
        <DxGridDataColumn FieldName="DepartmentName" Caption="Name" MinWidth="80" />
        <DxGridDataColumn FieldName="DepartmentCode" Caption="Code" MinWidth="80" />
        <DxGridDataColumn FieldName="StatusCode" MinWidth="80" />
        <DxGridDataColumn FieldName="ModifiedDate" Width="180" >
            <CellDisplayTemplate>
                @{
                    var item = (ViewDepartment)context.DataItem;
                }
                @Application.Common.Helper.Helper.FormatDateTime(item.ModifiedDate)
            </CellDisplayTemplate>
        </DxGridDataColumn>
        <DxGridDataColumn FieldName="ModifiedBy" Width="10%" />


    </Columns>
    <EditFormTemplate Context="EditFormContext">
        @{
            var department = (ViewDepartment)EditFormContext.EditModel;
        }
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="Division" ColSpanMd="6">

                <DxComboBox Data="@_divisionsItems"
                            NullText="Select Division..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="DivisionDrop"
                            ValueFieldName="DivisionID"
                            Enabled="@isEnabled"
                            SelectedItemChanged="@((ViewDivision plantSelect) => SelectedItemChanged(plantSelect))"
                            @bind-Value="@department.DivisionId"
                            ShowValidationIcon="true">
                </DxComboBox>
                <ValidationMessage For="@(() => department.DivisionId)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Company" ColSpanMd="6">
                <DxTextBox @bind-Text="@companyName" Enabled="@isEnabled" ReadOnly="true" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Department Name" ColSpanMd="6">
                <DxTextBox @bind-Text="@department.DepartmentName" ShowValidationIcon="true" />
                <ValidationMessage For="@(() => department.DepartmentName)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Department Code" ColSpanMd="6">
                <DxTextBox @bind-Text="@department.DepartmentCode" ShowValidationIcon="true" />
                <ValidationMessage For="@(() => department.DepartmentCode)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Profile Code" ColSpanMd="6">
                <DxTextBox @bind-Text="@department.ProfileCode" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Description" ColSpanMd="6">
                <DxMemo @bind-Text="@department.Description" Rows="5" ShowValidationIcon="true" />
                <ValidationMessage For="@(() => department.Description)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Status" ColSpanMd="6">
                <DxComboBox Data="@_stausItems"
                            NullText="Select Status..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="CodeValue"
                            ValueFieldName="CodeId"
                           @bind-Text="@Text"
                            @bind-Value="@department.StatusCodeId"
                            ShowValidationIcon="true">
                </DxComboBox>
                <ValidationMessage For="@(() => department.StatusCodeId)" />
            </DxFormLayoutItem>
        </DxFormLayout>
    </EditFormTemplate>
    <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="PlantCode" />
    </TotalSummary>
</DxGrid>

</DxLoadingPanel>
@*<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" Width="350px" @bind-Visible="@Blukdeletepopup">
    <div class="text-center">
        <Content>
        <p>
                <div > Do you want to delete</div>
          DivisionDrop
        </p>
    </Content>
       
        <DxButton class=align-Button Text="Yes" Click="@(() => bulkDelete())" />
        <DxButton class =align-items Text="No" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>*@
<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="CRT"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">


    <div class="text-center">
        <p>@DeleteerrorMessage</p>

        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>


</DxPopup>

@code {
    string plantcode = "";
    string Name = "";
    string Text { get; set; } = "Active";
    [Parameter]
    public long? PlantID { get; set; }
    [Parameter]
    public string Type { get; set; }
    bool isDivisionEnabled { get; set; } = false;
    bool isEnabled { get; set; } = true;
    bool PanelVisible { get; set; }
    private List<ViewPlants> _plantItems;
    private List<CodeMaster> _stausItems;
    private List<ViewDepartment> _departmentItems;
    private List<ViewDivision> _divisionsItems;
    private List<ViewDivision> _divisionsListItems;
    public ApplicationUser? applicationUser { get; private set; }
    private ViewDepartment _selectedItems;
    IReadOnlyList<object> SelectedDataItems { get; set; }
    bool Blukdeletepopup { get; set; } = false;
    bool EditEnabled { get; set; } = true;
    bool DeleteEnabled { get; set; } = true;
    string? DeleteerrorMessage;
    DxPopup? popup;
    bool PopupVisible { get; set; } = false;
    IGrid Grid { get; set; }
    long? companyId = null;
    string companyName = "";
    bool ExportSelectedRowsOnly { get; set; }
    private ViewDepartment _selectlst;
    private ViewPlants _selectplant;
    private ViewDivision _selectdivision;
 //   private List<ViewDivision> _divisions;

    protected override async Task OnInitializedAsync()
    {
        PanelVisible = true;
       // await jsRuntime.InvokeAsync<string>("showLoading");
        _plantItems = await Mediator.Send(new GetAllPlantQuery());
        _stausItems = await Mediator.Send(new GetAllCodeMasterQuery("Status"));
        _divisionsItems = await Mediator.Send(new GetAllDivisionQuery());
     //   _divisions = await Mediator.Send(new GetAllDivisionQuery());
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
       //await jsRuntime.InvokeAsync<string>("hideLoading");
        PanelVisible = false;
        await UpdateDataAsync();
        if (Type == "Division")
        {
            isDivisionEnabled = true;
        }
    }

    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        if (e.IsNew)
        {
            var newmaster = (ViewDepartment)e.EditModel;
            newmaster.DepartmentName = "";
            newmaster.StatusCode = "";
            newmaster.ProfileCode = "";
            newmaster.Description = "";
            companyName = "";
            companyId = null;


            if (Type == "Division")
            {
                var _ictmasters = _departmentItems.FirstOrDefault(f => f.DivisionId == PlantID);
                if (_ictmasters != null)
                {
                    isEnabled = false;
                    newmaster.DivisionId = _ictmasters.DivisionId;
                    companyName = _ictmasters.Company;
                   // newmaster.Division = _selectdivision.DivisionDrop;
                   // SelectedItemChanged(_ictmasters.DivisionId);
                }
            }
        }
        else
        {
            var dep = (ViewDepartment)e.DataItem;
            companyName = dep.Company;
            companyId = dep.CompanyId;
        }
    }
    async Task UpdateDataAsync()
    {
        //await jsRuntime.InvokeAsync<string>("showLoading");
        PanelVisible = true;
        var model  = await Mediator.Send(new GetAllDepartmentQuery());
        PanelVisible = false;
        for (int i = 0; i < model.Count; i++)
        {
            model[i].Index = i + 1;
        }
        _departmentItems = model;
        if (PlantID != null && PlantID != -1)
        {
            if (Type == "Division")
            {
                _selectdivision = _divisionsItems.FirstOrDefault(f => f.DivisionID == PlantID);
            var item = _plantItems.Where(c => c.PlantID == _selectdivision.CompanyId);
            _selectplant = item.FirstOrDefault();
            plantcode = _selectplant.PlantCode;
            Name = _selectdivision.Name;

            }
        }
        if (_departmentItems.Count > 0)
        {
            _selectedItems = _departmentItems.FirstOrDefault();
            EditEnabled = true;
            DeleteEnabled = true;
            StateHasChanged();
        }
      //  await jsRuntime.InvokeAsync<string>("hideLoading");
    }
    void SelectedItemChanged(ViewDivision plantID)
    {
        if (plantID != null)
        {
           
            companyName = plantID.PlantDescription;
            companyId = plantID.CompanyId;
        }
    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editableDepartment = (ViewDepartment)e.EditModel;
        if (e.IsNew)
        {
            var request = new CreateDepartmentCommand
                {
                    CompanyId = companyId,
                    DivisionId = editableDepartment.DivisionId,
                    Name = editableDepartment.DepartmentName,
                    Code = editableDepartment.DepartmentCode,
                    Description = editableDepartment.Description,
                    StatusCodeId = editableDepartment.StatusCodeId,
                    ProfileCode = editableDepartment.ProfileCode,
                    ModifiedByUserId = applicationUser.UserID,
                    ModifiedDate = DateTime.Now,
                    AddedByUserId = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                };
            await Mediator.Send(request);
            toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();
        }
        else
        {
            await UpdatePlantAsync(editableDepartment);
        }

    }
    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        var editableDepartment = (ViewDepartment)e.DataItem;
        var request = new DeleteDepartmentCommand(editableDepartment.DepartmentId);
        await Mediator.Send(request);
        await UpdateDataAsync();
        Grid.SetFocusedRowIndex(0);
    }
    async Task UpdatePlantAsync(ViewDepartment editableDepartment)
    {
        var request = new EditDepartmentCommand
            {
                DepartmentId = editableDepartment.DepartmentId,
                CompanyId = companyId,
                DivisionId = editableDepartment.DivisionId,
                Name = editableDepartment.DepartmentName,
                Code = editableDepartment.DepartmentCode,
                Description = editableDepartment.Description,
                StatusCodeId = editableDepartment.StatusCodeId,
                AddedByUserId = editableDepartment.AddedByUserId,
                AddedDate = editableDepartment.AddedDate,
                ModifiedByUserId = applicationUser.UserID,
                ModifiedDate = DateTime.Now,
                ProfileCode = editableDepartment.ProfileCode,
            };
        await Mediator.Send(request);
        toastService.ShowToast("Record updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
        await UpdateDataAsync();
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
        if (e.ElementType == GridElementType.HeaderCell)
        {
            e.Style = "background-color: rgba(0, 0, 0, 0.08)";
            e.CssClass = "header-bold";
        }
    }
    async Task ExportToExcel()
    {
        await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = true,
                CustomizeCell = OnCustomizeCell
            });
    }
    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }

    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "DepartmentId");
        _selectedItems = _departmentItems.FirstOrDefault(f => f.DepartmentId == (long?)UniqueId);
    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addEdit();
    }
    void addNew()
    {
        Grid.StartEditNewRowAsync();
       
    }
    void addEdit()
    {
        if (SelectedDataItems.Count == 1)
        {

            foreach (object item in SelectedDataItems)
            {

                if (item is ViewDepartment viewDepartment)
                {

                    _selectlst = _departmentItems.FirstOrDefault(f => f.DepartmentId == viewDepartment.DepartmentId);


                }
            }
            Grid.StartEditDataItemAsync(_selectlst);
        }
        else
        {
            Grid.StartEditDataItemAsync(_selectedItems);
        }
    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
        UpdateDataAsync();
    }
    async void ClosePopup()
    {
        PopupVisible = false;
        await UpdateDataAsync();
    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    async Task bulkDelete()
    {
        try
        {
            if (SelectedDataItems != null)
            {
                foreach (object item in SelectedDataItems)
                {

                    if (item is ViewDepartment forumdepartment)
                    {

                        // var editableDepartment = (ViewDepartment)e.DataItem;
                        var request = new DeleteDepartmentCommand(forumdepartment.DepartmentId);
                        await Mediator.Send(request);
                        UpdateDataAsync();
                        Blukdeletepopup = false;
                        toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        Grid.SetFocusedRowIndex(0);
                    }

                }
            }
        }
        catch (Exception eq)
        {
            DeleteerrorMessage = eq.Message;
            PopupVisible = true;
        }

        await UpdateDataAsync();
    }

    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems;
        if (SelectedDataItems.Count > 1)
        {
            EditEnabled = false;
        }
        else
        {
            EditEnabled = true;
        }
    }
    void ResetDivision()
    {
        PlantID = -1;
        isEnabled = true;
        isDivisionEnabled = false;
        Grid.CancelEditAsync();
        NavigationManager.NavigateTo("masters/2/Department/-1");

    }
    void AddSection()
    {
        NavigationManager.NavigateTo("masters/3/Department/" + _selectedItems.DepartmentId);
    }
}

