@using Application.Command.designations;
@using Application.Commands;
@using Application.Queries;
@using MediatR
@using global::Core.Entities.Views;
@using global::Core.Entities;
@inject IMediator Mediator
@using DevExpress.Export
@using Application.Response;
@inject IJSRuntime jsRuntime
@using global::Core.Repositories.Query;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@page "/designation"
<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
                <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportToExcel" />
            </Items>
        </DxMenu>
    </div>
</div>




<DxGrid @ref="Grid"
        Data="_designationItems"
        KeyFieldName="DesignationID"
        EditModelSaving="Grid_EditModelSaving"
        DataItemDeleting="Grid_DataItemDeleting"
        CustomizeEditModel="Grid_CustomizeEditModel"
        CustomizeElement="Grid_CustomizeElement"
        ShowSearchBox="true"
        PagerNavigationMode="PagerNavigationMode.InputBox"
        PageSizeSelectorVisible="true"
        PageSizeSelectorAllRowsItemVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20"
        SelectionMode="GridSelectionMode.Multiple"
        SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
        AutoExpandAllGroupRows="true"
        CssClass="ch-360" style="height: calc(100vh - 220px);"
        FocusedRowEnabled="true"
        RowClick="OnRowClick"
        RowDoubleClick="OnRowDoubleClick"
        AllowSelectRowByClick="true">
    <Columns>
        <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
        <DxGridDataColumn FieldName="DesignationID" MinWidth="80" Visible="false" />
        <DxGridDataColumn FieldName="CompanyName" Caption="Company" MinWidth="80" />
        <DxGridDataColumn FieldName="SubSectionName" MinWidth="80" />
        <DxGridDataColumn FieldName="LevelName" MinWidth="80" />
        <DxGridDataColumn FieldName="Name" MinWidth="80" />
        <DxGridDataColumn FieldName="Code" MinWidth="80" />
        <DxGridDataColumn FieldName="Description" MinWidth="80" />
        <DxGridDataColumn FieldName="HeadCount" MinWidth="80" />
        <DxGridDataColumn FieldName="StatusCode" MinWidth="80" />
        <DxGridDataColumn FieldName="ModifiedDate" Width="10%" />
        <DxGridDataColumn FieldName="ModifiedBy" Width="10%" />

    </Columns>
    <EditFormTemplate Context="EditFormContext">
        @{
            var plant = (ViewDesignation)EditFormContext.EditModel;
        }
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="Company" ColSpanMd="6">
                <DxComboBox Data="@_plantItems"
                            SelectedItemChanged="@((ViewPlants plantSelect) => SelectedItemChanged(plantSelect.PlantID))"
                            NullText="Select Company..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="Description"
                            ValueFieldName="PlantID"
                            @bind-Value="@plant.CompanyID" ShowValidationIcon="true" />
                <ValidationMessage For="@(() => plant.CompanyID)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Division" ColSpanMd="6">
                <DxComboBox Data="@_divisionsItems"
                            NullText="Select Division..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="Name"
                            ValueFieldName="DivisionID"
                            @bind-Value="@plant.DivisionID"
                            SelectedItemChanged="@((ViewDivision plantSelect) => SelectedItemDivisionChanged(plantSelect.DivisionID))"
                            ShowValidationIcon="true">
                </DxComboBox>
                <ValidationMessage For="@(() => plant.DivisionID)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Department" ColSpanMd="6">
                <DxComboBox Data="@_departmentsItems"
                            NullText="Select Department..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="DepartmentName"
                            ValueFieldName="DepartmentId"
                            @bind-Value="@plant.DepartmentID"
                            SelectedItemChanged="@((ViewDepartment plantSelect) => SelectedItemDepChanged(plantSelect.DepartmentId))"
                            ShowValidationIcon="true">
                </DxComboBox>
                <ValidationMessage For="@(() => plant.DivisionID)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Section" ColSpanMd="6">
                <DxComboBox Data="@_sectionItems"
                            NullText="Select Section..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="SectionName"
                            ValueFieldName="SectionId"
                            @bind-Value="@plant.SectionID"
                            SelectedItemChanged="@((ViewSection plantSelect) => SelectedItemSecChanged(plantSelect.SectionId))"
                            ShowValidationIcon="true">
                </DxComboBox>
                <ValidationMessage For="@(() => plant.DivisionID)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Sub Section" ColSpanMd="6">
                <DxComboBox Data="@_subsectionItems"
                            NullText="Select SubSection..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="SubSectionName"
                            ValueFieldName="SubSectionId"
                            @bind-Value="@plant.SubSectionID"
                            ShowValidationIcon="true">
                </DxComboBox>
                <ValidationMessage For="@(() => plant.SubSectionID)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Level Master" ColSpanMd="6">
                <DxComboBox Data="@_levelListItems"
                            NullText="Select Level Master..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="Name"
                            ValueFieldName="LevelID"
                            @bind-Value="@plant.LevelID"
                            ShowValidationIcon="true">
                </DxComboBox>
                <ValidationMessage For="@(() => plant.LevelID)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Name" ColSpanMd="6">
                <DxTextBox @bind-Text="@plant.Name" ShowValidationIcon="true" />
                <ValidationMessage For="@(() => plant.Name)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Code" ColSpanMd="6">
                <DxTextBox @bind-Text="@plant.Code" ShowValidationIcon="true" />
                <ValidationMessage For="@(() => plant.Code)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Description" ColSpanMd="6">
                <DxMemo @bind-Text="@plant.Description" Rows="5" ShowValidationIcon="true" />
                <ValidationMessage For="@(() => plant.Description)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="HeadCount" ColSpanMd="6">
                <DxSpinEdit @bind-Value="@plant.HeadCount" ShowValidationIcon="true" />
                <ValidationMessage For="@(() => plant.HeadCount)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Status" ColSpanMd="6">
                <DxComboBox Data="@_stausItems"
                            NullText="Select Status..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="CodeValue"
                            ValueFieldName="CodeId"
                            @bind-Value="@plant.StatusCodeID"
                            ShowValidationIcon="true">
                </DxComboBox>
                <ValidationMessage For="@(() => plant.StatusCodeID)" />
            </DxFormLayoutItem>
        </DxFormLayout>
    </EditFormTemplate>
    <TotalSummary>
        <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="Name" />
    </TotalSummary>
</DxGrid>

@code {
    private List<ViewSection> _sectionItems;
    private List<ViewSection> _sections;
    private List<ViewDepartment> _departments;
    private List<ViewDepartment> _departmentsItems;
    private List<ViewDivision>? _divisions;
    private List<ViewPlants> _plantItems;
    private List<ViewDesignation> _designationItems;
    private List<CodeMaster> _stausItems;
    private List<ViewLevel> levelItems;
    private List<ViewLevel> _levelListItems;
    private List<ViewSubSection> _subsectionListItems;
    private List<ViewSubSection> _subsectionItems;
    private List<ViewDivision>? _divisionsItems;
    IGrid Grid { get; set; }
    bool ExportSelectedRowsOnly { get; set; }
    private ViewDesignation _selectedItems;
    bool EditEnabled { get; set; } = false;
    bool DeleteEnabled { get; set; } = false;
    public ApplicationUser applicationUser { get; private set; }
    protected override async Task OnInitializedAsync()
    {
        _sections = await Mediator.Send(new GetAllSectionQuery());
        _departments = await Mediator.Send(new GetAllDepartmentQuery());
        _divisions = await Mediator.Send(new GetAllDivisionQuery());
        _divisions = await Mediator.Send(new GetAllDivisionQuery());
        _plantItems = await Mediator.Send(new GetAllPlantQuery());
        _stausItems = await Mediator.Send(new GetAllCodeMasterQuery("Status"));
        _subsectionListItems = await Mediator.Send(new GetAllSubSectionQuery());
        levelItems = await Mediator.Send(new GetAllLevelMasterQuery());
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        await UpdateDataAsync();
    }
    async Task UpdateDataAsync()
    {
        await jsRuntime.InvokeAsync<string>("showLoading");
        _designationItems = await Mediator.Send(new GetAllDesignationQuery());
        if (_designationItems.Count > 0)
        {
            _selectedItems = _designationItems.FirstOrDefault();
            EditEnabled = true;
            DeleteEnabled = true;
            StateHasChanged();
        }
        await jsRuntime.InvokeAsync<string>("hideLoading");
    }
    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        var dep = (ViewDesignation)e.DataItem;
        if (e.IsNew)
        {
            _levelListItems = new List<ViewLevel>();
            _subsectionItems = new List<ViewSubSection>();
            _sectionItems = new List<ViewSection>();
            _departmentsItems = new List<ViewDepartment>();
            _divisionsItems = new List<ViewDivision>();
        }
        else
        {
            SelectedItemChanged(dep.CompanyID);
            SelectedItemSecChanged(dep.SectionID);
            SelectedItemDivisionChanged(dep.DivisionID);
            SelectedItemDepChanged(dep.DepartmentID);
        }
    }
    void SelectedItemChanged(long? plantID)
    {
        _levelListItems = levelItems.Where(c => c.CompanyID == plantID).ToList();
        _divisionsItems = _divisions.Where(c => c.CompanyId == plantID).ToList();

    }
    void SelectedItemSecChanged(long? plantID)
    {

        _subsectionItems = _subsectionListItems.Where(c => c.SectionId == plantID).ToList();
    }
    void SelectedItemDivisionChanged(long? plantID)
    {
        _departmentsItems = _departments.Where(c => c.DivisionId == plantID).ToList();
    }
    void SelectedItemDepChanged(long? plantID)
    {
        _sectionItems = _sections.Where(c => c.DepartmentId == plantID).ToList();
    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editableData = (ViewDesignation)e.EditModel;
        if (e.IsNew)
        {
            var request = new CreateDesignationCommand
                {
                    Name = editableData.Name,
                    Description = editableData.Description,
                    StatusCodeId = editableData.StatusCodeID.Value,
                    Code = editableData.Code,
                    CompanyId = editableData.CompanyID,
                    LevelId = editableData.LevelID,
                    HeadCount = editableData.HeadCount,
                    SubSectionID = editableData.SubSectionID,
                    AddedByUserId = applicationUser.UserID,
                    ModifiedByUserId = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    ModifiedDate = DateTime.Now,
                    SectionID = editableData.SectionID,

                };
            await Mediator.Send(request);
            await UpdateDataAsync();
        }
        else
        {
            await UpdatePlantAsync(editableData);
        }

    }
    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        var editableData = (ViewDesignation)e.DataItem;
        var request = new DeleteDesignationCommand(editableData.DesignationID);
        await Mediator.Send(request);
        await UpdateDataAsync();
        Grid.SetFocusedRowIndex(0);
    }
    async Task UpdatePlantAsync(ViewDesignation editableData)
    {
        var request = new EditDesignationCommand
            {
                DesignationId = editableData.DesignationID,
                Name = editableData.Name,
                Description = editableData.Description,
                StatusCodeId = editableData.StatusCodeID.Value,
                AddedByUserId = editableData.AddedByUserID,
                CompanyId = editableData.CompanyID,
                SectionID = editableData.SectionID,
                AddedDate = editableData.AddedDate,
                Code = editableData.Code,
                HeadCount = editableData.HeadCount,
                LevelId = editableData.LevelID,
                SubSectionID = editableData.SubSectionID,
                ModifiedDate = DateTime.Now,
                ModifiedByUserId = applicationUser.UserID,

            };
        await Mediator.Send(request);
        await UpdateDataAsync();
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
        if (e.ElementType == GridElementType.HeaderCell)
        {
            e.Style = "background-color: rgba(0, 0, 0, 0.08)";
            e.CssClass = "header-bold";
        }
    }
    async Task ExportToExcel()
    {
        await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = true,
                CustomizeCell = OnCustomizeCell
            });
    }
    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "DesignationID");
        _selectedItems = _designationItems.FirstOrDefault(f => f.DesignationID == (long?)UniqueId);


    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addEdit();
    }
    void addNew()
    {
        Grid.StartEditNewRowAsync();

    }
    void addEdit()
    {
        Grid.StartEditDataItemAsync(_selectedItems);

    }
    void addDelete()
    {
        Grid.ShowDataItemDeleteConfirmation(_selectedItems);

    }
}
