@using Application.Commands;
@using Application.Queries;
@using MediatR
@using global::Core.Entities.Views;
@using global::Core.Entities;
@inject IMediator Mediator
@using DevExpress.Export
@using Application.Response;
@using Microsoft.JSInterop;
@inject IJSRuntime jsRuntime
@using global::Core.Repositories.Query;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@page "/Division"





<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
                <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportToExcel" />
            </Items>
        </DxMenu>
    </div>
</div>

<DxGrid @ref="Grid"
        Data="_divisions"
        KeyFieldName="DivisionID"
        EditModelSaving="Grid_EditModelSaving"
        DataItemDeleting="Grid_DataItemDeleting"
        CustomizeElement="Grid_CustomizeElement"
        ShowSearchBox="true"
        PagerNavigationMode="PagerNavigationMode.InputBox"
        PageSizeSelectorVisible="true"
        PageSizeSelectorAllRowsItemVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20"
        SelectionMode="GridSelectionMode.Multiple"
        SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
        AutoExpandAllGroupRows="true"
        CssClass="ch-360 " style="height: calc(100vh - 220px);"
        FocusedRowEnabled="true"
        RowClick="OnRowClick"
        RowDoubleClick="OnRowDoubleClick"
        AllowSelectRowByClick="true">
    <Columns>
        <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
        <DxGridDataColumn FieldName="DivisionID" MinWidth="80" Visible="false" />
        <DxGridDataColumn FieldName="PlantDescription" Caption="Company" MinWidth="80" />
        <DxGridDataColumn FieldName="Name" MinWidth="80" />
        <DxGridDataColumn FieldName="Code" MinWidth="80" />
        <DxGridDataColumn FieldName="Description" MinWidth="80" />
        <DxGridDataColumn FieldName="StatusCode" MinWidth="80" />
        <DxGridDataColumn FieldName="ModifiedDate" Width="10%" />
        <DxGridDataColumn FieldName="ModifiedBy" Width="10%" />

    </Columns>
    <EditFormTemplate Context="EditFormContext">
        @{
            var plant = (ViewDivision)EditFormContext.EditModel;
        }
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="Company" ColSpanMd="6">
                <DxComboBox Data="@_plantItems"
                            NullText="Select Company..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="Description"
                            ValueFieldName="PlantID"
                            @bind-Value="@plant.CompanyId"
                            ShowValidationIcon="true">
                </DxComboBox>
                <ValidationMessage For="@(() => plant.CompanyId)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Name" ColSpanMd="6">
                <DxTextBox @bind-Text="@plant.Name" ShowValidationIcon="true" />
                <ValidationMessage For="@(() => plant.Name)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Code" ColSpanMd="6">
                <DxTextBox @bind-Text="@plant.Code" ShowValidationIcon="true" />
                <ValidationMessage For="@(() => plant.Code)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Description" ColSpanMd="6">
                <DxMemo @bind-Text="@plant.Description" Rows="5" ShowValidationIcon="true" />
                <ValidationMessage For="@(() => plant.Description)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Status" ColSpanMd="6">
                <DxComboBox Data="@_stausItems"
                            NullText="Select Status..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="CodeValue"
                            ValueFieldName="CodeId"
                            @bind-Value="@plant.StatusCodeID"
                            ShowValidationIcon="true">
                </DxComboBox>
                <ValidationMessage For="@(() => plant.StatusCodeID)" />
            </DxFormLayoutItem>
        </DxFormLayout>
    </EditFormTemplate>
    <TotalSummary>
        <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="Name" />
    </TotalSummary>
</DxGrid>

@code {
    private List<ViewDivision>? _divisions;
    private List<CodeMaster>? _stausItems;
    private List<ViewPlants>? _plantItems;
    private ViewDivision? _selectedItems;
    bool EditEnabled { get; set; } = false;
    bool DeleteEnabled { get; set; } = false;
    IGrid? Grid { get; set; }
    bool ExportSelectedRowsOnly { get; set; }
    public ApplicationUser? applicationUser { get; private set; }
    protected override async Task OnInitializedAsync()
    {
        await jsRuntime.InvokeAsync<string>("showLoading");
        var models = await Mediator.Send(new GetAllCodeMasterQuery("Status"));
        var plants = await Mediator.Send(new GetAllPlantQuery());
        _stausItems = models;
        _plantItems = plants;
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        await UpdateDataAsync();
    }
    async Task UpdateDataAsync()
    {
         await jsRuntime.InvokeAsync<string>("showLoading");
        _divisions = await Mediator.Send(new GetAllDivisionQuery());
        if (_divisions.Count > 0)
        {
            _selectedItems = _divisions.FirstOrDefault();
            EditEnabled = true;
            DeleteEnabled = true;
            StateHasChanged();
        }
        await jsRuntime.InvokeAsync<string>("hideLoading");
    }
    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        if (e.IsNew)
        {
            var newData = (ViewDivision)e.EditModel;
            newData.PlantCode = "";
            newData.Description = "";
            newData.StatusCodeID = null;
        }
    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editableData = (ViewDivision)e.EditModel;
        if (e.IsNew)
        {
            var request = new CreateDivisionCommand
                {
                    Name = editableData.Name,
                    Description = editableData.Description,
                    StatusCodeId = editableData.StatusCodeID,
                    Code = editableData.Code,
                    CompanyId = editableData.CompanyId,
                    AddedByUserId = applicationUser.UserID,
                    ModifiedByUserId = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    ModifiedDate = DateTime.Now,
                };
            await Mediator.Send(request);
            await UpdateDataAsync();
        }
        else
        {
            await UpdatePlantAsync(editableData);
        }

    }
    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        var editableData = (ViewDivision)e.DataItem;
        var request = new DeleteDivisionCommand(editableData.DivisionID);
        await Mediator.Send(request);
        await UpdateDataAsync();
        Grid.SetFocusedRowIndex(0);
    }
    async Task UpdatePlantAsync(ViewDivision editableData)
    {
        var request = new EditDivisionCommand
            {
                DivisionId = editableData.DivisionID,
                Name = editableData.Name,
                Description = editableData.Description,
                StatusCodeId = editableData.StatusCodeID,
                AddedByUserId = editableData.AddedByUserID,
                AddedDate = editableData.AddedDate,
                Code = editableData.Code,
                CompanyId = editableData.CompanyId,
                ModifiedByUserId = applicationUser.UserID,
                ModifiedDate = DateTime.Now,
            };
        await Mediator.Send(request);
        await UpdateDataAsync();
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
        if (e.ElementType == GridElementType.HeaderCell)
        {
            e.Style = "background-color: rgba(0, 0, 0, 0.08)";
            e.CssClass = "header-bold";
        }
    }
    async Task ExportToExcel()
    {
        await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = true,
                CustomizeCell = OnCustomizeCell
            });
    }
    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }

    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "DivisionID");
        _selectedItems = _divisions.FirstOrDefault(f => f.DivisionID == (long?)UniqueId);
    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addEdit();
    }
    void addNew()
    {
        Grid.StartEditNewRowAsync();
    }
    void addEdit()
    {
        Grid.StartEditDataItemAsync(_selectedItems);
    }
    void addDelete()
    {
        Grid.ShowDataItemDeleteConfirmation(_selectedItems);
    }
}
