@using Application.Commands;
@using Application.Queries;
@using Application.Response;
@using MediatR
@using System.Text.RegularExpressions
@using global::Core.Entities;
@using global::Core.Entities.Views;
@inject IMediator Mediator
@using DevExpress.Export
@using global::Core.Repositories.Query;
@inject IJSRuntime jsRuntime;
@inject AC.SD.Core.Services.ToastService toastService
@inject ILocalStorageService<ApplicationUser> _localStorageService
@implements IAsyncDisposable
@using ClosedXML.Excel
@using System.IO
@inject IJSRuntime JS
@inject NavigationManager NavigationManager
<script>
    window.BlazorDownloadFile = (fileName, base64Data) => {
      const link = document.createElement('a');
      link.href = "data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64," + base64Data;
      link.download = fileName;
      document.body.appendChild(link);
      link.click();
      link.remove();
    };
</script>
<div class="menu-bar-content-container col-md-12">
    <div class="card w-100" style="margin-bottom:1px;">
        <div class="card-body p-0">
            @if (IsDeleted == true)
            {
                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Auto">

                    <Items>
                        <DxMenuItem Position="ItemPosition.Start" Text="Back" IconCssClass="fa fa-reply" Click="@onBack" />
                        <DxMenuItem Position="ItemPosition.Start" Text="Audit Trail" IconCssClass="fa fa-info-circle" Click="@(() => viewAuditLog())" />
                        <DxMenuItem Position="ItemPosition.Start" Text="Export" IconCssClass="fa fa-file-excel" Click="ExportXlsx_Click" />
                    </Items>
                </DxMenu>
            }
            else
            {
                <DxMenu CollapseItemsToHamburgerMenu="true"
                        CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                        DisplayMode="MenuDisplayMode.Auto">
                    <Items>
                        <DxMenuItem Position="ItemPosition.Start" Text="Back" IconCssClass="fa fa-reply" Click="@onBack" />
                        <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="ExportXlsx_Click" />
                    </Items>
                </DxMenu>
            }
        </div>
    </div>
</div>
<DxLoadingPanel @bind-Visible="PanelVisibleApproval"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">
    <DxGrid @ref="Grid7" Data="@_dynamicFormApprovalData"
            ShowGroupPanel="true"
            ShowGroupedColumns="true"
            ShowSearchBox="true"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            KeyFieldName="RowIndex"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            CssClass="ch-360"
            FocusedRowEnabled="true"
            FocusedRowChanged="OnRowApprovalClick"
            AllowSelectRowByClick="true"
            style="height: calc(100vh - 220px);"
            CustomizeElement="Grid_CustomizeApprovalElement"
            AutoExpandAllGroupRows="true"
            SelectionMode="GridSelectionMode.Single"
            VirtualScrollingEnabled="true"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages">
        <Columns>
            <DxGridDataColumn FieldName="RowIndex" Caption="No" MinWidth="5" />
            <DxGridDataColumn FieldName="HeaderDisplayName" Caption="Name" MinWidth="50" />
            <DxGridDataColumn FieldName="FormType" Caption="Form Type" MinWidth="50" />
            <DxGridDataColumn FieldName="AuditUser" Caption="Audit User" MinWidth="50" />
            <DxGridDataColumn FieldName="AuditDate" Caption="Audit Date" MinWidth="50">
                <CellDisplayTemplate>
                    @{
                        var item = (HRMasterAuditTrail)context.DataItem;
                        var startDate = string.Empty;
                        if (item.AuditDate.HasValue && item.AuditDate != DateTime.MinValue)
                        {
                            startDate = item.AuditDate?.ToString("dd-MMM-yyyy hh:mm:ss tt");
                        }
                    }
                    @startDate
                </CellDisplayTemplate>
            </DxGridDataColumn>
        </Columns>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="FormType" />
        </TotalSummary>
        <DetailRowTemplate>
            <AC.SD.Core.Pages.Masters.HRMasterAuditTrailListItems Items="(HRMasterAuditTrail)context.DataItem" AllItems="@AllItems"></AC.SD.Core.Pages.Masters.HRMasterAuditTrailListItems>

        </DetailRowTemplate>

    </DxGrid>
</DxLoadingPanel>
<DxPopup @bind-Visible="@AuditLogPopUp"
         ShowFooter="false"
         HeaderText="Audit Log"
         CloseOnOutsideClick="false"
         ShowCloseButton="true"
         MinWidth="500" MinHeight="200" MaxWidth="1200px" MaxHeight="800">
    <BodyContentTemplate>
        <AC.SD.Core.Pages.Masters.HRMasterAuditTrailList RevokeBack="onBack1" AddTypeId="@AddTypeId" MasterType="@(IsAll == true ? MasterType : _selectedItems?.Type)" MasterId="_selectedItems?.HRMasterSetId"></AC.SD.Core.Pages.Masters.HRMasterAuditTrailList>
    </BodyContentTemplate>

</DxPopup>
@code {
    bool AuditLogPopUp { get; set; } = false; bool IsPermissionExits { get; set; } = false;
    bool ExportSelectedRowsOnly { get; set; }
    [Parameter]
    public long? MasterId { get; set; }
    [Parameter]
    public string? MasterType { get; set; }
    [Parameter]
    public bool? IsDeleted { get; set; } = false;
    [Parameter]
    public bool? IsAll { get; set; } = false;
    [Parameter]
    public string? AddTypeId { get; set; } = "";
    [Parameter]
    public string? DisplayName { get; set; }
    [Parameter]
    public Action RevokeBack { get; set; }
    bool PanelVisibleApproval { get; set; }
    bool IsEnabled { get; set; } = false;
    private List<HRMasterAuditTrail>? _dynamicFormApprovalData; private List<ApplicationPermission>? _applicationPermission;
    IGrid? Grid7 { get; set; }
    private HRMasterAuditTrail _selectedItems; private List<HRMasterAuditTrail>? AllItems;
    public ApplicationUser? applicationUser { get; private set; }
    protected override async Task OnInitializedAsync()
    {
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");

        await UpdateDataAsync();

    }
    // async Task ExportXlsx_Click()
    // {
    //     await Grid7.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
    //     {
    //         ExportSelectedRowsOnly = ExportSelectedRowsOnly
    //     });
    // }
    void onBack()
    {
        RevokeBack?.Invoke();
    }
    void onBack1()
    {
        AuditLogPopUp = false;
        StateHasChanged();
    }
    void viewAuditLog()
    {
        AuditLogPopUp = true;
    }
    public static string AddSpacesToPascalCase(string? input)
    {
        if (string.IsNullOrWhiteSpace(input))
            return input;

        // Insert space before each capital letter, except the first
        return Regex.Replace(input, "(?<!^)([A-Z])", " $1");
    }
    private string GetFileProfileTypePath(List<ApplicationPermission> foldersListItem, long? id)
    {
        string foldersList = "";
        var foldersListItems = foldersListItem.Where(t => t.PermissionID == id).ToList();
        ApplicationPermission fileprofile = new ApplicationPermission();
        if (foldersListItems != null && foldersListItems.Count > 0)
        {
            foldersListItems.ForEach(s =>
            {
                if (s != null)
                {
                    List<string> FolderPathLists = new List<string>();
                    ApplicationPermission fileProfileTypeModel = new ApplicationPermission();
                    fileprofile = GetProfileTypeName(foldersListItem, s, FolderPathLists, fileprofile);
                    FolderPathLists.Add(s.PermissionName);
                    foldersList = string.Join(" / ", FolderPathLists);
                }
            });
        }
        return foldersList;
    }
    private ApplicationPermission GetProfileTypeName(List<ApplicationPermission> foldersListItems, ApplicationPermission s, List<string> foldersModel, ApplicationPermission fileProfileTypeModel)
    {
        if (s != null)
        {
            if (s.ParentID != null)
            {
                var items = foldersListItems.FirstOrDefault(f => f.PermissionID == s.ParentID);
                if (items != null)
                {
                    GetProfileTypeName(foldersListItems, items, foldersModel, fileProfileTypeModel);
                    foldersModel.Add(items?.PermissionName);
                }
            }
            else if (s.ParentID == null)
            {
                fileProfileTypeModel.ParentID = foldersListItems.FirstOrDefault(f => f.PermissionID == s.PermissionID)?.PermissionID;
            }
        }
        return fileProfileTypeModel;
    }
    async Task UpdateDataAsync()
    {
        try
        {
            PanelVisibleApproval = true; IsEnabled = false; _dynamicFormApprovalData = new List<HRMasterAuditTrail>();
            if (MasterId > 0)
            {
                AllItems = await Mediator.Send(new GetHRMasterAuditList(MasterId, MasterType, IsDeleted, null, AddTypeId));
                if (AllItems?.Any() == true)
                {
                    if (!string.IsNullOrEmpty(MasterType))
                    {
                        var names = MasterType.ToLower().Split(',', StringSplitOptions.RemoveEmptyEntries).ToList();
                        if (names?.Any() == true && names.Contains("applicationrolepermission"))
                        {
                            IsPermissionExits = true;
                            _applicationPermission = await Mediator.Send(new GetHRMasterApplicationPermissionAuditList());
                        }
                    }
                    foreach (var index in AllItems)
                    {
                        if (!string.IsNullOrEmpty(index.Type) && index.Type.ToLower() == "applicationrolepermission")
                        {

                            if (!string.IsNullOrEmpty(index.PreValue) && index.ColumnName == "PermissionID")
                            {
                                if (long.TryParse(index.PreValue, out long parsedId))
                                {
                                    var lists = GetFileProfileTypePath(_applicationPermission, parsedId);
                                    index.PreValue = lists;
                                }
                            }
                            if (!string.IsNullOrEmpty(index.CurrentValue) && index.ColumnName == "PermissionID")
                            {
                                if (long.TryParse(index.CurrentValue, out long parsedId1))
                                {
                                    var listss = GetFileProfileTypePath(_applicationPermission, parsedId1);
                                    index.CurrentValue = listss;
                                }
                            }
                        }
                        index.ColumnName = index.ColumnName == "PermissionID" ? "PermissionName" : index.ColumnName;
                    }

                    int i = 1;
                    var sessionIds = AllItems.OrderByDescending(o => o.AuditDate).Select(s => s.SessionId).Distinct().ToList();
                    if (sessionIds?.Any() == true)
                    {
                        foreach (var index in sessionIds)
                        {
                            HRMasterAuditTrail hRMasterAuditTrail = new HRMasterAuditTrail();
                            var data = AllItems.FirstOrDefault(f => f.SessionId == index);
                            if (data != null)
                            {
                                data.RowIndex = i++;
                                if (!string.IsNullOrEmpty(AddTypeId))
                                {
                                    data.HeaderDisplayName = data?.Type + "-" + AllItems.FirstOrDefault(f => f.SessionId == index && f.ColumnName == "DisplayName")?.PreValue;
                                }
                                else
                                {
                                    data.HeaderDisplayName = AllItems.FirstOrDefault(f => f.SessionId == index && f.ColumnName == "DisplayName")?.PreValue;
                                }
                                _dynamicFormApprovalData.Add(data);
                            }
                        }
                    }
                }
            }
            PanelVisibleApproval = false;
            StateHasChanged();
        }
        catch (Exception ex)
        {

        }
    }
    void Grid_CustomizeApprovalElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
    }
    void OnRowApprovalClick(GridFocusedRowChangedEventArgs args)
    {
        if (args.DataItem != null)
        {
            _selectedItems = (HRMasterAuditTrail)args.DataItem;
        }

        StateHasChanged();
    }

    public void ClearData()
    {
        _dynamicFormApprovalData?.Clear();
        _selectedItems = null;
    }
    public async ValueTask DisposeAsync()
    {
        ClearData();
    }
    async Task ExportXlsx_Click()
    {
        PanelVisibleApproval = true;
        try
        {
            using var wb = new XLWorkbook();
            string output = MasterType[..Math.Min(20, MasterType.Length)];
            var ws = wb.Worksheets.Add(output);

            var masterHeaders = new[] { "No", "Name", "Form Type", "Audit User", "Audit Date" };
            for (int c = 0; c < masterHeaders.Length; c++)
                ws.Cell(1, c + 1).Value = masterHeaders[c];

            var headerRange = ws.Range(1, 1, 1, masterHeaders.Length);
            headerRange.Style.Font.Bold = true;
            headerRange.Style.Fill.SetBackgroundColor(XLColor.LightGray);
            headerRange.Style.Alignment.Vertical = XLAlignmentVerticalValues.Center;
            ws.Row(1).Height = 22;

            int currentRow = 2;

            foreach (var master in _dynamicFormApprovalData)
            {
                // Write master row
                ws.Cell(currentRow, 1).Value = master.RowIndex;
                ws.Cell(currentRow, 2).Value = master.HeaderDisplayName;
                ws.Cell(currentRow, 3).Value = master.FormType;
                ws.Cell(currentRow, 4).Value = master.AuditUser;
                ws.Cell(currentRow, 5).Value = master.AuditDate.HasValue
                    ? master.AuditDate.Value.ToString("dd-MMM-yyyy hh:mm:ss tt")
                    : string.Empty;

                ws.Row(currentRow).Style.Font.Bold = true;
                ws.Row(currentRow).OutlineLevel = 0;

                int masterRowNumber = currentRow;
                currentRow++;

                var relatedDetails = AllItems.Where(d => d.SessionId == master.SessionId && d.ColumnName != "DisplayName").OrderBy(o => o.HRMasterAuditTrailID).ToList();
                if (relatedDetails.Any())
                {
                    var detailHeaderCols = new[] { "No", "Label Name", "Pre Value", "Current Value", "Is Deleted" };
                    for (int c = 0; c < detailHeaderCols.Length; c++)
                        ws.Cell(currentRow, c + 1).Value = detailHeaderCols[c];

                    var dhRange = ws.Range(currentRow, 1, currentRow, detailHeaderCols.Length);
                    dhRange.Style.Fill.SetBackgroundColor(XLColor.FromHtml("#6A1B9A")); // purple like screenshot
                    dhRange.Style.Font.FontColor = XLColor.White;
                    dhRange.Style.Font.Bold = true;
                    dhRange.Style.Alignment.Horizontal = XLAlignmentHorizontalValues.Center;
                    ws.Row(currentRow).Height = 18;

                    currentRow++;

                    int detailStartRow = currentRow;
                    int idx = 1;
                    foreach (var d in relatedDetails)
                    {
                        d.IsDeleted = d.FormType == "Removed" ? true : d.IsDeleted;
                        d.RowIndex1 = idx;
                        d.HeaderDisplayName = AddSpacesToPascalCase(d.ColumnName);
                        ws.Cell(currentRow, 1).Value = d.RowIndex1;
                        ws.Cell(currentRow, 2).Value = d.HeaderDisplayName ?? "";
                        ws.Cell(currentRow, 3).Value = d.PreValue ?? "";
                        ws.Cell(currentRow, 4).Value = d.CurrentValue ?? "";
                        ws.Cell(currentRow, 5).Value = d.IsDeleted.Value ? "✓" : "";

                        ws.Row(currentRow).Style.Alignment.WrapText = true;
                        ws.Row(currentRow).AdjustToContents();

                        currentRow++;
                        idx++;
                    }

                    int detailEndRow = currentRow - 1;

                    ws.Range(detailStartRow - 1, 1, detailEndRow, detailHeaderCols.Length)
                      .Style.Border.OutsideBorder = XLBorderStyleValues.Thin;

                    ws.Rows(detailStartRow - 1, detailEndRow).Group();
                    for (int r = detailStartRow - 1; r <= detailEndRow; r++)
                        ws.Row(r).OutlineLevel = 1;
                }
            }

            ws.Columns().AdjustToContents();

            using var ms = new MemoryStream();
            wb.SaveAs(ms);
            var bytes = ms.ToArray();
            var base64 = Convert.ToBase64String(bytes);
            var fileName = "AuditExport_" + MasterType + "_" + DateTime.Now.ToString("yyyyMMdd_HHmmss") + ".xlsx";

            await JS.InvokeVoidAsync("BlazorDownloadFile", fileName, base64);
        }
        finally
        {
            PanelVisibleApproval = false;
        }
    }
}
