@using Application.Command.Ictmaster;
@using Application.Commands;
@using Application.Queries;
@using MediatR
@using global::Core.Entities.Views;
@using global::Core.Entities;
@inject IMediator Mediator;
@using DevExpress.Export
@using Application.Response;
@inject IJSRuntime jsRuntime

@page "/ictMaster"

<div class="g-title">
    <div class="g-left"></div>

    <span class=""></span><span class="g-text"></span>
    <div class="g-right">
        <button type="button" CssClass="download-btn"
                IconCssClass="demo-download-icon"
                Text="Free Trial"
                class="btn btn-excel" @onclick="ExportToExcel" title="Export to Excel">
            <i class="fa fa-file-excel-o"></i>Export
        </button>
    </div>
</div>

<DxGrid @ref="Grid" Data="_ictmaster" KeyFieldName="IctmasterId" EditModelSaving="Grid_EditModelSaving" DataItemDeleting="Grid_DataItemDeleting" CustomizeElement="Grid_CustomizeElement" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
        PagerNavigationMode="PagerNavigationMode.InputBox"
        PageSizeSelectorVisible="true"
        PageSizeSelectorAllRowsItemVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20"
        SelectionMode="GridSelectionMode.Multiple"
        SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
        ValidationEnabled="true"
        AutoExpandAllGroupRows="true"
        CssClass="ch-360" CustomizeCellDisplayText="Grid_CustomizeCellDisplayText">
<Columns>

        <DxGridDataColumn FieldName="MasterType" MinWidth="80" />
        <DxGridDataColumn FieldName="Name" MinWidth="80" />
        <DxGridDataColumn FieldName="Description" MinWidth="80" />
        <DxGridDataColumn FieldName="StatusCodeId" MinWidth="80" />
        <DxGridDataColumn FieldName="ModifiedDate" Width="10%" />
        <DxGridDataColumn FieldName="ModifiedByUserId" Width="10%" />
        <DxGridCommandColumn Width="160px" />
        </Columns>
    <EditFormTemplate Context="EditFormContext">
        @{
            var ict = (ViewIctmaster)EditFormContext.EditModel;
        }
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="MasterType" ColSpanMd="6">
               @* <DxSpinEdit @bind-Value="@ict.MasterType" />*@
                <DxComboBox Data="@_codemaster"
                            NullText="Select MasterType..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="CodeType"
                            ValueFieldName="CodeId"
                            @bind-Value="@ict.MasterType"
                            ShowValidationIcon="true">
                </DxComboBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Description" ColSpanMd="6">
                <DxMemo @bind-Text="@ict.Description" Rows="5" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Name" ColSpanMd="6">
                <DxTextBox @bind-Text="@ict.Name" Rows="5" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Status" ColSpanMd="6">
                <DxComboBox Data="@_codemaster"
                            NullText="Select Status..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="CodeValue"
                            ValueFieldName="CodeId"
                            @bind-Value="@ict.StatusCodeId"
                            ShowValidationIcon="true">
                </DxComboBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem ColSpanMd="12">
                <ValidationSummary />
            </DxFormLayoutItem>
        </DxFormLayout>
    </EditFormTemplate>
    <TotalSummary>
        <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="MasterType" />
    </TotalSummary>
</DxGrid>


@code{
    private List<ViewIctmaster> _ictmaster;
    Dictionary<int, string> MasterTypeIndex { get; set; }
    private List<CodeMaster> _codemaster;
    IGrid Grid { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var model = await Mediator.Send(new GetAllIctMasterQuery());
        var models = await Mediator.Send(new GetAllCodQuery());
        
        _codemaster = models;
        _ictmaster = model;
        MasterTypeIndex = _codemaster.ToDictionary(i => i.CodeId, i => i.CodeType);
    }

    async Task UpdateDataAsync()
    {
        var model = await Mediator.Send(new GetAllIctMasterQuery());
        _ictmaster = model;
    }
    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        if (e.IsNew)
        {
            var newmaster = (ViewIctmaster)e.EditModel;
            newmaster.MasterType = 0;
            newmaster.Name = "";
            newmaster.Description = "";
            newmaster.StatusCodeId = null;
        }
    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editableictmaster = (ViewIctmaster)e.EditModel;
        if (e.IsNew)
        {
            var request = new CreateIctmasterCommand
                {
                    MasterType = editableictmaster.MasterType,
                    Description = editableictmaster.Description,
                    StatusCodeId = editableictmaster.StatusCodeId,
                    Name = editableictmaster.Name
                };
            await Mediator.Send(request);
            await UpdateDataAsync();
        }
        else
        {
            await UpdateMasterAsync(editableictmaster);
        }
    }
    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        var editablePlant = (ViewIctmaster)e.DataItem;
        var request = new DeleteIctmasterCommand(editablePlant.IctmasterId);
        await Mediator.Send(request);
        await UpdateDataAsync();
    }
    async Task UpdateMasterAsync(ViewIctmaster editableictmaster)
    {
        var request = new EditIctmasterCommand
            {
                IctmasterId = editableictmaster.IctmasterId,
                MasterType = editableictmaster.MasterType,
                Name = editableictmaster.Name,
                Description = editableictmaster.Description,
                StatusCodeId = editableictmaster.StatusCodeId,
                AddedByUserId = editableictmaster.AddedByUserId,
                AddedDate = editableictmaster.AddedDate,
            };
        await Mediator.Send(request);
        await UpdateDataAsync();
    }
    void Grid_CustomizeCellDisplayText(GridCustomizeCellDisplayTextEventArgs e)
    {
        if (e.FieldName == "MasterType")
        {
            var codeID = Convert.ToInt32(e.Value);
            if (MasterTypeIndex.ContainsKey(codeID))
                e.DisplayText = MasterTypeIndex[codeID];
        }
    }

    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
        if (e.ElementType == GridElementType.HeaderCell)
        {
            e.Style = "background-color: rgba(0, 0, 0, 0.08)";
            e.CssClass = "header-bold";
        }
    }
    async Task ExportToExcel()
    {
        await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = true,
                CustomizeCell = OnCustomizeCell
            });
    }
    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }

}