@using Application.Command.Ictmaster;
@using Application.Commands;
@using Application.Queries;
@using MediatR
@using global::Core.Entities.Views;
@using global::Core.Entities;
@inject IMediator Mediator;
@using DevExpress.Export
@using Application.Response;
@inject IJSRuntime jsRuntime

@page "/ictMaster"
@page "/ictMaster/{ActiveTabIndex:int}/{Type}/{SiteId:long}"
@page "/ictMaster/{ActiveTabIndex:int}"
<div class="cw-480 ch-220">
    <DxFormLayout CssClass="w-100">
        <DxFormLayoutTabPages @bind-ActiveTabIndex="@ActiveTabIndex">
            <DxFormLayoutTabPage Caption="Site">
                <Site />
            </DxFormLayoutTabPage>
            <DxFormLayoutTabPage Caption="Zone">
                <Zone SiteId="@SiteId" Type="@Type" />
            </DxFormLayoutTabPage>
            <DxFormLayoutTabPage Caption="Location">
                <Location SiteId="@SiteId" Type="@Type" />
            </DxFormLayoutTabPage>
            <DxFormLayoutTabPage Caption="Area">
                <Area SiteId="@SiteId" Type="@Type" />
            </DxFormLayoutTabPage>
            <DxFormLayoutTabPage Caption="SpecificaArea">
                <SpecificArea SiteId="@SiteId" Type="@Type" />
            </DxFormLayoutTabPage>
        </DxFormLayoutTabPages>
    </DxFormLayout>
</div>

@code {
    [Parameter]
    public long? SiteId { get; set; }
    [Parameter]
    public string Type { get; set; }
    [Parameter]
    public int ActiveTabIndex { get; set; } = 0;
}