@using Application.Command.LeveMasters;
@using Application.Commands;
@using Application.Queries;
@using MediatR
@using global::Core.Entities.Views;
@using global::Core.Entities;
@inject IMediator Mediator
@using DevExpress.Export
@using Application.Response;
@inject IJSRuntime jsRuntime
@using global::Core.EntityModels
@using global::Core.Repositories.Query;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject AC.SD.Core.Services.ToastService toastService
@inject NavigationManager NavigationManager
@implements IAsyncDisposable




<div class="card w-100" style="margin-bottom:10px; margin-top:10px">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" Enabled="@AddEnabled" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
                <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportToExcel" Enabled="@ExportEnabled" />
                <DxMenuItem Text="Reset Designation" IconCssClass="fa fa-refresh" Click="@ResetDesignation" Enabled="@isDesignationEnabled" />
                @* <DxMenuItem Text="Audit Log" IconCssClass="fa fa-info-circle">
                    <Items>
                        <DxMenuItem Text="Current Records" IconCssClass="fa fa-info-circle" Click="@(() => viewAuditLog(false))" />
                        <DxMenuItem Text="Deleted Records" IconCssClass="fa fa-remove" Click="@(() => viewAuditLog(true))" />
                    </Items>
                </DxMenuItem> *@
            </Items>
        </DxMenu>
    </div>
</div>
@if (Type == "designation")
{
    <div style="" class="breadcrumb card-body  bradcrumb-txt">

        <div class="items"> @companyName<span class="separator-txt fa fa-caret-right"></span>@divisionName<span class="separator-txt fa fa-caret-right"></span>@departmentName<span class="separator-txt fa fa-caret-right"></span>@secName<span class="separator-txt fa fa-caret-right"></span>@subsecName<span class="separator-txt fa fa-caret-right"></span>@Name</div>
    </div>
}
<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">


    <DxGrid @ref="Grid" FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always" ShowGroupPanel="true" ShowGroupedColumns="true"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            Data="_levelItems"
            KeyFieldName="LevelID"
            EditModelSaving="Grid_EditModelSaving"
            DataItemDeleting="Grid_DataItemDeleting"
            CustomizeEditModel="Grid_CustomizeEditModel"
            CustomizeElement="Grid_CustomizeElement"
            ShowSearchBox="true"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            SelectionMode="GridSelectionMode.Multiple"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            AutoExpandAllGroupRows="true"
            CssClass="ch-360 " style="height: calc(100vh - 270px);"
            FocusedRowEnabled="true"
            RowClick="OnRowClick"
            AllowSelectRowByClick="true"
            RowDoubleClick="OnRowDoubleClick"
            SelectedDataItemsChanged="@SelectedDataItemsChanged"
            ValidationEnabled="true" VirtualScrollingEnabled="true">


        <Columns>
            <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
            <DxGridDataColumn FieldName="LevelID" MinWidth="80" Visible="false" />
            <DxGridDataColumn FieldName="Index" Caption="#" Width="35px" Visible="false"></DxGridDataColumn>
            <DxGridDataColumn FieldName="PlantCode" Caption="Company Code" MinWidth="80" />
            <DxGridDataColumn FieldName="DivisionName" Caption="Division" MinWidth="80" />
            <DxGridDataColumn FieldName="Name" MinWidth="80" />
            <DxGridDataColumn FieldName="StatusCode" MinWidth="80" />
            @* <DxGridDataColumn FieldName="ModifiedDate" Width="180">
            <CellDisplayTemplate>
            @{
            var item = (ViewLevel)context.DataItem;
            }
            @Application.Common.Helper.Helper.FormatDateTime(item.ModifiedDate)
            </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="ModifiedBy" Width="10%" /> *@
        </Columns>
        <EditFormTemplate Context="EditFormContext">
            @{
                var plant = (ViewLevel)EditFormContext.EditModel;
            }
            <DxFormLayout CssClass="w-100">
                <DxFormLayoutItem Caption="Company" ColSpanMd="6">
                    <DxComboBox Data="@_plantItems"
                                NullText="Select Company..."
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="PlantCode"
                                ValueFieldName="PlantID"
                                Enabled="@isEnabled"
                                Value="@plant.CompanyID"
                                ValueExpression="@(() => plant.CompanyID)"
                                ValueChanged="@((long? plantSelect) => SelectedItemChanged(plantSelect, plant))"
                                ShowValidationIcon="true">
                    </DxComboBox>
                    <ValidationMessage For="@(() => plant.CompanyID)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Division" ColSpanMd="6">
                    <DxComboBox Data="@_divisionsItems"
                                NullText="Select Division..."
                                Enabled="@isEnabled"
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="DivisionDrop"
                                ValueFieldName="DivisionID"
                                @bind-Value="@plant.DivisionID">
                    </DxComboBox>
                    <ValidationMessage For="@(() => plant.DivisionID)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Name" ColSpanMd="6">
                    <DxTextBox @bind-Text="@plant.Name" ShowValidationIcon="true" />
                    <ValidationMessage For="@(() => plant.Name)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Status" ColSpanMd="6">
                    <DxComboBox Data="@_stausItems"
                                NullText="Select Status..."
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="CodeValue"
                                ValueFieldName="CodeId"
                                @bind-Text="@Text"
                                @bind-Value="@plant.StatusCodeID"
                                ShowValidationIcon="true">
                    </DxComboBox>
                    <ValidationMessage For="@(() => plant.StatusCodeID)" />
                </DxFormLayoutItem>
            </DxFormLayout>
        </EditFormTemplate>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="PlantCode" />
        </TotalSummary>
    </DxGrid>
</DxLoadingPanel>
@*<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" Width="350px" @bind-Visible="@Blukdeletepopup">
    <div class="text-center">
        <Content>
        <p>
                <div > Do you want to delete</div>

        </p>
    </Content>

        <DxButton class=align-Button Text="Yes" Click="@(() => bulkDelete())" />
        <DxButton class =align-items Text="No" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>
*@
<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="CRT"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="@AuditLogPopUp"
         ShowFooter="false"
         HeaderText="Audit Log"
         CloseOnOutsideClick="false"
         ShowCloseButton="true"
         MinWidth="500" MinHeight="200" MaxWidth="1200px" MaxHeight="800">
    <BodyContentTemplate>
        <AC.SD.Core.Pages.Masters.HRMasterAuditTrailList MasterType="LevelMaster" MasterId="_selectedItems?.LevelID" IsDeleted="@IsDeleted"></AC.SD.Core.Pages.Masters.HRMasterAuditTrailList>
    </BodyContentTemplate>

</DxPopup>
@code {
    bool AuditLogPopUp { get; set; } = false;
    public bool? IsDeleted { get; set; } = false;

    string companyName = "";
    string divisionName = "";
    string departmentName = "";
    string secName = "";
    string subsecName = "";
    bool PanelVisible { get; set; }
    string Text { get; set; } = "Active";
    string Name = "";
    [Parameter]
    public long? PlantID { get; set; }
    [Parameter]
    public string Type { get; set; }
    private List<ViewDivision>? _divisions;
    private List<ViewDesignation>? _designation;
    private List<ViewDivision>? _divisionsItems;
    private List<ViewLevel> _levelItems;
    private List<CodeMaster> _stausItems;
    private List<ViewPlants> _plantItems;
    IGrid Grid { get; set; }
    private ViewLevel _selectedItems;
    IReadOnlyList<object> SelectedDataItems { get; set; }
    bool Blukdeletepopup { get; set; } = false;
    bool EditEnabled { get; set; } = false; bool AddEnabled { get; set; } = false;
    bool DeleteEnabled { get; set; } = false; bool ExportEnabled { get; set; } = false;
    DxPopup? popup;
    bool PopupVisible { get; set; } = false;
    public ApplicationUser applicationUser { get; private set; }
    bool ExportSelectedRowsOnly { get; set; }
    private ViewLevel _selectlst;
    bool isEnabled { get; set; } = true;
    bool isDesignationEnabled { get; set; } = false;
    private ViewDesignation _selectdesignation;
    private ViewPlants _selectplant; private List<PortalMenuModel> portalMenuModels { get; set; }
    protected override async Task OnInitializedAsync()
    {
        //await jsRuntime.InvokeAsync<string>("showLoading");
        PanelVisible = true;
        _divisions = await Mediator.Send(new GetAllDivisionQuery());
        _designation = await Mediator.Send(new GetAllDesignationQuery());
        _stausItems = await Mediator.Send(new GetAllCodeMasterQuery("Status"));
        _plantItems = await Mediator.Send(new GetAllPlantQuery());
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        // await jsRuntime.InvokeAsync<string>("hideLoading");
        if (applicationUser != null && applicationUser.UserID > 0)
        {
            portalMenuModels = await Mediator.Send(new GetAllApplicationPermissionAllQuery(applicationUser?.UserID));
        }
        PanelVisible = false;
        await UpdateDataAsync();
        if (Type == "Designation")
        {
            isDesignationEnabled = true;
        }
    }
    void viewAuditLog(bool isdeleted)
    {
        IsDeleted = isdeleted;
        AuditLogPopUp = true;
    }
    async Task UpdateDataAsync()
    {
        // await jsRuntime.InvokeAsync<string>("showLoading");
        PanelVisible = true;
        var model = await Mediator.Send(new GetAllLevelMasterQuery());
        for (int i = 0; i < model.Count; i++)
        {
            model[i].Index = i + 1;
        }
         _levelItems = model;
        if (PlantID != null && PlantID != -1)
        {
            if (Type == "designation")
            {
                _selectdesignation = _designation.FirstOrDefault(f => f.DesignationID == PlantID);
                companyName = _selectdesignation.PlantCode;
                divisionName = _selectdesignation.DivisionName;
                departmentName = _selectdesignation.DepartmentName;
                secName = _selectdesignation.SectionName;
                subsecName = _selectdesignation.SubSectionName;
                Name = _selectdesignation.Name;

            }
        }
        if (_levelItems?.Any() == true)
        {
            _selectedItems = _levelItems.FirstOrDefault();

            EditEnabled = true;
            DeleteEnabled = true;
            Grid.ClearSelection();

            AddEnabled = portalMenuModels.Any(f => f.PermissionID == 60043);
            EditEnabled = portalMenuModels.Any(f => f.PermissionID == 60044);
            DeleteEnabled = portalMenuModels.Any(f => f.PermissionID == 60045);
            ExportEnabled = portalMenuModels.Any(f => f.PermissionID == 60046);
        }
        SelectedDataItems = null;
        PanelVisible = false;
        StateHasChanged();
    }
    void SelectedItemChanged(long? plantID, ViewLevel viewLevel)
    {
        viewLevel.CompanyID = plantID;
        if (plantID > 0)
        {
            viewLevel.CompanyID = plantID;
            _divisionsItems = _divisions.Where(w => w.CompanyId == plantID).ToList();
        }
    }
    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        _divisionsItems = new List<ViewDivision>();
        if (e.IsNew)
        {
            var newData = (ViewLevel)e.EditModel;
            newData.Name = "";
            newData.StatusCodeID = 1;
            if (Type == "designation")
            {

                var _masters = _levelItems.FirstOrDefault(f => f.DivisionID == PlantID);
                if (_masters != null)
                {

                    isEnabled = false;
                    newData.CompanyID = _masters.CompanyID;
                    newData.DivisionID = _masters.DivisionID;
                    // newData.DivisionID = _masters.DivisionID;
                    SelectedItemChanged(_masters.CompanyID, _masters);
                }
            }

        }
        else
        {
            var newData = (ViewLevel)e.EditModel;
            SelectedItemChanged(newData.CompanyID, newData);
        }
    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editableData = (ViewLevel)e.EditModel;
        if (e.IsNew)
        {
            try
            {
                var request = new CreateLevelMasterCommand
                {
                    Name = editableData.Name,
                    StatusCodeId = editableData.StatusCodeID.Value,
                    CompanyId = editableData.CompanyID,
                    AddedByUserId = applicationUser.UserID,
                    ModifiedByUserId = applicationUser.UserID,
                    DivisionID = editableData.DivisionID,
                    AddedDate = DateTime.Now,
                    ModifiedDate = DateTime.Now,
                    AddedBy = applicationUser.UserName,
                    StatusCode = _stausItems?.Where(w => w.CodeId == editableData.StatusCodeID)?.FirstOrDefault()?.CodeValue,
                    CompanyName = _plantItems?.Where(w => w.PlantID == editableData.CompanyID)?.FirstOrDefault()?.PlantCode,
                    DivisionName = _divisionsItems?.Where(w => w.DivisionID == editableData.DivisionID)?.FirstOrDefault()?.Name,
                };
                await Mediator.Send(request);
                toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
                await UpdateDataAsync();
            }
            catch (Exception ex)
            {
                toastService.ShowToast(ex.Message, AC.SD.Core.Services.ToastLevel.Warning);
            }
        }
        else
        {
            await UpdatePlantAsync(editableData);

        }

    }
    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        var editableData = (ViewLevel)e.DataItem;
        var request = new DeleteLevelMasterCommand(editableData.LevelID, applicationUser.UserID);
        await Mediator.Send(request);
        await UpdateDataAsync();
        Grid.SetFocusedRowIndex(0);
    }
    async Task UpdatePlantAsync(ViewLevel editableData)
    {
        try
        {
            var request = new EditLevelMasterCommand
            {
                LevelId = editableData.LevelID,
                Name = editableData.Name,
                StatusCodeId = editableData.StatusCodeID.Value,
                ModifiedDate = DateTime.Now,
                DivisionID = editableData.DivisionID,
                AddedByUserId = editableData.AddedByUserID,
                AddedDate = editableData.AddedDate,
                ModifiedByUserId = applicationUser.UserID,
                CompanyId = editableData.CompanyID,
                ModifiedBy = applicationUser.UserName,
                StatusCode = _stausItems?.Where(w => w.CodeId == editableData.StatusCodeID)?.FirstOrDefault()?.CodeValue,
                CompanyName = _plantItems?.Where(w => w.PlantID == editableData.CompanyID)?.FirstOrDefault()?.PlantCode,
                DivisionName = _divisionsItems?.Where(w => w.DivisionID == editableData.DivisionID)?.FirstOrDefault()?.Name,
            };
            await Mediator.Send(request);
            toastService.ShowToast("Record Updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();
        }
        catch (Exception ex)
        {
            toastService.ShowToast(ex.Message, AC.SD.Core.Services.ToastLevel.Warning);
        }
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    async Task ExportToExcel()
    {
        if (SelectedDataItems != null)
        {

            await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {

                ExportSelectedRowsOnly = true,
                CustomizeCell = OnCustomizeCell

            });
        }
        else
        {
            await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {

                ExportSelectedRowsOnly = false,
                CustomizeCell = OnCustomizeCell

            });
        }
    }
    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
        // UpdateDataAsync();
    }
    async void ClosePopup()
    {
        PopupVisible = false;
        await UpdateDataAsync();
    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "LevelID");
        _selectedItems = _levelItems.FirstOrDefault(f => f.LevelID == (long?)UniqueId);

    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addEdit();
    }
    void addNew()
    {
        Grid.StartEditNewRowAsync();
    }
    void addEdit()
    {
        EditEnabled = portalMenuModels.Any(f => f.PermissionID == 60044);
        if (EditEnabled == true)
        {
            Grid.StartEditDataItemAsync(_selectedItems);
        }
    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    async Task bulkDelete()
    {
        try
        {
            if (SelectedDataItems != null)
            {
                foreach (object item in SelectedDataItems)
                {

                    if (item is ViewLevel forumlevel)
                    {

                        //var editableData = (ViewLevel)e.DataItem;
                        var request = new DeleteLevelMasterCommand(forumlevel.LevelID, applicationUser.UserID);
                        await Mediator.Send(request);
                        Blukdeletepopup = false;
                        toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        await UpdateDataAsync();
                        Grid.SetFocusedRowIndex(0);
                    }

                }
            }
        }
        catch (Exception eq)
        {
            //DeleteerrorMessage = eq.Message;
            //PopupVisible = true;
            Blukdeletepopup = false;
            toastService.ShowToast("The Selected Record Do not deleted", AC.SD.Core.Services.ToastLevel.Error);
        }
        // await UpdateDataAsync();
    }

    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems;
        if (SelectedDataItems.Count > 1)
        {
            EditEnabled = false;
        }
        else
        {
            EditEnabled = portalMenuModels.Any(f => f.PermissionID == 60044);
        }

    }
    void ResetDesignation()
    {
        PlantID = -1;
        isEnabled = true;
        isDesignationEnabled = false;
        Grid.CancelEditAsync();
        NavigationManager.NavigateTo("masters/5/LevelMaster/-1");

    }
    public async ValueTask DisposeAsync()
    {
        if (_designation != null)
        {
            _designation.Clear();
            _designation = null;
        }
        if (_stausItems != null)
        {
            _stausItems.Clear();
            _stausItems = null;
        }

        if (_divisions != null)
        {
            _divisions.Clear();
            _divisions = null;
        }
        if (_plantItems != null)
        {
            _plantItems.Clear();
            _plantItems = null;
        }
        if (_divisionsItems != null)
        {
            _divisionsItems.Clear();
            _divisionsItems = null;
        }
        if (_levelItems != null)
        {
            _levelItems.Clear();
            _levelItems = null;
        }

        _divisionsItems?.Clear();
        SelectedDataItems = null;
        _selectedItems = null;
        _selectlst = null;
        _selectplant = null;
        _selectdesignation = null;
    }
}
