@page "/location"
@using Application.Command.Ictmaster;
@using Application.Command.LeveMasters;
@using Application.Commands;
@using Application.Queries;
@using MediatR
@using global::Core.Entities.Views;
@using global::Core.Entities;
@inject IMediator Mediator
@using DevExpress.Export
@using Application.Response;
@inject IJSRuntime jsRuntime



<div class="g-title">
    <div class="g-left"></div>

    <span class=""></span><span class="g-text"></span>
    <div class="g-right">
        <button type="button" CssClass="download-btn"
                IconCssClass="demo-download-icon"
                Text="Free Trial"
                class="btn btn-excel" @onclick="ExportToExcel" title="Export to Excel">
            <i class="fa fa-file-excel-o"></i>Export
        </button>
    </div>
</div>
<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
            </Items>
        </DxMenu>
    </div>
</div>
<DxGrid @ref="Grid" Data="_ictmaster" KeyFieldName="IctmasterId" DataItemDeleting="Grid_DataItemDeleting" EditModelSaving="Grid_EditModelSaving" ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
        PagerNavigationMode="PagerNavigationMode.InputBox"
        PageSizeSelectorVisible="true"
        PageSizeSelectorAllRowsItemVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20"
        SelectionMode="GridSelectionMode.Multiple"
        SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
        
        AutoExpandAllGroupRows="true"
        CustomizeElement="Grid_CustomizeElement"
        CssClass="ch-360 style="height: calc(100vh - 200px);"
        FocusedRowEnabled="true"
        RowClick="OnRowClick"
        AllowSelectRowByClick="true"
        ValidationEnabled="true"
        CustomizeCellDisplayText="Grid_CustomizeCellDisplayText">
    <Columns>

        <DxGridDataColumn FieldName="CompanyId" TextAlignment="GridTextAlignment.Left" MinWidth="80" />
        <DxGridDataColumn FieldName="Name" TextAlignment="GridTextAlignment.Left" MinWidth="80" />
        <DxGridDataColumn FieldName="Description" TextAlignment="GridTextAlignment.Left" MinWidth="80" />
        <DxGridCommandColumn Width="160px" />
    </Columns>
    <EditFormTemplate Context="EditFormContext">
        @{
            var ict = (ViewIctmaster)EditFormContext.EditModel;
        }


        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="Company" ColSpanMd="6">
                <DxComboBox Data="@_plantItems"
                            NullText="Select Company..."
                            SelectedItemChanged="@((ViewPlants plant) => SelectedItemChanged(plant.PlantID))"
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="Description"
                            ValueFieldName="PlantID"
                            @bind-Value="@ict.CompanyId"
                            ShowValidationIcon="true">
                </DxComboBox>
                <ValidationMessage For="@(() => ict.CompanyId)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Site" ColSpanMd="6">
                @* <DxSpinEdit @bind-Value="@ict.SiteId" Rows="5" />*@
                <DxComboBox Data="@_masterCompany"
                            NullText="Select Site..."
                            SelectedItemChanged="@((ViewIctmaster plant) => SelecteChanged(plant.IctmasterId))"
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="Name"
                            ValueFieldName="IctmasterId"
                            @bind-Value="@ict.SiteId"
                            ShowValidationIcon="true">
                </DxComboBox>
                <ValidationMessage For="@(() => ict.SiteId)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Zone" ColSpanMd="6">
                <DxComboBox Data="@_masterSite"
                            NullText="Select Site..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="Name"
                            ValueFieldName="IctmasterId"
                            @bind-Value="@ict.ParentIctid"
                            ShowValidationIcon="true">
                </DxComboBox>
                <ValidationMessage For="@(() => ict.ZoneId)" />
            </DxFormLayoutItem>
           
            <DxFormLayoutItem Caption="Name" ColSpanMd="6">
                <DxTextBox @bind-Text="@ict.Name" Rows="5" />
                <ValidationMessage For="@(() => ict.Name)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Description" ColSpanMd="6">
                <DxMemo @bind-Text="@ict.Description" Rows="5" />
            </DxFormLayoutItem>



            <DxFormLayoutItem ColSpanMd="12">
                <ValidationSummary />
            </DxFormLayoutItem>
        </DxFormLayout>
    </EditFormTemplate>
    <TotalSummary>
        <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="MasterType" />
    </TotalSummary>
</DxGrid>

@* SelectedItemChanged="@((ViewIctmaster plant) => SelecteItemChanged(plant.IctmasterId))",SelectedItemChanged="@((ViewPlants plant) => SelectedItemChanged(plant.PlantID))"*@

@code {
   Dictionary<long, string>? CompanyNamesIndex { get; set; }
    private List<ViewPlants> _plantItems;
    private List<ViewIctmaster> _ictmaster;
    IGrid Grid { get; set; }
    IEnumerable<ViewIctmaster>? _masterCompany;
    IEnumerable<ViewIctmaster> _masterSite;
    int masterType = 572;
    private ViewIctmaster _selectedItems;
    bool EditEnabled { get; set; } = false;
    bool DeleteEnabled { get; set; } = false;
    protected override async Task OnInitializedAsync()
    {
        var model = await Mediator.Send(new GetAllIctMasterQuery());
        _ictmaster = model;
        _plantItems = await Mediator.Send(new GetAllPlantQuery());
      CompanyNamesIndex = _plantItems.ToDictionary(i => i.PlantID, i => i.Description);
    }
    async Task UpdateDataAsync()
    {
        var model = await Mediator.Send(new GetAllIctMasterQuery());
        _ictmaster = model;
    }
    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        if (e.IsNew)
        {
            var newmaster = (ViewIctmaster)e.EditModel;
            newmaster.MasterType = masterType;
            newmaster.Name = "";
            newmaster.Description = "";
            newmaster.StatusCodeId = null;
        }
    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editableictmaster = (ViewIctmaster)e.EditModel;
        if (e.IsNew)
        {
            var request = new CreateIctmasterCommand
                {
                    MasterType = masterType,
                    Description = editableictmaster.Description,
                    StatusCodeId = editableictmaster.StatusCodeId,
                    Name = editableictmaster.Name,
                    CompanyId = editableictmaster.CompanyId,
                    SiteId = editableictmaster.SiteId,
                    ZoneId = editableictmaster.ZoneId,
                    LocationId = editableictmaster.LocationId,
                    AreaId = editableictmaster.AreaId,
                    ParentIctid = editableictmaster.ParentIctid

                };
            await Mediator.Send(request);
            await UpdateDataAsync();
        }
        else
        {
            await UpdateMasterAsync(editableictmaster);
        }
    }
    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        var editablePlant = (ViewIctmaster)e.DataItem;
        var request = new DeleteIctmasterCommand(editablePlant.IctmasterId);
        await Mediator.Send(request);
        // await UpdateDataAsync();
    }
    async Task UpdateMasterAsync(ViewIctmaster editableictmaster)
    {
        var request = new EditIctmasterCommand
            {
                IctmasterId = editableictmaster.IctmasterId,
                MasterType = editableictmaster.MasterType,
                Name = editableictmaster.Name,
                Description = editableictmaster.Description,
                StatusCodeId = editableictmaster.StatusCodeId,
                AddedByUserId = editableictmaster.AddedByUserId,
                AddedDate = editableictmaster.AddedDate,
                CompanyId = editableictmaster.CompanyId,
                SiteId = editableictmaster.SiteId,
                ZoneId = editableictmaster.ZoneId,
                LocationId = editableictmaster.LocationId,
                AreaId = editableictmaster.AreaId,
                ParentIctid =editableictmaster.ParentIctid
            };
        await Mediator.Send(request);
        await UpdateDataAsync();
    }
    async void SelectedItemChanged(long? companyId)
    {

        if (companyId > 0)
        {
            _masterCompany = _ictmaster.Where(c => c.CompanyId == companyId && c.MasterType == 570).ToList();
        }

    }
    async void SelecteChanged(long? siteId)
    {
       // var id = siteId.IctmasterId
        if (siteId != null)
       {
            _masterSite = _ictmaster.Where(c => c.ParentIctid == siteId && c.MasterType == 571).ToList();
       }

    }
    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;



    }
    async Task ExportToExcel()

    {
        await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = true,

                CustomizeCell = OnCustomizeCell
            });
    }
    void Grid_CustomizeCellDisplayText(GridCustomizeCellDisplayTextEventArgs e)
    {
        if (e.FieldName == "CompanyId")
        {
            var ID = Convert.ToInt32(e.Value);
            if (CompanyNamesIndex.ContainsKey(ID))
                e.DisplayText = CompanyNamesIndex[ID];
        }
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
        if (e.ElementType == GridElementType.HeaderCell)
        {
            e.Style = "background-color: rgba(0, 0, 0, 0.08)";
            e.CssClass = "header-bold";
        }
    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "IctmasterId");
        _selectedItems = _ictmaster.FirstOrDefault(f => f.IctmasterId == (long?)UniqueId);
        EditEnabled = true;
        DeleteEnabled = true;
        StateHasChanged();

    }

    void addNew()
    {
        Grid.StartEditNewRowAsync();
        EditEnabled = false;
        DeleteEnabled = false;
    }
    void addEdit()
    {
        Grid.StartEditDataItemAsync(_selectedItems);
        EditEnabled = false;
        DeleteEnabled = false;
    }
    void addDelete()
    {
        Grid.ShowDataItemDeleteConfirmation(_selectedItems);
        EditEnabled = false;
        DeleteEnabled = false;
    }
}

