@using Application.Commands;
@using Application.Queries;
@using MediatR
@using global::Core.Entities.Views;
@using global::Core.Entities;
@inject IMediator Mediator
@using DevExpress.Export
@using Application.Response;
@inject IJSRuntime jsRuntime
@using global::Core.Repositories.Query;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject AC.SD.Core.Services.ToastService toastService
@inject NavigationManager NavigationManager

@page "/Plants"


<div class="card w-100" style="margin-bottom:10px; margin-top:10px">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
                <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportToExcel" />
                <DxMenuItem Text="Add Division" IconCssClass="fa fa-add" Click="@AddDivision" />
            </Items>
        </DxMenu>
    </div>
</div>
 <DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data..."
               >
<DxGrid @ref="Grid"  FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
        Data="_plants"
            ShowGroupPanel="true" ShowGroupedColumns="true"
            KeyFieldName="PlantID"
        EditModelSaving="Grid_EditModelSaving"
        DataItemDeleting="Grid_DataItemDeleting"
        CustomizeEditModel="Grid_CustomizeEditModel"
        CustomizeElement="Grid_CustomizeElement"
        ShowSearchBox="true"
        PagerNavigationMode="PagerNavigationMode.InputBox"
        PageSizeSelectorVisible="true"
        PageSizeSelectorAllRowsItemVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20"
        SelectionMode="GridSelectionMode.Multiple"
        SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
        AutoExpandAllGroupRows="true"
        CssClass="ch-360"
        style="height: calc(100vh - 270px);"
        FocusedRowEnabled="true"
        RowDoubleClick="OnRowDoubleClick"
          SelectedDataItemsChanged="@SelectedDataItemsChanged"
        RowClick="OnRowClick"
        AllowSelectRowByClick="true">
    <Columns>
        <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
        <DxGridDataColumn FieldName="PlantID" MinWidth="80" Visible="false" />
            <DxGridDataColumn FieldName="Index" Caption="#" Width="35px" Visible="false"></DxGridDataColumn>
        <DxGridDataColumn FieldName="PlantCode" Caption="Company Code" MinWidth="80" />
        <DxGridDataColumn FieldName="Description" MinWidth="80" />
        <DxGridDataColumn FieldName="StatusCode" MinWidth="80" />
        <DxGridDataColumn FieldName="ModifiedDate" Width="180">
            <CellDisplayTemplate>
                @{
                    var item = (ViewPlants)context.DataItem;
                }
                @Application.Common.Helper.Helper.FormatDateTime(item.ModifiedDate)
            </CellDisplayTemplate>
        </DxGridDataColumn>
        <DxGridDataColumn FieldName="ModifiedBy" Width="10%" />
        <DxGridCommandColumn Width="160px" Visible="false" />
    </Columns>
    <EditFormTemplate Context="EditFormContext">
        @{
            var plant = (ViewPlants)EditFormContext.EditModel;
        }
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="PlantCode" ColSpanMd="6">
                <DxTextBox @bind-Text="@plant.PlantCode" ShowValidationIcon="true" />
                <ValidationMessage For="@(() => plant.PlantCode)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Description" ColSpanMd="6">
                <DxMemo @bind-Text="@plant.Description" Rows="5" ShowValidationIcon="true" />
                <ValidationMessage For="@(() => plant.PlantCode)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Status" ColSpanMd="6">
                <DxComboBox Data="@_stausItems"
                            NullText="Select Status..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="CodeValue"
                            ValueFieldName="CodeId"
                            @bind-Text="@Text"
                            @bind-Value="@plant.StatusCodeID"
                            ShowValidationIcon="true">
                </DxComboBox>
                <ValidationMessage For="@(() => plant.StatusCodeID)" />
            </DxFormLayoutItem>
            @* <DxFormLayoutItem ColSpanMd="12">
            <ValidationSummary />
            </DxFormLayoutItem>*@
        </DxFormLayout>
    </EditFormTemplate>
    <TotalSummary>
        <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="PlantCode" />
    </TotalSummary>
</DxGrid>
</DxLoadingPanel>
@*<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" Width="350px" @bind-Visible="@Blukdeletepopup">
    <div class="text-center">
        <Content>
        <p>
                <div > Do you want to delete</div>
          
        </p>
    </Content>
       
        <DxButton class=align-Button Text="Yes" Click="@(() => bulkDelete())" />
        <DxButton class =align-items Text="No" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>*@
<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="CRT"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">


    <div class="text-center">
        <p>@DeleteerrorMessage</p>

        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>


</DxPopup>

@code {
    string Text { get; set; } = "Active";
    bool PanelVisible { get; set; }
    public string Type { get; set; }
    private List<ViewPlants> _plants;
    IEnumerable<ViewPlants> _plantItems;
    private List<CodeMaster> _stausItems;
    IGrid Grid { get; set; }
    private ViewPlants? _selectedItems;
    bool EditEnabled { get; set; } = true;
    bool DeleteEnabled { get; set; } = true;
    public ApplicationUser applicationUser { get; private set; }
    bool ExportSelectedRowsOnly { get; set; }
    IReadOnlyList<object> SelectedDataItems { get; set; }
    DxPopup? popup;
    bool PopupVisible { get; set; } = false;
    bool Blukdeletepopup { get; set; } = false;
    string? DeleteerrorMessage;
    private ViewPlants _selectlst;

    protected override async Task OnInitializedAsync()
    {
        PanelVisible = true;
        var models = await Mediator.Send(new GetAllCodeMasterQuery("Status"));
        _stausItems = models;
       // await jsRuntime.InvokeAsync<string>("showLoading");
        
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
       // await jsRuntime.InvokeAsync<string>("hideLoading");
        PanelVisible = false;
        await UpdateDataAsync();
    }
    async Task UpdateDataAsync()
    {
        //await jsRuntime.InvokeAsync<string>("showLoading");
        PanelVisible = true;
        var model = await Mediator.Send(new GetAllPlantQuery());
        for (int i = 0; i < model.Count; i++)
        {
            model[i].Index = i + 1;
        }
        _plants = model;
        PanelVisible = false;
        if (_plants.Count > 0)
        {

            _selectedItems = _plants.FirstOrDefault();
            EditEnabled = true;
            DeleteEnabled = true;
            StateHasChanged();
        }
        //await jsRuntime.InvokeAsync<string>("hideLoading");
        
    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "PlantID");
        _selectedItems = _plants.FirstOrDefault(f => f.PlantID == (long?)UniqueId);
        StateHasChanged();
    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addEdit();
    }
    void addNew()
    {
        Grid.StartEditNewRowAsync();

    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
        UpdateDataAsync();
    }
    async void ClosePopup()
    {
        PopupVisible = false;
        await UpdateDataAsync();
    }
    void addEdit()
    {
        if (SelectedDataItems.Count == 1)
        {

            foreach (object item in SelectedDataItems)
            {

                if (item is ViewPlants viewPlants)
                {

                    _selectlst = _plants.FirstOrDefault(f => f.PlantID == viewPlants.PlantID);


                }
            }
            Grid.StartEditDataItemAsync(_selectlst);
        }
        else
        {
            Grid.StartEditDataItemAsync(_selectedItems);
        }

    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    async Task bulkDelete()
    {
        try
        {

            if (SelectedDataItems != null)
            {
                foreach (object item in SelectedDataItems)
                {

                    if (item is ViewPlants plants)
                    {
                        // var editablePlant = (ViewPlants)e.DataItem;
                        var request = new DeletePlantCommand(plants.PlantID);
                        await Mediator.Send(request);
                        Blukdeletepopup = false;
                        toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        await UpdateDataAsync();
                        Grid.SetFocusedRowIndex(0);
                    }

                }
            }
    }
        catch (Exception eq)
        {
            DeleteerrorMessage = eq.Message;
            PopupVisible = true;
        }
    await UpdateDataAsync();
    }
    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        if (e.IsNew)
        {
            var newplant = (ViewPlants)e.EditModel;
            newplant.PlantCode = "";
            newplant.Description = "";
            newplant.StatusCodeID = null;
        }
    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editablePlant = (ViewPlants)e.EditModel;
        if (e.IsNew)
        {
            var request = new CreatePlantCommand
                {
                    PlantCode = editablePlant.PlantCode,
                    Description = editablePlant.Description,
                    StatusCodeID = editablePlant.StatusCodeID,
                    AddedByUserID = applicationUser.UserID,
                    ModifiedByUserID = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    ModifiedDate = DateTime.Now,
                };
            await Mediator.Send(request);
            toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();

        }
        else
        {
            await UpdatePlantAsync(editablePlant);
        }

    }
    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        var editablePlant = (ViewPlants)e.DataItem;
        var request = new DeletePlantCommand(editablePlant.PlantID);
        await Mediator.Send(request);
        await UpdateDataAsync();
        Grid.SetFocusedRowIndex(0);
    }
    async Task UpdatePlantAsync(ViewPlants editablePlant)
    {
        var request = new EditPlantCommand
            {
                PlantID = editablePlant.PlantID,
                PlantCode = editablePlant.PlantCode,
                Description = editablePlant.Description,
                StatusCodeID = editablePlant.StatusCodeID,
                ModifiedDate = DateTime.Now,
                AddedByUserID = editablePlant.AddedByUserID,
                AddedDate = editablePlant.AddedDate,
                ModifiedByUserID = applicationUser.UserID,
            };
        await Mediator.Send(request);
        toastService.ShowToast("Record updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
        await UpdateDataAsync();
    }
    public void ShowDetails(int plantId)
    {
        var datas = _plants.FirstOrDefault(e => e.PlantID == plantId);
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
       
    }
    async Task ExportToExcel()
    {
        await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = true,
                CustomizeCell = OnCustomizeCell
            });
    }
    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }
    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems;
        if (SelectedDataItems.Count > 1)
        {
            EditEnabled = false;
        }
        else
        {
            EditEnabled = true;
        }
    }
    void AddDivision()
    {
        NavigationManager.NavigateTo("masters/1/Plants/" + _selectedItems.PlantID);
    }
}
