@using Application.Commands;
@using Application.Queries;
@using MediatR
@using global::Core.Entities.Views;
@using global::Core.Entities;
@inject IMediator Mediator
@using DevExpress.Export
@using Application.Response;
@page "/Plants"

<DxGrid @ref="Grid"
        Data="_plants"
        KeyFieldName="PlantID"
        EditModelSaving="Grid_EditModelSaving"
        DataItemDeleting="Grid_DataItemDeleting"
        ShowGroupPanel="true" ShowGroupedColumns="true" ShowSearchBox="true"
        PagerNavigationMode="PagerNavigationMode.InputBox"
        PageSizeSelectorVisible="true"
        PageSizeSelectorAllRowsItemVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20"
        SelectionMode="GridSelectionMode.Multiple"
        SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
        ValidationEnabled="true"
        AutoExpandAllGroupRows="true"
        CssClass="ch-360 grid-auto-height">
    <Columns>
       
        <DxGridDataColumn FieldName="PlantCode" MinWidth="80" />
        <DxGridDataColumn FieldName="Description" MinWidth="80" />
        <DxGridDataColumn FieldName="StatusCode" MinWidth="80" />
        <DxGridDataColumn FieldName="ModifiedDate" Width="10%" />
        <DxGridDataColumn FieldName="ModifiedBy" Width="10%" />
         <DxGridCommandColumn Width="160px" />
        @*<DxGridDataColumn FieldName="PlantID" AllowSort="false" Width="90px" MinWidth="100" TextAlignment="GridTextAlignment.Center">
            <CellDisplayTemplate><button class="btn btn-link grid-btn-link" @onclick="() => ShowDetails((int)context.Value)">Edit</button></CellDisplayTemplate>
        </DxGridDataColumn>*@
    </Columns>
    <EditFormTemplate Context="EditFormContext">
        @{
            var plant = (ViewPlants)EditFormContext.EditModel;
        }
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="PlantCode" ColSpanMd="6">
                <DxTextBox @bind-Text="@plant.PlantCode" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Description" ColSpanMd="6">
                <DxMemo @bind-Text="@plant.Description" Rows="5" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Status" ColSpanMd="6">
                <DxComboBox Data="@_stausItems"
                            NullText="Select Status..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="CodeValue"
                            ValueFieldName="CodeId"
                            @bind-Value="@plant.StatusCodeID"
                            ShowValidationIcon="true">
                </DxComboBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem ColSpanMd="12">
                <ValidationSummary />
            </DxFormLayoutItem>
        </DxFormLayout>
    </EditFormTemplate>
    <TotalSummary>
        <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="PlantCode" />
    </TotalSummary>
</DxGrid>

@code {
    private List<ViewPlants> _plants;
    private List<CodeMaster> _stausItems;
    IGrid Grid { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var model = await Mediator.Send(new GetAllPlantQuery());
        var models = await Mediator.Send(new GetAllCodeMasterQuery("Status"));
        _stausItems = models;
        _plants = model;
    }
    async Task UpdateDataAsync()
    {
        var model = await Mediator.Send(new GetAllPlantQuery());
        _plants = model;
    }
    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        if (e.IsNew)
        {
            var newplant = (ViewPlants)e.EditModel;
            newplant.PlantCode = "";
            newplant.Description = "";
            newplant.StatusCodeID = null;
        }
    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editablePlant = (ViewPlants)e.EditModel;
        if (e.IsNew)
        {
            var request = new CreatePlantCommand
                {
                    PlantCode = editablePlant.PlantCode,
                    Description = editablePlant.Description,
                    StatusCodeID = editablePlant.StatusCodeID,
                };
            await Mediator.Send(request);
            await UpdateDataAsync();
        }
        else
        {
            await UpdatePlantAsync(editablePlant);
        }

    }
    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        var editablePlant = (ViewPlants)e.DataItem;
        var request = new DeletePlantCommand(editablePlant.PlantID);
        await Mediator.Send(request);
        await UpdateDataAsync();
    }
    async Task UpdatePlantAsync(ViewPlants editablePlant)
    {
        var request = new EditPlantCommand
            {
                PlantID = editablePlant.PlantID,
                PlantCode = editablePlant.PlantCode,
                Description = editablePlant.Description,
                StatusCodeID = editablePlant.StatusCodeID,
                AddedByUserID = editablePlant.AddedByUserID,
                AddedDate = editablePlant.AddedDate,
            };
        await Mediator.Send(request);
        await UpdateDataAsync();
    }
    public void ShowDetails(int plantId)
    {
        var datas = _plants.FirstOrDefault(e => e.PlantID == plantId);
    }
}
