@using Application.Commands;
@using Application.Queries;
@using MediatR
@using global::Core.Entities.Views;
@using global::Core.Entities;
@inject IMediator Mediator
@using DevExpress.Export
@using Application.Response;
@inject IJSRuntime jsRuntime

@page "/Plants"


<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
                <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportToExcel" />
            </Items>
        </DxMenu>
    </div>
</div>
<DxGrid @ref="Grid"
        Data="_plants"
        KeyFieldName="PlantID"
        CustomizeElement="Grid_CustomizeElement"
         ShowSearchBox="true"
        PagerNavigationMode="PagerNavigationMode.InputBox"
        PageSizeSelectorVisible="true"
        PageSizeSelectorAllRowsItemVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20"
        SelectionMode="GridSelectionMode.Multiple"
        SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
        AutoExpandAllGroupRows="true"
        CssClass="ch-360"
        style="height: calc(100vh - 250px);"
        FocusedRowEnabled="true"
        RowClick="OnRowClick"
        AllowSelectRowByClick="true">
    <Columns>

        <DxGridDataColumn FieldName="PlantID" MinWidth="80" Visible="false" />
        <DxGridDataColumn FieldName="PlantCode" MinWidth="80" />
        <DxGridDataColumn FieldName="Description" MinWidth="80" />
        <DxGridDataColumn FieldName="StatusCode" MinWidth="80" />
        <DxGridDataColumn FieldName="ModifiedDate" Width="10%" />
        <DxGridDataColumn FieldName="ModifiedBy" Width="10%" />
        <DxGridCommandColumn Width="160px" Visible="false" />
    </Columns>
    <EditFormTemplate  Context="EditFormContext">
        @{
            var plant = (ViewPlants)EditFormContext.EditModel;
        }
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="PlantCode" ColSpanMd="6">
                <DxTextBox @bind-Text="@plant.PlantCode" ShowValidationIcon="true" />
                <ValidationMessage For="@(() => plant.PlantCode)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Description" ColSpanMd="6">
                <DxMemo @bind-Text="@plant.Description" Rows="5" ShowValidationIcon="true" />
                <ValidationMessage For="@(() => plant.PlantCode)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Status" ColSpanMd="6">
                <DxComboBox Data="@_stausItems"
                            NullText="Select Status..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="CodeValue"
                            ValueFieldName="CodeId"
                            @bind-Value="@plant.StatusCodeID"
                            ShowValidationIcon="true">
                </DxComboBox>
                <ValidationMessage For="@(() => plant.StatusCodeID)" />
            </DxFormLayoutItem>
            @* <DxFormLayoutItem ColSpanMd="12">
            <ValidationSummary />
            </DxFormLayoutItem>*@
        </DxFormLayout>
    </EditFormTemplate>
    <TotalSummary>
        <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="PlantCode" />
    </TotalSummary>
</DxGrid>

@code {
    
    private List<ViewPlants> _plants;
    IEnumerable<ViewPlants> _plantItems;
    private List<CodeMaster> _stausItems;
    IGrid Grid { get; set; }
    private ViewPlants _selectedItems;
    bool EditEnabled { get; set; } = false;
    bool DeleteEnabled { get; set; } = false;
    protected override async Task OnInitializedAsync()
    {
        var model = await Mediator.Send(new GetAllPlantQuery());
        var models = await Mediator.Send(new GetAllCodeMasterQuery("Status"));
        _stausItems = models;
        _plants = model;
      
    }
    async Task UpdateDataAsync()
    {
        var model = await Mediator.Send(new GetAllPlantQuery());
        _plants = model;
    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "PlantID");
        _selectedItems = _plants.FirstOrDefault(f => f.PlantID == (long?)UniqueId);
        EditEnabled = true;
        DeleteEnabled = true;
        StateHasChanged();

    }
    void addNew()
    {
        Grid.StartEditNewRowAsync();
        EditEnabled = false;
        DeleteEnabled = false;
    }
    void addEdit()
    {
        Grid.StartEditDataItemAsync(_selectedItems);
        EditEnabled = false;
        DeleteEnabled = false;
    }
    void addDelete()
    {
        Grid.ShowDataItemDeleteConfirmation(_selectedItems);
        EditEnabled = false;
        DeleteEnabled = false;
    }
    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        if (e.IsNew)
        {
            var newplant = (ViewPlants)e.EditModel;
            newplant.PlantCode = "";
            newplant.Description = "";
            newplant.StatusCodeID = null;
        }
    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editablePlant = (ViewPlants)e.EditModel;
        if (e.IsNew)
        {
            var request = new CreatePlantCommand
                {
                    PlantCode = editablePlant.PlantCode,
                    Description = editablePlant.Description,
                    StatusCodeID = editablePlant.StatusCodeID,
                };
            await Mediator.Send(request);
            await UpdateDataAsync();
        }
        else
        {
            await UpdatePlantAsync(editablePlant);
        }

    }
    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        var editablePlant = (ViewPlants)e.DataItem;
        var request = new DeletePlantCommand(editablePlant.PlantID);
        await Mediator.Send(request);
        await UpdateDataAsync();
    }
    async Task UpdatePlantAsync(ViewPlants editablePlant)
    {
        var request = new EditPlantCommand
            {
                PlantID = editablePlant.PlantID,
                PlantCode = editablePlant.PlantCode,
                Description = editablePlant.Description,
                StatusCodeID = editablePlant.StatusCodeID,
                AddedByUserID = editablePlant.AddedByUserID,
                AddedDate = editablePlant.AddedDate,
            };
        await Mediator.Send(request);
        await UpdateDataAsync();
    }
    public void ShowDetails(int plantId)
    {
        var datas = _plants.FirstOrDefault(e => e.PlantID == plantId);
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
        if (e.ElementType == GridElementType.HeaderCell)
        {
            e.Style = "background-color: rgba(0, 0, 0, 0.08)";
            e.CssClass = "header-bold";
        }
    }
    async Task ExportToExcel()
    {
        await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = true,
                CustomizeCell = OnCustomizeCell
            });
    }
    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }
   
}
