@using Application.Command.Sections;
@using Application.Commands;
@using Application.Queries;
@using MediatR
@using global::Core.Entities.Views;
@using global::Core.Entities;
@inject IMediator Mediator
@using DevExpress.Export
@using Application.Response;
@inject IJSRuntime jsRuntime
@using global::Core.Repositories.Query;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@page "/section"
<div class="card w-100" style="margin-bottom:10px;">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
                <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportToExcel" />
            </Items>
        </DxMenu>
    </div>
</div>
<DxGrid @ref="Grid"
        Data="_sectionItems"
        KeyFieldName="SectionId"
        EditModelSaving="Grid_EditModelSaving"
        DataItemDeleting="Grid_DataItemDeleting"
        CustomizeEditModel="Grid_CustomizeEditModel"
        CustomizeElement="Grid_CustomizeElement"
        ShowSearchBox="true"
        PagerNavigationMode="PagerNavigationMode.InputBox"
        PageSizeSelectorVisible="true"
        PageSizeSelectorAllRowsItemVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20"
        SelectionMode="GridSelectionMode.Multiple"
        SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
        AutoExpandAllGroupRows="true"
        CssClass="ch-360"
        style="height: calc(100vh - 220px);"
        FocusedRowEnabled="true"
        RowClick="OnRowClick"
        RowDoubleClick="OnRowDoubleClick"
        AllowSelectRowByClick="true">
    <Columns>
        <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
        <DxGridDataColumn FieldName="SectionId" MinWidth="80" Visible="false" />
        <DxGridDataColumn FieldName="Company" MinWidth="80" />
        <DxGridDataColumn FieldName="Division" MinWidth="80" />
        <DxGridDataColumn FieldName="SectionName" Caption="Name" MinWidth="80" />
        <DxGridDataColumn FieldName="SectionCode" Caption="Code" MinWidth="80" />
        <DxGridDataColumn FieldName="StatusCode" MinWidth="80" />
        <DxGridDataColumn FieldName="ModifiedDate" Width="10%" />
        <DxGridDataColumn FieldName="ModifiedBy" Width="10%" />
    </Columns>
    <EditFormTemplate Context="EditFormContext">
        @{
            var sections = (ViewSection)EditFormContext.EditModel;
        }
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="Department" ColSpanMd="6">
                <DxComboBox Data="@_departmentItems"
                            NullText="Select Department..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="DepartmentName"
                            ValueFieldName="DepartmentId"
                            SelectedItemChanged="@((ViewDepartment depSelect) => SelectedItemChanged(depSelect))"
                            @bind-Value="@sections.DepartmentId"
                            ShowValidationIcon="true">
                </DxComboBox>
                <ValidationMessage For="@(() => sections.DepartmentId)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Company" ColSpanMd="6">
                <DxTextBox @bind-Text="@companyName" ReadOnly="true" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Division" ColSpanMd="6">
                <DxTextBox @bind-Text="@divisionName" ReadOnly="true" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Section Name" ColSpanMd="6">
                <DxTextBox @bind-Text="@sections.SectionName" ShowValidationIcon="true" />
                <ValidationMessage For="@(() => sections.SectionName)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Section Code" ColSpanMd="6">
                <DxTextBox @bind-Text="@sections.SectionCode" ShowValidationIcon="true" />
                <ValidationMessage For="@(() => sections.SectionCode)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Description" ColSpanMd="6">
                <DxMemo @bind-Text="@sections.Description" Rows="5" ShowValidationIcon="true" />
                <ValidationMessage For="@(() => sections.Description)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Profile Code" ColSpanMd="6">
                <DxTextBox @bind-Text="@sections.ProfileCode" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Status" ColSpanMd="6">
                <DxComboBox Data="@_stausItems"
                            NullText="Select Status..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="CodeValue"
                            ValueFieldName="CodeId"
                            @bind-Value="@sections.StatusCodeId"
                            ShowValidationIcon="true">
                </DxComboBox>
                <ValidationMessage For="@(() => sections.StatusCodeId)" />
            </DxFormLayoutItem>
        </DxFormLayout>
    </EditFormTemplate>
    <TotalSummary>
        <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="SectionName" />
    </TotalSummary>
</DxGrid>

@code {
    private List<ViewSection> _sectionItems;
    private List<CodeMaster> _stausItems;
    private List<ViewDepartment> _departmentItems;
    string companyName = "";
    string divisionName = "";
    IGrid Grid { get; set; }
    private ViewSection _selectedItems;
    bool EditEnabled { get; set; } = false;
    bool DeleteEnabled { get; set; } = false;
    public ApplicationUser applicationUser { get; private set; }
    bool ExportSelectedRowsOnly { get; set; }
    protected override async Task OnInitializedAsync()
    {

        _departmentItems = await Mediator.Send(new GetAllDepartmentQuery());
        _stausItems = await Mediator.Send(new GetAllCodeMasterQuery("Status"));
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        await UpdateDataAsync();
    }
    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        if (e.IsNew)
        {
            companyName = "";
            divisionName = "";
        }
        else
        {
            var dep = (ViewSection)e.DataItem;
            companyName = dep.Company;
            divisionName = dep.Division;
        }
    }
    void SelectedItemChanged(ViewDepartment dep)
    {
        if (dep.DepartmentId > 0)
        {
            companyName = dep.Company;
            divisionName = dep.Division;
        }
    }
    async Task UpdateDataAsync()
    {
        _sectionItems = await Mediator.Send(new GetAllSectionQuery());
        if (_sectionItems.Count > 0)
        {
            _selectedItems = _sectionItems.FirstOrDefault();
            EditEnabled = true;
            DeleteEnabled = true;
            StateHasChanged();
        }
    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editableData = (ViewSection)e.EditModel;
        if (e.IsNew)
        {
            var request = new CreateSectionCommand
                {
                    DepartmentId = editableData.DepartmentId,
                    Name = editableData.SectionName,
                    Code = editableData.SectionCode,
                    Description = editableData.Description,
                    StatusCodeId = editableData.StatusCodeId,
                    ProfileCode = editableData.ProfileCode,
                    AddedByUserId = applicationUser.UserID,
                    ModifiedByUserId = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    ModifiedDate = DateTime.Now,
                };
            await Mediator.Send(request);
            await UpdateDataAsync();
        }
        else
        {
            await UpdatePlantAsync(editableData);
        }

    }
    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        var editableData = (ViewSection)e.DataItem;
        var request = new DeleteSectionCommand(editableData.SectionId);
        await Mediator.Send(request);
        await UpdateDataAsync();
    }
    async Task UpdatePlantAsync(ViewSection editableData)
    {
        var request = new EditSectionCommand
            {
                DepartmentId = editableData.DepartmentId,
                SectionId = editableData.SectionId,
                Name = editableData.SectionName,
                Code = editableData.SectionCode,
                Description = editableData.Description,
                StatusCodeId = editableData.StatusCodeId,
                ModifiedDate = DateTime.Now,
                AddedByUserId = editableData.AddedByUserId,
                AddedDate = editableData.AddedDate,
                ModifiedByUserId = applicationUser.UserID,
                ProfileCode = editableData.ProfileCode,
            };
        await Mediator.Send(request);
        await UpdateDataAsync();
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
        if (e.ElementType == GridElementType.HeaderCell)
        {
            e.Style = "background-color: rgba(0, 0, 0, 0.08)";
            e.CssClass = "header-bold";
        }
    }
    async Task ExportToExcel()
    {
        await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = true,
                CustomizeCell = OnCustomizeCell
            });
    }
    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "SectionId");
        _selectedItems = _sectionItems.FirstOrDefault(f => f.SectionId == (long?)UniqueId);
        StateHasChanged();
    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addEdit();
    }
    void addNew()
    {
        Grid.StartEditNewRowAsync();
    }
    void addEdit()
    {
        Grid.StartEditDataItemAsync(_selectedItems);
    }
    void addDelete()
    {
        Grid.ShowDataItemDeleteConfirmation(_selectedItems);
    }
}
