@using Application.Command.Sections;
@using Application.Commands;
@using Application.Queries;
@using MediatR
@using global::Core.Entities.Views;
@using global::Core.Entities;
@inject IMediator Mediator
@using DevExpress.Export
@using Application.Response;
@inject IJSRuntime jsRuntime
@using global::Core.Repositories.Query;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject AC.SD.Core.Services.ToastService toastService
@page "/section"
@inject NavigationManager NavigationManager


<div class="card w-100" style="margin-bottom:10px; margin-top:10px">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
                <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportToExcel" />
                <DxMenuItem Text="Add SubSection" IconCssClass="fa fa-add" Click="@AddSubSection" />
                <DxMenuItem Text="Reset Department" IconCssClass="fa fa-refresh" Click="@ResetDepartment" Enabled="@isDepartmentEnabled" />
            </Items>
        </DxMenu>
    </div>
</div>


   
    @if (Type == "Department")
    {
    <div style="" class="breadcrumb card-body bradcrumb-txt">
        <div class="items"> @companyName <span class="separator-txt fa fa-caret-right"></span>@divisionName  <span class="separator-txt fa fa-caret-right"></span>@Name</div>
        </div>
    }

    <DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data..."
               >

<DxGrid @ref="Grid" FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
        Data="_sectionItems"
            ShowGroupPanel="true" ShowGroupedColumns="true"
            KeyFieldName="SectionId"
        EditModelSaving="Grid_EditModelSaving"
        DataItemDeleting="Grid_DataItemDeleting"
        CustomizeEditModel="Grid_CustomizeEditModel"
        CustomizeElement="Grid_CustomizeElement"
        ShowSearchBox="true"
        PagerNavigationMode="PagerNavigationMode.InputBox"
        PageSizeSelectorVisible="true"
        PageSizeSelectorAllRowsItemVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20"
        SelectionMode="GridSelectionMode.Multiple"
        SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
        AutoExpandAllGroupRows="true"
        CssClass="ch-360"
        style="height: calc(100vh - 270px);"
        FocusedRowEnabled="true"
        RowClick="OnRowClick"
        RowDoubleClick="OnRowDoubleClick"
        SelectedDataItemsChanged="@SelectedDataItemsChanged"
        AllowSelectRowByClick="true">
    <Columns>
        <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
        <DxGridDataColumn FieldName="SectionId" MinWidth="80" Visible="false" />
            <DxGridDataColumn FieldName="Index" Caption="#" Width="35px" Visible="false"></DxGridDataColumn>
        <DxGridDataColumn FieldName="PlantCode" Caption="Company Code" MinWidth="80" />
        <DxGridDataColumn FieldName="Division" MinWidth="80" />
        <DxGridDataColumn FieldName="SectionName" Caption="Name" MinWidth="80" />
        <DxGridDataColumn FieldName="SectionCode" Caption="Code" MinWidth="80" />
        <DxGridDataColumn FieldName="StatusCode" MinWidth="80" />
        <DxGridDataColumn FieldName="ModifiedDate" Width="180" >
            <CellDisplayTemplate>
                @{
                    var item = (ViewSection)context.DataItem;
                }
                @Application.Common.Helper.Helper.FormatDateTime(item.ModifiedDate)
            </CellDisplayTemplate>
        </DxGridDataColumn>
        <DxGridDataColumn FieldName="ModifiedBy" Width="10%" />
    </Columns>
    <EditFormTemplate Context="EditFormContext">
        @{
            var sections = (ViewSection)EditFormContext.EditModel;
        }
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="Department" ColSpanMd="6">
                <DxComboBox Data="@_departmentItems"
                            NullText="Select Department..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="DepartmentDrop"
                            ValueFieldName="DepartmentId"
                            Enabled="@isEnabled"
                            SelectedItemChanged="@((ViewDepartment depSelect) => SelectedItemChanged(depSelect))"
                            @bind-Value="@sections.DepartmentId"
                            ShowValidationIcon="true">
                </DxComboBox>
                <ValidationMessage For="@(() => sections.DepartmentId)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Company" ColSpanMd="6">
                <DxTextBox @bind-Text="@companyName" Enabled="@isEnabled" ReadOnly="true" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Division" ColSpanMd="6">
                <DxTextBox @bind-Text="@divisionName" Enabled="@isEnabled" ReadOnly="true" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Section Name" ColSpanMd="6">
                <DxTextBox @bind-Text="@sections.SectionName" ShowValidationIcon="true" />
                <ValidationMessage For="@(() => sections.SectionName)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Section Code" ColSpanMd="6">
                <DxTextBox @bind-Text="@sections.SectionCode" ShowValidationIcon="true" />
                <ValidationMessage For="@(() => sections.SectionCode)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Description" ColSpanMd="6">
                <DxMemo @bind-Text="@sections.Description" Rows="5" ShowValidationIcon="true" />
                <ValidationMessage For="@(() => sections.Description)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Profile Code" ColSpanMd="6">
                <DxTextBox @bind-Text="@sections.ProfileCode" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Status" ColSpanMd="6">
                <DxComboBox Data="@_stausItems"
                            NullText="Select Status..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="CodeValue"
                            ValueFieldName="CodeId"
                                @bind-Text="@Text"
                            @bind-Value="@sections.StatusCodeId"
                            ShowValidationIcon="true">
                </DxComboBox>
                <ValidationMessage For="@(() => sections.StatusCodeId)" />
            </DxFormLayoutItem>
        </DxFormLayout>
    </EditFormTemplate>
    <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="PlantCode" />
    </TotalSummary>
</DxGrid>
</DxLoadingPanel>
@*<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" Width="350px" @bind-Visible="@Blukdeletepopup">
    <div class="text-center">
        <Content>
        <p>
                <div > Do you want to delete</div>
          DepartmentDrop
        </p>
    </Content>
       
        <DxButton class=align-Button Text="Yes" Click="@(() => bulkDelete())" />
        <DxButton class =align-items Text="No" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>*@
<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="CRT"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>
<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">


    <div class="text-center">
        <p>@DeleteerrorMessage</p>

        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>


</DxPopup>

@code {
    string Name = "";
    string Text { get; set; } = "Active";
    bool PanelVisible { get; set; }
    private List<ViewDivision> _divisionsItems;
    // string  CompanyName ="";
    [Parameter]
    public long? PlantID { get; set; }
    [Parameter]
    public string Type { get; set; }
    bool isDepartmentEnabled { get; set; } = false;
    bool isEnabled { get; set; } = true;
    private List<ViewSection> _sectionItems;
    private List<CodeMaster> _stausItems;
    private List<ViewDepartment> _departmentItems;
    string companyName = "";
    string divisionName = "";
    IGrid Grid { get; set; }
    IReadOnlyList<object> SelectedDataItems { get; set; }
    private ViewSection _selectedItems;
    bool EditEnabled { get; set; } = false;
    bool DeleteEnabled { get; set; } = false;
    bool Blukdeletepopup { get; set; } = false;
    DxPopup? popup;
    bool PopupVisible { get; set; } = false;
    string? DeleteerrorMessage;
    public ApplicationUser applicationUser { get; private set; }
    bool ExportSelectedRowsOnly { get; set; }
    private ViewSection _selectlst;
    private ViewDivision _selectdivision;
    private ViewDepartment _selectdep;
    protected override async Task OnInitializedAsync()
    {
        PanelVisible = true;
        // await jsRuntime.InvokeAsync<string>("showLoading");
        _departmentItems = await Mediator.Send(new GetAllDepartmentQuery());
        _stausItems = await Mediator.Send(new GetAllCodeMasterQuery("Status"));
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _divisionsItems = await Mediator.Send(new GetAllDivisionQuery());
        // await jsRuntime.InvokeAsync<string>("hideLoading");
        PanelVisible = false;
        await UpdateDataAsync();
        if (Type == "Department")
        {
            isDepartmentEnabled = true;
        }
    }
    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        if (e.IsNew)
        {
            var newmaster = (ViewSection)e.EditModel;
            companyName = "";
            divisionName = "";
            newmaster.SectionName = "";
            newmaster.SectionCode = "";
            newmaster.Description = "";
            newmaster.ProfileCode = "";
            if (Type == "Department")
            {
                var _masters = _sectionItems.FirstOrDefault(f => f.DepartmentId == PlantID);
                if (_masters != null)
                {
                    isEnabled = false;
                    newmaster.DepartmentId = _masters.DepartmentId;
                    companyName = _masters.Company;
                    divisionName = _masters.Division;

                    // SelectedItemChanged(_ictmasters);
                }
            }
        }
        else
        {
            var dep = (ViewSection)e.DataItem;
            companyName = dep.Company;
            divisionName = dep.Division;
        }
    }
    void SelectedItemChanged(ViewDepartment dep)
    {
        if (dep.DepartmentId > 0)
        {
            companyName = dep.Company;
            divisionName = dep.Division;
        }
    }
    async Task UpdateDataAsync()
    {
        PanelVisible = true;
        // await jsRuntime.InvokeAsync<string>("showLoading");
        var model = await Mediator.Send(new GetAllSectionQuery());
        for (int i = 0; i < model.Count; i++)
        {
            model[i].Index = i + 1;
        }
        _sectionItems = model;
        if (PlantID != null && PlantID != -1)
        {
            if (Type == "Department")
            {
                _selectdep = _departmentItems.FirstOrDefault(f => f.DepartmentId == PlantID);
                companyName = _selectdep.PlantCode;
                divisionName = _selectdep.Division;
                Name = _selectdep.DepartmentName;

            }

        }
        if (_sectionItems.Count > 0)
        {
            _selectedItems = _sectionItems.FirstOrDefault();
            if(SelectedDataItems != null)
            {
                EditEnabled = true;
                DeleteEnabled = true;
                StateHasChanged();
            }
           
        }
       // await jsRuntime.InvokeAsync<string>("hideLoading");
        PanelVisible = false;
    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editableData = (ViewSection)e.EditModel;
        if (e.IsNew)
        {
            var request = new CreateSectionCommand
                {
                    DepartmentId = editableData.DepartmentId,
                    Name = editableData.SectionName,
                    Code = editableData.SectionCode,
                    Description = editableData.Description,
                    StatusCodeId = editableData.StatusCodeId,
                    ProfileCode = editableData.ProfileCode,
                    AddedByUserId = applicationUser.UserID,
                    ModifiedByUserId = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    ModifiedDate = DateTime.Now,
                };
            await Mediator.Send(request);
            toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();
        }
        else
        {
            await UpdatePlantAsync(editableData);
        }

    }
    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        var editableData = (ViewSection)e.DataItem;
        var request = new DeleteSectionCommand(editableData.SectionId);
        await Mediator.Send(request);
        await UpdateDataAsync();
    }
    async Task UpdatePlantAsync(ViewSection editableData)
    {
        var request = new EditSectionCommand
            {
                DepartmentId = editableData.DepartmentId,
                SectionId = editableData.SectionId,
                Name = editableData.SectionName,
                Code = editableData.SectionCode,
                Description = editableData.Description,
                StatusCodeId = editableData.StatusCodeId,
                ModifiedDate = DateTime.Now,
                AddedByUserId = editableData.AddedByUserId,
                AddedDate = editableData.AddedDate,
                ModifiedByUserId = applicationUser.UserID,
                ProfileCode = editableData.ProfileCode,
            };
        await Mediator.Send(request);
        toastService.ShowToast("Record updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
        await UpdateDataAsync();
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
       
    }
    async Task ExportToExcel()
    {
        await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = true,
                CustomizeCell = OnCustomizeCell
            });
    }
    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "SectionId");
        _selectedItems = _sectionItems.FirstOrDefault(f => f.SectionId == (long?)UniqueId);
        StateHasChanged();
    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addEdit();
    }
    void addNew()
    {
        Grid.StartEditNewRowAsync();
    }
    void addEdit()
    {
        if (SelectedDataItems.Count == 1)
        {

            foreach (object item in SelectedDataItems)
            {

                if (item is ViewSection viewSection)
                {

                    _selectlst = _sectionItems.FirstOrDefault(f => f.SectionId == viewSection.SectionId);


                }
            }
            Grid.StartEditDataItemAsync(_selectlst);
        }
        else
        {
            Grid.StartEditDataItemAsync(_selectedItems);
        }
    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
        UpdateDataAsync();
    }
    async void ClosePopup()
    {
        PopupVisible = false;
        await UpdateDataAsync();
    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    async Task bulkDelete()
    {
        try
        {

            if (SelectedDataItems != null)
            {
                foreach (object item in SelectedDataItems)
                {

                    if (item is ViewSection section)
                    {
                        // var editableData = (ViewSection)e.DataItem;
                        var request = new DeleteSectionCommand(section.SectionId);
                        await Mediator.Send(request);
                        Blukdeletepopup = false;
                        toastService.ShowToast("Record updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        await UpdateDataAsync();
                    }

                }
            }
        }
        catch (Exception eq)
        {
            DeleteerrorMessage = eq.Message;
            PopupVisible = true;
        }
    await UpdateDataAsync();
    }
    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems;
        if (SelectedDataItems.Count > 1)
        {
            EditEnabled = false;
        }
        else
        {
            EditEnabled = true;
        }
        if (SelectedDataItems != null)
        {

            DeleteEnabled = true;
            StateHasChanged();
        }
    }
    void ResetDepartment()
    {
        PlantID = -1;
        isEnabled = true;
        isDepartmentEnabled = false;
        Grid.CancelEditAsync();
        NavigationManager.NavigateTo("masters/3/section/-1");

    }
    void AddSubSection()
    {
        NavigationManager.NavigateTo("masters/4/section/" + _selectedItems.SectionId);
    }
}
