@using Application.Command.Ictmaster;
@using Application.Command.LeveMasters;
@using Application.Commands;
@using Application.Queries;
@using MediatR
@using global::Core.Entities.Views;
@using global::Core.Entities;
@inject IMediator Mediator
@using DevExpress.Export
@using Application.Response;
@inject IJSRuntime jsRuntime
@using global::Core.Repositories.Query;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject AC.SD.Core.Services.ToastService toastService
@inject NavigationManager NavigationManager

<div class="card w-100" style="margin-bottom:10px; margin-top:10px">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
                <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportToExcel" />
                <DxMenuItem Text="Reset Area" IconCssClass="fa fa-file-excel" Click="@ResetArea" Enabled="@isAreaEnabled" />
            </Items>
        </DxMenu>
    </div>
</div>


@if (Type == "Area")
{
    <div class="breadcrumb card-body bradcrumb-txt">
        <div class="items">  @comapnyName<span class="separator-txt fa fa-caret-right"></span>@siteName<span class="separator-txt fa fa-caret-right"></span>@ZoneName<span class="separator-txt fa fa-caret-right"></span>@LocationName <span class="separator-txt fa fa-caret-right"></span> @AreaName </div>
    </div>
}

<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">

    <DxGrid @ref="Grid" Data="_ictmasterList" KeyFieldName="IctmasterId" DataItemDeleting="Grid_DataItemDeleting" EditModelSaving="Grid_EditModelSaving" ShowSearchBox="true"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ShowGroupPanel="true" ShowGroupedColumns="true"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            CustomizeEditModel="Grid_CustomizeEditModel"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            CustomizeElement="Grid_CustomizeElement"
            SelectionMode="GridSelectionMode.Multiple"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            ValidationEnabled="true"
            AutoExpandAllGroupRows="true"
            CssClass="ch-360" style="height: calc(100vh - 270px);"
            CustomizeCellDisplayText="Grid_CustomizeCellDisplayText"
            FocusedRowEnabled="true"
            RowClick="OnRowClick"
            RowDoubleClick="OnRowDoubleClick"
            SelectedDataItemsChanged="@SelectedDataItemsChanged"
            AllowSelectRowByClick="true" VirtualScrollingEnabled="true">
        <Columns>
            <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
            <DxGridDataColumn FieldName="IctmasterId" MinWidth="80" Visible="false" />
            <DxGridDataColumn FieldName="Index" Caption="#" Width="35px" Visible="false"></DxGridDataColumn>
            <DxGridDataColumn FieldName="CompanyId" Caption="Company" TextAlignment="GridTextAlignment.Left" MinWidth="80" />
            <DxGridDataColumn FieldName="Name" TextAlignment="GridTextAlignment.Left" MinWidth="80" />
            <DxGridDataColumn FieldName="Site" Caption="Site" TextAlignment="GridTextAlignment.Left" MinWidth="80" />
            <DxGridDataColumn FieldName="Zone" Caption="Zone" TextAlignment="GridTextAlignment.Left" MinWidth="80" />
            <DxGridDataColumn FieldName="Location" Caption="Location" TextAlignment="GridTextAlignment.Left" MinWidth="80" />
            <DxGridDataColumn FieldName="ParentName" Caption="Area" TextAlignment="GridTextAlignment.Left" MinWidth="80" />
            <DxGridDataColumn FieldName="Description" TextAlignment="GridTextAlignment.Left" MinWidth="80" />

        </Columns>
        <EditFormTemplate Context="EditFormContext">
            @{
                var ict = (ViewIctmaster)EditFormContext.EditModel;
            }


            <DxFormLayout CssClass="w-100">
                <DxFormLayoutItem Caption="Company" ColSpanMd="6">
                    @* SelectedItemChanged="@((ViewPlants plant) => SelectedItemChanged(plant.PlantID))"*@
                    <DxComboBox Data="@_plantItems"
                                NullText="Select Company..."
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="Description"
                                ValueFieldName="PlantID"
                                Enabled="@isEnabled"
                                ValueChanged="@((ViewPlants plant) => SelectedItemChanged(plant,ict))"
                                Value="@CurrentPlant"
                                ValueExpression="@(() => CurrentPlant )"
                                ShowValidationIcon="true">
                    </DxComboBox>
                    <ValidationMessage For="@(() => ict.CompanyId)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Site" ColSpanMd="6">
                    @{
                        var item = _plantItems.FirstOrDefault(c => c.PlantID == ict.CompanyId);
                        _masterCompany = _ictmaster.Where(c => c.CompanyId == ict.CompanyId && c.MasterType == 570).ToList();
                    }
                    @* <DxSpinEdit @bind-Value="@ict.SiteId" Rows="5" />*@
                    @*SelectedItemChanged="@((ViewIctmaster plant) => SelectedChanged(plant.IctmasterId))"*@
                    <DxComboBox Data="@_masterCompany"
                                NullText="Select Site..."
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="Name"
                                ValueFieldName="IctmasterId"
                                @bind-Value="@ict.SiteId"
                                Enabled="@isEnabled"
                                ShowValidationIcon="true">
                    </DxComboBox>
                    <ValidationMessage For="@(() => ict.SiteId)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Zone" ColSpanMd="6">
                    @{
                        SelectedChanged(ict.SiteId);
                    }
                    @*    SelectedItemChanged="@((ViewIctmaster plant) => SelectChanged(plant.IctmasterId))"*@
                    <DxComboBox Data="@_masterSite"
                                NullText="Select Zone..." SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="Name"
                                ValueFieldName="IctmasterId"
                                @bind-Value="@ict.ZoneId"
                                Enabled="@isEnabled"
                                ShowValidationIcon="true">
                    </DxComboBox>

                    <ValidationMessage For="@(() => ict.ZoneId)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Location" ColSpanMd="6">
                    @{
                        SelectChanged(ict.ZoneId);
                    }
                    @*    SelectedItemChanged="@((ViewIctmaster plant) => SelectAreaChanges(plant.IctmasterId))"*@
                    <DxComboBox Data="@_masterZone"
                                NullText="Select Location..."
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="Name"
                                ValueFieldName="IctmasterId"
                                @bind-Value="@ict.LocationId"
                                Enabled="@isEnabled"
                                ShowValidationIcon="true">
                    </DxComboBox>
                    <ValidationMessage For="@(() => ict.LocationId)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Area" ColSpanMd="6">
                    @{
                        SelectAreaChanges(ict.LocationId);
                    }
                    <DxComboBox Data="@_masterLocation"
                                NullText="Select Area..."
                                FilteringMode="DataGridFilteringMode.Contains"
                                TextFieldName="Name"
                                ValueFieldName="IctmasterId"
                                @bind-Value="@ict.ParentIctid"
                                Enabled="@isEnabled"
                                ShowValidationIcon="true">
                    </DxComboBox>
                    <ValidationMessage For="@(() => ict.AreaId)" />
                </DxFormLayoutItem>

                <DxFormLayoutItem Caption="Name" ColSpanMd="6">
                    <DxTextBox @bind-Text="@ict.Name" Rows="5" />
                    <ValidationMessage For="@(() => ict.Name)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Description" ColSpanMd="6">
                    <DxMemo @bind-Text="@ict.Description" Rows="5" />
                </DxFormLayoutItem>



                <DxFormLayoutItem ColSpanMd="12">
                    <ValidationSummary />
                </DxFormLayoutItem>
            </DxFormLayout>
        </EditFormTemplate>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="CompanyId" />
        </TotalSummary>
    </DxGrid>
</DxLoadingPanel>
@*<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" Width="350px" @bind-Visible="@Blukdeletepopup">
    <div class="text-center">
        <Content>
        <p>
                <div > Do you want to delete</div>

        </p>
    </Content>

        <DxButton class=align-Button Text="Yes" Click="@(() => bulkDelete())" />
        <DxButton class =align-items Text="No" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>*@
<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="CRT"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>

@code {
    ViewPlants CurrentPlant { get; set; }
    bool PanelVisible { get; set; }
    string comapnyName = "";
    string siteName = "";
    string ZoneName = "";
    string LocationName = "";
    string AreaName = "";
    [Parameter]
    public long? SiteId { get; set; }
    [Parameter]
    public string Type { get; set; }
    Dictionary<long, string>? CompanyNamesIndex { get; set; }
    private List<ViewPlants> _plantItems;

    private List<ViewIctmaster> _ictmaster;
    private List<ViewIctmaster> _ictmasterList;
    private List<CodeMaster> _codemaster;
    private List<ViewIctmaster>? _masterCompany;
    private List<ViewIctmaster>? _masterSite;
    private List<ViewIctmaster>? _masterZone;
    private List<ViewIctmaster>? _masterLocation;
    public ApplicationUser applicationUser { get; private set; }
    IReadOnlyList<object> SelectedDataItems { get; set; }
    IGrid Grid { get; set; }
    private ViewIctmaster _selectedItems;
    private ViewPlants _selectplant;
    bool Blukdeletepopup { get; set; } = false;
    bool ExportSelectedRowsOnly { get; set; }
    bool EditEnabled { get; set; } = false;
    bool DeleteEnabled { get; set; } = false;

    DxPopup? popup;
    bool PopupVisible { get; set; } = false;
    private ViewIctmaster _selectlst;
    int masterType = 574;
    bool isAreaEnabled { get; set; } = false;
    bool isEnabled { get; set; } = true;
    protected override async Task OnInitializedAsync()
    {
        PanelVisible = true;
        // await jsRuntime.InvokeAsync<string>("showLoading");
        _plantItems = await Mediator.Send(new GetAllPlantQuery());
        CompanyNamesIndex = _plantItems.ToDictionary(i => i.PlantID, i => i.Description);
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        //  await jsRuntime.InvokeAsync<string>("hideLoading");
        PanelVisible = false;
        await UpdateDataAsync();
        if (Type == "Area")
        {
            isAreaEnabled = true;
        }
    }
    //async Task LoadDetailhistory()
    //{
    //    if (SiteId != null)
    //    {
    //        _selectedItems = _ictmaster.FirstOrDefault(f => f.IctmasterId == SiteId);
    //        comapnyName = _selectedItems.CompanyId;
    //        siteId = _selectedItems.SiteId;
    //        ZoneId = _selectedItems.ZoneId;
    //        LocationId = _selectedItems.ParentIctid;
    //        AreaName = _selectedItems.Name;
    //    }
    //}
    async Task UpdateDataAsync()
    {
        //await jsRuntime.InvokeAsync<string>("showLoading");
        PanelVisible = true;
        var model = await Mediator.Send(new GetAllIctMasterQuery());
        for (int i = 0; i < model.Count; i++)
        {
            model[i].Index = i + 1;
        }
        _ictmaster = model;
        _ictmasterList = model.Where(w => w.MasterType == masterType).ToList();

        if (SiteId != null && SiteId != -1)
        {
            _selectedItems = _ictmaster.FirstOrDefault(f => f.IctmasterId == SiteId);
            var item = _plantItems.Where(c => c.PlantID == _selectedItems.CompanyId);
            // comapnyName = _selectedItems.CompanyId;
            _selectplant = item.FirstOrDefault();
            comapnyName = _selectplant.Description;
            siteName = _selectedItems.Site;
            ZoneName = _selectedItems.Zone;
            LocationName = _selectedItems.ParentName;
            AreaName = _selectedItems.Name;
        }
        if (_ictmasterList.Count > 0)
        {
            _selectedItems = _ictmasterList.FirstOrDefault();
            EditEnabled = true;
            DeleteEnabled = true;
            StateHasChanged();
        }

        // await jsRuntime.InvokeAsync<string>("hideLoading");
        PanelVisible = false;
    }
    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        CurrentPlant = null;
        if (e.IsNew)
        {
            var newmaster = (ViewIctmaster)e.EditModel;
            newmaster.MasterType = masterType;
            newmaster.Name = "";
            newmaster.Description = "";
            newmaster.StatusCodeId = null;
            _masterCompany = new List<ViewIctmaster>();
            _masterSite = new List<ViewIctmaster>();
            _masterZone = new List<ViewIctmaster>(); _masterLocation = new List<ViewIctmaster>();
            if (Type == "Area")
            {
                var _ictmasters = _ictmaster.FirstOrDefault(f => f.IctmasterId == SiteId);
                if (_ictmasters != null)
                {
                    isEnabled = false;
                    newmaster.CompanyId = _ictmasters.CompanyId;
                    newmaster.SiteId = _ictmasters.SiteId;
                    newmaster.ZoneId = _ictmasters.ZoneId;
                    newmaster.LocationId = _ictmasters.ParentIctid.Value;
                    newmaster.ParentIctid = _ictmasters.IctmasterId;
                    var item = _plantItems.FirstOrDefault(c => c.PlantID == _ictmasters.CompanyId);
                    SelectedItemChanged(item, newmaster);
                    SelectedChanged(_ictmasters.SiteId);
                    SelectChanged(_ictmasters.ZoneId);
                    SelectAreaChanges(_ictmasters.ParentIctid);
                }
            }
        }
        else
        {
            var newmaster = (ViewIctmaster)e.EditModel;
            var item = _plantItems.FirstOrDefault(c => c.PlantID == newmaster.CompanyId);
            var _ictmasters = _ictmaster.FirstOrDefault(f => f.IctmasterId == newmaster.SiteId);
            CurrentPlant = item;
            SelectedItemChanged(item, newmaster);
            SelectedChanged(_ictmasters.SiteId);
            SelectChanged(_ictmasters.ZoneId);
            SelectAreaChanges(_ictmasters.ParentIctid);
        }
    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editableictmaster = (ViewIctmaster)e.EditModel;
        if (e.IsNew)
        {
            var request = new CreateIctmasterCommand
                {
                    MasterType = masterType,
                    Description = editableictmaster.Description,
                    StatusCodeId = editableictmaster.StatusCodeId,
                    Name = editableictmaster.Name,
                    CompanyId = editableictmaster.CompanyId,
                    SiteId = editableictmaster.SiteId,
                    ZoneId = editableictmaster.ZoneId,
                    LocationId = editableictmaster.LocationId,
                    AreaId = editableictmaster.AreaId,
                    ParentIctid = editableictmaster.ParentIctid,
                    AddedByUserId = applicationUser.UserID,
                    ModifiedByUserId = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    ModifiedDate = DateTime.Now,

                };
            await Mediator.Send(request);
            toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();
        }
        else
        {
            await UpdateMasterAsync(editableictmaster);
        }
    }
    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        var editablePlant = (ViewIctmaster)e.DataItem;
        var request = new DeleteIctmasterCommand(editablePlant.IctmasterId);
        await Mediator.Send(request);
        await UpdateDataAsync();
    }
    async Task UpdateMasterAsync(ViewIctmaster editableictmaster)
    {
        var request = new EditIctmasterCommand
            {
                IctmasterId = editableictmaster.IctmasterId,
                MasterType = editableictmaster.MasterType,
                Name = editableictmaster.Name,
                Description = editableictmaster.Description,
                StatusCodeId = editableictmaster.StatusCodeId,
                AddedByUserId = editableictmaster.AddedByUserId,
                AddedDate = editableictmaster.AddedDate,
                CompanyId = editableictmaster.CompanyId,
                SiteId = editableictmaster.SiteId,
                ZoneId = editableictmaster.ZoneId,
                LocationId = editableictmaster.LocationId,
                AreaId = editableictmaster.AreaId,
                ParentIctid = editableictmaster.ParentIctid,
                ModifiedDate = DateTime.Now,
                ModifiedByUserId = applicationUser.UserID,
            };
        await Mediator.Send(request);
        toastService.ShowToast("Record updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
        await UpdateDataAsync();
    }
    void SelectedItemChanged(ViewPlants companyId, ViewIctmaster viewIctmaster)
    {

        CurrentPlant = null;
        viewIctmaster.CompanyId = 0;
        _masterCompany = new List<ViewIctmaster>(); _masterSite = new List<ViewIctmaster>(); _masterZone = new List<ViewIctmaster>(); _masterLocation = new List<ViewIctmaster>();
        if (companyId == null)
        {
            viewIctmaster.ParentIctid = null;
        }
        if (companyId != null && companyId.PlantID > 0)
        {
            CurrentPlant = companyId;
            viewIctmaster.CompanyId = companyId.PlantID;
            _masterCompany = _ictmaster.Where(c => c.CompanyId == companyId.PlantID && c.MasterType == 570).ToList();
        }

    }
    async void SelectedChanged(long? siteId)
    {
        // var id = siteId.IctmasterId
        if (siteId != null)
        {
            _masterSite = _ictmaster.Where(c => c.ParentIctid == siteId && c.MasterType == 571).ToList();
        }

    }
    async void SelectChanged(long? siteId)
    {

        if (siteId != null)
        {
            _masterZone = _ictmaster.Where(c => c.ParentIctid == siteId && c.MasterType == 572).ToList();
        }

    }
    async void SelectAreaChanges(long? siteId)
    {

        if (siteId != null)
        {
            _masterLocation = _ictmaster.Where(c => c.ParentIctid == siteId && c.MasterType == 573).ToList();
        }

    }
    void Grid_CustomizeCellDisplayText(GridCustomizeCellDisplayTextEventArgs e)
    {
        if (e.FieldName == "CompanyId")
        {
            var ID = Convert.ToInt32(e.Value);
            if (CompanyNamesIndex.ContainsKey(ID))
                e.DisplayText = CompanyNamesIndex[ID];
        }
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
        //  UpdateDataAsync();
    }
    async void ClosePopup()
    {
        PopupVisible = false;
        await UpdateDataAsync();
    }
    async Task ExportToExcel()
    {
        if (SelectedDataItems != null)
        {

            await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
                {

                    ExportSelectedRowsOnly = true,
                    CustomizeCell = OnCustomizeCell

                });
        }
        else
        {
            await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
                {

                    ExportSelectedRowsOnly = false,
                    CustomizeCell = OnCustomizeCell

                });
        }
    }
    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "IctmasterId");
        _selectedItems = _ictmaster.FirstOrDefault(f => f.IctmasterId == (long?)UniqueId);
        EditEnabled = true;
        DeleteEnabled = true;
        StateHasChanged();

    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addEdit();
    }
    void addNew()
    {
        Grid.StartEditNewRowAsync();

        //_masterCompany = new List<ViewIctmaster>();
        //_masterSite = new List<ViewIctmaster>();
        //_masterZone = new List<ViewIctmaster>();
    }
    void addEdit()
    {
        Grid.StartEditDataItemAsync(_selectedItems);
        //if (SelectedDataItems.Count == 1)
        //{

        //    foreach (object item in SelectedDataItems)
        //    {

        //        if (item is ViewIctmaster viewIctmaster)
        //        {

        //            _selectlst = _ictmaster.FirstOrDefault(f => f.IctmasterId == viewIctmaster.IctmasterId);


        //        }
        //    }
        //    Grid.StartEditDataItemAsync(_selectlst);
        //}
        //else
        //{

        //}
    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    async Task bulkDelete()
    {
        try
        {
            if (SelectedDataItems != null)
            {
                foreach (object item in SelectedDataItems)
                {

                    if (item is ViewIctmaster forumspecifivarea)
                    {
                        //var editablePlant = (ViewIctmaster)e.DataItem;
                        var request = new DeleteIctmasterCommand(forumspecifivarea.IctmasterId);
                        await Mediator.Send(request);
                        Blukdeletepopup = false;

                        toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        await UpdateDataAsync();
                    }

                }
            }
        }

        catch (Exception eq)
        {
            Blukdeletepopup = false;
            toastService.ShowToast("The Selected Company have Site So this Record  Do not deleted", AC.SD.Core.Services.ToastLevel.Error);
            //DeleteerrorMessage = eq.Message;
            //PopupVisible = true;
        }
        // await UpdateDataAsync();
    }
    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems;
        if (SelectedDataItems.Count > 1)
        {
            EditEnabled = false;
        }
        else
        {
            EditEnabled = true;
        }

    }
    void ResetArea()
    {
        SiteId = -1;
        isEnabled = true;
        isAreaEnabled = false;
        Grid.CancelEditAsync();
        NavigationManager.NavigateTo("ictMaster/4/Specific/-1");

    }
}
