@using Application.Command.SubSections;
@using Application.Commands;
@using Application.Queries;
@using MediatR
@using global::Core.Entities.Views;
@using global::Core.Entities;
@inject IMediator Mediator
@using DevExpress.Export
@using Application.Response;
@implements IAsyncDisposable

@inject IJSRuntime jsRuntime
@using global::Core.Repositories.Query;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject AC.SD.Core.Services.ToastService toastService
@inject NavigationManager NavigationManager


<div class="card w-100" style="margin-bottom:10px; margin-top:10px">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
                <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportToExcel" />
                <DxMenuItem Text="Add Designation" IconCssClass="fa fa-add" Click="@AddDesignation" />
                <DxMenuItem Text="Reset section" IconCssClass="fa fa-refresh" Click="@ResetSection" Enabled="@issectionEnabled" />
               @*  <DxMenuItem Text="Audit Log" IconCssClass="fa fa-info-circle">
                    <Items>
                        <DxMenuItem Text="Current Records" IconCssClass="fa fa-info-circle" Click="@(() => viewAuditLog(false))" />
                        <DxMenuItem Text="Deleted Records" IconCssClass="fa fa-remove" Click="@(() => viewAuditLog(true))" />
                    </Items>
                </DxMenuItem> *@
            </Items>
        </DxMenu>
    </div>
</div>

@if (Type == "section")
{
    <div style="" class="breadcrumb card-body  bradcrumb-txt">
        <div class="items">@companyName<span class="separator-txt fa fa-caret-right"></span>@divisionName<span class="separator-txt fa fa-caret-right"></span>@Depdrops  <span class="separator-txt fa fa-caret-right"></span> @sectionName </div>
    </div>
}

<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">
    <DxGrid @ref="Grid" FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            Data="_subsectionItems"
            ShowGroupPanel="true" ShowGroupedColumns="true"
            KeyFieldName="SubSectionId"
            EditModelSaving="Grid_EditModelSaving"
            DataItemDeleting="Grid_DataItemDeleting"
            CustomizeEditModel="Grid_CustomizeEditModel"
            CustomizeElement="Grid_CustomizeElement"
            ShowSearchBox="true"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 5,10,20 })"
            PageSize="20"
            SelectionMode="GridSelectionMode.Multiple"
            SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
            AutoExpandAllGroupRows="true"
            CssClass="ch-360" style="height: calc(100vh - 270px);"
            FocusedRowEnabled="true"
            RowClick="OnRowClick"
            RowDoubleClick="OnRowDoubleClick"
            SelectedDataItemsChanged="@SelectedDataItemsChanged"
            AllowSelectRowByClick="true" VirtualScrollingEnabled="true">
        <Columns>
            <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
            <DxGridDataColumn FieldName="SubSectionId" MinWidth="80" Visible="false" />
            <DxGridDataColumn FieldName="Index" Caption="#" Width="35px" Visible="false"></DxGridDataColumn>
            <DxGridDataColumn FieldName="PlantCode" Caption="Company Code" MinWidth="80" />
            <DxGridDataColumn FieldName="Division" MinWidth="80" />
            <DxGridDataColumn FieldName="DepartmentName" Caption="Department" MinWidth="80" />
            <DxGridDataColumn FieldName="SectionName" Caption="Section" MinWidth="80" />
            <DxGridDataColumn FieldName="SubSectionName" Caption="Name" MinWidth="80" />
            <DxGridDataColumn FieldName="SubSectionCode" Caption="Code" MinWidth="80" />
            <DxGridDataColumn FieldName="StatusCode" MinWidth="80" />
            @* <DxGridDataColumn FieldName="ModifiedDate" Width="180"  >
            <CellDisplayTemplate>
            @{
            var item = (ViewSubSection)context.DataItem;
            }
            @Application.Common.Helper.Helper.FormatDateTime(item.ModifiedDate)
            </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="ModifiedBy" /> *@
        </Columns>
        <EditFormTemplate Context="EditFormContext">
            @{
                var sections = (ViewSubSection)EditFormContext.EditModel;
            }
            <DxFormLayout CssClass="w-100">
                <DxFormLayoutItem Caption="Section" ColSpanMd="6">
                    <DxComboBox Data="@_sectionItems"
                                NullText="Select Section..."
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                TextFieldName="SectionDrop"
                                ValueFieldName="SectionId"
                                Enabled="@isEnabled"
                                Value="@sections.SectionId"
                                ValueExpression="@(() => sections.SectionId)"
                                ValueChanged="@((long? depSelect) => SelectedItemChanged(depSelect, sections))"
                                ShowValidationIcon="true">
                    </DxComboBox>
                    <ValidationMessage For="@(() => sections.SectionId)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Company" ColSpanMd="6">
                    <DxTextBox @bind-Text="@companyName" Enabled="@isEnabled" ReadOnly="true" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Division" ColSpanMd="6">
                    <DxTextBox @bind-Text="@divisionName" Enabled="@isEnabled" ReadOnly="true" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Section" ColSpanMd="6">
                    <DxTextBox @bind-Text="@sectionName" Enabled="@isEnabled" ReadOnly="true" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="SubSection Name" ColSpanMd="6">
                    <DxTextBox @bind-Text="@sections.SubSectionName" ShowValidationIcon="true" />
                    <ValidationMessage For="@(() => sections.SubSectionName)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Section Code" ColSpanMd="6">
                    <DxTextBox @bind-Text="@sections.SubSectionCode" ShowValidationIcon="true" />
                    <ValidationMessage For="@(() => sections.SubSectionCode)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Description" ColSpanMd="6">
                    <DxMemo @bind-Text="@sections.Description" Rows="5" ShowValidationIcon="true" />
                    <ValidationMessage For="@(() => sections.Description)" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Profile Code" ColSpanMd="6">
                    <DxTextBox @bind-Text="@sections.ProfileCode" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Status" ColSpanMd="6">
                    <DxComboBox Data="@_stausItems"
                                NullText="Select Status..."
                                SearchMode="ListSearchMode.AutoSearch"
                                SearchFilterCondition="ListSearchFilterCondition.Contains"
                                ValueFieldName="CodeId"
                                @bind-Text="@Text"
                                TextFieldName="CodeValue"
                                @bind-Value="@sections.StatusCodeId"
                                ShowValidationIcon="true">
                    </DxComboBox>

                    <ValidationMessage For="@(() => sections.StatusCodeId)" />
                </DxFormLayoutItem>
            </DxFormLayout>
        </EditFormTemplate>
        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="PlantCode" />
        </TotalSummary>
    </DxGrid>
</DxLoadingPanel>
@*<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" Width="350px" @bind-Visible="@Blukdeletepopup">
    <div class="text-center">
        <Content> @bind-Text="@Text"
        <p> ValueFieldName="CodeId"
             TextFieldName="CodeValue"
                <div > Do you want to delete</div>
          DisplayFormat="dd/MMMM/yyyy"
        </p>
    </Content>

        <DxButton class=align-Button Text="Yes" Click="@(() => bulkDelete())" />
        <DxButton class =align-items Text="No" Click="@(() => ClosePopup())" />
    </div>
</DxPopup*@
<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="CRT"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>

<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" @bind-Visible="@PopupVisible">


    <div class="text-center">
        <p>@DeleteerrorMessage</p>

        <DxButton Text="OK" Click="@(() => ClosePopup())" />
    </div>


</DxPopup>
<DxPopup @bind-Visible="@AuditLogPopUp"
         ShowFooter="false"
         HeaderText="Audit Log"
         CloseOnOutsideClick="false"
         ShowCloseButton="true"
         MinWidth="500" MinHeight="200" MaxWidth="1200px" MaxHeight="800">
    <BodyContentTemplate>
        <AC.SD.Core.Pages.Masters.HRMasterAuditTrailList MasterType="SubSection" MasterId="_selectedItems?.SubSectionId" IsDeleted="@IsDeleted"></AC.SD.Core.Pages.Masters.HRMasterAuditTrailList>
    </BodyContentTemplate>

</DxPopup>
@code {
    bool AuditLogPopUp { get; set; } = false;
    public bool? IsDeleted { get; set; } = false;
    bool PanelVisible { get; set; }
    string Depdrops = "";
    string Text { get; set; } = "Active";
    [Parameter]
    public long? PlantID { get; set; }
    [Parameter]
    public string Type { get; set; }
    bool issectionEnabled { get; set; } = false;
    bool isEnabled { get; set; } = true;
    private List<ViewSubSection> _subsectionItems;
    private List<ViewSection> _sectionItems;
    private List<CodeMaster> _stausItems;
    string companyName = "";
    string divisionName = "";
    string sectionName = "";
    IGrid Grid { get; set; }
    string? DeleteerrorMessage;
    DxPopup? popup;
    bool PopupVisible { get; set; } = false;
    private ViewSubSection _selectedItems;
    bool Blukdeletepopup { get; set; } = false;
    bool EditEnabled { get; set; } = false;
    bool DeleteEnabled { get; set; } = false;
    public ApplicationUser applicationUser { get; private set; }
    IReadOnlyList<object> SelectedDataItems { get; set; }
    private ViewSubSection _selectlst;
    private ViewSection _selectsec;
    private List<ViewDepartment> _departmentItems;
    bool ExportSelectedRowsOnly { get; set; }
    private ViewDepartment _selectdep;
    protected override async Task OnInitializedAsync()
    {
        PanelVisible = true;
        //await jsRuntime.InvokeAsync<string>("showLoading");
        // Application.Common.Helper.Helper.FormatDate();
        _sectionItems = await Mediator.Send(new GetAllSectionQuery());
        _stausItems = await Mediator.Send(new GetAllCodeMasterQuery("Status"));
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        _departmentItems = await Mediator.Send(new GetAllDepartmentQuery());
        // await jsRuntime.InvokeAsync<string>("hideLoading");

        PanelVisible = false;
        await UpdateDataAsync();
        if (Type == "section")
        {
            issectionEnabled = true;
        }
    }
    void viewAuditLog(bool isdeleted)
    {
        IsDeleted = isdeleted;
        AuditLogPopUp = true;
    }
    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        if (e.IsNew)
        {
            var newmaster = (ViewSubSection)e.EditModel;
            newmaster.StatusCodeId = 1;
            companyName = "";
            divisionName = "";
            sectionName = "";
            if (Type == "section")
            {
                var _masters = _subsectionItems.FirstOrDefault(f => f.SectionId == PlantID);
                if (_masters != null)
                {
                    isEnabled = false;
                    newmaster.SectionId = _masters.SectionId;
                    companyName = _masters.Company;
                    divisionName = _masters.Division;
                    sectionName = _masters.SectionName;
                    // SelectedItemChanged(_ictmasters);
                }
            }
        }
        else
        {
            var dep = (ViewSubSection)e.DataItem;
            companyName = dep.Company;
            divisionName = dep.Division;
            sectionName = dep.SectionName;
        }
    }
    void SelectedItemChanged(long? depId, ViewSubSection viewSubSection)
    {
        viewSubSection.SectionId = depId;
        var dep = _sectionItems != null && depId > 0 ? _sectionItems.FirstOrDefault(f => f.SectionId == depId) : null;
        companyName = null;
        divisionName = null;
        sectionName = null;
        if (dep != null)
        {
            companyName = dep.Company;
            divisionName = dep.Division;
            sectionName = dep.SectionName;
        }
    }
    async Task UpdateDataAsync()
    {
        PanelVisible = true;
        // await jsRuntime.InvokeAsync<string>("showLoading");
        var model = await Mediator.Send(new GetAllSubSectionQuery());
        for (int i = 0; i < model.Count; i++)
        {
            model[i].Index = i + 1;
        }
        _subsectionItems = model;
        if (PlantID != null && PlantID != -1)
        {
            if (Type == "section")
            {
                _selectsec = _sectionItems.FirstOrDefault(f => f.SectionId == PlantID);
                var items = _departmentItems.Where(c => c.DepartmentId == _selectsec.DepartmentId);
                _selectdep = items.FirstOrDefault();
                Depdrops = _selectdep.DepartmentName;
                companyName = _selectsec.PlantCode;
                divisionName = _selectsec.Division;
                sectionName = _selectsec.SectionName;
            }
        }
        if (_subsectionItems.Count > 0)
        {
            _selectedItems = _subsectionItems.FirstOrDefault();

            EditEnabled = true;
            DeleteEnabled = true;
            Grid.ClearSelection();
        }
        SelectedDataItems = null;
        PanelVisible = false;
        StateHasChanged();
    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editableData = (ViewSubSection)e.EditModel;
        if (e.IsNew)
        {
            try
            {
                var request = new CreateSubSectionCommand
                {
                    SectionId = editableData.SectionId,
                    Name = editableData.SubSectionName,
                    Code = editableData.SubSectionCode,
                    Description = editableData.Description,
                    StatusCodeId = editableData.StatusCodeId,
                    ProfileCode = editableData.ProfileCode,
                    AddedByUserId = applicationUser.UserID,
                    ModifiedByUserId = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    ModifiedDate = DateTime.Now,
                    AddedBy = applicationUser.UserName,
                    StatusCode = _stausItems?.Where(w => w.CodeId == editableData.StatusCodeId)?.FirstOrDefault()?.CodeValue,
                    SectionName = _sectionItems?.Where(w => w.SectionId == editableData.SectionId)?.FirstOrDefault()?.SectionName,
                };
                await Mediator.Send(request);
                toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
                await UpdateDataAsync();
            }
            catch (Exception ex)
            {
                toastService.ShowToast(ex.Message, AC.SD.Core.Services.ToastLevel.Warning);
            }
        }
        else
        {
            await UpdatePlantAsync(editableData);
        }

    }
    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        var editableData = (ViewSubSection)e.DataItem;
        var request = new DeleteSubSectionCommand(editableData.SubSectionId, applicationUser.UserID);
        await Mediator.Send(request);
        await UpdateDataAsync();
        Grid.SetFocusedRowIndex(0);
    }
    async Task UpdatePlantAsync(ViewSubSection editableData)
    {
        try
        {
            var request = new EditSubSectionCommand
            {
                SubSectionId = editableData.SubSectionId,
                SectionId = editableData.SectionId,
                Name = editableData.SubSectionName,
                Code = editableData.SubSectionCode,
                Description = editableData.Description,
                StatusCodeId = editableData.StatusCodeId,
                AddedByUserId = editableData.AddedByUserId,
                AddedDate = editableData.AddedDate,
                ProfileCode = editableData.ProfileCode,
                ModifiedDate = DateTime.Now,
                ModifiedByUserId = applicationUser.UserID,
                ModifiedBy = applicationUser.UserName,
                StatusCode = _stausItems?.Where(w => w.CodeId == editableData.StatusCodeId)?.FirstOrDefault()?.CodeValue,
                SectionName = _sectionItems?.Where(w => w.SectionId == editableData.SectionId)?.FirstOrDefault()?.SectionName,
            };
            await Mediator.Send(request);
            toastService.ShowToast("Record updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();
        }
        catch (Exception ex)
        {
            toastService.ShowToast(ex.Message, AC.SD.Core.Services.ToastLevel.Warning);
        }
    }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }

    }
    async Task ExportToExcel()
    {
        if (SelectedDataItems != null)
        {

            await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {

                ExportSelectedRowsOnly = true,
                CustomizeCell = OnCustomizeCell

            });
        }
        else
        {
            await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {

                ExportSelectedRowsOnly = false,
                CustomizeCell = OnCustomizeCell

            });
        }
    }
    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "SubSectionId");
        _selectedItems = _subsectionItems.FirstOrDefault(f => f.SubSectionId == (long?)UniqueId);

    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addEdit();
    }
    void addNew()
    {
        Grid.StartEditNewRowAsync();


    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
        //  UpdateDataAsync();
    }
    async void ClosePopup()
    {
        PopupVisible = false;
        await UpdateDataAsync();
    }
    void addEdit()
    {

        //if (SelectedDataItems.Count == 1)
        //{

        //    foreach (object item in SelectedDataItems)
        //    {

        //        if (item is ViewSubSection viewSubSection)
        //        {

        //            _selectlst = _subsectionItems.FirstOrDefault(f => f.SubSectionId == viewSubSection.SubSectionId);


        //        }
        //    }
        //    Grid.StartEditDataItemAsync(_selectlst);
        //}
        //else
        //{
        Grid.StartEditDataItemAsync(_selectedItems);
        // }

    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    async Task bulkDelete()
    {
        try
        {

            if (SelectedDataItems != null)
            {
                foreach (object item in SelectedDataItems)
                {

                    if (item is ViewSubSection subSection)
                    {
                        // var editableData = (ViewSubSection)e.DataItem;
                        var request = new DeleteSubSectionCommand(subSection.SubSectionId, applicationUser.UserID);
                        await Mediator.Send(request);
                        Blukdeletepopup = false;
                        toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                        await UpdateDataAsync();
                        Grid.SetFocusedRowIndex(0); ;
                    }

                }
            }
        }
        catch (Exception eq)
        {
            //DeleteerrorMessage = eq.Message;
            //PopupVisible = true;
            Blukdeletepopup = false;
            toastService.ShowToast("The Selected Record Do not deleted", AC.SD.Core.Services.ToastLevel.Error);
        }
        //  await UpdateDataAsync();
    }
    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems;
        if (SelectedDataItems.Count > 1)
        {
            EditEnabled = false;
        }
        else
        {
            EditEnabled = true;
        }

    }
    void ResetSection()
    {
        PlantID = -1;
        isEnabled = true;
        issectionEnabled = false;
        Grid.CancelEditAsync();
        NavigationManager.NavigateTo("masters/4/subsection/-1");

    }
    void AddDesignation()
    {
        NavigationManager.NavigateTo("masters/5/subsection/" + _selectedItems.SubSectionId);
    }
    public async ValueTask DisposeAsync()
    {
        if (_departmentItems != null)
        {
            _departmentItems.Clear();
            _departmentItems = null;
        }
        if (_stausItems != null)
        {
            _stausItems.Clear();
            _stausItems = null;
        }
        if (_sectionItems != null)
        {
            _sectionItems.Clear();
            _sectionItems = null;
        }
        if (_subsectionItems != null)
        {
            _subsectionItems.Clear();
            _subsectionItems = null;
        }

        SelectedDataItems = null;
        _selectedItems = null;
        _selectlst = null;
        _selectdep = null;
        _selectsec = null;
    }
}
