@using Application.Command.Ictmaster;
@using Application.Commands;
@using Application.Queries;
@using MediatR
@using global::Core.Entities.Views;
@using global::Core.Entities;
@inject IMediator Mediator;
@using DevExpress.Export
@using Application.Response;
@inject IJSRuntime jsRuntime
@using global::Core.Repositories.Query;
@inject ILocalStorageService<ApplicationUser> _localStorageService
@inject AC.SD.Core.Services.ToastService toastService
@inject NavigationManager NavigationManager
@page "/zone"

<div class="card w-100" style="margin-bottom:10px; margin-top:10px">
    <div class="card-body p-0">
        <DxMenu CollapseItemsToHamburgerMenu="true"
                CollapseItemToIconMode="MenuCollapseItemToIconMode.Sequentially"
                DisplayMode="MenuDisplayMode.Desktop">
            <Items>
                <DxMenuItem Text="Add" IconCssClass="fa fa-add" Click="@addNew" />
                <DxMenuItem Text="Edit" IconCssClass="fa fa-pencil" Click="@addEdit" Enabled="@EditEnabled" />
                <DxMenuItem Text="Delete" IconCssClass="fa fa-remove" Click="@addDelete" Enabled="@DeleteEnabled" />
                <DxMenuItem Text="Export" IconCssClass="fa fa-file-excel" Click="@ExportToExcel" />
                <DxMenuItem Text="Add Location" IconCssClass="fa fa-add" Click="@AddLocation" />
                <DxMenuItem Text="Reset Site" IconCssClass="fa fa-refresh" Click="@ResetSite" Enabled="@isSiteEnabled" />
            </Items>
        </DxMenu>
    </div>
   
</div>


  @* @if(comapnyName != null)*@
  @if (Type == "Site")
    {
    <div style="" class="breadcrumb card-body bradcrumb-txt">
        <div class="items"> @comapnyName  <span class="separator-txt fa fa-caret-right"></span> @SiteName</div>
                                                       
     </div>    
     }
   
   <DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data..."
               >

<DxGrid @ref="Grid" Data="_ictmasterList" KeyFieldName="IctmasterId" DataItemDeleting="Grid_DataItemDeleting" EditModelSaving="Grid_EditModelSaving"
        FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
        CustomizeEditModel="Grid_CustomizeEditModel" ShowSearchBox="true"
            ShowGroupPanel="true" ShowGroupedColumns="true"
            PagerNavigationMode="PagerNavigationMode.InputBox"
        PageSizeSelectorVisible="true"
        PageSizeSelectorAllRowsItemVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        PageSize="20"
        SelectionMode="GridSelectionMode.Multiple"
        SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
        ValidationEnabled="true"
        AutoExpandAllGroupRows="true"
        CustomizeElement="Grid_CustomizeElement"
        CssClass="ch-360" style="height: calc(100vh - 270px);"
        FocusedRowEnabled="true"
        RowClick="OnRowClick"
        RowDoubleClick="OnRowDoubleClick"
        SelectedDataItemsChanged="@SelectedDataItemsChanged"
        AllowSelectRowByClick="true" CustomizeCellDisplayText=" Grid_CustomizeCellDisplayText">
    <Columns>
        <DxGridSelectionColumn Width="60px" AllowSelectAll="true" />
        <DxGridDataColumn FieldName="IctmasterId" MinWidth="80" Visible="false" />
            <DxGridDataColumn FieldName="Index" Caption="#" Width="35px" Visible="false"></DxGridDataColumn>
        <DxGridDataColumn FieldName="CompanyId" Caption="Company" TextAlignment="GridTextAlignment.Left" MinWidth="80" />
        <DxGridDataColumn FieldName="Name" TextAlignment="GridTextAlignment.Left" MinWidth="80" />
        <DxGridDataColumn FieldName="ParentName" Caption="Site" TextAlignment="GridTextAlignment.Left" MinWidth="80" />
        <DxGridDataColumn FieldName="Description" TextAlignment="GridTextAlignment.Left" MinWidth="80" />
    </Columns>
    <EditFormTemplate Context="EditFormContext">
        @{
            var ict = (ViewIctmaster)EditFormContext.EditModel;
        }


        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="Company" ColSpanMd="6">
                <DxComboBox Data="@_plantItems"
                            NullText="Select Company..."
                            SelectedItemChanged="@((ViewPlants plant) => SelectedItemChanged(plant.PlantID))"
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="Description"
                            ValueFieldName="PlantID"
                            @bind-Value="@ict.CompanyId"
                            Enabled="@isEnabled"
                            ShowValidationIcon="true">
                </DxComboBox>
                <ValidationMessage For="@(() => ict.CompanyId)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Site" ColSpanMd="6">
                @{
                    SelectedItemChanged(ict.CompanyId);
                }
                @* <DxSpinEdit @bind-Value="@ict.SiteId" Rows="5" />*@
                <DxComboBox Data="@_master"
                            NullText="Select Site..."
                            FilteringMode="DataGridFilteringMode.Contains"
                            TextFieldName="Name"
                            ValueFieldName="IctmasterId"
                            @bind-Value="@ict.ParentIctid"
                            Enabled="@isEnabled"
                            ShowValidationIcon="true">
                </DxComboBox>
                <ValidationMessage For="@(() => ict.SiteId)" />
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="Name" ColSpanMd="6">
                <DxTextBox @bind-Text="@ict.Name" Rows="5" />
                <ValidationMessage For="@(() => ict.Name)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Description" ColSpanMd="6">
                <DxMemo @bind-Text="@ict.Description" Rows="5" />
            </DxFormLayoutItem>
            <DxFormLayoutItem ColSpanMd="12">
                <ValidationSummary />
            </DxFormLayoutItem>
        </DxFormLayout>
    </EditFormTemplate>
    <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="CompanyId" />
    </TotalSummary>
</DxGrid>
</DxLoadingPanel>
@*SelectedItemChanged="@((ViewPlants plant) => SelectedItemChanged(plant.PlantID))"*@
@*<DxPopup @ref="popup" HeaderText="CRT" ShowCloseButton="true" Width="350px" @bind-Visible="@Blukdeletepopup">
    <div class="text-center">
        <Content>
        <p>
                <div > Do you want to delete</div>

        </p>
    </Content>

        <DxButton class=align-Button Text="Yes" Click="@(() => bulkDelete())" />
        <DxButton class =align-items Text="No" Click="@(() => ClosePopup())" />
    </div>
</DxPopup>*@
<DxPopup @bind-Visible="@Blukdeletepopup"
         ShowFooter="true"
         HeaderText="CRT"
         Closed="EulaPopupClosed"
         Width="300px">
    <BodyContentTemplate>
        <p>
            Do you want to delete
        </p>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton style="margin-right: 10px;" RenderStyle="ButtonRenderStyle.Primary" Text="NO" Click="Context.CloseCallback" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Yes" Click="bulkDelete" />
    </FooterContentTemplate>
</DxPopup>
@code {
    bool PanelVisible { get; set; }
    string comapnyName = "";
    string SiteName = "";
    [Parameter]
    public long? SiteId { get; set; }
    [Parameter]
    public string Type { get; set; }
    Dictionary<long, string>? CompanyNamesIndex { get; set; }
    private List<ViewPlants> _plantItems;
    private List<ViewIctmaster> _ictmaster;
    private List<ViewIctmaster>? _master;
    private List<ViewIctmaster> _ictmasterList;
    private ViewIctmaster _selectedItems;
    IReadOnlyList<object> SelectedDataItems { get; set; }
    bool EditEnabled { get; set; } = false;
    bool DeleteEnabled { get; set; } = false;
    bool Blukdeletepopup { get; set; } = false;
    DxPopup? popup;
    bool PopupVisible { get; set; } = false;
    bool ExportSelectedRowsOnly { get; set; }
    bool isEnabled { get; set; } = true;
    bool isSiteEnabled { get; set; } = false;
    private ViewPlants _selectplant;
    IGrid Grid { get; set; }
    int masterType = 571;
    public ApplicationUser applicationUser { get; private set; }
    private ViewIctmaster _selectlst;
    protected override async Task OnInitializedAsync()
    {

        PanelVisible = true;
        // await jsRuntime.InvokeAsync<string>("showLoading");
        _plantItems = await Mediator.Send(new GetAllPlantQuery());
        CompanyNamesIndex = _plantItems.ToDictionary(i => i.PlantID, i => i.Description);
        applicationUser = await _localStorageService.GetItem<ApplicationUser>("user");
        // await jsRuntime.InvokeAsync<string>("hideLoading");
        PanelVisible = false;
        await UpdateDataAsync();
        if (Type == "Site")
        {
            isSiteEnabled = true;
        }

    }
    //async Task LoadDetailhistory()
    //{
    //    if (SiteId != null)
    //    {
    //        _selectedItems = _ictmaster.FirstOrDefault(f => f.IctmasterId == SiteId);
    //        comapnyName = _selectedItems.CompanyId;
    //        SiteName = _selectedItems.Name;
    //    }
    //}
    async Task UpdateDataAsync()
    {
        //  await jsRuntime.InvokeAsync<string>("showLoading");
        PanelVisible = true;
        var model = await Mediator.Send(new GetAllIctMasterQuery());

        for (int i = 0; i < model.Count; i++)
        {
            model[i].Index = i + 1;
        }
        _ictmaster = model;
        _ictmasterList = model.Where(w => w.MasterType == masterType).ToList();

        if (SiteId != null && SiteId != -1)
        {
            _selectedItems = _ictmaster.FirstOrDefault(f => f.IctmasterId == SiteId);


            var item = _plantItems.Where(c => c.PlantID == _selectedItems.CompanyId);
            // var item = _plantItems.Where(c => c.PlantID == SiteId);
            _selectplant = item.FirstOrDefault();
            comapnyName = _selectplant.Description;

            SiteName = _selectedItems.Name;


        }

        if (_ictmasterList.Count > 0)
        {

            _selectedItems = _ictmasterList.FirstOrDefault();
           
                EditEnabled = true;
                DeleteEnabled = true;
                StateHasChanged();
           
            
        }
       // await jsRuntime.InvokeAsync<string>("hideLoading");
        PanelVisible = false;
    }
    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        if (e.IsNew)
        {
            var newmaster = (ViewIctmaster)e.EditModel;
            newmaster.MasterType = masterType;
            newmaster.Name = "";
            newmaster.Description = "";
            newmaster.StatusCodeId = null;
            _master = new List<ViewIctmaster>();
            if (Type == "Site")
            {
                var _ictmasters = _ictmaster.FirstOrDefault(f => f.IctmasterId == SiteId);
                if (_ictmasters != null)
                {

                    isEnabled = false;
                    newmaster.CompanyId = _ictmasters.CompanyId;
                    newmaster.ParentIctid = _ictmasters.IctmasterId;
                    SelectedItemChanged(_ictmasters.CompanyId);
                }
            }
        }
    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editableictmaster = (ViewIctmaster)e.EditModel;
        if (e.IsNew)
        {
            var request = new CreateIctmasterCommand
                {
                    MasterType = masterType,
                    Description = editableictmaster.Description,
                    StatusCodeId = editableictmaster.StatusCodeId,
                    Name = editableictmaster.Name,
                    CompanyId = editableictmaster.CompanyId,
                    SiteId = editableictmaster.SiteId,
                    ZoneId = editableictmaster.ZoneId,
                    LocationId = editableictmaster.LocationId,
                    AreaId = editableictmaster.AreaId,
                    ParentIctid = editableictmaster.ParentIctid,
                    AddedByUserId = applicationUser.UserID,
                    ModifiedByUserId = applicationUser.UserID,
                    AddedDate = DateTime.Now,
                    ModifiedDate = DateTime.Now,
                };
            await Mediator.Send(request);
            toastService.ShowToast("Record save Successfully", AC.SD.Core.Services.ToastLevel.Success);
            await UpdateDataAsync();
        }
        else
        {
            await UpdateMasterAsync(editableictmaster);
        }
    }
    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        var editablePlant = (ViewIctmaster)e.DataItem;
        var request = new DeleteIctmasterCommand(editablePlant.IctmasterId);
        await Mediator.Send(request);
        await UpdateDataAsync();
    }
    async Task UpdateMasterAsync(ViewIctmaster editableictmaster)
    {
        var request = new EditIctmasterCommand
            {
                IctmasterId = editableictmaster.IctmasterId,
                MasterType = editableictmaster.MasterType,
                Name = editableictmaster.Name,
                Description = editableictmaster.Description,
                StatusCodeId = editableictmaster.StatusCodeId,
                AddedByUserId = editableictmaster.AddedByUserId,
                AddedDate = editableictmaster.AddedDate,
                CompanyId = editableictmaster.CompanyId,
                SiteId = editableictmaster.SiteId,
                ZoneId = editableictmaster.ZoneId,
                LocationId = editableictmaster.LocationId,
                AreaId = editableictmaster.AreaId,
                ParentIctid = editableictmaster.ParentIctid,
                ModifiedDate = DateTime.Now,
                ModifiedByUserId = applicationUser.UserID,
            };
        await Mediator.Send(request);
        toastService.ShowToast("Record updated Successfully", AC.SD.Core.Services.ToastLevel.Success);
        await UpdateDataAsync();
    }
    async void SelectedItemChanged(long companyId)
    {

        if (companyId > 0)
        {
            _master = _ictmaster.Where(c => c.CompanyId == companyId && c.MasterType == 570).ToList();
        }

    }

    async Task ExportToExcel()
    {
        if (SelectedDataItems != null)
        {

            await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
                {

                    ExportSelectedRowsOnly = true,
                    CustomizeCell = OnCustomizeCell

                });
        }
        else
        {
            await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
                {

                    ExportSelectedRowsOnly = false,
                    CustomizeCell = OnCustomizeCell

                });
        }
    }
    void OnCustomizeCell(GridExportCustomizeCellEventArgs args)
    {
        if (args.ColumnFieldName == "ContactName" && args.AreaType == SheetAreaType.DataArea)
            args.Formatting.Font = new XlCellFont() { Italic = true };
        args.Handled = true;
    }

    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
       
    }
    void Grid_CustomizeCellDisplayText(GridCustomizeCellDisplayTextEventArgs e)
    {
        if (e.FieldName == "CompanyId")
        {
            var ID = Convert.ToInt32(e.Value);
            if (CompanyNamesIndex.ContainsKey(ID))
                e.DisplayText = CompanyNamesIndex[ID];
        }
    }

    void OnRowClick(GridRowClickEventArgs e)
    {
        var UniqueId = e.Grid.GetRowValue(e.VisibleIndex, "IctmasterId");
        _selectedItems = _ictmaster.FirstOrDefault(f => f.IctmasterId == (long?)UniqueId);
        EditEnabled = true;
        DeleteEnabled = true;
        StateHasChanged();

    }
    void OnRowDoubleClick(GridRowClickEventArgs e)
    {
        OnRowClick(e);
        addEdit();
    }
    void EulaPopupClosed(PopupClosedEventArgs args)
    {
        SelectedDataItems = null;
        Blukdeletepopup = false;
        PopupVisible = false;
       // UpdateDataAsync();
    }
    async void ClosePopup()
    {
        PopupVisible = false;
        await UpdateDataAsync();
    }
    void addNew()
    {
        Grid.StartEditNewRowAsync();

        _master = new List<ViewIctmaster>();
    }
    void addEdit()
    {
        //if (SelectedDataItems != null && SelectedDataItems.Count == 1)
        //{

        //    foreach (object item in SelectedDataItems)
        //    {

        //        if (item is ViewIctmaster viewIctmaster)
        //        {

        //            _selectlst = _ictmaster.FirstOrDefault(f => f.IctmasterId == viewIctmaster.IctmasterId);


        //        }
        //    }
        //    Grid.StartEditDataItemAsync(_selectlst);
        //}
        //else
        //{
            Grid.StartEditDataItemAsync(_selectedItems);
       // }

    }
    void addDelete()
    {
        Blukdeletepopup = true;
    }
    async Task bulkDelete()
    {
      try
      {
        if (SelectedDataItems != null)
        {
            foreach (object item in SelectedDataItems)
            {

                if (item is ViewIctmaster forumzone)
                {
                    //  var editablePlant = (ViewIctmaster)e.DataItem;
                    var request = new DeleteIctmasterCommand(forumzone.IctmasterId);
                    await Mediator.Send(request);
                    Blukdeletepopup = false;
                    toastService.ShowToast("Record deleted Successfully", AC.SD.Core.Services.ToastLevel.Success);
                    await UpdateDataAsync();
                }

            }
        }
      }
      catch (Exception eq)
      {
            Blukdeletepopup = false;
            toastService.ShowToast("The Selected Company have Site So this Record  Do not deleted", AC.SD.Core.Services.ToastLevel.Error);
            //DeleteerrorMessage = eq.Message;
            //PopupVisible = true;
      }
       // await UpdateDataAsync();
    }
    void SelectedDataItemsChanged(IReadOnlyList<object> SelectedToItems)
    {
        SelectedDataItems = SelectedToItems;
        if (SelectedDataItems.Count > 1)
        {
            EditEnabled = false;
        }
        else
        {
            EditEnabled = true;
        }
       
    }
    void ResetSite()
    {
        SiteId = -1;
        isEnabled = true;
        isSiteEnabled = false;
        Grid.CancelEditAsync();
        NavigationManager.NavigateTo("ictMaster/1/Zone/-1");

    }
    async Task AddLocation()
    {
        NavigationManager.NavigateTo("ictMaster/2/Zone/" + _selectedItems.IctmasterId);
      // await LoadDetailhistory();
    }
   
}

